<template>
  <Modal v-model="modal" width="600" :footer-hide="true" :closable="false" class="bulkQueryModal">
    <div slot="header" class="modal-header"></div>
    <div class="modal-body">
      <h2 class="title mb-2">
        <span class="title-text">請輸入商品料號</span>
        <div class="hint">* 商品料號一行一個</div>
      </h2>
      <div class="container-box">
        <!-- <div class="desc-box">
        您確定要刪除嗎？
        </div> -->
        <textarea class="str-box" cols="44" rows="10" v-model="bulkQuery" id="bulkQuery" @keyup.enter="textareaOverChange" @keyup.delete="textareaOverChange"></textarea>
        <div class="btn-box">
          <Button class="best-outlined-gray-dark" shape="circle" size="large" @click="cancel">取消</Button>
          <Button class="best-blue w-100 ml-3" shape="circle" size="large" @click="ok">搜尋 <font-awesome-icon icon="search" /></Button>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script>
//
export default {
  name: 'BulkQueryModal',
  props: ['bulkQueryModal'],
  components: {},
  data () {
    //
    return {
      modal: this.bulkQueryModal,
      bulkQuery: ''
    }
  },
  computed: {},
  watch: {
    bulkQueryModal: function (bol) {
      this.modal = bol
    },
    modal: function (bol) {
      if (!bol) {
        this.$emit('setBulkQueryModalEvent', false)
      }
    },
    bulkQuery: {
      handler: function (val) {
        //
        // console.log(val)
        this.$emit('bulkQueryListChangeEvent', val)
      },
      deep: true
    }
  },
  methods: {
    cancel: function () {
      console.log('cancel')
      this.$emit('bulkQueryModalCancelEvent', false)
    },
    ok: async function () {
      this.$emit('bulkQueryModalOkEvent', false)
    },
    textareaOverChange: function () {
      let val = document.getElementById('bulkQuery').value
      console.log(val)
      let arry = val.split('\n')
      // 移除重複
      let noRepetArry = arry.filter((item, index, arr) => {
        return arr.indexOf(item) === index
      })
      // 移除空值 前後空格
      var noNullArry = []
      noRepetArry.forEach((item) => {
        if (item) {
          let noSpaceItem = item.trim()
          // console.log(noSpaceItem)
          noNullArry.push(noSpaceItem)
        }
      })
      console.log(noNullArry)
      this.$emit('bulkQueryListChangeEvent', noNullArry)
    },
    initBulkQuery: function () {
      this.bulkQuery = ''
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.bulkQueryModal{
  .modal-body {
    width: 100%;
    padding: 0 48px 24px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .title-text {
        width: fit-content;
        font-family: PingFangTC;
        font-size: 24px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        display: inline-block;
        margin-bottom: 8px;
        font-weight: 400;
      }
      .hint {
        font-size: 16px;
        color: #118cf8;
        font-weight: 400;
      }
    }
    .container-box {
      flex: 1;
      height: 100%;
      .str-box {
        flex: 1;
        height: 250px;
        overflow-y: scroll;
        border: 1px solid #eee;
        padding: 8px;
        margin-bottom: 1rem;
        font-size: 21px;
        color: #333;
      }
      .btn-box {
        display: flex;
        justify-content: center;
        flex: 1;
        button {
          svg {
            color: #fff;
          }
        }
      }
    }
  }
}
</style>
