<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <!-- <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'nutritionFacts' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'nutritionFacts'"
        type="default"
        shape="circle"
      >營養成分</Button> -->
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'unitConvert' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'unitConvert'"
        type="default"
        shape="circle"
      >單位換算</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'productRelation' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'productRelation'"
        type="default"
        shape="circle"
      >組合商品</Button>
    </div>
    <!-- 內容 -->
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="row">
        <div class="col">
          <!-- 貨主 owner_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.owner_name && postData.owner_name!==''),
              label: '貨主/供應商 *',
              hasClearButton: true,
              background: 'light',
              background: 'light',
              type: `NewAutoComplete`,
              settings: {height: 41}, hiddenSearchBtn: true}"
            :code="`owner_name`"
            :autoCompleteData="ownerList"
            :defaultValue="postData.owner_name"
            :modalTitle="`貨主/供應商`"
            :toCloseModal="toCloseOwnerAutocompleteModal"
            keyCode="customerSetup"
            storeKey="customerOwner"
            returnCode="customer_name"
            :showCols="autoCompleteShowOwnerCols"
            :isError="error.owner_id"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
            @changeModelEvent="ownerAutocompleteChangeEvent"
            @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
              <div>
                <!-- 貨主-->
                <AutocompleteModal
                keyCode="customerSetup"
                storeKey="customerOwner"
                returnCode="customer_name"
                :condition="ownerCondition"
                :baseCondition="ownerBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
              </div>
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 商品料號 product_code -->
          <FloatLabelBox
          :config="{hasContent: (postData.product_code && postData.product_code!==''),
          label: '商品料號 *',
          hasClearButton: true,
          background: 'light',
          type: `InputText`,
          settings: {height: 41}}"
          :code="`product_code`"
          :defaultValue="postData.product_code"
          :disabled="false"
          :isRequired="true"
          :isError="error.product_code"
          @changeModelEvent="inputTxtChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 商品名稱 product_name -->
          <FloatLabelBox
          :config="{hasContent: (postData.product_name && postData.product_name!==''),
          label: '商品名稱 *',
          hasClearButton: true,
          background: 'light',
          type: `InputText`,
          settings: {height: 41}}"
          :code="`product_name`"
          :defaultValue="postData.product_name"
          :disabled="false"
          :isRequired="true"
          :isError="error.product_name"
          @changeModelEvent="inputTxtChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 廠商自編號 product_vendor_code -->
          <FloatLabelBox
          :config="{hasContent: (postData.product_vendor_code && postData.product_vendor_code!==''),
          label: '廠商自編號',
          hasClearButton: true,
          background: 'light',
          type: `InputText`,
          settings: {height: 41}}"
          :code="`product_vendor_code`"
          :defaultValue="postData.product_vendor_code"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨品規格 product_spec -->
          <FloatLabelBox
          :config="{hasContent: (postData.product_spec && postData.product_spec!==''),
          label: '貨品規格',
          hasClearButton: true,
          background: 'light',
          type: `InputText`,
          settings: {height: 41}}"
          :code="`product_spec`"
          :defaultValue="postData.product_spec"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 條碼 product_barcode -->
          <FloatLabelBox
          :config="{hasContent: (postData.product_barcode && postData.product_barcode!==''),
          label: '條碼',
          hasClearButton: true,
          background: 'light',
          type: `InputText`,
          settings: {height: 41}}"
          :code="`product_barcode`"
          :defaultValue="postData.product_barcode"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 條碼2 product_barcode2 -->
          <FloatLabelBox
          :config="{hasContent: (postData.product_barcode2 && postData.product_barcode2!==''),
          label: '條碼2',
          hasClearButton: true,
          background: 'light',
          type: `InputText`,
          settings: {height: 41}}"
          :code="`product_barcode2`"
          :defaultValue="postData.product_barcode2"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 主分類 pc_id -->
          <FloatLabelBox
          :config="{hasContent: (postData.pc_id && postData.pc_id!==''),
          label: '主分類',
          hasClearButton: true,
          background: 'light',
          type: `InputText`,
          settings: {height: 41}}"
          :code="`pc_id`"
          :defaultValue="postData.pc_id"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 保存天數 expiration_days -->
          <FloatLabelBox
          :config="{hasContent: (postData.expiration_days && postData.expiration_days!==''),
          label: '保存天數',
          hasClearButton: true,
          background: 'light',
          type: `InputText`,
          settings: {height: 41}}"
          :code="`expiration_days`"
          :defaultValue="postData.expiration_days"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 長 product_length -->
          <FloatLabelBox
          :config="{hasContent: (postData.product_length && postData.product_length!==''),
          label: '長',
          hasClearButton: true,
          background: 'light',
          type: `InputNumber`,
          settings: {height: 41}}"
          :code="`product_length`"
          :defaultValue="postData.product_length"
          :disabled="false"
          @changeModelEvent="inputNumChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 寬 product_width -->
          <FloatLabelBox
          :config="{hasContent: (postData.product_width && postData.product_width!==''),
          label: '寬',
          hasClearButton: true,
          background: 'light',
          type: `InputNumber`,
          settings: {height: 41}}"
          :code="`product_width`"
          :defaultValue="postData.product_width"
          :disabled="false"
          @changeModelEvent="inputNumChangeEvent">
          </FloatLabelBox>
        </div>
          <div class="col">
            <!-- 高 product_height -->
            <FloatLabelBox
            :config="{hasContent: (postData.product_height && postData.product_height!==''),
            label: '高',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`product_height`"
            :defaultValue="postData.product_height"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 長度單位 length_unit -->
            <FloatLabelBox
            :config="{hasContent: (postData.length_unit && postData.length_unit!==''),
            label: '長度單位',
            hasClearButton: true,
            background: 'light',
            type: `Select`,
            settings: {height: 41}}"
            :selectList="lengthUnitList"
            :code="`length_unit`"
            :defaultValue="postData.length_unit"
            @changeModelEvent="lengthUnitListChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 重量 product_weight -->
            <FloatLabelBox
            :config="{hasContent: (postData.product_weight && postData.product_weight!==''),
            label: '重量',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`product_weight`"
            :defaultValue="postData.product_weight"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 重量單位 weight_unit -->
            <FloatLabelBox
            :config="{hasContent: (postData.weight_unit_name && postData.weight_unit_name!==''),
            label: '重量單位',
            hasClearButton: true,
            background: 'light',
            type: `NewAutoComplete`,
            settings: {height: 41}}"
            :code="`weight_unit_name`"
            :autoCompleteData="weightUnitList"
            :defaultValue="postData.weight_unit_name"
            :modalTitle="`重量單位`"
            :toCloseModal="toCloseWeightUnitAutocompleteModal"
            keyCode="settingUnitSetup"
            storeKey="weightUnit"
            returnCode="unit_name"
            :showCols="autoCompleteShowWeightUnitCols"
            @handleEnterSubmit="autocompleteHandleWeightUnitEnterSubmitEvent"
            @changeModelEvent="weightUnitAutocompleteChangeEvent"
            @autoCompleteSearchEvent="weightUnitAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseWeightUnitAutocompleteModal">
              <div>
                <!-- 重量-單位-->
                <AutocompleteModal
                keyCode="settingUnitSetup"
                storeKey="weightUnit"
                returnCode="unit_name"
                :condition="weightUnitCondition"
                :baseCondition="weightUnitBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteWeightUnitValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 商品尺寸 cust_filed2 -->
            <FloatLabelBox
            :config="{hasContent: (postData.cust_filed2 && postData.cust_filed2!==''),
            label: '商品尺寸',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`cust_filed2`"
            :defaultValue="postData.cust_filed2"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 色碼 cust_filed3 -->
            <FloatLabelBox
            :config="{hasContent: (postData.cust_filed3 && postData.cust_filed3!==''),
            label: '色碼',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`cust_filed3`"
            :defaultValue="postData.cust_filed3"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 顏色 cust_filed4 -->
            <FloatLabelBox
            :config="{hasContent: (postData.cust_filed4 && postData.cust_filed4!==''),
            label: '顏色',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`cust_filed4`"
            :defaultValue="postData.cust_filed4"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 設計師 cust_filed5 -->
            <FloatLabelBox
            :config="{hasContent: (postData.cust_filed5 && postData.cust_filed5!==''),
            label: '設計師',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`cust_filed5`"
            :defaultValue="postData.cust_filed5"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 季別 cust_filed6 -->
            <FloatLabelBox
            :config="{hasContent: (postData.cust_filed6 && postData.cust_filed6!==''),
            label: '季別',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`cust_filed6`"
            :defaultValue="postData.cust_filed6"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 雅虎商品序號 cust_filed7 -->
            <FloatLabelBox
            :config="{hasContent: (postData.cust_filed7 && postData.cust_filed7!==''),
            label: '雅虎商品序號',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`cust_filed7`"
            :defaultValue="postData.cust_filed7"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 運送溫層類別 temperature_type -->
            <FloatLabelBox
              :config="{hasContent: (postData.temperature_type && postData.temperature_type!==''),
              label: '運送溫層類別',
              hasClearButton: true,
              background: 'light',
              type: `Select`,
              settings: {height: 41}}"
              :selectList="temperatureTypeList"
              :code="`temperature_type`"
              :defaultValue="postData.temperature_type"
              @changeModelEvent="temperatureTypeListChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="col">
            <!-- 庫存單位 stock_unit -->
            <FloatLabelBox
              :config="{hasContent: (postData.stock_unit_name && postData.stock_unit_name!==''),
              label: '庫存單位',
              hasClearButton: true,
              background: 'light',
              type: `NewAutoComplete`,
              settings: {height: 41}}"
              :code="`stock_unit_name`"
              :autoCompleteData="stockUnitList"
              :defaultValue="postData.stock_unit_name"
              :modalTitle="`庫存單位`"
              :toCloseModal="toCloseStockUnitAutocompleteModal"
              keyCode="settingCodeSetup"
              storeKey="stockUnit"
              returnCode="code_name"
              :showCols="autoCompleteShowStockUnitCols"
              @handleEnterSubmit="autocompleteHandleStockUnitEnterSubmitEvent"
              @changeModelEvent="stockUnitAutocompleteChangeEvent"
              @autoCompleteSearchEvent="stockUnitAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseStockUnitAutocompleteModal">
                <div>
                  <!-- 庫存單位-->
                  <AutocompleteModal
                  keyCode="settingCodeSetup"
                  storeKey="stockUnit"
                  returnCode="code_name"
                  :condition="stockUnitCondition"
                  :baseCondition="stockUnitBaseCondition"
                  @setAutocompleteValueEvent="setAutocompleteStockUnitValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 最小庫存單位 stock_unit_min -->
            <FloatLabelBox
              :config="{hasContent: (postData.stock_unit_min_name && postData.stock_unit_min_name!==''),
              label: '最小庫存單位',
              hasClearButton: true,
              background: 'light',
              type: `NewAutoComplete`,
              settings: {height: 41}}"
              :code="`stock_unit_min_name`"
              :autoCompleteData="stockUnitMinList"
              :defaultValue="postData.stock_unit_min_name"
              :modalTitle="`最小庫存單位`"
              :toCloseModal="toCloseStockUnitMinAutocompleteModal"
              keyCode="settingCodeSetup"
              storeKey="stockUnit"
              returnCode="code_name"
              :isError="error.stock_unit_min"
              :isRequired="false"
              :showCols="autoCompleteShowStockUnitMinCols"
              @handleEnterSubmit="autocompleteHandleStockUnitMinEnterSubmitEvent"
              @changeModelEvent="stockUnitMinAutocompleteChangeEvent"
              @autoCompleteSearchEvent="stockUnitMinAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseStockUnitMinAutocompleteModal">
                <div>
                  <!-- 最小庫存單位-->
                  <AutocompleteModal
                  keyCode="settingCodeSetup"
                  storeKey="stockUnit"
                  returnCode="code_name"
                  :condition="stockUnitMinCondition"
                  :baseCondition="stockUnitBaseMinCondition"
                  @setAutocompleteValueEvent="setAutocompleteStockUnitMinValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 商品備註 product_note -->
            <FloatLabelBox
            :config="{hasContent: (postData.product_note && postData.product_note!==''),
            label: '商品備註',
            hasClearButton: true,
            background: 'light',
            type: `Textarea`,
            settings: {minHeight: 41}}"
            :code="`product_note`"
            :defaultValue="postData.product_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 安全存量 stock_minimal -->
            <FloatLabelBox
            :config="{hasContent: (postData.stock_minimal && postData.stock_minimal!==''),
            label: '安全存量',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`stock_minimal`"
            :defaultValue="postData.stock_minimal"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 補貨安全存量 stock_replenishment -->
            <FloatLabelBox
            :config="{hasContent: (postData.stock_replenishment && postData.stock_replenishment!==''),
            label: '補貨安全存量',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`stock_replenishment`"
            :defaultValue="postData.stock_replenishment"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 箱入數 box_in_num -->
            <FloatLabelBox
            :config="{hasContent: (postData.box_in_num && postData.box_in_num!==''),
            label: '箱入數',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`box_in_num`"
            :defaultValue="postData.box_in_num"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 大箱入數 big_box_in_num -->
            <FloatLabelBox
            :config="{hasContent: (postData.big_box_in_num && postData.big_box_in_num!==''),
            label: '大箱入數',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`big_box_in_num`"
            :defaultValue="postData.big_box_in_num"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 堆疊板數 pallet_stacking_num -->
            <FloatLabelBox
            :config="{hasContent: (postData.pallet_stacking_num && postData.pallet_stacking_num!==''),
            label: '堆疊板數',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`pallet_stacking_num`"
            :defaultValue="postData.pallet_stacking_num"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 板入數 pallet_in_num -->
            <FloatLabelBox
            :config="{hasContent: (postData.pallet_in_num && postData.pallet_in_num!==''),
            label: '板入數',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`pallet_in_num`"
            :defaultValue="postData.pallet_in_num"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 擺放方式 pallet_placement -->
            <FloatLabelBox
            :config="{hasContent: (postData.pallet_placement && postData.pallet_placement!==''),
            label: '擺放方式',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`pallet_placement`"
            :defaultValue="postData.pallet_placement"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 商品售價 product_unitprice -->
            <FloatLabelBox
            :config="{hasContent: (postData.product_unitprice && postData.product_unitprice!==''),
            label: '商品售價',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`product_unitprice`"
            :defaultValue="postData.product_unitprice"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 商品成本 product_cost_price -->
            <FloatLabelBox
            :config="{hasContent: (postData.product_cost_price && postData.product_cost_price!==''),
            label: '商品成本',
            hasClearButton: true,
            background: 'light',
            type: `InputNumber`,
            settings: {height: 41}}"
            :code="`product_cost_price`"
            :defaultValue="postData.product_cost_price"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 商品品牌 product_brand -->
            <FloatLabelBox
            :config="{hasContent: (postData.product_brand && postData.product_brand!==''),
            label: '商品品牌',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`product_brand`"
            :defaultValue="postData.product_brand"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col">
            <!-- 品牌代碼 cust_filed1 -->
            <FloatLabelBox
            :config="{hasContent: (postData.cust_filed1 && postData.cust_filed1!==''),
            label: '品牌代碼',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`cust_filed1`"
            :defaultValue="postData.cust_filed1"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent">
            </FloatLabelBox>
          </div>
          <div class="col iswitch">
            <!-- 回刷序號 need_scan_product_sn -->
            <div class="label-box">回刷序號</div>
            <div class="body-box">
                <i-Switch
                v-model="postData.need_scan_product_sn" size="large"
                :true-value="1"
                :false-value="0">
                    <span slot="open">是</span>
                    <span slot="close">否</span>
                </i-Switch>
            </div>
          </div>
          <div class="col iswitch">
            <!-- 計價 is_denominate -->
            <div class="label-box">計價</div>
            <div class="body-box">
                <i-Switch
                v-model="postData.is_denominate"
                size="large"
                :true-value="1"
                :false-value="0">
                    <span slot="open">是</span>
                    <span slot="close">否</span>
                </i-Switch>
            </div>
          </div>
          <div class="col iswitch">
            <!-- 是否可出貨 is_enabled -->
            <div class="label-box">是否可出貨</div>
            <div class="body-box">
                <i-Switch
                v-model="postData.is_enabled" size="large"
                :true-value="1"
                :false-value="0">
                    <span slot="open">是</span>
                    <span slot="close">否</span>
                </i-Switch>
            </div>
          </div>
      </div>
    </div>
    <div class="pt-3" v-show="changeContent === 'nutritionFacts'">
      <!-- 營養成分 -->
      <NutritionFacts
      ref="setNutritionFactsDetailsList"
      :detailId="detailId"
      :productPostData="postData"
      @detailsListChangeEvent="nutritionFactsDetailsListChangeEvent"
      @postDataChangeEvent="mainPostDataChangeEvent"
      ></NutritionFacts>
    </div>
    <div class="pt-3 position-relative" v-show="changeContent === 'unitConvert'">
      <!-- 單位換算 -->
      <UnitConversion
        ref="setUnitConversionDetailsList"
        :changeContent="changeContent"
        :detailId="detailId"
        @gridDataChangeEvent="unitConversionDetailsListChangeEvent"
      ></UnitConversion>
    </div>
    <div class="pt-3 position-relative" v-show="changeContent === 'productRelation'">
      <!-- 組合商品 -->
      <ProductRelations
        ref="setProductRelationDetailsList"
        :changeContent="changeContent"
        :detailId="detailId"
        @gridDataChangeEvent="productRelationDetailsListChangeEvent"
      ></ProductRelations>
    </div>
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="comfirmSave"><font-awesome-icon icon="save" size="2x"/></div> -->
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
  </div>
</template>

<script>
/**
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
// import InventoryDetails from './InventoryDetails'
import ProductRelations from './ProductRelations'
import UnitConversion from './UnitConversion'
import NutritionFacts from './NutritionFacts'
import { setTimeout } from 'timers'
//
export default {
  name: 'GoodsSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    AutocompleteModal,
    ComfirmSaveModal,
    // InventoryDetails,
    ProductRelations,
    UnitConversion,
    NutritionFacts
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    //
    let postData = {
      owner_name: this.cloneData ? this.cloneData.owner_name : ownerName, // 貨主
      owner_no: this.cloneData ? this.cloneData.owner_no : null, // 貨主代碼
      owner_id: this.cloneData ? this.cloneData.owner_id : ownerId, // 貨主ID
      product_code: this.cloneData ? this.cloneData.product_code : null, // 商品料號
      product_vendor_code: this.cloneData ? this.cloneData.product_vendor_code : null, // 廠商自編號
      product_name: this.cloneData ? this.cloneData.product_name : null,
      product_spec: this.cloneData ? this.cloneData.product_spec : null,
      product_barcode: this.cloneData ? this.cloneData.product_barcode : null,
      product_barcode2: this.cloneData ? this.cloneData.product_barcode2 : null,
      pc_id: this.cloneData ? this.cloneData.pc_id : null,
      expiration_days: this.cloneData ? this.cloneData.expiration_days : null,
      need_scan_product_sn: this.cloneData ? this.cloneData.need_scan_product_sn : 0,
      product_id: this.cloneData ? this.cloneData.product_id : null,
      product_length: this.cloneData ? this.cloneData.product_length : null,
      product_width: this.cloneData ? this.cloneData.product_width : null,
      product_height: this.cloneData ? this.cloneData.product_height : null,
      length_unit: this.cloneData ? this.cloneData.length_unit : null,
      product_weight: this.cloneData ? this.cloneData.product_weight : null,
      weight_unit_name: this.cloneData ? this.cloneData.weight_unit_name : null,
      weight_unit: this.cloneData ? this.cloneData.weight_unit : null,
      temperature_type: this.cloneData ? this.cloneData.temperature_type : null,
      stock_unit: this.cloneData ? this.cloneData.stock_unit : null,
      stock_unit_name: this.cloneData ? this.cloneData.stock_unit_name : null,
      stock_unit_min: this.cloneData ? this.cloneData.stock_unit_min : null,
      stock_unit_min_name: this.cloneData ? this.cloneData.stock_unit_min_name : null,
      product_note: this.cloneData ? this.cloneData.product_note : null,
      stock_minimal: this.cloneData ? this.cloneData.stock_minimal : null,
      stock_replenishment: this.cloneData ? this.cloneData.stock_replenishment : null,
      box_in_num: this.cloneData ? this.cloneData.box_in_num : null,
      big_box_in_num: this.cloneData ? this.cloneData.big_box_in_num : null,
      pallet_stacking_num: this.cloneData ? this.cloneData.pallet_stacking_num : null,
      pallet_in_num: this.cloneData ? this.cloneData.pallet_in_num : null,
      pallet_placement: this.cloneData ? this.cloneData.pallet_placement : null,
      product_unitprice: this.cloneData ? this.cloneData.product_unitprice : null,
      product_cost_price: this.cloneData ? this.cloneData.product_cost_price : null,
      product_brand: this.cloneData ? this.cloneData.product_brand : null,
      is_denominate: this.cloneData ? this.cloneData.is_denominate : 1,
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1,
      address: null,
      telephone: null,
      ingredients: this.cloneData ? this.cloneData.ingredients : null,
      allergen: this.cloneData ? this.cloneData.allergen : null,
      product_origin: this.cloneData ? this.cloneData.product_origin : null,
      nw_descp: this.cloneData ? this.cloneData.nw_descp : null,
      storage_condition: this.cloneData ? this.cloneData.storage_condition : null,
      cust_filed1: this.cloneData ? this.cloneData.cust_filed1 : null,
      cust_filed2: this.cloneData ? this.cloneData.cust_filed2 : null,
      cust_filed3: this.cloneData ? this.cloneData.cust_filed3 : null,
      cust_filed4: this.cloneData ? this.cloneData.cust_filed4 : null,
      cust_filed5: this.cloneData ? this.cloneData.cust_filed5 : null,
      cust_filed6: this.cloneData ? this.cloneData.cust_filed6 : null,
      cust_filed7: this.cloneData ? this.cloneData.cust_filed7 : null
    }
    //
    return {
      ownerId: ownerId,
      ownerName: ownerName,
      //
      modalType: modalType,
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      //
      autocompleteData: [],
      /* 貨主代碼 : owner_id */
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      ownerBaseCondition: [],
      /* 庫存單位 : stock_unit */
      stockUnitList: [],
      autoCompleteShowStockUnitCols: [
        'code_code'
      ],
      toCloseStockUnitAutocompleteModal: false,
      stockUnitCondition: [],
      stockUnitBaseCondition: [],
      /* 最小庫存單位 : stock_unit_min */
      stockUnitMinList: [],
      autoCompleteShowStockUnitMinCols: [
        'code_code'
      ],
      toCloseStockUnitMinAutocompleteModal: false,
      stockUnitMinCondition: [],
      stockUnitBaseMinCondition: [],
      /* 長度單位 length_unit */
      lengthUnitList: [],
      /* 重量-單位 : weight_unit */
      weightUnitList: [],
      autoCompleteShowWeightUnitCols: [
        'unit_code'
      ],
      toCloseWeightUnitAutocompleteModal: false,
      weightUnitCondition: [],
      weightUnitBaseCondition: [],
      /* 運送溫層類別 */
      temperatureTypeList: [],
      /* tab */
      changeContent: 'main',
      //
      postData: postData,
      error: {
        owner_id: false,
        product_code: false,
        product_vendor_code: false,
        product_name: false,
        product_spec: false,
        product_barcode: false,
        product_barcode2: false,
        pc_id: false,
        expiration_days: false,
        need_scan_product_sn: false,
        product_length: false,
        product_width: false,
        product_height: false,
        length_unit: false,
        product_weight: false,
        weight_unit: false,
        temperature_type: false, // 運送溫層類別
        stock_unit: false,
        stock_unit_min: false,
        product_note: false,
        stock_minimal: false,
        stock_replenishment: false,
        box_in_num: false,
        big_box_in_num: false,
        pallet_stacking_num: false,
        pallet_in_num: false,
        pallet_placement: false,
        product_unitprice: false,
        product_cost_price: false,
        product_brand: false,
        is_denominate: false,
        is_enabled: false,
        cust_filed1: false,
        cust_filed2: false,
        cust_filed3: false,
        cust_filed4: false,
        cust_filed5: false,
        cust_filed6: false,
        cust_filed7: false
      },
      // 營養標示
      nutritionFactsDetailsList: [],
      // 單位換算
      unitConversionDetailsList: [],
      // 組合商品
      productRelationDetailsList: []
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    product: function () {
      return this.$store.state[`product`][`product`] || null
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    product: {
      handler: function (val) {
        // console.log(val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        // let productId = val.product_id || null
        this.postData = {
          owner_name: val.owner_name || this.ownerName, // 貨主
          owner_no: val.owner_no || null, // 貨主代碼
          owner_id: val.owner_id || this.ownerId, // 貨主ID
          product_code: val.product_code || null, // 商品料號
          product_vendor_code: val.product_vendor_code || null, // 廠商自編號
          product_id: val.product_id || null,
          product_name: val.product_name || null,
          product_spec: val.product_spec || null,
          product_barcode: val.product_barcode || null,
          product_barcode2: val.product_barcode2 || null,
          pc_id: val.pc_id || null,
          expiration_days: val.expiration_days || null,
          need_scan_product_sn: val.need_scan_product_sn || 0,
          product_length: val.product_length || null,
          product_width: val.product_width || null,
          product_height: val.product_height || null,
          length_unit: val.length_unit || null,
          product_weight: val.product_weight || null,
          weight_unit_name: val.weight_unit_name || null,
          weight_unit: val.weight_unit || null,
          temperature_type: val.temperature_type || null,
          stock_unit: val.stock_unit || null,
          stock_unit_name: val.stock_unit_name || null,
          stock_unit_min: val.stock_unit_min || null,
          stock_unit_min_name: val.stock_unit_min_name || null,
          product_note: val.product_note || null,
          stock_minimal: val.stock_minimal || null,
          stock_replenishment: val.stock_replenishment || null,
          box_in_num: val.box_in_num || null,
          big_box_in_num: val.big_box_in_num || null,
          pallet_stacking_num: val.pallet_stacking_num || null,
          pallet_in_num: val.pallet_in_num || null,
          pallet_placement: val.pallet_placement || null,
          product_unitprice: val.product_unitprice || null,
          product_cost_price: val.product_cost_price || null,
          product_brand: val.product_brand || null,
          is_denominate: val.is_denominate || 0,
          is_enabled: val.is_enabled || 0,
          address: null,
          telephone: null,
          ingredients: val.ingredients || null,
          allergen: val.allergen || null,
          product_origin: val.product_origin || null,
          nw_descp: val.nw_descp || null,
          storage_condition: val.storage_condition || null,
          cust_filed1: val.cust_filed1 || null,
          cust_filed2: val.cust_filed2 || null,
          cust_filed3: val.cust_filed3 || null,
          cust_filed4: val.cust_filed4 || null,
          cust_filed5: val.cust_filed5 || null,
          cust_filed6: val.cust_filed6 || null,
          cust_filed7: val.cust_filed7 || null
        }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        // console.log(val)
        if (val.owner_id) {
          this.error.owner_id = false
        }
        if (val.product_code) {
          this.error.product_code = false
        }
        if (val.product_name) {
          this.error.product_name = false
        }
        if (val.stock_unit_min) {
          this.error.stock_unit_min = false
        }
      },
      deep: true
    }
  },
  methods: {
    nutritionFactsDetailsListChangeEvent: function (data) {
      this.nutritionFactsDetailsList = data
      console.log(this.nutritionFactsDetailsList)
    },
    unitConversionDetailsListChangeEvent: function (data) {
      this.unitConversionDetailsList = data
      // console.log(this.unitConversionDetailsList)
    },
    productRelationDetailsListChangeEvent: function (data) {
      this.productRelationDetailsList = data
      // console.log(this.productRelationDetailsList)
    },
    mainPostDataChangeEvent: function (data) {
      this.postData.ingredients = data.ingredients
      this.postData.allergen = data.allergen
      this.postData.product_note = data.product_note
      this.postData.product_origin = data.product_origin
      this.postData.nw_descp = data.nw_descp
      this.postData.storage_condition = data.storage_condition
    },
    init: function () {
      this.ownerList = []
      this.postData = {
        owner_name: this.ownerName, // 貨主
        owner_no: null, // 貨主代碼
        owner_id: this.ownerId, // 貨主ID
        product_code: null, // 商品料號
        product_vendor_code: null, // 廠商自編號
        product_name: null,
        product_spec: null,
        product_barcode: null,
        product_barcode2: null,
        pc_id: null,
        expiration_days: null,
        need_scan_product_sn: 0,
        product_id: null,
        product_length: null,
        product_width: null,
        product_height: null,
        length_unit: null,
        product_weight: null,
        weight_unit_name: null,
        weight_unit: null,
        temperature_type: null,
        is_enabled: 1,
        stock_unit: null,
        stock_unit_name: '',
        stock_unit_min: null,
        stock_unit_min_name: '',
        product_note: null,
        stock_minimal: null,
        stock_replenishment: null,
        box_in_num: null,
        big_box_in_num: null,
        pallet_stacking_num: null,
        pallet_in_num: null,
        pallet_placement: null,
        product_unitprice: null,
        product_cost_price: null,
        product_brand: null,
        is_denominate: 1,
        address: null,
        telephone: null,
        ingredients: null,
        allergen: null,
        product_origin: null,
        nw_descp: null,
        storage_condition: null,
        cust_filed1: null,
        cust_filed2: null,
        cust_filed3: null,
        cust_filed4: null,
        cust_filed5: null,
        cust_filed6: null,
        cust_filed7: null
      }
      this.initUnitConversionDetailsList()
      this.initProductRelationDetailsList()
      this.initNutritionFactsDetailsList()
    },
    initUnitConversionDetailsList: function () {
      // this.unitConversionDetailsList = []
      this.$refs.setUnitConversionDetailsList.setUnitConversionDetailsList('init')
    },
    initProductRelationDetailsList: function () {
      // this.productRelationDetailsList = []
      this.$refs.setProductRelationDetailsList.setProductRelationDetailsList('init')
    },
    initNutritionFactsDetailsList: function () {
      // this.productRelationDetailsList = []
      this.$refs.setNutritionFactsDetailsList.setNutritionFactsDetailsList('init')
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    setProductEvent: function (data) {
      console.log(data)
      if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    //
    save: async function (action = null) {
      // console.log(this.postData)
      let isError = false
      if (!this.postData.owner_id || this.postData.owner_id === '') {
        this.error.owner_id = true
        isError = true
      }
      if (!this.postData.product_code || this.postData.product_code === '') {
        this.error.product_code = true
        isError = true
      }
      if (!this.postData.product_name || this.postData.product_name === '') {
        this.error.product_name = true
        isError = true
      }
      // 單位換算
      let unitConversionLength = this.unitConversionDetailsList.length
      for (let i = 0; i < unitConversionLength; i++) {
        let data = this.unitConversionDetailsList[i]
        if (!parseInt(data.from_num) || parseInt(data.from_num) === '') {
          isError = true
          this.$Notice.error({
            title: '單位換算',
            desc: `第${data.INDEX}筆，來源數量未填`,
            duration: 30
          })
        }
        if (!data.fromUnit.code_id || data.fromUnit.code_id === '') {
          isError = true
          this.$Notice.error({
            title: '單位換算',
            desc: `第${data.INDEX}筆，來源單位未填`,
            duration: 30
          })
        }
        if (!parseInt(data.to_num) || parseInt(data.to_num) === '') {
          isError = true
          this.$Notice.error({
            title: '單位換算',
            desc: `第${data.INDEX}筆，目的數量未填`,
            duration: 30
          })
        }
        if (!data.toUnit.code_id || data.toUnit.code_id === '') {
          isError = true
          this.$Notice.error({
            title: '單位換算',
            desc: `第${data.INDEX}筆，目的單位未填`,
            duration: 30
          })
        }
      }
      // if (this.unitConversionDetailsList.length > 0 && !this.postData.stock_unit_min) {
      //   isError = true
      //   this.error.stock_unit_min = true
      //   this.$Notice.error({
      //     title: '單位換算',
      //     desc: '沒有"最小庫存單位"不能設定單位換算',
      //     duration: 30
      //   })
      // }
      // 組合商品
      let productRelationLength = this.productRelationDetailsList.length
      for (let i = 0; i < productRelationLength; i++) {
        let data = this.productRelationDetailsList[i]
        if (!data.product.product_id || data.product.product_id === '') {
          isError = true
          this.$Notice.error({
            title: '組合商品',
            desc: `第${data.INDEX}筆，子商品料號未填`,
            duration: 30
          })
        }
        if (!parseInt(data.child_product_outbound_nums) || parseInt(data.child_product_outbound_nums) === '') {
          isError = true
          this.$Notice.error({
            title: '組合商品',
            desc: `第${data.INDEX}筆，數量未填`,
            duration: 30
          })
        }
      }
      if (isError) {
        return
      }
      //
      let postData = {
        product: {
          owner_id: this.postData.owner_id,
          owner_name: this.postData.owner_name,
          owner_no: this.postData.owner_no,
          product_code: this.postData.product_code,
          product_name: this.postData.product_name
        },
        unitConverts: [],
        productRelations: []
      }
      Object.keys(this.postData).forEach((key, idx) => {
        if (this.postData[key]) {
          let value = this.postData[key]
          postData.product[key] = value
        }
      })
      // 單位換算
      for (let i = 0; i < unitConversionLength; i++) {
        let data = this.unitConversionDetailsList[i]
        let detailsPostdata = {
          from_num: parseInt(data.from_num), // 來源數量
          from_unit: parseInt(data.fromUnit.code_id), // 來源單位ID
          from_unit_name: data.fromUnit.code_name, // 來源單位
          from_unit_code: data.fromUnit.code_code, // 來源單位代碼
          to_num: parseInt(data.to_num), // 目的數量
          to_unit: parseInt(data.toUnit.code_id), // 目的單位ID
          to_unit_name: data.toUnit.code_name, // 目的單位
          to_unit_code: data.toUnit.code_code // 目的單位代碼
        }
        if (this.step === 2 && action !== 'clone') {
          detailsPostdata.unit_convert_id = data.unit_convert_id || null
        }
        postData.unitConverts.push(detailsPostdata)
      }
      // 組合商品
      for (let i = 0; i < productRelationLength; i++) {
        let data = this.productRelationDetailsList[i]
        let detailsPostdata = {
          child_product_id: parseInt(data.product.product_id), // 商品ID
          child_product_name: data.product.product_name || null, // 商品料號
          child_product_code: data.product.product_code || null, // 商品名稱
          child_product_outbound_nums: data.child_product_outbound_nums // 數量
        }
        if (this.step === 2 && action !== 'clone') {
          detailsPostdata.pr_id = data.pr_id || null
        }
        postData.productRelations.push(detailsPostdata)
      }
      // console.log(postData)
      // // 檢查單位換算陣列有沒有一個單位跟最小庫存單位一樣
      // var hasStockUnitMin = false
      // // console.log(this.unitConversionDetailsList)
      // if (this.unitConversionDetailsList) {
      //   let unitConversionLength = this.unitConversionDetailsList.length
      //   for (let i = 0; i < unitConversionLength; i++) {
      //     if (this.unitConversionDetailsList[i].fromUnit.code_id === this.postData.stock_unit_min || this.unitConversionDetailsList[i].toUnit.code_id === this.postData.stock_unit_min) {
      //       hasStockUnitMin = true
      //     }
      //   }
      //   if (!hasStockUnitMin && unitConversionLength > 0) {
      //     this.$Notice.error({
      //       title: '單位換算',
      //       desc: '至少要有一筆明細"單位"與"最小庫存單位"相同',
      //       duration: 30
      //     })
      //   }
      // }
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('product/create', postData).then((r) => {
            console.log(r)
            if (r.success) {
              this.postData.product_id = r.data.product.product_id
              // 單位換算
              if (r.data.unitConverts.length > 0) {
                let detailsListLength = r.data.unitConverts.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.unitConversionDetailsList[i].unit_convert_id = r.data.unitConverts[i].unit_convert_id
                }
                this.$refs.setUnitConversionDetailsList.setUnitConversionDetailsList('set', this.unitConversionDetailsList)
              }
              // 組合商品
              if (r.data.productRelations.length > 0) {
                let detailsListLength = r.data.productRelations.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.productRelationDetailsList[i].pr_id = r.data.productRelations[i].pr_id
                }
                this.$refs.setProductRelationDetailsList.setProductRelationDetailsList('set', this.productRelationDetailsList)
              }
              // if (this.nutritionFactsDetailsList) {
              //   this.saveNutritionFactsDetailsList(this.nutritionFactsDetailsList)
              // }
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['product_id']
            this.$store.dispatch('product/create', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                this.postData.product_id = r.data.product.product_id
                // 單位換算
                if (r.data.unitConverts.length > 0) {
                  let detailsListLength = r.data.unitConverts.length
                  for (let i = 0; i < detailsListLength; i++) {
                    this.unitConversionDetailsList[i].unit_convert_id = r.data.unitConverts[i].unit_convert_id
                  }
                  this.$refs.setUnitConversionDetailsList.setUnitConversionDetailsList('set', this.unitConversionDetailsList)
                }
                // 組合商品
                if (r.data.productRelations.length > 0) {
                  let detailsListLength = r.data.productRelations.length
                  for (let i = 0; i < detailsListLength; i++) {
                    this.productRelationDetailsList[i].pr_id = r.data.productRelations[i].pr_id
                  }
                  this.$refs.setProductRelationDetailsList.setProductRelationDetailsList('set', this.productRelationDetailsList)
                }
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                // if (this.nutritionFactsDetailsList) {
                //   this.saveNutritionFactsDetailsList(this.nutritionFactsDetailsList)
                // }
                this.$emit('toStepEvent', this.postData, 2)
              } else {
                this.$Notice.error({
                  title: '新增失敗'
                })
              }
            })
          } else {
            // update
            // console.log('update')
            Object.keys(this.postData).forEach((key, idx) => {
              if (key === 'created_at') {
                return
              }
              if (key === 'update_at') {
                return
              }
              if (this.postData[key] === '' || this.postData[key] === null) {
                postData.product[key] = null
              }
            })
            // console.log(postData)
            this.$store.dispatch('product/update', { postData: postData, detailId: this.detailId }).then((r) => {
              console.log(r)
              if (r.success) {
                // 單位換算
                if (r.data.unitConverts.length > 0) {
                  let detailsListLength = r.data.unitConverts.length
                  for (let i = 0; i < detailsListLength; i++) {
                    this.unitConversionDetailsList[i].unit_convert_id = r.data.unitConverts[i].unit_convert_id
                  }
                  this.$refs.setUnitConversionDetailsList.setUnitConversionDetailsList('set', this.unitConversionDetailsList)
                }
                // 組合商品
                if (r.data.productRelations.length > 0) {
                  let detailsListLength = r.data.productRelations.length
                  for (let i = 0; i < detailsListLength; i++) {
                    this.productRelationDetailsList[i].pr_id = r.data.productRelations[i].pr_id
                  }
                  this.$refs.setProductRelationDetailsList.setProductRelationDetailsList('set', this.productRelationDetailsList)
                }
                // console.log(this.nutritionFactsDetailsList)
                // if (this.nutritionFactsDetailsList) {
                //   if (this.nutritionFactsDetailsList.pn_id) {
                //     this.updateNutritionFactsDetailsList(this.nutritionFactsDetailsList)
                //   } else {
                //     this.saveNutritionFactsDetailsList(this.nutritionFactsDetailsList)
                //   }
                // }
                // 警告提示
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData['product_id']
          this.$store.dispatch('product/create', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              this.postData.product_id = r.data.product.product_id
              // 單位換算
              if (r.data.unitConverts.length > 0) {
                let detailsListLength = r.data.unitConverts.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.unitConversionDetailsList[i].unit_convert_id = r.data.unitConverts[i].unit_convert_id
                }
                this.$refs.setUnitConversionDetailsList.setUnitConversionDetailsList('set', this.unitConversionDetailsList)
              }
              // 組合商品
              if (r.data.productRelations.length > 0) {
                let detailsListLength = r.data.productRelations.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.productRelationDetailsList[i].pr_id = r.data.productRelations[i].pr_id
                }
                this.$refs.setProductRelationDetailsList.setProductRelationDetailsList('set', this.productRelationDetailsList)
              }
              // if (this.nutritionFactsDetailsList) {
              //   this.saveNutritionFactsDetailsList(this.nutritionFactsDetailsList)
              // }
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
      }
    },
    saveUnitConversionDetailsList: async function (data, index) {
      var detailsList = {}
      let isError = false
      if (!data.from_num || data.from_num === '') {
        isError = true
        this.$Notice.error({
          title: '單位換算',
          desc: `第${data.INDEX}筆明細"來源數量"未填`,
          duration: 30
        })
      }
      if (!data.fromUnit.code_id || data.fromUnit.code_id === '') {
        isError = true
        this.$Notice.error({
          title: '單位換算',
          desc: `第${data.INDEX}筆明細"來源單位"未填`,
          duration: 30
        })
      }
      if (!data.to_num || data.to_num === '') {
        isError = true
        this.$Notice.error({
          title: '單位換算',
          desc: `第${data.INDEX}筆明細"目的數量"未填`,
          duration: 30
        })
      }
      if (!data.toUnit.code_id || data.toUnit.code_id === '') {
        isError = true
        this.$Notice.error({
          title: '單位換算',
          desc: `第${data.INDEX}筆明細"目的單位"未填`,
          duration: 30
        })
      }
      if (data.fromUnit.code_id !== this.postData.stock_unit && data.fromUnit.code_id && this.postData.stock_unit_min && data.toUnit.code_id !== this.postData.stock_unit && data.toUnit.code_id !== this.postData.stock_unit_min) {
        // console.log(data.fromUnit.code_id)
        // console.log(data.toUnit.code_id)
        // console.log(this.postData.stock_unit)
        // console.log(this.postData.stock_unit_min)
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"單位"`,
          desc: '其中一項需與"庫存單位"或"最小庫存單位"相同',
          duration: 30
        })
      }
      if (isError) {
        this.$Notice.error({
          title: '單位換算',
          desc: `第${data.INDEX}筆單位換算新增失敗`,
          duration: 30
        })
        return
      }
      //
      detailsList = {
        product_id: this.postData.product_id,
        from_num: parseInt(data.from_num),
        from_unit: data.fromUnit.code_id,
        to_num: parseInt(data.to_num),
        to_unit: data.toUnit.code_id
      }
      try {
        let unitConvertDetailResponse = await this.$store.dispatch(`unitConvert/create`, detailsList)
        // console.log(unitConvertDetailResponse)
        let rex = /^[2]/g
        if (unitConvertDetailResponse && rex.test(unitConvertDetailResponse.httpStatus)) {
          data.unit_convert_id = unitConvertDetailResponse.respondCode.additionals.unitConvert.unit_convert_id
        } else {
          this.$Notice.error({
            title: `第${data.INDEX}筆明細新增失敗`
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${data.INDEX}筆明細新增失敗`
        })
      }
    },
    updateUnitConversionDetailsList: async function (data, index) {
      var detailsList = {}
      let isError = false
      if (isError) {
        this.$Notice.error({
          title: `第${data.INDEX}筆單位換算更新失敗`,
          duration: 30
        })
        return
      }
      //
      detailsList = {
        product_id: this.postData.product_id,
        from_num: parseInt(data.from_num),
        from_unit: data.fromUnit.code_id,
        to_num: parseInt(data.to_num),
        to_unit: data.toUnit.code_id
      }
      try {
        var unitConvertDetailResponse = await this.$store.dispatch(`unitConvert/update`, { postData: detailsList, detailId: data.unit_convert_id })
        // console.log(unitConvertDetailResponse)
        let rex = /^[2]/g
        // console.log(unitConvertDetailResponse.httpStatus)
        // console.log(rex.test(unitConvertDetailResponse.httpStatus))
        if (!unitConvertDetailResponse && !rex.test(unitConvertDetailResponse.httpStatus)) {
          this.$Notice.error({
            title: `第${data.INDEX}筆單位換算更新失敗`
          })
        }
      } catch (err) {
        // console.log(err)
      }
    },
    saveProductRelationDetailsList: async function (data, index) {
      var detailsList = {}
      let isError = false
      if (!data.product.product_id || data.product.product_id === '') {
        isError = true
        this.$Notice.error({
          title: '組合商品',
          desc: `第${data.INDEX}筆明細"子商品料號"未填`,
          duration: 30
        })
      }
      if (data.product.product_id && data.product.product_id === this.postData.product_id) {
        isError = true
        this.$Notice.error({
          title: '組合商品',
          desc: `第${data.INDEX}筆明細"子商品料號"不可與"母商品"相同`,
          duration: 30
        })
      }
      if (!data.child_product_outbound_nums || data.child_product_outbound_nums === '') {
        isError = true
        this.$Notice.error({
          title: '組合商品',
          desc: `第${data.INDEX}筆明細"數量"未填`,
          duration: 30
        })
      }
      if (isError) {
        return
      }
      //
      detailsList = {
        parent_product_id: this.postData.product_id,
        child_product_id: data.product.product_id,
        child_product_outbound_nums: parseInt(data.child_product_outbound_nums)
      }
      if (data.childProductOutboundUnit.code_id) {
        detailsList.child_product_outbound_unit = data.childProductOutboundUnit.code_id
      }
      //
      try {
        let detailResponse = await this.$store.dispatch(`productRelation/create`, detailsList)
        // console.log(detailResponse)
        if (detailResponse.httpStatus === 200 || detailResponse.httpStatus === 201) {
          data.pr_id = detailResponse.respondCode.additionals.productRelation.pr_id
        } else {
          this.$Notice.error({
            title: `第${data.INDEX}筆組合商品新增失敗`
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${data.INDEX}筆組合商品新增失敗`
        })
      }
    },
    updateProductRelationDetailsList: async function (data, index) {
      var detailsList = {}
      let isError = false
      if (!data.product.product_id || data.product.product_id === '') {
        isError = true
        this.$Notice.error({
          title: '組合商品',
          desc: `第${data.INDEX}筆明細"子商品料號"未填`,
          duration: 30
        })
      }
      if (data.product.product_id && data.product.product_id === this.postData.product_id) {
        isError = true
        this.$Notice.error({
          title: '組合商品',
          desc: `第${data.INDEX}筆明細"子商品料號"不可與"母商品"相同`,
          duration: 30
        })
      }
      if (!data.child_product_outbound_nums || data.child_product_outbound_nums === '') {
        isError = true
        this.$Notice.error({
          title: '組合商品',
          desc: `第${data.INDEX}筆明細"數量"未填`,
          duration: 30
        })
      }
      if (isError) {
        return
      }
      //
      detailsList = {
        parent_product_id: this.postData.product_id,
        child_product_id: data.product.product_id,
        child_product_outbound_nums: parseInt(data.child_product_outbound_nums),
        child_product_outbound_unit: data.childProductOutboundUnit.code_id || -1
      }
      try {
        var detailResponse = await this.$store.dispatch(`productRelation/update`, { postData: detailsList, detailId: data.pr_id })
        // console.log(detailResponse)
        if (detailResponse.httpStatus !== 200 && detailResponse.httpStatus !== 201) {
          this.$Notice.error({
            title: `第${data.INDEX}筆組合商品更新失敗`
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${data.INDEX}筆組合商品更新失敗`
        })
      }
    },
    saveNutritionFactsDetailsList: async function (data) {
      var detailsList = {}
      let isError = false
      if (!data.weight_per_div && data.weight_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `每一份量重量未填`,
          duration: 30
        })
      }
      if (!data.package_div && data.package_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `本包裝含份數未填`,
          duration: 30
        })
      }
      if (!data.cal_per_div && data.cal_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `熱量未填`,
          duration: 30
        })
      }
      if (!data.protein_per_div && data.protein_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `蛋白質未填`,
          duration: 30
        })
      }
      if (!data.fat_per_div && data.fat_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `脂肪未填`,
          duration: 30
        })
      }
      if (!data.saturated_fat_per_div && data.saturated_fat_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `飽和脂肪未填`,
          duration: 30
        })
      }
      if (!data.trans_fat_per_div && data.trans_fat_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `反式脂肪未填`,
          duration: 30
        })
      }
      if (!data.carb_per_div && data.carb_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `碳水化合物未填`,
          duration: 30
        })
      }
      if (!data.sugar_per_div && data.sugar_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `糖未填`,
          duration: 30
        })
      }
      if (!data.na_per_div && data.na_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `鈉未填`,
          duration: 30
        })
      }
      if (isError) {
        return
      }
      //
      detailsList = {
        product_id: this.postData.product_id,
        weight_per_div: data.weight_per_div,
        package_div: data.package_div,
        cal: data.cal,
        protein: data.protein,
        fat: data.fat,
        saturated_fat: data.saturated_fat,
        trans_fat: data.trans_fat,
        carb: data.carb,
        sugar: data.sugar,
        na: data.na,
        //
        cal_per_div: data.cal_per_div || 0,
        protein_per_div: data.protein_per_div || 0,
        fat_per_div: data.fat_per_div || 0,
        saturated_fat_per_div: data.saturated_fat_per_div || 0,
        trans_fat_per_div: data.trans_fat_per_div || 0,
        carb_per_div: data.carb_per_div || 0,
        sugar_per_div: data.sugar_per_div || 0,
        na_per_div: data.na_per_div || 0,
        cal_daily_percentage: data.cal_daily_percentage || 0,
        protein_daily_percentage: data.protein_daily_percentage || 0,
        fat_daily_percentage: data.fat_daily_percentage || 0,
        saturated_fat_daily_percentage: data.saturated_fat_daily_percentage || 0,
        trans_fat_daily_percentage: data.trans_fat_daily_percentage || 0,
        carb_daily_percentage: data.carb_daily_percentage || 0,
        sugar_daily_percentage: data.sugar_daily_percentage || 0,
        na_daily_percentage: data.na_daily_percentage || 0
      }
      //
      try {
        let detailResponse = await this.$store.dispatch(`productNutrition/create`, detailsList)
        // console.log(detailResponse)
        if (detailResponse.httpStatus === 200 || detailResponse.httpStatus === 201) {
          data.pn_id = detailResponse.respondCode.additionals.productNutrition.pn_id
          data.product_id = this.postData.product_id
          this.$refs.setNutritionFactsDetailsList.setNutritionFactsDetailsList('create', data)
        } else if (detailResponse.httpStatus !== 401) {
          this.$Notice.error({
            title: `營養成分新增失敗`,
            desc: detailResponse.respondCode.debugInfo,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `營養成分新增失敗`,
          duration: 30
        })
      }
    },
    updateNutritionFactsDetailsList: async function (data) {
      var detailsList = {}
      let isError = false
      if (!data.weight_per_div && data.weight_per_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `每一份量重量未填`,
          duration: 30
        })
      }
      if (!data.package_div && data.package_div !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `本包裝含份數未填`,
          duration: 30
        })
      }
      if (!data.cal && data.cal !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `熱量未填`,
          duration: 30
        })
      }
      if (!data.protein && data.protein !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `蛋白質未填`,
          duration: 30
        })
      }
      if (!data.fat && data.fat !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `脂肪未填`,
          duration: 30
        })
      }
      if (!data.saturated_fat && data.saturated_fat !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `飽和脂肪未填`,
          duration: 30
        })
      }
      if (!data.trans_fat && data.trans_fat !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `反式脂肪未填`,
          duration: 30
        })
      }
      if (!data.carb && data.carb !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `碳水化合物未填`,
          duration: 30
        })
      }
      if (!data.sugar && data.sugar !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `糖未填`,
          duration: 30
        })
      }
      if (!data.na && data.na !== 0) {
        isError = true
        this.$Notice.error({
          title: '營養成分',
          desc: `鈉未填`,
          duration: 30
        })
      }
      if (isError) {
        return
      }
      //
      detailsList = {
        weight_per_div: data.weight_per_div || 0,
        package_div: data.package_div || 0,
        cal: data.cal || 0,
        protein: data.protein || 0,
        fat: data.fat || 0,
        saturated_fat: data.saturated_fat || 0,
        trans_fat: data.trans_fat || 0,
        carb: data.carb || 0,
        sugar: data.sugar || 0,
        na: data.na || 0,
        //
        cal_per_div: data.cal_per_div || 0,
        protein_per_div: data.protein_per_div || 0,
        fat_per_div: data.fat_per_div || 0,
        saturated_fat_per_div: data.saturated_fat_per_div || 0,
        trans_fat_per_div: data.trans_fat_per_div || 0,
        carb_per_div: data.carb_per_div || 0,
        sugar_per_div: data.sugar_per_div || 0,
        na_per_div: data.na_per_div || 0,
        cal_daily_percentage: data.cal_daily_percentage || 0,
        protein_daily_percentage: data.protein_daily_percentage || 0,
        fat_daily_percentage: data.fat_daily_percentage || 0,
        saturated_fat_daily_percentage: data.saturated_fat_daily_percentage || 0,
        trans_fat_daily_percentage: data.trans_fat_daily_percentage || 0,
        carb_daily_percentage: data.carb_daily_percentage || 0,
        sugar_daily_percentage: data.sugar_daily_percentage || 0,
        na_daily_percentage: data.na_daily_percentage || 0
      }
      //
      try {
        let detailResponse = await this.$store.dispatch(`productNutrition/update`, { postData: detailsList, detailId: data.pn_id })
        console.log(detailResponse)
        if (detailResponse.httpStatus !== 200 && detailResponse.httpStatus !== 201 && detailResponse.httpStatus !== 401) {
          this.$Notice.error({
            title: `營養成分更新失敗`,
            desc: detailResponse.respondCode.debugInfo,
            duration: 30
          })
        }
      } catch (err) {
        console.log(err)
        this.$Notice.error({
          title: `營養成分新增失敗`,
          duration: 30
        })
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      this.$store.dispatch(`product/queryDetail`, detailId).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.owner_id = null
      this.postData.owner_no = null
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        this.postData.owner_no = data.val ? data.val.customer_no : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.ownerBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_no = data.data.customer_no
      this.postData.owner_id = data.data.customer_id
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 重量-單位 : weight_unit */
    autocompleteHandleWeightUnitEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.weight_unit = null
      // 設定其他資料處 end
      this.weightUnitList = []
    },
    weightUnitAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.weight_unit = data.val ? data.val.unit_id : ''
        // console.log(this.postData.weight_unit)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.weightUnitList = [data.val]
      } else {
        this.weightUnitList = []
      }
    },
    weightUnitAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.weightUnitBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.weightUnitList = list
        }
      })
    },
    setAutocompleteWeightUnitValue: function (data) {
      // console.log(data)
      //
      this.postData.weight_unit_name = data.data[data.returnCode]
      this.postData.weight_unit = data.data.unit_id
      // console.log(this.postData.weight_unit)
      //
      this.toCloseWeightUnitAutocompleteModal = true
    },
    setToCloseWeightUnitAutocompleteModal: function (bol) {
      this.toCloseWeightUnitAutocompleteModal = bol
    },
    /* 長度單位 length_unit */
    lengthUnitListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getLengthUnitList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`lengthUnit/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let lengthUnitList = []
          list.forEach((ele, idx) => {
            lengthUnitList.push({
              value: ele.unit_id,
              label: ele.unit_name
            })
          })
          this.lengthUnitList = lengthUnitList
        }
      })
    },
    /* 庫存單位 : stock_unit */
    autocompleteHandleStockUnitEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.stock_unit = null
      // 設定其他資料處 end
      this.stockUnitList = []
    },
    stockUnitAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.stock_unit = data.val ? data.val.code_id : ''
        // console.log(this.postData.stock_unit)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.stockUnitList = [data.val]
      } else {
        this.stockUnitList = []
      }
    },
    stockUnitAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.stockUnitBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.stockUnitList = list
        }
      })
    },
    setAutocompleteStockUnitValue: function (data) {
      // console.log(data)
      //
      this.postData.stock_unit_name = data.data[data.returnCode]
      this.postData.stock_unit = data.data.code_id
      // console.log(this.postData.stock_unit)
      //
      this.toCloseStockUnitAutocompleteModal = true
    },
    setToCloseStockUnitAutocompleteModal: function (bol) {
      this.toCloseStockUnitAutocompleteModal = bol
    },
    /* 最小庫存單位 : stock_unit_min */
    autocompleteHandleStockUnitMinEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.stock_unit_min = null
      // 設定其他資料處 end
      this.stockUnitMinList = []
    },
    stockUnitMinAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.stock_unit_min = data.val ? data.val.code_id : ''
        // console.log(this.postData.stock_unit_min)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.stockUnitMinList = [data.val]
      } else {
        this.stockUnitMinList = []
      }
    },
    stockUnitMinAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.stockUnitMinBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.stockUnitMinList = list
        }
      })
    },
    setAutocompleteStockUnitMinValue: function (data) {
      // console.log(data)
      //
      this.postData.stock_unit_min_name = data.data[data.returnCode]
      this.postData.stock_unit_min = data.data.code_id
      // console.log(this.postData.stock_unit)
      //
      this.toCloseStockUnitMinAutocompleteModal = true
    },
    setToCloseStockUnitMinAutocompleteModal: function (bol) {
      this.toCloseStockUnitMinAutocompleteModal = bol
    },
    /* 運送溫層類別 */
    temperatureTypeListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getTemperatureTypeList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [['code_type', '=', 9]],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let temperatureTypeList = []
          if (list) {
            list.forEach((ele, idx) => {
              temperatureTypeList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.temperatureTypeList = temperatureTypeList
        }
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    this.getLengthUnitList()
    this.getTemperatureTypeList()
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`product/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  position: unset;
  width: 100%;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: #eceff2;
    width: calc(100% + 32px);
    height: 100%;
    top: 40px;
    left: -16px;
  }
  .top-box {
    width: 100%;
    overflow: auto;
    height: calc(100% - 27px);
    position: relative;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #3c3c3c;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
  }
  .bottom-box {
      width: 100%;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
