<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 上一層商品類別 -->
          <FloatLabelBox
            :config="{hasContent: (postData.pc_root_name && postData.pc_root_name!==''), label: `上一層商品類別`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true}"
            :code="`pc_root_name`"
            :autoCompleteData="pcRootList"
            :defaultValue="postData.pc_root_name"
            :modalTitle="`上一層商品類別`"
            :toCloseModal="toClosePcRootAutocompleteModal"
            keyCode="goodsCateSetup"
            storeKey="productCategory"
            returnCode="pc_name"
            :showCols="autoCompleteShowPcRootCols"
            @handleEnterSubmit="autocompleteHandlePcRootEnterSubmitEvent"
            @changeModelEvent="pcRootAutocompleteChangeEvent"
            @autoCompleteSearchEvent="pcRootAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToClosePcRootAutocompleteModal">
              <div>
                <!-- 上一層商品類別-->
                <AutocompleteModal
                keyCode="goodsCateSetup"
                storeKey="productCategory"
                returnCode="pc_name"
                :apiUrlCondition="setAutocompletePcRootApiUrl"
                :condition="pcRootCondition"
                @setAutocompleteValueEvent="setAutocompletePcRootValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 商品類別預設排序 -->
          <FloatLabelBox
            :config="{hasContent: (postData.pc_sort && postData.pc_sort!==''), label: `商品類別預設排序 *`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
            :code="`pc_sort`"
            :defaultValue="postData.pc_sort"
            :disabled="false"
            :isError="error.pc_sort"
            :isRequired="true"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 商品類別代碼 -->
          <FloatLabelBox
            :config="{hasContent: (postData.pc_code && postData.pc_code!==''), label: `商品類別代碼 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`pc_code`"
            :defaultValue="postData.pc_code"
            :disabled="false"
            :isError="error.pc_code"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 商品類別名稱 -->
          <FloatLabelBox
            :config="{hasContent: (postData.pc_name && postData.pc_name!==''), label: `商品類別名稱 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`pc_name`"
            :defaultValue="postData.pc_name"
            :disabled="false"
            :isError="error.pc_name"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
            <div class="body-box">
              <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
                <span slot="open">是</span>
                <span slot="close">否</span>
              </i-Switch>
            </div>
        </div>
      </div>
      <div class="footer">
        <!-- save btn -->
        <div class="saveBtn" @click="comfirmSave">
          <font-awesome-icon icon="save" size="2x"/>
        </div>
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'GoodsCateSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'companyId'],
  components: {
    FloatLabelBox,
    AutocompleteModal,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      pc_id: this.cloneData ? this.cloneData.pc_id : '', // 商品類別ID
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      pc_root_id: this.cloneData ? this.cloneData.pc_root_id : '', // 上一層商品類別ID
      pc_root_name: this.cloneData ? this.cloneData.pc_root_name : '', // 上一層商品類別
      pc_sort: this.cloneData ? this.cloneData.pc_sort : '', // 商品類別預設排序
      pc_code: this.cloneData ? this.cloneData.pc_code : '', // 商品類別代碼
      pc_name: this.cloneData ? this.cloneData.pc_name : '', // 商品類別名稱
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1 // 已啟用
    }
    return {
      modalType: modalType,
      //
      comfirmSaveModal: false,
      /* 上一層商品類別 : pc_root_id */
      pcRootList: [],
      autoCompleteShowPcRootCols: [
        'pc_code'
      ],
      toClosePcRootAutocompleteModal: false,
      pcRootCondition: [],
      setAutocompletePcRootApiUrl: { companyId: this.companyId },
      //
      postData: postData,
      error: {
        pc_id: false, // 商品類別ID
        company_id: false, // 公司ID
        pc_root_id: false, // 上一層商品類別ID
        pc_root_name: false, // 上一層商品類別
        pc_sort: false, // 商品類別預設排序
        pc_code: false, // 商品類別代碼
        pc_name: false, // 商品類別名稱
        is_enabled: false // 已啟用
      }
    }
  },
  computed: {
    productCategory: function () {
      return this.$store.state[`productCategory`][`productCategory`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    productCategory: {
      handler: function (val) {
        // console.log('productCategory : ', val)
        if (!val) {
          return
        }
        this.postData = {
          pc_id: val.pc_id || null, // 商品類別ID
          company_id: val.company_id || this.companyId, // 公司ID
          pc_root_id: val.pc_root_id || null, // 上一層商品類別ID
          pc_root_name: val.pc_root_name || null, // 上一層商品類別
          pc_sort: val.pc_sort || null, // 商品類別預設排序
          pc_code: val.pc_code || null, // 商品類別代碼
          pc_name: val.pc_name || null, // 商品類別名稱
          is_enabled: val.is_enabled || 1 // 已啟用
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.pc_root_id) {
          this.error.pc_root_id = false
        }
        if (val.pc_sort) {
          this.error.pc_sort = false
        }
        if (val.pc_code) {
          this.error.pc_code = false
        }
        if (val.pc_name) {
          this.error.pc_name = false
        }
      },
      deep: true
    }
    //
  },
  methods: {
    init: function () {
      this.postData = {
        pc_id: null, // 商品類別ID
        company_id: this.companyId || null, // 公司ID
        pc_root_id: null, // 上一層商品類別ID
        pc_root_name: null, // 上一層商品類別
        pc_sort: null, // 商品類別預設排序
        pc_code: null, // 商品類別代碼
        pc_name: null, // 商品類別名稱
        is_enabled: 1 // 已啟用
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (pcId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'pc_id',
            queryValue: pcId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`productCategory/queryDetail`, { postData: postData, companyId: this.companyId }).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    //
    save: function (action = null) {
      //
      let isError = false
      //
      if (!this.postData.pc_root_id || this.postData.pc_root_id === '') {
        isError = true
        this.error.pc_root_id = true
      }
      if (!this.postData.pc_sort || this.postData.pc_sort === '') {
        isError = true
        this.error.pc_sort = true
      }
      if (!this.postData.pc_code || this.postData.pc_code === '') {
        isError = true
        this.error.pc_code = true
      }
      if (!this.postData.pc_name || this.postData.pc_name === '') {
        isError = true
        this.error.pc_name = true
      }
      // console.log('isError', isError)
      //
      if (isError) {
        return
      }
      //
      let postData = {
        company_id: this.postData.company_id, // 公司ID
        pc_root_id: this.postData.pc_root_id, // 上一層商品類別ID
        pc_sort: this.postData.pc_sort, // 商品類別預設排序
        pc_code: this.postData.pc_code, // 商品類別代碼
        pc_name: this.postData.pc_name, // 商品類別名稱
        is_enabled: this.postData.is_enabled // 已啟用
      }
      Object.keys(this.postData).forEach((key, idx) => {
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'is_enabled') {
            let value = Number(this.postData[key])
            postData[key] = value
          }
          if (key === 'pc_root_name') {
            return
          }
          //
          let value = this.postData[key]
          postData[key] = value
        }
      })
      // console.log(postData)
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('productCategory/create', postData).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.postData.pc_id = r.respondCode.additionals.productCategory.pc_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['pc_id']
            this.$store.dispatch('productCategory/create', postData).then((r) => {
              // console.log(r)
              let rex = /^[2]/g
              if (rex.test(r.httpStatus)) {
                this.postData.pc_id = r.respondCode.additionals.productCategory.pc_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
              } else {
                this.$Notice.error({
                  title: '新增失敗'
                })
              }
            })
          } else {
            // update
            // console.log('update')
            // console.log(this.detailId)
            // console.log(postData)
            this.$store.dispatch('productCategory/update', { id: this.detailId, data: postData }).then((r) => {
              // console.log(r)
              let rex = /^[2]/g
              if (rex.test(r.httpStatus)) {
                // 警告提示
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗'
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          this.$store.dispatch('productCategory/create', postData).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              // 警告提示
              this.postData.pc_id = r.respondCode.additionals.productCategory.pc_id
              this.$Notice.success({
                title: '新增成功'
              })
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
      }
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 上一層商品類別 : pc_root_id */
    autocompleteHandlePcRootEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.pc_root_id = null
      // 設定其他資料處 end
      this.pcRootList = []
    },
    pcRootAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.pc_root_id = data.val ? data.val.pc_id : ''
        // console.log(this.postData.pc_root_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.pcRootList = [data.val]
      } else {
        this.pcRootList = []
      }
    },
    pcRootAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.pcRootList = list
        }
      })
    },
    setAutocompletePcRootValue: function (data) {
      // console.log(data)
      //
      this.postData.pc_root_name = data.data[data.returnCode]
      this.postData.pc_root_id = data.data.pc_id
      // console.log(this.postData.pc_root_id)
      //
      this.toClosePcRootAutocompleteModal = true
    },
    setToClosePcRootAutocompleteModal: function (bol) {
      this.toClosePcRootAutocompleteModal = bol
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`productCategory/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  h2.title {
    font-family: PingFangTC;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354361;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  /deep/.ivu-btn.icon-btn-md {
    border: 2px solid;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 0;
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > span {
      font-size: 14px;
    }
  }
  .backBtn {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-left: 1rem;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .backBtn {
        position: absolute;
        right: 45px;
        bottom: 200px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #dca558;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
}
// @media (max-width: 992px) {
//   .content-box .top-box .row {
//     flex-wrap: wrap;
//     .col {
//       flex: 1;
//     }
//   }
//   .floatLabelBox-container {
//     min-width: 250px;
//   }
// }
</style>
