<template>
  <div class="NutritionFacts">
    <!-- 營養成分 -->
    <div class="nutritionFactsTag">
      <table>
        <tbody>
          <tr>
            <!-- 品名 -->
            <td class="lable">
              <div class="lable-box">
                <div>品</div>
                <div>名</div>
              </div>
            </td>
            <td class="disabled" colspan="2">
              {{productPostData.product_name}}
            </td>
          </tr>
          <tr>
            <!-- 商品條碼 -->
            <td class="lable">
              商品條碼
            </td>
            <td colspan="2">
                <barcode :value="productPostData.product_code || '條碼放置處'" width="1" height="18" marginTop="1" marginBottom="1" font-size="12" textMargin="-2">
                條碼放置處
                </barcode>
            </td>
          </tr>
          <tr>
            <!-- 成分 -->
            <td class="lable">
              <div class="lable-box">
                <div>成</div>
                <div>分</div>
              </div>
            </td>
            <td colspan="2">
                <textarea placeholder="請輸入成分" cols="100" rows="3" v-model="postData.ingredients"></textarea>
                <br/>
                <textarea placeholder="請輸入過敏原" cols="100" rows="2" v-model="postData.allergen"></textarea>
            </td>
          </tr>
          <tr>
            <!-- 豬肉原料產地 -->
            <td class="lable lg">
              <Select
                v-model="postData.product_note"
                @on-select="productNoteChangeEvent"
                >
                  <Option v-for="(item, index) in productNoteList" :value="item.value" :key="item.value" :tag="index">{{ item.label }}</Option>
              </Select>
              原料產地
            </td>
            <td>
              <!-- <AutoComplete
                  v-model="postData.product_origin"
                  @on-change="productOriginListSearch"
                  >
                  <Option v-for="item in productOriginList" :value="item.value" :key="item.value">{{ item.lable }}</Option>
              </AutoComplete> -->
              <Select
                v-model="postData.product_origin"
                @on-select="productOriginChangeEvent"
                >
                  <Option v-for="(item, index) in productOriginList" :value="item.value" :key="item.value" :tag="index">{{ item.label }}</Option>
              </Select>
              <!-- <input type="text" v-model="postData.product_origin"> -->
            </td>
            <td class="nutrition-facts-table" rowspan="9">
              <table>
                <tbody>
                  <tr>
                    <td class="text-center" colspan="4">營養標示</td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <div class="mb-2">
                        每一份量
                        <input
                        type="number"
                        min="0"
                        class="width-auto"
                        v-model.number="nutritionData.weight_per_div"
                        @blur="checkNutritionValueEvent('weight_per_div')">
                        公克
                      </div>
                      <div>
                        本包裝含
                        <input
                        type="number"
                        min="0"
                        class="width-auto"
                        v-model.number="nutritionData.package_div"
                        @blur="checkNutritionValueEvent('package_div')">
                        份
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right no-border-right">每份</td>
                    <td class="text-right no-border-left">每100公克</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="lable no-border-right">
                      <ul class="list-unstyled">
                        <li class="d-flex">
                          <span>熱量</span>
                          <span class="flex-1">
                            <input
                            type="number"
                            min="0"
                            class="width-auto"
                            v-model.number="nutritionData.cal_per_div"
                            @blur="checkNutritionValueEvent('cal_per_div')">
                          </span>
                          <span>大卡</span>
                        </li>
                        <li class="d-flex">
                          <span>蛋白質</span>
                          <span class="flex-1">
                            <input
                            type="number"
                            min="0"
                            class="width-auto"
                            v-model.number="nutritionData.protein_per_div"
                            @blur="checkNutritionValueEvent('protein_per_div')">
                          </span>
                          <span>公克</span>
                        <li class="d-flex">
                          <span>脂肪</span>
                          <span class="flex-1">
                            <input
                            type="number"
                            min="0"
                            class="width-auto"
                            v-model.number="nutritionData.fat_per_div"
                            @blur="checkNutritionValueEvent('fat_per_div')">
                          </span>
                          <span>公克</span>
                        </li>
                        <li>
                          <ul class="list-unstyled">
                            <li class="d-flex">
                              <span>飽和脂肪</span>
                              <span class="flex-1">
                                <input
                                type="number"
                                min="0"
                                class="width-auto"
                                v-model.number="nutritionData.saturated_fat_per_div"
                                @blur="checkNutritionValueEvent('saturated_fat_per_div')">
                              </span>
                              <span>公克</span>
                            </li>
                            <li class="d-flex">
                              <span>反式脂肪</span>
                              <span class="flex-1">
                                <input
                                type="number"
                                min="0"
                                class="width-auto"
                                v-model.number="nutritionData.trans_fat_per_div"
                                @blur="checkNutritionValueEvent('trans_fat_per_div')">
                              </span>
                              <span>公克</span>
                            </li>
                          </ul>
                        </li>
                        <li class="d-flex">
                          <span>碳水化合物</span>
                          <span class="flex-1">
                            <input
                            type="number"
                            min="0"
                            class="width-auto"
                            v-model.number="nutritionData.carb_per_div"
                            @blur="checkNutritionValueEvent('carb_per_div')">
                          </span>
                          <span>公克</span>
                        </li>
                        <li>
                          <ul class="list-unstyled">
                            <li class="d-flex">
                              <span>糖</span>
                              <span class="flex-1">
                                <input
                                type="number"
                                min="0"
                                class="width-auto"
                                v-model.number="nutritionData.sugar_per_div"
                                @blur="checkNutritionValueEvent('sugar_per_div')">
                              </span>
                              <span>公克</span>
                            </li>
                          </ul>
                        </li>
                        <li class="d-flex">
                          <span>鈉</span>
                          <span class="flex-1">
                            <input
                            type="number"
                            min="0"
                            class="width-auto"
                            v-model.number="nutritionData.na_per_div"
                            @blur="checkNutritionValueEvent('na_per_div')">
                          </span>
                          <span>毫克</span>
                        </li>
                      </ul>
                    </td>
                    <td class="lable no-border-left">
                      <ul class="list-unstyled">
                        <li>
                          <input
                          type="number"
                          min="0"
                          class="width-auto"
                          v-model.number="nutritionData.cal_daily_percentage"
                          @blur="checkNutritionValueEvent('cal_daily_percentage')">
                          大卡
                        </li>
                        <li>
                          <input
                          type="number"
                          min="0"
                          class="width-auto"
                          v-model.number="nutritionData.protein_daily_percentage"
                          @blur="checkNutritionValueEvent('protein_daily_percentage')">
                          公克
                        </li>
                        <li>
                          <input
                          type="number"
                          min="0"
                          class="width-auto"
                          v-model.number="nutritionData.fat_daily_percentage"
                          @blur="checkNutritionValueEvent('fat_daily_percentage')">
                          公克
                        </li>
                        <li>
                          <input
                          type="number"
                          min="0"
                          class="width-auto"
                          v-model.number="nutritionData.saturated_fat_daily_percentage"
                          @blur="checkNutritionValueEvent('saturated_fat_daily_percentage')">
                          公克
                        </li>
                        <li>
                          <input
                          type="number"
                          min="0"
                          class="width-auto"
                          v-model.number="nutritionData.trans_fat_daily_percentage"
                          @blur="checkNutritionValueEvent('trans_fat_daily_percentage')">
                          公克
                        </li>
                        <li>
                          <input
                          type="number"
                          min="0"
                          class="width-auto"
                          v-model.number="nutritionData.carb_daily_percentage"
                          @blur="checkNutritionValueEvent('carb_daily_percentage')">
                          公克
                        </li>
                        <li>
                          <input
                          type="number"
                          min="0"
                          class="width-auto"
                          v-model.number="nutritionData.sugar_daily_percentage"
                          @blur="checkNutritionValueEvent('sugar_daily_percentage')">
                          公克
                        </li>
                        <li>
                          <input
                          type="number"
                          min="0"
                          class="width-auto"
                          v-model.number="nutritionData.na_daily_percentage"
                          @blur="checkNutritionValueEvent('na_daily_percentage')">
                          毫克
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="lable">
              <div class="lable-box">
              <div>淨</div>
              <div>重</div>
            </div>
            </td>
            <td>
              <input type="text" v-model="postData.nw_descp">
            </td>
          </tr>
          <tr>
            <!-- 保存條件 -->
            <td class="lable">
              保存條件
            </td>
            <td>
              <input type="text" v-model="postData.storage_condition">
            </td>
          </tr>
          <tr>
            <!-- 保存期限 -->
            <td class="lable">
              保存期限
            </td>
            <td>
              <input type="text" v-model="postData.product_expiration_days">
            </td>
          </tr>
          <tr>
            <!-- 製造日期 -->
            <td class="lable">
              製造日期
            </td>
            <td>
              <input type="text" v-model="postData.product_manufactureds">
            </td>
          </tr>
          <tr>
            <!-- 有效日期 -->
            <td class="lable">
              有效日期
            </td>
            <td>
              <input type="text" v-model="postData.product_expired_dates">
            </td>
          </tr>
          <tr>
            <!-- 製造商 -->
            <td class="lable">
              <div class="lable-box">
                <div>製</div>
                <div>造</div>
                <div>商</div>
              </div>
            </td>
            <td class="disabled">
              {{productPostData.vendor_name}}
            </td>
          </tr>
          <tr>
            <!-- 廠商地址 -->
            <td class="lable">
              廠商地址
            </td>
            <td class="disabled">
              {{productPostData.address}}
            </td>
          </tr>
          <tr>
            <!-- 廠商電話 -->
            <td class="lable">
              廠商電話
            </td>
            <td class="disabled">
              {{productPostData.telephone}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
      <!-- print btn -->
      <div class="printBtn" v-show="detailId" @click="printTagEvent">
        <font-awesome-icon icon="print" size="2x" />
      </div>
    </div>
    <!-- 按鈕區 -->
    <!-- <Button type="primary" @click="add">新增</Button>
    &nbsp;
    <Button type="primary" @click="comfirmRemove">刪除</Button>
    <br/> -->
    <!-- 分隔線 -->
    <!-- <DataGrid
    idKeyName="unit_convert_id"
    :hideFilter="true"
    :hidePage="true"
    :logicalOperator="logicalOperator"
    :settingData="settingData"
    :gridData="gridData"
    :toGetIds="toGetIds"
    :isQuery="isQuery"
    :noTextBreak="true"
    @gridDataChengeEvent="gridDataChengeEvent"
    @moveColEvent="moveColEvent"
    @removeColEvent="removeColEvent"
    @sortEvent="sortEvent"
    @filterEvent="filterEvent"
    @getIdsEvent="getIdsEvent"
    @getDetailEvent="getDetailEvent"
    @pageChangeEvent="pageChangeEvent"
    @pageSizeChangeEvent="pageSizeChangeEvent"
    @scrollEvent="scrollEvent"
    ></DataGrid> -->
    <!-- remove modal -->
    <!-- <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal> -->
  </div>
</template>

<script>
// import DataGrid from '@/components/dataGrid/DataGrid'
// import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import Config from '@/Config'
import VueBarcode from 'vue-barcode'
export default {
  name: 'NutritionFacts',
  props: ['data', 'detailId', 'companyId', 'productPostData', 'changeContent'],
  components: {
    // DataGrid,
    // ComfirmRemoveModal
    'barcode': VueBarcode
  },
  data () {
    // 定義用
    let settingData = {
      page: {
        pageSize: 50, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#1565C0',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#E3F2FD',
        rowEvenColor: '#777777',
        editCelColor: 'rgb(255, 225, 225)',
        waitEditCelColor: '#FFFFFF',
        notEditCelColor: '#EFEFEF'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_num',
          displayName: '來源數量*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'fromUnit',
          displayName: '來源單位*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'settingCodeSetup',
            storeKey: 'settingCodeByCompanyCodeType',
            returnCode: 'code_name',
            respondCode: 'settingCode',
            showCols: [
              'code_code'
            ],
            dispatchPath: 'settingCodeByCompanyCodeType/query',
            condition: [],
            modalTitle: '來源單位'
          },
          apiUrlCondition: { companyId: `${this.companyId}`, codeType: 3 },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_num',
          displayName: '目的數量*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'toUnit',
          displayName: '目的單位*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'settingCodeSetup',
            storeKey: 'settingCodeByCompanyCodeType',
            returnCode: 'code_name',
            respondCode: 'settingCode',
            showCols: [
              'code_code'
            ],
            dispatchPath: 'settingCodeByCompanyCodeType/query',
            condition: [],
            modalTitle: '目的單位'
          },
          apiUrlCondition: { companyId: `${this.companyId}`, codeType: 3 },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      Config: Config,
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      //
      comfirmRemoveModal: false,
      //
      isScrollToBottom: false,
      productNoteList: [
        {
          value: '豬肉',
          label: '豬肉'
        },
        {
          value: '牛肉',
          label: '牛肉'
        },
        {
          value: '牛豬',
          label: '牛豬'
        }
      ],
      productOriginList: [
        {
          value: 48,
          label: '台灣'
        },
        {
          value: 19,
          label: '日本'
        },
        {
          value: 121,
          label: '西班牙'
        }
      ],
      postData: {
        ingredients: null, // 成分
        allergen: null, // 過敏原
        product_note: '豬肉',
        product_origin: null, // 產地
        nw_descp: null, // 淨重
        storage_condition: null, // 保存條件
        product_expiration_days: null, // 保存期限
        product_manufactureds: null, // 製造日期
        product_expired_dates: null // 有效日期
      },
      num: 1,
      nutritionData: {
        pn_id: null,
        product_id: this.detailId || null,
        weight_per_div: 0, // 重量(份)
        package_div: 0, // 份數
        cal: 0, // 熱量
        cal_per_div: 0, // 熱量(份)
        cal_daily_percentage: 0, // 熱量(百分比)
        protein: 0, // 蛋白質
        protein_per_div: 0, // 蛋白質(份)
        protein_daily_percentage: 0, // 蛋白質(百分比)
        fat: 0, // 脂肪
        fat_per_div: 0, // 脂肪(份)
        fat_daily_percentage: 0, // 脂肪(百分比)
        saturated_fat: 0, // 飽和脂肪(份)
        saturated_fat_per_div: 0, // 飽和脂肪
        saturated_fat_daily_percentage: 0, // 飽和脂肪(百分比)
        trans_fat: 0, // 反式脂肪(份)
        trans_fat_per_div: 0, // 反式脂肪(百分比)
        trans_fat_daily_percentage: 0, // 反式脂肪
        carb: 0, // 碳水化合物
        carb_per_div: 0, // 碳水化合物(份)
        carb_daily_percentage: 0, // 碳水化合物(百分比)
        sugar: 0, // 糖
        sugar_per_div: 0, // 糖(份)
        sugar_daily_percentage: 0, // 糖(百分比)
        na: 0, // 鈉
        na_per_div: 0, // 鈉(份)
        na_daily_percentage: 0 // 鈉(百分比)
      }
    }
  },
  computed: {
    //
  },
  watch: {
    changeContent: {
      handler: function (val) {
        //
        if (val === 'nutritionFacts' && this.detailId) {
          // this.getGridData()
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        // console.log(val)
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
        if (!val) {
          this.nutritionData = {
            pn_id: null,
            product_id: null,
            weight_per_div: 0, // 重量(份)
            package_div: 0, // 份數
            cal: 0, // 熱量
            cal_per_div: 0, // 熱量(份)
            cal_daily_percentage: 0, // 熱量(百分比)
            protein: 0, // 蛋白質
            protein_per_div: 0, // 蛋白質(份)
            protein_daily_percentage: 0, // 蛋白質(百分比)
            fat: 0, // 脂肪
            fat_per_div: 0, // 脂肪(份)
            fat_daily_percentage: 0, // 脂肪(百分比)
            saturated_fat: 0, // 飽和脂肪(份)
            saturated_fat_per_div: 0, // 飽和脂肪
            saturated_fat_daily_percentage: 0, // 飽和脂肪(百分比)
            trans_fat: 0, // 反式脂肪(份)
            trans_fat_per_div: 0, // 反式脂肪(百分比)
            trans_fat_daily_percentage: 0, // 反式脂肪
            carb: 0, // 碳水化合物
            carb_per_div: 0, // 碳水化合物(份)
            carb_daily_percentage: 0, // 碳水化合物(百分比)
            sugar: 0, // 糖
            sugar_per_div: 0, // 糖(份)
            sugar_daily_percentage: 0, // 糖(百分比)
            na: 0, // 鈉
            na_per_div: 0, // 鈉(份)
            na_daily_percentage: 0 // 鈉(百分比)
          }
        }
      },
      deep: true
    },
    nutritionData: {
      handler: function (val) {
        // console.log(val)
        this.$emit('detailsListChangeEvent', val)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        // console.log(val)
        this.$emit('postDataChangeEvent', val)
      },
      deep: true
    },
    productPostData: {
      handler: function (val) {
        // console.log(val)
        if (val.ingredients) {
          this.postData.ingredients = val.ingredients
        }
        if (val.allergen) {
          this.postData.allergen = val.allergen
        }
        if (val.product_note) {
          this.postData.product_note = val.product_note
        }
        if (val.product_origin) {
          this.postData.product_origin = val.product_origin
        }
        if (val.nw_descp) {
          this.postData.nw_descp = val.nw_descp
        }
        if (val.storage_condition) {
          this.postData.storage_condition = val.storage_condition
        }
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        unit_convert_id: null,
        from_num: null,
        fromUnit: {},
        to_num: null,
        toUnit: {}
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      //
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            if (_item) {
              // console.log(item.INDEX)
              if (item.unit_convert_id && item.unit_convert_id !== '') {
                this.remove(item.unit_convert_id)
              }
              return false
            } else {
              return true
            }
          })
          // console.log(this.gridData)
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    remove: function (id) {
      this.$store.dispatch('unitConvert/delete', id).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200) {
          // 警告提示
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          this.$Notice.error({
            title: '刪除失敗'
          })
        }
      })
    },
    initNutritionFactsDetailsList: function () {
      this.nutritionData = {
        pn_id: null,
        product_id: null,
        weight_per_div: 0, // 重量(份)
        package_div: 0, // 份數
        cal: 0, // 熱量
        cal_per_div: 0, // 熱量(份)
        cal_daily_percentage: 0, // 熱量(百分比)
        protein: 0, // 蛋白質
        protein_per_div: 0, // 蛋白質(份)
        protein_daily_percentage: 0, // 蛋白質(百分比)
        fat: 0, // 脂肪
        fat_per_div: 0, // 脂肪(份)
        fat_daily_percentage: 0, // 脂肪(百分比)
        saturated_fat: 0, // 飽和脂肪(份)
        saturated_fat_per_div: 0, // 飽和脂肪
        saturated_fat_daily_percentage: 0, // 飽和脂肪(百分比)
        trans_fat: 0, // 反式脂肪(份)
        trans_fat_per_div: 0, // 反式脂肪(百分比)
        trans_fat_daily_percentage: 0, // 反式脂肪
        carb: 0, // 碳水化合物
        carb_per_div: 0, // 碳水化合物(份)
        carb_daily_percentage: 0, // 碳水化合物(百分比)
        sugar: 0, // 糖
        sugar_per_div: 0, // 糖(份)
        sugar_daily_percentage: 0, // 糖(百分比)
        na: 0, // 鈉
        na_per_div: 0, // 鈉(份)
        na_daily_percentage: 0 // 鈉(百分比)
      }
    },
    setNutritionFactsDetailsList: function (type, data) {
      switch (type) {
        case 'create':
          this.nutritionData.pn_id = data.pn_id
          this.nutritionData.product_id = data.product_id
          break
        case 'init':
          this.initNutritionFactsDetailsList()
          break
      }
    },
    //
    getGridData: function () {
      this.isQuery = true
      //
      let postData = {
        page: 1,
        pageSize: 250,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'product_id',
            queryValue: this.detailId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch('unitConvert/search', postData).then((r) => {
        if (r) {
          // console.log(r)
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.gridData = r.respondCode.additionals.unitConvert
          this.gridData.forEach((ele, idx) => {
            ele.INDEX = (idx + 1)
            ele.SELECT = false
            ele.fromUnit = {
              code_id: ele.from_unit || null,
              code_name: ele.from_unit_name || '',
              code_code: ele.from_unit_code || ''
            }
            ele.toUnit = {
              code_id: ele.to_unit || null,
              code_name: ele.to_unit_name || '',
              code_code: ele.to_unit_code || ''
            }
          })
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    getNutritionData: function () {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [],
        sort: []
      }
      this.$store.dispatch('productNutrition/search', { postData: postData, productId: this.detailId }).then((r) => {
        console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          let data = r.respondCode.additionals.productNutriton || []
          if (data.length > 0) {
            console.log('大於')
            this.nutritionData = data[0]
          }
        }
      })
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    },
    productNoteChangeEvent: function (data) {
      // console.log(data)
      this.postData.product_note = data.value
    },
    productOriginChangeEvent: function (data) {
      // console.log(data)
      this.postData.product_origin = data.value
    },
    printTagEvent () {
      // let tagPostData = {
      //   postData: this.postData,
      //   num: this.num
      // }
      // tagPostData.postData.product_name = this.productPostData.product_name
      // tagPostData.postData.product_code = this.productPostData.product_code
      // this.$router.push({
      //   name: 'PrintNutritionFacts_TagDetail',
      //   params: tagPostData
      // })
      let tagPostData = {
        count: 1,
        product_expiration_days: [this.postData.product_expiration_days],
        product_manufactureds: [this.postData.product_manufactureds],
        product_expired_dates: [this.postData.product_expired_dates],
        product_ids: [this.detailId]
      }
      this.$store.dispatch('productNutrition/printtag', tagPostData).then((r) => {
        console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          // 取下載link, 另開視窗
          window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.print_tag_product_nutrition.download_link}`)
        }
      })
    },
    checkNutritionValueEvent (key) {
      if (this.nutritionData[key] < 0) {
        this.nutritionData[key] = 0
      }
    },
    productOriginListSearch (value) {
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'AND',
        query: [],
        sort: []
      }
      if (value) {
        postData.query.push({
          queryCondition: 'LIKE',
          queryValue: value,
          queryField: 'country_name'
        })
      }
      this.$store.dispatch(`country/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.country
          let productOriginList = []
          list.forEach((item) => {
            productOriginList.push({
              value: item.country_id,
              label: item.country_name
            })
          })
          //
          this.productOriginList = productOriginList
        }
      })
    }
  },
  created () {
    //
    // this.productOriginListSearch()
    // if (this.detailId && this.detailId !== '') {
    //   // 取得清單
    //   this.getNutritionData()
    //   // this.getGridData()
    // }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.NutritionFacts {
    width: 100%;
    height: fit-content;
    .DATAGRID-BOX{
    padding-bottom: 0;
    }
    /deep/ .table-container {
      overflow-x: hidden;
      padding-bottom: 0;
      background-color: #fff;
    }
    /deep/ .DATAGRID-BOX .table-container .scroll-box{
      height: calc(100vh - 318px);
    }
    /deep/ .DATAGRID-BOX .table-container table{
      height: 100%;
    }
    .nutritionFactsTag {
      // background: #999;
      height: 100%;
      padding: 16px 0;
      overflow-y: auto;
      table {
        width: 100%;
        margin: 0 auto;
        border-collapse:collapse;
      }
      td {
        border: 1px solid #000;
        padding: 4px;
        font-size: 14px;
        color: #000;
        white-space:nowrap;
        &.lable {
          width: 80px;
          background: #fff;
          .lable-box {
            display: flex;
            justify-content: space-between;
          }
          /deep/.ivu-select {
            width: 65px;
          }
        }
        &.lg {
          width: 121px;
        }
        &.no-border-bottom {
          border-bottom: 0px solid transparent;
        }
        &.no-border-right {
          border-right: 0px solid transparent;
        }
        &.no-border-left {
          border-left: 0px solid transparent;
        }
        &.border-right {
          border-right: 1px solid #000;
        }
        &.disabled {
          background: #eee;
        }
        textarea {
          width: 100%;
          padding: 4px;
          // border: 1px solid transparent;
        }
        input {
          width: 100%;
          padding: 0 4px;
          // border: 1px solid transparent;
          &.width-auto {
            width: auto;
          }
        }
      }
      .barCode-box {
        width: 50%;
      }
      .nutrition-facts-table {
          flex:1;
          border: 1px solid #000;
          border-left: 0px solid transparent;
          padding: 4px;
          .list-unstyled {
            padding-left: 14px;
            list-style: none;
            li {
              margin-bottom: 4px;
              .flex-1 {
                flex: 1;
                text-align: right;
              }
            }
          }
      }
    }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .printBtn {
      position: absolute;
      right: 45px;
      bottom: 106px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      background-color: #8e96a6;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
</style>
