<template>
  <div class="UnitConversion">
    <!-- 單位換算 -->
    <!-- 按鈕區 -->
    <Poptip trigger="hover" title="新增">
      <Button class="detail-add mr-1 mb-2" @click="add">
        <font-awesome-icon icon="plus" />
      </Button>
    </Poptip>
    <Poptip trigger="hover" title="刪除">
      <Button class="detail-remove mb-2" @click="comfirmRemove">
        <font-awesome-icon icon="minus" />
      </Button>
    </Poptip>
    <br/>
    <!-- 分隔線 -->
    <DataGrid
    idKeyName="unit_convert_id"
    :bgType="'light'"
    :hideFilter="true"
    :hidePage="true"
    :logicalOperator="logicalOperator"
    :settingData="settingData"
    :gridData="gridData"
    :toGetIds="toGetIds"
    :isQuery="isQuery"
    :noTextBreak="true"
    :setVisibleColumns="setVisibleColumns"
    @gridDataChengeEvent="gridDataChengeEvent"
    @moveColEvent="moveColEvent"
    @removeColEvent="removeColEvent"
    @sortEvent="sortEvent"
    @filterEvent="filterEvent"
    @getIdsEvent="getIdsEvent"
    @getDetailEvent="getDetailEvent"
    @pageChangeEvent="pageChangeEvent"
    @pageSizeChangeEvent="pageSizeChangeEvent"
    @scrollEvent="scrollEvent"
    ></DataGrid>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
export default {
  name: 'UnitConversion',
  props: ['data', 'detailId', 'changeContent'],
  components: {
    DataGrid,
    ComfirmRemoveModal
  },
  data () {
    // 定義用
    let settingData = {
      page: {
        pageSize: 50, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor['light'].dataGrid.headBgColor,
        headColor: Config.themeColor['light'].dataGrid.headColor,
        rowOddBgColor: Config.themeColor['light'].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor['light'].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor['light'].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor['light'].dataGrid.rowEvenColor,
        editCelColor: Config.themeColor['light'].dataGrid.editCelColor,
        waitEditCelColor: Config.themeColor['light'].dataGrid.waitEditCelColor,
        notEditCelColor: Config.themeColor['light'].dataGrid.notEditCelColor,
        selectedColor: Config.themeColor['light'].dataGrid.selectedColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_num',
          displayName: '來源數量 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'fromUnit',
          displayName: '來源單位*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'settingCodeSetup',
            storeKey: 'stockUnit',
            returnCode: 'code_name',
            showCols: [
              'code_code'
            ],
            dispatchPath: 'stockUnit/search',
            condition: [],
            modalTitle: '來源單位'
          },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_num',
          displayName: '目的數量*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'toUnit',
          displayName: '目的單位*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'settingCodeSetup',
            storeKey: 'stockUnit',
            returnCode: 'code_name',
            showCols: [
              'code_code'
            ],
            dispatchPath: 'stockUnit/search',
            condition: [],
            modalTitle: '目的單位'
          },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      Config: Config,
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      isQuery: false,
      idsData: null,
      //
      comfirmRemoveModal: false,
      //
      isScrollToBottom: false,
      setVisibleColumns: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    unitConverts: function () {
      return this.$store.state[`product`][`unitConverts`] || []
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        //
        if (val === 'unitConvert' && this.detailId) {
          this.setVisibleColumns = !this.setVisibleColumns
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    unitConverts: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            item.fromUnit = {
              code_id: item.from_unit,
              code_name: item.from_unit_name,
              code_code: item.from_unit_code
            }
            item.toUnit = {
              code_id: item.to_unit,
              code_name: item.to_unit_name,
              code_code: item.to_unit_code
            }
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        // console.log(val)
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
        if (!val) {
          this.gridData = []
        }
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        unit_convert_id: null,
        from_num: null,
        fromUnit: {},
        to_num: null,
        toUnit: {}
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            return !_item
          })
          this.remove()
          // console.log(this.gridData)
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    remove: function () {
      let postData = {
        unitConvertIds: []
      }
      if (this.idsData.selectIds[0]) {
        postData.unitConvertIds = this.idsData.selectIds
        this.$store.dispatch('product/deleteUnitConvert', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
          }
        })
      }
      this.idsData = null
    },
    setUnitConversionDetailsList: function (type, data) {
      switch (type) {
        case 'init':
          this.gridData = []
          break
        case 'set':
          this.gridData = [...data]
          break
      }
    },
    //
    getGridData: function () {
      this.isQuery = true
      //
      let postData = {
        page: 1,
        pageSize: 250,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'product_id',
            queryValue: this.detailId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch('unitConvert/search', postData).then((r) => {
        if (r) {
          // console.log(r)
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.gridData = r.respondCode.additionals.unitConvert
          this.gridData.forEach((ele, idx) => {
            ele.INDEX = (idx + 1)
            ele.SELECT = false
            ele.fromUnit = {
              code_id: ele.from_unit || null,
              code_name: ele.from_unit_name || '',
              code_code: ele.from_unit_code || ''
            }
            ele.toUnit = {
              code_id: ele.to_unit || null,
              code_name: ele.to_unit_name || '',
              code_code: ele.to_unit_code || ''
            }
          })
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    //
    // if (this.detailId && this.detailId !== '') {
    //   // 取得清單
    //   this.getGridData()
    // }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.UnitConversion {
    width: 100%;
    height: fit-content;
    .DATAGRID-BOX{
    padding-bottom: 0;
    }
    /deep/ .table-container {
      overflow-x: hidden;
      padding-bottom: 0;
      // background-color: #fff;
    }
    /deep/ .DATAGRID-BOX .table-container .scroll-box{
      height: calc(100vh - 285px);
    }
    /deep/ .DATAGRID-BOX .table-container table{
      height: 100%;
    }
}
</style>
