<template>
  <Modal v-model="modal" width="359" :footer-hide="true" :closable="false" class="dataexportModal">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <div slot="header" class="modal-header"></div>
    <div class="modal-body">
      <div class="container-box">
        <h2 class="title">
          <span class="title-text">{{title}}匯出</span>
        </h2>
        <div class="desc-box">
          <div>
            <!-- 匯出檔名 -->
            <FloatLabelBox
              :config="{
                hasContent: (postData.exportFileName && postData.exportFileName!==''),
                label: `匯出檔名 *`,
                hasClearButton: true,
                background: 'white',
                type: `InputText`,
                settings: {height: 41}}"
              :code="`exportFileName`"
              :defaultValue="postData.exportFileName"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
          <!-- <div class="mt-4">
            匯出範圍
            <FloatLabelBox
              :config="{
                hasContent: (postData.exportReach && postData.exportReach!==''),
                label: `匯出範圍 *`,
                hasClearButton: true,
                background: 'white',
                type: `Select`,
                settings: {height: 41}}"
              :selectList="exportReachList"
              :code="`exportReach`"
              :defaultValue="postData.exportReach"
              :isError="error.exportReach"
              :isRequired="true"
              @changeModelEvent="exportReachListChangeEvent"
            ></FloatLabelBox>
          </div> -->
        </div>
        <div class="btn-box">
          <Button class="best-outlined-gray-dark" shape="circle" size="large" @click="cancel">
            取消
          </Button>
          <Button class="best-blue w-100 ml-3" shape="circle" size="large" @click="ok">
            確定
          </Button>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script>
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
//
export default {
  name: 'DataexportModal',
  props: ['dataexportModal', 'dataexportTitle', 'dataexportLoadingViewIsShow'],
  components: {
    LoadingView,
    FloatLabelBox
  },
  data () {
    //
    return {
      LoadingViewIsShow: this.dataexportLoadingViewIsShow || false,
      //
      modal: this.dataexportModal,
      title: this.dataexportTitle,
      postData: {
        page: 1,
        pageSize: null,
        exportFileName: this.dataexportTitle,
        exportReach: 1
      },
      error: {
        exportFileName: false
      },
      exportReachList: [
        {
          value: 1,
          label: '全部匯出'
        },
        {
          value: 2,
          label: '匯出勾選部分'
        }
      ]
    }
  },
  computed: {},
  watch: {
    dataexportModal: function (bol) {
      this.modal = bol
    },
    modal: function (bol) {
      if (!bol) {
        this.$emit('setDataexportModalEvent', false)
      }
    },
    dataexportTitle: {
      handler: function (val) {
        if (val) {
          this.postData.exportFileName = val
        }
      },
      deep: true
    },
    dataexportLoadingViewIsShow: {
      handler: function (val) {
        console.log(val)
        this.LoadingViewIsShow = val
      },
      deep: true
    }
  },
  methods: {
    cancel: function () {
      this.init()
      this.$emit('dataexportModalCancelEvent', false)
    },
    ok: function () {
      this.$emit('dataexportModalOkEvent', { bol: false, postData: this.postData })
      // this.export()
    },
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    /* 匯出範圍 */
    exportReachListChangeEvent: function (data) {
      this.postData[data.code] = data.val
      this.postData.exportReach = data.val
    },
    init: function () {
      this.postData = {
        page: 1,
        pageSize: null,
        exportFileName: this.dataexportTitle,
        exportReach: 1
      }
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.settingData)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.dataexportModal{
  .modal-body {
    width: 100%;
    padding: 0 48px 24px;
    display: flex;
    .container-box {
      flex: 1;
      height: 100%;
      .title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        .title-text {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 24px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          display: inline-block;
          margin-bottom: 8px;
          font-weight: 400;
        }
      }
      .desc-box {
        width: 100%;
        padding-bottom: 2rem;
        .row{
          display: flex;
          width: 100%;
          .col{
            width: 100%;
            flex: 1;
          }
        }
      }
      .btn-box {
        display: flex;
        justify-content: center;
        flex: 1;
      }
    }
  }
}
</style>
