<template>
    <span class="InputSearchAC-box">
      <span v-if="!readonly">
        <AutoComplete
        v-model="val"
        :data="dataList"
        :placeholder="placeholder"
        :class="{'search-input': true, 'warning': warning}"
        :disabled="!editToggle"
        :filter-method="filterMethod"
        @on-select="select"
        @on-change="change"
        @on-blur="blur"
        style="width:200px"></AutoComplete><Button type="info" icon="md-search" class="search-btn" style="margin-right:2px;" size="small" slot="append" :disabled="!editToggle || readonly" @click="showModal"></Button>
      </span>
      <span v-if="readonly">
        <Input
        :readonly="true"
        :value="val"
        :disabled="!editToggle"
        :placeholder="placeholder"
        class="search-input"
        style="width:200px"/><Button type="info" icon="md-search" class="search-btn" style="margin-right:2px;" size="small" slot="append" :disabled="true"></Button>
      </span>
      <!-- modal -->
      <Modal
      v-model="modalToggle"
      width="865"
      :title="modalTitle"
      :footer-hide="true">
        <slot></slot>
      </Modal>
    </span>
</template>

<script>
export default {
  name: 'InputSearchAC',
  props: [
    'valStr',
    'dataList',
    'editToggle',
    'readonly',
    'placeholder',
    'warning',
    'modalTitle',
    'index'
  ],
  data () {
    //
    let optItems = {
      blur: false,
      ...this.opts
    }
    //
    return {
      val: this.valStr,
      optItems: optItems,
      modalToggle: false
    }
  },
  watch: {},
  methods: {
    showModal: function () {
      this.modalToggle = true
    },
    closeModal: function () {
      this.modalToggle = false
    },
    change: function (value) {
      let data = {
        index: this.index || -1,
        value: value
      }
      this.$emit('changeEvent', data)
    },
    select: function (value) {
      let data = {
        index: this.index || -1,
        value: value
      }
      this.$emit('changeEvent', data)
    },
    blur: function (event) {
      if (!this.optItems.blur) {
        return
      }
      this.$emit('blurEvent', event)
    },
    filterMethod (value, option) {
      return option.toUpperCase().indexOf(value.toUpperCase()) !== -1
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
.InputSearchAC-box {
    flex: 1;
    .search-input input{
        border-radius: 4px 0 0 4px;
        border-right: 0;
    }
    .search-input-noborder input{
        border: none;
    }
    .search-btn {
        border-radius:0 4px 4px 0;
        padding: 5px 10px !important;
        margin: 0 !important;
    }
    .warning {
        border-radius: 6px;
        box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.2)
    }
}
</style>
