<template>
  <Modal v-model="modal" width="604" :footer-hide="true" :closable="false" class="setProductSnModal">
    <div slot="header" class="modal-header"></div>
    <div class="modal-body">
      <h2 class="title mb-2">
        <span>商品料號: {{productCode}}</span>
      </h2>
      <div class="container-box">
        <h3 class="sub-title mb-2">
          序號表
          <span class="quantity">
            <font-awesome-icon icon="file" class="text-orange mr-1" />
              {{productSnList.length}}
          </span>
        </h3>
        <div class="list-box">
          <ul>
            <li v-for="(item, index) in productSnList" :key="item.product_sn">
              <span>{{item.product_sn}}</span>
              <Button class="removeBtn" @click="removeProductSnList(index)" :loading="comfirmBoxIsLoading">
                <font-awesome-icon icon="times" class="position-relative"/>
              </Button>
            </li>
          </ul>
        </div>
        <div class="work-box">
          <input type="text" placeholder="商品序號" class="productSnInput" ref="productSnInput" v-model="productSn" v-on:keyup.enter="addProductSnListEvent(productCodeIndex)"/>
          <Button class="dark-blue-btn" @click="comfirmProductSnList(productCodeIndex)" :loading="comfirmBoxIsLoading">
            結束新增序號
          </Button>
        </div>
      </div>
    </div>
  </Modal>
</template>複製

<script>
//
export default {
  name: 'ProductSnModal',
  props: ['companyId', 'whId', 'productSnModal', 'productData'],
  components: {},
  data () {
    //
    return {
      modal: this.productSnModal,
      productCode: this.productData.product_code || 'test_productCode',
      productSnList: [],
      productSn: null,
      productCodeIndex: null,
      //
      comfirmBoxIsLoading: false
    }
  },
  computed: {},
  watch: {
    productSnModal: function (bol) {
      this.modal = bol
    },
    modal: function (bol) {
      if (!bol) {
        this.$emit('setProductSnModalEvent', false)
      }
    }
  },
  methods: {
    // cancel: function () {
    //   this.$emit('comfirmRemoveModalCancelEvent', false)
    // },
    // ok: function () {
    //   this.$emit('setProductSnModalOkEvent', false)
    // },
    removeProductSnList: function () {
      console.log('removeProductSnList')
      this.productSnList.splice(index, 1)
    }, 
    addProductSnListEvent: function () {
      console.log('addProductSnListEvent')
      if (this.productSn) {
        let isError = false
        // 檢查數量
        // console.log(idx)
        // console.log(this.productData)
        if (this.productSnList.length === this.productData.order_nums) {
          this.$Notice.error({
            title: `已超過數量`,
            duration: 30
          })
          this.productSn = null
          return
        }
        // 檢查是否有重複
        this.productSnList.forEach((item, index) => {
          if (item.product_sn === this.productSn) {
            isError = true
          }
        })
        if (isError) {
          this.$Notice.error({
            title: `序號已存在`,
            duration: 30
          })
          this.productSn = null
          return
        }
        //
        this.productSnList.unshift(
          {
            company_id: this.companyId,
            wh_id: this.whId,
            product_id: this.productId,
            product_sn: this.productSn,
            outbound_id: this.outbound_id
          }
        )
        // this.productData.boxed_nums = this.productSnList.length
        this.productSn = null
      }
    }, 
    comfirmProductSnList: function () {
      console.log('comfirmProductSnList')
      this.$emit('comfirmProductSnEvent', false, this.productSnList)
    }
  },
  created () {
    //
  },
  mounted () {
    if (this.productData.productSnList) {
      this.productSnList = this.productData.productSnList
    }
    //
    this.$nextTick(() => this.$refs.productSnInput.focus())
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.setProductSnModal{
  .modal-body {
    width: 100%;
    padding: 12px 30px;
    .icon-box {
      width: 141px;
      height: auto;
      display: flex;
      align-items: flex-end;
      img {
        width: auto;
        width: 110px;
        height: 115px;
        object-fit: cover;
      }
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        span {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 25px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #354361;
        }
      }
    .container-box {
      flex: 1;
      height: 100%;
      .sub-title {
        font-size: 16px;
        color: #3c3c3c;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 16px;
          color: #3c3c3c;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }
        .quantity {
          font-size: 16px;
          color: #555;
          font-weight: 400;
        }
      }
      .list-box {
        flex: 1;
        height: 250px;
        overflow-y: scroll;
        border: 1px solid #eee;
        padding: 8px;
        margin-bottom: 2rem;
        li {
          color: #333;
          font-size: 20px;
          line-height: 1.8;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .removeBtn {
            color: #bbb;
            border: 2px solid #bbb;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 0;
            &:hover {
              color: #a71b05;
              border: 2px solid #a71b05;
            }
          }
        }
      }
      .work-box{
        display: flex;
        justify-content: center;
      }
      .productSnInput{
        display: block;
        flex: 1;
        margin-right: 2rem;
        font-size: 16px;
        color: #9d9d9d;
        padding: 1.5px 12px;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        outline: 1px solid transparent;
      }
      .btn-box {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1;
        height: 50px;
        button {
          margin-right: 15px;
          font-size: 14px;

          svg {
            color: #9ca29c;
          }
        }
      }
    }
  }
  /deep/.dark-blue-btn {
    width: 125px;
    height: 32px;
    border-radius: 20px;
    background-color: #354361;
    padding: 0;
    margin: 0;
    font-family: PingFangTC;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
</style>
