<template>
  <div class="content-box">
    <div class="top-box pt-2">
      <div class="row">
        <div class="col">
          <!-- 系統訂單號 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.sys_ord_no && postData.sys_ord_no!==''),
              label: `系統訂單號 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`sys_ord_no`"
            :defaultValue="postData.sys_ord_no"
            :disabled="true"
            :isError="error.sys_ord_no"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 客戶訂單編號 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.cust_ord_no && postData.cust_ord_no!==''),
              label: `客戶訂單編號 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`cust_ord_no`"
            :defaultValue="postData.cust_ord_no"
            :disabled="false"
            :isError="error.cust_ord_no"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 運輸類型名稱 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.use_type_name && postData.use_type_name!==''),
              label: `運輸類型名稱 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`use_type_name`"
            :defaultValue="postData.use_type_name"
            :disabled="false"
            :isError="error.use_type_name"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <!-- <div class="col">
          <FloatLabelBox
            :config="{
              hasContent: (postData.status && postData.status!==''),
              label: `訂單狀態代碼 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`status`"
            :defaultValue="postData.status"
            :disabled="false"
            :isError="error.status"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div> -->

        <div class="col">
          <!-- 訂單狀態代碼 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.status && postData.status!==''),
              label: `訂單狀態 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="customerCatList"
            :code="`status`"
            :defaultValue="postData.status"
            :isError="error.status"
            :isRequired="true"
            @changeModelEvent="customerCatListChangeEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 追蹤號碼 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.booking_no && postData.booking_no!==''),
              label: `追蹤號碼 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`booking_no`"
            :defaultValue="postData.booking_no"
            :disabled="false"
            :isError="error.booking_no"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- S/O NO -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.so_no && postData.so_no!==''),
              label: `S/O NO *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`so_no`"
            :defaultValue="postData.so_no"
            :disabled="false"
            :isError="error.so_no"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--提單號碼-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.bl_no && postData.bl_no!==''),
              label: `提單號碼`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`bl_no`"
            :defaultValue="postData.bl_no"
            :disabled="false"
            :isError="error.bl_no"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--船公司-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.ship_comp && postData.ship_comp!==''),
              label: `船公司`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`ship_comp`"
            :defaultValue="postData.ship_comp"
            :disabled="false"
            :isError="error.ship_comp"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--船名-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.ship_name && postData.ship_name!==''),
              label: `船名`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`ship_name`"
            :defaultValue="postData.ship_name"
            :disabled="false"
            :isError="error.ship_name"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--航次-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.ship_id && postData.ship_id!==''),
              label: `航次`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`ship_id`"
            :defaultValue="postData.ship_id"
            :disabled="false"
            :isError="error.ship_id"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--領櫃地-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.pickup_loc && postData.pickup_loc!==''),
              label: `領櫃地`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`pickup_loc`"
            :defaultValue="postData.pickup_loc"
            :disabled="false"
            :isError="error.pickup_loc"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--領櫃地-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.redeliv && postData.redeliv!==''),
              label: `交櫃地`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`redeliv`"
            :defaultValue="postData.redeliv"
            :disabled="false"
            :isError="error.redeliv"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--卸櫃廠別-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.con_off_plant && postData.con_off_plant!==''),
              label: `卸櫃廠別`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`con_off_plant`"
            :defaultValue="postData.con_off_plant"
            :disabled="false"
            :isError="error.con_off_plant"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--裝櫃廠別-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.on_con_plant && postData.on_con_plant!==''),
              label: `裝櫃廠別`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`on_con_plant`"
            :defaultValue="postData.on_con_plant"
            :disabled="false"
            :isError="error.on_con_plant"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--櫃型-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.con_type && postData.con_type!==''),
              label: `櫃型`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`con_type`"
            :defaultValue="postData.con_type"
            :disabled="false"
            :isError="error.con_type"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--櫃號1-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.con_id1 && postData.con_id1!==''),
              label: `櫃號1`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`con_id1`"
            :defaultValue="postData.con_id1"
            :disabled="false"
            :isError="error.con_id1"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--櫃號2-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.con_id2 && postData.con_id2!==''),
              label: `櫃號2`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`con_id2`"
            :defaultValue="postData.con_id2"
            :disabled="false"
            :isError="error.con_id2"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <!-- <div class="col">
          <FloatLabelBox
            :config="{
              hasContent: (postData.import_forward && postData.import_forward!==''),
              label: `進口貨代`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`import_forward`"
            :defaultValue="postData.import_forward"
            :disabled="false"
            :isError="error.import_forward"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div> -->

        <div class="col">
          <!-- 進口貨代 -->
          <FloatLabelBox
          :config="{hasContent: (postData.import_forward && postData.import_forward!==''),
          label: '進口貨代',
          hasClearButton: true,
          background: 'light',
          type: `NewAutoComplete`,
          settings: {height: 41}}"
          :code="`import_forward`"
          :autoCompleteData="importForwardList"
          :defaultValue="postData.import_forward"
          :modalTitle="`進口貨代`"
          :toCloseModal="toCloseImportForwardAutocompleteModal"
          keyCode="custuserSetup"
          storeKey="custuser"
          returnCode="name"
          :showCols="autoCompleteShowImportForwardCols"
          @handleEnterSubmit="autocompleteHandleImportForwardEnterSubmitEvent"
          @changeModelEvent="ImportForwardAutocompleteChangeEvent"
          @autoCompleteSearchEvent="ImportForwardAutoCompleteSearchEvent"
          @setToCloseModalEvent="setToCloseImportForwardAutocompleteModal">
            <div>
              <!-- 進口貨代-->
              <AutocompleteModal
              keyCode="custuserSetup"
              storeKey="custuser"
              returnCode="name"
              :condition="ImportForwardCondition"
              :baseCondition="ImportForwardBaseCondition"
              @setAutocompleteValueEvent="setAutocompleteImportForwardValue"></AutocompleteModal>
            </div>
          </FloatLabelBox>
        </div>

        <div class="col">
          <!--進口報關行-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.import_forward_comp && postData.import_forward_comp!==''),
              label: `進口報關行`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`import_forward_comp`"
            :defaultValue="postData.import_forward_comp"
            :disabled="false"
            :isError="error.import_forward_comp"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--出口貨代-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.export_forward && postData.export_forward!==''),
              label: `出口貨代`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`export_forward`"
            :defaultValue="postData.export_forward"
            :disabled="false"
            :isError="error.export_forward"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--出口報關行-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.truck_id && postData.truck_id!==''),
              label: `出口報關行`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`truck_id`"
            :defaultValue="postData.truck_id"
            :disabled="false"
            :isError="error.truck_id"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--退櫃日-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.on_off_con_date && postData.on_off_con_date!==''),
              label: `退櫃日`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `DatePicker`,
              settings: {height: 41}}"
            :code="`on_off_con_date`"
            :defaultValue="postData.on_off_con_date"
            :disabled="false"
            :isError="error.on_off_con_date"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 取消 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.disable && postData.disable!==''),
              label: `取消 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="disableCatList"
            :code="`disable`"
            :defaultValue="postData.disable"
            :isError="error.disable"
            :isRequired="true"
            @changeModelEvent="disableCatListChangeEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 裝貨港 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.pol && postData.pol!==''),
              label: `裝貨港`,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {minHeight: 41}}"
            :code="`pol`"
            :defaultValue="postData.pol"
            :disabled="false"
            :isError="error.pol"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 卸貨港 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.pod && postData.pod!==''),
              label: `卸貨港`,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {minHeight: 41}}"
            :code="`pod`"
            :defaultValue="postData.pod"
            :disabled="false"
            :isError="error.pod"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 群創派遣人員 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inx_owner && postData.inx_owner!==''),
              label: `群創派遣人員`,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {minHeight: 41}}"
            :code="`inx_owner`"
            :defaultValue="postData.inx_owner"
            :disabled="false"
            :isError="error.inx_owner"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

      </div>
      <div class="footer">
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'OrderSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    AutocompleteModal,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      sys_ord_no: this.cloneData ? this.cloneData.sys_ord_no : null, // 系統訂單號
      cust_ord_no: this.cloneData ? this.cloneData.cust_ord_no : null, // 客戶訂單編號
      use_type_name: this.cloneData ? this.cloneData.use_type_name : null, // 運輸類型名稱
      use_type_name_name: this.cloneData ? this.cloneData.use_type_name_name : null, // 運輸類型名稱
      status: this.cloneData ? this.cloneData.status : null, // 訂單狀態代碼
      status_desc: this.cloneData ? this.cloneData.status_desc : null, // 訂單狀態
      booking_id: this.cloneData ? this.cloneData.booking_id : null, // Booking_ID
      booking_no: this.cloneData ? this.cloneData.booking_no : null, // 追蹤號碼
      use_date: this.cloneData ? this.cloneData.use_date : null, // 需求日
      so_no: this.cloneData ? this.cloneData.so_no : null, // S/O NO
      bl_no: this.cloneData ? this.cloneData.bl_no : null, // 提單號碼
      ship_comp: this.cloneData ? this.cloneData.ship_comp : null, // 船公司
      ship_name: this.cloneData ? this.cloneData.ship_name : null, // 船名
      ship_id: this.cloneData ? this.cloneData.ship_id : null, // 航次
      pickup_loc: this.cloneData ? this.cloneData.pickup_loc : null, // 領櫃地
      redeliv: this.cloneData ? this.cloneData.redeliv : null, // 交櫃地
      con_off_plant: this.cloneData ? this.cloneData.con_off_plant : null, // 卸櫃廠別
      on_con_plant: this.cloneData ? this.cloneData.on_con_plant : null, // 裝櫃廠別
      con_type: this.cloneData ? this.cloneData.con_type : null, // 櫃型
      con_id1: this.cloneData ? this.cloneData.con_id1 : null, // 櫃號1
      con_id2: this.cloneData ? this.cloneData.con_id2 : null, // 櫃號2
      import_forward: this.cloneData ? this.cloneData.import_forward : null, // 進口貨代
      import_forward_comp: this.cloneData ? this.cloneData.import_forward_comp : null, // 進口報關行
      export_forward: this.cloneData ? this.cloneData.export_forward : null, // 出口貨代
      export_forward_comp: this.cloneData ? this.cloneData.export_forward_comp : null, // 出口報關行
      truck_id: this.cloneData ? this.cloneData.truck_id : null, // 拖車公司
      on_off_con_date: this.cloneData ? this.cloneData.on_off_con_date : null, // 裝/退櫃日
      disable: this.cloneData ? this.cloneData.disable : null, // 裝/取消
      remark: this.cloneData ? this.cloneData.remark : null, // EIR註記
      pol: this.cloneData ? this.cloneData.pol : null, // 裝貨港
      pod: this.cloneData ? this.cloneData.pod : null, // 卸貨港
      inx_owner: this.cloneData ? this.cloneData.inx_owner : null // 群創派遣人員

    }
    return {
      //
      modalType: modalType,
      // detailData: {}, // 明細頁資訊
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      inherit: this.step !== 2,
      //
      /* 付款方式 */
      paymentMethodList: [],
      /* 付款條件 */
      paymentConditionList: [],
      /* 客戶類別 */
      OrderCatList: [],
      //
      /* 進口貨代 */
      toCloseImportForwardAutocompleteModal: false,
      importForwardList: [],
      autoCompleteShowImportForwardCols: [
        'id'
      ],
      toCloseStockUnitMinAutocompleteModal: false,
      stockUnitMinList: [],
      autoCompleteShowStockUnitMinCols: [
        'id'
      ],
      ImportForwardCondition: [],
      ImportForwardBaseCondition: [],
      //
      /* 訂單狀態 */
      customerCatList: [],
      disableCatList: [],
      //
      postData: postData,
      error: {

        sys_ord_no: false, // 系統訂單號
        cust_ord_no: false, // 客戶訂單編號
        use_type_name: false, // 運輸類型名稱
        use_type_name_name: false, // 運輸類型名稱
        status: false, // 訂單狀態代碼
        status_desc: false, // 訂單狀態
        booking_id: false, // Booking_ID
        booking_no: false, // 追蹤號碼
        use_date: false, // 需求日
        so_no: false, // S/O NO
        bl_no: false, // 提單號碼
        ship_comp: false, // 船公司
        ship_name: false, // 船名
        ship_id: false, // 航次
        pickup_loc: false, // 領櫃地
        redeliv: false, // 交櫃地
        con_off_plant: false, // 卸櫃廠別
        on_con_plant: false, // 裝櫃廠別
        con_type: false, // 櫃型
        con_id1: false, // 櫃號1
        con_id2: false, // 櫃號2
        import_forward: false, // 進口貨代
        import_forward_comp: false, // 進口報關行
        export_forward: false, // 出口貨代
        export_forward_comp: false, // 出口報關行
        truck_id: false, // 拖車公司
        on_off_con_date: false, // 裝/退櫃日
        disable: false, // 裝/取消
        remark: false, // EIR註記
        pol: false, // 裝貨港
        pod: false, // 卸貨港
        inx_owner: false // 群創派遣人員

      },
      errorMsgOrderDaysAllowedRule: ''
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    order: function () {
      return this.$store.state[`order`][`order`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    order: {
      handler: function (val) {
        // console.log('Order : ', val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        this.postData = {
          sys_ord_no: val.sys_ord_no || null, // 系統訂單號
          cust_ord_no: val.cust_ord_no || null, // 客戶訂單編號
          use_type_name: val.use_type_name || null, // 運輸類型名稱
          use_type_name_name: val.use_type_name_name || null, // 運輸類型名稱
          status: val.status || null, // 訂單狀態代碼
          status_desc: val.status_desc || null, // 訂單狀態
          booking_id: val.booking_id || null, // Booking_ID
          booking_no: val.booking_no || null, // 追蹤號碼
          use_date: val.use_date || null, // 需求日
          so_no: val.so_no || null, // S/O NO
          bl_no: val.bl_no || null, // 提單號碼
          ship_comp: val.ship_comp || null, // 船公司
          ship_name: val.ship_name || null, // 船名
          ship_id: val.ship_id || null, // 航次
          pickup_loc: val.pickup_loc || null, // 領櫃地
          redeliv: val.redeliv || null, // 交櫃地
          con_off_plant: val.con_off_plant || null, // 卸櫃廠別
          on_con_plant: val.on_con_plant || null, // 裝櫃廠別
          con_type: val.con_type || null, // 櫃型
          con_id1: val.con_id1 || null, // 櫃號1
          con_id2: val.con_id2 || null, // 櫃號2
          import_forward: val.import_forward || null, // 進口貨代
          import_forward_comp: val.import_forward_comp || null, // 進口報關行
          export_forward: val.export_forward || null, // 出口貨代
          export_forward_comp: val.export_forward_comp || null, // 出口報關行
          truck_id: val.truck_id || null, // 拖車公司
          on_off_con_date: val.on_off_con_date || null, // 裝/退櫃日
          disable: val.disable || null, // 裝/取消
          remark: val.remark || null, // EIR註記
          pol: val.pol || null, // 裝貨港
          pod: val.pod || null, // 卸貨港
          inx_owner: val.inx_owner || null // 群創派遣人員

        }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.sys_ord_no) {
          this.error.Order_no = false
        }
        // if (val.Order_name) {
        //   this.error.Order_name = false
        // }
        // if (val.Order_cat_name) {
        //   this.error.Order_cat_name = false
        // }
        //
        if (!val.order_days_allowed_rule) {
          this.error.order_days_allowed_rule = false
        } else {
          let rex = /[/]/g
          if (rex.test(val.order_days_allowed_rule)) {
            let strArry = val.order_days_allowed_rule.split('/', 2)
            let arr = [Number(strArry[0]), Number(strArry[1])]
            if (Number.isInteger(arr[0]) && arr[0] > 0 && Number.isInteger(arr[1]) && arr[1] > 0 && arr[1] > arr[0]) {
              this.error.order_days_allowed_rule = false
            }
          }
        }
        if (this.inherit) {
          val.address_invoice = this.postData.address
        }
      },
      deep: true
    },
    //
    inherit: function (bol) {
      // console.log(bol)
      if (bol) {
        this.postData.address_invoice = this.postData.address
      }
    }
  },
  methods: {
    init: function () {
      this.autoCompleteCompanyData = []
      this.autoCompleteRegionData = []
      this.autoCompleteCountryData = []
      this.autoCompleteProvinceData = []
      this.autoCompleteDistrictData = []
      this.autoCompleteContactData = []
      this.postData = {

        sys_ord_no: null, // 系統訂單號
        cust_ord_no: null, // 客戶訂單編號
        use_type_name: null, // 運輸類型名稱
        use_type_name_name: null, // 運輸類型名稱
        status: null, // 訂單狀態代碼
        disable: null, // 訂單狀態代碼
        status_desc: null, // 訂單狀態
        booking_id: null, // Booking_ID
        booking_no: null // 追蹤號碼

        // is_enabled: 1
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (detailId) {
      this.$store.dispatch(`order/queryDetail`, detailId).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    setOrderEvent: function (data) {
      // console.log(data)
      if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    //
    save: function (action = null) {
      // console.log(this.postData)
      let isError = false

      //
      if (isError) {
        return
      }
      //
      let postData = {
        sys_ord_no: this.postData.sys_ord_no, // 客戶編號
        cust_ord_no: this.postData.cust_ord_no // 客戶名稱
      }
      Object.keys(this.postData).forEach((key, idx) => {
        // console.log(key)
        // console.log(this.postData[key])
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'created_at') {
            return
          }
          if (key === 'update_at') {
            return
          }
          if (key === 'is_enabled') {
            let value = Number(this.postData[key])
            // console.log(value)
            postData[key] = value
          } else if (key === 'order_days_allowed_rule') {
            let strArry = this.postData.order_days_allowed_rule.split('/', 2)
            postData[key] = `${Number(strArry[0])}/${Number(strArry[1])}`
          } else {
            let value = this.postData[key]
            postData[key] = value
          }
        } else if (this.step === 2 && action !== 'clone' && !this.postData[key] && this.postData[key] !== 0) {
          if (key === 'created_at') {
            return
          }
          if (key === 'updated_at') {
            return
          }
          postData[key] = null
        }
      })
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('order/create', postData).then((r) => {
            // console.log(r)
            // console.log(r)
            if (r.success) {
              this.postData.order_id = r.data.order_id
              this.postData.sys_ord_no = r.data.sys_ord_no
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['order_id']
            this.$store.dispatch('order/create', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                this.postData.order_id = r.data.order_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', this.postData, 2)
              } else {
                this.$Notice.error({
                  title: '新增失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          } else {
            // update
            // console.log('update')
            this.$store.dispatch('order/update', { postData: postData, detailId: this.detailId }).then((r) => {
              // console.log(r)
              if (r.success) {
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData['order_id']
          this.$store.dispatch('order/create', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.postData.order_id = r.data.order_id
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
      }
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 付款方式 */
    paymentMethodListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getPaymentMethodList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 7]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let paymentMethodList = []
          if (list) {
            list.forEach((ele, idx) => {
              paymentMethodList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.paymentMethodList = paymentMethodList
          // console.log(this.paymentMethodList)
        }
      })
    },
    /* 付款條件 */
    paymentConditionListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      // this.postData[data.code] = data.val
      this.postData.payment_condition = data.val
    },
    getPaymentConditionList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 8]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let paymentConditionList = []
          if (list) {
            list.forEach((ele, idx) => {
              paymentConditionList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.paymentConditionList = paymentConditionList
          // console.log(this.paymentConditionList)
        }
      })
    },
    /* 重量-單位 : import_forward */
    autocompleteHandleImportForwardEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // this.postData.import_forward = null
      // 設定其他資料處 end
      this.importForwardList = []
    },
    setAutocompleteStockUnitMinValue: function (data) {
      console.log(data)
      //
      this.postData.import_forward = data.data[data.returnCode]
      // console.log(this.postData.stock_unit)
      //
      this.toCloseStockUnitMinAutocompleteModal = true
    },
    ImportForwardAutocompleteChangeEvent: function (data) {
      console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        // this.postData.import_forward = data.val ? data.val.unit_id : ''
        // console.log(this.postData.import_forward)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.importForwardList = [data.val]
      } else {
        this.importForwardList = []
      }
    },
    ImportForwardAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.ImportForwardBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.importForwardList = list
        }
      })
    },
    setAutocompleteImportForwardValue: function (data) {
      console.log(data)
      //
      this.postData.import_forward = data.data[data.returnCode]
      // this.postData.import_forward = data.data.unit_id
      // console.log(this.postData.import_forward)
      //
      this.toCloseImportForwardAutocompleteModal = true
    },
    setToCloseStockUnitMinAutocompleteModal: function (bol) {
      this.toCloseStockUnitMinAutocompleteModal = bol
    },
    setToCloseImportForwardAutocompleteModal: function (bol) {
      this.toCloseImportForwardAutocompleteModal = bol
    },
    /* 狀態 */
    customerCatListChangeEvent: function (data) {
      // console.log(data)
      this.postData['status_desc'] = data.val
      this.postData[data.code] = data.val
    },
    getCustomerCatList: function () {
      this.customerCatList = [
        {
          value: '待交(退)櫃',
          label: '待交(退)櫃'
        },
        {
          value: '待裝櫃',
          label: '待裝櫃'
        },
        {
          value: '結案',
          label: '結案'
        },
        {
          value: '待拆櫃',
          label: '待拆櫃'
        },
        {
          value: '可用空櫃',
          label: '可用空櫃'
        },
        {
          value: '櫃損已拆未退',
          label: '櫃損已拆未退'
        }
      ]
    },
    disableCatListChangeEvent: function (data) {
      // console.log(data.val)
      this.postData['disable'] = data.val
    },
    getDisableCatList: function () {
      this.disableCatList = [
        {
          value: 2,
          label: '否'
        },
        {
          value: 1,
          label: '是'
        }
      ]
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.detailId)
    // this.getOrderCatList()
    // this.getPaymentMethodList()
    // this.getPaymentConditionList()
    //
    this.getCustomerCatList()
    this.getDisableCatList()
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    if (this.step !== 2) {
      this.inherit = true
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    // this.$store.dispatch(`Order/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 16px;
            color: #3c3c3c;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      // height: auto;
      // display: flex;
      // justify-content: flex-end;
      // align-items: flex-end;
      // flex-direction: column;
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #e2c57f;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
  color: #fff;
}
</style>
