<template>
  <!-- PutInStep -->
  <div class="timeline">
    <!-- 入庫通知 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===2 ? 'active' : '',
      step===4 ? 'canGo' : '',
      step>4 ? 'finish' : ''
    ]"
    :disabled="step!==4"
    @click="setInboundStasus('backAccept')">
      <div class="icon"><font-awesome-icon icon="bell" /></div>
      <div class="content">
        <div class="timeline-title">入庫通知</div>
        <div class="timeline-time">{{data ? data.date_inbound ? data.date_inbound.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 驗收 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===4 ? 'active' : '',
      step===2 || step===5 ? 'canGo' : '',
      step>5 ? 'finish' : ''
    ]"
    :disabled="step!==2 && step!==5"
    @click="setInboundStasus(step===2 ? 'accept' : 'backQualityInspection')">
      <div class="icon"><font-awesome-icon icon="boxes" /></div>
      <div class="content">
        <div class="timeline-title">驗收</div>
        <div class="timeline-time">{{data ? data.date_quantity_check ? data.date_quantity_check.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 品檢 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===5 ? 'active' : '',
      step===4 || step===7 ? 'canGo' : '',
      step>6 ? 'finish' : ''
    ]"
    :disabled="step!==4 && step!==7"
    @click="setInboundStasus('qualityInspection')">
      <div class="icon" v-if="step === 5">
        <svg xmlns="http://www.w3.org/2000/svg" width="16.768" height="15.039" viewBox="0 0 16.768 15.039">
          <path id="quality" data-name="quality" d="M-4518.458,15.1a.168.168,0,0,1-.168-.168.843.843,0,0,1,.842-.842h.844V11.619a3.047,3.047,0,0,1-2.348-3.248l.336-3.753a.334.334,0,0,1,.331-.307h1.857l.585.849-1.751,1.2,2.558,2.6-.983-2.242,1.745-1.184-.529-1.228h1.227a.334.334,0,0,1,.331.307l.335,3.752a3.047,3.047,0,0,1-2.348,3.249v2.469h.844a.843.843,0,0,1,.842.842.168.168,0,0,1-.168.168Zm-5.765-.329L-4520.281.06l.981.263-3.942,14.711Zm-4.934-3.913a.17.17,0,0,1-.169-.169.843.843,0,0,1,.844-.842h.842V7.376a3.046,3.046,0,0,1-2.347-3.248l.335-3.753a.335.335,0,0,1,.332-.307h4.709a.332.332,0,0,1,.33.307l.336,3.753a3.048,3.048,0,0,1-2.348,3.248V9.846h.844a.843.843,0,0,1,.842.842.169.169,0,0,1-.168.169Z" transform="translate(4530 -0.06)" fill="#118cf8"/>
        </svg>
      </div>
      <div class="icon" v-if="step === 4 || step === 7">
        <svg xmlns="http://www.w3.org/2000/svg" width="16.768" height="15.039" viewBox="0 0 16.768 15.039">
          <path id="quality" data-name="quality" d="M-4518.458,15.1a.168.168,0,0,1-.168-.168.843.843,0,0,1,.842-.842h.844V11.619a3.047,3.047,0,0,1-2.348-3.248l.336-3.753a.334.334,0,0,1,.331-.307h1.857l.585.849-1.751,1.2,2.558,2.6-.983-2.242,1.745-1.184-.529-1.228h1.227a.334.334,0,0,1,.331.307l.335,3.752a3.047,3.047,0,0,1-2.348,3.249v2.469h.844a.843.843,0,0,1,.842.842.168.168,0,0,1-.168.168Zm-5.765-.329L-4520.281.06l.981.263-3.942,14.711Zm-4.934-3.913a.17.17,0,0,1-.169-.169.843.843,0,0,1,.844-.842h.842V7.376a3.046,3.046,0,0,1-2.347-3.248l.335-3.753a.335.335,0,0,1,.332-.307h4.709a.332.332,0,0,1,.33.307l.336,3.753a3.048,3.048,0,0,1-2.348,3.248V9.846h.844a.843.843,0,0,1,.842.842.169.169,0,0,1-.168.169Z" transform="translate(4530 -0.06)" fill="#fff"/>
        </svg>
      </div>
      <div class="icon" v-if="step < 4">
        <svg xmlns="http://www.w3.org/2000/svg" width="16.768" height="15.039" viewBox="0 0 16.768 15.039">
          <path id="quality" data-name="quality" d="M-4518.458,15.1a.168.168,0,0,1-.168-.168.843.843,0,0,1,.842-.842h.844V11.619a3.047,3.047,0,0,1-2.348-3.248l.336-3.753a.334.334,0,0,1,.331-.307h1.857l.585.849-1.751,1.2,2.558,2.6-.983-2.242,1.745-1.184-.529-1.228h1.227a.334.334,0,0,1,.331.307l.335,3.752a3.047,3.047,0,0,1-2.348,3.249v2.469h.844a.843.843,0,0,1,.842.842.168.168,0,0,1-.168.168Zm-5.765-.329L-4520.281.06l.981.263-3.942,14.711Zm-4.934-3.913a.17.17,0,0,1-.169-.169.843.843,0,0,1,.844-.842h.842V7.376a3.046,3.046,0,0,1-2.347-3.248l.335-3.753a.335.335,0,0,1,.332-.307h4.709a.332.332,0,0,1,.33.307l.336,3.753a3.048,3.048,0,0,1-2.348,3.248V9.846h.844a.843.843,0,0,1,.842.842.169.169,0,0,1-.168.169Z" transform="translate(4530 -0.06)" fill="#ACACAC"/>
        </svg>
      </div>
      <div class="content">
        <div class="timeline-title">品檢</div>
        <div class="timeline-time">{{data ? data.date_quality_check ? data.date_quality_check.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 上架 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===6 || step===7 ? 'active' : '',
      step===5 ? 'canGo' : '',
      step>=6 ? 'finish' : ''
    ]"
    :disabled="step!==5"
    @click="setInboundStasus('putaway')">
      <div class="icon" v-if="step === 5">
        <svg xmlns="http://www.w3.org/2000/svg" width="16.953" height="14.834" viewBox="0 0 16.953 14.834">
          <path id="shelves" d="M4.945,3.444V6.093a.8.8,0,0,1-.795.795H.795A.8.8,0,0,1,0,6.093V3.444a.8.8,0,0,1,.795-.795H4.15A.8.8,0,0,1,4.945,3.444ZM16.953.795h0A.8.8,0,0,0,16.159,0H.795A.8.8,0,0,0,0,.795H0a.8.8,0,0,0,.795.795H16.159A.8.8,0,0,0,16.953.795ZM12.009,3.444V6.093a.8.8,0,0,0,.795.795h3.355a.8.8,0,0,0,.795-.795V3.444a.8.8,0,0,0-.795-.795H12.8A.8.8,0,0,0,12.009,3.444Zm-1.06,2.649V3.444a.8.8,0,0,0-.795-.795H6.8A.8.8,0,0,0,6,3.444V6.093a.8.8,0,0,0,.795.795h3.355A.8.8,0,0,0,10.949,6.093Zm5.21,1.854H.795A.8.8,0,0,0,0,8.742H0a.8.8,0,0,0,.795.795H16.159a.8.8,0,0,0,.795-.795h0A.8.8,0,0,0,16.159,7.947ZM0,11.391v2.649a.8.8,0,0,0,.795.795H4.15a.8.8,0,0,0,.795-.795V11.391A.8.8,0,0,0,4.15,10.6H.795A.8.8,0,0,0,0,11.391Zm12.8,3.444h3.355a.8.8,0,0,0,.795-.795V11.391a.8.8,0,0,0-.795-.795H12.8a.8.8,0,0,0-.795.795v2.649A.8.8,0,0,0,12.8,14.834ZM6,11.391v2.649a.8.8,0,0,0,.795.795h3.355a.8.8,0,0,0,.795-.795V11.391a.8.8,0,0,0-.795-.795H6.8A.8.8,0,0,0,6,11.391Z" transform="translate(16.953 14.834) rotate(180)" fill="#fff"/>
        </svg>
      </div>
      <div class="icon" v-if="step === 6 || step === 7">
        <svg xmlns="http://www.w3.org/2000/svg" width="16.953" height="14.834" viewBox="0 0 16.953 14.834">
          <path id="shelves" d="M4.945,3.444V6.093a.8.8,0,0,1-.795.795H.795A.8.8,0,0,1,0,6.093V3.444a.8.8,0,0,1,.795-.795H4.15A.8.8,0,0,1,4.945,3.444ZM16.953.795h0A.8.8,0,0,0,16.159,0H.795A.8.8,0,0,0,0,.795H0a.8.8,0,0,0,.795.795H16.159A.8.8,0,0,0,16.953.795ZM12.009,3.444V6.093a.8.8,0,0,0,.795.795h3.355a.8.8,0,0,0,.795-.795V3.444a.8.8,0,0,0-.795-.795H12.8A.8.8,0,0,0,12.009,3.444Zm-1.06,2.649V3.444a.8.8,0,0,0-.795-.795H6.8A.8.8,0,0,0,6,3.444V6.093a.8.8,0,0,0,.795.795h3.355A.8.8,0,0,0,10.949,6.093Zm5.21,1.854H.795A.8.8,0,0,0,0,8.742H0a.8.8,0,0,0,.795.795H16.159a.8.8,0,0,0,.795-.795h0A.8.8,0,0,0,16.159,7.947ZM0,11.391v2.649a.8.8,0,0,0,.795.795H4.15a.8.8,0,0,0,.795-.795V11.391A.8.8,0,0,0,4.15,10.6H.795A.8.8,0,0,0,0,11.391Zm12.8,3.444h3.355a.8.8,0,0,0,.795-.795V11.391a.8.8,0,0,0-.795-.795H12.8a.8.8,0,0,0-.795.795v2.649A.8.8,0,0,0,12.8,14.834ZM6,11.391v2.649a.8.8,0,0,0,.795.795h3.355a.8.8,0,0,0,.795-.795V11.391a.8.8,0,0,0-.795-.795H6.8A.8.8,0,0,0,6,11.391Z" transform="translate(16.953 14.834) rotate(180)" fill="#118cf8"/>
        </svg>
      </div>
      <div class="icon" v-if="step < 5">
        <svg xmlns="http://www.w3.org/2000/svg" width="16.953" height="14.834" viewBox="0 0 16.953 14.834">
          <path id="shelves" d="M4.945,3.444V6.093a.8.8,0,0,1-.795.795H.795A.8.8,0,0,1,0,6.093V3.444a.8.8,0,0,1,.795-.795H4.15A.8.8,0,0,1,4.945,3.444ZM16.953.795h0A.8.8,0,0,0,16.159,0H.795A.8.8,0,0,0,0,.795H0a.8.8,0,0,0,.795.795H16.159A.8.8,0,0,0,16.953.795ZM12.009,3.444V6.093a.8.8,0,0,0,.795.795h3.355a.8.8,0,0,0,.795-.795V3.444a.8.8,0,0,0-.795-.795H12.8A.8.8,0,0,0,12.009,3.444Zm-1.06,2.649V3.444a.8.8,0,0,0-.795-.795H6.8A.8.8,0,0,0,6,3.444V6.093a.8.8,0,0,0,.795.795h3.355A.8.8,0,0,0,10.949,6.093Zm5.21,1.854H.795A.8.8,0,0,0,0,8.742H0a.8.8,0,0,0,.795.795H16.159a.8.8,0,0,0,.795-.795h0A.8.8,0,0,0,16.159,7.947ZM0,11.391v2.649a.8.8,0,0,0,.795.795H4.15a.8.8,0,0,0,.795-.795V11.391A.8.8,0,0,0,4.15,10.6H.795A.8.8,0,0,0,0,11.391Zm12.8,3.444h3.355a.8.8,0,0,0,.795-.795V11.391a.8.8,0,0,0-.795-.795H12.8a.8.8,0,0,0-.795.795v2.649A.8.8,0,0,0,12.8,14.834ZM6,11.391v2.649a.8.8,0,0,0,.795.795h3.355a.8.8,0,0,0,.795-.795V11.391a.8.8,0,0,0-.795-.795H6.8A.8.8,0,0,0,6,11.391Z" transform="translate(16.953 14.834) rotate(180)" fill="#ACACAC"/>
        </svg>
      </div>
      <div class="content">
        <div class="timeline-title">上架</div>
        <div class="timeline-time">{{data ? data.date_put_away ? data.date_put_away.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
  </div>
</template>

<script>
export default {
  name: 'PutInStep',
  props: [
    'data',
    'step'
  ],
  components: {},
  data () {
    //
    return {
      //
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    data: {
      handler: function (val) {
        console.log(val)
      },
      deep: true
    }
  },
  methods: {
    setInboundStasus (data) {
      // console.log(data)
      this.$emit('setInboundStasus', data)
    }
  },
  created () {
    //
  },
  mounted () {
    //
    console.log(this.step)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.timeline {
  /deep/
  .ivu-btn {
    height: 54px;
    font-size: 16px;
    border: 1px solid #ACACAC;
    color: #ACACAC;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    cursor: not-allowed;
    padding: 0 34px;
    &::before {
      content: "";
      display: none;
      position: absolute;
      width: 54px;
      height: 54px;
      opacity: 1;
      z-index: 0;
      transform: rotate(45deg) scale(.7);
      left: -28px;
      border-left: 1px solid #ACACAC;
      border-bottom: 1px solid #ACACAC;
      border-radius: 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 54px;
      height: 54px;
      opacity: 1;
      transform: rotate(45deg) scale(.7);
      right: -28px;
      top: -1px;
      border-right: 1px solid #ACACAC;
      border-top: 1px solid #ACACAC;
      border-radius: 0;
      z-index: 2;
    }
    >span {
      display: flex;
      align-items: center;
      position: relative;
    }
    .icon {
      margin-right: 8px;
    }
    .timeline-time {
      font-size: 12px;
    }
    &:first-of-type {
      border-radius: 54px 0 0 54px;
      &.active {
        &::before {
          display: none;
        }
      }
    }
    &:last-of-type {
      border-radius: 0 54px 54px 0;
      &::after {
        display: none;
      }
      &.active {
        &::before, &::after {
          display: none;
        }
      }
    }
    &.finish {
      &::before, &::after {
        display: none;
      }
    }
    &.dark {
      border-left: 1px solid #3c3c3c;
      &::before, &::after {
        background: #3c3c3c;
      }
      &:first-of-type {
        border-left: 1px solid #ACACAC;
      }
    }
    &.light {
      border-left: 1px solid #fff;
      &::before, &::after {
        background: #fff;
      }
      &:first-of-type {
        border-left: 1px solid #ACACAC;
      }
    }
    &.active {
      border: 1px solid #e0f0ff!important;
      color: #118cf8;
      background-color: #e0f0ff;
      z-index: 2;
      &::before {
        display: block;
        background: #e0f0ff;
        border: 1px solid #e0f0ff;
      }
      &::after {
        display: block;
        background: #e0f0ff;
        border: 1px solid #e0f0ff;
      }
    }
    &.canGo {
      border: 1px solid #118cf8!important;
      color: #fff;
      background-color: #118cf8;
      cursor: pointer;
      &::before {
        background: #118cf8;
        border: 1px solid #118cf8;
      }
      &::after {
        background: #118cf8;
        border: 1px solid #118cf8;
      }
    }
  }
}
</style>
