<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab ml-3"
        :class="[
          userInfo.themeColor,
          changeContent === 'details' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'details'"
        type="default"
        shape="circle"
      >品檢明細</Button>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="grid-layout-container">
        <grid-layout
          :layout.sync="editLayoutToggle ? layout1 : lay1"
          :col-num="13"
          :row-height="55"
          :is-draggable="editLayoutToggle"
          :is-resizable="editLayoutToggle"
          :is-mirrored="false"
          :vertical-compact="true"
          :margin="[50, 25]"
          :use-css-transforms="true"
        >
          <grid-item
            v-for="(item, index) in editLayoutToggle ? layout1 : lay1"
            :key="index"
            :x="item.x"
            :y="item.y"
            :w="item.w"
            :h="item.h"
            :i="item.i"
            :class="{'grid-item-box': true, 'isShow': (item.isShow && editLayoutToggle), 'isHide': (!item.isShow && editLayoutToggle)}">
            <!-- x btn -->
            <div
              class="hideBtn"
              v-if="item.isShow && editLayoutToggle"
              @click="hide_lay1(item.key, index)"
            >
              <font-awesome-icon icon="times" />
            </div>
            <!-- + btn -->
            <div
              class="showBtn"
              v-if="!item.isShow && editLayoutToggle"
              @click="show_lay1(item.key, index)"
            >
              <font-awesome-icon icon="plus" />
            </div>
            <!-- 單據編號/單號 inbound_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_no' || item.isShow && item.key === 'inbound_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_no && postData.inbound_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_no`"
                :defaultValue="postData.inbound_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫單狀態 inbound_status -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_status' || item.isShow && item.key === 'inbound_status'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_status && postData.inbound_status!==''), label: `${item.label}`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
                :selectList="inboundStatusList"
                :code="`inbound_status`"
                :defaultValue="postData.inbound_status"
                :disabled="true"
                @changeModelEvent="inboundStatusListChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 進倉單號 inbound_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_bill_no' || item.isShow && item.key === 'inbound_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_bill_no && postData.inbound_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_bill_no`"
                :defaultValue="postData.inbound_bill_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 主單號(MAWB) main_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'main_bill_no' || item.isShow && item.key === 'main_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.main_bill_no && postData.main_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`main_bill_no`"
                :defaultValue="postData.main_bill_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 分單號(HAWB) sub_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'sub_bill_no' || item.isShow && item.key === 'sub_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.sub_bill_no && postData.sub_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`sub_bill_no`"
                :defaultValue="postData.sub_bill_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 訂單編號 owner_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'owner_bill_no' || item.isShow && item.key === 'owner_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.owner_bill_no && postData.owner_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`owner_bill_no`"
                :defaultValue="postData.owner_bill_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨櫃號碼 container_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'container_no' || item.isShow && item.key === 'container_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.container_no && postData.container_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`container_no`"
                :defaultValue="postData.container_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨櫃類別代碼 container_type_code -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'container_type_code' || item.isShow && item.key === 'container_type_code'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.container_type_code && postData.container_type_code!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`container_type_code`"
                :defaultValue="postData.container_type_code"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨主代碼 owner_id -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'owner_id' || item.isShow && item.key === 'owner_id'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.owner_name && postData.owner_name!==''), label: `${item.label}`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true}"
                :code="`owner_name`"
                :autoCompleteData="ownerList"
                :defaultValue="postData.owner_name"
                :disabled="true"
                :modalTitle="`貨主代碼`"
                :toCloseModal="toCloseOwnerAutocompleteModal"
                keyCode="customerSetup"
                storeKey="customerByCmpCat"
                returnCode="customer_name"
                :showCols="autoCompleteShowOwnerCols"
                @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
                @changeModelEvent="ownerAutocompleteChangeEvent"
                @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
                  <div>
                    <!-- 貨主代碼-->
                    <AutocompleteModal
                    keyCode="customerSetup"
                    storeKey="customerByCmpCat"
                    returnCode="customer_name"
                    :apiUrlCondition="setAutocompleteOwnerApiUrl"
                    :condition="ownerCondition"
                    @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
                  </div>
                </FloatLabelBox>
            </div>
            <!-- 供應商代碼 vendor_id -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'vendor_id' || item.isShow && item.key === 'vendor_id'"
            >
              <FloatLabelBox
              :config="{hasContent: (postData.vendor_name && postData.vendor_name!==''), label: `${item.label}`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 55}, hiddenSearchBtn: true}"
              :code="`vendor_name`"
              :autoCompleteData="vendorList"
              :defaultValue="postData.vendor_name"
              :disabled="true"
              :modalTitle="`供應商代碼`"
              :toCloseModal="toCloseVendorAutocompleteModal"
              keyCode="customerSetup"
              storeKey="customerByCmpCat"
              returnCode="customer_name"
              :showCols="autoCompleteShowVendorCols"
              @handleEnterSubmit="autocompleteHandleVendorEnterSubmitEvent"
              @changeModelEvent="vendorAutocompleteChangeEvent"
              @autoCompleteSearchEvent="vendorAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseVendorAutocompleteModal">
                <div>
                  <!-- 供應商代碼-->
                  <AutocompleteModal
                  keyCode="customerSetup"
                  storeKey="customerByCmpCat"
                  returnCode="customer_name"
                  respondCode= "customer"
                  :apiUrlCondition="setAutocompleteVendorApiUrl"
                  :condition="vendorCondition"
                  @setAutocompleteValueEvent="setAutocompleteVendorValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
            </div>
            <!-- 預計入庫日 inbound_expect -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_expect' || item.isShow && item.key === 'inbound_expect'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_expect && postData.inbound_expect!==''), label: `${item.label}`, hasClearButton: true, type: `DatePicker`, settings: {width: 350, height: 52}}"
                :code="`inbound_expect`"
                :defaultValue="postData.inbound_expect"
                :disabled="true"
                @changeModelEvent="inboundExpectDatePickerChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫取消類別 inbound_cancel_type -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_cancel_type' || item.isShow && item.key === 'inbound_cancel_type'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_cancel_type && postData.inbound_cancel_type!==''), label: `${item.label}`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
                :selectList="inboundCancelTypeList"
                :code="`inbound_cancel_type`"
                :defaultValue="postData.inbound_cancel_type"
                :disabled="true"
                @changeModelEvent="inboundCancelTypeListChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 板數 inbound_pallets -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_pallets' || item.isShow && item.key === 'inbound_pallets'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_pallets && postData.inbound_pallets!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_pallets`"
                :defaultValue="postData.inbound_pallets"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 箱數 inbound_boxes -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_boxes' || item.isShow && item.key === 'inbound_boxes'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_boxes && postData.inbound_boxes!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_boxes`"
                :defaultValue="postData.inbound_boxes"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫單備註 inbound_note -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_note' || item.isShow && item.key === 'inbound_note'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_note && postData.inbound_note!==''), label: `${item.label}`, hasClearButton: true, type: `Textarea`, settings: {minHeight: 52}}"
                :code="`inbound_note`"
                :defaultValue="postData.inbound_note"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
          </grid-item>
        </grid-layout>
      </div>
    </div>
    <div class="pt-4" v-show="changeContent === 'details'">
      <!-- 原出庫單號 return_from_outbound_no -->
      <div class="mb-3">
        <FloatLabelBox
          :config="{hasContent: (postData.return_from_outbound_no && postData.return_from_outbound_no!==''), label: `原出庫單號`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 350, height: 52}, hiddenSearchBtn: true}"
          :code="`return_from_outbound_no`"
          :autoCompleteData="returnFromOutboundNoList"
          :defaultValue="postData.return_from_outbound_no"
          :modalTitle="`原出庫單號`"
          :toCloseModal="toCloseReturnFromOutboundNoAutocompleteModal"
          keyCode="outboundOperation"
          storeKey="outboundOperation"
          returnCode="outbound_no"
          :disabled="true"
          :showCols="autoCompleteShowReturnFromOutboundNoCols"
          @handleEnterSubmit="autocompleteHandleReturnFromOutboundNoEnterSubmitEvent"
          @changeModelEvent="returnFromOutboundNoAutocompleteChangeEvent"
          @autoCompleteSearchEvent="returnFromOutboundNoAutoCompleteSearchEvent"
          @setToCloseModalEvent="setToCloseReturnFromOutboundNoAutocompleteModal">
            <div>
              <!-- 原出庫單號 -->
              <AutocompleteModal
              keyCode="outboundOperation"
              storeKey="outboundOperation"
              returnCode="outbound_no"
              respondCode= "outboundList"
              :condition="returnFromOutboundNoCondition"
              @setAutocompleteValueEvent="setAutocompleteReturnFromOutboundNoValue"></AutocompleteModal>
            </div>
          </FloatLabelBox>
        </div>
    <!-- 品保明細 -->
    <ReturnAcceptanceDetails
      ref="initReturnAcceptanceDetailsList"
      :changeContent="changeContent"
      :detailId="detailId"
      :companyId="companyId"
      :whId="whId"
      @gridDataChangeEvent="returnAcceptanceDetailsListChangeEvent"
    ></ReturnAcceptanceDetails>
    </div>
    <!-- 時間軸 -->
    <div class="step1" v-show="changeContent !== 'details'">
      <Step1 :width="165" :data="stepReturnData"></Step1>
    </div>
    <!-- save btn -->
    <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div>
    <!-- save modal -->
    <ComfirmSaveModal
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
/**
 * 1.
 * owner_id 需要去拉 查詢 customer_cat = 1 (貨主)
 * 2.
 * vendor_id 需要去拉 查詢 customer_cat = 2 (供應商)
 * 3.
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import VueGridLayout from 'vue-grid-layout'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ReturnAcceptanceDetails from './ReturnAcceptanceDetails'
import Step1 from '@/components/Step/Step1'
//
export default {
  name: 'ReturnAcceptanceAdd',
  props: ['step', 'detailId', 'editLayoutToggle', 'layoutMainInbound', 'layout_1', 'cloneData', 'companyId', 'whId', 'userId', 'timeZoneTimestamp', 'showInpageTab'],
  components: {
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    AutocompleteModal,
    ReturnAcceptanceDetails,
    Step1
  },
  data () {
    // 時間軸
    let stepReturnData = [
      {
        label: '退貨入庫通知',
        date: '',
        time: '',
        status: 0, // 是否完成 0:未完成 / 1:完成
        isStartNode: true, // 是否始點
        isEndNode: false // 是否為終點
      },
      {
        label: '退貨已驗收',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '退貨已品檢',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '退貨已上架',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '上架確認',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: true
      }
    ]
    // 商品建檔 - 1
    let layout1 = this.layoutMainInbound[0] || [
      { 'x': 0, 'y': 0, 'w': 3, 'h': 1, 'i': '0', 'label': '單據編號/單號', 'key': 'inbound_no', isShow: true }, // 單據編號/單號
      { 'x': 3, 'y': 0, 'w': 3, 'h': 1, 'i': '1', 'label': '入庫單狀態', 'key': 'inbound_status', isShow: true }, // 入庫單狀態
      { 'x': 6, 'y': 0, 'w': 3, 'h': 1, 'i': '2', 'label': '進倉單號', 'key': 'inbound_bill_no', isShow: true }, // 進倉單號
      { 'x': 9, 'y': 0, 'w': 3, 'h': 1, 'i': '3', 'label': '主單號(MAWB)', 'key': 'main_bill_no', isShow: true }, // 主單號(MAWB)
      //
      { 'x': 0, 'y': 1, 'w': 3, 'h': 1, 'i': '4', 'label': '分單號(HAWB)', 'key': 'sub_bill_no', isShow: true }, // 分單號(HAWB)
      { 'x': 3, 'y': 1, 'w': 3, 'h': 1, 'i': '5', 'label': '訂單編號 *', 'key': 'owner_bill_no', isShow: true }, // 訂單編號
      { 'x': 6, 'y': 1, 'w': 3, 'h': 1, 'i': '6', 'label': '貨櫃號碼', 'key': 'container_no', isShow: true }, // 貨櫃號碼
      { 'x': 9, 'y': 1, 'w': 3, 'h': 1, 'i': '7', 'label': '貨櫃類別代碼', 'key': 'container_type_code', isShow: true }, // 貨櫃類別代碼
      //
      { 'x': 0, 'y': 2, 'w': 3, 'h': 1, 'i': '8', 'label': '貨主代碼 *', 'key': 'owner_id', isShow: true }, // 貨主ID
      { 'x': 3, 'y': 2, 'w': 3, 'h': 1, 'i': '9', 'label': '供應商代碼', 'key': 'vendor_id', isShow: true }, // 供應商ID
      { 'x': 6, 'y': 2, 'w': 3, 'h': 1, 'i': '10', 'label': '預計入庫日', 'key': 'inbound_expect', isShow: true }, // 預計入庫日
      { 'x': 9, 'y': 2, 'w': 3, 'h': 1, 'i': '11', 'label': '板數', 'key': 'inbound_pallets', isShow: true }, // 板數
      //
      { 'x': 0, 'y': 3, 'w': 3, 'h': 1, 'i': '12', 'label': '箱數', 'key': 'inbound_boxes', isShow: true }, // 箱數
      { 'x': 3, 'y': 3, 'w': 6, 'h': 1, 'i': '13', 'label': '入庫單備註', 'key': 'inbound_note', isShow: true }, // 入庫單備註
      { 'x': 6, 'y': 3, 'w': 3, 'h': 1, 'i': '14', 'label': '入庫取消類別', 'key': 'inbound_cancel_type', isShow: false } // 入庫取消類別
    ]
    //
    var userName = this.$store.state.auth.userInfo.userName
    //
    let date = new Date()
    let timestamp = date.getTime()
    //
    let postData = {
      inbound_id: this.cloneData ? this.cloneData.inbound_id : '', // 入庫紀錄ID
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      company_name: this.cloneData ? this.cloneData.company_name : '', // 公司
      wh_id: this.cloneData ? this.cloneData.wh_id : this.whId, // 倉庫ID
      wh_name: this.cloneData ? this.cloneData.wh_name : '', // 倉庫
      inbound_no: '', // 單據編號/單號
      inbound_status: '', // 入庫單狀態
      inbound_bill_no: this.cloneData ? this.cloneData.inbound_bill_no : '', // 進倉單號
      main_bill_no: this.cloneData ? this.cloneData.main_bill_no : '', // 主單號(MAWB)
      sub_bill_no: this.cloneData ? this.cloneData.sub_bill_no : '', // 分單號(HAWB)
      owner_bill_no: this.cloneData ? this.cloneData.owner_bill_no : '', // 訂單編號
      container_no: this.cloneData ? this.cloneData.container_no : '', // 貨櫃號碼
      container_type_code: this.cloneData ? this.cloneData.container_type_code : '', // 貨櫃類別代碼
      customer_name: this.cloneData ? this.cloneData.customer_name : '', // 客戶名稱
      return_from_outbound_no: this.cloneData ? this.cloneData.return_from_outbound_no : '', // 原出庫單號
      return_from_outbound_id: this.cloneData ? this.cloneData.return_from_outbound_id : '', // 原出庫單ID
      owner_name: this.cloneData ? this.cloneData.owner_name : '', // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : '', // 貨主ID
      vendor_name: this.cloneData ? this.cloneData.vendor_name : '', // 供應商
      vendor_id: this.cloneData ? this.cloneData.vendor_id : '', // 供應商ID
      inbound_expect: this.cloneData ? this.cloneData.inbound_expect : '', // 預計入庫日
      inbound_pallets: this.cloneData ? this.cloneData.inbound_pallets : '', // 板數
      inbound_boxes: this.cloneData ? this.cloneData.inbound_boxes : '', // 箱數
      inbound_type: this.cloneData ? this.cloneData.inbound_type : 56, // 入庫類別
      inbound_cancel_type: this.cloneData ? this.cloneData.inbound_cancel_type : '', // 入庫取消類別
      date_quantity_check: this.cloneData ? this.cloneData.date_quantity_check : '', // 驗收日
      inbound_note: this.cloneData ? this.cloneData.inbound_note : '', // 入庫單備註
      date_inbound: '', // 退貨入庫時間
      date_cancel: '', // 入庫取消時間
      date_quality_check: '', // 退貨品檢確認時間
      date_put_away: '', // 退貨上架時間
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      stepReturnData: stepReturnData,
      layout1: layout1,
      lay1: layout1.filter((el) => {
        return el.isShow
      }),
      userName: userName,
      /* 原出庫單號 : return_from_outbound_no */
      returnFromOutboundNoList: [],
      autoCompleteShowReturnFromOutboundNoCols: [],
      toCloseReturnFromOutboundNoAutocompleteModal: false,
      returnFromOutboundNoCondition: [
        {
          queryCondition: '=',
          queryValue: this.companyId,
          queryField: 'company_id'
        },
        {
          queryCondition: '=',
          queryValue: this.whId,
          queryField: 'wh_id'
        }
      ],
      /* 貨主代碼 : owner_id */
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      setAutocompleteOwnerApiUrl: { companyId: this.companyId, whId: this.whId, customerCat: 1 },
      /* 供應商代碼 : vendor_id */
      vendorList: [],
      autoCompleteShowVendorCols: [
        'customer_no'
      ],
      toCloseVendorAutocompleteModal: false,
      vendorCondition: [],
      setAutocompleteVendorApiUrl: { companyId: this.companyId, whId: this.whId, customerCat: 2 },
      /* tab */
      changeContent: this.showInpageTab,
      /* 入庫單狀態 */
      inboundStatusList: [
        {
          label: '退貨待驗收',
          value: 10
        },
        {
          label: '退貨取消入庫',
          value: 15
        },
        {
          label: '退貨待品檢',
          value: 20
        },
        {
          label: '退貨待上架',
          value: 30
        },
        {
          label: '退貨已上架',
          value: 40
        },
        {
          label: '上架確認',
          value: 50
        }
      ],
      /* 入庫類別 */
      inboundTypeList: [],
      /* 入庫取消類別 */
      inboundCancelTypeList: [],
      // 入庫單明細
      returnAcceptanceDetailsList: null,
      //
      postData: postData,
      error: {
        inbound_id: false, // 入庫紀錄ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        inbound_bill_no: false, // 進倉單號
        main_bill_no: false, // 主單號(MAWB)
        sub_bill_no: false, // 分單號(HAWB)
        owner_bill_no: false, // 訂單編號
        container_no: false, // 貨櫃號碼
        container_type_code: false, // 貨櫃類別代碼
        owner_id: false, // 貨主ID
        vendor_id: false, // 供應商ID
        inbound_expect: false, // 預計入庫日
        inbound_pallets: false, // 板數
        inbound_boxes: false, // 箱數
        inbound_type: false, // 入庫類別
        inbound_cancel_type: false, // 入庫取消類別
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 退貨入庫時間
        date_cancel: false, // 入庫取消時間
        date_quality_check: false, // 退貨品檢確認時間
        date_put_away: false, // 退貨上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false,
      isChangeInboundStatus: false, // 是否修改狀態
      timestamp: timestamp
    }
  },
  computed: {
    returnAcceptance: function () {
      return this.$store.state[`returnOperationSimple`][`returnOperationSimple`] || {}
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    returnAcceptanceDetailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    returnAcceptance: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          inbound_id: val.inbound_id || null, // 入庫紀錄ID
          company_id: val.company_id || this.companyId, // 公司ID
          wh_id: val.wh_id || this.whId, // 倉庫ID
          inbound_no: val.inbound_no || null, // 單據編號/單號
          inbound_status: val.inbound_status || null, // 入庫單狀態
          inbound_bill_no: val.inbound_bill_no || null, // 進倉單號
          main_bill_no: val.main_bill_no || null, // 主單號(MAWB)
          sub_bill_no: val.sub_bill_no || null, // 分單號(HAWB)
          owner_bill_no: val.owner_bill_no || null, // 訂單編號
          container_no: val.container_no || null, // 貨櫃號碼
          container_type_code: val.container_type_code || null, // 貨櫃類別代碼
          return_from_outbound_no: val.return_from_outbound_no || null, // 原出庫單號
          return_from_outbound_id: val.return_from_outbound_id || null, // 原出庫ID
          owner_name: val.owner_name || null, // 貨主
          owner_id: val.owner_id || null, // 貨主ID
          vendor_name: val.vendor_name || null, // 供應商
          vendor_id: val.vendor_id || null, // 供應商ID
          inbound_expect: val.inbound_expect || null, // 預計入庫日
          inbound_pallets: val.inbound_pallets || null, // 板數
          inbound_boxes: val.inbound_boxes || null, // 箱數
          inbound_type: val.inbound_type || 56, // 入庫類別
          inbound_cancel_type: val.inbound_cancel_type || null, // 入庫取消類別
          date_quantity_check: val.date_quantity_check ? this.changeToLocalTime(val.date_quantity_check) : null, // 驗收日
          inbound_note: val.inbound_note || null, // 入庫單備註
          date_inbound: val.date_inbound ? this.changeToLocalTime(val.date_inbound) : null, // 退貨入庫時間
          date_cancel: val.date_cancel || null, // 入庫取消時間
          date_quality_check: val.date_quality_check ? this.changeToLocalTime(val.date_quality_check) : null, // 退貨品檢確認時間
          date_put_away: val.date_put_away ? this.changeToLocalTime(val.date_put_away) : null, // 退貨上架時間
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
        // 退貨入庫時間
        switch (val.inbound_status) {
          case 20:
            this.stepReturnData = [
              {
                label: '退貨入庫通知',
                date: this.postData.date_inbound ? this.postData.date_inbound.substr(0, 10) : '',
                time: this.postData.date_inbound ? this.postData.date_inbound.substr(11, 5) : '',
                status: 1,
                isStartNode: true, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已驗收',
                date: this.postData.date_quantity_check ? this.postData.date_quantity_check.substr(0, 10) : '',
                time: this.postData.date_quantity_check ? this.postData.date_quantity_check.substr(11, 5) : '',
                status: 1,
                isStartNode: false, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已品檢',
                date: '',
                time: '',
                status: 0,
                isStartNode: false, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已上架',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: false
              },
              {
                label: '上架確認',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: true
              }
            ]
            break
          case 30:
            this.stepReturnData = [
              {
                label: '退貨入庫通知',
                date: this.postData.date_inbound ? this.postData.date_inbound.substr(0, 10) : '',
                time: this.postData.date_inbound ? this.postData.date_inbound.substr(11, 5) : '',
                status: 1,
                isStartNode: true, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已驗收',
                date: this.postData.date_quantity_check ? this.postData.date_quantity_check.substr(0, 10) : '',
                time: this.postData.date_quantity_check ? this.postData.date_quantity_check.substr(11, 5) : '',
                status: 1,
                isStartNode: false, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已品檢',
                date: this.postData.date_quality_check ? this.postData.date_quality_check.substr(0, 10) : '',
                time: this.postData.date_quality_check ? this.postData.date_quality_check.substr(11, 5) : '',
                status: 1,
                isStartNode: false, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已上架',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: false
              },
              {
                label: '上架確認',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: true
              }
            ]
            break
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.owner_id) {
          this.error.owner_id = false
        }
      },
      deep: true
    },
    editLayoutToggle: function (bol) {
      // console.log(bol)
    },
    layout1: {
      handler: function (val) {
        // console.log(val)
        this.$emit('layout1ChangeEvent', val)
        //
        let lay1 = JSON.parse(JSON.stringify(val)).filter((el) => {
          return el.isShow
        })
        this.lay1 = lay1
      },
      deep: true
    }
  },
  methods: {
    returnAcceptanceDetailsListChangeEvent: function (data) {
      // console.log(data)
      this.returnAcceptanceDetailsList = data
    },
    accordionToggleToClose: function () {
      this.$emit('accordionToggleChangeEvent', false)
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.inbound_id = null
      this.postData.inbound_no = null // 單據編號/單號
      this.postData.inbound_status = 10 // 入庫單狀態
      this.save('clone')
    },
    changeInboundStatus: function (newInboundStatus) {
      this.postData.inbound_status = newInboundStatus
      this.isChangeInboundStatus = true
      this.save()
    },
    save: async function (action = null) {
      this.$emit('changeLoadingViewIsShowEvent', true)
      //
      let postData = {}
      //
      try {
        var rex = /^[2]/g
        if (action === 'clone') {
          // update : clone
          // console.log('update : clone')
          this.postData.inbound_status = 10
          postData = {
            company_id: this.companyId, // 用戶資訊取得
            wh_id: this.whId, // 用戶資訊取得
            user_id: this.userId,
            inbound_status: 10
          }
          Object.keys(this.postData).forEach((key, idx) => {
            if (key === 'company_name') {
              return
            }
            if (key === 'wh_name') {
              return
            }
            if (key === 'inbound_id') {
              return
            }
            if (key === 'inbound_no') {
              return
            }
            if (key === 'inbound_status') {
              return
            }
            if (key === 'customer_name') {
              return
            }
            if (key === 'owner_name') {
              return
            }
            if (key === 'vendor_name') {
              return
            }
            if (key === 'date_inbound') {
              return
            }
            if (key === 'date_quantity_check') {
              return
            }
            if (key === 'date_cancel') {
              return
            }
            if (key === 'date_quality_check') {
              return
            }
            if (key === 'date_put_away') {
              return
            }
            if (key === 'created_at') {
              return
            }
            if (key === 'update_at') {
              return
            }
            if (this.postData[key] !== null && this.postData[key] !== '') {
              if (key === 'inbound_expect') {
                let value = this.changeToUTCTime(this.postData[key])
                postData[key] = value
              } else if (key === 'owner_bill_no') {
                let value = this.postData[key]
                postData[key] = `${value}_clone`
              } else {
                let value = this.postData[key]
                postData[key] = value
              }
            }
          })
          delete postData['inbound_id']
          //
          let createRes = await this.$store.dispatch('returnOperationSimple/create', postData)
          if (rex.test(createRes.httpStatus)) {
            this.postData.inbound_id = createRes.respondCode.additionals.inbound.inbound_id // 入庫紀錄ID
            this.postData.inbound_no = createRes.respondCode.additionals.inbound.inbound_no // 單據編號/單號
            this.postData.inbound_status = createRes.respondCode.additionals.inbound.inbound_status // 入庫單狀態
            // 清空時間軸，再撈回時間
            await this.initStepReturnData()
            // console.log('清空時間軸')
            // console.log(this.stepReturnData)
            let pd = {
              page: 1,
              pageSize: 1,
              combinedCondition: null,
              query: [
                {
                  queryCondition: '=',
                  queryField: 'inbound_id',
                  queryValue: this.postData.inbound_id
                }
              ],
              sort: []
            }
            let queryRes = await this.$store.dispatch('returnOperationSimple/queryDetail', { postData: pd, companyId: this.companyId, whId: this.whId })
            let localDateInbound = this.changeToLocalTime(queryRes.respondCode.additionals.inbound[0].date_inbound)
            this.stepReturnData[0].date = localDateInbound.substr(0, 10) // 入庫通知時間(日期)
            this.stepReturnData[0].time = localDateInbound.substr(11, 5) // 入庫通知時間(時間)
            this.stepReturnData[0].status = 1 // 入庫通知時間(藍點點)
            // 存明細
            if (this.returnAcceptanceDetailsList) {
              let detailsListLength = this.returnAcceptanceDetailsList.length
              for (let i = 0; i < detailsListLength; i++) {
                await this.saveReturnAcceptanceDetailsList(this.returnAcceptanceDetailsList[i], i)
              }
            }
            // 警告提示
            this.$Notice.success({
              title: '新增成功'
            })
            this.$emit('toStepEvent', 2, this.postData.inbound_id, this.postData.inbound_status)
          } else if (createRes.httpStatus !== 401) {
            this.$Notice.error({
              title: '儲存失敗',
              desc: createRes.respondCode.debugInfo,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
        } else {
          // update
          // console.log('update')
          // 存明細
          // console.log(this.returnAcceptanceDetailsList)
          if (this.returnAcceptanceDetailsList) {
            let detailsListLength = this.returnAcceptanceDetailsList.length
            for (let i = 0; i < detailsListLength; i++) {
              await this.updateReturnAcceptanceDetailsList(this.returnAcceptanceDetailsList[i], i)
              // console.log(i)
            }
          }
          // 如果明細存失敗，不改狀態
          // console.log(this.detailsListIsError)
          postData.user_id = this.userId
          postData.inbound_pallets = this.postData.inbound_pallets || 0
          postData.inbound_boxes = this.postData.inbound_boxes || 0
          postData.inbound_note = this.postData.inbound_note || 'null'
          if (this.detailsListIsError) {
            this.postData.inbound_status = 20
            this.isChangeInboundStatus = false
            delete postData['inbound_status']
          } else {
            if (this.isChangeInboundStatus) {
              postData.inbound_status = this.postData.inbound_status
            }
          }
          // console.log(postData)
          //
          let updateRes = await this.$store.dispatch('returnOperationSimple/update', { postData: postData, detailId: this.detailId })
          // console.log(updateRes)
          if (rex.test(updateRes.httpStatus)) {
            // 成功修改提示
            this.$Notice.success({
              title: '成功修改'
            })
            this.isChangeInboundStatus = false
            if (this.postData.inbound_status === 30) {
              this.$emit('toStepEvent', 5, this.postData.inbound_id, this.postData.inbound_status)
            }
            if (this.postData.inbound_status === 10) {
              this.$emit('toStepEvent', 2, this.postData.inbound_id, this.postData.inbound_status)
            }
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else if (updateRes.httpStatus !== 401) {
            this.isChangeInboundStatus = false
            this.$Notice.error({
              title: '更新失敗',
              desc: updateRes.respondCode.debugInfo,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
        }
      } catch (err) {
        // console.log(err)
      }
    },
    // 新增明細
    saveReturnAcceptanceDetailsList: async function (data, index) {
      // console.log('新增明細')
      // console.log(data)
      // console.log(index)
      var detailsList = {}
      //
      detailsList = {
        company_id: this.postData.company_id,
        wh_id: this.postData.wh_id,
        user_id: this.userId,
        //
        product_id: data.product_id, // 商品ID
        inventory_status: this.postData.inbound_status, // 庫存紀錄狀態
        inbound_id: this.postData.inbound_id, // 入庫單ID
        inbound_sn: data.INDEX // 入庫單序號
      }
      if (data.inbound_num !== '') {
        detailsList.inbound_num = parseInt(data.inbound_num) // 數量(良品)
      }
      if (data.inbound_num_bad !== '') {
        detailsList.inbound_num_bad = parseInt(data.inbound_num_bad) // 數量(不良品)
      }
      if (data.bonded_type !== null) {
        detailsList.bonded_type = parseInt(data.bonded_type) // 保稅屬性
      }
      if (data.quality_check_status) {
        detailsList.quality_check_status = parseInt(data.quality_check_status) // 檢驗結果/狀況 (回應碼)
      }
      if (data.quality_check_note) {
        detailsList.quality_check_note = data.quality_check_note // 品保備註
      }
      if (data.inform_num) {
        detailsList.inform_num = parseInt(data.inform_num) // 通知量(預計進倉量)
      }
      if (this.postData.vendor_id) {
        detailsList.vendor_id = this.postData.vendor_id // 供應商ID
      }
      if (data.product_batch_no) {
        detailsList.product_batch_no = data.product_batch_no // 批號
      }
      if (data.product_expiration_sale) {
        detailsList.product_expiration_sale = data.product_expiration_sale // 允售效期
      }
      if (data.product_expired_date) {
        detailsList.product_expired_date = data.product_expired_date // 有效日期
      }
      if (data.product_expiration_days) {
        detailsList.product_expiration_days = parseInt(data.product_expiration_days) // 保存天數
      }
      if (data.product_manufactured) {
        detailsList.product_manufactured = data.product_manufactured // 製造日期
      }
      if (data.storage_preassign) {
        detailsList.storage_preassign = data.storage_preassign // 參考儲位
      }
      if (data.storage_loc) {
        detailsList.storage_loc = data.storage_loc // 儲位(良品)
      }
      if (data.storage_loc_bad) {
        detailsList.storage_loc_bad = data.storage_loc_bad // 儲位(不良品)
      }
      if (data.custom_no) {
        detailsList.custom_no = parseInt(data.custom_no) // 報關單號
      }
      if (data.inventory_unitprice) {
        detailsList.inventory_unitprice = data.inventory_unitprice // 商品單價
      }
      if (data.inventory_unitprice_currency) {
        detailsList.inventory_unitprice_currency = data.inventory_unitprice_currency // 商品單價-幣別
      }
      if (data.inventory_note) {
        detailsList.inventory_note = data.inventory_note // 庫存紀錄備註
      }
      // console.log(detailsList)
      try {
        // 判斷有無 custom_no (報關單號)
        if (data.custom_no) {
          let postData = {
            page: 1,
            pageSize: Config.maxPageSize,
            combinedCondition: null,
            query: [
              {
                queryCondition: '=',
                queryField: 'custom_no',
                queryValue: data.custom_no
              }
            ],
            sort: []
          }
          // 查詢 custom_no (報關單號)是否存在，存在直接取 custom_id (報關單ID)，不存在就新增取回 custom_id (報關單ID)
          let customQueryResponse = await this.$store.dispatch(`custom/query`, postData)
          // console.log(customQueryResponse)
          if (customQueryResponse.respondCode.additionals.recCustom.length > 0) {
            detailsList.custom_id = parseInt(customQueryResponse.respondCode.additionals.recCustom.custom_id) // 報關單ID
          } else {
            let customList = {}
            customList = {
              company_id: this.postData.company_id,
              wh_id: this.postData.wh_id,
              //
              custom_no: data.custom_no // 報單項次
            }
            if (this.postData.owner_id) {
              customList.owner_id = parseInt(this.postData.owner_id) // 貨主ID
            }
            if (this.postData.vendor_id) {
              customList.vendor_id = parseInt(this.postData.vendor_id) // 供應商ID
            }
            let customAddResponse = await this.$store.dispatch(`custom/create`, customList)
            detailsList.custom_id = parseInt(customAddResponse.respondCode.additionals.recCustom.custom_id) // 報關單ID
          }
          // console.log(detailsList.custom_id)
        }
        var inventoryResponse = await this.$store.dispatch(`inboundDetail/create`, detailsList)
        // console.log(inventoryResponse)
        let rex = /^[2]/g
        if (inventoryResponse && rex.test(inventoryResponse.httpStatus)) {
          data.id_id = inventoryResponse.respondCode.additionals.inboundDetail.id_id
        } else if (inventoryResponse.httpStatus !== 401) {
          this.$Notice.error({
            title: `第${data.INDEX}筆明細新增失敗`,
            desc: `${inventoryResponse.data.respondCode.debugInfo}`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${data.INDEX}筆明細新增失敗`
        })
      }
    },
    // 修改明細
    updateReturnAcceptanceDetailsList: async function (data, index) {
      let detailsList = {}
      var isError = false
      //
      if (Number(data.inbound_num) > 210000000 || Number(data.inbound_num_bad) > 210000000) {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"數量"過多`,
          desc: '請小於21億',
          duration: 30
        })
      }
      if (this.postData.inbound_status === 30) {
        if (!data.inbound_num && !data.inbound_num_bad) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"數量"請擇一填寫`,
            duration: 30
          })
        }
        this.detailsListIsError = isError
        if (isError) {
          return
        }
      } else if (this.postData.inbound_status === 40) {
        if (!data.storage_loc_storage_code && !data.storage_loc_bad_storage_code) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"儲位"請擇一填寫`,
            duration: 30
          })
        }
        this.detailsListIsError = isError
        if (isError) {
          return
        }
      }
      detailsList = {
        user_id: this.userId,
        quality_check_note: data.quality_check_note || 'null', // 品保備註
        inventory_note: data.inventory_note || 'null', // 入庫備註
        inbound_num: parseInt(data.inbound_num) || 0, // 數量(良品)
        inbound_num_bad: parseInt(data.inbound_num_bad) || 0, // 數量(不良品)
        product_batch_no: data.product_batch_no || 'null' // 批號
      }
      if (data.product_expired_date) {
        if (data.product_expired_date instanceof Date) {
          let newProductExpiredDate = new Date(data.product_expired_date)
          let yyyy = newProductExpiredDate.getFullYear()
          let mm = newProductExpiredDate.getMonth() + 1
          let dd = newProductExpiredDate.getDate()
          let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
          // console.log(localFilterStartTime)
          detailsList.product_expired_date = localFilterStartTime
        } else {
          detailsList.product_expired_date = data.product_expired_date // 有效日期
        }
      } else {
        detailsList.product_expired_date = 'null'
      }
      if (data.product_manufactured) {
        if (data.product_manufactured instanceof Date) {
          let newProductManufactured = new Date(data.product_manufactured)
          let yyyy = newProductManufactured.getFullYear()
          let mm = newProductManufactured.getMonth() + 1
          let dd = newProductManufactured.getDate()
          let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
          detailsList.product_manufactured = localFilterStartTime
        } else {
          detailsList.product_manufactured = data.product_manufactured // 製造日期
        }
      } else {
        detailsList.product_manufactured = 'null'
      }
      //
      try {
        let inventoryResponse = await this.$store.dispatch(`inboundDetail/update`, { postData: detailsList, detailId: data.id_id })
        if (inventoryResponse.httpStatus !== 200 && inventoryResponse.httpStatus !== 201 && inventoryResponse.httpStatus !== 401) {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細更新失敗`,
            desc: `${inventoryResponse.data.respondCode.debugInfo}`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        inbound_id: null, // 入庫紀錄ID
        company_id: this.companyId, // 公司ID
        wh_id: this.whId, // 倉庫ID
        inbound_no: null, // 單據編號/單號
        inbound_status: null, // 入庫單狀態
        inbound_bill_no: null, // 進倉單號
        main_bill_no: null, // 主單號(MAWB)
        sub_bill_no: null, // 分單號(HAWB)
        owner_bill_no: `${this.userName}_${this.timestamp}`, // 訂單編號
        container_no: null, // 貨櫃號碼
        container_type_code: null, // 貨櫃類別代碼
        // return_from_outbound_no: '', // 原出庫單號
        return_from_outbound_id: null, // 原出庫ID
        // owner_name: '', // 貨主
        owner_id: null, // 貨主ID
        // vendor_name: '', // 供應商
        vendor_id: null, // 供應商ID
        inbound_expect: null, // 預計入庫日
        inbound_type: 56, // 入庫類別
        inbound_cancel_type: null, // 入庫取消類別
        date_quantity_check: null, // 驗收日
        inbound_note: null, // 入庫單備註
        date_inbound: null, // 入庫通知時間
        date_cancel: null, // 入庫取消時間
        date_quality_check: null, // 品保確認時間
        date_put_away: null, // 上架時間
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        inbound_id: false, // 入庫紀錄ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        inbound_bill_no: false, // 進倉單號
        main_bill_no: false, // 主單號(MAWB)
        sub_bill_no: false, // 分單號(HAWB)
        owner_bill_no: false, // 訂單編號
        container_no: false, // 貨櫃號碼
        container_type_code: false, // 貨櫃類別代碼
        owner_id: false, // 貨主ID
        vendor_id: false, // 供應商ID
        inbound_expect: false, // 預計入庫日
        inbound_type: false, // 入庫類別
        inbound_cancel_type: false, // 入庫取消類別
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 入庫通知時間
        date_cancel: false, // 入庫取消時間
        date_quality_check: false, // 品保確認時間
        date_put_away: false, // 上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initStepReturnData: function () {
      this.stepReturnData = [
        {
          label: '退貨入庫通知',
          date: '',
          time: '',
          status: 0, // 是否完成 0:未完成 / 1:完成
          isStartNode: true, // 是否始點
          isEndNode: false // 是否為終點
        },
        {
          label: '退貨已驗收',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '退貨已品檢',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '退貨已上架',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '上架確認',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: true
        }
      ]
    },
    initReturnAcceptanceDetailsList: function () {
      this.returnAcceptanceDetailsList = []
      this.$refs.initReturnAcceptanceDetailsList.initReturnAcceptanceDetailsList()
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initStepReturnData()
      this.initReturnAcceptanceDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    hide_lay1: function (k, idx) {
      this.layout1.forEach((ele, index) => {
        if (ele.key === k) {
          ele.isShow = false
        }
      })
    },
    show_lay1: function (k, idx) {
      this.layout1.forEach((ele, index) => {
        if (ele.key === k) {
          ele.isShow = true
        }
      })
    },
    //
    getDetail: function (inboundId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'inbound_id',
            queryValue: inboundId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`returnOperationSimple/queryDetail`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 原出庫單號 : return_from_outbound_no */
    autocompleteHandleReturnFromOutboundNoEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.returnFromOutboundNoList = []
    },
    returnFromOutboundNoAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.return_from_outbound_id = data.val ? data.val.outbound_id : ''
        this.postData.owner_id = data.val ? data.val.owner_id : ''
        this.postData.owner_name = data.val ? data.val.owner_name : ''
        // console.log(this.postData.return_from_outbound_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.returnFromOutboundNoList = [data.val]
      } else {
        this.returnFromOutboundNoList = []
      }
    },
    returnFromOutboundNoAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryValue: this.companyId,
            queryField: 'company_id'
          },
          {
            queryCondition: '=',
            queryValue: this.whId,
            queryField: 'wh_id'
          },
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`outboundList`]
          //
          this.returnFromOutboundNoList = list
        }
      })
    },
    setAutocompleteReturnFromOutboundNoValue: function (data) {
      // console.log(data)
      //
      this.postData.return_from_outbound_no = data.data[data.returnCode]
      this.postData.return_from_outbound_id = data.data.outbound_id
      this.postData.owner_id = data.data.owner_id
      this.postData.owner_name = data.data.owner_name
      // console.log(this.postData.return_from_outbound_id)
      //
      this.toCloseReturnFromOutboundNoAutocompleteModal = true
    },
    setToCloseReturnFromOutboundNoAutocompleteModal: function (bol) {
      this.toCloseReturnFromOutboundNoAutocompleteModal = bol
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        // console.log(this.postData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 1 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_id = data.data.customer_id
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 供應商代碼 : vendor_id */
    autocompleteHandleVendorEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.vendorList = []
    },
    vendorAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.vendor_id = data.val ? data.val.customer_id : ''
        // console.log(this.postData.vendor_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.vendorList = [data.val]
      } else {
        this.vendorList = []
      }
    },
    vendorAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 2 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.vendorList = list
        }
      })
    },
    setAutocompleteVendorValue: function (data) {
      // console.log(data)
      //
      this.postData.vendor_name = data.data[data.returnCode]
      this.postData.vendor_id = data.data.customer_id
      // console.log(this.postData.vendor_id)
      //
      this.toCloseVendorAutocompleteModal = true
    },
    setToCloseVendorAutocompleteModal: function (bol) {
      this.toCloseVendorAutocompleteModal = bol
    },
    /* 預計入庫日 : inbound_expect */
    inboundExpectDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.inbound_expect = data.val
      // console.log(this.postData.inbound_expect)
    },
    /* 驗收日 : date_quantity_check */
    inboundAcceptanceDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.date_quantity_check = data.val
    },
    /* 入庫單狀態 */
    inboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_status = data.val
    },
    /* 入庫類別 */
    inboundTypeListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_type = data.val
    },
    getInboundTypeList: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: Config.maxPageSize,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCodeByCompanyCodeType/search`, { postData: postData, companyId: this.companyId, codeType: 4 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingCode
          let inboundTypeList = []
          if (list) {
            list.forEach((ele, idx) => {
              inboundTypeList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.inboundTypeList = inboundTypeList
          // console.log(this.inboundTypeList)
        }
      })
    },
    /* 入庫取消類別 */
    inboundCancelTypeListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_cancel_type = data.val
    },
    getInboundCancelTypeList: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: Config.maxPageSize,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCodeByCompanyCodeType/search`, { postData: postData, companyId: this.companyId, codeType: 5 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingCode
          let inboundCancelTypeList = []
          inboundCancelTypeList.push({
            value: '',
            label: '請選擇'
          })
          if (list) {
            list.forEach((ele, idx) => {
              inboundCancelTypeList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.inboundCancelTypeList = inboundCancelTypeList
          // console.log(this.inboundCancelTypeList)
        }
      })
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    //
    if (!this.layoutMainInbound[0]) {
      this.$emit('layout1ChangeEvent', this.layout1)
    }
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    this.getInboundTypeList()
    this.getInboundCancelTypeList()
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`returnOperationSimple/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    .grid-layout-container {
      margin-left: -50px;
      margin-top: -20px;
      padding-right: 140px;
      width: calc(100% + 50px);
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .backBtn {
    position: absolute;
    right: 45px;
    bottom: 200px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .step1 {
    position: absolute;
    top: 130px;
    right: 45px;
    background: #ffffffe6;
    width: 210px;
    z-index: -1;
    .step-box {
      margin-left: auto;
    }
  }
  .item-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .label-box {
      flex: 1;
      font-size: 18px;
      color: #000000;
    }
    .body-box {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 0 50px 0 0;
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
