<template>
  <div class="ReturnShelvesDetails">
    <!-- 單位換算 -->
    <!-- 按鈕區 -->
    <Button type="primary" @click="getIds('inventoryCopy')">拆單</Button>
    <!-- <Button type="primary" @click="add">新增</Button>
        &nbsp;
        <Button type="primary" @click="getIds">取得選取id</Button>
        &nbsp;
        <Button type="primary" @click="getData">取得 Data</Button>
    <br/>-->
    <!-- 分隔線 -->
    <DataGrid
      idKeyName="id_id"
      :hideFilter="true"
      :hidePage="true"
      :logicalOperator="logicalOperator"
      :settingData="settingData"
      :gridData="gridData"
      :toGetIds="toGetIds"
      :noTextBreak="true"
      :isQuery="isQuery"
      @gridDataChengeEvent="gridDataChengeEvent"
      @moveColEvent="moveColEvent"
      @removeColEvent="removeColEvent"
      @sortEvent="sortEvent"
      @filterEvent="filterEvent"
      @getIdsEvent="getIdsEvent"
      @getDetailEvent="getDetailEvent"
      @pageChangeEvent="pageChangeEvent"
      @pageSizeChangeEvent="pageSizeChangeEvent"
    ></DataGrid>
    <!-- 拆單 -->
    <Modal v-model="copyModal" width="700" :footer-hide="true" :closable="false" class="copyModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <div class="desc-box">
            拆單設定
            <div class="form-box">
              <div class="row-box">
                <div class="col-box">
                  <!-- 儲位(良品) storage_loc -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.storage_loc_storage_code && postData.storage_loc_storage_code!==''), label: `儲位(良品)`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
                    :code="`storage_loc_storage_code`"
                    :autoCompleteData="storageLocList"
                    :defaultValue="postData.storage_loc_storage_code"
                    :modalTitle="`儲位(良品)`"
                    :toCloseModal="toCloseStorageLocAutocompleteModal"
                    keyCode="storageSetup"
                    storeKey="storageQueryByWhId"
                    returnCode="storage_code"
                    :showCols="autoCompleteShowStorageLocCols"
                    :disabled="false"
                    @handleEnterSubmit="autocompleteHandleStorageLocEnterSubmitEvent"
                    @changeModelEvent="storageLocAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="storageLocAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseStorageLocAutocompleteModal">
                      <div>
                        <!-- 儲位(良品) -->
                        <AutocompleteModal
                        keyCode="storageSetup"
                        storeKey="storageQueryByWhId"
                        returnCode="storage_code"
                        respondCode= "storage"
                        :apiUrlCondition="setAutocompleteStorageLocApiUrl"
                        :condition="storageLocCondition"
                        @setAutocompleteValueEvent="setAutocompleteStorageLocValue"></AutocompleteModal>
                      </div>
                    </FloatLabelBox>
                </div>
                <div class="col-box">
                  <!-- 儲位(不良品) storage_loc_bad -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.storage_loc_bad_storage_code && postData.storage_loc_bad_storage_code!==''), label: `儲位(不良品)`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
                    :code="`storage_loc_bad_storage_code`"
                    :autoCompleteData="storageLocBadList"
                    :defaultValue="postData.storage_loc_bad_storage_code"
                    :modalTitle="`儲位(不良品)`"
                    :toCloseModal="toCloseStorageLocBadAutocompleteModal"
                    keyCode="storageSetup"
                    storeKey="storageQueryByWhId"
                    returnCode="storage_code"
                    :showCols="autoCompleteShowStorageLocBadCols"
                    :disabled="false"
                    @handleEnterSubmit="autocompleteHandleStorageLocBadEnterSubmitEvent"
                    @changeModelEvent="storageLocBadAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="storageLocBadAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseStorageLocBadAutocompleteModal">
                      <div>
                        <!-- 儲位(不良品) -->
                        <AutocompleteModal
                        keyCode="storageSetup"
                        storeKey="storageQueryByWhId"
                        returnCode="storage_code"
                        respondCode= "storage"
                        :apiUrlCondition="setAutocompleteStorageLocBadApiUrl"
                        :condition="storageLocBadCondition"
                        @setAutocompleteValueEvent="setAutocompleteStorageLocBadValue"></AutocompleteModal>
                      </div>
                    </FloatLabelBox>
                </div>
              </div>
              <div class="row-box">
                <div class="col-box">
                  <!-- 數量(良品) -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.inbound_num!== null && postData.inbound_num!==''), label: `數量(良品)`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
                    :code="`inbound_num`"
                    :defaultValue="postData.inbound_num"
                    @changeModelEvent="inputNumChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="col-box">
                  <!-- 數量(不良品) -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.inbound_num_bad!== null && postData.inbound_num_bad!==''), label: `數量(不良品)`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
                    :code="`inbound_num_bad`"
                    :defaultValue="postData.inbound_num_bad"
                    @changeModelEvent="inputNumChangeEvent"
                  ></FloatLabelBox>
                </div>
              </div>
              <div class="row-box">
                <div class="btn-box">
                  <Button shape="circle" @click="cancelCopy">
                    取消
                    <font-awesome-icon icon="times" />
                  </Button>
                  <Button class="blue" shape="circle" :loading="copyBoxIsLoading" @click="inventoryCopy">
                    確定
                    <font-awesome-icon icon="check" />
                  </Button>
                </div>
                <!-- <div class="col-box">
                  <div class="btn-box">
                    <Button shape="circle">
                      取消
                      <font-awesome-icon icon="times" />
                    </Button>
                    <Button shape="circle" :loading="copyBoxIsLoading">
                      確定
                      <font-awesome-icon icon="check" />
                    </Button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import DataGrid from '@/components/dataGrid/DataGrid'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
export default {
  name: 'ReturnShelvesDetails',
  props: ['data', 'detailId', 'companyId', 'whId', 'changeContent'],
  components: {
    DataGrid,
    FloatLabelBox,
    AutocompleteModal
  },
  data () {
    // 定義用
    let settingData = {
      page: {
        pageSize: 999, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#1565C0',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#E3F2FD',
        rowEvenColor: '#777777',
        editCelColor: 'rgb(255, 225, 225)',
        waitEditCelColor: '#FFFFFF',
        notEditCelColor: '#EFEFEF'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_code',
          displayName: '商品料號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storagePreassignStorageCode',
          displayName: '參考儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storageQueryByWhId',
            returnCode: 'storage_code',
            respondCode: 'storage',
            showCols: [],
            dispatchPath: 'storageQueryByWhId/search',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '參考儲位'
          },
          apiUrlCondition: { whId: this.whId }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storageLoc',
          displayName: '儲位(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storageQueryByWhId',
            returnCode: 'storage_code',
            respondCode: 'storage',
            showCols: [],
            dispatchPath: 'storageQueryByWhId/search',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '儲位(良品)'
          },
          apiUrlCondition: { whId: this.whId }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storageLocBad',
          displayName: '儲位(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storageQueryByWhId',
            returnCode: 'storage_code',
            respondCode: 'storage',
            showCols: [],
            dispatchPath: 'storageQueryByWhId/search',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '儲位(不良品)'
          },
          apiUrlCondition: { whId: this.whId }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inbound_num',
          displayName: '數量(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inventory_note',
          displayName: '入庫備註',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inbound_num_bad',
          displayName: '數量(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'stock_num',
          displayName: '庫存(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'stock_num_bad',
          displayName: '庫存(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'bonded_type',
          displayName: '保稅屬性',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          filterSet: {},
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'quality_check_status_name',
          displayName: '檢驗結果/狀況',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'quality_check_note',
          displayName: '品保備註',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expiration_sale',
          displayName: '允售效期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expiration_days',
          displayName: '保存天數',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_manufactured',
          displayName: '製造日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'custom_no',
          displayName: '報關單號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'custom_item_no',
          displayName: '報單項次',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inventory_unitprice',
          displayName: '商品單價',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inventory_unitprice_currency_name',
          displayName: '商品單價-幣別',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'date_put_away_confirm_display',
          displayName: '上架確認時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'created_at',
          displayName: '建立時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'update_at',
          displayName: '更新時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'is_enabled',
          displayName: '是否暫停出貨',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      isQuery: false,
      bondedTypeFilterData: [],
      //
      userId: this.$store.state.auth.userInfo.userId,
      // 拆單
      copyModal: false,
      copyBoxIsLoading: false,
      postData: {
        storage_loc: null, // 儲位(良品)ID
        storage_loc_storage_code: null, // 儲位(良品)
        storage_loc_bad: null, // 儲位(不良品)ID
        storage_loc_bad_storage_code: null, // 儲位(不良品)
        inbound_num: null, // 數量(良品)
        inbound_num_bad: null // 數量(良品)
      },
      /* 儲位(良品) : storage_loc */
      storageLocList: [],
      autoCompleteShowStorageLocCols: [
      ],
      toCloseStorageLocAutocompleteModal: false,
      storageLocCondition: [],
      setAutocompleteStorageLocApiUrl: { whId: this.whId },
      /* 儲位(不良品) : storage_loc_bad */
      storageLocBadList: [],
      autoCompleteShowStorageLocBadCols: [
      ],
      toCloseStorageLocBadAutocompleteModal: false,
      storageLocBadCondition: [],
      setAutocompleteStorageLocBadApiUrl: { whId: this.whId },
      //
      timeZoneTimestamp: null
    }
  },
  computed: {
    //
  },
  watch: {
    changeContent: {
      handler: function (val) {
        //
        if (val === 'details') {
          this.getGridData()
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        //
        // console.log(val)
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    bondedTypeFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'bonded_type') {
            return true
          }
        })

        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 新增
    // add: function () {
    //   let INDEX = this.gridData.length + 1
    //   let tmp = {
    //     INDEX: INDEX, // 流水號
    //     SELECT: false,
    //     id: '', // id不可重複
    //     name: '',
    //     city: '',
    //     selected: true,
    //     createAt: '',
    //     testAutoComplete: ''
    //   }
    //   //
    //   this.gridData.push(tmp)
    // },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.toGetIds = false
      this.idsData = data
      //
      switch (this.optType) {
        case 'inventoryCopy':
          this.openInventoryCopyModel()
          break
      }
      //
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    getBondedTypeFilterData: function () {
      this.bondedTypeFilterData = [
        {
          value: 0,
          label: '非保稅 Non-bonded'
        },
        {
          value: 1,
          label: '保稅 Bonded'
        }
      ]
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    /* 儲位(良品) storage_loc */
    autocompleteHandleStorageLocEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.storage_loc = null
      // 設定其他資料處 end
      this.storageLocList = []
    },
    storageLocAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.storage_loc = data.val ? data.val.storage_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.storageLocList = [data.val]
      } else {
        this.storageLocList = []
      }
    },
    storageLocAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: [{ sortField: 'storage_code', sortValue: 'asc' }]
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`storage`]
          //
          this.storageLocList = list
        }
      })
    },
    setAutocompleteStorageLocValue: function (data) {
      // console.log(data)
      //
      this.postData.storage_loc_storage_code = data.data[data.returnCode]
      this.postData.storage_loc = data.data.storage_id
      //
      this.toCloseStorageLocAutocompleteModal = true
    },
    setToCloseStorageLocAutocompleteModal: function (bol) {
      this.toCloseStorageLocAutocompleteModal = bol
    },
    /* 儲位(不良品) storage_loc_bad */
    autocompleteHandleStorageLocBadEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.storage_loc_bad = null
      // 設定其他資料處 end
      this.storageLocBadList = []
    },
    storageLocBadAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.storage_loc_bad = data.val ? data.val.storage_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.storageLocBadList = [data.val]
      } else {
        this.storageLocBadList = []
      }
    },
    storageLocBadAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: [{ sortField: 'storage_code', sortValue: 'asc' }]
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`storage`]
          //
          this.storageLocBadList = list
        }
      })
    },
    setAutocompleteStorageLocBadValue: function (data) {
      // console.log(data)
      //
      this.postData.storage_loc_bad_storage_code = data.data[data.returnCode]
      this.postData.storage_loc_bad = data.data.storage_id
      //
      this.toCloseStorageLocBadAutocompleteModal = true
    },
    setToCloseStorageLocBadAutocompleteModal: function (bol) {
      this.toCloseStorageLocBadAutocompleteModal = bol
    },
    //
    initReturnShelvesDetailsList: function () {
      this.gridData = []
    },
    /*
    ** 新增頁 create: 則不打API取得清單
    ** 明細頁 update: 如果this.detailId有值，則打API取得清單
     */
    getGridData: function (filterAry, sortAry) {
      // 此應用不需分頁 故 頁碼設1，每頁頁數設Config.maxPageSize
      this.isQuery = true
      //
      let filter = filterAry || []
      let sort = sortAry || []
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: null,
        query: [
          ...filter,
          {
            queryCondition: '=',
            queryField: 'inbound_id',
            queryValue: this.detailId
          }
        ],
        sort: sort
      }
      this.$store.dispatch(`inboundDetail/searchByCompanyWh`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.gridData = r.respondCode.additionals['inboundDetail']
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1)
            //
            item.storagePreassignStorageCode = {
              storage_id: item.storage_preassign,
              storage_code: item.storage_preassign_storage_code
            }
            item.storageLoc = {
              storage_id: item.storage_loc,
              storage_code: item.storage_loc_storage_code
            }
            item.storageLocBad = {
              storage_id: item.storage_loc_bad,
              storage_code: item.storage_loc_bad_storage_code
            }
            if (item.is_enabled !== null) {
              switch (item.is_enabled) {
                case 0:
                  item.isEnabled = '停用(暫停出貨)'
                  break
                case 1:
                  item.isEnabled = '已啟用'
                  break
              }
            }
            item.date_put_away_confirm_display = item.date_put_away_confirm_display ? this.changeToLocalTime(item.date_put_away_confirm_display) : null
            item.created_at = item.created_at ? this.changeToLocalTime(item.created_at) : null
            item.update_at = item.update_at ? this.changeToLocalTime(item.update_at) : null
          })
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    // 拆單
    cancelCopy: function () {
      this.copyModal = false
      this.postData = {
        storage_loc: null, // 儲位(良品)ID
        storage_loc_storage_code: '', // 儲位(良品)
        storage_loc_bad: null, // 儲位(不良品)ID
        storage_loc_bad_storage_code: '', // 儲位(不良品)
        inbound_num: null, // 數量(良品)
        inbound_num_bad: null // 數量(不良品)
      }
    },
    openInventoryCopyModel: function () {
      // console.log(this.idsData)
      let isError = false
      if (this.idsData.list.length < 1) {
        isError = true
        this.$Notice.error({
          title: '請勾選要拆單的資料',
          duration: 30
        })
      }
      if (this.idsData.list.length > 1) {
        isError = true
        this.$Notice.error({
          title: '拆單僅能處理單筆',
          duration: 30
        })
      }
      if (isError) {
        return
      }
      this.copyModal = true
    },
    inventoryCopy: async function () {
      // console.log('copy')
      // 檢查
      var formData = this.idsData.list[0]
      // console.log(formData)
      let isError = false
      var notHaveContent = 0
      Object.keys(this.postData).forEach((item) => {
        if (this.postData[`${item}`]) {
          notHaveContent += 1
        }
      })
      if (notHaveContent < 1) {
        isError = true
        this.$Notice.error({
          title: '請填寫內容',
          duration: 30
        })
      }
      if (this.postData.inbound_num > formData.inbound_num) {
        isError = true
        this.$Notice.error({
          title: '"數量(良品)"請小於原數量',
          duration: 30
        })
      }
      if (this.postData.inbound_num_bad > formData.inbound_num_bad) {
        isError = true
        this.$Notice.error({
          title: '"數量(不良品)"請小於原數量',
          duration: 30
        })
      }
      if (!formData.inbound_num && this.postData.storage_loc) {
        isError = true
        this.$Notice.error({
          title: '該筆明細無"數量(良品)"',
          desc: '請勿填寫"儲位(良品)"',
          duration: 30
        })
      }
      if (!formData.inbound_num_bad && this.postData.storage_loc_bad) {
        isError = true
        this.$Notice.error({
          title: '該筆明細無"數量(不良品)"',
          desc: '請勿填寫"儲位(不良品)"',
          duration: 30
        })
      }
      if (formData.inbound_num && this.postData.storage_loc && !this.postData.inbound_num) {
        isError = true
        this.$Notice.error({
          title: '"數量(良品)"未填',
          duration: 30
        })
      }
      if (formData.inbound_num_bad && this.postData.storage_loc_bad && !this.postData.inbound_num_bad) {
        isError = true
        this.$Notice.error({
          title: '"數量(不良品)"未填',
          duration: 30
        })
      }
      if (isError) {
        return
      }
      try {
        this.copyBoxIsLoading = true
        // 原明細，updat數量
        let updatePostData = {
          inbound_num: formData.inbound_num - this.postData.inbound_num,
          inbound_num_bad: formData.inbound_num_bad - this.postData.inbound_num_bad,
          user_id: this.userId
        }
        await this.$store.dispatch(`inboundDetail/update`, { postData: updatePostData, detailId: formData.id_id })
        // console.log(updateRes)
        // 拆出來的，新增明細
        let copyPostData = {
          company_id: formData.company_id,
          wh_id: formData.wh_id,
          product_id: formData.product_id,
          inventory_status: formData.inventory_status,
          copyfrom_inv_id: formData.id_id,
          inbound_id: formData.inbound_id,
          inbound_sn: this.gridData.length + 1,
          inform_num: 0,
          actual_num: 0,
          user_id: this.userId
        }
        if (this.postData.inbound_num && this.postData.inbound_num !== '') {
          copyPostData.inbound_num = this.postData.inbound_num
        }
        if (this.postData.inbound_num_bad && this.postData.inbound_num_bad !== '') {
          copyPostData.inbound_num_bad = this.postData.inbound_num_bad
        }
        if (this.postData.storage_loc) {
          copyPostData.storage_loc = this.postData.storage_loc // 儲位(良品)
        }
        if (this.postData.storage_loc_bad) {
          copyPostData.storage_loc_bad = this.postData.storage_loc_bad // 儲位(不良品)
        }
        //
        if (formData.bonded_type !== null) {
          copyPostData.bonded_type = formData.bonded_type
        }
        if (formData.quality_check_status) {
          copyPostData.quality_check_status = formData.quality_check_status
        }
        if (formData.quality_check_note) {
          copyPostData.quality_check_note = formData.quality_check_note
        }
        if (formData.vendor_id) {
          copyPostData.vendor_id = formData.vendor_id
        }
        if (formData.product_batch_no) {
          copyPostData.product_batch_no = formData.product_batch_no
        }
        if (formData.product_expiration_sale) {
          copyPostData.product_expiration_sale = formData.product_expiration_sale
        }
        if (formData.product_expired_date) {
          copyPostData.product_expired_date = formData.product_expired_date
        }
        if (formData.product_expiration_days) {
          copyPostData.product_expiration_days = formData.product_expiration_days // 保存天數
        }
        if (formData.product_manufactured) {
          copyPostData.product_manufactured = formData.product_manufactured // 製造日期
        }
        if (formData.storage_preassign) {
          copyPostData.storage_preassign = formData.storage_preassign // 參考儲位
        }
        if (formData.inventory_unitprice) {
          copyPostData.inventory_unitprice = formData.inventory_unitprice // 商品單價
        }
        if (formData.inventory_unitprice_currency) {
          copyPostData.inventory_unitprice_currency = formData.inventory_unitprice_currency // 商品單價-幣別
        }
        if (formData.inventory_note) {
          copyPostData.inventory_note = formData.inventory_note // 庫存紀錄備註
        }
        //
        // console.log(copyPostData)
        let copyRes = await this.$store.dispatch(`inboundDetail/create`, copyPostData)
        console.log(copyRes)
        // 把拆單結果塞回明細列表
        copyPostData.INDEX = this.gridData.length + 1
        copyPostData.SELECT = false
        copyPostData.product_code = formData.product_code
        copyPostData.product_name = formData.product_name
        copyPostData.storagePreassignStorageCode = {
          storage_id: formData.storage_preassign || null,
          storage_code: formData.storage_preassign_storage_code || null
        }
        copyPostData.storageLoc = {
          storage_id: this.postData.storage_loc || null,
          storage_code: this.postData.storage_loc_storage_code || null
        }
        copyPostData.storageLocBad = {
          storage_id: this.postData.storage_loc_bad || null,
          storage_code: this.postData.storage_loc_bad_storage_code || null
        }
        copyPostData.id_id = copyRes.respondCode.additionals.inboundDetail.id_id
        copyPostData.created_at = this.changeToLocalTime(copyRes.time)
        copyPostData.is_enabled = 1
        this.gridData.push(copyPostData)
        // 如果原明細拆完數量都是0，刪除
        let gridDataLength = this.gridData.length
        for (let i = 0; i < gridDataLength; i++) {
          if (this.gridData[i].INDEX === formData.INDEX) {
            this.gridData[i].SELECT = false
            this.gridData[i].inbound_num = formData.inbound_num - this.postData.inbound_num
            this.gridData[i].inbound_num_bad = formData.inbound_num_bad - this.postData.inbound_num_bad
            if (this.gridData[i].inbound_num === 0 && this.gridData[i].inbound_num_bad === 0) {
              let removeRes = await this.$store.dispatch(`inboundDetail/delete`, formData.id_id)
              if (removeRes.httpStatus === 200 || removeRes.httpStatus === 201) {
                this.gridData.splice(i, 1)
                break
              }
            }
          }
        }
        //
        this.copyModal = false
        this.copyBoxIsLoading = false
        this.postData = {
          storage_loc: null, // 儲位(良品)ID
          storage_loc_storage_code: '', // 儲位(良品)
          storage_loc_bad: null, // 儲位(不良品)ID
          storage_loc_bad_storage_code: '', // 儲位(不良品)
          inbound_num: null, // 數量(良品)
          inbound_num_bad: null // 數量(良品)
        }
      } catch (err) {
        // console.log(err)
      }
    },
    // 拆單 END
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    this.getTimeZoneTimestamp()
    this.getBondedTypeFilterData()
    //
    if ((this.detailId && this.detailId !== '')) {
      // 取得清單
      this.getGridData()
    }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.ReturnShelvesDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
    background-color: #fff;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 318px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
.copyModal {
  .modal-body {
    width: 100%;
    padding: 12px 30px;

    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        flex: 1;
        color: #000;
        font-size: 16px;

        .form-box {
          margin-top: 20px;
          .row-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-height: 50px;
            margin-bottom: 15px;
            .col-box {
              width: 285px;
              min-height: 50px;
              display: flex;
              align-items: center;
            }
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1;
        height: 50px;
        button {
          margin-right: 15px;
          font-size: 14px;

          svg {
            color: #9ca29c;
          }
        }
        /deep/.ivu-btn.blue{
          background-color: #515a6e;
          color: #fff;
        }
      }
    }
  }
}
</style>
