<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab ml-3"
        :class="[
          userInfo.themeColor,
          changeContent === 'details' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'details'"
        type="default"
        shape="circle"
      >入庫單明細</Button>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="grid-layout-container">
        <grid-layout
          :layout.sync="editLayoutToggle ? layout1 : lay1"
          :col-num="13"
          :row-height="55"
          :is-draggable="editLayoutToggle"
          :is-resizable="editLayoutToggle"
          :is-mirrored="false"
          :vertical-compact="true"
          :margin="[50, 25]"
          :use-css-transforms="true"
        >
          <grid-item
            v-for="(item, index) in editLayoutToggle ? layout1 : lay1"
            :key="index"
            :x="item.x"
            :y="item.y"
            :w="item.w"
            :h="item.h"
            :i="item.i"
            :class="{'grid-item-box': true, 'isShow': (item.isShow && editLayoutToggle), 'isHide': (!item.isShow && editLayoutToggle)}">
            <!-- x btn -->
            <div
              class="hideBtn"
              v-if="item.isShow && editLayoutToggle"
              @click="hide_lay1(item.key, index)"
            >
              <font-awesome-icon icon="times" />
            </div>
            <!-- + btn -->
            <div
              class="showBtn"
              v-if="!item.isShow && editLayoutToggle"
              @click="show_lay1(item.key, index)"
            >
              <font-awesome-icon icon="plus" />
            </div>
            <!-- 單據編號/單號 inbound_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_no' || item.isShow && item.key === 'inbound_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_no && postData.inbound_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_no`"
                :defaultValue="postData.inbound_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫單狀態 inbound_status -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_status' || item.isShow && item.key === 'inbound_status'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_status && postData.inbound_status!==''), label: `${item.label}`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
                :selectList="inboundStatusList"
                :code="`inbound_status`"
                :defaultValue="postData.inbound_status"
                :disabled="true"
                @changeModelEvent="inboundStatusListChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 進倉單號 inbound_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_bill_no' || item.isShow && item.key === 'inbound_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_bill_no && postData.inbound_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_bill_no`"
                :defaultValue="postData.inbound_bill_no"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 主單號(MAWB) main_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'main_bill_no' || item.isShow && item.key === 'main_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.main_bill_no && postData.main_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`main_bill_no`"
                :defaultValue="postData.main_bill_no"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 分單號(HAWB) sub_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'sub_bill_no' || item.isShow && item.key === 'sub_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.sub_bill_no && postData.sub_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`sub_bill_no`"
                :defaultValue="postData.sub_bill_no"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 訂單編號 owner_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'owner_bill_no' || item.isShow && item.key === 'owner_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.owner_bill_no && postData.owner_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`owner_bill_no`"
                :defaultValue="postData.owner_bill_no"
                :isError="error.owner_bill_no"
                :isRequired="true"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨櫃號碼 container_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'container_no' || item.isShow && item.key === 'container_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.container_no && postData.container_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`container_no`"
                :defaultValue="postData.container_no"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨櫃類別代碼 container_type_code -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'container_type_code' || item.isShow && item.key === 'container_type_code'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.container_type_code && postData.container_type_code!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :errorMsg="`*長度不可大於四位`"
                errorMsgColor="#a71b05"
                :code="`container_type_code`"
                :defaultValue="postData.container_type_code"
                :isError="error.container_type_code"
                :isRequired="error.container_type_code"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨主代碼 owner_id -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'owner_id' || item.isShow && item.key === 'owner_id'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.owner_name && postData.owner_name!==''), label: `${item.label}`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 55}, hiddenSearchBtn: true}"
                :code="`owner_name`"
                :autoCompleteData="ownerList"
                :defaultValue="postData.owner_name"
                :modalTitle="`貨主代碼`"
                :toCloseModal="toCloseOwnerAutocompleteModal"
                keyCode="customerSetup"
                storeKey="customerByCmpCat"
                returnCode="customer_name"
                :showCols="autoCompleteShowOwnerCols"
                :isError="error.owner_id"
                :isRequired="true"
                :disabled="step === 2"
                @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
                @changeModelEvent="ownerAutocompleteChangeEvent"
                @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
                  <div>
                    <!-- 貨主代碼-->
                    <AutocompleteModal
                    keyCode="customerSetup"
                    storeKey="customerByCmpCat"
                    returnCode="customer_name"
                    respondCode= "customer"
                    :apiUrlCondition="setAutocompleteOwnerApiUrl"
                    :condition="ownerCondition"
                    @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
                  </div>
                </FloatLabelBox>
            </div>
            <!-- 供應商代碼 vendor_id -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'vendor_id' || item.isShow && item.key === 'vendor_id'"
            >
              <FloatLabelBox
              :config="{hasContent: (postData.vendor_name && postData.vendor_name!==''), label: `${item.label}`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 55}, hiddenSearchBtn: true}"
              :code="`vendor_name`"
              :autoCompleteData="vendorList"
              :defaultValue="postData.vendor_name"
              :modalTitle="`供應商代碼`"
              :toCloseModal="toCloseVendorAutocompleteModal"
              keyCode="customerSetup"
              storeKey="customerByCmpCat"
              returnCode="customer_name"
              :showCols="autoCompleteShowVendorCols"
              @handleEnterSubmit="autocompleteHandleVendorEnterSubmitEvent"
              @changeModelEvent="vendorAutocompleteChangeEvent"
              @autoCompleteSearchEvent="vendorAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseVendorAutocompleteModal">
                <div>
                  <!-- 供應商代碼-->
                  <AutocompleteModal
                  keyCode="customerSetup"
                  storeKey="customerByCmpCat"
                  returnCode="customer_name"
                  respondCode= "customer"
                  :apiUrlCondition="setAutocompleteVendorApiUrl"
                  :condition="vendorCondition"
                  @setAutocompleteValueEvent="setAutocompleteVendorValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
            </div>
            <!-- 預計入庫日 inbound_expect -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_expect' || item.isShow && item.key === 'inbound_expect'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_expect && postData.inbound_expect!==''), label: `${item.label}`, hasClearButton: true, type: `DatePicker`, settings: {width: 350, height: 52}}"
                :code="`inbound_expect`"
                :defaultValue="postData.inbound_expect"
                @changeModelEvent="inboundExpectDatePickerChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫取消類別 inbound_cancel_type -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_cancel_type' || item.isShow && item.key === 'inbound_cancel_type'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_cancel_type && postData.inbound_cancel_type!==''), label: `${item.label}`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
                :selectList="inboundCancelTypeList"
                :code="`inbound_cancel_type`"
                :defaultValue="postData.inbound_cancel_type"
                @changeModelEvent="inboundCancelTypeListChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 板數 inbound_pallets -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_pallets' || item.isShow && item.key === 'inbound_pallets'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_pallets && postData.inbound_pallets!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_pallets`"
                :defaultValue="postData.inbound_pallets"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 箱數 inbound_boxes -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_boxes' || item.isShow && item.key === 'inbound_boxes'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_boxes && postData.inbound_boxes!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_boxes`"
                :defaultValue="postData.inbound_boxes"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫單備註 inbound_note -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_note' || item.isShow && item.key === 'inbound_note'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_note && postData.inbound_note!==''), label: `${item.label}`, hasClearButton: true, type: `Textarea`, settings: {minHeight: 52}}"
                :code="`inbound_note`"
                :defaultValue="postData.inbound_note"
                :disabled="false"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
          </grid-item>
        </grid-layout>
      </div>
      </div>
    <div class="pt-4" v-show="changeContent === 'details'">
      <!-- 原出庫單號 return_from_outbound_no -->
      <div class="mb-3">
        <FloatLabelBox
          :config="{hasContent: (postData.return_from_outbound_no && postData.return_from_outbound_no!==''), label: `原出庫單號`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 350, height: 52}, hiddenSearchBtn: true}"
          :code="`return_from_outbound_no`"
          :autoCompleteData="returnFromOutboundNoList"
          :defaultValue="postData.return_from_outbound_no"
          :modalTitle="`原出庫單號`"
          :toCloseModal="toCloseReturnFromOutboundNoAutocompleteModal"
          keyCode="outboundOperation"
          storeKey="outboundQueryByCompanyWh"
          returnCode="outbound_no"
          :disabled="step === 2"
          :showCols="autoCompleteShowReturnFromOutboundNoCols"
          @handleEnterSubmit="autocompleteHandleReturnFromOutboundNoEnterSubmitEvent"
          @changeModelEvent="returnFromOutboundNoAutocompleteChangeEvent"
          @autoCompleteSearchEvent="returnFromOutboundNoAutoCompleteSearchEvent"
          @setToCloseModalEvent="setToCloseReturnFromOutboundNoAutocompleteModal">
            <div>
              <!-- 原出庫單號 -->
              <AutocompleteModal
              keyCode="outboundOperation"
              storeKey="outboundQueryByCompanyWh"
              returnCode="outbound_no"
              respondCode= "outboundList"
              :condition="returnFromOutboundNoCondition"
              @setAutocompleteValueEvent="setAutocompleteReturnFromOutboundNoValue"></AutocompleteModal>
            </div>
          </FloatLabelBox>
        </div>
      <!-- 入庫單明細 -->
      <ReturnOperationSimpleDetails
        ref="setReturnOperationSimpleDetailsList"
        :changeContent="changeContent"
        :detailId="detailId"
        :companyId="companyId"
        :whId="whId"
        :uiId="uiId"
        :ownerId="postData.owner_id"
        :returnFromOutboundId="postData.return_from_outbound_id"
        @gridDataChangeEvent="returnOperationSimpleDetailsListChangeEvent"
      ></ReturnOperationSimpleDetails>
    </div>
    <!-- 時間軸 -->
    <div class="step1" v-show="changeContent !== 'details'">
      <Step1 :width="165" :data="stepReturnData"></Step1>
    </div>
    <!-- save btn -->
    <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
/**
 * 1.
 * owner_id 需要去拉 查詢 customer_cat = 1 (貨主)
 * 2.
 * vendor_id 需要去拉 查詢 customer_cat = 2 (供應商)
 * 3.
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import VueGridLayout from 'vue-grid-layout'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ReturnOperationSimpleDetails from './ReturnOperationSimpleDetails'
import Step1 from '@/components/Step/Step1'
//
export default {
  name: 'ReturnOperationSimpleAdd',
  props: ['step', 'detailId', 'editLayoutToggle', 'layoutMainInbound', 'layout_1', 'accordionToggle', 'cloneData', 'companyId', 'whId', 'userId', 'uiId', 'timeZoneTimestamp', 'showInpageTab'],
  components: {
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    AutocompleteModal,
    ReturnOperationSimpleDetails,
    Step1
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    // 時間軸
    let stepReturnData = [
      {
        label: '退貨入庫通知',
        date: '',
        time: '',
        status: 0, // 是否完成 0:未完成 / 1:完成
        isStartNode: true, // 是否始點
        isEndNode: false // 是否為終點
      },
      {
        label: '退貨已驗收',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '退貨已品檢',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '退貨已上架',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '上架確認',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: true
      }
    ]
    // 商品建檔 - 1
    let layout1 = this.layoutMainInbound[0] || [
      { 'x': 0, 'y': 0, 'w': 3, 'h': 1, 'i': '0', 'label': '單據編號/單號', 'key': 'inbound_no', isShow: true }, // 單據編號/單號
      { 'x': 3, 'y': 0, 'w': 3, 'h': 1, 'i': '1', 'label': '入庫單狀態', 'key': 'inbound_status', isShow: true }, // 入庫單狀態
      { 'x': 6, 'y': 0, 'w': 3, 'h': 1, 'i': '2', 'label': '進倉單號', 'key': 'inbound_bill_no', isShow: true }, // 進倉單號
      { 'x': 9, 'y': 0, 'w': 3, 'h': 1, 'i': '3', 'label': '主單號(MAWB)', 'key': 'main_bill_no', isShow: true }, // 主單號(MAWB)

      { 'x': 0, 'y': 1, 'w': 3, 'h': 1, 'i': '4', 'label': '分單號(HAWB)', 'key': 'sub_bill_no', isShow: true }, // 分單號(HAWB)
      { 'x': 3, 'y': 1, 'w': 3, 'h': 1, 'i': '5', 'label': '訂單編號 *', 'key': 'owner_bill_no', isShow: true }, // 訂單編號
      { 'x': 6, 'y': 1, 'w': 3, 'h': 1, 'i': '6', 'label': '貨櫃號碼', 'key': 'container_no', isShow: true }, // 貨櫃號碼
      { 'x': 9, 'y': 1, 'w': 3, 'h': 1, 'i': '7', 'label': '貨櫃類別代碼', 'key': 'container_type_code', isShow: true }, // 貨櫃類別代碼

      { 'x': 0, 'y': 2, 'w': 3, 'h': 1, 'i': '8', 'label': '貨主代碼 *', 'key': 'owner_id', isShow: true }, // 貨主ID
      { 'x': 3, 'y': 2, 'w': 3, 'h': 1, 'i': '9', 'label': '供應商代碼', 'key': 'vendor_id', isShow: true }, // 供應商ID
      { 'x': 6, 'y': 2, 'w': 3, 'h': 1, 'i': '10', 'label': '預計入庫日', 'key': 'inbound_expect', isShow: true }, // 預計入庫日
      { 'x': 9, 'y': 2, 'w': 3, 'h': 1, 'i': '11', 'label': '板數', 'key': 'inbound_pallets', isShow: true }, // 板數

      { 'x': 0, 'y': 3, 'w': 3, 'h': 1, 'i': '12', 'label': '箱數', 'key': 'inbound_boxes', isShow: true }, // 箱數
      { 'x': 3, 'y': 3, 'w': 6, 'h': 1, 'i': '13', 'label': '入庫單備註', 'key': 'inbound_note', isShow: true }, // 入庫單備註
      { 'x': 6, 'y': 3, 'w': 3, 'h': 1, 'i': '14', 'label': '入庫取消類別', 'key': 'inbound_cancel_type', isShow: false } // 入庫取消類別
    ]
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    var userName = this.$store.state.auth.userInfo.userName
    //
    let date = new Date()
    let timestamp = date.getTime()
    //
    let postData = {
      inbound_id: this.cloneData ? this.cloneData.inbound_id : '', // 入庫紀錄ID
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      company_name: this.cloneData ? this.cloneData.company_name : '', // 公司
      wh_id: this.cloneData ? this.cloneData.wh_id : this.whId, // 倉庫ID
      wh_name: this.cloneData ? this.cloneData.wh_name : '', // 倉庫
      inbound_no: '', // 單據編號/單號
      inbound_status: '', // 入庫單狀態
      inbound_bill_no: this.cloneData ? this.cloneData.inbound_bill_no : '', // 進倉單號
      main_bill_no: this.cloneData ? this.cloneData.main_bill_no : '', // 主單號(MAWB)
      sub_bill_no: this.cloneData ? this.cloneData.sub_bill_no : '', // 分單號(HAWB)
      owner_bill_no: this.cloneData ? this.cloneData.owner_bill_no : `${userName}_${timestamp}`, // 訂單編號
      container_no: this.cloneData ? this.cloneData.container_no : '', // 貨櫃號碼
      container_type_code: this.cloneData ? this.cloneData.container_type_code : '', // 貨櫃類別代碼
      customer_name: this.cloneData ? this.cloneData.customer_name : '', // 客戶名稱
      return_from_outbound_no: this.cloneData ? this.cloneData.return_from_outbound_no : '', // 原出庫單號
      return_from_outbound_id: this.cloneData ? this.cloneData.return_from_outbound_id : '', // 原出庫單ID
      owner_name: this.cloneData ? this.cloneData.owner_name : ownerName, // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : ownerId, // 貨主ID
      vendor_name: this.cloneData ? this.cloneData.vendor_name : '', // 供應商
      vendor_id: this.cloneData ? this.cloneData.vendor_id : '', // 供應商ID
      inbound_expect: this.cloneData ? this.cloneData.inbound_expect : '', // 預計入庫日
      inbound_pallets: this.cloneData ? this.cloneData.inbound_pallets : '', // 板數
      inbound_boxes: this.cloneData ? this.cloneData.inbound_boxes : '', // 箱數
      inbound_type: 56, // 入庫類別
      inbound_cancel_type: this.cloneData ? this.cloneData.inbound_cancel_type : '', // 入庫取消類別
      date_quantity_check: this.cloneData ? this.cloneData.date_quantity_check : '', // 驗收日
      inbound_note: this.cloneData ? this.cloneData.inbound_note : '', // 入庫單備註
      date_inbound: '', // 退貨入庫時間
      date_cancel: '', // 入庫取消時間
      date_quality_check: '', // 退貨品檢確認時間
      date_put_away: '', // 退貨上架時間
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      modalType: modalType,
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      stepReturnData: stepReturnData,
      layout1: layout1,
      lay1: layout1.filter((el) => {
        return el.isShow
      }),
      /* 原出庫單號 : return_from_outbound_no */
      returnFromOutboundNoList: [],
      autoCompleteShowReturnFromOutboundNoCols: [
        'order_no'
      ],
      toCloseReturnFromOutboundNoAutocompleteModal: false,
      returnFromOutboundNoCondition: [],
      // setAutocompleteReturnFromOutboundNoApiUrl: { companyId: this.companyId, whId: this.whId },
      /* 貨主代碼 : owner_id */
      ownerId: ownerId,
      ownerName: ownerName,
      userName: userName,
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      setAutocompleteOwnerApiUrl: { companyId: this.companyId, whId: this.whId, customerCat: 1 },
      /* 供應商代碼 : vendor_id */
      vendorList: [],
      autoCompleteShowVendorCols: [
        'customer_no'
      ],
      toCloseVendorAutocompleteModal: false,
      vendorCondition: [],
      setAutocompleteVendorApiUrl: { companyId: this.companyId, whId: this.whId, customerCat: 2 },
      /* tab */
      changeContent: this.showInpageTab,
      /* 入庫單狀態 */
      inboundStatusList: [
        {
          label: '退貨待驗收',
          value: 10
        },
        {
          label: '退貨取消入庫',
          value: 15
        },
        {
          label: '退貨待品檢',
          value: 20
        },
        {
          label: '退貨待上架',
          value: 30
        },
        {
          label: '退貨已上架',
          value: 40
        },
        {
          label: '上架確認',
          value: 50
        }
      ],
      /* 入庫類別 */
      inboundTypeList: [],
      /* 入庫取消類別 */
      inboundCancelTypeList: [],
      // 入庫單明細
      returnOperationSimpleDetailsList: [],
      //
      postData: postData,
      error: {
        inbound_id: false, // 入庫紀錄ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        inbound_bill_no: false, // 進倉單號
        main_bill_no: false, // 主單號(MAWB)
        sub_bill_no: false, // 分單號(HAWB)
        owner_bill_no: false, // 訂單編號
        container_no: false, // 貨櫃號碼
        container_type_code: false, // 貨櫃類別代碼
        owner_id: false, // 貨主ID
        vendor_id: false, // 供應商ID
        inbound_expect: false, // 預計入庫日
        inbound_pallets: false, // 板數
        inbound_boxes: false, // 箱數
        inbound_type: false, // 入庫類別
        inbound_cancel_type: false, // 入庫取消類別
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 退貨入庫時間
        date_cancel: false, // 入庫取消時間
        date_quality_check: false, // 退貨品檢確認時間
        date_put_away: false, // 退貨上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false,
      isChangeInboundStatus: false, // 是否修改狀態
      timestamp: timestamp
    }
  },
  computed: {
    returnOperationSimple: function () {
      return this.$store.state[`returnOperationSimple`][`returnOperationSimple`] || {}
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    returnOperationSimpleDetailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    returnOperationSimple: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          inbound_id: val.inbound_id || null, // 入庫紀錄ID
          company_id: val.company_id || this.companyId, // 公司ID
          wh_id: val.wh_id || this.whId, // 倉庫ID
          inbound_no: val.inbound_no || null, // 單據編號/單號
          inbound_status: val.inbound_status || null, // 入庫單狀態
          inbound_bill_no: val.inbound_bill_no || null, // 進倉單號
          main_bill_no: val.main_bill_no || null, // 主單號(MAWB)
          sub_bill_no: val.sub_bill_no || null, // 分單號(HAWB)
          owner_bill_no: val.owner_bill_no || `${this.userName}_${this.timestamp}`, // 訂單編號
          container_no: val.container_no || null, // 貨櫃號碼
          container_type_code: val.container_type_code || null, // 貨櫃類別代碼
          return_from_outbound_no: val.return_from_outbound_no || null, // 原出庫單號
          return_from_outbound_id: val.return_from_outbound_id || null, // 原出庫ID
          owner_name: val.owner_name || this.ownerName, // 貨主
          owner_id: val.owner_id || this.ownerId, // 貨主ID
          vendor_name: val.vendor_name || null, // 供應商
          vendor_id: val.vendor_id || null, // 供應商ID
          inbound_expect: val.inbound_expect || null, // 預計入庫日
          inbound_pallets: val.inbound_pallets || null, // 板數
          inbound_boxes: val.inbound_boxes || null, // 箱數
          inbound_type: val.inbound_type || 56, // 入庫類別
          inbound_cancel_type: val.inbound_cancel_type || null, // 入庫取消類別
          date_quantity_check: val.date_quantity_check ? this.changeToLocalTime(val.date_quantity_check) : null, // 驗收日
          inbound_note: val.inbound_note || null, // 入庫單備註
          date_inbound: val.date_inbound ? this.changeToLocalTime(val.date_inbound) : null, // 退貨入庫時間
          date_cancel: val.date_cancel || null, // 入庫取消時間
          date_quality_check: val.date_quality_check ? this.changeToLocalTime(val.date_quality_check) : null, // 退貨品檢確認時間
          date_put_away: val.date_put_away ? this.changeToLocalTime(val.date_put_away) : null, // 退貨上架時間
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
        // 退貨入庫時間
        switch (val.inbound_status) {
          case 10:
            this.stepReturnData = [
              {
                label: '退貨入庫通知',
                date: this.postData.date_inbound ? this.postData.date_inbound.substr(0, 10) : '',
                time: this.postData.date_inbound ? this.postData.date_inbound.substr(11, 5) : '',
                status: 1,
                isStartNode: true, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已驗收',
                date: '',
                time: '',
                status: 0,
                isStartNode: false, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已品檢',
                date: '',
                time: '',
                status: 0,
                isStartNode: false, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已上架',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: false
              },
              {
                label: '上架確認',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: true
              }
            ]
            break
          case 20:
            this.stepReturnData = [
              {
                label: '退貨入庫通知',
                date: this.postData.date_inbound ? this.postData.date_inbound.substr(0, 10) : '',
                time: this.postData.date_inbound ? this.postData.date_inbound.substr(11, 5) : '',
                status: 1,
                isStartNode: true, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已驗收',
                date: this.postData.date_quantity_check ? this.postData.date_quantity_check.substr(0, 10) : '',
                time: this.postData.date_quantity_check ? this.postData.date_quantity_check.substr(11, 5) : '',
                status: 1,
                isStartNode: false, // 是否始點
                isEndNode: false // 是否為終點
              },
              {
                label: '退貨已品檢',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: false
              },
              {
                label: '退貨上架時間',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: false
              },
              {
                label: '上架確認',
                date: '',
                time: '',
                status: 0,
                isStartNode: false,
                isEndNode: true
              }
            ]
            break
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.owner_id) {
          this.error.owner_id = false
        }
        if (val.owner_bill_no) {
          this.error.owner_bill_no = false
        }
        if (val.container_type_code) {
          if (val.container_type_code.length <= 4) {
            this.error.container_type_code = false
          }
        }
      },
      deep: true
    },
    editLayoutToggle: function (bol) {
      // console.log(bol)
      if (!bol) {
        // console.log(this.layout_1)
      }
    },
    layout1: {
      handler: function (val) {
        // console.log(val)
        this.$emit('layout1ChangeEvent', val)
        //
        let lay1 = JSON.parse(JSON.stringify(val)).filter((el) => {
          return el.isShow
        })
        this.lay1 = lay1
      },
      deep: true
    }
  },
  methods: {
    returnOperationSimpleDetailsListChangeEvent: function (data) {
      // console.log('returnOperationSimpleDetailsList???????????????data')
      // console.log(data)
      this.returnOperationSimpleDetailsList = data
    },
    accordionToggleToClose: function () {
      this.$emit('accordionToggleChangeEvent', false)
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.inbound_id = null
      this.postData.inbound_no = null // 單據編號/單號
      this.postData.inbound_status = 10 // 入庫單狀態
      this.save('clone')
    },
    changeInboundStatus: function (newInboundStatus) {
      this.postData.inbound_status = newInboundStatus
      this.isChangeInboundStatus = true
      this.save()
    },
    save: async function (action = null) {
      //
      let isError = false
      // 檢查
      if (!this.postData.owner_id || this.postData.owner_id === '') {
        isError = true
        this.error.owner_id = true
        // 警告提示
        this.$Notice.error({
          title: '貨主未填',
          duration: 30
        })
      }
      if (!this.postData.owner_bill_no || this.postData.owner_bill_no === '') {
        isError = true
        this.error.owner_bill_no = true
        // 警告提示
        this.$Notice.error({
          title: '訂單編號未填',
          duration: 30
        })
      }
      if (this.postData.container_type_code) {
        if (this.postData.container_type_code.length > 4) {
          isError = true
          this.error.container_type_code = true
        }
      }
      if ((this.postData.inbound_status === 20) && (this.returnOperationSimpleDetailsList.length === 0)) {
        isError = true
        this.postData.inbound_status = 10
        this.$Notice.error({
          title: `入庫明細未輸入，驗收失敗`
        })
      }
      //
      if (isError) {
        return
      }
      this.$emit('changeLoadingViewIsShowEvent', true)
      //
      let postData = {
        company_id: this.companyId, // 用戶資訊取得
        wh_id: this.whId, // 用戶資訊取得
        user_id: this.userId
      }
      Object.keys(this.postData).forEach((key, idx) => {
        if (key !== 'company_name' && key !== 'wh_name' && key !== 'inbound_id' && key !== 'inbound_no' && key !== 'inbound_status' && key !== 'customer_name' && key !== 'return_from_outbound_id' && key !== 'owner_name' && key !== 'vendor_name' && key !== 'date_inbound' && key !== 'date_quantity_check' && key !== 'date_cancel' && key !== 'date_quality_check' && key !== 'date_put_away' && key !== 'created_at' && key !== 'update_at') {
          if (this.postData[key] !== null && this.postData[key] !== '') {
            let value = this.postData[key]
            postData[key] = value
          }
        }
      })
      // console.log(postData)
      //
      try {
        var rex = /^[2]/g
        switch (this.step) {
          case 1:
            // create
            // console.log('create')
            // 檢查有沒有重複的 owner_bill_no
            let ownerBillNoPostData = {
              page: 1,
              pageSize: 1,
              combinedCondition: 'AND',
              query: [
                {
                  queryCondition: '=',
                  queryField: 'owner_bill_no',
                  queryValue: this.postData.owner_bill_no
                },
                {
                  queryCondition: '=',
                  queryField: 'owner_id',
                  queryValue: this.postData.owner_id
                },
                {
                  queryCondition: '=',
                  queryField: 'inbound_type',
                  queryValue: 56
                },
                {
                  queryCondition: '!=',
                  queryField: 'inbound_status',
                  queryValue: 15
                }
              ],
              sort: []
            }
            let ownerBillNoRes = await this.$store.dispatch('returnOperationSimple/search', { postData: ownerBillNoPostData, companyId: this.companyId, whId: this.whId })
            // console.log(ownerBillNoRes)
            if (ownerBillNoRes.httpStatus === 200 || ownerBillNoRes.httpStatus === 201) {
              if (ownerBillNoRes.respondCode.additionals.inbound.length > 0) {
                this.$Notice.error({
                  title: '已有相同訂單編號',
                  duration: 30
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
                return
              }
            }
            //
            postData.inbound_status = 10 // 預設
            postData.func_name = 'return'
            let createRes = await this.$store.dispatch('returnOperationSimple/create', postData)
            // console.log(createRes)
            if (rex.test(createRes.httpStatus)) {
              this.postData.inbound_id = createRes.respondCode.additionals.inbound.inbound_id // 入庫紀錄ID
              this.postData.inbound_no = createRes.respondCode.additionals.inbound.inbound_no // 單據編號/單號
              this.postData.inbound_status = createRes.respondCode.additionals.inbound.inbound_status // 入庫單狀態
              // 存明細
              // console.log(this.returnOperationSimpleDetailsList)
              if (this.returnOperationSimpleDetailsList) {
                let detailsListLength = this.returnOperationSimpleDetailsList.length
                for (let i = 0; i < detailsListLength; i++) {
                  await this.saveReturnOperationSimpleDetailsList(this.returnOperationSimpleDetailsList[i], i)
                  // console.log(i)
                }
              }
              this.$refs.setReturnOperationSimpleDetailsList.setReturnOperationSimpleDetailsList('set', this.returnOperationSimpleDetailsList)
              // 撈回時間
              let pd = {
                page: 1,
                pageSize: 1,
                combinedCondition: null,
                query: [
                  {
                    queryCondition: '=',
                    queryField: 'inbound_id',
                    queryValue: this.postData.inbound_id
                  }
                ],
                sort: []
              }
              let queryRes = await this.$store.dispatch('returnOperationSimple/queryDetail', { postData: pd, companyId: this.companyId, whId: this.whId })
              let localDateInbound = this.changeToLocalTime(queryRes.respondCode.additionals.inbound[0].date_inbound)
              this.stepReturnData[0].date = localDateInbound.substr(0, 10) // 入庫通知時間(日期)
              this.stepReturnData[0].time = localDateInbound.substr(11, 5) // 入庫通知時間(時間)
              this.stepReturnData[0].status = 1 // 入庫通知時間(藍點點)
              //
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', 2, this.postData.inbound_id, this.postData.inbound_status)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else if (createRes.httpStatus !== 401) {
              this.$Notice.error({
                title: '儲存失敗',
                desc: createRes.respondCode.debugInfo,
                duration: 30
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
          case 2:
            // update
            // console.log(postData)
            if (action === 'clone') {
              // update : clone
              // console.log('update : clone')
              delete postData['inbound_id']
              postData.inbound_status = 10 // 預設
              postData.func_name = 'return'
              postData.owner_bill_no = `${this.postData.owner_bill_no}_clone`
              let createRes = await this.$store.dispatch('returnOperationSimple/create', postData)
              if (rex.test(createRes.httpStatus)) {
                this.postData.inbound_id = createRes.respondCode.additionals.inbound.inbound_id // 入庫紀錄ID
                this.postData.inbound_no = createRes.respondCode.additionals.inbound.inbound_no // 單據編號/單號
                this.postData.inbound_status = createRes.respondCode.additionals.inbound.inbound_status // 入庫單狀態
                // 清空時間軸，再撈回時間
                await this.initStepReturnData()
                // console.log('清空時間軸')
                // console.log(this.stepReturnData)
                let pd = {
                  page: 1,
                  pageSize: 1,
                  combinedCondition: null,
                  query: [
                    {
                      queryCondition: '=',
                      queryField: 'inbound_id',
                      queryValue: this.postData.inbound_id
                    }
                  ],
                  sort: []
                }
                let queryRes = await this.$store.dispatch('returnOperationSimple/queryDetail', { postData: pd, companyId: this.companyId, whId: this.whId })
                let localDateInbound = this.changeToLocalTime(queryRes.respondCode.additionals.inbound[0].date_inbound)
                this.stepReturnData[0].date = localDateInbound.substr(0, 10) // 入庫通知時間(日期)
                this.stepReturnData[0].time = localDateInbound.substr(11, 5) // 入庫通知時間(時間)
                this.stepReturnData[0].status = 1 // 入庫通知時間(藍點點)
                // 存明細
                if (this.returnOperationSimpleDetailsList) {
                  let detailsListLength = this.returnOperationSimpleDetailsList.length
                  for (let i = 0; i < detailsListLength; i++) {
                    await this.saveReturnOperationSimpleDetailsList(this.returnOperationSimpleDetailsList[i], i)
                  }
                }
                this.$refs.setReturnOperationSimpleDetailsList.setReturnOperationSimpleDetailsList('set', this.returnOperationSimpleDetailsList)
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', 2, this.postData.inbound_id, this.postData.inbound_status)
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else if (createRes.httpStatus !== 401) {
                this.$Notice.error({
                  title: '儲存失敗',
                  desc: createRes.respondCode.debugInfo,
                  duration: 30
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            } else {
              // update
              // console.log('update')
              Object.keys(this.postData).forEach((key, idx) => {
                if (key !== 'customer_name' && key !== 'vendor_name' && key !== 'date_inbound' && key !== 'date_quantity_check' && key !== 'date_cancel' && key !== 'date_quality_check' && key !== 'date_put_away' && key !== 'update_at') {
                  if (this.postData[key] === '' || this.postData[key] === null || this.postData[key] === undefined) {
                    if (key === 'vendor_id' || key === 'inbound_pallets' || key === 'inbound_boxes') {
                      postData[key] = 0
                    } else {
                      postData[key] = 'null'
                    }
                  }
                }
              })
              delete postData['inbound_id']
              delete postData['company_id']
              delete postData['wh_id']
              // 存明細
              // console.log(this.returnOperationSimpleDetailsList)
              if (this.returnOperationSimpleDetailsList) {
                let detailsListLength = this.returnOperationSimpleDetailsList.length
                if (detailsListLength === 0 && this.postData.inbound_status === 50) {
                  this.$Notice.error({
                    title: '明細未填，無法上架',
                    duration: 30
                  })
                  this.detailsListIsError = true
                }
                if (this.postData.inbound_status === 50) {
                  for (let i = 0; i < detailsListLength; i++) {
                    if (Number(this.returnOperationSimpleDetailsList[i].inbound_num) && Number(this.returnOperationSimpleDetailsList[i].inbound_num_bad)) {
                      // 明細同時有良品不良品，幫使用者拆單
                      await this.copyReturnOperationSimpleDetailsList(this.returnOperationSimpleDetailsList[i], i)
                    } else {
                      // 只有一種，update明細
                      await this.updateReturnOperationSimpleDetailsList(this.returnOperationSimpleDetailsList[i], i)
                    }
                  }
                } else {
                  for (let i = 0; i < detailsListLength; i++) {
                    if (this.returnOperationSimpleDetailsList[i].id_id) {
                      await this.updateReturnOperationSimpleDetailsList(this.returnOperationSimpleDetailsList[i], i)
                    } else {
                      await this.saveReturnOperationSimpleDetailsList(this.returnOperationSimpleDetailsList[i], i)
                    }
                  }
                  this.$refs.setReturnOperationSimpleDetailsList.setReturnOperationSimpleDetailsList('set', this.returnOperationSimpleDetailsList)
                }
              }
              // 如果明細存失敗，不改狀態
              if (this.detailsListIsError) {
                this.postData.inbound_status = 10
                delete postData['inbound_status']
                this.isChangeInboundStatus = false
                this.detailsListIsError = false
              }
              // inbound_detail 轉 inventory
              // if (this.postData.inbound_status === 50) {
              //   let convertPostData = {
              //     inboundIds: [this.postData.inbound_id],
              //     userId: this.userId
              //   }
              //   let convertRes = await this.$store.dispatch('inboundDetail/convert', convertPostData)
              //   console.log(convertRes)
              //   if (convertRes.httpStatus !== 200 && convertRes.httpStatus !== 201) {
              //     this.postData.inbound_status = 10
              //     delete postData['inbound_status']
              //     this.detailsListIsError = false
              //     this.isChangeInboundStatus = false
              //     this.$Notice.error({
              //       title: '更新失敗'
              //     })
              //     this.$emit('changeLoadingViewIsShowEvent', false)
              //     return
              //   }
              // }
              // console.log(postData)
              if (this.postData.inbound_status >= 20 && this.isChangeInboundStatus) {
                let date = new Date()
                let UtcDate = this.changeToUTCTime(date)
                // let timeZone
                postData.date_quantity_check = UtcDate // 驗收日
                postData.inbound_status = this.postData.inbound_status
              }
              let updateRes = await this.$store.dispatch('returnOperationSimple/update', { postData: postData, detailId: this.detailId })
              // console.log(updateRes)
              if (rex.test(updateRes.httpStatus)) {
                // 成功修改提示
                this.$Notice.success({
                  title: '成功修改'
                })
                this.isChangeInboundStatus = false
                if (this.postData.inbound_status === 20) {
                  this.$emit('toStepEvent', 4, this.postData.inbound_id, this.postData.inbound_status)
                }
                if (this.postData.inbound_status === 50) {
                  this.$emit('toStepEvent', 7, this.postData.inbound_id, this.postData.inbound_status)
                }
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else if (updateRes.httpStatus !== 401) {
                this.isChangeInboundStatus = false
                this.$Notice.error({
                  title: '更新失敗',
                  desc: updateRes.respondCode.debugInfo,
                  duration: 30
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            }
            break
          case 3:
            // create : clone
            // console.log('create : clone')
            delete postData['inbound_id']
            postData.inbound_status = 10 // 預設
            postData.func_name = 'return'
            postData.owner_bill_no = `${this.postData.owner_bill_no}_clone`
            let cloneRes = await this.$store.dispatch('returnOperationSimple/create', postData)
            // console.log(cloneRes)
            if (rex.test(cloneRes.httpStatus)) {
              this.postData.inbound_id = cloneRes.respondCode.additionals.inbound.inbound_id // 入庫紀錄ID
              this.postData.inbound_no = cloneRes.respondCode.additionals.inbound.inbound_no // 單據編號/單號
              this.postData.inbound_status = cloneRes.respondCode.additionals.inbound.inbound_status // 入庫單狀態
              // 清空時間軸，再撈回時間
              await this.initstepReturnData()
              let pd = {
                page: 1,
                pageSize: 1,
                combinedCondition: null,
                query: [
                  {
                    queryCondition: '=',
                    queryField: 'inbound_id',
                    queryValue: this.postData.inbound_id
                  }
                ],
                sort: []
              }
              let queryRes = await this.$store.dispatch('returnOperationSimple/queryDetail', { postData: pd, companyId: this.companyId, whId: this.whId })
              let localDateInbound = this.changeToLocalTime(queryRes.respondCode.additionals.inbound[0].date_inbound)
              this.stepReturnData[0].date = localDateInbound.substr(0, 10) // 入庫通知時間(日期)
              this.stepReturnData[0].time = localDateInbound.substr(11, 5) // 入庫通知時間(時間)
              this.stepReturnData[0].status = 1 // 入庫通知時間(藍點點)
              // 存明細
              if (this.returnOperationSimpleDetailsList) {
                let detailsListLength = this.returnOperationSimpleDetailsList.length
                for (let i = 0; i < detailsListLength; i++) {
                  await this.saveReturnOperationSimpleDetailsList(this.returnOperationSimpleDetailsList[i], i)
                }
                this.$refs.setReturnOperationSimpleDetailsList.setReturnOperationSimpleDetailsList('set', this.returnOperationSimpleDetailsList)
              }
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', 2, this.postData.inbound_id, this.postData.inbound_status)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else if (cloneRes.httpStatus !== 401) {
              this.$Notice.error({
                title: '儲存失敗',
                desc: cloneRes.respondCode.debugInfo,
                duration: 30
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
        }
      } catch (err) {
        // console.log(err)
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    // 新增明細
    saveReturnOperationSimpleDetailsList: async function (data, index) {
      var detailsList = {}
      let isError = false
      if (!data.product.product_id || data.product.product_id === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"料號/品名"未填`,
          duration: 30
        })
      }
      if (!data.inform_num || data.inform_num === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"通知量"未填`,
          duration: 30
        })
      }
      if (Number(data.inform_num) > 210000000) {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"通知量"過多`,
          desc: '請小於21億',
          duration: 30
        })
      }
      if (Number(data.inbound_num) > 210000000 || Number(data.inbound_num_bad) > 210000000) {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"數量"過多`,
          desc: '請小於21億',
          duration: 30
        })
      }
      if (isError) {
        this.$Notice.error({
          title: `第${data.INDEX}筆明細新增失敗`,
          duration: 30
        })
      }
      if (this.postData.inbound_status === 50) {
        if (!data.inbound_num && !data.inbound_num_bad) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"數量"請擇一填寫`,
            duration: 30
          })
        }
        if (!data.storageLoc.storage_id && !data.storageLocBad.storage_id) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"儲位"請擇一填寫`,
            duration: 30
          })
        }
        if (Number(data.inbound_num) && !data.storageLoc.storage_id) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"儲位(良品)"未填`,
            duration: 30
          })
        }
        if (Number(data.inbound_num_bad) && !data.storageLocBad.storage_id) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"儲位(不良品)"未填`,
            duration: 30
          })
        }
      }
      // console.log(isError)
      this.detailsListIsError = isError
      if (isError) {
        return
      }
      //
      detailsList = {
        company_id: this.postData.company_id,
        wh_id: this.postData.wh_id,
        user_id: this.userId,
        //
        product_id: parseInt(data.product.product_id), // 商品ID
        inventory_status: this.postData.inbound_status, // 庫存紀錄狀態
        inbound_id: this.postData.inbound_id, // 入庫單ID
        inbound_sn: data.INDEX // 入庫單序號
      }
      if (data.inbound_num !== '') {
        detailsList.inbound_num = parseInt(data.inbound_num) // 數量(良品)
      }
      if (data.inbound_num_bad !== '') {
        detailsList.inbound_num_bad = parseInt(data.inbound_num_bad) // 數量(不良品)
      }
      if (data.bonded_type !== null) {
        detailsList.bonded_type = parseInt(data.bonded_type) // 保稅屬性
      }
      if (data.quality_check_status) {
        detailsList.quality_check_status = parseInt(data.quality_check_status) // 檢驗結果/狀況 (回應碼)
      }
      if (data.quality_check_note) {
        detailsList.quality_check_note = data.quality_check_note // 品保備註
      }
      if (data.inform_num) {
        detailsList.inform_num = parseInt(data.inform_num) // 通知量(預計進倉量)
      }
      if (this.postData.vendor_id) {
        detailsList.vendor_id = this.postData.vendor_id // 供應商ID
      }
      if (data.product_batch_no) {
        detailsList.product_batch_no = data.product_batch_no // 批號
      }
      if (data.product_expiration_sale) {
        detailsList.product_expiration_sale = data.product_expiration_sale // 允售效期
      }
      if (data.product_expired_date) {
        detailsList.product_expired_date = data.product_expired_date // 有效日期
      }
      if (data.product_expiration_days) {
        detailsList.product_expiration_days = parseInt(data.product_expiration_days) // 保存天數
      }
      if (data.product_manufactured) {
        detailsList.product_manufactured = data.product_manufactured // 製造日期
      }
      if (data.storagePreassignStorageCode.storage_id) {
        detailsList.storage_preassign = parseInt(data.storagePreassignStorageCode.storage_id) // 參考儲位
      }
      if (data.storageLoc.storage_id) {
        detailsList.storage_loc = parseInt(data.storageLoc.storage_id) // 儲位(良品)
      }
      if (data.storageLocBad.storage_id) {
        detailsList.storage_loc_bad = parseInt(data.storageLocBad.storage_id) // 儲位(不良品)
      }
      if (data.custom_no) {
        detailsList.custom_no = parseInt(data.custom_no) // 報關單號
      }
      if (data.inventory_unitprice) {
        detailsList.inventory_unitprice = data.inventory_unitprice // 商品單價
      }
      if (data.inventoryUnitpriceCurrency.currency_id) {
        detailsList.inventory_unitprice_currency = data.inventoryUnitpriceCurrency.currency_id // 商品單價-幣別
      }
      if (data.inventory_note) {
        detailsList.inventory_note = data.inventory_note // 庫存紀錄備註
      }
      // console.log(detailsList)
      try {
        // 判斷有無 custom_no (報關單號)
        if (data.custom_no) {
          let postData = {
            page: 1,
            pageSize: Config.maxPageSize,
            combinedCondition: null,
            query: [
              {
                queryCondition: '=',
                queryField: 'custom_no',
                queryValue: data.custom_no
              }
            ],
            sort: []
          }
          // 查詢 custom_no (報關單號)是否存在，存在直接取 custom_id (報關單ID)，不存在就新增取回 custom_id (報關單ID)
          let customQueryResponse = await this.$store.dispatch(`custom/query`, postData)
          // console.log(customQueryResponse)
          if (customQueryResponse.respondCode.additionals.recCustom.length > 0) {
            detailsList.custom_id = parseInt(customQueryResponse.respondCode.additionals.recCustom.custom_id) // 報關單ID
            this.returnOperationSimpleDetailsList[index].custom_id = parseInt(customQueryResponse.respondCode.additionals.recCustom.custom_id) // 報關單ID
          } else {
            let customList = {}
            customList = {
              company_id: this.postData.company_id,
              wh_id: this.postData.wh_id,
              //
              custom_no: data.custom_no // 報單項次
            }
            if (this.postData.owner_id) {
              customList.owner_id = parseInt(this.postData.owner_id) // 貨主ID
            }
            if (this.postData.vendor_id) {
              customList.vendor_id = parseInt(this.postData.vendor_id) // 供應商ID
            }
            let customAddResponse = await this.$store.dispatch(`custom/create`, customList)
            detailsList.custom_id = parseInt(customAddResponse.respondCode.additionals.recCustom.custom_id) // 報關單ID
          }
          // console.log(detailsList.custom_id)
        }
        var inventoryResponse = await this.$store.dispatch(`inboundDetail/create`, detailsList)
        // console.log(inventoryResponse)
        if (inventoryResponse.httpStatus === 200 || inventoryResponse.httpStatus === 201) {
          this.returnOperationSimpleDetailsList[index].id_id = inventoryResponse.respondCode.additionals.inboundDetail.id_id
        } else if (inventoryResponse.httpStatus !== 401) {
          this.$Notice.error({
            title: `第${data.INDEX}筆明細新增失敗`,
            desc: `${inventoryResponse.data.respondCode.debugInfo}`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${data.INDEX}筆明細新增失敗`
        })
      }
    },
    // 修改明細
    updateReturnOperationSimpleDetailsList: async function (data, index) {
      var isError = false
      if (Number(data.inform_num) > 210000000) {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"通知量"過多`,
          desc: '請小於21億',
          duration: 30
        })
      }
      if (Number(data.inbound_num) > 210000000 || Number(data.inbound_num_bad) > 210000000) {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"數量"過多`,
          desc: '請小於21億',
          duration: 30
        })
      }
      if (this.postData.inbound_status === 20) {
        // if (!data.actual_num || data.actual_num === '') {
        //   isError = true
        //   this.$Notice.error({
        //     title: `第${index + 1}筆明細"驗收數量"未填`,
        //     duration: 30
        //   })
        // }
      }
      if (this.postData.inbound_status === 50) {
        if (!data.inbound_num && !data.inbound_num_bad) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"數量"請擇一填寫`,
            duration: 30
          })
        }
        if (!data.storageLoc.storage_id && !data.storageLocBad.storage_id) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"儲位"請擇一填寫`,
            duration: 30
          })
        }
        if (Number(data.inbound_num) && !data.storageLoc.storage_id) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"儲位(良品)"未填`,
            duration: 30
          })
        }
        if (Number(data.inbound_num_bad) && !data.storageLocBad.storage_id) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"儲位(不良品)"未填`,
            duration: 30
          })
        }
      }
      if (isError) {
        this.detailsListIsError = isError
        return
      }
      let detailsList = {
        user_id: this.userId,
        product_id: parseInt(data.product.product_id), // 商品ID
        inbound_num: parseInt(data.inbound_num) || 0, // 數量(良品)
        inbound_num_bad: parseInt(data.inbound_num_bad) || 0, // 數量(不良品)
        bonded_type: parseInt(data.bonded_type) || 'null', // 保稅屬性
        quality_check_status: parseInt(data.quality_check_status) || 'null', // 檢驗結果/狀況 (回應碼)
        quality_check_note: data.quality_check_note || 'null', // 品保備註
        inform_num: parseInt(data.inform_num) || 0, // 通知量(預計進倉量)
        actual_num: parseInt(data.actual_num) || 0, // 驗收數量
        vendor_id: parseInt(this.postData.vendor_id) || -1, // 供應商ID
        product_batch_no: data.product_batch_no || 'null', // 批號
        storage_preassign: parseInt(data.storagePreassignStorageCode.storage_id) || -1, // 參考儲位
        storage_loc: parseInt(data.storageLoc.storage_id) || -1, // 儲位(良品)
        storage_loc_bad: parseInt(data.storageLocBad.storage_id) || -1, // 儲位(不良品)
        custom_item_no: data.custom_item_no || 'null', // 報單項次
        inventory_unitprice: data.inventory_unitprice || 0, // 商品單價
        inventory_unitprice_currency: data.inventoryUnitpriceCurrency.currency_id || -1, // 商品單價-幣別
        inventory_note: data.inventory_note || 'null' // 庫存紀錄備註
      }
      if (data.product_expiration_sale) {
        if (data.product_expiration_sale instanceof Date) {
          let newProductExpirationSale = new Date(data.product_expiration_sale)
          let yyyy = newProductExpirationSale.getFullYear()
          let mm = newProductExpirationSale.getMonth() + 1
          let dd = newProductExpirationSale.getDate()
          let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
          // console.log(localFilterStartTime)
          detailsList.product_expiration_sale = localFilterStartTime // 允售效期
        } else {
          detailsList.product_expiration_sale = data.product_expiration_sale // 允售效期
        }
      } else {
        detailsList.product_expiration_sale = 'null'
      }
      if (data.product_expired_date) {
        if (data.product_expired_date instanceof Date) {
          let newProductExpiredDate = new Date(data.product_expired_date)
          let yyyy = newProductExpiredDate.getFullYear()
          let mm = newProductExpiredDate.getMonth() + 1
          let dd = newProductExpiredDate.getDate()
          let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
          // console.log(localFilterStartTime)
          detailsList.product_expired_date = localFilterStartTime
        } else {
          detailsList.product_expired_date = data.product_expired_date // 有效日期
        }
      } else {
        detailsList.product_expired_date = 'null'
      }
      if (data.product_expiration_days) {
        detailsList.product_expiration_days = parseInt(data.product_expiration_days) // 保存天數
      }
      if (data.product_manufactured) {
        if (data.product_manufactured instanceof Date) {
          let newProductManufactured = new Date(data.product_manufactured)
          let yyyy = newProductManufactured.getFullYear()
          let mm = newProductManufactured.getMonth() + 1
          let dd = newProductManufactured.getDate()
          let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
          detailsList.product_manufactured = localFilterStartTime
        } else {
          detailsList.product_manufactured = data.product_manufactured // 製造日期
        }
      } else {
        detailsList.product_manufactured = 'null'
      }
      //
      if (this.postData.inbound_status === 50) {
        detailsList.stock_num = parseInt(data.inbound_num) || 0
        detailsList.stock_num_bad = parseInt(data.inbound_num_bad) || 0
        detailsList.inventory_status = 40
      }
      try {
        // 判斷有無 custom_no (報關單號)
        if (data.custom_no) {
          let postData = {
            page: 1,
            pageSize: Config.maxPageSize,
            combinedCondition: null,
            query: [
              {
                queryCondition: '=',
                queryField: 'custom_no',
                queryValue: data.custom_no
              }
            ],
            sort: []
          }
          // 查詢 custom_no (報關單號)是否存在，存在直接取 custom_id (報關單ID)，不存在就新增取回 custom_id (報關單ID)
          let customQueryResponse = await this.$store.dispatch(`custom/query`, postData)
          if (customQueryResponse.respondCode.additionals.recCustom.length > 0) {
            detailsList.custom_id = parseInt(customQueryResponse.respondCode.additionals.recCustom.custom_id) // 報關單ID
          } else {
            let customList = {}
            customList = {
              company_id: this.postData.company_id,
              wh_id: this.postData.wh_id,
              //
              custom_no: data.custom_no // 報單項次
            }
            if (this.postData.owner_id) {
              customList.owner_id = parseInt(this.postData.owner_id) // 貨主ID
            }
            if (this.postData.vendor_id) {
              customList.vendor_id = parseInt(this.postData.vendor_id) // 供應商ID
            }
            let customAddResponse = await this.$store.dispatch(`custom/create`, customList)
            detailsList.custom_id = parseInt(customAddResponse.respondCode.additionals.recCustom.custom_id) // 報關單ID
          }
          // console.log(detailsList.custom_id)
        }
        let inventoryResponse = await this.$store.dispatch(`inboundDetail/update`, { postData: detailsList, detailId: data.id_id })
        if (inventoryResponse.httpStatus !== 200 && inventoryResponse.httpStatus !== 201 && inventoryResponse.httpStatus !== 401) {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細更新失敗`,
            desc: `${inventoryResponse.data.respondCode.debugInfo}`,
            duration: 30
          })
        }
        // console.log(inventoryResponse)
      } catch (err) {
        // console.log(err)
      }
    },
    copyReturnOperationSimpleDetailsList: async function (data, index) {
      // 不良品建立新明細
      let copyPostData = {
        company_id: data.company_id || this.companyId,
        wh_id: data.wh_id || this.whId,
        product_id: data.product_id || data.product.product_id,
        inventory_status: 40,
        copyfrom_inv_id: data.id_id,
        inbound_id: data.inbound_id || this.postData.inbound_id,
        inbound_sn: data.INDEX + 1,
        inform_num: 0,
        actual_num: 0,
        inbound_num_bad: parseInt(data.inbound_num_bad),
        storage_loc_bad: data.storageLocBad.storage_id,
        stock_num_bad: parseInt(data.inbound_num_bad),
        user_id: this.userId
      }
      if (data.bonded_type !== null) {
        copyPostData.bonded_type = data.bonded_type
      }
      if (data.quality_check_status) {
        copyPostData.quality_check_status = data.quality_check_status
      }
      if (data.quality_check_note) {
        copyPostData.quality_check_note = data.quality_check_note
      }
      if (data.vendor_id) {
        copyPostData.vendor_id = data.vendor_id
      }
      if (data.product_batch_no) {
        copyPostData.product_batch_no = data.product_batch_no
      }
      if (data.product_expiration_sale) {
        copyPostData.product_expiration_sale = data.product_expiration_sale
      }
      if (data.product_expired_date) {
        copyPostData.product_expired_date = data.product_expired_date
      }
      if (data.product_expiration_days) {
        copyPostData.product_expiration_days = data.product_expiration_days // 保存天數
      }
      if (data.product_manufactured) {
        copyPostData.product_manufactured = data.product_manufactured // 製造日期
      }
      if (data.storage_preassign) {
        copyPostData.storage_preassign = data.storage_preassign // 參考儲位
      }
      if (data.inventory_unitprice) {
        copyPostData.inventory_unitprice = data.inventory_unitprice // 商品單價
      }
      if (data.inventory_unitprice_currency) {
        copyPostData.inventory_unitprice_currency = data.inventory_unitprice_currency // 商品單價-幣別
      }
      if (data.inventory_note) {
        copyPostData.inventory_note = data.inventory_note // 庫存紀錄備註
      }
      if (data.inventory_lottable1) {
        copyPostData.inventory_lottable1 = data.inventory_lottable1
      }
      if (data.inventory_lottable2) {
        copyPostData.inventory_lottable2 = data.inventory_lottable2
      }
      if (data.inventory_lottable3) {
        copyPostData.inventory_lottable3 = data.inventory_lottable3
      }
      if (data.inventory_lottable4) {
        copyPostData.inventory_lottable4 = data.inventory_lottable4
      }
      if (data.inventory_lottable5) {
        copyPostData.inventory_lottable5 = data.inventory_lottable5
      }
      let copyRes = await this.$store.dispatch(`inboundDetail/create`, copyPostData)
      let copyInboundDetailId = null
      if (copyRes.httpStatus === 200 || copyRes.httpStatus === 201) {
        copyInboundDetailId = copyRes.respondCode.additionals.inboundDetail.id_id
      } else if (copyRes.httpStatus !== 401) {
        this.detailsListIsError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細更新失敗`
        })
        return
      }
      // 原明細，移除不良品數量、儲位，更新良品庫存
      let updatePostData = {
        user_id: this.userId,
        inventory_status: 40,
        stock_num: parseInt(data.inbound_num),
        inbound_num_bad: -1,
        storage_loc_bad: -1,
        stock_num_bad: -1,
        storage_preassign: parseInt(data.storagePreassignStorageCode.storage_id) || -1, // 參考儲位
        storage_loc: parseInt(data.storageLoc.storage_id) || -1, // 儲位(良品)
        quality_check_note: data.quality_check_note || 'null', // 品保備註
        inventory_lottable1: data.inventory_lottable1 || 'null',
        inventory_lottable2: data.inventory_lottable2 || 'null',
        inventory_lottable3: data.inventory_lottable3 || 'null',
        inventory_lottable4: data.inventory_lottable4 || 'null',
        inventory_lottable5: data.inventory_lottable5 || 'null'
      }
      let updateRes = await this.$store.dispatch(`inboundDetail/update`, { postData: updatePostData, detailId: data.id_id })
      if (updateRes.httpStatus !== 200 && updateRes.httpStatus !== 201 && updateRes.httpStatus !== 401) {
        this.detailsListIsError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細更新失敗`,
          desc: `${updateRes.data.respondCode.debugInfo}`,
          duration: 30
        })
        // 原資料更新失敗刪除 copy 出來的資料
        await this.$store.dispatch(`inboundDetail/delete`, copyInboundDetailId)
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        inbound_id: null, // 入庫紀錄ID
        company_id: this.companyId, // 公司ID
        wh_id: this.whId, // 倉庫ID
        inbound_no: null, // 單據編號/單號
        inbound_status: null, // 入庫單狀態
        inbound_bill_no: null, // 進倉單號
        main_bill_no: null, // 主單號(MAWB)
        sub_bill_no: null, // 分單號(HAWB)
        owner_bill_no: `${this.userName}_${this.timestamp}`, // 訂單編號
        container_no: null, // 貨櫃號碼
        container_type_code: null, // 貨櫃類別代碼
        // return_from_outbound_no: '', // 原出庫單號
        return_from_outbound_id: null, // 原出庫ID
        owner_name: this.ownerName || '', // 貨主
        owner_id: this.ownerId, // 貨主ID
        // vendor_name: '', // 供應商
        vendor_id: null, // 供應商ID
        inbound_expect: null, // 預計入庫日
        inbound_type: 56, // 入庫類別
        inbound_cancel_type: null, // 入庫取消類別
        date_quantity_check: null, // 驗收日
        inbound_note: null, // 入庫單備註
        date_inbound: null, // 退貨入庫時間
        date_cancel: null, // 入庫取消時間
        date_quality_check: null, // 品保確認時間
        date_put_away: null, // 退貨上架時間
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        inbound_id: false, // 入庫紀錄ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        inbound_bill_no: false, // 進倉單號
        main_bill_no: false, // 主單號(MAWB)
        sub_bill_no: false, // 分單號(HAWB)
        owner_bill_no: false, // 訂單編號
        container_no: false, // 貨櫃號碼
        container_type_code: false, // 貨櫃類別代碼
        owner_id: false, // 貨主ID
        vendor_id: false, // 供應商ID
        inbound_expect: false, // 預計入庫日
        inbound_type: false, // 入庫類別
        inbound_cancel_type: false, // 入庫取消類別
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 退貨入庫時間
        date_cancel: false, // 入庫取消時間
        date_quality_check: false, // 品保確認時間
        date_put_away: false, // 退貨上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initStepReturnData: function () {
      this.stepReturnData = [
        {
          label: '退貨入庫通知',
          date: '',
          time: '',
          status: 0, // 是否完成 0:未完成 / 1:完成
          isStartNode: true, // 是否始點
          isEndNode: false // 是否為終點
        },
        {
          label: '退貨已驗收',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '退貨已品檢',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '退貨已上架',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '上架確認',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: true
        }
      ]
    },
    initReturnOperationSimpleDetailsList: function () {
      this.returnOperationSimpleDetailsList = []
      this.$refs.setReturnOperationSimpleDetailsList.setReturnOperationSimpleDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initStepReturnData()
      this.initReturnOperationSimpleDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    hide_lay1: function (k, idx) {
      this.layout1.forEach((ele, index) => {
        if (ele.key === k) {
          ele.isShow = false
        }
      })
    },
    show_lay1: function (k, idx) {
      this.layout1.forEach((ele, index) => {
        if (ele.key === k) {
          ele.isShow = true
        }
      })
    },
    //
    getDetail: function (returnOperationSimpleId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'inbound_id',
            queryValue: returnOperationSimpleId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`returnOperationSimple/queryDetail`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 原出庫單號 : return_from_outbound_no */
    autocompleteHandleReturnFromOutboundNoEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.return_from_outbound_id = null
      // 設定其他資料處 end
      this.returnFromOutboundNoList = []
    },
    returnFromOutboundNoAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.return_from_outbound_id = data.val ? data.val.outbound_id : ''
        this.postData.owner_id = data.val ? data.val.owner_id : ''
        this.postData.owner_name = data.val ? data.val.owner_name : ''
        // console.log(this.postData.return_from_outbound_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.returnFromOutboundNoList = [data.val]
      } else {
        this.returnFromOutboundNoList = []
      }
    },
    returnFromOutboundNoAutoCompleteSearchEvent: function (data) {
      if (!this.postData.owner_id) {
        this.$Notice.error({
          title: '請先選擇貨主',
          duration: 30
        })
        return
      }
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, ownerId: this.postData.owner_id, orderType: null, outboundStatus: 80 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`outboundList`]
          //
          this.returnFromOutboundNoList = list
        }
      })
    },
    setAutocompleteReturnFromOutboundNoValue: function (data) {
      // console.log(data)
      //
      this.postData.return_from_outbound_no = data.data[data.returnCode]
      this.postData.return_from_outbound_id = data.data.outbound_id
      this.postData.owner_id = data.data.owner_id
      this.postData.owner_name = data.data.owner_name
      // console.log(this.postData.return_from_outbound_id)
      //
      this.toCloseReturnFromOutboundNoAutocompleteModal = true
    },
    setToCloseReturnFromOutboundNoAutocompleteModal: function (bol) {
      this.toCloseReturnFromOutboundNoAutocompleteModal = bol
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        // console.log(this.postData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 1 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_id = data.data.customer_id
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 供應商代碼 : vendor_id */
    autocompleteHandleVendorEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.vendor_id = null
      // 設定其他資料處 end
      this.vendorList = []
    },
    vendorAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.vendor_id = data.val ? data.val.customer_id : ''
        // console.log(this.postData.vendor_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.vendorList = [data.val]
      } else {
        this.vendorList = []
      }
    },
    vendorAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 2 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.vendorList = list
        }
      })
    },
    setAutocompleteVendorValue: function (data) {
      // console.log(data)
      //
      this.postData.vendor_name = data.data[data.returnCode]
      this.postData.vendor_id = data.data.customer_id
      // console.log(this.postData.vendor_id)
      //
      this.toCloseVendorAutocompleteModal = true
    },
    setToCloseVendorAutocompleteModal: function (bol) {
      this.toCloseVendorAutocompleteModal = bol
    },
    /* 預計入庫日 : inbound_expect */
    inboundExpectDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.inbound_expect = data.val
      // console.log(this.postData.inbound_expect)
    },
    /* 驗收日 : date_quantity_check */
    inboundAcceptanceDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.date_quantity_check = data.val
    },
    /* 入庫單狀態 */
    inboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_status = data.val
    },
    /* 入庫類別 */
    // inboundTypeListChangeEvent: function (data) {
    //   // console.log(data)
    //   this[data.code] = data.val
    //   this.postData.inbound_type = data.val
    // },
    // getInboundTypeList: function () {
    //   let postData = {
    //     combinedCondition: null,
    //     page: 1,
    //     pageSize: Config.maxPageSize,
    //     query: [],
    //     sort: []
    //   }
    //   //
    //   this.$store.dispatch(`settingCodeByCompanyCodeType/search`, { postData: postData, companyId: this.companyId, codeType: 4 }).then((r) => {
    //     // console.log(r)
    //     if (r) {
    //       let list = r.respondCode.additionals.settingCode
    //       let inboundTypeList = []
    //       if (list) {
    //         list.forEach((ele, idx) => {
    //           inboundTypeList.push({
    //             value: ele.code_id,
    //             label: ele.code_name
    //           })
    //         })
    //       }
    //       this.inboundTypeList = inboundTypeList
    //       // console.log(this.inboundTypeList)
    //     }
    //   })
    // },
    /* 入庫取消類別 */
    inboundCancelTypeListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_cancel_type = data.val
    },
    getInboundCancelTypeList: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: Config.maxPageSize,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCodeByCompanyCodeType/search`, { postData: postData, companyId: this.companyId, codeType: 5 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingCode
          let inboundCancelTypeList = []
          inboundCancelTypeList.push({
            value: '',
            label: '請選擇'
          })
          if (list) {
            list.forEach((ele, idx) => {
              inboundCancelTypeList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.inboundCancelTypeList = inboundCancelTypeList
          // console.log(this.inboundCancelTypeList)
        }
      })
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    //
    if (!this.layoutMainInbound[0]) {
      this.$emit('layout1ChangeEvent', this.layout1)
    }
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    // this.getInboundTypeList()
    this.getInboundCancelTypeList()
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`returnOperationSimple/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    .grid-layout-container {
      margin-left: -50px;
      margin-top: -20px;
      padding-right: 140px;
      width: calc(100% + 50px);
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .backBtn {
    position: absolute;
    right: 45px;
    bottom: 200px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .step1 {
    position: absolute;
    top: 130px;
    right: 45px;
    background: #ffffffe6;
    width: 210px;
    z-index: -1;
    .step-box {
      margin-left: auto;
    }
  }
  .item-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .label-box {
      flex: 1;
      font-size: 18px;
      color: #000000;
    }
    .body-box {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 0 50px 0 0;
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
