<template>
  <div class="ReturnOperationSimpleDetails">
    <!-- 單位換算 -->
    <!-- 按鈕區 -->
    <Button type="primary" @click="add">新增</Button>&nbsp;
    <Button type="primary" @click="comfirmRemove">刪除</Button>&nbsp;
    <Button type="primary" @click="columnControl">欄位自訂</Button>
    <!-- &nbsp;
    <Button type="primary" @click="getData">取得 Data</Button>-->
    <br />
    <!-- 分隔線 -->
    <!-- DataGrid : hideFilter 隱藏過濾器 / hidePage 隱藏分頁 -->
    <DataGrid
      idKeyName="id_id"
      :hideFilter="true"
      :hidePage="true"
      :logicalOperator="logicalOperator"
      :settingData="settingData"
      :gridData="gridData"
      :toGetIds="toGetIds"
      :isQuery="isQuery"
      @gridDataChengeEvent="gridDataChengeEvent"
      @moveColEvent="moveColEvent"
      @removeColEvent="removeColEvent"
      @sortEvent="sortEvent"
      @filterEvent="filterEvent"
      @getIdsEvent="getIdsEvent"
      @getDetailEvent="getDetailEvent"
      @pageChangeEvent="pageChangeEvent"
      @pageSizeChangeEvent="pageSizeChangeEvent"
      @scrollEvent="scrollEvent"
    ></DataGrid>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
    :settingData="settingData"
    :columnControlModal="columnControlModal"
    v-on:columnControlModalCloseEvent="columnControlModalClose"
    v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
export default {
  name: 'ReturnOperationSimpleDetails',
  props: ['data', 'detailId', 'companyId', 'whId', 'uiId', 'ownerId', 'changeContent', 'returnFromOutboundId'],
  components: {
    DataGrid,
    ComfirmRemoveModal,
    ColumnControlModal
  },
  data () {
    // 定義用
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.maxPageSize, // 一頁幾筆 / 不分頁，一次取全部
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#1565C0',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#E3F2FD',
        rowEvenColor: '#777777',
        editCelColor: 'rgb(255, 225, 225)',
        waitEditCelColor: '#FFFFFF',
        notEditCelColor: '#EFEFEF'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product',
          displayName: '商品料號*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'goodsSetup',
            storeKey: 'productQueryByOwner',
            returnCode: 'product_code',
            respondCode: 'product',
            showCols: [
              'product_name'
            ],
            dispatchPath: 'productQueryByOwner/query',
            condition: [],
            modalTitle: '商品料號'
          },
          apiUrlCondition: { companyId: this.companyId, ownerId: this.ownerId },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '300px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inform_num',
          displayName: '通知量*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'actual_num',
          displayName: '驗收數量',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inbound_num',
          displayName: '數量(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inbound_num_bad',
          displayName: '數量(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'short_overflow',
          displayName: '短溢',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storagePreassignStorageCode',
          displayName: '參考儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storageQueryByWhId',
            returnCode: 'storage_code',
            respondCode: 'storage',
            showCols: [],
            dispatchPath: 'storageQueryByWhId/search',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '參考儲位'
          },
          apiUrlCondition: { whId: this.whId }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storageLoc',
          displayName: '儲位(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storageQueryByWhId',
            returnCode: 'storage_code',
            respondCode: 'storage',
            showCols: [],
            dispatchPath: 'storageQueryByWhId/search',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '儲位(良品)'
          },
          apiUrlCondition: { whId: this.whId }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storageLocBad',
          displayName: '儲位(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storageQueryByWhId',
            returnCode: 'storage_code',
            respondCode: 'storage',
            showCols: [],
            dispatchPath: 'storageQueryByWhId/search',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '儲位(不良品)'
          },
          apiUrlCondition: { whId: this.whId }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inventory_note',
          displayName: '備註',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_manufactured',
          displayName: '製造日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'stock_num',
          displayName: '庫存(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'stock_num_bad',
          displayName: '庫存(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'bonded_type',
          displayName: '保稅屬性',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'quality_check_status',
          displayName: '檢驗結果/狀況',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'quality_check_note',
          displayName: '品保備註',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expiration_sale',
          displayName: '允售效期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expiration_days',
          displayName: '保存天數',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'custom_no',
          displayName: '報關單號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'custom_item_no',
          displayName: '報單項次',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inventory_unitprice',
          displayName: '商品單價',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inventoryUnitpriceCurrency',
          displayName: '商品單價-幣別',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'currencyCode',
            storeKey: 'currencyCode',
            returnCode: 'currency_name',
            showCols: [
              'currency_code',
              'country_name'
            ],
            dispatchPath: 'currencyCode/query',
            condition: [],
            modalTitle: '商品單價-幣別'
          },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'date_put_away_confirm_display',
          displayName: '上架確認時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'created_at',
          displayName: '建立時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'update_at',
          displayName: '更新時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'is_enabled',
          displayName: '是否暫停出貨*',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      isQuery: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      //
      bondedTypeFilterData: [], // 保稅屬性
      stockUnitFilterData: [], // 數量單位
      qualityCheckStatusFilterData: [], // 檢驗結果/狀況 (回應碼)
      isEnabledFilterData: [], // 是否暫停出貨
      timeZoneTimestamp: null,
      isScrollToBottom: false
    }
  },
  computed: {
    //
  },
  watch: {
    changeContent: {
      handler: function (val) {
        //
        if (val === 'details') {
          if (this.detailId && this.detailId !== '') {
            if (!this.returnFromOutboundId) {
              this.getGridData()
            }
          } else {
            if (this.returnFromOutboundId && this.gridData.length === 0) {
              this.getReturnFromOutboundDetail(this.returnFromOutboundId)
            }
          }
        }
      },
      deep: true
    },
    returnFromOutboundId: {
      handler: function (val) {
        //
        if (!this.detailId || this.detailId === '') {
          if (val) {
            this.getReturnFromOutboundDetail(val)
          }
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    ownerId: {
      handler: function (val) {
        //
        // console.log(val)
        this.settingData.columns.forEach((item, index) => {
          // console.log(item)
          if (item.property === 'product') {
            this.settingData.columns[index].apiUrlCondition = { companyId: this.companyId, ownerId: val }
          }
        })
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        // console.log(val)
        // 計算短溢
        val.forEach((item, index) => {
          item.short_overflow = (Number(item.inbound_num ? item.inbound_num : 0) + Number(item.inbound_num_bad ? item.inbound_num_bad : 0)) - Number(item.inform_num ? item.inform_num : 0)
          val[index].product_name = val[index].product.product_name
        })
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
        if (!val) {
          this.gridData = []
        }
      },
      deep: true
    },
    bondedTypeFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'bonded_type') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    qualityCheckStatusFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'quality_check_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    isEnabledFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'is_enabled') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      if (!this.ownerId) {
        this.$Notice.error({
          title: `請先選擇`,
          desc: '"原出庫單號"或"貨主"',
          duration: 30
        })
        return
      }
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        product: {},
        product_name: '',
        inform_num: '',
        actual_num: '',
        inbound_num: '',
        inbound_num_bad: '',
        short_overflow: '',
        storagePreassignStorageCode: {},
        storageLoc: {},
        storageLocBad: {},
        inventory_note: '',
        product_batch_no: '',
        product_expired_date: '',
        product_manufactured: '',
        stock_num: '',
        stock_num_bad: '',
        bonded_type: null,
        quality_check_status: '',
        quality_check_note: '',
        product_expiration_sale: '',
        product_expiration_days: '',
        custom_no: '',
        custom_item_no: '',
        inventory_unitprice: '',
        inventoryUnitpriceCurrency: {},
        created_at: '',
        update_at: '',
        is_enabled: 1
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      //
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            if (_item) {
              // console.log(item.INDEX)
              if (item.id_id && item.id_id !== '') {
                this.remove(item.id_id)
              }
              return false
            } else {
              return true
            }
          })
          // console.log(this.gridData)
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    remove: function (id) {
      this.$store.dispatch('inboundDetail/delete', id).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200) {
          // 警告提示
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          this.$Notice.error({
            title: '刪除失敗'
          })
        }
      })
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    // 保稅屬性 bonded_type
    getBondedTypeFilterData: function () {
      this.bondedTypeFilterData = [
        {
          value: 0,
          label: '非保稅 Non-bonded'
        },
        {
          value: 1,
          label: '保稅 Bonded'
        }
      ]
    },
    // 檢驗結果/狀況 (回應碼) quality_check_status
    getQualityCheckStatusFilterData: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: 20,
        query: [],
        sort: []
      }
      this.$store.dispatch(`settingCodeByCompanyCodeType/search`, { postData: postData, companyId: this.companyId, codeType: 11 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingCode
          let qualityCheckStatusFilterData = []
          if (list) {
            list.forEach((ele, idx) => {
              qualityCheckStatusFilterData.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          setTimeout(() => {
            this.qualityCheckStatusFilterData = qualityCheckStatusFilterData
          }, 500)
        }
      })
    },
    // 是否暫停出貨 is_enabled
    getIsEnabledFilterData: function () {
      this.isEnabledFilterData = [
        {
          value: 0,
          label: '停用(暫停出貨)'
        },
        {
          value: 1,
          label: '已啟用'
        }
      ]
    },
    setReturnOperationSimpleDetailsList: function (type, data) {
      switch (type) {
        case 'init':
          this.gridData = []
          break
        case 'set':
          this.gridData = [...data]
          break
      }
    },
    /*
    ** 新增頁 create: 則不打API取得清單
    ** 明細頁 update: 如果this.detailId有值，則打API取得清單
     */
    getGridData: function (filterAry, sortAry) {
      if (!this.detailId) {
        return
      }
      // 此應用不需分頁 故 頁碼設1，每頁頁數設Config.maxPageSize
      this.isQuery = true
      //
      let filter = filterAry || []
      let sort = sortAry || []
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: null,
        query: [
          ...filter,
          {
            queryCondition: '=',
            queryField: 'inbound_id',
            queryValue: this.detailId
          }
        ],
        sort: sort
      }
      this.$store.dispatch(`inboundDetail/searchByCompanyWh`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.gridData = r.respondCode.additionals['inboundDetail']
          // console.log(this.gridData)
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1)
            item.product = {
              product_id: item.product_id,
              product_name: item.product_name,
              product_code: item.product_code
            }
            item.short_overflow = (Number(item.inbound_num ? item.inbound_num : 0) + Number(item.inbound_num_bad ? item.inbound_num_bad : 0)) - Number(item.inform_num ? item.inform_num : 0)
            item.storagePreassignStorageCode = {
              storage_id: item.storage_preassign,
              storage_code: item.storage_preassign_storage_code
            }
            item.storageLoc = {
              storage_id: item.storage_loc,
              storage_code: item.storage_loc_storage_code
            }
            item.storageLocBad = {
              storage_id: item.storage_loc_bad,
              storage_code: item.storage_loc_bad_storage_code
            }
            item.inventoryUnitpriceCurrency = {
              currency_id: item.inventory_unitprice_currency,
              currency_name: item.inventory_unitprice_currency_name
            }
          })
          // console.log(this.gridData)
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    getReturnFromOutboundDetail: async function (returnFromOutboundId) {
      this.isQuery = true
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'outbound_id',
            queryValue: returnFromOutboundId
          }
        ],
        sort: [
          {
            sortField: 'product_code',
            sortValue: 'asc'
          }
        ]
      }
      var outboundDetailList = []
      var pickingList = []
      let outboundDetailRes = await this.$store.dispatch(`outboundDetail/search`, postData)
      if (outboundDetailRes.httpStatus === 200 || outboundDetailRes.httpStatus === 201) {
        outboundDetailList = outboundDetailRes.respondCode.additionals.outboundDetailList || []
      }
      let pickingListRes = await this.$store.dispatch(`pickingListQuery/search`, postData)
      if (pickingListRes.httpStatus === 200 || pickingListRes.httpStatus === 201) {
        pickingList = pickingListRes.respondCode.additionals.pickinglist_byorder || []
      }
      var outboundDetailListLength = outboundDetailList.length
      var pickingListLength = pickingList.length
      if (outboundDetailListLength > 0 && pickingListLength > 0) {
        for (var i = 0; i < outboundDetailListLength; i++) {
          for (let index = 0; index < pickingListLength; index++) {
            if (outboundDetailList[i].obd_id === pickingList[index].obd_id) {
              this.gridData.push(
                {
                  INDEX: (i + 1),
                  SELECT: false,
                  product: {
                    product_id: outboundDetailList[i].product_id,
                    product_code: outboundDetailList[i].product_code,
                    product_name: outboundDetailList[i].product_name
                  },
                  product_name: outboundDetailList[i].product_name,
                  inform_num: outboundDetailList[i].outbound_nums + outboundDetailList[i].outbound_nums_bad,
                  actual_num: '',
                  inbound_num: outboundDetailList[i].outbound_nums,
                  inbound_num_bad: outboundDetailList[i].outbound_nums_bad,
                  short_overflow: '',
                  storagePreassignStorageCode: {},
                  storageLoc: {
                    storage_id: pickingList[index].storage_loc,
                    storage_code: pickingList[index].storage_loc_code
                  },
                  storageLocBad: {
                    storage_id: pickingList[index].storage_loc_bad,
                    storage_code: pickingList[index].storage_loc_bad_code
                  },
                  inventory_note: '',
                  product_batch_no: '',
                  product_expired_date: '',
                  product_manufactured: '',
                  stock_num: '',
                  stock_num_bad: '',
                  bonded_type: null,
                  quality_check_status: '',
                  quality_check_note: '',
                  product_expiration_sale: '',
                  product_expiration_days: '',
                  custom_no: '',
                  custom_item_no: '',
                  inventory_unitprice: '',
                  inventoryUnitpriceCurrency: {},
                  created_at: '',
                  update_at: '',
                  is_enabled: 1
                }
              )
            }
          }
        }
      }
      this.isQuery = false
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    //
    this.getTimeZoneTimestamp()
    this.getBondedTypeFilterData()
    this.getQualityCheckStatusFilterData()
    this.getIsEnabledFilterData()
    //
    if ((this.detailId && this.detailId !== '')) {
      // 取得清單
      this.getGridData()
    }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.ReturnOperationSimpleDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
    background-color: #fff;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 386px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
</style>
