// ------ 圓角
@mixin border-radius ($radius) {
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

// ------ 漸變時間差
@mixin TS($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transform: $transition;
  transition: $transition;
}

@mixin TS-d($Seconds) {
  -webkit-transition-delay: $Seconds;
  -moz-transition-delay: $Seconds;
  -o-transition-delay: $Seconds;
  transition-delay: $Seconds;
}

// ------ 變形屬性
@mixin TF($transform) {
  -moz-transform: ($transform);
  -webkit-transform: ($transform);
  -o-transform: ($transform);
  -ms-transform: ($transform);
  transform: ($transform);
}

// ------ 變形軸心
@mixin TF-o($transform-origin) {
  -moz-transform-origin: ($transform-origin);
  -webkit-transform-origin: ($transform-origin);
  -o-transform-origin: ($transform-origin);
  -ms-transform-origin: ($transform-origin);
  transform-origin: ($transform-origin);
}

html,
body {
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  // min-width: 700px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777;
}

// ------ 色系 (lt:亮, dk:暗)
$base-color: #000;
$base-gray: #56504f;
$base-gray-lt: #9ca29c;
$base-gray-lt2: #b2b2b2;
$base-gray-bg: #fbfaf9;
$base-blue: #118cf8;
$base-blue-lt: #b8bdc8;
$base-brown-dk: #B6B092;
$base-brown: #d1c2af;
$base-green: #7c894f;
$base-green-lt: #f6f6ee;
$base-green-lt2: #c6cbbf;
$base-red: #E80C0C;
$base-red-lt: #e4bab4;
$base-pink-dk: #efd0c5;
$base-pink: #f1d6cd;
$base-orange: #dca558;

.text-base {
  color: $base-color;
}

.text-white {
  color: #fff;
}
.text-gray-lt{
  color: $base-gray-lt;
}
.bg-gray-lt{
  background-color: $base-gray-lt;
}
.text-gray-lt2{
  color: $base-gray-lt2;
}
.bg-gray-lt2{
  background-color: $base-gray-lt2;
}
.bg-gray-bg{
  background-color: $base-gray-bg;
}
.text-blue {
  color: $base-blue;
}

.bg-blue {
  background-color: $base-blue;
}

.text-blue-lt {
  color: $base-blue-lt;
}

.bg-blue-lt {
  background-color: $base-blue-lt;
}
.text-brown-dk {
  color: $base-brown-dk;
}

.bg-brown-dk {
  background-color: $base-brown-dk;
}
.text-brown {
  color: $base-brown;
}

.bg-brown {
  background-color: $base-brown;
}

.text-green {
  color: $base-green;
}

.bg-green {
  background-color: $base-green;
}

.text-green-lt {
  color: $base-green-lt;
}

.bg-green-lt {
  background-color: $base-green-lt;
}

.text-red {
  color: $base-red;
}

.bg-red {
  background-color: $base-red;
}

.text-red-lt {
  color: $base-red-lt;
}

.bg-red-lt {
  background-color: $base-red-lt;
}

.text-pink-dk {
  color: $base-pink-dk;
}

.bg-pink-dk {
  background-color: $base-pink-dk;
}

.text-pink {
  color: $base-pink;
}

.bg-pink {
  background-color: $base-pink;
}

.text-orange {
  color: $base-orange;
}

.bg-orange {
  background-color: $base-orange;
}

// ------ 全網字級定義
$xs-font: 14px; // ---- 內文
$sm-font: 16px; // ---- 小標
$md-font: 18px; // ---- 副標
$lg-font: 25px; // ---- 主標

.lg-title {
  font-size: $lg-font;
}

.sub-title {
  font-size: $md-font;
}

.sm-title {
  font-size: $sm-font;
}

.base-text {
  font-size: $xs-font;
}

// 粗細
.light-text {
  font-weight: normal;
}

.regular-text {
  font-weight: initial;
}
.bold-text {
  font-weight: bold;
}
// ------ END 全網字級定義
// ------ END 圖片
@mixin img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid {
  @include img-fluid;
}

// ------ END 圖片
/*  scrollbar  */
::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 4px;
}

::-webkit-scrollbar-track-piece:hover {}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 0px;
  background-color: rgba(241, 241, 241, 0.3);
}

::-webkit-scrollbar:hover {
  background: rgba(220, 225, 228, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #C1C8CC;
  border: solid 1px #B5BBBF;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6C7073;
  border-color: #5F6366;
}

::-webkit-scrollbar-arrow {
  color: #F00;
  background: #0F0;
}

::-webkit-scrollbar-button {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #B5BBBF;
  display: none;
}

::-webkit-scrollbar-button:hover {
  border-color: #5F6366;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}