.flat-btn {
    cursor: pointer;
    background: transparent;
    border: 0px solid transparent;
    outline: 0px solid transparent;
}
.outline {
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    outline: 0px solid transparent;
    &.light {
        border: 1px solid #118CF8;
        color: #118CF8;
    }
    &.dark {
        border: 1px solid #4eedc5;
        color: #4eedc5;
    }
    &.yellow-light {
        border: 1px solid  ;
        color: #E3D1A5;
    }
    &.yellow {
        border: 1px solid #d5a157 ;
        color: #d5a157;
    }
    &.white {
        border: 1px solid #fff ;
        color: #fff;
    }
    &.gray {
        border: 1px solid #ACACAC;
        color: #ACACAC;
    }
    &.red {
        border: 1px solid #E80C0C;
        color: #E80C0C;
    }
}
.best-blue-gradual {
    cursor: pointer;
    background: #4EEDC5; /* Old browsers */
    background: -moz-linear-gradient(left,  #4EEDC5 0%, #118CF8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4EEDC5 0%,#118CF8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4EEDC5 0%,#118CF8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4EEDC5', endColorstr='#118CF8',GradientType=1 ); /* IE6-9 */
    border: 0px solid transparent;
    outline: 0px solid transparent;
    color: #fff;
    &:hover, &:focus, &:active {
        background: #118CF8;
    }
}
.ivu-btn {
    cursor: pointer;
    >span {
        width: 100%;
    }
    &.solid-text-btn {
        font-size: 24px;
        padding: 4px 16px;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid;
        height: auto;
        &:hover {
            background-color: transparent;
        }
        &.dark {
            color: #fff;
            &:hover {
                color: #4eedc5;
                border: 1px solid #4eedc5;
            }
        }
        &.light {
            color: #3c3c3c;
            &:hover {
                color: #118cf8;
                border: 1px solid #118cf8;
            }
        }
    }
    &.best-v1 {
        &.dark {
            background-color: #E0F0FF;
            color: #3c3c3c;
            border: 0px solid transparent;
            outline: 0px solid transparent;
            &:hover, &:focus, &:active {
                background-color: #E0F0FF;
                color: #3c3c3c;
            }
            svg {
                color: #3c3c3c;
            }
        }
        &.light {
            background-color: #118cf8;
            color: #fff;
            border: 0px solid transparent;
            outline: 0px solid transparent;
            &:hover, &:focus, &:active {
                background-color: #118cf8;
                color: #fff;
            }
            svg {
                color: #fff;
            }
        }
    }
    &.best-v2 {
        &.dark {
            background-color: transparent;
            color: #4eedc5;
            border: 1px solid #4eedc5;
            outline: 0px solid transparent;
            svg {
                color: #4eedc5;
            }
            &:hover, &:focus, &:active, &.isfocuse {
                background-color: #4eedc5;
                border: 1px solid #4eedc5;
                color: #fff;
                svg {
                    color: #fff;
                }
            }
        }
        &.light {
            background-color: transparent;
            color: #118cf8;
            border: 1px solid #118cf8;
            outline: 0px solid transparent;
            svg {
                color: #118cf8;
            }
            &:hover, &:focus, &:active, &.isfocuse {
                background-color: #118cf8;
                border: 1px solid #118cf8;
                color: #fff;
                svg {
                    color: #fff;
                }
            }
        }
        &.isDisabled {
            color: #ACACAC!important;
            border: 1px solid #ACACAC!important;
            &:hover, &:focus, &:active {
                background-color: transparent!important;
                border: 1px solid #ACACAC!important;
                color: #ACACAC!important;
                svg {
                    color: #ACACAC!important;
                }
            }
        }
    }
    &.best-v3 {
        &.dark {
            background-color: transparent;
            color: #D8D8D8;
            border: 1px solid #D8D8D8;
            outline: 0px solid transparent;
            &:hover, &:focus, &:active {
                background-color: transparent;
                border: 1px solid #D8D8D8;
                color: #D8D8D8;
            }
        }
        &.light {
            background-color: transparent;
            color: #3c3c3c;
            border: 1px solid #3c3c3c;
            outline: 0px solid transparent;
            &:hover, &:focus, &:active {
                background-color: transparent;
                border: 1px solid #3c3c3c;
                color: #3c3c3c;
            }
        }
    }
    &.best-blue-gradual {
        background: #4EEDC5; /* Old browsers */
        background: -moz-linear-gradient(top,  #4EEDC5 0%, #118CF8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #4EEDC5 0%,#118CF8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #4EEDC5 0%,#118CF8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4EEDC5', endColorstr='#118CF8',GradientType=0 ); /* IE6-9 */
        border: 0px solid transparent;
        outline: 0px solid transparent;
        color: #fff;
        &:hover, &:focus, &:active {
            color: #fff;
        }
    }
    &.best-gray {
        background-color: #ACACAC;
        color: #fff;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: #ACACAC;
            color: #fff;
        }
    }
    &.best-outlined-gray {
        background-color: transparent;
        color: #ACACAC;
        border: 1px solid #ACACAC;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border: 1px solid #ACACAC;
            color: #ACACAC;
        }
    }
    &.best-outlined-gray-light {
        background-color: transparent;
        color: #D8D8D8;
        border: 1px solid #D8D8D8;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border: 1px solid #D8D8D8;
            color: #D8D8D8;
        }
    }
    &.best-outlined-gray-dark {
        background-color: transparent;
        color: #3c3c3c;
        border: 1px solid #3c3c3c;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border: 1px solid #3c3c3c;
            color: #3c3c3c;
        }
    }
    &.best-yellow {
        background-color: #d5a157;
        color: #fff;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: #d5a157;
            color: #fff;
        }
    }
    &.best-yellow-light {
        background-color: #E3D1A5;
        color: #3c3c3c;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: #e2c57f;
            color: #3c3c3c;
        }
    }
    &.best-outlined-yellow-light {
        background-color: transparent;
        color: #E3D1A5;
        border: 1px solid #E3D1A5;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border: 1px solid #E3D1A5;
            color: #E3D1A5;
        }
    }
    &.best-flat-white {
        color: #fff;
        &:hover, &:focus, &:active {
            color: #4eedc5;
        }
    }
    &.best-green {
        background-color: #4eedc5;
        color: #fff;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: #4eedc5;
            color: #fff;
        }
    }
    &.best-outlined-green {
        background-color: transparent;
        color: #4eedc5;
        border: 1px solid #4eedc5;
        outline: 0px solid transparent;
        svg {
            color: #4eedc5;
        }
        &:hover, &:focus, &:active {
            background-color: #4eedc5;
            border: 1px solid #4eedc5;
            color: #fff;
            svg {
                color: #fff;
            }
        }
    }
    &.best-blue-light {
        background-color: #E0F0FF;
        color: #3c3c3c;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: #E0F0FF;
            color: #3c3c3c;
        }
        svg {
            color: #3c3c3c;
        }
    }
    &.best-blue {
        background-color: #118cf8;
        color: #fff;
        border: 0px solid transparent;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: #118cf8;
            color: #fff;
        }
        svg {
            color: #fff;
        }
    }
    &.best-outlined-blue {
        background-color: transparent;
        color: #118cf8;
        border: 1px solid #118cf8;
        outline: 0px solid transparent;
        svg {
            color: #118cf8;
        }
        &:hover, &:focus, &:active {
            background-color: #118cf8;
            border: 1px solid #118cf8;
            color: #fff;
            svg {
                color: #fff;
            }
        }
    }
    &.best-outlined-red {
        background-color: transparent;
        color: #E80C0C;
        border: 1px solid #E80C0C;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border: 1px solid #E80C0C;
            color: #E80C0C;
        }
    }
    &.best-outlined-pink {
        background-color: transparent;
        color: #FF3875;
        border: 1px solid #FF3875;
        outline: 0px solid transparent;
        &:hover, &:focus, &:active {
            background-color: transparent;
            border: 1px solid #FF3875;
            color: #FF3875;
        }
    }
    &.lg-btn {
        font-size: 24px;
        height: 51px;
    }
    &.border-radius-8 {
        border-radius: 8px;
    }
}
.lg-brn {
    font-size: 24px;
    padding: 8px 24px;
}

.rounded {
    border-radius: 60px;
}

.ivu-poptip-title {
    &::after {
        display: none!important;
    }
}
.ivu-poptip-body {
    padding: 0!important;
}
.detail-add {
    font-size: 16px;
    min-width: 50px;
    color: #fff!important;
    background-color: #118cf8!important;
    border-color: #118cf8!important; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.detail-remove {
    font-size: 16px;
    min-width: 50px;
    color: #fff!important;
    background-color: #ACACAC!important;
    border-color: #ACACAC!important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.detail-search {
    font-size: 16px;
    min-width: 50px;
    color: #fff!important;
    background-color: #ff3875!important;
    border-color: #ff3875!important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
