.grid-layout-container {
  margin-left: -95px;
  margin-top: -20px;
  width: calc(100% + 95px);
}
.grid-item-box {
    &.isShow {
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        top: 5px;
        left: 0px;
        right: 0px;
        opacity: 0.3;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    &.isHide {
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        top: 5px;
        left: 0px;
        right: 0px;
        opacity: 0.1;
        border-radius: 3px;
        background-color: #354361;
      }
    }
    .hideBtn {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #354361;
      color: #ffffff;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      z-index: 1;
    }
    .showBtn {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #354361;
      color: #ffffff;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      z-index: 1;
      opacity: 0.5;
    }
    .vue-resizable-handle {
      z-index: 2;
    }
}