//
.ivu-menu-horizontal {
    height: 30px !important;
    line-height: 30px !important;
}
// MODAL
.ivu-modal-body {
    padding: 0 !important;
}
.ivu-modal-content {
    border-radius: 12px !important;
}
.ivu-modal-header {
    height: 32px;
    background-color: #fff;
    border-bottom: 0px solid transparent !important;
    border-radius: 8px 8px 0 0 !important;
}
.ivu-modal-close {
    background-color: transparent;
    color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 4px!important;
    top: 2px!important;
    z-index: 1;
    font-size: 16px;
    position: absolute;
    .ivu-icon.ivu-icon-ios-close {
        font-size: 32px;
        font-weight: bolder;
        color: #354361;
        top: 0;
    }
}
// Switch
.ivu-switch-checked {
    border-color: #4eedc5 !important;
    background-color: #4eedc5 !important;
    background: #4eedc5; /* Old browsers */
    background: -moz-linear-gradient(left,  #4eedc5 0%, #118cf8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #4eedc5 0%,#118cf8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #4eedc5 0%,#118cf8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eedc5', endColorstr='#118cf8',GradientType=1 ); /* IE6-9 */
}
.ivu-switch-inner {
    color: #3c3c3c!important;
    font-size: 16px!important;
}
.ivu-notice-notice{
    padding: 0!important;
    width: 335px;
    margin-left: auto;
}
.ivu-notice-icon{
    top: 50%!important;
    transform: translateY(-50%);
}
.ivu-notice-with-success{
    padding: 16px;
    background: #edfff3;
}
.ivu-notice-with-warning{
    padding: 16px;
    background: #fff9e6;
}
.ivu-notice-with-error{
    padding: 16px;
    background: #ffebe6;
}
//
.ivu-btn.icon-btn-md {
    border: 2px solid;
    background-color: transparent;
    padding: 1px 0 0 0;
    border-radius: 50%;
    margin-bottom: 0;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    border: 0px solid transparent;
    >span {
        font-size: 14px;
    }
}

.solid-text-bropdown {
    cursor: pointer;
        font-size: 24px;
        padding: 4px 16px;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid;
        height: auto;
        &.dark {
            &:hover {
                color: #4eedc5!important;
                border: 1px solid #4eedc5!important;
            }
        }
        &.light {
            &:hover {
                color: #118cf8!important;
                border: 1px solid #118cf8!important;
            }
        }
        .ivu-dropdown-item {
        font-size: 16px!important;
        color: #3c3c3c;
        }
}