.DraggableWindow[data-ref="win_max_576"] {
    @import '@/assets/scss/rwd/win_max_576.scss';
}
.DraggableWindow[data-ref="win_576_768"] {
    @import '@/assets/scss/rwd/win_576_768.scss';
}
.DraggableWindow[data-ref="win_768_992"] {
    @import '@/assets/scss/rwd/win_768_992.scss';
}
.DraggableWindow[data-ref="win_min_992"] {
    @import '@/assets/scss/rwd/win_min_992.scss';
}