<template>
  <div class="floatLabelBox-container" :class="{'isFocus': isFocus, 'isDisabled': isDisabled, 'dark-bg': config.background === 'dark', 'light-bg': config.background === 'light', 'white-bg': config.background === 'white'}" :style="containerStyle">
    <p
    v-if="config.label"
    :class="{'label-box': true, 'hasContent': config.hasContent || isFocus, 'isFocus': isFocus, 'isError': isError, 'isDisabled': isDisabled, 'isRequired' : isRequired, 'onlySearch': !(disabled && !searchDisabled)}"
    :style="labelStyle">
      <span v-if="isError" :style="{color: `${errorMsgColor || '#E80C0C'}`}">{{config.label}}</span>
      <span v-if="!isError" >{{config.label}}</span>
    </p>
    <!-- Select -->
    <Select
    v-if="config.type==='Select'"
    v-model="model"
    :class="{'Select': true, 'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    placeholder=""
    :transfer="true"
    :disabled="disabled"
    @on-open-change="onOpenChange">
        <Option v-for="item in selectList" :value="item.value" :key="item.value">{{ item.label }}</Option>
    </Select>
    <Select
    multiple
    v-if="config.type==='Select-2'"
    v-model="model"
    :class="{'Select': true, 'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    placeholder=""
    :transfer="true"
    :disabled="disabled"
    @on-open-change="onOpenChange">
        <Option v-for="item in selectList" :value="item.value" :key="item.value">{{ item.label }}</Option>
    </Select>
    <!-- InputText -->
    <Input
    v-if="config.type==='InputText'"
    v-model="model"
    :disabled="disabled"
    :clearable="config.hasClearButton"
    class="Input InputText"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    placeholder=""
    @on-focus="focus"
    @on-blur="blur"/>
    <!-- InputPassword -->
    <Input
    v-if="config.type==='InputPassword'"
    type="password"
    v-model="model"
    :disabled="disabled"
    :clearable="config.hasClearButton"
    class="Input InputPassword"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    placeholder=""
    @on-focus="focus"
    @on-blur="blur"/>
    <!-- Textarea -->
    <Input
    ref="Textarea"
    v-if="config.type==='Textarea'"
    v-model="model"
    :disabled="disabled"
    :rows="1"
    type="textarea"
    :autosize="{ minRows: 1, maxRows: 2 }"
    :clearable="config.hasClearButton"
    class="Textarea"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    placeholder=""
    @on-focus="focus"
    @on-blur="blur"/>
    <!-- InputNumber -->
    <InputNumber
    v-if="config.type==='InputNumber'"
    v-model="model"
    class="Input InputNumber"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    placeholder=""
    :disabled="disabled"
    @on-focus="focus"
    @on-blur="blur"/>
    <!-- DatePicker -->
    <DatePicker
    v-if="config.type==='DatePicker'"
    :value="model"
    :clearable="config.hasClearButton"
    @on-change="datarangeCondition($event)"
    format="yyyy-MM-dd"
    class="DatePicker"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    type="date"
    placeholder=""
    :transfer="true"
    :disabled="disabled"
    :editable="false"
    @on-open-change="onOpenChange"></DatePicker>
    <!-- DatePicker Daterange -->
    <DatePicker
    v-if="config.type==='DaterangePicker'"
    :value="model"
    :clearable="config.hasClearButton"
    @on-change="datarangeCondition($event)"
    format="yyyy-MM-dd"
    class="DatePicker"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    type="daterange"
    placeholder=""
    :transfer="true"
    :disabled="disabled"
    :editable="false"
    @on-open-change="onOpenChange"></DatePicker>
    <!-- TimePicker -->
    <TimePicker
    class="TimePicker"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    v-if="config.type==='TimePicker'"
    :value="model"
    :clearable="config.hasClearButton"
    :transfer="true"
    @on-change="timerangeCondition($event)"
    type="time"
    :disabled="disabled"
    placeholder=""
    @on-open-change="onOpenChange"></TimePicker>
    <!-- Autocomplete + 放大鏡 -->
    <AutoComplete
    class="AutoComplete"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled}"
    v-if="config.type==='AutoComplete'"
    :value="model"
    :data="autoCompleteDataClone"
    :clearable="config.hasClearButton && !disabled"
    :filter-method="autoCompleteFilterMethod"
    @on-search="autoCompleteSearch"
    @on-select="autoCompleteSelect"
    @on-focus="focus"
    @on-blur="blur"
    @on-clear="autoCompleteClear"
    :transfer="true"
    :disabled="disabled"
    placeholder="">
    </AutoComplete>
    <!-- <Button
    v-if="config.type==='AutoComplete'"
    type="text"
    class="search-btn"
    slot="append"
    :disabled="disabled"
    tabindex="-1"
    @click="showAutoCompleteModal"><Icon type="ios-search" size="18"/></Button> -->
    <!-- New autocomplete + 放大鏡 -->
    <AutoComplete
    class="AutoComplete"
    :class="{'hasContent': config.hasContent, 'isFocus': isFocus, 'isDisabled': isDisabled, 'onlySearch': disabled && searchDisabled}"
    v-if="config.type==='NewAutoComplete'"
    v-model="model"
    :clearable="config.hasClearButton && !disabled"
    :transfer="true"
    :disabled="disabled"
    placeholder=""
    @on-focus="focus"
    @on-blur="blur($event)"
    @on-clear="newAutoCompleteClear"
    @on-search="newAutoCompleteSearch"
    @on-select="newAutoCompleteSelect">
        <Option v-for="(option, index) in autoCompleteDataClone" :value="option[returnCode] || 0" :key="index" class="NewAutoComplete-option">
            <p class="main">{{ option[returnCode] }}</p>
            <p class="sub" v-for="col in showCols" :key="col">
              {{ option[col] ? `${option[col]}` : '' }}
            </p>
        </Option>
    </AutoComplete>
    <Button
    v-if="config.type==='NewAutoComplete' && !config.hiddenSearchBtn"
    type="text"
    class="search-btn"
    :class="{'onlySearch': searchDisabled}"
    slot="append"
    :disabled="disabled && !searchDisabled"
    tabindex="-1"
    @click="showAutoCompleteModal"><Icon type="ios-search" size="18"/></Button>
    <!-- is Required -->
    <span v-if="isRequired && isError" class="required-desc" :style="{color: `${errorMsgColor || '#E80C0C'} !important`}">{{errorMsg || '*此欄為必填欄位'}}</span>
    <!-- modal -->
    <Modal
    v-model="autoCompleteModalToggle"
    width="865"
    :footer-hide="true">
      <div slot="header" class="modal-header"></div>
      <slot v-if="autoCompleteModalToggle"></slot>
    </Modal>
  </div>
</template>

<script>
import { setTimeout } from 'timers'
export default {
  name: 'FloatLabelBox',
  props: [
    'showCols',
    'keyCode',
    'storeKey',
    'returnCode',
    'toCloseModal',
    'config',
    'code',
    'selectList',
    'defaultValue',
    'disabled',
    'searchDisabled',
    'autoCompleteData',
    'modalTitle',
    'isError',
    'isRequired',
    'errorMsg',
    'errorMsgColor'
  ],
  components: {},
  data () {
    //
    return {
      isFocus: false,
      isDisabled: false,
      newAutoCompleteIsSelected: false,
      model: this.defaultValue,
      autoCompleteModalToggle: false,
      autoCompleteDataClone: [],
      // 為了處理第一次給值，觸發autocomplete 搜尋事件
      firstGiveValue: 0
    }
  },
  computed: {
    containerStyle () {
      return {
        width: this.config.settings.width + 'px',
        height: this.config.settings.height + 'px',
        'min-height': this.config.settings.minHeight + 'px'
      }
    },
    labelStyle () {
      if (this.searchDisabled && this.config.type === 'NewAutoComplete' && !this.config.hiddenSearchBtn) {
        return {
          top: (this.config.settings.height - 24) / 2 + 'px',
          left: 41 + 'px'
        }
      }
      return {
        top: (this.config.settings.height - 24) / 2 + 'px',
        left: 8 + 'px'
      }
    }
  },
  watch: {
    toCloseModal: function (bol) {
      // console.log(bol)
      if (bol) {
        this.autoCompleteModalToggle = false
        this.$emit('setToCloseModalEvent', false)
      }
    },
    defaultValue: function (val) {
      // console.log(val)
      this.model = val
      // if (this.config.type !== 'AutoComplete' || (this.config.type === 'AutoComplete' && val !== '')) {
      //   this.model = val
      // }
    },
    model: {
      handler (newVal, oldVal) {
        // console.log('newVal : ', newVal)
        // console.log('oldVal : ', oldVal)
        if (this.config.type === 'Textarea') {
          if (newVal === '') {
            document.getElementsByTagName('textarea')[0].style.height = 'auto'
          }
        }
        //
        if (this.config.type !== 'AutoComplete' && this.config.type !== 'NewAutoComplete') {
          this.$emit('changeModelEvent', { code: this.code, val: newVal })
        } else if (oldVal) {
          this.newAutoCompleteSearch(newVal)
        }
      },
      deep: true
    },
    autoCompleteData: {
      handler (newVal, oldVal) {
        //
        // console.log(newVal)
        //
        if (this.config.type === 'AutoComplete') {
          let autoCompleteDataClone = []
          newVal.forEach(element => {
            let ary = element.split('::')
            let str = ''
            ary.forEach((s, idx) => {
              if (idx === ary.length - 1 - 1) {
                str += s
              } else if (idx < ary.length - 1 - 1) {
                str += `${s}::`
              }
            })
            autoCompleteDataClone.push(str)
          })
          this.autoCompleteDataClone = autoCompleteDataClone
        }
        //
        if (this.config.type === 'NewAutoComplete') {
          this.autoCompleteDataClone = newVal
        }
      },
      deep: true
    },
    autoCompleteDataClone: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    isRequired: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    datarangeCondition: function (date) {
      this.model = date
    },
    timerangeCondition: function (date) {
      this.model = date
    },
    focus: function () {
      // console.log('focus')
      this.isFocus = true
      if ((this.config.type === 'AutoComplete' || this.config.type === 'NewAutoComplete') && this.model && this.model !== '') {
        this.newAutoCompleteSearch(this.model)
      }
    },
    blur: function ($event) {
      // console.log('blur')
      this.isFocus = false
      this.$emit('blurEvent')
      //
      if (this.config.type === 'NewAutoComplete') {
        //
        // console.log(this.model)
        if (this.newAutoCompleteIsSelected) {
          //
        } else {
          //
          this.newAutoCompleteHandleSubmit($event)
        }
      }
    },
    checkDisabled: function (disabled) {
      if (disabled) {
        this.isDisabled = true
      }
    },
    onOpenChange: function (bol) {
      this.isFocus = bol
    },
    // Autocomplete
    showAutoCompleteModal: function () {
      this.autoCompleteModalToggle = true
    },
    autoCompleteFilterMethod: function (value, option) {
      // console.log(value)
      // console.log(option)
      if (value === null) {
        return
      }
      if (typeof value === 'number') {
        return true
      } else {
        return option.toUpperCase().indexOf(value.toUpperCase()) !== -1
      }
    },
    autoCompleteSearch: function (value) {
      // console.log(value)
      let data = {
        val: value.split('::')[0],
        returnCode: this.returnCode,
        keyCode: this.keyCode,
        storeKey: this.storeKey,
        showCols: this.showCols
      }
      this.$emit('autoCompleteSearchEvent', data)
    },
    autoCompleteSelect: function (value) {
      // console.log(this.model)
      // console.log(value)
      // console.log(this.autoCompleteData)
      // console.log(this.autoCompleteDataClone)
      let ITEM = this.autoCompleteData.find((ele, idx) => {
        if (ele.includes(value)) {
          return true
        } else {
          return false
        }
      })
      this.model = ''
      setTimeout(() => {
        let _ary = ITEM.split('::')
        this.model = _ary[0]
        this.$emit('changeModelEvent', { code: this.code, val: _ary[0], id: _ary[_ary.length - 1] })
      }, 10)
    },
    autoCompleteClear: function () {
      // console.log('autoCompleteClear : ', this.model)
      this.$emit('changeModelEvent', { code: this.code, val: '' })
      //
      setTimeout(() => {
        this.model = ''
      }, 10)
    },
    //
    newAutoCompleteSelect: function (value) {
      // console.log(value)
      this.newAutoCompleteIsSelected = true
      //
      let valObj = this.autoCompleteDataClone.find((ele, idx) => {
        if (ele[this.returnCode] === value) {
          return true
        }
      })
      this.$emit('changeModelEvent', { code: this.code, returnCode: this.returnCode, val: valObj })
    },
    newAutoCompleteSearch: function (value) {
      // console.log(value)
      // console.log(this.model)
      this.firstGiveValue += 1
      if ((this.firstGiveValue < 2 && !this.config.label && this.defaultValue) || (this.firstGiveValue < 1 && this.config.label && this.defaultValue)) {
        return
      }
      //
      this.newAutoCompleteIsSelected = false
      //
      let data = {
        val: this.model,
        returnCode: this.returnCode,
        keyCode: this.keyCode,
        storeKey: this.storeKey,
        showCols: this.showCols
      }
      this.$emit('autoCompleteSearchEvent', data)
    },
    newAutoCompleteClear: function () {
      // console.log('autoCompleteClear : ', this.model)
      this.newAutoCompleteIsSelected = false
      this.$emit('changeModelEvent', { code: this.code, returnCode: this.returnCode, val: undefined })
      //
      setTimeout(() => {
        this.model = ''
      }, 10)
    },
    newAutoCompleteHandleSubmit: function (event) {
      // console.log(event)
      let ta = event.target
      // console.log(JSON.stringify(this.autoCompleteDataClone))
      // console.log(ta.value)
      let valObj = this.autoCompleteDataClone.find((ele, idx) => {
        if (ele[this.returnCode] === ta.value) {
          return true
        } else {
          let obj = this.showCols.find((key, id) => {
            if (ele[key] === ta.value) {
              return true
            }
          })
          if (obj) {
            return true
          }
        }
      })
      // console.log(valObj)
      if (valObj) {
        this.newAutoCompleteIsSelected = true
        this.model = valObj[this.returnCode]
        this.$emit('changeModelEvent', { code: this.code, returnCode: this.returnCode, val: valObj })
      } else {
        this.newAutoCompleteIsSelected = false
        this.model = ''
        this.$emit('handleEnterSubmit', { code: this.code, returnCode: this.returnCode, val: ta.value, msg: '' })
      }
    }
  },
  mounted () {
    this.checkDisabled(this.disabled)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
$easeInOutCubic: 0.645, 0.045, 0.355, 1;
.floatLabelBox-container {
    width: 100%;
    position: relative;
    border-radius: 4px;
    display: flex;
    align-items: center;
    &.isFocus{
    border: 1px solid  #118cf8;
    }
    &.isDisabled{
    border: 1px dashed  #8E96A6;
    }
    /deep/
    input {
      font-size: 16px !important;
      margin-top: 5px;
      padding: 0 12px;
    }
    // overflow: hidden;
    .label-box {
        position: absolute;
        height: 22px;
        transition: 0.2s cubic-bezier($easeInOutCubic);
        font-size: 16px;
        color:  #333333;
        &.hasContent {
            font-size: 14px;
            top: -14px !important;
            color:  #333333;
            padding: 4px;
            background: #3c3c3c;
        }
        &.isFocus {
          font-size: 14px;
          top: -14px !important;
          color: #118cf8;
        }
        &.isError {
          font-size: 16px;
          color: #E80C0C;
        }
        &.isDisabled{
          color: #979797 !important;
        }
        &.isRequired{
          color: #118cf8;
          &.hasContent {
            color:  #333333;
          }
        }
    }
    .Select {
        width: 100%;
        height: 100%;
    }
    /deep/
    .Select .ivu-select-selection{
        width: 100%;
        height: 100%;
        background: transparent;
        border-radius: 0;
        border: none;
        padding-top: 8px;
    }
    /deep/
    .Select.hasContent {
      .ivu-select-selected-value {
        font-size: 16px;
        color: #333333;
      }
      &.isDisabled{
        .ivu-select-selected-value {
          font-size: 16px;
          color: #979797;
        }
      }
    }
    /deep/
    .Input{
      .ivu-input {
        border: none;
        background-color: transparent;
        outline: none;
        box-shadow: none;
      }
      &.hasContent {
        padding-top: 0;
      }
      &.isFocus {
        padding-top: 0;
      }
    }
    /deep/
    .InputNumber.ivu-input-number {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        box-shadow: none;
        .ivu-input-number-handler {
            height: 50%;
            .ivu-input-number-handler-up-inner {
                height: 100%;
                line-height: 100%;
            }
            .ivu-input-number-handler-down-inner {
                height: 100%;
                line-height: 100%;
                padding-top: 5px;
            }
        }
        input {
            border: none;
            background-color: transparent;
        }
    }
    /deep/
    .ivu-input-number-handler-wrap {
      border: 1px solid #dcdee2;
    }
    /deep/
    .DatePicker.ivu-date-picker {
        width: 100%;
        input {
            border: none;
            background-color: transparent;
        }
        &.hasContent {
            padding-top: 0;
        }
    }
    /deep/
    .DatePicker.ivu-date-picker-focused input {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    /deep/
    .DatePicker .ivu-input:focus {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    /deep/
    .TimePicker.ivu-date-picker {
        width: 100%;
        input {
            border: none;
            background-color: transparent;
        }
        &.hasContent {
            padding-top: 0;
        }
    }
    /deep/
    .TimePicker.ivu-date-picker-focused input {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    /deep/
    .TimePicker .ivu-input:focus {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    /deep/
    .Textarea {
        width: 100%;
        transition: 0.2s cubic-bezier($easeInOutCubic);
        &.hasContent {
            padding-top: 0;
        }
        textarea {
            font-size: 16px;
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent;
            box-shadow: none;
            padding-top: 6px;
            padding-bottom: 0;
        }
    }
    /deep/
    .AutoComplete{
      &.hasContent {
        padding-top: 0;
      }
      &.isDisabled{
          color: #979797 !important;
      }
      &.onlySearch{
          order: 2;
      }
      > div {
        box-shadow: none;
        outline: none;
      }
      .ivu-input-wrapper:focus {
        box-shadow: none;
        outline: none;
      }
      input {
        background: transparent;
        border: 0;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .search-btn.ivu-btn-text {
      padding: 5px;
      color: #fff;
      &:hover, &:focus, &:active {
        outline: none;
        box-shadow: none;
        color: #e2c57f;
        background: transparent;
      }
      &.onlySearch {
        order: 1;
        color: #118cf8;
      }
    }
    // /deep/
    // input {
    //   margin-top: 5px;
    //   padding: 0 12px;
    //   font-size: 16px !important;
    //   color: #333333;
    //   &.ivu-input-disabled{
    //       color: #979797 !important;
    //   }
    // }
    .required-desc {
      position: absolute;
      top: 45px;
      left: 10px;
      font-size: 12px;
      color: #E80C0C;
    }
    //
    /deep/
    .ivu-select-arrow {
      top: 50%;
      transform: translateY(-50%);
    }
    //
    /deep/
    .ivu-input-icon {
      width: 20px;
      right: 8px;
      top: 3px;
    }
    //
    .main {
      font-size: 16px;
      color: #118cf8;
    }
    .sub {
      font-size: 12px;
      color: #ccc;
    }
    &.dark-bg {
      border: 1px solid #ACACAC;
      .label-box {
        color: #FFFFFF;
        &.hasContent {
          color: #FFFFFF;
        }
        &.isFocus {
          color: #4EEDC5;
        }
        &.isRequired{
          color: #4EEDC5;
          &.hasContent {
            color:  #FFFFFF;
            &.isFocus {
              color: #4EEDC5;
            }
          }
        }
      }
      /deep/
      .Select.hasContent {
        .ivu-select-selected-value {
          color: #fff;
        }
        &.isDisabled{
          .ivu-select-selected-value {
            color: #979797;
          }
        }
      }
      /deep/
      .Textarea textarea {
        color: #fff;
      }
      /deep/
      .ivu-select-arrow {
        color: #fff;
      }
      &.isFocus{
        border: 1px solid #4EEDC5;
      }
      /deep/
      input {
        color:  #FFFFFF;
      }
    }
    &.light-bg {
      border: 1px solid #ACACAC;
      .label-box {
        color: #3c3c3c;
        &.hasContent {
          color: #3c3c3c;
          background: #eceff2;
        }
        &.isFocus {
          color: #118cf8;
        }
        &.isRequired{
          color: #118cf8;
          &.hasContent {
            color:  #3c3c3c;
            &.isFocus {
              color: #118cf8;
            }
          }
        }
      }
      /deep/
      .Select.hasContent {
        .ivu-select-selected-value {
          color: #3c3c3c;
        }
        &.isDisabled{
          .ivu-select-selected-value {
            color: #979797;
          }
        }
      }
      /deep/
      .ivu-select-arrow {
        color: #3c3c3c;
      }
      &.isFocus{
        border: 1px solid #118cf8;
      }
      /deep/
      input {
        color:  #3c3c3c;
      }
      .search-btn.ivu-btn-text {
        color: #3c3c3c;
        &:hover, &:focus, &:active {
          color: #118cf8;
        }
      }
    }
    &.white-bg {
      border: 1px solid #ACACAC;
      .label-box {
        color: #3c3c3c;
        &.hasContent {
          color: #3c3c3c;
          background: #fff;
        }
        &.isFocus {
          color: #118cf8;
        }
        &.isRequired{
          color: #118cf8;
          &.hasContent {
            color:  #3c3c3c;
            &.isFocus {
              color: #118cf8;
            }
          }
        }
      }
      /deep/
      .Select.hasContent {
        .ivu-select-selected-value {
          color: #3c3c3c;
        }
        &.isDisabled{
          .ivu-select-selected-value {
            color: #979797;
          }
        }
      }
      /deep/
      .ivu-select-arrow {
        color: #3c3c3c;
      }
      &.isFocus{
        border: 1px solid #118cf8;
      }
      /deep/
      input {
        color:  #3c3c3c;
      }
      .search-btn.ivu-btn-text {
        color: #118cf8;
        &:hover, &:focus, &:active {
          color: #118cf8;
        }
      }
    }
}
</style>
<style rel="stylesheet/scss" lang="scss">
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    // height: 42px !important;
    // line-height: 42px !important;
    // font-size: 18px !important;
}
//
.ivu-select-item {
    font-size: 16px !important;
}
//
.floatLabelBox-container .ivu-input-icon-normal+.ivu-input {
  padding-right: 10px;
}
//
.NewAutoComplete-option {
  border-bottom: 1px solid #ccc;
  .main {
    font-size: 16px;
    color: #118cf8;
  }
  .sub {
    font-size: 12px;
    color: #999;
  }
}
</style>
