<template>
  <Modal v-model="modal" width="300" :footer-hide="true" :closable="false" class="comfirmSaveModal">
    <div slot="header" class="modal-header"></div>
    <div class="modal-body">
      <div class="icon-box"><img src="@/assets/images/icon/warning.png" class="img-fluid"></div>
      <div class="container-box">
        <div class="desc-box">
        {{noticText}}
        </div>
        <div class="btn-box">
          <Button class="best-blue w-100 mb-3" shape="circle" size="large" @click="save">{{saveBtnText}} <font-awesome-icon icon="save"/></Button>
          <Button class="best-outlined-gray w-100 mb-3" shape="circle" size="large" @click="cancel">{{cancelBtnText}} <font-awesome-icon icon="pen"/></Button>
          <Button class="best-outlined-gray w-100" shape="circle" size="large" @click="clone" v-if="modalType !== 'create' && !canNotClone">另存為新資料 <font-awesome-icon icon="save"/></Button>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script>
//
export default {
  name: 'ComfirmSaveModal',
  props: ['comfirmSaveModal', 'modalType', 'canNotClone', 'notic', 'cancelBtn', 'saveBtn'],
  components: {},
  data () {
    //
    return {
      modal: this.comfirmSaveModal,
      noticText: this.notic || '儲存後資料將修改，是否要儲存變更?',
      cancelBtnText: this.cancelBtn || '取消',
      saveBtnText: this.saveBtn || '儲存'
    }
  },
  computed: {},
  watch: {
    comfirmSaveModal: function (bol) {
      this.modal = bol
    },
    modal: function (bol) {
      if (!bol) {
        this.$emit('setComfirmSaveModalEvent', false)
      }
    },
    notic: {
      handler: function (val) {
        this.noticText = val || '儲存後資料將修改，是否要儲存變更?'
      },
      deep: true
    },
    cancelBtn: {
      handler: function (val) {
        this.cancelBtnText = val || '取消'
      },
      deep: true
    },
    saveBtn: {
      handler: function (val) {
        this.saveBtnText = val || '儲存'
      },
      deep: true
    }
  },
  methods: {
    cancel: function () {
      this.$emit('comfirmSaveModalCancelEvent', false)
    },
    save: function () {
      this.$emit('comfirmSaveModalSaveEvent', false)
    },
    clone: function () {
      this.$emit('comfirmSaveModalCloneEvent', false)
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.comfirmSaveModal{
  .modal-body {
    width: 100%;
    padding: 0 48px 24px;
    .icon-box {
      width: 100px;
      margin: 0 auto 24px;
      img {
        object-fit: cover
      }
    }
    .container-box {
      height: 100%;
      .desc-box {
        color: #3c3c3c;
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 16px;
      }
      .btn-box {
        //
      }
    }
  }
}
</style>
