<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 盤點作業總覽 -->
    <span v-show="step===0">
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div>
          <span class="title-text">盤點作業總覽</span>
          <div class="operating-box">
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="toStocktakeAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="刪除">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              @click="comfirmRemove">
                <font-awesome-icon icon="file-excel" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r">
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'started' ? 'isFocus' : '',
              status_10>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('started')"
            >待啟動
            <span class="totalCount">{{status_10}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'assigned' ? 'isFocus' : '',
              status_20>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('assigned')"
            >待指派
            <span class="totalCount">{{status_20}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'processing' ? 'isFocus' : '',
              status_30>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('processing')"
            >待盤點
            <span class="totalCount">{{status_30}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'complete' ? 'isFocus' : '',
              status_50>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('complete')"
            >盤點完成
            <span class="totalCount">{{status_50}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'confirm' ? 'isFocus' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('confirm')"
            >已結束
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'stocktake' ? 'isFocus' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('stocktake')"
            >ALL
          </Button>
        </div>
        <div class="btn-box l">
          <!-- <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="dataexport"
          >匯出</Button> -->
          <Dropdown
          trigger="click"
          class="solid-text-bropdown mr-3"
          :class="userInfo.themeColor"
          @on-click="changeStocktakeStasusEvent">
              狀態修改
              <Icon type="ios-arrow-down"></Icon>
              <DropdownMenu slot="list">
                  <DropdownItem name="startStocktake">啟動盤點</DropdownItem>
                  <DropdownItem name="assigned">指派人員</DropdownItem>
                  <DropdownItem name="complete">盤點完成</DropdownItem>
                  <DropdownItem name="confirm">確認盤點調整庫存</DropdownItem>
              </DropdownMenu>
          </Dropdown>
        </div>
      </div>
      <div class="body-box have-tab-bar">
        <DataGrid
          idKeyName="stocktake_id"
          :bgType="userInfo.themeColor"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
      </div>
    </span>
    <!-- 盤點單作業建檔 -->
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text" v-if="step===1">盤點單建檔</span>
        <span class="title-text" v-if="step===2">啟動盤點</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="刪除">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              v-if="step===2"
              @click="comfirmRemove">
              <font-awesome-icon icon="file-excel" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <StocktakeStep
          v-show="step>1"
          :step="step"
          :data="detailData"
          @setStocktakeStasus="setStocktakeStasus"
          ></StocktakeStep>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button>
        </div>
      </h2>
      <div class="body-box">
        <StocktakeSetupAdd
          ref="setStocktakeEvent"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:stocktakeDetailChangeEvent="stocktakeDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></StocktakeSetupAdd>
      </div>
    </span>
    <!-- 指派人員 -->
    <span v-if="step===4">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">指派人員</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <StocktakeStep
          :step="step"
          :data="detailData"
          @setStocktakeStasus="setStocktakeStasus"
          ></StocktakeStep>
        </div>
        <div class="btn-box l">
        </div>
      </h2>
      <div class="body-box">
        <StocktakeStartedSetupAdd
          ref="setStocktakeEvent"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :timeZone="timeZone"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:stocktakeDetailChangeEvent="stocktakeDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></StocktakeStartedSetupAdd>
      </div>
    </span>
    <!-- 盤點作業 -->
    <span v-if="step===5">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">盤點作業</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <StocktakeStep
          :step="step"
          :data="detailData"
          @setStocktakeStasus="setStocktakeStasus"
          ></StocktakeStep>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button>
        </div>
      </h2>
      <div class="body-box">
        <StocktakeProcessingSetupAdd
          ref="setStocktakeEvent"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :uiId="uiId"
          :ownerId="ownerId"
          :ownerName="ownerName"
          :timeZoneTimestamp="timeZoneTimestamp"
          :timeZone="timeZone"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:stocktakeDetailChangeEvent="stocktakeDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></StocktakeProcessingSetupAdd>
      </div>
    </span>
    <!-- 盤點結束 -->
    <span v-if="step===6 || step===7">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text" v-show="step===6">盤點庫存調整</span>
        <span class="title-text" v-show="step===7">盤點結束</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <StocktakeStep
          :step="step"
          :data="detailData"
          @setStocktakeStasus="setStocktakeStasus"
          ></StocktakeStep>
        </div>
        <div class="btn-box l" v-if="step===6">
          <!-- <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <StocktakeCloseSetupAdd
          ref="setStocktakeEvent"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:stocktakeDetailChangeEvent="stocktakeDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></StocktakeCloseSetupAdd>
      </div>
    </span>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
    <!-- import modal -->
    <ImportModal
      :importModal="importModalToggle"
      :importModalTitle="importModalTitle"
      :importExampleFile="importExampleFile"
      :importUploadURL="importUploadURL"
      :importLoadingViewIsShow="importLoadingViewIsShow"
      v-on:importEvent="importEvent"
      v-on:importErrorEvent="errorRequest"
      v-on:beforeUploadEvent="beforeUploadEvent"
      v-on:setImportModalEvent="setImportModalEvent"
    ></ImportModal>
    <!-- 指派盤點員 -->
    <Modal v-model="assignUserModal" width="359" :footer-hide="true" closable class="assignUserModal">
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <div class="desc-box">
            <div class="modal-title mb-3">
              <span>
                指派盤點員
              </span>
            </div>
            <div class="mb-4">
              <FloatLabelBox
                :config="{
                  hasContent: (assignUserName && assignUserName!==''),
                  label: `指派盤點員`,
                  hasClearButton: true,
                  background: 'white',
                  type: `NewAutoComplete`,
                  settings: {height: 41},
                  hiddenSearchBtn: true }"
                :code="`assignUserName`"
                :autoCompleteData="userList"
                :defaultValue="assignUserName"
                :modalTitle="`指派盤點員`"
                :toCloseModal="toCloseUserAutocompleteModal"
                keyCode="userSetup"
                storeKey="user"
                returnCode="name"
                :showCols="autoCompleteShowUserCols"
                :isError="error.assignUserId"
                :isRequired="true"
                @handleEnterSubmit="autocompleteHandleUserEnterSubmitEvent"
                @changeModelEvent="userAutocompleteChangeEvent"
                @autoCompleteSearchEvent="userAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseUserAutocompleteModal">
                  <div>
                    <!-- 指派盤點員-->
                    <AutocompleteModal
                    keyCode="userSetup"
                    storeKey="user"
                    returnCode="name"
                    :condition="userCondition"
                    :baseCondition="userBaseCondition"
                    @setAutocompleteValueEvent="setAutocompleteUserValue"></AutocompleteModal>
                  </div>
                </FloatLabelBox>
            </div>
            <div class="btn-box">
              <Button class="best-blue w-100" shape="circle" size="large" @click="assignUserEvent">
                指派人員
              </Button>
            </div>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import StocktakeSetupAdd from './components/StocktakeSetupAdd'
import StocktakeStartedSetupAdd from './components/StocktakeStartedSetupAdd'
import StocktakeProcessingSetupAdd from './components/StocktakeProcessingSetupAdd'
import StocktakeCloseSetupAdd from './components/StocktakeCloseSetupAdd'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
import ImportModal from '@/components/ImportModal/ImportModal'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import StocktakeStep from '@/components/StocktakeStep/StocktakeStep'
//
export default {
  name: 'StocktakeSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    StocktakeSetupAdd,
    StocktakeStartedSetupAdd,
    StocktakeProcessingSetupAdd,
    StocktakeCloseSetupAdd,
    ComfirmRemoveModal,
    ColumnControlModal,
    DataexportModal,
    ImportModal,
    FloatLabelBox,
    AutocompleteModal,
    StocktakeStep
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'stocktake_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'change_start_date') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'change_end_date') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_stocktake_built') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_canceled') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_stocktake_started') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_stocktake_assigned') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_stocktake_processing') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_stocktake_first_done') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_stocktake_second_done') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_stocktake_final_done') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_stocktake_finished') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    settingData = defaultSettingData
    // console.log(settingData)
    let userId = this.$store.state.auth.userInfo.userId
    let userName = this.$store.state.auth.userInfo.userName
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '盤點作業總覽',
      // importModal
      importModalToggle: false,
      importModalTitle: '盤點單',
      importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.stocktake.upload}`,
      importExampleFile: 'stocktake_format.xlsx',
      importLoadingViewIsShow: false,
      // pickinglist modal
      pickinglistModalToggle: false,
      pickinglistLoadingViewIsShow: false,
      //
      timeZoneTimestamp: null,
      timeZone: null,
      //
      step: 0, // 0: 盤點單作業總覽 / 1:盤點單作業建檔 / 2:盤點單作業 detail / 3:clone
      // 盤點單作業總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      cloneData: null,
      isQuery: false,
      stocktakeStatusFilterData: [],
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      toRestFilter: false,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      userId: userId,
      userName: userName,
      uiId: this.$store.state.auth.userInfo.uiId,
      ownerId: this.$store.state.auth.userInfo.ownerKey,
      ownerName: this.$store.state.auth.userInfo.ownerName,
      // 盤點單作業建檔
      detailId: null,
      detailData: null,
      // 切換總覽
      changeDataList: 'started',
      // 切換內頁tab
      showInpageTab: 'main',
      status_10: 0,
      status_20: 0,
      status_30: 0,
      status_50: 0,
      // 指派盤點員 Modal
      assignUserModal: false,
      assignUserId: userId, // 指派盤點員代碼
      assignUserName: userName, // 指派盤點員名稱
      error: {
        assignUserId: false
      },
      /* 指派盤點員 : assignUserId */
      userList: [],
      autoCompleteShowUserCols: [],
      toCloseUserAutocompleteModal: false,
      userCondition: [],
      userBaseCondition: []
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    stocktakeList: function () {
      var list = []
      list = this.$store.state[`stocktake`][`stocktakeList`] || []
      // console.log(list)
      return list || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    stocktakeList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (oldVal === 0) {
        this.showInpageTab = 'main'
      } else {
        this.showInpageTab = 'details'
      }
      if (newVal === 0) {
        //
        this.cloneData = null
        this.reloadDataGrid()
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 4 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 5 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 6 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 7 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    stocktakeStatusFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'stocktake_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    changeDataList: {
      handler: function (val) {
        if (val) {
          this.resetFilter()
        }
      },
      deep: true
    },
    assignUserId: {
      handler: function (val) {
        //
        if (val) {
          this.error.assignUserId = false
        }
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            // console.log(data.stocktake_status)
            if (item === 'stocktake_status' && data[item].value.length > 0) {
              return
            }
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        // case 'clone':
        //   this.step = 1
        //   this.cloneData = data.list[0]
        //   break
        case 'remove':
          this.remove()
          break
        case 'print':
          this.setPrintTrigger()
          break
        case 'startStocktake':
          this.setStocktakeStasus('startStocktake')
          break
        case 'assigned':
          this.setStocktakeStasus('assigned')
          break
        case 'complete':
          this.setStocktakeStasus('complete')
          break
        case 'confirm':
          this.setStocktakeStasus('confirm')
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 盤點單作業 detail
      this.LoadingViewIsShow = true
      this.detailId = data.stocktake_id
      this.detailData = data
      switch (data.stocktake_status) {
        case 10:
          this.step = 2
          break
        case 15:
          this.step = 2
          break
        case 20:
          this.step = 4
          break
        case 30:
          this.step = 5
          break
        case 50:
          this.step = 6
          break
        case 80:
        case 90:
          this.step = 7
          break
      }
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    // 前往盤點單作業總覽
    toStocktake: function () {
      this.step = 0
    },
    back: function () {
      //
      this.detailId = null
      this.toStocktake()
    },
    // 前往盤點單作業建檔
    toStocktakeAdd: function () {
      this.step = 1
    },
    toStepEvent: function (data, step) {
      // console.log(data, step)
      this.detailId = data.stocktake_id
      this.step = step
    },
    // remove modal
    comfirmRemove: function (type, item) {
      if (!this.idsData) {
        this.comfirmRemoveModal = true
        return
      }
      //
      let idsLength = this.idsData.list.length
      if (idsLength === 0) {
        this.$Notice.warning({
          title: '請勾選要刪除的資料'
        })
        return
      }
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      // console.log('Ok')
      this.getIds('remove')
    },
    // remove
    remove: async function () {
      // console.log('remove', this.idsData)
      let postData = {
        stocktakeIds: []
      }
      // 內頁單筆刪除
      if (this.detailId) {
        postData.stocktakeIds.push(this.detailId)
        this.$store.dispatch('stocktake/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            setTimeout(() => {
              this.step = 0
            }, 500)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
          }
        })
      } else {
        let idsLength = this.idsData.list.length
        let isError = false
        for (let i = 0; i < idsLength; i++) {
          if (this.idsData.list[i].stocktake_status > 10) {
            isError = true
            this.$Notice.warning({
              title: `第${this.idsData.list[i].INDEX}筆資料`,
              desc: '不可刪除，請取消選取',
              duration: 30
            })
          }
        }
        if (idsLength === 0) {
          isError = true
        }
        if (isError) {
          return
        }
        postData.stocktakeIds = this.idsData.selectIds
        this.$store.dispatch('stocktake/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            this.reloadDataGrid()
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
          }
        })
      }
      this.idsData = null
    },
    add: function () {
      //
      this.detailId = null
      this.toStocktakeAdd()
    },
    // 前往盤點單作業建檔 : clone
    toStocktakeClone: function () {
      this.getIds()
      this.optType = 'clone'
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      this.getStocktakeCountStatus(this.settingData.page.pageSize, 1)
    },
    reload: function () {
      this.LoadingViewIsShow = true
      this.$refs.setStocktakeEvent.setStocktakeEvent('reload')
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      // console.log(pageNumber)
      this.isQuery = true
      this.LoadingViewIsShow = true
      this.idsData = null
      //
      var filter = []
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      var postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      switch (this.changeDataList) {
        case 'stocktake':
          postData.baseCondition = [...filter]
          break
        case 'started':
          postData.baseCondition = [
            ...filter,
            ['stocktake_status', '=', 10]
          ]
          break
        case 'assigned':
          postData.baseCondition = [
            ...filter,
            ['stocktake_status', '=', 20]
          ]
          break
        case 'processing':
          postData.baseCondition = [
            ...filter,
            ['stocktake_status', '=', 30]
          ]
          break
        case 'complete':
          postData.baseCondition = [
            ...filter,
            ['stocktake_status', '=', 50]
          ]
          break
        case 'confirm':
          postData.baseCondition = [
            ...filter,
            ['stocktake_status', '=', 80]
          ]
          break
      }
      //
      this.$store.dispatch(`stocktake/query`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.isQuery = false
          this.LoadingViewIsShow = false
        } else {
          this.isQuery = false
          this.LoadingViewIsShow = false
        }
      })
    },
    changeDataListEvent: function (val) {
      this.changeDataList = val
    },
    changeStocktakeStasusEvent (name) {
      // console.log(name)
      this.getIds(name)
    },
    saveEvent: function () {
      this.$refs.setStocktakeEvent.setStocktakeEvent()
    },
    stocktakeDetailChangeEvent: function (data) {
      this.detailData = data
    },
    setStocktakeStasus: function (data) {
      let isError = false
      let postData = {
        stocktakeIds: []
      }
      switch (data) {
        case 'startStocktake':
          if (this.detailId) {
            if (this.detailData.stocktake_status !== 10) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，待啟動可作修改',
                duration: 30
              })
            } else {
              this.$refs.setStocktakeEvent.setStocktakeEvent('setStocktakeStasus')
              postData.stocktakeIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].stocktake_status !== 10) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              this.$Notice.warning({
                title: `請選取要修改的資料`,
                duration: 30
              })
              isError = true
            }
            postData.stocktakeIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('stocktake/start', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '成功'
                })
                if (this.detailId) {
                  this.step = 4
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
        case 'assigned':
          if (this.detailId) {
            if (this.detailData.stocktake_status !== 20) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，待指派可作修改',
                duration: 30
              })
            } else {
              this.assignUserModal = true
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].stocktake_status !== 20) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              this.$Notice.warning({
                title: `請選取要修改的資料`,
                duration: 30
              })
              isError = true
            }
            if (isError) {
              return
            }
            this.assignUserModal = true
          }
          //
          break
        case 'complete':
          if (this.detailId) {
            if (this.detailData.stocktake_status !== 30) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，待盤點可作修改',
                duration: 30
              })
            } else {
              this.$refs.setStocktakeEvent.setStocktakeEvent('setStocktakeStasus')
              postData.stocktakeIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].stocktake_status !== 30) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              this.$Notice.warning({
                title: `請選取要修改的資料`,
                duration: 30
              })
              isError = true
            }
            postData.stocktakeIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('stocktake/complete', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '成功'
                })
                if (this.detailId) {
                  this.step = 6
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
        case 'confirm':
          if (this.detailId) {
            if (this.detailData.stocktake_status !== 50) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，盤點完成可作修改',
                duration: 30
              })
            } else {
              postData.stocktakeIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].stocktake_status !== 50) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              this.$Notice.warning({
                title: `請選取要修改的資料`,
                duration: 30
              })
              isError = true
            }
            postData.stocktakeIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('stocktake/confirm', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '成功'
                })
                if (this.detailId) {
                  this.step = 7
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
      }
    },
    // 指派盤點員
    assignUserEvent: function () {
      this.LoadingViewIsShow = true
      // 檢查
      let isError = false
      if (!this.assignUserId || this.assignUserId === '') {
        isError = true
        this.error.assignUserId = true
        // 警告提示
        this.$Notice.error({
          title: '指派盤點員未填',
          duration: 30
        })
      }
      if (isError) {
        this.LoadingViewIsShow = false
        return
      }
      //
      let postData = {
        stocktakeIds: [],
        assignUserId: this.assignUserId,
        assignUserName: this.assignUserName
      }
      if (this.detailId) {
        postData.stocktakeIds = [this.detailId]
      } else {
        postData.stocktakeIds = this.idsData.selectIds
      }
      //
      this.$store.dispatch(`stocktake/assign`, postData).then((r) => {
        console.log(r)
        if (r.success) {
          // 警告提示
          this.$Notice.success({
            title: '更新成功'
          })
          if (this.detailId) {
            this.step = 5
          } else {
            this.reloadDataGrid()
          }
          this.assignUserModal = false
          this.idsData = null
        } else {
          this.$Notice.error({
            title: `更新失敗`,
            desc: r.message,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    // 盤點單狀態 stocktake_status
    getStocktakeStatusFilterData: function () {
      this.stocktakeStatusFilterData = [
        {
          value: 10,
          label: '待啟動'
        },
        {
          value: 15,
          label: '盤點取消'
        },
        {
          value: 20,
          label: '待指派'
        },
        {
          value: 30,
          label: '待盤點'
        },
        {
          value: 50,
          label: '盤點完成'
        },
        {
          value: 80,
          label: '已結束'
        },
        {
          value: 90,
          label: '庫存已調整'
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZone = timeZone
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    // ImportModal Start
    showImportModal: function () {
      this.importModalToggle = true
    },
    setImportModalEvent: function (bol) {
      // console.log(bol)
      this.importModalToggle = bol
    },
    beforeUploadEvent: function () {
      this.importLoadingViewIsShow = true
    },
    errorRequest: function (txt) {
      // console.log(txt)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗',
        desc: txt,
        duration: 30
      })
      this.importLoadingViewIsShow = false
    },
    importEvent: async function (data) {
      // console.log(data)
      let csvSeperator = ''
      // console.log(this.postData.csvSeperator)
      switch (data.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      try {
        let postData = {
          companyId: this.companyId,
          whId: this.whId,
          csvSeperator: csvSeperator,
          fileContentType: data.fileContentType,
          fileName: data.fileName,
          fileStoragePath: data.fileStoragePath,
          fileType: data.fileType,
          data_error_warning: 1,
          error_stop_import: 1
        }
        var Res = await this.$store.dispatch('importPutIn/import', postData)
        // console.log(Res)
        if (Res.httpStatus === 201 || Res.httpStatus === 200) {
          let failResult = Res.respondCode.additionals.dataImportResponse.fail_result || []
          if (failResult.length > 0) {
            failResult.forEach((item) => {
              this.$Notice.error({
                title: '檔案上傳失敗',
                desc: `${item.reason}`,
                duration: 30
              })
            })
          } else {
            this.$Notice.success({
              title: '檔案上傳成功'
            })
          }
          this.importLoadingViewIsShow = false
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
        } else {
          this.$Notice.error({
            title: '檔案上傳失敗',
            desc: `${Res.data.respondCode.debugInfo}`,
            duration: 30
          })
          this.importLoadingViewIsShow = false
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.success({
          title: '檔案匯入完畢'
        })
        this.importLoadingViewIsShow = false
      }
    },
    // ImportModal END
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: async function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        queryExpression: {},
        exportFields: [],
        exportSettings: {}
        // timezone_offset: null
      }
      let exportFields = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          if (element.property === 'isEnabled') {
            exportFields.push({
              fieldName: 'is_enabled',
              displayName: element.displayName
            })
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      // 匯出範圍
      switch (data.postData.exportReach) {
        case 1:
          postData.queryExpression.page = data.postData.page
          postData.queryExpression.pageSize = this.settingData.page.totalCount
          postData.queryExpression.combinedCondition = 'AND'
          postData.queryExpression.query = [
            ...this.filterAry
          ]
          break
        case 2:
          await this.getIds()
          // console.log(this.idsData)
          if (!this.idsData) {
            this.$Notice.warning({
              title: '請勾選要匯出的資料'
            })
            this.LoadingViewIsShow = false
            return
          }
          let listLength = this.idsData.list.length
          // console.log(listLength)
          let ids = []
          for (let i = 0; i < listLength; i++) {
            ids.push(this.idsData.list[i].stocktake_id)
          }
          //
          postData.queryExpression.page = 1
          postData.queryExpression.pageSize = listLength
          postData.queryExpression.combinedCondition = 'AND'
          postData.queryExpression.query = [
            {
              queryCondition: 'IN',
              queryField: 'stocktake_id',
              queryValue: `${ids}`
            }
          ]
          break
      }
      //
      postData.queryExpression.sort = this.sortAry
      postData.exportFields = exportFields
      postData.exportSettings.exportFileName = data.postData.exportFileName
      postData.exportSettings.exportFormat = data.postData.exportFormat
      //
      switch (this.changeDataList) {
        case 'started':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 10,
              queryField: 'stocktake_status'
            }
          )
          break
        case 'assigned':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 20,
              queryField: 'stocktake_status'
            }
          )
          break
        case 'processing':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 30,
              queryField: 'stocktake_status'
            }
          )
          break
        case 'complete':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 50,
              queryField: 'stocktake_status'
            }
          )
          break
        case 'confirm':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 80,
              queryField: 'stocktake_status'
            }
          )
          break
      }
      //
      let csvSeperator = ''
      switch (data.postData.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      postData.exportSettings.csvSeperator = csvSeperator
      //
      if (this.timeZone < 0) {
        postData.timezone_offset = `${this.timeZone}`
      } else {
        postData.timezone_offset = `+${this.timeZone}`
      }
      // console.log(postData)
      //
      let dataexportRes = await this.$store.dispatch(`stocktake/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId })
      // console.log(dataexportRes)
      if (dataexportRes.httpStatus === 200 || dataexportRes.httpStatus === 201) {
        // console.log('下載檔案')
        window.open(`${Config.API.downloadAPIBaseURL}${dataexportRes.respondCode.additionals.dataExport.download_link}`)
      }
      this.LoadingViewIsShow = false
    },
    setPrintTrigger: function () {
      if (this.idsData.list.length < 1) {
        this.$Notice.warning({
          title: `請勾選要列印的項目`
        })
        return
      }
      //
      // this.pickinglistModalToggle = true
      this.print()
    },
    // printEvent: function (data) {
    //   // console.log(data)
    //   this.print(data.type, data.postData)
    // },
    setPickinglistModalEvent: function (bol) {
      // console.log(bol)
      this.pickinglistModalToggle = bol
    },
    print: function () {
      // console.log(this.idsData)
      let timeZone = -(new Date().getTimezoneOffset() / 60) // 使用者所在時區
      // console.log(timeZone)
      // var printType = parseInt(type)
      var ids = []
      this.idsData.list.forEach((item) => {
        ids.push(item.stocktake_id)
      })
      this.LoadingViewIsShow = true
      // console.log(ids)
      var postData = {
        timezone_offset: timeZone,
        output_format: 'pdf',
        output_lang: 'zh-tw',
        report_type: 'Inspection_receipt_for_acceptance',
        stocktake_id: ids
      }
      //
      this.$store.dispatch('quantityinspection/quantityinspection', { postData: postData, userId: this.userId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // 取下載link, 另開視窗
          let Result = r.respondCode.additionals[`inspection_list`] || []
          let downloadLinkList = { pdf_files_to_be_merge: [] }
          //
          Result.forEach((ele, idx) => {
            downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
          })
          this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList).then((r) => {
            // console.log(r)
            window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.download_link}`)
          })
        } else {
          this.$Notice.warning({
            title: `網路異常請稍後再試`
          })
        }
        this.LoadingViewIsShow = false
      })
    },
    // 查詢個狀態總量
    getStocktakeCountStatus: function (pageSize, pageNumber) {
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: [],
        orCondition: [],
        sort: []
      }
      this.$store.dispatch(`stocktake/stocktakeCountStatus`, postData).then((r) => {
        console.log(r)
        if (r.success) {
          let list = r.data
          Object.keys(list).forEach((item, index) => {
            // console.log(item)
            this[item] = list[item]
          })
        }
      })
    },
    /* 指派盤點員 : assignUserId */
    autocompleteHandleUserEnterSubmitEvent: function (data) {
      // console.log(data)
      this[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.userList = []
    },
    userAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this[data.code] = data.val ? data.val[data.returnCode] : ''
        this.assignUserId = data.val ? data.val.id : ''
        // console.log(this.assignUserId)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.userList = [data.val]
      } else {
        this.userList = []
      }
    },
    userAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.userBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.userList = list
        }
      })
    },
    setAutocompleteUserValue: function (data) {
      // console.log(data)
      //
      this.assignUserName = data.data[data.returnCode]
      this.assignUserId = data.data.id
      // console.log(this.assignUserId)
      //
      this.toCloseUserAutocompleteModal = true
    },
    setToCloseUserAutocompleteModal: function (bol) {
      this.toCloseUserAutocompleteModal = bol
    }
  },
  created () {
    //
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getStocktakeCountStatus(this.settingData.page.pageSize, 1)
    this.getStocktakeStatusFilterData()
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`stocktake/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  // position: relative;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 41px - 16px);
    &.have-tab-bar {
      height: calc(100% - 71px - 16px);
    }
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
.dataGridTab{
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  padding: 8px;
  height: auto;
  .totalCount {
    display: none;
    font-size: 28px;
    font-weight: bold;
  }
  &.hasTotalCount{
    font-size: 16px;
    padding: 4px 16px 0px;
    .totalCount {
      display: block;
    }
  }
  &.dark {
    color: #fff;
    border: 1px solid #fff;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
  &.light {
    color: #ACACAC;
    border: 1px solid #ACACAC;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
}
.assignUserModal {
  .modal-body {
    width: 100%;
    padding: 0 45px 24px;
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        .modal-title {
          color: #331e1e;
          font-size: 24px;
          display: flex;
          align-items: center;
          >span {
            white-space: nowrap;
          }
        }
        .modal-input {
            color: #331e1e;
            font-size: 16px;
            border-radius: 8px;
            padding: 4px 8px;
            border: 1px solid #D8D8D8;
            &.lg {
              font-size: 24px;
            }
        }
        .form-box {
          margin-top: 20px;
          .item {
            margin-bottom: 24px;
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: center;
      }
    }
  }
}
</style>
