<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 退貨作業總覽 -->
    <span v-show="step===0">
      <h2
        class="title"
        :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}"
      >
        <span>退貨作業總覽</span>
        <div class="btn-box r">
          <Button class="icon-btn-md mr-3" @click="toReturnOperationSimpleAdd">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md mr-3" @click="comfirmRemove">
            <font-awesome-icon icon="minus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reloadDataGrid">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <div class="btn-box l">
          <Button
            class="layoutBtn"
            type="default"
            shape="circle"
            @click="getIds('inboundCancel')"
          >取消退貨</Button>
          <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="showImportModal"
          >退貨單資料匯入</Button>
          <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="showProductsnImportModal"
          >商品序號資料匯入</Button>
          <!-- <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button> -->
        </div>
      </h2>
      <div class="body-box">
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'putInAcceptance'}"
            type="default"
            shape="circle"
            @click="showPutInAcceptanceDataList()"
          >待驗收</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'putInQuality'}"
            type="default"
            shape="circle"
            @click="showPutInQualityDataList()"
          >待品檢</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'putInShelves'}"
            type="default"
            shape="circle"
            @click="showPutInShelvesDataList()"
          >待上架</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'putInShelvesClose'}"
            type="default"
            shape="circle"
            @click="showPutInShelvesCloseDataList()"
          >已上架</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'putInOperation'}"
            type="default"
            shape="circle"
            @click="showAllPutInDataList()"
          >ALL</Button>
          <!-- <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'close'}"
            type="default"
            shape="circle"
            @click="showCloseDataList()"
          >上架確認</Button> -->
        <DataGrid
          idKeyName="inbound_id"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- print btn -->
        <div class="printBtn" @click="getIds('print')">
          <font-awesome-icon icon="print" size="2x" />
        </div>
        <!-- dataexport btn -->
        <div class="dataexportBtn" @click="dataexport">
          <font-awesome-icon icon="file-download" size="2x" />
        </div>
      </div>
    </span>
    <!-- 退貨單建檔 -->
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title">
        <span v-if="step===1">退貨單建檔</span>
        <span v-if="step===2 && inboundStatus===10">驗收作業</span>
        <span v-if="step===2 && inboundStatus===15">退貨取消</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18"/>
          </Button>
          <Button class="icon-btn-md mr-3" @click="add" v-if="step===2">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md mr-3" @click="comfirmRemove" v-if="step===2">
            <font-awesome-icon icon="minus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
          <div class="reloadBtn" v-if="editLayoutToggle" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </div>
        </div>
        <div class="btn-box l">
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToAcceptance" v-if="step===2 && inboundStatus===10">確認驗收</Button>
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToShelvesClose" v-if="step===2 && inboundStatus===10">確認上架結束</Button>
          <!-- <Button
            v-if="!editLayoutToggle"
            class="editLayoutBtn"
            type="default"
            shape="circle"
            @click="editLayout"
          >Edit</Button>
          <Button
            v-if="editLayoutToggle"
            class="saveLayoutBtn"
            shape="circle"
            @click="saveLayout"
          >Save</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <ReturnOperationSimpleAdd
          ref="changeInboundStatus"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :userId="userId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          :editLayoutToggle="editLayoutToggle"
          :accordionToggle="accordionToggle"
          :layoutMainInbound="layoutMainInbound"
          :layout_1="layout_1"
          v-on:toStepEvent="toStepEvent"
          v-on:accordionToggleChangeEvent="accordionToggleChangeEvent"
          v-on:layout1ChangeEvent="layout1ChangeEvent"
          v-on:backEvent="setStep"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></ReturnOperationSimpleAdd>
      </div>
    </span>
    <!-- 品檢作業 -->
    <span v-if="step===4">
      <h2 class="title">
        <span>品檢作業</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18"/>
          </Button>
          <Button class="icon-btn-md mr-3" @click="add">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
          <div class="reloadBtn" v-if="editLayoutToggle" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </div>
        </div>
        <div class="btn-box l">
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="backToOperation">退回</Button>
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToQuality">確認品檢</Button>
          <!-- save layout -->
          <!-- <Button
            v-if="!editLayoutToggle"
            class="editLayoutBtn"
            type="default"
            shape="circle"
            @click="editLayout"
          >Edit</Button>
          <Button
            v-if="editLayoutToggle"
            class="saveLayoutBtn"
            shape="circle"
            @click="saveLayout"
          >Save</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <ReturnAcceptanceAdd
          ref="changeInboundStatus"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :userId="userId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          :editLayoutToggle="editLayoutToggle"
          :accordionToggle="accordionToggle"
          :layoutMainInbound="layoutMainInbound"
          :layout_1="layout_1"
          v-on:toStepEvent="toStepEvent"
          v-on:accordionToggleChangeEvent="accordionToggleChangeEvent"
          v-on:layout1ChangeEvent="layout1ChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></ReturnAcceptanceAdd>
      </div>
    </span>
    <!-- 上架作業 -->
    <span v-if="step===5">
      <h2 class="title">
        <span>上架作業</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18"/>
          </Button>
          <Button class="icon-btn-md mr-3" @click="add">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
          <div class="reloadBtn" v-if="editLayoutToggle" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </div>
        </div>
        <div class="btn-box l">
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToAcceptance">退回</Button>
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToShelves">確認上架</Button>
          <!-- save layout -->
          <!-- <Button
            v-if="!editLayoutToggle"
            class="editLayoutBtn"
            type="default"
            shape="circle"
            @click="editLayout"
          >Edit</Button>
          <Button
            v-if="editLayoutToggle"
            class="saveLayoutBtn"
            shape="circle"
            @click="saveLayout"
          >Save</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <ReturnShelvesAdd
          ref="changeInboundStatus"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :userId="userId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          :editLayoutToggle="editLayoutToggle"
          :accordionToggle="accordionToggle"
          :layoutMainInbound="layoutMainInbound"
          :layout_1="layout_1"
          v-on:toStepEvent="toStepEvent"
          v-on:accordionToggleChangeEvent="accordionToggleChangeEvent"
          v-on:layout1ChangeEvent="layout1ChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></ReturnShelvesAdd>
      </div>
    </span>
    <!-- 確認上架作業 -->
    <span v-if="step===6">
      <h2 class="title">
        <span>確認上架作業</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18"/>
          </Button>
          <Button class="icon-btn-md mr-3" @click="add">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
          <div class="reloadBtn" v-if="editLayoutToggle" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </div>
        </div>
        <div class="btn-box l">
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToQuality">退回</Button>
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToShelvesClose">確認上架結束</Button>
          <!-- save layout -->
          <!-- <Button
            v-if="!editLayoutToggle"
            class="editLayoutBtn"
            type="default"
            shape="circle"
            @click="editLayout"
          >Edit</Button>
          <Button
            v-if="editLayoutToggle"
            class="saveLayoutBtn"
            shape="circle"
            @click="saveLayout"
          >Save</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <ReturnShelvesAdd
          ref="changeInboundStatus"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :userId="userId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          :editLayoutToggle="editLayoutToggle"
          :accordionToggle="accordionToggle"
          :layoutMainInbound="layoutMainInbound"
          :layout_1="layout_1"
          v-on:toStepEvent="toStepEvent"
          v-on:accordionToggleChangeEvent="accordionToggleChangeEvent"
          v-on:layout1ChangeEvent="layout1ChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></ReturnShelvesAdd>
      </div>
    </span>
    <!-- 上架作業結束 -->
    <span v-if="step===7">
      <h2 class="title">
        <span>上架作業結束</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18"/>
          </Button>
          <Button class="icon-btn-md mr-3" @click="add">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
          <div class="reloadBtn" v-if="editLayoutToggle" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </div>
        </div>
        <div class="btn-box l">
          <!-- save layout -->
          <!-- <Button
            v-if="!editLayoutToggle"
            class="editLayoutBtn"
            type="default"
            shape="circle"
            @click="editLayout"
          >Edit</Button>
          <Button
            v-if="editLayoutToggle"
            class="saveLayoutBtn"
            shape="circle"
            @click="saveLayout"
          >Save</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <ReturnShelvesCloseAdd
          ref="changeInboundStatus"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :userId="userId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          :editLayoutToggle="editLayoutToggle"
          :accordionToggle="accordionToggle"
          :layoutMainInbound="layoutMainInbound"
          :layout_1="layout_1"
          v-on:toStepEvent="toStepEvent"
          v-on:accordionToggleChangeEvent="accordionToggleChangeEvent"
          v-on:layout1ChangeEvent="layout1ChangeEvent"
          v-on:backEvent="setStep"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></ReturnShelvesCloseAdd>
      </div>
    </span>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
     <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
    <!-- import modal -->
    <ImportModal
      :importModal="importModalToggle"
      :importModalTitle="importModalTitle"
      :importExampleFile="importExampleFile"
      :importUploadURL="importUploadURL"
      :importLoadingViewIsShow="importLoadingViewIsShow"
      :autoAddProduct="true"
      v-on:importEvent="importEvent"
      v-on:importErrorEvent="errorRequest"
      v-on:beforeUploadEvent="beforeUploadEvent"
      v-on:setImportModalEvent="setImportModalEvent"
    ></ImportModal>
    <!-- productsn import modal -->
    <ImportModal
      :importModal="productsnImportModalToggle"
      :importModalTitle="productsnImportModalTitle"
      :importExampleFile="productsnImportExampleFile"
      :importUploadURL="productsnImportUploadURL"
      :importLoadingViewIsShow="productsnImportLoadingViewIsShow"
      v-on:importEvent="productsnImportEvent"
      v-on:importErrorEvent="productsnErrorRequest"
      v-on:beforeUploadEvent="productsnBeforeUploadEvent"
      v-on:setImportModalEvent="productsnSetImportModalEvent"
    ></ImportModal>
    <!-- CommonPickinglist modal -->
    <!-- <PutinPickinglistModal
      :pickinglistModal="pickinglistModalToggle"
      :pickinglistLoadingViewIsShow="pickinglistLoadingViewIsShow"
      v-on:printEvent="printEvent"
      v-on:setPickinglistModalEvent="setPickinglistModalEvent"
    ></PutinPickinglistModal> -->
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import ReturnOperationSimpleAdd from './components/ReturnOperationSimpleAdd'
import ReturnAcceptanceAdd from './components/ReturnAcceptanceAdd'
import ReturnShelvesAdd from './components/ReturnShelvesAdd'
import ReturnShelvesCloseAdd from './components/ReturnShelvesCloseAdd'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
import ImportModal from '@/components/ImportModal/ImportModal'
// import PutinPickinglistModal from '@/components/PutinPickinglistModal/PutinPickinglistModal'
//
export default {
  name: 'ReturnOperationSimple',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    ReturnOperationSimpleAdd,
    ReturnAcceptanceAdd,
    ReturnShelvesAdd,
    ReturnShelvesCloseAdd,
    ComfirmRemoveModal,
    ColumnControlModal,
    DataexportModal,
    ImportModal
    // PutinPickinglistModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'inbound_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'inbound_expect') {
        filterType = 'DaterangeNoHms'
        valueType = 'Date'
      }
      if (element.property === 'date_quantity_check') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_inbound') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_cancel') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_quality_check') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_put_away') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_put_away_confirm_display') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    //
    // let layoutMainInboundStr = this.$store.state.auth.userInfo.layoutMainInbound
    // let layoutMainInbound = layoutMainInboundStr ? JSON.parse(layoutMainInboundStr) : [null]
    let layoutMainInbound = [null]
    // console.log(layoutMainInbound)
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '退貨作業總覽',
      // importModal
      importModalToggle: false,
      importModalTitle: '退貨單',
      importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.returnOperationSimple.upload}`,
      importExampleFile: 'inbound_format.xlsx',
      importLoadingViewIsShow: false,
      // productsnImportModal
      productsnImportModalToggle: false,
      productsnImportModalTitle: '商品序號',
      productsnImportUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.returnOperationSimple.upload}`,
      productsnImportExampleFile: 'inbound_product_sn.xlsx',
      productsnImportLoadingViewIsShow: false,
      // pickinglist modal
      pickinglistModalToggle: false,
      pickinglistLoadingViewIsShow: false,
      //
      timeZoneTimestamp: null,
      timeZone: null,
      //
      step: 0, // 0: 退貨入庫通知總覽 / 1:退貨入庫單建檔 / 2:退貨入庫單 detail / 3:clone
      // 退貨入庫通知總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      cloneData: null,
      isQuery: false,
      inboundStatusFilterData: [],
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      toRestFilter: false,
      inboundStatus: null,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      userId: this.$store.state.auth.userInfo.userId,
      uiId: this.$store.state.auth.userInfo.uiId,
      // 退貨入庫單建檔
      detailId: null,
      editLayoutToggle: false,
      accordionToggle: true,
      layout_1: null,
      layoutMainInbound: layoutMainInbound,
      // 切換總覽
      changeDataList: 'putInAcceptance',
      // 切換內頁tab
      showInpageTab: 'main'
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    returnOperationSimpleList: function () {
      var list = []
      list = this.$store.state[`returnOperationSimple`][`returnOperationSimpleList`]
      // console.log(list)
      return list || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    returnOperationSimpleList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            if (item.date_inbound) {
              item.date_inbound = this.changeToLocalTime(item.date_inbound)
            }
            if (item.date_quality_check) {
              item.date_quality_check = this.changeToLocalTime(item.date_quality_check)
            }
            if (item.date_quantity_check) {
              item.date_quantity_check = this.changeToLocalTime(item.date_quantity_check)
            }
            if (item.date_cancel) {
              item.date_cancel = this.changeToLocalTime(item.date_cancel)
            }
            if (item.date_put_away) {
              item.date_put_away = this.changeToLocalTime(item.date_put_away)
            }
            if (item.date_put_away_confirm_display) {
              item.date_put_away_confirm_display = this.changeToLocalTime(item.date_put_away_confirm_display)
            }
            if (item.created_at) {
              item.created_at = this.changeToLocalTime(item.created_at)
            }
            if (item.update_at) {
              item.update_at = this.changeToLocalTime(item.update_at)
            }
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      // console.log(oldVal)
      if (oldVal === 0) {
        this.showInpageTab = 'main'
      } else {
        this.showInpageTab = 'details'
      }
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 4 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 5 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 6 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 7 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    inboundStatus: {
      handler: function (val) {
        //
      },
      deep: true
    },
    inboundStatusFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'inbound_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    changeDataList: {
      handler: function (val) {
        if (val) {
          this.resetFilter()
        }
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      // console.log(data.inboundStatus)
      Object.keys(data).forEach((item, index) => {
        if (data[item].value && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            // console.log(data.inbound_status)
            if (item === 'inbound_status' && data[item].value.length > 0) {
              return
            }
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      if (this.detailId) {
        this.remove()
      }
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        // case 'clone':
        //   this.step = 1
        //   this.cloneData = data.list[0]
        //   break
        case 'remove':
          this.remove()
          break
        case 'print':
          this.setPrintTrigger()
          break
        case 'inboundCancel':
          this.inboundCancel()
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 退貨入庫單 detail
      this.LoadingViewIsShow = true
      this.detailId = data.inbound_id
      this.inboundStatus = data.inbound_status
      switch (data.inbound_status) {
        case 10:
          this.step = 2
          break
        case 15:
          this.step = 2
          break
        case 20:
          this.step = 4
          break
        case 30:
          this.step = 5
          break
        case 40:
          this.step = 6
          break
        case 50:
          this.step = 7
          break
      }
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    // 前往退貨入庫單總覽
    toReturnOperationSimple: function () {
      this.step = 0
    },
    back: function () {
      //
      this.detailId = null
      this.inboundStatus = null
      this.toReturnOperationSimple()
    },
    // 前往退貨入庫單建檔
    toReturnOperationSimpleAdd: function () {
      this.step = 1
    },
    toStepEvent: function (step, id, inboundStatus) {
      // console.log(step, id, inboundStatus)
      this.detailId = id
      this.step = step
      this.inboundStatus = inboundStatus
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      // console.log('Ok')
      this.getIds('remove')
    },
    // remove
    remove: function () {
      // console.log('remove', this.idsData)
      // 內頁單筆刪除
      if (!this.idsData) {
        if (this.detailId) {
          this.$store.dispatch('returnOperationSimple/delete', this.detailId).then((r) => {
            // console.log(r)
            if (r.httpStatus === 200) {
              // 警告提示
              this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
              this.$Notice.success({
                title: '刪除成功'
              })
              setTimeout(() => {
                this.step = 0
              }, 500)
            } else {
              this.$Notice.error({
                title: '刪除失敗'
              })
            }
          })
          return
        }
      }
      // console.log('remove')
      // 總覽多筆刪除
      let idsLength = this.idsData.list.length
      let isError = false
      for (let i = 0; i < idsLength; i++) {
        if (this.idsData.list[i].inbound_status >= 30) {
          isError = true
          this.$Notice.warning({
            title: `第${this.idsData.list[i].INDEX}筆資料`,
            desc: '不可刪除，請取消選取',
            duration: 30
          })
        }
      }
      if (isError) {
        return
      }
      //
      let selectIds = this.idsData.selectIds
      selectIds.forEach((id, index) => {
        this.$store.dispatch('returnOperationSimple/delete', id).then((r) => {
          // console.log(r)
          if (r.httpStatus === 200) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
          } else {
            this.$Notice.error({
              title: '刪除失敗'
            })
          }
          //
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
        })
      })
      this.idsData = null
    },
    add: function () {
      //
      this.detailId = null
      this.toReturnOperationSimpleAdd()
    },
    // 前往退貨入庫單建檔 : clone
    toReturnOperationSimpleClone: function () {
      this.getIds()
      this.optType = 'clone'
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    // 編輯 layout
    editLayout: function () {
      this.editLayoutToggle = true
    },
    // 儲存 layout
    saveLayout: function () {
      //
    },
    //
    layout1ChangeEvent: function (layout) {
      // console.log(layout)
      this.layout_1 = layout
    },
    //
    accordionToggleChangeEvent: function (bol) {
      this.accordionToggle = bol
    },
    accordionToggleToOpen: function () {
      this.accordionToggle = true
    },
    //
    setStep: function (step) {
      this.step = step
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    reload: function (inboundId) {
      this.LoadingViewIsShow = true
      this.getDetail(inboundId)
      // this.getDetailDetails(inboundId)
    },
    getDetail: function (inboundId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'inbound_id',
            queryValue: inboundId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`returnOperationSimple/queryDetail`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        this.LoadingViewIsShow = false
      })
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      var filter = [
        {
          queryCondition: '=',
          queryValue: 56,
          queryField: 'inbound_type'
        }
      ]
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      var postData = {
        page: pageNumber,
        pageSize: pageSize,
        combinedCondition: 'AND',
        query: filter,
        sort: sort
      }
      switch (this.changeDataList) {
        case 'putInOperation':
          postData.query = [...filter]
          break
        case 'putInAcceptance':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 10,
              queryField: 'inbound_status'
            }
          ]
          break
        case 'putInQuality':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 20,
              queryField: 'inbound_status'
            }
          ]
          break
        case 'putInShelves':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 30,
              queryField: 'inbound_status'
            }
          ]
          break
        case 'putInShelvesClose':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 40,
              queryField: 'inbound_status'
            }
          ]
          break
        case 'close':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 50,
              queryField: 'inbound_status'
            }
          ]
          break
      }
      //
      this.$store.dispatch(`returnOperationSimple/query`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.dataList = r.respondCode.additionals['inbound']
        }
        this.isQuery = false
      })
    },
    showAllPutInDataList: function () {
      this.changeDataList = 'putInOperation'
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    showPutInAcceptanceDataList: function () {
      this.changeDataList = 'putInAcceptance'
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    showPutInQualityDataList: function () {
      this.changeDataList = 'putInQuality'
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    showPutInShelvesDataList: function () {
      this.changeDataList = 'putInShelves'
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    showPutInShelvesCloseDataList: function () {
      this.changeDataList = 'putInShelvesClose'
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // showCloseDataList: function () {
    //   this.changeDataList = 'close'
    //   this.getDataList(this.settingData.page.pageSize, 1)
    // },
    // 取消入庫
    inboundCancel: async function () {
      // console.log('inboundCancel', this.idsData)
      if (this.idsData.list.length === 0) {
        this.$Notice.warning({
          title: '請勾選要取消的資料'
        })
        return
      }
      var ids = []
      var isError = false
      this.idsData.list.forEach((item) => {
        if (item.inbound_status !== 10 && item.inbound_status !== 20) {
          this.$Notice.warning({
            title: `第${item.INDEX}筆資料`,
            desc: '不可取消，請取消選取',
            duration: 30
          })
          isError = true
        } else {
          // console.log(item.inbound_id)
          ids.push(item)
        }
      })
      if (isError) {
        return
      }
      // console.log(ids)
      var idsLength = ids.length
      try {
        this.isQuery = true
        for (let i = 0; i < idsLength; i++) {
          let postData = {
            inbound_status: 15,
            inbound_cancel_type: 59
          }
          let Res = await this.$store.dispatch('returnOperationSimple/update', { postData: postData, detailId: ids[i].inbound_id })
          // console.log(Res)
          let rex = /^[2]/g
          if (!rex.test(Res.httpStatus)) {
            // 提示
            this.$Notice.warning({
              title: `第${ids[i].INDEX}筆，取消失敗`
            })
          }
        }
        this.$Notice.success({
          title: '取消成功'
        })
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      } catch (error) {
        // console.log(error)
        this.$Notice.warning({
          title: '取消失敗'
        })
      }
    },
    // 退回到退貨入庫通知
    backToOperation: function () {
      this.$refs.changeInboundStatus.changeInboundStatus(10)
    },
    // 驗收確認
    goToAcceptance: function () {
      this.$refs.changeInboundStatus.changeInboundStatus(20)
    },
    // 品檢確認
    goToQuality: function () {
      this.$refs.changeInboundStatus.changeInboundStatus(30)
    },
    // 退貨上架確認
    goToShelves: function () {
      this.$refs.changeInboundStatus.changeInboundStatus(40)
    },
    goToShelvesClose: function () {
      this.$refs.changeInboundStatus.changeInboundStatus(50)
    },
    // 入庫單狀態 inbound_status
    getInboundStatusFilterData: function () {
      this.inboundStatusFilterData = [
        {
          value: 10,
          label: '退貨待驗收'
        },
        {
          value: 15,
          label: '退貨取消入庫'
        },
        {
          value: 20,
          label: '退貨待品檢'
        },
        {
          value: 30,
          label: '退貨待上架'
        },
        {
          value: 40,
          label: '退貨已上架'
        },
        {
          value: 50,
          label: '上架確認'
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZone = timeZone
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    // ImportModal Start
    showImportModal: function () {
      this.importModalToggle = true
    },
    setImportModalEvent: function (bol) {
      // console.log(bol)
      this.importModalToggle = bol
    },
    beforeUploadEvent: function () {
      this.importLoadingViewIsShow = true
    },
    errorRequest: function (txt) {
      // console.log(txt)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗',
        desc: txt,
        duration: 30
      })
      this.importLoadingViewIsShow = false
    },
    importEvent: async function (data) {
      // console.log(data)
      let csvSeperator = ''
      // console.log(this.postData.csvSeperator)
      switch (data.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      try {
        let postData = {
          companyId: this.companyId,
          whId: this.whId,
          csvSeperator: csvSeperator,
          fileContentType: data.fileContentType,
          fileName: data.fileName,
          fileStoragePath: data.fileStoragePath,
          fileType: data.fileType,
          data_error_warning: 1,
          error_stop_import: 1,
          autoAddProduct: data.autoAddProduct,
          user_id: this.userId
        }
        var Res = await this.$store.dispatch('importReturn/import', postData)
        if (Res.httpStatus === 201 || Res.httpStatus === 200) {
          let failResult = Res.respondCode.additionals.dataImportResponse.fail_result || []
          if (failResult.length > 0) {
            failResult.forEach((item) => {
              this.$Notice.error({
                title: '檔案上傳失敗',
                desc: `${item.reason}`,
                duration: 30
              })
            })
            this.importLoadingViewIsShow = false
            return
          }
          this.$Notice.success({
            title: '檔案上傳成功'
          })
          this.importLoadingViewIsShow = false
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
        } else {
          this.$Notice.error({
            title: '檔案上傳失敗',
            desc: `${Res.data.respondCode.debugInfo}`,
            duration: 30
          })
          this.importLoadingViewIsShow = false
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.success({
          title: '檔案匯入完畢'
        })
        this.importLoadingViewIsShow = false
        // console.log(err)
      }
      this.importLoadingViewIsShow = false
      // let postData = {
      //   companyId: this.companyId,
      //   whId: this.whId,
      //   csvSeperator: csvSeperator,
      //   fileContentType: data.fileContentType,
      //   fileName: data.fileName,
      //   fileStoragePath: data.fileStoragePath,
      //   fileType: data.fileType,
      //   data_error_warning: 1,
      //   error_stop_import: 1
      // }
      // this.$store.dispatch('importReturn/import', postData).then((r) => {
      //   // console.log(r)
      //   let rex = /^[2]/g
      //   if (rex.test(r.httpStatus)) {
      //     let failResult = r.respondCode.additionals.dataImportResponse.fail_result || []
      //     if (failResult.length > 0) {
      //       failResult.forEach((item) => {
      //         this.$Notice.error({
      //           title: '檔案上傳失敗',
      //           desc: `${item.reason}`,
      //           duration: 30
      //         })
      //       })
      //       return
      //     }
      //     this.$Notice.success({
      //       title: '檔案上傳成功'
      //     })
      //     this.importLoadingViewIsShow = false
      //     this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      //   } else {
      //     this.$Notice.error({
      //       title: '檔案上傳失敗',
      //       desc: `${r.data.respondCode.debugInfo}`,
      //       duration: 30
      //     })
      //   }
      //   this.importLoadingViewIsShow = false
      // })
    },
    // ImportModal END
    // productsn ImportModal Start
    showProductsnImportModal: function () {
      this.productsnImportModalToggle = true
    },
    productsnSetImportModalEvent: function (bol) {
      // console.log(bol)
      this.productsnImportModalToggle = bol
    },
    productsnBeforeUploadEvent: function () {
      this.productsnImportLoadingViewIsShow = true
    },
    productsnErrorRequest: function (txt) {
      // console.log(txt)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗',
        desc: txt,
        duration: 30
      })
      this.productsnImportLoadingViewIsShow = false
    },
    productsnImportEvent: function (data) {
      // console.log(data)
      let csvSeperator = ''
      // console.log(this.postData.csvSeperator)
      switch (data.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      let postData = {
        companyId: this.companyId,
        whId: this.whId,
        csvSeperator: csvSeperator,
        fileContentType: data.fileContentType,
        fileName: data.fileName,
        fileStoragePath: data.fileStoragePath,
        fileType: data.fileType
      }
      this.$store.dispatch('returnOperationSimple/productsnImport', postData).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          let failResult = r.respondCode.additionals.dataImportResponse.fail_result || []
          if (failResult.length > 0) {
            failResult.forEach((item) => {
              this.$Notice.error({
                title: '檔案上傳失敗',
                desc: `${item.reason}`,
                duration: 30
              })
            })
            this.productsnImportLoadingViewIsShow = false
            return
          }
          this.$Notice.success({
            title: '檔案上傳成功'
          })
          this.productsnImportLoadingViewIsShow = false
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
        } else {
          this.$Notice.error({
            title: '檔案上傳失敗',
            desc: `${r.data.respondCode.debugInfo}`,
            duration: 30
          })
          this.productsnImportLoadingViewIsShow = false
        }
      })
    },
    // productsn ImportModal END
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        queryExpression: {},
        exportFields: [],
        exportSettings: {}
        // timezone_offset: null
      }
      let exportFields = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          if (element.property === 'isEnabled') {
            exportFields.push({
              fieldName: 'is_enabled',
              displayName: element.displayName
            })
            return
          }
          if (element.property === 'inboundStatus') {
            exportFields.push({
              fieldName: 'inbound_status',
              displayName: element.displayName
            })
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      //
      postData.queryExpression.page = data.postData.page
      postData.queryExpression.pageSize = this.settingData.page.totalCount
      postData.queryExpression.combinedCondition = 'AND'
      postData.queryExpression.query = [
        {
          queryCondition: '=',
          queryValue: 56,
          queryField: 'inbound_type'
        },
        ...this.filterAry
      ]
      postData.queryExpression.sort = this.sortAry
      postData.exportFields = exportFields
      postData.exportSettings.exportFileName = data.postData.exportFileName
      postData.exportSettings.exportFormat = data.postData.exportFormat
      //
      switch (this.changeDataList) {
        case 'putInAcceptance':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 10,
              queryField: 'inbound_status'
            }
          )
          break
        case 'putInQuality':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 20,
              queryField: 'inbound_status'
            }
          )
          break
        case 'putInShelves':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 30,
              queryField: 'inbound_status'
            }
          )
          break
        case 'putInShelvesClose':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 40,
              queryField: 'inbound_status'
            }
          )
          break
        case 'close':
          postData.queryExpression.query.push(
            {
              queryCondition: '=',
              queryValue: 50,
              queryField: 'inbound_status'
            }
          )
          break
      }
      //
      let csvSeperator = ''
      switch (data.postData.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      postData.exportSettings.csvSeperator = csvSeperator
      //
      if (this.timeZone < 0) {
        postData.timezone_offset = `${this.timeZone}`
      } else {
        postData.timezone_offset = `+${this.timeZone}`
      }
      // console.log(postData)
      //
      this.$store.dispatch(`returnOperationSimple/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // console.log('下載檔案')
          window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.dataExport.download_link}`)
        }
        this.LoadingViewIsShow = false
      })
    },
    setPrintTrigger: function () {
      if (this.idsData.list.length < 1) {
        this.$Notice.warning({
          title: `請勾選要列印的項目`
        })
        return
      }
      // this.pickinglistModalToggle = true
      this.print()
    },
    // printEvent: function (data) {
    //   // console.log(data)
    //   this.print(data.type, data.postData)
    // },
    setPickinglistModalEvent: function (bol) {
      // console.log(bol)
      this.pickinglistModalToggle = bol
    },
    print: function () {
      // console.log(this.idsData)
      let timeZone = -(new Date().getTimezoneOffset() / 60) // 使用者所在時區
      // console.log(timeZone)
      // var printType = parseInt(type)
      var ids = []
      this.idsData.list.forEach((item) => {
        ids.push(item.inbound_id)
      })
      this.LoadingViewIsShow = true
      // console.log(ids)
      var postData = {
        timezone_offset: timeZone,
        output_format: 'pdf',
        output_lang: 'zh-tw',
        report_type: 'Inspection_receipt_for_return_singtai',
        inbound_ids: ids
      }
      //
      this.$store.dispatch('quantityinspection/quantityinspection', { postData: postData, userId: this.userId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // 取下載link, 另開視窗
          let Result = r.respondCode.additionals[`inspection_list`] || []
          let downloadLinkList = { pdf_files_to_be_merge: [] }
          //
          Result.forEach((ele, idx) => {
            downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
          })
          this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList).then((r) => {
            // console.log(r)
            window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.download_link}`)
          })
        } else if (r.httpStatus !== 401) {
          this.$Notice.warning({
            title: '處理完畢',
            desc: r.respondCode.debugInfo,
            duration: 30
          })
        }
        this.LoadingViewIsShow = false
      })
      // 表頭要不要不重複用
      // switch (printType) {
      //   case 0:
      //     this.pickinglistLoadingViewIsShow = true
      //     //  表頭不重複
      //     // console.log('表頭不重複')
      //     postData.report_type = 'Inspection_receipt_for_acceptance'
      //     postData.order_by = data.order_by
      //     //
      //     this.$store.dispatch('quantityinspection/quantityinspection', { postData: postData, userId: this.userId }).then((r) => {
      //       // console.log(r)
      //       // 取下載link, 另開視窗
      //       let Result = r.respondCode.additionals[`inspection_list`] || []
      //       let downloadLinkList = { pdf_files_to_be_merge: [] }
      //       //
      //       Result.forEach((ele, idx) => {
      //         downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
      //       })
      //       this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList).then((r) => {
      //         // console.log(r)
      //         window.open(`${Config.API.baseURL}${r.respondCode.additionals.download_link}`)
      //       })
      //       this.pickinglistLoadingViewIsShow = false
      //     })
      //     break
      //   case 1:
      //     this.pickinglistLoadingViewIsShow = true
      //     // 每頁重複印表頭
      //     // console.log('每頁重複印表頭')
      //     postData.report_type = 'Inspection_receipt_for_acceptance_headerrepeated'
      //     postData.order_by = data.order_by
      //     //
      //     this.$store.dispatch('quantityinspection/quantityinspection', { postData: postData, userId: this.userId }).then((r) => {
      //       // console.log(r)
      //       // 取下載link, 另開視窗
      //       let Result = r.respondCode.additionals[`inspection_list`] || []
      //       let downloadLinkList = { pdf_files_to_be_merge: [] }
      //       //
      //       Result.forEach((ele, idx) => {
      //         // console.log(ele)
      //         downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
      //       })
      //       this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList).then((r) => {
      //         // console.log(r)
      //         window.open(`${Config.API.baseURL}${r.respondCode.additionals.download_link}`)
      //       })
      //       this.pickinglistLoadingViewIsShow = false
      //     })
      //     break
      // }
    }
  },
  created () {
    //
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getInboundStatusFilterData()
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`returnOperationSimple/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  // position: relative;
  width: 100%;
  height: 100%;
  > span {
    display: block;
    height: calc(100% - 4px);
    padding: 25px 30px 0 30px;
    overflow: auto;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
    }
    .btn-box.l {
      width: auto;
      .editLayoutBtn {
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      .saveLayoutBtn {
        width: 96px;
        border-radius: 20px;
        background-color: #56504f;
        color: #ffffff;
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      .accordionBtn {
        width: 150px;
        border-radius: 20px;
        background-color: #354361;
        color: #ffffff;
        margin-right: 13px;
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 1px;
        &.isShow {
          background-color: #fbfaf9;
          color: #000000;
        }
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 42px - 51px);
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .printBtn {
      position: absolute;
      right: 45px;
      bottom: 106px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      background-color: #8e96a6;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > span {
    font-size: 12.5px;
  }
  &.solid{
    background-color: #515a6e;
    >span{
      color: #ffffff;
    }
  }
  &.yellow{
    background-color: #dca558;
    border: 2px solid #dca558;
    >span{
      color: #ffffff;
    }
  }
}
.layoutBtn{
  min-width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  &.save{
    background-color: #56504f;
    color: #ffffff;
  }
}
.dataGridTab{
  border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  margin-bottom: -11px;
  color: #555555;
  &.isFocus{
    color: #ffffff;
    background-color: #354361;
  }
}
</style>
