<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 調整入作業總覽 -->
    <span v-show="step===0">
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div>
          <span class="title-text">調整入作業總覽</span>
          <div class="operating-box">
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="toAdjustmentInboundSetupAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="刪除">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              @click="comfirmRemove">
                <font-awesome-icon icon="file-excel" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r">
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'unConfirm' ? 'isFocus' : '',
              status_10>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('unConfirm')"
          >待確認
          <span class="totalCount">{{status_10}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'confirm' ? 'isFocus' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('confirm')"
          >已完成
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'ALL' ? 'isFocus' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('ALL')"
          >ALL</Button>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="dataexport"
          >匯出</Button>
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="changeAdjustmentInboundStasusEvent('confirm')"
          >確認調整入</Button>
          <Button
            class="solid-text-btn"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="inbound_id"
          :bgType="userInfo.themeColor"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
    </span>
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
          <span class="title-text">調整入作業建檔</span>
          <div class="btn-box">
            <Poptip trigger="hover" title="回上一頁">
              <Button class="icon-btn-md ml-2"
              @click="back"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
              }">
                <Icon type="ios-undo" size="18"/>
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-show="step!==1"
              @click="toAdjustmentInboundSetupAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reload(detailId)">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
          <div class="btn-box r">
            <AdjustmentInboundStep
              v-show="step>1"
              :step="step"
              :data="detailData"
              @setAdjustmentInboundStasus="changeAdjustmentInboundStasusEvent"
              ></AdjustmentInboundStep>
          </div>
          <div class="btn-box l">
            <Button
              class="solid-text-btn mr-3"
              :class="userInfo.themeColor"
              type="default"
              shape="circle"
              @click="saveEvent"
            >儲存</Button>
          </div>
        </h2>
        <div class="body-box">
          <AdjustmentInboundSetupAdd
            ref="setAdjustmentInbound"
            :step="step"
            :detailId="detailId"
            v-on:toStepEvent="toStepEvent"
            v-on:adjustmenInboundDetailChangeEvent="adjustmenInboundDetailChangeEvent"
            v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
          ></AdjustmentInboundSetupAdd>
        </div>
    </span>
    <span v-if="step===4">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
          <span class="title-text">調整入完成</span>
          <div class="btn-box">
            <Poptip trigger="hover" title="回上一頁">
              <Button class="icon-btn-md ml-2"
              @click="back"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
              }">
                <Icon type="ios-undo" size="18"/>
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="toAdjustmentInboundSetupAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reload(detailId)">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
          <div class="btn-box r">
            <AdjustmentInboundStep
              :step="step"
              :data="detailData"
              @setAdjustmentInboundStasus="changeAdjustmentInboundStasusEvent"
              ></AdjustmentInboundStep>
          </div>
          <div class="btn-box l">
          </div>
        </h2>
        <div class="body-box">
          <AdjustmentInboundSetupCloseAdd
            ref="setAdjustmentInbound"
            :step="step"
            :detailId="detailId"
            v-on:toStepEvent="toStepEvent"
            v-on:adjustmenInboundDetailChangeEvent="adjustmenInboundDetailChangeEvent"
            v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
          ></AdjustmentInboundSetupCloseAdd>
        </div>
    </span>
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import AdjustmentInboundSetupAdd from './components/AdjustmentInboundSetupAdd'
import AdjustmentInboundSetupCloseAdd from './components/AdjustmentInboundSetupCloseAdd'
import AdjustmentInboundStep from '@/components/AdjustmentInboundStep/AdjustmentInboundStep'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
export default {
  name: 'AdjustmentInboundSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    AdjustmentInboundSetupAdd,
    AdjustmentInboundSetupCloseAdd,
    AdjustmentInboundStep,
    ComfirmRemoveModal,
    ColumnControlModal,
    DataexportModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    } // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'inbound_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'isEnabled') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    // console.log(settingData)
    //
    return {
      Config: Config,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      step: 0, // 0:總覽 / 1:建檔 / 2:detail / 3:clone
      optType: null,
      // 調整入作業
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      toRestFilter: false,
      saveLayoutColumns: [],
      inboundStatusFilterData: [], // 入庫狀態
      // 調整入建檔
      detailId: null,
      detailData: null,
      // 欄位自訂
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '調整入作業總覽',
      // 切換總覽
      changeDataList: 'unConfirm',
      //
      status_10: 0,
      status_50: 0,
      //
      timeZoneTimestamp: null,
      saveDisabled: false // 避免使用者點兩次，造成異動兩次
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    adjustmentList: function () {
      return this.$store.state[`inboundAdjustment`][`inboundAdjustmentList`] || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    saveLayoutColumns: {
      handler: function (val) {
        // console.log(val)
        if (val.length > 0) {
          this.settingData.columns = val
        }
      },
      deep: true
    },
    adjustmentList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 4 && oldVal !== 2) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    inboundStatusFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'inbound_status') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        console.log(item)
        console.log(data[item])
        if (data[item].value !== null && data[item].value !== '' && data[item].value !== undefined) {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (item === 'inbound_status' && data[item].value.length > 0) {
              return
            }
            filterAry.push([item, data[item].logicalOperator, data[item].value])
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
        case 'confirm':
          this.setAdjustmentInboundStasus('confirm')
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      this.LoadingViewIsShow = true
      // detail
      this.detailId = data.inbound_id
      this.detailData = data
      switch (data.inbound_status) {
        case 10:
        case '待驗收':
          this.step = 2
          break
        case 50:
        case '上架確認':
          this.step = 4
          break
      }
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    toAdjustmentInboundSetupAdd: function () {
      this.step = 1
      this.detailId = null
    },
    toStepEvent: function (data, step) {
      // console.log(data)
      this.detailId = data.inbound_id
      this.detailData = data
      if (step) {
        this.step = step
      }
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      // console.log('Ok')
      this.getIds('remove')
    },
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    // remove
    remove: function () {
      // console.log('remove', this.idsData)
      // console.log('remove', this.detailId)
      let postData = {
        inboundIds: []
      }
      // 內頁單筆刪除
      if (this.detailId) {
        postData.inboundIds.push(this.detailId)
        this.$store.dispatch('putInOperationSimple/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            setTimeout(() => {
              this.step = 0
            }, 500)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
          }
        })
      } else {
        // 總覽多筆刪除
        // console.log(this.idsData)
        let idsLength = this.idsData.list.length
        let isError = false
        for (let i = 0; i < idsLength; i++) {
          if (this.idsData.list[i].inbound_status >= 30) {
            isError = true
            this.$Notice.warning({
              title: `第${this.idsData.list[i].INDEX}筆資料`,
              desc: '不可刪除，請取消選取',
              duration: 30
            })
          }
        }
        if (this.idsData.selectIds.length === 0) {
          isError = true
        }
        if (isError) {
          return
        }
        //
        postData.inboundIds = this.idsData.selectIds
        console.log(postData)
        this.$store.dispatch('putInOperationSimple/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
            this.getInboundCountStatus(this.settingData.page.pageSize, 1)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
          }
        })
      }
      this.idsData = null
    },
    back: function () {
      //
      this.detailId = null
      this.step = 0
    },
    saveButtonDisabledEvent: function (bol) {
      this.saveDisabled = bol
    },
    //
    saveEvent: function () {
      this.$refs.setAdjustmentInbound.setAdjustmentInbound()
    },
    adjustmenInboundDetailChangeEvent: function (data) {
      this.detailData = data
    },
    // 入庫單狀態 inbound_status
    getInboundStatusFilterData: function () {
      this.inboundStatusFilterData = [
        {
          value: 10,
          label: '待確認'
        },
        {
          value: '待驗收',
          label: '待確認'
        },
        {
          value: 50,
          label: '已確認'
        },
        {
          value: '上架確認',
          label: '已確認'
        }
      ]
    },
    //
    changeDataListEvent: function (val) {
      // console.log(val)
      this.changeDataList = val
      this.getDataList(this.settingData.page.pageSize, 1)
    },
    changeAdjustmentInboundStasusEvent (name) {
      // console.log(name)
      this.getIds(name)
    },
    setAdjustmentInboundStasus: function (data) {
      let isError = false
      let postData = {
        inboundIds: []
      }
      switch (data) {
        case 'confirm':
          if (this.detailId) {
            if (this.detailData.inbound_status !== 10) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，待確認可作修改',
                duration: 30
              })
            } else {
              this.$refs.setAdjustmentInbound.setAdjustmentInbound('setAdjustmentInboundStasus')
              postData.inboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].inbound_status !== 10) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.inboundIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('putInOperationSimple/putaway', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '調整成功'
                })
                if (this.detailId) {
                  this.step = 4
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '調整失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
      }
    },
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      this.getInboundCountStatus(this.settingData.page.pageSize, 1)
    },
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      var filter = [['inbound_type', '=', 'inbound_adj']]
      var sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      var postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      // console.log(postData)
      //
      switch (this.changeDataList) {
        case 'ALL':
          postData.baseCondition = [...filter]
          break
        case 'unConfirm':
          postData.baseCondition = [
            ...filter,
            ['inbound_status', '=', 10]
          ]
          break
        case 'confirm':
          postData.baseCondition = [
            ...filter,
            ['inbound_status', '=', 50]
          ]
          break
      }
      //
      this.$store.dispatch(`inboundAdjustment/query`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.isQuery = false
          this.LoadingViewIsShow = false
        } else {
          this.$Notice.error({
            title: '查詢失敗',
            desc: r.message,
            duration: 30
          })
          this.isQuery = false
          this.LoadingViewIsShow = false
        }
      })
    },
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: async function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol

      let postData = {
        pageNum: 1,
        pageSize: 9999999,
        baseCondition: [],
        orCondition: [],
        sort: [],
        excelHeaders: [],
        dbCols: []
      }

      let exportFields = []
      let displayNames = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          displayNames.push(element.property)

          exportFields.push(element.displayName)
        }
      })
      // 匯出範圍
      switch (data.postData.exportReach) {
        case 1:
          postData.baseCondition = [
            ['inbound_type', '=', 'inbound_adj'],
            ...this.filterAry
          ]
          postData.orCondition = []
          break
        case 2:
          await this.getIds()
          // console.log(this.idsData)
          if (!this.idsData) {
            this.$Notice.warning({
              title: '請勾選要匯出的資料'
            })
            this.LoadingViewIsShow = false
            return
          }
          let listLength = this.idsData.list.length
          // console.log(listLength)
          let ids = []
          for (let i = 0; i < listLength; i++) {
            ids.push(['inbound_id', '=', this.idsData.list[i].inbound_id])
          }
          postData.baseCondition = [['inbound_type', '=', 'inbound_adj'], ['inbound_id', 'in', ids]]
          postData.orCondition = []
          break
      }
      //
      postData.sort = this.sortAry
      postData.excelHeaders = exportFields
      postData.dbCols = displayNames
      postData.fileName = data.postData.exportFileName
      //
      switch (this.changeDataList) {
        case 'unConfirm':
          postData.baseCondition.push(
            ['inbound_status', '=', 10]
          )
          break
        case 'confirm':
          postData.baseCondition.push(
            ['inbound_status', '=', 50]
          )
          break
      }

      let dataexportRes = await this.$store.dispatch(`putInOperationSimple/dataexport`, postData)

      if (dataexportRes.success) {
        // console.log('下載檔案')
        window.open(`${dataexportRes.donwloadLink}`)
      } else {
        this.$Notice.error({
          title: '匯出失敗',
          desc: dataexportRes.message,
          duration: 30
        })
      }
      this.LoadingViewIsShow = false
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    // 查詢個狀態總量
    getInboundCountStatus: function (pageSize, pageNumber) {
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: [['inbound_type', '=', 'inbound_adj']],
        orCondition: [],
        sort: []
      }
      this.$store.dispatch(`putInOperationSimple/inboundCountStatus`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          Object.keys(list).forEach((item, index) => {
            // console.log(item)
            this[item] = list[item]
          })
        }
      })
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            this.saveLayoutColumns = settingDataArr || []
          }
        }
      })
    }
  },
  created () {
    this.getGridLayout()
    this.getInboundStatusFilterData()
    this.getInboundCountStatus(this.settingData.page.pageSize, 1)
    this.getTimeZoneTimestamp()
    this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`inboundAdjustment/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 71px - 16px);
  }
}
.dataGridTab{
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  padding: 8px;
  height: auto;
  .totalCount {
    display: none;
    font-size: 28px;
    font-weight: bold;
  }
  &.hasTotalCount{
    font-size: 16px;
    padding: 4px 16px 0px;
    .totalCount {
      display: block;
    }
  }
  &.dark {
    color: #fff;
    border: 1px solid #fff;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
  &.light {
    color: #ACACAC;
    border: 1px solid #ACACAC;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
}
</style>
