<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 簡易加工作業總覽 -->
    <span v-show="step===0">
      <div
      class="title"
      :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}"
      >
        <span>簡易加工作業總覽</span>
        <div class="btn-box r">
          <Button class="icon-btn-md mr-3" @click="toSimpleProcessingSetupAdd">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reloadDataGrid">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <div class="btn-box l">
          <!-- <Button
            class="layoutBtn mr-3"
            type="default"
            shape="circle"
            @click="dataexportERP"
          >匯出至ERP</Button> -->
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="transfer_id"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- dataexport btn -->
        <div class="dataexportBtn" @click="dataexport">
          <font-awesome-icon icon="file-download" size="2x" />
        </div>
      </div>
    </span>
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title">
          <span>簡易加工作業建檔</span>
          <div class="btn-box r">
            <Button class="icon-btn-md yellow mr-3" @click="back">
              <Icon type="ios-undo" size="18"/>
            </Button>
            <Button class="icon-btn-md mr-3" @click="init">
              <font-awesome-icon icon="plus" />
            </Button>
            <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
              <font-awesome-icon icon="sync" />
            </Button>
          </div>
        </h2>
        <div class="body-box">
          <SimpleProcessingSetupAdd
            ref="init"
            :step="step"
            :detailId="detailId"
            v-on:backEvent="setStep"
            v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
          ></SimpleProcessingSetupAdd>
        </div>
    </span>
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
import Config from '@/Config'
// import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import SimpleProcessingSetupAdd from './components/SimpleProcessingSetupAdd'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
export default {
  name: 'SimpleProcessingSetup',
  props: ['keyCode'],
  components: {
    // FloatLabelBox,
    LoadingView,
    DataGrid,
    SimpleProcessingSetupAdd,
    DataexportModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    } // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'to_product_expired_date') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    // console.log(settingData)
    //
    return {
      Config: Config,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      modalType: 'create',
      dataexportModal: false,
      dataexportTitle: '簡易加工總覽',
      //
      step: 0, // 0:總覽 / 1:建檔 / 2:detail / 3:clone
      optType: null,
      // 調整作業
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [{ sortField: 'transfer_no', sortValue: 'desc' }],
      inboundStatusFilterData: [], // 入庫狀態
      outboundStatusFilterData: [], // 出庫狀態
      // 庫存建檔
      detailId: null,
      //
      postData: {
        owner_name: null, // 貨主
        product_code: null, // 商品料號
        product_name: null, // 商品名稱
        stock_num: null, // 庫存(良品)
        stock_num_bad: null // 庫存(不良品)
      },
      //
      timeZoneTimestamp: null,
      timeZone: null
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    simpleProcessingList: function () {
      let list = this.$store.state[`simpleProcessing`][`simpleProcessingList`] || []
      return list
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    simpleProcessingList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 4 && oldVal !== 2) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      // switch (this.optType) {
      //   case 'remove':
      //     this.remove()
      //     break
      // }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // this.LoadingViewIsShow = true
      // detail
      this.detailId = data.transfer_id
      this.cloneData = data
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    toSimpleProcessingSetupAdd: function () {
      this.step = 1
      this.detailId = null
    },
    back: function () {
      //
      this.detailId = null
      this.step = 0
    },
    setStep: function (step) {
      this.step = step
    },
    //
    init: function () {
      this.$refs.init.init()
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    // 入庫單狀態 inbound_status
    getInboundStatusFilterData: function () {
      this.inboundStatusFilterData = [
        {
          value: 10,
          label: '待確認'
        },
        {
          value: 50,
          label: '已確認'
        }
      ]
    },
    // 出庫單狀態 outbound_status
    getOutboundStatusFilterData: function () {
      this.outboundStatusFilterData = [
        {
          value: 10,
          label: '待確認'
        },
        {
          value: 80,
          label: '已確認'
        }
      ]
    },
    //
    reloadDataGrid: function () {
      this.isQuery = true
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      var filter = [
        {
          queryCondition: '=',
          queryValue: 'order_type_simple_processing',
          queryField: 'order_type_code'
        }
      ]
      var sort = sortAry || [{ sortField: 'transfer_no', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      var postData = {
        page: pageNumber,
        pageSize: pageSize,
        combinedCondition: 'AND',
        query: [...filter],
        sort: sort
      }
      // console.log(postData)
      //
      this.$store.dispatch(`simpleProcessing/query`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          // this.dataList = r.respondCode.additionals['transfer']
        }
        this.isQuery = false
      })
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZone = timeZone
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        queryExpression: {},
        exportFields: [],
        exportSettings: {}
        // timezone_offset: null
      }
      let exportFields = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      //
      postData.queryExpression.page = data.postData.page
      postData.queryExpression.pageSize = this.settingData.page.totalCount
      postData.queryExpression.combinedCondition = 'AND'
      postData.queryExpression.query = this.filterAry
      postData.queryExpression.sort = this.sortAry
      postData.exportFields = exportFields
      postData.exportSettings.exportFileName = data.postData.exportFileName
      postData.exportSettings.exportFormat = data.postData.exportFormat
      //
      let csvSeperator = ''
      switch (data.postData.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      postData.exportSettings.csvSeperator = csvSeperator
      //
      if (this.timeZone < 0) {
        postData.timezone_offset = `${this.timeZone}`
      } else {
        postData.timezone_offset = `+${this.timeZone}`
      }
      // console.log(postData)
      //
      this.$store.dispatch(`transfer/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // console.log('下載檔案')
          window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.dataExport.download_link}`)
        }
        this.LoadingViewIsShow = false
      })
    },
    dataexportERP: async function () {
      // console.log(this.simpleProcessingList)
      if (this.simpleProcessingList.length === 0) {
        return
      }
      this.LoadingViewIsShow = true
      // 查加工總覽，過濾商品料號from_product_code、to_product_code
      var productCodeList = []
      var filter = [
        {
          queryCondition: '=',
          queryValue: 'order_type_simple_processing',
          queryField: 'order_type_code'
        }
      ]
      let filterAryLength = this.filterAry.length
      for (let i = 0; i < filterAryLength; i++) {
        filter.push(this.filterAry[i])
      }
      var sort = this.sortAry || []
      //
      var searchPostData = {
        page: 1,
        pageSize: this.settingData.page.totalCount,
        combinedCondition: 'AND',
        query: filter,
        sort: sort
      }
      let searchRes = await this.$store.dispatch(`simpleProcessing/search`, { postData: searchPostData, companyId: this.companyId, whId: this.whId })
      if (searchRes.httpStatus === 200 || searchRes.httpStatus === 201) {
        let list = searchRes.respondCode.additionals.transfer
        let listLength = list.length
        for (let i = 0; i < listLength; i++) {
          productCodeList.push(list[i].from_product_code)
          productCodeList.push(list[i].to_product_code)
        }
      }
      // 移除重複的product_code
      var noRepeatProductCodeList = productCodeList.filter((item, index, arr) => {
        return arr.indexOf(item) === index
      })
      var noRepeatProductCodeListLength = noRepeatProductCodeList.length
      // console.log(noRepeatProductCodeList)
      // 打商品庫存查詢匯出
      var postData = {
        queryExpression: {
          page: 1,
          pageSize: noRepeatProductCodeListLength,
          combinedCondition: 'OR',
          query: [],
          sort: sort
        },
        exportFields: [
          {
            fieldName: 'product_code',
            displayName: '料品編號'
          },
          {
            fieldName: 'actual_nums',
            displayName: '可銷售數量'
          },
          {
            fieldName: 'from_product_name2',
            displayName: '原因說明'
          }
        ],
        exportSettings: {
          exportFileName: '匯出至ERP',
          exportFormat: 'xls',
          csvSeperator: ''
        }
      }
      for (let i = 0; i < noRepeatProductCodeListLength; i++) {
        postData.queryExpression.query.push(
          {
            queryCondition: '=',
            queryField: 'product_code',
            queryValue: noRepeatProductCodeList[i]
          }
        )
      }
      // console.log(postData)
      let dataexportRes = await this.$store.dispatch(`stockByProduct/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId })
      if (dataexportRes.httpStatus === 200 || dataexportRes.httpStatus === 201) {
        window.open(`${Config.API.baseURL}${dataexportRes.respondCode.additionals.dataExport.download_link}`)
      }
      this.LoadingViewIsShow = false
    }
  },
  created () {
    //
    this.getInboundStatusFilterData()
    this.getOutboundStatusFilterData()
    this.getTimeZoneTimestamp()
    this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`simpleProcessing/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  position: relative;
  width: 100%;
  height: 100%;
  > span {
    display: block;
    height: calc(100% - 4px);
    padding: 25px 30px 0 30px;
    overflow: auto;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
    }
    .btn-box.l {
      display: flex;
      width: auto;
      .confirmBtn {
        background-color: #354361;
        color: #fff;
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 42px - 30px);
  }
}
// modal
// .modal-body {
//     width: 100%;
//     height: auto;
//     padding: 36px 27px 25px 56px;
//     .row {
//         padding: 0 146px 0 0;
//         margin: 0;
//         width: 100%;
//         min-height: 50px;
//         display: flex;
//         align-items: center;
//         .col {
//             flex: 1;
//             height: 72px;
//             margin-bottom: 5px;
//             display: flex;
//             align-items: center;
//             &.colx2 {
//                 flex: 2;
//             }
//             .label-box {
//                 flex: 1;
//                 font-size: 20px;
//                 font-weight: 400;
//                 color: #515a6e;
//             }
//             .body-box {
//                 flex: 1;
//                 display: flex;
//                 justify-content: flex-end;
//                 padding: 0 50px 0 0;
//             }
//         }
//     }
// }
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .dataexportBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #515a6e;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .printBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8e96a6;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > span {
    font-size: 12.5px;
  }
  &.solid{
    background-color: #515a6e;
    >span{
      color: #ffffff;
    }
  }
  &.yellow{
    background-color: #dca558;
    border: 2px solid #dca558;
    >span{
      color: #ffffff;
    }
  }
}
.layoutBtn{
  min-width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  &.save{
    background-color: #56504f;
    color: #ffffff;
  }
}
.dataGridTab{
  border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  margin-bottom: -11px;
  color: #555555;
  &.isFocus{
    color: #ffffff;
    background-color: #354361;
  }
}
</style>
