<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 儲位異動作業總覽 -->
    <span v-show="step===0">
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div class="d-flex">
          <span class="title-text">儲位異動作業總覽</span>
          <div class="operating-box ml-3">
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="toStorageChangeSetupAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r"></div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="dataexport"
          >匯出</Button>
          <Button
            class="solid-text-btn"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="slc_id"
          :bgType="userInfo.themeColor"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
      </div>
    </span>
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
          <span class="title-text">儲位異動</span>
          <div class="btn-box">
            <Poptip trigger="hover" title="回上一頁">
              <Button class="icon-btn-md ml-2"
              @click="back"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
              }">
                <Icon type="ios-undo" size="18"/>
              </Button>
            </Poptip>
          </div>
          <div class="btn-box r">
          </div>
          <div class="btn-box l">
            <Button
              class="solid-text-btn mr-3"
              :class="userInfo.themeColor"
              type="default"
              shape="circle"
              @click="saveEvent"
            >儲存</Button>
          </div>
        </h2>
        <div class="body-box">
          <StorageChangeSetupAdd
            ref="setStorageChange"
            :step="step"
            :detailId="detailId"
            v-on:backEvent="setStep"
            v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
          ></StorageChangeSetupAdd>
        </div>
    </span>
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
import Config from '@/Config'
// import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import StorageChangeSetupAdd from './components/StorageChangeSetupAdd'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
//
export default {
  name: 'StorageChangeSetup',
  props: ['keyCode'],
  components: {
    // FloatLabelBox,
    LoadingView,
    DataGrid,
    StorageChangeSetupAdd,
    DataexportModal,
    ColumnControlModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    settingData = defaultSettingData
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      dataexportModal: false,
      dataexportTitle: '儲位異動作業總覽',
      // 欄位自訂
      columnControlModal: false,
      //
      step: 0, // 0:總覽 / 1:建檔 / 2:detail / 3:clone
      optType: null,
      // 儲位異動作業總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [{ sortField: 'slc_id', sortValue: 'desc' }],
      saveLayoutColumns: [],
      //
      detailId: null
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    storageChangeList: function () {
      return this.$store.state[`storageChange`][`storageChangeList`] || {}
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    saveLayoutColumns: {
      handler: function (val) {
        console.log(val)
        if (val.length > 0) {
          this.settingData.columns = val
        }
      },
      deep: true
    },
    storageChangeList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // console.log(sortAry)
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (data[item].logicalOperator === 'like') {
              filterAry.push([item, data[item].logicalOperator, `%${data[item].value}%`])
            } else {
              filterAry.push([item, data[item].logicalOperator, data[item].value])
            }
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      // switch (this.optType) {
      //   // case 'remove':
      //   //   this.remove()
      //   //   break
      // }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // detail
      this.detailId = data.slc_id
      this.cloneData = data
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    toStorageChangeSetupAdd: function () {
      this.step = 1
      this.detailId = null
    },
    back: function () {
      //
      this.detailId = null
      this.step = 0
    },
    setStep: function (step) {
      this.step = step
    },
    //
    reloadDataGrid: function () {
      this.isQuery = true
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    //
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      var filter = [
        // ['before_stock_num', '>', 0],
        // ['after_stock_num', '>', 0]
      ]
      let sort = sortAry || [{ sortField: 'slc_id', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      //
      this.$store.dispatch(`storageChange/query`, postData).then((r) => {
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.isQuery = false
        } else {
          this.$Notice.error({
            title: '查詢失敗',
            desc: r.message,
            duration: 30
          })
          this.isQuery = false
        }
      })
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        pageNum: 1,
        pageSize: 9999999,
        baseCondition: [],
        orCondition: [],
        sort: [],
        excelHeaders: [],
        dbCols: []
      }
      let exportFields = []
      let displayNames = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          displayNames.push(element.property)

          exportFields.push(element.displayName)
        }
      })
      //
      postData.baseCondition = [
        ...this.filterAry
      ]
      postData.orCondition = []
      postData.sort = this.sortAry
      postData.excelHeaders = exportFields
      postData.dbCols = displayNames
      postData.fileName = data.postData.exportFileName
      //
      this.$store.dispatch(`storageChange/dataexport`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          // console.log('下載檔案')
          window.open(`${r.donwloadLink}`)
        } else {
          this.$Notice.error({
            title: '匯出失敗',
            desc: r.message,
            duration: 30
          })
        }
        this.LoadingViewIsShow = false
      })
    },
    saveEvent: function () {
      this.$refs.setStorageChange.setStorageChange()
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            let isHave = false
            let itemIndex = null
            // let pushIndex = null
            let addObj = {
              property: 'created_at',
              displayName: '移倉日期',
              isOpt: false,
              filterType: 'Daterange',
              filterData: null,
              filterFormat: null,
              valueType: 'Date',
              autoCompleteData: null,
              valueFormat: null,
              sortToggle: true,
              sortValue: null,
              isNotRemove: true,
              resizeToggle: true,
              minWidth: 'initial',
              editable: false
            }
            settingDataArr.forEach((item, index) => {
              if (item.property === 'after_create_time') {
                isHave = true
                itemIndex = index
              }
            })
            if (isHave) {
              settingDataArr[itemIndex] = addObj
            }
            this.saveLayoutColumns = settingDataArr || []
            setTimeout(() => {
              this.saveLayoutSettings()
            }, 1000)
          }
        }
      })
    }
  },
  created () {
    this.getGridLayout()
    this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`storageChange/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: auto;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 46px - 16px);
  }
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .dataexportBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #515a6e;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .printBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8e96a6;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  border: 0px solid transparent;
  >span {
    font-size: 14px;
  }
}
.layoutBtn{
  min-width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  &.save{
    background-color: #56504f;
    color: #ffffff;
  }
}
.dataGridTab{
  border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  margin-bottom: -11px;
  color: #555555;
  &.isFocus{
    color: #ffffff;
    background-color: #354361;
  }
}
</style>
