<template>
  <div class="win-content" id="stroage-win">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 儲位管理 -->
    <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
      <div class="d-flex">
        <span class="title-text">儲位管理</span>
        <div class="operating-box ml-3">
          <Poptip trigger="hover" title="新增">
            <Button
            class="icon-btn-md mr-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
            }"
            @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="刪除">
            <Button
            class="icon-btn-md mr-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
            }"
            @click="comfirmRemove">
              <font-awesome-icon icon="file-excel" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="匯入檔案">
            <Button
            class="icon-btn-md mr-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }"
            @click="showImportModal">
              <font-awesome-icon icon="cloud-upload-alt" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md mr-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reloadDataGrid">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
      </div>
      <div class="btn-box r">
      </div>
      <div class="btn-box l">
        <Button
          class="solid-text-btn mr-3"
          :class="userInfo.themeColor"
          type="default"
          shape="circle"
          @click="dataexport"
        >匯出</Button>
        <Button
          class="solid-text-btn"
          :class="userInfo.themeColor"
          type="default"
          shape="circle"
          @click="columnControl"
        >欄位自訂</Button>
        <!-- <Button
          class="layoutBtn mr-3"
          type="default"
          shape="circle"
          @click="getIds('showSaId')"
        >設定儲區類別</Button> -->
        <!-- <div class="switch-box">
          <div class="label-box">是否篩選空儲位</div>
          <div class="val-box">
            <i-Switch
              v-model="isEmpty"
              size="large"
              :true-value="1"
              :false-value="0"
            >
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div> -->
      </div>
    </h2>
    <div class="body-box" ref="body-box">
      <!-- data grid -->
      <DataGrid
      idKeyName="storage_id"
      :bgType="userInfo.themeColor"
      :logicalOperator="logicalOperator"
      :settingData="settingData"
      :gridData="gridData"
      :toGetIds="toGetIds"
      :noTextBreak="true"
      :isQuery="isQuery"
      :toRestFilter="toRestFilter"
      @setFilterEvent="setFilterEvent"
      @moveColEvent="moveColEvent"
      @removeColEvent="removeColEvent"
      @sortEvent="sortEvent"
      @filterEvent="filterEvent"
      @getIdsEvent="getIdsEvent"
      @getDetailEvent="getDetailEvent"
      @pageChangeEvent="pageChangeEvent"
      @pageSizeChangeEvent="pageSizeChangeEvent"></DataGrid>
    </div>
    <div class="footer">
    </div>
    <!-- add modal -->
    <Modal v-model="addModal" width="1000" :footer-hide="true">
      <div slot="header" class="modal-header"></div>
      <!-- LoadingView -->
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div class="modal-body">
        <div class="title">建立儲位</div>
        <div class="mb-5">
          <div class="row">
            <!-- 棟/倉別號 -->
            <div class="col">
              <div class="label">棟/倉別號</div>
              <div class="content-box">
                <div class="l-box"><input v-model="postData.buildingNoFrom"/></div>
                <div class="m-box"><Icon type="ios-remove" size="18"/></div>
                <div class="r-box"><input v-model="postData.buildingNoTo"/></div>
              </div>
            </div>
            <!-- 樓層號 -->
            <div class="col">
              <div class="label">樓層號</div>
              <div class="content-box">
                <div class="l-box"><input v-model="postData.floorNoFrom"/></div>
                <div class="m-box"><Icon type="ios-remove" size="18"/></div>
                <div class="r-box"><input v-model="postData.floorNoTo"/></div>
              </div>
            </div>
            <!-- 儲區編號 -->
            <div class="col">
              <div class="label">儲區編號</div>
              <div class="content-box">
                <div class="l-box"><input v-model="postData.area1NoFrom"/></div>
                <div class="m-box"><Icon type="ios-remove" size="18"/></div>
                <div class="r-box"><input v-model="postData.area1NoTo"/></div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- 排/走道號 -->
            <div class="col">
              <div class="label">排/走道號</div>
              <div class="content-box">
                <div class="l-box"><input v-model="postData.laneNoFrom"/></div>
                <div class="m-box"><Icon type="ios-remove" size="18"/></div>
                <div class="r-box"><input v-model="postData.laneNoTo"/></div>
              </div>
            </div>
            <!-- 貨架號 -->
            <div class="col">
              <div class="label">貨架號</div>
              <div class="content-box">
                <div class="l-box"><input v-model="postData.rackNoFrom"/></div>
                <div class="m-box"><Icon type="ios-remove" size="18"/></div>
                <div class="r-box"><input v-model="postData.rackNoTo"/></div>
              </div>
            </div>
            <!-- 層號 -->
            <div class="col">
              <div class="label">層號</div>
              <div class="content-box">
                <div class="l-box"><input v-model="postData.levelNoFrom"/></div>
                <div class="m-box"><Icon type="ios-remove" size="18"/></div>
                <div class="r-box"><input v-model="postData.levelNoTo"/></div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- 儲格/位號 -->
            <div class="col">
              <div class="label">儲格/位號</div>
              <div class="content-box">
                <div class="l-box"><input v-model="postData.storageNoFrom"/></div>
                <div class="m-box"><Icon type="ios-remove" size="18"/></div>
                <div class="r-box"><input v-model="postData.storageNoTo"/></div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <Button class="best-outlined-gray-dark lg-btn w-100 mr-3" shape="circle" size="large" @click="closeAddModal">
            取消
          </Button>
          <Button class="best-blue lg-btn w-100" shape="circle" size="large" @click="create">
            新增
          </Button>
        </div>
      </div>
    </Modal>
    <!-- update modal -->
    <Modal v-model="updateModal" width="1406" :footer-hide="true">
        <div slot="header" class="modal-header"></div>
        <div class="modal-body">
          <div class="title">儲位詳細設定</div>
          <div class="update-info">
            <div class="label">儲位編號</div>
            <div class="value">{{storageCode}}</div>
          </div>
        </div>
    </Modal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
    <!-- import modal -->
    <ImportModal
      :importModal="importModalToggle"
      :importModalTitle="importModalTitle"
      :importExampleFile="importExampleFile"
      :importUploadURL="importUploadURL"
      :importLoadingViewIsShow="importLoadingViewIsShow"
      v-on:importErrorEvent="errorRequest"
      v-on:beforeUploadEvent="beforeUploadEvent"
      v-on:importSuccessEvent="importSuccessEvent"
      v-on:setImportModalEvent="setImportModalEvent"
    ></ImportModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
  </div>
</template>

<script>
/**
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import { setTimeout } from 'timers'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
import ImportModal from '@/components/ImportModal/ImportModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
export default {
  name: 'StorageSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    ColumnControlModal,
    DataexportModal,
    ImportModal,
    ComfirmRemoveModal
  },
  data () {
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor,
        selectedColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.selectedColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    } // 定義 datagrid
    let gridData = [] // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    // console.log(settingData)
    //
    return {
      Config: Config,
      resizing: false,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '儲位總覽',
      // importModal
      importModalToggle: false,
      importModalTitle: '儲位',
      importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.storage.import}`,
      importExampleFile: 'STORAGE_IMPORT',
      importLoadingViewIsShow: false,
      // 儲位總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      toRestFilter: false,
      saveLayoutColumns: [],
      //
      storageId: null,
      storageCode: null,
      addModal: false,
      updateModal: false,
      //
      firstGiveValue: false,
      //
      postData: {
        buildingNoFrom: null,
        buildingNoTo: null,
        floorNoFrom: null,
        floorNoTo: null,
        area1NoFrom: null,
        area1NoTo: null,
        laneNoFrom: null,
        laneNoTo: null,
        levelNoFrom: null,
        levelNoTo: null,
        rackNoFrom: null,
        rackNoTo: null,
        storageNoFrom: null,
        storageNoTo: null
      },
      error: {
        buildingNoFrom: false,
        buildingNoTo: false,
        floorNoFrom: false,
        floorNoTo: false,
        area1NoFrom: false,
        area1NoTo: false,
        laneNoFrom: false,
        laneNoTo: false,
        levelNoFrom: false,
        levelNoTo: false,
        rackNoFrom: false,
        rackNoTo: false,
        storageNoFrom: false,
        storageNoTo: false
      },
      isEmpty: 0 // 是否篩選空儲位
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    storageList: function () {
      let list = this.$store.state[`storage`][`storageList`] || []
      return list
    },
    storage: function () {
      // console.log(this.$store.state[`storage`][`storage`])
      return this.$store.state[`storage`][`storage`] || null
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    addModal: function (bol) {
      if (!bol) {
        this.initError()
        this.initPostData()
      }
    },
    updateModal: function (bol) {
      if (!bol) {
        this.storageCode = null
        this.storageId = null
        this.initError()
        this.initPostData()
      }
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    storageList: {
      handler: function (val) {
        // console.log(val)
        this.gridData = val
        this.gridData.forEach((item, index) => {
          item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
          item.SELECT = false
        })
        // console.log(this.gridData)
      },
      deep: true
    },
    storage: {
      handler: function (val) {
        // console.log(val.detailInfo)
        if (val) {
          this.firstGiveValue = true
          // this.postData = {
          //   //
          // }
          // 為了處理第一次給值，觸發autocomplete 搜尋事件
          setTimeout(() => {
            this.firstGiveValue = false
          }, 100)
        }
      },
      deep: true
    },
    // 'postData.buildingNoFrom': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.buildingNoFrom = null
    //   }
    // },
    // 'postData.buildingNoTo': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.buildingNoTo = null
    //   }
    // },
    // 'postData.floorNoFrom': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.floorNoFrom = null
    //   }
    // },
    // 'postData.floorNoTo': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.floorNoTo = null
    //   }
    // },
    // 'postData.area1NoFrom': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.area1NoFrom = null
    //   }
    // },
    // 'postData.area1NoTo': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.area1NoTo = null
    //   }
    // },
    // 'postData.laneNoFrom': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.laneNoFrom = null
    //   }
    // },
    // 'postData.laneNoTo': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.laneNoTo = null
    //   }
    // },
    // 'postData.levelNoFrom': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.levelNoFrom = null
    //   }
    // },
    // 'postData.levelNoTo': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.levelNoTo = null
    //   }
    // },
    // 'postData.rackNoFrom': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.rackNoFrom = null
    //   }
    // },
    // 'postData.rackNoTo': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.rackNoTo = null
    //   }
    // },
    // 'postData.storageNoFrom': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.storageNoFrom = null
    //   }
    // },
    // 'postData.storageNoTo': function (val) {
    //   // console.log(val)
    //   let re = /[a-zA-Z0-9]/
    //   // console.log(re.test(val))
    //   if (re.test(val)) {
    //     //
    //   } else {
    //     this.postData.storageNoTo = null
    //   }
    // },
    isEmpty: {
      handler: function (val) {
        this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
      },
      deep: true
    }
  },
  methods: {
    initError: function () {
      this.error = {
        buildingNoFrom: false,
        buildingNoTo: false,
        floorNoFrom: false,
        floorNoTo: false,
        area1NoFrom: false,
        area1NoTo: false,
        laneNoFrom: false,
        laneNoTo: false,
        levelNoFrom: false,
        levelNoTo: false,
        rackNoFrom: false,
        rackNoTo: false,
        storageNoFrom: false,
        storageNoTo: false
      }
    },
    initPostData: function () {
      this.postData = {
        buildingNoFrom: null,
        buildingNoTo: null,
        floorNoFrom: null,
        floorNoTo: null,
        area1NoFrom: null,
        area1NoTo: null,
        laneNoFrom: null,
        laneNoTo: null,
        levelNoFrom: null,
        levelNoTo: null,
        rackNoFrom: null,
        rackNoTo: null,
        storageNoFrom: null,
        storageNoTo: null
      }
    },
    //
    drag: function (e) {
      e.stopPropagation()
      // let tager = e.currentTarget
      // console.log(tager)
    },
    add: function () {
      // console.log('add')
      this.addModal = true
    },
    closeAddModal: function () {
      this.addModal = false
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.toRemove()
    },
    toRemove: function () {
      // console.log('remove')
      this.getIds('remove')
    },
    remove: function (data) {
      this.LoadingViewIsShow = true
      let selectIdsLength = data.selectIds.length
      if (selectIdsLength === 0) {
        this.$Notice.warning({
          title: '請勾選要刪除的資料',
          duration: 30
        })
        this.LoadingViewIsShow = false
        return
      }
      let postData = {
        storageIds: data.selectIds
      }
      this.$store.dispatch('storage/delete', postData).then((r) => {
        console.log(r)
        if (r.success) {
          this.$Notice.success({
            title: '刪除成功'
          })
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
        } else {
          this.$Notice.error({
            title: '刪除失敗',
            desc: r.message,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    /* 儲位總覽 */
    // 取得清單
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.LoadingViewIsShow = true
      let filter = []
      let sort = sortAry || []
      //

      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }

      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      // console.log(postData)
      this.$store.dispatch(`storage/query`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
        }
        this.LoadingViewIsShow = false
      })
    },
    //
    reloadDataGrid: function () {
      // this.LoadingViewIsShow = true
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      // 初始 再 重新設定
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property !== col.property) {
          ele.sortValue = null
        }
      })
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (data[item].logicalOperator === 'like') {
              filterAry.push([item, data[item].logicalOperator, `%${data[item].value}%`])
            } else {
              filterAry.push([item, data[item].logicalOperator, data[item].value])
            }
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      // console.log(optType)
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      switch (this.optType) {
        case 'remove':
          // 刪除
          this.remove(data)
          break
        case 'print':
          this.setPrintTrigger()
          break
        case 'showSaId':
          // 儲區類別設定
          this.showSaIdModal()
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 商品 detail
      this.storageId = data.storage_id
      this.storageCode = data.storage_code
      this.$store.dispatch('storage/queryDetail', this.storageId).then((r) => {
        console.log(r)
      })
      // this.updateModal = true
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    // 新增
    create: function () {
      this.LoadingViewIsShow = true
      //
      this.initError()
      //
      let isError = false
      if (!this.postData.buildingNoFrom && !this.postData.buildingNoTo && !this.postData.floorNoFrom && !this.postData.floorNoTo && !this.postData.area1NoFrom && !this.postData.area1NoTo && !this.postData.laneNoFrom && !this.postData.laneNoTo && !this.postData.rackNoFrom && !this.postData.rackNoTo && !this.postData.levelNoFrom && !this.postData.levelNoTo && !this.postData.storageNoFrom && !this.postData.storageNoTo) {
        isError = true
      }
      if (isError) {
        // 警告提示
        this.$Notice.error({
          title: '無法新增',
          desc: '所有欄位未填',
          duration: 30
        })
        this.LoadingViewIsShow = false
        return
      }
      //
      let postData = {}
      if (this.postData.buildingNoFrom) {
        postData.buildingNoFrom = this.postData.buildingNoFrom
      }
      if (this.postData.buildingNoTo) {
        postData.buildingNoTo = this.postData.buildingNoTo
      }
      if (this.postData.floorNoFrom) {
        postData.floorNoFrom = this.postData.floorNoFrom
      }
      if (this.postData.floorNoTo) {
        postData.floorNoTo = this.postData.floorNoTo
      }
      if (this.postData.area1NoFrom) {
        postData.area1NoFrom = this.postData.area1NoFrom
      }
      if (this.postData.area1NoTo) {
        postData.area1NoTo = this.postData.area1NoTo
      }
      if (this.postData.laneNoFrom) {
        postData.laneNoFrom = this.postData.laneNoFrom
      }
      if (this.postData.laneNoTo) {
        postData.laneNoTo = this.postData.laneNoTo
      }
      if (this.postData.rackNoFrom) {
        postData.rackNoFrom = this.postData.rackNoFrom
      }
      if (this.postData.rackNoTo) {
        postData.rackNoTo = this.postData.rackNoTo
      }
      if (this.postData.levelNoFrom) {
        postData.levelNoFrom = this.postData.levelNoFrom
      }
      if (this.postData.levelNoTo) {
        postData.levelNoTo = this.postData.levelNoTo
      }
      if (this.postData.storageNoFrom) {
        postData.storageNoFrom = this.postData.storageNoFrom
      }
      if (this.postData.storageNoTo) {
        postData.storageNoTo = this.postData.storageNoTo
      }
      //
      // console.log(postData)
      this.$store.dispatch(`storage/create`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.addModal = false
          this.initPostData()
          this.LoadingViewIsShow = false
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
          //
          this.$Notice.success({
            title: '新增成功'
          })
        } else {
          //
          this.LoadingViewIsShow = false
          this.$Notice.error({
            title: '新增失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // update
    update: function () {
      // this.LoadingViewIsShow = true
      // //
      // var sdId = null
      // if (this.storage.storage_detail_id !== null && this.storage.storage_detail_id !== '') {
      //   // 儲格
      //   sdId = this.storage.storage_detail_id
      // }
      // if (this.storage.rack_detail_id !== null && this.storage.rack_detail_id !== '') {
      //   // 貨架 以下
      //   sdId = this.storage.rack_detail_id
      // }
      // if (this.storage.level_detail_id !== null && this.storage.level_detail_id !== '') {
      //   // 層 以下
      //   sdId = this.storage.level_detail_id
      // }
      // if (this.storage.level_detail_id !== null && this.storage.level_detail_id !== '') {
      //   // 排/走道 以下
      //   sdId = this.storage.level_detail_id
      // }
      // if (this.storage.area2_detail_id !== null && this.storage.area2_detail_id !== '') {
      //   // 儲區2 以下
      //   sdId = this.storage.area2_detail_id
      // }
      // if (this.storage.area1_detail_id !== null && this.storage.area1_detail_id !== '') {
      //   // 儲區1 以下
      //   sdId = this.storage.area1_detail_id
      // }
      // if (this.storage.floor_detail_id !== null && this.storage.floor_detail_id !== '') {
      //   // 樓層 以下
      //   sdId = this.storage.floor_detail_id
      // }
      // if (this.storage.building_detail_id !== null && this.storage.building_detail_id !== '') {
      //   // 棟/倉別 以下
      //   sdId = this.storage.building_detail_id
      // }
    },
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        pageNum: 1,
        pageSize: 9999999,
        baseCondition: [],
        orCondition: [],
        sort: [],
        excelHeaders: [],
        dbCols: []
      }
      let exportFields = []
      let displayNames = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          displayNames.push(element.property)
          exportFields.push(element.displayName)
        }
      })
      //
      postData.baseCondition = [
        ...this.filterAry
      ]
      postData.orCondition = []
      postData.sort = this.sortAry
      postData.excelHeaders = exportFields
      postData.dbCols = displayNames
      postData.fileName = data.postData.exportFileName
      //
      this.$store.dispatch(`storage/dataexport`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          // console.log('下載檔案')
          window.open(`${r.donwloadLink}`)
        } else {
          this.$Notice.error({
            title: '匯出失敗',
            desc: r.message,
            duration: 30
          })
        }
        this.LoadingViewIsShow = false
      })
    },
    // ImportModal Start
    showImportModal: function () {
      this.importModalToggle = true
    },
    setImportModalEvent: function (bol) {
      // console.log(bol)
      this.importModalToggle = bol
    },
    beforeUploadEvent: function () {
      this.importLoadingViewIsShow = true
    },
    importSuccessEvent: function () {
      this.importModalToggle = false
      this.importLoadingViewIsShow = false
      this.$Notice.success({
        title: '檔案上成功'
      })
      this.reloadDataGrid()
    },
    errorRequest: function (txt) {
      // console.log(txt)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗',
        desc: txt,
        duration: 30
      })
      this.importLoadingViewIsShow = false
    },
    // ImportModal END
    setPrintTrigger: function () {
      if (this.idsData.list.length < 1) {
        this.$Notice.warning({
          title: `請勾選要列印的項目`
        })
        return
      }
      this.print()
    },
    print: function () {
      // console.log(this.idsData)
      var ids = []
      this.idsData.list.forEach((item) => {
        ids.push(item.storage_id)
      })
      this.LoadingViewIsShow = true
      // console.log(ids)
      var postData = {
        print_tags: [
          {
            is_barcode: 1,
            field_id: 1,
            field_value: 'storage_code'
          }
        ],
        report_content_key: 'storage_id',
        report_content_value: ids,
        report_type: 'Tag_Std_SizeSmall'
      }
      //
      this.$store.dispatch('printtag/storage', postData).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          // 取下載link, 另開視窗
          window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.print_tag_storage.download_link}`)
          this.LoadingViewIsShow = false
        } else if (r.httpStatus !== 401) {
          this.$Notice.warning({
            title: `網路異常請稍後再試`
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            this.saveLayoutColumns = settingDataArr || []
          }
        }
      })
    }
  },
  created () {
    //
    this.getGridLayout()
    this.LoadingViewIsShow = true
    this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`product/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  overflow: auto;
  padding: 20px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
    .switch-box {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
    .label-box {
      font-size: 16px;
      color: #333333;
      padding-right: 16px;
      font-weight: 400;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 46px - 16px);
  }
  >.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
}
// modal
.modal-body {
  width: 100%;
  height: auto;
  padding: 0 45px 24px;
  position: relative;
  .update-info {
    position: absolute;
    right: 80px;
    top: 0px;
    .label {
      font-family: PingFangTC;
      font-size: 14px;
      color: #118cf8;
    }
    .value {
      font-family: PingFangTC;
      font-size: 21px;
      color: #000000;
    }
  }
  .title {
    width: fit-content;
    font-family: PingFangTC;
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 400;
    color: #3c3c3c;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 24px;
    .col {
      width: 245px;
      height: 50px;
      .label {
        height: 17px;
        width: 100%;
        font-size: 14px;
        color: #118cf8;
        margin-bottom: 4px;
      }
      .content-box {
        display: flex;
        width: 100%;
        height: calc(100% - 17px);
        .l-box {
          width: 100px;
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
        .m-box {
          flex: 1;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .r-box {
          width: 100px;
          height: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
        input {
          width: 100%;
          height: 100%;
          border: none;
          font-family: PingFangTC;
          font-size: 21px;
          text-align: center;
          color: #000000;
          &:focus {
            outline: none;
            box-shadow: none;
            border: none;
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .applyToSelect {
      width: 200px;
      margin-right: 15px;
      /deep/
      .ivu-select-arrow {
        top: 50%;
      }
    }
    .saveBtn {
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      background-color: #354361;
      color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
.layoutBtn{
  min-width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
}
</style>
