<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 調撥作業總覽 -->
    <span v-show="step===0">
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div>
          <span class="title-text">調撥作業總覽</span>
          <div class="operating-box">
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="toTransferSetupAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="刪除">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              @click="comfirmRemove">
                <font-awesome-icon icon="file-excel" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r">
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'unConfirm' ? 'isFocus' : '',
              status_10>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('unConfirm')"
          >待確認
          <span class="totalCount">{{status_10}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'confirm' ? 'isFocus' : '',
              status_20>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('confirm')"
          >已完成
          <span class="totalCount">{{status_20}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'ALL' ? 'isFocus' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('ALL')"
          >ALL</Button>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="dataexport"
          >匯出</Button>
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="changeTransferStasusEvent('confirm')"
          >確認調撥</Button>
          <Button
            class="solid-text-btn"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="transfer_id"
          :bgType="userInfo.themeColor"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
      </div>
    </span>
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
          <span class="title-text" v-show="step===1">調撥作業建檔</span>
          <span class="title-text" v-show="step===2">確認調撥</span>
          <div class="btn-box">
            <Poptip trigger="hover" title="回上一頁">
              <Button class="icon-btn-md ml-2"
              @click="back"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
              }">
                <Icon type="ios-undo" size="18"/>
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-show="step!==1"
              @click="init">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="刪除">
              <Button
                class="icon-btn-md ml-2"
                :style="{
                  'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
                }"
                v-if="step===2"
                @click="comfirmRemove">
                <font-awesome-icon icon="file-excel" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reload(detailId)">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
          <div class="btn-box r">
            <TransferStep
              v-show="step>1"
              :step="step"
              :data="detailData"
              @setTransferStasus="changeTransferStasusEvent"
              ></TransferStep>
          </div>
          <div class="btn-box l">
            <Button
              class="solid-text-btn mr-3"
              :class="userInfo.themeColor"
              type="default"
              shape="circle"
              @click="saveEvent"
            >儲存</Button>
          </div>
        </h2>
        <div class="body-box">
          <TransferSetupAdd
            ref="setTransfer"
            :step="step"
            :detailId="detailId"
            v-on:toStepEvent="toStepEvent"
            v-on:transferDetailChangeEvent="transferDetailChangeEvent"
            v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
          ></TransferSetupAdd>
        </div>
    </span>
    <span v-if="step===4">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
          <span class="title-text">調撥完成</span>
          <div class="btn-box">
            <Poptip trigger="hover" title="回上一頁">
              <Button class="icon-btn-md ml-2"
              @click="back"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
              }">
                <Icon type="ios-undo" size="18"/>
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="init">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reload(detailId)">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
          <div class="btn-box r">
            <TransferStep
              :step="step"
              :data="detailData"
              @setTransferStasus="changeTransferStasusEvent"
              ></TransferStep>
          </div>
          <div class="btn-box l">
          </div>
        </h2>
        <div class="body-box">
          <TransferSetupCloseAdd
            ref="setTransfer"
            :step="step"
            :detailId="detailId"
            v-on:toStepEvent="toStepEvent"
            v-on:transferDetailChangeEvent="transferDetailChangeEvent"
            v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
          ></TransferSetupCloseAdd>
        </div>
    </span>
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
    <!-- 確認調撥 -->
    <Modal v-model="autoConfirmModal" width="359" :footer-hide="true" closable class="autoConfirmModal">
      <div slot="header" class="modal-header"></div>
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div class="modal-body">
        <div class="container-box">
          <div class="desc-box">
            <div class="modal-title mb-3">
              <span>
                請選擇確認類別
              </span>
            </div>
            <div class="mb-4">
              <!-- 確認類別 autoConfirm -->
              <FloatLabelBox
                :config="{
                  hasContent: (postData.autoConfirm || postData.autoConfirm===0),
                  label: '確認類別',
                  hasClearButton: true,
                  background: 'white',
                  type: `Select`,
                  settings: {height: 41}}"
                :selectList="autoConfirmList"
                :code="`autoConfirm`"
                :defaultValue="postData.autoConfirm"
                :disabled="false"
                @changeModelEvent="autoConfirmListChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="btn-box">
              <Button class="best-blue w-100" shape="circle" size="large" @click="confirmTransferEvent">
                確認調撥
              </Button>
            </div>
          </div>
        </div>
      </div>
    </Modal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import TransferSetupAdd from './components/TransferSetupAdd'
import TransferSetupCloseAdd from './components/TransferSetupCloseAdd'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
import TransferStep from '@/components/TransferStep/TransferStep'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
export default {
  name: 'TransferSetup',
  props: ['keyCode'],
  components: {
    FloatLabelBox,
    LoadingView,
    DataGrid,
    TransferSetupAdd,
    TransferSetupCloseAdd,
    DataexportModal,
    TransferStep,
    ComfirmRemoveModal,
    ColumnControlModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'transfer_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'to_product_expired_date') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    console.log(settingData)
    //
    return {
      Config: Config,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      // 欄位自訂
      columnControlModal: false,
      //
      modalType: 'create',
      dataexportModal: false,
      dataexportTitle: '調撥總覽',
      //
      step: 0, // 0:總覽 / 1:建檔 / 2:detail / 3:clone
      optType: null,
      // 調撥作業
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [{ sortField: 'transfer_no', sortValue: 'desc' }],
      toRestFilter: false,
      saveLayoutColumns: [],
      transferStatusFilterData: [],
      // 調撥建檔
      detailId: null,
      detailData: null,
      // 切換總覽
      changeDataList: 'unConfirm',
      //
      status_10: 0,
      status_20: 0,
      // 確認調撥
      autoConfirmModal: false,
      postData: {
        autoConfirm: 1 // 確認類別
      },
      autoConfirmList: [
        {
          label: '產生調撥單據',
          value: 0
        },
        {
          label: '直接調撥',
          value: 1
        }
      ]
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    transferList: function () {
      return this.$store.state[`transfer`][`transferList`] || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    saveLayoutColumns: {
      handler: function (val) {
        // console.log(val)
        if (val.length > 0) {
          this.settingData.columns = val
        }
      },
      deep: true
    },
    transferList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 4 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    transferStatusFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'transfer_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    changeDataList: {
      handler: function (val) {
        if (val) {
          this.resetFilter()
        }
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (item === 'transfer_status' && data[item].value.length > 0) {
              return
            }
            filterAry.push([item, data[item].logicalOperator, data[item].value])
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
        case 'confirm':
          this.setTransferStasus('confirm')
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // detail
      this.LoadingViewIsShow = true
      this.detailId = data.transfer_id
      this.detailData = data
      switch (data.transfer_status) {
        case 10:
          this.step = 2
          break
        case 20:
          this.step = 4
          break
      }
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    toTransferSetupAdd: function () {
      this.step = 1
      this.detailId = null
    },
    toStepEvent: function (data, step) {
      // console.log(data)
      this.detailId = data.transfer_id
      if (step) {
        this.step = step
      }
    },
    init: function () {
      this.$refs.setTransfer.setTransfer('init')
    },
    back: function () {
      //
      this.detailId = null
      this.step = 0
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    //
    reloadDataGrid: function () {
      this.isQuery = true
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      var filter = []
      var sort = sortAry || [{ sortField: 'transfer_no', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      switch (this.changeDataList) {
        case 'ALL':
          postData.baseCondition = [...filter]
          break
        case 'unConfirm':
          postData.baseCondition = [
            ...filter,
            ['transfer_status', '=', 10]
          ]
          break
        case 'confirm':
          postData.baseCondition = [
            ...filter,
            ['transfer_status', '=', 20]
          ]
          break
      }
      // console.log(postData)
      //
      this.$store.dispatch(`transfer/query`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.isQuery = false
          this.LoadingViewIsShow = false
        } else {
          this.$Notice.error({
            title: '查詢失敗',
            desc: r.message,
            duration: 30
          })
          this.isQuery = false
          this.LoadingViewIsShow = false
        }
      })
    },
    changeDataListEvent: function (val) {
      this.changeDataList = val
    },
    changeTransferStasusEvent (name) {
      // console.log(name)
      this.getIds(name)
    },
    setTransferStasus: function (data) {
      let isError = false
      // let postData = {
      //   transferIds: []
      // }
      switch (data) {
        case 'confirm':
          if (this.detailId) {
            if (this.detailData.transfer_status !== 10) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，待確認可作修改',
                duration: 30
              })
            } else {
              this.autoConfirmModal = true
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].transfer_status !== 10) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
          }
          if (isError) {
            return
          }
          this.autoConfirmModal = true
      }
    },
    confirmTransferEvent: function () {
      this.LoadingViewIsShow = true
      let postData = {
        transferIds: [],
        autoConfirm: this.postData.autoConfirm === 1
      }
      if (this.detailId) {
        postData.transferIds = [this.detailId]
        this.$refs.setTransfer.setTransfer('setTransferStasus')
      } else {
        postData.transferIds = this.idsData.selectIds
      }
      setTimeout(() => {
        this.$store.dispatch('transfer/confirm', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '調撥成功'
            })
            if (this.detailId) {
              this.step = 4
            } else {
              this.reloadDataGrid()
            }
            this.autoConfirmModal = false
          } else {
            this.$Notice.error({
              title: '調撥失敗',
              desc: r.message,
              duration: 30
            })
            this.LoadingViewIsShow = false
          }
        })
        this.idsData = null
      }, 500)
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        pageNum: 1,
        pageSize: 9999999,
        baseCondition: [],
        orCondition: [],
        sort: [],
        excelHeaders: [],
        dbCols: []
      }
      let exportFields = []
      let displayNames = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          displayNames.push(element.property)

          exportFields.push(element.displayName)
        }
      })
      //
      postData.baseCondition = [
        ...this.filterAry
      ]
      switch (this.changeDataList) {
        case 'unConfirm':
          postData.baseCondition.push(
            ['transfer_status', '=', 10]
          )
          break
        case 'confirm':
          postData.baseCondition.push(
            ['transfer_status', '=', 20]
          )
          break
      }
      postData.orCondition = []
      postData.sort = this.sortAry
      postData.excelHeaders = exportFields
      postData.dbCols = displayNames
      postData.fileName = data.postData.exportFileName
      //
      this.$store.dispatch(`transfer/dataexport`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          // console.log('下載檔案')
          window.open(`${r.donwloadLink}`)
        } else {
          this.$Notice.error({
            title: '匯出失敗',
            desc: r.message,
            duration: 30
          })
        }
        this.LoadingViewIsShow = false
      })
    },
    saveEvent: function () {
      this.$refs.setTransfer.setTransfer()
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    // remove
    remove: function () {
      // console.log('remove', this.idsData)
      let postData = {
        transferIds: []
      }
      if (this.detailId) {
        postData.transferIds.push(this.detailId)
        this.LoadingViewIsShow = true
        this.$store.dispatch('transfer/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            setTimeout(() => {
              this.step = 0
            }, 500)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
            this.LoadingViewIsShow = false
          }
        })
      } else {
        let isError = false
        if (this.idsData.selectIds.length === 0) {
          isError = true
        }
        if (isError) {
          return
        }
        postData.transferIds = this.idsData.selectIds
        this.LoadingViewIsShow = true
        this.$store.dispatch('transfer/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
            this.LoadingViewIsShow = false
          }
        })
      }
      this.idsData = null
    },
    transferDetailChangeEvent: function (data) {
      this.detailData = data
    },
    // 調撥狀態 transfer_status
    getTransferStatusFilterData: function () {
      this.transferStatusFilterData = [
        {
          value: 10,
          label: '待確認'
        },
        {
          value: 20,
          label: '已完成'
        }
      ]
    },
    /* 確認類別 */
    autoConfirmListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            console.log(settingDataArr)
            let deleteObj = []
            // let isHave = false
            settingDataArr.forEach((item, index) => {
              if (item.property === 'from_wh_name') {
                item.property = 'wh_name'
                item.displayName = '來源倉庫'
              } else if (item.property === 'from_owner_name') {
                item.property = 'owner_no'
                item.displayName = '來源貨主代碼'
              // } else if (item.property === 'owner_name') {
              //   isHave = true
              } else if (item.property === 'from_product_code' || item.property === 'from_product_name' || item.property === 'from_stock_num' || item.property === 'to_product_code' || item.property === 'to_product_name' || item.property === 'to_stock_loc_code' || item.property === 'to_stock_num' || item.property === 'to_product_expired_date' || item.property === 'to_inventory_note' || item.property === 'to_product_batch_no') {
                deleteObj.push(index)
              }
            })
            deleteObj.sort((a, b) => {
              return a - b
            })
            let deleteObjlength = deleteObj.length - 1
            for (let i = deleteObjlength; i >= 0; i--) {
              settingDataArr.splice(deleteObj[i], 1)
            }
            console.log(settingDataArr)
            this.saveLayoutColumns = settingDataArr || []
            setTimeout(() => {
              this.saveLayoutSettings()
            }, 1000)
          }
        }
      })
    }
  },
  created () {
    this.getGridLayout()
    this.getTransferStatusFilterData()
    this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`transfer/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: auto;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 71px - 16px);
  }
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .dataexportBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #515a6e;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .printBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8e96a6;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
.dataGridTab{
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  padding: 8px;
  height: auto;
  .totalCount {
    display: none;
    font-size: 28px;
    font-weight: bold;
  }
  &.hasTotalCount{
    font-size: 16px;
    padding: 4px 16px 0px;
    .totalCount {
      display: block;
    }
  }
  &.dark {
    color: #fff;
    border: 1px solid #fff;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
  &.light {
    color: #ACACAC;
    border: 1px solid #ACACAC;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
}
.autoConfirmModal {
  .modal-body {
    width: 100%;
    padding: 0 45px 24px;
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        .modal-title {
          color: #331e1e;
          font-size: 24px;
          display: flex;
          align-items: center;
          >span {
            white-space: nowrap;
          }
        }
        .modal-input {
            color: #331e1e;
            font-size: 16px;
            border-radius: 8px;
            padding: 4px 8px;
            border: 1px solid #D8D8D8;
            &.lg {
              font-size: 24px;
            }
        }
        .form-box {
          margin-top: 20px;
          .item {
            margin-bottom: 24px;
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: center;
      }
    }
  }
}
</style>
