<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 入庫明細查詢 -->
    <span>
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div class="d-flex">
          <span class="title-text">入庫明細查詢</span>
          <div class="operating-box ml-3">
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r">
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="dataexport"
          >匯出</Button>
          <Button
            class="solid-text-btn"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="id_id"
          :bgType="userInfo.themeColor"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
      </div>
    </span>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
//
export default {
  name: 'InventoryQuery',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    ColumnControlModal,
    DataexportModal
  },
  data () {
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
        // {
        //   property: 'SELECT', // 全選 (保留字)
        //   displayName: '',
        //   iilterType: null, // Input, Select, Daterange, Checkbox
        //   isOpt: true,
        //   filterData: null,
        //   filterFormat: null,
        //   valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        //   autoCompleteData: null,
        //   valueFormat: null,
        //   sortToggle: false, // 是否可排序
        //   sortValue: null, // null, asc, desc
        //   isNotRemove: true,
        //   resizeToggle: false, // 是否可resize
        //   minWidth: 'initial',
        //   editable: false // 資料在本欄位下是否可以被編輯
        // }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'inbound_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'inventory_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'product_quality') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'inbound_expect') {
        filterType = 'DaterangeNoHms'
        valueType = 'Date'
      }
      if (element.property === 'date_quantity_check') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_inbound') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_cancel') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_quality_check') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_put_away') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_put_away_confirm_display') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    settingData = defaultSettingData
    // console.log(settingData)
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '入庫明細查詢',
      //
      step: 0, // 0: 入庫單作業總覽 / 1:入庫單作業建檔 / 2:入庫單作業 detail / 3:clone
      // 入庫單作業總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      toRestFilter: false,
      saveLayoutColumns: [],
      inboundStatusFilterData: [],
      inventoryStatusFilterData: [],
      productQualityFilterData: [],
      // 入庫單作業建檔
      detailId: null
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    inventoryQuery: function () {
      let list = this.$store.state[`putInOperationSimple`][`inventoryQuery`]
      return list || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    saveLayoutColumns: {
      handler: function (val) {
        // console.log(val)
        if (val.length > 0) {
          this.settingData.columns = val
        }
      },
      deep: true
    },
    inventoryQuery: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    inboundStatusFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'inbound_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    inventoryStatusFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'inventory_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    productQualityFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'product_quality') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (item === 'inbound_status' && data[item].value.length > 0) {
              return
            }
            if (item === 'inventory_status' && data[item].value.length > 0) {
              return
            }
            if (item === 'product_quality' && data[item].value.length > 0) {
              return
            }
            if (data[item].logicalOperator === 'like') {
              filterAry.push([item, data[item].logicalOperator, `%${data[item].value}%`])
            } else {
              filterAry.push([item, data[item].logicalOperator, data[item].value])
            }
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'print':
          this.setPrintTrigger()
          break
      }
      this.optType = null
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      // console.log(pageNumber)
      this.isQuery = true
      this.idsData = null
      //
      let filter = [
        ['inbound_type', '=', 'inbound_normal'],
        ['copyfrom_inv_id', '=', null]
      ]
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      var postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      //
      this.$store.dispatch(`putInOperationSimple/detailSearch`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.isQuery = false
          this.LoadingViewIsShow = false
        } else {
          this.isQuery = false
          this.LoadingViewIsShow = false
        }
      })
    },
    // 入庫單狀態 inbound_status
    getInboundStatusFilterData: function () {
      this.inboundStatusFilterData = [
        {
          value: 10,
          label: '待驗收'
        },
        {
          value: 15,
          label: '入庫取消'
        },
        {
          value: 20,
          label: '待品檢'
        },
        {
          value: 30,
          label: '待上架'
        },
        {
          value: 40,
          label: '已上架'
        },
        {
          value: 50,
          label: '上架確認'
        }
      ]
    },
    // 入庫明細狀態 inventory_status
    getInventoryStatusFilterData: function () {
      this.inventoryStatusFilterData = [
        {
          value: 10,
          label: '待驗收'
        },
        {
          value: 15,
          label: '入庫取消'
        },
        {
          value: 20,
          label: '待品檢'
        },
        {
          value: 30,
          label: '待上架'
        },
        {
          value: 40,
          label: '已上架'
        },
        {
          value: 50,
          label: '上架確認'
        }
      ]
    },
    // 良品/不良品 product_quality
    getProductQualityFilterData: function () {
      this.productQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: async function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      console.log(data.postData)
      let postData = {
        pageNum: 1,
        pageSize: 9999999,
        baseCondition: [],
        orCondition: [],
        sort: [],
        excelHeaders: [],
        dbCols: []
      }

      let exportFields = []
      let displayNames = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          displayNames.push(element.property)

          exportFields.push(element.displayName)
        }
      })
      // 匯出範圍
      switch (data.postData.exportReach) {
        case 1:
          postData.baseCondition = [
            ['inbound_type', '=', 'inbound_normal'],
            ...this.filterAry
          ]
          postData.orCondition = []
          break
        case 2:
          await this.getIds()

          if (!this.idsData) {
            this.$Notice.warning({
              title: '請勾選要匯出的資料'
            })
            this.LoadingViewIsShow = false
            return
          }
          let listLength = this.idsData.list.length

          let ids = []
          for (let i = 0; i < listLength; i++) {
            ids.push(['inbound_id', '=', this.idsData.list[i].inbound_id])
          }
          postData.baseCondition = [['inbound_type', '=', 'inbound_normal'], ['inbound_id', 'in', ids]]
          postData.orCondition = []
          break
      }
      //
      postData.sort = this.sortAry
      postData.excelHeaders = exportFields
      postData.dbCols = displayNames
      postData.fileName = data.postData.exportFileName

      let dataexportRes = await this.$store.dispatch(`inventoryQuery/dataexport`, postData)
      // console.log(dataexportRes)
      if (dataexportRes.success) {
        // console.log('下載檔案')
        window.open(`${dataexportRes.donwloadLink}`)
      } else {
        this.$Notice.error({
          title: '匯出失敗',
          desc: dataexportRes.message,
          duration: 30
        })
      }
      this.LoadingViewIsShow = false
    },
    setPrintTrigger: function () {
      if (this.idsData.list.length < 1) {
        this.$Notice.warning({
          title: `請勾選要列印的項目`
        })
        return
      }
      // this.pickinglistModalToggle = true
      this.print()
    },
    print: function () {
      // console.log(this.idsData)
      let timeZone = -(new Date().getTimezoneOffset() / 60) // 使用者所在時區
      // console.log(timeZone)
      // var printType = parseInt(type)
      var ids = []
      this.idsData.list.forEach((item) => {
        ids.push(item.inbound_id)
      })
      this.LoadingViewIsShow = true
      // console.log(ids)
      var postData = {
        timezone_offset: timeZone,
        output_format: 'pdf',
        output_lang: 'zh-tw',
        report_type: 'Inspection_receipt_for_acceptance_singtai',
        inbound_ids: ids
      }
      //
      this.$store.dispatch('quantityinspection/quantityinspection', postData).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // 取下載link, 另開視窗
          let Result = r.respondCode.additionals[`inspection_list`] || []
          let downloadLinkList = { pdf_files_to_be_merge: [] }
          //
          Result.forEach((ele, idx) => {
            downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
          })
          this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList).then((r) => {
            // console.log(r)
            window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.download_link}`)
          })
        } else if (r.httpStatus !== 401) {
          this.$Notice.warning({
            title: '處理完畢',
            desc: r.respondCode.debugInfo,
            duration: 30
          })
        }
        this.LoadingViewIsShow = false
      })
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            this.saveLayoutColumns = settingDataArr || []
          }
        }
      })
    }
  },
  created () {
    //
    this.getGridLayout()
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getInboundStatusFilterData()
    this.getInventoryStatusFilterData()
    this.getProductQualityFilterData()
    // console.log(this.$store.state.auth.userInfo.ownerKey)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`putInOperationSimple/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 41px - 16px);
    &.have-tab-bar {
      height: calc(100% - 71px - 16px);
    }
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
</style>
