<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <h2 class="title">
      <span>輸入商品料號</span>
      <div class="btn-box r">
        <input type="text" placeholder="商品料號" class="bestInput" v-model="productCode" ref="productCode" v-on:keyup.enter="query"/>
      </div>
    </h2>
    <div class="detail">
      <div class="item">
        <div class="label">商品名稱</div>
        <div class="value">{{productName}}</div>
      </div>
      <div class="item">
        <div class="label">箱入</div>
        <div class="value">{{boxInNum}}</div>
      </div>
      <div class="item">
        <div class="label">板入</div>
        <div class="value">{{palletInNum}}</div>
      </div>
      <div class="item">
        <div class="label">擺放方式</div>
        <div class="value">{{palletPlacement}}</div>
      </div>
    </div>
    <Row class="body-box">
      <Col span="7">
        <Card class="mr-2">
          <h2 class="title">
            <span>入庫明細</span>
            <div class="btn-box r">
              <input type="text" placeholder="輸入入庫單號" class="bestInput pro" v-model="inboundNo" ref="inboundNoInput" v-on:keyup.enter="searchInboundNo"/>
            </div>
          </h2>
          <div class="table-container no-btn">
            <div class="d-flex thead">
              <div class="inbound_no">
                <span>入庫單號</span>
              </div>
              <div class="num">
                <span>通知量</span>
              </div>
            </div>
            <div class="tbody">
              <div
                class="trow"
                :class="{
                        check: ((inboundNo && inboundNo !== '' &&
                        (item.inbound_no === inboundNo)))
                    }"
                v-for="(item, index) in inboundDetailList"
                :key="`${item.inbound_no}_${index}`"
                @dblclick="inboundDetailDataEvent(item)"
              >
                <div class="inbound_no">
                  <span>{{item.inbound_no}}</span>
                </div>
                <div class="num">
                  <span>{{item.inform_num}}</span>
                </div>
              </div>
            </div>
          </div>
        </Card>
      </Col>
      <Col span="17">
        <Card class="ml-2">
          <div class="h-100">
            <h2 class="title">
              <span>驗收列表</span>
              <div class="btn-box r" v-show="inboundNo">
                <Button class="icon-btn-md" @click="removeAcceptance">
                  <font-awesome-icon icon="minus" />
                </Button>
              </div>
            </h2>
            <div class="table-container have-btn">
              <div class="d-flex thead">
                <div class="SELECTED">
                  <Checkbox v-model="acceptanceTrigger"></Checkbox>
                </div>
                <div class="inbound_no">
                  <span>入庫單號</span>
                </div>
                <div class="date">
                  <span>商品料號</span>
                </div>
                <div class="num">
                  <span>箱數</span>
                </div>
                <div class="num">
                  <span>驗收量</span>
                </div>
                <div class="date">
                  <span>批號</span>
                </div>
                <div class="date">
                  <span>效期</span>
                </div>
              </div>
              <div class="tbody">
                <div class="trow" :class="{'check': item.SELECTED}" v-for="(item, index) in acceptanceList" :key="`${item.box_no}_${index}`" @dblclick="updateAcceptance(item, index)">
                  <div class="SELECTED">
                    <Checkbox v-model="item.SELECTED" @on-change="setAcceptanceListSelected(item.SELECTED, index)"></Checkbox>
                  </div>
                  <div class="inbound_no">
                    <span>{{item.inbound_no}}</span>
                  </div>
                  <div class="date">
                    <span>{{item.product_code}}</span>
                  </div>
                  <div class="num">
                    <span>{{item.inbound_boxes}}</span>
                  </div>
                  <div class="num">
                    <span>{{item.inbound_num}}</span>
                  </div>
                  <div class="date">
                    <span>{{item.product_batch_no}}</span>
                  </div>
                  <div class="date">
                    <span>{{item.product_expired_date}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <Button class="dark-blue-btn mr-3" @click="goToAcceptance" :loading="goToAcceptanceLoading">
                驗收完成
              </Button>
            </div>
          </div>
        </Card>
      </Col>
    </Row>
    <!-- 新增入庫驗收明細 -->
    <Modal v-model="inboundDetailModal" width="485" :footer-hide="true" :closable="false" class="inboundDetailModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <div class="desc-box">
            入庫單號：{{inboundDetailData.inbound_no}} | 箱入數：{{boxInNum}}
            <div class="form-box">
              <div class="row-box">
                <div class="col-box">
                  <!-- 效期 -->
                  <div class="input-effect p-0">
                      <input
                      class="effect-19 x2"
                      :class="{'has-content': (inboundDetailData.product_expired_date && inboundDetailData.product_expired_date !== '')}"
                      type="text"
                      v-model="inboundDetailData.product_expired_date"
                      ref="productExpiredDate"
                      @keydown.enter="tabToEvent('inboundBoxes')">
                      <label>效期</label>
                      <span class="focus-border">
                          <i></i>
                      </span>
                  </div>
                  <!-- <FloatLabelBox
                    :config="{hasContent: (inboundDetailData.product_expired_date && inboundDetailData.product_expired_date!==''), label: `效期`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`product_expired_date`"
                    :defaultValue="inboundDetailData.product_expired_date"
                    :disabled="false"
                    @changeModelEvent="inputTxtChangeEvent"
                  ></FloatLabelBox> -->
                </div>
              </div>
              <div class="row-box">
                <div class="col-box">
                  <!-- 箱數 inbound_boxes -->
                  <div class="input-effect p-0">
                      <input class="effect-19"
                      :class="{'has-content': Number.isInteger(inboundDetailData.inbound_boxes), 'isError': error.inbound_boxes}"
                      type="number"
                      v-model.number="inboundDetailData.inbound_boxes"
                      ref="inboundBoxes"
                      @change="inboundBoxesInputChangeEvent"
                      @keydown.enter="tabToEvent('toDoInput')">
                      <label>箱數</label>
                      <span class="focus-border">
                          <i></i>
                      </span>
                      <small class="notice">{{inboundBoxesErrorMsg}}</small>
                  </div>
                  <!-- <input type="number" v-model="inboundDetailData.inbound_boxes">
                  <FloatLabelBox
                    :config="{ hasContent: Number.isInteger(inboundDetailData.inbound_boxes), label: `箱數 *`, hasClearButton: true, type: `InputNumber`, settings: {width: 250, height: 52} }"
                    :code="`inbound_boxes`"
                    :defaultValue="inboundDetailData.inbound_boxes"
                    :isError="error.inbound_boxes"
                    :isRequired="true"
                    @changeModelEvent="inboundBoxesInputNumChangeEvent"
                  ></FloatLabelBox> -->
                </div>
                <div class="col-box">
                  <!-- 驗收量 inbound_num -->
                  <div class="input-effect p-0">
                      <input
                      class="effect-19"
                      :class="{'has-content': Number.isInteger(inboundDetailData.inbound_num), 'isError': error.inbound_num}"
                      type="number"
                      v-model.number="inboundDetailData.inbound_num">
                      <label class="isRequired">驗收量 *</label>
                      <span class="focus-border">
                          <i></i>
                      </span>
                      <small class="notice" v-if="error.inbound_num">{{inboundNumErrorMsg}}</small>
                  </div>
                  <!-- <FloatLabelBox
                    :config="{ hasContent: Number.isInteger(inboundDetailData.inbound_num), label: `驗收量 *`, hasClearButton: true, type: `InputNumber`, settings: {width: 250, height: 52} }"
                    :errorMsg="inboundNumErrorMsg"
                    :code="`inbound_num`"
                    :defaultValue="inboundDetailData.inbound_num"
                    :isError="error.inbound_num"
                    :isRequired="true"
                    @changeModelEvent="inputNumChangeEvent"
                  ></FloatLabelBox> -->
                </div>
              </div>
              <div class="row-box">
                <div class="col-box">
                  <!-- 批號 product_batch_no -->
                  <div class="input-effect p-0">
                      <input
                      class="effect-19 x2"
                      :class="{'has-content': (inboundDetailData.product_batch_no && inboundDetailData.product_batch_no !== '')}"
                      type="text"
                      v-model="inboundDetailData.product_batch_no">
                      <label>批號</label>
                      <span class="focus-border">
                          <i></i>
                      </span>
                  </div>
                  <!-- <FloatLabelBox
                    :config="{hasContent: (inboundDetailData.product_batch_no && inboundDetailData.product_batch_no!==''), label: `批號`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`product_batch_no`"
                    :defaultValue="inboundDetailData.product_batch_no"
                    :disabled="false"
                    @changeModelEvent="inputTxtChangeEvent"
                  ></FloatLabelBox> -->
                </div>
              </div>
              <div class="row-box">
                <div class="col-box">
                  <!-- 輸入動作 -->
                  <input type="text" placeholder="輸入動作" class="getNoInput" v-model="toDo" ref="toDoInput" v-on:keyup.enter="setInboundDetailModalEvent"/>
                </div>
                <div class="col-box">
                  <div class="btn-box">
                    <Button shape="circle" @click="addAcceptancCancel">
                      取消
                      <font-awesome-icon icon="times" />
                    </Button>
                    <Button shape="circle" @click="addAcceptanceList" :loading="addAcceptanceIsLoading">
                      確定
                      <font-awesome-icon icon="check" />
                    </Button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
    <ComfirmSaveModal
      :comfirmSaveModal="comfirmSaveModal"
      :notic="notic"
      :saveBtn="saveBtn"
      :cancelBtn="cancelBtn"
      :canNotClone="true"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
  </div>
</template>

<script>
// import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
// import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
export default {
  name: 'PutInAcceptance',
  props: ['keyCode'],
  components: {
    LoadingView,
    // FloatLabelBox,
    ComfirmSaveModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    let userId = this.$store.state.auth.userInfo.userId
    return {
      companyId: companyId,
      whId: whId,
      userId: userId,
      //
      productCode: null, // 商品料號
      productName: null, // 商品名稱
      boxInNum: null, // 箱入
      palletInNum: null, // 板入
      palletPlacement: null, // 擺放方式
      /* query inboundDetail */
      toDo: null,
      inboundDetailModal: false,
      inboundDetailList: [],
      inboundNo: null,
      inboundDetailData: {
        inbound_no: null,
        inbound_boxes: null,
        inbound_num: null,
        product_batch_no: null,
        product_expired_date: null
      },
      error: {
        inbound_boxes: false,
        inbound_num: false,
        product_batch_no: false,
        product_expired_date: false
      },
      inboundBoxesErrorMsg: '不可為負',
      inboundNumErrorMsg: '此欄位為必填',
      //
      acceptanceList: [],
      updateAcceptanceIndex: null,
      acceptanceTrigger: false,
      saveAcceptanceError: false,
      addAcceptanceIsLoading: false,
      goToAcceptanceLoading: false,
      //
      comfirmSaveModal: false,
      notic: '驗收列表還有未驗收的項目，如不驗收資料將遺失，是否驗收？',
      saveBtn: '驗收',
      cancelBtn: '不驗收',
      //
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      timeZoneTimestamp: null,
      timeZone: null
    }
  },
  computed: {
    //
  },
  watch: {
    acceptanceTrigger: function (bol) {
      //
      this.acceptanceList.forEach((item) => {
        item.SELECTED = bol
      })
    },
    inboundDetailData: {
      handler: function (val) {
        if (val.inbound_boxes) {
          this.error.inbound_boxes = false
        }
        if (val.inbound_num) {
          this.error.inbound_num = false
        }
      },
      deep: true
    }
  },
  methods: {
    /* query */
    async query () {
      // console.log('query')
      if (this.productCode === 'goToAcceptance') {
        this.goToAcceptance()
        this.productCode = null
        return
      }
      //
      this.LoadingViewIsShow = true
      this.init()
      let postData = {
        page: 1,
        pageSize: 1000,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'inventory_status',
            queryValue: 10
          },
          {
            queryCondition: '=',
            queryField: 'inbound_type',
            queryValue: 52
          },
          {
            queryCondition: '=',
            queryField: 'product_code',
            queryValue: this.productCode
          }
        ],
        sort: []
      }
      //
      let r = await this.$store.dispatch('inventoryQuery/search', { postData: postData, companyId: this.companyId, whId: this.whId })
      // console.log(r)
      if (r.httpStatus === 200 || r.httpStatus === 201) {
        // console.log(r.respondCode.additionals.inboundDetail)
        let inboundDetailList = r.respondCode.additionals.inboundDetail
        // console.log(inboundDetailList)
        if (inboundDetailList.length === 0) {
          this.$Notice.warning({
            title: `查詢完畢`,
            desc: '此料號沒有可驗收的資料',
            duration: 30
          })
          this.LoadingViewIsShow = false
          this.tabToEvent('productCode')
          return
        }
        // 查詢商品資訊
        let productPostData = {
          page: 1,
          pageSize: 1,
          combinedCondition: 'AND',
          query: [
            {
              queryCondition: '=',
              queryField: 'company_id',
              queryValue: this.companyId
            },
            {
              queryCondition: '=',
              queryField: 'product_code',
              queryValue: this.productCode
            }
          ],
          sort: []
        }
        let productRes = await this.$store.dispatch('product/search', { postData: productPostData, companyId: this.companyId })
        console.log(productRes)
        if (productRes.httpStatus === 200 || productRes.httpStatus === 201) {
          let productData = productRes.respondCode.additionals.product[0]
          this.productName = productData.product_name
          this.boxInNum = productData.box_in_num
          this.palletInNum = productData.pallet_in_num
          this.palletPlacement = productData.pallet_placement
        }
        //
        this.inboundDetailList = inboundDetailList
        if (inboundDetailList.length === 1) {
          this.LoadingViewIsShow = false
          this.inboundNo = inboundDetailList[0].inbound_no
          this.searchInboundNo()
          return
        }
        this.tabToEvent('inboundNoInput')
      } else if (r.httpStatus !== 401) {
        this.$Notice.error({
          title: `查詢完畢`,
          desc: r.respondCode.debugInfo,
          duration: 30
        })
        this.tabToEvent('productCode')
      }
      this.LoadingViewIsShow = false
    },
    /* 選取入庫明細(刷單號) */
    searchInboundNo () {
      if (!this.inboundNo) {
        return
      }
      if (this.inboundNo === 'goToAcceptance') {
        this.goToAcceptance()
        this.inboundNo = null
        return
      }
      let inboundDetailLength = this.inboundDetailList.length
      let isSearch = false
      for (let i = 0; i < inboundDetailLength; i++) {
        if (this.inboundDetailList[i].inbound_no === this.inboundNo ||
          this.inboundDetailList[i].inbound_no === this.inboundNo) {
          console.log(this.inboundDetailData)
          this.inboundDetailData = {
            company_id: this.inboundDetailList[i].company_id,
            wh_id: this.inboundDetailList[i].wh_id,
            id_id: this.inboundDetailList[i].id_id,
            inbound_id: this.inboundDetailList[i].inbound_id,
            product_id: this.inboundDetailList[i].product_id,
            product_code: this.inboundDetailList[i].product_code,
            inbound_type: this.inboundDetailList[i].inbound_type,
            inbound_no: this.inboundDetailList[i].inbound_no,
            inbound_boxes: 0,
            inbound_num: 0,
            product_batch_no: this.inboundDetailList[i].product_batch_no,
            product_expired_date: null
          }
          if (this.inboundDetailList[i].product_expired_date) {
            let productExpiredDate = this.inboundDetailList[i].product_expired_date.split('-')
            let day = productExpiredDate[2].substring(0, 2)
            this.inboundDetailData.product_expired_date = `${productExpiredDate[0]}${productExpiredDate[1]}${day}`
          }
          // this.inboundDetailData.inbound_num = this.inboundDetailList[i].inform_num
          isSearch = true
        }
      }
      if (!isSearch) {
        this.$Notice.warning({
          title: `未找到對應單號`,
          duration: 30
        })
        return
      }
      this.setInboundDetailModal(true)
    },
    /* 選取入庫明細(click) */
    inboundDetailDataEvent (data) {
      console.log(data)
      this.inboundNo = data.inbound_no
      //
      this.inboundDetailData = {
        company_id: data.company_id,
        wh_id: data.wh_id,
        id_id: data.id_id,
        inbound_id: data.inbound_id,
        product_id: data.product_id,
        product_code: data.product_code,
        inbound_type: data.inbound_type,
        inbound_no: data.inbound_no,
        inbound_boxes: 0,
        inbound_num: 0,
        product_batch_no: data.product_batch_no,
        product_expired_date: null
      }
      if (data.product_expired_date) {
        let productExpiredDate = data.product_expired_date.split('-')
        let day = productExpiredDate[2].substring(0, 2)
        console.log(day)
        this.inboundDetailData.product_expired_date = `${productExpiredDate[0]}${productExpiredDate[1]}${day}`
      }
      // this.inboundDetailData.inbound_num = data.inform_num
      this.setInboundDetailModal(true)
    },
    // 取消新增驗收明細
    addAcceptancCancel () {
      this.setInboundDetailModal(false)
      this.initInboundDetailData()
      this.tabToEvent('inboundNoInput')
    },
    // 新增驗收明細
    async addAcceptanceList () {
      // 檢查
      let isError = false
      if (!this.inboundDetailData.inbound_num || this.inboundDetailData.inbound_num === '') {
        isError = true
        this.inboundNumErrorMsg = '此欄位為必填'
        this.error.inbound_num = true
      }
      if (this.inboundDetailData.inbound_num < 0) {
        isError = true
        this.inboundNumErrorMsg = '不可為負數'
        this.error.inbound_num = true
      }
      if (this.inboundDetailData.inbound_boxes < 0) {
        isError = true
        this.inboundBoxesErrorMsg = '不可為負數'
        this.error.inbound_boxes = true
      }
      if (isError) {
        this.$nextTick(() => this.$refs.toDoInput.focus())
        return
      }
      //
      if (!this.updateAcceptanceIndex && this.updateAcceptanceIndex !== 0) {
        let list = {
          INDEX: this.acceptanceList.length + 1,
          SELECTED: false,
          company_id: this.inboundDetailData.company_id,
          wh_id: this.inboundDetailData.wh_id,
          id_id: this.inboundDetailData.id_id,
          inbound_id: this.inboundDetailData.inbound_id,
          product_id: this.inboundDetailData.product_id,
          product_code: this.inboundDetailData.product_code,
          inbound_type: this.inboundDetailData.inbound_type,
          inbound_no: this.inboundDetailData.inbound_no,
          inbound_num: this.inboundDetailData.inbound_num,
          product_batch_no: this.inboundDetailData.product_batch_no,
          product_expired_date: this.inboundDetailData.product_expired_date
        }
        this.acceptanceList.push(list)
      } else {
        this.acceptanceList[this.updateAcceptanceIndex].inbound_num = this.inboundDetailData.inbound_num
        this.acceptanceList[this.updateAcceptanceIndex].product_batch_no = this.inboundDetailData.product_batch_no
        this.acceptanceList[this.updateAcceptanceIndex].product_expired_date = this.inboundDetailData.product_expired_date
        //
        this.updateAcceptanceIndex = null
      }
      this.setInboundDetailModal(false)
      this.initInboundDetailData()
      if (this.inboundDetailList.length === 1) {
        this.tabToEvent('productCode')
        return
      }
      this.tabToEvent('inboundNoInput')
    },
    // 更新驗收明細
    updateAcceptance (data, index) {
      this.updateAcceptanceIndex = index
      this.inboundDetailData = {
        SELECTED: true,
        inbound_no: data.inbound_no,
        inbound_num: data.inbound_num,
        product_batch_no: data.product_batch_no,
        product_expired_date: data.product_expired_date
      }
      this.setInboundDetailModal(true)
    },
    // 清空明細
    initInboundDetailData () {
      this.inboundDetailData = {
        inbound_no: null,
        inbound_boxes: null,
        inbound_num: null,
        product_batch_no: null,
        product_expired_date: null
      }
      this.error = {
        inbound_boxes: false,
        inbound_num: false,
        product_batch_no: false,
        product_expired_date: false
      }
    },
    init () {
      this.inboundDetailList = []
      this.productName = null
      this.boxInNum = null
      this.palletInNum = null
      this.palletPlacement = null
      this.inboundNo = null
      this.initInboundDetailData()
    },
    setInboundDetailModal (bol) {
      this.inboundDetailModal = bol
      if (bol) {
        this.$nextTick(() => {
          this.$refs.productExpiredDate.focus()
        })
      }
    },
    // 確認驗收
    async goToAcceptance () {
      this.LoadingViewIsShow = true
      // 檢查
      let isError = false
      // let total = 0
      let acceptanceList = {}
      let acceptanceLength = this.acceptanceList.length
      if (acceptanceLength === 0) {
        isError = true
        this.$Notice.error({
          title: `驗收失敗`,
          desc: '沒有可驗收的資料',
          duration: 30
        })
      }
      if (isError) {
        this.LoadingViewIsShow = false
        return
      }
      //
      for (let i = 0; i < acceptanceLength; i++) {
        if (acceptanceList[this.acceptanceList[i].id_id]) {
          acceptanceList[this.acceptanceList[i].id_id].push(this.acceptanceList[i])
        } else {
          acceptanceList[this.acceptanceList[i].id_id] = [this.acceptanceList[i]]
        }
      }
      // console.log(acceptanceList)
      let keyList = []
      Object.keys(acceptanceList).forEach((key, idx) => {
        keyList.push(key)
      })
      // console.log(keyList)
      let keyListLength = keyList.length
      try {
        for (let i = 0; i < keyListLength; i++) {
          let ListLength = acceptanceList[keyList[i]].length
          console.log(acceptanceList[keyList[i]])
          // console.log(ListLength)
          for (let index = 0; index < ListLength; index++) {
            console.log(index)
            if (index === 0) {
              // console.log(acceptanceList[keyList[i]][0])
              await this.updateInboundDetailEvent(acceptanceList[keyList[i]][0])
            } else {
              // console.log(acceptanceList[keyList[i]][index])
              await this.saveInboundDetailEvent(acceptanceList[keyList[i]][index], index)
            }
          }
        }
      } catch (error) {
        console.log(error)
      }
      //
      if (!this.saveAcceptanceError) {
        this.$Notice.success({
          title: `驗收完畢`,
          duration: 30
        })
        this.acceptanceList = []
        this.inboundNo = null
        this.initInboundDetailData()
        if (this.inboundDetailList.length === 1) {
          this.init()
          this.$nextTick(() => {
            this.$refs.productCode.focus()
            this.$refs.productCode.select()
          })
          this.saveAcceptanceError = false
          this.LoadingViewIsShow = false
          return
        }
        this.query()
      } else {
        this.saveAcceptanceError = false
        this.LoadingViewIsShow = false
      }
    },
    async saveInboundDetailEvent (data, index) {
      // console.log(data)
      let postData = {
        user_id: this.userId,
        company_id: data.company_id,
        wh_id: data.wh_id,
        inbound_id: data.inbound_id,
        product_id: data.product_id,
        inbound_type: data.inbound_type,
        actual_num: 0,
        inventory_status: 30,
        inbound_sn: index,
        isAutoSplitDetailByPalletInNum: true,
        isAutoAssignStorage: true
      }
      if (data.inbound_num) {
        postData.inbound_num = data.inbound_num
        postData.inform_num = data.inbound_num
      }
      if (data.product_batch_no) {
        postData.product_batch_no = data.product_batch_no
      }
      if (data.product_expired_date) {
        let productExpiredDate = data.product_expired_date
        postData.product_expired_date = `${productExpiredDate.substring(0, 4)}-${productExpiredDate.substring(4, 6)}-${productExpiredDate.substring(6, 8)}`
      }
      console.log(postData)
      let creatRes = await this.$store.dispatch(`inboundDetail/create`, postData)
      console.log(creatRes)
      if (creatRes.httpStatus !== 200 && creatRes.httpStatus !== 201 && creatRes.httpStatus !== 401) {
        this.saveAcceptanceError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆，驗收明細新增失敗`,
          desc: `${creatRes.respondCode.debugInfo}`,
          duration: 30
        })
      }
    },
    async updateInboundDetailEvent (data) {
      let postData = {
        inventory_status: 30,
        inbound_num: data.inbound_num || 0,
        product_batch_no: data.product_batch_no || 'null',
        isAutoSplitDetailByPalletInNum: true,
        isAutoAssignStorage: true
      }
      if (data.product_expired_date) {
        let productExpiredDate = data.product_expired_date
        postData.product_expired_date = `${productExpiredDate.substring(0, 4)}-${productExpiredDate.substring(4, 6)}-${productExpiredDate.substring(6, 8)}`
      } else {
        postData.product_expired_date = 'null'
      }
      console.log(postData)
      let updateRes = await this.$store.dispatch(`inboundDetail/update`, { postData: postData, detailId: data.id_id })
      console.log(updateRes)
      if (updateRes.httpStatus !== 200 && updateRes.httpStatus !== 201 && updateRes.httpStatus !== 401) {
        this.saveAcceptanceError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆，驗收明細新增失敗`,
          desc: `${updateRes.respondCode.debugInfo}`,
          duration: 30
        })
      }
    },
    removeAcceptance () {
      let acceptanceLength = this.acceptanceList.length - 1
      console.log(acceptanceLength)
      for (let i = acceptanceLength; i >= 0; i--) {
        console.log(i)
        console.log(this.acceptanceList[i])
        if (this.acceptanceList[i].SELECTED) {
          this.acceptanceList.splice(i, 1)
        }
      }
    },
    setAcceptanceListSelected (bol, index) {
      this.acceptanceList[index]['SELECTED'] = bol
      this.acceptanceList = JSON.parse(JSON.stringify(this.acceptanceList))
    },
    inputTxtChangeEvent: function (data) {
      //
      this.inboundDetailData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      // console.log(data)
      this.inboundDetailData[data.code] = data.val
    },
    inboundBoxesInputNumChangeEvent: function (data) {
      console.log(data)
      this.inboundDetailData[data.code] = data.val || null
      this.inboundDetailData.inbound_num = this.boxInNum ? data.val * this.boxInNum : data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this.inboundDetailData[data.code] = data.val
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    setInboundDetailModalEvent: function () {
      if (this.toDo === 'addAcceptancCancel') {
        this.addAcceptancCancel()
        this.toDo = null
      }
      if (this.toDo === 'addAcceptanceList') {
        this.addAcceptanceList()
        this.toDo = null
      }
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
      this.acceptanceList = []
      this.searchInboundNo()
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.goToAcceptance()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
    },
    tabToEvent: function (val) {
      this.$nextTick(() => {
        this.$refs[val].focus()
        this.$refs[val].select()
      })
    },
    inboundBoxesInputChangeEvent: function () {
      this.inboundDetailData.inbound_num = this.boxInNum ? this.inboundDetailData.inbound_boxes * this.boxInNum : this.inboundDetailData.inbound_boxes
    }
  },
  created () {
    // focus在出庫單輸入框
    this.$nextTick(() => this.$refs.productCode.focus())
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  padding: 25px 30px;
  overflow: auto;

  .row {
    display: flex;
    width: 100%;
    height: 100%;

    .col {
      flex: 1;
      height: 100%;
    }

    .col-3 {
      flex: 0 0 25%;
      width: 25%;
      height: 100%;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    >span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }

    .btn-box.r {
      display: flex;
      flex: 1;
      padding-left: 16px;
      align-items: center;
      .bestInput {
        display: block;
        width: 250px;
        font-size: 16px;
        color: #9d9d9d;
        padding: 1.5px 10px;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        outline: 1px solid transparent;

        &.pro {
          width: 100%;
        }
      }
    }

    .btn-box.l {
      width: auto;
      .all {
        font-size: 16px;
        color: #333;
        font-weight: 400;
      }
    }

    /deep/.ivu-btn.icon-btn-md {
      border: 2px solid;
      background-color: transparent;
      padding: 1px 0 0 0;
      border-radius: 50%;
      margin-bottom: 0;
      width: 26px;
      height: 26px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      // &.solid {
      //   color: #ffffff;
      //   background-color: #354361;
      //   border: 2px solid #354361;
      // }
      > span {
        font-size: 12.5px;
      }
    }
  }
  .detail {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    .item {
      display: flex;
      font-size: 16px;
      font-weight: 300;
      color: #000000;
      position: relative;

      .label {
        padding-right: 16px;
      }

      .value {
        padding-right: 40px;
        min-width: 80px;

        /deep/.ivu-select-single .ivu-select-selection {
          border-radius: 0;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
        }

        /deep/.ivu-select-single .ivu-select-selection .ivu-select-placeholder {
          font-size: 16px;
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 24px;
        background: #979797;
        right: 20px;
        top: 0;
      }

      &:last-of-type {
        &:before {
          display: none;
        }
      }
    }
  }

  .body-box {
    width: 100%;
    height: calc(100% - 130px);

    /deep/.ivu-col {
      height: 100%;
    }

    /deep/.ivu-card {
      height: 100%;
    }

    /deep/.ivu-card-body {
      height: 100%;
    }

    /deep/.ivu-row {
      height: calc(100% - 66px);
    }
  }
}

.table-container {
  width: 100%;

  &.no-btn {
    height: calc(100% - 64px);
    .inbound_no {
      display: inline-block;
      padding: 8px;
      width: 195px;
    }
  }

  &.have-btn {
    height: calc(100% - 66px - 64px);
    .inbound_no {
      display: inline-block;
      padding: 8px;
      width: 150px;
    }
  }

  &.inDrawer {
    overflow-x: scroll;
    height: calc(100% - 22px - 4px);
  }

  .thead {
    width: 100%;
    background-color: rgba(53, 67, 97, 0.1);
    border-bottom: 2px solid #fff;
    border-radius: 6px;

    span {
      color: #333;
      font-size: 15px;
    }

    /deep/.ivu-checkbox-inner {
      border-color: #dcdee2;
      background-color: transparent;
    }

    /deep/.ivu-checkbox-inner:after {
      border: 2px solid #333;
      border-top: 0;
      border-left: 0;
    }

    // .product_code, .order_num, .boxing_num{
    //   text-align: center;
    // }
  }

  .tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 40px);

    .trow {
      border-bottom: 2px solid #fff;

      &:nth-of-type(2n + 1) {
        background-color: #fbfaf9;
      }

      &:nth-of-type(2n + 2) {
        background-color: #f4f2f1;
      }

      /deep/.ivu-checkbox-inner {
        border-color: #dcdee2;
        background-color: transparent;
      }

      /deep/.ivu-checkbox-inner:after {
        border: 2px solid #333;
        border-top: 0;
        border-left: 0;
      }

      span {
        color: #333;
        font-size: 15px;
      }

      &.more {
        background-color: #dca558;
      }

      &.check {
        background-color: #d1c2af;
      }

      &.isDisable {
        background-color: #fff;
        border: 1px solid #dcdee2;
        margin-bottom: 2px;
      }
    }
  }

  .SELECTED {
    display: inline-block;
    padding: 8px;
    width: 35px;
  }

  .num {
    display: inline-block;
    padding: 8px;
    width: 75px;
  }

  .date {
    display: inline-block;
    padding: 8px;
    width: 130px;
  }
}

/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  > span {
    font-size: 12.5px;
  }
}

.search-btn {
  width: 80px;
  height: 32px;
  border-radius: 20px;
  background-color: #354361;
  margin-left: 76px;
  margin-top: 40px;
  margin-bottom: 65px;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.light-blue-btn {
  width: 80px;
  height: 32px;
  border-radius: 20px;
  background-color: #8e96a6;
  margin: 0 24px 48px;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: 2px solid #8e96a6;
    color: #8e96a6;
    background-color: #ffffff;

    svg {
      color: #8e96a6;
    }
  }
}

/deep/.dark-blue-btn {
  width: 116px;
  height: 32px;
  border-radius: 20px;
  background-color: #354361;
  margin: 16px auto;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .returnBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #7c894f;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .printBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8e96a6;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .print-select-box {
    position: absolute;
    padding: 0 16px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: #ffffff;
    min-width: 57px;
    max-width: 380px;
    height: 55px;
    right: 40px;
    bottom: 40px;
    border-radius: 45px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    span {
      display: inline-block;
      font-size: 18px;
      padding-right: 32px;
      color: #333;
      cursor: pointer;

      &:first-child {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          right: 16px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #333;
        }
      }

      &:hover {
        color: #8e96a6;
      }
    }
  }
}

.switch {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 0 7px;

  .label-box {
    font-size: 16px;
    color: #333;
  }
}

.drawer-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
}

.green-btn {
  width: auto;
  border-radius: 20px;
  background-color: #7c894f;
  // margin-left: auto;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  margin-top: 24px;
  &[disabled] {
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
  }
}

.dark-blue-btn {
  width: auto;
  border-radius: 20px;
  background-color: #354361;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 32px 0 0 auto;
  &[disabled] {
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
  }
}

.inboundDetailModal {
  .modal-body {
    display: flex;
    width: 100%;
    padding: 16px;

    .icon-box {
      width: 141px;
      height: auto;
      display: flex;
      align-items: flex-end;
      img {
        width: auto;
        width: 110px;
        height: 115px;
        object-fit: cover;
      }
    }
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        flex: 1;
        color: #000;
        font-size: 16px;

        .form-box {
          margin-top: 20px;
          .row-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            min-height: 50px;
            margin-bottom: 15px;
            .col-box {
              display: flex;
              align-items: center;
            }
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1;
        height: 50px;
        button {
          margin-right: 15px;
          font-size: 14px;

          svg {
            color: #9ca29c;
          }
        }
      }
    }
  }
}
.lastBoxDetailModal {
  .modal-body {
    display: flex;
    width: 100%;
    padding: 12px 30px;
    .icon-box {
      width: 141px;
      height: 128px;
      img {
        width: auto;
        height: 115px;
        object-fit: cover
      }
    }
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        flex: 1;
        height: 95px;
        color: #000;
        font-size: 16px;
      }
      .btn-box {
        display: flex;
        flex: 1;
        height: 32px;
        button {
          margin-right: 15px;
          font-size: 14px;
          svg {
            color: #9ca29c;
          }
        }
      }
    }
  }
}
.font-weight-400 {
  font-weight: 400;
}
.input-effect{
  position: relative;
  margin-top: 16px;
}
.effect-19{
  width: 100%;
  border: 1px solid #354361;
  color: #354361;
  padding: 7px 14px;
  transition: all .4s;
  background: transparent;
  position: relative;
  z-index: 1;
  &.x2 {
    width: 420px;
  }
  ~.focus-border {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      left: 0;
      top: 0;
      &::before, &::after {
          content: "";
          position: absolute;
          top: -1px;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: #1f7adb;
          transition: all .4s;
          z-index: 1;
      }
      &::after {
          top: auto;
          bottom: 0;
      }
      i{
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          &::before, &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 2px;
              height: 0;
              background-color: #1f7adb;
              transition: all .6s;
              z-index: 1;
          }
          // &::before{
          //     left: 1rem;
          // }
          &::after {
              left: auto;
              right: 0;
          }
      }
  }
  ~label{
      position: absolute;
      left: 14px;
      width: 100%;
      top: 8px;
      color: #354361;
      transition: all .3s;
      z-index: 0;
      letter-spacing: 0.5px;
      &.isRequired {
        color: #1f7adb;
      }
  }
  ~.notice{
      position: absolute;
      color: #a71b05;
      bottom: -21px;
      left: 14px;
      opacity: 0;
      transition: all .3s;
      &.warning {
          opacity: 1;
          transition: all .3s;
      }
  }
  &.has-content {
      ~label{
          top: -20px;
          left: 14px;
          font-size: 12px;
          color: #354361;
          transition: all .3s;
      }
  }
  &.isError {
    ~label{
      color: #a71b05;
      transition: all .3s;
    }
    ~.notice{
      opacity: 1;
      transition: all .3s;
    }
  }
  &:focus, &.has-content:focus {
      position: relative;
      outline: none;
      ~.focus-border {
          &::before, &::after {
              left: 0;
              width: 100%;
              transition: all .4s;
          }
          i {
              &::before, &::after {
                  top: -1px;
                  height: 100%;
                  transition: all .6s;
              }
          }
      }
      ~label{
          top: -20px;
          left: 14px;
          font-size: 12px;
          color: #1f7adb;
          transition: all .3s;
      }
  }
}
</style>
