<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 入庫作業總覽 -->
    <span v-show="step===0">
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div>
          <span class="title-text">入庫作業總覽</span>
          <div class="operating-box">
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="toPutInOperationSimpleAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="刪除">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              @click="comfirmRemove">
                <font-awesome-icon icon="file-excel" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="匯入檔案">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
              }"
              @click="showImportModal">
                <font-awesome-icon icon="cloud-upload-alt" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r">
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'putInAcceptance' ? 'isFocus' : '',
              status_10>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('putInAcceptance')"
          >待驗收
          <span class="totalCount">{{status_10}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'putInQuality' ? 'isFocus' : '',
              status_20>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('putInQuality')"
          >待品檢
          <span class="totalCount">{{status_20}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'putInShelves' ? 'isFocus' : '',
              status_30>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('putInShelves')"
          >待上架
          <span class="totalCount">{{status_30}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'putInShelvesClose' ? 'isFocus' : '',
              status_50>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('putInShelvesClose')"
          >已上架
          <span class="totalCount">{{status_50}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'putInOperation' ? 'isFocus' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('putInOperation')"
          >ALL</Button>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="dataexport"
          >匯出</Button>
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="getIds('print')"
          >列印報表</Button>
          <Dropdown
          trigger="click"
          class="solid-text-bropdown mr-3"
          :class="userInfo.themeColor"
          @on-click="changeInboundStasusEvent">
              狀態修改
              <Icon type="ios-arrow-down"></Icon>
              <DropdownMenu slot="list">
                  <DropdownItem name="accept">驗收</DropdownItem>
                  <DropdownItem name="qualityInspection">品檢</DropdownItem>
                  <DropdownItem name="putaway">上架</DropdownItem>
                  <DropdownItem name="backAccept">退回入庫</DropdownItem>
                  <DropdownItem name="backQualityInspection">退回驗收</DropdownItem>
              </DropdownMenu>
          </Dropdown>
          <Button
            class="solid-text-btn"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
        </div>
      </div>
      <div class="body-box have-tab-bar">
        <DataGrid
          idKeyName="inbound_id"
          :bgType="userInfo.themeColor"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- print btn -->
        <!-- <div class="printBtn" @click="getIds('print')">
          <font-awesome-icon icon="print" size="2x" />
        </div> -->
      </div>
    </span>
    <!-- 入庫單作業建檔 -->
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text" v-if="step===1">入庫單建檔</span>
        <span class="title-text" v-if="step===2">驗收作業</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="刪除">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              v-if="step===2"
              @click="comfirmRemove">
              <font-awesome-icon icon="file-excel" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <PutInStep
          v-show="step>1"
          :step="step"
          :data="detailData"
          @setInboundStasus="setInboundStasus"
          ></PutInStep>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button>
        </div>
      </h2>
      <div class="body-box">
        <PutInOperationSimpleAdd
          ref="setInboundEvent"
          :step="step"
          :detailId="detailId"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          :inboundType="inboundType"
          v-on:toStepEvent="toStepEvent"
          v-on:backEvent="setStep"
          v-on:inboundDetailChangeEvent="inboundDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></PutInOperationSimpleAdd>
      </div>
    </span>
    <!-- 品檢作業 -->
    <span v-if="step===4">
      <h2
      class="title"
      :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">品檢作業</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <PutInStep
          :step="step"
          :data="detailData"
          @setInboundStasus="setInboundStasus"
          ></PutInStep>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button>
        </div>
      </h2>
      <div class="body-box">
        <PutInQualityAdd
          ref="setInboundEvent"
          :step="step"
          :detailId="detailId"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:backEvent="setStep"
          v-on:inboundDetailChangeEvent="inboundDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></PutInQualityAdd>
      </div>
    </span>
    <!-- 上架作業 -->
    <span v-if="step===5">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">上架作業</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="刪除">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              v-if="step===2"
              @click="comfirmRemove">
              <font-awesome-icon icon="file-excel" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <PutInStep
          :step="step"
          :data="detailData"
          @setInboundStasus="setInboundStasus"
          ></PutInStep>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button>
        </div>
      </h2>
      <div class="body-box">
        <PutInShelvesAdd
          ref="setInboundEvent"
          :step="step"
          :detailId="detailId"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:inboundDetailChangeEvent="inboundDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></PutInShelvesAdd>
      </div>
    </span>
    <!-- 確認上架作業 -->
    <span v-if="step===6">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">確認上架作業</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <PutInStep
          :step="step"
          :data="detailData"
          @setInboundStasus="setInboundStasus"
          ></PutInStep>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button>
        </div>
      </h2>
      <div class="body-box">
        <PutInShelvesAdd
          ref="setInboundEvent"
          :step="step"
          :detailId="detailId"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:inboundDetailChangeEvent="inboundDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></PutInShelvesAdd>
      </div>
    </span>
    <!-- 上架作業結束 -->
    <span v-if="step===7">
      <h2
      class="title"
      :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">上架作業結束</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <PutInStep
          :step="step"
          :data="detailData"
          @setInboundStasus="setInboundStasus"
          ></PutInStep>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button>
        </div>
      </h2>
      <div class="body-box">
        <PutInShelvesCloseAdd
          ref="setInboundEvent"
          :step="step"
          :detailId="detailId"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:backEvent="setStep"
          v-on:inboundDetailChangeEvent="inboundDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></PutInShelvesCloseAdd>
      </div>
    </span>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
    <!-- import modal -->
    <ImportModal
      :importModal="importModalToggle"
      :importModalTitle="importModalTitle"
      :importExampleFile="importExampleFile"
      :importUploadURL="importUploadURL"
      :importLoadingViewIsShow="importLoadingViewIsShow"
      :autoAddProduct="true"
      v-on:importErrorEvent="errorRequest"
      v-on:beforeUploadEvent="beforeUploadEvent"
      v-on:importSuccessEvent="importSuccessEvent"
      v-on:setImportModalEvent="setImportModalEvent"
    ></ImportModal>
    <!-- 列印報表 CommonPickinglist modal -->
    <CommonPickinglistModal
      :pickinglistModal="pickinglistModalToggle"
      :pickinglistLoadingViewIsShow="pickinglistLoadingViewIsShow"
      :reportType="reportType"
      v-on:printEvent="printEvent"
      v-on:setPickinglistModalEvent="setPickinglistModalEvent"
    ></CommonPickinglistModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import PutInOperationSimpleAdd from './components/PutInOperationSimpleAdd'
import PutInQualityAdd from './components/PutInQualityAdd'
import PutInShelvesAdd from './components/PutInShelvesAdd'
import PutInShelvesCloseAdd from './components/PutInShelvesCloseAdd'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
import ImportModal from '@/components/ImportModal/ImportModal'
import CommonPickinglistModal from '@/components/CommonPickinglistModal/CommonPickinglistModal'
import PutInStep from '@/components/PutInStep/PutInStep'
//
export default {
  name: 'PutInOperationSimple',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    PutInOperationSimpleAdd,
    PutInQualityAdd,
    PutInShelvesAdd,
    PutInShelvesCloseAdd,
    ComfirmRemoveModal,
    ColumnControlModal,
    DataexportModal,
    ImportModal,
    CommonPickinglistModal,
    PutInStep
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'inbound_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'inbound_type') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'inbound_expect') {
        filterType = 'DaterangeNoHms'
        valueType = 'Date'
      }
      if (element.property === 'date_quantity_check') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_inbound') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_cancel') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_quality_check') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_put_away') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_put_away_confirm_display') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    // console.log(settingData)
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      // 欄位自訂
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '入庫作業總覽',
      // importModal
      importModalToggle: false,
      importModalTitle: '入庫單',
      importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.putInOperationSimple.import}`,
      importExampleFile: 'INBOUND_IMPORT',
      importLoadingViewIsShow: false,
      /* pickinglist modal */
      pickinglistModalToggle: false,
      pickinglistLoadingViewIsShow: false,
      // 報表種類
      reportType: 'inbound',
      //
      step: 0, // 0: 入庫單作業總覽 / 1:入庫單作業建檔 / 2:入庫單作業 detail / 3:clone
      // 入庫單作業總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      cloneData: null,
      isQuery: false,
      inboundStatusFilterData: [],
      inboundTypeFilterData: [],
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      toRestFilter: false,
      saveLayoutColumns: [],
      // 入庫單作業建檔
      detailId: null,
      detailData: null,
      // 切換總覽
      changeDataList: 'putInAcceptance',
      // 切換內頁tab
      showInpageTab: 'main',
      status_10: 0,
      status_20: 0,
      status_30: 0,
      status_50: 0,
      inboundType: 'inbound_normal'
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    putInOperationSimpleList: function () {
      return this.$store.state[`putInOperationSimple`][`putInOperationSimpleList`] || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    saveLayoutColumns: {
      handler: function (val) {
        // console.log(val)
        if (val.length > 0) {
          this.settingData.columns = val
        }
      },
      deep: true
    },
    putInOperationSimpleList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (oldVal === 0) {
        this.showInpageTab = 'main'
      } else {
        this.showInpageTab = 'details'
      }
      if (newVal === 0) {
        //
        this.cloneData = null
        this.reloadDataGrid()
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 4 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 5 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 6 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 7 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    inboundStatusFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'inbound_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    inboundTypeFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'inbound_type') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    changeDataList: {
      handler: function (val) {
        if (val) {
          this.resetFilter()
        }
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      console.log('篩選 : ', data)
      let filterAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (item === 'inbound_status' && data[item].value.length > 0) {
              return
            }
            if (item === 'inbound_type' && data[item].value.length > 0) {
              if (typeof (data[item].value) === 'string') {
                filterAry.push([item, data[item].logicalOperator, `${data[item].value}`])
              }
              return
            }
            if (data[item].logicalOperator === 'like') {
              filterAry.push([item, data[item].logicalOperator, `%${data[item].value}%`])
            } else {
              filterAry.push([item, data[item].logicalOperator, data[item].value])
            }
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
      this.getInboundCountStatus(this.settingData.page.pageSize, 1)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
        case 'print':
          this.setPrintTrigger()
          break
        case 'accept':
          this.setInboundStasus('accept')
          break
        case 'qualityInspection':
          this.setInboundStasus('qualityInspection')
          break
        case 'putaway':
          this.setInboundStasus('putaway')
          break
        case 'backAccept':
          this.setInboundStasus('backAccept')
          break
        case 'backQualityInspection':
          this.setInboundStasus('backQualityInspection')
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 入庫單作業 detail
      this.LoadingViewIsShow = true
      this.detailId = data.inbound_id
      this.detailData = data
      switch (data.inbound_status) {
        case 10:
          this.step = 2
          break
        case 15:
          this.step = 2
          break
        case 20:
          this.step = 4
          break
        case 30:
          this.step = 5
          break
        case 40:
          this.step = 6
          break
        case 50:
          this.step = 7
          break
      }
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    // 前往入庫單作業總覽
    toPutInOperationSimple: function () {
      this.step = 0
    },
    back: function () {
      //
      this.detailId = null
      this.toPutInOperationSimple()
    },
    // 前往入庫單作業建檔
    toPutInOperationSimpleAdd: function () {
      this.step = 1
    },
    toStepEvent: function (data, step) {
      // console.log(data)
      this.detailId = data.inbound_id
      if (step) {
        this.step = step
      }
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      // console.log('Ok')
      this.getIds('remove')
    },
    // remove
    remove: function () {
      // console.log('remove', this.idsData)
      // console.log('remove', this.detailId)
      let postData = {
        inboundIds: []
      }
      // 內頁單筆刪除
      if (this.detailId) {
        postData.inboundIds.push(this.detailId)
        this.$store.dispatch('putInOperationSimple/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            setTimeout(() => {
              this.step = 0
            }, 500)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
          }
        })
      } else {
        // 總覽多筆刪除
        // console.log(this.idsData)
        let idsLength = this.idsData.list.length
        let isError = false
        for (let i = 0; i < idsLength; i++) {
          if (this.idsData.list[i].inbound_status >= 30) {
            isError = true
            this.$Notice.warning({
              title: `第${this.idsData.list[i].INDEX}筆資料`,
              desc: '不可刪除，請取消選取',
              duration: 30
            })
          }
        }
        if (this.idsData.selectIds.length === 0) {
          isError = true
        }
        if (isError) {
          return
        }
        //
        postData.inboundIds = this.idsData.selectIds
        this.$store.dispatch('putInOperationSimple/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
            this.getInboundCountStatus(this.settingData.page.pageSize, 1)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
          }
        })
      }
      this.idsData = null
    },
    add: function () {
      //
      this.detailId = null
      this.toPutInOperationSimpleAdd()
    },
    // 前往入庫單作業建檔 : clone
    toPutInOperationSimpleClone: function () {
      this.getIds()
      this.optType = 'clone'
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    setStep: function (step) {
      this.step = step
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      this.getInboundCountStatus(this.settingData.page.pageSize, 1)
    },
    reload: function () {
      this.LoadingViewIsShow = true
      this.$refs.setInboundEvent.setInboundEvent('reload')
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      // console.log(pageNumber)
      this.isQuery = true
      this.idsData = null
      //
      var filter = []
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      var postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      switch (this.changeDataList) {
        case 'putInOperation':
          postData.baseCondition = [...filter]
          break
        case 'putInAcceptance':
          postData.baseCondition = [
            ...filter,
            ['inbound_status', '=', 10]
          ]
          break
        case 'putInQuality':
          postData.baseCondition = [
            ...filter,
            ['inbound_status', '=', 20]
          ]
          break
        case 'putInShelves':
          postData.baseCondition = [
            ...filter,
            ['inbound_status', '=', 30]
          ]
          break
        case 'putInShelvesClose':
          postData.baseCondition = [
            ...filter,
            ['inbound_status', '=', 50]
          ]
          break
      }
      //
      this.$store.dispatch(`putInOperationSimple/query`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.isQuery = false
          this.LoadingViewIsShow = false
        } else {
          this.isQuery = false
          this.LoadingViewIsShow = false
        }
      })
    },
    changeDataListEvent: function (val) {
      this.changeDataList = val
    },
    changeInboundStasusEvent (name) {
      // console.log(name)
      this.getIds(name)
    },
    setInboundStasus: function (data) {
      console.log(this.detailData)
      // console.log(data)
      let isError = false
      let postData = {
        inboundIds: []
      }
      switch (data) {
        case 'accept':
          if (this.detailId) {
            if (this.detailData.inbound_status !== 10) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，待驗收可作修改',
                duration: 30
              })
            } else {
              this.$refs.setInboundEvent.setInboundEvent('setInboundStasus')
              postData.inboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].inbound_status !== 10) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.inboundIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('putInOperationSimple/accept', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '成功'
                })
                if (this.detailId) {
                  this.step = 4
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
        case 'qualityInspection':
          if (this.detailId) {
            if (this.detailData.inbound_status !== 20) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，待品檢可作修改',
                duration: 30
              })
            } else {
              this.$refs.setInboundEvent.setInboundEvent('setInboundStasus')
              postData.inboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].inbound_status !== 20) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.inboundIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('putInOperationSimple/qualityInspection', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '成功'
                })
                if (this.detailId) {
                  this.step = 5
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
        case 'putaway':
          if (this.detailId) {
            if (this.detailData.inbound_status !== 30) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有，待驗收、待上架可作修改',
                duration: 30
              })
            } else {
              this.$refs.setInboundEvent.setInboundEvent('setInboundStasus')
              postData.inboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            // for (let i = 0; i < idsLength; i++) {
            //   if (this.idsData.list[i].inbound_status !== 30) {
            //     isError = true
            //     this.$Notice.warning({
            //       title: `第${this.idsData.list[i].INDEX}筆資料`,
            //       desc: '不可修改狀態，請取消選取',
            //       duration: 30
            //     })
            //   }
            // }
            if (idsLength === 0) {
              isError = true
            }
            postData.inboundIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('putInOperationSimple/putaway', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '成功'
                })
                if (this.detailId) {
                  this.step = 7
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
        case 'backAccept':
          if (this.detailId) {
            if (this.detailData.inbound_status !== 20) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有待品檢可作修改',
                duration: 30
              })
            } else {
              this.$refs.setInboundEvent.setInboundEvent('setInboundStasus')
              postData.inboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].inbound_status !== 20) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.inboundIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('putInOperationSimple/backAccept', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '成功'
                })
                if (this.detailId) {
                  this.step = 2
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
        case 'backQualityInspection':
          if (this.detailId) {
            if (this.detailData.inbound_status !== 30) {
              isError = true
              this.$Notice.warning({
                title: `不可修改狀態`,
                desc: '只有待上架可作修改',
                duration: 30
              })
            } else {
              this.$refs.setInboundEvent.setInboundEvent('setInboundStasus')
              postData.inboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].inbound_status !== 30) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可修改狀態，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.inboundIds = this.idsData.selectIds
          }
          if (isError) {
            return
          }
          //
          this.LoadingViewIsShow = true
          setTimeout(() => {
            this.$store.dispatch('putInOperationSimple/backQualityInspection', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                // 警告提示
                this.$Notice.success({
                  title: '成功'
                })
                if (this.detailId) {
                  this.step = 4
                } else {
                  this.reloadDataGrid()
                }
              } else {
                this.$Notice.error({
                  title: '失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
            this.idsData = null
          }, 500)
          break
      }
    },
    saveEvent: function () {
      this.$refs.setInboundEvent.setInboundEvent()
    },
    inboundDetailChangeEvent: function (data) {
      this.detailData = data
    },
    // 入庫單狀態 inbound_status
    getInboundStatusFilterData: function () {
      this.inboundStatusFilterData = [
        {
          value: 10,
          label: '待驗收'
        },
        {
          value: 15,
          label: '入庫取消'
        },
        {
          value: 20,
          label: '待品檢'
        },
        {
          value: 30,
          label: '待上架'
        },
        {
          value: 40,
          label: '已上架'
        },
        {
          value: 50,
          label: '上架確認'
        }
      ]
    },
    // 入庫類別 inbound_type
    getInboundTypeFilterData: function () {
      this.inboundTypeFilterData = [
        {
          value: 'inbound_normal',
          label: '一般入庫'
        },
        {
          value: 'inbound_transfer',
          label: '調撥入庫'
        },
        {
          value: 'inbound_adj',
          label: '調整入庫'
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    // ImportModal Start
    showImportModal: function () {
      this.importModalToggle = true
    },
    setImportModalEvent: function (bol) {
      // console.log(bol)
      this.importModalToggle = bol
    },
    beforeUploadEvent: function () {
      this.importLoadingViewIsShow = true
    },
    importSuccessEvent: function () {
      this.importModalToggle = false
      this.importLoadingViewIsShow = false
      this.$Notice.success({
        title: '檔案上成功'
      })
      this.reloadDataGrid()
    },
    errorRequest: function (txt) {
      // console.log(txt)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗',
        desc: txt,
        duration: 30
      })
      this.importLoadingViewIsShow = false
    },
    // ImportModal END
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: async function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol

      let postData = {
        pageNum: 1,
        pageSize: 9999999,
        baseCondition: [],
        orCondition: [],
        sort: [],
        excelHeaders: [],
        dbCols: []
      }

      let exportFields = []
      let displayNames = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          displayNames.push(element.property)

          exportFields.push(element.displayName)
        }
      })
      // 匯出範圍
      switch (data.postData.exportReach) {
        case 1:
          postData.baseCondition = [
            ...this.filterAry
          ]
          //
          postData.orCondition = []
          break
        case 2:
          await this.getIds()
          // console.log(this.idsData)
          if (!this.idsData) {
            this.$Notice.warning({
              title: '請勾選要匯出的資料'
            })
            this.LoadingViewIsShow = false
            return
          }
          let listLength = this.idsData.list.length
          // console.log(listLength)
          let ids = []
          for (let i = 0; i < listLength; i++) {
            ids.push(['inbound_id', '=', this.idsData.list[i].inbound_id])
          }
          postData.baseCondition = [['inbound_id', 'in', ids]]
          postData.orCondition = []
          break
      }
      //
      postData.sort = this.sortAry
      postData.excelHeaders = exportFields
      postData.dbCols = displayNames
      postData.fileName = data.postData.exportFileName
      //
      switch (this.changeDataList) {
        case 'putInAcceptance':
          postData.baseCondition.push(
            ['inbound_status', '=', 10]
          )
          break
        case 'putInQuality':
          postData.baseCondition.push(
            ['inbound_status', '=', 20]
          )
          break
        case 'putInShelves':
          postData.baseCondition.push(
            ['inbound_status', '=', 30]
          )
          break
        case 'putInShelvesClose':
          postData.baseCondition.push(
            ['inbound_status', '=', 50]
          )
          break
      }

      let dataexportRes = await this.$store.dispatch(`putInOperationSimple/dataexport`, postData)

      if (dataexportRes.success) {
        // console.log('下載檔案')
        window.open(`${dataexportRes.donwloadLink}`)
      } else {
        this.$Notice.error({
          title: '匯出失敗',
          desc: dataexportRes.message,
          duration: 30
        })
      }
      this.LoadingViewIsShow = false
    },
    setPrintTrigger: function () {
      if (this.idsData.list.length < 1) {
        this.$Notice.warning({
          title: `請勾選要列印的項目`
        })
        return
      }
      this.pickinglistModalToggle = true
    },
    printEvent: function (data) {
      // console.log(data)
      this.print(data.type, data.postData, data.printHavePickinglistNo)
    },
    setPickinglistModalEvent: function (bol) {
      // console.log(bol)
      this.pickinglistModalToggle = bol
      if (!bol) {
        this.reloadDataGrid()
      }
    },
    print: function (type, data, printHavePickinglistNo) {
      // console.log(this.idsData)
      // let ids = []
      let isError = false
      let postData = {
        ids: [],
        reportCode: null,
        orderBy: null,
        reGenerator: null,
        printByProduct: null,
        printByOrder: null
      }
      switch (type) {
        case 'inboundList':
          break
      }
      if (isError) {
        return
      }
      postData.ids = this.idsData.selectIds
      postData.reportCode = type
      this.LoadingViewIsShow = true
      this.$store.dispatch('report/print', postData).then((r) => {
        console.log(r)
        if (r.success) {
          window.open(`${r.donwloadLink}`)
          this.LoadingViewIsShow = false
          this.pickinglistModalToggle = false
          this.$Notice.success({
            title: '列印成功'
          })
        } else {
          this.LoadingViewIsShow = false
          this.pickinglistModalToggle = false
          this.$Notice.error({
            title: '列印失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 查詢個狀態總量
    getInboundCountStatus: function (pageSize, pageNumber) {
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: [],
        orCondition: [],
        sort: []
      }
      if (this.filterAry) {
        this.filterAry.forEach((item) => {
          if (item[0] === 'inbound_type') {
            postData.baseCondition = [item]
          }
        })
      }
      //
      this.$store.dispatch(`putInOperationSimple/inboundCountStatus`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          Object.keys(list).forEach((item, index) => {
            // console.log(item)
            this[item] = list[item]
          })
        }
      })
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            let isHave = false
            let itemIndex = null
            let pushIndex = null
            let addObj = {
              property: 'inbound_type',
              displayName: '入庫類別',
              isOpt: false,
              filterType: 'Select',
              filterData: [
                {
                  value: 'inbound_normal',
                  label: '一般入庫'
                },
                {
                  value: 'inbound_transfer',
                  label: '調撥入庫'
                },
                {
                  value: 'inbound_adj',
                  label: '調整入庫'
                }
              ],
              filterFormat: null,
              valueType: 'Select',
              autoCompleteData: null,
              valueFormat: null,
              sortToggle: true,
              sortValue: null,
              isNotRemove: true,
              resizeToggle: true,
              minWidth: 'initial',
              editable: false,
              filterSet: {
                inbound_normal: '一般入庫',
                inbound_transfer: '調撥入庫',
                inbound_adj: '調整入庫'
              }
            }
            settingDataArr.forEach((item, index) => {
              if (item.property === 'inbound_type') {
                isHave = true
                itemIndex = index
              }
              if (item.property === 'inbound_expect') {
                pushIndex = index + 1
              }
            })
            if (isHave) {
              settingDataArr[itemIndex] = addObj
            } else {
              settingDataArr.splice(pushIndex, 0, addObj)
            }
            this.saveLayoutColumns = settingDataArr || []
            setTimeout(() => {
              this.saveLayoutSettings()
            }, 1000)
          }
        }
      })
    }
  },
  created () {
    //
    this.getGridLayout()
    this.getInboundStatusFilterData()
    this.getInboundTypeFilterData()
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getInboundCountStatus(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`putInOperationSimple/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  // position: relative;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 41px - 16px);
    &.have-tab-bar {
      height: calc(100% - 71px - 16px);
    }
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
.dataGridTab{
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  padding: 8px;
  height: auto;
  .totalCount {
    display: none;
    font-size: 28px;
    font-weight: bold;
  }
  &.hasTotalCount{
    font-size: 16px;
    padding: 4px 16px 0px;
    .totalCount {
      display: block;
    }
  }
  &.dark {
    color: #fff;
    border: 1px solid #fff;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
  &.light {
    color: #ACACAC;
    border: 1px solid #ACACAC;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
}
</style>
