<template>
  <Modal v-model="modal" width="600" :footer-hide="true" class="importModal">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <div slot="header" class="modal-header"></div>
    <div class="modal-body">
      <div class="container-box">
        <h2 class="title">
          <span>{{title}}</span>
          <span v-if="exampleFile">資料匯入</span>
          <div class="btn-box r">
            <!-- <div class="switch-box mr-3" v-show="autoAddProduct">
              <div class="label-box">新增商品</div>
              <div class="body-box">
                <i-Switch
                  v-model="postData.autoAddProduct"
                  size="large"
                  :true-value="1"
                  :false-value="0"
                >
                  <span slot="open">是</span>
                  <span slot="close">否</span>
                </i-Switch>
              </div>
            </div> -->
            <Button class="downloadExcelBtn best-blue mr-0" type="default" shape="circle" v-if="exampleFile" @click="downloadExample">
              下載 excel 範本
            </Button>
          </div>
        </h2>
        <div class="desc-box">
          <div class="row">
            <Upload
              multiple
              type="drag"
              :show-upload-list="false"
              :action="uploadURL"
              :headers="uploadHeaders"
              name="excelFile"
              :before-upload="beforeUploadEvent"
              :on-progress="onProgressEvent"
              :on-success="getUploadRequest"
              :on-error="errorRequest">
              <div class="upload-block">
                <font-awesome-icon icon="cloud-upload-alt" />
                <p>點擊或把檔案拖曳至此上傳</p>
              </div>
            </Upload>
        </div>
        </div>
        <!-- <div class="btn-box">
          <Button shape="circle" @click="cancel">取消 <font-awesome-icon icon="pen"/></Button>
          <Button shape="circle" @click="ok">確定 <font-awesome-icon icon="check"/></Button>
        </div> -->
      </div>
    </div>
  </Modal>
</template>

<script>
import Config from '@/Config'
import { app } from '../../main'
import LoadingView from '@/components/LoadingView/LoadingView'
//
export default {
  name: 'ImportModal',
  props: ['importModal', 'importModalTitle', 'importExampleFile', 'importUploadURL', 'importLoadingViewIsShow', 'autoAddProduct'],
  components: {
    LoadingView
  },
  data () {
    //
    let accessToken = this.$localStorage.get('accessToken')
    let accessTokenArry = accessToken.split(' ', 2)
    return {
      Config: Config,
      LoadingViewIsShow: this.importLoadingViewIsShow,
      //
      modal: this.importModal,
      title: this.importModalTitle,
      exampleFile: this.importExampleFile || null,
      uploadURL: this.importUploadURL,
      uploadHeaders: {
        Authorization: `Bearer ${accessTokenArry[1]}`
      },
      postData: {
        excelFile: null
      },
      error: {
        exportFileName: false,
        exportFormat: false,
        csvSeperator: false
      }
    }
  },
  computed: {},
  watch: {
    importModal: function (bol) {
      this.modal = bol
    },
    modal: function (bol) {
      // console.log(this.importLoadingViewIsShow)
      if (!bol) {
        this.$emit('setImportModalEvent', false)
      }
    },
    importLoadingViewIsShow: {
      handler: function (val) {
        // console.log(val)
        this.LoadingViewIsShow = val
      },
      deep: true
    }
  },
  methods: {
    downloadExample: function () {
      // console.log('下載檔案')
      const apiBaseUrl = `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}`
      let api = `${apiBaseUrl}${Config.API.downloadSample.download}/${this.exampleFile}`
      // console.log(timestamp)
      // window.open(`${Config.API.downloadAPIBaseURL}/download/sample/${this.exampleFile}?t=${timestamp}`)
      app.axios.get(api).then((response) => {
        if (response.data.success === true) {
          window.open(response.data.download_link)
        } else {
          alert(response.data.message)
        }
      }).catch((error) => {
        alert(error)
      })
    },
    beforeUploadEvent: function (data) {
      console.log(data)
      this.$emit('beforeUploadEvent')
    },
    onProgressEvent: function (event, file, fileList) {
      console.log(event)
      console.log(file)
      console.log(fileList)
    },
    getUploadRequest: function (res, file) {
      console.log(res)
      // console.log(file)
      if (res.success) {
        this.$emit('importSuccessEvent')
      } else {
        this.$emit('importErrorEvent', res.message)
      }
    },
    errorRequest: async function (error, file, fileList) {
      console.log(error)
      console.log(file)
      console.log(fileList)
      this.$emit('importErrorEvent', '系統忙碌中請稍候再試')
      // let formData = new FormData()
      // formData.append('file', fileList)
      // for (let i = 0; i < 30; i++) {
      //   console.log(i)
      //   await this.sleep()
      //   let res = await this.$store.dispatch('importOutbound/upload', formData)
      //   // console.log(res)
      //   if (res) {
      //     if (res.httpStatus === 200 || res.httpStatus === 201) {
      //       //
      //       console.log('成功了')
      //       let UploadData
      //       if (!this.exampleFile) {
      //         UploadData = res.respondCode.additionals.fileupload
      //       } else {
      //         UploadData = res.respondCode.additionals.filupload
      //       }
      //       //
      //       this.postData.fileContentType = UploadData.fileContentType || null
      //       this.postData.fileName = UploadData.fileName || null
      //       this.postData.fileStoragePath = UploadData.fileStoragePath || null
      //       this.postData.fileType = UploadData.fileType || null
      //       //
      //       this.$emit('importEvent', this.postData)
      //       break
      //     } else if (res.httpStatus !== 401) {
      //       this.$emit('importErrorEvent', '請檢查檔案')
      //       break
      //     }
      //   } else {
      //     if (i === 29) {
      //       this.$emit('importErrorEvent', '系統忙碌中請稍候再試')
      //     }
      //   }
      // }
    },
    timeout: function (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    sleep: async function () {
      await this.timeout(1000)
    },
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.importLoadingViewIsShow)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.importModal{
  /deep/.ivu-modal-content{
    overflow: hidden;
  }
  .modal-body {
    display: flex;
    width: 100%;
    padding: 0 48px;
    .icon-box {
      width: 141px;
      height: 128px;
      img {
        width: auto;
        height: 115px;
        object-fit: cover
      }
    }
    .container-box {
      flex: 1;
      height: 100%;
      .title {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        >span {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 24px;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          display: inline-block;
        }
        .btn-box.r {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .downloadExcelBtn {
            font-size: 16px;
            color: #fff;
            padding-top: 1px;
            padding-bottom: 1px;
            border: 1px solid transparent;
          }
        }
      }
      .switch-box {
        display: flex;
        align-items: center;
        font-weight: 400;
        .label-box {
          font-size: 16px;
          color: #3c3c3c;
        }
        .body-box {
          display: flex;
          justify-content: flex-end;
          padding: 0 0 0 16px;
        }
      }
      .desc-box {
        flex: 1;
        padding-bottom: 32px;
        .row{
          display: flex;
          width: 100%;
          color: #000;
          font-size: 16px;
          margin: 0;
          .col{
            padding-right: 2rem;
          }
        }
      }
      .btn-box {
        display: flex;
        justify-content: center;
        flex: 1;
        height: 32px;
        button {
          margin-right: 15px;
          font-size: 14px;
          svg {
            color: #9ca29c;
          }
        }
      }
    }
  }
  /deep/.ivu-upload{
    width: 100%;
    &.ivu-upload-drag{
      border: 1px dashed #9d9d9d;
    }
    .upload-block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 332px;
      padding: 20px;
      font-size: 30px;
      color: #9d9d9d;
      p{
        padding-top: 2rem;
        font-size: 15px;
      }
    }
    &:hover{
      &.ivu-upload-drag{
        border: 1px dashed #118CF8;
      }
      .upload-block{
        color: #118CF8;
      }
    }
  }
  .importBtn{
    font-size: 16px;
    color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #118CF8;
    border: 1px solid transparent;
  }
}
</style>
