<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 公告型態 -->
          <FloatLabelBox
            :config="{hasContent: (postData.announce_type || postData.announce_type === 0), label: `公告型態 *`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
            :selectList="announceTypeList"
            :code="`announce_type`"
            :defaultValue="postData.announce_type"
            :isError="error.announce_type"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="announceTypeListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 倉庫 -->
          <FloatLabelBox
            :config="{hasContent: (postData.wh_id && postData.wh_id!==''), label: `倉庫`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
            :selectList="whList"
            :code="`wh_id`"
            :defaultValue="postData.wh_id"
            :isError="error.wh_id"
            :isRequired="postData.announce_type === 2"
            @changeModelEvent="whListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
          <div class="body-box">
            <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- 主旨 -->
          <FloatLabelBox
            :config="{hasContent: (postData.announce_subject && postData.announce_subject!==''), label: `主旨 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`announce_subject`"
            :defaultValue="postData.announce_subject"
            :disabled="false"
            :isError="error.announce_subject"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 公告日期 -->
          <FloatLabelBox
            :config="{hasContent: (postData.announce_date && postData.announce_date!==''), label: `公告日期 *`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
            :code="`announce_date`"
            :defaultValue="postData.announce_date"
            :isError="error.announce_date"
            :isRequired="true"
            @changeModelEvent="datePickerChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 開始日期 -->
          <FloatLabelBox
            :config="{hasContent: (postData.announce_start_date && postData.announce_start_date!==''), label: `開始日期 *`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
            :code="`announce_start_date`"
            :defaultValue="postData.announce_start_date"
            :isError="error.announce_start_date"
            :isRequired="true"
            @changeModelEvent="datePickerChangeEvent"
          ></FloatLabelBox>
        </div>
        <!-- <div class="col">
          結束日期
          <FloatLabelBox
            :config="{hasContent: (postData.announce_end_date && postData.announce_end_date!==''), label: `結束日期`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
            :code="`announce_end_date`"
            :defaultValue="postData.announce_end_date"
            @changeModelEvent="datePickerChangeEvent"
          ></FloatLabelBox>
        </div> -->
      </div>
      <div class="row mb-3 pr-lg-5">
        <span class="textareaLable">公告內容</span>
        <Input v-model="postData.announce_detail" type="textarea" :rows="5" placeholder="請輸入公告內容" />
      </div>
      <!-- <div class="row">
        <div class="col">
          <Button
            class="bestBtn mr-3"
            type="default"
            shape="circle"
            @click="showImportModal"
          >上傳附件</Button>
        </div>
        <div class="col fileContent" v-for="(item, index) in fileList" :key="index">
          <span class="bestText">附件{{index + 1}}: {{item}}</span>
          <Button
            class="ml-3"
            shape="circle"
            @click="removeFileList(index)"
            icon="md-close"
            size="small"
          />
        </div>
      </div> -->
      <div class="footer">
        <!-- save btn -->
        <div class="saveBtn" @click="comfirmSave">
          <font-awesome-icon icon="save" size="2x"/>
        </div>
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
      <!-- import modal -->
      <ImportModal
        :importModal="importModalToggle"
        :importModalTitle="importModalTitle"
        :importUploadURL="importUploadURL"
        :importLoadingViewIsShow="importLoadingViewIsShow"
        v-on:importEvent="importEvent"
        v-on:beforeUploadEvent="beforeUploadEvent"
        v-on:setImportModalEvent="setImportModalEvent"
      ></ImportModal>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ImportModal from '@/components/ImportModal/ImportModal'
//
export default {
  name: 'AnnounceSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'companyId', 'whId'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    ImportModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      announce_type: this.cloneData ? this.cloneData.announce_type : 1, // 公告型態
      announce_date: this.cloneData ? this.cloneData.announce_date : '', // 公告日期
      announce_start_date: this.cloneData ? this.cloneData.announce_start_date : '', // 開始日期
      // announce_end_date: this.cloneData ? this.cloneData.announce_end_date : '', // 結束日期
      announce_subject: this.cloneData ? this.cloneData.announce_subject : '', // 主旨
      announce_detail: this.cloneData ? this.cloneData.announce_detail : '', // 公告內容
      wh_id: this.cloneData ? this.cloneData.wh_id : '', // 倉庫
      company_id: this.cloneData ? this.cloneData.company_id : '', // 公司ID
      // upload_file_name1: this.cloneData ? this.cloneData.upload_file_name1 : '', // 上傳檔案名稱1
      // upload_file_name2: this.cloneData ? this.cloneData.upload_file_name2 : '', // 上傳檔案名稱2
      // upload_file_name3: this.cloneData ? this.cloneData.upload_file_name3 : '', // 上傳檔案名稱3
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1 // 已啟用
    }
    return {
      Config: Config,
      //
      modalType: modalType,
      //
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      /* 公告型態 */
      announceTypeList: [
        {
          value: 0,
          label: '全站公告'
        },
        {
          value: 1,
          label: '同公司公告'
        },
        {
          value: 2,
          label: '同倉庫公告'
        }
      ],
      /* 倉庫 */
      whList: [],
      /* 上傳檔案名稱 */
      fileList: [],
      //
      postData: postData,
      error: {
        announce_type: false, // 公告型態
        announce_date: false, // 公告日期
        announce_start_date: false, // 開始日期
        // announce_end_date: false, // 結束日期
        announce_subject: false, // 主旨
        announce_detail: false, // 公告內容
        wh_id: false, // 倉庫
        // upload_file_name1: false, // 上傳檔案名稱1
        // upload_file_name2: false, // 上傳檔案名稱2
        // upload_file_name3: false, // 上傳檔案名稱3
        created_at: false, // 建立時間
        update_at: false, // 更新時間
        is_enabled: false // 已啟用
      },
      // importModal
      importModalToggle: false,
      importModalTitle: '上傳附件',
      importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.announce.upload}`,
      importLoadingViewIsShow: false
    }
  },
  computed: {
    announce: function () {
      return this.$store.state[`announce`][`announce`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    announce: {
      handler: function (val) {
        // console.log('contact : ', val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        this.postData = {
          announce_type: val.announce_type || 1, // 公告型態
          announce_date: val.announce_date || null, // 公告日期
          announce_start_date: val.announce_start_date || null, // 開始日期
          // announce_end_date: val.announce_end_date || null, // 結束日期
          announce_subject: val.announce_subject || null, // 主旨
          announce_detail: val.announce_detail || null, // 公告內容
          wh_id: val.wh_id || null, // 倉庫
          company_id: val.company_id || null, // 公司ID
          // upload_file_name1: val.upload_file_name1 || null, // 上傳檔案名稱1
          // upload_file_name2: val.upload_file_name2 || null, // 上傳檔案名稱2
          // upload_file_name3: val.upload_file_name3 || null, // 上傳檔案名稱3
          is_enabled: val.is_enabled // 已啟用
        }
        //
        // if (val.upload_file_name1) {
        //   this.fileList.push(val.upload_file_name1)
        // }
        // if (val.upload_file_name2) {
        //   this.fileList.push(val.upload_file_name2)
        // }
        // if (val.upload_file_name3) {
        //   this.fileList.push(val.upload_file_name3)
        // }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        // console.log(val)
        if (val.announce_type || val.announce_type === 0) {
          this.error.announce_type = false
        }
        if (val.wh_id) {
          this.error.wh_id = false
        }
        if (val.announce_date) {
          this.error.announce_date = false
        }
        if (val.announce_start_date) {
          this.error.announce_start_date = false
        }
        if (val.announce_subject) {
          this.error.announce_subject = false
        }
      },
      deep: true
    }
  },
  methods: {
    init: function () {
      this.fileList = []
      this.postData = {
        announce_type: 1, // 公告型態
        announce_date: null, // 公告日期
        announce_start_date: null, // 開始日期
        // announce_end_date: null, // 結束日期
        announce_subject: null, // 主旨
        announce_detail: null, // 公告內容
        wh_id: null, // 倉庫
        // upload_file_name1: null, // 上傳檔案名稱1
        // upload_file_name2: null, // 上傳檔案名稱2
        // upload_file_name3: null, // 上傳檔案名稱3
        created_at: null, // 建立時間
        update_at: null, // 更新時間
        is_enabled: 1
      }
      this.error = {
        announce_type: false, // 公告型態
        announce_date: false, // 公告日期
        announce_start_date: false, // 開始日期
        // announce_end_date: false, // 結束日期
        announce_subject: false, // 主旨
        announce_detail: false, // 公告內容
        wh_id: false, // 倉庫
        // upload_file_name1: false, // 上傳檔案名稱1
        // upload_file_name2: false, // 上傳檔案名稱2
        // upload_file_name3: false, // 上傳檔案名稱3
        created_at: false, // 建立時間
        update_at: false, // 更新時間
        is_enabled: false // 已啟用
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getDetail: function (id) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'announce_id',
            queryValue: id
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`announce/queryDetail`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    //
    save: function (action = null) {
      // console.log(this.postData)
      let isError = false
      //
      if (!this.postData.announce_type && this.postData.announce_type !== 0) {
        isError = true
        this.error.announce_type = true
      }
      if (this.postData.announce_type === 2 && (!this.postData.wh_id || this.postData.wh_id === '')) {
        isError = true
        this.error.wh_id = true
      }
      if (!this.postData.announce_date || this.postData.announce_date === '') {
        isError = true
        this.error.announce_date = true
      }
      if (!this.postData.announce_start_date || this.postData.announce_start_date === '') {
        isError = true
        this.error.announce_start_date = true
      }
      if (!this.postData.announce_subject || this.postData.announce_subject === '') {
        isError = true
        this.error.announce_subject = true
      }
      //
      if (isError) {
        return
      }
      //
      let postData = {
        announce_type: this.postData.announce_type, // 公告型態
        announce_date: this.postData.announce_date, // 公告日期
        announce_start_date: this.postData.announce_start_date, // 開始日期
        announce_subject: this.postData.announce_subject, // 主旨
        is_enabled: this.postData.is_enabled // 已啟用
      }
      console.log(this.companyId)
      switch (this.postData.announce_type) {
        case 1:
          postData.company_id = this.companyId
          break
        case 2:
          postData.company_id = this.companyId
          postData.wh_id = this.postData.wh_id
          break
      }
      // if (this.postData.announce_end_date) {
      //   postData.announce_end_date = this.postData.announce_end_date
      // }
      if (this.postData.announce_detail) {
        postData.announce_detail = this.postData.announce_detail
      }
      let fileListLength = this.fileList.length
      for (let i = 0; i < fileListLength; i++) {
        if (this.fileList[i]) {
          postData[`upload_file_name${i + 1}`] = this.fileList[i]
        }
      }
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('announce/create', postData).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.postData.announce_id = r.respondCode.additionals.announce.announce_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStep2Event', this.postData.announce_id)
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['announce_id']
            this.$store.dispatch('announce/create', postData).then((r) => {
              // console.log(r)
              let rex = /^[2]/g
              if (rex.test(r.httpStatus)) {
                this.postData.announce_id = r.respondCode.additionals.announce.announce_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStep2Event', this.postData.announce_id)
              } else {
                this.$Notice.error({
                  title: '新增失敗'
                })
              }
            })
          } else {
            // update
            // console.log('update')
            // console.log(this.detailId)
            // console.log(postData)
            // postData.announce_end_date = this.postData.announce_end_date || 'null'
            postData.announce_detail = this.postData.announce_detail || 'null'
            switch (this.postData.announce_type) {
              case 1:
                postData.wh_id = this.postData.wh_id || -1
                break
              case 0:
                postData.company_id = -1
                postData.wh_id = this.postData.wh_id || -1
                break
            }
            // postData.upload_file_name1 = this.fileList[0] || 'null'
            // postData.upload_file_name2 = this.fileList[1] || 'null'
            // postData.upload_file_name3 = this.fileList[2] || 'null'
            this.$store.dispatch('announce/update', { id: this.detailId, data: postData }).then((r) => {
              // console.log(r)
              let rex = /^[2]/g
              if (rex.test(r.httpStatus)) {
                // 警告提示
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗'
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          this.$store.dispatch('announce/create', postData).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.postData.announce_id = r.respondCode.additionals.announce.announce_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStep2Event', this.postData.announce_id)
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
      }
    },
    /* 公告型態 */
    announceTypeListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 倉庫 */
    whListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getWhList: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: 250,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch(`warehouse/search`, { postData: postData, companyId: this.companyId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.warehouse
          let whList = []
          if (list) {
            list.forEach((ele, idx) => {
              whList.push({
                value: ele.wh_id,
                label: ele.wh_name
              })
            })
          }
          this.whList = whList
          // console.log(this.whList)
        }
      })
    },
    removeFileList: function (index) {
      this.fileList.splice(index, 1)
    },
    // ImportModal Start
    showImportModal: function () {
      if (this.fileList.length >= 3) {
        this.$Notice.warning({
          title: '附件最多3個',
          desc: '請先刪除不需要的檔案',
          duration: 30
        })
        return
      }
      this.importModalToggle = true
    },
    setImportModalEvent: function (bol) {
      // console.log(bol)
      this.importModalToggle = bol
    },
    beforeUploadEvent: function () {
      if (this.fileList.length >= 3) {
        this.$Notice.warning({
          title: '附件最多3個',
          desc: '請先刪除不需要的檔案',
          duration: 30
        })
        return
      }
      this.importLoadingViewIsShow = true
    },
    errorRequest: function (res, file) {
      // console.log(res)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗'
      })
      this.importLoadingViewIsShow = false
    },
    importEvent: function (data) {
      console.log(data)
      if (this.fileList.length >= 3) {
        return
      }
      if (data) {
        this.$Notice.success({
          title: '檔案上傳成功'
        })
        this.fileList.push(data.fileName)
      }
      this.importLoadingViewIsShow = false
    }
    // ImportModal END
  },
  created () {
    //
    this.getWhList()
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`contact/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  h2.title {
    font-family: PingFangTC;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354361;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  /deep/.ivu-btn.icon-btn-md {
    border: 2px solid;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 0;
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > span {
      font-size: 14px;
    }
  }
  .backBtn {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-left: 1rem;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
}
.bestBtn{
  min-width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.bestText {
  font-size: 16px;
}
.textareaLable {
  font-size: 12px;
  color: #333333;
  margin-bottom: 8px;
}
// @media (max-width: 992px) {
//   .content-box .top-box .row {
//     flex-wrap: wrap;
//     .col {
//       flex: 1;
//     }
//   }
//   .floatLabelBox-container {
//     min-width: 250px;
//   }
// }
</style>
