<template>
  <div class="content-box">
    <div class="top-box pt-2">
      <div class="row">
        <div class="col">
          <!-- 代碼 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.cd && postData.cd!==''),
              label: `代碼 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`cd`"
            :defaultValue="postData.cd"
            :disabled="false"
            :isError="error.cd"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 名稱 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.cd_descp && postData.cd_descp!==''),
              label: `名稱`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`cd_descp`"
            :defaultValue="postData.cd_descp"
            :disabled="false"
            :isError="error.cd_descp"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- value1 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.value1 && postData.value1!==''),
              label: `value1 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`value1`"
            :defaultValue="postData.value1"
            :disabled="false"
            :isError="error.value1"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- value2 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.value2 && postData.value2!==''),
              label: `value2 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`value2`"
            :defaultValue="postData.value2"
            :disabled="false"
            :isError="error.value2"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- value3 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.value3 && postData.value3!==''),
              label: `value3 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`value3`"
            :defaultValue="postData.value3"
            :disabled="false"
            :isError="error.value3"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col colx2">
          <!-- 備註 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.remark && postData.remark!==''),
              label: `備註`,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`remark`"
            :defaultValue="postData.remark"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

      </div>
      <div class="footer">
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'BasicParameterSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      cd: this.cloneData ? this.cloneData.cd : null, // 代碼
      cd_descp: this.cloneData ? this.cloneData.cd_descp : null, // 名稱
      value1: this.cloneData ? this.cloneData.value1 : null, // value1
      value2: this.cloneData ? this.cloneData.value2 : null, // value2
      value3: this.cloneData ? this.cloneData.value3 : null, // value3
      remark: this.cloneData ? this.cloneData.remark : null // 備註

    }
    return {
      //
      modalType: modalType,
      // detailData: {}, // 明細頁資訊
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      inherit: this.step !== 2,
      //
      /* 付款方式 */
      paymentMethodList: [],
      /* 付款條件 */
      paymentConditionList: [],
      /* 客戶類別 */
      OrderCatList: [],
      //
      postData: postData,
      error: {

        cd: false, // 代碼
        cd_descp: false, // 名稱
        value1: false, // value1
        value2: false, // value2
        value3: false, // value3
        remark: false // 備註

      },
      errorMsgbasicParameterDaysAllowedRule: ''
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    basicParameter: function () {
      return this.$store.state[`basicParameter`][`basicParameter`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    basicParameter: {
      handler: function (val) {
        // console.log('Order : ', val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        this.postData = {
          cd: val.cd || null, // 代碼
          cd_descp: val.cd_descp || null, // 名稱
          value1: val.value1 || null, // value1
          value2: val.value2 || null, // value2
          value3: val.value3 || null, // value3
          remark: val.remark || null // 備註

        }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.cd) {
          this.error.cd = false
        }
        // if (val.Order_name) {
        //   this.error.Order_name = false
        // }
        // if (val.Order_cat_name) {
        //   this.error.Order_cat_name = false
        // }
        //
        if (!val.basicParameter_days_allowed_rule) {
          this.error.basicParameter_days_allowed_rule = false
        } else {
          let rex = /[/]/g
          if (rex.test(val.basicParameter_days_allowed_rule)) {
            let strArry = val.basicParameter_days_allowed_rule.split('/', 2)
            let arr = [Number(strArry[0]), Number(strArry[1])]
            if (Number.isInteger(arr[0]) && arr[0] > 0 && Number.isInteger(arr[1]) && arr[1] > 0 && arr[1] > arr[0]) {
              this.error.basicParameter_days_allowed_rule = false
            }
          }
        }
        if (this.inherit) {
          val.address_invoice = this.postData.address
        }
      },
      deep: true
    },
    //
    inherit: function (bol) {
      // console.log(bol)
      if (bol) {
        this.postData.address_invoice = this.postData.address
      }
    }
  },
  methods: {
    init: function () {
      this.autoCompleteCompanyData = []
      this.autoCompleteRegionData = []
      this.autoCompleteCountryData = []
      this.autoCompleteProvinceData = []
      this.autoCompleteDistrictData = []
      this.autoCompleteContactData = []
      this.postData = {

        cd: null, // 代碼
        cd_descp: null, // 名稱
        value1: null, // value1
        value2: null, // value2
        value3: null, // value3
        remark: null // 備註
        // is_enabled: 1
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (detailId) {
      this.$store.dispatch(`basicParameter/queryDetail`, detailId).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    setBasicParameterEvent: function (data) {
      // console.log(data)
      if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    //
    save: function (action = null) {
      // console.log(this.postData)
      let isError = false

      //
      if (isError) {
        return
      }
      //
      let postData = {
        cd: this.postData.cd, // 客戶編號
        cd_descp: this.postData.cd_descp // 客戶名稱
      }
      Object.keys(this.postData).forEach((key, idx) => {
        // console.log(key)
        // console.log(this.postData[key])
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'created_at') {
            return
          }
          if (key === 'update_at') {
            return
          }
          if (key === 'is_enabled') {
            let value = Number(this.postData[key])
            // console.log(value)
            postData[key] = value
          } else if (key === 'basicParameter_days_allowed_rule') {
            let strArry = this.postData.basicParameter_days_allowed_rule.split('/', 2)
            postData[key] = `${Number(strArry[0])}/${Number(strArry[1])}`
          } else {
            let value = this.postData[key]
            postData[key] = value
          }
        } else if (this.step === 2 && action !== 'clone' && !this.postData[key] && this.postData[key] !== 0) {
          if (key === 'created_at') {
            return
          }
          if (key === 'updated_at') {
            return
          }
          postData[key] = null
        }
      })
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('basicParameter/create', postData).then((r) => {
            // console.log(r)
            // console.log(r)
            if (r.success) {
              this.postData.bs_id = r.data.bs_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['bs_id']
            this.$store.dispatch('basicParameter/create', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                this.postData.bs_id = r.data.bs_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', this.postData, 2)
              } else {
                this.$Notice.error({
                  title: '新增失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          } else {
            // update
            // console.log('update')
            this.$store.dispatch('basicParameter/update', { postData: postData, detailId: this.detailId }).then((r) => {
              // console.log(r)
              if (r.success) {
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData['bs_id']
          this.$store.dispatch('basicParameter/create', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.postData.bs_id = r.data.bs_id
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
      }
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 付款方式 */
    paymentMethodListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getPaymentMethodList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 7]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let paymentMethodList = []
          if (list) {
            list.forEach((ele, idx) => {
              paymentMethodList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.paymentMethodList = paymentMethodList
          // console.log(this.paymentMethodList)
        }
      })
    },
    /* 付款條件 */
    paymentConditionListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      // this.postData[data.code] = data.val
      this.postData.payment_condition = data.val
    },
    getPaymentConditionList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 8]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let paymentConditionList = []
          if (list) {
            list.forEach((ele, idx) => {
              paymentConditionList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.paymentConditionList = paymentConditionList
          // console.log(this.paymentConditionList)
        }
      })
    },
    /* 客戶類型 */
    OrderCatListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getOrderCatList: function () {
      this.OrderCatList = [
        {
          value: '貨主',
          label: '貨主'
        },
        {
          value: '供應商',
          label: '供應商'
        },
        {
          value: '門市',
          label: '門市'
        }
      ]
      // let postData = {
      //   pageNum: 1,
      //   pageSize: Config.maxPageSize,
      //   baseCondition: [
      //     ['code_type', '=', 1]
      //   ],
      //   orCondition: [],
      //   sort: []
      // }
      // //
      // this.$store.dispatch(`settingCode/search`, postData).then((r) => {
      //   // console.log(r)
      //   if (r.success) {
      //     let list = r.data
      //     let OrderCatList = []
      //     if (list) {
      //       list.forEach((ele, idx) => {
      //         OrderCatList.push({
      //           value: ele.code_id,
      //           label: ele.code_name
      //         })
      //       })
      //     }
      //     this.OrderCatList = OrderCatList
      //     // console.log(this.OrderCatList)
      //   }
      // })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.detailId)
    // this.getOrderCatList()
    // this.getPaymentMethodList()
    // this.getPaymentConditionList()
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    if (this.step !== 2) {
      this.inherit = true
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    // this.$store.dispatch(`basicParameter/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 16px;
            color: #fff;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      // height: auto;
      // display: flex;
      // justify-content: flex-end;
      // align-items: flex-end;
      // flex-direction: column;
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #e2c57f;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
  color: #fff;
}
</style>
