<template>
  <div class="content-box">
    <div class="top-box pt-2">
      <div class="row">
        <div class="col">
          <!-- 歸屬公司 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.belong_company && postData.belong_company!==''),
              label: `歸屬公司 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`belong_company`"
            :defaultValue="postData.belong_company"
            :disabled="false"
            :isError="error.belong_company"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 歸屬單位 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.belong_station && postData.belong_station!==''),
              label: `歸屬單位 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`belong_station`"
            :defaultValue="postData.belong_station"
            :disabled="false"
            :isError="error.belong_station"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 車牌號碼 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.car_no && postData.car_no!==''),
              label: `車牌號碼 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`car_no`"
            :defaultValue="postData.car_no"
            :disabled="false"
            :isError="error.car_no"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 領牌日期 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.licensing_date && postData.licensing_date!==''),
              label: `領牌日期`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `DatePicker`,
              settings: {height: 41}}"
            :code="`licensing_date`"
            :defaultValue="postData.licensing_date"
            :disabled="false"
            :isError="error.licensing_date"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 行照到期日 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.license_expiry_date && postData.license_expiry_date!==''),
              label: `行照到期日`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `DatePicker`,
              settings: {height: 41}}"
            :code="`license_expiry_date`"
            :defaultValue="postData.license_expiry_date"
            :disabled="false"
            :isError="error.license_expiry_date"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!-- 車輛狀態 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.status && postData.status!==''),
              label: `車輛狀態 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`status`"
            :defaultValue="postData.status"
            :disabled="false"
            :isError="error.status"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--出廠日期-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.manufacture_date && postData.manufacture_date!==''),
              label: `出廠日期`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `DatePicker`,
              settings: {height: 41}}"
            :code="`manufacture_date`"
            :defaultValue="postData.manufacture_date"
            :disabled="false"
            :isError="error.manufacture_date"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

        <div class="col">
          <!--財產編號-->
          <FloatLabelBox
            :config="{
              hasContent: (postData.property_number && postData.property_number!==''),
              label: `財產編號`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`property_number`"
            :defaultValue="postData.property_number"
            :disabled="false"
            :isError="error.property_number"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>

      </div>
      <div class="footer">
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'CarSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      belong_company: this.cloneData ? this.cloneData.belong_company : null, // 歸屬公司
      belong_station: this.cloneData ? this.cloneData.belong_station : null, // 歸屬單位
      car_no: this.cloneData ? this.cloneData.car_no : null, // 車牌號碼
      car_no_name: this.cloneData ? this.cloneData.car_no_name : null, // 車牌號碼
      licensing_date: this.cloneData ? this.cloneData.licensing_date : null, // 領牌日期
      license_expiry_date: this.cloneData ? this.cloneData.license_expiry_date : null, // 行照到期日
      use_date: this.cloneData ? this.cloneData.use_date : null, // 需求日
      status: this.cloneData ? this.cloneData.status : null, // 車輛狀態
      manufacture_date: this.cloneData ? this.cloneData.manufacture_date : null, // 出廠日期
      property_number: this.cloneData ? this.cloneData.property_number : null // 財產編號
    }
    return {
      //
      modalType: modalType,
      // detailData: {}, // 明細頁資訊
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      inherit: this.step !== 2,
      //
      /* 付款方式 */
      paymentMethodList: [],
      /* 付款條件 */
      paymentConditionList: [],
      /* 客戶類別 */
      CarCatList: [],
      //
      postData: postData,
      error: {

        belong_company: false, // 歸屬公司
        belong_station: false, // 歸屬單位
        car_no: false, // 車牌號碼
        car_no_name: false, // 車牌號碼
        licensing_date: false, // 領牌日期
        license_expiry_date: false, // 行照到期日
        use_date: false, // 需求日
        status: false, // 車輛狀態
        manufacture_date: false, // 出廠日期
        property_number: false // 財產編號
      },
      errorMsgCarDaysAllowedRule: ''
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    car: function () {
      return this.$store.state[`car`][`car`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    car: {
      handler: function (val) {
        // console.log('Car : ', val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        this.postData = {
          belong_company: val.belong_company || null, // 歸屬公司
          belong_station: val.belong_station || null, // 歸屬單位
          car_no: val.car_no || null, // 車牌號碼
          car_no_name: val.car_no_name || null, // 車牌號碼
          licensing_date: val.licensing_date || null, // 領牌日期
          booking_id: val.booking_id || null, // Booking_ID
          license_expiry_date: val.license_expiry_date || null, // 行照到期日
          use_date: val.use_date || null, // 需求日
          status: val.status || null, // 車輛狀態
          manufacture_date: val.manufacture_date || null, // 出廠日期
          property_number: val.property_number || null // 財產編號

        }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.belong_company) {
          this.error.belong_company = false
        }
        if (val.belong_station) {
          this.error.belong_station = false
        }
        if (val.car_no) {
          this.error.car_no = false
        }
        if (val.status) {
          this.error.status = false
        }
        // if (val.Car_name) {
        //   this.error.Car_name = false
        // }
        // if (val.Car_cat_name) {
        //   this.error.Car_cat_name = false
        // }
        //
        if (!val.car_days_allowed_rule) {
          this.error.car_days_allowed_rule = false
        } else {
          let rex = /[/]/g
          if (rex.test(val.car_days_allowed_rule)) {
            let strArry = val.car_days_allowed_rule.split('/', 2)
            let arr = [Number(strArry[0]), Number(strArry[1])]
            if (Number.isInteger(arr[0]) && arr[0] > 0 && Number.isInteger(arr[1]) && arr[1] > 0 && arr[1] > arr[0]) {
              this.error.car_days_allowed_rule = false
            }
          }
        }
        if (this.inherit) {
          val.address_invoice = this.postData.address
        }
      },
      deep: true
    },
    //
    inherit: function (bol) {
      // console.log(bol)
      if (bol) {
        this.postData.address_invoice = this.postData.address
      }
    }
  },
  methods: {
    init: function () {
      this.autoCompleteCompanyData = []
      this.autoCompleteRegionData = []
      this.autoCompleteCountryData = []
      this.autoCompleteProvinceData = []
      this.autoCompleteDistrictData = []
      this.autoCompleteContactData = []
      this.postData = {

        belong_company: null, // 歸屬公司
        belong_station: null, // 歸屬單位
        car_no: null, // 車牌號碼
        car_no_name: null, // 車牌號碼
        status: null, // 領牌日期
        status_desc: null, // 訂單狀態
        booking_id: null, // Booking_ID
        license_expiry_date: null // 行照到期日

        // is_enabled: 1
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (detailId) {
      this.$store.dispatch(`car/queryDetail`, detailId).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    setCarEvent: function (data) {
      // console.log(data)
      if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    //
    save: function (action = null) {
      // console.log(this.postData)
      let isError = false
      if (!this.postData.belong_company || this.postData.belong_company === '') {
        isError = true
        this.error.belong_company = true
      }
      if (!this.postData.belong_station || this.postData.belong_station === '') {
        isError = true
        this.error.belong_station = true
      }
      if (!this.postData.car_no || this.postData.car_no === '') {
        isError = true
        this.error.car_no = true
      }
      if (!this.postData.status || this.postData.status === '') {
        isError = true
        this.error.status = true
      }
      //
      if (isError) {
        return
      }
      //
      let postData = {
        belong_company: this.postData.belong_company, // 客戶編號
        belong_station: this.postData.belong_station // 客戶名稱
      }
      Object.keys(this.postData).forEach((key, idx) => {
        // console.log(key)
        // console.log(this.postData[key])
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'created_at') {
            return
          }
          if (key === 'update_at') {
            return
          }
          if (key === 'is_enabled') {
            let value = Number(this.postData[key])
            // console.log(value)
            postData[key] = value
          } else if (key === 'car_days_allowed_rule') {
            let strArry = this.postData.car_days_allowed_rule.split('/', 2)
            postData[key] = `${Number(strArry[0])}/${Number(strArry[1])}`
          } else {
            let value = this.postData[key]
            postData[key] = value
          }
        } else if (this.step === 2 && action !== 'clone' && !this.postData[key] && this.postData[key] !== 0) {
          if (key === 'created_at') {
            return
          }
          if (key === 'updated_at') {
            return
          }
          postData[key] = null
        }
      })
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('car/create', postData).then((r) => {
            // console.log(r)
            // console.log(r)
            if (r.success) {
              this.postData.car_id = r.data.car_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['car_id']
            this.$store.dispatch('car/create', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                this.postData.car_id = r.data.car_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', this.postData, 2)
              } else {
                this.$Notice.error({
                  title: '新增失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          } else {
            // update
            // console.log('update')
            this.$store.dispatch('car/update', { postData: postData, detailId: this.detailId }).then((r) => {
              // console.log(r)
              if (r.success) {
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData['car_id']
          this.$store.dispatch('car/create', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.postData.car_id = r.data.car_id
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
      }
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 付款方式 */
    paymentMethodListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getPaymentMethodList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 7]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let paymentMethodList = []
          if (list) {
            list.forEach((ele, idx) => {
              paymentMethodList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.paymentMethodList = paymentMethodList
          // console.log(this.paymentMethodList)
        }
      })
    },
    /* 付款條件 */
    paymentConditionListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      // this.postData[data.code] = data.val
      this.postData.payment_condition = data.val
    },
    getPaymentConditionList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 8]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let paymentConditionList = []
          if (list) {
            list.forEach((ele, idx) => {
              paymentConditionList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.paymentConditionList = paymentConditionList
          // console.log(this.paymentConditionList)
        }
      })
    },
    /* 客戶類型 */
    CarCatListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getCarCatList: function () {
      this.CarCatList = [
        {
          value: '貨主',
          label: '貨主'
        },
        {
          value: '供應商',
          label: '供應商'
        },
        {
          value: '門市',
          label: '門市'
        }
      ]
      // let postData = {
      //   pageNum: 1,
      //   pageSize: Config.maxPageSize,
      //   baseCondition: [
      //     ['code_type', '=', 1]
      //   ],
      //   orCondition: [],
      //   sort: []
      // }
      // //
      // this.$store.dispatch(`settingCode/search`, postData).then((r) => {
      //   // console.log(r)
      //   if (r.success) {
      //     let list = r.data
      //     let CarCatList = []
      //     if (list) {
      //       list.forEach((ele, idx) => {
      //         CarCatList.push({
      //           value: ele.code_id,
      //           label: ele.code_name
      //         })
      //       })
      //     }
      //     this.CarCatList = CarCatList
      //     // console.log(this.CarCatList)
      //   }
      // })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.detailId)
    // this.getCarCatList()
    // this.getPaymentMethodList()
    // this.getPaymentConditionList()
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    if (this.step !== 2) {
      this.inherit = true
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    // this.$store.dispatch(`Car/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 16px;
            color: #fff;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      // height: auto;
      // display: flex;
      // justify-content: flex-end;
      // align-items: flex-end;
      // flex-direction: column;
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        bcar-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #e2c57f;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    bcar-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
  color: #fff;
}
</style>
