<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 聯絡人(主) -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_firstname && postData.contact_firstname!==''), label: `聯絡人(主) *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`contact_firstname`"
            :defaultValue="postData.contact_firstname"
            :disabled="false"
            :isError="error.contact_firstname"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 聯絡人(次) -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_lastname && postData.contact_lastname!==''), label: `聯絡人(次)`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`contact_lastname`"
            :defaultValue="postData.contact_lastname"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 聯絡人_角色 -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_title && postData.contact_title!==''), label: `聯絡人_角色`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`contact_title`"
            :defaultValue="postData.contact_title"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
          <div class="body-box">
            <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- 聯絡室內電話 -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_phone && postData.contact_phone!==''), label: `聯絡室內電話`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`contact_phone`"
            :defaultValue="postData.contact_phone"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 聯絡行動電話 -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_mobile && postData.contact_mobile!==''), label: `聯絡行動電話`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`contact_mobile`"
            :defaultValue="postData.contact_mobile"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 聯絡Email -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_email && postData.contact_email!==''), label: `聯絡Email`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`contact_email`"
            :defaultValue="postData.contact_email"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- 國別ID -->
          <FloatLabelBox
            :config="{hasContent: (postData.country_name && postData.country_name!==''), label: `國家 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
            :code="`country_name`"
            :autoCompleteData="countryList"
            :defaultValue="postData.country_name"
            :modalTitle="`國家`"
            :toCloseModal="toCloseCountryAutocompleteModal"
            keyCode="countrySetup"
            storeKey="country"
            returnCode="country_name"
            :isError="error.country_id"
            :isRequired="true"
            :showCols="autoCompleteShowCountryCols"
            @handleEnterSubmit="autocompleteHandleCountryEnterSubmitEvent"
            @changeModelEvent="countryAutocompleteChangeEvent"
            @autoCompleteSearchEvent="countryAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseCountryAutocompleteModal">
              <div>
                <!-- 國家-->
                <AutocompleteModal
                keyCode="countrySetup"
                storeKey="country"
                returnCode="country_name"
                :condition="countryCondition"
                @setAutocompleteValueEvent="setAutocompleteCountryValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 州省郡ID -->
          <FloatLabelBox
            :config="{hasContent: (postData.province_name && postData.province_name!==''), label: `州省郡 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
            :code="`province_name`"
            :autoCompleteData="provinceList"
            :defaultValue="postData.province_name"
            :modalTitle="`州省郡`"
            :toCloseModal="toCloseProvinceAutocompleteModal"
            keyCode="stateSetup"
            storeKey="stateProvince"
            returnCode="province_name"
            :isError="error.province_id"
            :isRequired="true"
            :showCols="autoCompleteShowProvinceCols"
            @handleEnterSubmit="autocompleteHandleProvinceEnterSubmitEvent"
            @changeModelEvent="provinceAutocompleteChangeEvent"
            @autoCompleteSearchEvent="provinceAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseProvinceAutocompleteModal">
              <div>
                <!-- 州省郡-->
                <AutocompleteModal
                keyCode="stateSetup"
                storeKey="stateProvince"
                returnCode="province_name"
                :condition="provinceCondition"
                @setAutocompleteValueEvent="setAutocompleteProvinceValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 城市ID -->
          <FloatLabelBox
            :config="{hasContent: (postData.city_name && postData.city_name!==''), label: `城市 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
            :code="`city_name`"
            :autoCompleteData="cityList"
            :defaultValue="postData.city_name"
            :modalTitle="`城市`"
            :toCloseModal="toCloseCityAutocompleteModal"
            keyCode="citySetup"
            storeKey="city"
            returnCode="city_name"
            :isError="error.city_id"
            :isRequired="true"
            :showCols="autoCompleteShowCityCols"
            @handleEnterSubmit="autocompleteHandleCityEnterSubmitEvent"
            @changeModelEvent="cityAutocompleteChangeEvent"
            @autoCompleteSearchEvent="cityAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseCityAutocompleteModal">
              <div>
                <!-- 城市-->
                <AutocompleteModal
                keyCode="citySetup"
                storeKey="city"
                returnCode="city_name"
                :condition="cityCondition"
                @setAutocompleteValueEvent="setAutocompleteCityValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 行政區ID -->
          <FloatLabelBox
            :config="{hasContent: (postData.district_name && postData.district_name!==''), label: `行政區 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
            :code="`district_name`"
            :autoCompleteData="districtList"
            :defaultValue="postData.district_name"
            :modalTitle="`行政區`"
            :toCloseModal="toCloseDistrictAutocompleteModal"
            keyCode="districtSetup"
            storeKey="district"
            returnCode="district_name"
            :isError="error.district_id"
            :isRequired="true"
            :showCols="autoCompleteShowDistrictCols"
            @handleEnterSubmit="autocompleteHandleDistrictEnterSubmitEvent"
            @changeModelEvent="districtAutocompleteChangeEvent"
            @autoCompleteSearchEvent="districtAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseDistrictAutocompleteModal">
              <div>
                <!-- 行政區-->
                <AutocompleteModal
                keyCode="districtSetup"
                storeKey="district"
                returnCode="district_name"
                :condition="districtCondition"
                @setAutocompleteValueEvent="setAutocompleteDistrictValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col colx2">
          <!-- 聯絡地址 -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_address && postData.contact_address!==''), label: `聯絡地址`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`contact_address`"
            :defaultValue="postData.contact_address"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col colx2">
          <!-- 聯絡人備註 -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_note && postData.contact_note!==''), label: `聯絡人備註`, hasClearButton: true, type: `Textarea`, settings: {minHeight: 52}}"
            :code="`contact_note`"
            :defaultValue="postData.contact_note"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="footer">
        <!-- save btn -->
        <div class="saveBtn" @click="comfirmSave">
          <font-awesome-icon icon="save" size="2x"/>
        </div>
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'ContactSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'companyId', 'whId'],
  components: {
    FloatLabelBox,
    AutocompleteModal,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      contact_id: this.cloneData ? this.cloneData.contact_id : '', // 聯絡人ID
      contact_firstname: this.cloneData ? this.cloneData.contact_firstname : '', // 聯絡人(主)
      contact_lastname: this.cloneData ? this.cloneData.contact_lastname : '', // 聯絡人(次)
      contact_title: this.cloneData ? this.cloneData.contact_title : '', // 聯絡人_角色
      contact_phone: this.cloneData ? this.cloneData.contact_phone : '', // 聯絡室內電話
      contact_mobile: this.cloneData ? this.cloneData.contact_mobile : '', // 聯絡行動電話
      contact_email: this.cloneData ? this.cloneData.contact_email : '', // 聯絡Email
      region_id: this.cloneData ? this.cloneData.region_id : '', // 區域ID
      country_name: this.cloneData ? this.cloneData.country_name : '臺灣', // 國別
      country_id: this.cloneData ? this.cloneData.country_id : 48, // 國別ID
      province_name: this.cloneData ? this.cloneData.province_name : '', // 州省郡
      province_id: this.cloneData ? this.cloneData.province_id : '', // 州省郡ID
      city_name: this.cloneData ? this.cloneData.city_name : '', // 城市
      city_id: this.cloneData ? this.cloneData.city_id : '', // 城市ID
      district_name: this.cloneData ? this.cloneData.district_name : '', // 行政區
      district_id: this.cloneData ? this.cloneData.district_id : '', // 行政區ID
      contact_address: this.cloneData ? this.cloneData.contact_address : '', // 聯絡地址
      contact_note: this.cloneData ? this.cloneData.contact_note : '', // 聯絡人備註
      latitude: this.cloneData ? this.cloneData.latitude : '', // 緯度
      longitude: this.cloneData ? this.cloneData.longitude : '', // 經度
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1 // 已啟用
    }
    return {
      //
      modalType: modalType,
      //
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      /* 區域 */
      autoCompleteRegionData: [],
      autoCompleteRegionShowCols: [
        'region_id'
      ],
      toCloseAutocompleteRegionModal: false,
      regionCondition: [], // 需額外限定的條件
      regionNotSearchTrigger: false,
      /* 國家 */
      countryList: [],
      autoCompleteShowCountryCols: [
        'country_code',
        'country_code_alpha3'
      ],
      toCloseCountryAutocompleteModal: false,
      countryCondition: [],
      /* 州省郡 */
      provinceList: [],
      autoCompleteShowProvinceCols: [
        'province_code'
      ],
      toCloseProvinceAutocompleteModal: false,
      provinceCondition: [],
      /* 城市 */
      cityList: [],
      autoCompleteShowCityCols: [
        'city_code'
      ],
      toCloseCityAutocompleteModal: false,
      cityCondition: [],
      /* 行政區 */
      districtList: [],
      autoCompleteShowDistrictCols: [],
      toCloseDistrictAutocompleteModal: false,
      districtCondition: [],
      //
      postData: postData,
      error: {
        company_id: false, // 公司ID
        contact_id: false, // 聯絡人ID
        contact_firstname: false, // 聯絡人(主)
        contact_lastname: false, // 聯絡人(次)
        contact_title: false, // 聯絡人_角色
        contact_phone: false, // 聯絡室內電話
        contact_mobile: false, // 聯絡行動電話
        contact_email: false, // 聯絡Email
        region_id: false, // 區域ID
        country_id: false, // 國別ID
        province_id: false, // 州省郡ID
        city_id: false, // 城市ID
        district_id: false, // 行政區ID
        contact_address: false, // 聯絡地址
        contact_note: false, // 聯絡人備註
        latitude: false, // 緯度
        longitude: false, // 經度
        created_at: false, // 建立時間
        update_at: false, // 更新時間
        is_enabled: false // 已啟用
      }
    }
  },
  computed: {
    contact: function () {
      return this.$store.state[`contact`][`contact`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    contact: {
      handler: function (val) {
        // console.log('contact : ', val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        this.postData = {
          company_id: val.company_id || this.companyId, // 公司ID
          contact_id: val.contact_id || null, // 聯絡人ID
          contact_firstname: val.contact_firstname || null, // 聯絡人(主)
          contact_lastname: val.contact_lastname || '', // 聯絡人(次)
          contact_title: val.contact_title || null, // 聯絡人_角色
          contact_phone: val.contact_phone || null, // 聯絡室內電話
          contact_mobile: val.contact_mobile || null, // 聯絡行動電話
          contact_email: val.contact_email || null, // 聯絡Email
          region_name: val.region_name || null, // 區域
          region_id: val.region_id || null, // 區域ID
          country_name: val.country_name || '臺灣', // 國別
          country_id: val.country_id || 48, // 國別ID
          province_name: val.province_name || null, // 州省郡
          province_id: val.province_id || null, // 州省郡ID
          city_name: val.city_name || null, // 城市
          city_id: val.city_id || null, // 城市ID
          district_name: val.district_name || null, // 行政區
          district_id: val.district_id || null, // 行政區ID
          contact_address: val.contact_address || null, // 聯絡人備註
          contact_note: val.contact_note || null, // 聯絡地址
          is_enabled: val.is_enabled // 已啟用
        }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        // console.log(val)
        if (val.contact_firstname) {
          this.error.contact_firstname = false
        }
        if (val.country_id) {
          this.error.country_id = false
        }
        if (val.city_id) {
          this.error.city_id = false
        }
        if (val.province_id) {
          this.error.province_id = false
        }
        if (val.district_id) {
          this.error.district_id = false
        }
        //
        if (val && val.country_id) {
          this.provinceCondition = [
            {
              queryCondition: '=',
              queryValue: val.country_id,
              queryField: 'country_id'
            }
          ]
        } else {
          this.provinceCondition = []
        }
        //
        if (val && val.country_id && val.province_id) {
          this.cityCondition = [
            {
              queryCondition: '=',
              queryValue: val.country_id,
              queryField: 'country_id'
            },
            {
              queryCondition: '=',
              queryValue: val.province_id,
              queryField: 'province_id'
            }
          ]
        } else {
          this.cityCondition = []
        }
        //
        if (val && val.country_id && val.province_id && val.city_id) {
          this.districtCondition = [
            {
              queryCondition: '=',
              queryValue: val.country_id,
              queryField: 'country_id'
            },
            {
              queryCondition: '=',
              queryValue: val.province_id,
              queryField: 'province_id'
            },
            {
              queryCondition: '=',
              queryValue: val.city_id,
              queryField: 'city_id'
            }
          ]
        } else {
          this.districtCondition = []
        }
      },
      deep: true
    }
  },
  methods: {
    init: function () {
      this.autoCompleteCompanyData = []
      this.autoCompleteRegionData = []
      this.autoCompleteCountryData = []
      this.autoCompleteProvinceData = []
      this.autoCompleteDistrictData = []
      this.autoCompleteContactData = []
      this.postData = {
        customer_cat: null, // 客戶類型
        customer_id: null, // 客戶ID
        company_name: '', // 公司名稱
        company_id: this.companyId || null, // 公司ID
        wh_id: null, // 倉庫ID
        customer_no: null, // 客戶編號
        customer_name: null, // 客戶名稱
        vatno: null, // 客戶統一編號
        region_name: '', // 區域
        region_id: '', // 區域ID
        country_name: '臺灣', // 國別
        country_id: 48, // 國別ID
        province_name: '', // 州省郡
        province_id: '', // 州省郡ID
        city_name: '', // 城市
        city_id: '', // 城市ID
        district_name: '', // 行政區
        district_id: '', // 行政區ID
        address: null, // 客戶地址
        address_invoice: null, // 客戶發票地址
        telephone: null, // 客戶電話
        fax: null, // 客戶傳真
        website: null, // 客戶網址
        latitude: null, // 緯度
        longitude: null, // 經度
        contact_firstname: null, // 聯絡人
        contact_id: null, // 聯絡人ID
        account_id: null, // 帳號ID
        sales_id: null, // 業務員ID
        payment_method: null, // 付款方式
        payment_condition: null, // 付款條件
        payment_dueday: null, // 結帳截止日
        bill_receive_dueday: null, // 帳單截止收件日
        customer_note: null, // 客戶備註
        created_at: null, // 建立時間
        update_at: null, // 更新時間
        is_enabled: 1
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (contactId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'contact_id',
            queryValue: contactId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`contact/queryDetail`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    //
    save: function (action = null) {
      // console.log(this.postData)
      let isError = false
      //
      if (!this.postData.contact_firstname || this.postData.contact_firstname === '') {
        isError = true
        this.error.contact_firstname = true
      }
      if (!this.postData.country_id || this.postData.country_id === '') {
        isError = true
        this.error.country_id = true
      }
      if (!this.postData.city_id || this.postData.city_id === '') {
        isError = true
        this.error.city_id = true
      }
      if (!this.postData.district_id || this.postData.district_id === '') {
        isError = true
        this.error.district_id = true
      }
      // bol => num
      // this.postData.is_enabled = this.postData.is_enabled === 1
      // console.log('isError', isError)
      //
      if (isError) {
        return
      }
      //
      let postData = {
        company_id: this.companyId, // 公司ID
        contact_firstname: this.postData.contact_firstname, // 聯絡人(主)
        contact_lastname: this.postData.contact_lastname || '　', // 聯絡人(次)
        country_id: this.postData.country_id, // 國別ID
        city_id: this.postData.city_id, // 城市ID
        district_id: this.postData.district_id // 行政區ID
      }
      Object.keys(this.postData).forEach((key, idx) => {
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'is_enabled') {
            let value = Number(this.postData[key])
            // console.log(value)
            postData[key] = value
          } else {
            let value = this.postData[key]
            postData[key] = value
          }
        } else if (this.step === 2 && action !== 'clone' && !this.postData[key] && this.postData[key] !== 0) {
          postData[key] = 'null'
        }
      })
      // console.log(postData)
      // if (!isError && !this.detailId) {
      //   this.$emit('saveEvent', { type: this.type, detailType: this.detailType, postData: this.postData })
      // }
      // if (!isError && this.detailId) {
      //   this.$emit('updateEvent', { type: this.type, detailType: this.detailType, detailId: this.detailId, postData: this.postData })
      // }
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('contact/create', postData).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.postData.contact_id = r.respondCode.additionals.contact.contact_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStep2Event', this.postData.contact_id)
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['contact_id']
            this.$store.dispatch('contact/create', postData).then((r) => {
              // console.log(r)
              let rex = /^[2]/g
              if (rex.test(r.httpStatus)) {
                this.postData.contact_id = r.respondCode.additionals.contact.contact_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStep2Event', this.postData.contact_id)
              } else {
                this.$Notice.error({
                  title: '新增失敗'
                })
              }
            })
          } else {
            // update
            // console.log('update')
            // console.log(this.detailId)
            // console.log(postData)
            this.$store.dispatch('contact/update', { id: this.detailId, data: postData }).then((r) => {
              // console.log(r)
              let rex = /^[2]/g
              if (rex.test(r.httpStatus)) {
                // 警告提示
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗'
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          this.$store.dispatch('contact/create', postData).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.postData.contact_id = r.respondCode.additionals.contact.contact_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStep2Event', this.postData.contact_id)
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
      }
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    //
    /* 國家 */
    autocompleteHandleCountryEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.countryList = []
    },
    countryAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.country_id = data.val ? data.val.country_id : ''
        this.postData.region_id = data.val ? data.val.region_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.countryList = [data.val]
      } else {
        this.countryList = []
      }
    },
    countryAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.countryList = list
        }
      })
    },
    setAutocompleteCountryValue: function (data) {
      // console.log(data)
      //
      this.postData.country_name = data.data[data.returnCode]
      this.postData.country_id = data.data.country_id
      this.postData.region_id = data.data.region_id
      //
      this.toCloseCountryAutocompleteModal = true
    },
    setToCloseCountryAutocompleteModal: function (bol) {
      this.toCloseCountryAutocompleteModal = bol
    },
    /* 州省郡 province */
    autocompleteHandleProvinceEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.provinceList = []
    },
    provinceAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.province_id = data.val ? data.val.province_id : ''
        this.postData.country_id = data.val ? data.val.country_id : ''
        this.postData.country_name = data.val ? data.val.country_name : ''
        this.postData.region_id = data.val ? data.val.region_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.provinceList = [data.val]
      } else {
        this.provinceList = []
      }
    },
    provinceAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.provinceList = list
        }
      })
    },
    setAutocompleteProvinceValue: function (data) {
      // console.log(data)
      //
      this.postData.province_name = data.data[data.returnCode]
      this.postData.province_id = data.data.province_id
      this.postData.country_name = data.data.country_name
      this.postData.country_id = data.data.country_id
      this.postData.region_id = data.data.region_id
      //
      this.toCloseProvinceAutocompleteModal = true
    },
    setToCloseProvinceAutocompleteModal: function (bol) {
      this.toCloseProvinceAutocompleteModal = bol
    },
    /* 城市 city */
    autocompleteHandleCityEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.cityList = []
    },
    cityAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.city_id = data.val ? data.val.city_id : ''
        this.postData.province_name = data.val ? data.val.province_name : ''
        this.postData.province_id = data.val ? data.val.province_id : ''
        this.postData.country_id = data.val ? data.val.country_id : ''
        this.postData.country_name = data.val ? data.val.country_name : ''
        this.postData.region_id = data.val ? data.val.region_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.cityList = [data.val]
      } else {
        this.cityList = []
      }
    },
    cityAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.cityList = list
        }
      })
    },
    setAutocompleteCityValue: function (data) {
      // console.log(data)
      //
      this.postData.city_name = data.data[data.returnCode]
      this.postData.city_id = data.data.city_id
      this.postData.province_name = data.data.province_name
      this.postData.province_id = data.data.province_id
      this.postData.country_name = data.data.country_name
      this.postData.country_id = data.data.country_id
      this.postData.region_id = data.data.region_id
      //
      this.toCloseCityAutocompleteModal = true
    },
    setToCloseCityAutocompleteModal: function (bol) {
      this.toCloseCityAutocompleteModal = bol
    },
    /* 行政區 district */
    autocompleteHandleDistrictEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.districtList = []
    },
    districtAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.district_id = data.val ? data.val.district_id : ''
        this.postData.city_name = data.val ? data.val.city_name : ''
        this.postData.city_id = data.val ? data.val.city_id : ''
        this.postData.province_name = data.val ? data.val.province_name : ''
        this.postData.province_id = data.val ? data.val.province_id : ''
        this.postData.country_id = data.val ? data.val.country_id : ''
        this.postData.country_name = data.val ? data.val.country_name : ''
        this.postData.region_id = data.val ? data.val.region_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.districtList = [data.val]
      } else {
        this.districtList = []
      }
    },
    districtAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.districtList = list
        }
      })
    },
    setAutocompleteDistrictValue: function (data) {
      // console.log(data)
      //
      this.postData.district_name = data.data[data.returnCode]
      this.postData.district_id = data.data.district_id
      this.postData.city_name = data.data.city_name
      this.postData.city_id = data.data.city_id
      this.postData.province_name = data.data.province_name
      this.postData.province_id = data.data.province_id
      this.postData.country_name = data.data.country_name
      this.postData.country_id = data.data.country_id
      this.postData.region_id = data.data.region_id
      //
      this.toCloseDistrictAutocompleteModal = true
    },
    setToCloseDistrictAutocompleteModal: function (bol) {
      this.toCloseDistrictAutocompleteModal = bol
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`contact/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  h2.title {
    font-family: PingFangTC;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354361;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  /deep/.ivu-btn.icon-btn-md {
    border: 2px solid;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 0;
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > span {
      font-size: 14px;
    }
  }
  .backBtn {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-left: 1rem;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .backBtn {
        position: absolute;
        right: 45px;
        bottom: 200px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #dca558;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
}
// @media (max-width: 992px) {
//   .content-box .top-box .row {
//     flex-wrap: wrap;
//     .col {
//       flex: 1;
//     }
//   }
//   .floatLabelBox-container {
//     min-width: 250px;
//   }
// }
</style>
