<template>
  <div class="content-box">
    <div class="top-box pt-2">
      <div class="row">
        <div class="col">
          <!-- 客戶編號 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.customer_no && postData.customer_no!==''),
              label: `客戶編號 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`customer_no`"
            :defaultValue="postData.customer_no"
            :disabled="step === 2"
            :isError="error.customer_no"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 客戶名稱 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.customer_name && postData.customer_name!==''),
              label: `客戶名稱 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`customer_name`"
            :defaultValue="postData.customer_name"
            :disabled="false"
            :isError="error.customer_name"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 客戶類型 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.customer_cat_name && postData.customer_cat_name!==''),
              label: `客戶類型 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="customerCatList"
            :code="`customer_cat_name`"
            :defaultValue="postData.customer_cat_name"
            :isError="error.customer_cat_name"
            :isRequired="true"
            @changeModelEvent="customerCatListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 客戶統一編號 -->
          <FloatLabelBox
            :config="{hasContent: (postData.vatno && postData.vatno!==''),
            label: `客戶統一編號`,
            hasClearButton: true,
            background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
            type: `InputText`,
            settings: {height: 41}}"
            :code="`vatno`"
            :defaultValue="postData.vatno"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 客戶電話 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.telephone && postData.telephone!==''),
              label: `客戶電話`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`telephone`"
            :defaultValue="postData.telephone"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 客戶傳真 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.fax && postData.fax!==''),
              label: `客戶傳真`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`fax`"
            :defaultValue="postData.fax"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 客戶網址 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.website && postData.website!==''),
              label: `客戶網址`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`website`"
            :defaultValue="postData.website"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 聯絡人 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.contact_firstname && postData.contact_firstname!==''),
              label: `聯絡人`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`contact_firstname`"
            :defaultValue="postData.contact_firstname"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col colx2">
          <!-- 客戶地址 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.address && postData.address!==''),
              label: `客戶地址`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`address`"
            :defaultValue="postData.address"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col colx2">
          <!-- 客戶發票地址 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.address_invoice && postData.address_invoice!==''),
              label: `客戶發票地址`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`address_invoice`"
            :defaultValue="postData.address_invoice"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col colx2">
          <!-- 客戶備註 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.customer_note && postData.customer_note!==''),
              label: `客戶備註`,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`customer_note`"
            :defaultValue="postData.customer_note"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
          <div class="body-box">
            <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div>
      </div>

      <div class="footer">
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'CustomerSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      customer_cat: this.cloneData ? this.cloneData.customer_cat : null, // 客戶類型
      customer_cat_name: this.cloneData ? this.cloneData.customer_cat_name : null, // 客戶類型
      cc_id: this.cloneData ? this.cloneData.cc_id : null, // 客戶類型ID
      customer_id: this.cloneData ? this.cloneData.customer_id : null, // 客戶ID
      customer_no: this.cloneData ? this.cloneData.customer_no : null, // 客戶編號
      customer_name: this.cloneData ? this.cloneData.customer_name : null, // 客戶名稱
      vatno: this.cloneData ? this.cloneData.vatno : null, // 客戶統一編號
      address: this.cloneData ? this.cloneData.address : null, // 客戶地址
      address_invoice: this.cloneData ? this.cloneData.address_invoice : null, // 客戶發票地址
      telephone: this.cloneData ? this.cloneData.telephone : null, // 客戶電話
      fax: this.cloneData ? this.cloneData.fax : null, // 客戶傳真
      contact_firstname: this.cloneData ? this.cloneData.contact_firstname : null, // 聯絡人
      website: this.cloneData ? this.cloneData.website : null, // 客戶網址
      account_id: this.cloneData ? this.cloneData.account_id : null, // 帳號ID
      payment_method: this.cloneData ? this.cloneData.payment_method : null, // 付款方式
      payment_condition: this.cloneData ? this.cloneData.payment_condition : null, // 付款條件
      payment_dueday: this.cloneData ? this.cloneData.payment_dueday : null, // 結帳截止日
      bill_receive_dueday: this.cloneData ? this.cloneData.bill_receive_dueday : null, // 帳單截止收件日
      customer_days_allowed_rule: this.cloneData ? this.cloneData.customer_days_allowed_rule : null, // 允售條件
      customer_note: this.cloneData ? this.cloneData.customer_note : null, // 客戶備註
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1
    }
    return {
      //
      modalType: modalType,
      // detailData: {}, // 明細頁資訊
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      inherit: this.step !== 2,
      //
      /* 付款方式 */
      paymentMethodList: [],
      /* 付款條件 */
      paymentConditionList: [],
      /* 客戶類別 */
      customerCatList: [],
      //
      postData: postData,
      error: {
        customer_cat_name: false, // 客戶類型
        customer_cat: false, // 客戶類型
        customer_id: false, // 客戶ID
        customer_no: false, // 客戶編號
        customer_name: false, // 客戶名稱
        vatno: false, // 客戶統一編號
        address: false, // 客戶地址
        address_invoice: false, // 客戶發票地址
        telephone: false, // 客戶電話
        fax: false, // 客戶傳真
        contact_firstname: false, // 聯絡人
        website: false, // 客戶網址
        account_id: false, // 帳號ID
        payment_method: false, // 付款方式
        payment_condition: false, // 付款條件
        payment_dueday: false, // 結帳截止日
        bill_receive_dueday: false, // 帳單截止收件日
        customer_days_allowed_rule: false, // 允售條件
        customer_note: false, // 客戶備註
        created_at: false, // 建立時間
        update_at: false, // 更新時間
        is_enabled: false // 已啟用
      },
      errorMsgCustomerDaysAllowedRule: ''
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    customer: function () {
      return this.$store.state[`customer`][`customer`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    customer: {
      handler: function (val) {
        // console.log('customer : ', val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        this.postData = {
          customer_cat_name: val.customer_cat_name || null, // 客戶類型
          customer_cat: val.customer_cat || null, // 客戶類型
          cc_id: val.cc_id || null, // 客戶類型ID
          customer_id: val.customer_id || null, // 客戶ID
          customer_no: val.customer_no || null, // 客戶編號
          customer_name: val.customer_name || null, // 客戶名稱
          vatno: val.vatno || null, // 客戶統一編號
          address: val.address || null, // 客戶地址
          address_invoice: val.address_invoice || null, // 客戶發票地址
          telephone: val.telephone || null, // 客戶電話
          fax: val.fax || null, // 客戶傳真
          contact_firstname: val.contact_firstname || null, // 聯絡人
          website: val.website || null, // 客戶網址
          payment_method: val.payment_method || null, // 付款方式
          payment_condition: val.payment_condition || null, // 付款條件
          payment_dueday: val.payment_dueday || null, // 結帳截止日
          bill_receive_dueday: val.bill_receive_dueday || null, // 帳單截止收件日
          customer_days_allowed_rule: val.customer_days_allowed_rule || null, // 允售條件
          customer_note: val.customer_note || null, // 客戶備註
          is_enabled: val.is_enabled // 已啟用
        }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.customer_no) {
          this.error.customer_no = false
        }
        if (val.customer_name) {
          this.error.customer_name = false
        }
        if (val.customer_cat_name) {
          this.error.customer_cat_name = false
        }
        //
        if (!val.customer_days_allowed_rule) {
          this.error.customer_days_allowed_rule = false
        } else {
          let rex = /[/]/g
          if (rex.test(val.customer_days_allowed_rule)) {
            let strArry = val.customer_days_allowed_rule.split('/', 2)
            let arr = [Number(strArry[0]), Number(strArry[1])]
            if (Number.isInteger(arr[0]) && arr[0] > 0 && Number.isInteger(arr[1]) && arr[1] > 0 && arr[1] > arr[0]) {
              this.error.customer_days_allowed_rule = false
            }
          }
        }
        if (this.inherit) {
          val.address_invoice = this.postData.address
        }
      },
      deep: true
    },
    //
    inherit: function (bol) {
      // console.log(bol)
      if (bol) {
        this.postData.address_invoice = this.postData.address
      }
    }
  },
  methods: {
    init: function () {
      this.autoCompleteCompanyData = []
      this.autoCompleteRegionData = []
      this.autoCompleteCountryData = []
      this.autoCompleteProvinceData = []
      this.autoCompleteDistrictData = []
      this.autoCompleteContactData = []
      this.postData = {
        customer_cat_name: null, // 客戶類型
        customer_cat: null, // 客戶類型
        cc_id: null, // 客戶類型ID
        customer_id: null, // 客戶ID
        customer_no: null, // 客戶編號
        customer_name: null, // 客戶名稱
        vatno: null, // 客戶統一編號
        address: null, // 客戶地址
        address_invoice: null, // 客戶發票地址
        telephone: null, // 客戶電話
        fax: null, // 客戶傳真
        contact_firstname: null, // 聯絡人
        website: null, // 客戶網址
        account_id: null, // 帳號ID
        payment_method: null, // 付款方式
        payment_condition: null, // 付款條件
        payment_dueday: null, // 結帳截止日
        bill_receive_dueday: null, // 帳單截止收件日
        customer_days_allowed_rule: null, // 允售條件
        customer_note: null, // 客戶備註
        created_at: null, // 建立時間
        update_at: null, // 更新時間
        is_enabled: 1
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (detailId) {
      this.$store.dispatch(`customer/queryDetail`, detailId).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    setCustomerEvent: function (data) {
      console.log(data)
      if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    //
    save: function (action = null) {
      // console.log(this.postData)
      let isError = false
      if (!this.postData.customer_no || this.postData.customer_no === '') {
        isError = true
        this.error.customer_no = true
      }
      if (!this.postData.customer_name || this.postData.customer_name === '') {
        isError = true
        this.error.customer_name = true
      }
      if (!this.postData.customer_cat_name || this.postData.customer_cat_name === '') {
        isError = true
        this.error.customer_cat_name = true
      }
      if (this.postData.customer_days_allowed_rule) {
        let rex = /[/]/g
        if (rex.test(this.postData.customer_days_allowed_rule)) {
          let strArry = this.postData.customer_days_allowed_rule.split('/', 2)
          let arr = [Number(strArry[0]), Number(strArry[1])]
          var errorMsg = ''
          if (!Number.isInteger(arr[0]) || arr[0] < 0) {
            isError = true
            this.error.customer_days_allowed_rule = true
            errorMsg = `${errorMsg}分子請填正整數`
          }
          if (!Number.isInteger(arr[1]) || arr[1] < 0) {
            isError = true
            this.error.customer_days_allowed_rule = true
            errorMsg = `${errorMsg} 分母請填正整數`
          }
          if (arr[0] > arr[1]) {
            isError = true
            this.error.customer_days_allowed_rule = true
            errorMsg = `${errorMsg} 分子請小於分母`
          }
          if (this.error.customer_days_allowed_rule) {
            this.errorMsgCustomerDaysAllowedRule = errorMsg
          }
        } else {
          isError = true
          this.error.customer_days_allowed_rule = true
          this.errorMsgCustomerDaysAllowedRule = '請輸入分數'
        }
        console.log(this.postData.customer_days_allowed_rule)
      }
      //
      if (isError) {
        return
      }
      //
      let postData = {
        customer_no: this.postData.customer_no, // 客戶編號
        customer_name: this.postData.customer_name, // 客戶名稱
        is_enabled: Number(this.postData.is_enabled)
      }
      Object.keys(this.postData).forEach((key, idx) => {
        console.log(key)
        console.log(this.postData[key])
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'created_at') {
            return
          }
          if (key === 'update_at') {
            return
          }
          if (key === 'is_enabled') {
            let value = Number(this.postData[key])
            // console.log(value)
            postData[key] = value
          } else if (key === 'customer_days_allowed_rule') {
            let strArry = this.postData.customer_days_allowed_rule.split('/', 2)
            postData[key] = `${Number(strArry[0])}/${Number(strArry[1])}`
          } else {
            let value = this.postData[key]
            postData[key] = value
          }
        } else if (this.step === 2 && action !== 'clone' && !this.postData[key] && this.postData[key] !== 0) {
          if (key === 'created_at') {
            return
          }
          if (key === 'update_at') {
            return
          }
          postData[key] = null
        }
      })
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('customer/create', postData).then((r) => {
            // console.log(r)
            console.log(r)
            if (r.success) {
              this.postData.customer_id = r.data.customer_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['customer_id']
            this.$store.dispatch('customer/create', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                this.postData.customer_id = r.data.customer_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', this.postData, 2)
              } else {
                this.$Notice.error({
                  title: '新增失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          } else {
            // update
            // console.log('update')
            this.$store.dispatch('customer/update', { postData: postData, detailId: this.detailId }).then((r) => {
              // console.log(r)
              if (r.success) {
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData['customer_id']
          this.$store.dispatch('customer/create', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.postData.customer_id = r.data.customer_id
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
      }
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 付款方式 */
    paymentMethodListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getPaymentMethodList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 7]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let paymentMethodList = []
          if (list) {
            list.forEach((ele, idx) => {
              paymentMethodList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.paymentMethodList = paymentMethodList
          // console.log(this.paymentMethodList)
        }
      })
    },
    /* 付款條件 */
    paymentConditionListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      // this.postData[data.code] = data.val
      this.postData.payment_condition = data.val
    },
    getPaymentConditionList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 8]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let paymentConditionList = []
          if (list) {
            list.forEach((ele, idx) => {
              paymentConditionList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.paymentConditionList = paymentConditionList
          // console.log(this.paymentConditionList)
        }
      })
    },
    /* 客戶類型 */
    customerCatListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getCustomerCatList: function () {
      this.customerCatList = [
        {
          value: '貨主',
          label: '貨主'
        }
      ]
      // let postData = {
      //   pageNum: 1,
      //   pageSize: Config.maxPageSize,
      //   baseCondition: [
      //     ['code_type', '=', 1]
      //   ],
      //   orCondition: [],
      //   sort: []
      // }
      // //
      // this.$store.dispatch(`settingCode/search`, postData).then((r) => {
      //   // console.log(r)
      //   if (r.success) {
      //     let list = r.data
      //     let customerCatList = []
      //     if (list) {
      //       list.forEach((ele, idx) => {
      //         customerCatList.push({
      //           value: ele.code_id,
      //           label: ele.code_name
      //         })
      //       })
      //     }
      //     this.customerCatList = customerCatList
      //     // console.log(this.customerCatList)
      //   }
      // })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.detailId)
    this.getCustomerCatList()
    this.getPaymentMethodList()
    this.getPaymentConditionList()
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    if (this.step !== 2) {
      this.inherit = true
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`customer/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    overflow: auto;
    height: calc(100% - 27px);
    position: relative;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.colx3 {
          flex: 0 0 75%;
          .label-box {
            flex: none;
          }
        }
        .label-box {
          flex: 1;
          font-size: 20px;
          font-weight: 400;
          color: #3c3c3c;
        }
        .ivu-checkbox-group {
          color: #3c3c3c;
        }
        .body-box {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding: 0;
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
  color: #fff;
}
</style>
