<template>
  <div class="card-content">
    <div class="header-box"><Icon type="ios-more-outline" size="30" /></div>
    <div class="body-box">
        <h2 class="title">{{label}}</h2>
        <div class="list-box">
            <div v-for="(item, index) in dataList" :key="index" class="listItem" :class="{active: (type === 'G' && currentGId === item.group_id) || (type === 'C' && currentCId === item.company_id)}">
                <span v-if="type==='G'">
                    <div class="listItem-name" @click="getSubItem(item.group_id)" @dblclick="getDetail(item)">
                        {{item.group_name}}
                    </div>
                    <div class="listItem-remove" @click="comfirmRemove('G', item)">
                        <Icon type="md-close" size="10"/>
                    </div>
                </span>
                <span v-if="type==='C'">
                    <div class="listItem-name" @click="getSubItem(item.company_id)" @dblclick="getDetail(item)">
                        {{item.company_name}}
                    </div>
                    <div class="listItem-remove" @click="comfirmRemove('C', item)">
                        <Icon type="md-close" size="10"/>
                    </div>
                </span>
                <span v-if="type==='WD'">
                    <div class="listItem-name" @dblclick="getDetail(item)">
                        <span>{{item.dept_name || item.wh_name}}</span>
                    </div>
                    <div class="listItem-remove" @click="comfirmRemove(item.dept_id ? 'D' : 'W', item)">
                        <Icon type="md-close" size="10"/>
                    </div>
                </span>
            </div>
        </div>
        <div class="add-btn-box" @click="openAddModal" :class="{disabled: (type==='C' && !currentGId) || (type==='WD' && (!currentGId || !currentCId))}">
            <Icon type="md-add" size="15" />
        </div>
    </div>
    <!-- add modal -->
    <Modal v-model="addModal" width="1160" :footer-hide="true">
        <div slot="header" class="modal-header"></div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <!-- 集團名稱 -->
                    <FloatLabelBox
                    v-if="type==='G'"
                    :config="{hasContent: (postData.group_name && postData.group_name!==''), label: `集團名稱 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`group_name`"
                    :defaultValue="postData.group_name"
                    :disabled="false"
                    :isError="error.group_name"
                    :isRequired="true"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                    <!-- 公司名稱 -->
                    <FloatLabelBox
                    v-if="type==='C'"
                    :config="{hasContent: (postData.company_name && postData.company_name!==''), label: `公司名稱 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`company_name`"
                    :defaultValue="postData.company_name"
                    :disabled="false"
                    :isError="error.company_name"
                    :isRequired="true"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                    <!-- 部門名稱 -->
                    <FloatLabelBox
                    v-if="type==='WD' && detailType === 'D'"
                    :config="{hasContent: (postData.dept_name && postData.dept_name!==''), label: `部門名稱 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`dept_name`"
                    :defaultValue="postData.dept_name"
                    :disabled="false"
                    :isError="error.dept_name"
                    :isRequired="true"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                    <!-- 倉庫名稱 -->
                    <FloatLabelBox
                    v-if="type==='WD' && detailType === 'W'"
                    :config="{hasContent: (postData.wh_name && postData.wh_name!==''), label: `倉庫名稱 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`wh_name`"
                    :defaultValue="postData.wh_name"
                    :disabled="false"
                    :isError="error.wh_name"
                    :isRequired="true"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                </div>
                <div class="col">
                    <!-- 統一編號 -->
                    <FloatLabelBox
                    v-if="type!=='WD'"
                    :config="{hasContent: (postData.vatno && postData.vatno!==''), label: `統一編號 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`vatno`"
                    :defaultValue="postData.vatno"
                    :disabled="false"
                    :isError="error.vatno"
                    :isRequired="true"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                    <!-- 部門編號 -->
                    <FloatLabelBox
                    v-if="type==='WD' && detailType==='D'"
                    :config="{hasContent: (postData.dept_no && postData.dept_no!==''), label: `部門編號 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`dept_no`"
                    :defaultValue="postData.dept_no"
                    :disabled="false"
                    :isError="error.dept_no"
                    :isRequired="true"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                    <!-- 倉庫編號 -->
                    <FloatLabelBox
                    v-if="type==='WD' && detailType==='W'"
                    :config="{hasContent: (postData.wh_no && postData.wh_no!==''), label: `倉庫編號 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`wh_no`"
                    :defaultValue="postData.wh_no"
                    :disabled="false"
                    :isError="error.wh_no"
                    :isRequired="true"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <!-- <div class="col">
                    區域ID
                    <FloatLabelBox
                    :config="{hasContent: (postData.region_id && postData.region_id!==''), label: `區域`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`region_id`"
                    :defaultValue="postData.region_id"
                    :disabled="false"
                    :isError="error.region_id"
                    :isRequired="false"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                </div> -->
                <div class="col">
                  <!-- 國別ID -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.country_name && postData.country_name!==''), label: `國家 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250, height: 52}}"
                    :code="`country_name`"
                    :autoCompleteData="countryList"
                    :defaultValue="postData.country_name"
                    :modalTitle="`國家`"
                    :toCloseModal="toCloseCountryAutocompleteModal"
                    keyCode="countrySetup"
                    storeKey="country"
                    returnCode="country_name"
                    :isError="error.country_id"
                    :isRequired="true"
                    :showCols="autoCompleteShowCountryCols"
                    @handleEnterSubmit="autocompleteHandleCountryEnterSubmitEvent"
                    @changeModelEvent="countryAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="countryAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseCountryAutocompleteModal">
                      <div>
                        <!-- 國家-->
                        <AutocompleteModal
                        keyCode="countrySetup"
                        storeKey="country"
                        returnCode="country_name"
                        :condition="countryCondition"
                        @setAutocompleteValueEvent="setAutocompleteCountryValue"></AutocompleteModal>
                      </div>
                    </FloatLabelBox>
                </div>
                <div class="col">
                  <!-- 州省郡ID -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.province_name && postData.province_name!==''), label: `州省郡 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250, height: 52}}"
                    :code="`province_name`"
                    :autoCompleteData="provinceList"
                    :defaultValue="postData.province_name"
                    :modalTitle="`州省郡`"
                    :toCloseModal="toCloseProvinceAutocompleteModal"
                    keyCode="stateSetup"
                    storeKey="stateProvince"
                    returnCode="province_name"
                    :isError="error.province_id"
                    :isRequired="true"
                    :showCols="autoCompleteShowProvinceCols"
                    @handleEnterSubmit="autocompleteHandleProvinceEnterSubmitEvent"
                    @changeModelEvent="provinceAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="provinceAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseProvinceAutocompleteModal">
                      <div>
                        <!-- 州省郡-->
                        <AutocompleteModal
                        keyCode="stateSetup"
                        storeKey="stateProvince"
                        returnCode="province_name"
                        :condition="provinceCondition"
                        @setAutocompleteValueEvent="setAutocompleteProvinceValue"></AutocompleteModal>
                      </div>
                    </FloatLabelBox>
                </div>
                <div class="col">
                  <!-- 城市ID -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.city_name && postData.city_name!==''), label: `城市 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250, height: 52}}"
                    :code="`city_name`"
                    :autoCompleteData="cityList"
                    :defaultValue="postData.city_name"
                    :modalTitle="`城市`"
                    :toCloseModal="toCloseCityAutocompleteModal"
                    keyCode="citySetup"
                    storeKey="city"
                    returnCode="city_name"
                    :isError="error.city_id"
                    :isRequired="true"
                    :showCols="autoCompleteShowCityCols"
                    @handleEnterSubmit="autocompleteHandleCityEnterSubmitEvent"
                    @changeModelEvent="cityAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="cityAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseCityAutocompleteModal">
                      <div>
                        <!-- 城市-->
                        <AutocompleteModal
                        keyCode="citySetup"
                        storeKey="city"
                        returnCode="city_name"
                        :condition="cityCondition"
                        @setAutocompleteValueEvent="setAutocompleteCityValue"></AutocompleteModal>
                      </div>
                    </FloatLabelBox>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <!-- 行政區ID -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.district_name && postData.district_name!==''), label: `行政區 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250, height: 52}}"
                    :code="`district_name`"
                    :autoCompleteData="districtList"
                    :defaultValue="postData.district_name"
                    :modalTitle="`行政區`"
                    :toCloseModal="toCloseDistrictAutocompleteModal"
                    keyCode="districtSetup"
                    storeKey="district"
                    returnCode="district_name"
                    :isError="error.district_id"
                    :isRequired="true"
                    :showCols="autoCompleteShowDistrictCols"
                    @handleEnterSubmit="autocompleteHandleDistrictEnterSubmitEvent"
                    @changeModelEvent="districtAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="districtAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseDistrictAutocompleteModal">
                      <div>
                        <!-- 行政區-->
                        <AutocompleteModal
                        keyCode="districtSetup"
                        storeKey="district"
                        returnCode="district_name"
                        :condition="districtCondition"
                        @setAutocompleteValueEvent="setAutocompleteDistrictValue"></AutocompleteModal>
                      </div>
                    </FloatLabelBox>
                </div>
                <div class="col colx2">
                    <!-- 地址 -->
                    <FloatLabelBox
                    :config="{hasContent: (postData.address && postData.address!==''), label: `地址`, hasClearButton: true, type: `InputText`, settings: {width: 550, height: 52}}"
                    :code="`address`"
                    :defaultValue="postData.address"
                    :disabled="false"
                    :isError="error.address"
                    :isRequired="false"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                </div>
            </div>
            <div class="row" v-if="type==='WD'">
                <div class="col">
                    <!-- 倉庫部門 -->
                    <FloatLabelBox
                    v-if="type==='WD'"
                    :config="{hasContent: (detailType && detailType!==''), label: `倉庫部門 *`, hasClearButton: true, type: `Select`, settings: {width: 250, height: 52}}"
                    :code="`detailType`"
                    :defaultValue="detailType"
                    :disabled="false"
                    :selectList="detailTypeSelectList"
                    @changeModelEvent="changeDetailTypeModelEvent">
                    </FloatLabelBox>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- 電話 -->
                    <FloatLabelBox
                    :config="{hasContent: (postData.telephone && postData.telephone!==''), label: `電話`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`telephone`"
                    :defaultValue="postData.telephone"
                    :disabled="false"
                    :isError="error.telephone"
                    :isRequired="false"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                </div>
                <div class="col">
                    <!-- 傳真 -->
                    <FloatLabelBox
                    :config="{hasContent: (postData.fax && postData.fax!==''), label: `傳真`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`fax`"
                    :defaultValue="postData.fax"
                    :disabled="false"
                    :isError="error.fax"
                    :isRequired="false"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                </div>
                <div class="col">
                  <!-- 聯絡人ID -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.contact_firstname && postData.contact_firstname!==''), label: `${type==='WD' && detailType === 'W' ? '聯絡人' : '聯絡人 *'}`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250, height: 52}}"
                    :code="`contact_firstname`"
                    :autoCompleteData="contactList"
                    :defaultValue="postData.contact_firstname"
                    :modalTitle="'聯絡人'"
                    :toCloseModal="toCloseContactAutocompleteModal"
                    keyCode="contactSetup"
                    storeKey="contact"
                    returnCode="contact_firstname"
                    :isError="error.contact_id"
                    :isRequired="type==='WD' && detailType === 'W' ? false : true"
                    :showCols="autoCompleteShowContactCols"
                    @handleEnterSubmit="autocompleteHandleContactEnterSubmitEvent"
                    @changeModelEvent="contactAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="contactAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseContactAutocompleteModal">
                      <div>
                        <!-- 聯絡人-->
                        <AutocompleteModal
                        keyCode="contactSetup"
                        storeKey="contact"
                        returnCode="contact_firstname"
                        :apiUrlCondition="setAutocompleteContactApiUrl"
                        :condition="contactCondition"
                        @setAutocompleteValueEvent="setAutocompleteContactValue"></AutocompleteModal>
                      </div>
                    </FloatLabelBox>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- 帳號 -->
                    <FloatLabelBox
                    :config="{hasContent: (postData.account_id && postData.account_id!==''), label: `帳號`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`account_id`"
                    :defaultValue="postData.account_id"
                    :disabled="false"
                    :isError="error.account_id"
                    :isRequired="false"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                </div>
                <div class="col">
                    <!-- 網址 -->
                    <FloatLabelBox
                    :config="{hasContent: (postData.website && postData.website!==''), label: `網址`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
                    :code="`website`"
                    :defaultValue="postData.website"
                    :disabled="false"
                    :isError="error.website"
                    :isRequired="false"
                    @changeModelEvent="changeModelEvent">
                    </FloatLabelBox>
                </div>
                <div class="col iswitch">
                    <!-- 啟用 -->
                    <div class="label-box">啟用</div>
                    <div class="body-box">
                        <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
                            <span slot="open">是</span>
                            <span slot="close">否</span>
                        </i-Switch>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="saveBtn" @click="comfirmSave">
                    <font-awesome-icon icon="save"/>
                </div>
            </div>
        </div>
    </Modal>
    <!-- save modal -->
    <ComfirmSaveModal
    :comfirmSaveModal="comfirmSaveModal"
    v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
    v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
    v-on:setComfirmSaveModalEvent="setComfirmSaveModal"></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
    :comfirmRemoveModal="comfirmRemoveModal"
    v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
    v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
    v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"></ComfirmRemoveModal>
  </div>
</template>

<script>
// import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
//
export default {
  name: 'GroupCompanyCard',
  props: ['label', 'data1List', 'data2List', 'type', 'currentGId', 'currentCId', 'detailTypeSelectList', 'closeModal'],
  components: {
    FloatLabelBox,
    AutocompleteModal,
    ComfirmSaveModal,
    ComfirmRemoveModal
  },
  data () {
    let dataList = [
      ...(this.data1List || []),
      ...(this.data2List || [])
    ]
    // console.log(dataList)
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    //
    return {
      companyId: companyId,
      whId: whId,
      //
      dataList: dataList,
      detailType: (this.type === 'G' || this.type === 'C') ? null : 'W', // 判斷 W or D
      detailId: null, // 更新狀態下會有值
      addModal: false,
      comfirmRemoveModal: false,
      removeType: null,
      removeItem: null,
      comfirmSaveModal: false,
      // detailData: {}, // 明細頁資訊
      /* 國家 */
      countryList: [],
      autoCompleteShowCountryCols: [
        'country_code',
        'country_code_alpha3'
      ],
      toCloseCountryAutocompleteModal: false,
      countryCondition: [],
      /* 州省郡 */
      provinceList: [],
      autoCompleteShowProvinceCols: [
        'province_code'
      ],
      toCloseProvinceAutocompleteModal: false,
      provinceCondition: [],
      /* 城市 */
      cityList: [],
      autoCompleteShowCityCols: [
        'city_code'
      ],
      toCloseCityAutocompleteModal: false,
      cityCondition: [],
      /* 行政區 */
      districtList: [],
      autoCompleteShowDistrictCols: [],
      toCloseDistrictAutocompleteModal: false,
      districtCondition: [],
      /* 聯絡人 */
      contactList: [],
      autoCompleteShowContactCols: [
        'contact_lastname',
        'contact_code',
        'contact_email'
      ],
      toCloseContactAutocompleteModal: false,
      contactCondition: [],
      setAutocompleteContactApiUrl: { companyId: companyId, whId: whId },
      //
      postData: {
        group_name: null, // 集團名稱
        company_name: null, // 公司名稱
        dept_name: null, // 部門名稱
        wh_name: null, // 主要倉車名稱
        vatno: null, // 集團統編 / 公司統編
        dept_no: null, // 部門編號
        wh_no: null, // 倉庫編號
        region_name: '', // 區域
        region_id: '', // 區域ID
        country_name: '臺灣', // 國別
        country_id: 48, // 國別ID
        province_name: '', // 州省郡
        province_id: '', // 州省郡ID
        city_name: '', // 城市
        city_id: '', // 城市ID
        district_name: '', // 行政區
        district_id: '', // 行政區ID
        address: null, // 地址
        telephone: null,
        fax: null, // 傳真
        website: null, // 網址
        latitude: null, // 緯度
        longitude: null, // 經度
        contact_id: null, // 聯絡人ID
        contact_firstname: '', // 聯絡人
        account_id: null, // 帳號ID
        is_enabled: 1
      },
      error: {
        group_name: false, // 集團名稱
        company_name: false, // 公司名稱
        dept_name: false, // 部門名稱
        wh_name: false, // 主要倉車名稱
        vatno: false, // 集團統編 / 公司統編
        dept_no: false, // 部門編號
        wh_no: false, // 倉庫編號
        region_id: false, // 區域ID
        country_id: false, // 國別ID
        province_id: false, // 州省郡ID
        city_id: false, // 城市ID
        district_id: false, // 行政區ID
        address: false, // 地址
        telephone: false,
        fax: false, // 傳真
        website: false, // 網址
        latitude: false, // 緯度
        longitude: false, // 經度
        contact_id: false, // 聯絡人ID
        account_id: false, // 帳號ID
        is_enabled: false
      },
      msg: ''
    }
  },
  watch: {
    addModal: function (bol) {
      if (!bol) {
        this.closeAddModal()
      }
    },
    closeModal: function (bol) {
      // console.log(bol)
      if (bol) {
        this.$emit('setCloseMoadlEvent')
      }
    },
    data1List: {
      handler: function (val) {
        // console.log(val)
        this.dataList = [
          ...(val || []),
          ...(this.data2List || [])
        ]
        // console.log('this.dataList', this.dataList)
      },
      deep: true
    },
    data2List: {
      handler: function (val) {
        // console.log(val)
        this.dataList = [
          ...(val || []),
          ...this.data1List
        ]
        // console.log('this.dataList', this.dataList)
      },
      deep: true
    },
    dataList: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.country_id) {
          this.error.country_id = false
        }
        if (val.city_id) {
          this.error.city_id = false
        }
        if (val.province_id) {
          this.error.province_id = false
        }
        if (val.district_id) {
          this.error.district_id = false
        }
        if (val.contact_id) {
          this.error.contact_id = false
        }
        if (val.vatno) {
          this.error.vatno = false
        }
        //
        if (val && val.country_id) {
          this.provinceCondition = [
            {
              queryCondition: '=',
              queryValue: val.country_id,
              queryField: 'country_id'
            }
          ]
        } else {
          this.provinceCondition = []
        }
        //
        if (val && val.country_id && val.province_id) {
          this.cityCondition = [
            {
              queryCondition: '=',
              queryValue: val.country_id,
              queryField: 'country_id'
            },
            {
              queryCondition: '=',
              queryValue: val.province_id,
              queryField: 'province_id'
            }
          ]
        } else {
          this.cityCondition = []
        }
        //
        if (val && val.country_id && val.province_id && val.city_id) {
          this.districtCondition = [
            {
              queryCondition: '=',
              queryValue: val.country_id,
              queryField: 'country_id'
            },
            {
              queryCondition: '=',
              queryValue: val.province_id,
              queryField: 'province_id'
            },
            {
              queryCondition: '=',
              queryValue: val.city_id,
              queryField: 'city_id'
            }
          ]
        } else {
          this.districtCondition = []
        }
      },
      deep: true
    },
    // detailData: {
    //   handler: function (val) {
    //     // console.log('detailData : ', val)
    //     this.postData = {
    //       group_name: val.group_name || null, // 集團名稱
    //       company_name: val.company_name || null, // 公司名稱
    //       dept_name: val.dept_name || null, // 部門名稱
    //       wh_name: val.wh_name || null, // 倉庫名稱
    //       vatno: val.vatno || null, // 集團統編 / 公司統編
    //       dept_no: val.dept_no || null, // 部門編號
    //       wh_no: val.dept_no || null, // 倉庫編號
    //       region_id: val.region_id || null, // 區域ID
    //       country_name: val.country_name || '臺灣', // 國別
    //       country_id: val.country_id || 48, // 國別ID
    //       province_name: val.province_name || null, // 州省郡
    //       province_id: val.province_id || null, // 州省郡ID
    //       city_name: val.city_name || null, // 城市
    //       city_id: val.city_id || null, // 城市ID
    //       district_name: val.district_name || null, // 行政區
    //       district_id: val.district_id || null, // 行政區ID
    //       address: val.address || null, // 地址
    //       telephone: val.telephone || null,
    //       fax: val.fax || null, // 傳真
    //       website: val.website || null, // 網址
    //       latitude: val.latitude || null, // 緯度
    //       longitude: val.longitude || null, // 經度
    //       contact_id: val.contact_id || null, // 聯絡人ID
    //       contact_firstname: val.contact_firstname || null, // 聯絡人
    //       account_id: val.account_id || null, // 帳號ID
    //       is_enabled: val.is_enabled
    //     }
    //   },
    //   deep: true
    // },
    autoCompleteCountryData: {
      handler: function () {
        //
      },
      deep: true
    },
    autoCompleteProvinceData: {
      handler: function () {
        //
      },
      deep: true
    },
    autoCompleteCityData: {
      handler: function () {
        //
      },
      deep: true
    },
    autoCompleteDistrictData: {
      handler: function () {
        //
      },
      deep: true
    }
  },
  methods: {
    initPostData: function () {
      this.postData = {
        group_name: null, // 集團名稱
        company_name: null, // 公司名稱
        dept_name: null, // 部門名稱
        wh_name: null, // 主要倉車名稱
        vatno: null, // 集團統編 / 公司統編
        dept_no: null, // 部門編號
        wh_no: null, // 倉庫編號
        region_name: '', // 區域
        region_id: '', // 區域ID
        country_name: '臺灣', // 國別
        country_id: 48, // 國別ID
        province_name: '', // 州省郡
        province_id: '', // 州省郡ID
        city_name: '', // 城市
        city_id: '', // 城市ID
        district_name: '', // 行政區
        district_id: '', // 行政區ID
        address: null, // 地址
        telephone: null,
        fax: null, // 傳真
        website: null, // 網址
        latitude: null, // 緯度
        longitude: null, // 經度
        contact_id: null, // 聯絡人ID
        contact_firstname: '', // 聯絡人
        account_id: null, // 帳號ID
        is_enabled: 1
      }
      // console.log('*****************', this.postData)
    },
    initError: function () {
      this.error = {
        group_name: false, // 集團名稱
        company_name: false, // 公司名稱
        dept_name: false, // 部門名稱
        wh_name: false, // 倉庫名稱
        vatno: false, // 集團統編 / 公司統編
        dept_no: false, // 部門編號
        wh_no: false, // 倉庫編號
        region_id: false, // 區域ID
        country_id: false, // 國別ID
        province_id: false, // 州省郡ID
        city_id: false, // 城市ID
        district_id: false, // 行政區ID
        address: false, // 地址
        telephone: false,
        fax: false, // 傳真
        website: false, // 網址
        latitude: false, // 緯度
        longitude: false, // 經度
        contact_id: false, // 聯絡人ID
        account_id: false, // 帳號ID
        is_enabled: false
      }
    },
    openAddModal: function () {
      this.addModal = true
    },
    closeAddModal: function () {
      // this.addModal = false
      this.detailType = (this.type === 'G' || this.type === 'C') ? null : 'W'
      this.detailId = null
      this.initError()
      this.initPostData()
    },
    getSubItem: function (id) {
      this.$emit('getSubItemEvent', { id: id, type: this.type })
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    remove: function (type, item) {
      this.$emit('removeEvent', { item: item, type: type })
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    save: function () {
      //
      let isError = false
      //
      if (this.type === 'G') {
        // console.log('G')
        if (!this.postData.group_name || this.postData.group_name === '') {
          isError = true
          this.error.group_name = true
        }
        if (!this.postData.country_id || this.postData.country_id === '') {
          isError = true
          this.error.country_id = true
        }
        if (!this.postData.province_id || this.postData.province_id === '') {
          isError = true
          this.error.province_id = true
        }
        if (!this.postData.city_id || this.postData.city_id === '') {
          isError = true
          this.error.city_id = true
        }
        if (!this.postData.district_id || this.postData.district_id === '') {
          isError = true
          this.error.district_id = true
        }
        if (!this.postData.contact_id || this.postData.contact_id === '') {
          isError = true
          this.error.contact_id = true
        }
        if (!this.postData.vatno || this.postData.vatno === '') {
          isError = true
          this.error.vatno = true
        }
      }
      //
      if (this.type === 'C') {
        if (!this.postData.company_name || this.postData.company_name === '') {
          isError = true
          this.error.company_name = true
        }
        if (!this.postData.country_id || this.postData.country_id === '') {
          isError = true
          this.error.country_id = true
        }
        if (!this.postData.province_id || this.postData.province_id === '') {
          isError = true
          this.error.province_id = true
        }
        if (!this.postData.city_id || this.postData.city_id === '') {
          isError = true
          this.error.city_id = true
        }
        if (!this.postData.district_id || this.postData.district_id === '') {
          isError = true
          this.error.district_id = true
        }
        if (!this.postData.contact_id || this.postData.contact_id === '') {
          isError = true
          this.error.contact_id = true
        }
        if (!this.postData.vatno || this.postData.vatno === '') {
          isError = true
          this.error.vatno = true
        }
      }
      //
      if (this.type === 'WD') {
        if (this.detailType === 'D' && (!this.postData.dept_name || this.postData.dept_name === '')) {
          isError = true
          this.error.dept_name = true
          // console.log('isError1', isError)
        }
        if (this.detailType === 'W' && (!this.postData.wh_name || this.postData.wh_name === '')) {
          isError = true
          this.error.wh_name = true
          // console.log('isError1', isError)
        }
        if (!this.postData.country_id || this.postData.country_id === '') {
          isError = true
          this.error.country_id = true
          // console.log('isError2', isError)
        }
        if (!this.postData.province_id || this.postData.province_id === '') {
          isError = true
          this.error.province_id = true
        }
        if (!this.postData.city_id || this.postData.city_id === '') {
          isError = true
          this.error.city_id = true
          // console.log('isError3', isError)
        }
        if (!this.postData.district_id || this.postData.district_id === '') {
          isError = true
          this.error.district_id = true
          // console.log('isError4', isError)
        }
        if (this.detailType === 'D' && (!this.postData.dept_no || this.postData.dept_no === '')) {
          isError = true
          this.error.dept_no = true
          // console.log('isError5', isError)
        }
        if (this.detailType === 'W' && (!this.postData.wh_no || this.postData.wh_no === '')) {
          isError = true
          this.error.wh_no = true
          // console.log('isError6', isError)
        }
      }
      // bol => num
      // this.postData.is_enabled = this.postData.is_enabled
      // console.log('isError', isError)
      if (!isError && !this.detailId) {
        this.$emit('saveEvent', { type: this.type, detailType: this.detailType, postData: this.postData })
      }
      if (!isError && this.detailId) {
        this.$emit('updateEvent', { type: this.type, detailType: this.detailType, detailId: this.detailId, postData: this.postData })
      }
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    changeDetailTypeModelEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    // 明細 Modal
    getDetail: function (data) {
      // console.log(data)
      if (this.type === 'G') {
        this.detailId = data.group_id
      }
      if (this.type === 'C') {
        this.detailId = data.company_id
      }
      if (this.type === 'WD') {
        if (data.wh_id && data.wh_id !== '') {
          this.detailType = 'W'
          this.detailId = data.wh_id
        }
        if (data.dept_id && data.dept_id !== '') {
          this.detailType = 'D'
          this.detailId = data.dept_id
        }
      }
      // this.detailData = data
      this.postData = {
        group_name: data.group_name || null, // 集團名稱
        company_name: data.company_name || null, // 公司名稱
        dept_name: data.dept_name || null, // 部門名稱
        wh_name: data.wh_name || null, // 倉庫名稱
        vatno: data.vatno || null, // 集團統編 / 公司統編
        dept_no: data.dept_no || null, // 部門編號
        wh_no: data.dept_no || null, // 倉庫編號
        region_id: data.region_id || null, // 區域ID
        country_name: data.country_name || '臺灣', // 國別
        country_id: data.country_id || 48, // 國別ID
        province_name: data.province_name || '', // 州省郡
        province_id: data.province_id || null, // 州省郡ID
        city_name: data.city_name || '', // 城市
        city_id: data.city_id || null, // 城市ID
        district_name: data.district_name || '', // 行政區
        district_id: data.district_id || null, // 行政區ID
        address: data.address || null, // 地址
        telephone: data.telephone || null,
        fax: data.fax || null, // 傳真
        website: data.website || null, // 網址
        latitude: data.latitude || null, // 緯度
        longitude: data.longitude || null, // 經度
        contact_id: data.contact_id || null, // 聯絡人ID
        contact_firstname: data.contact_firstname || '', // 聯絡人
        account_id: data.account_id || null, // 帳號ID
        is_enabled: data.is_enabled
      }
      this.openAddModal()
    },
    /* 國家 */
    autocompleteHandleCountryEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.countryList = []
    },
    countryAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.country_id = data.val ? data.val.country_id : ''
        this.postData.region_id = data.val ? data.val.region_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.countryList = [data.val]
      } else {
        this.countryList = []
      }
    },
    countryAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.countryList = list
        }
      })
    },
    setAutocompleteCountryValue: function (data) {
      // console.log(data)
      //
      this.postData.country_name = data.data[data.returnCode]
      this.postData.country_id = data.data.country_id
      this.postData.region_id = data.data.region_id
      //
      this.toCloseCountryAutocompleteModal = true
    },
    setToCloseCountryAutocompleteModal: function (bol) {
      this.toCloseCountryAutocompleteModal = bol
    },
    /* 州省郡 province */
    autocompleteHandleProvinceEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.provinceList = []
    },
    provinceAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.province_id = data.val ? data.val.province_id : ''
        this.postData.country_id = data.val ? data.val.country_id : ''
        this.postData.country_name = data.val ? data.val.country_name : ''
        this.postData.region_id = data.val ? data.val.region_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.provinceList = [data.val]
      } else {
        this.provinceList = []
      }
    },
    provinceAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.provinceList = list
        }
      })
    },
    setAutocompleteProvinceValue: function (data) {
      // console.log(data)
      //
      this.postData.province_name = data.data[data.returnCode]
      this.postData.province_id = data.data.province_id
      this.postData.country_name = data.data.country_name
      this.postData.country_id = data.data.country_id
      this.postData.region_id = data.data.region_id
      //
      this.toCloseProvinceAutocompleteModal = true
    },
    setToCloseProvinceAutocompleteModal: function (bol) {
      this.toCloseProvinceAutocompleteModal = bol
    },
    /* 城市 city */
    autocompleteHandleCityEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.cityList = []
    },
    cityAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.city_id = data.val ? data.val.city_id : ''
        this.postData.province_name = data.val ? data.val.province_name : ''
        this.postData.province_id = data.val ? data.val.province_id : ''
        this.postData.country_id = data.val ? data.val.country_id : ''
        this.postData.country_name = data.val ? data.val.country_name : ''
        this.postData.region_id = data.val ? data.val.region_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.cityList = [data.val]
      } else {
        this.cityList = []
      }
    },
    cityAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.cityList = list
        }
      })
    },
    setAutocompleteCityValue: function (data) {
      // console.log(data)
      //
      this.postData.city_name = data.data[data.returnCode]
      this.postData.city_id = data.data.city_id
      this.postData.province_name = data.data.province_name
      this.postData.province_id = data.data.province_id
      this.postData.country_name = data.data.country_name
      this.postData.country_id = data.data.country_id
      this.postData.region_id = data.data.region_id
      //
      this.toCloseCityAutocompleteModal = true
    },
    setToCloseCityAutocompleteModal: function (bol) {
      this.toCloseCityAutocompleteModal = bol
    },
    /* 行政區 district */
    autocompleteHandleDistrictEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.districtList = []
    },
    districtAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.district_id = data.val ? data.val.district_id : ''
        this.postData.city_name = data.val ? data.val.city_name : ''
        this.postData.city_id = data.val ? data.val.city_id : ''
        this.postData.province_name = data.val ? data.val.province_name : ''
        this.postData.province_id = data.val ? data.val.province_id : ''
        this.postData.country_id = data.val ? data.val.country_id : ''
        this.postData.country_name = data.val ? data.val.country_name : ''
        this.postData.region_id = data.val ? data.val.region_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.districtList = [data.val]
      } else {
        this.districtList = []
      }
    },
    districtAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.districtList = list
        }
      })
    },
    setAutocompleteDistrictValue: function (data) {
      // console.log(data)
      //
      this.postData.district_name = data.data[data.returnCode]
      this.postData.district_id = data.data.district_id
      this.postData.city_name = data.data.city_name
      this.postData.city_id = data.data.city_id
      this.postData.province_name = data.data.province_name
      this.postData.province_id = data.data.province_id
      this.postData.country_name = data.data.country_name
      this.postData.country_id = data.data.country_id
      this.postData.region_id = data.data.region_id
      //
      this.toCloseDistrictAutocompleteModal = true
    },
    setToCloseDistrictAutocompleteModal: function (bol) {
      this.toCloseDistrictAutocompleteModal = bol
    },
    /* 聯絡人 contact */
    autocompleteHandleContactEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.contact_id = null
      // 設定其他資料處 end
      this.contactList = []
    },
    contactAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.contact_id = data.val ? data.val.contact_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.contactList = [data.val]
      } else {
        this.contactList = []
      }
    },
    contactAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.contactList = list
        }
      })
    },
    setAutocompleteContactValue: function (data) {
      // console.log(data)
      //
      this.postData.contact_firstname = data.data[data.returnCode]
      this.postData.contact_id = data.data.contact_id
      //
      this.toCloseContactAutocompleteModal = true
    },
    setToCloseContactAutocompleteModal: function (bol) {
      this.toCloseContactAutocompleteModal = bol
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.card-content {
  width: 384px;
  min-height: 42px;
  overflow: auto;
  border-radius: 12px;
  box-shadow: 3px 3px 10px 0 rgba(65, 65, 65, 0.1);
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  .header-box {
    width: 384px;
    height: 32px;
    background-color: #354361;
    color: #fff;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .body-box {
    height: auto;
    padding: 8px 15px 15px 15px;
    h2.title {
        height: 42px;
        font-family: PingFangTC;
        font-size: 25px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #354361;
        margin-bottom: 7px;
    }
    .listItem {
        width: 360px;
        height: 40px;
        border-radius: 12px;
        background-color: #fbfaf9;
        margin-bottom: 3px;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 10px;
        &:hover {
            background-color: #d1c2af;
        }
        &.active {
            background-color: #d1c2af;
        }
        > span {
            display: contents;
        }
        .listItem-name {
            flex: 1;
            height: 40px;
            line-height: 40px;
            width: 40px;
            font-family: PingFangTC;
            font-size: 15px;
            font-weight: 400;
            color: #555;
        }
        .listItem-remove {
            width: 16px;
            height: 16px;
            line-height: 16px;
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid #354361;
            color: #354361;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .add-btn-box {
        width: 360px;
        height: 40px;
        border-radius: 12px;
        border: dashed 2px #efe5e0;
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
        color: #9ca29c;
        text-align: center;
        line-height: 37px;
        &.disabled {
            display: none;
        }
    }
  }
}
// modal
.modal-body {
    width: 100%;
    height: auto;
    padding: 0 0 0 8px;
    .row {
        padding: 0 60px 0 0;
        margin: 0;
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        .col {
            flex: 1;
            height: 72px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            &.colx2 {
                flex: 2;
            }
            // .label-box {
            //     flex: 1;
            //     font-size: 20px;
            //     font-weight: 400;
            //     color: #515a6e;
            // }
            // .body-box {
            //     flex: 1;
            //     display: flex;
            //     justify-content: flex-end;
            //     padding: 0 50px 0 0;
            // }
            &.iswitch {
            display: block;
            .label-box {
              font-size: 12px;
              color: #333333;
              padding-bottom: 10px;
            }
            .body-box {
              display: block;
            }
          }
        }
    }
    .footer {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .saveBtn {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          background-color: #354361;
          color: #fff;
          line-height: 45px;
          text-align: center;
          font-size: 30px;
          cursor: pointer;
          z-index: 10;
        }
    }
}
</style>
