<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 選單 -->
          <FloatLabelBox
            :config="{hasContent: (postData.menu_name && postData.menu_name!==''), label: '選單 *', hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true }"
            :code="`menu_id`"
            :autoCompleteData="menuList"
            :defaultValue="postData.menu_name"
            :modalTitle="`選單代碼`"
            :toCloseModal="toCloseMenuAutocompleteModal"
            keyCode="settingMenu"
            storeKey="settingMenu"
            returnCode="menu_name"
            :showCols="autoCompleteShowMenuCols"
            :isError="error.menu_id"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleMenuEnterSubmitEvent"
            @changeModelEvent="menuAutocompleteChangeEvent"
            @autoCompleteSearchEvent="menuAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseMenuAutocompleteModal">
              <div>
                <!-- 選單代碼-->
                <AutocompleteModal
                keyCode="settingMenu"
                storeKey="settingMenu"
                returnCode="menu_name"
                :condition="menuCondition"
                @setAutocompleteValueEvent="setAutocompleteMenuValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 權限項目代碼 -->
          <FloatLabelBox
            :config="{hasContent: (postData.permission_code && postData.permission_code!==''), label: `權限項目代碼 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`permission_code`"
            :defaultValue="postData.permission_code"
            :isError="error.permission_code"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 權限項目名稱 -->
          <FloatLabelBox
            :config="{hasContent: (postData.permission_name && postData.permission_name!==''), label: `權限項目名稱 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`permission_name`"
            :defaultValue="postData.permission_name"
            :isError="error.permission_name"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
          <div class="body-box">
            <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div>
      </div>
    </div>
    <div>
      <!-- 明細 -->
      <PermissionSetupDetails
        ref="initPermissionSetupDetailsList"
        :detailId="detailId"
        :companyId="companyId"
        :whId="whId"
        @gridDataChangeEvent="permissionSetupDetailsListChangeEvent"
      ></PermissionSetupDetails>
    </div>
    <!-- save btn -->
    <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x" />
    </div>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
// import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import PermissionSetupDetails from './PermissionSetupDetails'
//
export default {
  name: 'PermissionSetupAdd',
  props: ['step', 'detailId'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    PermissionSetupDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    //
    let postData = {
      menu_id: this.cloneData ? this.cloneData.menu_id : null, // 選單ID
      menu_name: this.cloneData ? this.cloneData.menu_name : null, // 選單名稱
      permission_id: this.cloneData ? this.cloneData.permission_id : null, // 權限項目ID
      permission_code: this.cloneData ? this.cloneData.permission_code : null, // 權限項目代碼
      permission_name: this.cloneData ? this.cloneData.permission_name : null, // 權限項目名稱
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1
    }
    //
    return {
      companyId: this.$store.state.auth.userInfo.companyKey, // 由用戶取得
      whId: this.$store.state.auth.userInfo.warehouseKey, // 由用戶取得
      //
      modalType: modalType,
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      /* 選單代碼 : menu_id */
      menuList: [],
      autoCompleteShowMenuCols: [
        'menu_code'
      ],
      toCloseMenuAutocompleteModal: false,
      menuCondition: [],
      //
      postData: postData,
      error: {
        menu_id: false, // 選單ID
        menu_name: false, // 選單名稱
        permission_id: false, // 權限項目ID
        permission_code: false, // 權限項目代碼
        permission_name: false, // 權限項目名稱
        is_enabled: false
      },
      //
      repeatConfirmModal: false,
      // 明細
      permissionSetupDetailsList: null,
      detailsListIsError: false
    }
  },
  computed: {
    permission: function () {
      return this.$store.state[`permission`][`permission`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    permissionSetupDetailsList: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    permission: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          menu_id: val.menu_id || null, // 選單ID
          menu_name: val.menu_name || null, // 選單
          permission_id: val.permission_id || null, // 權限項目ID
          permission_code: val.permission_code || null, // 權限項目代碼
          permission_name: val.permission_name || null, // 權限項目名稱
          is_enabled: val.is_enabled // 已啟用
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        if (val.menu_id) {
          this.error.menu_id = false
        }
        if (val.permission_code) {
          this.error.permission_code = false
        }
        if (val.permission_name) {
          this.error.permission_name = false
        }
      },
      deep: true
    }
  },
  methods: {
    permissionSetupDetailsListChangeEvent: function (data) {
      this.permissionSetupDetailsList = data
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'permission_id',
            queryValue: detailId
          }
          // {
          //   queryCondition: '=',
          //   queryField: 'company_id',
          //   queryValue: this.companyId
          // },
          // {
          //   queryCondition: '=',
          //   queryField: 'wh_id',
          //   queryValue: this.whId
          // }
        ],
        sort: []
      }
      this.$store.dispatch(`permission/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.permission_id = null
      this.save('clone')
    },
    save: async function (action = null) {
      //
      let isError = false
      // 檢查
      if (!this.postData.menu_id || this.postData.menu_id === '') {
        isError = true
        this.error.menu_id = true
        // 警告提示
        this.$Notice.error({
          title: '選單未填',
          duration: 30
        })
      }
      if (!this.postData.permission_code || this.postData.permission_code === '') {
        isError = true
        this.error.permission_code = true
        // 警告提示
        this.$Notice.error({
          title: '權限項目代碼未填',
          duration: 30
        })
      }
      if (!this.postData.permission_name || this.postData.permission_name === '') {
        isError = true
        this.error.permission_name = true
        // 警告提示
        this.$Notice.error({
          title: '權限項目名稱未填',
          duration: 30
        })
      }
      //
      if (isError) {
        return
      }
      this.$emit('changeLoadingViewIsShowEvent', true)
      //
      let postData = {
        menu_id: this.postData.menu_id, // 選單
        permission_code: this.postData.permission_code, // 權限項目代碼
        permission_name: this.postData.permission_name, // 權限項目名稱
        is_enabled: Number(this.postData.is_enabled)
      }
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          let createRes = await this.$store.dispatch('permission/create', postData)
          console.log(createRes)
          if (createRes.httpStatus === 201 || createRes.httpStatus === 200) {
            this.postData.permission_id = createRes.respondCode.additionals.permissionItem.permission_id
            // 存明細
            if (this.permissionSetupDetailsList) {
              let detailsListLength = this.permissionSetupDetailsList.length
              for (let i = 0; i < detailsListLength; i++) {
                await this.savePermissionSetupDetailsList(this.permissionSetupDetailsList[i], i)
                // console.log(i)
              }
            }
            this.$emit('toStep2Event', this.postData.permission_id)
            this.$Notice.success({
              title: '儲存成功'
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '儲存失敗'
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
          break
        case 2:
          // update
          // console.log(postData)
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['permission_id']
            let createRes = await this.$store.dispatch('permission/create', postData)
            console.log(createRes)
            if (createRes.httpStatus === 201 || createRes.httpStatus === 200) {
              this.postData.permission_id = createRes.respondCode.additionals.permissionItem.permission_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              // 另存為新資料，不存明細
              this.initPermissionSetupDetailsList()
              this.$emit('toStep2Event', this.postData.permission_id)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              this.$Notice.error({
                title: '儲存失敗'
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
          } else {
            // update
            // console.log('update')
            delete postData['permission_id']
            // 存明細
            console.log(this.permissionSetupDetailsList)
            if (this.permissionSetupDetailsList) {
              let detailsListLength = this.permissionSetupDetailsList.length
              for (let i = 0; i < detailsListLength; i++) {
                if (this.permissionSetupDetailsList[i].function_id) {
                  await this.updatePermissionSetupDetailsList(this.permissionSetupDetailsList[i], i)
                } else {
                  await this.savePermissionSetupDetailsList(this.permissionSetupDetailsList[i], i)
                }
              }
              //
              console.log(postData)
              let updateRes = await this.$store.dispatch('permission/update', { postData: postData, detailId: this.postData.permission_id })
              console.log(updateRes)
              if (updateRes.httpStatus === 200 || updateRes.httpStatus === 201) {
                this.$Notice.success({
                  title: '儲存成功'
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else {
                this.$Notice.error({
                  title: '儲存失敗'
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            }
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData['permission_id']
          let cloneRes = await this.$store.dispatch('permission/create', postData)
          console.log(cloneRes)
          if (cloneRes.httpStatus === 201 || cloneRes.httpStatus === 200) {
            this.postData.permission_id = cloneRes.respondCode.additionals.permissionItem.permission_id
            // 警告提示
            this.$Notice.success({
              title: '新增成功'
            })
            // 另存為新資料，不存明細
            this.initPermissionSetupDetailsList()
            this.$emit('toStep2Event', this.postData.permission_id)
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '儲存失敗'
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
          break
      }
    },
    savePermissionSetupDetailsList: async function (data, index) {
      var detailsList = {}
      let isError = false
      console.log(data)
      if (!data.function_type || data.function_type === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能類別"未填`,
          duration: 30
        })
      }
      if (!data.function_code_type || data.function_code_type === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能代碼類別"未填`,
          duration: 30
        })
      }
      if (!data.function_code || data.function_code === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能代碼"未填`,
          duration: 30
        })
      }
      if (!data.function_name || data.function_name === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能名稱"未填`,
          duration: 30
        })
      }
      //
      this.detailsListIsError = isError
      if (isError) {
        return
      }
      //
      detailsList = {
        permission_id: this.postData.permission_id,
        function_type: data.function_type,
        function_code_type: data.function_code_type,
        function_code: data.function_code,
        function_name: data.function_name,
        is_enabled: data.is_enabled
      }
      try {
        let functionResponse = await this.$store.dispatch(`permissionFunction/create`, detailsList)
        console.log(functionResponse)
        if (functionResponse.httpStatus === 200 || functionResponse.httpStatus === 201) {
          data.function_id = functionResponse.respondCode.additionals.permissionFunction.function_id
        } else {
          this.$Notice.error({
            title: `第${index + 1}筆明細新增失敗`
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${index + 1}筆明細新增失敗`
        })
      }
    },
    updatePermissionSetupDetailsList: async function (data, index) {
      var detailsList = {}
      let isError = false
      console.log(data)
      if (!data.function_type || data.function_type === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能類別"未填`,
          duration: 30
        })
      }
      if (!data.function_code_type || data.function_code_type === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能代碼類別"未填`,
          duration: 30
        })
      }
      if (!data.function_code || data.function_code === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能代碼"未填`,
          duration: 30
        })
      }
      if (!data.function_name || data.function_name === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能名稱"未填`,
          duration: 30
        })
      }
      //
      this.detailsListIsError = isError
      if (isError) {
        return
      }
      //
      detailsList = {
        function_type: data.function_type,
        function_code_type: data.function_code_type,
        function_code: data.function_code,
        function_name: data.function_name,
        is_enabled: data.is_enabled
      }
      try {
        let functionResponse = await this.$store.dispatch(`permissionFunction/update`, { postData: detailsList, id: data.function_id })
        console.log(functionResponse)
        if (functionResponse.httpStatus === 200 || functionResponse.httpStatus === 201) {
          // data.function_id = functionResponse.respondCode.additionals.permissionFunction.function_id
        } else {
          this.$Notice.error({
            title: `第${index + 1}筆明細更新失敗`
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${index + 1}筆明細更新失敗`
        })
      }
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    init: function () {
      this.postData = {
        permission_id: null, // 權限項目ID
        permission_code: null, // 權限項目代碼
        permission_name: null, // 權限項目名稱
        is_enabled: 1 // 已啟用
      }
      this.initPermissionSetupDetailsList()
    },
    initPermissionSetupDetailsList: function () {
      this.permissionSetupDetailsList = []
      this.$refs.initPermissionSetupDetailsList.initPermissionSetupDetailsList()
    },
    /* 選單 : menu_id */
    autocompleteHandleMenuEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.menuList = []
    },
    menuAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.code] : ''
        this.postData.menu_name = data.val ? data.val[data.returnCode] : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.menuList = [data.val]
      } else {
        this.menuList = []
      }
    },
    menuAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`${data.storeKey}`]
          //
          this.menuList = list
        }
      })
    },
    setAutocompleteMenuValue: function (data) {
      // console.log(data)
      //
      this.postData.menu_name = data.data[data.returnCode]
      this.postData.menu_id = data.data.menu_id
      //
      this.toCloseMenuAutocompleteModal = true
    },
    setToCloseMenuAutocompleteModal: function (bol) {
      this.toCloseMenuAutocompleteModal = bol
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`permission/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        // .label-box {
        //   flex: 1;
        //   font-size: 12px;
        //   font-weight: 400;
        //   color: #333333;
        // }
        // .body-box {
        //   flex: 1;
        //   display: flex;
        //   justify-content: flex-end;
        //   padding: 0 50px 0 0;
        // }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    // .footer {
    //   width: 100%;
    //   height: auto;
    //   display: flex;
    //   justify-content: flex-end;
    //   align-items: flex-end;
    //   flex-direction: column;
    //   .backBtn {
    //     position: absolute;
    //     right: 45px;
    //     bottom: 200px;
    //     width: 45px;
    //     height: 45px;
    //     border-radius: 50%;
    //     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    //     background-color: #dca558;
    //     color: #ffffff;
    //     cursor: pointer;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //   }
    //   .saveBtn {
    //     position: absolute;
    //     right: 45px;
    //     bottom: 45px;
    //     width: 45px;
    //     height: 45px;
    //     border-radius: 50%;
    //     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    //     background-color: #354361;
    //     color: #ffffff;
    //     cursor: pointer;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     z-index: 10;
    //   }
    // }
  }
}
/deep/.ivu-modal-wrap {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
  }
  .button-box {
    display: flex;
    justify-content: center;
    .modal-btn {
      min-width: 96px;
      font-size: 16px;
      padding-top: 1px;
      padding-bottom: 1px;
      &.dark {
        background-color: #354361;
        color: #ffffff;
      }
    }
  }
}
</style>
