<template>
  <div class="PermissionSetupDetails">
    <!-- 按鈕區 -->
    <Button type="primary" @click="add">新增</Button>&nbsp;
    <Button type="primary" @click="getIds('remove')">刪除</Button>
    <!-- 分隔線 -->
    <DataGrid
    idKeyName="permission_id"
    :logicalOperator="logicalOperator"
    :hideFilter="true"
    :hidePage="true"
    :settingData="settingData"
    :gridData="gridData"
    :toGetIds="toGetIds"
    :isQuery="isQuery"
    @gridDataChengeEvent="gridDataChengeEvent"
    @moveColEvent="moveColEvent"
    @removeColEvent="removeColEvent"
    @sortEvent="sortEvent"
    @filterEvent="filterEvent"
    @getIdsEvent="getIdsEvent"
    @getDetailEvent="getDetailEvent"
    @pageChangeEvent="pageChangeEvent"
    @pageSizeChangeEvent="pageSizeChangeEvent"
    @scrollEvent="scrollEvent"></DataGrid>
  </div>
</template>

<script>
import DataGrid from '@/components/dataGrid/DataGrid'
export default {
  name: 'PermissionSetupDetails',
  props: ['data', 'detailId', 'companyId', 'whId'],
  components: {
    DataGrid
  },
  data () {
    // 定義用
    var settingData = []
    var defaultSettingData = {
      isOverview: false, // 總纜
      page: {
        pageSize: 50, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#1565C0',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#E3F2FD',
        rowEvenColor: '#777777',
        editCelColor: 'rgb(255, 225, 225)',
        waitEditCelColor: '#FFFFFF',
        notEditCelColor: '#EFEFEF'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'function_type',
          displayName: '權限功能類別 *',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'function_code_type',
          displayName: '權限功能代碼類別 *',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'function_code',
          displayName: '權限功能代碼 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'function_name',
          displayName: '權限功能名稱 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'is_enabled',
          displayName: '已啟用',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    settingData = defaultSettingData
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      isScrollToBottom: false,
      //
      functionTypeFilterData: [], // 權限功能類別
      functionCodeTypeFilterData: [], // 權限功能代碼類別
      isEnabledFilterData: [] // 已啟用
    }
  },
  watch: {
    gridData: {
      handler: function (val) {
        //
        // console.log(val)
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    functionTypeFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'function_type') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    functionCodeTypeFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'function_code_type') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    isEnabledFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'is_enabled') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        function_id: null,
        function_type: null,
        function_code_type: null,
        function_code: null,
        function_name: null,
        is_enabled: 1
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            if (_item) {
              console.log(item.INDEX)
              if (item.function_id && item.function_id !== '') {
                this.remove(item.function_id)
              }
              return false
            } else {
              return true
            }
          })
          // console.log(this.gridData)
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    remove: function (id) {
      this.$store.dispatch('permissionFunction/delete', id).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200) {
          // 警告提示
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          this.$Notice.error({
            title: '刪除失敗'
          })
        }
      })
    },
    // 權限功能類別 function_type
    getFunctionTypeFilterData: function () {
      this.functionTypeFilterData = [
        {
          value: 1,
          label: '基本功能'
        },
        {
          value: 2,
          label: '報表功能'
        }
      ]
    },
    // 權限功能代碼類別 function_code_type
    getFunctionCodeTypeFilterData: function () {
      this.functionCodeTypeFilterData = [
        {
          value: 1,
          label: '顯示'
        },
        {
          value: 2,
          label: '查詢'
        },
        {
          value: 3,
          label: '新增/匯入'
        },
        {
          value: 4,
          label: '修改'
        },
        {
          value: 5,
          label: '刪除'
        },
        {
          value: 6,
          label: '匯出'
        },
        {
          value: 7,
          label: '禁止右鍵複製'
        }
      ]
    },
    // 已啟用 is_enabled
    getIsEnabledFilterData: function () {
      this.isEnabledFilterData = [
        {
          value: 0,
          label: '已停用'
        },
        {
          value: 1,
          label: '已啟用'
        }
      ]
    },
    initPermissionSetupDetailsList: function () {
      this.gridData = []
    },
    //
    getGridData: function () {
      this.isQuery = true
      //
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: null,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch('permissionFunction/search', { postData: postData, permissionId: this.detailId }).then((r) => {
        if (r) {
          console.log(r)
          this.gridData = r.respondCode.additionals.permissionFunctionList || []
          this.gridData.forEach((ele, idx) => {
            ele.INDEX = (idx + 1)
            ele.SELECT = false
          })
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      }).catch(() => {
        this.isQuery = false
      })
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    //
    this.getFunctionTypeFilterData()
    this.getFunctionCodeTypeFilterData()
    this.getIsEnabledFilterData()
    if (this.detailId && this.detailId !== '') {
      // 取得清單
      this.getGridData()
    }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.PermissionSetupDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
    background-color: #fff;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 404px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
</style>
