<template>
  <div class="RoleSetupDetails">
    <!-- 按鈕區 -->
    <div class="d-flex align-items-center mb-3">
      <div
      class="title mr-5"
      :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}"
      >
        <span>角色權限設定</span>
      </div>
      <!-- <div class="d-flex align-items-center">
        <Button type="primary" class="mr-3" @click="add">新增</Button>
        <Button type="primary" class="mr-3" @click="getIds('remove')">刪除</Button>
        <Button type="primary" class="mr-3" @click="scrollTo">滑動</Button>
      </div> -->
      <!-- 查詢權限 -->
      <FloatLabelBox
        :config="{hasContent: (permission_name && permission_name!==''), label: '查詢權限', hasClearButton: true, type: `NewAutoComplete`, settings: {width: 200, height: 52}, hiddenSearchBtn: true }"
        :code="`permission_id`"
        :autoCompleteData="permissionList"
        :defaultValue="permission_name"
        :modalTitle="`查詢權限代碼`"
        :toCloseModal="toClosePermissionAutocompleteModal"
        keyCode="permissionSetup"
        storeKey="permission"
        returnCode="permission_name"
        :showCols="autoCompleteShowPermissionCols"
        @handleEnterSubmit="autocompleteHandlePermissionEnterSubmitEvent"
        @changeModelEvent="permissionAutocompleteChangeEvent"
        @autoCompleteSearchEvent="permissionAutoCompleteSearchEvent"
        @setToCloseModalEvent="setToClosePermissionAutocompleteModal">
          <div>
            <!-- 查詢權限代碼-->
            <AutocompleteModal
            keyCode="permissionSetup"
            storeKey="permission"
            returnCode="permission_name"
            respondCode= "permissionItemList"
            :condition="permissionCondition"
            @setAutocompleteValueEvent="setAutocompletePermissionValue"></AutocompleteModal>
          </div>
        </FloatLabelBox>
    </div>
    <!-- 分隔線 -->
    <div class="collapseList" ref="collapseBox">
      <Collapse v-model="collapseList" ref="collapseList">
          <Panel v-for="(item, index) in rpfList" :name="`${index}`" :id="`no${index}`" :key="`${index}`">
              {{item.permission_name}}
              <div slot="content">
                <Checkbox
                v-model="item.SELECT"
                @on-change="selectAll(item.SELECT, index)">
                  全選
                </Checkbox>
                <Checkbox
                v-for="(itm, idx) in item.permission_function"
                v-model="itm.user_have_this_permission_function"
                :key="`${item.permission_code}_${idx}`">
                {{itm.function_name}}
                </Checkbox>
              </div>
          </Panel>
      </Collapse>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
export default {
  name: 'RoleSetupDetails',
  props: ['data', 'detailId', 'companyId', 'whId'],
  components: {
    FloatLabelBox
  },
  data () {
    //
    return {
      Config: Config,
      //
      isScrollToBottom: false,
      collapseList: '0',
      rpfList: [],
      /* 查詢權限 : permission */
      permission_id: null,
      permission_name: null,
      permissionList: [],
      autoCompleteShowPermissionCols: [
        'permission_code'
      ],
      toClosePermissionAutocompleteModal: false,
      permissionCondition: []
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    rpfList: {
      handler: function (val) {
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    }
  },
  methods: {
    setRoleSetupDetailsList: function (type, data, show) {
      switch (type) {
        case 'init':
          this.rpfList = data
          break
        case 'getRpfList':
          this.rpfList = data
          this.collapseList = show
          break
      }
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    },
    scrollTo: function () {
      var num = null
      this.rpfList.forEach((item) => {
        if (item.permission_id === this.permission_id) {
          num = item.INDEX
        }
      })
      if (!num && num !== 0) {
        // console.log('沒找到')
        return
      }
      // console.log(num)
      let scoll = 0
      for (let i = 0; i < num; i++) {
        // console.log(i)
        // console.log(document.getElementById(`no${i}`).clientHeight)
        scoll += document.getElementById(`no${i}`).clientHeight
      }
      // console.log(scoll)
      this.$nextTick(() => (this.$refs['collapseBox'].scrollTop = scoll))
    },
    selectAll: function (bol, index) {
      console.log(bol, index)
      this.rpfList[index].permission_function.forEach((item) => {
        item.user_have_this_permission_function = bol
      })
      // console.log(data)
    },
    /* 查詢權限 : permission */
    autocompleteHandlePermissionEnterSubmitEvent: function (data) {
      // console.log(data)
      this[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.permissionList = []
    },
    permissionAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this[data.code])
      if (this[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this[data.code] = data.val ? data.val[data.code] : ''
        this.permission_name = data.val ? data.val[data.returnCode] : ''
        // 設定其他資料處
        // console.log(this.permission_id)
        if (this.permission_id) {
          this.scrollTo()
        }
      }
      // console.log([data.val])
      if (data.val) {
        this.permissionList = [data.val]
      } else {
        this.permissionList = []
      }
    },
    permissionAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`permissionItemList`]
          //
          this.permissionList = list
        }
      })
    },
    setAutocompletePermissionValue: function (data) {
      // console.log(data)
      //
      this.permission_name = data.data[data.returnCode]
      this.permission_id = data.data.permission_id
      //
      this.toClosePermissionAutocompleteModal = true
    },
    setToClosePermissionAutocompleteModal: function (bol) {
      this.toClosePermissionAutocompleteModal = bol
    },
    getRpfList: async function () {
      let list = []
      if (this.detailId) {
        let permissionItemFunctionRes = await this.$store.dispatch(`permission/queryItemFunctionByRoleId`, this.detailId)
        console.log(permissionItemFunctionRes)
        list = permissionItemFunctionRes.respondCode.additionals.permissionItemFunction
      } else {
        let permissionItemFunctionRes = await this.$store.dispatch(`permission/queryItemFunction`)
        console.log(permissionItemFunctionRes)
        list = permissionItemFunctionRes.respondCode.additionals.permissionItemFunction
      }
      let listLength = list.length
      for (let i = 0; i < listLength; i++) {
        list[i].INDEX = i
      }
      console.log(list)
      this.rpfList = list
    }
  },
  created () {
    //
    // if (this.detailId && this.detailId !== '') {
    //   // 取得清單
    //   this.getRpfList()
    // }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.RoleSetupDetails {
  width: 100%;
  height: fit-content;
  .title {
    display: flex;
    align-items: center;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
    background-color: #fff;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 235px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
  .collapseList {
    height: calc(100vh - 360px);
    overflow-y: scroll;
    /deep/.ivu-collapse>.ivu-collapse-item.ivu-collapse-item-active>.ivu-collapse-header {
      background: #d1c2af;
    }
    .ivu-checkbox-wrapper {
      min-width: 80px;
    }
  }
}
</style>
