<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 角色代碼 -->
          <FloatLabelBox
            :config="{hasContent: (postData.role_code && postData.role_code!==''), label: `角色代碼 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`role_code`"
            :defaultValue="postData.role_code"
            :isError="error.role_code"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 角色名稱 -->
          <FloatLabelBox
            :config="{hasContent: (postData.role_name && postData.role_name!==''), label: `角色名稱 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`role_name`"
            :defaultValue="postData.role_name"
            :isError="error.role_name"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
          <div class="body-box">
            <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div>
      </div>
    </div>
    <div>
      <!-- 明細 -->
      <RoleSetupDetails
        ref="setRoleSetupDetailsList"
        :detailId="detailId"
        :companyId="companyId"
        :whId="whId"
        @gridDataChangeEvent="roleSetupDetailsListChangeEvent"
      ></RoleSetupDetails>
    </div>
    <!-- save btn -->
    <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x" />
    </div>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
// import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import RoleSetupDetails from './RoleSetupDetails'
//
export default {
  name: 'RoleSetupAdd',
  props: ['step', 'detailId'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    RoleSetupDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    //
    let postData = {
      role_id: this.cloneData ? this.cloneData.role_id : null, // 角色ID
      role_code: this.cloneData ? this.cloneData.role_code : null, // 角色代碼
      role_name: this.cloneData ? this.cloneData.role_name : null, // 角色名稱
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1
    }
    //
    return {
      companyId: this.$store.state.auth.userInfo.companyKey, // 由用戶取得
      whId: this.$store.state.auth.userInfo.warehouseKey, // 由用戶取得
      //
      modalType: modalType,
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      postData: postData,
      error: {
        role_id: false, // 角色ID
        role_code: false, // 角色代碼
        role_name: false, // 角色名稱
        is_enabled: false
      },
      //
      repeatConfirmModal: false,
      // 明細
      roleSetupDetailsList: null,
      detailsListIsError: false
    }
  },
  computed: {
    role: function () {
      return this.$store.state[`role`][`role`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    roleSetupDetailsList: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    role: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          role_id: val.role_id || null, // 角色ID
          role_code: val.role_code || null, // 角色代碼
          role_name: val.role_name || null, // 角色名稱
          is_enabled: val.is_enabled // 已啟用
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        if (val.role_code) {
          this.error.role_code = false
        }
        if (val.role_name) {
          this.error.role_name = false
        }
      },
      deep: true
    }
  },
  methods: {
    roleSetupDetailsListChangeEvent: function (data) {
      // console.log('改變')
      // console.log(data)
      this.roleSetupDetailsList = data
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: async function (detailId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'role_id',
            queryValue: detailId
          }
        ],
        sort: []
      }
      await this.$store.dispatch(`role/queryDetail`, postData)
      await this.getDetailList()
      // this.$emit('changeLoadingViewIsShowEvent', false)
    },
    getDetailList: async function () {
      let list = []
      if (this.detailId) {
        let permissionItemFunctionRes = await this.$store.dispatch(`permission/queryItemFunctionByRoleId`, this.detailId)
        // console.log(permissionItemFunctionRes)
        list = permissionItemFunctionRes.respondCode.additionals.permissionItemFunction
      } else {
        let permissionItemFunctionRes = await this.$store.dispatch(`permission/queryItemFunction`)
        // console.log(permissionItemFunctionRes)
        list = permissionItemFunctionRes.respondCode.additionals.permissionItemFunction
      }
      let listLength = list.length
      let collapseList = []
      for (let i = 0; i < listLength; i++) {
        list[i].INDEX = i
        list[i].SELECT = false
        if (list[i].have_this_permission_item) {
          collapseList.push(i)
        }
      }
      // console.log(list)
      this.roleSetupDetailsList = list
      await this.$refs.setRoleSetupDetailsList.setRoleSetupDetailsList('getRpfList', this.roleSetupDetailsList, collapseList)
      this.$emit('changeLoadingViewIsShowEvent', false)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.role_id = null
      this.save('clone')
    },
    save: async function (action = null) {
      //
      let isError = false
      // 檢查
      if (!this.postData.role_code || this.postData.role_code === '') {
        isError = true
        this.error.role_code = true
        // 警告提示
        this.$Notice.error({
          title: '角色代碼',
          duration: 30
        })
      }
      if (!this.postData.role_name || this.postData.role_name === '') {
        isError = true
        this.error.role_name = true
        // 警告提示
        this.$Notice.error({
          title: '角色名稱',
          duration: 30
        })
      }
      //
      if (isError) {
        return
      }
      this.$emit('changeLoadingViewIsShowEvent', true)
      //
      let postData = {
        role_code: this.postData.role_code, // 角色代碼
        role_name: this.postData.role_name, // 角色名稱
        is_enabled: Number(this.postData.is_enabled)
      }
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          let createRes = await this.$store.dispatch('role/create', postData)
          // console.log(createRes)
          if (createRes.httpStatus === 201 || createRes.httpStatus === 200) {
            this.postData.role_id = createRes.respondCode.additionals.role.role_id
            // 存明細
            if (this.roleSetupDetailsList) {
              let detailsListLength = this.roleSetupDetailsList.length
              for (let i = 0; i < detailsListLength; i++) {
                if (this.roleSetupDetailsList[i].permission_function) {
                  let itemFunctionLength = this.roleSetupDetailsList[i].permission_function.length
                  for (let index = 0; index < itemFunctionLength; index++) {
                    let data = this.roleSetupDetailsList[i].permission_function[index]
                    if (data.have_this_permission_function) {
                      await this.saveRoleSetupDetailsList(data, this.roleSetupDetailsList[i])
                    }
                  }
                }
              }
            }
            this.$emit('toStep2Event', this.postData.role_id)
            this.$Notice.success({
              title: '儲存成功'
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '儲存失敗'
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
          break
        case 2:
          // update
          // console.log(postData)
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['role_id']
            let createRes = await this.$store.dispatch('role/create', postData)
            // console.log(createRes)
            if (createRes.httpStatus === 201 || createRes.httpStatus === 200) {
              this.postData.role_id = createRes.respondCode.additionals.role.role_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              // 存明細
              if (this.roleSetupDetailsList) {
                let detailsListLength = this.roleSetupDetailsList.length
                for (let i = 0; i < detailsListLength; i++) {
                  if (this.roleSetupDetailsList[i].permission_function) {
                    let itemFunctionLength = this.roleSetupDetailsList[i].permission_function.length
                    for (let index = 0; index < itemFunctionLength; index++) {
                      let data = this.roleSetupDetailsList[i].permission_function[index]
                      if (data.have_this_permission_function) {
                        await this.saveRoleSetupDetailsList(data, this.roleSetupDetailsList[i])
                      }
                    }
                  }
                }
              }
              this.$emit('toStep2Event', this.postData.role_id)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              this.$Notice.error({
                title: '儲存失敗'
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
          } else {
            // update
            // console.log('update')
            delete postData['role_id']
            // 存明細
            // console.log(this.roleSetupDetailsList)
            if (this.roleSetupDetailsList) {
              let detailsListLength = this.roleSetupDetailsList.length
              let oldRpfListRes = await this.$store.dispatch(`permission/queryItemFunctionByRoleId`, this.detailId)
              var oldRpfList = []
              if (oldRpfListRes.httpStatus === 200 || oldRpfListRes.httpStatus === 201) {
                oldRpfList = oldRpfListRes.respondCode.additionals.permissionItemFunction
              }
              for (let i = 0; i < detailsListLength; i++) {
                // console.log(this.roleSetupDetailsList[i])
                if (this.roleSetupDetailsList[i].permission_function) {
                  let itemFunctionLength = this.roleSetupDetailsList[i].permission_function.length
                  for (let index = 0; index < itemFunctionLength; index++) {
                    let data = this.roleSetupDetailsList[i].permission_function[index]
                    let oldData = oldRpfList[i].permission_function[index]
                    if (data.user_have_this_permission_function && !oldData.user_have_this_permission_function) {
                      // 新的有舊的沒有，走新增
                      await this.saveRoleSetupDetailsList(data, this.roleSetupDetailsList[i])
                    } else if (!data.user_have_this_permission_function && oldData.user_have_this_permission_function) {
                      // 新的沒有舊的有，走刪除
                      await this.removeRoleSetupDetailsList(data)
                    }
                  }
                }
              }
              //
              // console.log(postData)
              let updateRes = await this.$store.dispatch('role/update', { postData: postData, detailId: this.postData.role_id })
              // console.log(updateRes)
              if (updateRes.httpStatus === 200 || updateRes.httpStatus === 201) {
                this.$Notice.success({
                  title: '儲存成功'
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else {
                this.$Notice.error({
                  title: '儲存失敗'
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            }
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData['role_id']
          let cloneRes = await this.$store.dispatch('role/create', postData)
          // console.log(cloneRes)
          if (cloneRes.httpStatus === 201 || cloneRes.httpStatus === 200) {
            this.postData.role_id = cloneRes.respondCode.additionals.role.role_id
            // 警告提示
            this.$Notice.success({
              title: '新增成功'
            })
            // 存明細
            if (this.roleSetupDetailsList) {
              let detailsListLength = this.roleSetupDetailsList.length
              for (let i = 0; i < detailsListLength; i++) {
                if (this.roleSetupDetailsList[i].permission_function) {
                  let itemFunctionLength = this.roleSetupDetailsList[i].permission_function.length
                  for (let index = 0; index < itemFunctionLength; index++) {
                    let data = this.roleSetupDetailsList[i].permission_function[index]
                    if (data.have_this_permission_function) {
                      await this.saveRoleSetupDetailsList(data, this.roleSetupDetailsList[i])
                    }
                  }
                }
              }
            }
            this.$emit('toStep2Event', this.postData.role_id)
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '儲存失敗'
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
          break
      }
    },
    saveRoleSetupDetailsList: async function (data, permission) {
      var detailsList = {
        role_id: this.postData.role_id,
        permission_id: permission.permission_id,
        function_id: data.function_id,
        is_enabled: 1
      }
      try {
        let rolePermissionResponse = await this.$store.dispatch(`rolePermissionFunction/create`, detailsList)
        // console.log(rolePermissionResponse)
        if (rolePermissionResponse.httpStatus === 200 || rolePermissionResponse.httpStatus === 201) {
          data.rpf_id = rolePermissionResponse.respondCode.additionals.rolePermission.rpf_id
        } else if (rolePermissionResponse.httpStatus !== 401) {
          this.$Notice.error({
            title: `${permission.permission_name}`,
            desc: `'${data.function_name}'權限設定失敗`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `${permission.permission_name}`,
          desc: `'${data.function_name}'權限設定失敗`,
          duration: 30
        })
      }
    },
    // saveRoleSetupDetailsList: async function (data, index) {
    //   var detailsList = {}
    //   let isError = false
    //   // console.log(data)
    //   if (!data.permissionId.permission_id || data.permissionId.permission_id === '') {
    //     isError = true
    //     this.$Notice.error({
    //       title: `第${data.INDEX}筆明細"權限項目"未填`,
    //       duration: 30
    //     })
    //   }
    //   if (!data.functionId.function_id || data.functionId.function_id === '') {
    //     isError = true
    //     this.$Notice.error({
    //       title: `第${data.INDEX}筆明細"權限功能"未填`,
    //       duration: 30
    //     })
    //   }
    //   //
    //   this.detailsListIsError = isError
    //   if (isError) {
    //     return
    //   }
    //   //
    //   detailsList = {
    //     role_id: this.postData.role_id,
    //     permission_id: data.permissionId.permission_id,
    //     function_id: data.functionId.function_id,
    //     is_enabled: data.is_enabled
    //   }
    //   try {
    //     let rolePermissionResponse = await this.$store.dispatch(`rolePermissionFunction/create`, detailsList)
    //     // console.log(rolePermissionResponse)
    //     if (rolePermissionResponse.httpStatus === 200 || rolePermissionResponse.httpStatus === 201) {
    //       data.rpf_id = rolePermissionResponse.respondCode.additionals.rolePermission.rpf_id
    //     } else {
    //       this.$Notice.error({
    //         title: `第${index + 1}筆明細新增失敗`
    //       })
    //     }
    //   } catch (err) {
    //     // console.log(err)
    //     this.$Notice.error({
    //       title: `第${index + 1}筆明細新增失敗`
    //     })
    //   }
    // },
    updateRoleSetupDetailsList: async function (data, index) {
      var detailsList = {}
      let isError = false
      // console.log(data)
      if (!data.permissionId.permission_id || data.permissionId.permission_id === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限項目"未填`,
          duration: 30
        })
      }
      if (!data.functionId.function_id || data.functionId.function_id === '') {
        isError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細"權限功能"未填`,
          duration: 30
        })
      }
      //
      this.detailsListIsError = isError
      if (isError) {
        return
      }
      //
      detailsList = {
        role_id: this.postData.role_id,
        permission_id: data.permissionId.permission_id,
        function_id: data.functionId.function_id,
        is_enabled: data.is_enabled
      }
      try {
        let rolePermissionResponse = await this.$store.dispatch(`rolePermissionFunction/update`, { postData: detailsList, detailId: data.rpf_id })
        // console.log(rolePermissionResponse)
        if (rolePermissionResponse.httpStatus === 200 || rolePermissionResponse.httpStatus === 201) {
          // data.function_id = rolePermissionResponse.respondCode.additionals.rolePermission.rpf_id
        } else {
          this.$Notice.error({
            title: `第${index + 1}筆明細更新失敗`
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${index + 1}筆明細更新失敗`
        })
      }
    },
    removeRoleSetupDetailsList: async function (data) {
      // 查詢 rpf_id
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'role_id',
            queryValue: this.detailId
          },
          {
            queryCondition: '=',
            queryField: 'function_id',
            queryValue: data.function_id
          }
        ],
        sort: []
      }
      let res = await this.$store.dispatch('rolePermissionFunction/search', postData)
      console.log(res)
      if (res.httpStatus === 200 || res.httpStatus === 201) {
        let id = res.respondCode.additionals.rolePermission[0].rpf_id
        let removeRes = await this.$store.dispatch('rolePermissionFunction/delete', id)
        console.log(removeRes)
      }
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    init: function () {
      this.postData = {
        role_id: null, // 角色ID
        role_code: null, // 角色代碼
        role_name: null, // 角色名稱
        is_enabled: 1 // 已啟用
      }
      this.initRoleSetupDetailsList()
    },
    initRoleSetupDetailsList: function () {
      this.roleSetupDetailsList = []
      this.getDetailList()
      this.$refs.setRoleSetupDetailsList.setRoleSetupDetailsList('init', this.roleSetupDetailsList)
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      // setTimeout(() => {
      //   this.$emit('changeLoadingViewIsShowEvent', false)
      // }, 1000)
      this.getDetailList()
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`role/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        // .label-box {
        //   flex: 1;
        //   font-size: 12px;
        //   font-weight: 400;
        //   color: #333333;
        // }
        // .body-box {
        //   flex: 1;
        //   display: flex;
        //   justify-content: flex-end;
        //   padding: 0 50px 0 0;
        // }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    // .footer {
    //   width: 100%;
    //   height: auto;
    //   display: flex;
    //   justify-content: flex-end;
    //   align-items: flex-end;
    //   flex-direction: column;
    //   .backBtn {
    //     position: absolute;
    //     right: 45px;
    //     bottom: 200px;
    //     width: 45px;
    //     height: 45px;
    //     border-radius: 50%;
    //     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    //     background-color: #dca558;
    //     color: #ffffff;
    //     cursor: pointer;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //   }
    //   .saveBtn {
    //     position: absolute;
    //     right: 45px;
    //     bottom: 45px;
    //     width: 45px;
    //     height: 45px;
    //     border-radius: 50%;
    //     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    //     background-color: #354361;
    //     color: #ffffff;
    //     cursor: pointer;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     z-index: 10;
    //   }
    // }
  }
}
/deep/.ivu-modal-wrap {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
  }
  .button-box {
    display: flex;
    justify-content: center;
    .modal-btn {
      min-width: 96px;
      font-size: 16px;
      padding-top: 1px;
      padding-bottom: 1px;
      &.dark {
        background-color: #354361;
        color: #ffffff;
      }
    }
  }
}
</style>
