<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 代碼類別 -->
          <FloatLabelBox
            :config="{hasContent: (postData.code_type && postData.code_type!==''), label: `代碼類別 *`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
            :selectList="codeTypeList"
            :code="`code_type`"
            :defaultValue="postData.code_type"
            :disabled="false"
            :isError="error.code_type"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 代碼代碼 -->
          <FloatLabelBox
            :config="{hasContent: (postData.code_code && postData.code_code!==''), label: `代碼代碼 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`code_code`"
            :defaultValue="postData.code_code"
            :disabled="false"
            :isError="error.code_code"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 代碼名稱 -->
          <FloatLabelBox
            :config="{hasContent: (postData.code_name && postData.code_name!==''), label: `代碼名稱 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`code_name`"
            :defaultValue="postData.code_name"
            :disabled="false"
            :isError="error.code_name"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
            <div class="body-box">
              <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
                <span slot="open">是</span>
                <span slot="close">否</span>
              </i-Switch>
            </div>
        </div>
      </div>
      <div class="footer">
        <!-- save btn -->
        <div class="saveBtn" @click="comfirmSave">
          <font-awesome-icon icon="save" size="2x"/>
        </div>
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'SettingCodeSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let companyId = this.$store.state.auth.userInfo.companyKey
    let postData = {
      code_id: this.cloneData ? this.cloneData.code_id : '', // 代碼ID
      company_id: this.cloneData ? this.cloneData.company_id : companyId, // 公司ID
      code_type: this.cloneData ? this.cloneData.code_type : '', // 代碼類別
      code_code: this.cloneData ? this.cloneData.code_code : '', // 代碼代碼
      code_name: this.cloneData ? this.cloneData.code_name : '', // 代碼名稱
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1 // 已啟用
    }
    return {
      modalType: modalType,
      //
      comfirmSaveModal: false,
      //
      companyId: companyId,
      //
      codeTypeList: [
        {
          value: 1,
          label: '客戶類別'
        },
        {
          value: 2,
          label: '出貨原則'
        },
        {
          value: 3,
          label: '商品包裝方式'
        },
        {
          value: 4,
          label: '入庫類別'
        },
        {
          value: 5,
          label: '入庫取消類別'
        },
        {
          value: 6,
          label: '調整庫存類別'
        },
        {
          value: 7,
          label: '付款方式'
        },
        {
          value: 8,
          label: '付款條件'
        },
        {
          value: 9,
          label: '可存放溫度類別'
        },
        {
          value: 10,
          label: '可存放濕度類別'
        }
      ],
      postData: postData,
      error: {
        code_id: false, // 代碼ID
        company_id: false, // 公司ID
        code_type: false, // 代碼類別
        code_code: false, // 代碼代碼
        code_name: false, // 代碼名稱
        created_at: false, // 建立時間
        update_at: false, // 更新時間
        is_enabled: false // 已啟用
      }
    }
  },
  computed: {
    code: function () {
      return this.$store.state[`code`][`code`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    code: {
      handler: function (val) {
        // console.log('code : ', val)
        if (!val) {
          return
        }
        this.postData = {
          code_id: val.code_id || null, // 代碼ID
          company_id: val.company_id || this.companyId, // 公司ID
          code_type: val.code_type || null, // 代碼類別
          code_code: val.code_code || null, // 代碼代碼
          code_name: val.code_name || null, // 代碼名稱
          is_enabled: val.is_enabled // 已啟用
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.code_type) {
          this.error.code_type = false
        }
        if (val.code_code) {
          this.error.code_code = false
        }
        if (val.code_name) {
          this.error.code_name = false
        }
      },
      deep: true
    }
    //
  },
  methods: {
    init: function () {
      this.postData = {
        code_id: null, // 代碼ID
        company_id: this.companyId || null, // 公司ID
        code_type: null, // 代碼類別
        code_code: null, // 代碼代碼
        code_name: null, // 代碼名稱
        is_enabled: 1 // 已啟用
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (codeId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'code_id',
            queryValue: codeId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`code/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    //
    save: function (action = null) {
      //
      let isError = false
      //
      if (!this.postData.code_type || this.postData.code_type === '') {
        isError = true
        this.error.code_type = true
      }
      if (!this.postData.code_code || this.postData.code_code === '') {
        isError = true
        this.error.code_code = true
      }
      if (!this.postData.code_name || this.postData.code_name === '') {
        isError = true
        this.error.code_name = true
      }
      // bol => num
      // this.postData.is_enabled = this.postData.is_enabled === 1
      // console.log('isError', isError)
      //
      if (isError) {
        return
      }
      //
      let postData = {
        code_type: this.postData.code_type, // 代碼類別
        code_code: this.postData.code_code, // 代碼代碼
        code_name: this.postData.code_name // 代碼名稱
      }
      Object.keys(this.postData).forEach((key, idx) => {
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'is_enabled') {
            let value = Number(this.postData[key])
            // console.log(value)
            postData[key] = value
          } else {
            let value = this.postData[key]
            postData[key] = value
          }
        }
      })
      // console.log(postData)
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('code/create', postData).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.postData.code_id = r.respondCode.additionals.settingCode.code_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStep2Event', this.postData.code_id)
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['code_id']
            this.$store.dispatch('code/create', postData).then((r) => {
              // console.log(r)
              let rex = /^[2]/g
              if (rex.test(r.httpStatus)) {
                this.postData.code_id = r.respondCode.additionals.settingCode.code_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStep2Event', this.postData.code_id)
              } else {
                this.$Notice.error({
                  title: '新增失敗'
                })
              }
            })
          } else {
            // update
            // console.log('update')
            // console.log(this.detailId)
            // console.log(postData)
            this.$store.dispatch('code/update', { id: this.detailId, data: postData }).then((r) => {
              // console.log(r)
              let rex = /^[2]/g
              if (rex.test(r.httpStatus)) {
                // 警告提示
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗'
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          this.$store.dispatch('code/create', postData).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              // 警告提示
              this.postData.code_id = r.respondCode.additionals.settingCode.code_id
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStep2Event', this.postData.code_id)
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
      }
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    }
    //
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`code/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  h2.title {
    font-family: PingFangTC;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354361;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  /deep/.ivu-btn.icon-btn-md {
    border: 2px solid;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 0;
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > span {
      font-size: 14px;
    }
  }
  .backBtn {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-left: 1rem;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .backBtn {
        position: absolute;
        right: 45px;
        bottom: 200px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #dca558;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
}
// @media (max-width: 992px) {
//   .content-box .top-box .row {
//     flex-wrap: wrap;
//     .col {
//       flex: 1;
//     }
//   }
//   .floatLabelBox-container {
//     min-width: 250px;
//   }
// }
</style>
