<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 費用項目代碼 -->
          <FloatLabelBox
            :config="{hasContent: (postData.fee_code && postData.fee_code!==''), label: `費用項目代碼 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`fee_code`"
            :defaultValue="postData.fee_code"
            :isError="error.fee_code"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 費用項目名稱 -->
          <FloatLabelBox
            :config="{hasContent: (postData.fee_name && postData.fee_name!==''), label: `費用項目名稱 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`fee_name`"
            :defaultValue="postData.fee_name"
            :disabled="false"
            :isError="error.fee_name"
            :isRequired="true"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
          <div class="body-box">
            <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div>
      </div>
      <div class="footer">
        <!-- save btn -->
        <div class="saveBtn" @click="comfirmSave">
          <font-awesome-icon icon="save" size="2x"/>
        </div>
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'SettingfeeSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      fee_id: this.cloneData ? this.cloneData.fee_id : null, // 費用項目ID
      company_id: this.$store.state.auth.userInfo.companyKey, // 公司ID
      fee_code: this.cloneData ? this.cloneData.fee_code : null, // 費用項目代碼
      fee_name: this.cloneData ? this.cloneData.fee_name : null, // 費用項目名稱
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1
    }
    return {
      //
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      //
      modalType: modalType,
      // detailData: {}, // 明細頁資訊
      comfirmSaveModal: false,
      //
      postData: postData,
      error: {
        fee_id: false, // 費用項目ID
        company_id: false, // 公司ID
        fee_code: false, // 費用項目代碼
        fee_name: false, // 費用項目名稱
        created_at: false, // 建立時間
        update_at: false, // 更新時間
        is_enabled: false // 已啟用
      }
    }
  },
  computed: {
    settingfee: function () {
      return this.$store.state[`settingfee`][`settingfee`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    settingfee: {
      handler: function (val) {
        // console.log('settingfee : ', val)
        if (!val) {
          return
        }
        this.postData = {
          fee_id: val.fee_id || null, // 費用項目ID
          company_id: this.companyId, // 公司ID
          fee_code: val.fee_code || null, // 費用項目代碼
          fee_name: val.fee_name || null, // 費用項目名稱
          is_enabled: val.is_enabled // 已啟用
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.fee_code) {
          this.error.fee_code = false
        }
        if (val.fee_name) {
          this.error.fee_name = false
        }
      },
      deep: true
    }
  },
  methods: {
    init: function () {
      this.postData = {
        fee_id: null, // 費用項目ID
        company_id: this.companyId, // 公司ID
        fee_code: null, // 費用項目代碼
        fee_name: null, // 費用項目名稱
        created_at: null, // 建立時間
        update_at: null, // 更新時間
        is_enabled: 1
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (feeId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'fee_id',
            queryValue: feeId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`settingfee/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    //
    save: function (action = null) {
      // console.log(this.postData)
      let isError = false
      if (!this.postData.fee_code || this.postData.fee_code === '') {
        isError = true
        this.error.fee_code = true
      }
      if (!this.postData.fee_name || this.postData.fee_name === '') {
        isError = true
        this.error.fee_name = true
      }
      //
      if (isError) {
        return
      }
      //
      let postData = {
        company_id: this.companyId, // 公司ID
        fee_code: this.postData.fee_code, // 費用項目代碼
        fee_name: this.postData.fee_name, // 費用項目名稱
        is_enabled: Number(this.postData.is_enabled)
      }
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('settingfee/create', postData).then((r) => {
            console.log(r)
            if (r.httpStatus === 200 || r.httpStatus === 201) {
              this.postData.fee_id = r.respondCode.additionals.settingFee.fee_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStep2Event', this.postData.fee_id)
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['fee_id']
            this.$store.dispatch('settingfee/create', postData).then((r) => {
              // console.log(r)
              if (r.httpStatus === 200 || r.httpStatus === 201) {
                this.postData.fee_id = r.respondCode.additionals.settingFee.fee_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
              } else {
                this.$Notice.error({
                  title: '新增失敗'
                })
              }
            })
          } else {
            // update
            // console.log('update')
            this.$store.dispatch('settingfee/update', { detailId: this.detailId, postData: postData }).then((r) => {
              console.log(r)
              if (r.httpStatus === 200 || r.httpStatus === 201) {
                // 警告提示
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗'
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          this.$store.dispatch('settingfee/create', postData).then((r) => {
            // console.log(r)
            if (r.httpStatus === 200 || r.httpStatus === 201) {
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.postData.fee_id = r.respondCode.additionals.settingFee.fee_id
            } else {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
      }
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.detailId)
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`settingfee/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  h2.title {
    font-family: PingFangTC;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354361;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  /deep/.ivu-btn.icon-btn-md {
    border: 2px solid;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 0;
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > span {
      font-size: 14px;
    }
  }
  .backBtn {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-left: 1rem;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        // .label-box {
        //   flex: 1;
        //   font-size: 12px;
        //   font-weight: 400;
        //   color: #333333;
        // }
        // .body-box {
        //   flex: 1;
        //   display: flex;
        //   justify-content: flex-end;
        //   padding: 0 50px 0 0;
        // }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .backBtn {
        position: absolute;
        right: 45px;
        bottom: 200px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #dca558;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
}
// @media (max-width: 992px) {
//   .content-box .top-box .row {
//     flex-wrap: wrap;
//     .col {
//       flex: 1;
//     }
//   }
//   .floatLabelBox-container {
//     min-width: 250px;
//   }
// }
</style>
