<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 選單代碼 -->
          <FloatLabelBox
            :config="{hasContent: (postData.menu_code && postData.menu_code!==''), label: `選單代碼 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`menu_code`"
            :defaultValue="postData.menu_code"
            :isError="error.menu_code"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 選單名稱 -->
          <FloatLabelBox
            :config="{hasContent: (postData.menu_name && postData.menu_name!==''), label: `選單名稱 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`menu_name`"
            :defaultValue="postData.menu_name"
            :isError="error.menu_name"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 上一層選單 -->
          <FloatLabelBox
            :config="{hasContent: (postData.root_name && postData.root_name!==''), label: '上一層選單', hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true }"
            :code="`menu_id`"
            :autoCompleteData="rootList"
            :defaultValue="postData.root_name"
            :modalTitle="`上一層選單代碼`"
            :toCloseModal="toCloseRootAutocompleteModal"
            keyCode="settingMenu"
            storeKey="settingMenu"
            returnCode="menu_name"
            :showCols="autoCompleteShowRootCols"
            @handleEnterSubmit="autocompleteHandleRootEnterSubmitEvent"
            @changeModelEvent="rootAutocompleteChangeEvent"
            @autoCompleteSearchEvent="rootAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseRootAutocompleteModal">
              <div>
                <!-- 上一層選單代碼-->
                <AutocompleteModal
                keyCode="settingMenu"
                storeKey="settingMenu"
                returnCode="menu_name"
                :condition="rootCondition"
                @setAutocompleteValueEvent="setAutocompleteRootValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 是否為功能 -->
          <FloatLabelBox
            :config="{hasContent: (postData.is_item!==null && postData.is_item!==''), label: `是否為功能 *`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
            :selectList="isItemList"
            :code="`is_item`"
            :defaultValue="postData.is_item"
            :isError="error.is_item"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="isItemListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 選單階層 menu_level -->
          <FloatLabelBox
          :config="{hasContent: (postData.menu_level && postData.menu_level!==''), label: `選單階層 *`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
          :code="`menu_level`"
          :defaultValue="postData.menu_level"
          :isError="error.menu_level"
          :isRequired="true"
          :disabled="!!postData.menu_id"
          @changeModelEvent="inputNumChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 選單預設排序 menu_sort -->
          <FloatLabelBox
          :config="{hasContent: (postData.menu_sort && postData.menu_sort!==''), label: `選單預設排序 *`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
          :code="`menu_sort`"
          :defaultValue="postData.menu_sort"
          :isError="error.menu_sort"
          :isRequired="true"
          :disabled="false"
          @changeModelEvent="inputNumChangeEvent">
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 選單功能網址路徑 -->
          <FloatLabelBox
            :config="{hasContent: (postData.menu_path && postData.menu_path!==''), label: `選單功能網址路徑`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`menu_path`"
            :defaultValue="postData.menu_path"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col iswitch">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
          <div class="body-box">
            <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div>
      </div>
      <div class="footer">
        <!-- save btn -->
        <div class="saveBtn" @click="comfirmSave">
          <font-awesome-icon icon="save" size="2x"/>
        </div>
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
// import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'SettingMenuSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    AutocompleteModal,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      menu_id: this.cloneData ? this.cloneData.menu_id : null, // 選單ID
      root_id: this.cloneData ? this.cloneData.root_id : null, // 上一層選單ID
      root_name: this.cloneData ? this.cloneData.root_name : null, // 上一層選單
      is_item: this.cloneData ? this.cloneData.is_item : 0, // 是否為功能
      menu_level: this.cloneData ? this.cloneData.menu_level : 1, // 選單階層
      menu_sort: this.cloneData ? this.cloneData.menu_sort : 1, // 選單預設排序
      menu_code: this.cloneData ? this.cloneData.menu_code : null, // 選單代碼
      menu_name: this.cloneData ? this.cloneData.menu_name : null, // 選單名稱
      menu_path: this.cloneData ? this.cloneData.menu_path : null, // 選單功能網址路徑
      is_enabled: this.cloneData ? this.cloneData.is_enabled : 1 // 已啟用
    }
    return {
      //
      companyId: this.$store.state.auth.userInfo.companyKey,
      //
      modalType: modalType,
      //
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      /* 上一層選單 : root_id */
      rootList: [],
      autoCompleteShowRootCols: [
        'menu_code'
      ],
      toCloseRootAutocompleteModal: false,
      rootCondition: [],
      /* 是否為功能 : is_item */
      isItemList: [{
        value: 0,
        label: '分類'
      },
      {
        value: 1,
        label: '功能'
      }],
      //
      postData: postData,
      error: {
        menu_id: false, // 選單ID
        root_id: false, // 上一層選單ID
        root_name: false, // 上一層選單
        is_item: false, // 是否為功能
        menu_level: false, // 選單階層
        menu_sort: false, // 選單預設排序
        menu_code: false, // 選單代碼
        menu_name: false, // 選單名稱
        menu_path: false, // 選單功能網址路徑
        is_enabled: false // 已啟用
      }
    }
  },
  computed: {
    settingMenu: function () {
      return this.$store.state[`settingMenu`][`settingMenu`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    settingMenu: {
      handler: function (val) {
        // console.log('contact : ', val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        this.postData = {
          menu_id: val.menu_id || null, // 選單ID
          root_id: val.root_id || null, // 上一層選單ID
          root_name: val.root_name || null, // 上一層選單
          is_item: val.is_item || 0, // 是否為功能
          menu_level: val.menu_level || 1, // 選單階層
          menu_sort: val.menu_sort || 1, // 選單預設排序
          menu_code: val.menu_code || null, // 選單代碼
          menu_name: val.menu_name || null, // 選單名稱
          menu_path: val.menu_path || null, // 選單功能網址路徑
          is_enabled: val.is_enabled || 1 // 已啟用
        }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        // console.log(val)
        if (val.is_item || val.is_item === 0) {
          this.error.is_item = false
        }
        if (val.menu_level) {
          this.error.menu_level = false
        }
        if (val.menu_sort) {
          this.error.menu_sort = false
        }
        if (val.menu_code) {
          this.error.menu_code = false
        }
        if (val.menu_name) {
          this.error.menu_name = false
        }
      },
      deep: true
    }
  },
  methods: {
    init: function () {
      this.menuList = []
      this.postData = {
        menu_id: null, // 選單ID
        root_id: null, // 上一層選單ID
        root_name: '', // 上一層選單
        is_item: 0, // 是否為功能
        menu_level: 1, // 選單階層
        menu_sort: 1, // 選單預設排序
        menu_code: null, // 選單代碼
        menu_name: null, // 選單名稱
        menu_path: null, // 選單功能網址路徑
        is_enabled: 1
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (menuId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'menu_id',
            queryValue: menuId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`settingMenu/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    //
    save: async function (action = null) {
      // console.log(this.postData)
      let isError = false
      //
      if (!this.postData.is_item && this.postData.is_item !== 0) {
        isError = true
        this.error.is_item = true
      }
      if (!this.postData.menu_level || this.postData.menu_level === '') {
        isError = true
        this.error.menu_level = true
      }
      if (!this.postData.menu_sort || this.postData.menu_sort === '') {
        isError = true
        this.error.menu_sort = true
      }
      if (!this.postData.menu_code || this.postData.menu_code === '') {
        isError = true
        this.error.menu_code = true
      }
      if (!this.postData.menu_name || this.postData.menu_name === '') {
        isError = true
        this.error.menu_name = true
      }
      //
      if (isError) {
        return
      }
      //
      let postData = {
        root_id: this.postData.root_id || 0, // 上一層選單ID
        is_item: this.postData.is_item, // 是否為功能
        menu_level: this.postData.menu_level, // 選單階層
        menu_sort: this.postData.menu_sort, // 選單預設排序
        menu_code: this.postData.menu_code, // 選單代碼
        menu_name: this.postData.menu_name, // 選單名稱
        is_enabled: Number(this.postData.is_enabled) // 已啟用
      }
      if (this.postData.menu_path) {
        postData.menu_path = this.postData.menu_path
      }
      //
      var menuRes
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          menuRes = await this.$store.dispatch('settingMenu/create', postData)
          // console.log(menuRes)
          if (menuRes.httpStatus === 200 || menuRes.httpStatus === 201) {
            this.postData.menu_id = menuRes.respondCode.additionals.settingMenu.menu_id
            // 權限 permission
            let permissionPostData = {
              menu_id: this.postData.menu_id,
              permission_code: postData.menu_code,
              permission_name: postData.menu_name,
              is_enabled: postData.is_enabled
            }
            let permissionRes = await this.$store.dispatch('permission/create', permissionPostData)
            if (permissionRes.httpStatus === 200 || permissionRes.httpStatus === 201) {
              let permissionId = permissionRes.respondCode.additionals.permissionItem.permission_id
              let permissionFunctionPostData = {
                permission_id: permissionId,
                function_type: 1,
                function_code_type: 1,
                function_code: 'menu',
                function_name: '總覽',
                is_enabled: 1
              }
              let permissionFunctionRes = await this.$store.dispatch('permissionFunction/create', permissionFunctionPostData)
              if (permissionFunctionRes.httpStatus === 200 || permissionFunctionRes.httpStatus === 201) {
                this.$Notice.success({
                  title: '新增成功'
                })
              } else if (permissionFunctionRes.httpStatus !== 401) {
                this.$Notice.success({
                  title: '新增完畢'
                })
              }
            } else if (permissionRes.httpStatus !== 401) {
              this.$Notice.success({
                title: '新增完畢'
              })
            }
            this.$emit('toStep2Event', this.postData.menu_id)
          } else if (menuRes.httpStatus !== 401) {
            this.$Notice.error({
              title: '新增失敗'
            })
          }
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['menu_id']
            menuRes = await this.$store.dispatch('settingMenu/create', postData)
            // console.log(menuRes)
            if (menuRes.httpStatus === 200 || menuRes.httpStatus === 201) {
              this.postData.menu_id = menuRes.respondCode.additionals.settingMenu.menu_id
              // 權限 permission
              let permissionPostData = {
                menu_id: this.postData.menu_id,
                permission_code: postData.menu_code,
                permission_name: postData.menu_name,
                is_enabled: postData.is_enabled
              }
              let permissionRes = await this.$store.dispatch('permission/create', permissionPostData)
              if (permissionRes.httpStatus === 200 || permissionRes.httpStatus === 201) {
                let permissionId = permissionRes.respondCode.additionals.permissionItem.permission_id
                let permissionFunctionPostData = {
                  permission_id: permissionId,
                  function_type: 1,
                  function_code_type: 1,
                  function_code: 'menu',
                  function_name: '總覽',
                  is_enabled: 1
                }
                let permissionFunctionRes = await this.$store.dispatch('permissionFunction/create', permissionFunctionPostData)
                if (permissionFunctionRes.httpStatus === 200 || permissionFunctionRes.httpStatus === 201) {
                  this.$Notice.success({
                    title: '新增成功'
                  })
                } else if (permissionFunctionRes.httpStatus !== 401) {
                  this.$Notice.success({
                    title: '新增完畢'
                  })
                }
              } else if (permissionRes.httpStatus !== 401) {
                this.$Notice.success({
                  title: '新增完畢'
                })
              }
              this.$emit('toStep2Event', this.postData.menu_id)
            } else if (menuRes.httpStatus !== 401) {
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          } else {
            // update
            // console.log('update')
            postData.menu_path = this.postData.menu_path || 'null'
            this.$store.dispatch('settingMenu/update', { id: this.detailId, data: postData }).then((r) => {
              // console.log(r)
              if (r.httpStatus === 200 || r.httpStatus === 201) {
                // 警告提示
                this.$Notice.success({
                  title: '更新成功'
                })
              } else if (r.httpStatus !== 401) {
                this.$Notice.error({
                  title: '更新失敗'
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          menuRes = await this.$store.dispatch('settingMenu/create', postData)
          // console.log(menuRes)
          if (menuRes.httpStatus === 200 || menuRes.httpStatus === 201) {
            this.postData.menu_id = menuRes.respondCode.additionals.settingMenu.menu_id
            // 權限 permission
            let permissionPostData = {
              menu_id: this.postData.menu_id,
              permission_code: postData.menu_code,
              permission_name: postData.menu_name,
              is_enabled: postData.is_enabled
            }
            let permissionRes = await this.$store.dispatch('permission/create', permissionPostData)
            if (permissionRes.httpStatus === 200 || permissionRes.httpStatus === 201) {
              let permissionId = permissionRes.respondCode.additionals.permissionItem.permission_id
              let permissionFunctionPostData = {
                permission_id: permissionId,
                function_type: 1,
                function_code_type: 1,
                function_code: 'menu',
                function_name: '總覽',
                is_enabled: 1
              }
              let permissionFunctionRes = await this.$store.dispatch('permissionFunction/create', permissionFunctionPostData)
              if (permissionFunctionRes.httpStatus === 200 || permissionFunctionRes.httpStatus === 201) {
                this.$Notice.success({
                  title: '新增成功'
                })
              } else if (permissionFunctionRes.httpStatus !== 401) {
                this.$Notice.success({
                  title: '新增完畢'
                })
              }
            } else if (permissionRes.httpStatus !== 401) {
              this.$Notice.success({
                title: '新增完畢'
              })
            }
            this.$emit('toStep2Event', this.postData.menu_id)
          } else if (menuRes.httpStatus !== 401) {
            this.$Notice.error({
              title: '新增失敗'
            })
          }
          break
      }
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    //
    /* 上一層選單 : root_id */
    autocompleteHandleRootEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.root_id = null
      // 設定其他資料處 end
      this.rootList = []
    },
    rootAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.postData.root_id !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData.root_id = data.val ? data.val[data.code] : ''
        this.postData.root_name = data.val ? data.val[data.returnCode] : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.rootList = [data.val]
      } else {
        this.rootList = []
      }
    },
    rootAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`settingMenu`]
          //
          this.rootList = list
        }
      })
    },
    setAutocompleteRootValue: function (data) {
      // console.log(data)
      //
      this.postData.root_name = data.data[data.returnCode]
      this.postData.root_id = data.data.menu_id
      //
      this.toCloseRootAutocompleteModal = true
    },
    setToCloseRootAutocompleteModal: function (bol) {
      this.toCloseRootAutocompleteModal = bol
    },
    /* 是否為功能 is_item */
    isItemListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
      this.postData.is_item = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`settingMenu/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  h2.title {
    font-family: PingFangTC;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354361;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  /deep/.ivu-btn.icon-btn-md {
    border: 2px solid;
    background-color: transparent;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 0;
    width: 29px;
    height: 29px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > span {
      font-size: 14px;
    }
  }
  .backBtn {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-left: 1rem;
    // box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .backBtn {
        position: absolute;
        right: 45px;
        bottom: 200px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #dca558;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
}
// @media (max-width: 992px) {
//   .content-box .top-box .row {
//     flex-wrap: wrap;
//     .col {
//       flex: 1;
//     }
//   }
//   .floatLabelBox-container {
//     min-width: 250px;
//   }
// }
</style>
