<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 國別ID -->
          <FloatLabelBox
            :config="{hasContent: (postData.country_id && postData.country_id!==''), label: `國家 *`, hasClearButton: true, type: `Select`, settings: {width: 250, height: 52}}"
            :code="`country_id`"
            :defaultValue="postData.country_id"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 州省郡代碼 -->
          <FloatLabelBox
            :config="{hasContent: (postData.province_code && postData.province_code!==''), label: `州省郡代碼 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
            :code="`province_code`"
            :defaultValue="postData.province_code"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 州省郡名稱 -->
          <FloatLabelBox
            :config="{hasContent: (postData.province_name && postData.province_name!==''), label: `州省郡名稱 *`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
            :code="`province_name`"
            :defaultValue="postData.province_name"
            :disabled="false"
            @changeModelEvent="changeModelEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- 啟用 -->
          <div class="label-box">啟用</div>
          <div class="body-box">
            <i-Switch v-model="postData.is_enabled" size="large">
              <span slot="open">是</span>
              <span slot="close">否</span>
            </i-Switch>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="PreviousBtn" @click="toStateProvinceSetup">
          <font-awesome-icon icon="save" />
        </div>
        <div class="saveBtn" @click="save">
          <font-awesome-icon icon="save" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
//
export default {
  name: 'StateProvinceSetup',
  props: [],
  components: {
    FloatLabelBox
  },
  data () {
    return {
      postData: {
        province_id: null, // 州省郡ID
        country_id: null, // 國別ID
        province_code: null, // 州省郡代碼
        province_name: null, // 州省郡名稱
        latitude: null, // 緯度
        longitude: null, // 經度
        created_at: null, // 建立時間
        update_at: null, // 更新時間
        is_enabled: true, // 已啟用
        is_deleted: false // 已刪除
      },
      error: {
        province_id: null, // 州省郡ID
        country_id: null, // 國別ID
        province_code: null, // 州省郡代碼
        province_name: null, // 州省郡名稱
        latitude: null, // 緯度
        longitude: null, // 經度
        created_at: null, // 建立時間
        update_at: null, // 更新時間
        is_enabled: true, // 已啟用
        is_deleted: false // 已刪除
      }
    }
  },
  computed: {},
  watch: {

  },
  methods: {
    toStateProvinceSetup: function () {
      this.step = 0
    },
    save: function () {
      this.$emit('saveEvent', { type: this.type, postData: this.postData })
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    height: auto;
    padding: 36px 27px 25px 0;
    .row {
      padding: 0 146px 0 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      .col {
        flex: 0 0 25%;
        height: 50px;
        margin-bottom: 1.3rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 2;
        }
        .label-box {
          flex: 1;
          font-size: 20px;
          font-weight: 400;
          color: #515a6e;
        }
        .body-box {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding: 0;
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .PreviousBtn {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #dca558;
        color: #fff;
        line-height: 65px;
        text-align: center;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 1rem;
      }
      .saveBtn {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #fff;
        line-height: 65px;
        text-align: center;
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 1rem;
        z-index: 10;
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
}
</style>
