<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'roles' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'roles'"
        type="default"
        shape="circle"
      >角色設定</Button>
      <!-- <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'log' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'log'"
        type="default"
        shape="circle"
      >動作紀錄</Button> -->
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="row">
        <div class="col">
          <!-- 使用者名稱 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.name && postData.name!==''),
              label: `使用者名稱 *`,
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`name`"
            :defaultValue="postData.name"
            :disabled="false"
            :isError="error.name"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 登入帳號 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.username && postData.username!==''),
              label: `登入帳號 *`,
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`username`"
            :defaultValue="postData.username"
            :disabled="false"
            :isError="error.username"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 登入密碼 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.password && postData.password!==''),
              label: (step === 1 ? `登入密碼 *` : `登入密碼 `),
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :errorMsg="errorMsgAccountPwd"
            errorMsgColor="#a71b05"
            :code="`password`"
            :defaultValue="postData.password"
            :isError="error.password"
            :isRequired="step === 1 || postData.password ? true : false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 密碼確認 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.c_password && postData.c_password!==''),
              label: (step === 1 ? `密碼確認 *` : `密碼確認 `),
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :errorMsg="errorMsgAccountPwd2"
            errorMsgColor="#a71b05"
            :code="`c_password`"
            :defaultValue="postData.c_password"
            :isError="error.c_password"
            :isRequired="step === 1 || postData.password || postData.c_password ? true : false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- Email 帳號 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.email && postData.email!==''),
              label: `Email 帳號 *`,
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :errorMsg="errorMsgEmail"
            errorMsgColor="#a71b05"
            :code="`email`"
            :defaultValue="postData.email"
            :isError="error.email"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 集團 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.g_key && postData.g_key!==''),
              label: `集團 *`,
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`g_key`"
            :defaultValue="postData.g_key"
            :disabled="false"
            :isError="error.g_key"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 公司 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.c_key && postData.c_key!==''),
              label: `公司 *`,
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`c_key`"
            :defaultValue="postData.c_key"
            :disabled="false"
            :isError="error.c_key"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 站別 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.s_key && postData.s_key!==''),
              label: `站別 *`,
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`s_key`"
            :defaultValue="postData.s_key"
            :disabled="false"
            :isError="error.s_key"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 部門 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.d_key && postData.d_key!==''),
              label: `部門 *`,
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`d_key`"
            :defaultValue="postData.d_key"
            :disabled="false"
            :isError="error.d_key"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <!-- <div class="col colx3">
          <div class="label-box pr-3">倉庫 *</div>
          <CheckboxGroup v-model="postData.wh_id" @on-change="whListChangeEvent">
              <Checkbox
              class="mr-3"
              v-for="(item, index) in whList"
              :key="index" :label="item ? item.value : null">
                <span>{{item ? item.label : null}}</span>
              </Checkbox>
          </CheckboxGroup>
        </div> -->
      </div>
      <div class="footer">
        <!-- save btn -->
        <!-- <div class="saveBtn" @click="comfirmSave">
          <font-awesome-icon icon="save" size="2x" />
        </div> -->
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'roles'">
      <Checkbox class="best-checkbox-item light-bg" v-for="(item, index) in roleDataList" :key="`${item.id}_${index}`" v-model="item.checked">
        <span>{{item.display_name}}</span>
      </Checkbox>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'log'">
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'UserSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      user_id: this.cloneData ? this.cloneData.user_id : '', // 使用者ID
      name: this.cloneData ? this.cloneData.name : '', // 使用者名稱
      username: this.cloneData ? this.cloneData.username : '', // 登入帳號
      password: null, // 登入密碼
      c_password: null, // 密碼確認
      g_key: this.cloneData ? this.cloneData.g_key : '', // 使用者ID
      c_key: this.cloneData ? this.cloneData.c_key : '', // 使用者ID
      s_key: this.cloneData ? this.cloneData.s_key : '', // 使用者ID
      d_key: this.cloneData ? this.cloneData.d_key : '', // 使用者ID
      email: this.cloneData ? this.cloneData.email : '', // Email 帳號
      wh_name: this.cloneData ? this.cloneData.wh_name : '', // 倉庫
      wh_id: this.cloneData ? this.cloneData.wh_id : [] // 倉庫ID
    }
    //
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    //
    return {
      modalType: modalType,
      //
      companyId: companyId,
      whId: whId,
      //
      comfirmSaveModal: false,
      //
      /* 倉庫 */
      whList: [],
      firstWhList: false,
      oldWhList: [],
      /* 密碼errorMsg */
      errorMsgAccountPwd: '',
      /* 密碼確認errorMsg */
      errorMsgAccountPwd2: '',
      /* email errorMsg */
      errorMsgEmail: '',
      //
      postData: postData,
      error: {
        user_id: false, // 使用者ID
        name: false, // 使用者名稱
        username: false, // 登入帳號
        password: false, // 登入密碼
        c_password: false, // 密碼確認
        email: false, // Email 帳號
        wh_id: false, // 倉庫ID
        g_key: false, // 集團
        c_key: false, // 公司
        s_key: false, // 站別
        d_key: false, // 部門
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      /* tab */
      changeContent: 'main',
      // 角色
      roleDataList: []
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    user: function () {
      // console.log(this.$store.state)
      return this.$store.state[`user`][`user`] || {}
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    user: {
      handler: function (val) {
        console.log(val)
        this.postData = {
          user_id: val.user_id || null, // 使用者ID
          name: val.name || null, // 使用者名稱
          username: val.username || null, // 登入帳號
          password: null, // 登入密碼
          c_password: null, // 密碼確認
          email: val.email || null, // Email 帳號
          g_key: val.g_key || null, // 集團
          c_key: val.c_key || null, // 公司
          s_key: val.s_key || null, // 站別
          d_key: val.d_key || null, // 部門
          wh_id: [] // 倉庫ID
        }
        if (val.warehouse.length > 0) {
          val.warehouse.forEach((item) => {
            this.postData.wh_id.push(item.wh_id)
          })
        }
        if (val.rolesArray.length > 0) {
          this.roleDataList = JSON.parse(JSON.stringify(val.rolesArray))
          // val.rolesArray.forEach((item) => {
          //   this.roleDataList.forEach((itm) => {
          //     if (item.display_name === itm.display_name && item.checked) {
          //       itm.checked = true
          //     }
          //   })
          // })
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.name) {
          this.error.name = false
        }
        if (val.username) {
          this.error.username = false
        }
        if (val.g_key) {
          this.error.g_key = false
        }
        if (val.c_key) {
          this.error.c_key = false
        }
        if (val.s_key) {
          this.error.s_key = false
        }
        if (val.d_key) {
          this.error.d_key = false
        }
        if (val.password) {
          if (val.password.length >= 6) {
            this.error.password = false
          }
        }
        if (val.c_password && val.c_password === val.password) {
          this.error.c_password = false
        }
        if (this.step !== 1 && !val.password && !val.c_password) {
          this.error.password = false
          this.error.c_password = false
        }
        if (val.email) {
          this.error.email = false
        }
      },
      deep: true
    },
    roleDataList: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    init: function () {
      this.initPostData()
      this.initError()
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        user_id: null, // 使用者ID
        name: null, // 使用者名稱
        username: null, // 登入帳號
        password: null, // 登入密碼
        c_password: null, // 密碼確認
        email: null, // Email 帳號
        wh_name: null, // 倉庫
        wh_id: [] // 倉庫ID
      }
    },
    initError: function () {
      this.error = {
        user_id: false, // 使用者ID
        name: false, // 使用者名稱
        username: false, // 登入帳號
        g_key: false, // 登入帳號
        c_key: false, // 登入帳號
        s_key: false, // 登入帳號
        d_key: false, // 登入帳號
        password: false, // 登入密碼
        c_password: false, // 密碼確認
        email: false, // Email 帳號
        wh_id: false, // 倉庫ID
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    //
    selectChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (detailId) {
      // let postData = {
      //   pageNum: 1,
      //   pageSize: 1,
      //   baseCondition: [['id', '=', detailId]],
      //   orCondition: [],
      //   sort: []
      // }
      // console.log(postData)
      this.$store.dispatch(`user/queryDetail`, detailId).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.user_id = null // 使用者ID
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    setUserEvent: function (data) {
      console.log(data)
      if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    save: function (action = null) {
      //
      let isError = false
      //
      if (!this.postData.name || this.postData.name === '') {
        isError = true
        this.error.name = true
      }
      if (!this.postData.username || this.postData.username === '') {
        isError = true
        this.error.username = true
      }
      if (!this.postData.g_key || this.postData.g_key === '') {
        isError = true
        this.error.g_key = true
      }
      if (!this.postData.c_key || this.postData.c_key === '') {
        isError = true
        this.error.c_key = true
      }
      if (!this.postData.s_key || this.postData.s_key === '') {
        isError = true
        this.error.s_key = true
      }
      if (!this.postData.d_key || this.postData.d_key === '') {
        isError = true
        this.error.d_key = true
      }
      if (this.postData.password && this.postData.c_password !== this.postData.password) {
        isError = true
        this.error.c_password = true
        this.errorMsgAccountPwd2 = '*請再次輸入密碼'
      }
      if (this.step === 1) {
        if (!this.postData.password || this.postData.password === '') {
          isError = true
          this.error.password = true
          this.errorMsgAccountPwd = '*此欄為必填欄位'
        }
        if (!this.postData.c_password || this.postData.c_password === '') {
          isError = true
          this.error.c_password = true
          this.errorMsgAccountPwd2 = '*此欄為必填欄位'
        }
      }
      if (!this.postData.email || this.postData.email === '') {
        isError = true
        this.error.email = true
        this.errorMsgEmail = '*此欄為必填欄位'
      }
      if (this.postData.email && this.postData.email !== '') {
        var rex = /^(([.](?=[^.]|^))|[\w_%{|}#$~`+!?-])+@(?:[\w-]+\.)+[a-zA-Z.]{2,63}$/
        if (!rex.test(this.postData.email)) {
          // console.log('email不符')
          isError = true
          this.error.email = true
          this.errorMsgEmail = '*email格式有誤'
        }
      }
      // if (this.postData.wh_id.length === 0) {
      //   isError = true
      //   this.$Notice.error({
      //     title: '倉庫未填',
      //     duration: 30
      //   })
      // }
      //
      if (isError) {
        return
      }
      //
      let postData = {
        userData: {
          client: 'web_client',
          name: this.postData.name,
          username: this.postData.username,
          g_key: this.postData.g_key,
          c_key: this.postData.c_key,
          s_key: this.postData.s_key,
          d_key: this.postData.d_key,
          email: this.postData.email,
          warehouse: this.postData.wh_id
        },
        roles: this.roleDataList
      }
      if (this.postData.password && this.postData.password !== '') {
        postData.userData.password = this.postData.password
        postData.userData.c_password = this.postData.c_password
      }
      console.log(postData)
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('user/create', postData).then((r) => {
            console.log(r)
            if (r.success) {
              this.postData.user_id = r.data.id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData.userData['user_id']
            this.$store.dispatch('user/create', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                this.postData.user_id = r.data.id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', this.postData, 2)
              } else {
                this.$Notice.error({
                  title: '新增失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          } else {
            // update
            // console.log('update')
            postData.userData.user_id = this.detailId
            this.$store.dispatch('user/update', { postData: postData, detailId: this.detailId }).then((r) => {
              // console.log(r)
              if (r.success) {
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData.userData['user_id']
          this.$store.dispatch('user/create', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.postData.user_id = r.data.id
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
      }
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    whListChangeEvent: async function (data) {
      // console.log(data)
      console.log(this.postData.wh_id)
    },
    getWhList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [['company_id', '=', this.companyId]],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`warehouse/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let whList = []
          if (list) {
            list.forEach((ele, idx) => {
              whList.push({
                value: ele.wh_id,
                label: ele.wh_name
              })
            })
          }
          this.whList = whList
          // console.log(this.whList)
        }
      })
    },
    getRoleDataListEvent: function () {
      let postData = {
        pageNum: 1,
        pageSize: 1000,
        baseCondition: [],
        orCondition: [],
        sort: []
      }
      this.$store.dispatch(`role/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let data = JSON.parse(JSON.stringify(r.data))
          data.forEach((item) => {
            item.checked = false
          })
          this.roleDataList = data
          console.log(this.roleDataList)
        }
      })
    }
  },
  created () {
    //
  },
  mounted () {
    this.getRoleDataListEvent()
    this.getWhList()
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`user/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: #eceff2;
    width: calc(100% + 32px);
    height: 100%;
    top: 40px;
    left: -16px;
  }
  .top-box {
    width: 100%;
    overflow: auto;
    height: calc(100% - 27px);
    position: relative;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.colx3 {
          flex: 0 0 75%;
          .label-box {
            flex: none;
          }
        }
        .label-box {
          flex: 1;
          font-size: 20px;
          font-weight: 400;
          color: #3c3c3c;
        }
        .ivu-checkbox-group {
          color: #3c3c3c;
        }
        .body-box {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding: 0;
        }
      }
    }
    .footer {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #354361;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
/deep/.ivu-checkbox-wrapper {
  font-size: 16px;
}
.best-checkbox-item {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  color: #ffffff;
  &.light-bg {
    color: #3c3c3c;
  }
}
</style>
