<template>
  <div class="content-box">
    <div class="top-box pt-2">
      <div class="row">
        <div class="col">
          <!-- 倉庫代碼 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.wh_no && postData.wh_no!==''),
              label: `倉庫代碼 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`wh_no`"
            :defaultValue="postData.wh_no"
            :disabled="step === 2"
            :isError="error.wh_no"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 倉庫名稱 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.wh_name && postData.wh_name!==''),
              label: `倉庫名稱 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`wh_name`"
            :defaultValue="postData.wh_name"
            :disabled="false"
            :isError="error.wh_name"
            :isRequired="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 倉庫名稱(次) -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.wh_name_eng && postData.wh_name_eng!==''),
              label: `倉庫名稱(次)`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`wh_name_eng`"
            :defaultValue="postData.wh_name_eng"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 倉庫電話 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.telephone && postData.telephone!==''),
              label: `倉庫電話`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`telephone`"
            :defaultValue="postData.telephone"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 彙總訂單數 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.pickinglist_rule && postData.pickinglist_rule!==''),
              label: `彙總訂單數`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`pickinglist_rule`"
            :defaultValue="postData.pickinglist_rule"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 倉庫網址 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.website && postData.website!==''),
              label: `倉庫網址`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`website`"
            :defaultValue="postData.website"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col colx2">
          <!-- 倉庫地址 -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.address && postData.address!==''),
              label: `倉庫地址`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`address`"
            :defaultValue="postData.address"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="footer">
      </div>
      <!-- save modal -->
      <ComfirmSaveModal
        :modalType="modalType"
        :comfirmSaveModal="comfirmSaveModal"
        v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
        v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
        v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
        v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
      ></ComfirmSaveModal>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'WarehouseSetupAdd',
  props: ['step', 'detailId', 'cloneData'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal
  },
  data () {
    //
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    let postData = {
      wh_id: this.cloneData ? this.cloneData.wh_id : null, // 倉庫ID
      wh_no: this.cloneData ? this.cloneData.wh_no : null, // 倉庫代碼
      wh_name: this.cloneData ? this.cloneData.wh_name : null, // 倉庫名稱
      wh_name_eng: this.cloneData ? this.cloneData.wh_name_eng : null, // 倉庫名稱(次)
      address: this.cloneData ? this.cloneData.address : null, // 倉庫地址
      telephone: this.cloneData ? this.cloneData.telephone : null, // 倉庫電話
      website: this.cloneData ? this.cloneData.website : null, // 倉庫網址
      pickinglist_rule: this.cloneData ? this.cloneData.pickinglist_rule : null // 彙總訂單數
    }
    return {
      //
      modalType: modalType,
      //
      comfirmSaveModal: false,
      //
      firstGiveValue: false,
      //
      postData: postData,
      error: {
        wh_id: false, // 倉庫ID
        wh_no: false, // 倉庫代碼
        wh_name: false, // 倉庫名稱
        wh_name_eng: false, // 倉庫名稱(次)
        address: false, // 倉庫地址
        telephone: false, // 倉庫電話
        website: false, // 倉庫網址
        pickinglist_rule: false, // 彙總訂單數
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    warehouse: function () {
      return this.$store.state[`warehouse`][`warehouse`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    warehouse: {
      handler: function (val) {
        // console.log('warehouse : ', val)
        if (!val) {
          return
        }
        this.firstGiveValue = true
        this.postData = {
          wh_id: val.wh_id || null, // 倉庫ID
          wh_no: val.wh_no || null, // 倉庫代碼
          wh_name: val.wh_name || null, // 倉庫名稱
          wh_name_eng: val.wh_name_eng || null, // 倉庫名稱(次)
          address: val.address || null, // 倉庫地址
          telephone: val.telephone || null, // 倉庫電話
          website: val.website || null, // 倉庫網址
          pickinglist_rule: val.pickinglist_rule || null // 彙總訂單數
        }
        // 為了處理第一次給值，觸發autocomplete 搜尋事件
        setTimeout(() => {
          this.firstGiveValue = false
        }, 100)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.wh_no) {
          this.error.wh_no = false
        }
        if (val.wh_name) {
          this.error.wh_name = false
        }
      },
      deep: true
    }
  },
  methods: {
    init: function () {
      this.postData = {
        wh_id: null, // 倉庫ID
        wh_no: null, // 倉庫代碼
        wh_name: null, // 倉庫名稱
        wh_name_eng: null, // 倉庫名稱(次)
        address: null, // 倉庫地址
        telephone: null, // 倉庫電話
        website: null, // 倉庫網址
        pickinglist_rule: null, // 彙總訂單數
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (detailId) {
      this.$store.dispatch(`warehouse/queryDetail`, detailId).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    //
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    setCustomerEvent: function (data) {
      console.log(data)
      if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    //
    save: function (action = null) {
      // console.log(this.postData)
      let isError = false
      if (!this.postData.wh_no || this.postData.wh_no === '') {
        isError = true
        this.error.wh_no = true
      }
      if (!this.postData.wh_name || this.postData.wh_name === '') {
        isError = true
        this.error.wh_name = true
      }
      //
      if (isError) {
        return
      }
      //
      let postData = {
        company_id: 1,
        wh_no: this.postData.wh_no, // 倉庫代碼
        wh_name: this.postData.wh_name // 倉庫名稱
      }
      Object.keys(this.postData).forEach((key, idx) => {
        console.log(key)
        console.log(this.postData[key])
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'created_at') {
            return
          }
          if (key === 'update_at') {
            return
          }
          let value = this.postData[key]
          postData[key] = value
        } else if (this.step === 2 && action !== 'clone' && !this.postData[key] && this.postData[key] !== 0) {
          if (key === 'created_at') {
            return
          }
          if (key === 'update_at') {
            return
          }
          postData[key] = null
        }
      })
      //
      switch (this.step) {
        case 1:
          // create
          // console.log('create')
          this.$store.dispatch('warehouse/create', postData).then((r) => {
            // console.log(r)
            console.log(r)
            if (r.success) {
              this.postData.wh_id = r.data.wh_id
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
        case 2:
          // update
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            delete postData['wh_id']
            this.$store.dispatch('warehouse/create', postData).then((r) => {
              // console.log(r)
              if (r.success) {
                this.postData.wh_id = r.data.wh_id
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', this.postData, 2)
              } else {
                this.$Notice.error({
                  title: '新增失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          } else {
            // update
            // console.log('update')
            this.$store.dispatch('warehouse/update', { postData: postData, detailId: this.detailId }).then((r) => {
              // console.log(r)
              if (r.success) {
                this.$Notice.success({
                  title: '更新成功'
                })
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: r.message,
                  duration: 30
                })
              }
            })
          }
          break
        case 3:
          // create : clone
          // console.log('create : clone')
          delete postData['wh_id']
          this.$store.dispatch('warehouse/create', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.postData.wh_id = r.data.wh_id
              this.$emit('toStepEvent', this.postData, 2)
            } else {
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
      }
    }
  },
  created () {
    //
  },
  mounted () {
    //
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`warehouse/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
    .footer {
      width: 100%;
      .saveBtn {
        position: absolute;
        right: 45px;
        bottom: 45px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        background-color: #e2c57f;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
    }
  }
}
</style>
