<template>
  <Modal v-model="modal" width="604" :footer-hide="true" :closable="false" class="columnControlModal">
    <div slot="header" class="modal-header"></div>
    <div class="modal-body">
      <div class="container-box">
        <h2>欄位設定</h2>
        <div class="list-box mb-4">
          <span class="col-span" v-for="(col, index) in columns" :key="index">
            <div class="col-item">
              <Checkbox v-model="col.isNotRemove"></Checkbox>
              {{(col.displayName && col.displayName !== '') ? col.displayName : col.property}}
            </div>
          </span>
        </div>
        <div class="btn-box">
          <Button class="best-blue lg-btn w-100" shape="circle" size="large" @click="close">
            儲存
          </Button>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script>
//
export default {
  name: 'ColumnControlModal',
  props: ['columnControlModal', 'settingData'],
  components: {},
  data () {
    // console.log(this.settingData)
    //
    return {
      modal: this.columnControlModal,
      columns: this.settingData.columns
    }
  },
  computed: {},
  watch: {
    columnControlModal: function (bol) {
      this.modal = bol
    },
    modal: function (bol) {
      if (!bol) {
        this.$emit('setColumnControlModalEvent', false)
      }
    },
    settingData: {
      handler: function (newVal, oldVal) {
        // console.log(newVal)
        this.columns = newVal.columns
      },
      deep: true
    }
  },
  methods: {
    close: function () {
      this.$emit('columnControlModalCloseEvent', false)
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.columnControlModal{
  .modal-body {
    width: 100%;
    padding: 0 45px 24px;
    .container-box {
      flex: 1;
      height: 100%;
      h2 {
        width: fit-content;
        font-family: PingFangTC;
        font-size: 24px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        display: inline-block;
        margin-bottom: 8px;
        font-weight: 400;
        color: #3c3c3c;
      }
      .list-box {
        width: 100%;
        max-height: 300px;
        height: fit-content;
        color: #000;
        font-size: 16px;
        margin: 10px 0;
        overflow: auto;
        .col-span {
          .col-item {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.6em;
          }
        }
      }
      .btn-box {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}
</style>
