<template>
    <div class="DATAGRID-BOX simple" ref="DATAGRIDBOX">
        <!-- grid -->
        <div class="table-container">
            <div class="scroll-box" ref="SCROLLBOX">
            <table>
                <!-- head -->
                <thead>
                  <tr class="title-tr" :style="{'background-color': setting.headBgColor, 'color': setting.headColor}">
                    <td
                    v-for="(col, colIdx) in visibleColumns"
                    :class="{opt: col.isOpt, center: col.valueType === 'Button'}"
                    :ref="`thead_col_${colIdx}`"
                    :key="colIdx"
                    :style="{'min-width': `${col.minWidth}`}">
                      <div class="label">
                        <div class="name">
                          <!-- 一般欄位 -->
                          <span v-if="col.property!=='SELECT'">{{col.displayName}}</span>
                          <!-- 全選欄位 -->
                          <span v-if="col.isOpt && col.property==='SELECT'">
                              <Checkbox v-model="selectAll"></Checkbox>
                          </span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </thead>
                <!-- 內容  -->
                <tbody>
                  <!-- Loading -->
                  <div class="overlay" :class="{show: isQuery, hide: !isQuery}">
                    <Spin size="large" fix>
                      <Icon type="ios-loading" size=18 class="spin-icon-load"></Icon>
                      <div>Loading</div>
                    </Spin>
                  </div>
                  <!-- 內容 -->
                  <tr
                    :class="{'first-row': rowIdx === 0}"
                    v-for="(row, rowIdx) in dataList"
                    :key="rowIdx"
                    :style="{'background-color': !row['SELECT'] ? (rowIdx%2 === 0 ? setting.rowEvenBgColor : setting.rowOddBgColor) : (setting.selectedColor), 'color': rowIdx%2 === 0 ? setting.rowEvenColor : setting.rowOddColor}">
                    <td
                        :tabindex="col.editable ? (idx + 1) + (rowIdx * visibleColumns.length) : -1"
                        v-on:focus="cellEditToggleFun(rowIdx, idx, col.valueType)"
                        v-for="(col, idx) in visibleColumns"
                        :key="`${col.property}_${idx}`"
                        :style="{
                          'text-align': col.property==='INDEX' ||
                          col.property==='SELECT' ? 'center' : 'left'
                        }"
                        :class="{isNoTextBreak: isNoTextBreak}"
                        :ref="`tbody_row_${rowIdx}_col_${idx}`">
                            <!-- 流水號 -->
                            <div v-if="col.isOpt && col.property==='INDEX'">{{row['INDEX']}}</div>
                            <!-- 選取 -->
                            <div v-if="col.isOpt && col.property==='SELECT'">
                                <Checkbox :tabindex="-1" v-model="row['SELECT']" @on-change="resetDatalist"></Checkbox>
                            </div>
                            <!-- 資料 : 不可編輯 -->
                            <div v-if="!col.editable && !col.isOpt" class="col-container" :class="{'col-checkbox': col.valueType==='Checkbox'}">
                                <div v-if="!col.isOpt && col.filterType==='Checkbox'">
                                    <Icon v-if="row[col.property] === 1" type="ios-checkbox-outline" size="16"/>
                                    <Icon v-if="row[col.property] === 0" type="ios-square-outline" size="16"/>
                                </div>
                                <div v-if="!col.isOpt && col.filterType==='Input'">
                                    {{row[col.property]}}
                                </div>
                                <div v-if="!col.isOpt && col.filterType==='Daterange'">
                                    {{row[col.property]}}
                                </div>
                                <div v-if="!col.isOpt && col.filterType==='DaterangeNoHms'">
                                    {{row[col.property]}}
                                </div>
                                <div v-if="!col.isOpt && col.filterType==='Select'">
                                    {{col.filterSet[row[col.property]]}}
                                    <!-- <span v-if="isOverview">{{row[col.property]}}</span> -->
                                </div>
                            </div>
                            <!-- 資料 : 可編輯 -->
                            <div class="col-container w-100" :class="{'col-checkbox': col.valueType==='Checkbox'}" v-if="col.editable && !col.isOpt">
                                <!-- Input -->
                                <div class="w-100" v-if="!col.isOpt && col.valueType==='Input'">
                                    <Input v-model="row[col.property]"/>
                                </div>
                                <!-- InputNumber -->
                                <div class="w-100" v-if="!col.isOpt && col.valueType==='InputNumber'">
                                    <InputNumber v-model="row[col.property]" min=0/></InputNumber>
                                </div>
                                <!-- Select -->
                                <div class="w-100" v-if="!col.isOpt && col.valueType==='Select'">
                                    <Select v-model="row[col.property]" clearable :transfer="true">
                                        <Option v-for="item in col.filterData" :value="item.value" :key="item.value">{{ item.label }}</Option>
                                    </Select>
                                </div>
                            </div>
                    </td>
                  </tr>
              </tbody>
            </table>
            </div>
            <div class="page-box" v-if="!hidePage">
                <Page
                :page-size="page.pageSize"
                :total="page.totalCount"
                :current="page.pageNumber"
                :page-size-opts="[50, 100, 300, 500]"
                :transfer="true"
                show-elevator
                show-sizer
                @on-change="pageChange"
                @on-page-size-change="pageSizeChange"/>
            </div>
        </div>
        <!-- 分頁 -->
    </div>
</template>

<script>
// import Config from '@/Config'
// import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
// import axios from 'axios'
export default {
  name: 'SimpleDataGrid',
  props: [
    'settingData',
    'gridData',
    'logicalOperator',
    'toGetIds',
    'toRestFilter',
    'idKeyName',
    'hideFilter',
    'hidePage',
    'noTextBreak',
    'isQuery',
    'setVisibleColumns'
  ],
  components: {
    // FloatLabelBox,
    // AutocompleteModal,
    // AutocompleteModal: () => import('@/components/AutocompleteModal/AutocompleteModal')
  },
  data () {
    //
    let dataList = JSON.parse(JSON.stringify(this.gridData))
    //
    let filters = {}
    this.settingData.columns.forEach((ele, idx) => {
      if (ele.property === 'INDEX' || ele.property === 'SELECT') {
        return
      }
      //
      let data = {}
      if (ele.filterType === 'Input') {
        data = {
          logicalOperator: 'like',
          value: ele.filterData
        }
      }
      if (ele.filterType === 'Select') {
        data = {
          logicalOperator: '=',
          value: ele.filterData
        }
      }
      if (ele.filterType === 'Checkbox') {
        data = {
          logicalOperator: '=',
          value: ele.filterData
        }
      }
      if (ele.filterType === 'Daterange') {
        data = {
          logicalOperator: 'BETWEEN',
          value: ele.filterData
        }
      }
      if (ele.filterType === 'DaterangeNoHms') {
        data = {
          logicalOperator: 'BETWEEN',
          value: ele.filterData
        }
      }
      filters[ele.property] = data
    })
    //
    let animations = []
    let toCloseAutocompleteModal = []
    dataList.forEach((item, index) => {
      animations[index] = []
      toCloseAutocompleteModal[index] = []
      this.settingData.columns.forEach((itm, idx) => {
        // console.log('itm.valueType', itm.valueType)
        if (itm.valueType === 'AutoComplete') {
          animations[index][idx] = [item[itm.property]]
        } else {
          animations[index][idx] = []
        }
        toCloseAutocompleteModal[index][idx] = false
      })
    })
    // console.log('animations array', animations)
    // console.log('toCloseAutocompleteModal array', toCloseAutocompleteModal)
    //
    return {
      isNoTextBreak: (typeof this.noTextBreak !== 'boolean') ? false : this.noTextBreak,
      is_sort_act: false,
      /* isOverview */
      isOverview: this.settingData.isOverview,
      /* page */
      page: this.settingData.page,
      /* setting */
      setting: this.settingData.setting,
      /* columns */
      columns: this.settingData.columns,
      /* resize */
      currentCol: null,
      startOffset: null,
      minWidthAry: [],
      /* filter */
      filters: filters,
      /* 紀錄選取 id */
      selectedRecords: [],
      /* 全選 */
      selectAll: false,
      selectIds: [],
      /* data */
      dataList: dataList,
      /* model-list-select */
      animations: animations,
      searchText: '',
      toCloseAutocompleteModal: toCloseAutocompleteModal,
      /* 紀錄 edit */
      editCols: [],
      logicalOperatorName: null
    }
  },
  computed: {
    visibleColumns: function () {
      return this.columns.filter(child => child.isNotRemove)
    }
  },
  watch: {
    isQuery: function (newVal) {
      // console.log(newVal)
    },
    settingData: {
      handler: function (newVal, oldVal) {
        this.page = this.settingData.page
        this.setting = this.settingData.setting
        this.columns = this.settingData.columns
      },
      deep: true
    },
    visibleColumns: {
      handler: function (newVal, oldVal) {
        if (this.is_sort_act) {
          this.is_sort_act = false
        // } else {
        //   //
        //   setTimeout(() => {
        //     this.visibleColumns.forEach((col, colIdx) => {
        //       this.$refs[`thead_col_${colIdx}`][0].style.width = 'initial'
        //       this.$refs[`thead_col_${colIdx}`][0].style.minWidth = 'initial'
        //       if (this.$refs[`thead_filter_col_${colIdx}`] && this.$refs[`thead_filter_col_${colIdx}`][0]) {
        //         this.$refs[`thead_filter_col_${colIdx}`][0].style.width = 'initial'
        //         this.$refs[`thead_filter_col_${colIdx}`][0].style.minWidth = 'initial'
        //       }
        //       if (this.$refs[`tbody_row_0_col_${colIdx}`] && this.$refs[`tbody_row_0_col_${colIdx}`][0]) {
        //         this.$refs[`tbody_row_0_col_${colIdx}`][0].style.width = 'initial'
        //         this.$refs[`tbody_row_0_col_${colIdx}`][0].style.minWidth = 'initial'
        //       }
        //     })
        //     this.setColWidth('moveAndRemove')
        //   }, 0.5)
        }
      },
      deep: true
    },
    setVisibleColumns: {
      handler: function (newVal, oldVal) {
        this.setVisibleColumnsEvent()
      },
      deep: true
    },
    columns: {
      handler: function (newVal, oldVal) {
        //
      },
      deep: true
    },
    setting: {
      handler: function (newVal, oldVal) {
        //
      },
      deep: true
    },
    page: {
      handler: function (newVal, oldVal) {
        //
      },
      deep: true
    },
    gridData: {
      handler: function (newVal, oldVal) {
        // console.log(newVal)
        // console.log(oldVal)
        this.dataList = newVal
        // console.log(this.dataList)
        if (newVal.length > 0 && oldVal.length === 0) {
          this.setFilterColWidth()
        }
        //
        let editCols = JSON.parse(JSON.stringify(this.editCols))
        let animations = []
        let toCloseAutocompleteModal = []
        newVal.forEach((item, index) => {
          if (!editCols[index]) {
            editCols[index] = []
          }
          animations[index] = []
          toCloseAutocompleteModal[index] = []
          this.visibleColumns.forEach((itm, idx) => {
            // console.log('itm.valueType', itm.valueType)
            if (itm.valueType === 'AutoComplete') {
              animations[index][idx] = [item[itm.property]]
            } else {
              animations[index][idx] = []
            }
            //
            toCloseAutocompleteModal[index][idx] = (this.toCloseAutocompleteModal[index] && this.toCloseAutocompleteModal[index][idx]) ? this.toCloseAutocompleteModal[index][idx] : false
            //
            if (!editCols[index][idx]) {
              editCols[index][idx] = false
            }
          })
        })
        this.editCols = editCols
        this.animations = animations
        this.toCloseAutocompleteModal = JSON.parse(JSON.stringify(toCloseAutocompleteModal))
        // console.log('toCloseAutocompleteModal array', toCloseAutocompleteModal)
        //
        this.$emit('gridDataChangeEvent', newVal)
        // 控制新增的時候scroll到最下面
        let SCROLLBOX = this.$refs.SCROLLBOX
        this.$emit('scrollEvent', SCROLLBOX)
      },
      deep: true
    },
    dataList: {
      handler: function (newVal, oldVal) {
        // console.log(newVal)
        //
        this.selectIds = []
        newVal.forEach((ele, idx) => {
          if (ele.SELECT) {
            this.selectIds.push(ele[this.idKeyName])
          }
        })
        // console.log(this.selectIds)
        //
        this.$emit('gridDataChengeEvent', newVal)
        //
        // setTimeout(() => {
        //   // this.setColWidth()
        //   this.$refs.DATAGRIDBOX.querySelectorAll('input').forEach((el, idx) => {
        //     el.tabIndex = -1
        //   })
        // }, 0.1)
      },
      deep: true
    },
    filters: {
      handler: function (newVal, oldVal) {
        // this.$emit('filterEvent', newVal)
      },
      deep: true
    },
    selectAll: function (bol) {
      //
      this.dataList.forEach((ele, idx) => {
        ele.SELECT = bol
      })
      // console.log(this.dataList)
      this.dataList = JSON.parse(JSON.stringify(this.dataList))
    },
    selectIds: function (val) {
      // console.log('選項 id : ', val)
    },
    toGetIds: function (bol) {
      if (bol) {
        let list = this.dataList.filter((ele) => {
          return ele.SELECT === true
        })
        let data = {
          selectIds: this.selectIds,
          list: list
        }
        this.$emit('getIdsEvent', data)
      }
    },
    toRestFilter: function (bol) {
      if (bol) {
        let filters = {}
        this.settingData.columns.forEach((ele, idx) => {
          if (ele.property === 'INDEX' || ele.property === 'SELECT') {
            return
          }
          //
          let data = {}
          if (ele.filterType === 'Input') {
            data = {
              logicalOperator: 'like',
              value: ele.filterData
            }
          }
          if (ele.filterType === 'Select') {
            data = {
              logicalOperator: '=',
              value: ele.filterData
            }
          }
          if (ele.filterType === 'Checkbox') {
            data = {
              logicalOperator: 'EQUAL',
              value: ele.filterData
            }
          }
          if (ele.filterType === 'Daterange') {
            data = {
              logicalOperator: 'BETWEEN',
              value: ele.filterData
            }
          }
          if (ele.filterType === 'DaterangeNoHms') {
            data = {
              logicalOperator: 'BETWEEN',
              value: ele.filterData
            }
          }
          filters[ele.property] = data
        })
        this.filters = filters
        this.$emit('setFilterEvent', !bol)
      }
    },
    editCols: {
      handler: function (newVal, oldVal) {
        // console.log('editCols', newVal)
      },
      deep: true
    },
    animations: {
      handler: function (newVal, oldVal) {
        // console.log('animations', newVal)
      },
      deep: true
    },
    toCloseAutocompleteModal: {
      handler: function (newVal, oldVal) {
        // console.log('toCloseAutocompleteModal', newVal)
      },
      deep: true
    }
  },
  methods: {
    handleChange: function (data, row, colProperty, rowIdx) {
      // console.log('data', data)
      // console.log('row', row)
      // console.log('colProperty', colProperty)
      // console.log('rowIdx', rowIdx)
      row[colProperty] = data
    },
    /* sort */
    sort: function (col, colIdx) {
      this.is_sort_act = true
      this.$emit('sortEvent', { col: col, colIdx: colIdx })
      //
      this.$refs['SCROLLBOX'].scrollTop = 0
    },
    /* move & remove */
    drag: function (e, col) {
      e.stopPropagation()
      e.dataTransfer.setData('property', col.property)
    },
    dropAndMove: function (e, col) {
      e.stopPropagation()
      let propertyB = col.property
      let propertyF = e.dataTransfer.getData('property')
      this.$emit('moveColEvent', { fromProp: propertyF, toProp: propertyB })
    },
    dropAndRemove: function (e) {
      e.stopPropagation()
      let property = e.dataTransfer.getData('property')
      this.$emit('removeColEvent', property)
    },
    /* resize */
    resizeStart: function (e, colIdx) {
      e.stopPropagation()
      let ta = e.currentTarget.parentNode
      this.currentCol = {
        ta: ta,
        colIdx: colIdx
      }
      this.startOffset = ta.offsetWidth - e.pageX
    },
    // resizeMove: function (e) {
    //   e.stopPropagation()
    //   if (this.startOffset) {
    //     let _w = this.startOffset + e.pageX
    //     if (_w > 0 && this.minWidthAry[this.currentCol.colIdx] < _w) {
    //       this.currentCol.ta.style.minWidth = _w + 'px'
    //       this.currentCol.ta.style.width = _w + 'px'
    //       //
    //       this.setColWidth('resizeMove')
    //     }
    //   }
    // },
    resizeEnd: function (e) {
      e.stopPropagation()
      this.startOffset = null
      this.currentCol = null
    },
    /* 取得該列資訊 */
    getDetail: function (item) {
      this.$emit('getDetailEvent', item)
    },
    /* 改變頁碼 */
    pageChange: function (pn) {
      this.$emit('pageChangeEvent', pn)
      //
      this.$refs['SCROLLBOX'].scrollTop = 0
    },
    /* 改變每頁筆數 */
    pageSizeChange: function (ps) {
      this.$emit('pageSizeChangeEvent', ps)
      //
      this.$refs['SCROLLBOX'].scrollTop = 0
    },
    /* New AutoComplete */
    autocompleteHandleEnterSubmitEvent: function (data, col, rowIdx, idx) {
      // console.log(data)
      // console.log(col)
      // console.log(rowIdx)
      // console.log(idx)
      this.dataList[rowIdx][data.code][data.returnCode] = data.value
      // 設定其他資料處
      // 設定其他資料處 end
      this.animations[rowIdx][idx] = []
      this.animations = JSON.parse(JSON.stringify(this.animations))
    },
    autocompleteChangeEvent: function (data, col, rowIdx, idx) {
      // console.log(data)
      // console.log(col)
      // console.log(rowIdx)
      // console.log(idx)
      // console.log(this.dataList)
      // console.log(data.val)
      if (this.dataList[rowIdx][data.code][data.returnCode] !== (data.val ? data.val[data.returnCode] : '')) {
        this.dataList[rowIdx][data.code] = data.val ? data.val : {}
        // 設定其他資料處
        if (data.returnCode === 'product_code') {
          if (data.code === 'product') {
            this.dataList[rowIdx].product_name = data.val.product_name ? data.val.product_name : ''
          }
          if (data.code === 'toProduct') {
            this.dataList[rowIdx].toProductName = data.val.product_name ? data.val.product_name : ''
          }
          // if (data.code === 'fromProduct') {
          //   this.dataList[rowIdx].from_product_name = data.val.product_name ? data.val.product_name : ''
          //   this.dataList[rowIdx].storage_loc = data.val.storage_loc ? data.val.storage_loc : ''
          //   this.dataList[rowIdx].storage_loc_bad = data.val.storage_loc_bad ? data.val.storage_loc_bad : ''
          //   this.dataList[rowIdx].storage_loc_storage_code = data.val.storage_loc_storage_code ? data.val.storage_loc_storage_code : ''
          //   this.dataList[rowIdx].storage_loc_bad_storage_code = data.val.storage_loc_bad_storage_code ? data.val.storage_loc_bad_storage_code : ''
          //   this.dataList[rowIdx].inbound_id = data.val.inbound_id ? data.val.inbound_id : ''
          //   this.dataList[rowIdx].inventory_id = data.val.inventory_id ? data.val.inventory_id : ''
          // }
        }
      }
      if (data.val) {
        this.animations[rowIdx][idx] = [data.val]
      } else {
        this.animations[rowIdx][idx] = []
      }
      this.animations = JSON.parse(JSON.stringify(this.animations))
    },
    autoCompleteSearchEvent: function (data, col, rowIdx, idx) {
      // console.log(data)
      // console.log(col)
      // console.log(rowIdx, idx)
      // console.log(idx)
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [],
        orCondition: [
          [data.returnCode, 'like', `%${data.val}%`],
          ...query
        ],
        sort: col.autoCompleteSearch.sort || []
      }
      if (col.baseCondition !== undefined && col.baseCondition !== null) {
        postData.baseCondition = [...col.baseCondition]
      }
      // console.log(dataCondition)
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.animations[rowIdx][idx] = list
          this.animations = JSON.parse(JSON.stringify(this.animations))
        }
      })
    },
    setAutocompleteValue: function (data, col, rowIdx, idx) {
      // console.log(data)
      // console.log(col)
      // console.log(rowIdx)
      // console.log(idx)
      //
      this.dataList[rowIdx][col.property] = data.data ? data.data : {}
      this.dataList = JSON.parse(JSON.stringify(this.dataList))
      // console.log(this.dataList)
      //
      this.toCloseAutocompleteModal[rowIdx][idx] = true
      this.toCloseAutocompleteModal = JSON.parse(JSON.stringify(this.toCloseAutocompleteModal))
      // console.log(this.toCloseAutocompleteModal)
    },
    setToCloseAutocompleteModal: function (bol, col, rowIdx, idx) {
      this.toCloseAutocompleteModal[rowIdx][idx] = bol
    },
    /* AutoComplete */
    onInput: function (data, col, rowIdx, idx) {
      // console.log('onInput : ', data)
      // console.log(this.dataList)
      this.dataList = JSON.parse(JSON.stringify(this.dataList))
    },
    printSearchText (searchText, col, rowIdx, idx) {
      this.searchAnimation(searchText, col, rowIdx, idx)
    },
    searchAnimation (searchText, col, rowIdx, idx) {
      // this.animations[rowIdx][idx]
      // console.log('searchText', searchText)
      if (!searchText || searchText === '') {
        return
      }
      let autoCompleteSearch = col.autoCompleteSearch
      let postData = autoCompleteSearch.postData
      for (var i = 0; i < postData.query.length; i++) {
        postData.query[i].queryValue = searchText
      }
      this.$store.dispatch(`${autoCompleteSearch.dispatchPath}`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let _list = []
          list.forEach((itm, idx) => {
            _list.push({
              id: itm[col.autoCompleteSearch.id],
              name: itm[col.autoCompleteSearch.name],
              code: itm[col.autoCompleteSearch.code]
            })
          })
          this.animations[rowIdx][idx] = _list
          this.animations = JSON.parse(JSON.stringify(this.animations))
        }
      })
    },
    optionDisplayText (animation) {
      return animation.id ? `${animation.name} - ${animation.code}` : null
    },
    //
    resetDatalist: function () {
      this.dataList = JSON.parse(JSON.stringify(this.dataList))
    },
    //
    setMinWidthAry: function (idx, val) {
      this.minWidthAry[idx] = val
      // console.log(this.minWidthAry)
    },
    //
    setFilterColWidth: async function () {
      // console.log(this.visibleColumns)
      let visibleColumnsLength = this.visibleColumns.length
      for (let colIdx = 0; colIdx < visibleColumnsLength; colIdx++) {
        let w1 = this.$refs[`thead_col_${colIdx}`][0].offsetWidth
        var w2 = null
        await this.$nextTick(() => (w2 = this.$refs[`tbody_row_0_col_${colIdx}`][0].offsetWidth))
        // console.log(w1)
        // console.log(w2)
        if (this.visibleColumns[colIdx].editable && this.visibleColumns[colIdx].valueType === 'Input') {
          this.$refs[`thead_col_${colIdx}`][0].style.width = w1 + 'px'
          this.$refs[`thead_col_${colIdx}`][0].style.minWidth = w1 + 'px'
          this.$refs[`tbody_row_0_col_${colIdx}`][0].style.width = w1 + 'px'
          this.$refs[`tbody_row_0_col_${colIdx}`][0].style.minWidth = w1 + 'px'
        } else {
          if (w1 > w2) {
            this.$refs[`thead_col_${colIdx}`][0].style.width = w1 + 'px'
            this.$refs[`thead_col_${colIdx}`][0].style.minWidth = w1 + 'px'
            this.$refs[`tbody_row_0_col_${colIdx}`][0].style.width = w1 + 'px'
            this.$refs[`tbody_row_0_col_${colIdx}`][0].style.minWidth = w1 + 'px'
          } else {
            this.$refs[`thead_col_${colIdx}`][0].style.width = w2 + 'px'
            this.$refs[`thead_col_${colIdx}`][0].style.minWidth = w2 + 'px'
            this.$refs[`tbody_row_0_col_${colIdx}`][0].style.width = w2 + 'px'
            this.$refs[`tbody_row_0_col_${colIdx}`][0].style.minWidth = w2 + 'px'
          }
        }
      }
    },
    //
    setColWidth: function (type = 'normal') {
      // thead_col_0 ...
      // thead_filter_col_0 ...
      // tbody_row_0_col_0 ...
      this.visibleColumns.forEach((col, colIdx) => {
        //
        let w1 = this.$refs[`thead_col_${colIdx}`][0].offsetWidth
        let w2 = (this.$refs[`tbody_row_0_col_${colIdx}`] && this.$refs[`tbody_row_0_col_${colIdx}`][0]) ? this.$refs[`tbody_row_0_col_${colIdx}`][0].offsetWidth : 0
        //
        if (type === 'normal' || type === 'moveAndRemove') {
          if (w1 >= w2) {
            this.setMinWidthAry(colIdx, w1)
            this.$refs[`thead_col_${colIdx}`][0].style.width = w1 + 'px'
            this.$refs[`thead_col_${colIdx}`][0].style.minWidth = w1 + 'px'
            if (this.$refs[`thead_filter_col_${colIdx}`] && this.$refs[`thead_filter_col_${colIdx}`][0]) {
              this.$refs[`thead_filter_col_${colIdx}`][0].style.width = w1 + 'px'
              this.$refs[`thead_filter_col_${colIdx}`][0].style.minWidth = w1 + 'px'
            }
            if (this.$refs[`tbody_row_0_col_${colIdx}`] && this.$refs[`tbody_row_0_col_${colIdx}`][0]) {
              this.$refs[`tbody_row_0_col_${colIdx}`][0].style.width = w1 + 'px'
              this.$refs[`tbody_row_0_col_${colIdx}`][0].style.minWidth = w1 + 'px'
            }
          } else {
            this.setMinWidthAry(colIdx, w2)
            this.$refs[`thead_col_${colIdx}`][0].style.width = w2 + 'px'
            this.$refs[`thead_col_${colIdx}`][0].style.minWidth = w2 + 'px'
            if (this.$refs[`thead_filter_col_${colIdx}`] && this.$refs[`thead_filter_col_${colIdx}`][0]) {
              this.$refs[`thead_filter_col_${colIdx}`][0].style.width = w2 + 'px'
              this.$refs[`thead_filter_col_${colIdx}`][0].style.minWidth = w2 + 'px'
            }
            if (this.$refs[`tbody_row_0_col_${colIdx}`] && this.$refs[`tbody_row_0_col_${colIdx}`][0]) {
              this.$refs[`tbody_row_0_col_${colIdx}`][0].style.width = w2 + 'px'
              this.$refs[`tbody_row_0_col_${colIdx}`][0].style.minWidth = w2 + 'px'
            }
          }
        }
        //
        if (type === 'resizeMove') {
          //
          this.$refs[`thead_col_${colIdx}`][0].style.width = w1 + 'px'
          if (this.$refs[`thead_filter_col_${colIdx}`] && this.$refs[`thead_filter_col_${colIdx}`][0]) {
            this.$refs[`thead_filter_col_${colIdx}`][0].style.width = w1 + 'px'
            this.$refs[`thead_filter_col_${colIdx}`][0].style.minWidth = w1 + 'px'
          }
          if (this.$refs[`tbody_row_0_col_${colIdx}`] && this.$refs[`tbody_row_0_col_${colIdx}`][0]) {
            this.$refs[`tbody_row_0_col_${colIdx}`][0].style.width = w1 + 'px'
            this.$refs[`tbody_row_0_col_${colIdx}`][0].style.minWidth = w1 + 'px'
          }
        }
      })
    },
    cellEditToggleFun: function (rowIdx, celIdx, valueType) {
      // console.log(valueType)
      let editCols = []
      this.dataList.forEach((row, ridx) => {
        editCols[ridx] = []
        this.columns.forEach((cel, cidx) => {
          if (ridx === rowIdx && cidx === celIdx) {
            editCols[ridx][cidx] = true
          } else {
            editCols[ridx][cidx] = false
          }
        })
      })
      this.editCols = JSON.parse(JSON.stringify(editCols))
      //
      setTimeout(() => {
        if (valueType === 'SELECT') {
          if (this.$refs[`tbody_row_${rowIdx}_col_${celIdx}`][0].querySelector('.ivu-select-selection')) {
            this.$refs[`tbody_row_${rowIdx}_col_${celIdx}`][0].querySelector('.ivu-select-selection').focus()
          }
        } else {
          if (this.$refs[`tbody_row_${rowIdx}_col_${celIdx}`][0].querySelector('input')) {
            this.$refs[`tbody_row_${rowIdx}_col_${celIdx}`][0].querySelector('input').focus()
          }
        }
        //
        this.$refs.DATAGRIDBOX.querySelectorAll('input').forEach((el, idx) => {
          el.tabIndex = -1
        })
        //
        // this.setColWidth()
      }, 1)
    },
    filterEvent: function () {
      this.$emit('filterEvent', this.filters)
      //
      this.$refs['SCROLLBOX'].scrollTop = 0
    },
    buttonEven: function (idx) {
      this.$emit('buttonEven', idx)
    },
    setVisibleColumnsEvent: function () {
      setTimeout(() => {
        this.visibleColumns.forEach((col, colIdx) => {
          this.$refs[`thead_col_${colIdx}`][0].style.width = 'initial'
          this.$refs[`thead_col_${colIdx}`][0].style.minWidth = 'initial'
          if (this.$refs[`thead_filter_col_${colIdx}`] && this.$refs[`thead_filter_col_${colIdx}`][0]) {
            this.$refs[`thead_filter_col_${colIdx}`][0].style.width = 'initial'
            this.$refs[`thead_filter_col_${colIdx}`][0].style.minWidth = 'initial'
          }
          if (this.$refs[`tbody_row_0_col_${colIdx}`] && this.$refs[`tbody_row_0_col_${colIdx}`][0]) {
            this.$refs[`tbody_row_0_col_${colIdx}`][0].style.width = 'initial'
            this.$refs[`tbody_row_0_col_${colIdx}`][0].style.minWidth = 'initial'
          }
        })
        this.setColWidth('moveAndRemove')
      }, 0.5)
    }
  },
  created () {
    //
  },
  mounted () {
    // init filter col width
    // this.setFilterColWidth()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
.DATAGRID-BOX.simple {
    height: 100%;
    width: 100%;
    table, th, td {
        > span {
            width: max-content;
            display: flex;
            width: 100%;
            justify-content: center;
            &.fliter-select {
                width: 100%;
            }
        }
        span {
          font-size: 16px;
          font-weight: 400;
        }
    }
    td {
      border: 1px solid #ccc;
    }
    .table-container {
        height: 100%;
        // box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
        border: 1px solid #ccc;
        border-radius: 8px 8px 0 0;
        padding-top: 4px;
        .scroll-box {
          border: 0 solid transparent;
          width: inherit;
          max-width: -webkit-fill-available;
          height: calc(100% - 50px);
          overflow: auto;
        }
    }
    .table-container table{
        table-layout: fixed;
        height: calc(100% - 42px);
        position: relative;
        min-width: fit-content;
        font-weight: bold;
        width: auto;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        div {
          font-size: 15px;
          font-weight: 400;
        }
        thead {
            position: sticky;
            top: 0;
            tr.title-tr {
              position: sticky;
              top: 0;
              z-index: 1;
              display: block;
              td {
                  width: auto;
                  padding: 0 12px 4px 12px;
                  height: 35px;
                  line-height: 35px;
                  text-align: center;
                  word-break: initial;
                  white-space: nowrap;
                  user-select: none;
                  position: sticky;
                  top: 0;
                  border: 0;
                  border-bottom: 1px solid #ccc;
                  &.opt {
                    margin: 0 auto;
                    padding: 0 12px 4px 12px;
                  }
                  &.center {
                    margin: 0 auto;
                    padding: 0 12px 4px 12px;
                  }
                  .label {
                      display: flex;
                      width: 100%;
                      height: 35px;
                      .name {
                          flex: 1;
                          cursor: grab;
                      }
                      .sort {
                          width: 25px;
                          height: 35px;
                          cursor: pointer;
                      }
                  }
              }
            }
            tr.filter-tr {
              display: block;
              position: sticky;
              top: 36px;
              z-index: 9;
              td {
                  position: sticky;
                  top: 36px;
                  text-align: center;
                  height: 35px;
                  border-left: 0;
                  border-top: 0;
                  border-right: 0;
                  &.filter {
                    height: 25px;
                    padding: 5px;
                    text-align: center;
                  }
              }
            }
        }
        tbody {
            position: relative;
            display: block;
            width: 100%;
            &.noResult {
              display: none;
            }
            tr {
              border-bottom: 1px solid #ccc;
              &:first-of-type {
                border-top: 1px solid #ccc;
              }
              td {
                  height: 35px;
                  border-top: 0;
                  border-bottom: 0;
                  border-left: 0;
                  border-right: 1px solid #ccc;
                  padding: 0px 12px;
                  >div {
                    border-top: 0px solid transparent;
                    border-bottom: 0px solid transparent;
                  }
                  &:first-of-type {
                    >div {
                      border-left: 0px solid transparent;
                      border-radius: 0;
                    }
                  }
                  .col-container {
                    padding: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    &.col-checkbox {
                      display: flex;
                      justify-content: center;
                    }
                  }
                  &.isNoTextBreak {
                    .col-container {
                      word-break: keep-all;
                      white-space: nowrap;
                    }
                  }
              }
            }
        }
    }
    td:focus {
      // outline-offset: -5px;
      outline: none;
    }
    .resize-line {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 1px;
        cursor: col-resize;
    }
    .page-box {
        padding: 10px 0 0 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    /deep/
    .ivu-select-arrow {
      top: 50%;
    }
}
.spin-icon-load{
    animation: ani-spin 1s linear infinite;
}
@keyframes ani-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.spin-col{
    height: 100px;
    position: relative;
    border: 1px solid #eee;
}
.overlay {
  width: 100%;
  height: 100%;
  transition: all 600ms cubic-bezier(0.335, 0.010, 0.030, 1.360);
  &.show {
    opacity: 1;
    visibility: visible;
  }
  &.hide {
    opacity: 0;
    visibility: hidden;
    height: 0px;
  }
}
</style>
<style rel="stylesheet/scss" lang="scss">
.DATAGRID-BOX {
    .ivu-checkbox-wrapper {
        margin-right: 0px;
    }
    .floatLabelBox-container {
      border-bottom: 0 !important;
    }
    .AutoComplete{
      padding-top: 0 !important;
      input {
        border: 1px solid #dcdee2 !important;
        background-color: #fff !important;
      }
    }
    .search-btn.ivu-btn.ivu-btn-text:hover:hover {
      background-color: transparent !important;
    }
}
</style>
