<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col colx2">
          <!-- 備註 outbound_note -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_note && postData.outbound_note!==''),
              label: '備註',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`outbound_note`"
            :defaultValue="postData.outbound_note"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 調整出單號 outbound_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_no && postData.outbound_no!==''),
              label: '調整出單號',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`outbound_no`"
            :defaultValue="postData.outbound_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 調整出狀態 outbound_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_status && postData.outbound_status!==''),
              label: '調整出狀態',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="outboundStatusList"
            :code="`outbound_status`"
            :defaultValue="postData.outbound_status"
            :disabled="true"
            @changeModelEvent="outboundStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div>
      <!-- 明細 -->
      <AdjustmentOutboundSetupCloseDetails
        ref="setDetailsList"
        :detailId="detailId"
        @gridDataChangeEvent="detailsListChangeEvent"
      ></AdjustmentOutboundSetupCloseDetails>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AdjustmentOutboundSetupCloseDetails from './AdjustmentOutboundSetupCloseDetails'
//
export default {
  name: 'AdjustmentOutboundSetupCloseAdd',
  props: ['step', 'detailId'],
  components: {
    FloatLabelBox,
    AdjustmentOutboundSetupCloseDetails
  },
  data () {
    //
    let postData = {
      outbound_id: this.cloneData ? this.cloneData.outbound_id : '', // 出庫ID
      outbound_no: '', // 調整出單號
      outbound_status: '', // 調整出狀態
      outbound_note: this.cloneData ? this.cloneData.outbound_note : '', // 備註
      date_outbound: '', // 出庫通知時間
      date_closed: '' // 出貨時間
    }
    return {
      /* 出庫單狀態 */
      outboundStatusList: [
        {
          label: '待確認',
          value: 10
        },
        {
          label: '已確認',
          value: 80
        }
      ],
      // 調整作業明細
      detailsList: null,
      //
      postData: postData,
      error: {
        outbound_id: false, // 出庫ID
        outbound_no: false, // 調整出單號
        outbound_status: false, // 調整出狀態
        outbound_note: false, // 入庫單備註
        date_outbound: false, // 出庫通知時間
        date_closed: false // 出貨時間
      }
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    adjustment: function () {
      return this.$store.state[`outboundAdjustment`][`outboundAdjustment`] || []
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    detailsList: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    adjustment: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          outbound_id: val.outbound_id || null, // 出庫ID
          outbound_no: val.outbound_no || null, // 調整出單號
          outbound_status: val.outbound_status || null, // 調整出狀態
          outbound_note: val.outbound_note || null, // 備註
          date_outbound: val.date_outbound || null, // 出庫通知時間
          date_closed: val.date_closed || null // 出貨時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      this.detailsList = data
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    initPostData: function () {
      this.postData = {
        outbound_id: null, // 出庫ID
        outbound_no: null, // 調整出單號
        outbound_status: null, // 調整出狀態
        outbound_note: null, // 備註
        date_outbound: null, // 出庫通知時間
        date_closed: null // 出貨時間
      }
    },
    initError: function () {
      this.error = {
        outbound_id: false, // 出庫ID
        outbound_no: false, // 調整出單號
        outbound_status: false, // 調整出狀態
        outbound_note: false, // 入庫單備註
        date_outbound: false, // 出庫通知時間
        date_closed: false // 出貨時間
      }
    },
    initAdjustmentOutboundSetupDetailsList: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initAdjustmentOutboundSetupDetailsList()
    },
    //
    getDetail: function (detailId) {
      let postData = {
        outboundId: detailId
      }
      //
      this.$store.dispatch(`outboundAdjustment/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 出庫單狀態 */
    outboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`outboundAdjustment/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    margin-top: 8px;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 8px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
</style>
