<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col colx2">
          <!-- 備註 outbound_note -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_note && postData.outbound_note!==''),
              label: '備註',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`outbound_note`"
            :defaultValue="postData.outbound_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 調整出單號 outbound_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_no && postData.outbound_no!==''),
              label: '調整出單號',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`outbound_no`"
            :defaultValue="postData.outbound_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 調整出狀態 outbound_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_status && postData.outbound_status!==''),
              label: '調整出狀態',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="outboundStatusList"
            :code="`outbound_status`"
            :defaultValue="postData.outbound_status"
            :disabled="true"
            @changeModelEvent="outboundStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div>
      <!-- 明細 -->
      <AdjustmentOutboundSetupDetails
        ref="setDetailsList"
        :detailId="detailId"
        @gridDataChangeEvent="detailsListChangeEvent"
      ></AdjustmentOutboundSetupDetails>
    </div>
    <div class="footer">
      <!-- return btn -->
      <!-- <div class="saveBtn" @click="comfirmSave" :disabled="saveDisabled">
        <font-awesome-icon icon="save" size="2x" />
      </div> -->
    </div>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AdjustmentOutboundSetupDetails from './AdjustmentOutboundSetupDetails'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
//
export default {
  name: 'AdjustmentOutboundSetupAdd',
  props: ['step', 'detailId'],
  components: {
    FloatLabelBox,
    AdjustmentOutboundSetupDetails,
    ComfirmSaveModal
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    //
    let postData = {
      outbound_id: this.cloneData ? this.cloneData.outbound_id : '', // 出庫ID
      outbound_no: '', // 調整出單號
      outbound_status: '', // 調整出狀態
      outbound_note: this.cloneData ? this.cloneData.outbound_note : '', // 備註
      date_outbound: '', // 出庫通知時間
      date_closed: '' // 出貨時間
    }
    return {
      //
      modalType: modalType,
      //
      comfirmSaveModal: false,
      /* 出庫單狀態 */
      outboundStatusList: [
        {
          label: '待確認',
          value: 10
        },
        {
          label: '已確認',
          value: 80
        }
      ],
      // 調整作業明細
      detailsList: null,
      detailsSaveError: false,
      //
      postData: postData,
      error: {
        outbound_id: false, // 出庫ID
        outbound_no: false, // 調整出單號
        outbound_status: false, // 調整出狀態
        outbound_note: false, // 入庫單備註
        date_outbound: false, // 出庫通知時間
        date_closed: false // 出貨時間
      },
      saveDisabled: false // 避免使用者點兩次，造成異動兩次
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    adjustment: function () {
      return this.$store.state[`outboundAdjustment`][`outboundAdjustment`] || []
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    detailsList: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    adjustment: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          outbound_id: val.outbound_id || null, // 出庫ID
          outbound_no: val.outbound_no || null, // 調整出單號
          outbound_status: val.outbound_status || null, // 調整出狀態
          outbound_note: val.outbound_note || null, // 備註
          date_outbound: val.date_outbound || null, // 出庫通知時間
          date_closed: val.date_closed || null // 出貨時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      this.detailsList = data
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    //
    setAdjustmentOutbound: function (data) {
      if (data === 'setAdjustmentOutboundStasus') {
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    save: async function (action = null) {
      // console.log(this.postData)
      let isError = false
      // 檢查明細
      let detailsLength = this.detailsList.length
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        if (!data.product.product_id || data.product.product_id === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"商品料號"未填`,
            duration: 30
          })
        }
        if (!data.outbound_nums || data.outbound_nums === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"調整數量"未填`,
            duration: 30
          })
        }
      }
      if (isError) {
        return
      }
      this.$emit('changeLoadingViewIsShowEvent', true)
      let postData = {
        recOutbound: {
          order_type: 'outbound_adj' // 調整出
        },
        orderDetails: []
      }
      if (this.postData.outbound_note) {
        postData.recOutbound.outbound_note = this.postData.outbound_note
      }
      //
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        let detailsPostdata = {
          product_id: parseInt(data.product.product_id), // 商品ID
          product_code: data.product.product_code || null, // 商品料號
          product_name: data.product.product_name || null, // 商品名稱
          product_quality: data.product_quality, // 良品/不良品
          outbound_nums: parseInt(data.outbound_nums), // 數量
          storage_assign: data.storage_assign, // 儲位ID
          storage_assign_code: data.storage_assign_code, // 儲位
          product_batch_no: data.product_batch_no || null, // 批號
          product_expired_date: data.product_expired_date || null, // 有效日期
          product_manufactured: data.product_manufactured || null // 製造日期
        }
        // console.log(detailsPostdata)
        postData.orderDetails.push(detailsPostdata)
      }
      try {
        switch (this.step) {
          case 1:
            // create
            // console.log('create')
            postData.recOutbound.outbound_status = 10 // 預設
            let createRes = await this.$store.dispatch('outboundAdjustment/create', postData)
            console.log(createRes)
            if (createRes.success) {
              this.postData.outbound_id = createRes.recOutbound.outbound_id // 出庫ID
              this.postData.outbound_no = createRes.recOutbound.outbound_no // 單號
              this.postData.outbound_status = createRes.recOutbound.outbound_status // 出庫單狀態
              this.postData.date_outbound = createRes.recOutbound.date_outbound // 出庫通知時間
              this.postData.created_at = createRes.recOutbound.created_at // 建立時間
              // 明細
              // console.log(this.detailsList)
              if (createRes.orderDetails.length > 0) {
                let detailsListLength = createRes.orderDetails.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.detailsList[i].od_id = createRes.orderDetails[i].od_id
                }
              }
              this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
              //
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              this.$Notice.error({
                title: '儲存失敗',
                desc: createRes.message,
                duration: 30
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
          case 2:
            // update
            // console.log(postData)
            if (action === 'clone') {
              delete postData.recOutbound['outbound_id']
              postData.recOutbound.owner_bill_no = `${this.postData.owner_bill_no}_clone`
              let createRes = await this.$store.dispatch('outboundAdjustment/create', postData)
              if (createRes.success) {
                this.postData.outbound_id = createRes.recOutbound.outbound_id // 出庫ID
                this.postData.outbound_no = createRes.recOutbound.outbound_no // 單號
                this.postData.outbound_status = createRes.recOutbound.outbound_status // 出庫單狀態
                this.postData.date_outbound = createRes.recOutbound.date_outbound // 出庫通知時間
                this.postData.created_at = createRes.recOutbound.created_at // 建立時間
                // 明細
                // console.log(this.detailsList)
                if (createRes.orderDetails.length > 0) {
                  let detailsListLength = createRes.orderDetails.length
                  for (let i = 0; i < detailsListLength; i++) {
                    this.detailsList[i].od_id = createRes.orderDetails[i].od_id
                  }
                }
                this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', this.postData, 2)
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else {
                this.$Notice.error({
                  title: '儲存失敗',
                  desc: createRes.message,
                  duration: 30
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            } else {
              // update
              // console.log('update')
              postData.recOutbound.outbound_id = this.postData.outbound_id
              // 明細
              // console.log(this.detailsList)
              for (let i = 0; i < detailsLength; i++) {
                let data = this.detailsList[i]
                postData.orderDetails[i].od_id = data.od_id || null
                // 有效日期
                if (data.product_expired_date) {
                  if (data.product_expired_date instanceof Date) {
                    let newProductExpiredDate = new Date(data.product_expired_date)
                    let yyyy = newProductExpiredDate.getFullYear()
                    let mm = newProductExpiredDate.getMonth() + 1
                    let dd = newProductExpiredDate.getDate()
                    let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
                    // console.log(localFilterStartTime)
                    postData.orderDetails[i].product_expired_date = localFilterStartTime
                  } else {
                    postData.orderDetails[i].product_expired_date = data.product_expired_date // 有效日期
                  }
                } else {
                  postData.orderDetails[i].product_expired_date = null
                }
                // 製造日期
                if (data.product_manufactured) {
                  if (data.product_manufactured instanceof Date) {
                    let newProductManufactured = new Date(data.product_manufactured)
                    let yyyy = newProductManufactured.getFullYear()
                    let mm = newProductManufactured.getMonth() + 1
                    let dd = newProductManufactured.getDate()
                    let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
                    postData.orderDetails[i].product_manufactured = localFilterStartTime
                  } else {
                    postData.orderDetails[i].product_manufactured = data.product_manufactured // 製造日期
                  }
                } else {
                  postData.orderDetails[i].product_manufactured = null
                }
              }
              let updateRes = await this.$store.dispatch('outboundAdjustment/update', { postData: postData, detailId: this.detailId })
              // console.log(updateRes)
              if (updateRes.success) {
                // 成功修改提示
                this.$Notice.success({
                  title: '成功修改'
                })
                this.$emit('toStepEvent', this.postData)
                if (this.isChangeOutboundStatus) {
                  this.isChangeOutboundStatus = false
                  return
                }
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: updateRes.message,
                  duration: 30
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            }
            break
          case 3:
            // create : clone
            // console.log('create : clone')
            delete postData['outbound_id']
            postData.owner_bill_no = `${this.postData.owner_bill_no}_clone`
            let cloneRes = await this.$store.dispatch('outboundAdjustment/create', postData)
            if (cloneRes.success) {
              this.postData.outbound_id = cloneRes.recOutbound.outbound_id // 出庫ID
              this.postData.outbound_no = cloneRes.recOutbound.outbound_no // 單號
              this.postData.outbound_status = cloneRes.recOutbound.outbound_status // 出庫單狀態
              this.postData.date_outbound = cloneRes.recOutbound.date_outbound // 出庫通知時間
              this.postData.created_at = cloneRes.recOutbound.created_at // 建立時間
              // 明細
              if (cloneRes.orderDetails.length > 0) {
                let detailsListLength = cloneRes.orderDetails.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.detailsList[i].od_id = cloneRes.orderDetails[i].od_id
                }
              }
              this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              this.$Notice.error({
                title: '儲存失敗',
                desc: cloneRes.message,
                duration: 30
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
        }
      } catch (err) {
        // console.log(err)
      }
    },
    initPostData: function () {
      this.postData = {
        outbound_id: null, // 出庫ID
        outbound_no: null, // 調整出單號
        outbound_status: null, // 調整出狀態
        outbound_note: null, // 備註
        date_outbound: null, // 出庫通知時間
        date_closed: null // 出貨時間
      }
    },
    initError: function () {
      this.error = {
        outbound_id: false, // 出庫ID
        outbound_no: false, // 調整出單號
        outbound_status: false, // 調整出狀態
        outbound_note: false, // 入庫單備註
        date_outbound: false, // 出庫通知時間
        date_closed: false // 出貨時間
      }
    },
    initAdjustmentOutboundSetupDetailsList: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initAdjustmentOutboundSetupDetailsList()
    },
    //
    getDetail: function (detailId) {
      let postData = {
        outboundId: detailId
      }
      //
      this.$store.dispatch(`outboundAdjustment/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 出庫單狀態 */
    outboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`outboundAdjustment/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    margin-top: 8px;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 8px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
</style>
