<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col colx2">
          <!-- 備註 inbound_note -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_note && postData.inbound_note!==''),
              label: '備註',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`inbound_note`"
            :defaultValue="postData.inbound_note"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 調整入單號 inbound_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_no && postData.inbound_no!==''),
              label: '調整入單號',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`inbound_no`"
            :defaultValue="postData.inbound_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 調整入狀態 inbound_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_status && postData.inbound_status!==''),
              label: '調整入狀態',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="inboundStatusList"
            :code="`inbound_status`"
            :defaultValue="postData.inbound_status"
            :disabled="true"
            @changeModelEvent="inboundStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div>
    <!-- 明細 -->
    <AdjustmentInboundSetupCloseDetails
      ref="setDetailsList"
      :detailId="detailId"
      @gridDataChangeEvent="detailsListChangeEvent"
    ></AdjustmentInboundSetupCloseDetails>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AdjustmentInboundSetupCloseDetails from './AdjustmentInboundSetupCloseDetails'
//
export default {
  name: 'AdjustmentInboundSetupCloseAdd',
  props: ['step', 'detailId'],
  components: {
    FloatLabelBox,
    AdjustmentInboundSetupCloseDetails
  },
  data () {
    //
    let postData = {
      inbound_id: this.cloneData ? this.cloneData.inbound_id : '', // 入庫ID
      inbound_no: '', // 調整入單號
      inbound_status: '', // 調整入狀態
      inbound_note: this.cloneData ? this.cloneData.inbound_note : '', // 備註
      date_inbound: '', // 入庫通知時間
      date_put_away: '' // 上架時間
    }
    return {
      /* 入庫單狀態 */
      inboundStatusList: [
        {
          label: '待確認',
          value: 10
        },
        {
          label: '已確認',
          value: 50
        }
      ],
      // 調整作業明細
      detailsList: null,
      //
      postData: postData,
      error: {
        inbound_id: false, // 入庫ID
        inbound_no: false, // 調整入單號
        inbound_status: false, // 調整入狀態
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 入庫通知時間
        date_put_away: false // 上架時間
      }
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    adjustment: function () {
      return this.$store.state[`inboundAdjustment`][`inboundAdjustment`] || []
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    detailsList: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    adjustment: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          inbound_id: val.inbound_id || null, // 入庫ID
          inbound_no: val.inbound_no || null, // 調整入單號
          inbound_status: val.inbound_status || null, // 調整入狀態
          inbound_note: val.inbound_note || null, // 備註
          date_inbound: val.date_inbound || null, // 入庫通知時間
          date_put_away: val.date_put_away || null // 上架時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      this.detailsList = data
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    initPostData: function () {
      this.postData = {
        inbound_id: null, // 入庫ID
        inbound_no: null, // 調整入單號
        inbound_status: null, // 調整入狀態
        inbound_note: null, // 備註
        date_inbound: null, // 入庫通知時間
        date_put_away: null // 上架時間
      }
    },
    initError: function () {
      this.error = {
        inbound_id: false, // 入庫ID
        inbound_no: false, // 調整入單號
        inbound_status: false, // 調整入狀態
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 入庫通知時間
        date_put_away: false // 上架時間
      }
    },
    initAdjustmentInboundSetupDetailsList: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initAdjustmentInboundSetupDetailsList()
    },
    //
    getDetail: function (detailId) {
      let postData = {
        inboundId: detailId
      }
      //
      this.$store.dispatch(`inboundAdjustment/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 入庫單狀態 */
    inboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`inboundAdjustment/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    margin-top: 8px;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 8px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
</style>
