<template>
  <div class="AdjustmentOutboundSetupDetails">
    <!-- 按鈕區 -->
    <Poptip trigger="hover" title="新增">
      <Button class="detail-add mr-1 mb-2" @click="add">
        <font-awesome-icon icon="plus" />
      </Button>
    </Poptip>
    <Poptip trigger="hover" title="刪除">
      <Button class="detail-remove mb-2" @click="getIds('remove')">
        <font-awesome-icon icon="minus" />
      </Button>
    </Poptip>
    <br />
    <!-- 分隔線 -->
    <!-- DataGrid : hideFilter 隱藏過濾器 / hidePage 隱藏分頁 -->
    <DataGrid
      idKeyName="od_id"
      :bgType="userInfo.themeColor"
      :hideFilter="true"
      :hidePage="true"
      :logicalOperator="logicalOperator"
      :settingData="settingData"
      :gridData="gridData"
      :toGetIds="toGetIds"
      :isQuery="isQuery"
      :noTextBreak="true"
      :setVisibleColumns="setVisibleColumns"
      @gridDataChengeEvent="gridDataChengeEvent"
      @moveColEvent="moveColEvent"
      @removeColEvent="removeColEvent"
      @sortEvent="sortEvent"
      @filterEvent="filterEvent"
      @getIdsEvent="getIdsEvent"
      @getDetailEvent="getDetailEvent"
      @pageChangeEvent="pageChangeEvent"
      @pageSizeChangeEvent="pageSizeChangeEvent"
      @scrollEvent="scrollEvent"
    ></DataGrid>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
export default {
  name: 'AdjustmentOutboundSetupDetails',
  props: ['data', 'detailId'],
  components: {
    DataGrid
  },
  data () {
    let userInfo = this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    // 定義用
    let settingData = {
      page: {
        pageSize: Config.maxPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[userInfo.themeColor].dataGrid.headBgColor,
        headColor: Config.themeColor[userInfo.themeColor].dataGrid.headColor,
        rowOddBgColor: Config.themeColor[userInfo.themeColor].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[userInfo.themeColor].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[userInfo.themeColor].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[userInfo.themeColor].dataGrid.rowEvenColor,
        editCelColor: Config.themeColor[userInfo.themeColor].dataGrid.editCelColor,
        waitEditCelColor: Config.themeColor[userInfo.themeColor].dataGrid.waitEditCelColor,
        notEditCelColor: Config.themeColor[userInfo.themeColor].dataGrid.notEditCelColor,
        selectedColor: Config.themeColor[userInfo.themeColor].dataGrid.selectedColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product',
          displayName: '商品料號 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'inventoryQueryByStorage',
            storeKey: 'stockByStorage',
            returnCode: 'product_code',
            showCols: [
              'product_name'
            ],
            dispatchPath: 'stockByStorage/search',
            condition: [],
            modalTitle: '商品料號'
          },
          baseCondition: [],
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '300px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_quality',
          displayName: '良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'outbound_nums',
          displayName: '調整數量 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storage_assign_code',
          displayName: '儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_manufactured',
          displayName: '製造日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      isQuery: false,
      idsData: null,
      //
      comfirmRemoveModal: false,
      //
      productQualityFilterData: [], // 良品/不良品
      isScrollToBottom: false,
      setVisibleColumns: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    outboundAdjustmentDetailList: function () {
      return this.$store.state[`outboundAdjustment`][`orderAdjustmentDetailList`] || {}
    }
  },
  watch: {
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    outboundAdjustmentDetailList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            item.product = {
              product_id: item.product_id,
              product_name: item.product_name,
              product_code: item.product_code
            }
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        //
        console.log(val)
        val.forEach((item, index) => {
          // console.log(item)
          val[index].product_name = val[index].product.product_name
          if (val[index].product.product_quality !== undefined) {
            val[index].product_quality = val[index].product.product_quality
          }
          if (val[index].product.storage_id !== undefined) {
            val[index].storage_assign = val[index].product.storage_id
          }
          if (val[index].product.storage_code !== undefined) {
            val[index].storage_assign_code = val[index].product.storage_code
          }
        })
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
        if (!val) {
          this.gridData = []
        }
      },
      deep: true
    },
    productQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'product_quality') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        product: {},
        product_name: '',
        product_quality: 1,
        outbound_nums: '',
        storage_assign: '',
        storage_assign_code: '',
        product_batch_no: '',
        product_expired_date: '',
        product_manufactured: ''
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            return !_item
          })
          // console.log(this.gridData)
          this.remove()
          break
      }
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    remove: function () {
      let postData = {
        odIds: []
      }
      if (this.idsData.selectIds[0]) {
        postData.odIds = this.idsData.selectIds
        this.$store.dispatch('orderDetail/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
          } else {
            this.$Notice.error({
              title: '刪除失敗'
            })
          }
        })
      }
      this.idsData = null
    },
    // 良品/不良品 product_quality
    getProductQualityFilterData: function () {
      this.productQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    setDetailsList: function (type, data) {
      console.log(type)
      console.log(data)
      switch (type) {
        case 'init':
          this.gridData = []
          break
        case 'set':
          this.gridData = [...data]
          break
      }
    },
    /*
    ** 新增頁 create: 則不打API取得清單
    ** 明細頁 update: 如果this.detailId有值，則打API取得清單
     */
    getGridData: async function (filterAry, sortAry) {
      // 此應用不需分頁 故 頁碼設1，每頁頁數設Config.maxPageSize
      // let filter = filterAry || []
      // let sort = sortAry || []
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: 'AND',
        query: [],
        sort: []
      }
      try {
        postData.query = [{
          queryCondition: '=',
          queryField: 'outbound_id',
          queryValue: this.detailId
        }]
        var outboundDetailRes = await this.$store.dispatch(`outboundDetail/search`, postData)
        // console.log(outboundDetailRes)
        if (outboundDetailRes) {
          this.settingData.page.totalCount = outboundDetailRes.respondCode.additionals.totalCount
          var gridData2 = outboundDetailRes.respondCode.additionals['outboundDetailList']
          let gridData2Length = gridData2.length
          // console.log(gridData2)
          // console.log(gridData2[0])
          for (let i = 0; i < gridData2Length; i++) {
            gridData2[i].INDEX = (i + 1)
            gridData2[i].product = {
              product_id: gridData2[i].product_id,
              product_name: gridData2[i].product_name,
              product_code: gridData2[i].product_code
            }
            var stockNumArry2 = []
            // console.log(gridData2[i])
            stockNumArry2 = gridData2[i].outbound_lottable5 ? gridData2[i].outbound_lottable5.split(':') : []
            gridData2[i].form_inventory_id = stockNumArry2[0] !== 'null' ? parseInt(stockNumArry2[0]) : null
            gridData2[i].stock_num = stockNumArry2[1] !== 'null' ? parseInt(stockNumArry2[1]) : null
            gridData2[i].to_stock_num = stockNumArry2[1] !== 'null' ? parseInt(stockNumArry2[1]) - gridData2[i].outbound_nums : null
            gridData2[i].stock_num_difference = gridData2[i].outbound_nums || null
            gridData2[i].storage_loc = stockNumArry2[2] !== 'null' ? parseInt(stockNumArry2[2]) : null
            gridData2[i].storage_loc_storage_code = stockNumArry2[3] !== 'null' ? stockNumArry2[3] : null
            gridData2[i].stock_num_bad = stockNumArry2[4] !== 'null' ? parseInt(stockNumArry2[4]) : null
            gridData2[i].to_stock_num_bad = stockNumArry2[4] !== 'null' ? parseInt(stockNumArry2[4]) - gridData2[i].outbound_nums_bad : null
            gridData2[i].stock_num_bad_difference = gridData2[i].outbound_nums_bad || null
            gridData2[i].storage_loc_bad = stockNumArry2[5] !== 'null' ? parseInt(stockNumArry2[5]) : null
            gridData2[i].storage_loc_bad_storage_code = stockNumArry2[6] !== 'null' ? stockNumArry2[6] : null
            // console.log (gridData2[i].form_inventory_id)
            if (gridData2[i].form_inventory_id) {
              let inventorySearchPostData = {
                page: 1,
                pageSize: 250,
                combinedCondition: null,
                query: [{
                  queryCondition: '=',
                  queryField: 'inventory_id',
                  queryValue: gridData2[i].form_inventory_id
                }],
                sort: []
              }
              var newInventory2 = await this.$store.dispatch(`inventory/search`, { postData: inventorySearchPostData, companyId: this.companyId, whId: this.whId })
              // console.log(newInventory2)
              if (newInventory2.httpStatus === 200) {
                let inventoryData = newInventory2.respondCode.additionals.inventory[0]
                // console.log(inventoryData)
                gridData2[i].stock_num = inventoryData.stock_num
                gridData2[i].storage_loc = inventoryData.storage_loc
                gridData2[i].storage_loc_storage_code = inventoryData.storage_loc_storage_code
                gridData2[i].stock_num_bad = inventoryData.stock_num_bad
                gridData2[i].storage_loc_bad = inventoryData.storage_loc_bad
                gridData2[i].storage_loc_bad_storage_code = inventoryData.storage_loc_bad_storage_code
                // console.log(gridData2[i])
              }
            }
          }
          this.gridData = gridData2
          // console.log(this.gridData)
        }
      } catch (error) {
        // console.log(error)
      }
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    this.getProductQualityFilterData()
    // if (this.detailId && this.detailId !== '') {
    //   // 取得清單
    //   this.getGridData()
    // }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.AdjustmentOutboundSetupDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 368px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
</style>
