<template>
  <div class="AdjustmentInboundSetupCloseDetails">
    <!-- 按鈕區 -->
    <!-- <br /> -->
    <!-- 分隔線 -->
    <!-- DataGrid : hideFilter 隱藏過濾器 / hidePage 隱藏分頁 -->
    <DataGrid
      idKeyName="id_id"
      :bgType="userInfo.themeColor"
      :hideFilter="true"
      :hidePage="true"
      :logicalOperator="logicalOperator"
      :settingData="settingData"
      :gridData="gridData"
      :toGetIds="toGetIds"
      :isQuery="isQuery"
      :noTextBreak="true"
      :setVisibleColumns="setVisibleColumns"
      @gridDataChengeEvent="gridDataChengeEvent"
      @moveColEvent="moveColEvent"
      @removeColEvent="removeColEvent"
      @sortEvent="sortEvent"
      @filterEvent="filterEvent"
      @getIdsEvent="getIdsEvent"
      @getDetailEvent="getDetailEvent"
      @pageChangeEvent="pageChangeEvent"
      @pageSizeChangeEvent="pageSizeChangeEvent"
      @scrollEvent="scrollEvent"
    ></DataGrid>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
export default {
  name: 'AdjustmentInboundSetupCloseDetails',
  props: ['data', 'detailId'],
  components: {
    DataGrid
  },
  data () {
    let userInfo = this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    // 定義用
    let settingData = {
      page: {
        pageSize: Config.maxPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[userInfo.themeColor].dataGrid.headBgColor,
        headColor: Config.themeColor[userInfo.themeColor].dataGrid.headColor,
        rowOddBgColor: Config.themeColor[userInfo.themeColor].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[userInfo.themeColor].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[userInfo.themeColor].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[userInfo.themeColor].dataGrid.rowEvenColor,
        editCelColor: Config.themeColor[userInfo.themeColor].dataGrid.editCelColor,
        waitEditCelColor: Config.themeColor[userInfo.themeColor].dataGrid.waitEditCelColor,
        notEditCelColor: Config.themeColor[userInfo.themeColor].dataGrid.notEditCelColor,
        selectedColor: Config.themeColor[userInfo.themeColor].dataGrid.selectedColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_code',
          displayName: '商品料號 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_quality',
          displayName: '良品/不良品 *',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'inform_num',
          displayName: '調整數量 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storage_code',
          displayName: '儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_manufactured',
          displayName: '製造日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      isQuery: false,
      //
      productQualityFilterData: [], // 良品/不良品
      isScrollToBottom: false,
      setVisibleColumns: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    inboundAdjustmentDetailList: function () {
      return this.$store.state[`inboundAdjustment`][`inboundAdjustmentDetailList`] || {}
    }
  },
  watch: {
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    inboundAdjustmentDetailList: {
      handler: function (val) {
        console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            item.product = {
              product_id: item.product_id,
              product_name: item.product_name,
              product_code: item.product_code
            }
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        //
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
        if (!val) {
          this.gridData = []
        }
      },
      deep: true
    },
    productQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'product_quality') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      switch (this.optType) {
        // case 'remove':
        //   // 刪除 : INDEX
        //   this.gridData = this.gridData.filter((item, index) => {
        //     let _item = data.list.find((itm, idx) => {
        //       if (item.INDEX === itm.INDEX) {
        //         return true
        //       }
        //     })
        //     if (_item) {
        //       if (item.id_id && item.id_id !== '') {
        //         this.remove(item.id_id)
        //       }
        //     }
        //     return !_item
        //   })
        //   // console.log(this.gridData)
        //   break
      }
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    // 良品/不良品 product_quality
    getProductQualityFilterData: function () {
      this.productQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    setDetailsList: function (type, data) {
      console.log(type)
      console.log(data)
      switch (type) {
        case 'init':
          this.gridData = []
          break
        case 'set':
          this.gridData = [...data]
          break
      }
    },
    /*
    ** 新增頁 create: 則不打API取得清單
    ** 明細頁 update: 如果this.detailId有值，則打API取得清單
     */
    getGridData: function (filterAry, sortAry) {
      // 此應用不需分頁 故 頁碼設1，每頁頁數設Config.maxPageSize
      // let filter = filterAry || []
      // let sort = sortAry || []
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: 'AND',
        query: [],
        sort: []
      }
      switch (this.putInOrOut) {
        case 'inbound':
          postData.query = [{
            queryCondition: '=',
            queryField: 'inbound_id',
            queryValue: this.detailId
          }]
          // console.log(postData)
          this.$store.dispatch(`inboundDetail/searchByCompanyWh`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
            // console.log(r)
            if (r) {
              this.settingData.page.totalCount = r.respondCode.additionals.totalCount
              this.gridData = r.respondCode.additionals['inboundDetail']
              // console.log(this.gridData)
              this.gridData.forEach((item, index) => {
                console.log(item)
                item.INDEX = (index + 1)
                var stockNumArry = []
                stockNumArry = item.custom_item_no ? item.custom_item_no.split(':') : []
                // console.log(stockNumArry)
                // console.log(parseInt(stockNumArry[1]))
                // console.log(parseInt(stockNumArry[4]))
                item.form_inventory_id = stockNumArry[0] !== 'null' ? parseInt(stockNumArry[0]) : null
                item.stock_num = stockNumArry[1] !== 'null' ? parseInt(stockNumArry[1]) : null
                item.to_stock_num = stockNumArry[1] !== 'null' ? parseInt(stockNumArry[1]) + item.inbound_num : item.inbound_num
                item.stock_num_difference = item.inbound_num
                item.storage_loc = stockNumArry[2] !== 'null' ? parseInt(stockNumArry[2]) : null
                item.storage_loc_storage_code = stockNumArry[3] !== 'null' ? stockNumArry[3] : null
                item.stock_num_bad = stockNumArry[4] !== 'null' ? parseInt(stockNumArry[4]) : null
                item.to_stock_num_bad = stockNumArry[4] !== 'null' ? parseInt(stockNumArry[4]) + item.inbound_num_bad : item.inbound_num_bad
                item.stock_num_bad_difference = item.inbound_num_bad
                item.storage_loc_bad = stockNumArry[5] !== 'null' ? parseInt(stockNumArry[5]) : null
                item.storage_loc_bad_storage_code = stockNumArry[6] !== 'null' ? stockNumArry[6] : null
                //
                item.to_inventory_id = item.inventory_id || null
              })
              // console.log(this.gridData)
            }
          })
          break
        case 'outbound':
          postData.query = [{
            queryCondition: '=',
            queryField: 'outbound_id',
            queryValue: this.detailId
          }]
          this.$store.dispatch(`outboundDetail/search`, postData).then((r) => {
            // console.log(r)
            if (r) {
              this.settingData.page.totalCount = r.respondCode.additionals.totalCount
              this.gridData = r.respondCode.additionals['outboundDetailList']
              // console.log(this.gridData)
              this.gridData.forEach((item, index) => {
                item.INDEX = (index + 1)
                var stockNumArry = []
                stockNumArry = item.outbound_lottable5 ? item.outbound_lottable5.split(':') : []
                // console.log(stockNumArry)
                item.form_inventory_id = stockNumArry[0] !== 'null' ? parseInt(stockNumArry[0]) : null
                item.stock_num = stockNumArry[1] !== 'null' ? parseInt(stockNumArry[1]) : null
                item.to_stock_num = stockNumArry[1] !== 'null' ? parseInt(stockNumArry[1]) - item.outbound_nums : null
                item.stock_num_difference = item.outbound_nums || null
                item.storage_loc = stockNumArry[2] !== 'null' ? parseInt(stockNumArry[2]) : null
                item.storage_loc_storage_code = stockNumArry[3] !== 'null' ? stockNumArry[3] : null
                item.stock_num_bad = stockNumArry[4] !== 'null' ? parseInt(stockNumArry[4]) : null
                item.to_stock_num_bad = stockNumArry[4] !== 'null' ? parseInt(stockNumArry[4]) - item.outbound_nums_bad : null
                item.stock_num_bad_difference = item.outbound_nums_bad || null
                item.storage_loc_bad = stockNumArry[5] !== 'null' ? parseInt(stockNumArry[5]) : null
                item.storage_loc_bad_storage_code = stockNumArry[6] !== 'null' ? stockNumArry[6] : null
              })
              // console.log(this.gridData)
            }
          })
          break
      }
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    //
    this.getProductQualityFilterData()
    // if (this.detailId && this.detailId !== '') {
    //   // 取得清單
    //   this.getGridData()
    // }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.AdjustmentInboundSetupCloseDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 329px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
</style>
