<template>
  <div class="content-box">
    <div>
      <!-- 明細 -->
      <SimpleProcessingDetails
        ref="setSimpleProcessingDetailsList"
        :detailId="detailId"
        :companyId="companyId"
        :whId="whId"
        @setAddModalEvent="setAddModalEvent"
        @gridDataChangeEvent="simpleProcessingDetailsListChangeEvent"
      ></SimpleProcessingDetails>
    </div>
    <!-- save btn -->
    <div class="saveBtn" @click="repeatConfirm">
      <font-awesome-icon icon="save" size="2x" />
    </div>
    <!-- add Modal -->
    <Modal v-model="addModal" width="1000" :footer-hide="true" @on-cancel="setAddModalEvent(false)" class="addModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <LoadingView :show="LoadingViewIsShow"></LoadingView>
        <div class="mb-1">
          <h2 class="title mb-3">
            <span>來源商品</span>
          </h2>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <!-- 來源貨主 fromOwnerId -->
                <FloatLabelBox
                  :config="{hasContent: (postData.from_owner_name && postData.from_owner_name!==''), label: `來源貨主 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true}"
                  :code="`from_owner_name`"
                  :autoCompleteData="fromOwnerIdList"
                  :defaultValue="postData.from_owner_name"
                  :modalTitle="`貨主代碼`"
                  :toCloseModal="toCloseFromOwnerIdAutocompleteModal"
                  keyCode="customerSetup"
                  storeKey="customerByCmpCat"
                  returnCode="customer_name"
                  :showCols="autoCompleteShowFromOwnerIdCols"
                  :isError="error.fromOwnerId"
                  :isRequired="true"
                  @handleEnterSubmit="autocompleteHandleFromOwnerIdEnterSubmitEvent"
                  @changeModelEvent="fromOwnerIdAutocompleteChangeEvent"
                  @autoCompleteSearchEvent="fromOwnerIdAutoCompleteSearchEvent"
                  @setToCloseModalEvent="setToCloseFromOwnerIdAutocompleteModal">
                    <div>
                      <!-- 貨主代碼-->
                      <AutocompleteModal
                      keyCode="customerSetup"
                      storeKey="customerByCmpCat"
                      returnCode="customer_name"
                      respondCode= "customer"
                      :apiUrlCondition="setAutocompleteFromOwnerIdApiUrl"
                      :condition="fromOwnerIdCondition"
                      @setAutocompleteValueEvent="setAutocompleteFromOwnerIdValue"></AutocompleteModal>
                    </div>
                  </FloatLabelBox>
              </div>
              <div class="col">
                <!-- 良品/不良品 product_quality -->
                <FloatLabelBox
                  :config="{hasContent: (postData.product_quality && postData.product_quality!==''), label: `良品/不良品`, hasClearButton: true, type: `Select`, settings: { height: 52}}"
                  :selectList="productQualityList"
                  :code="`product_quality`"
                  :defaultValue="postData.product_quality"
                  :disabled="false"
                  @changeModelEvent="productQualityListChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 來源商品料號 fromProduct -->
                <FloatLabelBox
                :config="{hasContent: (postData.from_product_code && postData.from_product_code!==''), label: `來源商品料號 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
                :code="`from_product_code`"
                :autoCompleteData="fromProductList"
                :defaultValue="postData.from_product_code"
                :modalTitle="`商品料號`"
                :toCloseModal="toCloseFromProductAutocompleteModal"
                keyCode="inventory"
                storeKey="inventoryQueryFiftyByOwner"
                returnCode="product_code"
                :showCols="autoCompleteShowFromProductCols"
                :isError="error.fromProduct"
                :isRequired="true"
                :disabled="true"
                :searchDisabled="fromProductAutocompleteSearchDisabled"
                @handleEnterSubmit="autocompleteHandleFromProductEnterSubmitEvent"
                @changeModelEvent="fromProductAutocompleteChangeEvent"
                @autoCompleteSearchEvent="fromProductAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseFromProductAutocompleteModal">
                  <div>
                    <!-- 商品料號-->
                    <AutocompleteModal
                    keyCode="inventory"
                    storeKey="inventoryQueryFiftyByOwner"
                    returnCode="product_code"
                    respondCode= "inventory"
                    :apiUrlCondition="setAutocompleteFromProductApiUrl"
                    :condition="fromProductCondition"
                    @setAutocompleteValueEvent="setAutocompleteFromProductValue"></AutocompleteModal>
                  </div>
                </FloatLabelBox>
              </div>
              <div class="col">
              <!-- 來源商品名稱 from_product_name -->
                <FloatLabelBox
                  :config="{hasContent: (postData.from_product_name && postData.from_product_name!==''), label: `來源商品名稱`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`from_product_name`"
                  :defaultValue="postData.from_product_name"
                  :disabled="true"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!-- 來源儲位 storage_loc_storage_code -->
                <FloatLabelBox
                  :config="{hasContent: (postData.storage_loc_storage_code && postData.storage_loc_storage_code!==''), label: `來源儲位`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`storage_loc_storage_code`"
                  :defaultValue="postData.storage_loc_storage_code"
                  :disabled="true"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 來源庫存 stock_num -->
                <FloatLabelBox
                  :config="{hasContent: (postData.stock_num!== null && postData.stock_num!==''), label: `來源庫存`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
                  :code="`stock_num`"
                  :defaultValue="postData.stock_num"
                  :disabled="true"
                  @changeModelEvent="inputNumChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 加工數量 from_stock_num -->
                <FloatLabelBox
                  :config="{hasContent: (postData.from_stock_num!== null && postData.from_stock_num!==''), label: `加工數量 *`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
                  :code="`from_stock_num`"
                  :defaultValue="postData.from_stock_num"
                  :errorMsg="errorMsgFromStockNum"
                  :isError="error.from_stock_num"
                  :isRequired="true"
                  @changeModelEvent="inputNumChangeEvent"
                ></FloatLabelBox>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <h2 class="title mb-3">
            <span>目的商品</span>
          </h2>
            <div class="row">
              <div class="col">
                <!-- 目的商品料號 toProduct -->
                <FloatLabelBox
                :config="{hasContent: (postData.to_product_code && postData.to_product_code!==''), label: `目的商品料號 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
                :code="`to_product_code`"
                :autoCompleteData="toProductList"
                :defaultValue="postData.to_product_code"
                :modalTitle="`商品料號`"
                :toCloseModal="toCloseToProductAutocompleteModal"
                keyCode="goodsSetup"
                storeKey="withoutInProductRelationParent"
                returnCode="product_code"
                :showCols="autoCompleteShowToProductCols"
                :isError="error.toProduct"
                :isRequired="true"
                :disabled="true"
                :searchDisabled="toProductAutocompleteSearchDisabled"
                @handleEnterSubmit="autocompleteHandleToProductEnterSubmitEvent"
                @changeModelEvent="toProductAutocompleteChangeEvent"
                @autoCompleteSearchEvent="toProductAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseToProductAutocompleteModal">
                  <div>
                    <!-- 商品料號-->
                    <AutocompleteModal
                    keyCode="goodsSetup"
                    storeKey="withoutInProductRelationParent"
                    returnCode="product_code"
                    respondCode= "product"
                    :apiUrlCondition="setAutocompleteToProductApiUrl"
                    :condition="toProductCondition"
                    @setAutocompleteValueEvent="setAutocompleteToProductValue"></AutocompleteModal>
                  </div>
                </FloatLabelBox>
              </div>
              <div class="col">
              <!-- 目的商品名稱 to_product_name -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_product_name && postData.to_product_name!==''), label: `來源商品名稱`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`to_product_name`"
                  :defaultValue="postData.to_product_name"
                  :disabled="true"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的儲位 toStorageLoc -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_storage_code && postData.to_storage_code!==''), label: `目的儲位 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
                  :code="`to_storage_code`"
                  :autoCompleteData="toStorageList"
                  :defaultValue="postData.to_storage_code"
                  :isError="error.toStorageLoc"
                  :isRequired="true"
                  :modalTitle="`目的儲位`"
                  :toCloseModal="toCloseToStorageAutocompleteModal"
                  keyCode="storageSetup"
                  storeKey="storageQueryByWhId"
                  returnCode="storage_code"
                  :showCols="autoCompleteShowToStorageCols"
                  @handleEnterSubmit="autocompleteHandleToStorageEnterSubmitEvent"
                  @changeModelEvent="toStorageAutocompleteChangeEvent"
                  @autoCompleteSearchEvent="toStorageAutoCompleteSearchEvent"
                  @setToCloseModalEvent="setToCloseToStorageAutocompleteModal">
                    <div>
                      <!-- 目的儲位 -->
                      <AutocompleteModal
                      keyCode="storageSetup"
                      storeKey="storageQueryByWhId"
                      returnCode="storage_code"
                      respondCode= "storage"
                      :apiUrlCondition="setAutocompleteToStorageApiUrl"
                      :condition="toStorageCondition"
                      @setAutocompleteValueEvent="setAutocompleteToStorageValue"></AutocompleteModal>
                    </div>
                  </FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的庫存 to_stock_num -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_stock_num!== null && postData.to_stock_num!==''), label: `目的庫存 *`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
                  :code="`to_stock_num`"
                  :defaultValue="postData.to_stock_num"
                  :errorMsg="errorMsgToStockNum"
                  :isError="error.to_stock_num"
                  :isRequired="true"
                  @changeModelEvent="inputNumChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的批號 to_product_batch_no -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_product_batch_no && postData.to_product_batch_no!==''), label: `目的批號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`to_product_batch_no`"
                  :defaultValue="postData.to_product_batch_no"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的有效日期 to_product_expired_date -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_product_expired_date && postData.to_product_expired_date!==''), label: `目的有效日期`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
                  :code="`to_product_expired_date`"
                  :defaultValue="postData.to_product_expired_date"
                  @changeModelEvent="datePickerChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的庫存紀錄備註 to_inventory_note -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_inventory_note && postData.to_inventory_note!==''), label: `目的庫存紀錄備註`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`to_inventory_note`"
                  :defaultValue="postData.to_inventory_note"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的屬性1 to_inventory_lottable1 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_inventory_lottable1 && postData.to_inventory_lottable1!==''), label: `目的屬性1`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`to_inventory_lottable1`"
                  :defaultValue="postData.to_inventory_lottable1"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的屬性2 to_inventory_lottable2 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_inventory_lottable2 && postData.to_inventory_lottable2!==''), label: `目的屬性2`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`to_inventory_lottable2`"
                  :defaultValue="postData.to_inventory_lottable2"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的屬性3 to_inventory_lottable3 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_inventory_lottable3 && postData.to_inventory_lottable3!==''), label: `目的屬性3`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`to_inventory_lottable3`"
                  :defaultValue="postData.to_inventory_lottable3"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的屬性4 to_inventory_lottable4 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_inventory_lottable4 && postData.to_inventory_lottable4!==''), label: `目的屬性4`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`to_inventory_lottable4`"
                  :defaultValue="postData.to_inventory_lottable4"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 目的屬性5 to_inventory_lottable5 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.to_inventory_lottable5 && postData.to_inventory_lottable5!==''), label: `目的屬性5`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`to_inventory_lottable5`"
                  :defaultValue="postData.to_inventory_lottable5"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
            </div>
        </div>
      </div>
      <div class="button-box mt-3">
        <Button class="modal-btn" type="default" shape="circle" @click="setAddModalEvent(false)">關閉</Button>
        <Button class="modal-btn dark ml-3" type="default" shape="circle" @click="addTransferSetupDetailsList" :disabled="saveDisabled">新增</Button>
      </div>
    </Modal>
    <!-- repeatConfirm modal -->
    <Modal v-model="repeatConfirmModal" width="1000" :footer-hide="true" @on-cancel="cancel">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <h2 class="title">
          <span>簡易加工結果預覽</span>
        </h2>
        <p>請確認資料內容無誤</p>
        <SimpleProcessingRepeatConfirmDetails
          ref="initSimpleProcessingRepeatConfirmDetailsList"
          :simpleProcessingRepeatConfirmDetailsList="simpleProcessingRepeatConfirmDetailsList"
        ></SimpleProcessingRepeatConfirmDetails>
      </div>
      <div class="button-box mt-3">
        <Button class="modal-btn" type="default" shape="circle" @click="cancel">取消</Button>
        <Button class="modal-btn dark ml-3" type="default" shape="circle" @click="save" :disabled="saveDisabled">確認簡易加工</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import SimpleProcessingDetails from './SimpleProcessingDetails'
import SimpleProcessingRepeatConfirmDetails from './SimpleProcessingRepeatConfirmDetails'
//
export default {
  name: 'SimpleProcessingSetupAdd',
  props: ['step', 'detailId'],
  components: {
    LoadingView,
    FloatLabelBox,
    AutocompleteModal,
    SimpleProcessingDetails,
    SimpleProcessingRepeatConfirmDetails
  },
  data () {
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    let whName = this.$store.state.auth.userInfo.warehousLocalName
    let ownerId = this.$store.state.auth.userInfo.ownerKey
    let ownerName = this.$store.state.auth.userInfo.ownerName
    let userId = this.$store.state.auth.userInfo.userId
    return {
      companyId: companyId, // 由用戶取得
      whId: whId, // 由用戶取得
      whName: whName,
      ownerId: ownerId,
      ownerName: ownerName,
      userId: userId,
      //
      repeatConfirmModal: false,
      // 明細
      simpleProcessingDetailsList: null,
      simpleProcessingRepeatConfirmDetailsList: null,
      saveDisabled: false,
      // 新增明細
      addModal: false,
      postData: {
        inbound_id: null, // 入庫單
        inventory_id: null, // 入庫明細
        fromOwnerId: ownerId || null, // 來源貨主
        from_owner_name: ownerName || null, // 來源貨主名稱
        product_quality: 1, // 良品/不良品
        fromProduct: null, // 來源商品ID
        from_product_code: null, // 來源商品料號
        from_product_name: null, // 來源商品名稱
        storage_loc_storage_code: null, // 來源儲位
        stock_num: null, // 來源庫存
        from_stock_num: null, // 調撥數量
        toWhId: whId || null, // 目的倉庫ID
        to_wh_name: whName || null, // 目的倉庫
        toOwnerId: ownerId || null, // 目的貨主ID
        to_owner_name: ownerName || null, // 目的貨主
        toProduct: null, // 目的商品ID
        to_product_code: null, // 目的商品料號
        to_product_name: null, // 目的商品名稱
        toStorageLoc: null, // 目的儲位ID
        to_storage_code: null, // 目的儲位
        to_stock_num: null, // 目的庫存
        to_product_batch_no: null, // 目的批號
        to_product_expired_date: null, // 目的有效日期
        to_inventory_note: null, // 目的庫存紀錄備註
        to_inventory_lottable1: null, // 目的屬性1
        to_inventory_lottable2: null, // 目的屬性2
        to_inventory_lottable3: null, // 目的屬性3
        to_inventory_lottable4: null, // 目的屬性4
        to_inventory_lottable5: null // 目的屬性5
      },
      error: {
        fromOwnerId: false, // 來源貨主
        fromProduct: false, // 來源商品料號
        from_product_name: false, // 來源商品名稱
        storage_loc_storage_code: false, // 來源儲位
        stock_num: false, // 來源庫存
        from_stock_num: false, // 調撥數量
        toWhId: false, // 目的倉庫
        toOwnerId: false, // 目的貨主
        toProduct: false, // 目的商品
        toStorageLoc: false, // 目的儲位
        to_stock_num: false, // 目的庫存
        to_product_batch_no: false, // 目的批號
        to_product_expired_date: false, // 目的有效日期
        to_inventory_note: false // 目的庫存紀錄備註
      },
      errorMsgFromStockNum: '',
      errorMsgFromStockNumBad: '',
      errorMsgToStockNum: '',
      errorMsgToStockNumBad: '',
      /* 來源貨主 : fromOwnerId */
      fromOwnerIdList: [],
      autoCompleteShowFromOwnerIdCols: [
        'customer_no'
      ],
      toCloseFromOwnerIdAutocompleteModal: false,
      fromOwnerIdCondition: [],
      setAutocompleteFromOwnerIdApiUrl: { companyId: companyId, whId: whId, customerCat: 1 },
      /* 來源商品料號 : fromProduct */
      fromProductList: [],
      autoCompleteShowFromProductCols: [
        'product_name'
      ],
      toCloseFromProductAutocompleteModal: false,
      fromProductCondition: [],
      setAutocompleteFromProductApiUrl: { companyId: companyId, whId: whId, ownerId: ownerId },
      fromProductAutocompleteSearchDisabled: ownerId,
      /* 目的商品料號 : toProduct */
      toProductList: [],
      autoCompleteShowToProductCols: [
        'product_name'
      ],
      toCloseToProductAutocompleteModal: false,
      toProductCondition: [],
      setAutocompleteToProductApiUrl: { companyId: companyId, ownerId: ownerId },
      toProductAutocompleteSearchDisabled: ownerId,
      /*  目的儲位(良品) : toStorageLoc */
      toStorageList: [],
      autoCompleteShowToStorageCols: [],
      toCloseToStorageAutocompleteModal: false,
      toStorageCondition: [],
      setAutocompleteToStorageApiUrl: { whId: whId },
      /* 良品/不良品 */
      productQualityList: [
        {
          label: '良品',
          value: 1
        },
        {
          label: '不良品',
          value: 0
        }
      ],
      LoadingViewIsShow: false
    }
  },
  computed: {
    simpleProcessing: function () {
      return this.$store.state[`simpleProcessing`][`simpleProcessing`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    simpleProcessingDetailsList: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    simpleProcessingRepeatConfirmDetailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    simpleProcessing: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.fromOwnerId) {
          this.fromProductAutocompleteSearchDisabled = true
          this.setAutocompleteFromProductApiUrl = { companyId: this.companyId, whId: this.whId, ownerId: val.fromOwnerId }
          this.toProductAutocompleteSearchDisabled = true
          this.setAutocompleteToProductApiUrl = { companyId: this.companyId, whId: this.whId, ownerId: val.fromOwnerId }
          this.error.fromOwnerId = false
        } else {
          this.fromProductAutocompleteSearchDisabled = false
          this.toProductAutocompleteSearchDisabled = false
        }
        if (val.fromProduct) {
          this.error.fromProduct = false
        }
        if (val.toProduct) {
          this.error.toProduct = false
        }
        if (val.from_stock_num) {
          this.error.from_stock_num = false
        }
        if (val.from_stock_num <= val.stock_num) {
          this.error.from_stock_num = false
        }
        if (val.to_stock_num) {
          this.error.to_stock_num = false
        }
        if (val.toStorageLoc) {
          this.error.toStorageLoc = false
        }
      },
      deep: true
    }
  },
  methods: {
    simpleProcessingDetailsListChangeEvent: function (data) {
      this.simpleProcessingDetailsList = data
    },
    simpleProcessingRepeatConfirmDetailsListListChangeEvent: function (data) {
      this.simpleProcessingRepeatConfirmDetailsList = data
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'transfer_id',
            queryValue: detailId
          }
        ],
        sort: []
      }
      this.$store.dispatch(`simpleProcessing/queryDetail`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    repeatConfirm: function () {
      var isError = false
      var simpleProcessingRepeatConfirmDetailsList = []
      this.simpleProcessingDetailsList.forEach((item, index) => {
        if (!item.fromOwnerId.customer_id || item.fromOwnerId.customer_id === '') {
          isError = true
          // 提示
          this.$Notice.error({
            title: `第${item.INDEX}筆`,
            desc: '"貨主"未填',
            duration: 30
          })
        }
        if (!item.fromProduct.product_id || item.fromProduct.product_id === '') {
          isError = true
          // 提示
          this.$Notice.error({
            title: `第${item.INDEX}筆`,
            desc: '"商品料號"未填',
            duration: 30
          })
        }
        if (!item.toProduct.product_code || item.toProduct.product_code === '') {
          isError = true
          // 提示
          this.$Notice.error({
            title: `第${item.INDEX}筆`,
            desc: '"目的商品料號"未填',
            duration: 30
          })
        }
        if (!item.from_stock_num || item.from_stock_num === '') {
          isError = true
          // 提示
          this.$Notice.error({
            title: `第${item.INDEX}筆`,
            desc: '"加工數量"未填',
            duration: 30
          })
        }
        if (item.from_stock_num && (item.from_stock_num !== '') && (item.stock_num < item.from_stock_num)) {
          isError = true
          // 提示
          this.$Notice.error({
            title: `第${item.INDEX}筆`,
            desc: '"加工數量"請小於"來源庫存"',
            duration: 30
          })
        }
        if (!item.to_stock_num || item.to_stock_num === '') {
          isError = true
          // 提示
          this.$Notice.error({
            title: `第${item.INDEX}筆`,
            desc: '"目的庫存"未填',
            duration: 30
          })
        }
        if (!item.toStorageLoc.storage_id || item.toStorageLoc.storage_id === '') {
          isError = true
          // 提示
          this.$Notice.error({
            title: `第${item.INDEX}筆`,
            desc: '"目的儲位"未填',
            duration: 30
          })
        }
        if (isError) {
          return
        }
        //
        simpleProcessingRepeatConfirmDetailsList.push(item)
      })
      if (isError) {
        // console.log('擋住')
        return
      }
      this.simpleProcessingRepeatConfirmDetailsList = simpleProcessingRepeatConfirmDetailsList
      // console.log(this.simpleProcessingRepeatConfirmDetailsList)
      this.repeatConfirmModal = true
    },
    cancel: function () {
      this.simpleProcessingRepeatConfirmDetailsList = null
      this.repeatConfirmModal = false
    },
    save: async function (action = null) {
      // console.log(this.simpleProcessingDetailsList)
      //
      try {
        var saveFail = false
        let simpleProcessingDetailsListLength = this.simpleProcessingDetailsList.length
        let ids = []
        let reIds = []
        let arryLengthMinusOne = simpleProcessingDetailsListLength - 1
        let successList = []
        for (let i = 0; i < simpleProcessingDetailsListLength; i++) {
          ids.push(this.simpleProcessingDetailsList[i].inventory_id)
        }
        ids.filter((item, index, arr) => {
          if (arryLengthMinusOne !== index && !item) {
            // console.log(index)
            // console.log('重複')
            reIds.push(item)
            return false
          }
          if (arr.indexOf(item) !== index) {
            console.log(index)
            console.log('重複2')
            this.$Notice.error({
              title: `第${this.simpleProcessingDetailsList[index].INDEX}筆`,
              desc: '為重複來源，請變更來源商品料號或移除',
              duration: 30
            })
            reIds.push(item)
          }
          return arr.indexOf(item) === index
        })
        if (reIds.length > 0) {
          this.saveDisabled = false
          this.LoadingViewIsShow = false
          this.$emit('changeLoadingViewIsShowEvent', false)
          return
        }
        // console.log(ids)
        for (let i = 0; i < simpleProcessingDetailsListLength; i++) {
          let postData = {
            user_id: this.userId,
            func_name: 'simple_processing',
            // order_type: 'order_type_simple_processing',
            from_company_id: this.companyId, // 來源公司
            from_wh_id: this.whId, // 來源倉庫
            from_owner_id: this.simpleProcessingDetailsList[i].fromOwnerId.customer_id, // 來源貨主
            from_inventory: [
              {
                inbound_id: this.simpleProcessingDetailsList[i].inbound_id, // 來源入庫單
                inventory_id: this.simpleProcessingDetailsList[i].inventory_id, // 來源庫存明細
                to_product_code: this.simpleProcessingDetailsList[i].toProduct.product_code, // 目的商品料號
                from_stock_num: this.simpleProcessingDetailsList[i].product_quality ? parseInt(this.simpleProcessingDetailsList[i].from_stock_num) : null, // 加工數量(良品)
                from_stock_num_bad: this.simpleProcessingDetailsList[i].product_quality ? null : parseInt(this.simpleProcessingDetailsList[i].from_stock_num), // 加工數量(不良品)
                to_stock_num: this.simpleProcessingDetailsList[i].product_quality ? parseInt(this.simpleProcessingDetailsList[i].to_stock_num) : null, // 目的庫存(良品)
                to_stock_num_bad: this.simpleProcessingDetailsList[i].product_quality ? null : parseInt(this.simpleProcessingDetailsList[i].to_stock_num), // 目的庫存(不良品)
                to_stock_loc: this.simpleProcessingDetailsList[i].product_quality ? this.simpleProcessingDetailsList[i].toStorageLoc.storage_id : null, // 目的儲位(良品)
                to_stock_loc_bad: this.simpleProcessingDetailsList[i].product_quality ? null : this.simpleProcessingDetailsList[i].toStorageLoc.storage_id // 目的儲位(不良品)
              }
            ],
            to_company_id: this.companyId, // 目的公司
            to_wh_id: this.whId, // 目的倉庫
            to_owner_id: this.simpleProcessingDetailsList[i].fromOwnerId.customer_id // 目的貨主
          }
          if (this.simpleProcessingDetailsList[i].to_product_batch_no) {
            postData.from_inventory[0].to_product_batch_no = this.simpleProcessingDetailsList[i].to_product_batch_no
          }
          if (this.simpleProcessingDetailsList[i].to_product_expired_date) {
            if (this.simpleProcessingDetailsList[i].to_product_expired_date instanceof Date) {
              let newProductManufactured = new Date(this.simpleProcessingDetailsList[i].to_product_expired_date)
              let yyyy = newProductManufactured.getFullYear()
              let mm = newProductManufactured.getMonth() + 1
              let dd = newProductManufactured.getDate()
              let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              postData.from_inventory[0].to_product_expired_date = localFilterStartTime
            } else {
              postData.from_inventory[0].to_product_expired_date = this.simpleProcessingDetailsList[i].to_product_expired_date // 目的有效日期
            }
          }
          if (this.simpleProcessingDetailsList[i].to_inventory_note) {
            postData.from_inventory[0].to_inventory_note = this.simpleProcessingDetailsList[i].to_inventory_note
          }
          if (this.simpleProcessingDetailsList[i].to_inventory_lottable1) {
            postData.from_inventory[0].to_inventory_lottable1 = this.simpleProcessingDetailsList[i].to_inventory_lottable1
          }
          if (this.simpleProcessingDetailsList[i].to_inventory_lottable2) {
            postData.from_inventory[0].to_inventory_lottable2 = this.simpleProcessingDetailsList[i].to_inventory_lottable2
          }
          if (this.simpleProcessingDetailsList[i].to_inventory_lottable3) {
            postData.from_inventory[0].to_inventory_lottable3 = this.simpleProcessingDetailsList[i].to_inventory_lottable3
          }
          if (this.simpleProcessingDetailsList[i].to_inventory_lottable4) {
            postData.from_inventory[0].to_inventory_lottable4 = this.simpleProcessingDetailsList[i].to_inventory_lottable4
          }
          if (this.simpleProcessingDetailsList[i].to_inventory_lottable5) {
            postData.from_inventory[0].to_inventory_lottable5 = this.simpleProcessingDetailsList[i].to_inventory_lottable5
          }
          // console.log(postData)
          this.saveDisabled = true
          let Res = await this.$store.dispatch('simpleProcessing/create', postData)
          // console.log(Res)
          if (Res.httpStatus === 200 || Res.httpStatus === 201) {
            successList.push(i)
            this.saveDisabled = false
          } else if (Res.httpStatus !== 401) {
            saveFail = true
            this.saveDisabled = false
            this.$Notice.error({
              title: `第${this.simpleProcessingDetailsList[i].INDEX}筆，簡易加工失敗`
            })
          }
        }
        // console.log(saveFail)
        if (!saveFail) {
          this.$Notice.success({
            title: '簡易加工成功'
          })
          this.repeatConfirmModal = false
          this.simpleProcessingRepeatConfirmDetailsList = null
          this.$emit('backEvent', 0)
        } else {
          let reversed = successList.reverse()
          this.$refs.setSimpleProcessingDetailsList.setSimpleProcessingDetailsList('saveFail', reversed)
          this.repeatConfirmModal = false
          this.simpleProcessingRepeatConfirmDetailsList = null
        }
        this.saveDisabled = false
        this.LoadingViewIsShow = false
        this.$emit('changeLoadingViewIsShowEvent', false)
      } catch (error) {
        // console.log(error)
        this.saveDisabled = false
        this.LoadingViewIsShow = false
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    initPostData: function () {
      this.postData = {
        inbound_id: null, // 入庫單
        inventory_id: null, // 入庫明細
        fromOwnerId: this.ownerId || null, // 來源貨主
        from_owner_name: this.ownerName || '', // 來源貨主名稱
        product_quality: 1, // 良品/不良品
        fromProduct: null, // 來源商品ID
        from_product_code: '', // 來源商品料號
        from_product_name: null, // 來源商品名稱
        storage_loc_storage_code: null, // 來源儲位
        stock_num: null, // 來源庫存
        from_stock_num: null, // 加工數量
        toWhId: this.whId || null, // 目的倉庫ID
        to_wh_name: this.whName || '', // 目的倉庫
        toOwnerId: this.ownerId || null, // 目的貨主ID
        to_owner_name: this.ownerName || '', // 目的貨主
        toProduct: null, // 目的商品ID
        to_product_code: '', // 目的商品料號
        to_product_name: null, // 目的商品名稱
        toStorageLoc: null, // 目的儲位ID
        to_storage_code: '', // 目的儲位
        to_stock_num: null, // 目的庫存
        to_product_batch_no: null, // 目的批號
        to_product_expired_date: null, // 目的有效日期
        to_inventory_note: null, // 目的庫存紀錄備註
        to_inventory_lottable1: null, // 目的屬性1
        to_inventory_lottable2: null, // 目的屬性2
        to_inventory_lottable3: null, // 目的屬性3
        to_inventory_lottable4: null, // 目的屬性4
        to_inventory_lottable5: null // 目的屬性5
      }
      this.error = {
        fromOwnerId: false, // 來源貨主
        fromProduct: false, // 來源商品料號
        from_product_name: false, // 來源商品名稱
        storage_loc_storage_code: false, // 來源儲位
        stock_num: false, // 來源庫存
        from_stock_num: false, // 加工數量
        toWhId: false, // 目的倉庫
        toOwnerId: false, // 目的貨主
        toProduct: false, // 目的商品
        toStorageLoc: false, // 目的儲位
        to_stock_num: false, // 目的庫存
        to_product_batch_no: false, // 目的批號
        to_product_expired_date: false, // 目的有效日期
        to_inventory_note: false // 目的庫存紀錄備註
      }
    },
    init: function () {
      this.simpleProcessingDetailsList = []
      this.$refs.setSimpleProcessingDetailsList.setSimpleProcessingDetailsList('init')
      this.simpleProcessingRepeatConfirmDetailsList = []
      this.$refs.initSimpleProcessingRepeatConfirmDetailsList.initSimpleProcessingRepeatConfirmDetailsList()
    },
    setAddModalEvent: function (bol) {
      this.addModal = bol
      if (!bol) {
        this.initPostData()
      }
    },
    addTransferSetupDetailsList: function () {
      // 檢查
      var isError = false
      if (!this.postData.fromOwnerId || this.postData.fromOwnerId === '') {
        isError = true
        this.error.fromOwnerId = true
      }
      if (!this.postData.fromProduct || this.postData.fromProduct === '') {
        isError = true
        this.error.fromProduct = true
      }
      if (!this.postData.toProduct || this.postData.toProduct === '') {
        isError = true
        this.error.toProduct = true
      }
      if (!this.postData.from_stock_num || this.postData.from_stock_num === '') {
        isError = true
        this.error.from_stock_num = true
        this.errorMsgFromStockNum = '"加工數量"未填'
      }
      if (this.postData.from_stock_num && this.postData.from_stock_num < 0) {
        isError = true
        this.error.from_stock_num = true
        this.errorMsgFromStockNum = '"加工數量"不可為負'
      }
      if (this.postData.from_stock_num && this.postData.from_stock_num !== '' && this.postData.stock_num < this.postData.from_stock_num) {
        isError = true
        this.error.from_stock_num = true
        this.errorMsgFromStockNum = '"加工數量"請小於"來源庫存"'
      }
      if (!this.postData.to_stock_num || this.postData.to_stock_num === '') {
        isError = true
        this.error.to_stock_num = true
        this.errorMsgToStockNum = '"目的庫存"未填'
      }
      if (this.postData.to_stock_num && this.postData.to_stock_num < 0) {
        isError = true
        this.error.to_stock_num = true
        this.errorMsgToStockNum = '"目的庫存"不可為負'
      }
      if (!this.postData.toStorageLoc) {
        isError = true
        this.error.toStorageLoc = true
      }
      if (isError) {
        return
      }
      // 新增到列表
      this.$refs.setSimpleProcessingDetailsList.setSimpleProcessingDetailsList('add', this.postData)
      this.initPostData()
      this.$Notice.success({
        title: '新增成功',
        desc: '請繼續新增下一筆資料，如不繼續新增請關閉視窗並點選右下角儲存按鈕',
        duration: 30
      })
    },
    /* 來源貨主 : fromOwnerId */
    autocompleteHandleFromOwnerIdEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.fromOwnerIdList = []
    },
    fromOwnerIdAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.fromOwnerId = data.val ? data.val.customer_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.fromOwnerIdList = [data.val]
      } else {
        this.fromOwnerIdList = []
      }
    },
    fromOwnerIdAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 1 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.fromOwnerIdList = list
        }
      })
    },
    setAutocompleteFromOwnerIdValue: function (data) {
      // console.log(data)
      //
      this.postData.from_product_name = data.data[data.returnCode]
      this.postData.fromOwnerId = data.data.customer_id
      //
      this.toCloseFromOwnerIdAutocompleteModal = true
    },
    setToCloseFromOwnerIdAutocompleteModal: function (bol) {
      this.toCloseFromOwnerIdAutocompleteModal = bol
    },
    /* 來源商品料號  fromProduct */
    autocompleteHandleFromProductEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.fromProductList = []
    },
    fromProductAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : null
        this.postData.fromProduct = data.val ? data.val.product_id : null
        this.postData.from_product_name = data.val ? data.val.product_name : null
        // 設定其他資料處
        this.postData.inbound_id = data.val.inbound_id
        this.postData.inventory_id = data.val.inventory_id
        if (this.postData.product_quality === 1) {
          this.postData.storage_loc_storage_code = data.val.storage_loc_storage_code
          this.postData.stock_num = data.val.stock_num
        } else {
          this.postData.storage_loc_storage_code = data.val.storage_loc_bad_storage_code
          this.postData.stock_num = data.val.stock_num_bad
        }
      }
      // console.log([data.val])
      if (data.val) {
        this.fromProductList = [data.val]
      } else {
        this.fromProductList = []
      }
    },
    fromProductAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      if (!this.postData.fromOwnerId) {
        return
      }
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, ownerId: this.postData.fromOwnerId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`inventory`]
          //
          this.fromProductList = list
        }
      })
    },
    setAutocompleteFromProductValue: function (data) {
      // console.log(data)
      this.postData.from_product_code = data.data[data.returnCode]
      this.postData.fromProduct = data.data.product_id
      this.postData.from_product_name = data.data.product_name
      this.postData.inbound_id = data.data.inbound_id
      this.postData.inventory_id = data.data.inventory_id
      if (this.postData.product_quality === 1) {
        this.postData.storage_loc_storage_code = data.data.storage_loc_storage_code
        this.postData.stock_num = data.data.stock_num
      } else {
        this.postData.storage_loc_storage_code = data.data.storage_loc_bad_storage_code
        this.postData.stock_num = data.data.stock_num_bad
      }
      //
      // console.log(this.postData)
      this.toCloseFromProductAutocompleteModal = true
    },
    setToCloseFromProductAutocompleteModal: function (bol) {
      this.toCloseFromProductAutocompleteModal = bol
    },
    /* 目的商品料號  toProduct */
    autocompleteHandleToProductEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.toProductList = []
    },
    toProductAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : null
        this.postData.toProduct = data.val ? data.val.product_id : null
        this.postData.to_product_name = data.val ? data.val.product_name : null
      }
      // console.log([data.val])
      if (data.val) {
        this.toProductList = [data.val]
      } else {
        this.toProductList = []
      }
    },
    toProductAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      if (!this.postData.fromOwnerId) {
        return
      }
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, ownerId: this.postData.fromOwnerId }).then((r) => {
        console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          let list = r.respondCode.additionals[`product`]
          //
          this.toProductList = list
        }
      })
    },
    setAutocompleteToProductValue: function (data) {
      // console.log(data)
      this.postData.to_product_code = data.data[data.returnCode]
      this.postData.toProduct = data.data.product_id
      this.postData.to_product_name = data.data.product_name
      //
      // console.log(this.postData)
      this.toCloseToProductAutocompleteModal = true
    },
    setToCloseToProductAutocompleteModal: function (bol) {
      this.toCloseToProductAutocompleteModal = bol
    },
    /* 目的儲位 toStorageLoc */
    autocompleteHandleToStorageEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.toStorageList = []
    },
    toStorageAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.toStorageLoc = data.val ? data.val.storage_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.toStorageList = [data.val]
      } else {
        this.toStorageList = []
      }
    },
    toStorageAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: [{ sortField: 'storage_code', sortValue: 'asc' }]
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`storage`]
          //
          this.toStorageList = list
        }
      })
    },
    setAutocompleteToStorageValue: function (data) {
      // console.log(data)
      //
      this.postData.to_storage_code = data.data[data.returnCode]
      this.postData.toStorageLoc = data.data.storage_id
      //
      this.toCloseToStorageAutocompleteModal = true
    },
    setToCloseToStorageAutocompleteModal: function (bol) {
      this.toCloseToStorageAutocompleteModal = bol
    },
    /* 良品/不良品 */
    productQualityListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`simpleProcessing/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
/deep/.ivu-modal-wrap {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
  }
  .button-box {
    display: flex;
    justify-content: center;
    .modal-btn {
      min-width: 96px;
      font-size: 16px;
      padding-top: 1px;
      padding-bottom: 1px;
      &.dark {
        background-color: #354361;
        color: #ffffff;
      }
    }
  }
}
.addModal {
  .row {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    .col {
      flex: 0 0 25%;
      height: auto;
      margin-bottom: 1.3rem;
      padding-right: 3rem;
      display: flex;
      align-items: center;
      &.colx2 {
        flex: 0 0 50%;
      }
      &.iswitch {
        display: block;
        .label-box {
          font-size: 12px;
          color: #333333;
          padding-bottom: 10px;
        }
        .body-box {
          display: block;
        }
      }
    }
  }
  .modal-body {
    height: 430px;
    overflow-y: scroll;
  }
}
</style>
