<template>
  <div class="SimpleProcessingDetails">
    <!-- 按鈕區 -->
    <Button type="primary" @click="setAddModalEvent">新增</Button>&nbsp;
    <Button type="primary" @click="getIds('remove')">刪除</Button>
    <!-- 分隔線 -->
    <DataGrid
    idKeyName="transfer_id"
    :logicalOperator="logicalOperator"
    :hideFilter="true"
    :hidePage="true"
    :settingData="settingData"
    :gridData="gridData"
    :toGetIds="toGetIds"
    :isQuery="isQuery"
    @moveColEvent="moveColEvent"
    @removeColEvent="removeColEvent"
    @sortEvent="sortEvent"
    @filterEvent="filterEvent"
    @getIdsEvent="getIdsEvent"
    @getDetailEvent="getDetailEvent"
    @pageChangeEvent="pageChangeEvent"
    @pageSizeChangeEvent="pageSizeChangeEvent"
    @scrollEvent="scrollEvent"></DataGrid>
  </div>
</template>

<script>
import DataGrid from '@/components/dataGrid/DataGrid'
export default {
  name: 'SimpleProcessingDetails',
  props: ['data', 'detailId', 'companyId', 'whId'],
  components: {
    DataGrid
  },
  data () {
    // 定義用
    var settingData = []
    var defaultSettingData = {
      isOverview: false, // 總纜
      page: {
        pageSize: 50, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#1565C0',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#E3F2FD',
        rowEvenColor: '#777777',
        editCelColor: 'rgb(255, 225, 225)',
        waitEditCelColor: '#FFFFFF',
        notEditCelColor: '#EFEFEF'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'fromOwnerId',
          displayName: '貨主',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'customerSetup',
            storeKey: 'customerByCmpCat',
            returnCode: 'customer_name',
            respondCode: 'customer',
            showCols: [
              'customer_no'
            ],
            dispatchPath: 'customerByCmpCat/search',
            condition: [],
            modalTitle: '貨主'
          },
          apiUrlCondition: { companyId: this.companyId, whId: this.whId, customerCat: 1 }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_quality',
          displayName: '良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'fromProduct',
          displayName: '商品料號*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'inventory',
            storeKey: 'inventoryQueryFiftyByOwner',
            returnCode: 'product_code',
            respondCode: 'inventory',
            showCols: [
              'product_name'
            ],
            dispatchPath: 'inventoryQueryFiftyByOwner/search',
            condition: [],
            modalTitle: '商品料號'
          },
          // apiUrlCondition: { companyId: this.companyId, whId: this.whId, ownerId: 4 }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          hiddenSearchBtn: false,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '300px',
          editable: true, // 資料在本欄位下是否可以被編輯
          inputDisabled: true, // 輸入框不可編輯 true / 可 false
          searchDisabled: false // 放大鏡不可點擊 true / 可 false
        },
        {
          property: 'from_product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storage_loc_storage_code',
          displayName: '來源儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'stock_num',
          displayName: '來源庫存',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_stock_num',
          displayName: '加工數量 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        // {
        //   property: 'toOwnerId',
        //   displayName: '目的貨主',
        //   isOpt: false,
        //   filterType: 'Input', // Input, Select, Daterange, Checkbox
        //   filterData: null,
        //   filterFormat: null,
        //   valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
        //   autoCompleteSearch: {
        //     optionValue: 'id',
        //     keyCode: 'customerSetup',
        //     storeKey: 'customerByCmpCat',
        //     returnCode: 'customer_name',
        //     respondCode: 'customer',
        //     showCols: [
        //       'customer_no'
        //     ],
        //     dispatchPath: 'customerByCmpCat/search',
        //     condition: [],
        //     modalTitle: '目的貨主'
        //   },
        //   apiUrlCondition: { companyId: this.companyId, whId: this.whId, customerCat: 1 },
        //   hiddenSearchBtn: true, // AutoComplete or NewAutoComplete 是否顯示放大鏡
        //   valueFormat: null,
        //   sortToggle: true, // 是否可排序
        //   sortValue: null, // null, asc, desc
        //   isNotRemove: true,
        //   resizeToggle: true, // 是否可resize
        //   minWidth: '200px',
        //   editable: true // 資料在本欄位下是否可以被編輯
        // },
        {
          property: 'toProduct',
          displayName: '目的商品料號 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'goodsSetup',
            storeKey: 'withoutInProductRelationParent',
            returnCode: 'product_code',
            respondCode: 'product',
            showCols: [
              'product_name'
            ],
            dispatchPath: 'withoutInProductRelationParent/search',
            condition: [],
            modalTitle: '商品料號'
          },
          // apiUrlCondition: { companyId: this.companyId, whId: this.whId, ownerId: 4 }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          hiddenSearchBtn: false,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '300px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_name',
          displayName: '目的商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'toStorageLoc',
          displayName: '目的儲位 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storageQueryByWhId',
            returnCode: 'storage_code',
            respondCode: 'storage',
            showCols: [],
            dispatchPath: 'storageQueryByWhId/query',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '目的儲位'
          },
          apiUrlCondition: { whId: this.whId }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_stock_num',
          displayName: '目的庫存 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_batch_no',
          displayName: '目的批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_expired_date',
          displayName: '目的有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_inventory_note',
          displayName: '目的庫存紀錄備註',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_inventory_lottable1',
          displayName: '目的屬性1',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_inventory_lottable2',
          displayName: '目的屬性2',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_inventory_lottable3',
          displayName: '目的屬性3',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_inventory_lottable4',
          displayName: '目的屬性4',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_inventory_lottable5',
          displayName: '目的屬性5',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    settingData = defaultSettingData
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      isScrollToBottom: false,
      //
      ownerId: ownerId,
      ownerName: ownerName,
      productQualityFilterData: [] // 良品/不良品
    }
  },
  watch: {
    gridData: {
      handler: function (val) {
        //
        // console.log(val)
        // 來源商品
        val.forEach((item, index) => {
          val[index].from_product_name = val[index].fromProduct.product_name
          val[index].to_product_name = val[index].toProduct.product_name
          if (val[index].product_quality) {
            if (val[index].fromProduct.stock_num !== undefined) {
              val[index].stock_num = val[index].fromProduct.stock_num
            }
            if (val[index].fromProduct.storage_loc !== undefined) {
              val[index].storage_loc = val[index].fromProduct.storage_loc
            }
            if (val[index].fromProduct.storage_loc_storage_code !== undefined) {
              val[index].storage_loc_storage_code = val[index].fromProduct.storage_loc_storage_code
            }
          } else {
            if (val[index].fromProduct.stock_num_bad !== undefined) {
              val[index].stock_num = val[index].fromProduct.stock_num_bad
            }
            if (val[index].fromProduct.storage_loc_bad !== undefined) {
              val[index].storage_loc = val[index].fromProduct.storage_loc_bad
            }
            if (val[index].fromProduct.storage_loc_bad_storage_code !== undefined) {
              val[index].storage_loc_storage_code = val[index].fromProduct.storage_loc_bad_storage_code
            }
          }
          if (val[index].fromProduct.inbound_id !== undefined) {
            val[index].inbound_id = val[index].fromProduct.inbound_id
          }
          if (val[index].fromProduct.inventory_id !== undefined) {
            val[index].inventory_id = val[index].fromProduct.inventory_id
          }
          //
          this.settingData.columns.forEach((itm, idx) => {
            if (item.fromOwnerId.customer_id && (itm.property === 'fromProduct')) {
              this.settingData.columns[idx].apiUrlCondition = { companyId: this.companyId, whId: this.whId, ownerId: item.fromOwnerId.customer_id }
            }
            if (item.fromOwnerId.customer_id && (itm.property === 'toProduct')) {
              this.settingData.columns[idx].apiUrlCondition = { companyId: this.companyId, whId: this.whId, ownerId: item.fromOwnerId.customer_id }
            }
          })
        })
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    productQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'product_quality') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        obd_id: null,
        fromOwnerId: {
          customer_id: this.ownerId,
          customer_name: this.ownerName,
          customer_no: ''
        },
        product_quality: 1,
        fromProduct: {},
        from_stock_num: null,
        toProduct: {},
        toStorageLoc: {},
        to_stock_num: null,
        to_product_batch_no: null,
        to_product_expired_date: null,
        to_inventory_note: null,
        to_inventory_lottable1: null,
        to_inventory_lottable2: null,
        to_inventory_lottable3: null,
        to_inventory_lottable4: null,
        to_inventory_lottable5: null
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    setAddModalEvent: function () {
      this.$emit('setAddModalEvent', true)
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            if (_item) {
              // console.log(item.INDEX)
              // if (item.transfer_id && item.transfer_id !== '') {
              //   this.remove(item.transfer_id)
              // }
              return false
            } else {
              return true
            }
          })
          // console.log(this.gridData)
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // 良品/不良品 product_quality
    getProductQualityFilterData: function () {
      this.productQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    setSimpleProcessingDetailsList: function (type, data) {
      // console.log(type)
      // console.log(data)
      switch (type) {
        case 'init':
          // console.log('init')
          this.gridData = []
          break
        case 'add':
          // console.log('add')
          // console.log(data)
          // console.log(data.from_product_name)
          let INDEX = this.gridData.length + 1
          this.gridData.push({
            INDEX: INDEX, // 流水號
            SELECT: false,
            obd_id: null,
            fromOwnerId: {
              customer_id: data.fromOwnerId,
              customer_name: data.from_owner_name,
              customer_no: ''
            },
            product_quality: data.product_quality,
            fromProduct: {
              product_id: data.fromProduct,
              product_code: data.from_product_code,
              product_name: data.from_product_name,
              inbound_id: data.inbound_id,
              inventory_id: data.inventory_id,
              stock_num: data.product_quality ? data.stock_num : null,
              stock_num_bad: data.product_quality ? null : data.stock_num,
              storage_loc_storage_code: data.product_quality ? data.storage_loc_storage_code : null,
              storage_loc_bad_storage_code: data.product_quality ? null : data.storage_loc_storage_code
            },
            from_product_name: data.from_product_name,
            stock_num: data.stock_num,
            from_stock_num: data.from_stock_num,
            toProduct: {
              product_id: data.toProduct,
              product_code: data.to_product_code,
              product_name: data.to_product_name
            },
            to_product_name: data.to_product_name,
            toStorageLoc: {
              storage_id: data.toStorageLoc,
              storage_code: data.to_storage_code
            },
            to_stock_num: data.to_stock_num,
            to_product_batch_no: data.to_product_batch_no,
            to_product_expired_date: data.to_product_expired_date,
            to_inventory_note: data.to_inventory_note,
            to_inventory_lottable1: data.to_inventory_lottable1,
            to_inventory_lottable2: data.to_inventory_lottable2,
            to_inventory_lottable3: data.to_inventory_lottable3,
            to_inventory_lottable4: data.to_inventory_lottable4,
            to_inventory_lottable5: data.to_inventory_lottable5
          })
          console.log(this.gridData)
          break
        case 'saveFail':
          let dataLength = data.length
          let gridData = this.gridData
          for (let i = 0; i < dataLength; i++) {
            gridData.splice(data[i], 1)
          }
          console.log(gridData)
          let gridDataLength = gridData.length
          for (let i = 0; i < gridDataLength; i++) {
            gridData.INDEX = i + 1
          }
          this.gridData = gridData
          break
      }
    },
    //
    getGridData: function () {
      this.isQuery = true
      //
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'transfer_id',
            queryValue: this.detailId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch('simpleProcessing/search', { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        if (r) {
          // console.log(r)
          this.gridData = r.respondCode.additionals.transfer
          this.gridData.forEach((ele, idx) => {
            ele.INDEX = (idx + 1)
            ele.SELECT = false
            ele.fromOwnerId = {
              customer_id: ele.from_owner_id || null,
              customer_name: ele.from_owner_name || '',
              customer_no: ele.from_owner_no || ''
            }
            ele.fromProduct = {
              product_id: ele.from_product_id || null,
              product_code: ele.from_product_code || ''
            }
            ele.toStorageLoc = {
              storage_id: ele.to_stock_loc || null,
              storage_code: ele.to_stock_loc_code || ''
            }
            ele.toStorageLocBad = {
              storage_id: ele.to_stock_loc_bad || null,
              storage_code: ele.to_stock_loc_bad_code || ''
            }
          })
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    //
    this.getProductQualityFilterData()
    // if (this.detailId && this.detailId !== '') {
    //   // 取得清單
    //   this.getGridData()
    // }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.SimpleProcessingDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
    background-color: #fff;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 235px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
</style>
