<template>
  <div class="content-box">
    <div class="top-box pt-2">
      <div class="row">
        <div class="col">
          <!-- 原儲位 * before_storage_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.before_storage_code && postData.before_storage_code!==''),
              label: `原儲位 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41}}"
            :code="`before_storage_code`"
            :autoCompleteData="beforeStorageList"
            :defaultValue="postData.before_storage_code"
            :modalTitle="`原儲位 *`"
            :toCloseModal="toCloseBeforeStorageAutocompleteModal"
            keyCode="inventoryQueryByStorage"
            storeKey="stockByStorage"
            returnCode="storage_code"
            :showCols="autoCompleteShowBeforeStorageCols"
            :isError="error.before_storage_id"
            :isRequired="true"
            :disabled="false"
            @handleEnterSubmit="autocompleteHandleBeforeStorageEnterSubmitEvent"
            @changeModelEvent="beforeStorageAutocompleteChangeEvent"
            @autoCompleteSearchEvent="beforeStorageAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseBeforeStorageAutocompleteModal">
              <div>
                <!-- 原儲位 *-->
                <AutocompleteModal
                keyCode="inventoryQueryByStorage"
                storeKey="stockByStorage"
                returnCode="storage_code"
                :condition="beforeStorageCondition"
                :baseCondition="beforeStorageBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteBeforeStorageValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 商品料號 product_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.product_code && postData.product_code!==''),
              label: `商品料號`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41}}"
            :code="`product_code`"
            :autoCompleteData="productList"
            :defaultValue="postData.product_code"
            :modalTitle="`商品料號`"
            :toCloseModal="toCloseProductAutocompleteModal"
            keyCode="inventoryQueryByStorage"
            storeKey="stockByStorage"
            returnCode="product_code"
            :showCols="autoCompleteShowProductCols"
            :disabled="false"
            @handleEnterSubmit="autocompleteHandleProductEnterSubmitEvent"
            @changeModelEvent="productAutocompleteChangeEvent"
            @autoCompleteSearchEvent="productAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseProductAutocompleteModal">
              <div>
                <!-- 商品料號-->
                <AutocompleteModal
                keyCode="inventoryQueryByStorage"
                storeKey="stockByStorage"
                returnCode="product_code"
                :condition="productCondition"
                :baseCondition="productBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteProductValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 商品名稱 product_name -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.product_name!== null && postData.product_name!==''),
              label: `商品名稱`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`product_name`"
            :defaultValue="postData.product_name"
            :disabled="true"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 原庫存量 after_stock_num -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.after_stock_num!== null && postData.after_stock_num!==''),
              label: `原庫存量`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`after_stock_num`"
            :defaultValue="postData.after_stock_num"
            :disabled="true"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- 新儲位 * after_storage_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.after_storage_code && postData.after_storage_code!==''),
              label: `新儲位 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41}}"
            :code="`after_storage_code`"
            :autoCompleteData="afterStorageList"
            :defaultValue="postData.after_storage_code"
            :modalTitle="`新儲位 *`"
            :toCloseModal="toCloseAfterStorageAutocompleteModal"
            keyCode="storageSetup"
            storeKey="storage"
            returnCode="storage_code"
            :showCols="autoCompleteShowAfterStorageCols"
            :isError="error.after_storage_id"
            :isRequired="true"
            :disabled="false"
            @handleEnterSubmit="autocompleteHandleAfterStorageEnterSubmitEvent"
            @changeModelEvent="afterStorageAutocompleteChangeEvent"
            @autoCompleteSearchEvent="afterStorageAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseAfterStorageAutocompleteModal">
              <div>
                <!-- 新儲位 *-->
                <AutocompleteModal
                keyCode="storageSetup"
                storeKey="storage"
                returnCode="storage_code"
                :condition="afterStorageCondition"
                :baseCondition="afterStorageBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteAfterStorageValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 新庫存量 before_stock_num -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.before_stock_num!== null && postData.before_stock_num!==''),
              label: `新庫存量`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`before_stock_num`"
            :defaultValue="postData.before_stock_num"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 異動(良品/不良品) product_quality -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.product_quality!==''),
              label: `異動(良品/不良品)`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="productQualityList"
            :code="`product_quality`"
            :defaultValue="postData.product_quality"
            :isError="error.product_quality"
            :isRequired="true"
            :disabled="true"
            @changeModelEvent="productQualityListChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="history-box" v-show="historyData.slc_id">
        <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">上一次儲位異動紀錄</div>
        <div class="d-flex">
          <ul class="list-unstyled text-right mr-3">
            <li class="mb-2">原儲位 :</li>
            <li class="mb-2">商品料號 :</li>
            <li class="mb-2">商品名稱 :</li>
            <li class="mb-2">原庫存量 :</li>
            <li class="mb-2">新儲位 :</li>
            <li class="mb-2">新庫存量 :</li>
            <li class="mb-2">良品/不良品 :</li>
          </ul>
          <ul class="list-unstyled">
            <li class="mb-2">{{ historyData.before_storage_code }}</li>
            <li class="mb-2">{{ historyData.product_code }}</li>
            <li class="mb-2">{{ historyData.product_name }}</li>
            <li class="mb-2">{{ historyData.after_stock_num }}</li>
            <li class="mb-2">{{ historyData.after_storage_code }}</li>
            <li class="mb-2">{{ historyData.before_stock_num }}</li>
            <li class="mb-2">{{ historyData.product_quality }}</li>
          </ul>
        </div>
      </div>
    </div>
    <Modal v-model="repeatConfirmModal" width="800" :footer-hide="true" class="repeatConfirmModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <h2 class="title">
          <span class="title-text">儲位異動結果預覽</span>
        </h2>
        <p>請確認資料內容無誤</p>
        <ul>
          <li class="highLight">
            <span class="label">原儲位 :</span>
            <span class="value ">{{ postData.before_storage_code }}</span>
          </li>
          <li class="highLight">
            <span class="label">商品料號 :</span>
            <span class="value ">{{ postData.product_code }}</span>
          </li>
          <li>
            <span class="label">商品名稱 :</span>
            <span class="value ">{{ postData.product_name }}</span>
          </li>
          <li>
            <span class="label">原庫存量 :</span>
            <span class="value ">{{ postData.after_stock_num }}</span>
          </li>
          <li class="highLight">
            <span class="label">新儲位 :</span>
            <span class="value ">{{ postData.after_storage_code }}</span>
          </li>
          <li class="highLight">
            <span class="label">新庫存量 :</span>
            <span class="value ">{{ postData.before_stock_num }}</span>
          </li>
          <li>
            <span class="label">異動(良品/不良品) :</span>
            <span class="value ">{{ postData.product_quality === 1 ? '良品' : postData.product_quality === 0 ? '不良品' : '不設定' }}</span>
          </li>
        </ul>
        <div class="button-box d-flex mt-3">
          <Button class="best-gray mr-3" shape="circle" size="large" @click="cancel">取消</Button>
          <Button class="best-blue w-100" shape="circle" size="large" @click="save" :disabled="saveDisabled">確認儲位異動</Button>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
//
export default {
  name: 'StorageChangeSetupAdd',
  props: ['step', 'detailId'],
  components: {
    FloatLabelBox,
    AutocompleteModal
  },
  data () {
    //
    return {
      Config: Config,
      userId: this.$store.state.auth.userInfo.userId,
      // 重複確認Modal
      repeatConfirmModal: false,
      /* 原儲位 : before_storage_id */
      beforeStorageList: [],
      autoCompleteShowBeforeStorageCols: [
      ],
      toCloseBeforeStorageAutocompleteModal: false,
      beforeStorageCondition: [],
      beforeStorageBaseCondition: [],
      /* 商品編號 : product_id */
      productList: [],
      autoCompleteShowProductCols: [
        'product_name'
      ],
      toCloseProductAutocompleteModal: false,
      productCondition: [],
      productBaseCondition: [],
      /* 新儲位 : after_storage_id */
      afterStorageList: [],
      autoCompleteShowAfterStorageCols: [
      ],
      toCloseAfterStorageAutocompleteModal: false,
      afterStorageCondition: [],
      afterStorageBaseCondition: [],
      /* 異動(良品/不良品) : product_quality */
      productQualityList: [],
      //
      postData: {
        slc_id: null,
        product_code: null, // 商品料號
        product_name: null, // 商品名稱
        product_id: null, // 商品ID
        before_storage_id: null, // 原儲位ID
        before_storage_code: null, // 原儲位
        product_quality: '不設定', // 良品/不良品
        after_storage_id: null, // 新儲位
        after_storage_code: null, // 新儲位ID
        before_stock_num: null, // 新庫存量
        after_stock_num: null // 原庫存量
      },
      error: {
        slc_id: false,
        product_code: false, // 商品料號
        product_name: false, // 商品名稱
        product_id: false, // 商品ID
        before_storage_id: false, // 原儲位ID
        before_storage_code: false, // 原儲位
        product_quality: false, // 良品/不良品
        after_storage_id: false, // 新儲位
        after_storage_code: false, // 新儲位ID
        before_stock_num: false, // 新庫存
        after_stock_num: false // 原庫存量
      },
      //
      saveDisabled: false, // 避免使用者點兩次，造成異動兩次
      historyData: {
        slc_id: null,
        product_code: null, // 商品料號
        product_name: null, // 商品名稱
        before_storage_code: null, // 原儲位
        product_quality: '不設定', // 良品/不良品
        after_storage_code: null, // 新儲位
        before_stock_num: null, // 新庫存量
        after_stock_num: null // 原庫存量
      }
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    storageChange: function () {
      return this.$store.state[`storageChange`][`storageChange`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    storageChange: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.before_storage_id) {
          this.error.before_storage_id = false
        }
        if (val.after_storage_id) {
          this.error.after_storage_id = false
        }
      },
      deep: true
    }
  },
  methods: {
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 原儲位 before_storage_id */
    autocompleteHandleBeforeStorageEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.before_storage_id = null
      this.productBaseCondition = []
      // 設定其他資料處 end
      this.beforeStorageList = []
    },
    beforeStorageAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.before_storage_id = data.val ? data.val.storage_id : ''
        // 設定其他資料處
        this.productBaseCondition = [['storage_id', '=', data.val.storage_id]]
      }
      // console.log([data.val])
      if (data.val) {
        this.beforeStorageList = [data.val]
      } else {
        this.beforeStorageList = []
      }
    },
    beforeStorageAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.beforeStorageBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: [{ sortField: 'storage_code', sortValue: 'asc' }]
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.beforeStorageList = list
        }
      })
    },
    setAutocompleteBeforeStorageValue: function (data) {
      // console.log(data)
      //
      this.postData.before_storage_code = data.data[data.returnCode]
      this.postData.before_storage_id = data.data.storage_id
      //
      this.productBaseCondition = [['storage_id', '=', data.data.storage_id]]
      this.toCloseBeforeStorageAutocompleteModal = true
    },
    setToCloseBeforeStorageAutocompleteModal: function (bol) {
      this.toCloseBeforeStorageAutocompleteModal = bol
    },
    /* 商品編號  product_name / product_id */
    autocompleteHandleProductEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      this.postData.product_id = null
      this.postData.product_name = ''
      // 設定其他資料處
      this.postData.after_stock_num = null
      this.postData.product_quality = '不設定'
      // 設定其他資料處 end
      this.productList = []
    },
    productAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : null
        this.postData.product_id = data.val ? data.val.product_id : null
        this.postData.product_name = data.val ? data.val.product_name : null
        // console.log(this.postData.product_id)
        // 設定其他資料處
        this.postData.before_storage_id = data.val.storage_id // 原儲位ID
        this.postData.before_storage_code = data.val.storage_code // 原儲位
        this.postData.after_stock_num = data.val.available_nums // 原庫存量
        this.postData.product_quality = data.val.product_quality // 良品/不良品
      }
      // console.log([data.val])
      if (data.val) {
        this.productList = [data.val]
      } else {
        this.productList = []
      }
    },
    productAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        page: 1,
        pageSize: 5,
        baseCondition: this.productBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.productList = list
        }
      })
    },
    setAutocompleteProductValue: function (data) {
      // console.log(data)
      this.postData.product_code = data.data[data.returnCode]
      this.postData.product_id = data.data.product_id
      this.postData.product_name = data.data.product_name
      // console.log(this.postData.product_id)
      this.postData.before_storage_id = data.data.storage_id // 原儲位ID
      this.postData.before_storage_code = data.data.storage_code // 原儲位
      this.postData.after_stock_num = data.data.available_nums // 原庫存量
      this.postData.product_quality = data.data.product_quality // 良品/不良品
      //
      // console.log(this.postData)
      this.toCloseProductAutocompleteModal = true
    },
    setToCloseProductAutocompleteModal: function (bol) {
      this.toCloseProductAutocompleteModal = bol
    },
    /* 新儲位 after_storage_id */
    autocompleteHandleAfterStorageEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      this.postData.after_storage_id = null
      // 設定其他資料處
      // 設定其他資料處 end
      this.afterStorageList = []
    },
    afterStorageAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.after_storage_id = data.val ? data.val.storage_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.afterStorageList = [data.val]
      } else {
        this.afterStorageList = []
      }
    },
    afterStorageAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        baseCondition: this.afterStorageBaseCondition,
        orCondition: [
          ...query
        ],
        sort: [{ sortField: 'storage_code', sortValue: 'asc' }]
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.afterStorageList = list
        }
      })
    },
    setAutocompleteAfterStorageValue: function (data) {
      // console.log(data)
      //
      this.postData.after_storage_code = data.data[data.returnCode]
      this.postData.after_storage_id = data.data.storage_id
      //
      this.toCloseAfterStorageAutocompleteModal = true
    },
    setToCloseAfterStorageAutocompleteModal: function (bol) {
      this.toCloseAfterStorageAutocompleteModal = bol
    },
    /* 異動(良品/不良品) product_quality */
    productQualityListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getProductQualityList: function () {
      this.productQualityList = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        },
        {
          value: '不設定',
          label: '不設定'
        }
      ]
    },
    //
    repeatConfirm: function () {
      var isError = false
      if (!this.postData.after_storage_id || this.postData.after_storage_id === '') {
        isError = true
        this.error.after_storage_id = true
      }
      if (!this.postData.before_storage_id || this.postData.before_storage_id === '') {
        isError = true
        this.error.after_storage_id = true
      }
      if (isError) {
        // console.log('擋住')
        return
      }
      //
      this.repeatConfirmModal = true
    },
    cancel: function () {
      this.repeatConfirmModal = false
    },
    setStorageChange: function (data) {
      this.repeatConfirm()
    },
    save: function () {
      let postData = {
        before_storage_id: this.postData.before_storage_id,
        before_storage_code: this.postData.before_storage_code,
        after_storage_id: this.postData.after_storage_id,
        after_storage_code: this.postData.after_storage_code
      }
      if (this.postData.product_id) {
        postData.product_id = this.postData.product_id
      }
      if (this.postData.product_code) {
        postData.product_code = this.postData.product_code
      }
      if (this.postData.product_name) {
        postData.product_name = this.postData.product_name
      }
      if (this.postData.before_stock_num) {
        postData.before_stock_num = this.postData.before_stock_num
      }
      if (this.postData.product_quality === 0 || this.postData.product_quality === 1) {
        postData.product_quality = this.postData.product_quality
      }
      this.saveDisabled = true
      this.$store.dispatch(`storageChange/create`, postData).then((r) => {
        console.log(r)
        if (r.success) {
          this.$Notice.success({
            title: '儲位異動成功'
          })
          this.init()
          this.saveDisabled = false
          this.repeatConfirmModal = false
        } else {
          this.$Notice.error({
            title: '儲位異動失敗',
            desc: r.message,
            duration: 30
          })
          this.saveDisabled = false
          this.repeatConfirmModal = false
        }
      })
    },
    init: function () {
      // console.log('清空')
      this.postData = {
        slc_id: null,
        product_code: '', // 商品料號
        product_name: null, // 商品名稱
        product_id: null, // 商品ID
        before_storage_id: null, // 原儲位ID
        before_storage_code: '', // 原儲位
        product_quality: 1, // 良品/不良品
        product_batch_no: null, // 批號
        after_storage_id: null, // 新儲位ID
        after_storage_code: '', // 新儲位
        before_stock_num: null, // 新庫存量
        after_stock_num: null // 原庫存量
      }
      this.error = {
        slc_id: false,
        product_code: false, // 商品料號
        product_name: false, // 商品名稱
        product_id: false, // 商品ID
        before_storage_id: false, // 原儲位ID
        before_storage_code: false, // 原儲位
        product_quality: false, // 良品/不良品
        after_storage_id: false, // 新儲位
        after_storage_code: false, // 新儲位ID
        before_stock_num: false, // 新庫存
        after_stock_num: false // 原庫存量
      }
      this.detailId = null
      this.getHistoryData()
    },
    getHistoryData: function () {
      let postData = {
        pageNum: 1,
        pageSize: 1,
        baseCondition: [],
        orCondition: [['created_by', '=', this.userId], ['updated_by', '=', this.userId]],
        sort: [{ sortField: 'slc_id', sortValue: 'desc' }]
      }
      this.$store.dispatch(`storageChange/search`, postData).then((r) => {
        if (r.success) {
          if (r.data.length > 0) {
            let historyData = r.data[0]
            this.historyData = {
              slc_id: historyData.slc_id,
              product_code: historyData.product_code, // 商品料號
              product_name: historyData.product_name, // 商品名稱
              before_storage_code: historyData.before_storage_code, // 原儲位
              product_quality: historyData.product_quality === 1 ? '良品' : historyData.product_quality === 0 ? '不良品' : '不設定', // 良品/不良品
              after_storage_code: historyData.after_storage_code, // 新儲位
              before_stock_num: historyData.before_stock_num, // 新庫存量
              after_stock_num: historyData.after_stock_num // 原庫存量
            }
          }
        }
      })
    }
  },
  created () {
    //
    this.getProductQualityList()
    this.getHistoryData()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`storageChange/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  position: relative;
  .top-box {
    width: 100%;
    overflow: auto;
    position: relative;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
  .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .history-box {
    padding-top: 32px;
    border-top: 1px solid #ACACAC;
    color: #fff;
    font-size: 16px;
  }
}
.repeatConfirmModal {
  .modal-body {
    padding: 0 48px 24px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      .title-text {
        width: fit-content;
        font-family: PingFangTC;
        font-size: 24px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        display: inline-block;
        font-weight: 400;
      }
    }
    ul {
      padding: 0 16px;
      li {
        font-size: 16px;
        line-height: 1.8;
        .label{
          padding-right: 8px;
        }
        &.highLight {
          .label, .value {
            font-size: 20px;
            color: #118cf8;
          }
        }
      }
    }
  }
}
</style>
