<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col" v-show="!useFixedOwnerId">
          <!-- 來源貨主 from_owner_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.from_owner_name && postData.from_owner_name!==''),
              label: `來源貨主 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41},
              hiddenSearchBtn: true}"
            :code="`from_owner_name`"
            :autoCompleteData="fromOwnerIdList"
            :defaultValue="postData.from_owner_name"
            :modalTitle="`來源貨主`"
            :toCloseModal="toCloseFromOwnerIdAutocompleteModal"
            keyCode="customerSetup"
            storeKey="customerOwner"
            returnCode="customer_name"
            :showCols="autoCompleteShowFromOwnerIdCols"
            :isError="error.from_owner_id"
            :isRequired="!useFixedOwnerId"
            @handleEnterSubmit="autocompleteHandleFromOwnerIdEnterSubmitEvent"
            @changeModelEvent="fromOwnerIdAutocompleteChangeEvent"
            @autoCompleteSearchEvent="fromOwnerIdAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseFromOwnerIdAutocompleteModal">
              <div>
                <!-- 來源貨主-->
                <AutocompleteModal
                keyCode="customerSetup"
                storeKey="customerOwner"
                returnCode="customer_name"
                :condition="fromOwnerIdCondition"
                :baseCondition="fromOwnerIdBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteFromOwnerIdValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 來源倉庫 from_wh_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.from_wh_name && postData.from_wh_name!==''),
              label: `來源倉庫 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41},
              hiddenSearchBtn: true}"
            :code="`from_wh_name`"
            :autoCompleteData="fromWhIdList"
            :defaultValue="postData.from_wh_name"
            :modalTitle="`倉庫代碼`"
            :toCloseModal="toCloseFromWhIdAutocompleteModal"
            keyCode="warehouse"
            storeKey="warehouse"
            returnCode="wh_name"
            :showCols="autoCompleteShowFromWhIdCols"
            :isError="error.from_wh_id"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleFromWhIdEnterSubmitEvent"
            @changeModelEvent="fromWhIdAutocompleteChangeEvent"
            @autoCompleteSearchEvent="fromWhIdAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseFromWhIdAutocompleteModal">
              <div>
                <!-- 倉庫代碼 -->
                <AutocompleteModal
                keyCode="warehouse"
                storeKey="warehouse"
                returnCode="wh_name"
                :condition="fromWhIdCondition"
                :baseCondition="fromWhIdBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteFromWhIdValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col" v-show="!useFixedOwnerId">
          <!-- 目的貨主 to_owner_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.to_owner_name && postData.to_owner_name!==''),
              label: `目的貨主 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41}, hiddenSearchBtn: true}"
            :code="`to_owner_name`"
            :autoCompleteData="toOwnerIdList"
            :defaultValue="postData.to_owner_name"
            :modalTitle="`貨主代碼`"
            :toCloseModal="toCloseToOwnerIdAutocompleteModal"
            keyCode="customerSetup"
            storeKey="customerOwner"
            returnCode="customer_name"
            :showCols="autoCompleteShowToOwnerIdCols"
            :isError="error.to_owner_id"
            :isRequired="!useFixedOwnerId"
            @handleEnterSubmit="autocompleteHandleToOwnerIdEnterSubmitEvent"
            @changeModelEvent="toOwnerIdAutocompleteChangeEvent"
            @autoCompleteSearchEvent="toOwnerIdAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseToOwnerIdAutocompleteModal">
              <div>
                <!-- 貨主代碼-->
                <AutocompleteModal
                keyCode="customerSetup"
                storeKey="customerOwner"
                returnCode="customer_name"
                :condition="toOwnerIdCondition"
                :baseCondition="toOwnerIdBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteFromOwnerIdValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 目的倉庫 to_wh_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.to_wh_name && postData.to_wh_name!==''),
              label: `目的倉庫 *`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41},
              hiddenSearchBtn: true}"
            :code="`to_wh_name`"
            :autoCompleteData="toWhIdList"
            :defaultValue="postData.to_wh_name"
            :modalTitle="`倉庫代碼`"
            :toCloseModal="toCloseToWhIdAutocompleteModal"
            keyCode="warehouse"
            storeKey="warehouse"
            returnCode="wh_name"
            :showCols="autoCompleteShowToWhIdCols"
            :isError="error.to_wh_id"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleToWhIdEnterSubmitEvent"
            @changeModelEvent="toWhIdAutocompleteChangeEvent"
            @autoCompleteSearchEvent="toWhIdAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseToWhIdAutocompleteModal">
              <div>
                <!-- 倉庫代碼 -->
                <AutocompleteModal
                keyCode="warehouse"
                storeKey="warehouse"
                returnCode="wh_name"
                :condition="toWhIdCondition"
                :baseCondition="toWhIdBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteToWhIdValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
      </div>
      <div class="row mt-4" v-show="step === 2">
        <div class="col">
          <!-- 調撥單號 transfer_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.transfer_no && postData.transfer_no!==''),
              label: '調撥單號',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`transfer_no`"
            :defaultValue="postData.transfer_no"
            :disabled="true"
            @changeModelEvent="mainInputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 調撥單狀態 transfer_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.transfer_status && postData.transfer_status!==''),
              label: '調撥單狀態',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="transferStatusList"
            :code="`transfer_status`"
            :defaultValue="postData.transfer_status"
            :disabled="true"
            @changeModelEvent="transferStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div>
      <!-- 明細 -->
      <TransferSetupDetails
        ref="setDetailsList"
        :detailId="detailId"
        :companyId="companyId"
        :whId="whId"
        :fromOwnerId="postData.from_owner_id"
        :toOwnerId="postData.to_owner_id"
        @setAddModalEvent="setAddModalEvent"
        @gridDataChangeEvent="detailsListChangeEvent"
      ></TransferSetupDetails>
    </div>
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="repeatConfirm">
      <font-awesome-icon icon="save" size="2x" />
    </div> -->
    <!-- add Modal -->
    <Modal v-model="addModal" width="1000" :footer-hide="true" @on-cancel="setAddModalEvent(false)" class="addModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <LoadingView :show="LoadingViewIsShow"></LoadingView>
        <div>
          <h2 class="title mb-3">
            <span class="title-text">來源商品</span>
          </h2>
            <div class="row">
              <div class="col">
                <!-- 來源商品料號 from_product_id -->
                <FloatLabelBox
                :config="{
                  hasContent: (detailPostData.from_product_code && detailPostData.from_product_code!==''),
                  label: `來源商品料號 *`,
                  hasClearButton: true,
                  background: 'white',
                  type: `NewAutoComplete`,
                  settings: {height: 41}}"
                :code="`from_product_code`"
                :autoCompleteData="fromProductList"
                :defaultValue="detailPostData.from_product_code"
                :modalTitle="`商品料號`"
                :toCloseModal="toCloseFromProductAutocompleteModal"
                keyCode="inventoryQueryByStorage"
                storeKey="stockByStorage"
                returnCode="product_code"
                :showCols="autoCompleteShowFromProductCols"
                :isError="detailError.from_product_id"
                :isRequired="true"
                :disabled="true"
                :searchDisabled="fromProductAutocompleteSearchDisabled"
                @handleEnterSubmit="autocompleteHandleFromProductEnterSubmitEvent"
                @changeModelEvent="fromProductAutocompleteChangeEvent"
                @autoCompleteSearchEvent="fromProductAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseFromProductAutocompleteModal">
                  <div>
                    <!-- 商品料號-->
                    <AutocompleteModal
                    keyCode="inventoryQueryByStorage"
                    storeKey="stockByStorage"
                    returnCode="product_code"
                    :condition="fromProductCondition"
                    :baseCondition="fromProductBaseCondition"
                    @setAutocompleteValueEvent="setAutocompleteFromProductValue"></AutocompleteModal>
                  </div>
                </FloatLabelBox>
              </div>
              <div class="col">
              <!-- 來源商品名稱 from_product_name -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailPostData.from_product_name && detailPostData.from_product_name!==''),
                    label: `來源商品名稱`,
                    hasClearButton: true,
                    background: 'white',
                    type: `InputText`,
                    settings: {height: 41}}"
                  :code="`from_product_name`"
                  :defaultValue="detailPostData.from_product_name"
                  :disabled="true"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 良品/不良品 from_product_quality -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailPostData.from_product_quality || detailPostData.from_product_quality===0),
                    label: `良品/不良品`,
                    hasClearButton: true,
                    background: 'white',
                    type: `Select`,
                    settings: { height: 41}}"
                  :selectList="productQualityList"
                  :code="`from_product_quality`"
                  :defaultValue="detailPostData.from_product_quality"
                  :disabled="false"
                  @changeModelEvent="productQualityListChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 來源儲位 from_storage_code -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailPostData.from_storage_code && detailPostData.from_storage_code!==''),
                    label: `來源儲位`,
                    hasClearButton: true,
                    background: 'white',
                    type: `InputText`,
                    settings: {height: 41}}"
                  :code="`from_storage_code`"
                  :defaultValue="detailPostData.from_storage_code"
                  :disabled="true"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!-- 來源庫存 stock_num -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailPostData.stock_num!== null && detailPostData.stock_num!==''),
                    label: `來源庫存`,
                    hasClearButton: true,
                    background: 'white',
                    type: `InputNumber`,
                    settings: {height: 41}}"
                  :code="`stock_num`"
                  :defaultValue="detailPostData.stock_num"
                  :disabled="true"
                  @changeModelEvent="inputNumChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 調撥數量 from_stock_num -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailPostData.from_stock_num!== null && detailPostData.from_stock_num!==''),
                    label: `調撥數量 *`,
                    hasClearButton: true,
                    background: 'white',
                    type: `InputNumber`,
                    settings: {height: 41}}"
                  :code="`from_stock_num`"
                  :defaultValue="detailPostData.from_stock_num"
                  :errorMsg="errorMsgFromStockNum"
                  :isError="detailError.from_stock_num"
                  :isRequired="true"
                  @changeModelEvent="inputNumChangeEvent"
                ></FloatLabelBox>
              </div>
            </div>
        </div>
        <div>
          <h2 class="title mb-3">
            <span>目的商品</span>
          </h2>
          <div class="row">
            <div class="col">
              <!-- 目的商品料號 to_product_code -->
              <FloatLabelBox
              :config="{
                hasContent: (detailPostData.to_product_code && detailPostData.to_product_code!==''),
                label: `目的商品料號 *`,
                hasClearButton: true,
                background: 'white',
                type: `NewAutoComplete`,
                settings: {height: 41},
                hiddenSearchBtn: true}"
              :code="`to_product_code`"
              :autoCompleteData="toProductList"
              :defaultValue="detailPostData.to_product_code"
              :modalTitle="`目的商品料號`"
              :toCloseModal="toCloseToProductAutocompleteModal"
              keyCode="goodsSetup"
              storeKey="product"
              returnCode="product_code"
              :showCols="autoCompleteShowToProductCols"
              :isError="detailError.to_product_id"
              :isRequired="true"
              :disabled="false"
              :searchDisabled="toProductAutocompleteSearchDisabled"
              @handleEnterSubmit="autocompleteHandleToProductEnterSubmitEvent"
              @changeModelEvent="toProductAutocompleteChangeEvent"
              @autoCompleteSearchEvent="toProductAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseToProductAutocompleteModal">
                <div>
                  <!-- 目的商品料號-->
                  <AutocompleteModal
                  keyCode="goodsSetup"
                  storeKey="product"
                  returnCode="product_code"
                  :condition="toProductCondition"
                  :baseCondition="toProductBaseCondition"
                  @setAutocompleteValueEvent="setAutocompleteToProductValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
            </div>
            <div class="col">
              <!-- 目的 良品/不良品 to_product_quality -->
              <FloatLabelBox
                :config="{
                  hasContent: (detailPostData.to_product_quality || detailPostData.to_product_quality===0),
                  label: `目的 良品/不良品`,
                  hasClearButton: true,
                  background: 'white',
                  type: `Select`,
                  settings: { height: 41}}"
                :selectList="productQualityList"
                :code="`to_product_quality`"
                :defaultValue="detailPostData.to_product_quality"
                :disabled="false"
                @changeModelEvent="toProductQualityListChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="col">
              <!-- 目的儲位 to_storage_id -->
              <FloatLabelBox
                :config="{
                  hasContent: (detailPostData.to_storage_code && detailPostData.to_storage_code!==''),
                  label: `目的儲位 *`,
                  hasClearButton: true,
                  background: 'white',
                  type: `NewAutoComplete`,
                  settings: {height: 41},
                  hiddenSearchBtn: true}"
                :code="`to_storage_code`"
                :autoCompleteData="toStorageList"
                :defaultValue="detailPostData.to_storage_code"
                :isError="detailError.to_storage_id"
                :isRequired="true"
                :modalTitle="`目的儲位`"
                :toCloseModal="toCloseToStorageAutocompleteModal"
                keyCode="storageSetup"
                storeKey="storage"
                returnCode="storage_code"
                :showCols="autoCompleteShowToStorageCols"
                @handleEnterSubmit="autocompleteHandleToStorageEnterSubmitEvent"
                @changeModelEvent="toStorageAutocompleteChangeEvent"
                @autoCompleteSearchEvent="toStorageAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseToStorageAutocompleteModal">
                  <div>
                    <!-- 目的儲位 -->
                    <AutocompleteModal
                    keyCode="storageSetup"
                    storeKey="storage"
                    returnCode="storage_code"
                    :condition="toStorageCondition"
                    :baseCondition="toStorageBaseCondition"
                    @setAutocompleteValueEvent="setAutocompleteToStorageValue"></AutocompleteModal>
                  </div>
                </FloatLabelBox>
            </div>
            <div class="col">
              <!-- 目的庫存 to_stock_num -->
              <FloatLabelBox
                :config="{
                  hasContent: (detailPostData.to_stock_num!== null && detailPostData.to_stock_num!==''),
                  label: `目的庫存 *`,
                  hasClearButton: true,
                  background: 'white',
                  type: `InputNumber`,
                  settings: {height: 41}}"
                :code="`to_stock_num`"
                :defaultValue="detailPostData.to_stock_num"
                :errorMsg="errorMsgToStockNum"
                :isError="detailError.to_stock_num"
                :isRequired="true"
                @changeModelEvent="inputNumChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="col">
              <!-- 目的批號 to_product_batch_no -->
              <FloatLabelBox
                :config="{
                  hasContent: (detailPostData.to_product_batch_no && detailPostData.to_product_batch_no!==''),
                  label: `目的批號`,
                  hasClearButton: true,
                  background: 'white',
                  type: `InputText`,
                  settings: {height: 41}}"
                :code="`to_product_batch_no`"
                :defaultValue="detailPostData.to_product_batch_no"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="col">
              <!-- 目的有效日期 to_product_expired_date -->
              <FloatLabelBox
                :config="{
                  hasContent: (detailPostData.to_product_expired_date && detailPostData.to_product_expired_date!==''),
                  label: `目的有效日期`,
                  hasClearButton: true,
                  background: 'white',
                  type: `DatePicker`,
                  settings: {height: 41}}"
                :code="`to_product_expired_date`"
                :defaultValue="detailPostData.to_product_expired_date"
                @changeModelEvent="datePickerChangeEvent"
              ></FloatLabelBox>
            </div>
          </div>
        </div>
      </div>
      <div class="button-box">
        <Button class="best-outlined-gray-dark lg-btn w-100" shape="circle" size="large" @click="setAddModalEvent(false)">
          關閉
        </Button>
        <Button class="best-blue lg-btn w-100 ml-3" shape="circle" size="large" @click="addTransferSetupDetailsList" :disabled="saveDisabled">
          新增 &nbsp;<font-awesome-icon icon="search" color="#3c3c3c"/>
        </Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import TransferSetupDetails from './TransferSetupDetails'
//
export default {
  name: 'TransferSetupAdd',
  props: ['step', 'detailId'],
  components: {
    LoadingView,
    FloatLabelBox,
    AutocompleteModal,
    TransferSetupDetails
  },
  data () {
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    let whName = this.$store.state.auth.userInfo.warehousLocalName
    let ownerId = this.$store.state.auth.userInfo.ownerKey
    let ownerName = this.$store.state.auth.userInfo.ownerName
    let useFixedOwnerId = this.$store.state.auth.userInfo.useFixedOwnerId
    return {
      companyId: companyId, // 由用戶取得
      whId: whId, // 由用戶取得
      whName: whName,
      ownerId: ownerId,
      ownerName: ownerName,
      useFixedOwnerId: useFixedOwnerId,
      // 明細
      detailsList: null,
      saveDisabled: false,
      // 新增明細
      addModal: false,
      postData: {
        transfer_id: null,
        transfer_no: null,
        transfer_status: null,
        from_owner_id: ownerId || null, // 來源貨主
        from_owner_name: ownerName || null, // 來源貨主名稱
        from_owner_no: null, // 來源貨主代碼
        from_wh_id: whId || null, // 來源倉庫ID
        from_wh_name: whName || null, // 來源倉庫
        to_company_id: companyId || null, // 目的公司ID
        to_wh_id: null, // 目的倉庫ID
        to_wh_name: null, // 目的倉庫
        to_owner_id: ownerId || null, // 目的貨主ID
        to_owner_name: ownerName || null, // 目的貨主
        to_owner_no: null, // 目的貨主代碼
        created_at: null
      },
      error: {
        transfer_id: false,
        transfer_no: false,
        transfer_status: false,
        from_wh_id: false, // 來源倉庫ID
        from_wh_name: false, // 來源倉庫
        from_owner_id: false, // 來源貨主
        to_company_id: false, // 目的公司ID
        to_wh_id: false, // 目的倉庫
        to_owner_id: false // 目的貨主
      },
      //
      detailPostData: {
        from_product_quality: 1, // 良品/不良品
        from_product_id: null, // 來源商品ID
        from_product_code: null, // 來源商品料號
        from_product_name: null, // 來源商品名稱
        from_storage_id: null, // 來源儲位ID
        from_storage_code: null, // 來源儲位
        stock_num: null, // 來源庫存
        from_stock_num: null, // 調撥數量
        to_product_id: null, // 目的商品ID
        to_product_code: null, // 目的商品料號
        to_product_name: null, // 目的商品名稱
        to_product_quality: 1, // 目的 良品/不良品
        to_storage_id: null, // 目的儲位ID
        to_storage_code: null, // 目的儲位
        to_stock_num: null, // 目的庫存
        to_product_batch_no: null, // 目的批號
        to_product_expired_date: null // 目的有效日期
      },
      detailError: {
        from_product_id: false, // 來源商品料號
        from_product_name: false, // 來源商品名稱
        from_storage_id: false, // 來源儲位ID
        from_storage_code: false, // 來源儲位
        stock_num: false, // 來源庫存
        from_stock_num: false, // 調撥數量
        to_product_id: false, // 目的商品ID
        to_product_code: false, // 目的商品料號
        to_product_name: false, // 目的商品名稱
        to_product_quality: false, // 目的 良品/不良品
        to_storage_id: false, // 目的儲位
        to_stock_num: false, // 目的庫存
        to_product_batch_no: false, // 目的批號
        to_product_expired_date: false // 目的有效日期
      },
      errorMsgFromStockNum: '',
      errorMsgFromStockNumBad: '',
      errorMsgToStockNum: '',
      errorMsgToStockNumBad: '',
      /* 調撥單狀態 */
      transferStatusList: [
        {
          label: '待確認',
          value: 10
        },
        {
          label: '已確認',
          value: 20
        }
      ],
      /* 來源貨主 : from_owner_id */
      fromOwnerIdList: [],
      autoCompleteShowFromOwnerIdCols: [
        'customer_no'
      ],
      toCloseFromOwnerIdAutocompleteModal: false,
      fromOwnerIdCondition: [],
      fromOwnerIdBaseCondition: [],
      /* 來源倉庫 : from_wh_id */
      fromWhIdList: [],
      autoCompleteShowFromWhIdCols: [
        'wh_no'
      ],
      toCloseFromWhIdAutocompleteModal: false,
      fromWhIdCondition: [],
      fromWhIdBaseCondition: [],
      /* 來源商品料號 : from_product_id */
      fromProductList: [],
      autoCompleteShowFromProductCols: [
        'product_name'
      ],
      toCloseFromProductAutocompleteModal: false,
      fromProductCondition: [],
      fromProductBaseCondition: [],
      fromProductAutocompleteSearchDisabled: useFixedOwnerId,
      /* 目的倉庫 : to_wh_id */
      toWhIdList: [],
      autoCompleteShowToWhIdCols: [
        'wh_no'
      ],
      toCloseToWhIdAutocompleteModal: false,
      toWhIdCondition: [],
      toWhIdBaseCondition: [],
      /* 目的貨主 : to_owner_id */
      toOwnerIdList: [],
      autoCompleteShowToOwnerIdCols: [
        'customer_no'
      ],
      toCloseToOwnerIdAutocompleteModal: false,
      toOwnerIdCondition: [],
      toOwnerIdBaseCondition: [],
      /* 來源商品料號 : to_product_code */
      toProductList: [],
      autoCompleteShowToProductCols: [
        'product_name'
      ],
      toCloseToProductAutocompleteModal: false,
      toProductCondition: [],
      toProductBaseCondition: [],
      toProductAutocompleteSearchDisabled: false,
      /*  目的儲位 : to_storage_id */
      toStorageList: [],
      autoCompleteShowToStorageCols: [],
      toCloseToStorageAutocompleteModal: false,
      toStorageCondition: [],
      toStorageBaseCondition: [],
      /* 良品/不良品 */
      productQualityList: [
        {
          label: '良品',
          value: 1
        },
        {
          label: '不良品',
          value: 0
        }
      ],
      LoadingViewIsShow: false,
      isChangeTransferStatus: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    transfer: function () {
      return this.$store.state[`transfer`][`transfer`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      // console.log(oldVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    detailsList: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    transfer: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          transfer_id: val.transfer_id || null,
          transfer_no: val.transfer_no || null,
          transfer_status: val.transfer_status || null,
          from_owner_id: val.owner_id || this.ownerId, // 來源貨主ID
          from_owner_name: val.owner_name || this.ownerName, // 來源貨主名稱
          from_owner_no: val.owner_no || null, // 來源貨主代碼
          from_wh_id: val.wh_id || this.whId, // 來源倉庫ID
          from_wh_name: val.wh_name || this.whName, // 來源倉庫
          to_company_id: val.company_id || null, // 目的公司ID
          to_wh_id: val.to_wh_id || this.whId, // 目的倉庫ID
          to_wh_name: val.to_wh_name || this.whName, // 目的倉庫
          to_owner_id: val.to_owner_id || this.ownerId, // 目的貨主ID
          to_owner_name: val.to_owner_name || this.ownerName, // 目的貨主
          to_owner_no: val.to_owner_no || null, // 目的貨主代碼
          created_at: val.created_at || null
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.from_owner_id || this.useFixedOwnerId) {
          this.fromProductAutocompleteSearchDisabled = true
          if (val.from_owner_id) {
            this.fromProductBaseCondition = [
              ['owner_id', '=', val.from_owner_id]
            ]
          }
          this.error.from_owner_id = false
        } else {
          this.fromProductAutocompleteSearchDisabled = false
        }
        if (val.from_wh_id) {
          this.error.from_wh_id = false
        }
        if (val.to_wh_id) {
          this.error.to_wh_id = false
        }
        if (val.to_owner_id) {
          this.error.to_owner_id = false
        }
        this.$emit('transferDetailChangeEvent', val)
      },
      deep: true
    },
    detailPostData: {
      handler: function (val) {
        // console.log(val)
        if (val.from_product_id) {
          this.detailError.from_product_id = false
        }
        if (val.to_product_id) {
          this.detailError.to_product_id = false
        }
        if (val.from_stock_num) {
          this.detailError.from_stock_num = false
        }
        if (val.from_stock_num <= val.stock_num) {
          this.detailError.from_stock_num = false
        }
        if (val.to_stock_num) {
          this.detailError.to_stock_num = false
        }
        if (val.to_storage_id) {
          this.detailError.to_storage_id = false
        }
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      console.log(data)
      this.detailsList = data
    },
    //
    mainInputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputTxtChangeEvent: function (data) {
      //
      this.detailPostData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.detailPostData[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      //
      this.detailPostData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        transferId: detailId
      }
      this.$store.dispatch(`transfer/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    setTransfer: function (data) {
      if (data === 'setTransferStasus') {
        this.isChangeTransferStatus = true
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else if (data === 'init') {
        this.init()
      } else {
        this.save()
        // this.repeatConfirm()
      }
    },
    save: function () {
      this.$emit('changeLoadingViewIsShowEvent', true)
      let isError = false
      // 檢查主檔
      if (!this.useFixedOwnerId) {
        if (!this.postData.from_owner_name) {
          isError = true
          this.error.from_owner_id = true
        }
        if (!this.postData.to_owner_name) {
          isError = true
          this.error.to_owner_id = true
        }
      }
      if (!this.postData.from_wh_name) {
        isError = true
        this.error.from_wh_id = true
      }
      if (!this.postData.to_wh_name) {
        isError = true
        this.error.to_wh_id = true
      }
      // 檢查明細
      console.log(this.detailsList)
      let detailsLength = this.detailsList.length
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        if (!data.fromProduct.product_id || data.fromProduct.product_id === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"來源商品料號"未填`,
            duration: 30
          })
        }
        if (!data.from_stock_num || data.from_stock_num === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"調撥數量"未填`,
            duration: 30
          })
        }
        if (!data.to_product_code || data.to_product_code === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"目的商品料號"未填`,
            duration: 30
          })
        }
        if (!data.toStorageLoc.storage_id || data.toStorageLoc.storage_id === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"目的儲位"未填`,
            duration: 30
          })
        }
        if (!data.to_stock_num || data.to_stock_num === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"目的庫存"未填`,
            duration: 30
          })
        }
      }
      if (isError) {
        this.$emit('changeLoadingViewIsShowEvent', false)
        return
      }
      let postData = {
        recTransfer: {
          to_company_id: this.postData.to_company_id,
          to_wh_id: this.postData.to_wh_id,
          to_wh_name: this.postData.to_wh_name
        },
        transferDetails: []
      }
      if (this.postData.from_owner_id) {
        postData.recTransfer.owner_id = this.postData.from_owner_id
      }
      if (this.postData.from_owner_name) {
        postData.recTransfer.owner_name = this.postData.from_owner_name
      }
      if (this.postData.from_owner_no) {
        postData.recTransfer.owner_no = this.postData.from_owner_no
      }
      if (this.postData.to_owner_id) {
        postData.recTransfer.to_owner_id = this.postData.to_owner_id
      }
      if (this.postData.to_owner_name) {
        postData.recTransfer.to_owner_name = this.postData.to_owner_name
      }
      if (this.postData.to_owner_no) {
        postData.recTransfer.to_owner_no = this.postData.to_owner_no
      }
      // 明細
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        let detailsPostdata = {
          from_product_code: data.from_product_code,
          from_product_id: data.from_product_id,
          from_product_name: data.from_product_name,
          from_product_quality: data.from_product_quality,
          from_stock_num: data.from_stock_num,
          from_storage_code: data.from_storage_code,
          from_storage_id: data.from_storage_id,
          to_product_code: data.to_product_code,
          to_product_id: data.to_product_id,
          to_product_name: data.to_product_name,
          to_product_quality: data.to_product_quality,
          to_stock_num: data.to_stock_num,
          to_storage_code: data.to_storage_code,
          to_storage_id: data.to_storage_id,
          from_product_batch_no: data.fromProduct.product_batch_no || null,
          from_product_expired_date: data.fromProduct.product_expired_date || null,
          from_product_manufactured: data.fromProduct.product_manufactured || null,
          to_product_batch_no: data.to_product_batch_no || null
        }
        if (data.to_product_expired_date) {
          if (data.to_product_expired_date instanceof Date) {
            let newProductManufactured = new Date(data.to_product_expired_date)
            let yyyy = newProductManufactured.getFullYear()
            let mm = newProductManufactured.getMonth() + 1
            let dd = newProductManufactured.getDate()
            let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
            detailsPostdata.to_product_expired_date = localFilterStartTime
          } else {
            detailsPostdata.to_product_expired_date = data.to_product_expired_date // 製造日期
          }
        } else {
          detailsPostdata.to_product_expired_date = null // 製造日期
        }
        postData.transferDetails.push(detailsPostdata)
      }
      console.log(postData)
      if (!this.detailId) {
        // create
        this.$store.dispatch('transfer/create', postData).then((r) => {
          console.log(r)
          if (r.success) {
            this.postData.transfer_id = r.recTransfer.transfer_id
            this.postData.transfer_no = r.recTransfer.transfer_no
            this.postData.transfer_status = r.recTransfer.transfer_status
            for (let i = 0; i < detailsLength; i++) {
              this.detailsList[i].tfd_id = r.transferDetail[i].tfd_id
            }
            this.$Notice.success({
              title: '新增成功'
            })
            this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
            this.$emit('toStepEvent', this.postData, 2)
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '新增失敗',
              desc: r.message,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
        })
      } else {
        // update
        postData.recTransfer.transfer_id = this.detailId
        for (let i = 0; i < detailsLength; i++) {
          postData.transferDetails[i].tfd_id = this.detailsList[i].tfd_id || null
        }
        this.$store.dispatch('transfer/update', { postData: postData, detailId: this.detailId }).then((r) => {
          console.log(r)
          if (r.success) {
            if (this.isChangeTransferStatus) {
              this.isChangeTransferStatus = false
              return
            }
            for (let i = 0; i < detailsLength; i++) {
              this.detailsList[i].tfd_id = r.transferDetails[i].tfd_id
            }
            this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
            //
            this.$Notice.success({
              title: '更新成功'
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '更新失敗',
              desc: r.message,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
        })
      }
    },
    initPostData: function () {
      this.postData = {
        transfer_id: null,
        transfer_no: null,
        transfer_status: null,
        from_owner_id: this.ownerId || null, // 來源貨主
        from_owner_name: this.ownerName || '', // 來源貨主名稱
        from_owner_no: null, // 來源貨主代碼
        from_wh_id: this.whId || null, // 來源倉庫ID
        from_wh_name: this.whName || '', // 來源倉庫
        to_company_id: this.companyId || null, // 目的公司ID
        to_wh_id: this.whId || null, // 目的倉庫ID
        to_wh_name: this.whName || '', // 目的倉庫
        to_owner_id: this.ownerId || null, // 目的貨主ID
        to_owner_name: this.ownerName || '', // 目的貨主
        to_owner_no: null, // 目的貨主代碼
        created_at: null
      }
      this.error = {
        from_owner_id: false, // 來源貨主
        to_company_id: false, // 目的公司
        to_wh_id: false, // 目的倉庫
        to_owner_id: false // 目的貨主
      }
    },
    initDetailPostData: function () {
      this.detailPostData = {
        from_product_quality: 1, // 良品/不良品
        from_product_id: null, // 來源商品ID
        from_product_code: '', // 來源商品料號
        from_product_name: '', // 來源商品名稱
        from_storage_id: '', // 來源儲位ID
        from_storage_code: '', // 來源儲位
        stock_num: null, // 來源庫存
        from_stock_num: null, // 調撥數量
        to_product_id: null, // 目的商品ID
        to_product_code: '', // 目的商品料號
        to_product_name: '', // 目的商品名稱
        to_product_quality: 1, // 目的 良品/不良品
        to_storage_id: null, // 目的儲位ID
        to_storage_code: '', // 目的儲位
        to_stock_num: null, // 目的庫存
        to_product_batch_no: null, // 目的批號
        to_product_expired_date: null // 目的有效日期
      }
      this.detailError = {
        from_product_id: false, // 來源商品料號
        from_product_name: false, // 來源商品名稱
        from_storage_id: false, // 來源儲位ID
        from_storage_code: false, // 來源儲位
        stock_num: false, // 來源庫存
        from_stock_num: false, // 調撥數量
        to_product_id: false, // 目的商品ID
        to_product_code: false, // 目的商品料號
        to_product_name: false, // 目的商品名稱
        to_product_quality: false, // 目的 良品/不良品
        to_storage_id: false, // 目的儲位
        to_stock_num: false, // 目的庫存
        to_product_batch_no: false, // 目的批號
        to_product_expired_date: false // 目的有效日期
      }
    },
    init: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
    },
    setAddModalEvent: function (bol) {
      let isError = false
      if (!this.useFixedOwnerId) {
        if (!this.postData.from_owner_name) {
          isError = true
          this.error.from_owner_id = true
        }
        if (!this.postData.to_owner_name) {
          isError = true
          this.error.to_owner_id = true
        }
      }
      if (!this.postData.from_wh_name) {
        isError = true
        this.error.from_wh_id = true
      }
      if (!this.postData.to_wh_name) {
        isError = true
        this.error.to_wh_id = true
      }
      if (isError) {
        return
      }
      this.addModal = bol
      if (!bol) {
        this.initDetailPostData()
      }
    },
    addTransferSetupDetailsList: function () {
      // 檢查
      let isError = false
      if (!this.detailPostData.from_product_id || this.detailPostData.from_product_id === '') {
        isError = true
        this.detailError.from_product_id = true
      }
      if (!this.detailPostData.to_product_id || this.detailPostData.to_product_id === '') {
        isError = true
        this.detailError.to_product_id = true
      }
      if (!this.detailPostData.from_stock_num || this.detailPostData.from_stock_num === '') {
        isError = true
        this.detailError.from_stock_num = true
        this.errorMsgFromStockNum = '"調撥數量"未填'
      }
      if (this.detailPostData.from_stock_num && this.detailPostData.from_stock_num < 0) {
        isError = true
        this.detailError.from_stock_num = true
        this.errorMsgFromStockNum = '"調撥數量"不可為負'
      }
      if (this.detailPostData.from_stock_num && this.detailPostData.from_stock_num !== '' && this.detailPostData.stock_num < this.detailPostData.from_stock_num) {
        isError = true
        this.detailError.from_stock_num = true
        this.errorMsgFromStockNum = '"調撥數量"請小於"來源庫存"'
      }
      if (!this.detailPostData.to_stock_num || this.detailPostData.to_stock_num === '') {
        isError = true
        this.detailError.to_stock_num = true
        this.errorMsgToStockNum = '"目的庫存"未填'
      }
      if (this.detailPostData.to_stock_num && this.detailPostData.to_stock_num < 0) {
        isError = true
        this.detailError.to_stock_num = true
        this.errorMsgToStockNum = '"目的庫存"不可為負'
      }
      if (!this.detailPostData.to_storage_id) {
        isError = true
        this.detailError.to_storage_id = true
      }
      if (isError) {
        return
      }
      // 新增到列表
      this.$refs.setDetailsList.setDetailsList('add', this.detailPostData)
      this.initDetailPostData()
      this.$Notice.success({
        title: '新增成功',
        desc: '請繼續新增下一筆資料，如不繼續新增請關閉視窗並點選右上角儲存按鈕',
        duration: 30
      })
    },
    /* 調撥單狀態 */
    transferStatusListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 來源貨主 : from_owner_id */
    autocompleteHandleFromOwnerIdEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.from_owner_id = null
      this.postData.from_owner_no = null
      this.fromProductBaseCondition = []
      // 設定其他資料處 end
      this.fromOwnerIdList = []
    },
    fromOwnerIdAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.from_owner_id = data.val ? data.val.customer_id : ''
        this.postData.from_owner_no = data.val ? data.val.customer_no : ''
        // 設定其他資料處
        this.fromProductBaseCondition = [['owner_id', '=', this.postData.from_owner_id]]
      }
      // console.log([data.val])
      if (data.val) {
        this.fromOwnerIdList = [data.val]
      } else {
        this.fromOwnerIdList = []
      }
    },
    fromOwnerIdAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.fromOwnerIdBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.fromOwnerIdList = list
        }
      })
    },
    setAutocompleteFromOwnerIdValue: function (data) {
      // console.log(data)
      //
      this.postData.from_owner_name = data.data[data.returnCode]
      this.postData.from_owner_id = data.data.customer_id
      this.postData.from_owner_no = data.data.customer_no
      //
      this.fromProductBaseCondition = [['owner_id', '=', this.postData.from_owner_id]]
      //
      this.toCloseFromOwnerIdAutocompleteModal = true
    },
    setToCloseFromOwnerIdAutocompleteModal: function (bol) {
      this.toCloseFromOwnerIdAutocompleteModal = bol
    },
    /* 來源倉庫 : from_wh_id */
    autocompleteHandleFromWhIdEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.from_wh_id = null
      // 設定其他資料處 end
      this.fromWhIdList = []
    },
    fromWhIdAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.from_wh_id = data.val ? data.val.wh_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.fromWhIdList = [data.val]
      } else {
        this.fromWhIdList = []
      }
    },
    fromWhIdAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.fromWhIdBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.fromWhIdList = list
        }
      })
    },
    setAutocompleteFromWhIdValue: function (data) {
      // console.log(data)
      //
      this.postData.from_wh_name = data.data[data.returnCode]
      this.postData.from_wh_id = data.data.wh_id
      //
      this.toCloseFromWhIdAutocompleteModal = true
    },
    setToCloseFromWhIdAutocompleteModal: function (bol) {
      this.toCloseFromWhIdAutocompleteModal = bol
    },
    /* 來源商品料號  from_product_id */
    autocompleteHandleFromProductEnterSubmitEvent: function (data) {
      // console.log(data)
      this.detailPostData[data.code] = ''
      this.detailPostData.from_product_id = null
      this.detailPostData.from_product_name = null
      // 設定其他資料處
      this.detailPostData.from_storage_code = null
      this.detailPostData.from_storage_id = null
      this.detailPostData.stock_num = null
      // 設定其他資料處 end
      this.fromProductList = []
    },
    fromProductAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.detailPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.detailPostData[data.code] = data.val ? data.val[data.returnCode] : null
        this.detailPostData.from_product_id = data.val ? data.val.product_id : null
        this.detailPostData.from_product_name = data.val ? data.val.product_name : null
        // 設定其他資料處
        this.detailPostData.from_storage_code = data.val.storage_code
        this.detailPostData.from_storage_id = data.val.storage_id
        this.detailPostData.stock_num = data.val.available_nums
        this.detailPostData.from_product_quality = data.val.product_quality
      }
      // console.log([data.val])
      if (data.val) {
        this.fromProductList = [data.val]
      } else {
        this.fromProductList = []
      }
    },
    fromProductAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.fromProductBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      if (!this.postData.from_owner_id && !this.useFixedOwnerId) {
        return
      }
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.fromProductList = list
        }
      })
    },
    setAutocompleteFromProductValue: function (data) {
      // console.log(data)
      //
      this.detailPostData.from_product_code = data.data[data.returnCode]
      this.detailPostData.from_product_id = data.data.product_id
      this.detailPostData.from_product_name = data.data.product_name
      this.detailPostData.from_storage_code = data.data.storage_code
      this.detailPostData.from_storage_id = data.data.storage_id
      this.detailPostData.stock_num = data.data.available_nums
      this.detailPostData.from_product_quality = data.data.product_quality
      //
      // console.log(this.detailPostData)
      this.toCloseFromProductAutocompleteModal = true
    },
    setToCloseFromProductAutocompleteModal: function (bol) {
      this.toCloseFromProductAutocompleteModal = bol
    },
    /* 目的倉庫 : to_wh_id */
    autocompleteHandleToWhIdEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.to_wh_id = null
      this.postData.to_company_id = null
      // 設定其他資料處 end
      this.toWhIdList = []
    },
    toWhIdAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.to_wh_id = data.val ? data.val.wh_id : ''
        // 設定其他資料處
        this.postData.to_company_id = data.val ? data.val.company_id : ''
      }
      // console.log([data.val])
      if (data.val) {
        this.toWhIdList = [data.val]
      } else {
        this.toWhIdList = []
      }
    },
    toWhIdAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.toWhIdBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.toWhIdList = list
        }
      })
    },
    setAutocompleteToWhIdValue: function (data) {
      // console.log(data)
      //
      this.postData.to_wh_name = data.data[data.returnCode]
      this.postData.to_wh_id = data.data.wh_id
      this.postData.to_company_id = data.data.company_id
      //
      this.toCloseToWhIdAutocompleteModal = true
    },
    setToCloseToWhIdAutocompleteModal: function (bol) {
      this.toCloseToWhIdAutocompleteModal = bol
    },
    /* 目的貨主 : toOwnerId */
    autocompleteHandleToOwnerIdEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.to_owner_id = null
      this.postData.to_owner_no = null
      this.toProductBaseCondition = []
      // 設定其他資料處 end
      this.toOwnerIdList = []
    },
    toOwnerIdAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.to_owner_id = data.val ? data.val.customer_id : ''
        this.postData.to_owner_no = data.val ? data.val.customer_no : ''
        // 設定其他資料處
        this.toProductBaseCondition = [['owner_id', '=', this.postData.to_owner_id]]
      }
      // console.log([data.val])
      if (data.val) {
        this.toOwnerIdList = [data.val]
      } else {
        this.toOwnerIdList = []
      }
    },
    toOwnerIdAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.toOwnerIdBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.toOwnerIdList = list
        }
      })
    },
    setAutocompleteToOwnerIdValue: function (data) {
      // console.log(data)
      //
      this.postData.to_owner_name = data.data[data.returnCode]
      this.postData.to_owner_id = data.data.customer_id
      this.postData.to_owner_no = data.data.customer_no
      this.toProductBaseCondition = [['owner_id', '=', this.postData.to_owner_id]]
      //
      this.toCloseToOwnerIdAutocompleteModal = true
    },
    setToCloseToOwnerIdAutocompleteModal: function (bol) {
      this.toCloseToOwnerIdAutocompleteModal = bol
    },
    /* 目的商品料號  to_product_id */
    autocompleteHandleToProductEnterSubmitEvent: function (data) {
      // console.log(data)
      this.detailPostData[data.code] = ''
      // 設定其他資料處
      this.detailPostData.to_product_id = null
      this.detailPostData.to_product_name = null
      // 設定其他資料處 end
      this.toProductList = []
    },
    toProductAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.detailPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.detailPostData[data.code] = data.val ? data.val[data.returnCode] : null
        this.detailPostData.to_product_id = data.val ? data.val.product_id : null
        this.detailPostData.to_product_name = data.val ? data.val.product_name : null
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.toProductList = [data.val]
      } else {
        this.toProductList = []
      }
    },
    toProductAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.toProductBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      if (!this.postData.to_owner_id && !this.useFixedOwnerId) {
        return
      }
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.toProductList = list
        }
      })
    },
    setAutocompleteToProductValue: function (data) {
      // console.log(data)
      //
      this.detailPostData.to_product_code = data.data[data.returnCode]
      this.detailPostData.to_product_id = data.data.product_id
      this.detailPostData.to_product_name = data.data.product_name
      //
      // console.log(this.detailPostData)
      this.toCloseToProductAutocompleteModal = true
    },
    setToCloseToProductAutocompleteModal: function (bol) {
      this.toCloseToProductAutocompleteModal = bol
    },
    /* 目的儲位 to_storage_id */
    autocompleteHandleToStorageEnterSubmitEvent: function (data) {
      // console.log(data)
      this.detailPostData[data.code] = ''
      // 設定其他資料處
      this.detailPostData.to_storage_id = null
      // 設定其他資料處 end
      this.toStorageList = []
    },
    toStorageAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.detailPostData[data.code])
      if (this.detailPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.detailPostData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.detailPostData.to_storage_id = data.val ? data.val.storage_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.toStorageList = [data.val]
      } else {
        this.toStorageList = []
      }
    },
    toStorageAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.toStorageBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: [{ sortField: 'storage_code', sortValue: 'asc' }]
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.toStorageList = list
        }
      })
    },
    setAutocompleteToStorageValue: function (data) {
      // console.log(data)
      //
      this.detailPostData.to_storage_code = data.data[data.returnCode]
      this.detailPostData.to_storage_id = data.data.storage_id
      //
      this.toCloseToStorageAutocompleteModal = true
    },
    setToCloseToStorageAutocompleteModal: function (bol) {
      this.toCloseToStorageAutocompleteModal = bol
    },
    /* 良品/不良品 */
    productQualityListChangeEvent: function (data) {
      // console.log(data)
      this.detailPostData[data.code] = data.val
    },
    /* 目的 良品/不良品 */
    toProductQualityListChangeEvent: function (data) {
      // console.log(data)
      this.detailPostData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`transfer/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    margin-top: 8px;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 8px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
.addModal {
  .row {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    .col {
      flex: 0 0 25%;
      height: auto;
      margin-bottom: 34px;
      padding-right: 16px;
      display: flex;
      align-items: center;
      &.colx2 {
        flex: 0 0 50%;
      }
    }
  }
  .modal-body {
    padding: 0 48px;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      .title-text {
        width: fit-content;
        font-family: PingFangTC;
        font-size: 24px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        display: inline-block;
        font-weight: 400;
      }
    }
    p {
      font-size: 16px;
      color: #3c3c3c;
      margin-bottom: 16px;
    }
  }
  .button-box {
    padding: 0 48px 24px;
    display: flex;
    justify-content: center;
  }
}
</style>
