<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 來源貨主 from_owner_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.from_owner_name && postData.from_owner_name!==''),
              label: '來源貨主 *',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`from_owner_name`"
            :defaultValue="postData.from_owner_name"
            :disabled="true"
            @changeModelEvent="mainInputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 來源倉庫 from_wh_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.from_wh_name && postData.from_wh_name!==''),
              label: '來源倉庫 *',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`from_wh_name`"
            :defaultValue="postData.from_wh_name"
            :disabled="true"
            @changeModelEvent="mainInputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 目的貨主 to_owner_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.to_owner_name && postData.to_owner_name!==''),
              label: '目的貨主 *',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`to_owner_name`"
            :defaultValue="postData.to_owner_name"
            :disabled="true"
            @changeModelEvent="mainInputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 目的倉庫 to_wh_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.to_wh_name && postData.to_wh_name!==''),
              label: '目的倉庫 *',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`to_wh_name`"
            :defaultValue="postData.to_wh_name"
            :disabled="true"
            @changeModelEvent="mainInputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <!-- 調撥單號 transfer_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.transfer_no && postData.transfer_no!==''),
              label: '調撥單號',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`transfer_no`"
            :defaultValue="postData.transfer_no"
            :disabled="true"
            @changeModelEvent="mainInputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 調撥單狀態 transfer_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.transfer_status && postData.transfer_status!==''),
              label: '調撥單狀態',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="transferStatusList"
            :code="`transfer_status`"
            :defaultValue="postData.transfer_status"
            :disabled="true"
            @changeModelEvent="transferStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div>
      <!-- 明細 -->
      <TransferSetupCloseDetails
        ref="setDetailsList"
        :detailId="detailId"
        @gridDataChangeEvent="detailsListChangeEvent"
      ></TransferSetupCloseDetails>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import TransferSetupCloseDetails from './TransferSetupCloseDetails'
//
export default {
  name: 'TransferSetupCloseAdd',
  props: ['step', 'detailId'],
  components: {
    FloatLabelBox,
    TransferSetupCloseDetails
  },
  data () {
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    let whName = this.$store.state.auth.userInfo.warehousLocalName
    let ownerId = this.$store.state.auth.userInfo.ownerKey
    let ownerName = this.$store.state.auth.userInfo.ownerName
    return {
      companyId: companyId, // 由用戶取得
      whId: whId, // 由用戶取得
      whName: whName,
      ownerId: ownerId,
      ownerName: ownerName,
      // 明細
      detailsList: null,
      saveDisabled: false,
      postData: {
        transfer_id: null,
        transfer_no: null,
        transfer_status: null,
        from_owner_id: ownerId || null, // 來源貨主
        from_owner_name: ownerName || null, // 來源貨主名稱
        from_owner_no: null, // 來源貨主代碼
        from_wh_id: null, // 來源倉庫ID
        from_wh_name: null, // 來源倉庫
        to_company_id: companyId || null, // 目的公司ID
        to_wh_id: whId || null, // 目的倉庫ID
        to_wh_name: whName || null, // 目的倉庫
        to_owner_id: ownerId || null, // 目的貨主ID
        to_owner_name: ownerName || null, // 目的貨主
        to_owner_no: null // 目的貨主代碼
      },
      error: {
        transfer_id: false,
        transfer_no: false,
        transfer_status: false,
        from_wh_id: false, // 來源倉庫ID
        from_wh_name: false, // 來源倉庫
        from_owner_id: false, // 來源貨主
        to_company_id: false, // 目的公司ID
        to_wh_id: false, // 目的倉庫
        to_owner_id: false // 目的貨主
      },
      //
      /* 調撥單狀態 */
      transferStatusList: [
        {
          label: '待確認',
          value: 10
        },
        {
          label: '已確認',
          value: 20
        }
      ]
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    transfer: function () {
      return this.$store.state[`transfer`][`transfer`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      // console.log(oldVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    detailsList: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    transfer: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          transfer_id: val.transfer_id || null,
          transfer_no: val.transfer_no || null,
          transfer_status: val.transfer_status || null,
          from_owner_id: val.owner_id || this.ownerId, // 來源貨主ID
          from_owner_name: val.owner_name || this.ownerName, // 來源貨主名稱
          from_owner_no: val.owner_no || null, // 來源貨主代碼
          from_wh_id: val.wh_id || this.whId, // 來源倉庫ID
          from_wh_name: val.wh_name || this.whName, // 來源倉庫
          to_company_id: val.company_id || null, // 目的公司ID
          to_wh_id: val.to_wh_id || this.whId, // 目的倉庫ID
          to_wh_name: val.to_wh_name || this.whName, // 目的倉庫
          to_owner_id: val.to_owner_id || this.ownerId, // 目的貨主ID
          to_owner_name: val.to_owner_name || this.ownerName, // 目的貨主
          to_owner_no: val.to_owner_no || null // 目的貨主代碼
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.from_owner_id) {
          this.fromProductAutocompleteSearchDisabled = true
          this.fromProductBaseCondition = [
            ['owner_id', '=', val.from_owner_id]
          ]
          this.error.from_owner_id = false
        } else {
          this.fromProductAutocompleteSearchDisabled = false
        }
        if (val.from_wh_id) {
          this.error.from_wh_id = false
        }
        if (val.to_wh_id) {
          this.error.to_wh_id = false
        }
        if (val.to_owner_id) {
          this.error.to_owner_id = false
        }
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      console.log(data)
      this.detailsList = data
    },
    //
    mainInputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        transferId: detailId
      }
      this.$store.dispatch(`transfer/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    setTransfer: function (data) {
      if (data === 'setTransferStasus') {
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else if (data === 'init') {
        this.init()
      } else {
        this.save()
      }
    },
    save: function () {
      this.$emit('changeLoadingViewIsShowEvent', true)
      let isError = false
      // 檢查主檔
      if (!this.postData.from_owner_name) {
        isError = true
        this.error.from_owner_id = true
      }
      if (!this.postData.from_wh_name) {
        isError = true
        this.error.from_wh_id = true
      }
      if (!this.postData.to_owner_name) {
        isError = true
        this.error.to_owner_id = true
      }
      if (!this.postData.to_wh_name) {
        isError = true
        this.error.to_wh_id = true
      }
      // 檢查明細
      console.log(this.detailsList)
      let detailsLength = this.detailsList.length
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        if (!data.fromProduct.product_id || data.fromProduct.product_id === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"來源商品料號"未填`,
            duration: 30
          })
        }
        if (!data.from_stock_num || data.from_stock_num === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"調撥數量"未填`,
            duration: 30
          })
        }
        if (!data.to_product_code || data.to_product_code === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"目的商品料號"未填`,
            duration: 30
          })
        }
        if (!data.toStorageLoc.storage_id || data.toStorageLoc.storage_id === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"目的儲位"未填`,
            duration: 30
          })
        }
        if (!data.to_stock_num || data.to_stock_num === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"目的庫存"未填`,
            duration: 30
          })
        }
      }
      if (isError) {
        this.$emit('changeLoadingViewIsShowEvent', false)
        return
      }
      let postData = {
        recTransfer: {
          owner_id: this.postData.from_owner_id,
          owner_name: this.postData.from_owner_name,
          owner_no: this.postData.from_owner_no,
          to_company_id: this.postData.to_company_id,
          to_owner_id: this.postData.to_owner_id,
          to_owner_name: this.postData.to_owner_name,
          to_owner_no: this.postData.to_owner_no,
          to_wh_id: this.postData.to_wh_id,
          to_wh_name: this.postData.to_wh_name
        },
        transferDetails: []
      }
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        let detailsPostdata = {
          from_product_code: data.from_product_code,
          from_product_id: data.from_product_id,
          from_product_name: data.from_product_name,
          from_product_quality: data.from_product_quality,
          from_stock_num: data.from_stock_num,
          from_storage_code: data.from_storage_code,
          from_storage_id: data.from_storage_id,
          to_product_code: data.to_product_code,
          to_product_id: data.to_product_id,
          to_product_name: data.to_product_name,
          to_product_quality: data.to_product_quality,
          to_stock_num: data.to_stock_num,
          to_storage_code: data.to_storage_code,
          to_storage_id: data.to_storage_id
        }
        if (data.fromProduct.product_batch_no && data.fromProduct.product_batch_no !== '') {
          detailsPostdata.from_product_batch_no = data.fromProduct.product_batch_no
        }
        if (data.fromProduct.product_expired_date && data.fromProduct.product_expired_date !== '') {
          detailsPostdata.from_product_expired_date = data.fromProduct.product_expired_date
        }
        if (data.fromProduct.product_manufactured && data.fromProduct.product_manufactured !== '') {
          detailsPostdata.from_product_manufactured = data.fromProduct.product_manufactured
        }
        if (data.to_product_batch_no && data.to_product_batch_no !== '') {
          detailsPostdata.to_product_batch_no = data.to_product_batch_no
        }
        if (data.to_product_expired_date) {
          if (data.to_product_expired_date instanceof Date) {
            let newProductManufactured = new Date(data.to_product_expired_date)
            let yyyy = newProductManufactured.getFullYear()
            let mm = newProductManufactured.getMonth() + 1
            let dd = newProductManufactured.getDate()
            let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
            detailsPostdata.to_product_expired_date = localFilterStartTime
          } else {
            detailsPostdata.to_product_expired_date = data.to_product_expired_date // 製造日期
          }
        }
        postData.transferDetails.push(detailsPostdata)
      }
      console.log(postData)
      if (!this.detailId) {
        // create
        this.$store.dispatch('transfer/create', postData).then((r) => {
          console.log(r)
          if (r.success) {
            this.postData.transfer_id = r.recTransfer.transfer_id
            this.postData.transfer_no = r.recTransfer.transfer_no
            for (let i = 0; i < detailsLength; i++) {
              this.detailsList[i].tfd_id = r.transferDetail[i].tfd_id
            }
            this.$Notice.success({
              title: '新增成功'
            })
            this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
            this.$emit('toStepEvent', this.postData, 2)
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '新增失敗',
              desc: r.message,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
        })
      } else {
        // update
        postData.recTransfer.transfer_id = this.detailId
        postData.transferDetails = []
        for (let i = 0; i < detailsLength; i++) {
          let data = this.detailsList[i]
          let detailsPostdata = {
            tfd_id: data.tfd_id || null,
            from_product_code: data.from_product_code,
            from_product_id: data.from_product_id,
            from_product_name: data.from_product_name,
            from_product_quality: data.from_product_quality,
            from_stock_num: data.from_stock_num,
            from_storage_code: data.from_storage_code,
            from_storage_id: data.from_storage_id,
            from_product_batch_no: data.fromProduct.product_batch_no || null,
            from_product_expired_date: data.fromProduct.product_expired_date || null,
            from_product_manufactured: data.fromProduct.product_manufactured || null,
            to_product_code: data.to_product_code,
            to_product_id: data.to_product_id,
            to_product_name: data.to_product_name,
            to_product_quality: data.to_product_quality,
            to_stock_num: data.to_stock_num,
            to_storage_code: data.to_storage_code,
            to_storage_id: data.to_storage_id,
            to_product_batch_no: data.to_product_batch_no || null
          }
          if (data.to_product_expired_date) {
            if (data.to_product_expired_date instanceof Date) {
              let newProductManufactured = new Date(data.to_product_expired_date)
              let yyyy = newProductManufactured.getFullYear()
              let mm = newProductManufactured.getMonth() + 1
              let dd = newProductManufactured.getDate()
              let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              detailsPostdata.to_product_expired_date = localFilterStartTime
            } else {
              detailsPostdata.to_product_expired_date = data.to_product_expired_date // 製造日期
            }
          } else {
            detailsPostdata.to_product_expired_date = null
          }
          postData.transferDetails.push(detailsPostdata)
        }
        this.$store.dispatch('transfer/update', { postData: postData, detailId: this.detailId }).then((r) => {
          console.log(r)
          if (r.success) {
            this.$Notice.success({
              title: '更新成功'
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '更新失敗',
              desc: r.message,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
        })
      }
    },
    initPostData: function () {
      this.postData = {
        transfer_id: null,
        transfer_no: null,
        transfer_status: null,
        from_owner_id: this.ownerId || null, // 來源貨主
        from_owner_name: this.ownerName || '', // 來源貨主名稱
        from_owner_no: null, // 來源貨主代碼
        from_wh_id: this.whId || null, // 來源倉庫ID
        from_wh_name: this.whName || '', // 來源倉庫
        to_company_id: this.companyId || null, // 目的公司ID
        to_wh_id: this.whId || null, // 目的倉庫ID
        to_wh_name: this.whName || '', // 目的倉庫
        to_owner_id: this.ownerId || null, // 目的貨主ID
        to_owner_name: this.ownerName || '', // 目的貨主
        to_owner_no: null // 目的貨主代碼
      }
      this.error = {
        from_owner_id: false, // 來源貨主
        to_company_id: false, // 目的公司
        to_wh_id: false, // 目的倉庫
        to_owner_id: false // 目的貨主
      }
    },
    init: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
    },
    /* 調撥單狀態 */
    transferStatusListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`transfer/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    margin-top: 8px;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 8px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
/deep/.ivu-modal-wrap {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  p {
    font-size: 16px;
    color: #555;
    margin-bottom: 16px;
  }
  .button-box {
    display: flex;
    justify-content: center;
    .modal-btn {
      min-width: 96px;
      font-size: 16px;
      padding-top: 1px;
      padding-bottom: 1px;
      &.dark {
        background-color: #354361;
        color: #ffffff;
      }
    }
  }
}
</style>
