<template>
  <div class="TransferSetupDetails">
    <!-- 按鈕區 -->
    <!-- <br /> -->
    <!-- 分隔線 -->
    <DataGrid
    idKeyName="transfer_id"
    :bgType="userInfo.themeColor"
    :hideFilter="true"
    :hidePage="true"
    :logicalOperator="logicalOperator"
    :settingData="settingData"
    :gridData="gridData"
    :toGetIds="toGetIds"
    :isQuery="isQuery"
    :setVisibleColumns="setVisibleColumns"
    @moveColEvent="moveColEvent"
    @removeColEvent="removeColEvent"
    @sortEvent="sortEvent"
    @filterEvent="filterEvent"
    @getIdsEvent="getIdsEvent"
    @getDetailEvent="getDetailEvent"
    @pageChangeEvent="pageChangeEvent"
    @pageSizeChangeEvent="pageSizeChangeEvent"
    @scrollEvent="scrollEvent"></DataGrid>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
export default {
  name: 'TransferSetupDetails',
  props: ['data', 'detailId'],
  components: {
    DataGrid
  },
  data () {
    let userInfo = this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    // 定義用
    var settingData = []
    var defaultSettingData = {
      isOverview: false, // 總纜
      page: {
        pageSize: 50, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[userInfo.themeColor].dataGrid.headBgColor,
        headColor: Config.themeColor[userInfo.themeColor].dataGrid.headColor,
        rowOddBgColor: Config.themeColor[userInfo.themeColor].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[userInfo.themeColor].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[userInfo.themeColor].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[userInfo.themeColor].dataGrid.rowEvenColor,
        editCelColor: Config.themeColor[userInfo.themeColor].dataGrid.editCelColor,
        waitEditCelColor: Config.themeColor[userInfo.themeColor].dataGrid.waitEditCelColor,
        notEditCelColor: Config.themeColor[userInfo.themeColor].dataGrid.notEditCelColor,
        selectedColor: Config.themeColor[userInfo.themeColor].dataGrid.selectedColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_product_code',
          displayName: '來源商品料號 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_product_name',
          displayName: '來源商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_product_quality',
          displayName: '良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_storage_code',
          displayName: '來源儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'stock_num',
          displayName: '來源庫存',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_stock_num',
          displayName: '調撥數量 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_code',
          displayName: '目的商品料號 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_quality',
          displayName: '目的 良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_storage_code',
          displayName: '目的儲位 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_stock_num',
          displayName: '目的庫存 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_batch_no',
          displayName: '目的批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_expired_date',
          displayName: '目的有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    settingData = defaultSettingData
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      isScrollToBottom: false,
      //
      setVisibleColumns: false,
      //
      fromProductQualityFilterData: [], // 良品/不良品
      toProductQualityFilterData: [] // 目的 良品/不良品
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    transferDetailList: function () {
      return this.$store.state[`transfer`][`transferDetailList`] || {}
    }
  },
  watch: {
    transferDetailList: {
      handler: function (val) {
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
          })
        }
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        //
        // console.log(val)
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    fromProductQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'from_product_quality') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    toProductQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'to_product_quality') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            if (_item) {
              // console.log(item.INDEX)
              // if (item.transfer_id && item.transfer_id !== '') {
              //   this.remove(item.transfer_id)
              // }
              return false
            } else {
              return true
            }
          })
          // console.log(this.gridData)
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // 良品/不良品 from_product_quality
    getFromProductQualityFilterData: function () {
      this.fromProductQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    // 目的 良品/不良品 to_product_quality
    getToProductQualityFilterData: function () {
      this.toProductQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    setDetailsList: function (type, data) {
      // console.log(type)
      // console.log(data)
      switch (type) {
        case 'init':
          console.log('init')
          this.gridData = []
          break
        case 'saveFail':
          let dataLength = data.length
          let gridData = this.gridData
          for (let i = 0; i < dataLength; i++) {
            gridData.splice(data[i], 1)
          }
          console.log(gridData)
          let gridDataLength = gridData.length
          for (let i = 0; i < gridDataLength; i++) {
            gridData.INDEX = i + 1
          }
          this.gridData = gridData
          break
      }
    },
    //
    getGridData: function () {
      this.isQuery = true
      //
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'transfer_id',
            queryValue: this.detailId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch('transfer/search', { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        if (r) {
          // console.log(r)
          this.gridData = r.respondCode.additionals.transfer
          this.gridData.forEach((ele, idx) => {
            ele.INDEX = (idx + 1)
            ele.SELECT = false
            ele.fromProduct = {
              product_id: ele.from_product_id || null,
              product_code: ele.from_product_code || ''
            }
            ele.toStorageLoc = {
              storage_id: ele.to_stock_loc || null,
              storage_code: ele.to_stock_loc_code || ''
            }
            ele.toStorageLocBad = {
              storage_id: ele.to_stock_loc_bad || null,
              storage_code: ele.to_stock_loc_bad_code || ''
            }
          })
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    //
    this.getFromProductQualityFilterData()
    this.getToProductQualityFilterData()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.TransferSetupDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 379px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
</style>
