<template>
  <div class="TransferSetupDetails">
    <!-- 按鈕區 -->
    <Poptip trigger="hover" title="新增">
      <Button class="detail-add mr-1 mb-2" @click="setAddModalEvent">
        <font-awesome-icon icon="plus" />
      </Button>
    </Poptip>
    <Poptip trigger="hover" title="刪除">
      <Button class="detail-remove mb-2" @click="comfirmRemove">
        <font-awesome-icon icon="minus" />
      </Button>
    </Poptip>
    <br />
    <!-- 分隔線 -->
    <DataGrid
    idKeyName="tfd_id"
    :bgType="userInfo.themeColor"
    :hideFilter="true"
    :hidePage="true"
    :logicalOperator="logicalOperator"
    :settingData="settingData"
    :gridData="gridData"
    :toGetIds="toGetIds"
    :isQuery="isQuery"
    :setVisibleColumns="setVisibleColumns"
    @moveColEvent="moveColEvent"
    @removeColEvent="removeColEvent"
    @sortEvent="sortEvent"
    @filterEvent="filterEvent"
    @getIdsEvent="getIdsEvent"
    @getDetailEvent="getDetailEvent"
    @pageChangeEvent="pageChangeEvent"
    @pageSizeChangeEvent="pageSizeChangeEvent"
    @scrollEvent="scrollEvent"></DataGrid>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
export default {
  name: 'TransferSetupDetails',
  props: ['data', 'detailId', 'companyId', 'whId', 'fromOwnerId', 'toOwnerId'],
  components: {
    DataGrid,
    ComfirmRemoveModal
  },
  data () {
    let userInfo = this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    // 定義用
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: 50, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[userInfo.themeColor].dataGrid.headBgColor,
        headColor: Config.themeColor[userInfo.themeColor].dataGrid.headColor,
        rowOddBgColor: Config.themeColor[userInfo.themeColor].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[userInfo.themeColor].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[userInfo.themeColor].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[userInfo.themeColor].dataGrid.rowEvenColor,
        editCelColor: Config.themeColor[userInfo.themeColor].dataGrid.editCelColor,
        waitEditCelColor: Config.themeColor[userInfo.themeColor].dataGrid.waitEditCelColor,
        notEditCelColor: Config.themeColor[userInfo.themeColor].dataGrid.notEditCelColor,
        selectedColor: Config.themeColor[userInfo.themeColor].dataGrid.selectedColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'fromProduct',
          displayName: '來源商品料號*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'inventory',
            storeKey: 'stockByStorage',
            returnCode: 'product_code',
            respondCode: 'inventory',
            showCols: [
              'product_name'
            ],
            dispatchPath: 'stockByStorage/search',
            condition: [],
            modalTitle: '來源商品料號'
          },
          baseCondition: [['owner_id', '=', this.fromOwnerId]],
          hiddenSearchBtn: false,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '300px',
          editable: true, // 資料在本欄位下是否可以被編輯
          inputDisabled: true, // 輸入框不可編輯 true / 可 false
          searchDisabled: false // 放大鏡不可點擊 true / 可 false
        },
        {
          property: 'from_product_name',
          displayName: '來源商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_product_quality',
          displayName: '良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_storage_code',
          displayName: '來源儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'stock_num',
          displayName: '來源庫存',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'from_stock_num',
          displayName: '調撥數量 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'toProduct',
          displayName: '目的商品料號 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'goodsSetup',
            storeKey: 'product',
            returnCode: 'product_code',
            showCols: [
              'product_name'
            ],
            dispatchPath: 'product/search',
            condition: [],
            modalTitle: '目的商品料號'
          },
          baseCondition: [['owner_id', '=', this.toOwnerId]],
          hiddenSearchBtn: false,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '300px',
          editable: true, // 資料在本欄位下是否可以被編輯
          inputDisabled: true, // 輸入框不可編輯 true / 可 false
          searchDisabled: false // 放大鏡不可點擊 true / 可 false
        },
        {
          property: 'to_product_quality',
          displayName: '目的 良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'toStorageLoc',
          displayName: '目的儲位 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storage',
            returnCode: 'storage_code',
            showCols: [],
            dispatchPath: 'storage/search',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '目的儲位'
          },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_stock_num',
          displayName: '目的庫存 *',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_batch_no',
          displayName: '目的批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'to_product_expired_date',
          displayName: '目的有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    settingData = defaultSettingData
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      idsData: null,
      isScrollToBottom: false,
      setVisibleColumns: false,
      //
      comfirmRemoveModal: false,
      //
      ownerId: ownerId,
      ownerName: ownerName,
      whName: this.$store.state.auth.userInfo.warehousLocalName,
      fromProductQualityFilterData: [], // 良品/不良品
      toProductQualityFilterData: [] // 目的 良品/不良品
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    transferDetailList: function () {
      return this.$store.state[`transfer`][`transferDetailList`] || {}
    }
  },
  watch: {
    transferDetailList: {
      handler: function (val) {
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            item.fromProduct = {
              product_id: item.from_product_id,
              product_code: item.from_product_code,
              product_name: item.from_product_name,
              inbound_id: item.inbound_id,
              inventory_id: item.inventory_id,
              stock_num: item.stock_num,
              storage_id: item.from_storage_id,
              storage_code: item.from_storage_code
            }
            item.toProduct = {
              product_id: item.to_product_id,
              product_code: item.to_product_code,
              product_name: item.to_product_name
            }
            item.toStorageLoc = {
              storage_id: item.to_storage_id,
              storage_code: item.to_storage_code
            }
          })
        }
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        //
        console.log(val)
        // 來源商品
        val.forEach((item, index) => {
          val[index].from_product_name = val[index].fromProduct.product_name
          if (val[index].fromProduct.stock_num !== undefined) {
            val[index].stock_num = val[index].fromProduct.stock_num
          }
          if (val[index].fromProduct.product_quality !== undefined) {
            val[index].from_product_quality = val[index].fromProduct.product_quality
          }
          if (val[index].fromProduct.storage_loc !== undefined) {
            val[index].from_storage_id = val[index].fromProduct.storage_loc
          }
          if (val[index].fromProduct.storage_loc_storage_code !== undefined) {
            val[index].from_storage_code = val[index].fromProduct.storage_loc_storage_code
          }
          //
          val[index].to_product_name = val[index].toProduct.product_name
        })
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    fromProductQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'from_product_quality') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    toProductQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'to_product_quality') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        obd_id: null,
        from_product_quality: 1,
        fromProduct: {},
        from_product_code: null,
        from_product_id: null,
        from_product_name: null,
        from_stock_num: null,
        from_storage_code: null,
        from_storage_id: null,
        toProduct: {},
        to_product_code: null,
        to_product_id: null,
        to_product_name: null,
        to_product_quality: 1,
        toStorageLoc: {},
        to_storage_code: null,
        to_storage_id: null,
        to_stock_num: null,
        to_product_batch_no: null,
        to_product_expired_date: null
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    setAddModalEvent: function () {
      this.$emit('setAddModalEvent', true)
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            if (_item) {
              return false
            } else {
              return true
            }
          })
          this.remove()
          // console.log(this.gridData)
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    remove: function () {
      let postData = {
        tfdIds: []
      }
      postData.tfdIds = this.idsData.selectIds
      console.log(postData)
      this.$store.dispatch('transfer/deleteDetail', postData).then((r) => {
        // console.log(r)
        if (r.success) {
          // 警告提示
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          this.$Notice.error({
            title: '刪除失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 良品/不良品 from_product_quality
    getFromProductQualityFilterData: function () {
      this.fromProductQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    // 目的 良品/不良品 to_product_quality
    getToProductQualityFilterData: function () {
      this.toProductQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    setDetailsList: function (type, data) {
      // console.log(type)
      // console.log(data)
      switch (type) {
        case 'init':
          console.log('init')
          this.gridData = []
          break
        case 'add':
          console.log('add')
          // console.log(data)
          let INDEX = this.gridData.length + 1
          this.gridData.push({
            INDEX: INDEX, // 流水號
            SELECT: false,
            from_product_quality: data.from_product_quality,
            fromProduct: {
              product_id: data.from_product_id,
              product_code: data.from_product_code,
              product_name: data.from_product_name,
              inbound_id: data.inbound_id,
              inventory_id: data.inventory_id,
              stock_num: data.stock_num,
              storage_id: data.from_storage_id,
              storage_code: data.from_storage_code
            },
            from_product_id: data.from_product_id,
            from_product_name: data.from_product_name,
            from_product_code: data.from_product_code,
            from_storage_id: data.from_storage_id,
            from_storage_code: data.from_storage_code,
            stock_num: data.stock_num,
            from_stock_num: data.from_stock_num,
            to_product_quality: data.to_product_quality,
            toProduct: {
              product_id: data.to_product_id,
              product_code: data.to_product_code,
              product_name: data.to_product_name
            },
            to_product_code: data.to_product_code,
            to_product_id: data.to_product_id,
            to_product_name: data.to_product_name,
            toStorageLoc: {
              storage_id: data.to_storage_id,
              storage_code: data.to_storage_code
            },
            to_storage_id: data.to_storage_id,
            to_storage_code: data.to_storage_code,
            to_stock_num: data.to_stock_num,
            to_product_batch_no: data.to_product_batch_no,
            to_product_expired_date: data.to_product_expired_date,
            to_inventory_note: data.to_inventory_note
          })
          break
        case 'set':
          // console.log('set')
          data.forEach((item, index) => {
            this.gridData[index].tfd_id = item.tfd_id
          })
          break
        case 'saveFail':
          let dataLength = data.length
          let gridData = this.gridData
          for (let i = 0; i < dataLength; i++) {
            gridData.splice(data[i], 1)
          }
          console.log(gridData)
          let gridDataLength = gridData.length
          for (let i = 0; i < gridDataLength; i++) {
            gridData.INDEX = i + 1
          }
          this.gridData = gridData
          break
      }
    },
    //
    getGridData: function () {
      this.isQuery = true
      //
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'transfer_id',
            queryValue: this.detailId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch('transfer/search', { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        if (r) {
          // console.log(r)
          this.gridData = r.respondCode.additionals.transfer
          this.gridData.forEach((ele, idx) => {
            ele.INDEX = (idx + 1)
            ele.SELECT = false
            ele.fromProduct = {
              product_id: ele.from_product_id || null,
              product_code: ele.from_product_code || ''
            }
            ele.toStorageLoc = {
              storage_id: ele.to_stock_loc || null,
              storage_code: ele.to_stock_loc_code || ''
            }
            ele.toStorageLocBad = {
              storage_id: ele.to_stock_loc_bad || null,
              storage_code: ele.to_stock_loc_bad_code || ''
            }
          })
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    //
    this.getFromProductQualityFilterData()
    this.getToProductQualityFilterData()
    // if (this.detailId && this.detailId !== '') {
    //   // 取得清單
    //   this.getGridData()
    // }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.TransferSetupDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 420px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
</style>
