<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 帳單管理總覽 -->
    <span v-show="step===0">
      <h2
        class="title"
        :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}"
      >
        <span>帳單管理總覽</span>
        <div class="btn-box r">
          <Button class="icon-btn-md mr-3" @click="toQuotationAdd">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md mr-3" @click="comfirmRemove">
            <font-awesome-icon icon="minus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reloadDataGrid">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <div class="btn-box l">
          <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="getBilledDetailEvent"
          >產帳單費用</Button>
          <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="getIds('paymentRequest')"
          >帳單請款</Button>
          <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="getIds('paymentSome')"
          >帳單部分付款</Button>
          <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="getIds('paymentAll')"
          >帳單結清</Button>
          <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="getIds('billCancel')"
          >作廢帳單</Button>
          <!-- <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="showImportModal"
          >帳單資料匯入</Button> -->
          <!-- <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'all'}"
            type="default"
            shape="circle"
            @click="changeDataListEvent('all')"
          >ALL</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'started'}"
            type="default"
            shape="circle"
            @click="changeDataListEvent('started')"
          >待確認</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'paymentRequest'}"
            type="default"
            shape="circle"
            @click="changeDataListEvent('paymentRequest')"
          >待請款</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'payment'}"
            type="default"
            shape="circle"
            @click="changeDataListEvent('payment')"
          >待付款</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'paymentSome'}"
            type="default"
            shape="circle"
            @click="changeDataListEvent('paymentSome')"
          >待結清</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'paymentAll'}"
            type="default"
            shape="circle"
            @click="changeDataListEvent('paymentAll')"
          >已結清</Button>
          <Button
            class="dataGridTab mr-3"
            :class="{'isFocus' : changeDataList === 'cancelled'}"
            type="default"
            shape="circle"
            @click="changeDataListEvent('cancelled')"
          >已作廢</Button>
        <DataGrid
          idKeyName="bill_id"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- dataexport btn -->
        <div class="dataexportBtn" @click="dataexport">
          <font-awesome-icon icon="file-download" size="2x" />
        </div>
      </div>
    </span>
    <!-- 帳單作業建檔 -->
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title">
        <span v-if="step===1">帳單建檔</span>
        <span v-if="step===2 && billStatus===10">確認帳單</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18"/>
          </Button>
          <Button class="icon-btn-md mr-3" @click="add" v-if="step===2">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md mr-3" @click="comfirmRemove" v-if="step===2">
            <font-awesome-icon icon="minus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <div class="btn-box l">
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" v-if="step===2 && billStatus===10" @click="goToStarted">確認帳單</Button>
        </div>
      </h2>
      <div class="body-box">
        <BillSetupAdd
          ref="changeBillStatus"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:backEvent="setStep"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></BillSetupAdd>
      </div>
    </span>
    <!-- 帳單 -->
    <span v-if="step===4 || step===5 || step===6">
      <h2 class="title">
        <span v-if="step===4">帳單請款</span>
        <span v-if="step===5">帳單付款</span>
        <span v-if="step===6">帳單結清</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18"/>
          </Button>
          <Button class="icon-btn-md mr-3" @click="add">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <div class="btn-box l">
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToPaymentRequest" v-if="step===4">帳單請款</Button>
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToPaymentSome" v-if="step===4 || step===5">帳單部分付款</Button>
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToPaymentAll" v-if="step===4 || step===5 || step===6">帳單結清</Button>
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToCancelled" v-if="step===4">作廢帳單</Button>
        </div>
      </h2>
      <div class="body-box">
        <BillPaymentSetupAdd
          ref="changeBillStatus"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></BillPaymentSetupAdd>
      </div>
    </span>
    <!-- 帳單 -->
    <span v-if="step===7">
      <h2 class="title">
        <span v-if="billStatus===40">已結清帳單</span>
        <span v-if="billStatus===25">作廢帳單</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18"/>
          </Button>
          <Button class="icon-btn-md mr-3" @click="add">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <!-- <div class="btn-box l">
          <Button class="editLayoutBtn mr-3" type="default" shape="circle" @click="goToCancelled" v-if="step===4">作廢帳單</Button>
        </div> -->
      </h2>
      <div class="body-box">
        <BillCloseSetupAdd
          ref="changeBillStatus"
          :step="step"
          :detailId="detailId"
          :companyId="companyId"
          :whId="whId"
          :uiId="uiId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :showInpageTab="showInpageTab"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></BillCloseSetupAdd>
      </div>
    </span>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
    <!-- import modal -->
    <!-- <ImportModal
      :importModal="importModalToggle"
      :importModalTitle="importModalTitle"
      :importExampleFile="importExampleFile"
      :importUploadURL="importUploadURL"
      :importLoadingViewIsShow="importLoadingViewIsShow"
      v-on:importEvent="importEvent"
      v-on:beforeUploadEvent="beforeUploadEvent"
      v-on:setImportModalEvent="setImportModalEvent"
    ></ImportModal> -->
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import BillSetupAdd from './components/BillSetupAdd'
import BillPaymentSetupAdd from './components/BillPaymentSetupAdd'
import BillCloseSetupAdd from './components/BillCloseSetupAdd'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
// import ImportModal from '@/components/ImportModal/ImportModal'
//
export default {
  name: 'BillSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    BillSetupAdd,
    BillPaymentSetupAdd,
    BillCloseSetupAdd,
    ComfirmRemoveModal,
    ColumnControlModal,
    DataexportModal
    // ImportModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'bill_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'can_extend') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'date_billed') {
        filterType = 'DaterangeNoHms'
        valueType = 'Date'
      }
      if (element.property === 'date_start') {
        filterType = 'DaterangeNoHms'
        valueType = 'Date'
      }
      if (element.property === 'date_end') {
        filterType = 'DaterangeNoHms'
        valueType = 'Date'
      }
      if (element.property === 'date_cancelled') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_confirmed') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_requested') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_paid_partial') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_paid_full') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    settingData = defaultSettingData
    // console.log(settingData)
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '帳單總覽',
      // importModal
      // importModalToggle: false,
      // importModalTitle: '帳單',
      // importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.quotation.upload}`,
      // importExampleFile: 'stocktake_format.xlsx',
      // importLoadingViewIsShow: false,
      // pickinglist modal
      pickinglistModalToggle: false,
      pickinglistLoadingViewIsShow: false,
      //
      timeZoneTimestamp: '',
      //
      step: 0, // 0: 帳單作業總覽 / 1:帳單作業建檔 / 2:帳單作業 detail / 3:clone
      // 帳單作業總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      cloneData: null,
      isQuery: false,
      billStatusFilterData: [],
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      billStatus: null,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      userId: this.$store.state.auth.userInfo.userId,
      uiId: this.$store.state.auth.userInfo.uiId,
      // 帳單作業建檔
      detailId: null,
      // 切換總覽
      changeDataList: 'all',
      // 切換內頁tab
      showInpageTab: 'main'
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    billList: function () {
      var list = []
      list = this.$store.state[`bill`][`billList`] || []
      // console.log(list)
      return list || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    billList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            if (item.date_cancelled) {
              item.date_cancelled = this.changeToLocalTime(item.date_cancelled)
            }
            if (item.date_confirmed) {
              item.date_confirmed = this.changeToLocalTime(item.date_confirmed)
            }
            if (item.date_requested) {
              item.date_requested = this.changeToLocalTime(item.date_requested)
            }
            if (item.date_paid_partial) {
              item.date_paid_partial = this.changeToLocalTime(item.date_paid_partial)
            }
            if (item.date_paid_full) {
              item.date_paid_full = this.changeToLocalTime(item.date_paid_full)
            }
            if (item.created_at) {
              item.created_at = this.changeToLocalTime(item.created_at)
            }
            if (item.update_at) {
              item.update_at = this.changeToLocalTime(item.update_at)
            }
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (oldVal === 0) {
        this.showInpageTab = 'main'
      } else {
        this.showInpageTab = 'details'
      }
      if (newVal === 0) {
        //
        this.cloneData = null
        // console.log(this.settingData.page.pageNumber)
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 4 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
      if (newVal === 5 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    billStatus: {
      handler: function (val) {
        //
      },
      deep: true
    },
    billStatusFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'bill_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      // console.log(data.billStatus)
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            // console.log(data.bill_status)
            if (item === 'bill_status' && data[item].value.length > 0) {
              return
            }
            if (item === 'can_extend' && data[item].value.length > 0) {
              return
            }
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      if (this.detailId) {
        this.remove()
      }
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        // case 'clone':
        //   this.step = 1
        //   this.cloneData = data.list[0]
        //   break
        case 'remove':
          this.remove()
          break
        case 'paymentRequest':
          this.billUpdateBulk('paymentRequest')
          break
        case 'paymentSome':
          this.billUpdateBulk('paymentSome')
          break
        case 'paymentAll':
          this.billUpdateBulk('paymentAll')
          break
        case 'billCancel':
          this.billUpdateBulk('billCancel')
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 帳單作業 detail
      this.LoadingViewIsShow = true
      this.detailId = data.bill_id
      this.billStatus = data.bill_status
      switch (data.bill_status) {
        case 10:
          this.step = 2
          break
        case 15:
          this.step = 7
          break
        case 20:
          this.step = 4
          break
        case 25:
          this.step = 7
          break
        case 30:
          this.step = 5
          break
        case 35:
          this.step = 6
          break
        case 40:
          this.step = 7
          break
      }
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 前往帳單作業總覽
    toQuotation: function () {
      this.step = 0
    },
    back: function () {
      //
      this.detailId = null
      this.billStatus = null
      this.toQuotation()
    },
    // 前往帳單作業建檔
    toQuotationAdd: function () {
      this.step = 1
    },
    toStepEvent: function (step, id, billStatus) {
      // console.log(step, id, billStatus)
      this.detailId = id
      this.step = step
      this.billStatus = billStatus
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    // remove
    remove: async function () {
      // console.log('remove', this.idsData)
      // 內頁單筆刪除
      if (!this.idsData) {
        if (this.detailId) {
          this.$store.dispatch('bill/delete', this.detailId).then((r) => {
            // console.log(r)
            if (r.httpStatus === 200) {
              // 警告提示
              this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
              this.$Notice.success({
                title: '刪除成功'
              })
              setTimeout(() => {
                this.step = 0
              }, 500)
            } else {
              this.$Notice.error({
                title: '刪除失敗'
              })
            }
          })
          return
        }
        return
      }
      // 總覽多筆刪除
      var idsLength = this.idsData.list.length
      // if (idsLength === 0) {
      //   this.$Notice.warning({
      //     title: '請勾選要刪除的資料'
      //   })
      //   return
      // }
      var isError = false
      for (let i = 0; i < idsLength; i++) {
        if (this.idsData.list[i].bill_status >= 35) {
          this.$Notice.warning({
            title: `第${this.idsData.list[i].INDEX}筆資料`,
            desc: '無法刪除，請取消選取',
            duration: 30
          })
          isError = true
        }
      }
      if (isError) {
        return
      }
      try {
        this.isQuery = true
        for (let i = 0; i < idsLength; i++) {
          let deleteRes = await this.$store.dispatch('bill/delete', this.idsData.list[i].bill_id)
          // console.log(deleteRes)
          if (deleteRes.httpStatus !== 200 && deleteRes.httpStatus !== 201) {
            this.$Notice.error({
              title: `${this.idsData.list[i].INDEX}`,
              desc: '刪除失敗',
              duration: 30
            })
          }
        }
        this.isQuery = false
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      } catch (error) {
        // console.log(error)
        this.isQuery = false
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      this.idsData = null
    },
    add: function () {
      //
      this.detailId = null
      this.toQuotationAdd()
    },
    // 前往帳單作業建檔 : clone
    toQuotationClone: function () {
      this.getIds()
      this.optType = 'clone'
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    setStep: function (step) {
      this.step = step
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    reload: function (stocktakeId) {
      this.LoadingViewIsShow = true
      this.getDetail(stocktakeId)
      // this.getDetailDetails(stocktakeId)
    },
    getDetail: function (billId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'bill_id',
            queryValue: billId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`bill/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.LoadingViewIsShow = false
      })
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      // console.log(pageNumber)
      this.isQuery = true
      this.LoadingViewIsShow = true
      this.idsData = null
      //
      var filter = [
        {
          queryCondition: '=',
          queryValue: this.companyId,
          queryField: 'company_id'
        },
        {
          queryCondition: '=',
          queryValue: this.whId,
          queryField: 'wh_id'
        }
      ]
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      var postData = {
        page: pageNumber,
        pageSize: pageSize,
        combinedCondition: 'AND',
        query: filter,
        sort: sort
      }
      switch (this.changeDataList) {
        case 'all':
          postData.query = [...filter]
          break
        case 'started':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 10,
              queryField: 'bill_status'
            }
          ]
          break
        case 'paymentRequest':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 20,
              queryField: 'bill_status'
            }
          ]
          break
        case 'payment':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 30,
              queryField: 'bill_status'
            }
          ]
          break
        case 'paymentSome':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 35,
              queryField: 'bill_status'
            }
          ]
          break
        case 'paymentAll':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 40,
              queryField: 'bill_status'
            }
          ]
          break
        case 'cancelled':
          postData.query = [
            ...filter,
            {
              queryCondition: '=',
              queryValue: 25,
              queryField: 'bill_status'
            }
          ]
          break
      }
      //
      // this.filterAry = postData.query
      //
      this.$store.dispatch(`bill/query`, postData).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
        }
        this.isQuery = false
        this.LoadingViewIsShow = false
      })
    },
    changeDataListEvent: function (val) {
      this.changeDataList = val
      this.getDataList(this.settingData.page.pageSize, 1)
    },
    billUpdateBulk: function (type) {
      var idsLength = this.idsData.list.length
      if (idsLength === 0) {
        this.$Notice.warning({
          title: '請勾選要修改的資料'
        })
        return
      }
      var postData = {
        bill_ids: [],
        bill_status: null
      }
      var ids = []
      let isError = false
      // 檢查
      switch (type) {
        case 'paymentRequest':
          for (let i = 0; i < idsLength; i++) {
            if (this.idsData.list[i].bill_status !== 20) {
              this.$Notice.warning({
                title: `第${this.idsData.list[i].INDEX}筆資料`,
                desc: '無法修改，請取消選取',
                duration: 30
              })
              isError = true
            } else {
              ids.push(this.idsData.list[i].bill_id)
            }
          }
          postData.bill_status = 30
          break
        case 'paymentSome':
          for (let i = 0; i < idsLength; i++) {
            if (this.idsData.list[i].bill_status !== 20 && this.idsData.list[i].bill_status !== 30) {
              this.$Notice.warning({
                title: `第${this.idsData.list[i].INDEX}筆資料`,
                desc: '無法修改，請取消選取',
                duration: 30
              })
              isError = true
            } else {
              ids.push(this.idsData.list[i].bill_id)
            }
          }
          postData.bill_status = 35
          break
        case 'paymentAll':
          for (let i = 0; i < idsLength; i++) {
            if (this.idsData.list[i].bill_status !== 20 && this.idsData.list[i].bill_status !== 30 && this.idsData.list[i].bill_status !== 35) {
              this.$Notice.warning({
                title: `第${this.idsData.list[i].INDEX}筆資料`,
                desc: '無法修改，請取消選取',
                duration: 30
              })
              isError = true
            } else {
              ids.push(this.idsData.list[i].bill_id)
            }
          }
          postData.bill_status = 40
          break
        case 'billCancel':
          for (let i = 0; i < idsLength; i++) {
            if (this.idsData.list[i].bill_status >= 35) {
              this.$Notice.warning({
                title: `第${this.idsData.list[i].INDEX}筆資料`,
                desc: '無法修改，請取消選取',
                duration: 30
              })
              isError = true
            } else {
              ids.push(this.idsData.list[i].bill_id)
            }
          }
          postData.bill_status = 25
          break
      }
      if (isError) {
        return
      }
      //
      postData.bill_ids = ids
      console.log(postData)
      this.LoadingViewIsShow = true
      this.$store.dispatch('bill/bulk', postData).then((r) => {
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
        } else {
          this.$Notice.warning({
            title: `修改失敗`,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    // 作廢帳單
    // billCancel: async function () {
    //   // console.log('billCancel', this.idsData)
    //   var idsLength = this.idsData.list.length
    //   if (idsLength === 0) {
    //     this.$Notice.warning({
    //       title: '請勾選要作廢的資料'
    //     })
    //     return
    //   }
    //   //
    //   // var idsTo15 = []
    //   var idsTo25 = []
    //   let isError = false
    //   for (let i = 0; i < idsLength; i++) {
    //     // if (this.idsData.list[i].bill_status === 10) {
    //     //   idsTo15.push(this.idsData.list[i].bill_id)
    //     // }
    //     if (this.idsData.list[i].bill_status === 20) {
    //       idsTo25.push(this.idsData.list[i].bill_id)
    //     } else {
    //       this.$Notice.warning({
    //         title: `第${this.idsData.list[i].INDEX}筆資料`,
    //         desc: '無法作廢，請取消選取',
    //         duration: 30
    //       })
    //       isError = true
    //     }
    //   }
    //   if (isError) {
    //     return
    //   }
    //   //
    //   try {
    //     this.isQuery = true
    //     // if (idsTo15.length > 0) {
    //     //   let postData = {
    //     //     bill_ids: idsTo15,
    //     //     bill_status: 15
    //     //   }
    //     //   let Res = await this.$store.dispatch('quotation/bulk', postData)
    //     //   console.log(Res)
    //     //   if (Res.httpStatus !== 200 && Res.httpStatus !== 201) {
    //     //     this.$Notice.warning({
    //     //       title: `作廢失敗`,
    //     //       duration: 30
    //     //     })
    //     //   }
    //     // }
    //     if (idsTo25.length > 0) {
    //       let postData = {
    //         bill_ids: idsTo25,
    //         bill_status: 25
    //       }
    //       let Res = await this.$store.dispatch('quotation/bulk', postData)
    //       // console.log(Res)
    //       if (Res.httpStatus !== 200 && Res.httpStatus !== 201) {
    //         this.$Notice.warning({
    //           title: `作廢失敗`,
    //           duration: 30
    //         })
    //       }
    //     }
    //     this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    //   } catch (error) {
    //     // console.log(error)
    //     this.isQuery = false
    //     this.$Notice.warning({
    //       title: '作廢失敗'
    //     })
    //   }
    // },
    // 確認帳單
    goToStarted: function () {
      this.$refs.changeBillStatus.changeBillStatus(20)
    },
    // 帳單請款
    goToPaymentRequest: function () {
      this.$refs.changeBillStatus.changeBillStatus(30)
    },
    // 帳單部分付款
    goToPaymentSome: function () {
      this.$refs.changeBillStatus.changeBillStatus(35)
    },
    // 帳單結清
    goToPaymentAll: function () {
      this.$refs.changeBillStatus.changeBillStatus(40)
    },
    // 帳單作廢
    goToCancelled: function () {
      this.$refs.changeBillStatus.changeBillStatus(25)
    },
    // 帳單狀態 bill_status
    getBillStatusFilterData: function () {
      this.billStatusFilterData = [
        {
          label: '待確認',
          value: 10
        },
        {
          label: '待請款',
          value: 20
        },
        {
          label: '待付款',
          value: 30
        },
        {
          label: '待結清',
          value: 35
        },
        {
          label: '已結清',
          value: 40
        },
        {
          label: '帳單作廢',
          value: 25
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    // ImportModal Start
    // showImportModal: function () {
    //   this.importModalToggle = true
    // },
    // setImportModalEvent: function (bol) {
    //   // console.log(bol)
    //   this.importModalToggle = bol
    // },
    // beforeUploadEvent: function () {
    //   this.importLoadingViewIsShow = true
    // },
    // errorRequest: function (res, file) {
    //   // console.log(res)
    //   // console.log(file)
    //   //
    //   this.$Notice.error({
    //     title: '檔案上傳失敗'
    //   })
    //   this.importLoadingViewIsShow = false
    // },
    // importEvent: async function (data) {
    //   // console.log(data)
    //   let csvSeperator = ''
    //   // console.log(this.postData.csvSeperator)
    //   switch (data.csvSeperator) {
    //     case 'colon':
    //       csvSeperator = ':'
    //       break
    //     case 'semicolon':
    //       csvSeperator = ';'
    //       break
    //     case 'comma':
    //       csvSeperator = ','
    //       break
    //     case 'space':
    //       csvSeperator = ' '
    //       break
    //     case 'verticalBar':
    //       csvSeperator = '|'
    //       break
    //   }
    //   try {
    //     let postData = {
    //       companyId: this.companyId,
    //       whId: this.whId,
    //       csvSeperator: csvSeperator,
    //       fileContentType: data.fileContentType,
    //       fileName: data.fileName,
    //       fileStoragePath: data.fileStoragePath,
    //       fileType: data.fileType,
    //       data_error_warning: 1,
    //       error_stop_import: 1
    //     }
    //     var Res = await this.$store.dispatch('importPutIn/import', postData)
    //     console.log(Res)
    //     if (Res.httpStatus === 201 || Res.httpStatus === 200) {
    //       let failResult = Res.respondCode.additionals.dataImportResponse.fail_result || []
    //       if (failResult.length > 0) {
    //         failResult.forEach((item) => {
    //           this.$Notice.error({
    //             title: '檔案上傳失敗',
    //             desc: `${item.reason}`,
    //             duration: 30
    //           })
    //         })
    //         this.importLoadingViewIsShow = false
    //         return
    //       }
    //       this.$Notice.success({
    //         title: '檔案上傳成功'
    //       })
    //       this.importLoadingViewIsShow = false
    //       this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    //     } else {
    //       this.$Notice.error({
    //         title: '檔案上傳失敗',
    //         desc: `${Res.data.respondCode.debugInfo}`,
    //         duration: 30
    //       })
    //       this.importLoadingViewIsShow = false
    //     }
    //   } catch (err) {
    //     // console.log(err)
    //     this.$Notice.success({
    //       title: '檔案匯入完畢'
    //     })
    //     this.importLoadingViewIsShow = false
    //   }
    //   this.importLoadingViewIsShow = false
    // },
    // ImportModal END
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        queryExpression: {},
        exportFields: [],
        exportSettings: {}
      }
      let exportFields = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      //
      postData.queryExpression.page = data.postData.page
      postData.queryExpression.pageSize = this.settingData.page.totalCount
      postData.queryExpression.combinedCondition = 'AND'
      postData.queryExpression.query = this.filterAry
      postData.queryExpression.sort = this.sortAry
      postData.exportFields = exportFields
      postData.exportSettings.exportFileName = data.postData.exportFileName
      postData.exportSettings.exportFormat = data.postData.exportFormat
      //
      let csvSeperator = ''
      switch (data.postData.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      postData.exportSettings.csvSeperator = csvSeperator
      // console.log(postData)
      //
      this.$store.dispatch(`bill/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // console.log('下載檔案')
          window.open(`${Config.API.baseURL}${r.respondCode.additionals.dataExport.download_link}`)
        }
        this.LoadingViewIsShow = false
      })
    },
    async getBilledDetailEvent () {
      this.LoadingViewIsShow = true
      let stockSummaryRes = await this.$store.dispatch(`stockStorageBySummary/create`)
      // console.log(stockSummaryRes)
      if (stockSummaryRes.httpStatus === 200 || stockSummaryRes.httpStatus === 201) {
        let res = await this.$store.dispatch(`bill/getBilledDetail`)
        // console.log(res)
        if (res.httpStatus === 200 || res.httpStatus === 201) {
          this.$Notice.success({
            title: '產生成功'
          })
          this.LoadingViewIsShow = false
        } else if (res.httpStatus !== 401) {
          this.$Notice.warning({
            title: `處理完畢`,
            desc: res.respondCode.debugInfo,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      } else if (stockSummaryRes.httpStatus !== 401) {
        this.$Notice.warning({
          title: `處理完畢`,
          desc: stockSummaryRes.respondCode.debugInfo,
          duration: 30
        })
        this.LoadingViewIsShow = false
      }
    }
  },
  created () {
    //
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getBillStatusFilterData()
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`bill/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  // position: relative;
  width: 100%;
  height: 100%;
  > span {
    display: block;
    height: calc(100% - 4px);
    padding: 25px 30px 0 30px;
    overflow: auto;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
    }
    .btn-box.l {
      width: auto;
      .editLayoutBtn {
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      .saveLayoutBtn {
        width: 96px;
        border-radius: 20px;
        background-color: #56504f;
        color: #ffffff;
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 1px;
      }
      .accordionBtn {
        width: 150px;
        border-radius: 20px;
        background-color: #354361;
        color: #ffffff;
        margin-right: 13px;
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 1px;
        &.isShow {
          background-color: #fbfaf9;
          color: #000000;
        }
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 42px - 51px);
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > span {
    font-size: 12.5px;
  }
  &.solid{
    background-color: #515a6e;
    >span{
      color: #ffffff;
    }
  }
  &.yellow{
    background-color: #dca558;
    border: 2px solid #dca558;
    >span{
      color: #ffffff;
    }
  }
}
.layoutBtn{
  min-width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  &.save{
    background-color: #56504f;
    color: #ffffff;
  }
}
.dataGridTab{
  border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  margin-bottom: -11px;
  color: #555555;
  &.isFocus{
    color: #ffffff;
    background-color: #354361;
  }
}
</style>
