<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab ml-3"
        :class="[
          userInfo.themeColor,
          changeContent === 'details' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'details'"
        type="default"
        shape="circle"
      >上架作業明細</Button>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="grid-layout-container">
        <grid-layout
          :layout.sync="editLayoutToggle ? layout1 : lay1"
          :col-num="13"
          :row-height="55"
          :is-draggable="editLayoutToggle"
          :is-resizable="editLayoutToggle"
          :is-mirrored="false"
          :vertical-compact="true"
          :margin="[50, 25]"
          :use-css-transforms="true"
        >
          <grid-item
            v-for="(item, index) in editLayoutToggle ? layout1 : lay1"
            :key="index"
            :x="item.x"
            :y="item.y"
            :w="item.w"
            :h="item.h"
            :i="item.i"
            :class="{'grid-item-box': true, 'isShow': (item.isShow && editLayoutToggle), 'isHide': (!item.isShow && editLayoutToggle)}">
            <!-- x btn -->
            <div
              class="hideBtn"
              v-if="item.isShow && editLayoutToggle"
              @click="hide_lay1(item.key, index)"
            >
              <font-awesome-icon icon="times" />
            </div>
            <!-- + btn -->
            <div
              class="showBtn"
              v-if="!item.isShow && editLayoutToggle"
              @click="show_lay1(item.key, index)"
            >
              <font-awesome-icon icon="plus" />
            </div>
            <!-- 單據編號/單號 inbound_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_no' || item.isShow && item.key === 'inbound_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_no && postData.inbound_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_no`"
                :defaultValue="postData.inbound_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫單狀態 inbound_status -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_status' || item.isShow && item.key === 'inbound_status'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_status && postData.inbound_status!==''), label: `${item.label}`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
                :selectList="inboundStatusList"
                :code="`inbound_status`"
                :defaultValue="postData.inbound_status"
                :disabled="true"
                @changeModelEvent="inboundStatusListChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 進倉單號 inbound_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_bill_no' || item.isShow && item.key === 'inbound_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_bill_no && postData.inbound_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_bill_no`"
                :defaultValue="postData.inbound_bill_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 主單號(MAWB) main_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'main_bill_no' || item.isShow && item.key === 'main_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.main_bill_no && postData.main_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`main_bill_no`"
                :defaultValue="postData.main_bill_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 分單號(HAWB) sub_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'sub_bill_no' || item.isShow && item.key === 'sub_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.sub_bill_no && postData.sub_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`sub_bill_no`"
                :defaultValue="postData.sub_bill_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 訂單編號 owner_bill_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'owner_bill_no' || item.isShow && item.key === 'owner_bill_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.owner_bill_no && postData.owner_bill_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`owner_bill_no`"
                :defaultValue="postData.owner_bill_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨櫃號碼 container_no -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'container_no' || item.isShow && item.key === 'container_no'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.container_no && postData.container_no!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`container_no`"
                :defaultValue="postData.container_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨櫃類別代碼 container_type_code -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'container_type_code' || item.isShow && item.key === 'container_type_code'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.container_type_code && postData.container_type_code!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`container_type_code`"
                :defaultValue="postData.container_type_code"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 貨主代碼 owner_id -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'owner_id' || item.isShow && item.key === 'owner_id'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.owner_name && postData.owner_name!==''), label: `${item.label}`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 55}, hiddenSearchBtn: true}"
                :code="`owner_name`"
                :autoCompleteData="ownerList"
                :defaultValue="postData.owner_name"
                :disabled="true"
                :modalTitle="`貨主代碼`"
                :toCloseModal="toCloseOwnerAutocompleteModal"
                keyCode="customerSetup"
                storeKey="customerByCmpCat"
                returnCode="customer_name"
                :showCols="autoCompleteShowOwnerCols"
                @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
                @changeModelEvent="ownerAutocompleteChangeEvent"
                @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
                  <div>
                    <!-- 貨主代碼-->
                    <AutocompleteModal
                    keyCode="customerSetup"
                    storeKey="customerByCmpCat"
                    returnCode="customer_name"
                    :apiUrlCondition="setAutocompleteOwnerApiUrl"
                    :condition="ownerCondition"
                    @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
                  </div>
                </FloatLabelBox>
            </div>
            <!-- 供應商代碼 vendor_id -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'vendor_id' || item.isShow && item.key === 'vendor_id'"
            >
              <FloatLabelBox
              :config="{hasContent: (postData.vendor_name && postData.vendor_name!==''), label: `${item.label}`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 55}, hiddenSearchBtn: true}"
              :code="`vendor_name`"
              :autoCompleteData="vendorList"
              :defaultValue="postData.vendor_name"
              :disabled="true"
              :modalTitle="`供應商代碼`"
              :toCloseModal="toCloseVendorAutocompleteModal"
              keyCode="customerSetup"
              storeKey="customerByCmpCat"
              returnCode="customer_name"
              :showCols="autoCompleteShowVendorCols"
              @handleEnterSubmit="autocompleteHandleVendorEnterSubmitEvent"
              @changeModelEvent="vendorAutocompleteChangeEvent"
              @autoCompleteSearchEvent="vendorAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseVendorAutocompleteModal">
                <div>
                  <!-- 供應商代碼-->
                  <AutocompleteModal
                  keyCode="customerSetup"
                  storeKey="customerByCmpCat"
                  returnCode="customer_name"
                  respondCode= "customer"
                  :apiUrlCondition="setAutocompleteVendorApiUrl"
                  :condition="vendorCondition"
                  @setAutocompleteValueEvent="setAutocompleteVendorValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
            </div>
            <!-- 預計入庫日 inbound_expect -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_expect' || item.isShow && item.key === 'inbound_expect'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_expect && postData.inbound_expect!==''), label: `${item.label}`, hasClearButton: true, type: `DatePicker`, settings: {width: 350, height: 52}}"
                :code="`inbound_expect`"
                :defaultValue="postData.inbound_expect"
                :disabled="true"
                @changeModelEvent="inboundExpectDatePickerChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫類別 inbound_type -->
            <!-- <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_type' || item.isShow && item.key === 'inbound_type'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_type && postData.inbound_type!==''), label: `${item.label}`, hasClearButton: true, type: `Select`, settings: {width: 350, height: 52}}"
                :selectList="inboundTypeList"
                :code="`inbound_type`"
                :defaultValue="postData.inbound_type"
                :disabled="true"
                @changeModelEvent="inboundTypeListChangeEvent"
              ></FloatLabelBox>
            </div> -->
            <!-- 入庫取消類別 inbound_cancel_type -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_cancel_type' || item.isShow && item.key === 'inbound_cancel_type'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_cancel_type && postData.inbound_cancel_type!==''), label: `${item.label}`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
                :selectList="inboundCancelTypeList"
                :code="`inbound_cancel_type`"
                :defaultValue="postData.inbound_cancel_type"
                :disabled="true"
                @changeModelEvent="inboundCancelTypeListChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 板數 inbound_pallets -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_pallets' || item.isShow && item.key === 'inbound_pallets'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_pallets && postData.inbound_pallets!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_pallets`"
                :defaultValue="postData.inbound_pallets"
                :isError="error.inbound_pallets"
                :isRequired="true"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 箱數 inbound_boxes -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_boxes' || item.isShow && item.key === 'inbound_boxes'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_boxes && postData.inbound_boxes!==''), label: `${item.label}`, hasClearButton: true, type: `InputText`, settings: {width: 350, height: 52}}"
                :code="`inbound_boxes`"
                :defaultValue="postData.inbound_boxes"
                :isError="error.inbound_boxes"
                :isRequired="true"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- 入庫單備註 inbound_note -->
            <div
              class="item-box"
              v-if="editLayoutToggle && item.key === 'inbound_note' || item.isShow && item.key === 'inbound_note'"
            >
              <FloatLabelBox
                :config="{hasContent: (postData.inbound_note && postData.inbound_note!==''), label: `${item.label}`, hasClearButton: true, type: `Textarea`, settings: {minHeight: 52}}"
                :code="`inbound_note`"
                :defaultValue="postData.inbound_note"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
          </grid-item>
        </grid-layout>
      </div>
    </div>
    <div class="pt-4" v-show="changeContent === 'details'">
    <!-- 上架作業明細 -->
    <InboundSnapshotDetails
      :isGetGridData="isGetGridData"
      :detailId="detailId"
      :companyId="companyId"
      :whId="whId"
      @gridDataChangeEvent="inboundSnapshotDetailsListChangeEvent"
    ></InboundSnapshotDetails>
    </div>
    <!-- 時間軸 -->
    <div class="step1" v-show="changeContent !== 'details'">
      <Step1 :width="165" :data="stepPutInData"></Step1>
    </div>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
/**
 * 1.
 * owner_id 需要去拉 查詢 customer_cat = 1 (貨主)
 * 2.
 * vendor_id 需要去拉 查詢 customer_cat = 2 (供應商)
 * 3.
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import VueGridLayout from 'vue-grid-layout'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import InboundSnapshotDetails from './InboundSnapshotDetails'
import Step1 from '@/components/Step/Step1'
//
export default {
  name: 'InboundSnapshotAdd',
  props: ['step', 'detailId', 'companyId', 'whId', 'editLayoutToggle', 'layoutMainInbound', 'layout_1', 'timeZoneTimestamp', 'cloneData'],
  components: {
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
    FloatLabelBox,
    ComfirmRemoveModal,
    AutocompleteModal,
    InboundSnapshotDetails,
    Step1
  },
  data () {
    // 時間軸
    let stepPutInData = [
      {
        label: '入庫通知',
        date: '',
        time: '',
        status: 0, // 是否完成 0:未完成 / 1:完成
        isStartNode: true, // 是否始點
        isEndNode: false // 是否為終點
      },
      {
        label: '已驗收',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '已品保',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '已上架',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '上架確認',
        date: '',
        time: '',
        status: 0,
        isStartNode: false,
        isEndNode: true
      }
    ]
    // 商品建檔 - 1
    let layout1 = this.layoutMainInbound[0] || [
      { 'x': 0, 'y': 0, 'w': 3, 'h': 1, 'i': '0', 'label': '單據編號/單號', 'key': 'inbound_no', isShow: true }, // 單據編號/單號
      { 'x': 3, 'y': 0, 'w': 3, 'h': 1, 'i': '1', 'label': '入庫單狀態', 'key': 'inbound_status', isShow: true }, // 入庫單狀態
      { 'x': 6, 'y': 0, 'w': 3, 'h': 1, 'i': '2', 'label': '進倉單號', 'key': 'inbound_bill_no', isShow: true }, // 進倉單號
      { 'x': 9, 'y': 0, 'w': 3, 'h': 1, 'i': '3', 'label': '主單號(MAWB)', 'key': 'main_bill_no', isShow: true }, // 主單號(MAWB)
      //
      { 'x': 0, 'y': 1, 'w': 3, 'h': 1, 'i': '4', 'label': '分單號(HAWB)', 'key': 'sub_bill_no', isShow: true }, // 分單號(HAWB)
      { 'x': 3, 'y': 1, 'w': 3, 'h': 1, 'i': '5', 'label': '訂單編號 *', 'key': 'owner_bill_no', isShow: true }, // 訂單編號
      { 'x': 6, 'y': 1, 'w': 3, 'h': 1, 'i': '6', 'label': '貨櫃號碼', 'key': 'container_no', isShow: true }, // 貨櫃號碼
      { 'x': 9, 'y': 1, 'w': 3, 'h': 1, 'i': '7', 'label': '貨櫃類別代碼', 'key': 'container_type_code', isShow: true }, // 貨櫃類別代碼
      //
      { 'x': 0, 'y': 2, 'w': 3, 'h': 1, 'i': '8', 'label': '貨主代碼 *', 'key': 'owner_id', isShow: true }, // 貨主ID
      { 'x': 3, 'y': 2, 'w': 3, 'h': 1, 'i': '9', 'label': '供應商代碼', 'key': 'vendor_id', isShow: true }, // 供應商ID
      { 'x': 6, 'y': 2, 'w': 3, 'h': 1, 'i': '10', 'label': '預計入庫日', 'key': 'inbound_expect', isShow: true }, // 預計入庫日
      { 'x': 9, 'y': 2, 'w': 3, 'h': 1, 'i': '11', 'label': '板數', 'key': 'inbound_pallets', isShow: true }, // 板數
      //
      { 'x': 0, 'y': 3, 'w': 3, 'h': 1, 'i': '12', 'label': '箱數', 'key': 'inbound_boxes', isShow: true }, // 箱數
      { 'x': 3, 'y': 3, 'w': 6, 'h': 1, 'i': '13', 'label': '入庫單備註', 'key': 'inbound_note', isShow: true }, // 入庫單備註
      { 'x': 6, 'y': 3, 'w': 3, 'h': 1, 'i': '14', 'label': '入庫取消類別', 'key': 'inbound_cancel_type', isShow: false } // 入庫取消類別
    ]
    //
    let postData = {
      inbound_id: this.cloneData ? this.cloneData.inbound_id : '', // 入庫紀錄ID
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      company_name: this.cloneData ? this.cloneData.company_name : '', // 公司
      wh_id: this.cloneData ? this.cloneData.wh_id : this.whId, // 倉庫ID
      wh_name: this.cloneData ? this.cloneData.wh_name : '', // 倉庫
      inbound_no: this.cloneData ? this.cloneData.inbound_no : '', // 單據編號/單號
      inbound_status: this.cloneData ? this.cloneData.inbound_status : '', // 入庫單狀態
      inbound_bill_no: this.cloneData ? this.cloneData.inbound_bill_no : '', // 進倉單號
      main_bill_no: this.cloneData ? this.cloneData.main_bill_no : '', // 主單號(MAWB)
      sub_bill_no: this.cloneData ? this.cloneData.sub_bill_no : '', // 分單號(HAWB)
      owner_bill_no: this.cloneData ? this.cloneData.owner_bill_no : '', // 訂單編號
      container_no: this.cloneData ? this.cloneData.container_no : '', // 貨櫃號碼
      container_type_code: this.cloneData ? this.cloneData.container_type_code : '', // 貨櫃類別代碼
      customer_name: this.cloneData ? this.cloneData.customer_name : '', // 客戶名稱
      owner_name: this.cloneData ? this.cloneData.owner_name : '', // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : '', // 貨主ID
      vendor_name: this.cloneData ? this.cloneData.vendor_name : '', // 供應商
      vendor_id: this.cloneData ? this.cloneData.vendor_id : '', // 供應商ID
      inbound_expect: this.cloneData ? this.cloneData.inbound_expect : '', // 預計入庫日
      inbound_pallets: this.cloneData ? this.cloneData.inbound_pallets : '', // 板數
      inbound_boxes: this.cloneData ? this.cloneData.inbound_boxes : '', // 箱數
      inbound_type: this.cloneData ? this.cloneData.inbound_type : 52, // 入庫類別
      inbound_cancel_type: this.cloneData ? this.cloneData.inbound_cancel_type : '', // 入庫取消類別
      date_quantity_check: this.cloneData ? this.cloneData.date_quantity_check : '', // 驗收日
      inbound_note: this.cloneData ? this.cloneData.inbound_note : '', // 入庫單備註
      date_inbound: '', // 入庫通知時間
      date_cancel: '', // 入庫取消時間
      date_quality_check: '', // 品保確認時間
      date_put_away: '', // 上架時間
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    return {
      comfirmRemoveModal: false,
      stepPutInData: stepPutInData,
      layout1: layout1,
      lay1: layout1.filter((el) => {
        return el.isShow
      }),
      /* 貨主代碼 : owner_id */
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      setAutocompleteOwnerApiUrl: { companyId: this.companyId, whId: this.whId, customerCat: 1 },
      /* 供應商代碼 : vendor_id */
      vendorList: [],
      autoCompleteShowVendorCols: [
        'customer_no'
      ],
      toCloseVendorAutocompleteModal: false,
      vendorCondition: [],
      setAutocompleteVendorApiUrl: { companyId: this.companyId, whId: this.whId, customerCat: 2 },
      /* tab */
      changeContent: 'main',
      /* 入庫單狀態 */
      inboundStatusList: [
        {
          label: '待驗收',
          value: 10
        },
        {
          label: '入庫取消',
          value: 15
        },
        {
          label: '待品保',
          value: 20
        },
        {
          label: '待上架',
          value: 30
        },
        {
          label: '已上架',
          value: 40
        },
        {
          label: '上架確認',
          value: 50
        }
      ],
      /* 入庫類別 */
      inboundTypeList: [],
      /* 入庫取消類別 */
      inboundCancelTypeList: [],
      // 上架作業明細
      inboundSnapshotDetailsList: null,
      isGetGridData: false,
      //
      postData: postData,
      error: {
        inbound_id: false, // 入庫紀錄ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        inbound_bill_no: false, // 進倉單號
        main_bill_no: false, // 主單號(MAWB)
        sub_bill_no: false, // 分單號(HAWB)
        owner_bill_no: false, // 訂單編號
        container_no: false, // 貨櫃號碼
        container_type_code: false, // 貨櫃類別代碼
        owner_id: false, // 貨主ID
        vendor_id: false, // 供應商ID
        inbound_expect: false, // 預計入庫日
        inbound_pallets: false, // 板數
        inbound_boxes: false, // 箱數
        inbound_type: false, // 入庫類別
        inbound_cancel_type: false, // 入庫取消類別
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 入庫通知時間
        date_cancel: false, // 入庫取消時間
        date_quality_check: false, // 品保確認時間
        date_put_away: false, // 上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false
    }
  },
  computed: {
    inboundSnapshot: function () {
      return this.$store.state[`inboundSnapshot`][`inboundSnapshot`] || {}
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        //
        if (val === 'details') {
          this.isGetGridData = true
        }
      },
      deep: true
    },
    step: {
      handler: function (newVal, oldVal) {
        //
      },
      deep: true
    },
    inboundSnapshotDetailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    inboundSnapshot: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          inbound_id: val.inbound_id || null, // 入庫紀錄ID
          company_id: val.company_id || this.companyId, // 公司ID
          wh_id: val.wh_id || this.whId, // 倉庫ID
          inbound_no: val.inbound_no || null, // 單據編號/單號
          inbound_status: val.inbound_status || null, // 入庫單狀態
          inbound_bill_no: val.inbound_bill_no || null, // 進倉單號
          main_bill_no: val.main_bill_no || null, // 主單號(MAWB)
          sub_bill_no: val.sub_bill_no || null, // 分單號(HAWB)
          owner_bill_no: val.owner_bill_no || null, // 訂單編號
          container_no: val.container_no || null, // 貨櫃號碼
          container_type_code: val.container_type_code || null, // 貨櫃類別代碼
          owner_name: val.owner_name || null, // 貨主
          owner_id: val.owner_id || null, // 貨主ID
          vendor_name: val.vendor_name || null, // 供應商
          vendor_id: val.vendor_id || null, // 供應商ID
          inbound_expect: val.inbound_expect || null, // 預計入庫日
          inbound_pallets: val.inbound_pallets || null, // 板數
          inbound_boxes: val.inbound_boxes || null, // 箱數
          inbound_type: val.inbound_type || 52, // 入庫類別
          inbound_cancel_type: val.inbound_cancel_type || null, // 入庫取消類別
          date_quantity_check: val.date_quantity_check ? this.changeToLocalTime(val.date_quantity_check) : null, // 驗收日
          inbound_note: val.inbound_note || null, // 入庫單備註
          date_inbound: val.date_inbound ? this.changeToLocalTime(val.date_inbound) : null, // 入庫通知時間
          date_cancel: val.date_cancel || null, // 入庫取消時間
          date_quality_check: val.date_quality_check ? this.changeToLocalTime(val.date_quality_check) : null, // 品保確認時間
          date_put_away: val.date_put_away ? this.changeToLocalTime(val.date_put_away) : null, // 上架時間
          date_put_away_confirm_display: val.date_put_away_confirm_display ? this.changeToLocalTime(val.date_put_away_confirm_display) : null, // 上架確認時間
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
        // 上架時間
        this.stepPutInData = [
          {
            label: '入庫通知時間',
            date: this.postData.date_inbound ? this.postData.date_inbound.substr(0, 10) : '',
            time: this.postData.date_inbound ? this.postData.date_inbound.substr(11, 5) : '',
            status: 1,
            isStartNode: true, // 是否始點
            isEndNode: false // 是否為終點
          },
          {
            label: '已驗收',
            date: this.postData.date_quantity_check ? this.postData.date_quantity_check.substr(0, 10) : '',
            time: this.postData.date_quantity_check ? this.postData.date_quantity_check.substr(11, 5) : '',
            status: 1,
            isStartNode: false, // 是否始點
            isEndNode: false // 是否為終點
          },
          {
            label: '已品保',
            date: this.postData.date_quality_check ? this.postData.date_quality_check.substr(0, 10) : '',
            time: this.postData.date_quality_check ? this.postData.date_quality_check.substr(11, 5) : '',
            status: 1,
            isStartNode: false, // 是否始點
            isEndNode: false // 是否為終點
          },
          {
            label: '已上架',
            date: this.postData.date_put_away ? this.postData.date_put_away.substr(0, 10) : '',
            time: this.postData.date_put_away ? this.postData.date_put_away.substr(11, 5) : '',
            status: 1,
            isStartNode: false,
            isEndNode: false
          },
          {
            label: '上架確認',
            date: this.postData.date_put_away_confirm_display ? this.postData.date_put_away_confirm_display.substr(0, 10) : '',
            time: this.postData.date_put_away_confirm_display ? this.postData.date_put_away_confirm_display.substr(11, 5) : '',
            status: 1,
            isStartNode: false,
            isEndNode: true
          }
        ]
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.owner_id) {
          this.error.owner_id = false
        }
      },
      deep: true
    },
    editLayoutToggle: function (bol) {
      // console.log(bol)
    },
    layout1: {
      handler: function (val) {
        // console.log(val)
        this.$emit('layout1ChangeEvent', val)
        //
        let lay1 = JSON.parse(JSON.stringify(val)).filter((el) => {
          return el.isShow
        })
        this.lay1 = lay1
      },
      deep: true
    }
  },
  methods: {
    inboundSnapshotDetailsListChangeEvent: function (data) {
      this.inboundSnapshotDetailsList = data
    },
    accordionToggleToClose: function () {
      this.$emit('accordionToggleChangeEvent', false)
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    hide_lay1: function (k, idx) {
      this.layout1.forEach((ele, index) => {
        if (ele.key === k) {
          ele.isShow = false
        }
      })
    },
    show_lay1: function (k, idx) {
      this.layout1.forEach((ele, index) => {
        if (ele.key === k) {
          ele.isShow = true
        }
      })
    },
    //
    getDetail: function (id) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'inbound_id',
            queryValue: id
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`inboundSnapshot/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        // console.log(this.postData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 1 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_id = data.data.customer_id
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 供應商代碼 : vendor_id */
    autocompleteHandleVendorEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.vendorList = []
    },
    vendorAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.vendor_id = data.val ? data.val.customer_id : ''
        // console.log(this.postData.vendor_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.vendorList = [data.val]
      } else {
        this.vendorList = []
      }
    },
    vendorAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 2 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.vendorList = list
        }
      })
    },
    setAutocompleteVendorValue: function (data) {
      // console.log(data)
      //
      this.postData.vendor_name = data.data[data.returnCode]
      this.postData.vendor_id = data.data.customer_id
      // console.log(this.postData.vendor_id)
      //
      this.toCloseVendorAutocompleteModal = true
    },
    setToCloseVendorAutocompleteModal: function (bol) {
      this.toCloseVendorAutocompleteModal = bol
    },
    /* 預計入庫日 : inbound_expect */
    inboundExpectDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.inbound_expect = data.val
      // console.log(this.postData.inbound_expect)
    },
    /* 驗收日 : date_quantity_check */
    inboundAcceptanceDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.date_quantity_check = data.val
    },
    /* 入庫單狀態 */
    inboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_status = data.val
    },
    /* 入庫類別 */
    inboundTypeListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_type = data.val
    },
    getInboundTypeList: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: Config.maxPageSize,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCodeByCompanyCodeType/search`, { postData: postData, companyId: this.companyId, codeType: 4 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingCode
          let inboundTypeList = []
          if (list) {
            list.forEach((ele, idx) => {
              inboundTypeList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.inboundTypeList = inboundTypeList
          // console.log(this.inboundTypeList)
        }
      })
    },
    /* 入庫取消類別 */
    inboundCancelTypeListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_cancel_type = data.val
    },
    getInboundCancelTypeList: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: Config.maxPageSize,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCodeByCompanyCodeType/search`, { postData: postData, companyId: this.companyId, codeType: 5 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingCode
          let inboundCancelTypeList = []
          inboundCancelTypeList.push({
            value: '',
            label: '請選擇'
          })
          if (list) {
            list.forEach((ele, idx) => {
              inboundCancelTypeList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.inboundCancelTypeList = inboundCancelTypeList
          // console.log(this.inboundCancelTypeList)
        }
      })
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    //
    if (!this.layoutMainInbound[0]) {
      this.$emit('layout1ChangeEvent', this.layout1)
    }
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    this.getInboundTypeList()
    this.getInboundCancelTypeList()
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`inboundSnapshot/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    .grid-layout-container {
      margin-left: -50px;
      margin-top: -20px;
      padding-right: 140px;
      width: calc(100% + 50px);
    }
  }
  .bottom-box {
    width: 100%;
  }
  .accordionBtn {
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #354361;
    color: #ffffff;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .backBtn {
    position: absolute;
    right: 45px;
    bottom: 200px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .step1 {
    position: absolute;
    top: 130px;
    right: 45px;
    background: #ffffffe6;
    width: 210px;
    z-index: -1;
    .step-box {
      margin-left: auto;
    }
  }
  .item-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .label-box {
      flex: 1;
      font-size: 18px;
      color: #000000;
    }
    .body-box {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 0 50px 0 0;
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
