<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'details' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'details'"
        type="default"
        shape="circle"
      >上架作業明細</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'putawayInboundDetails' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'putawayInboundDetails'"
        type="default"
        shape="circle"
      >已上架明細</Button>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="row">
        <div class="col">
          <!-- 入庫單號 inbound_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_no && postData.inbound_no!==''),
              label: '入庫單號',
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`inbound_no`"
            :defaultValue="postData.inbound_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 入庫單狀態 inbound_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_status && postData.inbound_status!==''),
              label: '入庫單狀態',
              hasClearButton: true,
              background: 'light',
              type: `Select`,
              settings: {height: 41}}"
            :selectList="inboundStatusList"
            :code="`inbound_status`"
            :defaultValue="postData.inbound_status"
            :disabled="true"
            @changeModelEvent="inboundStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 訂單編號 owner_bill_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.owner_bill_no && postData.owner_bill_no!==''),
              label: '訂單編號 *',
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`owner_bill_no`"
            :defaultValue="postData.owner_bill_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨主/供應商 owner_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.owner_name && postData.owner_name!==''),
              label: '貨主/供應商 *',
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`owner_name`"
            :defaultValue="postData.owner_name"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- 板數 inbound_pallets -->
          <FloatLabelBox
            :config="{
              hasContent: Number.isInteger(postData.inbound_pallets),
              label: '板數',
              hasClearButton: true,
              background: 'light',
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`inbound_pallets`"
            :defaultValue="postData.inbound_pallets"
            :disabled="true"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 箱數 inbound_boxes -->
          <FloatLabelBox
            :config="{
              hasContent: Number.isInteger(postData.inbound_boxes),
              label: '箱數',
              hasClearButton: true,
              background: 'light',
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`inbound_boxes`"
            :defaultValue="postData.inbound_boxes"
            :disabled="true"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 預計入庫日 inbound_expect -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_expect && postData.inbound_expect!==''),
              label: '預計入庫日',
              hasClearButton: true,
              background: 'light',
              type: `DatePicker`,
              settings: {height: 41}}"
            :code="`inbound_expect`"
            :defaultValue="postData.inbound_expect"
            :disabled="true"
            @changeModelEvent="inboundExpectDatePickerChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col colx2">
          <!-- 入庫單備註 inbound_note -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_note && postData.inbound_note!==''),
              label: '入庫單備註',
              hasClearButton: true,
              background: 'light',
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`inbound_note`"
            :defaultValue="postData.inbound_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div class="pt-3 position-relative" v-show="changeContent === 'details'">
    <!-- 上架作業明細 -->
    <PutInShelvesDetails
      ref="setDetailsList"
      :changeContent="changeContent"
      :detailId="detailId"
      @gridDataChangeEvent="detailsListChangeEvent"
    ></PutInShelvesDetails>
    </div>
    <div class="pt-3 position-relative" v-show="changeContent === 'putawayInboundDetails'">
      <!-- 已上架明細 -->
      <PutawayInboundDetails
        ref="setPutawayInboundDetailsList"
        :changeContent="changeContent"
        :detailId="detailId"
        @gridDataChangeEvent="putawayInboundDetailsListChangeEvent"
      ></PutawayInboundDetails>
    </div>
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div> -->
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
  </div>
</template>

<script>
/**
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import PutInShelvesDetails from './PutInShelvesDetails'
import PutawayInboundDetails from './PutawayInboundDetails'
//
export default {
  name: 'PutInShelvesAdd',
  props: ['step', 'detailId', 'cloneData', 'showInpageTab'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    PutInShelvesDetails,
    PutawayInboundDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    var userName = this.$store.state.auth.userInfo.userName
    //
    let date = new Date()
    let timestamp = date.getTime()
    //
    let postData = {
      inbound_id: this.cloneData ? this.cloneData.inbound_id : '', // 入庫紀錄ID
      inbound_no: '', // 單據編號/單號
      inbound_status: '', // 入庫單狀態
      owner_bill_no: this.cloneData ? this.cloneData.owner_bill_no : '', // 訂單編號
      owner_name: this.cloneData ? this.cloneData.owner_name : ownerName, // 貨主/供應商
      owner_id: this.cloneData ? this.cloneData.owner_id : ownerId, // 貨主/供應商ID
      owner_no: this.cloneData ? this.cloneData.owner_no : '', // 貨主/供應商
      inbound_expect: this.cloneData ? this.cloneData.inbound_expect : '', // 預計入庫日
      inbound_pallets: this.cloneData ? this.cloneData.inbound_pallets : 0, // 板數
      inbound_boxes: this.cloneData ? this.cloneData.inbound_boxes : 0, // 箱數
      date_quantity_check: this.cloneData ? this.cloneData.date_quantity_check : '', // 驗收日
      inbound_note: this.cloneData ? this.cloneData.inbound_note : '', // 入庫單備註
      date_inbound: '', // 入庫通知時間
      date_quality_check: '', // 品保確認時間
      date_put_away: '', // 上架時間
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      modalType: modalType,
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      ownerId: ownerId,
      ownerName: ownerName,
      userName: userName,
      /* tab */
      changeContent: this.showInpageTab,
      /* 入庫單狀態 */
      inboundStatusList: [
        {
          label: '待驗收',
          value: 10
        },
        {
          label: '入庫取消',
          value: 15
        },
        {
          label: '待品保',
          value: 20
        },
        {
          label: '待上架',
          value: 30
        },
        {
          label: '已上架',
          value: 40
        },
        {
          label: '上架確認',
          value: 50
        }
      ],
      // 入庫單明細
      detailsList: [],
      // 已上架明細
      putawayInboundDetailsList: [],
      //
      postData: postData,
      error: {
        inbound_id: false, // 入庫紀錄ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        owner_bill_no: false, // 訂單編號
        owner_id: false, // 貨主/供應商ID
        inbound_expect: false, // 預計入庫日
        inbound_pallets: false, // 板數
        inbound_boxes: false, // 箱數
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 入庫通知時間
        date_quality_check: false, // 品保確認時間
        date_put_away: false, // 上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false,
      timestamp: timestamp,
      isChangeInboundStatus: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    putInShelves: function () {
      return this.$store.state[`putInOperationSimple`][`putInOperationSimple`] || {}
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    step: {
      handler: function (newVal, oldVal) {
        //
        if (newVal === 1 && oldVal !== 0) {
          this.init()
        }
        if (newVal === 5 && oldVal === 6) {
          setTimeout(() => {
            this.$emit('changeLoadingViewIsShowEvent', false)
          }, 1000)
        }
        if (newVal === 6 && oldVal === 5) {
          setTimeout(() => {
            this.$emit('changeLoadingViewIsShowEvent', false)
          }, 1000)
        }
      },
      deep: true
    },
    detailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    putInShelves: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          inbound_id: val.inbound_id || null, // 入庫紀錄ID
          inbound_no: val.inbound_no || null, // 單據編號/單號
          inbound_status: val.inbound_status || null, // 入庫單狀態
          owner_bill_no: val.owner_bill_no || `${this.userName}_${this.timestamp}`, // 訂單編號
          owner_name: val.owner_name || this.ownerName, // 貨主/供應商
          owner_id: val.owner_id || this.ownerId, // 貨主/供應商ID
          owner_no: val.owner_no || null, // 貨主/供應商
          inbound_expect: val.inbound_expect || null, // 預計入庫日
          inbound_pallets: val.inbound_pallets || 0, // 板數
          inbound_boxes: val.inbound_boxes || 0, // 箱數
          date_quantity_check: val.date_quantity_check || null, // 驗收日
          inbound_note: val.inbound_note || null, // 入庫單備註
          date_inbound: val.date_inbound || null, // 入庫通知時間
          date_quality_check: val.date_quality_check || null, // 品保確認時間
          date_put_away: val.date_put_away || null, // 上架時間
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.owner_id) {
          this.error.owner_id = false
        }
        if (val.owner_bill_no) {
          this.error.owner_bill_no = false
        }
        this.$emit('inboundDetailChangeEvent', val)
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      // console.log(data)
      this.detailsList = data
    },
    putawayInboundDetailsListChangeEvent: function (data) {
      // console.log(data)
      this.putawayInboundDetailsList = data
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.inbound_id = null
      this.postData.inbound_no = null // 單據編號/單號
      this.postData.inbound_status = 10 // 入庫單狀態
      this.save('clone')
    },
    setInboundEvent: function (data) {
      if (data === 'setInboundStasus') {
        this.isChangeInboundStatus = true
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    save: async function (action = null) {
      //
      let isError = false
      // 檢查
      if (!this.postData.owner_id || this.postData.owner_id === '') {
        isError = true
        this.error.owner_id = true
        // 警告提示
        this.$Notice.error({
          title: '貨主/供應商未填',
          duration: 30
        })
      }
      if (!this.postData.owner_bill_no || this.postData.owner_bill_no === '') {
        isError = true
        this.error.owner_bill_no = true
        // 警告提示
        this.$Notice.error({
          title: '訂單編號未填',
          duration: 30
        })
      }
      let detailsLength = this.detailsList.length
      // for (let i = 0; i < detailsLength; i++) {
      //   let data = this.detailsList[i]
      //   if (!data.storageLoc.storage_id) {
      //     isError = true
      //     this.$Notice.error({
      //       title: `第${data.INDEX}筆明細"儲位"未填`,
      //       duration: 30
      //     })
      //   }
      // }
      //
      if (isError) {
        return
      }
      this.$emit('changeLoadingViewIsShowEvent', true)
      //
      let postData = {
        recInbound: {
          inbound_id: this.postData.inbound_id,
          inbound_pallets: this.postData.inbound_pallets || null,
          inbound_boxes: this.postData.inbound_boxes || null,
          inbound_note: this.postData.inbound_note || null
        },
        inboundDetails: []
      }
      // 明細
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        let detailsPostdata = {
          id_id: data.id_id,
          storage_preassign: parseInt(data.storagePreassignStorageCode.storage_id) || null, // 參考儲位
          storage_preassign_code: data.storagePreassignStorageCode.storage_code || null, // 參考儲位
          storage_loc: parseInt(data.storageLoc.storage_id) || null, // 儲位
          storage_code: data.storageLoc.storage_code || null // 儲位
        }
        postData.inboundDetails.push(detailsPostdata)
      }
      //
      try {
        if (action === 'clone') {
          // update : clone
          // console.log('update : clone')
          Object.keys(this.postData).forEach((key, idx) => {
            if (key !== 'company_name' && key !== 'wh_name' && key !== 'inbound_id' && key !== 'inbound_no' && key !== 'inbound_status' && key !== 'owner_name' && key !== 'date_inbound' && key !== 'date_quantity_check' && key !== 'date_quality_check' && key !== 'date_put_away' && key !== 'created_at' && key !== 'update_at') {
              if (this.postData[key] !== null && this.postData[key] !== '') {
                if (key === 'owner_bill_no') {
                  let value = this.postData[key]
                  postData.recInbound[key] = `${value}_clone`
                } else {
                  let value = this.postData[key]
                  postData.recInbound[key] = value
                }
              }
            }
          })
          delete postData.recInbound['inbound_id']
          // 明細
          postData.inboundDetails = []
          for (let i = 0; i < detailsLength; i++) {
            let data = this.detailsList[i]
            let detailsPostdata = {
              product_id: parseInt(data.product_id) || null, // 商品ID
              product_code: data.product_code || null, // 商品料號
              product_name: data.product_name || null, // 商品名稱
              product_quality: data.product_quality, // 良品/不良品
              inform_num: data.inform_num || null, // 通知量
              box_no: data.box_no || null, // 箱號
              actual_num: parseInt(data.actual_num) || null, // 驗收數量
              inbound_num: parseInt(data.inbound_num) || null, // 數量
              storage_preassign: parseInt(data.storagePreassignStorageCode.storage_id) || null, // 參考儲位ID
              storage_preassign_code: data.storagePreassignStorageCode.storage_code || null, // 參考儲位
              storage_loc: parseInt(data.storageLoc.storage_id) || null, // 儲位ID
              storage_code: data.storageLoc.storage_code || null, // 儲位
              inventory_note: data.inventory_note || null, // 備註
              product_batch_no: data.product_batch_no || null, // 批號
              product_expired_date: data.product_expired_date || null, // 有效日期
              product_manufactured: data.product_manufactured || null, // 製造日期
              quality_check_note: data.quality_check_note || null, // 品保備註
              product_expiration_sale: data.product_expiration_sale || null, // 允售效期
              product_expiration_days: parseInt(data.product_expiration_days) || null, // 保存天數
              inventory_unitprice: data.inventory_unitprice || null // 商品單價
            }
            // console.log(detailsPostdata)
            postData.inboundDetails.push(detailsPostdata)
          }
          //
          let createRes = await this.$store.dispatch('putInOperationSimple/create', postData)
          if (createRes.success) {
            this.postData.inbound_id = createRes.recInbound.inbound_id // 入庫紀錄ID
            this.postData.inbound_no = createRes.recInbound.inbound_no // 單據編號/單號
            this.postData.inbound_status = createRes.recInbound.inbound_status // 入庫單狀態
            this.postData.date_inbound = createRes.recInbound.date_inbound // 入庫通知時間
            this.postData.created_at = createRes.recInbound.created_at // 建立時間
            // 明細
            // console.log(this.detailsList)
            if (createRes.inboundDetails.length > 0) {
              let detailsListLength = createRes.inboundDetails.length
              for (let i = 0; i < detailsListLength; i++) {
                this.detailsList[i].id_id = createRes.inboundDetails[i].id_id
              }
            }
            this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
            // 警告提示
            this.$Notice.success({
              title: '新增成功'
            })
            this.$emit('toStepEvent', this.postData, 2)
          } else {
            this.$Notice.error({
              title: '儲存失敗',
              desc: createRes.message,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
        } else {
          // update
          // console.log('update')
          postData.recInbound.inbound_id = this.postData.inbound_id
          // console.log(postData)
          //
          let updateRes = await this.$store.dispatch('putInOperationSimple/update', { postData: postData, detailId: this.detailId })
          // console.log(updateRes)
          if (updateRes.success) {
            // 成功修改提示
            this.$Notice.success({
              title: '成功修改'
            })
            this.$emit('toStepEvent', this.postData)
            if (this.isChangeInboundStatus) {
              this.isChangeInboundStatus = false
              return
            }
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '更新失敗',
              desc: updateRes.message,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
        }
      } catch (err) {
        // console.log(err)
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        inbound_id: null, // 入庫紀錄ID
        inbound_no: null, // 單據編號/單號
        inbound_status: null, // 入庫單狀態
        owner_bill_no: `${this.userName}_${this.timestamp}`, // 訂單編號
        owner_name: this.ownerName || '', // 貨主/供應商
        owner_id: this.ownerId, // 貨主/供應商ID
        owner_no: null, // 貨主/供應商
        inbound_expect: null, // 預計入庫日
        date_quantity_check: null, // 驗收日
        inbound_note: null, // 入庫單備註
        date_inbound: null, // 入庫通知時間
        date_quality_check: null, // 品保確認時間
        date_put_away: null, // 上架時間
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        inbound_id: false, // 入庫紀錄ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        owner_bill_no: false, // 訂單編號
        owner_id: false, // 貨主/供應商ID
        inbound_expect: false, // 預計入庫日
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 入庫通知時間
        date_quality_check: false, // 品保確認時間
        date_put_away: false, // 上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initPutInShelvesDetailsList: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
      this.$refs.setPutawayInboundDetailsList.setPutawayInboundDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initPutInShelvesDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        inboundId: detailId
      }
      //
      this.$store.dispatch(`putInOperationSimple/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 預計入庫日 : inbound_expect */
    inboundExpectDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.inbound_expect = data.val
      // console.log(this.postData.inbound_expect)
    },
    /* 入庫單狀態 */
    inboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_status = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`putInOperationSimple/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  position: unset;
  width: 100%;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: #eceff2;
    width: calc(100% + 32px);
    height: 100%;
    top: 40px;
    left: -16px;
  }
  .top-box {
    width: 100%;
    overflow: auto;
    height: calc(100% - 27px);
    position: relative;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #fff;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .backBtn {
    position: absolute;
    right: 45px;
    bottom: 200px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .step1 {
    position: absolute;
    top: 130px;
    right: 45px;
    background: #ffffffe6;
    width: 210px;
    z-index: -1;
    .step-box {
      margin-left: auto;
    }
  }
  .item-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .label-box {
      flex: 1;
      font-size: 18px;
      color: #000000;
    }
    .body-box {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 0 50px 0 0;
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
