<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'details' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'details'"
        type="default"
        shape="circle"
      >入庫單明細</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'putawayInboundDetails' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'putawayInboundDetails'"
        type="default"
        shape="circle"
      >已上架明細</Button>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="row">
        <div class="col">
          <!-- 入庫單號 inbound_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_no && postData.inbound_no!==''),
              label: '入庫單號',
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`inbound_no`"
            :defaultValue="postData.inbound_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 入庫單狀態 inbound_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_status && postData.inbound_status!==''),
              label: '入庫單狀態',
              hasClearButton: true,
              background: 'light',
              type: `Select`,
              settings: {height: 41}}"
            :selectList="inboundStatusList"
            :code="`inbound_status`"
            :defaultValue="postData.inbound_status"
            :disabled="true"
            @changeModelEvent="inboundStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 訂單編號 owner_bill_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.owner_bill_no && postData.owner_bill_no!==''),
              label: '訂單編號 *',
              hasClearButton: true,
              background: 'light',
              type: `InputText`,
              settings: {height: 41}}"
            :code="`owner_bill_no`"
            :defaultValue="postData.owner_bill_no"
            :isError="error.owner_bill_no"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨主/供應商 owner_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.owner_name && postData.owner_name!==''),
              label: '貨主/供應商 *',
              hasClearButton: true,
              background: 'light',
              type: `NewAutoComplete`,
              settings: {height: 41}, hiddenSearchBtn: true}"
            :code="`owner_name`"
            :autoCompleteData="ownerList"
            :defaultValue="postData.owner_name"
            :modalTitle="`貨主/供應商`"
            :toCloseModal="toCloseOwnerAutocompleteModal"
            keyCode="customerSetup"
            storeKey="customerOwner"
            returnCode="customer_name"
            :showCols="autoCompleteShowOwnerCols"
            :isError="error.owner_id"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
            @changeModelEvent="ownerAutocompleteChangeEvent"
            @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
              <div>
                <!-- 貨主/供應商-->
                <AutocompleteModal
                keyCode="customerSetup"
                storeKey="customerOwner"
                returnCode="customer_name"
                :condition="ownerCondition"
                :baseCondition="ownerBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- 板數 inbound_pallets -->
          <FloatLabelBox
            :config="{
              hasContent: Number.isInteger(postData.inbound_pallets),
              label: '板數',
              hasClearButton: true,
              background: 'light',
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`inbound_pallets`"
            :defaultValue="postData.inbound_pallets"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 箱數 inbound_boxes -->
          <FloatLabelBox
            :config="{
              hasContent: Number.isInteger(postData.inbound_boxes),
              label: '箱數',
              hasClearButton: true,
              background: 'light',
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`inbound_boxes`"
            :defaultValue="postData.inbound_boxes"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 預計入庫日 inbound_expect -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_expect && postData.inbound_expect!==''),
              label: '預計入庫日',
              hasClearButton: true,
              background: 'light',
              type: `DatePicker`,
              settings: {height: 41}}"
            :code="`inbound_expect`"
            :defaultValue="postData.inbound_expect"
            @changeModelEvent="inboundExpectDatePickerChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
        <div class="col colx2">
          <!-- 入庫單備註 inbound_note -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inbound_note && postData.inbound_note!==''),
              label: '入庫單備註',
              hasClearButton: true,
              background: 'light',
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`inbound_note`"
            :defaultValue="postData.inbound_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div class="pt-3 position-relative" v-show="changeContent === 'details'">
      <!-- 入庫單明細 -->
      <PutInOperationSimpleDetails
        ref="setDetailsList"
        :changeContent="changeContent"
        :detailId="detailId"
        :ownerId="postData.owner_id"
        @gridDataChangeEvent="detailsListChangeEvent"
      ></PutInOperationSimpleDetails>
    </div>
    <div class="pt-3 position-relative" v-show="changeContent === 'putawayInboundDetails'">
      <!-- 已上架明細 -->
      <PutawayInboundDetails
        ref="setPutawayInboundDetailsList"
        :changeContent="changeContent"
        :detailId="detailId"
        @gridDataChangeEvent="putawayInboundDetailsListChangeEvent"
      ></PutawayInboundDetails>
    </div>
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div> -->
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
  </div>
</template>

<script>
/**
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import PutInOperationSimpleDetails from './PutInOperationSimpleDetails'
import PutawayInboundDetails from './PutawayInboundDetails'
//
export default {
  name: 'PutInOperationSimpleAdd',
  props: ['step', 'detailId', 'cloneData', 'showInpageTab', 'inboundType'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    AutocompleteModal,
    PutInOperationSimpleDetails,
    PutawayInboundDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    var userName = this.$store.state.auth.userInfo.userName
    //
    let date = new Date()
    let timestamp = date.getTime()
    //
    let postData = {
      inbound_id: this.cloneData ? this.cloneData.inbound_id : '', // 入庫紀錄ID
      inbound_no: '', // 單據編號/單號
      inbound_status: '', // 入庫單狀態
      owner_bill_no: this.cloneData ? this.cloneData.owner_bill_no : `${userName}_${timestamp}`, // 訂單編號
      owner_name: this.cloneData ? this.cloneData.owner_name : ownerName, // 貨主/供應商
      owner_id: this.cloneData ? this.cloneData.owner_id : ownerId, // 貨主/供應商ID
      owner_no: this.cloneData ? this.cloneData.owner_no : '', // 貨主/供應商代碼
      inbound_expect: this.cloneData ? this.cloneData.inbound_expect : '', // 預計入庫日
      inbound_pallets: this.cloneData ? this.cloneData.inbound_pallets : 0, // 板數
      inbound_boxes: this.cloneData ? this.cloneData.inbound_boxes : 0, // 箱數
      date_quantity_check: this.cloneData ? this.cloneData.date_quantity_check : '', // 驗收日
      inbound_note: this.cloneData ? this.cloneData.inbound_note : '', // 入庫單備註
      date_inbound: '', // 入庫通知時間
      date_quality_check: '', // 品保確認時間
      date_put_away: '', // 上架時間
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      modalType: modalType,
      comfirmSaveModal: false,
      ownerId: ownerId,
      ownerName: ownerName,
      userName: userName,
      /* 貨主/供應商代碼 : owner_id */
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      ownerBaseCondition: [],
      /* tab */
      changeContent: this.showInpageTab,
      /* 入庫單狀態 */
      inboundStatusList: [
        {
          label: '待驗收',
          value: 10
        },
        {
          label: '入庫取消',
          value: 15
        },
        {
          label: '待品保',
          value: 20
        },
        {
          label: '待上架',
          value: 30
        },
        {
          label: '已上架',
          value: 40
        },
        {
          label: '上架確認',
          value: 50
        }
      ],
      // 入庫單明細
      detailsList: [],
      // 已上架明細
      putawayInboundDetailsList: [],
      //
      postData: postData,
      error: {
        inbound_id: false, // 入庫紀錄ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        owner_bill_no: false, // 訂單編號
        owner_id: false, // 貨主/供應商ID
        inbound_expect: false, // 預計入庫日
        inbound_pallets: false, // 板數
        inbound_boxes: false, // 箱數
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 入庫通知時間
        date_quality_check: false, // 品保確認時間
        date_put_away: false, // 上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false,
      isChangeInboundStatus: false, // 是否修改狀態
      timestamp: timestamp
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    putInOperationSimple: function () {
      return this.$store.state[`putInOperationSimple`][`putInOperationSimple`] || {}
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    detailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    putInOperationSimple: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          inbound_id: val.inbound_id || null, // 入庫紀錄ID
          inbound_no: val.inbound_no || null, // 單據編號/單號
          inbound_status: val.inbound_status || null, // 入庫單狀態
          owner_bill_no: val.owner_bill_no || `${this.userName}_${this.timestamp}`, // 訂單編號
          owner_name: val.owner_name || this.ownerName, // 貨主/供應商
          owner_id: val.owner_id || this.ownerId, // 貨主/供應商ID
          owner_no: val.owner_no || null, // 貨主/供應商ID
          inbound_expect: val.inbound_expect || null, // 預計入庫日
          inbound_pallets: val.inbound_pallets || 0, // 板數
          inbound_boxes: val.inbound_boxes || 0, // 箱數
          date_quantity_check: val.date_quantity_check || null, // 驗收日
          inbound_note: val.inbound_note || null, // 入庫單備註
          date_inbound: val.date_inbound || null, // 入庫通知時間
          date_quality_check: val.date_quality_check || null, // 品保確認時間
          date_put_away: val.date_put_away || null, // 上架時間
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.owner_id) {
          this.error.owner_id = false
        }
        if (val.owner_bill_no) {
          this.error.owner_bill_no = false
        }
        this.$emit('inboundDetailChangeEvent', val)
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      // console.log(data)
      this.detailsList = data
    },
    putawayInboundDetailsListChangeEvent: function (data) {
      // console.log(data)
      this.putawayInboundDetailsList = data
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.inbound_id = null
      this.postData.inbound_no = null // 單據編號/單號
      this.postData.inbound_status = 10 // 入庫單狀態
      this.save('clone')
    },
    setInboundEvent: function (data) {
      if (data === 'setInboundStasus') {
        this.isChangeInboundStatus = true
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    save: async function (action = null) {
      //
      let isError = false
      // 檢查
      if (!this.postData.owner_id || this.postData.owner_id === '') {
        isError = true
        this.error.owner_id = true
        // 警告提示
        this.$Notice.error({
          title: '貨主/供應商未填',
          duration: 30
        })
      }
      if (!this.postData.owner_bill_no || this.postData.owner_bill_no === '') {
        isError = true
        this.error.owner_bill_no = true
        // 警告提示
        this.$Notice.error({
          title: '訂單編號未填',
          duration: 30
        })
      }
      if ((this.postData.inbound_status === 20) && (this.putInOperationSimpleDetailsList.length === 0)) {
        this.postData.inbound_status = 10
        this.$Notice.error({
          title: `入庫明細未輸入，驗收失敗`
        })
        return
      }
      // 檢查明細
      // console.log(this.detailsList)
      let detailsLength = this.detailsList.length
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        if (!data.product.product_id || data.product.product_id === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"商品料號"未填`,
            duration: 30
          })
        }
        if (!data.inform_num || data.inform_num === '') {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"通知量"未填`,
            duration: 30
          })
        }
        if (Number(data.inform_num) > 210000000) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"通知量"過多`,
            desc: '請小於21億',
            duration: 30
          })
        }
        if (Number(data.inbound_num) > 210000000 || Number(data.inbound_num_bad) > 210000000) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細"數量"過多`,
            desc: '請小於21億',
            duration: 30
          })
        }
        if (this.postData.inbound_status === 50) {
          if (!data.inbound_num) {
            isError = true
            this.$Notice.error({
              title: `第${data.INDEX}筆明細"數量"未填`,
              duration: 30
            })
          }
          if (!data.storageLoc.storage_id) {
            isError = true
            this.$Notice.error({
              title: `第${data.INDEX}筆明細"儲位"未填`,
              duration: 30
            })
          }
        }
      }
      //
      if (isError) {
        return
      }
      this.$emit('changeLoadingViewIsShowEvent', true)
      //
      let postData = {
        recInbound: {
          owner_id: this.postData.owner_id,
          owner_name: this.postData.owner_name,
          owner_no: this.postData.owner_no,
          inbound_type: this.inboundType
        },
        inboundDetails: []
      }
      Object.keys(this.postData).forEach((key, idx) => {
        if (key !== 'inbound_id' && key !== 'inbound_no' && key !== 'inbound_status' && key !== 'owner_name' && key !== 'date_inbound' && key !== 'date_quantity_check' && key !== 'date_quality_check' && key !== 'date_put_away' && key !== 'created_at' && key !== 'update_at' && key !== 'create_by_user_id' && key !== 'update_by_user_id') {
          if (this.postData[key] !== null && this.postData[key] !== '') {
            let value = this.postData[key]
            postData.recInbound[key] = value
          }
        }
      })
      for (let i = 0; i < detailsLength; i++) {
        let data = this.detailsList[i]
        let detailsPostdata = {
          product_id: parseInt(data.product.product_id) || null, // 商品ID
          product_code: data.product.product_code || null, // 商品料號
          product_name: data.product.product_name || null, // 商品名稱
          product_quality: data.product_quality, // 良品/不良品
          inform_num: data.inform_num || null, // 通知量
          box_no: data.box_no || null, // 箱號
          actual_num: parseInt(data.actual_num) || null, // 驗收數量
          inbound_num: parseInt(data.inbound_num) || null, // 數量
          storage_preassign: parseInt(data.storagePreassignStorageCode.storage_id) || null, // 參考儲位ID
          storage_preassign_code: data.storagePreassignStorageCode.storage_code || null, // 參考儲位
          storage_loc: parseInt(data.storageLoc.storage_id) || null, // 儲位ID
          storage_code: data.storageLoc.storage_code || null, // 儲位
          inventory_note: data.inventory_note || null, // 備註
          product_batch_no: data.product_batch_no || null, // 批號
          product_expired_date: data.product_expired_date || null, // 有效日期
          product_manufactured: data.product_manufactured || null, // 製造日期
          quality_check_note: data.quality_check_note || null, // 品保備註
          product_expiration_sale: data.product_expiration_sale || null, // 允售效期
          product_expiration_days: parseInt(data.product_expiration_days) || null, // 保存天數
          inventory_unitprice: data.inventory_unitprice || null // 商品單價
        }
        // console.log(data)
        // console.log(detailsPostdata)
        postData.inboundDetails.push(detailsPostdata)
      }
      // console.log(postData)
      //
      try {
        switch (this.step) {
          case 1:
            // create
            // console.log('create')
            postData.recInbound.inbound_status = 10 // 預設
            let createRes = await this.$store.dispatch('putInOperationSimple/create', postData)
            console.log(createRes)
            if (createRes.success) {
              this.postData.inbound_id = createRes.recInbound.inbound_id // 入庫紀錄ID
              this.postData.inbound_no = createRes.recInbound.inbound_no // 單據編號/單號
              this.postData.inbound_status = createRes.recInbound.inbound_status // 入庫單狀態
              this.postData.date_inbound = createRes.recInbound.date_inbound // 入庫通知時間
              this.postData.created_at = createRes.recInbound.created_at // 建立時間
              // 明細
              // console.log(this.detailsList)
              if (createRes.inboundDetails.length > 0) {
                let detailsListLength = createRes.inboundDetails.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.detailsList[i].id_id = createRes.inboundDetails[i].id_id
                }
              }
              this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
              //
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              this.$Notice.error({
                title: '儲存失敗',
                desc: createRes.message,
                duration: 30
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
          case 2:
            // update
            // console.log(postData)
            if (action === 'clone') {
              // update : clone
              // console.log('update : clone')
              delete postData.recInbound['inbound_id']
              postData.recInbound.owner_bill_no = `${this.postData.owner_bill_no}_clone`
              let createRes = await this.$store.dispatch('putInOperationSimple/create', postData)
              if (createRes.success) {
                this.postData.inbound_id = createRes.respondCode.additionals.inbound.inbound_id // 入庫紀錄ID
                this.postData.inbound_no = createRes.respondCode.additionals.inbound.inbound_no // 單據編號/單號
                this.postData.inbound_status = createRes.respondCode.additionals.inbound.inbound_status // 入庫單狀態
                this.postData.date_inbound = createRes.recInbound.date_inbound // 入庫通知時間
                this.postData.created_at = createRes.recInbound.created_at // 建立時間
                // 明細
                // console.log(this.detailsList)
                if (createRes.inboundDetails.length > 0) {
                  let detailsListLength = createRes.inboundDetails.length
                  for (let i = 0; i < detailsListLength; i++) {
                    this.detailsList[i].id_id = createRes.inboundDetails[i].id_id
                  }
                }
                this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', this.postData, 2)
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else {
                this.$Notice.error({
                  title: '儲存失敗',
                  desc: createRes.message,
                  duration: 30
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            } else {
              // update
              // console.log('update')
              postData.recInbound.inbound_id = this.postData.inbound_id
              Object.keys(this.postData).forEach((key, idx) => {
                if (key !== 'date_inbound' && key !== 'date_quantity_check' && key !== 'date_quality_check' && key !== 'date_put_away' && key !== 'update_at' && key !== 'created_by' && key !== 'update_by') {
                  if (this.postData[key] === '' || this.postData[key] === null || this.postData[key] === undefined) {
                    postData.recInbound[key] = null
                  }
                }
              })
              // 明細
              // console.log(this.detailsList)
              for (let i = 0; i < detailsLength; i++) {
                let data = this.detailsList[i]
                postData.inboundDetails[i].id_id = data.id_id || null
                // 有效日期
                if (data.product_expired_date) {
                  if (data.product_expired_date instanceof Date) {
                    let newProductExpiredDate = new Date(data.product_expired_date)
                    let yyyy = newProductExpiredDate.getFullYear()
                    let mm = newProductExpiredDate.getMonth() + 1
                    let dd = newProductExpiredDate.getDate()
                    let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
                    // console.log(localFilterStartTime)
                    postData.inboundDetails[i].product_expired_date = localFilterStartTime
                  } else {
                    postData.inboundDetails[i].product_expired_date = data.product_expired_date // 有效日期
                  }
                } else {
                  postData.inboundDetails[i].product_expired_date = null
                }
                // 製造日期
                if (data.product_manufactured) {
                  if (data.product_manufactured instanceof Date) {
                    let newProductManufactured = new Date(data.product_manufactured)
                    let yyyy = newProductManufactured.getFullYear()
                    let mm = newProductManufactured.getMonth() + 1
                    let dd = newProductManufactured.getDate()
                    let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
                    postData.inboundDetails[i].product_manufactured = localFilterStartTime
                  } else {
                    postData.inboundDetails[i].product_manufactured = data.product_manufactured // 製造日期
                  }
                } else {
                  postData.inboundDetails[i].product_manufactured = null
                }
                // 允售效期
                if (data.product_expiration_sale) {
                  if (data.product_expiration_sale instanceof Date) {
                    let newProductExpirationSale = new Date(data.product_expiration_sale)
                    let yyyy = newProductExpirationSale.getFullYear()
                    let mm = newProductExpirationSale.getMonth() + 1
                    let dd = newProductExpirationSale.getDate()
                    let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
                    // console.log(localFilterStartTime)
                    postData.inboundDetails[i].product_expiration_sale = localFilterStartTime // 允售效期
                  } else {
                    postData.inboundDetails[i].product_expiration_sale = data.product_expiration_sale // 允售效期
                  }
                } else {
                  postData.inboundDetails[i].product_expiration_sale = null
                }
              }
              // console.log(postData)
              let updateRes = await this.$store.dispatch('putInOperationSimple/update', { postData: postData, detailId: this.detailId })
              // console.log(updateRes)
              if (updateRes.success) {
                // 成功修改提示
                this.$Notice.success({
                  title: '成功修改'
                })
                this.$emit('toStepEvent', this.postData)
                if (this.isChangeInboundStatus) {
                  this.isChangeInboundStatus = false
                  return
                }
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else {
                this.$Notice.error({
                  title: '更新失敗',
                  desc: updateRes.message,
                  duration: 30
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            }
            break
          case 3:
            // create : clone
            // console.log('create : clone')
            delete postData['inbound_id']
            postData.owner_bill_no = `${this.postData.owner_bill_no}_clone`
            let cloneRes = await this.$store.dispatch('putInOperationSimple/create', postData)
            // console.log(cloneRes)
            if (cloneRes.success) {
              this.postData.inbound_id = cloneRes.respondCode.additionals.inbound.inbound_id // 入庫紀錄ID
              this.postData.inbound_no = cloneRes.respondCode.additionals.inbound.inbound_no // 單據編號/單號
              this.postData.inbound_status = cloneRes.respondCode.additionals.inbound.inbound_status // 入庫單狀態
              this.postData.date_inbound = cloneRes.recInbound.date_inbound // 入庫通知時間
              this.postData.created_at = cloneRes.recInbound.created_at // 建立時間
              // 明細
              if (cloneRes.inboundDetails.length > 0) {
                let detailsListLength = cloneRes.inboundDetails.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.detailsList[i].id_id = cloneRes.inboundDetails[i].id_id
                }
              }
              this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              this.$Notice.error({
                title: '儲存失敗',
                desc: cloneRes.message,
                duration: 30
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
        }
      } catch (err) {
        // console.log(err)
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        inbound_id: null, // 入庫紀錄ID
        inbound_no: null, // 單據編號/單號
        inbound_status: null, // 入庫單狀態
        owner_bill_no: `${this.userName}_${this.timestamp}`, // 訂單編號
        owner_name: this.ownerName || '', // 貨主/供應商
        owner_id: this.ownerId, // 貨主/供應商ID
        owner_no: null, // 貨主/供應商ID
        inbound_expect: null, // 預計入庫日
        date_quantity_check: null, // 驗收日
        inbound_note: null, // 入庫單備註
        date_inbound: null, // 入庫通知時間
        date_quality_check: null, // 品保確認時間
        date_put_away: null, // 上架時間
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        inbound_id: false, // 入庫紀錄ID
        inbound_no: false, // 單據編號/單號
        inbound_status: false, // 入庫單狀態
        owner_bill_no: false, // 訂單編號
        owner_id: false, // 貨主/供應商ID
        inbound_expect: false, // 預計入庫日
        date_quantity_check: false, // 驗收日
        inbound_note: false, // 入庫單備註
        date_inbound: false, // 入庫通知時間
        date_quality_check: false, // 品保確認時間
        date_put_away: false, // 上架時間
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initPutInOperationSimpleDetailsList: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
      this.$refs.setPutawayInboundDetailsList.setPutawayInboundDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initPutInOperationSimpleDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        inboundId: detailId
      }
      //
      this.$store.dispatch(`putInOperationSimple/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 貨主/供應商代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.owner_id = null
      this.postData.owner_no = null
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        this.postData.owner_no = data.val ? data.val.customer_no : ''
        // console.log(this.postData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.ownerBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_id = data.data.customer_id
      this.postData.owner_no = data.data.customer_no
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 預計入庫日 : inbound_expect */
    inboundExpectDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.inbound_expect = data.val
      // console.log(this.postData.inbound_expect)
    },
    /* 驗收日 : date_quantity_check */
    inboundAcceptanceDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.date_quantity_check = data.val
    },
    /* 入庫單狀態 */
    inboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.inbound_status = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`putInOperationSimple/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  position: unset;
  width: 100%;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: #eceff2;
    width: calc(100% + 32px);
    height: 100%;
    top: 40px;
    left: -16px;
  }
  .top-box {
    width: 100%;
    overflow: auto;
    height: calc(100% - 27px);
    position: relative;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #3c3c3c;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
