<template>
  <div v-if="show" class="LoadingView-box">
      <img src="@/assets/images/icon/loadingCar_fast.gif" width="160">
  </div>
</template>

<script>
export default {
  name: 'LoadingView',
  props: ['show'],
  components: {},
  data () {
    //
    return {}
  },
  computed: {},
  watch: {},
  methods: {},
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.LoadingView-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}
</style>
