<template>
  <div class="StocktakeSetupDetails">
    <!-- 按鈕區 -->
    <!-- <br /> -->
    <!-- 分隔線 -->
    <!-- DataGrid : hideFilter 隱藏過濾器 / hidePage 隱藏分頁 -->
    <SimpleDataGrid
      idKeyName="std_id"
      :hideFilter="true"
      :hidePage="true"
      :noTextBreak="true"
      :logicalOperator="logicalOperator"
      :settingData="settingData"
      :gridData="gridData"
      :toGetIds="toGetIds"
      :isQuery="isQuery"
      :setVisibleColumns="setVisibleColumns"
      @gridDataChengeEvent="gridDataChengeEvent"
      @moveColEvent="moveColEvent"
      @removeColEvent="removeColEvent"
      @sortEvent="sortEvent"
      @filterEvent="filterEvent"
      @getIdsEvent="getIdsEvent"
      @getDetailEvent="getDetailEvent"
      @pageChangeEvent="pageChangeEvent"
      @pageSizeChangeEvent="pageSizeChangeEvent"
      @scrollEvent="scrollEvent"
    ></SimpleDataGrid>
    <!-- columnControl modal -->
    <ColumnControlModal
    :settingData="settingData"
    :columnControlModal="columnControlModal"
    v-on:columnControlModalCloseEvent="columnControlModalClose"
    v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
  </div>
</template>

<script>
import Config from '@/Config'
// import DataGrid from '@/components/dataGrid/DataGrid'
import SimpleDataGrid from '@/components/dataGrid/SimpleDataGrid'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
export default {
  name: 'StocktakeCloseSetupDetails',
  props: ['data', 'detailId', 'companyId', 'whId', 'uiId'],
  components: {
    // DataGrid,
    SimpleDataGrid,
    ColumnControlModal
  },
  data () {
    // 定義用
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.maxPageSize, // 一頁幾筆 / 不分頁，一次取全部
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#FFFFFF',
        headColor: '#333',
        rowOddBgColor: '#f4f2f1',
        rowOddColor: '#777777',
        rowEvenBgColor: '#fbfaf9',
        rowEvenColor: '#777777',
        editCelColor: 'rgb(255, 225, 225)',
        waitEditCelColor: '#FFFFFF',
        notEditCelColor: '#EFEFEF'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_code',
          displayName: '商品料號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storage_loc_code',
          displayName: '儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'stock_num',
          displayName: '庫存',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_quality',
          displayName: '良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'actual_stocktake_num',
          displayName: '實盤量',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'created_at',
          displayName: '建立時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'update_at',
          displayName: '更新時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    settingData = defaultSettingData
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      isQuery: false,
      //
      columnControlModal: false,
      //
      productQualityFilterData: [], // 良品/不良品
      timeZoneTimestamp: null,
      isScrollToBottom: false,
      //
      setVisibleColumns: false
    }
  },
  computed: {
    stocktakeDetailList: function () {
      return this.$store.state[`stocktake`][`stocktakeDetailList`] || {}
    }
  },
  watch: {
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        // console.log(val)
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        //
        if (!val) {
          this.gridData = []
        }
      },
      deep: true
    },
    stocktakeDetailList: {
      handler: function (val) {
        //
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
        }
        this.setVisibleColumns = !this.setVisibleColumns
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        owner_id: '',
        owner_name: '',
        owner_no: '',
        product_id: '',
        product_code: '',
        product_name: '',
        product_batch_no: '',
        storage_loc: '',
        storage_loc_code: '',
        stock_num: '',
        product_quality: 1,
        product_expired_date: ''
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      //
      switch (this.optType) {
        // case 'remove':
        //   // 刪除 : INDEX
        //   this.gridData = this.gridData.filter((item, index) => {
        //     let _item = data.list.find((itm, idx) => {
        //       if (item.INDEX === itm.INDEX) {
        //         return true
        //       }
        //     })
        //     if (_item) {
        //       // console.log(item.INDEX)
        //       if (item.std_id && item.std_id !== '') {
        //         this.remove(item.std_id)
        //       }
        //       return false
        //     } else {
        //       return true
        //     }
        //   })
        //   // console.log(this.gridData)
        //   break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    // 良品/不良品 product_quality
    getProductQualityFilterData: function () {
      this.productQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    setDetailsList: function (type, data) {
      switch (type) {
        case 'init':
          this.gridData = []
          break
        case 'set':
          this.gridData = [...data]
          break
      }
    },
    /*
    ** 新增頁 create: 則不打API取得清單
    ** 明細頁 update: 如果this.detailId有值，則打API取得清單
     */
    getGridData: function (filterAry, sortAry) {
      // 此應用不需分頁 故 頁碼設1，每頁頁數設Config.maxPageSize
      this.isQuery = true
      //
      let filter = filterAry || []
      let sort = sortAry || [{ sortField: 'storage_loc_code', sortValue: 'asc' }]
      let postData = {
        page: 1,
        pageSize: 1000,
        combinedCondition: null,
        query: [
          ...filter,
          {
            queryCondition: '=',
            queryField: 'stocktake_id',
            queryValue: this.detailId
          }
        ],
        sort: sort
      }
      this.$store.dispatch(`stocktakeDetail/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.gridData = r.respondCode.additionals['stocktakeDetail']
          // console.log(this.gridData)
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1)
            // item.assignedUser = {
            //   user_id: item.assigned_user_id,
            //   user_name: item.assigned_user_name,
            //   user_no: item.assigned_user_no
            // }
            // if (item.assigned_user_id) {
            //   this.$emit('changeAssignedUserEvent', item.assigned_user_id, item.assigned_user_name)
            // }
            item.created_at = item.created_at ? this.changeToLocalTime(item.created_at) : null
            item.update_at = item.update_at ? this.changeToLocalTime(item.update_at) : null
          })
          if (this.gridData[0].assigned_user_id) {
            this.$emit('changeAssignedUserEvent', this.gridData[0].assigned_user_id, this.gridData[0].assigned_user_name)
          }
          // console.log(this.gridData)
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    }
  },
  created () {
    //
    this.getTimeZoneTimestamp()
    this.getProductQualityFilterData()
    //
    // if ((this.detailId && this.detailId !== '')) {
    //   // 取得清單
    //   this.getGridData()
    // }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.StocktakeSetupDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
    background-color: #fff;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 279px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
</style>
