<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 單據編號/單號 stocktake_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.stocktake_no && postData.stocktake_no!==''),
              label: `盤點單號`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`stocktake_no`"
            :defaultValue="postData.stocktake_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 盤點單狀態 stocktake_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.stocktake_status && postData.stocktake_status!==''),
              label: `盤點單狀態`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="stocktakeStatusList"
            :code="`stocktake_status`"
            :defaultValue="postData.stocktake_status"
            :disabled="true"
            @changeModelEvent="stocktakeStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 指派盤點員 assigned_user_name -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.assigned_user_name && postData.assigned_user_name!==''),
              label: `指派盤點員`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`assigned_user_name`"
            :defaultValue="postData.assigned_user_name"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div>
      <!-- 盤點單明細 -->
      <StocktakeProcessingSetupDetails
        ref="setDetailsList"
        :detailId="detailId"
        @gridDataChangeEvent="detailsListChangeEvent"
        @changeAssignedUserEvent="changeAssignedUserEvent"
        @setAddModalEvent="setAddModalEvent"
        @getSettingDataEvent="getDetailsSettingDataEvent"
      ></StocktakeProcessingSetupDetails>
    </div>
    <!-- dataexport btn -->
    <!-- <div class="dataexportBtn" @click="dataexport">
      <font-awesome-icon icon="file-download" size="2x" />
    </div> -->
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div> -->
    <!-- add Modal -->
    <Modal v-model="addDetailsModal" width="1000" :footer-hide="true" @on-cancel="setAddModalEvent(false)" class="addModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="mb-1">
          <h2 class="title mb-3">
            <span>新增明細</span>
          </h2>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <!-- 貨主 owner_id -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailsPostData.owner_name && detailsPostData.owner_name!==''),
                    label: '貨主 *',
                    hasClearButton: true,
                    background: 'white',
                    type: `NewAutoComplete`,
                    settings: {height: 41}, hiddenSearchBtn: true}"
                  :code="`owner_name`"
                  :autoCompleteData="ownerIdList"
                  :defaultValue="detailsPostData.owner_name"
                  :modalTitle="`貨主代碼`"
                  :toCloseModal="toCloseOwnerIdAutocompleteModal"
                  keyCode="customerSetup"
                  storeKey="customerOwner"
                  returnCode="customer_name"
                  :showCols="autoCompleteShowOwnerIdCols"
                  :isError="detailsError.owner_id"
                  :isRequired="true"
                  @handleEnterSubmit="autocompleteHandleOwnerIdEnterSubmitEvent"
                  @changeModelEvent="ownerIdAutocompleteChangeEvent"
                  @autoCompleteSearchEvent="ownerIdAutoCompleteSearchEvent"
                  @setToCloseModalEvent="setToCloseOwnerIdAutocompleteModal">
                    <div>
                      <!-- 貨主代碼-->
                      <AutocompleteModal
                      keyCode="customerSetup"
                      storeKey="customerOwner"
                      returnCode="customer_name"
                      respondCode= "customer"
                      :condition="ownerIdCondition"
                      :baseCondition="ownerBaseCondition"
                      @setAutocompleteValueEvent="setAutocompleteOwnerIdValue"></AutocompleteModal>
                    </div>
                  </FloatLabelBox>
              </div>
              <div class="col">
                <!-- 商品料號 product_code -->
                <FloatLabelBox
                  :config="{
                    hasContent: (postData.product_code && postData.product_code!==''),
                    label: `商品料號 *`,
                    hasClearButton: true,
                    background: 'white',
                    type: `NewAutoComplete`,
                    settings: {height: 41}}"
                  :code="`product_id`"
                  :autoCompleteData="productList"
                  :defaultValue="detailsPostData.product_code"
                  :modalTitle="`商品料號`"
                  :toCloseModal="toCloseProductAutocompleteModal"
                  keyCode="goodsSetup"
                  storeKey="product"
                  returnCode="product_code"
                  :showCols="autoCompleteShowProductCols"
                  :isError="detailsError.product_id"
                  :isRequired="true"
                  @handleEnterSubmit="autocompleteHandleProductEnterSubmitEvent"
                  @changeModelEvent="productAutocompleteChangeEvent"
                  @autoCompleteSearchEvent="productAutoCompleteSearchEvent"
                  @setToCloseModalEvent="setToCloseProductAutocompleteModal">
                    <div>
                      <!-- 商品料號-->
                      <AutocompleteModal
                      keyCode="goodsSetup"
                      storeKey="product"
                      returnCode="product_code"
                      :condition="productCondition"
                      :baseCondition="productBaseCondition"
                      @setAutocompleteValueEvent="setAutocompleteProductValue"></AutocompleteModal>
                    </div>
                  </FloatLabelBox>
              </div>
              <div class="col">
              <!-- 商品名稱 product_name -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailsPostData.product_name && detailsPostData.product_name!==''),
                    label: `商品名稱`,
                    hasClearButton: true,
                    background: 'white',
                    type: `InputText`,
                    settings: {height: 41}}"
                  :code="`product_name`"
                  :defaultValue="detailsPostData.product_name"
                  :disabled="true"
                  @changeModelEvent="detailsInputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!-- 實盤量 actual_stocktake_num -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailsPostData.actual_stocktake_num!== null && detailsPostData.actual_stocktake_num!==''),
                    label: `實盤量`,
                    hasClearButton: true,
                    background: 'white',
                    type: `InputNumber`,
                    settings: {height: 41}}"
                  :code="`actual_stocktake_num`"
                  :defaultValue="detailsPostData.actual_stocktake_num"
                  :isError="detailsError.actual_stocktake_num"
                  :isRequired="true"
                  :disabled="false"
                  @changeModelEvent="inputNumChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 儲位 storage_loc -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailsPostData.storage_loc_code && detailsPostData.storage_loc_code!==''),
                    label: `儲位`,
                    hasClearButton: true,
                    background: 'white',
                    type: `NewAutoComplete`,
                    settings: {height: 41}}"
                  :code="`storage_loc`"
                  :autoCompleteData="storageCodeList"
                  :defaultValue="detailsPostData.storage_loc_code"
                  :isError="detailsError.storage_loc"
                  :isRequired="detailsPostData.actual_stocktake_num"
                  :modalTitle="`儲位`"
                  :toCloseModal="toCloseStorageCodeAutocompleteModal"
                  keyCode="storageSetup"
                  storeKey="storage"
                  returnCode="storage_code"
                  :showCols="autoCompleteShowStorageCodeCols"
                  @handleEnterSubmit="autocompleteHandleStorageCodeEnterSubmitEvent"
                  @changeModelEvent="storageCodeAutocompleteChangeEvent"
                  @autoCompleteSearchEvent="storageCodeAutoCompleteSearchEvent"
                  @setToCloseModalEvent="setToCloseStorageCodeAutocompleteModal">
                    <div>
                      <!-- 儲位 -->
                      <AutocompleteModal
                      keyCode="storageSetup"
                      storeKey="storage"
                      returnCode="storage_code"
                      :condition="storageCodeCondition"
                      :baseCondition="storageCodeBaseCondition"
                      @setAutocompleteValueEvent="setAutocompleteStorageCodeValue"></AutocompleteModal>
                    </div>
                  </FloatLabelBox>
              </div>
              <div class="col">
              <!-- 批號 product_batch_no -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailsPostData.product_batch_no && detailsPostData.product_batch_no!==''),
                    label: `批號`,
                    hasClearButton: true,
                    background: 'white',
                    type: `InputText`,
                    settings: {height: 41}}"
                  :code="`product_batch_no`"
                  :defaultValue="detailsPostData.product_batch_no"
                  :disabled="false"
                  @changeModelEvent="detailsInputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!-- 有效日期 product_expired_date -->
                <FloatLabelBox
                  :config="{
                    hasContent: (detailsPostData.product_expired_date && detailsPostData.product_expired_date!==''),
                    label: `有效日期`,
                    hasClearButton: true,
                    background: 'white',
                    type: `DatePicker`,
                    settings: {height: 41}}"
                  :code="`product_expired_date`"
                  :defaultValue="detailsPostData.product_expired_date"
                  :disabled="false"
                  @changeModelEvent="datePickerChangeEvent"
                ></FloatLabelBox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-box">
        <Button class="best-outlined-gray lg-btn w-100 mr-3" shape="circle" size="large" @click="setAddModalEvent(false)">關閉</Button>
        <Button class="best-blue lg-btn w-100" shape="circle" size="large" @click="addDetailsListEvent" :disabled="saveDetailsDisabled">新增</Button>
      </div>
    </Modal>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :canNotClone="true"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
/**
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import StocktakeProcessingSetupDetails from './StocktakeProcessingSetupDetails'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
//
export default {
  name: 'StocktakeProcessingSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'uiId', 'ownerId', 'ownerName', 'timeZoneTimestamp', 'timeZone', 'showInpageTab'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    AutocompleteModal,
    StocktakeProcessingSetupDetails,
    DataexportModal
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      // modalType = 'clone'
    }
    //
    let postData = {
      stocktake_id: this.cloneData ? this.cloneData.stocktake_id : '', // 盤點單ID
      stocktake_no: '', // 盤點單號
      stocktake_status: '', // 盤點單狀態
      change_start_date: '', // 異動起日
      change_end_date: '', // 異動迄日
      owner_name: this.cloneData ? this.cloneData.owner_name : '', // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : '', // 貨主ID
      owner_no: this.cloneData ? this.cloneData.owner_no : '', // 貨主代碼
      storage_loc_code: this.cloneData ? this.cloneData.storage_loc_code : '', // 分區編號
      product_code: this.cloneData ? this.cloneData.product_code : '', // 商品代碼
      assigned_user_id: this.cloneData ? this.cloneData.assigned_user_id : '', // 指派盤點員ID
      assigned_user_name: this.cloneData ? this.cloneData.assigned_user_name : '', // 指派盤點員名稱
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      Config: Config,
      //
      modalType: modalType,
      //
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      // 盤點匯出
      dataexportModal: false,
      dataexportTitle: '盤點單匯出',
      /* 盤點單狀態 */
      stocktakeStatusList: [
        {
          label: '待啟動',
          value: 10
        },
        {
          label: '盤點取消',
          value: 15
        },
        {
          label: '待指派',
          value: 20
        },
        {
          label: '待盤點',
          value: 30
        },
        {
          label: '盤點完成',
          value: 50
        },
        {
          label: '已結束',
          value: 80
        },
        {
          value: 90,
          label: '庫存已調整'
        }
      ],
      // 盤點單明細
      detailsList: [],
      detailsSettingData: [], // 明細latout
      // 新增明細
      addDetailsModal: false,
      saveDetailsDisabled: false,
      detailsPostData: {
        owner_id: this.ownerId || null, // 貨主ID
        owner_name: this.ownerName || '', // 貨主
        owner_no: null, // 貨主代碼
        product_id: null, // 商品ID
        product_code: null, // 商品料號
        product_name: null, // 商品名稱
        storage_loc: null, // 儲位ID
        storage_loc_code: null, // 儲位
        product_batch_no: null, // 批號
        product_expired_date: null, // 有效日期
        actual_stocktake_num: null // 實盤量
      },
      detailsError: {
        owner_id: false, // 貨主ID
        owner_name: false, // 貨主
        product_id: false, // 商品ID
        product_code: false, // 商品料號
        product_name: false, // 商品名稱
        storage_loc: false, // 儲位ID
        storage_loc_code: false, // 儲位
        product_batch_no: false, // 批號
        product_expired_date: false, // 有效日期
        actual_stocktake_num: false // 實盤量
      },
      /* 貨主 : owner_id */
      ownerIdList: [],
      autoCompleteShowOwnerIdCols: [
        'customer_no'
      ],
      toCloseOwnerIdAutocompleteModal: false,
      ownerIdCondition: [],
      ownerBaseCondition: [],
      /* 商品料號 : product_code */
      productList: [],
      autoCompleteShowProductCols: [
        'product_name'
      ],
      toCloseProductAutocompleteModal: false,
      productCondition: [],
      productBaseCondition: [],
      /*  儲位 : storage_loc */
      storageCodeList: [],
      autoCompleteShowStorageCodeCols: [],
      toCloseStorageCodeAutocompleteModal: false,
      storageCodeCondition: [],
      storageCodeBaseCondition: [],
      //
      postData: postData,
      error: {
        stocktake_id: false, // 盤點單ID
        stocktake_no: false, // 盤點單號
        stocktake_status: false, // 盤點單狀態
        change_start_date: false, // 異動起日
        change_end_date: false, // 異動迄日
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        storage_loc_code: false, // 分區編號
        product_code: false, // 商品代碼
        assigned_user_id: false, // 指派盤點員ID
        assigned_user_name: false, // 指派盤點員名稱
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    stocktake: function () {
      return this.$store.state[`stocktake`][`stocktake`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 5 && oldVal === 6) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
      if (newVal === 6 && oldVal === 5) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    detailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    stocktake: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          stocktake_id: val.stocktake_id || null, // 盤點單ID
          stocktake_no: val.stocktake_no || null, // 盤點單號
          stocktake_status: val.stocktake_status || null, // 盤點單狀態
          assigned_user_name: val.assigned_user_name || null, // 指派盤點員
          change_start_date: val.change_start_date || null, // 異動起日
          change_end_date: val.change_end_date || null, // 異動迄日
          owner_name: val.owner_name || null, // 貨主
          owner_id: val.owner_id || null, // 貨主ID
          owner_no: val.owner_no || null, // 貨主代碼
          storage_loc_code: val.storage_loc_code || null, // 分區編號
          product_code: val.product_code || null, // 商品代碼
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        this.$emit('stocktakeDetailChangeEvent', val)
      },
      deep: true
    },
    detailsPostData: {
      handler: function (val) {
        //
        if (val.owner_id) {
          this.detailsError.owner_id = false
        }
        if (val.product_id) {
          this.detailsError.product_id = false
        }
        if (val.actual_stocktake_num) {
          this.detailsError.actual_stocktake_num = false
        }
        if (val.storage_loc) {
          this.detailsError.storage_loc = false
        }
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      // console.log(data)
      this.detailsList = data
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.stocktake_id = null
      this.postData.stocktake_no = null // 單據編號/單號
      this.postData.stocktake_status = null // 狀態
      this.initStocktakeSetupDetailsList()
      this.save('clone')
    },
    setStocktakeEvent: function (data) {
      if (data === 'setStocktakeStasus') {
        this.isChangeStocktakeStatus = true
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    save: async function (action = null) {
      //
      this.$emit('changeLoadingViewIsShowEvent', true)
      //
      let postData = {
        recStocktake: {},
        stocktakeDetails: []
      }
      //
      let detailsListLength = this.detailsList.length
      for (let i = 0; i < detailsListLength; i++) {
        let data = {
          std_id: this.detailsList[i].std_id,
          actual_stocktake_num: this.detailsList[i].actual_stocktake_num
        }
        postData.stocktakeDetails.push(data)
      }
      this.$store.dispatch('stocktake/update', { postData: postData, detailId: this.postData.stocktake_id }).then((r) => {
        console.log(r)
        if (!r.success) {
          this.$Notice.error({
            title: `更新失敗`,
            desc: r.message,
            duration: 30
          })
        }
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    // 修改明細
    updateStocktakeProcessingSetupDetailsList: async function (data, index) {
      // console.log(index)
      // console.log(data)
      let isError = false
      // 檢查
      let detailsList = {}
      if (this.postData.stocktake_status === 50 || this.postData.stocktake_status === 80) {
        if ((!data.actual_stocktake_num && parseInt(data.actual_stocktake_num) !== 0)) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細`,
            desc: '實盤量未填',
            duration: 30
          })
        }
        if (parseInt(data.actual_stocktake_num) < 0) {
          isError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細`,
            desc: '實盤量不可小於0',
            duration: 30
          })
        }
      }
      detailsList = {
        actual_stocktake_num: parseInt(data.actual_stocktake_num) || 0
      }
      if (isError) {
        this.detailsListIsError = isError
        return
      }
      try {
        let detailUpdateRes = await this.$store.dispatch(`stocktakeDetail/update`, { postData: detailsList, detailId: data.std_id })
        // console.log(detailUpdateRes)
        if (detailUpdateRes.httpStatus !== 200 && detailUpdateRes.httpStatus !== 201) {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細更新失敗`,
            duration: 30
          })
        }
      } catch (error) {
        // console.log(error)
        this.detailsListIsError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細更新失敗`,
          duration: 30
        })
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        stocktake_id: null, // 盤點單ID
        stocktake_no: null, // 盤點單號
        stocktake_status: null, // 盤點單狀態
        assigned_user_name: null, // 指派盤點員
        change_start_date: null, // 異動起日
        change_end_date: null, // 異動迄日
        owner_name: null, // 貨主
        owner_id: null, // 貨主ID
        owner_no: null, // 貨主代碼
        storage_loc_code: null, // 分區編號
        product_code: null, // 商品代碼
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        stocktake_id: false, // 盤點單ID
        stocktake_no: false, // 盤點單號
        stocktake_status: false, // 盤點單狀態
        assigned_user_name: false, // 指派盤點員
        change_start_date: false, // 異動起日
        change_end_date: false, // 異動迄日
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        storage_loc_code: false, // 分區編號
        product_code: false, // 商品代碼
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initStocktakeSetupDetailsList: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initStocktakeSetupDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    detailsInputTxtChangeEvent: function (data) {
      //
      this.detailsPostData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.detailsPostData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        stocktakeId: detailId
      }
      //
      this.$store.dispatch(`stocktake/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 盤點單狀態 */
    stocktakeStatusListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    changeAssignedUserEvent: function (id, name) {
      // console.log(id)
      this.postData.assigned_user_id = id
      this.postData.assigned_user_name = name
    },
    getDetailsSettingDataEvent: function (data) {
      // console.log(data)
      this.detailsSettingData = data
    },
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        queryExpression: {},
        exportFields: [],
        exportSettings: {}
        // timezone_offset: null
      }
      let exportFields = [
        {
          fieldName: 'stocktake_no',
          displayName: '盤點單號'
        },
        {
          fieldName: 'assigned_user_name',
          displayName: '盤點員'
        }
      ]
      this.detailsSettingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          if (element.property === 'created_at') {
            return
          }
          if (element.property === 'update_at') {
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      //
      postData.queryExpression.page = data.postData.page
      postData.queryExpression.pageSize = this.detailsSettingData.page.totalCount
      postData.queryExpression.combinedCondition = 'AND'
      postData.queryExpression.query = [
        {
          queryCondition: '=',
          queryValue: this.postData.stocktake_id,
          queryField: 'stocktake_id'
        }
      ]
      postData.queryExpression.sort = []
      postData.exportFields = exportFields
      postData.exportSettings.exportFileName = data.postData.exportFileName
      postData.exportSettings.exportFormat = data.postData.exportFormat
      //
      let csvSeperator = ''
      switch (data.postData.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      postData.exportSettings.csvSeperator = csvSeperator
      //
      if (this.timeZone < 0) {
        postData.timezone_offset = `${this.timeZone}`
      } else {
        postData.timezone_offset = `+${this.timeZone}`
      }
      // console.log(postData)
      //
      this.$store.dispatch(`stocktake/dataexport`, postData).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // console.log('下載檔案')
          window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.dataExport.download_link}`)
        }
        this.LoadingViewIsShow = false
      })
    },
    initDetailsPostData: function () {
      this.detailsPostData = {
        owner_id: this.ownerId || null, // 貨主ID
        owner_name: this.ownerName || '', // 貨主
        owner_no: '', // 貨主代碼
        product_id: null, // 商品ID
        product_code: '', // 商品料號
        product_name: '', // 商品名稱
        storage_loc: null, // 儲位ID
        storage_loc_code: '', // 儲位
        product_batch_no: null, // 批號
        product_expired_date: null, // 有效日期
        actual_stocktake_num: null // 實盤量
      }
      this.detailsError = {
        owner_id: false, // 貨主ID
        owner_name: false, // 貨主
        product_id: false, // 商品ID
        product_code: false, // 商品料號
        product_name: false, // 商品名稱
        storage_loc: false, // 儲位ID
        storage_loc_code: false, // 儲位
        product_batch_no: false, // 批號
        product_expired_date: false, // 有效日期
        actual_stocktake_num: false // 實盤量
      }
    },
    setAddModalEvent: function (bol) {
      this.addDetailsModal = bol
      if (!bol) {
        this.initDetailsPostData()
      }
    },
    addDetailsListEvent: function () {
      // 檢查
      let isError = false
      if (!this.detailsPostData.owner_id || this.detailsPostData.owner_id === '') {
        isError = true
        this.detailsError.owner_id = true
      }
      if (!this.detailsPostData.product_id || this.detailsPostData.product_id === '') {
        isError = true
        this.detailsError.product_id = true
      }
      if ((!this.detailsPostData.actual_stocktake_num || this.detailsPostData.actual_stocktake_num === '')) {
        isError = true
        this.detailsError.actual_stocktake_num = true
      }
      if (this.detailsPostData.actual_stocktake_num && (!this.detailsPostData.storage_loc || this.detailsPostData.storage_loc === '')) {
        isError = true
        this.detailsError.storage_loc = true
      }
      if (isError) {
        return
      }
      console.log(isError)
      let postData = {
        stocktake_id: this.postData.stocktake_id,
        stocktake_detail_status: this.postData.stocktake_status,
        assigned_user_id: this.postData.assigned_user_id,
        inventory_id: null,
        product_id: this.detailsPostData.product_id,
        owner_id: this.detailsPostData.owner_id,
        stock_num: 0
      }
      if (this.detailsPostData.actual_stocktake_num) {
        postData.actual_stocktake_num = this.detailsPostData.actual_stocktake_num
      }
      if (this.detailsPostData.storage_loc && this.detailsPostData.actual_stocktake_num) {
        postData.storage_loc = this.detailsPostData.storage_loc
      }
      if (this.detailsPostData.vendor_id) {
        postData.vendor_id = this.detailsPostData.vendor_id
      }
      if (this.detailsPostData.product_batch_no) {
        postData.product_batch_no = this.detailsPostData.product_batch_no
      }
      if (this.detailsPostData.product_expired_date) {
        postData.product_expired_date = this.detailsPostData.product_expired_date
      }
      if (this.detailsPostData.stock_unit) {
        postData.stock_unit = this.detailsPostData.stock_unit
      }
      if (this.detailsPostData.stock_unit_min) {
        postData.stock_unit_min = this.detailsPostData.stock_unit_min
      }
      if (this.detailsPostData.stocktake_lottable1) {
        postData.stocktake_lottable1 = this.detailsPostData.stocktake_lottable1
      }
      if (this.detailsPostData.stocktake_lottable2) {
        postData.stocktake_lottable2 = this.detailsPostData.stocktake_lottable2
      }
      if (this.detailsPostData.stocktake_lottable3) {
        postData.stocktake_lottable3 = this.detailsPostData.stocktake_lottable3
      }
      if (this.detailsPostData.stocktake_lottable4) {
        postData.stocktake_lottable4 = this.detailsPostData.stocktake_lottable4
      }
      if (this.detailsPostData.stocktake_lottable5) {
        postData.stocktake_lottable5 = this.detailsPostData.stocktake_lottable5
      }
      //
      this.$emit('changeLoadingViewIsShowEvent', true)
      this.$store.dispatch(`stocktakeDetail/create`, postData).then((r) => {
        console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.detailsPostData.std_id = r.respondCode.additionals.stocktakeDetail.std_id
          this.$refs.setDetailsList.setDetailsList('add', this.detailsPostData)
          this.setAddModalEvent(false)
          this.$emit('changeLoadingViewIsShowEvent', false)
        } else {
          this.$Notice.error({
            title: '新增失敗',
            duration: 30
          })
          this.$emit('changeLoadingViewIsShowEvent', false)
        }
      })
    },
    /* 貨主 : owner_id */
    autocompleteHandleOwnerIdEnterSubmitEvent: function (data) {
      // console.log(data)
      this.detailsPostData[data.code] = ''
      // 設定其他資料處
      this.detailsPostData.owner_id = null
      this.detailsPostData.owner_no = ''
      // 設定其他資料處 end
      this.ownerIdList = []
    },
    ownerIdAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.detailsPostData[data.code])
      if (this.detailsPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.detailsPostData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.detailsPostData.owner_id = data.val ? data.val.customer_id : ''
        this.detailsPostData.owner_no = data.val ? data.val.customer_no : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerIdList = [data.val]
      } else {
        this.ownerIdList = []
      }
    },
    ownerIdAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.ownerBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.ownerIdList = list
        }
      })
    },
    setAutocompleteOwnerIdValue: function (data) {
      // console.log(data)
      //
      this.detailsPostData.owner_name = data.data[data.returnCode]
      this.detailsPostData.owner_id = data.data.customer_id
      this.detailsPostData.owner_no = data.data.customer_no
      //
      this.toCloseOwnerIdAutocompleteModal = true
    },
    setToCloseOwnerIdAutocompleteModal: function (bol) {
      this.toCloseOwnerIdAutocompleteModal = bol
    },
    /* 商品料號  product_code */
    autocompleteHandleProductEnterSubmitEvent: function (data) {
      // console.log(data)
      this.detailsPostData[data.code] = ''
      // 設定其他資料處
      this.detailsPostData.product_id = null
      this.detailsPostData.product_name = ''
      // 設定其他資料處 end
      this.productList = []
    },
    productAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.detailsPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.detailsPostData[data.code] = data.val ? data.val[data.code] : null
        this.detailsPostData.product_code = data.val ? data.val.product_code : null
        this.detailsPostData.product_name = data.val ? data.val.product_name : null
        this.detailsPostData.owner_id = data.val.owner_id // 貨主ID
        this.detailsPostData.owner_name = data.val.owner_name // 貨主
        this.detailsPostData.owner_no = data.val.owner_no // 貨主代碼
      }
      // console.log([data.val])
      if (data.val) {
        this.productList = [data.val]
      } else {
        this.productList = []
      }
    },
    productAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.productBaseCondition,
        orCondition: [
          ...query
        ]
      }
      //
      if (!this.detailsPostData.owner_id) {
        return
      }
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.productList = list
        }
      })
    },
    setAutocompleteProductValue: function (data) {
      // console.log(data)
      this.detailsPostData.product_code = data.data[data.returnCode]
      this.detailsPostData.product_name = data.data.product_name
      this.detailsPostData.product_id = data.data.product_id
      //
      this.toCloseProductAutocompleteModal = true
    },
    setToCloseProductAutocompleteModal: function (bol) {
      this.toCloseProductAutocompleteModal = bol
    },
    /* 儲位 storage_loc */
    autocompleteHandleStorageCodeEnterSubmitEvent: function (data) {
      // console.log(data)
      this.detailsPostData[data.code] = ''
      // 設定其他資料處
      this.detailsPostData.storage_loc = null
      // 設定其他資料處 end
      this.storageCodeList = []
    },
    storageCodeAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.detailsPostData[data.code])
      if (this.detailsPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.detailsPostData.storage_loc_code = data.val ? data.val[data.returnCode] : ''
        this.detailsPostData.storage_loc = data.val ? data.val.storage_id : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.storageCodeList = [data.val]
      } else {
        this.storageCodeList = []
      }
    },
    storageCodeAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        baseCondition: this.storageCodeBaseCondition,
        orCondition: [
          ...query
        ],
        sort: [{ sortField: 'storage_code', sortValue: 'asc' }]
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.storageCodeList = list
        }
      })
    },
    setAutocompleteStorageCodeValue: function (data) {
      // console.log(data)
      //
      this.detailsPostData.storage_loc_code = data.data[data.returnCode]
      this.detailsPostData.storage_loc = data.data.storage_id
      //
      this.toCloseStorageCodeAutocompleteModal = true
    },
    setToCloseStorageCodeAutocompleteModal: function (bol) {
      this.toCloseStorageCodeAutocompleteModal = bol
    },
    /* 日期 */
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this.detailsPostData[`${data.code}`] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`stocktake/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    margin-top: 8px;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 8px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .dataexportBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #515a6e;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
}
.addModal {
  .row {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    .col {
      flex: 0 0 33%;
      height: auto;
      margin-bottom: 34px;
      padding-right: 16px;
      display: flex;
      align-items: center;
      &.colx2 {
        flex: 0 0 50%;
      }
      &.iswitch {
        display: block;
        .label-box {
          font-size: 12px;
          color: #333333;
          padding-bottom: 10px;
        }
        .body-box {
          display: block;
        }
      }
    }
  }
  .modal-body {
    padding: 0 48px;
    overflow-y: scroll;
  }
  .button-box {
    padding: 0 48px 32px;
    display: flex;
    text-align: center;
  }
}
</style>
