<template>
  <div class="content-box">
    <div class="d-flex h-100">
      <div class="left-box" v-show="step === 1 || step === 2">
        <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">產生盤點單</div>
        <div class="pt-2 search-box">
          <div class="item">
            <!-- 異動起日 change_start_date -->
            <FloatLabelBox
              :config="{
                hasContent: (postData.change_start_date && postData.change_start_date!==''),
                label: `異動起日`,
                hasClearButton: true,
                background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                type: `DatePicker`,
                settings: {height: 41}}"
              :code="`change_start_date`"
              :defaultValue="postData.change_start_date"
              @changeModelEvent="changeStartDateDatePickerChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="item">
            <!-- 異動迄日 change_end_date -->
            <FloatLabelBox
              :config="{
                hasContent: (postData.change_end_date && postData.change_end_date!==''),
                label: `異動迄日`,
                hasClearButton: true,
                background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                type: `DatePicker`,
                settings: {height: 41}}"
              :code="`change_end_date`"
              :defaultValue="postData.change_end_date"
              @changeModelEvent="changeEndDateDatePickerChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="item">
            <!-- 貨主代碼 owner_id -->
            <FloatLabelBox
            :config="{
              hasContent: (postData.owner_name && postData.owner_name!==''),
              label: `貨主代碼`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41}, hiddenSearchBtn: true}"
            :code="`owner_name`"
            :autoCompleteData="ownerList"
            :defaultValue="postData.owner_name"
            :modalTitle="`貨主代碼`"
            :toCloseModal="toCloseOwnerAutocompleteModal"
            keyCode="customerSetup"
            storeKey="customerOwner"
            returnCode="customer_name"
            :showCols="autoCompleteShowOwnerCols"
            @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
            @changeModelEvent="ownerAutocompleteChangeEvent"
            @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
              <div>
                <!-- 貨主代碼-->
                <AutocompleteModal
                keyCode="customerSetup"
                storeKey="customerOwner"
                returnCode="customer_name"
                respondCode= "customer"
                :condition="ownerCondition"
                :baseCondition="ownerBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
          </div>
          <div class="item">
            <!-- 分區編號 storage_loc_code -->
            <FloatLabelBox
              :config="{
                hasContent: (postData.storage_loc_code && postData.storage_loc_code!==''),
                label: `分區編號`,
                hasClearButton: true,
                background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                type: `InputText`,
                settings: {height: 41}}"
              :code="`storage_loc_code`"
              :defaultValue="postData.storage_loc_code"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="item">
            <!-- 商品料號 product_code -->
            <FloatLabelBox
              :config="{
                hasContent: (postData.product_code && postData.product_code!==''),
                label: `商品料號`,
                hasClearButton: true,
                background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                type: `NewAutoComplete`,
                settings: {height: 41},
                hiddenSearchBtn: true}"
              :code="`product_code`"
              :autoCompleteData="productList"
              :defaultValue="postData.product_code"
              :modalTitle="`商品料號`"
              :toCloseModal="toCloseProductAutocompleteModal"
              keyCode="goodsSetup"
              storeKey="product"
              returnCode="product_code"
              :showCols="autoCompleteShowProductCols"
              @handleEnterSubmit="autocompleteHandleProductEnterSubmitEvent"
              @changeModelEvent="productAutocompleteChangeEvent"
              @autoCompleteSearchEvent="productAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseProductAutocompleteModal">
                <div>
                  <!-- 商品料號-->
                  <AutocompleteModal
                  keyCode="goodsSetup"
                  storeKey="product"
                  returnCode="product"
                  :condition="productCondition"
                  :baseCondition="productBaseCondition"
                  @setAutocompleteValueEvent="setAutocompleteProductValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
          </div>
          <Button class="best-v1 lg-btn w-100" :class="[userInfo.themeColor]" shape="circle" size="large" @click="search">
            搜尋
          </Button>
        </div>
      </div>
      <div class="right-box">
        <div class="top-box">
          <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">盤點單</div>
          <div class="row pt-2">
            <div class="col">
              <!-- 單據編號/單號 stocktake_no -->
              <FloatLabelBox
                :config="{
                  hasContent: (postData.stocktake_no && postData.stocktake_no!==''),
                  label: `盤點單號`,
                  hasClearButton: true,
                  background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                  type: `InputText`,
                  settings: {height: 41}}"
                :code="`stocktake_no`"
                :defaultValue="postData.stocktake_no"
                :disabled="true"
                @changeModelEvent="inputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="col">
              <!-- 盤點單狀態 stocktake_status -->
              <FloatLabelBox
                :config="{
                  hasContent: (postData.stocktake_status && postData.stocktake_status!==''),
                  label: `盤點單狀態`,
                  hasClearButton: true,
                  background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                  type: `Select`,
                  settings: {height: 41}}"
                :selectList="stocktakeStatusList"
                :code="`stocktake_status`"
                :defaultValue="postData.stocktake_status"
                :disabled="true"
                @changeModelEvent="stocktakeStatusListChangeEvent"
              ></FloatLabelBox>
            </div>
          </div>
        </div>
        <div>
          <!-- 盤點單明細 -->
          <StocktakeSetupDetails
            ref="setDetailsList"
            :detailId="detailId"
            :stocktakeConditionList="stocktakeConditionList"
            @gridDataChangeEvent="detailsListChangeEvent"
          ></StocktakeSetupDetails>
        </div>
      </div>
    </div>
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div> -->
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :canNotClone="true"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- check modal -->
    <Modal v-model="checkModal" width="604" :footer-hide="true" :closable="false" class="checkModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="icon-box"><img src="@/assets/images/icon/warning.png" class="img-fluid"></div>
        <div class="container-box">
          <div class="desc-box">
          <ul>
            <li v-for="(item, index) in checkResultList" :key="index">
              {{item}}
            </li>
          </ul>
          <br/>
          <span>是否還是要新增盤點單?</span>
          </div>
          <div class="btn-box">
            <Button class="best-outlined-gray w-100 mb-3 mr-3" shape="circle" size="large" @click="setCheckEvent(true)">取消 </Button>
            <Button class="best-blue w-100" shape="circle" size="large" @click="setCheckEvent(false)">建立盤點單</Button>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
/**
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import StocktakeSetupDetails from './StocktakeSetupDetails'
//
export default {
  name: 'StocktakeSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'companyId', 'whId', 'uiId', 'timeZoneTimestamp', 'showInpageTab'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    AutocompleteModal,
    StocktakeSetupDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      // modalType = 'clone'
    }
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    var ownerNo = this.$store.state.auth.userInfo.ownerNo
    //
    let postData = {
      stocktake_id: this.cloneData ? this.cloneData.stocktake_id : '', // 盤點單ID
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      company_name: this.cloneData ? this.cloneData.company_name : '', // 公司
      wh_id: this.cloneData ? this.cloneData.wh_id : this.whId, // 倉庫ID
      wh_name: this.cloneData ? this.cloneData.wh_name : '', // 倉庫
      stocktake_no: '', // 盤點單號
      stocktake_status: '', // 盤點單狀態
      change_start_date: '', // 異動起日
      change_end_date: '', // 異動迄日
      owner_name: this.cloneData ? this.cloneData.owner_name : ownerName, // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : ownerId, // 貨主ID
      owner_no: this.cloneData ? this.cloneData.owner_no : ownerNo, // 貨主代碼
      storage_loc_code: this.cloneData ? this.cloneData.storage_loc_code : '', // 分區編號
      product_id: this.cloneData ? this.cloneData.product_id : '', // 商品ID
      product_code: this.cloneData ? this.cloneData.product_code : '', // 商品代碼
      product_name: this.cloneData ? this.cloneData.product_name : '', // 商品
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      Config: Config,
      modalType: modalType,
      //
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      /* 貨主代碼 : owner_id */
      ownerId: ownerId,
      ownerName: ownerName,
      ownerNo: ownerNo,
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      ownerBaseCondition: [],
      /* 商品編號 : product_code */
      productList: [],
      autoCompleteShowProductCols: [
        'product_name'
      ],
      toCloseProductAutocompleteModal: false,
      productCondition: [],
      productBaseCondition: [],
      //
      /* tab */
      // changeContent: this.showInpageTab,
      /* 盤點單狀態 */
      stocktakeStatusList: [
        {
          label: '待啟動',
          value: 10
        },
        {
          label: '盤點取消',
          value: 15
        },
        {
          label: '待指派',
          value: 20
        },
        {
          label: '待盤點',
          value: 30
        },
        {
          label: '盤點完成',
          value: 50
        },
        {
          label: '已結束',
          value: 80
        },
        {
          value: 90,
          label: '庫存已調整'
        }
      ],
      // 盤點單明細
      detailsList: [],
      // 搜尋條件產生的明細
      stocktakeConditionList: [],
      //
      postData: postData,
      error: {
        stocktake_id: false, // 盤點單ID
        company_id: false, // 公司ID
        company_name: false, // 公司
        wh_id: false, // 倉庫ID
        wh_name: false, // 倉庫
        stocktake_no: false, // 盤點單號
        stocktake_status: false, // 盤點單狀態
        change_start_date: false, // 異動起日
        change_end_date: false, // 異動迄日
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        storage_loc_code: false, // 分區編號
        product_id: false, // 商品ID
        product_code: false, // 商品代碼
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false,
      // 檢查 Modal
      checkModal: false,
      checkResultList: [],
      isCheck: true, // 是否檢查
      isChangeStocktakeStatus: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    stocktake: function () {
      return this.$store.state[`stocktake`][`stocktake`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    detailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    stocktake: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          stocktake_id: val.stocktake_id || null, // 盤點單ID
          company_id: val.company_id || this.companyId, // 公司ID
          wh_id: val.wh_id || this.whId, // 倉庫ID
          stocktake_no: val.stocktake_no || null, // 盤點單號
          stocktake_status: val.stocktake_status || null, // 盤點單狀態
          change_start_date: val.change_start_date || null, // 異動起日
          change_end_date: val.change_end_date || null, // 異動迄日
          owner_name: val.owner_name || this.ownerName, // 貨主
          owner_id: val.owner_id || this.ownerId, // 貨主ID
          owner_no: val.owner_no || this.ownerNo, // 貨主代碼
          storage_loc_code: val.storage_loc_code || null, // 分區編號
          product_id: val.product_id || null, // 商品ID
          product_code: val.product_code || null, // 商品代碼
          product_name: val.product_name || null, // 商品
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        this.$emit('stocktakeDetailChangeEvent', val)
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      // console.log(data)
      this.detailsList = data
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.inbound_id = null
      this.postData.inbound_no = null // 單據編號/單號
      this.postData.stocktake_status = null // 入庫單狀態
      this.initStocktakeSetupDetailsList()
      this.save('clone')
    },
    changeStocktakeStatus: function (newStocktakeStatus) {
      this.postData.stocktake_status = newStocktakeStatus
      this.save()
    },
    setCheckEvent: function (bol) {
      this.isCheck = bol
      // 不檢查直接儲存 bol = false
      if (!bol) {
        this.save()
      }
      this.checkModal = false
    },
    setStocktakeEvent: function (data) {
      if (data === 'setStocktakeStasus') {
        this.isChangeStocktakeStatus = true
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    save: async function (action = null) {
      //
      this.$emit('changeLoadingViewIsShowEvent', true)
      // 檢查
      let isError = false
      let detailsListLength = this.detailsList.length
      if (detailsListLength === 0) {
        this.$Notice.warning({
          title: '沒有可儲存的項目'
        })
        isError = true
      }
      if (isError) {
        this.$emit('changeLoadingViewIsShowEvent', false)
        return
      }
      //
      let postData = {
        recStocktake: {
          change_start_date: this.postData.change_start_date ? `${this.postData.change_start_date} 00:00:00` : null,
          change_end_date: this.postData.change_end_date ? `${this.postData.change_end_date} 23:59:59` : null
        },
        stocktakeDetails: []
      }
      for (let i = 0; i < detailsListLength; i++) {
        let data = {
          owner_id: this.detailsList[i].owner_id,
          owner_name: this.detailsList[i].owner_name,
          owner_no: this.detailsList[i].owner_no,
          product_id: this.detailsList[i].product_id,
          product_name: this.detailsList[i].product_name,
          product_code: this.detailsList[i].product_code,
          product_quality: this.detailsList[i].product_quality,
          stock_num: this.detailsList[i].stock_num,
          storage_loc: this.detailsList[i].storage_loc,
          storage_loc_code: this.detailsList[i].storage_loc_code,
          product_batch_no: this.detailsList[i].product_batch_no || null,
          product_expired_date: this.detailsList[i].product_expired_date || null
        }
        postData.stocktakeDetails.push(data)
      }
      // console.log(postData)
      //
      try {
        switch (this.step) {
          case 1:
            // create
            // console.log('create')
            this.$store.dispatch('stocktake/create', postData).then((r) => {
              console.log(r)
              if (r.success) {
                this.postData.stocktake_id = r.recStocktake.stocktake_id
                this.postData.stocktake_no = r.recStocktake.stocktake_no
                this.postData.stocktake_status = r.recStocktake.stocktake_status
                if (r.stocktakeDetails.length > 0) {
                  let detailsListLength = r.stocktakeDetails.length
                  for (let i = 0; i < detailsListLength; i++) {
                    this.detailsList[i].std_id = r.stocktakeDetails[i].std_id
                  }
                }
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
                //
                this.$emit('toStepEvent', this.postData, 2)
                this.$emit('changeLoadingViewIsShowEvent', false)
                //
              } else {
                this.$Notice.error({
                  title: '儲存失敗',
                  desc: r.message,
                  duration: 30
                })
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            })
            break
          case 2:
            // update
            // console.log(postData)
            this.$emit('changeLoadingViewIsShowEvent', true)
            if (action === 'clone') {
              // update : clone
              // console.log('update : clone')
              delete postData.recStocktake['stocktake_id']
              this.$store.dispatch('stocktake/create', postData).then((r) => {
                console.log(r)
                if (r.success) {
                  this.postData.stocktake_id = r.recStocktake.stocktake_id
                  this.postData.stocktake_no = r.recStocktake.stocktake_no
                  this.postData.stocktake_status = r.recStocktake.stocktake_status
                  if (r.stocktakeDetails.length > 0) {
                    let detailsListLength = r.stocktakeDetails.length
                    for (let i = 0; i < detailsListLength; i++) {
                      this.detailsList[i].std_id = r.stocktakeDetails[i].std_id
                    }
                  }
                  this.$Notice.success({
                    title: '新增成功'
                  })
                  this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
                  this.$emit('toStepEvent', this.postData, 2)
                  this.$emit('changeLoadingViewIsShowEvent', false)
                }
              })
            } else {
              // update
              // console.log('update')
              for (let i = 0; i < detailsListLength; i++) {
                postData.stocktakeDetails[i].std_id = this.detailsList[i].std_id || null
              }
              this.$store.dispatch('stocktake/update', { postData: postData, detailId: this.postData.stocktake_id }).then((r) => {
                console.log(r)
                if (r.success) {
                  this.$Notice.success({
                    title: '成功修改'
                  })
                  this.$emit('toStepEvent', this.postData)
                  this.$emit('changeLoadingViewIsShowEvent', false)
                } else {
                  this.$Notice.error({
                    title: '更新失敗',
                    desc: r.message,
                    duration: 30
                  })
                  this.$emit('changeLoadingViewIsShowEvent', false)
                }
              })
            }
            break
          case 3:
            // create : clone
            // console.log('create : clone')
            delete postData.recStocktake['stocktake_id']
            this.$store.dispatch('stocktake/create', postData).then((r) => {
              console.log(r)
              if (r.success) {
                this.postData.stocktake_id = r.recStocktake.stocktake_id
                this.postData.stocktake_no = r.recStocktake.stocktake_no
                this.postData.stocktake_status = r.recStocktake.stocktake_status
                if (r.stocktakeDetails.length > 0) {
                  let detailsListLength = r.stocktakeDetails.length
                  for (let i = 0; i < detailsListLength; i++) {
                    this.detailsList[i].std_id = r.stocktakeDetails[i].std_id
                  }
                }
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$refs.setDetailsList.setDetailsList('set', this.detailsList)
                this.$emit('toStepEvent', this.postData, 2)
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            })
            break
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: '儲存失敗',
          duration: 30
        })
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    // 新增明細
    saveStocktakeSetupDetailsList: async function (data, index) {
      // console.log('新增明細')
      // console.log(data)
      // console.log(index)
      var detailsList = {
        stocktake_id: this.postData.stocktake_id,
        inventory_id: data.inventory_id,
        company_id: this.companyId,
        wh_id: this.whId,
        product_id: data.product_id,
        owner_id: data.owner_id
      }
      // console.log(detailsList)
      try {
        var detailCreateRes = await this.$store.dispatch(`stocktakeDetail/create`, detailsList)
        // console.log(detailCreateRes)
        if (detailCreateRes.httpStatus === 200 || detailCreateRes.httpStatus === 201) {
          data.std_id = detailCreateRes.respondCode.additionals.stocktakeDetail.std_id
        } else {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${index + 1}筆明細新增失敗，${detailCreateRes.data.respondCode.debugInfo}`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${index + 1}筆明細新增失敗`,
          duration: 30
        })
      }
    },
    // 修改明細
    updateStocktakeSetupDetailsList: async function (data, index) {
      // console.log(index)
      // console.log(data)
      let detailsList = {
        stocktake_id: this.postData.stocktake_id,
        inventory_id: data.inventory_id,
        company_id: this.companyId,
        wh_id: this.whId,
        product_id: data.product_id,
        owner_id: data.owner_id
      }
      //
      try {
        // console.log(detailsList)
        let detailUpdateRes = await this.$store.dispatch(`stocktakeDetail/update`, { postData: detailsList, detailId: data.std_id })
        // console.log(detailUpdateRes)
        if (detailUpdateRes.httpStatus !== 200 && detailUpdateRes.httpStatus !== 201) {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${index + 1}筆明細更新失敗`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.$Notice.error({
          title: `第${index + 1}筆明細更新失敗`,
          duration: 30
        })
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        stocktake_id: null, // 盤點單ID
        company_id: this.companyId, // 公司ID
        company_name: null, // 公司
        wh_id: this.whId, // 倉庫ID
        wh_name: null, // 倉庫
        stocktake_no: null, // 盤點單號
        stocktake_status: null, // 盤點單狀態
        change_start_date: null, // 異動起日
        change_end_date: null, // 異動迄日
        owner_name: this.ownerName, // 貨主
        owner_id: this.ownerId, // 貨主ID
        owner_no: this.ownerNo, // 貨主代碼
        storage_loc_code: null, // 分區編號
        product_id: null, // 商品ID
        product_code: null, // 商品代碼
        product_name: null, // 商品
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        stocktake_id: false, // 盤點單ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        stocktake_no: false, // 盤點單號
        stocktake_status: false, // 盤點單狀態
        change_start_date: false, // 異動起日
        change_end_date: false, // 異動迄日
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        storage_loc_code: false, // 分區編號
        product_id: false, // 商品ID
        product_code: false, // 商品代碼
        product_name: false, // 商品
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initStocktakeSetupDetailsList: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initStocktakeSetupDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        stocktakeId: detailId
      }
      //
      this.$store.dispatch(`stocktake/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    search: function () {
      this.$emit('changeLoadingViewIsShowEvent', true)
      let postData = {
        changeStartDate: this.postData.change_start_date ? `${this.postData.change_start_date} 00:00:00` : null,
        changeEndDate: this.postData.change_end_date ? `${this.postData.change_end_date} 23:59:59` : null,
        ownerNo: this.postData.owner_no || null,
        storageLocCode: this.postData.storage_loc_code || null,
        productId: this.postData.product_id || null
      }
      // console.log(postData)
      this.$store.dispatch(`stocktake/getStocktakeInventory`, postData).then((r) => {
        console.log(r)
        if (r.success) {
          this.stocktakeConditionList = r.data
          if (this.stocktakeConditionList.length === 0) {
            this.$Notice.warning({
              title: '查無符合資料',
              duration: 30
            })
          }
        }
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.owner_id = null
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        this.postData.owner_no = data.val ? data.val.customer_no : ''
        // console.log(this.postData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.ownerBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_id = data.data.customer_id
      this.postData.owner_no = data.data.customer_no
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 商品編號  product_code */
    autocompleteHandleProductEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      this.postData.product_id = null
      this.postData.product_name = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.productList = []
    },
    productAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : null
        this.postData.product_name = data.val ? data.val.product_name : null
        this.postData.product_id = data.val ? data.val.product_id : null
      }
      // console.log([data.val])
      if (data.val) {
        this.productList = [data.val]
      } else {
        this.productList = []
      }
    },
    productAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.productBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      if (this.postData.owner_id) {
        postData.baseCondition.push(
          ['owner_id', '=', this.postData.owner_id]
        )
      }
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.productList = list
        }
      })
    },
    setAutocompleteProductValue: function (data) {
      // console.log(data)
      this.postData.product_code = data.data[data.returnCode]
      this.postData.product_name = data.data.product_name
      this.postData.product_id = data.data.product_id
      //
      this.toCloseProductAutocompleteModal = true
    },
    setToCloseProductAutocompleteModal: function (bol) {
      this.toCloseProductAutocompleteModal = bol
    },
    /* 異動起日 : change_start_date */
    changeStartDateDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.change_start_date = data.val
    },
    /* 異動迄日 : change_end_date */
    changeEndDateDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.change_end_date = data.val
    },
    /* 盤點單狀態 */
    stocktakeStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.stocktake_status = data.val
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`stocktake/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  width: 100%;
  height: 100%;
  overflow: hidden;
  .left-box {
    flex: 0 0 25%;
    width: 25%;
    height: 100%;
    margin-right: 8px;
    position: relative;
    .search-box {
      overflow-y: auto;
      height: calc(100% - 34px);
    }
    .item {
      margin-bottom: 24px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      background: #D8D8D8;
      right: -8px;
      top: 0;
    }
  }
  .right-box {
    flex: 1;
    width: 100%;
    height: 100%;
    margin-left: 8px;
    overflow-x: auto;
  }
  .top-box {
    width: 100%;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 24px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
  .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
}
.checkModal{
  .modal-body {
    // display: flex;
    width: 100%;
    padding: 0 48px 24px;
    .icon-box {
      width: 100px;
      margin: 0 auto 24px;
      img {
        object-fit: cover
      }
    }
    .container-box {
      height: 100%;
      .desc-box {
        color: #3c3c3c;
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 16px;
      }
      .btn-box {
        display: flex;
      }
    }
  }
}
</style>
