<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 單據編號/單號 stocktake_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.stocktake_no && postData.stocktake_no!==''),
              label: `盤點單號`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`stocktake_no`"
            :defaultValue="postData.stocktake_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 盤點單狀態 stocktake_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.stocktake_status && postData.stocktake_status!==''),
              label: `盤點單狀態`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="stocktakeStatusList"
            :code="`stocktake_status`"
            :defaultValue="postData.stocktake_status"
            :disabled="true"
            @changeModelEvent="stocktakeStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
        <!-- <div class="col">
          指派盤點員 assigned_user_id
          <FloatLabelBox
            :config="{
              hasContent: (postData.assigned_user_name && postData.assigned_user_name!==''),
              label: `指派盤點員`,
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `NewAutoComplete`,
              settings: {height: 41},
              hiddenSearchBtn: true }"
            :code="`assigned_user_name`"
            :autoCompleteData="userList"
            :defaultValue="postData.assigned_user_name"
            :modalTitle="`指派盤點員`"
            :toCloseModal="toCloseUserAutocompleteModal"
            keyCode="userSetup"
            storeKey="user"
            returnCode="name"
            :showCols="autoCompleteShowUserCols"
            :isError="error.assigned_user_id"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleUserEnterSubmitEvent"
            @changeModelEvent="userAutocompleteChangeEvent"
            @autoCompleteSearchEvent="userAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseUserAutocompleteModal">
              <div>
                指派盤點員
                <AutocompleteModal
                keyCode="userSetup"
                storeKey="user"
                returnCode="name"
                :condition="userCondition"
                :baseCondition="userBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteUserValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div> -->
      </div>
    </div>
    <div>
      <!-- 盤點單明細 -->
      <StocktakeStartedSetupDetails
        ref="setDetailsList"
        :detailId="detailId"
        @gridDataChangeEvent="detailsListChangeEvent"
        @changeAssignedUserEvent="changeAssignedUserEvent"
        @getSettingDataEvent="getDetailsSettingDataEvent"
      ></StocktakeStartedSetupDetails>
    </div>
    <!-- dataexport btn -->
    <!-- <div class="dataexportBtn" @click="dataexport">
      <font-awesome-icon icon="file-download" size="2x" />
    </div> -->
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div> -->
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :canNotClone="true"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
/**
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
import Config from '@/Config'
// import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import StocktakeStartedSetupDetails from './StocktakeStartedSetupDetails'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
//
export default {
  name: 'StocktakeStartedSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'timeZoneTimestamp', 'timeZone', 'showInpageTab'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    // AutocompleteModal,
    StocktakeStartedSetupDetails,
    DataexportModal
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      // modalType = 'clone'
    }
    //
    let postData = {
      stocktake_id: this.cloneData ? this.cloneData.stocktake_id : '', // 盤點單ID
      stocktake_no: '', // 盤點單號
      stocktake_status: '', // 盤點單狀態
      change_start_date: '', // 異動起日
      change_end_date: '', // 異動迄日
      owner_name: this.cloneData ? this.cloneData.owner_name : '', // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : '', // 貨主ID
      owner_no: this.cloneData ? this.cloneData.owner_no : '', // 貨主代碼
      storage_loc_code: this.cloneData ? this.cloneData.storage_loc_code : '', // 分區編號
      product_code: this.cloneData ? this.cloneData.product_code : '', // 商品代碼
      assigned_user_id: this.cloneData ? this.cloneData.assigned_user_id : '', // 指派盤點員ID
      assigned_user_name: this.cloneData ? this.cloneData.assigned_user_name : '', // 指派盤點員名稱
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      Config: Config,
      //
      modalType: modalType,
      //
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      // 盤點匯出
      dataexportModal: false,
      dataexportTitle: '盤點單匯出',
      /* 指派盤點員 : assigned_user_id */
      userList: [],
      autoCompleteShowUserCols: [
        'user_no'
      ],
      toCloseUserAutocompleteModal: false,
      userCondition: [],
      userBaseCondition: [],
      /* 盤點單狀態 */
      stocktakeStatusList: [
        {
          label: '待啟動',
          value: 10
        },
        {
          label: '盤點取消',
          value: 15
        },
        {
          label: '待指派',
          value: 20
        },
        {
          label: '待盤點',
          value: 30
        },
        {
          label: '盤點完成',
          value: 50
        },
        {
          label: '已結束',
          value: 80
        },
        {
          value: 90,
          label: '庫存已調整'
        }
      ],
      // 盤點單明細
      detailsList: [],
      detailsSettingData: [], // 明細latout
      //
      postData: postData,
      error: {
        stocktake_id: false, // 盤點單ID
        stocktake_no: false, // 盤點單號
        stocktake_status: false, // 盤點單狀態
        change_start_date: false, // 異動起日
        change_end_date: false, // 異動迄日
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        storage_loc_code: false, // 分區編號
        product_code: false, // 商品代碼
        assigned_user_id: false, // 指派盤點員ID
        assigned_user_name: false, // 指派盤點員名稱
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    stocktake: function () {
      return this.$store.state[`stocktake`][`stocktake`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    detailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    stocktake: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          stocktake_id: val.stocktake_id || null, // 盤點單ID
          stocktake_no: val.stocktake_no || null, // 盤點單號
          stocktake_status: val.stocktake_status || null, // 盤點單狀態
          change_start_date: val.change_start_date ? this.changeToLocalTime(val.change_start_date) : null, // 異動起日
          change_end_date: val.change_end_date ? this.changeToLocalTime(val.change_end_date) : null, // 異動迄日
          owner_name: val.owner_name || null, // 貨主
          owner_id: val.owner_id || null, // 貨主ID
          owner_no: val.owner_no || null, // 貨主代碼
          storage_loc_code: val.storage_loc_code || null, // 分區編號
          product_code: val.product_code || null, // 商品代碼
          assigned_user_id: val.assigned_user_id || null, // 指派盤點員ID
          assigned_user_name: val.assigned_user_name || null, // 指派盤點員名稱
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        this.$emit('stocktakeDetailChangeEvent', val)
      },
      deep: true
    },
    assigned_user_id: {
      handler: function (val) {
        //
        if (val) {
          this.error.assigned_user_id = false
        }
      },
      deep: true
    }
  },
  methods: {
    detailsListChangeEvent: function (data) {
      // console.log(data)
      this.detailsList = data
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.stocktake_id = null
      this.postData.stocktake_no = null // 單據編號/單號
      this.postData.stocktake_status = null // 狀態
      this.initStocktakeSetupDetailsList()
      this.save('clone')
    },
    setStocktakeEvent: function (data) {
      if (data === 'setStocktakeStasus') {
        this.isChangeStocktakeStatus = true
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    save: function (action = null) {
      //
      this.$emit('changeLoadingViewIsShowEvent', true)
      // 檢查
      let isError = false
      if (!this.assigned_user_id || this.assigned_user_id === '') {
        isError = true
        this.error.assigned_user_id = true
        // 警告提示
        this.$Notice.error({
          title: '指派盤點員未填',
          duration: 30
        })
      }
      if (isError) {
        this.$emit('changeLoadingViewIsShowEvent', false)
        return
      }
      //
      let postData = {
        stocktakeIds: [this.postData.stocktake_id],
        assignUserId: this.assigned_user_id,
        assignUserName: this.assigned_user_name
      }
      let detailsListLength = this.detailsList.length
      for (let i = 0; i < detailsListLength; i++) {
        postData.std_ids.push(this.detailsList[i].std_id)
      }
      this.$store.dispatch(`stocktake/assign`, postData).then((r) => {
        console.log(r)
        if (r.success) {
          // 警告提示
          this.$Notice.success({
            title: '更新成功'
          })
          this.$emit('toStepEvent', this.postData, 5)
        } else {
          this.$Notice.error({
            title: `更新失敗`,
            desc: r.message,
            duration: 30
          })
          this.$emit('changeLoadingViewIsShowEvent', false)
        }
      })
    },
    // 修改明細
    updateStocktakeStartedSetupDetailsList: async function (data, index) {
      // console.log(index)
      // console.log(data)
      let isError = false
      // 檢查
      let detailsList = {}
      if (this.postData.stocktake_status === 30) {
        if (!data.assignedUser.assigned_user_id || data.assignedUser.assigned_user_id === '') {
          isError = true
          this.$Notice.error({
            title: `第${index + 1}筆明細`,
            desc: '未指派盤點員',
            duration: 30
          })
        }
      }
      if (data.assignedUser.assigned_user_id && data.assignedUser.assigned_user_id !== '') {
        detailsList.assigned_assigned_user_id = data.assignedUser.assigned_user_id
      }
      if (isError) {
        this.detailsListIsError = isError
        return
      }
      // console.log(data.assignedUser.assigned_user_id)
      // console.log(detailsList)
      // console.log(detailsList.assigned_assigned_user_id)
      if (detailsList.assigned_assigned_user_id) {
        try {
          let detailUpdateRes = await this.$store.dispatch(`stocktakeDetail/update`, { postData: detailsList, detailId: data.std_id })
          // console.log(detailUpdateRes)
          if (detailUpdateRes.httpStatus !== 200 && detailUpdateRes.httpStatus !== 201) {
            this.detailsListIsError = true
            this.$Notice.error({
              title: `第${data.INDEX}筆明細更新失敗`,
              duration: 30
            })
          }
        } catch (error) {
          // console.log(error)
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細更新失敗`,
            duration: 30
          })
        }
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        stocktake_id: null, // 盤點單ID
        stocktake_no: null, // 盤點單號
        stocktake_status: null, // 盤點單狀態
        change_start_date: null, // 異動起日
        change_end_date: null, // 異動迄日
        owner_name: null, // 貨主
        owner_id: null, // 貨主ID
        owner_no: null, // 貨主代碼
        storage_loc_code: null, // 分區編號
        product_code: null, // 商品代碼
        assigned_user_id: null, // 指派盤點員ID
        assigned_user_name: null, // 指派盤點員名稱
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        stocktake_id: false, // 盤點單ID
        stocktake_no: false, // 盤點單號
        stocktake_status: false, // 盤點單狀態
        change_start_date: false, // 異動起日
        change_end_date: false, // 異動迄日
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        storage_loc_code: false, // 分區編號
        product_code: false, // 商品代碼
        assigned_user_id: false, // 指派盤點員ID
        assigned_user_name: false, // 指派盤點員名稱
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initStocktakeSetupDetailsList: function () {
      this.detailsList = []
      this.$refs.setDetailsList.setDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initStocktakeSetupDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        stocktakeId: detailId
      }
      //
      this.$store.dispatch(`stocktake/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 盤點單狀態 */
    stocktakeStatusListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 指派盤點員 : assigned_user_id */
    autocompleteHandleUserEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.assigned_user_id = null
      // 設定其他資料處 end
      this.userList = []
    },
    userAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.assigned_user_id = data.val ? data.val.id : ''
        // console.log(this.postData.assigned_user_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.userList = [data.val]
      } else {
        this.userList = []
      }
    },
    userAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        if (data.val) {
          query.push([field, 'like', `%${data.val}%`])
        }
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: [
          ...this.userBaseCondition
        ],
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.userList = list
        }
      })
    },
    setAutocompleteUserValue: function (data) {
      // console.log(data)
      //
      this.postData.assigned_user_name = data.data[data.returnCode]
      this.postData.assigned_user_id = data.data.id
      // console.log(this.assigned_user_id)
      //
      this.toCloseUserAutocompleteModal = true
    },
    setToCloseUserAutocompleteModal: function (bol) {
      this.toCloseUserAutocompleteModal = bol
    },
    changeAssignedUserEvent: function (id, name) {
      // console.log(id)
      this.postData.assigned_user_id = id
      this.postData.assigned_user_name = name
    },
    //
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    getDetailsSettingDataEvent: function (data) {
      // console.log(data)
      this.detailsSettingData = data
    },
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        queryExpression: {},
        exportFields: [],
        exportSettings: {}
        // timezone_offset: null
      }
      let exportFields = [
        {
          fieldName: 'stocktake_no',
          displayName: '盤點單號'
        },
        {
          fieldName: 'assigned_assigned_user_name',
          displayName: '盤點員'
        }
      ]
      this.detailsSettingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          if (element.property === 'created_at') {
            return
          }
          if (element.property === 'update_at') {
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      //
      postData.queryExpression.page = data.postData.page
      postData.queryExpression.pageSize = this.detailsSettingData.page.totalCount
      postData.queryExpression.combinedCondition = 'AND'
      postData.queryExpression.query = [
        {
          queryCondition: '=',
          queryValue: this.postData.stocktake_id,
          queryField: 'stocktake_id'
        }
      ]
      postData.queryExpression.sort = []
      postData.exportFields = exportFields
      postData.exportSettings.exportFileName = data.postData.exportFileName
      postData.exportSettings.exportFormat = data.postData.exportFormat
      //
      let csvSeperator = ''
      switch (data.postData.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      postData.exportSettings.csvSeperator = csvSeperator
      //
      if (this.timeZone < 0) {
        postData.timezone_offset = `${this.timeZone}`
      } else {
        postData.timezone_offset = `+${this.timeZone}`
      }
      // console.log(postData)
      //
      this.$store.dispatch(`stocktake/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // console.log('下載檔案')
          window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.dataExport.download_link}`)
        }
        this.LoadingViewIsShow = false
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`stocktake/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    height: auto;
    padding: 0 27px 25px 0;
    margin-top: 8px;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 8px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .dataexportBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #515a6e;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
</style>
