<template>
  <div class="FooterComponent">
    <Footer class="d-flex position-relative px-3 py-2" v-bind:style="{background: userInfo && Config.themeColor[`${userInfo.themeColor}`].footer}">
      <div class="footer-company pr-3">
        <p>使丹達資訊股份有限公司 | WMS 倉儲管理系統</p>
      </div>
      <div class="footer-content">
        <div class="setting-wh text-center">
          <div class="pb-4">
            <Button type="text" class="px-0 best-flat-white" ghost>Hello! {{(userInfo && userInfo.userName) ? userInfo.userName : ''}}</Button>
            <span v-show="userInfo && userInfo.companyLocalName">
              &nbsp;|&nbsp;
              {{(userInfo && userInfo.companyLocalName) ? userInfo.companyLocalName : ''}}
            </span>
            &nbsp;|&nbsp;
            <Dropdown placement="top" @on-click="setWarehouseEvent">
                {{(userInfo && userInfo.warehousLocalName) ? userInfo.warehousLocalName : ''}}
                <Icon type="ios-arrow-down"></Icon>
                <DropdownMenu slot="list">
                    <DropdownItem
                    v-for="(item, index) in whList"
                    :key="`${item.wh_id}_${index}`"
                    :name="item.wh_id"
                    >
                      {{item.wh_name}}
                    </DropdownItem>
                </DropdownMenu>
            </Dropdown>
          </div>
          <div class="search-bar">
            <div class="search-input pb-4">
              <input type="text" placeholder="快速查詢單號或作業類別" class="best-input-lg">
              <button type="button" class="search-btn best-blue-gradual">
                <font-awesome-icon icon="search"/>
              </button>
            </div>
            <div class="common-setup">
              <button type="button" class="common-btn">
                截單作業
              </button>
              <button type="button" class="common-btn">
                入庫明細查詢
              </button>
              <button type="button" class="common-btn">
                庫存查詢(儲位+入庫日)
              </button>
              <button type="button" class="common-btn">
                商品庫存查詢
              </button>
              <button type="button" class="common-btn">
                調整入
              </button>
              <button type="button" class="common-btn">
                調撥
              </button>
            </div>
          </div>
        </div>
        <div class="logout">
          <Button type="text" class="best-flat-white" ghost @click="logout">
            登出&nbsp;
            <font-awesome-icon icon="door-open"/>
          </Button>
        </div>
      </div>
    </Footer>
  </div>
</template>

<script>
// import { app } from '../../main'
import Config from '@/Config'
//
export default {
  name: 'FooterComponent',
  props: ['pinToggle'],
  components: {
  },
  data () {
    let routeQuery = this.$route.query
    let menuItems = Object.keys(this.$localStorage.get('permissions') || {})
    menuItems = menuItems.map((ele, idx) => {
      return this.$t(`menu.${ele}`)
    })
    //
    return {
      Config: Config,
      routeQuery: routeQuery,
      searchInputToggle: false,
      menuItems: menuItems,
      search: '',
      drawerIsOpen: false,
      accountId: this.$store.state.auth.userInfo.uid,
      whList: this.$store.state.auth.userInfo.warehouseList
    }
  },
  computed: {
    stageType: function () {
      return this.$store.state.auth.stageType
    },
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    winGridActive: function () {
      return this.$store.state.auth.winGridActive
    }
  },
  watch: {
    userInfo: {
      handler: function (val) {
        this.nickname = this.$store.state.auth.userInfo ? this.$store.state.auth.userInfo.nickname : ''
      },
      deep: true
    },
    winGridActive: function (val) {
      // console.log(val)
    }
  },
  methods: {
    // menu 固定
    setPinToggle: function () {
      //
      this.$emit('pinToggleEvent', !this.pinToggle)
    },
    // 開啟用戶設定
    setting: function () {
      //
      this.drawerIsOpen = true
    },
    logout: function () {
      this.$store.dispatch('auth/logout').then((r) => {
        console.log(r)
        this.$router.replace({ path: '/Login' })
      })
    },
    // 前往 Home
    goHome: function () {
      //
      this.$router.push('/Main/home')
    },
    // 訊息
    toMsg: function () {
      // console.log('訊息')
    },
    // 通知
    toNotice: function () {
      // console.log('通知')
    },
    // AutoComplete
    showSearchInput: function () {
      this.searchInputToggle = true
    },
    closeSearchInput: function () {
      setTimeout(() => {
        this.search = ''
        this.searchInputToggle = false
      }, 100)
    },
    handleSelect: function (value) {
      if (!value || value === '') {
        return
      }
      //
      let idx = this.menuItems.indexOf(value)
      let permissions = this.$localStorage.get('permissions') || {}
      let permissionKeyAry = Object.keys(permissions)
      let w = permissionKeyAry[idx]
      let rf = permissions[w].rootId
      this.$router.push(`/Main/${rf}?w=${w}`)
      this.$store.dispatch('auth/updateMenuState', { rf: 'MainMgmt', w: w, type: 'add' })
    },
    handleClear: function () {
      this.closeSearchInput()
    },
    handleBlur: function () {
      this.closeSearchInput()
    },
    filterMethod: function (value, option) {
      return option.toUpperCase().indexOf(value.toUpperCase()) !== -1
    },
    /* 用戶設置 */
    drawerEvent: function (bol) {
      this.drawerIsOpen = bol
    },
    // v2
    setWarehouseEvent: function (id) {
      console.log(id)
      let data = this.whList.find((item) => {
        return item.wh_id === id
      })
      console.log(data)
      let postData = {
        wh_id: data.wh_id,
        wh_name: data.wh_name,
        wh_name_eng: data.wh_name_eng
      }
      this.$store.dispatch(`auth/updateWarehouse`, postData)
      // 刷新頁面
      window.location.reload()
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
@import "../../assets/scss/common.scss";
.FooterComponent {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  transition: all .3s;
  z-index: 1000;
  &:hover, &:focus, &:active {
    height: 304px;
    transition: all .3s;
    transition-delay: 1.2s;
  }
}

.footer-company {
  font-size: 12px;
  color: #fff;
  padding-bottom: 6px;
  width: 262px;
  >p {
    position: fixed;
    bottom: 20px;
  }
}
.footer-content {
  display: flex;
  flex: 1;
}
.setting-wh {
  flex: 1;
  color: #fff;
  padding: 0 50px;
  position: relative;
  max-width: 1000px;
  a {
    color: #fff;
  }
}
.logout {
  font-size: 16px;
}
.best-input-lg {
  font-size: 24px;
  border-radius: 60px;
  padding: 16px 116px 16px 30px;
  border: 0px solid transparent;
  outline: 0px solid transparent;
  width: 100%;
}
.search-input {
  position: relative;
}
.search-btn {
  font-size: 32px;
  border-radius: 60px;
  position: absolute;
  height: 68px;
  width: 100px;
  right: 0;
}
.common-setup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.common-btn {
  font-size: 20px;
  border: 2px solid #DDDDDD;
  background: #535353;
  outline: 0px solid transparent;
  padding: 10px 28px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  &:hover, &:active, &:focus {
    color: #DDDDDD;
  }
}
</style>
