<template>
  <div class="HeaderComponent" :class="{'showMenu': menuModal}">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <Header class="header d-flex align-items-center position-relative pl-0 pr-3" v-bind:style="{background: userInfo && (menuModal ? Config.themeColor[`${userInfo.themeColor}`].menuSetUser : Config.themeColor[`${userInfo.themeColor}`].header)}">
        <div class="layout-logo ml-3" @click="goHome">
            <img src="@/assets/images/std_logo_dark.png" height="37" v-show="userInfo.themeColor === 'dark'"/>
            <img src="@/assets/images/std_logo_light.png" height="37" v-show="userInfo.themeColor === 'light'"/>
            &nbsp;
            <!-- {{$t('projectName')}} -->
        </div>
        <p>系統公告：今晚11點將進行系統更新，請所有使用者提前儲存資料並登出，避免資料遺失</p>
        <div class="layout-nav">
          <div class="menu-btn" :class="userInfo.themeColor">
            <button type="button" @click="setMenuModalToggle">
              {{menuModal? 'CLOSE' :'MENU'}}
              <span class="bg"></span>
              <span class="line-1"></span>
              <span class="line-2"></span>
              <span class="line-3"></span>
            </button>
          </div>
        </div>
        <div class="open-menu-bg" :style="{background: Config.themeColor[`${userInfo.themeColor}`].menu}"></div>
    </Header>
    <div class="menu" v-bind:style="{background: Config.themeColor[`${userInfo.themeColor}`].menu}">
      <!-- 用戶設置 -->
      <SetUserInfoComponent
        v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
      ></SetUserInfoComponent>
      <MenuComponent :isCollapsed="isCollapsed" />
    </div>
  </div>
</template>

<script>
import { app } from '../../main'
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import SetUserInfoComponent from '@/components/main/SetUserInfoComponent'
import MenuComponent from '@/components/main/MenuComponent'
//
export default {
  name: 'HeaderComponent',
  props: ['pinToggle'],
  components: {
    LoadingView,
    SetUserInfoComponent,
    MenuComponent
  },
  data () {
    let routeQuery = this.$route.query
    let menuItems = Object.keys(this.$localStorage.get('permissions') || {})
    menuItems = menuItems.map((ele, idx) => {
      return this.$t(`menu.${ele}`)
    })
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      routeQuery: routeQuery,
      searchInputToggle: false,
      menuItems: menuItems,
      search: '',
      drawerIsOpen: false,
      accountId: this.$store.state.auth.userInfo.uid,
      menuModal: false,
      //
      isCollapsed: true
    }
  },
  computed: {
    stageType: function () {
      return this.$store.state.auth.stageType
    },
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    winGridActive: function () {
      return this.$store.state.auth.winGridActive
    }
  },
  watch: {
    '$route': {
      handler: function (val) {
        this.menuModal = false
      },
      deep: true
    },
    userInfo: {
      handler: function (val) {
        //
      },
      deep: true
    },
    winGridActive: function (val) {
      // console.log(val)
    },
    postData: {
      handler: function (val) {
        if (val.account_pwd) {
          if (val.account_pwd.length >= 6) {
            this.error.account_pwd = false
          }
          if (val.account_pwd2 && val.account_pwd === val.account_pwd2) {
            this.error.account_pwd2 = false
          }
        }
      },
      deep: true
    }
  },
  methods: {
    // menu 固定
    setPinToggle: function () {
      //
      this.$emit('pinToggleEvent', !this.pinToggle)
    },
    // 開啟用戶設定
    setting: function () {
      //
      this.drawerIsOpen = true
    },
    logout: async function () {
      let accessToken = this.$localStorage.get('accessToken')
      let accessTokenArry = accessToken.split(' ', 2)
      // console.log(accessTokenArry)
      //
      let postData = {
        access_token: accessTokenArry[1],
        client_id: null
      }
      //
      let api = `${Config.API.localAPIURL}${Config.API.localAPIURLPort}${Config.API.localRootPath}${Config.API.Auth.maxLoginUser}`
      let superUserRes = await app.axios.get(api)
      let superUserList = superUserRes.data.super_user
      let userName = this.$store.state.auth.userInfo.nickname
      let superUser = superUserList.find((item) => {
        return item === userName
      })
      if (superUser === userName) {
        postData.client_id = 'test-client'
      } else {
        postData.client_id = 'wms-client'
      }
      //
      this.$store.dispatch('auth/logout', { postData: postData, accountId: this.accountId }).then((r) => {
        console.log(r)
        this.$router.replace({ path: '/Login' })
      })
    },
    // 前往 Home
    goHome: function () {
      //
      this.$router.push(`/Main/home?w=home`)
      // this.$router.push('/Main/home')
    },
    // 訊息
    toMsg: function () {
      // console.log('訊息')
    },
    // 通知
    toNotice: function () {
      // console.log('通知')
    },
    // AutoComplete
    showSearchInput: function () {
      this.searchInputToggle = true
    },
    closeSearchInput: function () {
      setTimeout(() => {
        this.search = ''
        this.searchInputToggle = false
      }, 100)
    },
    handleSelect: function (value) {
      if (!value || value === '') {
        return
      }
      //
      let idx = this.menuItems.indexOf(value)
      let permissions = this.$localStorage.get('permissions') || {}
      let permissionKeyAry = Object.keys(permissions)
      let w = permissionKeyAry[idx]
      let rf = permissions[w].rootId
      this.$router.push(`/Main/${rf}?w=${w}`)
      this.$store.dispatch('auth/updateMenuState', { rf: 'MainMgmt', w: w, type: 'add' })
    },
    handleClear: function () {
      this.closeSearchInput()
    },
    handleBlur: function () {
      this.closeSearchInput()
    },
    filterMethod: function (value, option) {
      return option.toUpperCase().indexOf(value.toUpperCase()) !== -1
    },
    setMenuModalToggle: function () {
      this.menuModal = !this.menuModal
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
@import "../../assets/scss/common.scss";
// .header {
//     display: flex;
//     align-items: center;
//     // padding:0 10px 0 0;
// }
.layout-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 306px;
    height: 64px;
    color: $base-blue;
    position: relative;
    z-index: 1;
}
.layout-pin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 64px;
    color: $base-blue;
    padding: 0 10px;
    left: 230px;
    .pinToggle {
        cursor: pointer;
    }
}
.layout-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 64px;
    color: white;
    padding: 0 10px;
    position: relative;
    z-index: 1000;
}
.layout-nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 0 auto;
    margin-right: 20px;
    color: white;
    position: relative;
    z-index: 1;
}
//
.HeaderComponent {
  position: relative;
  .menu-btn {
    button {
      display: flex;
      align-items: center;
      border: 0px solid transparent;
      outline: 0px solid transparent;
      background: transparent;
      color: #fff;
      font-weight: bold;
      position: relative;
    }
    &.dark {
      button {
        color: #fff;
      }
    }
    &.light {
      button {
        color: #3c3c3c;
      }
    }
    .bg {
      display: inline-block;
      background: #4EEDC5; /* Old browsers */
      background: -moz-linear-gradient(left,  #4EEDC5 0%, #118CF8 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #4EEDC5 0%,#118CF8 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #4EEDC5 0%,#118CF8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4EEDC5', endColorstr='#118CF8',GradientType=1 ); /* IE6-9 */
      width: 55px;
      height: 55px;
      border-radius: 50%;
      margin-left: 16px;
    }
    span[class*="line-"] {
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 1px;
      background: #fff;
      right: calc(55px / 2);
      transition: all .3s;
    }
    .line-1 {
      transform: translate(50%, -5px);
      transition: all .3s;
    }
    .line-2 {
      opacity: 1;
      transform: translate(50%, 0);
      transition: all .3s;
    }
    .line-3 {
      transform: translate(50%, 5px);
        transition: all .3s;
    }
  }
  .open-menu-bg{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 0;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 64px;
    right: 0;
    z-index: 10;
    width: 100%;
    height: calc(100% - 64px);
    transform: translateY(calc(-100% - 1000px));
    opacity: 0;
  }
  &.showMenu {
    .menu-btn {
      button {
        color: #fff!important;
      }
      .bg {
        background: #fff;
      }
      span[class*="line-"] {
        height: 2px;
        transition: all .3s;
        background: #3c3c3c;
      }
      .line-1 {
        transform: translate(50%) skewy(45deg);
        transition: all .3s;
      }
      .line-2 {
        opacity: 0;
        transition: all .3s;
      }
      .line-3 {
        transform: translate(50%) skewy(-45deg);
        transition: all .3s;
      }
    }
    .open-menu-bg{
      width: calc(100% - 306px);
    }
    .menu {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
</style>
