<template>
  <div
  class="HorizontalMenu" >
  <ul class="list-unstyled">
    <li class="menu-item">
      <div class="main-menu">
        <span>
          <span class="num">01</span>
          <span class="name">Dashboard</span>
        </span>
        <font-awesome-icon icon="chevron-right" size="1x"/>
      </div>
    </li>
    <li class="menu-item open">
      <div class="main-menu">
        <span>
          <span class="num">02</span>
          <span class="name">基本建檔</span>
        </span>
        <font-awesome-icon icon="chevron-right" size="1x"/>
      </div>
      <div class="sub-menu">
        <ul class="list-unstyled">
          <li class="sub-menu-item active">
            <div class="active-icon">
              <font-awesome-icon icon="chevron-right" size="1x"/>
            </div>
            <span class="sub-num">2.1</span>
            <span class="sub-name">貨主建檔</span>
          </li>
          <li class="sub-menu-item">
            <div class="active-icon">
              <font-awesome-icon icon="chevron-right" size="1x"/>
            </div>
            <span class="sub-num">2.2</span>
            <span class="sub-name">聯絡人建檔</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
    <div class="rightBtn" @click="HMenuScroll" v-if="showScroll">
      <font-awesome-icon icon="chevron-circle-right" />
    </div>
    <Menu ref="HMenu" mode="horizontal" theme="primary" v-bind:active-name="activeName" v-on:on-select="select"  v-on:on-open-change="submenuOpenChangeEvent" style="z-index:999;">
        <span v-for="(items, index) in menuTree" :key="index">
          <!-- 無子按鈕 -->
          <menu-item class="h-menu" :name="items.id" v-if="items.nodes.length === 0" :style="{color: Config.themeColor[`${userInfo.themeColor}`].menuColor}">
            <font-awesome-icon :icon="items.icon" :class="{active: routeName===items.id}" :style="{color: Config.themeColor[`${userInfo.themeColor}`].menuIconColor}"/>
            {{$t(`menu.${items.id}`)}}
          </menu-item>
          <!-- 有子按鈕 -->
          <Submenu :name="items.id" v-if="items.nodes.length > 0" :style="{color: Config.themeColor[`${userInfo.themeColor}`].menuColor}">
              <template slot="title">
                  <font-awesome-icon :icon="items.icon" :class="{active: routeName===items.id}" :style="{color: Config.themeColor[`${userInfo.themeColor}`].menuIconColor}"/>
                  {{$t(`menu.${items.id}`)}}
              </template>
              <span v-for="(item, idx) in items.nodes" :key="idx">
                <menu-item
                v-if="item.nodes.length === 0"
                class="h-submenu"
                :name="`${items.id}?w=${item.id}`"
                :style="{color: Config.themeColor[`${userInfo.themeColor}`].rowMenuColor}">
                  {{$t(`menu.${item.id}`)}}
                </menu-item>
                <span v-if="item.nodes.length > 0">
                    <MenuGroup :name="item.id" :title="$t(`menu.${item.id}`)" >
                      <span v-for="(itm, ix) in item.nodes" :key="ix">
                        <menu-item
                        class="h-submenu"
                        :name="`${items.id}?w=${itm.id}`"
                        :style="{color: Config.themeColor[`${userInfo.themeColor}`].rowMenuColor}">
                          {{$t(`menu.${itm.id}`)}}
                        </menu-item>
                      </span>
                    </MenuGroup>
                </span>
              </span>
          </Submenu>
        </span>
    </Menu>
  </div>
</template>

<script>
import Config from '@/Config'
//
export default {
  name: 'HorizontalMenu',
  props: ['isCollapsed'],
  components: {},
  data () {
    return {
      Config: Config,
      routeName: this.$router.currentRoute.name,
      routeQuery: this.$router.currentRoute.query,
      activeName: '',
      //
      showScroll: false,
      scrollLength: 0,
      windowWidth: '',
      HMenuWidth: ''
    }
  },
  computed: {
    stageType: function () {
      return this.$store.state.auth.stageType
    },
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    menuTree: function () {
      let menu = this.$store.state.auth.menuTree
      return menu
    },
    menuState: function () {
      return this.$store.state.auth.menuState
    }
  },
  watch: {
    '$route': {
      handler: function (val) {
        let routeName = this.$router.currentRoute.name
        let routeQuery = this.$router.currentRoute.query
        this.routeName = routeName
        this.routeQuery = routeQuery
        if (routeQuery.w === undefined) {
          this.activeName = `${routeName}` || ''
        } else {
          this.activeName = `${routeName}?w=${routeQuery.w}` || ''
        }
        // console.log(this.activeName)
      },
      deep: true
    },
    isCollapsed: function (bol) {
      // console.log(bol)
    }
  },
  methods: {
    submenuOpenChangeEvent: function (name) {
      // console.log(name)
    },
    select: function (name) {
      // console.log(name)
      let routeStr
      routeStr = `/Main/${name}`
      this.$router.push(routeStr)
      if (this.stageType === 'W') {
        this.$store.dispatch('auth/updateMenuState', { rf: 'MainMgmt', w: name.split('?w=')[1], type: 'add' })
      }
      if (this.stageType === 'P') {
        this.$store.dispatch('auth/updateMenuState', { rf: 'MainMgmt', w: name.split('?w=')[1], type: 'change' })
      }
    },
    HMenuScroll: function () {
      let HMenu = document.querySelector('.ivu-menu-primary')
      let HMenuW = HMenu.offsetWidth
      var lengthGap = (HMenuW - this.windowWidth) / 3 < 150 ? (HMenuW - this.windowWidth) / 3 : (HMenuW - this.windowWidth) / 5
      // console.log(lengthGap)
      if (this.scrollLength === this.windowWidth - HMenuW) {
        this.scrollLength = 0
      } else {
        if ((HMenuW + this.scrollLength) > this.windowWidth) {
          this.scrollLength += -lengthGap
        } else {
          this.scrollLength = this.windowWidth - HMenuW
          this.scrollToRightLength = 0
        }
      }
      HMenu.setAttribute('style', `transform: translateX(${this.scrollLength}px);`)
    }
  },
  created () {
    //
  },
  mounted () {
    //
    this.windowWidth = window.innerWidth
    this.HMenuWidth = document.querySelector('.ivu-menu-primary').offsetWidth
    // console.log(this.HMenuWidth)
    if ((this.HMenuWidth - this.windowWidth) > 0) {
      this.showScroll = true
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.HorizontalMenu {
  padding: 33px 36px 33px 0;
  color: #fff;
  width: calc(100% - 306px);
  height: 100%;
  >ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
  span {
    display: inline-block;
  }
  .menu-item {
    cursor: pointer;
    width: 50%;
    padding-left: 42px;
    &.open {
      .main-menu {
        background: #3c3c3c;
        svg {
          transform: rotate(90deg);
          transition: all .3s;
        }
      }
      .sub-menu {
        display: block;
      }
    }
  }
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    svg {
      transform: rotate(0deg);
      transition: all .3s;
    }
    .num {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      margin-right: 8px;
    }
    .name {
      font-size: 24px;
    }
  }
  .sub-menu {
    display: none;
    padding-left: 20px;
    margin: 8px 0 8px 20px;
    border-left: 1px solid #fff;
    .sub-menu-item {
      padding: 8px 0;
      position: relative;
      .sub-num {
        font-size: 14px;
        margin-right: 8px;
      }
      .sub-name {
        font-size: 20px;
      }
      .active-icon {
        display: none;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(-50%, -50%);
        background: #118CF8;
        padding: 4px 0;
      }
      &.active {
        color: #3c3c3c;
        .active-icon {
          display: block;
        }
      }
      &:hover, &:focus, &:active {
        color: #3c3c3c;
        .active-icon {
          display: block;
        }
      }
    }
  }
}
// .HorizontalMenu {
//     width: 100%;
//     display: flex;
//     align-items: top;
//     justify-content: flex-start;
//     flex-wrap: nowrap;
//     position: relative;
//     .leftBtn, .rightBtn {
//       position: absolute;
//       width: 32px;
//       height: 32px;
//       top: 0;
//       z-index: 1000;
//       background-color: rgb(60, 75, 105);
//       color: rgb(250, 204, 69);
//       font-size: 16px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       opacity: 0;
//       transition: all .3s;
//     }
//     .leftBtn {
//       left: 0;
//     }
//     .rightBtn {
//       right: 0;
//     }
//     &:hover {
//       .leftBtn, .rightBtn {
//         opacity: 1;
//         transition: all .3s;
//       }
//     }
//     /deep/.ivu-menu-primary {
//       background-color: transparent;
//       transition: all .3s;
//       // overflow-x: scroll;
//       // overflow-y: auto;
//       // &::-webkit-scrollbar {
//       //   background: transparent;
//       // }
//       // &::-webkit-scrollbar-track {
//       //   background: transparent;
//       // }
//       // &::-webkit-scrollbar-thumb {
//       //   background: transparent;
//       //   border: 1px solid transparent;
//       // }
//       // &:hover {
//       //   &::-webkit-scrollbar {
//       //     background: rgba(255, 255, 255, 0.2);
//       //   }
//       //   &::-webkit-scrollbar-track {
//       //     background: rgba(255, 255, 255, 0.2);
//       //   }
//       //   &::-webkit-scrollbar-thumb {
//       //     background: #c2c8cc;
//       //     border: 1px solid #b6bbbf;
//       //   }
//       // }
//     }
//     /deep/ .ivu-menu-item {
//       font-size: 16px;
//       min-width: 160px;
//     }
//     /deep/ .ivu-menu-submenu{
//       min-width: 165px;
//     }
//     /deep/ .ivu-menu-submenu-title{
//       font-size: 16px;
//       display: flex;
//       align-items: center;
//       svg{
//         display: block;
//         padding-right: 4px;
//       }
//     }
//     .ivu-menu-horizontal{
//       height: 32px !important;
//       display: flex;
//       align-items: center;
//     }
// }
</style>
