<template>
  <div class="menu-box" :class="{isCollapsed: isCollapsed}">
    <div class="menutree-box list-unstyled">
      <Menutree
      v-for="(item, index) in menuTree"
      :key="index"
      :data="item"
      :menuIndex="index"
      :isCollapsed="isCollapsed"
      :level="0"
      ></Menutree>
    </div>
  </div>
</template>

<script>
import Menutree from '@/components/main/Menutree'
//
export default {
  name: 'MenuComponent',
  props: ['isCollapsed'],
  components: {
    Menutree
  },
  data () {
    let routeQuery = this.$route.query
    //
    return {
      routeQuery: routeQuery
    }
  },
  computed: {
    menuTree: function () {
      return this.$store.state.auth.menuTree
    }
  },
  watch: {},
  methods: {
    //
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.$route)
    // console.log(this.$route.query.w)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.menu-box {
  padding: 33px 36px 33px 0;
  color: #fff;
  width: calc(100% - 306px);
  height: 100%;
    &.isCollapsed {}
    .menutree-box {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      height: calc(100% - 22px);
      overflow-x: auto;
    }
}
</style>
