<template>
    <div class="menu-item" :class="{'open': isClose || data.id === routeName}">
      <div class="main-menu" :class="userInfo.themeColor" @click="(data.nodes.length > 0) ? toggle(menuIndex) : go(data.rootId, data.id)">
        <span>
          <span class="num">{{(menuIndex + 1) > 9 ? (menuIndex + 1) : `0${(menuIndex + 1)}`}}</span>
          <span class="name">{{$t(`menu.${data.id}`)}}</span>
        </span>
        <font-awesome-icon icon="chevron-right" size="1x"/>
      </div>
      <div class="sub-menu" v-if="data.nodes.length > 0">
        <ul class="list-unstyled">
          <li
          class="sub-menu-item" :class="[
            userInfo.themeColor,
            subMenu.id === routeQuery.w ? 'active' : ''
          ]"
          v-for="(subMenu, idx) in data.nodes"
          :key="`${menuIndex}_${idx}`"
          @click="(subMenu.nodes.length > 0) ? toggle(idx) : go(subMenu.rootId, subMenu.id)">
            <div class="active-icon" :style="{background: Config.themeColor[`${userInfo.themeColor}`].menu}">
              <font-awesome-icon icon="chevron-right" size="1x"/>
            </div>
            <span class="sub-num">{{(menuIndex + 1)}}.{{(idx + 1)}}</span>
            <span class="sub-name">{{$t(`menu.${subMenu.id}`)}}</span>
          </li>
        </ul>
      </div>
    </div>
</template>

<script>
import Config from '@/Config'
//
export default {
  name: 'Menutree',
  props: ['data', 'menuIndex', 'isCollapsed', 'level', 'type'],
  components: {},
  data () {
    //
    return {
      Config: Config,
      routeName: this.$router.currentRoute.name,
      routeQuery: this.$router.currentRoute.query,
      isClose: false
    }
  },
  computed: {
    stageType: function () {
      return this.$store.state.auth.stageType
    },
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    menuState: function () {
      return this.$store.state.auth.menuState || {}
    },
    containerStyle: function () {
      let padding = ''
      let backgroundColor = ''
      let color = ''
      let fontSize = ''
      let height = ''
      if (this.level === 0) {
        padding = `0`
        backgroundColor = 'initial'
        fontSize = '15px'
        height = '50px'
      } else {
        padding = `0 0 0 ${(this.level - 1) * 20 + 50}px`
        backgroundColor = Config.themeColor[`${this.$store.state.auth.userInfo.themeColor}`].menuActive
        fontSize = '13px'
        height = '45px'
      }
      if (this.routeQuery.w === this.data.id) {
        color = Config.themeColor[`${this.$store.state.auth.userInfo.themeColor}`].menuColorActive
      } else {
        color = Config.themeColor[`${this.$store.state.auth.userInfo.themeColor}`].menuColor
        // color = 'red'
      }
      return {
        'padding': padding,
        'color': color,
        'font-size': fontSize,
        'height': height,
        'background-color': backgroundColor
      }
    }
  },
  watch: {
    '$route': {
      handler: function (val) {
        this.routeName = this.$router.currentRoute.name
        this.routeQuery = this.$router.currentRoute.query
      },
      deep: true
    },
    isCollapsed: function (bol) {
      //
    }
  },
  methods: {
    toggle: function (index) {
      this.isClose = !this.isClose
    },
    go: function (rootId, id) {
      this.$router.push(`/Main/${rootId}?w=${id}`)
      if (id !== 'dashboard') {
        if (this.stageType === 'W') {
          this.$store.dispatch('auth/updateMenuState', { rf: 'MainMgmt', w: id, type: 'add' })
        }
        if (this.stageType === 'P') {
          this.$store.dispatch('auth/updateMenuState', { rf: 'MainMgmt', w: id, type: 'change' })
        }
      }
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.data)
    // console.log(this.menuState)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
// .menutree-box {
  // padding: 33px 36px 33px 0;
  // color: #fff;
  // width: calc(100% - 306px);
  // height: 100%;
  // >ul {
  //   display: flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  //   height: 100%;
  // }
  span {
    display: inline-block;
  }
  .menu-item {
    cursor: pointer;
    width: 33%;
    padding-left: 42px;
    &.open {
      .main-menu {
        &.dark {
          background: #3c3c3c;
        }
        &.light {
          background: #118CF8;
        }
        svg {
          transform: rotate(90deg);
          transition: all .3s;
        }
      }
      .sub-menu {
        display: block;
      }
    }
  }
  .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    svg {
      transform: rotate(0deg);
      transition: all .3s;
    }
    .num {
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      margin-right: 8px;
    }
    .name {
      font-size: 24px;
    }
  }
  .sub-menu {
    display: none;
    padding-left: 20px;
    margin: 8px 0 8px 20px;
    border-left: 1px solid #fff;
    .sub-menu-item {
      padding: 8px 0;
      position: relative;
      .sub-num {
        font-size: 14px;
        margin-right: 8px;
      }
      .sub-name {
        font-size: 20px;
      }
      .active-icon {
        display: none;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(-50%, -50%);
        padding: 4px 0;
      }
      &.active {
        &.dark {
          color: #3c3c3c;
        }
        &.light {
          color: #4EEDC5;
        }
        .active-icon {
          display: block;
        }
      }
      &:hover, &:focus, &:active {
        &.dark {
          color: #3c3c3c;
        }
        &.light {
          color: #4EEDC5;
        }
        .active-icon {
          display: block;
        }
      }
    }
  }
</style>
