<template>
  <!-- 用戶設置 -->
  <div class="setting-user" :style="{background: Config.themeColor[`${userInfo.themeColor}`].menuSetUser}">
    <div>
      <div class="user-img">
        <div>
          <img :src="postData.avatar" class="img-fluid" id="ivu-upload-input"/>
        </div>
        <div class="uploadLoading" v-if="showUploadLoading">
          <img src="@/assets/images/icon/loadiung-circle.gif" alt="">
        </div>
        <Upload
          multiple
          type="drag"
          :action="uploadURL"
          :headers="uploadHeaders"
          :before-upload="beforeUploadEvent"
          :on-success="getUploadRequest"
          :on-error="errorRequest"
          >
          <div class="upload-block">
            <p>上傳頭貼</p>
          </div>
        </Upload>
      </div>
      <div class="mb-4">
        <!-- 使用者名稱 name -->
        <FloatLabelBox
          :config="{
            hasContent: (postData.name && postData.name!==''),
            label: '使用者名稱',
            hasClearButton: true,
            background: userInfo.themeColor,
            type: `InputText`,
            settings: {width: 200, height: 41}}"
          :code="`name`"
          :defaultValue="postData.name"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent"
        ></FloatLabelBox>
      </div>
      <div class="mb-4">
        <!-- 更新密碼 password -->
        <FloatLabelBox
          :config="{hasContent: (postData.password && postData.password!==''),
            label: '更新密碼',
            hasClearButton: true,
            background: userInfo.themeColor,
            type: `InputText`,
            settings: {width: 200, height: 41}}"
          :code="`password`"
          :defaultValue="postData.password"
          :disabled="false"
          :isError="error.password"
          :isRequired="error.password"
          :errorMsg="errorMsgAccountPwd"
          errorMsgColor="#a71b05"
          @changeModelEvent="inputTxtChangeEvent"
        ></FloatLabelBox>
      </div>
      <div class="mb-4">
        <!-- 新密碼確認 c_password -->
        <FloatLabelBox
          :config="{hasContent: (postData.c_password && postData.c_password!==''),
            label: '新密碼確認',
            hasClearButton: true,
            background: userInfo.themeColor,
            type: `InputText`,
            settings: {width: 200, height: 41}}"
          :code="`c_password`"
          :defaultValue="postData.c_password"
          :disabled="false"
          :isError="error.password"
          :isRequired="error.password"
          :errorMsg="errorMsgCPassword"
          errorMsgColor="#a71b05"
          @changeModelEvent="inputTxtChangeEvent"
        ></FloatLabelBox>
      </div>
      <div class="color-type mb-4">
        <div
        class="btn-box"
        :class="[
          userInfo.themeColor,
          postData.theme_color === 'dark' ? 'active' : ''
        ]">
          <button type="button" @click="postData.theme_color = 'dark'">
            <font-awesome-icon icon="moon" size="1x"/>
          </button>
          <div class="lable">dark</div>
        </div>
        <div
        class="btn-box"
        :class="[
          userInfo.themeColor,
          postData.theme_color === 'light' ? 'active' : ''
        ]">
          <button type="button" @click="postData.theme_color = 'light'">
            <font-awesome-icon icon="sun" size="1x"/>
          </button>
          <div class="lable">Light</div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="d-flex justify-content-center">
        <button type="button" class="lg-brn rounded outline gray mr-3 mb-4" @click="cancel">
          {{$t(`setting.btn.cancel`)}}
        </button>
        <button type="button" class="lg-brn rounded outline mb-4" :class="[userInfo.themeColor]" @click="update">
          {{$t(`setting.btn.update`)}}
        </button>
      </div>
      <div class="footer-company mb-3">
        <p>使丹達資訊股份有限公司 | WMS 倉儲管理系統</p>
      </div>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
//
export default {
  name: 'SetUserInfoComponent',
  props: [],
  components: {
    FloatLabelBox
  },
  data () {
    let userInfo = this.$store.state.auth.userInfo
    //
    return {
      Config: Config,
      //
      uploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.userUi.upload}`,
      uploadHeaders: { Authorization: `${this.$localStorage.get('accessToken')}` },
      showUploadLoading: false,
      /* 密碼errorMsg */
      errorMsgAccountPwd: '',
      /* 密碼確認errorMsg */
      errorMsgCPassword: '',
      postData: {
        ui_id: userInfo.uiId,
        user_id: userInfo.userId,
        name: userInfo.userName,
        theme_color: userInfo.themeColor,
        layout_mode: userInfo.layoutMode,
        avatar: userInfo.avatar,
        password: null,
        c_password: null
      },
      error: {
        password: false,
        c_password: false
      }
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    user: function () {
      return this.$store.state[`user`][`user`] || {}
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.postData.theme_color = newVal ? newVal.themeColor : null
        this.postData.layout_mode = newVal ? newVal.layoutMode : null
      },
      deep: true
    },
    user: {
      handler: function (val) {
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        if (val.password) {
          if (val.password.length >= 6) {
            this.error.password = false
          }
          if (val.c_password && val.password === val.c_password) {
            this.error.c_password = false
          }
        }
      },
      deep: true
    }
  },
  methods: {
    beforeUploadEvent: function (data) {
      // console.log(data)
      this.showUploadLoading = true
    },
    getUploadRequest: function (res, file) {
      // console.log(res)
      // console.log(file)
      let UploadData = res.respondCode.additionals.filupload
      //
      this.postData.avatar = `${Config.API.baseURL}${UploadData.fileStoragePath}${UploadData.fileName}`
      // console.log(this.postData.avatar)
      //
      // this.$Notice.success({
      //   title: '檔案上傳成功'
      // })
      this.update()
      //
      document.querySelector('.ivu-upload-list').innerHTML = ''
      this.showUploadLoading = false
    },
    errorRequest: function (txt) {
      // console.log(txt)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗',
        desc: txt,
        duration: 30
      })
      this.showUploadLoading = false
    },
    update: async function () {
      this.$emit('changeLoadingViewIsShowEvent', true)
      let isError = false
      if (this.postData.c_password !== this.postData.password) {
        isError = true
        this.error.c_password = true
        this.errorMsgCPassword = '*請再次輸入密碼'
      }
      if (isError) {
        this.$emit('changeLoadingViewIsShowEvent', false)
        return
      }
      //
      let postData = {
        userData: {
          user_id: this.postData.user_id,
          name: this.postData.name,
          theme_color: this.postData.theme_color
        }
      }
      if (this.postData.password && this.postData.password !== '') {
        postData.userData.password = this.postData.password
        postData.userData.c_password = this.postData.c_password
      }
      //
      let Res = await this.$store.dispatch('user/update', { postData: postData, detailId: this.postData.user_id })
      // console.log(Res)
      if (Res.success) {
        this.$Notice.success({
          title: '更新成功',
          duration: 30
        })
        this.init()
        await this.$store.dispatch('auth/updateThemeColor', this.postData.theme_color)
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      } else {
        this.$Notice.error({
          title: '更新失敗',
          desc: Res.message,
          duration: 30
        })
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    cancel: function () {
      // console.log(this.$store.state)
      this.postData.theme_color = this.$store.state.auth.userInfo.themeColor
      this.postData.layout_mode = this.$store.state.auth.userInfo.layoutMode
      this.postData.name = this.$store.state.auth.userInfo.userName
      this.postData.avatar = this.$store.state.auth.userInfo.avatar
      this.postData.password = null
      this.postData.c_password = null
    },
    init: function () {
      this.postData.password = null
      this.postData.c_password = null
    },
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    getDetail: function (userId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'user_id',
            queryValue: userId
          }
        ],
        sort: []
      }
      // console.log(postData)
      this.$store.dispatch(`user/queryDetail`, postData).then((r) => {
        // console.log(r)
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.setting-user {
  display: flex;
  flex-direction: column;
  width: 306px;
  align-items: center;
  justify-content: space-between;
}
.user-img {
  width: 134px;
  height: 134px;
  margin: 33px auto;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  /deep/.ivu-upload {
    opacity: 0;
  }
  &:hover {
    /deep/.ivu-upload {
      opacity: 1;
    }
  }
  .uploadLoading{
    position: absolute;
    top: 0;
    left: 0;
    width: 134px;
    height: 134px;
    background: rgba(0, 0, 0, 0.7);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50px;
    }
  }
}
/deep/.ivu-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 134px;
  height: 134px;
  .ivu-upload-drag {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    .upload-block {
      svg {
        display: none;
      }
    }
    p {
      font-size: 15px;
      color: #fff;
    }
  }
}
.color-type {
  width: 200px;
  display: flex;
  .btn-box {
    flex: 1;
    color: #ACACAC;
    text-align: center;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 41px;
      border: 1px solid #ACACAC;
      background: transparent;
      outline: transparent;
      color: #ACACAC;
      width: 100%;
      font-size: 24px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        display: block;
        background: #ACACAC;
        top: -1px;
        width: 4px;
        height: 1px;
      }
      &::after {
        content: '';
        position: absolute;
        display: block;
        background: #ACACAC;
        bottom: -1px;
        width: 4px;
        height: 1px;
      }
    }
    .lable {
      font-size: 16px;
    }
    &:first-of-type {
      button {
        border-radius: 4px 0 0 4px;
        border-right: 1px solid transparent;
        &::before ,&::after {
          right: -3px;
        }
      }
    }
    &:last-of-type {
      button {
        border-radius: 0 4px 4px 0;
        border-left: 1px solid transparent;
        &::before ,&::after {
          left: -3px;
        }
      }
    }
    &.active {
      button {
        border-radius: 4px;
        &::before ,&::after {
          display: none;
        }
      }
      &.dark {
        color:#4eedc5;
        button {
          border: 1px solid#4eedc5;
          color:#4eedc5;
        }
      }
      &.light {
        color:#118CF8;
        button {
          border: 1px solid#118CF8;
          color:#118CF8;
        }
      }
    }
  }
}
.footer-company {
  font-size: 12px;
  color: #fff;
}
</style>
