<template>
  <div class="workspace" :id="`workspace_${routeName}`">
    <span v-for="(win , idx) in menuState[routeName]" :key="`idx-${win}`">
      <DraggableWindow
      v-if="winAry.includes(win)"
      :wid="win"
      :workspaceId="`workspace_${routeName}`"
      :root="routeName"
      :header="$t(`menu.${win}`)"
      :zindex="zindexObj[win]"
      :t="5 * idx"
      :l="5 * idx">
        <!-- 置入所有功能元件 -->
        <GroupCompanySetup v-if="win==='groupCompanySetup'"></GroupCompanySetup>
        <CountrySetup v-if="win==='countrySetup'" keyCode="countrySetup"></CountrySetup>
        <StateProvinceSetup v-if="win==='stateProvinceSetup'" keyCode="stateProvinceSetup"></StateProvinceSetup>
        <!-- <ImportCustomer v-if="win==='importCustomer'" keyCode="importCustomer"></ImportCustomer> -->
        <CustomerSetup v-if="win==='customerSetup'" keyCode="customerSetup"></CustomerSetup>
        <ContactSetup v-if="win==='contactSetup'" keyCode="contactSetup"></ContactSetup>
        <UserSetup v-if="win==='userSetup'" keyCode="userSetup"></UserSetup>
        <SettingMenuSetup v-if="win==='settingMenuSetup'" keyCode="settingMenuSetup"></SettingMenuSetup>
        <RoleSetup v-if="win==='roleSetup'" keyCode="roleSetup"></RoleSetup>
        <PermissionSetup v-if="win==='permissionSetup'" keyCode="permissionSetup"></PermissionSetup>
        <SettingfeeSetup v-if="win==='settingfeeSetup'" keyCode="settingfeeSetup"></SettingfeeSetup>
        <SettingCodeSetup v-if="win==='settingCodeSetup'" keyCode="settingCodeSetup"></SettingCodeSetup>
        <AnnounceSetup v-if="win==='announceSetup'" keyCode="announceSetup"></AnnounceSetup>
        <TagSetup v-if="win==='tagSetup'" keyCode="tagSetup"></TagSetup>
      </DraggableWindow>
    </span>
  </div>
</template>

<script>
// window 元件
import DraggableWindow from '@/components/window/DraggableWindow'
// window 內容
import GroupCompanySetup from './win/GroupCompanySetup'
// import ImportCustomer from './win/ImportCustomer'
import CustomerSetup from './win/CustomerSetup'
import ContactSetup from './win/ContactSetup'
import CountrySetup from './win/CountrySetup'
import StateProvinceSetup from './win/StateProvinceSetup'
import UserSetup from './win/UserSetup'
import SettingMenuSetup from './win/SettingMenuSetup'
import RoleSetup from './win/RoleSetup'
import PermissionSetup from './win/PermissionSetup'
import SettingfeeSetup from './win/SettingfeeSetup'
import SettingCodeSetup from './win/SettingCodeSetup'
import AnnounceSetup from './win/AnnounceSetup'
import TagSetup from './win/TagSetup'
//
export default {
  name: 'OrderMgmt',
  props: ['viewId', 'menuState', 'query'],
  components: {
    DraggableWindow,
    GroupCompanySetup,
    // ImportCustomer,
    CustomerSetup,
    ContactSetup,
    CountrySetup,
    StateProvinceSetup,
    UserSetup,
    SettingMenuSetup,
    RoleSetup,
    PermissionSetup,
    SettingfeeSetup,
    SettingCodeSetup,
    AnnounceSetup,
    TagSetup
  },
  data () {
    let zindexObj = {}
    Object.keys(this.menuState).forEach(element => {
      if (element !== this.viewId) {
        return
      }
      this.menuState[element].forEach(ele => {
        zindexObj[ele] = 1
      })
    })
    //
    return {
      routeName: this.$router.currentRoute.name,
      routeQuery: this.$router.currentRoute.query,
      zindexObj: zindexObj,
      winAry: ['groupCompanySetup', 'countrySetup', 'stateProvinceSetup', 'customerSetup', 'contactSetup', 'userSetup', 'settingMenuSetup', 'roleSetup', 'permissionSetup', 'settingfeeSetup', 'settingCodeSetup', 'announceSetup', 'tagSetup']
    }
  },
  watch: {
    menuState: function (val) {
      let zindexObj = {}
      Object.keys(this.menuState).forEach(element => {
        if (element !== this.viewId) {
          return
        }
        this.menuState[element].forEach((ele, idx) => {
          zindexObj[ele] = idx
        })
      })
      this.zindexObj = zindexObj
    },
    '$route': {
      handler: function (val) {
        this.routeQuery = this.$router.currentRoute.query
      },
      deep: true
    },
    routeQuery: function (val) {
      if (this.routeName !== this.viewId) {
        return
      }
      let wId = val.w
      this.upZindex(wId)
    }
  },
  methods: {
    upZindex: function (wId) {
      // 重組
      Object.keys(this.zindexObj).forEach((ele, idx) => {
        if (wId === ele) {
          this.zindexObj[wId] = this.menuState[this.viewId].length
        } else {
          if (this.zindexObj[ele] - 1 < 1) {
            this.zindexObj[ele] = 1
          } else {
            this.zindexObj[ele] = this.zindexObj[ele] - 1
          }
        }
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    this.upZindex(this.routeQuery.w)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.workspace {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
</style>
