<template>
  <div class="win-content">
    <span v-if="step===0">
      <h2 class="title">
        國家建檔
        <Button class="icon-btn-md ml-3" @click="toCountrySetupAdd">
          <font-awesome-icon icon="plus" />
        </Button>
        <Button class="icon-btn-md ml-3">
          <font-awesome-icon icon="trash-alt" />
        </Button>
      </h2>
      <div class="body-box">
        <DataGrid
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
    </span>
    <span v-if="step===1">
      <h2 class="title">
        <span>國家建檔</span>
      </h2>
      <div class="body-box">
        <CountrySetupAdd></CountrySetupAdd>
      </div>
    </span>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
import CountrySetupAdd from './components/CountrySetupAdd'
export default {
  name: 'CountrySetup',
  props: ['keyCode'],
  components: {
    DataGrid,
    CountrySetupAdd
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#1565C0',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#E3F2FD',
        rowEvenColor: '#777777'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    } // 定義 datagrid
    let gridData = [] // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: true,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    // console.log(settingData)
    //
    return {
      step: 0, // 0: 商品總覽 / 1:商品建檔
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false
    }
  },
  watch: {
    //
  },
  methods: {
    // 前往國家總覽
    toCountrySetup: function () {
      this.step = 0
    },
    // 前往國家建檔
    toCountrySetupAdd: function () {
      this.step = 1
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      this.settingData.columns = this.settingData.columns.filter((ele, idx) => {
        if (ele.property === property) {
          return false
        } else {
          return true
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function () {
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.toGetIds = false
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    openAddModal: function () {
      this.addModal = true
    },
    closeAddModal: function () {
      this.addModal = false
    },
    remove: function (id) {
      this.$emit('removeEvent', id)
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  overflow: auto;
  h2.title {
    font-family: PingFangTC;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354361;
    margin-bottom: 30px;
  }
}

/deep/.ivu-btn.icon-btn-md{
  border: 2px solid;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  margin-bottom: 4px;
  width: 29px;
  height: 29px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  >span {
    font-size: 14px;
  }
}
</style>
