<template>
  <div class="win-content">
    <h2 class="title">集團公司建檔</h2>
    <div class="body-box">
      <!-- 集團 -->
      <GroupCompanyCard
      label="集團"
      type="G"
      :data1List="groupList"
      :currentGId="currentGId"
      :currentCId="currentCId"
      :closeModal="closeGModal"
      v-on:getSubItemEvent="getSubItemEvent"
      v-on:removeEvent="removeEvent"
      v-on:saveEvent="saveEvent"
      v-on:updateEvent="updateEvent"
      v-on:setCloseMoadlEvent="setCloseMoadlEvent"></GroupCompanyCard>
      <!-- 公司 -->
      <GroupCompanyCard
      label="公司"
      type="C"
      :data1List="companyList"
      :currentGId="currentGId"
      :currentCId="currentCId"
      :closeModal="closeCModal"
      v-on:getSubItemEvent="getSubItemEvent"
      v-on:removeEvent="removeEvent"
      v-on:saveEvent="saveEvent"
      v-on:updateEvent="updateEvent"
      v-on:setCloseMoadlEvent="setCloseMoadlEvent"></GroupCompanyCard>
      <!-- 倉庫/部門 -->
      <GroupCompanyCard
      label="倉庫/部門"
      type="WD"
      :data1List="departmentList"
      :data2List="warehouseList"
      :detailTypeSelectList="detailTypeSelectList"
      :currentGId="currentGId"
      :currentCId="currentCId"
      :closeModal="closeWDModal"
      v-on:getSubItemEvent="getSubItemEvent"
      v-on:removeEvent="removeEvent"
      v-on:saveEvent="saveEvent"
      v-on:updateEvent="updateEvent"
      v-on:setCloseMoadlEvent="setCloseMoadlEvent"></GroupCompanyCard>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import GroupCompanyCard from './components/GroupCompanyCard'
//
export default {
  name: 'GroupCompanySetup',
  props: [],
  components: {
    GroupCompanyCard
  },
  data () {
    //
    return {
      detailTypeSelectList: [
        {
          value: 'W',
          label: 'Warehouse'
        },
        {
          value: 'D',
          label: 'Department'
        }
      ],
      closeGModal: false,
      closeCModal: false,
      closeWDModal: false,
      currentGId: null,
      currentCId: null
    }
  },
  computed: {
    groupList () {
      return this.$store.state.companyGroup.companyGroupList || []
    },
    companyList () {
      return this.$store.state.company.companyList || []
    },
    departmentList () {
      return this.$store.state.department.departmentList || []
    },
    warehouseList () {
      return this.$store.state.warehouse.warehouseList || []
    }
  },
  watch: {
    groupList: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    companyList: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    departmentList: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    warehouseList: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    getSubItemEvent: function (data) {
      // console.log('getSubItemEvent : ', data)
      switch (data.type) {
        case 'G':
          this.currentGId = data.id
          this.getCompanyList(data.id)
          break
        case 'C':
          this.currentCId = data.id
          this.getDepartmentList(data.id)
          this.getWarehouseList(data.id)
          break
      }
    },
    removeEvent: function (data) {
      switch (data.type) {
        case 'G':
          this.removeGroup(data.item)
          break
        case 'C':
          this.removeCompany(data.item)
          break
        case 'W':
          this.removeWarehouse(data.item)
          break
        case 'D':
          this.removeDepartment(data.item)
          break
      }
    },
    updateEvent: function (data) {
      // console.log('updateEvent : ', data)
      let pd = {}
      switch (data.type) {
        case 'G':
          pd = {
            group_name: data.postData.group_name,
            vatno: data.postData.vatno || 'null',
            region_id: parseInt(data.postData.region_id) || 0,
            country_id: parseInt(data.postData.country_id),
            province_id: parseInt(data.postData.province_id) || 0,
            city_id: parseInt(data.postData.city_id),
            district_id: parseInt(data.postData.district_id),
            address: data.postData.address || 'null',
            telephone: data.postData.telephone || 'null',
            fax: data.postData.fax || 'null',
            website: data.postData.website || 'null',
            contact_id: parseInt(data.postData.contact_id),
            account_id: parseInt(data.postData.account_id) || 0
          }
          this.$store.dispatch('companyGroup/update', { postData: pd, detailId: data.detailId }).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.getGroupList()
              this.closeGModal = true
              //
              this.$Notice.success({
                title: '更新成功'
              })
            } else if (r.httpStatus !== 401) {
              //
              this.$Notice.error({
                title: '更新失敗'
              })
            }
          })
          break
        case 'C':
          pd = {
            group_id: this.currentGId,
            company_name: data.postData.company_name,
            vatno: data.postData.vatno || 'null',
            region_id: parseInt(data.postData.region_id) || 0,
            country_id: parseInt(data.postData.country_id),
            province_id: parseInt(data.postData.province_id) || 0,
            city_id: parseInt(data.postData.city_id),
            district_id: parseInt(data.postData.district_id),
            address: data.postData.address || 'null',
            telephone: data.postData.telephone || 'null',
            fax: data.postData.fax || 'null',
            website: data.postData.website || 'null',
            contact_id: parseInt(data.postData.contact_id),
            account_id: parseInt(data.postData.account_id) || 0
          }
          this.$store.dispatch('company/update', { postData: pd, detailId: data.detailId }).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.getCompanyList(this.currentGId)
              this.closeCModal = true
              //
              this.$Notice.success({
                title: '更新成功'
              })
            } else if (r.httpStatus !== 401) {
              //
              this.$Notice.error({
                title: '更新失敗'
              })
            }
          })
          break
        case 'WD':
          switch (data.detailType) {
            case 'W':
              pd = {
                group_id: this.currentGId,
                company_id: this.currentCId,
                wh_name: data.postData.wh_name,
                wh_no: data.postData.wh_no || 'null',
                region_id: parseInt(data.postData.region_id) || 0,
                country_id: parseInt(data.postData.country_id),
                province_id: parseInt(data.postData.province_id) || 0,
                city_id: parseInt(data.postData.city_id),
                district_id: parseInt(data.postData.district_id),
                address: data.postData.address || 'null',
                telephone: data.postData.telephone || 'null',
                fax: data.postData.fax || 'null',
                website: data.postData.website || 'null',
                contact_id: parseInt(data.postData.contact_id),
                account_id: parseInt(data.postData.account_id) || 0
              }
              this.$store.dispatch('warehouse/update', { postData: pd, detailId: data.detailId }).then((r) => {
                // console.log(r)
                let rex = /^[2]/g
                if (rex.test(r.httpStatus)) {
                  this.getWarehouseList(this.currentCId)
                  this.closeWDModal = true
                  //
                  this.$Notice.success({
                    title: '更新成功'
                  })
                } else if (r.httpStatus !== 401) {
                  //
                  this.$Notice.error({
                    title: '更新失敗'
                  })
                }
              })
              break
            case 'D':
              pd = {
                group_id: this.currentGId,
                company_id: this.currentCId,
                dept_name: data.postData.dept_name,
                dept_no: data.postData.dept_no || 'null',
                region_id: parseInt(data.postData.region_id) || 0,
                country_id: parseInt(data.postData.country_id),
                province_id: parseInt(data.postData.province_id) || 0,
                city_id: parseInt(data.postData.city_id),
                district_id: parseInt(data.postData.district_id),
                address: data.postData.address || 'null',
                telephone: data.postData.telephone || 'null',
                fax: data.postData.fax || 'null',
                website: data.postData.website || 'null',
                contact_id: parseInt(data.postData.contact_id),
                account_id: parseInt(data.postData.account_id) || 0
              }
              this.$store.dispatch('department/update', { postData: pd, detailId: data.detailId }).then((r) => {
                // console.log(r)
                let rex = /^[2]/g
                if (rex.test(r.httpStatus)) {
                  this.getDepartmentList(this.currentCId)
                  this.closeWDModal = true
                  //
                  this.$Notice.success({
                    title: '更新成功'
                  })
                } else if (r.httpStatus !== 401) {
                  //
                  this.$Notice.error({
                    title: '更新失敗'
                  })
                }
              })
              break
          }
          break
      }
    },
    saveEvent: function (data) {
      // G/C/WD
      // console.log('saveEvent : ', data)
      let pd = {}
      switch (data.type) {
        case 'G':
          pd = {
            group_name: data.postData.group_name,
            vatno: data.postData.vatno,
            country_id: parseInt(data.postData.country_id),
            province_id: parseInt(data.postData.province_id),
            city_id: parseInt(data.postData.city_id),
            district_id: parseInt(data.postData.district_id),
            contact_id: parseInt(data.postData.contact_id)
          }
          if (parseInt(data.postData.region_id)) {
            pd.region_id = parseInt(data.postData.region_id)
          }
          if (data.postData.address) {
            pd.address = data.postData.address
          }
          if (data.postData.telephone) {
            pd.telephone = data.postData.telephone
          }
          if (data.postData.fax) {
            pd.fax = data.postData.fax
          }
          if (data.postData.website) {
            pd.website = data.postData.website
          }
          if (parseInt(data.postData.account_id)) {
            pd.account_id = parseInt(data.postData.account_id)
          }
          this.$store.dispatch('companyGroup/create', pd).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.getGroupList()
              this.closeGModal = true
              //
              this.$Notice.success({
                title: '新增成功'
              })
            } else {
              //
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
        case 'C':
          pd = {
            group_id: this.currentGId,
            company_name: data.postData.company_name,
            vatno: data.postData.vatno,
            // region_id: parseInt(data.postData.region_id),
            country_id: parseInt(data.postData.country_id),
            // province_id: parseInt(data.postData.province_id),
            city_id: parseInt(data.postData.city_id),
            district_id: parseInt(data.postData.district_id),
            // address: data.postData.address,
            // telephone: data.postData.telephone,
            // fax: data.postData.fax,
            // website: data.postData.website,
            contact_id: parseInt(data.postData.contact_id)
            // account_id: parseInt(data.postData.account_id)
          }
          if (parseInt(data.postData.region_id)) {
            pd.region_id = parseInt(data.postData.region_id)
          }
          if (parseInt(data.postData.province_id)) {
            pd.province_id = parseInt(data.postData.province_id)
          }
          if (data.postData.address) {
            pd.address = data.postData.address
          }
          if (data.postData.telephone) {
            pd.telephone = data.postData.telephone
          }
          if (data.postData.fax) {
            pd.fax = data.postData.fax
          }
          if (data.postData.website) {
            pd.website = data.postData.website
          }
          if (parseInt(data.postData.account_id)) {
            pd.account_id = parseInt(data.postData.account_id)
          }
          this.$store.dispatch('company/create', pd).then((r) => {
            // console.log(r)
            let rex = /^[2]/g
            if (rex.test(r.httpStatus)) {
              this.getCompanyList(this.currentGId)
              this.closeCModal = true
              //
              this.$Notice.success({
                title: '新增成功'
              })
            } else {
              //
              this.$Notice.error({
                title: '新增失敗'
              })
            }
          })
          break
        case 'WD':
          switch (data.detailType) {
            case 'W':
              pd = {
                group_id: this.currentGId,
                company_id: this.currentCId,
                wh_name: data.postData.wh_name,
                wh_no: data.postData.wh_no,
                // region_id: parseInt(data.postData.region_id),
                country_id: parseInt(data.postData.country_id),
                province_id: parseInt(data.postData.province_id),
                city_id: parseInt(data.postData.city_id),
                district_id: parseInt(data.postData.district_id)
                // address: data.postData.address,
                // telephone: data.postData.telephone,
                // fax: data.postData.fax,
                // website: data.postData.website,
                // contact_id: parseInt(data.postData.contact_id),
                // account_id: parseInt(data.postData.account_id)
              }
              if (parseInt(data.postData.region_id)) {
                pd.region_id = parseInt(data.postData.region_id)
              }
              if (data.postData.address) {
                pd.address = data.postData.address
              }
              if (data.postData.telephone) {
                pd.telephone = data.postData.telephone
              }
              if (data.postData.fax) {
                pd.fax = data.postData.fax
              }
              if (data.postData.website) {
                pd.website = data.postData.website
              }
              if (parseInt(data.postData.contact_id)) {
                pd.contact_id = parseInt(data.postData.contact_id)
              }
              if (parseInt(data.postData.account_id)) {
                pd.account_id = parseInt(data.postData.account_id)
              }
              this.$store.dispatch('warehouse/create', pd).then((r) => {
                // console.log(r)
                let rex = /^[2]/g
                if (rex.test(r.httpStatus)) {
                  this.getWarehouseList(this.currentCId)
                  this.closeWDModal = true
                  //
                  this.$Notice.success({
                    title: '新增成功'
                  })
                } else {
                  //
                  this.$Notice.error({
                    title: '新增失敗'
                  })
                }
              })
              break
            case 'D':
              pd = {
                group_id: this.currentGId,
                company_id: this.currentCId,
                dept_name: data.postData.dept_name,
                // dept_no: data.postData.dept_no,
                // region_id: parseInt(data.postData.region_id),
                country_id: parseInt(data.postData.country_id),
                // province_id: parseInt(data.postData.province_id),
                city_id: parseInt(data.postData.city_id),
                district_id: parseInt(data.postData.district_id),
                // address: data.postData.address,
                // telephone: data.postData.telephone,
                // fax: data.postData.fax,
                // website: data.postData.website,
                contact_id: parseInt(data.postData.contact_id)
                // account_id: parseInt(data.postData.account_id)
              }
              if (data.postData.dept_no) {
                pd.dept_no = data.postData.dept_no
              }
              if (parseInt(data.postData.region_id)) {
                pd.region_id = parseInt(data.postData.region_id)
              }
              if (parseInt(data.postData.province_id)) {
                pd.province_id = parseInt(data.postData.province_id)
              }
              if (data.postData.address) {
                pd.address = data.postData.address
              }
              if (data.postData.telephone) {
                pd.telephone = data.postData.telephone
              }
              if (data.postData.fax) {
                pd.fax = data.postData.fax
              }
              if (parseInt(data.postData.account_id)) {
                pd.account_id = parseInt(data.postData.account_id)
              }
              this.$store.dispatch('department/create', pd).then((r) => {
                // console.log(r)
                let rex = /^[2]/g
                if (rex.test(r.httpStatus)) {
                  this.getDepartmentList(this.currentCId)
                  this.closeWDModal = true
                  //
                  this.$Notice.success({
                    title: '新增成功'
                  })
                } else {
                  //
                  this.$Notice.error({
                    title: '新增失敗'
                  })
                }
              })
              break
          }
          break
      }
    },
    // remove
    removeGroup: function (item) {
      // console.log(item)
      this.$store.dispatch('companyGroup/delete', item.group_id).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          this.getGroupList()
          //
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          //
          this.$Notice.error({
            title: '刪除失敗'
          })
        }
      })
    },
    removeCompany: function (item) {
      // console.log(item)
      let groupId = item.group_id
      this.$store.dispatch('company/delete', item.company_id).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          this.getCompanyList(groupId)
          //
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          //
          this.$Notice.error({
            title: '刪除失敗'
          })
        }
      })
    },
    removeWarehouse: function (item) {
      // console.log(item)
      let companyId = item.company_id
      this.$store.dispatch('warehouse/delete', item.wh_id).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          this.getWarehouseList(companyId)
          //
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          //
          this.$Notice.error({
            title: '刪除失敗'
          })
        }
      })
    },
    removeDepartment: function (item) {
      // console.log(item)
      let companyId = item.company_id
      this.$store.dispatch('department/delete', item.dept_id).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          this.getDepartmentList(companyId)
          //
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          //
          this.$Notice.error({
            title: '刪除失敗'
          })
        }
      })
    },
    // get list
    getGroupList: function () {
      //
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch('companyGroup/query', postData).then((r) => {
        // console.log(r)
      })
    },
    getCompanyList: function (gid) {
      //
      this.$store.dispatch('company/clearCompanyList')
      this.$store.dispatch('warehouse/clearWarehouseList')
      this.$store.dispatch('department/clearDepartmentList')
      //
      this.currentCId = null
      //
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [
          {
            'queryCondition': '=',
            'queryField': 'group_id',
            'queryValue': gid
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch('company/query', postData).then((r) => {
        // console.log(r)
      })
    },
    getDepartmentList: function (cid) {
      //
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [
          {
            'queryCondition': '=',
            'queryField': 'company_id',
            'queryValue': cid
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch('department/query', postData).then((r) => {
        // console.log(r)
      })
    },
    getWarehouseList: function (cid) {
      //
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch('warehouse/query', { postData: postData, companyId: cid }).then((r) => {
        // console.log(r)
      })
    },
    setCloseMoadlEvent: function (type) {
      //
      switch (type) {
        case 'G':
          this.closeGModal = false
          break
        case 'C':
          this.closeCModal = false
          break
        case 'WD':
          this.closeWDModal = false
          break
      }
    }
  },
  created () {
    //
    this.getGroupList()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  padding: 25px 30px;
  overflow: auto;
  h2.title {
    font-family: PingFangTC;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #354361;
    margin-bottom: 30px;
  }
  .body-box {
    width: 100%;
    height: calc(100% - 42px - 30px);
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }
}
</style>
