<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 角色總覽 -->
    <span>
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div class="d-flex">
          <span class="title-text">角色總覽</span>
          <div class="operating-box ml-3">
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="showAddModalEvent">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <!-- <Poptip trigger="hover" title="刪除">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              @click="comfirmRemove">
                <font-awesome-icon icon="file-excel" />
              </Button>
            </Poptip> -->
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r">
        </div>
        <div class="btn-box l">
          <Button
              class="solid-text-btn mr-3"
              :class="userInfo.themeColor"
              type="default"
              shape="circle"
              @click="save('update')"
            >儲存</Button>
        </div>
      </div>
      <div class="body-box">
        <div class="row">
          <div class="col col-line">
            <DataGrid
            idKeyName="id"
            :bgType="userInfo.themeColor"
            :logicalOperator="logicalOperator"
            :settingData="settingData"
            :gridData="gridData"
            :toGetIds="toGetIds"
            :noTextBreak="true"
            :isQuery="isQuery"
            :toRestFilter="toRestFilter"
            @setFilterEvent="setFilterEvent"
            @moveColEvent="moveColEvent"
            @removeColEvent="removeColEvent"
            @sortEvent="sortEvent"
            @filterEvent="filterEvent"
            @getIdsEvent="getIdsEvent"
            @getDetailEvent="getDetailEvent"
            @pageChangeEvent="pageChangeEvent"
            @pageSizeChangeEvent="pageSizeChangeEvent"
          ></DataGrid>
          </div>
          <div class="col">
            <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">角色權限</div>
            <div class="checkbox-list" ref="checkboxListBox" v-show="detailId">
              <Checkbox class="best-checkbox-item" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}" v-for="(item, index) in detailPermissionDataList" :key="`detailPermission_${index}`" v-model="item.checked">
                <span>{{item.display_name}}</span>
              </Checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
      </div>
    </span>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- add modal -->
    <Modal v-model="addModal" width="800" :footer-hide="true">
      <div slot="header" class="modal-header"></div>
      <!-- LoadingView -->
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div class="modal-body">
        <div class="title">建立角色</div>
        <div class="mb-5">
          <div class="row">
            <div class="col colx2">
              <!-- 角色代碼 name -->
              <FloatLabelBox
              :config="{hasContent: (postData.name && postData.name!==''),
              label: '角色代碼 *',
              hasClearButton: true,
              background: 'white',
              type: `InputText`,
              settings: {height: 41}}"
              :code="`name`"
              :defaultValue="postData.name"
              :disabled="false"
              :isRequired="true"
              :isError="error.name"
              @changeModelEvent="inputTxtChangeEvent">
              </FloatLabelBox>
            </div>
            <div class="col colx2">
              <!-- 角色名稱 display_name -->
              <FloatLabelBox
              :config="{hasContent: (postData.display_name && postData.display_name!==''),
              label: '角色名稱 *',
              hasClearButton: true,
              background: 'white',
              type: `InputText`,
              settings: {height: 41}}"
              :code="`display_name`"
              :defaultValue="postData.display_name"
              :disabled="false"
              :isRequired="true"
              :isError="error.display_name"
              @changeModelEvent="inputTxtChangeEvent">
              </FloatLabelBox>
            </div>
          </div>
          <hr/>
          <div class="mt-3">
            <div class="title">請選擇權限</div>
            <div class="check-box">
              <Checkbox class="best-checkbox-item light-bg" v-for="(item, index) in permissionDataList" :key="`permission_${index}`" v-model="item.checked">
                <span>{{item.display_name}}</span>
              </Checkbox>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <Button class="best-outlined-gray-dark lg-btn w-100 mr-3" shape="circle" size="large" @click="closeAddModal">
            取消
          </Button>
          <Button class="best-blue lg-btn w-100" shape="circle" size="large" @click="save('create')">
            新增
          </Button>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
export default {
  name: 'RoleSetup',
  props: ['keyCode'],
  components: {
    FloatLabelBox,
    LoadingView,
    DataGrid,
    ComfirmRemoveModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.role[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    } // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    console.log(settingData)
    //
    return {
      Config: Config,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      modalType: 'create',
      //
      optType: null,
      // 角色總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [],
      toRestFilter: false,
      //
      detailId: null,
      detailData: {},
      detailPermissionDataList: [],
      // 角色建檔
      addModal: false,
      postData: {
        name: null, // 角色代碼
        display_name: null // 角色名稱
      },
      error: {
        name: false, // 角色代碼
        display_name: false // 角色名稱
      },
      permissionDataList: []
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    roleList: function () {
      let list = this.$store.state[`role`][`roleList`] || []
      return list
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    roleList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
        }
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        // console.log(val)
        if (val.name) {
          this.error.name = false
        }
        if (val.display_name) {
          this.error.display_name = false
        }
      },
      deep: true
    },
    detailPermissionDataList: {
      handler: function (val) {
        console.log(val)
      },
      deep: true
    },
    addModal: {
      handler: function (bol) {
        // console.log(bol)
        if (!bol) {
          this.init()
        }
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (data[item].logicalOperator === 'like') {
              filterAry.push([item, data[item].logicalOperator, `%${data[item].value}%`])
            } else {
              filterAry.push([item, data[item].logicalOperator, data[item].value])
            }
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      console.log('取得該列資訊 : ', data)
      // detail
      this.LoadingViewIsShow = true
      this.detailId = data.id
      this.detailData = data
      this.$store.dispatch(`role/queryDetail`, data.name).then((r) => {
        console.log(r)
        if (r.success) {
          this.detailPermissionDataList = []
          let data = JSON.parse(JSON.stringify(r.data.permissionData)) || []
          data.forEach((item, index) => {
            item.INDEX = index + 1
          })
          this.detailPermissionDataList = data
        } else {
          this.$Notice.error({
            title: '查詢失敗',
            desc: r.message,
            duration: 30
          })
        }
        this.LoadingViewIsShow = false
      })
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    add: function () {
      //
      this.detailId = null
      this.detailData = {}
      this.toRoleSetupAdd()
    },
    toRoleSetupAdd: function () {
      this.detailId = null
    },
    toStep2Event: function (id) {
      this.detailId = id
    },
    back: function () {
      //
      this.detailId = null
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      // console.log('Ok')
      this.getIds('remove')
    },
    // remove
    remove: function () {
      // console.log('remove', this.idsData)
      // 內頁單筆刪除
      if (!this.idsData) {
        if (this.detailId) {
          this.$store.dispatch('role/delete', this.detailId).then((r) => {
            // console.log(r)
            if (r.httpStatus === 200) {
              // 警告提示
              this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
              this.$Notice.success({
                title: '刪除成功'
              })
            } else {
              this.$Notice.error({
                title: '刪除失敗'
              })
            }
          })
          return
        }
        // console.log('remove')
        // 總覽多筆刪除
      }
      let selectIds = this.idsData.selectIds
      selectIds.forEach((id, index) => {
        this.$store.dispatch('role/delete', id).then((r) => {
          // console.log(r)
          if (r.httpStatus === 200) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
          } else {
            this.$Notice.error({
              title: '刪除失敗'
            })
          }
          //
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
        })
      })
      this.idsData = null
    },
    //
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    //
    reloadDataGrid: function () {
      this.isQuery = true
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      let filter = filterAry || []
      let sort = sortAry || []
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      var postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      // console.log(postData)
      //
      this.$store.dispatch(`role/query`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
        }
        this.isQuery = false
        this.LoadingViewIsShow = false
      })
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    scrollTo: function () {
      var num = null
      this.detailPermissionDataList.forEach((item) => {
        if (item.id === this.id) {
          num = item.INDEX
        }
      })
      if (!num && num !== 0) {
        // console.log('沒找到')
        return
      }
      // console.log(num)
      let scoll = 0
      for (let i = 0; i < num; i++) {
        // console.log(i)
        // console.log(document.getElementById(`no${i}`).clientHeight)
        scoll += document.getElementById(`no${i}`).clientHeight
      }
      // console.log(scoll)
      this.$nextTick(() => (this.$refs['checkboxListBox'].scrollTop = scoll))
    },
    inputTxtChangeEvent: function (data) {
      this.postData[data.code] = data.val
    },
    getPermissionDataList: function () {
      this.$store.dispatch(`permission/search`).then((r) => {
        console.log(r)
        if (r.success) {
          let data = JSON.parse(JSON.stringify(r.data))
          data.forEach((item, index) => {
            item.INDEX = index + 1
            item.checked = false
          })
          this.permissionDataList = data
        }
      })
    },
    save: function (type) {
      this.LoadingViewIsShow = true
      //
      let postData = {
        roleData: {},
        permissionData: []
      }
      switch (type) {
        case 'create':
          // 檢查主檔
          let isError = false
          if (!this.postData.name || this.postData.name === '') {
            isError = true
            this.error.name = true
          }
          if (!this.postData.display_name || this.postData.display_name === '') {
            isError = true
            this.error.display_name = true
          }
          if (isError) {
            this.LoadingViewIsShow = false
            return
          }
          postData.roleData = {
            name: this.postData.name,
            display_name: this.postData.display_name
          }
          this.permissionDataList.forEach((item) => {
            postData.permissionData.push(
              {
                name: item.name,
                checked: item.checked
              }
            )
          })
          this.$store.dispatch(`role/create`, postData).then((r) => {
            console.log(r)
            if (r.success) {
              this.LoadingViewIsShow = false
              this.$Notice.success({
                title: '新增成功',
                desc: '如不繼續新增請關閉視窗',
                duration: 30
              })
              this.init()
            } else {
              this.LoadingViewIsShow = false
              this.$Notice.error({
                title: '新增失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
        case 'update':
          postData.roleData = {
            id: this.detailId,
            name: this.detailData.name,
            display_name: this.detailData.display_name
          }
          this.detailPermissionDataList.forEach((item) => {
            postData.permissionData.push(
              {
                name: item.name,
                checked: item.checked
              }
            )
          })
          this.$store.dispatch(`role/update`, { postData: postData, detailId: this.detailData.name }).then((r) => {
            console.log(r)
            if (r.success) {
              this.LoadingViewIsShow = false
              this.$Notice.success({
                title: '更新成功'
              })
            } else {
              this.LoadingViewIsShow = false
              this.$Notice.error({
                title: '更新失敗',
                desc: r.message,
                duration: 30
              })
            }
          })
          break
      }
    },
    init: function () {
      this.postData = {
        name: null, // 角色代碼
        display_name: null // 角色名稱
      }
      this.error = {
        name: false, // 角色代碼
        display_name: false // 角色名稱
      }
    },
    showAddModalEvent: function () {
      this.addModal = true
    },
    closeAddModal: function () {
      this.addModal = false
    }
  },
  created () {
    //
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getPermissionDataList()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`role/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: auto;
  .row {
    display: flex;
    width: 100%;
    height: 100%;
    .col {
      flex: 1;
      height: 100%;
      margin-right: 15px;
      margin-left: 15px;
    }
    .col-line {
      // flex: 0 0 25%;
      // width: 25%;
      // height: 100%;
      // margin-right: 15px;
      // margin-left: 15px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        background: #D8D8D8;
        right: -15px;
        top: 0;
      }
    }
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .body-box {
    width: 100%;
    height: calc(100% - 46px - 16px);
  }
  .checkbox-list {
    width: 100%;
    height: calc(100% - 46px - 8px);
    overflow-y: auto;
  }
}
.best-checkbox-item {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.modal-body {
  width: 100%;
  height: auto;
  padding: 0 45px 24px;
  position: relative;
  .title {
    width: fit-content;
    font-family: PingFangTC;
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 400;
    color: #3c3c3c;
  }
  .row {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .col {
      flex: 0 0 25%;
      height: auto;
      margin-bottom: 34px;
      padding-right: 16px;
      display: flex;
      align-items: center;
      &.colx2 {
        flex: 0 0 50%;
      }
      &.iswitch {
        display: block;
        .label-box {
          font-size: 12px;
          color: #3c3c3c;
          padding-bottom: 10px;
        }
        .body-box {
          display: block;
        }
      }
    }
  }
  .check-box {
    height: 300px;
    overflow-y: auto;
  }
  .footer {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .applyToSelect {
      width: 200px;
      margin-right: 15px;
      /deep/
      .ivu-select-arrow {
        top: 50%;
      }
    }
    .saveBtn {
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      background-color: #354361;
      color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
</style>
