<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 費用項目總覽 -->
    <span v-show="step===0">
      <div
      class="title"
      :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}"
      >
        <span>費用項目總覽</span>
        <div class="btn-box r">
          <Button class="icon-btn-md mr-3" @click="toSettingfeeSetupAdd">
            <font-awesome-icon icon="plus" />
          </Button>
          <Button class="icon-btn-md mr-3" @click="comfirmRemove">
            <font-awesome-icon icon="minus" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reloadDataGrid">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <div class="btn-box l">
          <!-- <Button
            class="layoutBtn"
            type="default"
            shape="circle"
            @click="showImportModal"
          >費用項目資料匯入</Button> -->
          <!-- <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button> -->
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="fee_id"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- dataexport btn -->
        <!-- <div class="dataexportBtn" @click="dataexport">
          <font-awesome-icon icon="file-download" size="2x" />
        </div> -->
      </div>
    </span>
      <!-- 費用項目建檔 -->
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title">
          <span>費用項目建檔</span>
          <div class="btn-box l">
            <Button class="icon-btn-md yellow ml-3" @click="back">
              <Icon type="ios-undo" size="18"/>
            </Button>
            <Button class="icon-btn-md ml-3" v-if="step===2" @click="toSettingfeeSetupAdd">
              <font-awesome-icon icon="plus" />
            </Button>
            <Button class="icon-btn-md ml-3" v-if="step===2" @click="comfirmRemove">
              <font-awesome-icon icon="minus" />
            </Button>
            <Button class="icon-btn-md solid ml-3" @click="reload(detailId)">
              <font-awesome-icon icon="sync" />
            </Button>
          </div>
        </h2>
      <div class="body-box">
        <SettingfeeSetupAdd
          :step="step"
          :detailId="detailId"
          :cloneData="cloneData"
          v-on:toStep2Event="toStep2Event"
          v-on:backEvent="setStep"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></SettingfeeSetupAdd>
      </div>
    </span>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <!-- <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal> -->
    <!-- import modal -->
    <!-- <ImportModal
      :importModal="importModalToggle"
      :importModalTitle="importModalTitle"
      :importExampleFile="importExampleFile"
      :importUploadURL="importUploadURL"
      :importLoadingViewIsShow="importLoadingViewIsShow"
      v-on:importEvent="importEvent"
      v-on:beforeUploadEvent="beforeUploadEvent"
      v-on:setImportModalEvent="setImportModalEvent"
    ></ImportModal> -->
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import SettingfeeSetupAdd from './components/SettingfeeSetupAdd'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
// import DataexportModal from '@/components/DataexportModal/DataexportModal'
// import ImportModal from '@/components/ImportModal/ImportModal'
//
export default {
  name: 'SettingfeeSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    SettingfeeSetupAdd,
    ComfirmRemoveModal,
    ColumnControlModal
    // DataexportModal,
    // ImportModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      // isOverview: true,
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'is_enabled') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    //
    settingData = defaultSettingData
    // console.log(settingData)
    //
    return {
      Config: Config,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      uiId: this.$store.state.auth.userInfo.uiId,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      // 總覽匯出
      // dataexportModal: false,
      // dataexportTitle: '費用項目總覽',
      // importModal
      // importModalToggle: false,
      // importModalTitle: '費用項目',
      // importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.importSettingfee.upload}`,
      // importExampleFile: 'settingfee_format.xlsx',
      // importLoadingViewIsShow: false,
      //
      step: 0, // 0: 費用項目總覽 / 1:費用項目建檔 / 2:費用項目 detail / 3:clone
      // 費用項目總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      cloneData: null,
      isQuery: false,
      isEnabledFilterData: [],
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      // 費用項目建檔
      detailId: null,
      //
      timeZoneTimestamp: ''
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    settingfeeList: function () {
      let list = this.$store.state[`settingfee`][`settingfeeList`] || []
      // console.log(list)
      return list
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    settingfeeList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            if (item.created_at) {
              item.created_at = this.changeToLocalTime(item.created_at)
            }
            if (item.update_at) {
              item.update_at = this.changeToLocalTime(item.update_at)
            }
          })
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    isEnabledFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'is_enabled') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 真移除
      // this.settingData.columns = this.settingData.columns.filter((ele, idx) => {
      //   if (ele.property === property) {
      //     return false
      //   } else {
      //     return true
      //   }
      // })
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            if (item === 'is_enabled' && data[item].value.length > 0) {
              return
            }
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      if (this.detailId) {
        this.remove()
      }
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
      }
      // switch (this.optType) {
      //   case 'clone':
      //     this.step = 1
      //     this.cloneData = data.list[0]
      //     break
      // }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 費用項目 detail
      this.LoadingViewIsShow = true
      this.detailId = data.fee_id
      this.step = 2
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 前往費用項目總覽
    toSettingfeeSetup: function () {
      this.step = 0
    },
    back: function () {
      //
      this.detailId = null
      this.toSettingfeeSetup()
    },
    // 前往費用項目建檔
    toSettingfeeSetupAdd: function () {
      this.step = 1
      this.detailId = null
    },
    toStep2Event: function (id) {
      this.detailId = id
      this.step = 2
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    // remove
    remove: function () {
      // console.log('remove', this.idsData)
      // 內頁單筆刪除
      if (!this.idsData) {
        if (this.detailId) {
          this.$store.dispatch('settingfee/delete', this.detailId).then((r) => {
            // console.log(r)
            if (r.httpStatus === 200 || r.httpStatus === 201) {
              // 警告提示
              this.$Notice.success({
                title: '刪除成功'
              })
              this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
              setTimeout(() => {
                this.step = 0
              }, 500)
            } else {
              this.$Notice.error({
                title: '刪除失敗'
              })
            }
          })
        }
        return
      }
      // console.log('remove')
      //
      let selectIds = this.idsData.selectIds
      selectIds.forEach((id, index) => {
        // console.log(id)
        this.$store.dispatch('settingfee/delete', id).then((r) => {
          // console.log(r)
          if (r.httpStatus === 200 || r.httpStatus === 201) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
          } else {
            this.$Notice.error({
              title: '刪除失敗'
            })
          }
          //
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
        })
      })
      this.idsData = null
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    setStep: function (step) {
      this.step = step
    },
    //
    reloadDataGrid: function () {
      this.isQuery = true
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    reload: function (feeId) {
      this.LoadingViewIsShow = true
      this.getDetail(feeId)
    },
    getDetail: function (feeId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'fee_id',
            queryValue: feeId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`settingfee/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.LoadingViewIsShow = false
      })
    },
    //
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      var filter = [
        {
          queryCondition: '=',
          queryValue: this.companyId,
          queryField: 'company_id'
        }
      ]
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      let postData = {
        page: pageNumber,
        pageSize: pageSize,
        combinedCondition: 'AND',
        query: filter,
        sort: sort
      }
      // console.log(postData)
      //
      this.$store.dispatch(`settingfee/query`, postData).then((r) => {
        // console.log(r)
        if (r) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.dataList = r.respondCode.additionals['settingFee']
        }
        this.isQuery = false
      })
    },
    // 已啟用 is_enabled
    getIsEnabledFilterData: function () {
      this.isEnabledFilterData = [
        {
          value: 0,
          label: '未啟用'
        },
        {
          value: 1,
          label: '已啟用'
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    // ImportModal Start
    // showImportModal: function () {
    //   this.importModalToggle = true
    // },
    // setImportModalEvent: function (bol) {
    //   // console.log(bol)
    //   this.importModalToggle = bol
    // },
    // beforeUploadEvent: function () {
    //   this.importLoadingViewIsShow = true
    // },
    // errorRequest: function (res, file) {
    //   // console.log(res)
    //   // console.log(file)
    //   //
    //   this.$Notice.error({
    //     title: '檔案上傳失敗'
    //   })
    //   this.importLoadingViewIsShow = false
    // },
    // importEvent: function (data) {
    //   // console.log(data)
    //   let csvSeperator = ''
    //   // console.log(this.postData.csvSeperator)
    //   switch (data.csvSeperator) {
    //     case 'colon':
    //       csvSeperator = ':'
    //       break
    //     case 'semicolon':
    //       csvSeperator = ';'
    //       break
    //     case 'comma':
    //       csvSeperator = ','
    //       break
    //     case 'space':
    //       csvSeperator = ' '
    //       break
    //     case 'verticalBar':
    //       csvSeperator = '|'
    //       break
    //   }
    //   let postData = {
    //     companyId: this.companyId,
    //     whId: this.whId,
    //     csvSeperator: csvSeperator,
    //     fileContentType: data.fileContentType,
    //     fileName: data.fileName,
    //     fileStoragePath: data.fileStoragePath,
    //     fileType: data.fileType
    //   }
    //   this.$store.dispatch('importSettingfee/import', postData).then((r) => {
    //     // console.log(r)
    //     let rex = /^[2]/g
    //     if (rex.test(r.httpStatus)) {
    //       this.$Notice.success({
    //         title: '檔案上傳成功'
    //       })
    //       this.importLoadingViewIsShow = false
    //       this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    //     } else {
    //       this.$Notice.error({
    //         title: '檔案上傳失敗',
    //         desc: `${r.data.respondCode.debugInfo}`,
    //         duration: 30
    //       })
    //       this.importLoadingViewIsShow = false
    //     }
    //   })
    // },
    // ImportModal END
    // dataexport modal
    // dataexport: function () {
    //   // console.log('總覽匯出')
    //   this.dataexportModal = true
    // },
    // setDataexportModalEvent: function (bol) {
    //   this.dataexportModal = bol
    // },
    // dataexportModalCancelEvent: function (bol) {
    //   this.dataexportModal = bol
    // },
    // dataexportModalOkEvent: function (data) {
    //   this.LoadingViewIsShow = true
    //   this.dataexportModal = data.bol
    //   // console.log(data.postData)
    //   let postData = {
    //     queryExpression: {},
    //     exportFields: [],
    //     exportSettings: {}
    //   }
    //   let exportFields = []
    //   this.settingData.columns.forEach((element, index) => {
    //     // console.log(element)
    //     if (element.isNotRemove) {
    //       if (element.property === 'INDEX') {
    //         return
    //       }
    //       if (element.property === 'SELECT') {
    //         return
    //       }
    //       // if (element.property === 'isEnabled') {
    //       //   exportFields.push({
    //       //     fieldName: 'is_enabled',
    //       //     displayName: element.displayName
    //       //   })
    //       //   return
    //       // }
    //       exportFields.push({
    //         fieldName: element.property,
    //         displayName: element.displayName
    //       })
    //     }
    //   })
    //   //
    //   postData.queryExpression.page = data.postData.page
    //   postData.queryExpression.pageSize = this.settingData.page.totalCount
    //   postData.queryExpression.combinedCondition = 'AND'
    //   postData.queryExpression.query = this.filterAry
    //   postData.queryExpression.sort = this.sortAry
    //   postData.exportFields = exportFields
    //   postData.exportSettings.exportFileName = data.postData.exportFileName
    //   postData.exportSettings.exportFormat = data.postData.exportFormat
    //   //
    //   let csvSeperator = ''
    //   switch (data.postData.csvSeperator) {
    //     case 'colon':
    //       csvSeperator = ':'
    //       break
    //     case 'semicolon':
    //       csvSeperator = ';'
    //       break
    //     case 'comma':
    //       csvSeperator = ','
    //       break
    //     case 'space':
    //       csvSeperator = ' '
    //       break
    //     case 'verticalBar':
    //       csvSeperator = '|'
    //       break
    //   }
    //   postData.exportSettings.csvSeperator = csvSeperator
    //   // console.log(postData)
    //   //
    //   this.$store.dispatch(`settingfee/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
    //     // console.log(r)
    //     let rex = /^[2]/g
    //     if (rex.test(r.httpStatus)) {
    //       // console.log('下載檔案')
    //       window.open(`${Config.API.baseURL}${r.respondCode.additionals.dataExport.download_link}`)
    //     }
    //     this.LoadingViewIsShow = false
    //   })
    // },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    //
    this.getTimeZoneTimestamp()
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getIsEnabledFilterData()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`settingfee/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  // position: relative;
  width: 100%;
  height: calc(100% - 4px);
  padding: 20px;
  overflow: auto;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
    }
    .btn-box.l {
      display: flex;
      width: auto;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 42px - 30px);
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > span {
    font-size: 12.5px;
  }
  &.solid{
    background-color: #515a6e;
    >span{
      color: #ffffff;
    }
  }
  &.yellow{
    background-color: #dca558;
    border: 2px solid #dca558;
    >span{
      color: #ffffff;
    }
  }
}
.layoutBtn{
  min-width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  &.save{
    background-color: #56504f;
    color: #ffffff;
  }
}
</style>
