<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 選單總覽 -->
    <span v-show="step===0">
      <div
      class="title"
      :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}"
      >
        <span>選單總覽</span>
        <div class="btn-box r">
          <Button class="icon-btn-md mr-3" @click="toSettingMenuSetupAdd">
            <font-awesome-icon icon="plus" />
          </Button>
          <!-- <Button class="icon-btn-md mr-3" @click="comfirmRemove">
            <font-awesome-icon icon="minus" />
          </Button> -->
          <Button class="icon-btn-md solid mr-3" @click="reloadDataGrid">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
      </div>
      <div class="body-box">
        <div class="row w-100 h-100">
          <Card class="col-4">
            <h3 class="sub-title mb-2" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">
                <span>主選單</span>
            </h3>
            <div class="table-container">
              <div class="thead">
                <span>代碼</span>
                <span>名稱</span>
                <span>下層</span>
              </div>
              <div class="tbody">
                <div
                  class="trow"
                  :class="{isChecked: item['SELECTED']}"
                  v-for="(item, index) in mainMenu"
                  :key="index"
                  @dblclick="showDetailModal(item, index)"
                >
                  <span>{{item.menu_code}}</span>
                  <span>{{item.menu_name}}</span>
                  <span class="next-level-btn" @click="getSubMenu(item, index)">
                    <font-awesome-icon icon="caret-right" v-if="item.is_item === 0"/>
                  </span>
                </div>
              </div>
            </div>
          </Card>
          <Card class="col-8">
            <h3 class="sub-title mb-2" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">
              <div class="left-box">
                <span class="mr-3" :class="{blue: parentMenu2}">{{parentMenu2 ? parentMenu2.menu_name : '次選單'}}</span>
                <Button class="icon-btn-md mr-3" v-show="mainStep > 0" @click="showDetailModal(parentMenu2 ? thirdMenu[0] : subMenu[0])">
                  <font-awesome-icon icon="plus" />
                </Button>
                <Button class="icon-btn-md mr-3" v-show="mainStep > 0" @click="comfirmRemove">
                  <font-awesome-icon icon="minus" />
                </Button>
              </div>
              <div class="right-box">
                <Tooltip content="回到上一層">
                  <Button class="icon-btn-md yellow" v-show="parentMenu2" @click="backToSubMenu">
                    <font-awesome-icon icon="reply" />
                  </Button>
                </Tooltip>
              </div>
            </h3>
            <div v-show="!parentMenu2" class="table-container v2">
              <div class="thead">
                <span class="checkbox">
                  <Checkbox v-model="subMenuSelectedAll"></Checkbox>
                </span>
                <span>代碼</span>
                <span>名稱</span>
                <span>下層</span>
              </div>
              <div class="tbody">
                <div
                  class="trow"
                  :class="{isChecked: item['SELECTED']}"
                  v-for="(item, index) in subMenu"
                  :key="index"
                  @dblclick="showDetailModal(item, index)"
                >
                  <span><Checkbox v-model="item.SELECTED"></Checkbox></span>
                  <span>{{item.menu_code}}</span>
                  <span>{{item.menu_name}}</span>
                  <span class="next-level-btn" @click="getThirdMenu(item, index)">
                    <font-awesome-icon icon="caret-right" v-if="item.is_item === 0"/>
                  </span>
                </div>
              </div>
            </div>
            <div v-show="parentMenu2" class="table-container v2">
              <div class="thead">
                <span class="checkbox">
                  <Checkbox v-model="thirdMenuSelectedAll"></Checkbox>
                </span>
                <span>代碼</span>
                <span>名稱</span>
              </div>
              <div class="tbody">
                <div
                  class="trow"
                  :class="{isChecked: item['SELECTED']}"
                  v-for="(item, index) in thirdMenu"
                  :key="index"
                  @dblclick="showDetailModal(item, index)"
                >
                  <span><Checkbox v-model="item.SELECTED"></Checkbox></span>
                  <span>{{item.menu_code}}</span>
                  <span>{{item.menu_name}}</span>
                </div>
              </div>
            </div>
          </Card>
        </div>
        <!-- <DataGrid
          idKeyName="menu_id"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid> -->
      </div>
    </span>
    <!-- 選單建檔 -->
    <span v-if="step===1 || step===2|| step===3">
      <h2 class="title">
          <span>選單建檔</span>
          <div class="btn-box l">
            <Button class="icon-btn-md yellow ml-3" @click="back">
              <Icon type="ios-undo" size="18"/>
            </Button>
            <Button class="icon-btn-md ml-3" @click="toSettingMenuSetupAdd" v-if="step===2|| step===3">
              <font-awesome-icon icon="plus" />
            </Button>
            <!-- <Button class="icon-btn-md ml-3" @click="comfirmRemove" v-if="step===2|| step===3">
              <font-awesome-icon icon="minus" />
            </Button> -->
            <Button class="icon-btn-md solid ml-3" @click="reload(detailId)">
              <font-awesome-icon icon="sync" />
            </Button>
          </div>
        </h2>
      <div class="body-box">
        <SettingMenuSetupAdd
          :step="step"
          :detailId="detailId"
          :cloneData="cloneData"
          v-on:backEvent="setStep"
          v-on:toStep2Event="toStep2Event"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></SettingMenuSetupAdd>
      </div>
    </span>
    <Modal v-model="detailModal" width="800" :footer-hide="true" @on-cancel="detailModal = false" class="updateModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <!-- LoadingView -->
        <LoadingView :show="LoadingViewIsShow"></LoadingView>
        <div class="mb-1">
          <h2 class="title mb-3">
            <span>選單詳細設定</span>
          </h2>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <!-- 選單代碼 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.menu_code && postData.menu_code!==''), label: `選單代碼 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`menu_code`"
                  :defaultValue="postData.menu_code"
                  :isError="error.menu_code"
                  :isRequired="true"
                  :disabled="!!postData.menu_id"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 選單名稱 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.menu_name && postData.menu_name!==''), label: `選單名稱 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`menu_name`"
                  :defaultValue="postData.menu_name"
                  :isError="error.menu_name"
                  :isRequired="true"
                  :disabled="false"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 上一層選單 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.root_name && postData.root_name!==''), label: '上一層選單', hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true }"
                  :code="`menu_id`"
                  :autoCompleteData="rootList"
                  :defaultValue="postData.root_name"
                  :modalTitle="`上一層選單代碼`"
                  :toCloseModal="toCloseRootAutocompleteModal"
                  keyCode="settingMenu"
                  storeKey="settingMenu"
                  returnCode="menu_name"
                  :disabled="!!postData.menu_id"
                  :showCols="autoCompleteShowRootCols"
                  @handleEnterSubmit="autocompleteHandleRootEnterSubmitEvent"
                  @changeModelEvent="rootAutocompleteChangeEvent"
                  @autoCompleteSearchEvent="rootAutoCompleteSearchEvent"
                  @setToCloseModalEvent="setToCloseRootAutocompleteModal">
                    <div>
                      <!-- 上一層選單代碼-->
                      <AutocompleteModal
                      keyCode="settingMenu"
                      storeKey="settingMenu"
                      returnCode="menu_name"
                      :condition="rootCondition"
                      @setAutocompleteValueEvent="setAutocompleteRootValue"></AutocompleteModal>
                    </div>
                  </FloatLabelBox>
              </div>
              <div class="col">
                <!-- 是否為功能 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.is_item!==null && postData.is_item!==''), label: `是否為功能 *`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
                  :selectList="isItemList"
                  :code="`is_item`"
                  :defaultValue="postData.is_item"
                  :disabled="!!postData.menu_id"
                  @changeModelEvent="isItemListChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col">
                <!-- 選單階層 menu_level -->
                <FloatLabelBox
                :config="{hasContent: (postData.menu_level && postData.menu_level!==''), label: `選單階層 *`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
                :code="`menu_level`"
                :defaultValue="postData.menu_level"
                :isError="error.menu_level"
                :isRequired="true"
                :disabled="!!postData.menu_id"
                @changeModelEvent="inputNumChangeEvent">
                </FloatLabelBox>
              </div>
              <div class="col">
                <!-- 選單預設排序 menu_sort -->
                <FloatLabelBox
                :config="{hasContent: (postData.menu_sort && postData.menu_sort!==''), label: `選單預設排序 *`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
                :code="`menu_sort`"
                :defaultValue="postData.menu_sort"
                :isError="error.menu_sort"
                :isRequired="true"
                @changeModelEvent="inputNumChangeEvent">
                </FloatLabelBox>
              </div>
              <div class="col">
                <!-- 選單功能網址路徑 -->
                <FloatLabelBox
                  :config="{hasContent: (postData.menu_path && postData.menu_path!==''), label: `選單功能網址路徑`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                  :code="`menu_path`"
                  :defaultValue="postData.menu_path"
                  :disabled="false"
                  @changeModelEvent="inputTxtChangeEvent"
                ></FloatLabelBox>
              </div>
              <div class="col iswitch">
                <!-- 啟用 -->
                <div class="label-box">啟用</div>
                <div class="body-box">
                  <i-Switch v-model="postData.is_enabled" size="large" :true-value="1" :false-value="0">
                    <span slot="open">是</span>
                    <span slot="close">否</span>
                  </i-Switch>
                </div>
              </div>
            </div>
            <div class="footer">
              <!-- save btn -->
              <div class="saveBtn" @click="comfirmSave">
                <font-awesome-icon icon="save" size="2x"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
// import DataGrid from '@/components/dataGrid/DataGrid'
import SettingMenuSetupAdd from './components/SettingMenuSetupAdd'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
export default {
  name: 'SettingMenuSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    // DataGrid,
    SettingMenuSetupAdd,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    FloatLabelBox,
    AutocompleteModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    } // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'is_item') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'is_enabled') {
        filterType = 'Select'
        valueType = 'Select'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    // console.log(settingData)
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      //
      modalType: modalType,
      //
      step: 0, // 0: 選單總覽 / 1:選單建檔 / 2:選單 detail / 3:clone
      optType: null,
      // 選單總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      idsData: null,
      cloneData: null,
      isQuery: false,
      isItemFilterData: [],
      isEnabledFilterData: [],
      filterAry: [],
      sortAry: [{ sortField: 'menu_sort', sortValue: 'asc' }],
      // 選單建檔
      detailId: null,
      //
      timeZoneTimestamp: '',
      //
      mainStep: 0,
      mainMenu: [],
      subMenu: [],
      subMenuSelectedAll: false,
      thirdMenu: [],
      thirdMenuSelectedAll: false,
      parentMenu1: null,
      parentMenu2: null,
      //
      detailModal: false,
      postData: {
        menu_id: null, // 選單ID
        root_id: null, // 上一層選單ID
        root_name: null, // 上一層選單
        is_item: 0, // 是否為功能
        menu_level: 1, // 選單階層
        menu_sort: 1, // 選單預設排序
        menu_code: null, // 選單代碼
        menu_name: null, // 選單名稱
        menu_path: null, // 選單功能網址路徑
        is_enabled: 1 // 已啟用
      },
      error: {
        menu_id: false, // 選單ID
        root_id: false, // 上一層選單ID
        root_name: false, // 上一層選單
        is_item: false, // 是否為功能
        menu_level: false, // 選單階層
        menu_sort: false, // 選單預設排序
        menu_code: false, // 選單代碼
        menu_name: false, // 選單名稱
        menu_path: false, // 選單功能網址路徑
        is_enabled: false // 已啟用
      },
      /* 上一層選單 : root_id */
      rootList: [],
      autoCompleteShowRootCols: [
        'menu_code'
      ],
      toCloseRootAutocompleteModal: false,
      rootCondition: [],
      /* 是否為功能 : is_item */
      isItemList: [{
        value: 0,
        label: '分類'
      },
      {
        value: 1,
        label: '功能'
      }]
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    settingMenuList: function () {
      let list = this.$store.state[`settingMenu`][`settingMenuList`] || []
      // console.log(list)
      return list
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    settingMenuList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    isItemFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'is_item') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    isEnabledFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'is_enabled') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    subMenuSelectedAll: {
      handler: function (bol) {
        this.subMenu.forEach((item) => {
          item.SELECTED = bol
        })
      },
      deep: true
    },
    thirdMenuSelectedAll: {
      handler: function (bol) {
        this.thirdMenu.forEach((item) => {
          item.SELECTED = bol
        })
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        if (val.menu_code) {
          this.error.menu_code = false
        }
        if (val.menu_name) {
          this.error.menu_name = false
        }
        if (val.menu_level) {
          this.error.menu_level = false
        }
        if (val.menu_sort) {
          this.error.menu_sort = false
        }
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            if (item === 'is_item' && data[item].value.length > 0) {
              return
            }
            if (item === 'is_enabled' && data[item].value.length > 0) {
              return
            }
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      if (this.detailId) {
        this.remove()
      }
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 選單 detail
      this.LoadingViewIsShow = true
      this.detailId = data.menu_id
      this.step = 2
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    add: function () {
      //
      this.detailId = null
      this.toSettingMenuSetupAdd()
    },
    // 前往選單建檔
    toSettingMenuSetupAdd: function () {
      this.step = 1
      this.detailId = null
    },
    toStep2Event: function (id) {
      this.detailId = id
      this.step = 2
    },
    back: function () {
      //
      this.detailId = null
      this.step = 0
    },
    setStep: function (step) {
      this.step = step
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      // this.getIds('remove')
      this.remove()
    },
    // remove
    remove: async function () {
      // console.log('remove', this.idsData)
      // 內頁單筆刪除
      switch (this.step) {
        case 1:
        case 2:
        case 3:
          if (!this.idsData) {
            if (this.detailId) {
              this.$store.dispatch('settingMenu/delete', this.detailId).then((r) => {
                // console.log(r)
                if (r.httpStatus === 200) {
                  // 警告提示
                  this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
                  this.$Notice.success({
                    title: '刪除成功'
                  })
                  setTimeout(() => {
                    this.step = 0
                  }, 500)
                } else {
                  this.$Notice.error({
                    title: '刪除失敗'
                  })
                }
              })
            }
          }
          break
        case 0:
          this.LoadingViewIsShow = true
          if (this.parentMenu2) {
            let thirdMenuLength = this.thirdMenu.length
            for (let i = 0; i < thirdMenuLength; i++) {
              if (this.thirdMenu[i].SELECTED) {
                await this.$store.dispatch('settingMenu/delete', this.thirdMenu[i].menu_id)
              }
            }
            await this.getMenuData(3, this.thirdMenu[0].root_id)
            this.$Notice.success({
              title: '刪除完畢'
            })
          } else {
            let subMenuLength = this.subMenu.length
            for (let i = 0; i < subMenuLength; i++) {
              if (this.subMenu[i].SELECTED) {
                await this.$store.dispatch('settingMenu/delete', this.subMenu[i].menu_id)
              }
            }
            await this.getMenuData(2, this.subMenu[0].root_id)
            this.$Notice.success({
              title: '刪除完畢'
            })
          }
          break
      }
      // if (!this.idsData) {
      //   if (this.detailId) {
      //     this.$store.dispatch('settingMenu/delete', this.detailId).then((r) => {
      //       // console.log(r)
      //       if (r.httpStatus === 200) {
      //         // 警告提示
      //         this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      //         this.$Notice.success({
      //           title: '刪除成功'
      //         })
      //         setTimeout(() => {
      //           this.step = 0
      //         }, 500)
      //       } else {
      //         this.$Notice.error({
      //           title: '刪除失敗'
      //         })
      //       }
      //     })
      //   }
      //   return
      // }
      // console.log('remove')
      // // 總覽多筆刪除
      // let selectIds = this.idsData.selectIds
      // selectIds.forEach((id, index) => {
      //   // console.log(id)
      //   this.$store.dispatch('settingMenu/delete', id).then((r) => {
      //     // console.log(r)
      //     if (r.httpStatus === 200) {
      //       // 警告提示
      //       this.$Notice.success({
      //         title: '刪除成功'
      //       })
      //     } else {
      //       this.$Notice.error({
      //         title: '刪除失敗'
      //       })
      //     }
      //     //
      //     this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      //   })
      // })
      // this.idsData = null
    },
    //
    toScroll: function (anchor) {
      // console.log(anchor)
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    reload: function (menuId) {
      this.LoadingViewIsShow = true
      this.getDetail(menuId)
    },
    getDetail: function (menuId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'menu_id',
            queryValue: menuId
          }
        ],
        sort: []
      }
      //
      console.log('跑22222222222')
      this.$store.dispatch(`settingMenu/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.LoadingViewIsShow = false
      })
    },
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      let filter = filterAry || []
      let sort = sortAry || []
      //
      let postData = {
        page: pageNumber,
        pageSize: pageSize,
        combinedCondition: 'AND',
        query: filter,
        sort: sort
      }
      // console.log(postData)
      //
      this.$store.dispatch(`settingMenu/query`, postData).then((r) => {
        // console.log(r)
        if (r) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
        }
        //
        this.isQuery = false
      })
    },
    getMenuData: function (type, id) {
      this.LoadingViewIsShow = true
      let postData = {
        page: 1,
        pageSize: 100,
        combinedCondition: 'AND',
        query: [{
          queryCondition: '=',
          queryField: 'menu_level',
          queryValue: type
        }],
        sort: [{ sortField: 'menu_sort', sortValue: 'asc' }]
      }
      if (id) {
        postData.query.push({
          queryCondition: '=',
          queryField: 'root_id',
          queryValue: id
        })
      }
      this.$store.dispatch(`settingMenu/search`, postData).then((r) => {
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          let list = r.respondCode.additionals['settingMenu']
          list.forEach((item) => {
            item.SELECTED = false
          })
          switch (type) {
            case 1:
              this.mainMenu = list
              this.mainStep = 0
              break
            case 2:
              this.subMenu = list
              this.mainStep = type
              this.parentMenu2 = null
              break
            case 3:
              this.thirdMenu = list
              this.mainStep = type
              break
          }
          this.LoadingViewIsShow = false
        } else if (r.httpStatus !== 401) {
          this.LoadingViewIsShow = false
        }
      })
    },
    getSubMenu: function (data, index) {
      // console.log(data)
      let list = [...this.mainMenu]
      list.forEach((item) => {
        item.SELECTED = false
      })
      list[index].SELECTED = true
      // console.log(list)
      this.mainMenu = list
      //
      if (data.is_item === 1) {
        this.subMenu = []
        return
      }
      //
      this.parentMenu1 = data
      this.getMenuData(2, data.menu_id)
    },
    getThirdMenu: function (data, index) {
      let list = [...this.subMenu]
      list.forEach((item) => {
        item.SELECTED = false
      })
      list[index].SELECTED = true
      this.subMenu = list
      if (data.is_item === 1) {
        return
      }
      //
      this.parentMenu2 = data
      this.getMenuData(3, data.menu_id)
    },
    backToSubMenu: function () {
      this.mainStep = 2
      this.parentMenu2 = null
      this.thirdMenu = []
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    // 是否為功能 is_item
    getIsItemFilterData: function () {
      this.isItemFilterData = [
        {
          value: 0,
          label: '分類'
        },
        {
          value: 1,
          label: '功能'
        }
      ]
    },
    // 已啟用 is_enabled
    getIsEnabledFilterData: function () {
      this.isEnabledFilterData = [
        {
          value: 0,
          label: '未啟用'
        },
        {
          value: 1,
          label: '已啟用'
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    showDetailModal: function (data, index) {
      console.log(data)
      this.detailModal = true
      //
      let list = []
      switch (data.menu_level) {
        case 1:
          list = [...this.mainMenu]
          break
        case 2:
          list = [...this.subMenu]
          break
        case 3:
          list = [...this.thirdMenu]
          break
      }
      list.forEach((item) => {
        item.SELECTED = false
      })
      if (index || index === 0) {
        list[index].SELECTED = true
      }
      switch (data.menu_level) {
        case 1:
          this.mainMenu = list
          break
        case 2:
          this.subMenu = list
          break
        case 3:
          this.thirdMenu = list
          break
      }
      //
      if (index || index === 0) {
        this.postData = {
          menu_id: data.menu_id || null, // 選單ID
          root_id: data.root_id || null, // 上一層選單ID
          root_name: data.root_name || null, // 上一層選單
          is_item: data.is_item || 0, // 是否為功能
          menu_level: data.menu_level, // 選單階層
          menu_sort: data.menu_sort, // 選單預設排序
          menu_code: data.menu_code || null, // 選單代碼
          menu_name: data.menu_name || null, // 選單名稱
          menu_path: data.menu_path || null, // 選單功能網址路徑
          is_enabled: data.is_enabled // 已啟用
        }
      } else {
        this.postData = {
          menu_id: null, // 選單ID
          root_id: data.root_id || null, // 上一層選單ID
          root_name: data.root_name || null, // 上一層選單
          is_item: 1, // 是否為功能
          menu_level: data.menu_level, // 選單階層
          menu_sort: null, // 選單預設排序
          menu_code: null, // 選單代碼
          menu_name: null, // 選單名稱
          menu_path: null, // 選單功能網址路徑
          is_enabled: 1 // 已啟用
        }
        switch (data.menu_level) {
          case 1:
            this.postData.menu_sort = this.mainMenu.length + 1
            break
          case 2:
            this.postData.menu_sort = this.subMenu.length + 1
            break
          case 3:
            this.postData.menu_sort = this.thirdMenu.length + 1
            break
        }
      }
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      // this.save('clone')
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    save: async function () {
      this.LoadingViewIsShow = true
      let isError = false
      //
      if (!this.postData.is_item && this.postData.is_item !== 0) {
        isError = true
        this.error.is_item = true
      }
      if (!this.postData.menu_level || this.postData.menu_level === '') {
        isError = true
        this.error.menu_level = true
      }
      if (!this.postData.menu_sort || this.postData.menu_sort === '') {
        isError = true
        this.error.menu_sort = true
      }
      if (!this.postData.menu_code || this.postData.menu_code === '') {
        isError = true
        this.error.menu_code = true
      }
      if (!this.postData.menu_name || this.postData.menu_name === '') {
        isError = true
        this.error.menu_name = true
      }
      //
      if (isError) {
        this.LoadingViewIsShow = false
        return
      }
      //
      let postData = {
        root_id: this.postData.root_id || 0, // 上一層選單ID
        is_item: this.postData.is_item, // 是否為功能
        menu_level: this.postData.menu_level, // 選單階層
        menu_sort: this.postData.menu_sort, // 選單預設排序
        menu_code: this.postData.menu_code, // 選單代碼
        menu_name: this.postData.menu_name, // 選單名稱
        is_enabled: Number(this.postData.is_enabled) // 已啟用
      }
      if (this.postData.menu_id) {
        // update
        let menuRes = await this.$store.dispatch('settingMenu/update', { id: this.postData.menu_id, data: postData })
        if (menuRes.httpStatus === 200 || menuRes.httpStatus === 201 || menuRes.httpStatus !== 401) {
          this.$Notice.success({
            title: '更新成功'
          })
          this.LoadingViewIsShow = false
        }
      } else {
        // create
        let menuRes = await this.$store.dispatch('settingMenu/create', postData)
        if (menuRes.httpStatus === 200 || menuRes.httpStatus === 201) {
          this.postData.menu_id = menuRes.respondCode.additionals.settingMenu.menu_id
          let permissionPostData = {
            menu_id: this.postData.menu_id,
            permission_code: postData.menu_code,
            permission_name: postData.menu_name,
            is_enabled: postData.is_enabled
          }
          let permissionRes = await this.$store.dispatch('permission/create', permissionPostData)
          if (permissionRes.httpStatus === 200 || permissionRes.httpStatus === 201) {
            let permissionId = permissionRes.respondCode.additionals.permissionItem.permission_id
            let permissionFunctionPostData = {
              permission_id: permissionId,
              function_type: 1,
              function_code_type: 1,
              function_code: 'menu',
              function_name: '總覽',
              is_enabled: 1
            }
            let permissionFunctionRes = await this.$store.dispatch('permissionFunction/create', permissionFunctionPostData)
            if (permissionFunctionRes.httpStatus === 200 || permissionFunctionRes.httpStatus === 201) {
              this.$Notice.success({
                title: '新增成功'
              })
              this.LoadingViewIsShow = false
            } else if (permissionFunctionRes.httpStatus !== 401) {
              this.$Notice.success({
                title: '新增完畢'
              })
              this.LoadingViewIsShow = false
            }
          } else if (permissionRes.httpStatus !== 401) {
            this.$Notice.success({
              title: '新增完畢'
            })
            this.LoadingViewIsShow = false
          }
        } else if (menuRes.httpStatus !== 401) {
          this.$Notice.error({
            title: '新增失敗',
            desc: menuRes.respondCode.debugInfo,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
        this.getMenuData(postData.menu_level, postData.root_id)
      }
    },
    /* 上一層選單 : root_id */
    autocompleteHandleRootEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.rootList = []
    },
    rootAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.postData.root_id !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData.root_id = data.val ? data.val[data.code] : ''
        this.postData.root_name = data.val ? data.val[data.returnCode] : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.rootList = [data.val]
      } else {
        this.rootList = []
      }
    },
    rootAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`settingMenu`]
          //
          this.rootList = list
        }
      })
    },
    setAutocompleteRootValue: function (data) {
      // console.log(data)
      //
      this.postData.root_name = data.data[data.returnCode]
      this.postData.root_id = data.data.menu_id
      //
      this.toCloseRootAutocompleteModal = true
    },
    setToCloseRootAutocompleteModal: function (bol) {
      this.toCloseRootAutocompleteModal = bol
    },
    /* 是否為功能 is_item */
    isItemListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
      this.postData.is_item = data.val
    }
  },
  created () {
    //
    this.getIsItemFilterData()
    this.getIsEnabledFilterData()
    this.getTimeZoneTimestamp()
    this.getMenuData(1)
    this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`settingMenu/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  position: relative;
  width: 100%;
  height: calc(100% - 4px);
  padding: 20px;
  overflow: auto;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
    }
    .btn-box.l {
      display: flex;
      width: auto;
    }
}
.body-box {
    width: 100%;
    height: calc(100% - 42px - 30px);
    .row {
      display: flex;
      width: 100%;
    }
    .col-4 {
      margin-left: 1rem;
      flex: 0 0 30.33%;
      width: 30.33%;
      height: 100%;
    }
    .col-8 {
      margin-left: 1rem;
      flex: 0 0 66.66%;
      width: 66.66%;
      height: 100%;
    }
    .sub-title {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
      span {
        width: fit-content;
        font-family: PingFangTC;
        font-size: 16px;
        color: #333;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        &.blue {
          color: #1f7adb;
        }
      }
      .quantity {
        font-size: 16px;
        color: #555;
        font-weight: 400;
      }
    }
    /deep/.ivu-card-body {
      height: 100%;
    }
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > span {
    font-size: 12.5px;
  }
  &.solid{
    background-color: #515a6e;
    >span{
      color: #ffffff;
    }
  }
  &.yellow{
    background-color: #dca558;
    border: 2px solid #dca558;
    >span{
      color: #ffffff;
    }
  }
}
  .table-container {
    width: 100%;
      height: calc(100% - 22px);
    .tbody {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100% - 40px);
      .trow {
        line-height: 1;
        &:nth-of-type(2n + 1) {
          background-color: #fbfaf9;
        }
        &:nth-of-type(2n + 2) {
          background-color: #f4f2f1;
        }
        &.isChecked {
          background-color: #d1c2af !important;
          /deep/.ivu-checkbox-inner {
            border-color: rgba(0, 0, 0, 0.1);
          }
        }
        /deep/.ivu-checkbox-inner {
          border-color: #dcdee2;
          background-color: transparent;
        }
        /deep/.ivu-checkbox-inner:after {
          border: 2px solid #333;
          border-top: 0;
          border-left: 0;
        }
        span {
          display: inline-block;
          padding: 8px;
          width: calc(50% - 52px / 2);
          color: #333;
          font-size: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:nth-of-type(3) {
            width: 52px;
            text-align: center;
            &.next-level-btn {
                transform: translateX(0px);
                transition: all 0.3;
              &:hover {
                // color: red;
                transform: translateX(10px);
                transition: all 0.3;
              }
            }
          }
        }
      }
    }
    .thead {
      width: 100%;
      background-color: rgba(53, 67, 97, 0.1);
      border-bottom: 2px solid #fff;
      border-radius: 6px;
      >span {
        display: inline-block;
        width: calc(50% - 52px / 2);
        color: #333;
        font-size: 15px;
        padding: 8px;
        &:nth-of-type(3) {
          width: 52px;
          text-align: center;
        }
      }
      /deep/.ivu-checkbox-inner {
        border-color: #dcdee2;
        background-color: transparent;
      }
      /deep/.ivu-checkbox-inner:after {
        border: 2px solid #333;
        border-top: 0;
        border-left: 0;
      }
    }
    &.v2 {
      .thead, .tbody .trow {
        >span {
          &:nth-of-type(1), &:nth-of-type(4) {
            width: 52px;
            text-align: center;
          }
          &:nth-of-type(2), &:nth-of-type(3) {
            width: calc(50% - 52px);
          }
        }
      }
    }
  }
  .next-level-btn {
      transition: all 0.4;
    &:hover {
      // color: red;
      // transform: scale3d(1.2, 1.2, 1.2);
      transform: translateX(10px);
      transition: all 0.4;
    }
  }
.updateModal {
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .row {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    .col {
      flex: 0 0 33%;
      height: auto;
      margin-bottom: 1.3rem;
      padding-right: 3rem;
      display: flex;
      align-items: center;
      &.colx2 {
        flex: 0 0 66%;
      }
      &.iswitch {
        display: block;
        .label-box {
          font-size: 12px;
          color: #333333;
          padding-bottom: 10px;
        }
        .body-box {
          display: block;
        }
      }
    }
  }
  .modal-body {
    height: 400px;
    overflow-y: scroll;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}
</style>
