<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <h2 class="title">
      <span>自訂標籤</span>
    </h2>
    <Row class="body-box">
      <Col span="9">
      <div class="d-flex">
        <div class="mb-3 mr-3">
          <FloatLabelBox
            :config="{hasContent: (searchType && searchType!==''), label: `搜尋類別`, hasClearButton: true, type: `Select`, settings: {width: 150, height: 52}}"
            :selectList="searchTypeList"
            :code="`searchType`"
            :defaultValue="searchType"
            @changeModelEvent="searchTypeListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="mb-3" v-show="searchType === 'product'">
          <!-- 商品料號 product_code -->
          <FloatLabelBox
            :config="{hasContent: (searchPostData.product_code && searchPostData.product_code!==''), label: `商品料號`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250, height: 52}, hiddenSearchBtn: true}"
            :code="`product_code`"
            :autoCompleteData="productList"
            :defaultValue="searchPostData.product_code"
            :modalTitle="`商品料號`"
            :toCloseModal="toCloseProductAutocompleteModal"
            keyCode="goodsSetup"
            storeKey="productQueryByOwner"
            returnCode="product_code"
            :showCols="autoCompleteShowProductCols"
            :isError="searchPostDataError.product_code"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleProductEnterSubmitEvent"
            @changeModelEvent="productAutocompleteChangeEvent"
            @autoCompleteSearchEvent="productAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseProductAutocompleteModal">
              <div>
                <!-- 商品料號-->
                <AutocompleteModal
                keyCode="goodsSetup"
                storeKey="product"
                returnCode="productQueryByOwner"
                respondCode= "product"
                :condition="productCondition"
                @setAutocompleteValueEvent="setAutocompleteProductValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="mb-3" v-show="searchType === 'storage'">
          <!-- 儲位 storage_code -->
          <FloatLabelBox
            :config="{hasContent: (searchPostData.storage_code && searchPostData.storage_code!==''), label: `儲位`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250, height: 52}, hiddenSearchBtn: true}"
            :code="`storage_code`"
            :autoCompleteData="storageCodeList"
            :defaultValue="searchPostData.storage_code"
            :modalTitle="`儲位`"
            :toCloseModal="toCloseStorageCodeAutocompleteModal"
            keyCode="storageSetup"
            storeKey="storageQueryByWhId"
            returnCode="storage_code"
            :showCols="autoCompleteShowStorageCodeCols"
            :isError="searchPostDataError.storage_code"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleStorageCodeEnterSubmitEvent"
            @changeModelEvent="storageCodeAutocompleteChangeEvent"
            @autoCompleteSearchEvent="storageCodeAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseStorageCodeAutocompleteModal">
              <div>
                <!-- 儲位(良品) -->
                <AutocompleteModal
                keyCode="storageSetup"
                storeKey="storageQueryByWhId"
                returnCode="storage_code"
                respondCode= "storage"
                :apiUrlCondition="setAutocompleteStorageCodeApiUrl"
                :condition="storageCodeCondition"
                @setAutocompleteValueEvent="setAutocompleteStorageCodeValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
      </div>
        <Card class="mr-2">
          <h2 class="title">
            <span>標籤列表</span>
          </h2>
          <div class="table-container no-btn">
            <div class="d-flex thead">
              <div class="SELECTED">
                <Checkbox v-model="tadListTrigger"></Checkbox>
              </div>
              <div class="name">
                <span>名稱</span>
              </div>
            </div>
            <div class="tbody">
              <div
                class="trow"
                :class="{
                        check: ((tagSetId && tagSetId !== '' &&
                        (item.tag_name === tagSetId)))
                    }"
                v-for="(item, index) in tadDataList"
                :key="`${item.INDEX}_${index}`"
                @dblclick="getTadDetailEvent(item)"
              >
                <div class="SELECTED">
                  <Checkbox v-model="item.SELECTED" @on-change="setAcceptanceListSelected(item.SELECTED, index)"></Checkbox>
                </div>
                <div class="name">
                  <span>{{item.tag_name}}</span>
                </div>
              </div>
            </div>
          </div>
        </Card>
      </Col>
      <Col span="15">
        <Card class="ml-2 h-100">
          <div class="h-100">
            <div class="lgInput mb-4">
              <label>列印數量</label>
              <input
                type="number"
                placeholder="列印數量"
                class="bestInput num mr-3"
                v-model.number="tagPrintNum"
                min="1"
                @blur="checkTagPrintNum"/>
              <Button
                class="dark-blue-btn"
                size="large"
                @click="printTagEvent">
                列印
              </Button>
            </div>
            <div class="d-flex align-items-center mb-4">
              <Select
                class="mr-3"
                v-model="tabType"
                size="large"
                style="width:200px">
                  <Option v-for="(item, index) in tabTypeList" :value="item.value" :key="item.value" :tag="index">{{ item.label }}</Option>
              </Select>
              <Button class="icon-btn-md mr-3" @click="addTadDetailList">
                <font-awesome-icon icon="plus" />
              </Button>
              <Button class="icon-btn-md mr-3" @click="removeTadDetailList">
                <font-awesome-icon icon="minus" />
              </Button>
            </div>
            <div class="previewTag-box">
              <div class="previewTag">
                  <table>
                    <tr
                    v-for="(item, index) in tadDetailList"
                    :key="`${item.INDEX}_${index}`">
                      <td class="noBorder border-right">
                        <Checkbox v-model="item.SELECTED"></Checkbox>
                      </td>
                      <td class="lable">
                        <Select
                          v-model="item.field_value"
                          clearable
                          @on-select="fieldNameChangeEvent"
                          @on-clear="fieldNameClearEvent(index)"
                          >
                            <Option v-for="itm in fieldNameList" :value="itm.value" :key="itm.value" :tag="index">{{ itm.label }}</Option>
                        </Select>
                      </td>
                      <td class="value" v-show="item.is_barcode === 0">
                        <Input v-model="item.content" placeholder="輸入內容" />
                      </td>
                      <td class="value p-0" v-show="item.is_barcode === 1">
                        <barcode :value="item.content" width="1" height="18" marginTop="1" marginBottom="1" font-size="12" textMargin="-2">
                          {{item.content}}
                        </barcode>
                        <!-- <img src="../../../../assets/images/test-tag.png" alt="test-tag"> -->
                      </td>
                      <td class="noBorder">
                        <RadioGroup v-model="item.is_barcode">
                          <Radio :label="0">描述</Radio>
                          <Radio :label="1">條碼</Radio>
                        </RadioGroup>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
          </div>
        </Card>
      </Col>
    </Row>
    <div class="footer">
      <!-- return btn -->
      <div class="saveBtn" @click="save">
        <font-awesome-icon icon="save" size="2x" />
      </div>
    </div>
    <!-- 預覽標籤 -->
    <!-- <Modal v-model="previewModal" width="430" :footer-hide="true" :closable="false" class="inboundDetailModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <div class="desc-box">
            預覽標籤
            <div class="form-box">
              <div class="row-box">
                <div class="previewTag">
                  <table>
                    <tr
                    v-for="(item, index) in tadDetailList"
                    :key="`${item.INDEX}_${index}`">
                      <td class="lable">{{item.field_name}}</td>
                      <td class="value" v-show="item.is_barcode === 0">test</td>
                      <td class="value p-0" v-show="item.is_barcode === 1">
                        <img src="../../../../assets/images/test-tag.png" alt="test-tag">
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="btn-box">
                <Button shape="circle" @click="previewModalClose">
                  取消
                  <font-awesome-icon icon="times" />
                </Button>
                <Button shape="circle" @click="addAcceptanceList">
                  儲存
                  <font-awesome-icon icon="check" />
                </Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Modal> -->
  </div>
</template>

<script>
// import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import VueBarcode from 'vue-barcode'
export default {
  name: 'TagSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    FloatLabelBox,
    'barcode': VueBarcode
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    let userId = this.$store.state.auth.userInfo.userId
    return {
      companyId: companyId,
      whId: whId,
      userId: userId,
      //
      tadDataList: [],
      tagSetId: null,
      tadListTrigger: false,
      tadDetailList: [
        // {
        //   INDEX: 1,
        //   SELECTED: false,
        //   field_value: 'product_name',
        //   field_name: '商品名稱',
        //   is_barcode: 0,
        //   content: 'test'
        // },
        // {
        //   INDEX: 2,
        //   SELECTED: false,
        //   field_value: 'product_code',
        //   field_name: '商品條碼',
        //   is_barcode: 1,
        //   content: 'test'
        // }
      ],
      fieldNameList: [
        {
          value: 'inbound_no',
          label: '入庫系統單號'
        },
        {
          value: 'owner_name',
          label: '貨主'
        },
        {
          value: 'owner_bill_no',
          label: '訂單編號'
        },
        {
          value: 'vendor_name',
          label: '供應商'
        },
        {
          value: 'date_put_away_confirm_display',
          label: '上架確認時間'
        },
        {
          value: 'product_code',
          label: '商品料號'
        },
        {
          value: 'product_name',
          label: '商品名稱'
        },
        {
          value: 'product_code_barcode',
          label: '商品條碼'
        },
        {
          value: 'inbound_num',
          label: '數量(良品)'
        },
        {
          value: 'inbound_num_bad',
          label: '數量(不良品)'
        },
        {
          value: 'storage_code_barcode',
          label: '儲位條碼'
        },
        {
          value: 'storage_code',
          label: '儲位'
        },
        {
          value: 'storage_loc_storage_code',
          label: '儲位(良品)'
        },
        {
          value: 'storage_loc_bad_storage_code',
          label: '儲位(不良品)'
        },
        {
          value: 'inbound_note',
          label: '入庫備註'
        },
        {
          value: 'inventory_note',
          label: '明細備註'
        },
        {
          value: 'product_batch_no',
          label: '批號'
        },
        {
          value: 'product_expired_date',
          label: '效期'
        },
        {
          value: 'product_manufactured',
          label: '製造日期'
        }
      ],
      //
      searchType: 'product',
      searchTypeList: [
        {
          value: 'product',
          label: '商品'
        },
        {
          value: 'storage',
          label: '儲位'
        }
      ],
      //
      searchPostData: {
        product_code: null,
        product_name: null,
        storage_code: null,
        storage_id: null,
        data: []
      },
      searchPostDataError: {
        product_code: false,
        storage_code: false
      },
      //
      tabType: 'big',
      tabTypeList: [
        {
          value: 'big',
          label: '大標籤'
        },
        {
          value: 'small',
          label: '小標籤'
        }
      ],
      tagPrintNum: 1,
      /* 商品編號 : product_code */
      productList: [],
      autoCompleteShowProductCols: [
        'product_name'
      ],
      toCloseProductAutocompleteModal: false,
      productCondition: [],
      setAutocompleteProductApiUrl: {},
      /*  儲位 : storage_code */
      storageCodeList: [],
      autoCompleteShowStorageCodeCols: [],
      toCloseStorageCodeAutocompleteModal: false,
      storageCodeCondition: [],
      setAutocompleteStorageCodeApiUrl: { whId: this.whId },
      //
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      timeZoneTimestamp: null,
      timeZone: null
    }
  },
  computed: {
    //
    tagsettingList: function () {
      // console.log(this.$store.state)
      let list = this.$store.state[`tagsetting`][`tagsettingList`] || []
      let listName = []
      list.forEach((item) => {
        listName.push(item.tag_name)
      })
      let listLengthMinusOne = listName.length - 1
      let listtNoRepet = listName.filter((item, index, arr) => {
        if (listLengthMinusOne !== index && !item) {
          return false
        }
        return arr.indexOf(item) === index
      })
      // console.log(listtNoRepet)
      return listtNoRepet || []
    }
  },
  watch: {
    tadDetailTrigger: function (bol) {
      //
      this.tadDetailList.forEach((item) => {
        item.SELECTED = bol
      })
    },
    tagsettingList: {
      handler: function (val) {
        let list = []
        val.forEach((item, index) => {
          list.push({
            INDEX: index,
            SELECTED: false,
            tag_name: item
          })
        })
        this.tadDataList = list
      },
      deep: true
    },
    searchPostData: {
      handler: function (val) {
        if (val.product_code) {
          this.searchPostDataError.product_code = false
        }
        if (val.storage_code) {
          this.searchPostDataError.storage_code = false
        }
      },
      deep: true
    }
  },
  methods: {
    /* query */
    async query () {
      //
      this.LoadingViewIsShow = true
      // console.log('query')
      let postData = {
        page: 1,
        pageSize: 1000,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'inventory_status',
            queryValue: 10
          },
          {
            queryCondition: '=',
            queryField: 'inbound_type',
            queryValue: 52
          }
        ],
        sort: []
      }
      //
      let r = await this.$store.dispatch('inventoryQuery/search', { postData: postData, companyId: this.companyId, whId: this.whId })
      // console.log(r)
      if (r.httpStatus === 200 || r.httpStatus === 201) {
        // console.log(r.respondCode.additionals.inboundDetail)
        let inboundDetailList = r.respondCode.additionals.inboundDetail
        // console.log(inboundDetailList)
        if (inboundDetailList.length === 0) {
          this.$Notice.warning({
            title: `查詢完畢`,
            desc: '此料號沒有可驗收的資料',
            duration: 30
          })
          this.LoadingViewIsShow = false
          return
        }
        this.inboundDetailList = inboundDetailList
      } else if (r.httpStatus !== 401) {
        this.$Notice.error({
          title: `查詢完畢`,
          desc: r.respondCode.debugInfo,
          duration: 30
        })
      }
      // 查詢商品資訊
      let productPostData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [],
        sort: []
      }
      let productRes = await this.$store.dispatch('product/search', { postData: productPostData, companyId: this.companyId })
      console.log(productRes)
      if (productRes.httpStatus === 200 || productRes.httpStatus === 201) {
        let productData = productRes.respondCode.additionals.product[0]
        this.productName = productData.product_name
        this.boxInNum = productData.box_in_num
        this.palletInNum = productData.pallet_in_num
        this.palletPlacement = productData.pallet_placement
      }
      this.LoadingViewIsShow = false
    },
    /* 選取入庫明細(刷單號) */
    searchInboundNo () {
      let inboundDetailLength = this.inboundDetailList.length
      let isSearch = false
      for (let i = 0; i < inboundDetailLength; i++) {
        if (this.inboundDetailList[i].inbound_no === this.inboundNo ||
          this.inboundDetailList[i].inbound_no === this.inboundNo) {
          this.inboundDetailFocuseData = this.inboundDetailList[i]
          this.inboundDetailData = this.inboundDetailList[i]
          this.inboundDetailData.inbound_num = this.inboundDetailList[i].inform_num
          // if (!this.inboundDetailData.inbound_num && !this.inboundDetailData.inbound_num_bad) {
          //   this.inboundDetailData.inbound_num = this.inboundDetailList[i].inform_num
          // }
          isSearch = true
        }
      }
      if (!isSearch) {
        this.$Notice.warning({
          title: `未找到對應單號`,
          duration: 30
        })
        return
      }
      this.isChange = false
      // if (this.tadDetailList.length > 0 && !this.isChange) {
      //   // 提醒使用者未儲存
      //   this.comfirmSave()
      //   return
      // }
      this.setInboundDetailModal(true)
    },
    /* 選取入庫明細(click) */
    inboundDetailDataEvent (data) {
      console.log(data)
      // if (this.tadDetailList.length > 0 && !this.isChange) {
      //   return
      // }
      //
      this.inboundDetailFocuseData = data
      this.inboundDetailData = data
      this.inboundDetailData.inbound_num = data.inform_num
      // if (!this.inboundDetailData.inbound_num && !this.inboundDetailData.inbound_num_bad) {
      //   this.inboundDetailData.inbound_num = data.inform_num
      // }
      this.setInboundDetailModal(true)
    },
    // 取消新增驗收明細
    addAcceptancCancel () {
      this.setInboundDetailModal(false)
      this.initInboundDetailData()
      this.$nextTick(() => {
        this.$refs.inboundNoInput.focus()
        this.$refs.inboundNoInput.select()
      })
    },
    // 新增驗收明細
    async addAcceptanceList () {
      // 檢查
      let isError = false
      if (!this.inboundDetailData.inbound_num && !this.inboundDetailData.inbound_num_bad) {
        isError = true
        this.inboundNumErrorMsg = '良品、不良品請擇一選填'
        this.inboundNumBadErrorMsg = '良品、不良品請擇一選填'
        this.error.inbound_num = true
        this.error.inbound_num_bad = true
      }
      if (this.inboundDetailData.inbound_num && this.inboundDetailData.inbound_num_bad) {
        isError = true
        this.inboundNumErrorMsg = '良品、不良品請勿同時填寫'
        this.inboundNumBadErrorMsg = '良品、不良品請勿同時填寫'
        this.error.inbound_num = true
        this.error.inbound_num_bad = true
      }
      if (this.inboundDetailData.inbound_num < 0) {
        isError = true
        this.inboundNumErrorMsg = '不可為負數'
        this.error.inbound_num = true
      }
      if (this.inboundDetailData.inbound_num_bad < 0) {
        isError = true
        this.inboundNumBadErrorMsg = '不可為負數'
        this.error.inbound_num_bad = true
      }
      if (isError) {
        return
      }
      //
      if (!this.updateAcceptanceIndex && this.updateAcceptanceIndex !== 0) {
        let list = {
          INDEX: this.tadDetailList.length + 1,
          SELECTED: false,
          company_id: this.inboundDetailData.company_id,
          wh_id: this.inboundDetailData.wh_id,
          id_id: this.inboundDetailData.id_id,
          inbound_id: this.inboundDetailData.inbound_id,
          product_id: this.inboundDetailData.product_id,
          inbound_type: this.inboundDetailData.inbound_type,
          inbound_no: this.inboundDetailData.inbound_no,
          inbound_num: this.inboundDetailData.inbound_num,
          inbound_num_bad: this.inboundDetailData.inbound_num_bad,
          product_batch_no: this.inboundDetailData.product_batch_no,
          product_expired_date: this.inboundDetailData.product_expired_date
        }
        this.tadDetailList.push(list)
      } else {
        this.tadDetailList[this.updateAcceptanceIndex].inbound_num = this.inboundDetailData.inbound_num
        this.tadDetailList[this.updateAcceptanceIndex].inbound_num_bad = this.inboundDetailData.inbound_num_bad
        this.tadDetailList[this.updateAcceptanceIndex].product_batch_no = this.inboundDetailData.product_batch_no
        this.tadDetailList[this.updateAcceptanceIndex].product_expired_date = this.inboundDetailData.product_expired_date
        //
        this.updateAcceptanceIndex = null
      }
      this.setInboundDetailModal(false)
      this.initInboundDetailData()
      this.$nextTick(() => {
        this.$refs.inboundNoInput.focus()
        this.$refs.inboundNoInput.select()
      })
    },
    // 更新驗收明細
    updateAcceptance (data, index) {
      this.updateAcceptanceIndex = index
      this.inboundDetailData = {
        SELECTED: true,
        inbound_no: data.inbound_no,
        inbound_num: data.inbound_num,
        inbound_num_bad: data.inbound_num_bad,
        product_batch_no: data.product_batch_no,
        product_expired_date: data.product_expired_date
      }
      this.setInboundDetailModal(true)
    },
    // 清空明細
    initInboundDetailData () {
      this.inboundDetailData = {
        inbound_no: null,
        inbound_num: null,
        inbound_num_bad: null,
        product_batch_no: null,
        product_expired_date: null
      }
      this.error = {
        inbound_num: false,
        inbound_num_bad: false,
        product_batch_no: false,
        product_expired_date: false
      }
    },
    async saveInboundDetailEvent (data, index) {
      // console.log(data)
      let postData = {
        user_id: this.userId,
        company_id: data.company_id,
        wh_id: data.wh_id,
        inbound_id: data.inbound_id,
        product_id: data.product_id,
        inbound_type: data.inbound_type,
        actual_num: 0,
        inventory_status: 30,
        inbound_sn: index,
        isAutoSplitDetailByPalletInNum: true,
        isAutoAssignStorage: true
      }
      if (data.inbound_num) {
        postData.inbound_num = data.inbound_num
        postData.inform_num = data.inbound_num
      }
      if (data.inbound_num_bad) {
        postData.inbound_num_bad = data.inbound_num_bad
        postData.inform_num = data.inbound_num_bad
      }
      if (data.product_batch_no) {
        postData.product_batch_no = data.product_batch_no
      }
      if (data.product_expired_date) {
        postData.product_expired_date = data.product_expired_date
      }
      console.log(postData)
      let creatRes = await this.$store.dispatch(`inboundDetail/create`, postData)
      console.log(creatRes)
      if (creatRes.httpStatus !== 200 && creatRes.httpStatus !== 201 && creatRes.httpStatus !== 401) {
        this.saveAcceptanceError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆，驗收明細新增失敗`,
          desc: `${creatRes.respondCode.debugInfo}`,
          duration: 30
        })
      }
    },
    async updateInboundDetailEvent (data) {
      let postData = {
        inventory_status: 30,
        inbound_num: data.inbound_num || 0,
        inbound_num_bad: data.inbound_num_bad || 0,
        product_batch_no: data.product_batch_no || 'null',
        product_expired_date: data.product_expired_date || 'null',
        isAutoSplitDetailByPalletInNum: true,
        isAutoAssignStorage: true
      }
      console.log(postData)
      let updateRes = await this.$store.dispatch(`inboundDetail/update`, { postData: postData, detailId: data.id_id })
      console.log(updateRes)
      if (updateRes.httpStatus !== 200 && updateRes.httpStatus !== 201 && updateRes.httpStatus !== 401) {
        this.saveAcceptanceError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆，驗收明細新增失敗`,
          desc: `${updateRes.respondCode.debugInfo}`,
          duration: 30
        })
      }
    },
    removeAcceptance () {
      let acceptanceLength = this.tadDetailList.length - 1
      console.log(acceptanceLength)
      for (let i = acceptanceLength; i >= 0; i--) {
        console.log(i)
        console.log(this.tadDetailList[i])
        if (this.tadDetailList[i].SELECTED) {
          this.tadDetailList.splice(i, 1)
        }
      }
    },
    setTadDetailListSelected (bol, index) {
      this.tadDetailList[index]['SELECTED'] = bol
      this.tadDetailList = JSON.parse(JSON.stringify(this.acceptanceList))
    },
    inputTxtChangeEvent: function (data) {
      //
      this.inboundDetailData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      // console.log(data)
      this.inboundDetailData[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this.inboundDetailData[data.code] = data.val
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    setInboundDetailModalEvent: function () {
      if (this.toDo === 'addAcceptancCancel') {
        this.addAcceptancCancel()
        this.toDo = null
      }
      if (this.toDo === 'addAcceptanceList') {
        this.addAcceptanceList()
        this.toDo = null
      }
    },
    getTadDataList: function () {
      this.LoadingViewIsShow = true
      //
      let postData = {
        page: 1,
        pageSize: 1000,
        combinedCondition: 'AND',
        query: [],
        sort: [{ sortField: 'created_at', sortValue: 'desc' }]
      }
      this.$store.dispatch(`tagsetting/query`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.LoadingViewIsShow = false
        } else if (r.httpStatus !== 401) {
          this.LoadingViewIsShow = false
          this.$Notice.error({
            title: '請稍後再試',
            desc: `${r.respondCode.debugInfo}`,
            duration: 30
          })
        }
      })
    },
    getTadDetailEvent: function (data) {
      let postData = {
        page: 1,
        pageSize: 10,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryValue: data.tag_name,
            queryField: 'tag_name'
          }
        ],
        sort: [{ sortField: 'field_row_order', sortValue: 'asc' }]
      }
      this.$store.dispatch(`tagsetting/search`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          let list = r.respondCode.additionals.tag_setting || []
          this.tadDetailList = list
          console.log(this.tadDetailList)
          this.LoadingViewIsShow = false
        } else if (r.httpStatus !== 401) {
          this.LoadingViewIsShow = false
          this.$Notice.error({
            title: '請稍後再試',
            desc: `${r.respondCode.debugInfo}`,
            duration: 30
          })
        }
      })
    },
    fieldNameChangeEvent: function (data) {
      console.log(data)
      // this.tadDetailList[data.tag].field_value = data.value
      this.tadDetailList[data.tag].field_name = data.label
      if (this.searchPostData.data[data.value]) {
        this.tadDetailList[data.tag].content = this.searchPostData.data[data.value]
      }
      if (data.label === '商品條碼') {
        this.tadDetailList[data.tag].is_barcode = 1
        this.tadDetailList[data.tag].content = this.searchPostData.data.product_code
      }
      if (data.label === '儲位條碼') {
        this.tadDetailList[data.tag].is_barcode = 1
        this.tadDetailList[data.tag].content = this.searchPostData.data.storage_code
      }
      // console.log(this.tadDetailList)
    },
    fieldNameClearEvent: function (index) {
      // console.log(index)
      this.tadDetailList[index].field_name = null
    },
    save: async function () {
      this.LoadingViewIsShow = true
      // 檢查
      let isError = false
      switch (this.searchType) {
        case 'product':
          if (!this.searchPostData.product_code || this.searchPostData.product_code === '') {
            isError = true
            this.searchPostDataError.product_code = true
          }
          break
        case 'storage':
          if (!this.searchPostData.storage_code || this.searchPostData.storage_code === '') {
            isError = true
            this.searchPostDataError.storage_code = true
          }
          break
      }
      if (isError) {
        this.LoadingViewIsShow = false
        return
      }
      // 檢查明細
      let tadDetailListLength = this.tadDetailList.length
      let tadDataListLength = this.tadDataList.length
      for (let i = 0; i < tadDetailListLength; i++) {
        let tadDetailPostData = {
          field_row_order: this.tadDetailList[i].INDEX,
          field_name: this.tadDetailList[i].field_name,
          is_barcode: this.tadDetailList[i].is_barcode,
          field_name_is_fill_from_db_value: 0,
          userId: this.userId
        }
        if (this.tadDetailList[i].field_name) {
          if (this.tadDetailList[i].field_name === '商品條碼') {
            tadDetailPostData.field_value = 'product_code'
          } else if (this.tadDetailList[i].field_name === '儲位條碼') {
            tadDetailPostData.field_value = 'storage_code'
          } else {
            tadDetailPostData.field_value = this.tadDetailList[i].field_value
          }
        }
        if (this.tadDetailList[0].tag_id) {
          if (this.tadDetailList[i].tag_id) {
            // update
            let updateRes = await this.$store.dispatch('tagsetting/update', { postData: tadDetailPostData, detailId: this.tadDetailList[i].tag_id })
            if (updateRes.httpStatus !== 200 || updateRes.httpStatus !== 201) {
              this.tadDetailList[i].tag_id = updateRes.respondCode.additionals.tag_setting.tag_id
            }
          } else {
            // creat
            tadDetailPostData.tag_set_id = this.tadDetailList[0].tag_set_id
            tadDetailPostData.tag_name = this.tadDetailList[0].tag_name
            tadDetailPostData.tag_type = this.tadDetailList[0].tag_type
            tadDetailPostData.company_id = this.companyId
            tadDetailPostData.wh_id = this.whId
            tadDetailPostData.is_enabled = 0
            console.log(tadDetailPostData)
            let createRes = await this.$store.dispatch('tagsetting/create', tadDetailPostData)
            if (createRes.httpStatus === 200 || createRes.httpStatus === 201) {
              this.tadDetailList[i].tag_id = createRes.respondCode.additionals.tag_setting.tag_id
              this.tadDetailList[i].tag_name = createRes.respondCode.additionals.tag_setting.tag_name
              this.tadDetailList[i].tag_set_id = createRes.respondCode.additionals.tag_setting.tag_set_id
              this.tadDetailList[i].tag_type = createRes.respondCode.additionals.tag_setting.tag_type
              console.log(this.tadDetailList)
            }
          }
        } else {
          tadDetailPostData.tag_set_id = tadDataListLength + 1
          tadDetailPostData.tag_name = this.searchType === 'product' ? this.searchPostData.product_code : this.searchPostData.storage_code
          tadDetailPostData.tag_type = this.searchType
          tadDetailPostData.company_id = this.companyId
          tadDetailPostData.wh_id = this.whId
          tadDetailPostData.is_enabled = 0
          console.log(tadDetailPostData)
          let createRes = await this.$store.dispatch('tagsetting/create', tadDetailPostData)
          if (createRes.httpStatus === 200 || createRes.httpStatus === 201) {
            this.tadDetailList[i].tag_id = createRes.respondCode.additionals.tag_setting.tag_id
            this.tadDetailList[i].tag_set_id = createRes.respondCode.additionals.tag_setting.tag_set_id
            this.tadDetailList[i].tag_type = createRes.respondCode.additionals.tag_setting.tag_type
            console.log(this.tadDetailList)
          }
        }
      }
      this.LoadingViewIsShow = false
    },
    tabTypeListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    searchTypeListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      switch (data.val) {
        case 'product':
          this.fieldNameList = [
            {
              value: 'inbound_no',
              label: '入庫系統單號'
            },
            {
              value: 'owner_name',
              label: '貨主'
            },
            {
              value: 'owner_bill_no',
              label: '訂單編號'
            },
            {
              value: 'vendor_name',
              label: '供應商'
            },
            {
              value: 'date_put_away_confirm_display',
              label: '上架確認時間'
            },
            {
              value: 'product_code',
              label: '商品料號'
            },
            {
              value: 'product_name',
              label: '商品名稱'
            },
            {
              value: 'product_code_barcode',
              label: '商品條碼'
            },
            {
              value: 'inbound_num',
              label: '數量(良品)'
            },
            {
              value: 'inbound_num_bad',
              label: '數量(不良品)'
            },
            {
              value: 'storage_loc_storage_code',
              label: '儲位(良品)'
            },
            {
              value: 'storage_loc_bad_storage_code',
              label: '儲位(不良品)'
            },
            {
              value: 'inbound_note',
              label: '入庫備註'
            },
            {
              value: 'inventory_note',
              label: '明細備註'
            },
            {
              value: 'product_batch_no',
              label: '批號'
            },
            {
              value: 'product_expired_date',
              label: '效期'
            },
            {
              value: 'product_manufactured',
              label: '製造日期'
            }
          ]
          break
        case 'storage':
          this.fieldNameList = [
            {
              value: 'storage_code_barcode',
              label: '儲位條碼'
            },
            {
              value: 'storage_code',
              label: '儲位'
            }
          ]
          break
      }
    },
    /* 商品編號  product_code */
    autocompleteHandleProductEnterSubmitEvent: function (data) {
      // console.log(data)
      this.searchPostData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.productList = []
    },
    productAutocompleteChangeEvent: function (data) {
      console.log(data)
      if (this.searchPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.searchPostData[data.code] = data.val ? data.val[data.returnCode] : null
        this.searchPostData.product_name = data.val ? data.val.product_name : null
        this.searchPostData.data = data.val || []
        // 設定其他資料處
        this.tadDetailList = [
          {
            INDEX: 1,
            SELECTED: false,
            field_value: 'product_name',
            field_name: '商品名稱',
            is_barcode: 0,
            content: this.searchPostData.product_name
          },
          {
            INDEX: 2,
            SELECTED: false,
            field_value: 'product_code_barcode',
            field_name: '商品條碼',
            is_barcode: 1,
            content: this.searchPostData.product_code
          }
        ]
      }
      // console.log([data.val])
      if (data.val) {
        this.productList = [data.val]
      } else {
        this.productList = []
      }
    },
    productAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`product/search`, { postData: postData, companyId: this.companyId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`product`]
          //
          this.productList = list
        }
      })
    },
    setAutocompleteProductValue: function (data) {
      // console.log(data)
      this.searchPostData.product_code = data.data[data.returnCode]
      this.searchPostData.product_name = data.data.product_name
      //
      this.toCloseProductAutocompleteModal = true
    },
    setToCloseProductAutocompleteModal: function (bol) {
      this.toCloseProductAutocompleteModal = bol
    },
    /* 儲位 storage_loc */
    autocompleteHandleStorageCodeEnterSubmitEvent: function (data) {
      // console.log(data)
      this.searchPostData[data.code] = ''
      // 設定其他資料處
      this.searchPostData.storage_code = null
      this.searchPostData.storage_id = null
      // 設定其他資料處 end
      this.storageCodeList = []
    },
    storageCodeAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.searchPostData[data.code])
      if (this.searchPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.searchPostData.storage_code = data.val ? data.val[data.returnCode] : ''
        this.searchPostData.storage_id = data.val ? data.val.storage_id : ''
        this.searchPostData.data = data.val || []
        // 設定其他資料處
        this.tadDetailList = [
          {
            INDEX: 1,
            SELECTED: false,
            field_value: 'storage_code',
            field_name: '儲位',
            is_barcode: 0,
            content: this.searchPostData.storage_code
          },
          {
            INDEX: 2,
            SELECTED: false,
            field_value: 'storage_code_barcode',
            field_name: '儲位條碼',
            is_barcode: 1,
            content: this.searchPostData.storage_code
          }
        ]
      }
      // console.log([data.val])
      if (data.val) {
        this.storageCodeList = [data.val]
      } else {
        this.storageCodeList = []
      }
    },
    storageCodeAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: [{ sortField: 'storage_code', sortValue: 'asc' }]
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`storage`]
          //
          this.storageCodeList = list
        }
      })
    },
    setAutocompleteStorageCodeValue: function (data) {
      // console.log(data)
      //
      this.searchPostData.storage_code = data.data[data.returnCode]
      this.searchPostData.storage_id = data.data.storage_id
      //
      this.toCloseStorageCodeAutocompleteModal = true
    },
    setToCloseStorageCodeAutocompleteModal: function (bol) {
      this.toCloseStorageCodeAutocompleteModal = bol
    },
    //
    addTadDetailList: function (bol) {
      let INDEX = this.tadDetailList.length + 1
      if (INDEX > 8) {
        this.$Notice.warning({
          title: '避免超出列印範圍',
          desc: '條碼最多8列',
          duration: 30
        })
        return
      }
      let tmp = {
        INDEX: INDEX,
        SELECTED: false,
        field_name: null,
        field_value: null,
        is_barcode: 0,
        content: null
      }
      this.tadDetailList.push(tmp)
    },
    removeTadDetailList: function () {
      let tadDetailListLength = this.tadDetailList.length
      for (let i = (tadDetailListLength - 1); i >= 0; i--) {
        if (this.tadDetailList[i].SELECTED) {
          // console.log('刪')
          // console.log(i)
          this.tadDetailList.splice(i, 1)
        }
      }
      tadDetailListLength = this.tadDetailList.length
      for (let i = 0; i < tadDetailListLength; i++) {
        this.tadDetailList[i].INDEX = i + 1
      }
      // console.log(this.tadDetailList)
    },
    checkTagPrintNum: function () {
      if (this.tagPrintNum < 1) {
        this.tagPrintNum = 1
      }
    },
    printTagEvent: function () {
      let queryData = {
        tagPrintNum: this.tagPrintNum,
        tadDetailList: this.tadDetailList
      }
      this.$router.push({
        name: 'PrintTag_TagDetail',
        params: queryData
      })
      // let routeData = this.$router.resolve({
      //   name: 'PrintTag_TagDetail',
      //   params: queryData
      // })
      // this.$nextTick(() => (window.open(routeData.href, '_blank')))
    }
  },
  created () {
    this.LoadingViewIsShow = true
    this.getTadDataList()
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  padding: 25px 30px;
  overflow: auto;

  .row {
    display: flex;
    width: 100%;
    height: 100%;

    .col {
      flex: 1;
      height: 100%;
    }

    .col-3 {
      flex: 0 0 25%;
      width: 25%;
      height: 100%;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

    >span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }

    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
      align-items: center;
      .bestInput {
        display: block;
        width: 250px;
        font-size: 16px;
        color: #9d9d9d;
        padding: 1.5px 12px;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        outline: 1px solid transparent;

        &.pro {
          width: 100%;
        }
      }
      /deep/.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
          font-weight: 400;
      }
    }

    .btn-box.l {
      width: auto;
      .all {
        font-size: 16px;
        color: #333;
        font-weight: 400;
      }
    }

    /deep/.ivu-btn.icon-btn-md {
      border: 2px solid;
      background-color: transparent;
      padding: 1px 0 0 0;
      border-radius: 50%;
      margin-bottom: 0;
      width: 26px;
      height: 26px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      // &.solid {
      //   color: #ffffff;
      //   background-color: #354361;
      //   border: 2px solid #354361;
      // }
      > span {
        font-size: 12.5px;
      }
    }
  }
  .detail {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;

    .item {
      display: flex;
      font-size: 16px;
      font-weight: 300;
      color: #000000;
      position: relative;

      .label {
        padding-right: 16px;
      }

      .value {
        padding-right: 40px;
        min-width: 80px;

        /deep/.ivu-select-single .ivu-select-selection {
          border-radius: 0;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
        }

        /deep/.ivu-select-single .ivu-select-selection .ivu-select-placeholder {
          font-size: 16px;
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 24px;
        background: #979797;
        right: 20px;
        top: 0;
      }

      &:last-of-type {
        &:before {
          display: none;
        }
      }
    }
  }

  .body-box {
    width: 100%;
    height: calc(100% - 54px);

    /deep/.ivu-col {
      height: 100%;
    }

    /deep/.ivu-card {
      height: calc(100% - 68px);
    }

    /deep/.ivu-card-body {
      height: 100%;
    }

    /deep/.ivu-row {
      height: calc(100% - 66px);
    }
  }
}

.table-container {
  width: 100%;

  &.no-btn {
    height: calc(100% - 64px);
    .inbound_no {
      display: inline-block;
      padding: 8px;
      width: 250px;
    }
  }

  &.have-btn {
    height: calc(100% - 66px - 47px);
    .inbound_no {
      display: inline-block;
      padding: 8px;
      width: 150px;
    }
  }

  &.inDrawer {
    overflow-x: scroll;
    height: calc(100% - 22px - 4px);
  }

  .thead {
    width: 100%;
    background-color: rgba(53, 67, 97, 0.1);
    border-bottom: 2px solid #fff;
    border-radius: 6px;

    span {
      color: #333;
      font-size: 15px;
    }

    /deep/.ivu-checkbox-inner {
      border-color: #dcdee2;
      background-color: transparent;
    }

    /deep/.ivu-checkbox-inner:after {
      border: 2px solid #333;
      border-top: 0;
      border-left: 0;
    }
  }

  .tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 40px);

    .trow {
      border-bottom: 2px solid #fff;

      &:nth-of-type(2n + 1) {
        background-color: #fbfaf9;
      }

      &:nth-of-type(2n + 2) {
        background-color: #f4f2f1;
      }

      /deep/.ivu-checkbox-inner {
        border-color: #dcdee2;
        background-color: transparent;
      }

      /deep/.ivu-checkbox-inner:after {
        border: 2px solid #333;
        border-top: 0;
        border-left: 0;
      }

      span {
        color: #333;
        font-size: 15px;
      }

      &.more {
        background-color: #dca558;
      }

      &.check {
        background-color: #d1c2af;
      }

      &.isDisable {
        background-color: #fff;
        border: 1px solid #dcdee2;
        margin-bottom: 2px;
      }
    }
  }

  .SELECTED {
    display: inline-block;
    padding: 8px;
    width: 35px;
  }

  .name {
    display: inline-block;
    padding: 8px;
    width: 300px;
  }
}

/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  > span {
    font-size: 12.5px;
  }
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
}

.switch {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 0 7px;

  .label-box {
    font-size: 16px;
    color: #333;
  }
}

.dark-blue-btn {
  width: auto;
  border-radius: 20px;
  background-color: #354361;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &[disabled] {
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
  }
}

.previewTag-box {
  height: calc(100% - 137px);
}
.previewTag {
  background: #999;
  height: 100%;
  padding: 16px 0;
  overflow-y: auto;
  table {
    margin: 0 auto;
    border-collapse:collapse;
  }
  td {
    border: 1px solid #000;
    padding: 7px;
    font-size: 7px;
    text-align: center;
    height: 33px;
    &.lable {
      width: 104px;
      background: #fff;
    }
    &.value {
      width: 260px;
      background: #fff;
      /deep/.ivu-input {
        text-align: center;
      }
      img {
        display: inline-block;
        height: 28px;
        margin-bottom: -6px;
      }
    }
    &.noBorder {
      color: #fff;
      border: 1px solid transparent;
    }
    &.border-right {
      border-right: 1px solid #000;
    }
  }
}
.lgInput {
  display: flex;
  align-items: center;
  label {
    font-size: 32px;
    white-space: nowrap;
    margin-right: 16px;
    color: #333;
  }
}
.bestInput {
  display: block;
  width: 250px;
  font-size: 16px;
  color: #9d9d9d;
  padding: 1.5px 12px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  outline: 1px solid transparent;

  &.num {
    width: 100%;
    height: 50px;
    font-size: 32px;
  }
}
// .detail-box {
//   ul {
//     padding: 0 16px;
//     li {
//       font-size: 16px;
//       line-height: 1.8;
//       .label{
//         padding-right: 8px;
//       }
//       &.highLight {
//         .label, .value {
//           font-size: 20px;
//           color: #1f7adb;
//         }
//       }
//     }
//   }
// }
</style>
