<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 使用者總覽 -->
    <span v-show="step===0">
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div class="d-flex">
          <span class="title-text">使用者總覽</span>
          <div class="operating-box ml-3">
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="toUserSetupAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="刪除">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              @click="comfirmRemove">
                <font-awesome-icon icon="file-excel" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r">
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="id"
          :bgType="userInfo.themeColor"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
    </span>
    <!-- 使用者建檔 -->
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">使用者建檔</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="toUserSetupAdd">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="刪除">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              v-if="step===2"
              @click="comfirmRemove">
              <font-awesome-icon icon="file-excel" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
              class="icon-btn-md solid ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reload"
            >
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r"></div>
          <div class="btn-box l">
            <Button
              class="solid-text-btn mr-3"
              :class="userInfo.themeColor"
              type="default"
              shape="circle"
              @click="saveEvent"
            >儲存</Button>
          </div>
      </h2>
      <div class="body-box">
        <UserSetupAdd
          ref="setUserEvent"
          :step="step"
          :detailId="detailId"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:backEvent="setStep"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></UserSetupAdd>
      </div>
    </span>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import UserSetupAdd from './components/UserSetupAdd'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
export default {
  name: 'UserSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    UserSetupAdd,
    ComfirmRemoveModal,
    ColumnControlModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor,
        selectedColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.selectedColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      settingData.columns.push(obj)
    })
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      //
      step: 0, // 0: 使用者總覽 / 1:使用者建檔 / 2:使用者 detail
      optType: null,
      // 使用者總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      toRestFilter: false,
      saveLayoutColumns: [],
      // 使用者建檔
      detailId: null,
      //
      timeZoneTimestamp: ''
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    userList: function () {
      return this.$store.state[`user`][`userList`] || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    saveLayoutColumns: {
      handler: function (val) {
        // console.log(val)
        if (val.length > 0) {
          this.settingData.columns = val
        }
      },
      deep: true
    },
    userList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && oldVal !== 1) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          // console.log(data[item].value)
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (data[item].logicalOperator === 'like') {
              filterAry.push([item, data[item].logicalOperator, `%${data[item].value}%`])
            } else {
              filterAry.push([item, data[item].logicalOperator, data[item].value])
            }
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 使用者 detail
      this.LoadingViewIsShow = true
      this.detailId = data.id
      this.step = 2
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    // 前往使用者總覽
    toUserSetup: function () {
      this.step = 0
    },
    back: function () {
      //
      this.detailId = null
      this.toUserSetup()
    },
    // 前往使用者建檔
    toUserSetupAdd: function () {
      this.step = 1
      this.detailId = null
    },
    toStepEvent: function (data, step) {
      this.detailId = data.user_id
      this.step = step
    },
    saveEvent: function () {
      this.$refs.setUserEvent.setUserEvent()
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    remove: function () {
      // console.log('remove', this.idsData)
      let postData = {
        userIds: []
      }
      // 內頁單筆刪除
      if (this.detailId) {
        postData.userIds = [this.detailId]
        this.LoadingViewIsShow = true
        this.$store.dispatch('user/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            setTimeout(() => {
              this.step = 0
            }, 500)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
            this.LoadingViewIsShow = false
          }
        })
      } else {
        let isError = false
        if (this.idsData.selectIds.length === 0) {
          isError = true
        }
        if (isError) {
          return
        }
        postData.userIds = this.idsData.selectIds
        this.LoadingViewIsShow = true
        this.$store.dispatch('user/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
            this.LoadingViewIsShow = false
          }
        })
      }
      this.idsData = null
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    setStep: function (step) {
      this.step = step
    },
    //
    reloadDataGrid: function () {
      this.isQuery = true
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    reload: function () {
      this.LoadingViewIsShow = true
      this.$refs.setUserEvent.setUserEvent('reload')
    },
    //
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      //
      let filter = []
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      if (filterAry) {
        filterAry.forEach((item) => {
          // console.log(item)
          filter.push(item)
        })
      }
      //
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      // console.log(postData)
      //
      this.$store.dispatch(`user/query`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.LoadingViewIsShow = false
          this.isQuery = false
        } else {
          this.isQuery = false
          this.LoadingViewIsShow = false
        }
      })
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            this.saveLayoutColumns = settingDataArr || []
          }
        }
      })
    }
  },
  created () {
    //
    this.getGridLayout()
    this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`user/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 46px - 16px);
  }
}
</style>
