<template>
  <div class="workspace" :id="`workspace_${routeName}`">
    <span v-for="(win , idx) in menuState[routeName]" :key="`idx-${win}`">
      <DraggableWindow
      v-if="win==='outboundOperation'"
      :wid="win"
      :workspaceId="`workspace_${routeName}`"
      :root="routeName"
      :header="$t(`menu.${win}`)"
      :zindex="zindexObj[win]"
      :t="5 * idx"
      :l="5 * idx">
        <!-- 置入所有功能元件 -->
        <ImportOutbound v-if="win==='importOutbound'" keyCode="importOutbound"></ImportOutbound>
        <OutboundOperation v-if="win==='outboundOperation'" keyCode="outboundOperation"></OutboundOperation>
        <BookingOperation v-if="win==='bookingOperation'" keyCode="bookingOperation"></BookingOperation>
        <OutboundDetailQuery v-if="win==='outboundDetailQuery'" keyCode="outboundDetailQuery"></OutboundDetailQuery>
        <OutboundSnapshot v-if="win==='outboundSnapshot'" keyCode="outboundSnapshot"></OutboundSnapshot>
        <PickingListQuery v-if="win==='pickingListQuery'" keyCode="pickingListQuery"></PickingListQuery>
        <ProductSnQuery v-if="win==='productSnQuery'" keyCode="productSnQuery"></ProductSnQuery>
      </DraggableWindow>
    </span>
  </div>
</template>

<script>
// window 元件
import DraggableWindow from '@/components/window/DraggableWindow'
// window 內容
import ImportOutbound from './win/ImportOutbound'
import OutboundOperation from './win/OutboundOperation'
import BookingOperation from './win/BookingOperation'
import OutboundDetailQuery from './win/OutboundDetailQuery'
import OutboundSnapshot from './win/OutboundSnapshot'
import PickingListQuery from './win/PickingListQuery'
import ProductSnQuery from './win/ProductSnQuery'
//
export default {
  name: 'OutboundMgmt',
  props: ['viewId', 'menuState', 'query'],
  components: {
    DraggableWindow,
    ImportOutbound,
    OutboundOperation,
    BookingOperation,
    OutboundDetailQuery,
    OutboundSnapshot,
    PickingListQuery,
    ProductSnQuery
  },
  data () {
    let zindexObj = {}
    Object.keys(this.menuState).forEach(element => {
      if (element !== this.viewId) {
        return
      }
      this.menuState[element].forEach(ele => {
        zindexObj[ele] = 1
      })
    })
    //
    return {
      routeName: this.$router.currentRoute.name,
      routeQuery: this.$router.currentRoute.query,
      zindexObj: zindexObj
    }
  },
  watch: {
    menuState: function (val) {
      let zindexObj = {}
      Object.keys(this.menuState).forEach(element => {
        if (element !== this.viewId) {
          return
        }
        this.menuState[element].forEach((ele, idx) => {
          zindexObj[ele] = idx
        })
      })
      this.zindexObj = zindexObj
    },
    '$route': {
      handler: function (val) {
        this.routeQuery = this.$router.currentRoute.query
      },
      deep: true
    },
    routeQuery: function (val) {
      if (this.routeName !== this.viewId) {
        return
      }
      let wId = val.w
      this.upZindex(wId)
    }
  },
  methods: {
    upZindex: function (wId) {
      // 重組
      Object.keys(this.zindexObj).forEach((ele, idx) => {
        if (wId === ele) {
          this.zindexObj[wId] = this.menuState[this.viewId].length
        } else {
          if (this.zindexObj[ele] - 1 < 1) {
            this.zindexObj[ele] = 1
          } else {
            this.zindexObj[ele] = this.zindexObj[ele] - 1
          }
        }
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.workspace {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
</style>
