<template>
  <div class="workspace" :id="`workspace_${routeName}`">
    <span v-for="(win , idx) in menuState[routeName]" :key="`idx-${win}`">
      <DraggableWindow
      v-if="winAry.includes(win)"
      :wid="win"
      :workspaceId="`workspace_${routeName}`"
      :root="routeName"
      :header="$t(`menu.${win}`)"
      :zindex="zindexObj[win]"
      :t="5 * idx"
      :l="5 * idx">
        <!-- 置入所有功能元件 -->
        <ImportReturn v-if="win==='importReturn'" keyCode="importReturn"></ImportReturn>
        <ReturnOperationSimple v-if="win==='returnOperationSimple'" keyCode="returnOperationSimple"></ReturnOperationSimple>
        <ReturnOperation v-if="win==='returnOperation'" keyCode="returnOperation"></ReturnOperation>
        <ReturnAcceptance v-if="win==='returnAcceptance'" keyCode="returnAcceptance"></ReturnAcceptance>
        <ReturnShelves v-if="win==='returnShelves'" keyCode="returnShelves"></ReturnShelves>
        <ReturnInventoryQuery v-if="win==='returnInventoryQuery'" keyCode="returnInventoryQuery"></ReturnInventoryQuery>
        <ReturnSnapshot v-if="win==='returnSnapshot'" keyCode="returnSnapshot"></ReturnSnapshot>
      </DraggableWindow>
    </span>
  </div>
</template>

<script>
// window 元件
import DraggableWindow from '@/components/window/DraggableWindow'
// window 內容
import ImportReturn from './win/ImportReturn'
import ReturnOperationSimple from './win/ReturnOperationSimple'
import ReturnOperation from './win/ReturnOperation'
import ReturnAcceptance from './win/ReturnAcceptance'
import ReturnShelves from './win/ReturnShelves'
import ReturnInventoryQuery from './win/ReturnInventoryQuery'
import ReturnSnapshot from './win/ReturnSnapshot'
//
export default {
  name: 'ReturnMgmt',
  props: ['viewId', 'menuState', 'query'],
  components: {
    DraggableWindow,
    ImportReturn,
    ReturnOperationSimple,
    ReturnOperation,
    ReturnAcceptance,
    ReturnShelves,
    ReturnInventoryQuery,
    ReturnSnapshot
  },
  data () {
    let zindexObj = {}
    Object.keys(this.menuState).forEach(element => {
      if (element !== this.viewId) {
        return
      }
      this.menuState[element].forEach(ele => {
        zindexObj[ele] = 1
      })
    })
    //
    return {
      routeName: this.$router.currentRoute.name,
      routeQuery: this.$router.currentRoute.query,
      zindexObj: zindexObj,
      winAry: ['importReturn', 'returnOperationSimple', 'returnOperation', 'returnAcceptance', 'returnShelves', 'returnSnapshot', 'returnInventoryQuery']
    }
  },
  watch: {
    menuState: function (val) {
      let zindexObj = {}
      Object.keys(this.menuState).forEach(element => {
        if (element !== this.viewId) {
          return
        }
        this.menuState[element].forEach((ele, idx) => {
          zindexObj[ele] = idx
        })
      })
      this.zindexObj = zindexObj
    },
    '$route': {
      handler: function (val) {
        this.routeQuery = this.$router.currentRoute.query
      },
      deep: true
    },
    routeQuery: function (val) {
      if (this.routeName !== this.viewId) {
        return
      }
      let wId = val.w
      this.upZindex(wId)
    }
  },
  methods: {
    upZindex: function (wId) {
      // 重組
      Object.keys(this.zindexObj).forEach((ele, idx) => {
        if (wId === ele) {
          this.zindexObj[wId] = this.menuState[this.viewId].length
        } else {
          if (this.zindexObj[ele] - 1 < 1) {
            this.zindexObj[ele] = 1
          } else {
            this.zindexObj[ele] = this.zindexObj[ele] - 1
          }
        }
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    this.upZindex(this.routeQuery.w)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.workspace {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
</style>
