<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 截單作業 -->
    <div class="row">
      <div class="col-3">
        <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
          <span class="title-text">截單作業</span>
        </div>
        <div class="body-box pr-3">
          <div class="item">
            <!-- 貨主 owner_id -->
              <FloatLabelBox
                :config="{
                  hasContent: (searchPostData.owner_name && searchPostData.owner_name!==''),
                  label: '貨主',
                  hasClearButton: true,
                  background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                  type: `NewAutoComplete`,
                  settings: {height: 41}, hiddenSearchBtn: true}"
                :code="`owner_name`"
                :autoCompleteData="ownerList"
                :defaultValue="searchPostData.owner_name"
                :modalTitle="`貨主`"
                :toCloseModal="toCloseOwnerAutocompleteModal"
                keyCode="customerSetup"
                storeKey="customerOwner"
                returnCode="customer_name"
                :showCols="autoCompleteShowOwnerCols"
                :isError="error.owner_id"
                :isRequired="false"
                @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
                @changeModelEvent="ownerAutocompleteChangeEvent"
                @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
                @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
                  <div>
                    <!-- 貨主-->
                    <AutocompleteModal
                    keyCode="customerSetup"
                    storeKey="customerOwner"
                    returnCode="customer_name"
                    :condition="ownerCondition"
                    :baseCondition="ownerBaseCondition"
                    @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
                  </div>
              </FloatLabelBox>
          </div>
          <div class="item">
            <!-- 訂單編號 order_no -->
            <FloatLabelBox
              :config="{
                hasContent: (searchPostData.order_no && searchPostData.order_no!==''),
                label: `訂單編號`,
                hasClearButton: true,
                background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                type: `InputText`,
                settings: {height: 41}}"
              :code="`order_no`"
              :defaultValue="searchPostData.order_no"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="item">
            <!-- 電商平台 temperature_type -->
            <FloatLabelBox
            :config="{
              hasContent: (searchPostData.ecstore_code && searchPostData.ecstore_code!==''),
              label: '電商平台',
              hasClearButton: true,
              background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`ecstore_code`"
            :defaultValue="searchPostData.ecstore_code"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
          </div>
          <div class="item">
            <!-- 出庫備註 outbound_note -->
            <FloatLabelBox
              :config="{
                hasContent: (searchPostData.outbound_note && searchPostData.outbound_note!==''),
                label: `出庫備註`,
                hasClearButton: true,
                background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                type: `InputText`,
                settings: {height: 41}}"
              :code="`outbound_note`"
              :defaultValue="searchPostData.outbound_note"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="item">
            <!-- 出庫類別 order_type -->
            <FloatLabelBox
              :config="{
                hasContent: (searchPostData.order_type && searchPostData.order_type!==''),
                label: '出庫類別',
                hasClearButton: true,
                background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                type: `Select`,
                settings: {height: 41}}"
              :selectList="orderTypeList"
              :code="`order_type`"
              :defaultValue="searchPostData.order_type"
              :disabled="false"
              @changeModelEvent="orderTypeListChangeEvent"
            ></FloatLabelBox>
          </div>
          <Button class="best-v1 lg-btn w-100" :class="[userInfo.themeColor]" shape="circle" size="large" @click="search">
            篩選截單條件 &nbsp;<font-awesome-icon icon="search"/>
          </Button>
        </div>
      </div>
      <div class="col">
        <TransferX2
          list1Title="未處理訂單"
          list2Title="待處理訂單"
          mainId="outbound_id"
          :list1Cols="transferX2Cols1"
          :list2Cols="transferX2Cols2"
          :list1="transferX2List1"
          :list2="transferX2List2"
          showSelect="1"
          submitBtnTxt="截單"
          @list1ChangeEvent="transferX2List1ChangeEvent"
          @list2ChangeEvent="transferX2List2ChangeEvent"
          @list1ReloadEvent="transferX2List1ReloadEvent"
          @list2ReloadEvent="transferX2List2ReloadEvent"
          @addEvent="transferX2AddEvent"
          @removeEvent="transferX2RemoveEvent"
          @submitEvent="transferX2SubmitEvent"
        ></TransferX2>
      </div>
    </div>
    <!-- 截單結果 -->
    <Modal v-model="bookingModal" width="1000" :footer-hide="true" closable class="bookingModal">
      <!-- LoadingView -->
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="w-100 mr-3">
          <div class="title text-blue mb-2">
            <span class="title-text">截單成功
              <Button class="best-blue mr-3" shape="circle" @click="listSuccessSelectAll = true">全選</Button>
              <Button class="best-gray" shape="circle" @click="listSuccessSelectAll = false">全不選</Button>
            </span>
            <div class="d-flex align-items-center">
              <Button class="best-gray mr-3" shape="circle" @click="recovery">回復截單</Button>
              <span class="quantity">
                <font-awesome-icon icon="file" class="mr-1" /> &nbsp;{{successResult.length}}
            </span>
            </div>
          </div>
          <div class="outlined-card">
            <div class="d-flex align-items-center mb-2" v-for="(item, index) in successResult" :key="index">
              <span>
                  <Checkbox v-model="item.SELECTED"></Checkbox>
              </span>
              <div
              class="data d-flex"
              :class="{'isSelected': item.SELECTED}"
              @click.exact="setectEvent(item, index, 1)"
              @click.shift.exact="shiftSetectEvent(item, index, 1)"
              @click.ctrl.exact="ctrlSetectEvent(item, index, 1)"
              @click.meta.exact="ctrlSetectEvent(item, index, 1)">
                <div class="lable">
                  <ul class="list-unstyled">
                    <li>訂單編號</li>
                    <li>收件人</li>
                  </ul>
                </div>
                <div class="content">
                  <ul class="list-unstyled">
                    <li class="no">{{item.order_no}}</li>
                    <li>{{item.consignee_name}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <!-- <Button class="best-outlined-gray-dark lg-btn w-100 mr-3" shape="circle" size="large" @click="deliveryConfirm">
              出貨
            </Button> -->
            <Button class="best-outlined-blue lg-btn w-50" shape="circle" size="large" @click="setPrintTrigger">
              報表列印
            </Button>
          </div>
        </div>
        <div class="w-100">
          <div class="title text-red mb-2">
            <span class="title-text">缺貨訂單</span>
            <span class="quantity">
                <font-awesome-icon icon="file" class="mr-1" /> &nbsp;{{failResult.length}}
            </span>
          </div>
          <div class="outlined-card fail">
            <div class="d-flex align-items-center mb-2" v-for="(item, index) in failResult" :key="index">
              <div
              class="data d-flex"
              :class="{'isSelected': item.SELECTED}">
                <div class="lable">
                  <ul class="list-unstyled">
                    <li>訂單編號</li>
                    <li>異常原因</li>
                  </ul>
                </div>
                <div class="content">
                  <ul class="list-unstyled">
                    <li class="no">{{item.order_no}}</li>
                    <li>{{item.reason}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <Button class="best-outlined-red lg-btn" shape="circle" size="large" @click="dataexport">
              缺貨訂單匯出
            </Button>
          </div>
        </div>
      </div>
    </Modal>
    <!-- 列印報表 CommonPickinglist modal -->
    <CommonPickinglistModal
      :pickinglistModal="pickinglistModalToggle"
      :pickinglistLoadingViewIsShow="pickinglistLoadingViewIsShow"
      :reportType="reportType"
      v-on:printEvent="printEvent"
      v-on:setPickinglistModalEvent="setPickinglistModalEvent"
    ></CommonPickinglistModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import TransferX2 from '@/components/Transfer/TransferX2'
import CommonPickinglistModal from '@/components/CommonPickinglistModal/CommonPickinglistModal'
export default {
  name: 'BookingOperation',
  props: ['keyCode'],
  components: {
    LoadingView,
    FloatLabelBox,
    AutocompleteModal,
    TransferX2,
    CommonPickinglistModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      ownerId: ownerId,
      ownerName: ownerName,
      /* Transfer */
      transferX2Cols1: [
        {
          label: '訂單編號',
          key: 'order_no'
        },
        {
          label: '收件人',
          key: 'consignee_name',
          key2: 'store_name'
        }
      ],
      transferX2Cols2: [
        {
          label: '訂單編號',
          key: 'order_no'
        },
        {
          label: '收件人',
          key: 'consignee_name',
          key2: 'store_name'
        }
      ],
      transferX2List1: [],
      transferX2List2: [],
      /* 貨主代碼 : owner_id */
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      ownerBaseCondition: [],
      /* 出庫類別 */
      orderTypeList: [],
      //
      searchPostData: {
        owner_name: ownerName, // 貨主
        owner_id: ownerId, // 貨主ID
        order_no: null, // 訂單編號
        ecstore_code: null, // 電商平台
        outbound_note: null, // 出庫備註
        order_type: 'outbound_normal'
      },
      error: {
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        order_no: false, // 訂單編號
        ecstore_code: false, // 運送溫層類別
        outbound_note: false // 出庫備註
      },
      //
      successResultTrigger: false,
      // failResultTrigger: false,
      successResult: [], // 處理完訂單
      failResult: [], // 缺貨訂單
      /* pickinglist modal */
      pickinglistModalToggle: false,
      pickinglistLoadingViewIsShow: false,
      // 報表種類
      reportType: 'outboundBooking',
      // 截單結果 modal
      bookingModal: false,
      successResultSelectAll: false,
      failResultSelectAll: false,
      successResultSelectFirst: null,
      successResultSelectSecond: null,
      listSuccessSelectAll: false,
      failResultSelectFirst: null,
      failResultSelectSecond: null
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    successResultTrigger: function (bol) {
      this.successResult.forEach((ele, idx) => {
        ele.SELECTED = bol
      })
    },
    //
    searchPostData: {
      handler: function (val) {
        // console.log(val)
        if (val.owner_id) {
          this.error.owner_id = false
        }
      },
      deep: true
    },
    transferX2List1: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    transferX2List2: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    listSuccessSelectAll: function (bol) {
      // console.log(bol)
      this.successResult.forEach(element => {
        element['SELECTED'] = bol
      })
    }
  },
  methods: {
    /* Transfer */
    transferX2List1ChangeEvent: function (data) {
      // list 1 改變
      // console.log(data)
      this.transferX2List1 = data
    },
    transferX2List2ChangeEvent: function (data) {
      // list 2 改變
      // console.log(data)
      this.transferX2List2 = data
    },
    transferX2List1ReloadEvent: function () {
      // 重新取得 list1
    },
    transferX2List2ReloadEvent: function () {
      // 重新取得 list2
    },
    transferX2AddEvent: function (data) {
      // 新增
      // console.log(data)
      let list = data.filter((item, index) => {
        return !item.SELECTED
      })
      let moveItems = data.filter((item, index) => {
        return item.SELECTED
      })
      list.forEach((ele, idx) => {
        ele.SELECTED = false
      })
      moveItems.forEach((ele, idx) => {
        ele.SELECTED = false
      })
      // console.log(moveItems)
      this.transferX2List1 = list
      this.transferX2List2 = [
        ...this.transferX2List2,
        ...moveItems
      ]
      // console.log(this.transferX2List2)
    },
    transferX2RemoveEvent: function (data) {
      // 移除
      // console.log(data)
      let list = data.filter((item, index) => {
        return !item.SELECTED
      })
      let moveItems = data.filter((item, index) => {
        return item.SELECTED
      })
      this.transferX2List2 = list
      this.transferX2List1 = [
        ...this.transferX2List1,
        ...moveItems
      ]
    },
    transferX2SubmitEvent: function (data) {
      //
      this.successResult = []
      this.failResult = []
      // 送出
      console.log(data)
      let postData = {
        outboundIds: [],
        condition: data.condition
      }
      let dataLength = data.data.length
      this.LoadingViewIsShow = true
      let ids = []
      for (let i = 0; i < dataLength; i++) {
        ids.push(data.data[i].outbound_id)
      }
      // console.log(ids)
      postData.outboundIds = ids
      this.$store.dispatch('outboundOperation/booking', postData).then((r) => {
        console.log(r)
        if (r.success) {
          let successResult = []
          let failResult = []
          let SR = r.data.success || []
          let FR = r.data.fail || []
          SR.forEach((ele, idx) => {
            // console.log(ele)
            successResult.push(
              {
                INDEX: idx + 1,
                SELECTED: false,
                outbound_id: ele.outbound_id,
                order_no: ele.order_no,
                consignee_name: ele.consignee_name || ele.store_name
              }
            )
          })
          FR.forEach((ele, idx) => {
            failResult.push(
              {
                INDEX: idx + 1,
                outbound_id: ele.outbound_id,
                order_no: ele.order_no,
                reason: '缺貨'
              }
            )
          })
          this.successResult = successResult
          this.failResult = failResult
          // 提示
          this.$Notice.success({
            title: '截單完成'
          })
          this.transferX2List2 = []
          this.bookingModal = true
          this.LoadingViewIsShow = false
        } else {
          this.$Notice.warning({
            title: '截單失敗',
            desc: r.message,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    // Transfer end
    drawerRightChangeEvent: function (pr) {
      // console.log(pr)
      if (pr === 0) {
        this.bookingModal = true
      } else {
        this.bookingModal = false
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.searchPostData[data.code] = data.val
    },
    //
    search: function () {
      //
      // console.log(this.searchPostData)
      this.transferX2List1 = []
      this.transferX2List2 = []
      // let isError = false
      // if (!this.searchPostData.owner_id || this.searchPostData.owner_id === '') {
      //   isError = true
      //   this.error.owner_id = true
      // }
      // if (isError) {
      //   this.$Notice.error({
      //     title: '搜尋條件請填入貨主'
      //   })
      //   return
      // }
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['outbound_status', '=', 10]
        ],
        orCondition: [],
        sort: [{ sortField: 'outbound_id', sortValue: 'asc' }]
      }
      // 貨主
      if (this.searchPostData.owner_id && this.searchPostData.owner_id !== '') {
        postData.baseCondition.push(
          ['owner_id', '=', this.searchPostData.owner_id]
        )
      }
      // 訂單編號
      if (this.searchPostData.order_no && this.searchPostData.order_no !== '') {
        postData.baseCondition.push(
          ['order_no', 'like', `%${this.searchPostData.order_no}%`]
        )
      }
      // 電商平台
      if (this.searchPostData.ecstore_code && this.searchPostData.ecstore_code !== 'null') {
        postData.baseCondition.push(
          ['ecstore_code', 'like', `%${this.searchPostData.ecstore_code}%`]
        )
      }
      // 出庫備註
      if (this.searchPostData.order_type && this.searchPostData.order_type !== '') {
        postData.baseCondition.push(
          ['order_type', '=', this.searchPostData.order_type]
        )
      }
      // 出庫類別
      //
      this.LoadingViewIsShow = true
      //
      this.$store.dispatch('outboundOperation/search', postData).then((r) => {
        // console.log(r)
        this.LoadingViewIsShow = false
        if (r.success) {
          //
          let outboundList = r.data
          // console.log(outboundList.length)
          if (outboundList.length < 1) {
            this.$Notice.warning({
              title: '查無符合條件的資料，請重新搜尋'
            })
            return
          }
          outboundList.forEach((ele, idx) => {
            this.transferX2List1.push(
              {
                INDEX: idx + 1,
                SELECTED: false,
                order_no: ele.order_no || ele.outbound_no,
                outbound_id: ele.outbound_id,
                consignee_name: ele.consignee_name || ele.store_name
              }
            )
          })
          // this.transferX2List1 = outboundList
          // this.transferX2List1.forEach((ele, idx) => {
          //   ele.INDEX = idx + 1
          //   ele.SELECTED = false
          //   ele.order_no = ele.order_no || ele.outbound_no
          // })
        } else {
          //
          this.LoadingViewIsShow = false
          //
          this.$Notice.warning({
            title: '查無符合條件的資料，請重新搜尋'
          })
        }
      })
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.searchPostData[data.code] = ''
      // 設定其他資料處
      this.searchPostData.owner_id = null
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.searchPostData[data.code])
      if (this.searchPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.searchPostData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.searchPostData.owner_id = data.val ? data.val.customer_id : ''
        // console.log(this.searchPostData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.ownerBaseCondition,
        orCondition: [
          [data.returnCode, 'like', `%${data.val}%`],
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.searchPostData.owner_name = data.data[data.returnCode]
      this.searchPostData.owner_id = data.data.customer_id
      // console.log(this.searchPostData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 運送溫層類別 */
    orderTypeListChangeEvent: function (data) {
      // console.log(data)
      this.searchPostData[data.code] = data.val
    },
    getOrderTypeList: function () {
      this.orderTypeList = [
        {
          value: 'outbound_normal',
          label: '一般出庫'
        },
        {
          value: 'outbound_transfer',
          label: '調撥出'
        }
      ]
    },
    /* 指定送達日期 : delivery_date_specify */
    deliveryDateSpecifyDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.searchPostData.delivery_date_specify = data.val
      // console.log(this.searchPostData.delivery_date_specify)
    },
    //
    setPrintTrigger: function () {
      let noSelected = false
      let list = []
      if (this.successResult.length === 0) {
        this.$Notice.warning({
          title: '沒有可列印的資料'
        })
        return
      }
      this.successResult.forEach((ele, idx) => {
        if (ele.SELECTED) {
          noSelected = true
          list.push(ele)
        }
      })
      if (!noSelected) {
        this.$Notice.warning({
          title: '請勾選要列印的資料'
        })
        return
      }
      this.pickinglistModalToggle = true
    },
    printEvent: function (data) {
      // console.log(data)
      this.print(data.type, data.postData, data.printHavePickinglistNo)
    },
    setPickinglistModalEvent: function (bol) {
      // console.log(bol)
      this.pickinglistModalToggle = bol
    },
    print: async function (type, data, printHavePickinglistNo) {
      // console.log(data)
      // console.log(type)
      let ids = []
      let postData = {
        ids: [],
        reportCode: null,
        orderBy: null,
        reGenerator: data.reGenerator,
        printByProduct: false,
        printByOrder: false
      }
      this.successResult.forEach((ele, idx) => {
        if (ele.SELECTED) {
          ids.push(ele.outbound_id)
        }
      })
      switch (type) {
        case 'pickingListByProduct':
          postData.reGenerator = true
          postData.printByProduct = true
          postData.printByOrder = data.picking_order
          postData.separate = data.separate
          postData.pickinglist_rule = data.pickinglist_rule
          break
        case 'pickingListByOrder':
          postData.printByOrder = true
          postData.separate = data.separate
          break
        default:
          postData.printByOrder = null
          postData.printByProduct = null
          break
      }
      postData.ids = ids
      postData.reportCode = type
      postData.orderBy = data.order_by
      this.pickinglistLoadingViewIsShow = true
      this.$store.dispatch('report/print', postData).then((r) => {
        console.log(r)
        if (r.success) {
          window.open(`${r.donwloadLink}`)
          this.pickinglistLoadingViewIsShow = false
          this.$Notice.success({
            title: '列印成功'
          })
        } else {
          this.pickinglistLoadingViewIsShow = false
          this.$Notice.error({
            title: '列印失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 截單失敗匯出 dataexport modal
    dataexport: function () {
      // console.log('截單失敗匯出')
      let idsLength = this.failResult.length
      if (idsLength === 0) {
        this.$Notice.warning({
          title: '沒有可匯出的資料'
        })
        return
      }
      //
      this.LoadingViewIsShow = true
      // console.log(data.postData)
      let postData = {
        outboundIds: []
      }
      let ids = []
      this.failResult.forEach((item) => {
        ids.push(item.outbound_id)
      })
      postData.outboundIds = ids
      this.$store.dispatch(`outboundOperation/outofstockDataexport`, postData).then((r) => {
        console.log(r)
        if (r.success) {
          window.open(`${r.donwloadLink}`)
          this.$Notice.success({
            title: '列印成功'
          })
          this.LoadingViewIsShow = false
        } else {
          this.LoadingViewIsShow = false
          this.$Notice.error({
            title: '列印失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    recovery: function () {
      this.LoadingViewIsShow = true
      let ids = []
      // console.log(this.successResult)
      this.successResult.forEach((ele, idx) => {
        if (!ids.includes(ele.outbound_id) && ele.SELECTED) {
          ids.push(ele.outbound_id)
        }
      })
      if (ids.length === 0) {
        this.$Notice.warning({
          title: '請勾選要回復的資料'
        })
        this.LoadingViewIsShow = false
        return
      }
      // console.log(ids)
      let postData = {
        outboundIds: ids
      }
      //
      this.$store.dispatch('outboundOperation/recoveryBooking', postData).then((r) => {
        // console.log(r)
        if (r.success) {
          //
          let successResult = [...this.successResult]
          let successResultLength = successResult.length - 1
          for (let i = successResultLength; i >= 0; i--) {
            if (successResult[i].SELECTED) {
              successResult.splice(i, 1)
            }
          }
          successResult.forEach((ele, idx) => {
            ele.INDEX = idx + 1
            ele.SELECTED = false
          })
          this.successResult = successResult
          // console.log('this.successResult : ', this.successResult)
          // 提示
          this.$Notice.success({
            title: '回復截單成功'
          })
          this.LoadingViewIsShow = false
        } else {
          // 提示
          this.$Notice.error({
            title: '回復截單失敗',
            desc: r.message,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      })
      this.successResultTrigger = false
    },
    deliveryConfirm: function () {
      this.LoadingViewIsShow = true
      let ids = []
      this.successResult.forEach((ele, idx) => {
        if (!ids.includes(ele.outbound_id) && ele.SELECTED) {
          ids.push(ele.outbound_id)
        }
      })
      //
      if (ids.length === 0) {
        this.$Notice.warning({
          title: '請勾選要出貨的資料'
        })
        this.LoadingViewIsShow = false
        return
      }
      let postData = {
        outboundIds: ids
      }
      this.$store.dispatch('outboundOperation/confirm', postData).then((r) => {
        console.log(r)
        if (r.success) {
          let successResult = [...this.successResult]
          let successResultLength = successResult.length - 1
          for (let i = successResultLength; i >= 0; i--) {
            if (successResult[i].SELECTED) {
              successResult.splice(i, 1)
            }
          }
          successResult.forEach((ele, idx) => {
            ele.INDEX = idx + 1
            ele.SELECTED = false
          })
          this.successResult = successResult
          // 提示
          this.$Notice.success({
            title: '出貨成功'
          })
          this.LoadingViewIsShow = false
        } else {
          // 提示
          this.$Notice.error({
            title: '出貨失敗',
            desc: r.message,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    setectEvent (row, index, type) {
      // console.log('setect')
      // console.log(row)
      // console.log(index)
      let list = null
      let elseList = null
      switch (type) {
        case 1:
          list = 'successResult'
          elseList = 'failResult'
          break
        case 2:
          list = 'failResult'
          elseList = 'successResult'
          break
      }
      //
      let listLength = this[list].length
      for (let i = 0; i < listLength; i++) {
        this[list][i].SELECTED = false
      }
      this[list][index].SELECTED = !this[list][index].SELECTED
      this[`${list}SelectFirst`] = index
      this[`${list}SelectSecond`] = null
      this[`${elseList}SelectFirst`] = null
      this[`${elseList}SelectSecond`] = null
    },
    shiftSetectEvent: function (row, index, type) {
      // console.log('shift')
      // console.log(row)
      // console.log(index)
      let selectFirst = null
      let selectSecond = null
      let list = null
      switch (type) {
        case 1:
          selectFirst = this.successResultSelectFirst
          selectSecond = this.successResultSelectSecond
          list = 'successResult'
          this.failResultSelectFirst = null
          this.failResultSelectSecond = null
          break
        case 2:
          selectFirst = this.failResultSelectFirst
          selectSecond = this.failResultSelectSecond
          list = 'failResult'
          this.successResultSelectFirst = null
          this.successResultSelectSecond = null
          break
      }
      // console.log(this[list])
      //
      if ((selectFirst && !selectSecond && selectSecond !== 0) || (selectFirst < selectSecond && selectSecond < index && selectFirst < index) || (selectFirst > selectSecond && selectSecond > index && selectFirst > index)) {
        let num = index - selectFirst
        console.log(num)
        if (num > 0) {
          for (let i = selectFirst; i <= index; i++) {
            this[list][i].SELECTED = true
          }
        } else {
          for (let i = index; i < selectFirst; i++) {
            this[list][i].SELECTED = true
          }
        }
      } else if (selectFirst < selectSecond && selectSecond > index && selectFirst < index) {
        for (let i = selectFirst; i < index; i++) {
          this[list][i].SELECTED = true
        }
        for (let i = index; i <= selectSecond; i++) {
          this[list][i].SELECTED = false
        }
      } else if (selectFirst > selectSecond && selectSecond < index && selectFirst > index) {
        for (let i = index; i < selectFirst; i++) {
          this[list][i].SELECTED = true
        }
        for (let i = selectSecond; i < index; i++) {
          this[list][i].SELECTED = false
        }
      } else if (selectFirst > selectSecond && selectSecond < index && selectFirst < index) {
        for (let i = selectFirst; i <= index; i++) {
          this[list][i].SELECTED = true
        }
        for (let i = selectSecond; i < selectFirst; i++) {
          this[list][i].SELECTED = false
        }
      } else if (selectFirst < selectSecond && selectSecond > index && selectFirst > index) {
        for (let i = index; i < selectFirst; i++) {
          this[list][i].SELECTED = true
        }
        for (let i = selectFirst; i <= selectSecond; i++) {
          this[list][i].SELECTED = false
        }
      } else if (!selectFirst && !selectSecond) {
        for (let i = 0; i < (index + 1); i++) {
          this[list][i].SELECTED = true
        }
      }
      //
      switch (type) {
        case 1:
          if (!selectFirst) {
            this.successResultSelectFirst = 0
            this.successResultSelectSecond = index
          } else {
            this.successResultSelectSecond = index
          }
          break
        case 2:
          if (!selectFirst) {
            this.failResultSelectFirst = 0
            this.failResultSelectSecond = index
          } else {
            this.failResultSelectSecond = index
          }
          break
      }
    },
    ctrlSetectEvent: function (row, index, type) {
      // console.log('ctrl')
      // console.log(row)
      // console.log(index)
      let list = null
      let elseList = null
      switch (type) {
        case 1:
          list = 'successResult'
          elseList = 'failResult'
          break
        case 2:
          list = 'failResult'
          elseList = 'successResult'
          break
      }
      this[list][index].SELECTED = !this[list][index].SELECTED
      this[`${list}SelectFirst`] = index
      this[`${list}SelectSecond`] = null
      this[`${elseList}SelectFirst`] = null
      this[`${elseList}SelectSecond`] = null
    }
  },
  created () {
    //
  },
  mounted () {
    //
    this.getOrderTypeList()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .row {
    display: flex;
    width: 100%;
    height: 100%;
    .col {
      flex: 1;
      height: 100%;
      margin-right: 15px;
      margin-left: 15px;
    }
    .col-3 {
      flex: 0 0 25%;
      width: 25%;
      height: 100%;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      font-weight: 400;
    }
    .btn {
      min-width: 96px;
      font-size: 16px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .quantity {
      font-size: 16px;
      color: #555;
      font-weight: 400;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 42px - 30px);
    .item {
      margin-bottom: 24px;
    }
  }
}
.bookingModal {
  .modal-body {
    width: 100%;
    padding: 0 48px 24px;
    display: flex;
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        .title-text {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 24px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          display: inline-block;
          font-weight: 400;
        }
        .quantity {
          font-size: 16px;
          font-weight: 400;
        }
      }
    .outlined-card {
      width: 100%;
      border: 1px solid #118cf8;
      border-radius: 8px;
      padding: 8px;
      overflow-y: scroll;
      height: 428px;
      margin-bottom: 8px;
      &.fail {
        border: 1px solid #E80C0C;
      }
      .data {
        border: 1px solid #3c3c3c;
        border-radius: 8px;
        padding: 8px 16px;
        flex: 1;
        li {
          height: 30px;
          line-height: 30px;
        }
        &.isSelected {
          border: 1px solid #118cf8;
          .lable, .content {
            color: #118cf8;
          }
        }
      }
      .lable {
        font-size: 14px;
        padding-right: 8px;
        color: #3c3c3c;
      }
      .content {
        font-size: 16px;
        color: #3c3c3c;
        .no {
          font-size: 20px;
          font-weight: bold;
        }
      }
      /deep/.ivu-checkbox-inner {
        border: 1px solid #3c3c3c;
        background: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
      /deep/.ivu-checkbox-checked{
        .ivu-checkbox-inner{
          border: 1px solid #118cf8;
          &::after {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #118cf8;
            border: 0px solid transparent;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
</style>
