<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
      <span class="title-text">輸入出庫單號</span>
      <div class="btn-box">
        <Button class="best-v2 lg-btn border-radius-8 mr-3" :class="[userInfo.themeColor]" @click="getShippingPic" :loading="getShippingPicLoading">
          取託運單
          <font-awesome-icon icon="shipping-fast" />
        </Button>
        <Button class="best-blue-gradual lg-btn border-radius-8" @click="getShippingPic" :loading="getShippingPicLoading">
          裝箱確認
          <font-awesome-icon icon="clipboard-check" />
        </Button>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">請輸入出庫單號</div>
        <input type="text" placeholder="請輸入出庫單號" class="white-bg-input mb-4" v-model="outboundNo" ref="outboundNo" v-on:keyup.enter="query">
        <div class="detail" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
          <div class="item">
            <div class="label">訂單編號</div>
            <div class="value">{{outbound_no}}</div>
          </div>
          <div class="item">
            <div class="label">收件人名稱</div>
            <div class="value">{{consignee_name}}</div>
          </div>
          <div class="item">
            <div class="label">裝箱日期</div>
            <div class="value">{{ new Date() | moment("YYYY-MM-DD") }}</div>
          </div>
          <div class="item">
            <div class="label">貨運行別</div>
            <div class="value">{{shipping_company_name}}</div>
          </div>
        </div>
      </div>
      <div class="col d-flex">
        <div class="w-100 pr-3">
          <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">請輸入料號</div>
          <div class="d-flex mb-2">
            <input type="text" placeholder="輸入商品料號" class="white-bg-input mr-3" v-model="productCode" ref="productCodeInput" v-on:keyup.enter="enterAdd">
            <Button class="best-blue-gradual lg-btn border-radius-8" @click="openNewModal">
              裝箱
              <font-awesome-icon icon="box" />
            </Button>
          </div>
          <div class="outlined-card">
            <div class="table-container">
              <div class="d-flex thead">
                <div class="product_code">
                  <span>商品料號</span>
                </div>
                <div class="num">
                  <span>待裝箱</span>
                </div>
                <div class="num">
                  <span>已裝箱</span>
                </div>
              </div>
              <div class="tbody" ref="proList">
                <div class="trow"
                :class="{
                        check: ((productCode && productCode !== '' &&
                        (item.product_code === productCode ||
                        item.product_barcode === productCode ||
                        item.product_barcode2 === productCode ||
                        item.product_barcode3 === productCode ||
                        item.product_barcode4 === productCode ||
                        item.product_barcode5 === productCode ||
                        item.product_barcode6 === productCode)) ||
                        (productCodeFocuse && productCodeFocuse !== '' &&
                        (item.product_code === productCodeFocuse ||
                        item.product_barcode === productCodeFocuse ||
                        item.product_barcode2 === productCodeFocuse ||
                        item.product_barcode3 === productCodeFocuse ||
                        item.product_barcode4 === productCodeFocuse ||
                        item.product_barcode5 === productCodeFocuse ||
                        item.product_barcode6 === productCodeFocuse))),
                        more: (item.boxed_nums > item.order_nums)
                    }"
                v-for="(item, index) in goodList"
                :key="`${item.product_code}_${index}`"
                :ref="item.product_code">
                  <div class="product_code">
                    <span>{{item.product_code}}</span>
                  </div>
                  <div class="num">
                    <span>{{item.order_nums}}</span>
                  </div>
                  <div class="num">
                    <input type="number" v-model="item.boxed_nums">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100">
          <div class="top-box d-flex justify-content-between align-items-end mb-2">
            <div class="caption" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
              <span>箱號列表</span>
              <Button class="best-gray ml-3" shape="circle" @click="removeBox">刪除</Button>
            </div>
            <span class="quantity" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
                <font-awesome-icon icon="box" class="mr-1" /> &nbsp;{{boxingList.length}}
            </span>
          </div>
          <div class="outlined-card">
            <div class="table-container">
              <div class="d-flex thead">
                <div class="SELECTED">
                  <Checkbox v-model="boxingTrigger"></Checkbox>
                </div>
                <div class="box_no">
                  <span>箱號</span>
                </div>
                <div class="more">
                </div>
              </div>
              <div class="tbody">
                <div class="d-flex w-100" v-for="(item, index) in boxingList" :key="`${item.box_no}_${index}`">
                  <div class="SELECTED">
                    <Checkbox v-model="item.SELECTED" @on-change="setBoxingListSelected(item.SELECTED, index)">></Checkbox>
                  </div>
                  <div class="trow" :class="{'check': item.SELECTED}">
                    <div class="box_no">
                      <span>{{item.box_no}}</span>
                    </div>
                    <div class="more">
                      <Poptip trigger="hover" title="顯示裝箱明細">
                        <Button type="text" size="large" ghost @click="queryBoxingDetailList(item.box_no)">
                          <font-awesome-icon icon="caret-right" />
                        </Button>
                      </Poptip>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 新增裝箱 -->
    <Modal v-model="addBoxModal" width="359" :footer-hide="true" closable class="boxModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <div class="desc-box">
            <div class="modal-title">
              <span class="mr-2">
                設定裝箱
              </span>
              <input type="text" placeholder="輸入指令動作" class="modal-input w-100" v-model="toDo" ref="toDoInput" v-on:keyup.enter="setAddBoxModalEvent">
            </div>
            <div class="form-box">
                <div class="item">
                  <!-- 長度單位 box_length_unit -->
                  <FloatLabelBox
                    :config="{
                      hasContent: (box_length_unit && box_length_unit!==''),
                      label: `長度單位`,
                      hasClearButton: true,
                      background: 'white',
                      type: `Select`,
                      settings: {height: 41}}"
                    :selectList="boxLengthUnitList"
                    :code="`box_length_unit`"
                    :defaultValue="box_length_unit"
                    :errorMsg="boxLengthUnitErrorMsg"
                    errorMsgColor="#F00"
                    :isError="boxLengthUnitIsError"
                    :isRequired="true"
                    @changeModelEvent="boxLengthUnitListChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 長度* -->
                  <FloatLabelBox
                    :config="{
                      hasContent: Number.isInteger(box_length),
                      label: `長度*`,
                      hasClearButton: true,
                      background: 'white',
                      type: `InputNumber`,
                      settings: {height: 41}}"
                    :errorMsg="boxLengthErrorMsg"
                    errorMsgColor="#F00"
                    :code="`box_length`"
                    :defaultValue="box_length"
                    :isError="boxLengthIsError"
                    :isRequired="true"
                    @changeModelEvent="boxLengthChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 寬度* -->
                  <FloatLabelBox
                    :config="{
                      hasContent: Number.isInteger(box_width), label: `寬度*`,
                      hasClearButton: true,
                      background: 'white',
                      type: `InputNumber`,
                      settings: {height: 41}}"
                    :errorMsg="boxWidthErrorMsg"
                    errorMsgColor="#F00"
                    :code="`box_width`"
                    :defaultValue="box_width"
                    :isError="boxWidthIsError"
                    :isRequired="true"
                    @changeModelEvent="boxWidthChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 高度* -->
                  <FloatLabelBox
                    :config="{
                      hasContent: Number.isInteger(box_height),
                      label: `高度*`,
                      hasClearButton: true,
                      background: 'white',
                      type: `InputNumber`,
                      settings: {height: 41}}"
                    :errorMsg="boxHeightErrorMsg"
                    errorMsgColor="#F00"
                    :code="`box_height`"
                    :defaultValue="box_height"
                    :isError="boxHeightIsError"
                    :isRequired="true"
                    @changeModelEvent="boxHeightChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 重量單位 box_weight_unit -->
                  <FloatLabelBox
                    :config="{
                      hasContent: (box_weight_unit_name && box_weight_unit_name!==''),
                      label: `重量單位`,
                      hasClearButton: true,
                      background: 'white',
                      type: `NewAutoComplete`,
                      settings: {height: 41}}"
                    :code="`box_weight_unit_name`"
                    :autoCompleteData="weightUnitList"
                    :defaultValue="box_weight_unit_name"
                    :modalTitle="`重量-單位`"
                    :toCloseModal="toCloseWeightUnitAutocompleteModal"
                    keyCode="settingUnitSetup"
                    storeKey="settingUnit"
                    returnCode="unit_name"
                    :isError="boxWeightUnitIsError"
                    :isRequired="true"
                    :showCols="autoCompleteShowWeightUnitCols"
                    @handleEnterSubmit="autocompleteHandleWeightUnitEnterSubmitEvent"
                    @changeModelEvent="weightUnitAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="weightUnitAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseWeightUnitAutocompleteModal"
                  >
                    <div>
                      <!-- 重量-單位-->
                      <AutocompleteModal
                        keyCode="settingUnitSetup"
                        storeKey="settingUnit"
                        returnCode="unit_name"
                        :condition="weightUnitCondition"
                        @setAutocompleteValueEvent="setAutocompleteWeightUnitValue"
                      ></AutocompleteModal>
                    </div>
                  </FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 重量* -->
                  <FloatLabelBox
                    :config="{
                      hasContent: Number.isInteger(box_weight),
                      label: `重量*`,
                      hasClearButton: true,
                      background: 'white',
                      type: `InputNumber`,
                      settings: {height: 41}}"
                    :errorMsg="boxWeightErrorMsg"
                    errorMsgColor="#F00"
                    :code="`box_weight`"
                    :defaultValue="box_weight"
                    :isError="boxWeightIsError"
                    :isRequired="true"
                    @changeModelEvent="boxWeightChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="btn-box">
                  <Button class="best-outlined-gray mr-3" shape="circle" size="large" @click="addBoxcancel">
                    取消
                  </Button>
                  <Button class="best-outlined-pink w-100" shape="circle" size="large" @click="addBox" :loading="addBoxIsLoading">
                    新增
                  </Button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
    <!-- 託運單 -->
    <Modal v-model="shippingPicModal" width="359" :footer-hide="true" closable class="boxModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <div class="desc-box">
            <div class="modal-title mb-3">
              <span>
                託運單
              </span>
            </div>
            <input type="text" placeholder="號碼" class="modal-input lg w-100 mb-3" v-model="outboundDetailsIndex" ref="outboundDetailsIndex" v-on:keyup.enter="setOutboundDetailsIndexEvent">
            <div class="btn-box">
              <Button class="best-blue w-100" shape="circle" size="large" @click="setOutboundDetailsIndexEvent">
                列印
              </Button>
            </div>
          </div>
        </div>
      </div>
    </Modal>
    <!-- 回刷序號 textarea -->
    <Modal v-model="productSnModal" width="600" :footer-hide="true" :closable="false" :mask-closable="false" class="productSnModal">
      <!-- LoadingView -->
    <LoadingView :show="checkProductSnLoadingViewIsShow"></LoadingView>
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <h2 class="title mb-2">
          <span>商品料號: {{productCode}}</span>
          <input
            type="text"
            placeholder="測試商品序號"
            class="testProductSn ml-3"
            v-model="testProductSnQury"
            ref="testProductSnQury"
            v-on:keyup.enter="checkProductSn(testProductSnQury)"/>
        </h2>
        <div class="container-box">
          <div class="input-box">
            <input type="text" placeholder="from" class="fromInput" ref="fromInput" v-model="fromProductSn" @keyup.enter="tabToToInput"/>
            <input type="text" placeholder="to" class="toInput" ref="toInput" v-model="toProductSn" @keyup.enter="autoCompleteProductSn"/>
            <Button class="dark-blue-btn m-0" @click="autoCompleteProductSn">
              自動產生序號
            </Button>
          </div>
          <h3 class="sub-title mb-2" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">
            序號表
            <span class="quantity">
              <Button shape="circle" class="mr-3" @click="clearProductSn">
                清空
              </Button>
              <font-awesome-icon icon="file" class="text-orange mr-1" />
                {{productSnList.length}}
            </span>
          </h3>
          <textarea class="str-box" cols="44" rows="10" ref="productSnInput" id="productSnInput" @keyup.enter="productSnInputOverChange" @keyup.delete="productSnInputOverChange"></textarea>
          <div class="work-box">
            <!-- <input type="text" placeholder="商品序號" class="productSnInput" ref="productSnInput" v-model="productSn" v-on:keyup.enter="addProductSnListEvent(productCodeIndex)"/> -->
            <Button class="dark-blue-btn m-0" @click="comfirmProductSnList(productCodeIndex)" :loading="comfirmBoxIsLoading">
              新增序號
            </Button>
          </div>
        </div>
      </div>
    </Modal>
    <!-- 指定商品 -->
    <Modal v-model="checkProductModal" width="1000" :footer-hide="true" :closable="false" class="productSnModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <h2 class="title mb-2">
          <span>商品料號: {{productCode}}</span>
        </h2>
        <div class="container-box">
          <div class="work-box">
            <DataGrid
              idKeyName="obd_id"
              :logicalOperator="logicalOperator"
              :hideFilter="true"
              :hidePage="true"
              :settingData="settingData"
              :gridData="checkProductGridData"
              :toGetIds="toGetIds"
              :isQuery="isQuery"
              @moveColEvent="moveColEvent"
              @removeColEvent="removeColEvent"
              @sortEvent="sortEvent"
              @filterEvent="filterEvent"
              @getIdsEvent="getIdsEvent"
              @getDetailEvent="getDetailEvent"
              @pageChangeEvent="pageChangeEvent"
              @pageSizeChangeEvent="pageSizeChangeEvent"></DataGrid>
          </div>
          <div class="input-box">
            <p class="mr-3">請輸入選取的資料:</p>
            <input type="text" class="productIndex" placeholder="號碼" v-model="outboundDetailsIndex" ref="outboundDetailsIndex" v-on:keyup.enter="setOutboundDetailsIndexEvent"/>
            <Button class="dark-blue-btn m-0" @click="setOutboundDetailsIndexEvent">
              確認
            </Button>
          </div>
        </div>
      </div>
    </Modal>
    <!-- 刪除最後一筆已裝箱商品 -->
    <Modal v-model="lastBoxDetailModal" width="500" :footer-hide="true" :closable="false" class="lastBoxDetailModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="icon-box"><img src="@/assets/images/icon/warning.png"></div>
        <div class="container-box">
          <div class="desc-box">
            如刪除商品，將一併刪除箱號，您確定要刪除嗎？
          </div>
          <div class="btn-box">
            <Button shape="circle" @click="closeLastBoxDetailModal">取消 <font-awesome-icon icon="pen"/></Button>
            <Button shape="circle" @click="removeBoxDetail('ok')">確定<font-awesome-icon icon="check"/></Button>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import DataGrid from '@/components/dataGrid/DataGrid'
export default {
  name: 'BoxingSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    FloatLabelBox,
    AutocompleteModal,
    DataGrid
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    var settingData = {
      isOverview: false, // 總纜
      page: {
        pageSize: 50, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#1565C0',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#E3F2FD',
        rowEvenColor: '#777777',
        editCelColor: 'rgb(255, 225, 225)',
        waitEditCelColor: '#FFFFFF',
        notEditCelColor: '#EFEFEF'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'outbound_unit_min_nums',
          displayName: '數量',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expiration_sale',
          displayName: '允售效期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let checkProductGridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    let userId = this.$store.state.auth.userInfo.userId
    return {
      Config: Config,
      companyId: companyId,
      whId: whId,
      userId: userId,
      outboundNo: null, // 出庫單號
      outboundId: null,
      outbound_no: null,
      consignee_name: null,
      shipping_company: null,
      shipping_company_name: null,
      ownerId: null,
      outboundDataObj: null,
      /* query goods */
      goodList: [],
      productCode: null,
      /* productCode focuse */
      productCodeFocuse: null,
      // productBoxedNums: null,
      // BoxedNums: null,
      productId: null,
      addBoxModal: false,
      /* 回刷序號 */
      productCodeIndex: null, // 商品明細的第幾筆
      productSnModal: false, // 序號Modal
      productSn: '', // 序號字串
      productSnList: [], // 序號陣列
      fromProductSn: null,
      toProductSn: null,
      testProductSnQury: null,
      checkProductSnLoadingViewIsShow: false,
      /* 指定商品 */
      pickinglistNo: null,
      checkProductModal: false, // 指定商品Modal
      outboundDetailsIndex: null, // 指定商品來自哪筆出庫明細
      outboundDetailsData: {}, // 出庫明細
      /* 刪除最後一筆已裝箱商品 */
      lastBoxDetailModal: false,
      //
      logicalOperator: logicalOperator,
      settingData: settingData,
      checkProductGridData: checkProductGridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      /* 長度單位 length_unit */
      boxLengthUnitList: [],
      /* 重量-單位 : weight_unit */
      weightUnitList: [],
      autoCompleteShowWeightUnitCols: [
        'unit_code'
      ],
      toCloseWeightUnitAutocompleteModal: false,
      weightUnitCondition: [{
        queryCondition: '=',
        queryField: 'unit_type',
        queryValue: '5'
      }],
      /* 新增裝箱 */
      box_length_unit: 2,
      box_weight_unit_name: '公斤(kg)',
      box_weight_unit: 41,
      box_length: 10,
      box_width: 10,
      box_height: 10,
      box_weight: 10,
      toDo: null,
      boxLengthIsError: false,
      boxWidthIsError: false,
      boxHeightIsError: false,
      boxWeightIsError: false,
      boxLengthUnitIsError: false,
      boxWeightUnitIsError: false,
      boxLengthErrorMsg: null,
      boxWidthErrorMsg: null,
      boxHeightErrorMsg: null,
      boxWeightErrorMsg: null,
      boxLengthUnitErrorMsg: null,
      boxWeightUnitErrorMsg: null,
      addBoxIsLoading: false,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      boxingTrigger: false,
      productTrigger: false,
      // 裝箱列表
      boxingList: [],
      // 已裝箱商品
      boxingDetailList: [],
      //
      comfirmBoxIsLoading: false,
      // 託運單
      getShippingPicLoading: false,
      isGetShippingPic: false,
      shippingPicModal: false, // 託運單Modal
      layoutTypeList: [
        {
          value: 1,
          label: '標籤機列印'
        },
        {
          value: 2,
          label: 'A4列印'
        }
      ],
      layout_type: 1,
      // 搜尋商品序號
      checkProductSnInputToggle: false,
      productSnQury: null,
      //
      timeZoneTimestamp: null,
      timeZone: null
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    boxingTrigger: function (bol) {
      //
      this.boxingList.forEach((item) => {
        item.SELECTED = bol
      })
    },
    productTrigger: function (bol) {
      //
      this.boxingDetailList.forEach((item) => {
        item.SELECTED = bol
      })
    },
    goodList: {
      handler: function (newVal) {
        // console.log(newVal)
        newVal.forEach((item) => {
          if (item.order_nums && item.order_nums < item.boxed_nums) {
            this.$Notice.error({
              title: `已超過數量`,
              duration: 30
            })
            item.boxed_nums = item.order_nums
          }
        })
      },
      deep: true
    },
    boxingList: {
      handler: function (newVal) {
        // console.log(newVal)
      },
      deep: true
    },
    boxingDetailList: {
      handler: function (newVal) {
        // console.log(newVal)
      },
      deep: true
    },
    checkProductGridData: {
      handler: function (val) {
        //
        // console.log(val)
        // this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    productCode: {
      handler: function (val) {
        //
        if (val) {
          this.productCodeFocuse = val
        }
      },
      deep: true
    }
  },
  methods: {
    init () {
      this.outboundId = null
      this.outbound_no = null
      this.consignee_name = null
      this.shipping_company = null
      this.shipping_company_name = null
      this.outboundDataObj = null
      this.productCodeFocuse = null
      this.goodList = []
      this.initAddBox()
    },
    /* query */
    async query () {
      this.init()
      //
      this.LoadingViewIsShow = true
      // console.log('query', this.outboundNo)
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryValue: this.companyId,
            queryField: 'company_id'
          },
          {
            queryCondition: '=',
            queryValue: this.whId,
            queryField: 'wh_id'
          },
          {
            queryCondition: '=',
            queryField: 'outbound_status',
            queryValue: 30
          },
          {
            queryCondition: '=',
            queryField: 'outbound_no',
            queryValue: this.outboundNo
          }
        ],
        sort: []
      }
      //
      var r = await this.$store.dispatch('boxingSetup/getOutboundNoId', postData)
      // console.log(r)
      let rex = /^[2]/g
      if (rex.test(r.httpStatus)) {
        // console.log(r.respondCode.additionals.outboundList)
        let outboundList = r.respondCode.additionals.outboundList
        if (outboundList.length > 0) {
          let item = outboundList[0]
          // console.log(item)
          // 如果沒有揀貨單要擋
          // console.log(item.pickinglist_no)
          if (!item.pickinglist_no) {
            this.$Notice.error({
              title: `請先列印揀貨單`,
              duration: 30
            })
            this.LoadingViewIsShow = false
            return
          }
          //
          let outboundId = item.outbound_id // 訂單id
          this.outbound_no = item.outbound_no // 訂單編號
          this.consignee_name = item.consignee_name || item.store_name // 收件人名稱
          this.shipping_company = item.shipping_company // 貨運行別ID
          this.shipping_company_name = item.shipping_company_name // 貨運行別
          this.outboundId = outboundId
          this.pickinglistNo = item.pickinglist_no
          this.ownerId = item.owner_id // 貨主
          this.outboundDataObj = item
          // console.log(this.outboundId)
          if (outboundId) {
            let pd = {
              page: 1,
              pageSize: Config.maxPageSize,
              combinedCondition: null,
              query: [],
              sort: []
            }
            var outboundDetailRes = await this.$store.dispatch('boxingSetup/query', { postData: pd, outboundId: this.outboundId })
            // console.log(outboundDetailRes)
            let outboundDetailList = outboundDetailRes.respondCode.additionals.products_to_box
            // console.log(outboundDetailList)
            this.goodList = outboundDetailList.filter((item, index) => {
              var orderNumsAll = item.order_nums + item.order_nums_bad
              if (item.boxed_nums !== 0) {
                // 訂單量 = 已裝箱量，不顯示
                if (orderNumsAll === item.boxed_nums || orderNumsAll < item.boxed_nums) {
                  return false
                }
                // 訂單量 > 已裝箱量，顯示，訂單量 = 訂單量 - 已裝箱量
                if (orderNumsAll > item.boxed_nums) {
                  item.order_nums = orderNumsAll - item.boxed_nums
                  item.boxed_nums = 0
                  return true
                }
                // 訂單量 < 已裝箱量，不顯示
                if (orderNumsAll < item.boxed_nums) {
                  return false
                }
              } else {
                item.order_nums = orderNumsAll
              }
              // console.log(index)
              return true
            })
            //
            // console.log(this.goodList)
          }
          await this.queryBoxingList()
          this.boxingDetailList = []
          // focus在商品明細輸入框
          this.LoadingViewIsShow = false
          this.$nextTick(() => this.$refs.productCodeInput.focus())
        } else {
          this.$Notice.error({
            title: `查無資料`,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      }
    },
    /* 新增裝箱 */
    enterAdd () {
      this.productBoxedNums = null
      this.BoxedNums = null
      this.add()
    },
    add () {
      // console.log(this.productCode)
      if (!this.productCode) {
        return
      }
      if (this.productCode === 'comfirmBoxing12345678') {
        this.productCode = null
        this.comfirmBoxing()
        return
      }
      if (this.productCode === 'openNewModal12345678') {
        this.productCode = null
        this.openNewModal()
        return
      }
      if (this.productCode === 'queryProductSn12345678') {
        this.productCode = null
        this.showCheckProductSnInput()
        return
      }
      var goodListLength = this.goodList.length
      for (var i = 0; i < goodListLength; i++) {
        if (this.goodList[i].product_code === this.productCode ||
          this.goodList[i].product_barcode === this.productCode ||
          this.goodList[i].product_barcode2 === this.productCode ||
          this.goodList[i].product_barcode3 === this.productCode ||
          this.goodList[i].product_barcode4 === this.productCode ||
          this.goodList[i].product_barcode5 === this.productCode ||
          this.goodList[i].product_barcode6 === this.productCode) {
          this.productId = this.goodList[i].product_id
          // 滑到料號
          // console.log(i)
          let scrollToNum = 0
          for (let idx = 0; idx < i; idx++) {
            scrollToNum += this.$refs[`${this.goodList[idx].product_code}`][0].clientHeight
          }
          // console.log(scrollToNum)
          this.$refs.proList.scrollTop = scrollToNum + (i * 2)
          // 需要回刷序號，開啟序號Modal
          if (this.goodList[i].need_scan_product_sn === 1) {
            // console.log(i)
            // console.log('需要回刷序號')
            // 是否不同明細有重複商品料號
            let queryPickinglistPostData = {
              page: 1,
              pageSize: Config.maxPageSize,
              combinedCondition: 'AND',
              query: [{
                queryCondition: '=',
                queryValue: this.goodList[i].product_code,
                queryField: 'product_code'
              },
              {
                queryCondition: '=',
                queryValue: this.outboundId,
                queryField: 'outbound_id'
              }],
              sort: []
            }
            this.$store.dispatch('boxingSetup/queryPickinglist', { postData: queryPickinglistPostData, pickinglistNo: this.pickinglistNo }).then((r) => {
              this.productCodeIndex = i
              // console.log(r)
              if (r.httpStatus === 200) {
                this.checkProductGridData = r.respondCode.additionals.pickinglist_byorder
                if (this.checkProductGridData.length > 0) {
                  this.checkProductGridData.forEach((ele, idx) => {
                    ele.INDEX = (idx + 1)
                  })
                  if (r.respondCode.additionals.totalCount > 1) {
                    this.isQuery = true
                    this.checkProductModal = true
                    this.$nextTick(() => this.$refs.outboundDetailsIndex.focus())
                    this.isQuery = false
                  } else {
                    this.outboundDetailsData = this.checkProductGridData[0]
                    this.productSnModal = true
                    this.addProductSnListEvent(i)
                  }
                }
              }
            })
            break
          } else {
            // console.log(i)
            // console.log('不需回刷')
            // 如果order_nums不存在，則用order_nums_bad
            if (this.goodList[i].order_nums) {
              if (this.goodList[i].order_nums < parseInt(this.goodList[i].boxed_nums) + 1) {
                this.$Notice.error({
                  title: `已超過數量`,
                  duration: 30
                })
                this.productCode = null
                this.$nextTick(() => this.$refs.productCodeInput.focus())
                return
              }
              // console.log(this.goodList[i].boxed_nums)
              this.goodList[i].boxed_nums = parseInt(this.goodList[i].boxed_nums || 0) + 1
            }
            this.productCode = null
            this.$nextTick(() => this.$refs.productCodeInput.focus())
            break
          }
        }
      }
    },
    autoCompleteProductSn () {
      let isError = false
      if (!this.fromProductSn) {
        isError = true
        this.$Notice.error({
          title: `from未填`,
          duration: 30
        })
      }
      if (!this.toProductSn) {
        isError = true
        this.$Notice.error({
          title: `to未填`,
          duration: 30
        })
      }
      if (isError) {
        return
      }
      //
      let fromProductSnLength = this.fromProductSn.length
      let toProductSnLength = this.toProductSn.length
      var fromProductSnNum = parseInt(this.fromProductSn.substr(fromProductSnLength - 4, 4))
      var fromProductSnTitle = this.fromProductSn.substr(0, fromProductSnLength - 4)
      let toProductSnNum = parseInt(this.toProductSn.substr(toProductSnLength - 4, 4))
      let autoCompleteLength = Math.abs(fromProductSnNum - toProductSnNum)
      var productSnList = [this.fromProductSn]
      if ((fromProductSnNum - toProductSnNum) > 0) {
        for (let i = 0; i < autoCompleteLength; i++) {
          var str = ''
          var num = `${fromProductSnNum -= 1}`
          if (num.length === 1) {
            str = `000${num}`
          }
          if (num.length === 2) {
            str = `00${num}`
          }
          if (num.length === 3) {
            str = `0${num}`
          }
          if (num.length === 4) {
            str = `${num}`
          }
          // console.log(num)
          // console.log(str)
          productSnList.push(`${fromProductSnTitle}${str}`)
        }
      } else {
        for (let i = 0; i < autoCompleteLength; i++) {
          var str2 = ''
          var num2 = `${fromProductSnNum += 1}`
          if (num2.length === 1) {
            str2 = `000${num2}`
          }
          if (num2.length === 2) {
            str2 = `00${num2}`
          }
          if (num2.length === 3) {
            str2 = `0${num2}`
          }
          if (num2.length === 4) {
            str2 = `${num2}`
          }
          // console.log(num2)
          // console.log(str2)
          productSnList.push(`${fromProductSnTitle}${str2}`)
        }
      }
      // productSnList.push(this.fromProductSn)
      // console.log(productSnList)
      // console.log([...this.productSnList, ...productSnList])
      this.productSnList = [...this.productSnList, ...productSnList]
      let productSn = this.productSnList.join('\n')
      this.productSn = productSn + '\n'
      document.getElementById('productSnInput').value = this.productSn
      this.$nextTick(() => this.$refs.productSnInput.focus())
    },
    addProductSnListEvent (idx) {
      // 如果同筆明細已經有序號，先抓原本序號顯示
      if (this.goodList[idx].productSnList) {
        // console.log(this.goodList[idx].productSnList)
        this.goodList[idx].productSnList.forEach((item, index) => {
          // console.log(item.obd_id)
          // console.log(this.outboundDetailsData.obd_id)
          if (item.obd_id === this.outboundDetailsData.obd_id) {
            let productSnList = item.data
            this.productSnList = productSnList
            this.productSn = productSnList.join('\n')
            document.getElementById('productSnInput').value = this.productSn
          }
        })
      }
      this.$nextTick(() => this.$refs.productSnInput.focus())
    },
    removeProductSnList (index) {
      this.productSnList.splice(index, 1)
    },
    comfirmProductSnList (idx) {
      var isError = false
      // 檢查數量
      // console.log(this.outboundDetailsData)
      // console.log(this.outboundDetailsData.outbound_nums)
      // console.log(this.outboundDetailsData.outbound_nums_bad)
      // console.log(this.goodList[idx])
      // console.log(this.productSnList.length)
      if (this.goodList[idx]) {
        if (this.goodList[idx].order_nums && (this.productSnList.length > this.goodList[idx].order_nums)) {
          isError = true
          this.$Notice.error({
            title: `已超過數量`,
            duration: 30
          })
        } else if (this.goodList[idx].order_nums_bad && (this.productSnList.length > this.goodList[idx].order_nums_bad)) {
          isError = true
          this.$Notice.error({
            title: `已超過數量`,
            duration: 30
          })
        }
      }
      if (isError) {
        return
      }
      // 如果同筆明細序號不存在，才push
      this.goodList[idx].productSnList = this.goodList[idx].productSnList || []
      // console.log(this.goodList[idx].productSnList)
      // console.log(this.goodList[idx].productSnList.length)
      var productSnListLength = this.goodList[idx].productSnList.length
      if (productSnListLength > 0) {
        // console.log('跑進來？')
        for (let i = 0; i < productSnListLength; i++) {
          if (this.outboundDetailsData.obd_id === this.goodList[idx].productSnList[i].obd_id) {
            // console.log('跑有')
            this.goodList[idx].productSnList[i].data = this.productSnList
            break
          }
          if (productSnListLength === i + 1) {
            // console.log('跑沒有')
            this.goodList[idx].productSnList.push({
              data: this.productSnList,
              obd_id: this.outboundDetailsData.obd_id,
              inventory_id: this.outboundDetailsData.inventory_id
            })
          }
        }
      } else {
        this.goodList[idx].productSnList.push({
          data: this.productSnList,
          obd_id: this.outboundDetailsData.obd_id,
          inventory_id: this.outboundDetailsData.inventory_id
        })
      }
      // 已裝箱數量等於序號量
      // console.log(idx)
      // console.log(this.goodList[idx].productSnList)
      var productSnListDataLength = 0
      for (let i = 0; i < this.goodList[idx].productSnList.length; i++) {
        productSnListDataLength = productSnListDataLength + this.goodList[idx].productSnList[i].data.length
        // console.log(productSnListDataLength)
      }
      if (productSnListDataLength > this.goodList[idx].order_nums) {
        this.$Notice.error({
          title: `已超過數量`,
          duration: 30
        })
        return
      }
      console.log(productSnListDataLength)
      this.goodList[idx].boxed_nums = productSnListDataLength
      //
      this.checkProductGridData = []
      this.outboundDetailsData = []
      this.outboundDetailsIndex = null
      //
      this.productCode = null
      this.productCodeIndex = null
      this.productSnList = []
      this.productSn = null
      document.getElementById('productSnInput').value = null
      this.fromProductSn = null
      this.toProductSn = null
      this.productSnModal = false
      this.$nextTick(() => this.$refs.productCodeInput.focus())
    },
    setOutboundDetailsIndexEvent () {
      // console.log(this.outboundDetailsIndex)
      if (!this.outboundDetailsIndex || this.outboundDetailsIndex === '') {
        this.$Notice.error({
          title: `請輸入選取的資料`,
          duration: 30
        })
        return
      }
      let index = parseInt(this.outboundDetailsIndex) - 1
      // console.log(index)
      // console.log(this.checkProductGridData)
      this.outboundDetailsData = this.checkProductGridData[index]
      this.checkProductModal = false
      this.productSnModal = true
      this.addProductSnListEvent(this.productCodeIndex)
    },
    openNewModal (bol) {
      this.addBoxModal = true
      this.$nextTick(() => this.$refs.toDoInput.focus())
      // this.getLengthUnitList()
    },
    /* 長度單位 box_length_unit */
    boxLengthUnitListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    getLengthUnitList: function () {
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        query: [
          {
            queryCondition: '=',
            queryValue: 1,
            queryField: 'unit_type'
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`unit/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingUnit
          let lengthUnitList = []
          list.forEach((ele, idx) => {
            lengthUnitList.push({
              value: ele.unit_id,
              label: ele.unit_name
            })
          })
          this.boxLengthUnitList = lengthUnitList
        }
      })
    },
    /* 重量-單位 : box_weight_unit */
    autocompleteHandleWeightUnitEnterSubmitEvent: function (data) {
      // console.log(data)
      this[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.weightUnitList = []
    },
    weightUnitAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this[data.code] = data.val ? data.val[data.returnCode] : ''
        this.box_weight_unit = data.val ? data.val.unit_id : ''
        // console.log(this.box_weight_unit)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.weightUnitList = [data.val]
      } else {
        this.weightUnitList = []
      }
    },
    weightUnitAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: '=',
            queryField: 'unit_type',
            queryValue: '5'
          },
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.weightUnitList = list
        }
      })
    },
    setAutocompleteWeightUnitValue: function (data) {
      // console.log(data)
      //
      this.box_weight_unit_name = data.data[data.returnCode]
      this.box_weight_unit = data.data.unit_id
      // console.log(this.box_weight_unit)
      //
      this.toCloseWeightUnitAutocompleteModal = true
    },
    setToCloseWeightUnitAutocompleteModal: function (bol) {
      this.toCloseWeightUnitAutocompleteModal = bol
    },
    boxLengthChangeEvent (v) {
      //
      // console.log(v)
      this[v.code] = v.val
    },
    /* 長度 */
    boxWeightChangeEvent (v) {
      //
      // console.log(v)
      this[v.code] = v.val
    },
    boxWidthChangeEvent (v) {
      //
      // console.log(v)
      this[v.code] = v.val
    },
    inputTxtChangeEvent: function (data) {
      //
      this[data.code] = data.val
    },
    boxHeightChangeEvent (v) {
      //
      // console.log(v)
      this[v.code] = v.val
    },
    setAddBoxModalEvent () {
      if (this.toDo === 'addBoxcancel12345678') {
        this.toDo = null
        this.addBoxcancel()
        return
      }
      if (this.toDo === 'addBox12345678') {
        this.toDo = null
        this.addBox()
        return
      }
      this.toDo = null
      this.$nextTick(() => this.$refs.toDoInput.focus())
    },
    addBoxcancel () {
      this.addBoxModal = false
      this.$nextTick(() => this.$refs.productCodeInput.focus())
    },
    /* 初始 */
    initAddBox () {
      //
      this.boxLengthIsError = false
      this.boxWidthIsError = false
      this.boxHeightIsError = false
      this.boxWeightIsError = false
      this.boxLengthUnitIsError = false
      this.boxWeightUnitIsError = false
      //
      this.boxLengthErrorMsg = null
      this.boxWidthErrorMsg = null
      this.boxHeightErrorMsg = null
      this.boxWeightErrorMsg = null
      this.boxLengthUnitErrorMsg = null
      this.boxWeightUnitErrorMsg = null
    },
    async addBox () {
      this.addBoxIsLoading = true
      let isError = false
      this.initAddBox()
      if (!this.outboundId) {
        isError = true
      }
      if (!this.box_length_unit) {
        isError = true
        this.boxLengthUnitIsError = true
        this.boxLengthUnitErrorMsg = `請輸入長度單位`
      }
      if (!this.box_weight_unit) {
        isError = true
        this.boxWeightUnitIsError = true
        this.boxWeightUnitErrorMsg = `請輸入重量單位`
      }
      if (this.box_length <= 0) {
        isError = true
        this.boxLengthIsError = true
        this.boxLengthErrorMsg = `請輸入長度`
      }
      if (this.box_weight <= 0) {
        isError = true
        this.boxWeightIsError = true
        this.boxWeightErrorMsg = `請輸入重量`
      }
      if (this.box_width <= 0) {
        isError = true
        this.boxWidthIsError = true
        this.boxWidthErrorMsg = `請輸入寬度`
      }
      if (this.box_height <= 0) {
        isError = true
        this.boxHeightIsError = true
        this.boxHeightErrorMsg = `請輸入高度`
      }
      //
      if (isError) {
        this.addBoxIsLoading = false
        return
      }
      //
      // 需先建主檔再建明細 : 打二支api
      try {
        let postData = {
          outbound_id: this.outboundId,
          box_no: '',
          box_type: 0, // [0: 一般商品(常溫), 1: 冷藏商品(低溫/需冷藏), 2: 冷凍商品(低溫/需冷凍), default: 0]
          box_length_unit: this.box_length_unit,
          box_weight_unit: this.box_weight_unit,
          box_length: this.box_length,
          box_width: this.box_width,
          box_height: this.box_height,
          box_weight: this.box_weight,
          box_note: '',
          box_cod_type: 0, // 代收款類別 [0: 無代收款, 1: 代收款(現金), 2: 代收款(刷卡), default: 0]
          box_cod_amount: 0 // 代收款金額 ; 若 box_cod_type 使用者選擇非0的項目時，則需填寫此箱的代收款金額
        }
        // console.log(postData)
        let addBoxingRes = await this.$store.dispatch('boxingSetup/addBoxing', postData)
        let rex = /^[2]/g
        if (rex.test(addBoxingRes.httpStatus)) {
          // console.log(addBoxingRes.respondCode.additionals.recBoxing)
          let recBoxing = addBoxingRes.respondCode.additionals.recBoxing
          let boxId = recBoxing.box_id
          //
          var goodListLength = this.goodList.length
          for (var i = 0; i < goodListLength; i++) {
            // console.log(this.goodList[i])
            // console.log(this.goodList[i].boxed_nums)
            // 建明細
            if (this.goodList[i].boxed_nums > 0) {
              let pd = {
                box_id: boxId,
                product_id: this.goodList[i].product_id,
                boxed_num: this.goodList[i].boxed_nums
              }
              // console.log(pd)
              await this.$store.dispatch('boxingSetup/addBoxingDetail', pd)
            }
            // 建序號
            if (this.goodList[i].productSnList) {
              let arrayLength = this.goodList[i].productSnList.length
              for (var idx = 0; idx < arrayLength; idx++) {
                let productSnList = this.goodList[i].productSnList[idx].data
                let productSnLength = this.goodList[i].productSnList[idx].data.length
                let productSnBulkPostData = {
                  product_sns: []
                }
                for (let index = 0; index < productSnLength; index++) {
                  let productSnPostData = {
                    company_id: this.companyId,
                    wh_id: this.whId,
                    product_id: this.goodList[i].product_id,
                    product_sn: productSnList[index],
                    outbound_id: this.outboundId,
                    box_id: boxId,
                    inventory_id: this.goodList[i].productSnList[idx].inventory_id
                  }
                  productSnBulkPostData.product_sns.push(productSnPostData)
                }
                // console.log(productSnBulkPostData)
                let addProductSnRes = await this.$store.dispatch('productSn/createBulk', productSnBulkPostData)
                // console.log(addProductSnRes)
                if (addProductSnRes.httpStatus !== 201 && addProductSnRes.httpStatus !== 200) {
                  this.$Notice.error({
                    title: `序號新增失敗`,
                    desc: `${addProductSnRes.data.respondCode.debugInfo}`,
                    duration: 30
                  })
                }
              }
            }
            if (goodListLength === i + 1) {
              this.addBoxModal = false
              this.addBoxIsLoading = false
              this.query()
            }
          }
        }
      } catch (error) {
        // console.log(error)
      }
      this.$nextTick(() => this.$refs.productCodeInput.focus())
    },
    async queryBoxingList () {
      //
      let list = []
      let _pd = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'outbound_id',
            queryValue: this.outboundId
          }
        ],
        sort: []
      }
      let res = await this.$store.dispatch('boxingSetup/queryBoxing', _pd)
      // console.log(res.respondCode.additionals.recBoxingList)
      if (res.httpStatus === 200 || res.httpStatus === 201) {
        list = res.respondCode.additionals.recBoxingList || []
        let listLength = list.length
        let productSnPostData = {
          outboundId: [this.outboundId],
          boxIds: []
        }
        for (let i = 0; i < listLength; i++) {
          productSnPostData.boxIds.push(list[i].box_id)
        }
        let productSnRes = await this.$store.dispatch('boxingSetup/queryProductSn', productSnPostData)
        // console.log(productSnRes)
        if (productSnRes.httpStatus === 200 || productSnRes.httpStatus === 201) {
          let snNumList = productSnRes.respondCode.additionals.productSnNumsByBoxIdsOutboundIds || []
          if (snNumList.length > 0) {
            for (let i = 0; i < listLength; i++) {
              if (snNumList[i]) {
                if (list[i].box_id === snNumList[i].boxId) {
                  list[i].boxedProductSnNums = snNumList[i].boxedProductSnNums
                  list[i].SELECTED = false
                }
              }
            }
          }
        } else if (productSnRes.httpStatus !== 401) {
          for (let i = 0; i < listLength; i++) {
            list[i].SELECTED = false
          }
        }
      }
      this.boxingList = list
      // console.log(this.boxingList)
    },
    queryGoodList () {
      let pd = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [],
        sort: []
      }
      this.$store.dispatch('boxingSetup/query', { postData: pd, outboundId: this.outboundId }).then((r) => {
        // console.log(r)
        let outboundDetailList = r.respondCode.additionals.products_to_box
        // console.log(outboundDetailList)
        this.goodList = outboundDetailList
      })
    },
    setBoxingListSelected (bol, index) {
      this.boxingList[index]['SELECTED'] = bol
      this.boxingList = JSON.parse(JSON.stringify(this.boxingList))
    },
    async removeBox () {
      let boxingListLength = this.boxingList.length
      for (let i = 0; i < boxingListLength; i++) {
        if (this.boxingList[i].SELECTED) {
          await this.$store.dispatch('boxingSetup/deleteBoxing', this.boxingList[i].box_id)
        }
      }
      this.boxingDetailList = []
      this.query()
      // this.queryBoxingList()
    },
    queryBoxingDetailList (boxNo) {
      //
      let _pd = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'box_no',
            queryValue: boxNo
          }
        ],
        sort: []
      }
      this.$store.dispatch('boxingSetup/queryBoxingDetail', _pd).then((r) => {
        // console.log(r.respondCode.additionals.boxDetailList)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          //
          // console.log(r)
          this.boxingDetailList = r.respondCode.additionals.boxDetailList
          this.boxingDetailList.forEach((item) => {
            item.SELECTED = false
          })
        }
      })
    },
    setBoxingDetailListSelected (bol, index) {
      this.boxingDetailList[index]['SELECTED'] = bol
      this.boxingDetailList = JSON.parse(JSON.stringify(this.boxingDetailList))
    },
    async removeBoxDetail (type) {
      let boxNo = null
      let boxingDetailListLength = this.boxingDetailList.length
      // 如果要刪除最後一筆已裝箱商品
      if (boxingDetailListLength === 1 && this.boxingDetailList[0].SELECTED) {
        if (type === 'ok') {
          // console.log(this.boxingDetailList[0])
          await this.$store.dispatch('boxingSetup/deleteBoxing', this.boxingDetailList[0].box_id)
          this.lastBoxDetailModal = false
          this.query()
        } else {
          this.lastBoxDetailModal = true
        }
        return
      }
      // 如果全選
      // console.log(this.productTrigger)
      if (this.productTrigger) {
        if (type === 'ok') {
          // console.log(this.boxingDetailList[0])
          // console.log(this.boxingDetailList[1])
          await this.$store.dispatch('boxingSetup/deleteBoxing', this.boxingDetailList[0].box_id)
          this.lastBoxDetailModal = false
          this.query()
          this.productTrigger = false
        } else {
          this.lastBoxDetailModal = true
        }
      } else {
        // 如果不是全選
        for (let i = 0; i < boxingDetailListLength; i++) {
          if (!boxNo) {
            boxNo = this.boxingDetailList[i].box_no
          }
          if (this.boxingDetailList[i].SELECTED) {
            await this.$store.dispatch('boxingSetup/deleteBoxingDetail', this.boxingDetailList[i].bd_id)
          }
        }
        this.query()
        this.queryBoxingDetailList(boxNo)
      }
    },
    closeLastBoxDetailModal () {
      this.lastBoxDetailModal = false
    },
    // 確認裝箱
    async comfirmBoxing () {
      let isError = false
      this.comfirmBoxIsLoading = true
      if (this.goodList.length > 0) {
        this.$Notice.error({
          title: `商品未裝完`,
          duration: 30
        })
        isError = true
      }
      if (isError) {
        this.$nextTick(() => this.$refs.productCodeInput.focus())
        this.comfirmBoxIsLoading = false
        return
      }
      // 檢查裝箱序號數量
      let checkProductSnPostData = {
        outboundIds: [this.outboundId]
      }
      let checkProductSnRes = await this.$store.dispatch('boxingSetup/checkProductSn', checkProductSnPostData)
      console.log(checkProductSnRes)
      if (checkProductSnRes.httpStatus === 200 || checkProductSnRes.httpStatus === 201) {
        if (!checkProductSnRes.respondCode.additionals.productSnNumsEqualByOutboundIds[0].totalOutboundNumsSameWithTotalProductSns) {
          this.$Notice.error({
            title: '確認裝箱失敗',
            desc: `商品序號與裝箱數量不符`,
            duration: 30
          })
          isError = true
        }
      }
      if (isError) {
        this.$nextTick(() => this.$refs.productCodeInput.focus())
        this.comfirmBoxIsLoading = false
        return
      }
      //
      let outboundDataObj = JSON.parse(JSON.stringify(this.outboundDataObj))
      outboundDataObj.outbound_status = 50
      let postData = {
        data: {
          user_id: this.userId,
          outbound_status: 50
        },
        id: outboundDataObj.outbound_id
      }
      let Res = await this.$store.dispatch('boxingSetup/comfirmBoxing', postData)
      if (Res.httpStatus === 200) {
        this.$Notice.success({
          title: '確認裝箱成功'
        })
        this.outboundNo = null
        this.goodList = []
        this.$nextTick(() => this.$refs.outboundNo.focus())
      } else {
        //
        this.$Notice.error({
          title: '確認裝箱失敗'
        })
        this.$nextTick(() => this.$refs.productCodeInput.focus())
      }
      this.init()
      this.goodList = []
      this.boxingList = []
      this.boxingDetailList = []
      this.comfirmBoxIsLoading = false
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.checkProductGridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    getCheckProductGridData: function () {
      this.isQuery = true
      //
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: null,
        query: [],
        sort: []
      }
      //
      this.$store.dispatch('boxingSetup/queryPickinglist', { postData: postData, pickinglistNo: this.pickinglistNo }).then((r) => {
        if (r) {
          // console.log(r)
          this.checkProductGridData = r.respondCode.additionals.pickinglist_byorder
          this.checkProductGridData.forEach((ele, idx) => {
            ele.INDEX = (idx + 1)
          })
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    productSnInputOverChange () {
      // console.log('結束')
      this.productSn = document.getElementById('productSnInput').value
      var arry = this.productSn.split('\n')
      var arryLengthMinusOne = arry.length - 1
      var isEnd = false
      // 移除重複
      var productSnListNoRepet = arry.filter((item, index, arr) => {
        // 判斷是否要結束
        if (item === 'comfirmProductSnList12345678') {
          isEnd = true
          this.comfirmProductSnList(this.productCodeIndex)
          return false
        } else if (item === 'tabToFromInput12345678') {
          this.tabToFromInput()
          return false
        } else if (item === 'tabToToInput12345678') {
          this.tabToToInput()
          return false
        } else if (item === 'testProductSnQury12345678') {
          this.$nextTick(() => this.$refs.testProductSnQury.focus())
          return false
        } else {
          if (arryLengthMinusOne !== index && !item) {
            return false
          }
          return arr.indexOf(item) === index
        }
      })
      // 如果結束新增不做後續動作
      if (isEnd) {
        return
      }
      //
      this.productSn = productSnListNoRepet.join('\n')
      document.getElementById('productSnInput').value = this.productSn
      // console.log(this.productSn)
      // 移除空值
      let productSnList = []
      productSnListNoRepet.forEach((item) => {
        if (item) {
          let str = item.replace(/\s/g, '')
          // console.log(str)
          productSnList.push(str)
        }
      })
      this.productSnList = productSnList
      // console.log(this.productSnList)
    },
    clearProductSn () {
      document.getElementById('productSnInput').value = null
      this.productSn = null
      this.productSnList = []
      this.$nextTick(() => this.$refs.productSnInput.focus())
    },
    tabToFromInput () {
      this.$nextTick(() => this.$refs.fromInput.focus())
    },
    tabToToInput () {
      this.$nextTick(() => this.$refs.toInput.focus())
    },
    // 託運單列印方式
    layoutTypeListChangeEvent: function (data) {
      console.log(data)
      this[data.code] = data.val
    },
    async getShippingPic () {
      this.getShippingPicLoading = true
      let boxingListLength = this.boxingList.length
      var waybillList = []
      if (boxingListLength === 0) {
        this.$Notice.warning({
          title: '沒有箱號',
          duration: 30
        })
        this.getShippingPicLoading = false
        return
      }
      for (let i = 0; i < boxingListLength; i++) {
        waybillList.push(this.boxingList[i].box_id)
      }
      //
      if (this.shipping_company === 103) {
        // 新竹貨運
        try {
          // 先取得託運單，在開新分頁查詢託運單圖片
          let hctWaybillPostData = {
            outbound_ids: [this.outboundId]
          }
          var hctWaybillRes = await this.$store.dispatch('hctWaybill/create', hctWaybillPostData)
          // console.log(hctWaybillRes)
          if (hctWaybillRes.httpStatus === 200 || hctWaybillRes.httpStatus === 201) {
            switch (this.layout_type) {
              case 1:
                let waybillPostData = {
                  timezone_offset: this.timeZone > 0 ? `+${this.timeZone}` : `${this.timeZone}`,
                  output_format: 'pdf',
                  outbound_ids: [this.outboundId]
                }
                let printwaybillRes = await this.$store.dispatch('printwaybill/hct', waybillPostData)
                // console.log(printwaybi llRes)
                if (printwaybillRes.httpStatus === 200 || printwaybillRes.httpStatus === 201) {
                  let productResult = printwaybillRes.respondCode.additionals[`way_bill_hct`] || []
                  let downloadLinkList = { pdf_files_to_be_merge: [] }
                  //
                  productResult.forEach((ele, idx) => {
                    downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
                  })
                  let pdfRes = await this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList)
                  // console.log(pdfRes)
                  if (pdfRes.httpStatus === 200 || pdfRes.httpStatus === 201) {
                    window.open(`${Config.API.downloadAPIBaseURL}${pdfRes.respondCode.additionals.download_link}`)
                  }
                }
                this.getShippingPicLoading = false
                break
              case 2:
                let ids = [this.outboundId]
                let idsStr = btoa(JSON.stringify(ids))
                window.open(`/PrintShippingPic/${idsStr}/${this.layout_type}`)
                this.getShippingPicLoading = false
                break
            }
          } else if (hctWaybillRes.httpStatus !== 401) {
            this.$Notice.error({
              title: `取託運單失敗`,
              desc: `${hctWaybillRes.data.respondCode.debugInfo}`,
              duration: 30
            })
            this.getShippingPicLoading = false
            this.$nextTick(() => this.$refs.productCodeInput.focus())
          }
        } catch (error) {
          this.$Notice.warning({
            title: `系統忙碌中`,
            desc: `請稍後再試`,
            duration: 30
          })
          this.getShippingPicLoading = false
          // console.log(error)
        }
      } else if (this.shipping_company === 167) {
        // 嘉里大榮
        try {
          // 先取得託運單，在開新分頁查詢託運單圖片
          let kerrytjWaybillPostData = {
            outbound_ids: [this.outboundId]
          }
          let kerrytjWaybillRes = await this.$store.dispatch('kerrytjWaybill/create', kerrytjWaybillPostData)
          // console.log(kerrytjWaybillRes)
          if (kerrytjWaybillRes.httpStatus === 200 || kerrytjWaybillRes.httpStatus === 201) {
            let waybillPostData = {
              timezone_offset: this.timeZone > 0 ? `+${this.timeZone}` : `${this.timeZone}`,
              output_format: 'pdf',
              outbound_ids: [this.outboundId]
            }
            let printwaybillRes = await this.$store.dispatch('printwaybill/kerrytj', waybillPostData)
            // console.log(printwaybi llRes)
            if (printwaybillRes.httpStatus === 200 || printwaybillRes.httpStatus === 201) {
              let productResult = printwaybillRes.respondCode.additionals[`way_bill_hct`] || []
              let downloadLinkList = { pdf_files_to_be_merge: [] }
              //
              productResult.forEach((ele, idx) => {
                downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
              })
              let pdfRes = await this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList)
              // console.log(pdfRes)
              if (pdfRes.httpStatus === 200 || pdfRes.httpStatus === 201) {
                window.open(`${Config.API.downloadAPIBaseURL}${pdfRes.respondCode.additionals.download_link}`)
              }
            } else if (printwaybillRes.httpStatus !== 401) {
              this.$Notice.error({
                title: `取託運單失敗`,
                desc: `${printwaybillRes.data.respondCode.debugInfo}`,
                duration: 30
              })
            }
            this.getShippingPicLoading = false
          } else if (kerrytjWaybillRes.httpStatus !== 401) {
            this.$Notice.error({
              title: `取託運單失敗`,
              desc: `${kerrytjWaybillRes.data.respondCode.debugInfo}`,
              duration: 30
            })
            this.getShippingPicLoading = false
          }
        } catch (error) {
          this.$Notice.warning({
            title: `系統忙碌中`,
            desc: `請稍後再試`,
            duration: 30
          })
          this.getShippingPicLoading = false
          // console.log(error)
        }
      } else {
        this.$Notice.warning({
          title: '無法取託運單',
          desc: '該單非新竹貨運, 嘉里大榮',
          duration: 30
        })
        this.getShippingPicLoading = false
        this.$nextTick(() => this.$refs.productCodeInput.focus())
      }
    },
    showCheckProductSnInput () {
      if (!this.outbound_no) {
        this.$Notice.warning({
          title: `請先輸入單號`,
          duration: 30
        })
        return
      }
      this.checkProductSnInputToggle = true
      this.$nextTick(() => this.$refs.productSnQury.focus())
    },
    // 刷序號modal裡面的序號檢查
    checkProductSn (sn) {
      if (sn === 'focuseToProductSnInput12345678') {
        this.testProductSnQury = null
        this.$nextTick(() => this.$refs.productSnInput.focus())
        return
      }
      if (!this.productId) {
        this.$Notice.warning({
          title: '請先輸入商品料號'
        })
        this.$nextTick(() => this.$refs.productCodeInput.focus())
        return
      }
      //
      this.checkProductSnLoadingViewIsShow = true
      this.$store.dispatch(`productSn/check`, { companyId: this.companyId, whId: this.whId, ownerId: this.ownerId, productId: this.productId, productSn: sn }).then((r) => {
        console.log(r)
        if (r.httpStatus === 200) {
          if (r.respondCode.additionals.alreadyExist) {
            this.$Notice.warning({
              title: `${sn}`,
              desc: '序號重複'
            })
          } else {
            this.$Notice.success({
              title: `${sn}`,
              desc: `序號未建立`
            })
          }
        }
        this.checkProductSnLoadingViewIsShow = false
      })
    },
    // 外面右上角的序號檢查
    queryProductSn (sn) {
      if (sn === 'focuseToProduct12345678') {
        this.LoadingViewIsShow = false
        this.checkProductSnInputToggle = false
        this.$nextTick(() => this.$refs.productCodeInput.focus())
        return
      }
      this.LoadingViewIsShow = true
      let postData = {
        page: 1,
        pageSize: 10,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryValue: this.outbound_no,
            queryField: 'outbound_no'
          },
          {
            queryCondition: '=',
            queryValue: this.productSnQury,
            queryField: 'product_sn'
          }
        ],
        sort: []
      }
      this.$store.dispatch(`productSn/search`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        console.log(r)
        if (r.httpStatus === 200) {
          if (r.respondCode.additionals.alreadyExist) {

          }
          if (r.respondCode.additionals.productSn.length > 0) {
            this.$Notice.warning({
              title: `${sn}`,
              desc: '序號已經建立'
            })
            this.LoadingViewIsShow = false
          } else {
            this.$Notice.success({
              title: `${sn}`,
              desc: `序號未建立`
            })
            this.LoadingViewIsShow = false
          }
        } else {
          this.$Notice.error({
            title: '查詢失敗請稍後再試'
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZone = timeZone
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    printTypeListChangeEvent: function (data) {
      // console.log(data)
      this.printPostData[data.code] = data.val
      this.printARGINFTPEInput(this.printPostData[data.code])
    },
    printARGINFTPEInput: function (type) {
      this.LoadingViewIsShow = true
      switch (type) {
        case 1:
          window.open(`${Config.API.downloadAPIBaseURL}/download/sample/tagARGINFTPE.pdf`)
          break
      }
      this.LoadingViewIsShow = false
    }
  },
  created () {
    // focus在出庫單輸入框
    this.$nextTick(() => this.$refs.outboundNo.focus())
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;

  .row {
    display: flex;
    width: 100%;
    height: calc(100% - 59px);
    padding-bottom: 8px;
    .col {
      flex: 1;
      height: 100%;
      margin-right: 15px;
      margin-left: 8px;
    }
    .col-3 {
      flex: 0 0 25%;
      width: 25%;
      height: 100%;
      margin-right: 8px;
      margin-left: 15px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        background: #D8D8D8;
        right: -8px;
        top: 0;
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      font-weight: 400;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
      align-items: center;
      justify-content: space-between;
    }

    .btn-box.l {
      width: auto;
    }
  }
  .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .white-bg-input {
    display: block;
    width: 100%;
    font-size: 24px;
    color: #3c3c3c;
    padding: 6.5px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: 1px solid transparent;
  }
  .detail {
    .item {
      padding-bottom: 16px;
      .label {
        font-size: 16px;
        padding-bottom: 8px;
      }

      .value {
        font-size: 20px;
        font-weight: bold;
        min-height: 24px;
      }
    }
  }
  .outlined-card {
    width: 100%;
    height: calc(100% - 93px);
    border: 1px solid #ACACAC;
    border-radius: 8px;
    padding: 8px;
    overflow-y: hidden;
    margin-bottom: 8px;
  }
  .top-box {
    height: 85px;
    .caption {
      font-size: 20px;
    }
    .quantity {
      font-size: 16px;
    }
  }
}

.table-container {
  width: 100%;
  height: 100%;

  .thead {
    width: 100%;
    background-color: #118CF8;
    margin-bottom: 8px;
    border-radius: 8px;

    span {
      color: #3c3c3c;
      font-size: 16px;
    }

    /deep/.ivu-checkbox-inner {
      border: 1px solid #3c3c3c;
      background: #eceff2;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    /deep/.ivu-checkbox-checked{
      .ivu-checkbox-inner{
        border: 1px solid #3c3c3c;
        &::after {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #3c3c3c;
          border: 0px solid transparent;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 46px);

    .trow {
      margin-bottom: 8px;
      border-radius: 8px;
      border: 1px solid #fff;
      display: flex;
      flex: 1;

      span {
        color: #fff;
        font-size: 16px;
      }

      &.more {
        border: 1px solid #ff3875;
      }

      &.check {
        border: 1px solid #eceff2;
        background-color: #eceff2;
        span {
          color: #3c3c3c;
        }
      }

      &.isDisable {
        background-color: #fff;
        border: 1px solid #dcdee2;
        margin-bottom: 2px;
      }
    }
    /deep/.ivu-checkbox-inner {
      border: 1px solid #fff;
      background: #3c3c3c;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    /deep/.ivu-checkbox-checked{
      .ivu-checkbox-inner{
        border: 1px solid #fff;
        &::after {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #fff;
          border: 0px solid transparent;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .SELECTED {
    display: inline-block;
    padding: 12px 10px 10px;
    width: 40px;
  }

  .product_code {
    display: inline-block;
    padding: 12px 10px 10px;
    flex: 1;
  }
  .num {
    display: inline-block;
    padding: 12px 10px 10px;
    width: 120px;
    input {
      width: 100px;
    }
  }
  .box_no {
    display: inline-block;
    padding: 12px 10px 10px;
    flex: 1;
  }
  .more {
    display: inline-block;
    padding: 12px 10px 10px;
    width: 58px;
    /deep/.ivu-btn-large {
      height: auto;
    }
    /deep/.ivu-btn-text {
      &:hover {
        color: #fff;
      }
    }
  }
}

/deep/.dark-blue-btn {
  width: 116px;
  height: 32px;
  border-radius: 20px;
  background-color: #354361;
  margin: 16px auto;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .returnBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #7c894f;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .printBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8e96a6;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .print-select-box {
    position: absolute;
    padding: 0 16px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: #ffffff;
    min-width: 57px;
    max-width: 380px;
    height: 55px;
    right: 40px;
    bottom: 40px;
    border-radius: 45px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    span {
      display: inline-block;
      font-size: 18px;
      padding-right: 32px;
      color: #333;
      cursor: pointer;

      &:first-child {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          right: 16px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #333;
        }
      }

      &:hover {
        color: #8e96a6;
      }
    }
  }
}

.switch {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 0 7px;

  .label-box {
    font-size: 16px;
    color: #333;
  }
}

.drawer-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
}

.green-btn {
  width: auto;
  border-radius: 20px;
  background-color: #7c894f;
  // margin-left: auto;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  margin-top: 24px;
  &[disabled] {
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
  }
}

.dark-blue-btn {
  width: auto;
  border-radius: 20px;
  background-color: #354361;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 24px 0 0 auto;
  &[disabled] {
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
  }
}

.boxModal {
  .modal-body {
    width: 100%;
    padding: 0 45px 24px;
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        .modal-title {
          color: #331e1e;
          font-size: 24px;
          display: flex;
          align-items: center;
          >span {
            white-space: nowrap;
          }
        }
        .modal-input {
            color: #331e1e;
            font-size: 16px;
            border-radius: 8px;
            padding: 4px 8px;
            border: 1px solid #D8D8D8;
            &.lg {
              font-size: 24px;
            }
        }
        .form-box {
          margin-top: 20px;
          .item {
            margin-bottom: 24px;
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: center;
      }
    }
  }
}
.productSnModal {
  .modal-body {
    width: 100%;
    padding: 12px 30px;

    .icon-box {
      width: 141px;
      height: auto;
      display: flex;
      align-items: flex-end;
      img {
        width: auto;
        width: 110px;
        height: 115px;
        object-fit: cover;
      }
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        span {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 25px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #354361;
        }
      }
    .testProductSn {
        display: block;
        width: 128px;
        font-size: 16px;
        color: #9d9d9d;
        padding: 1.5px 12px;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        outline: 1px solid transparent;
      }
    .container-box {
      flex: 1;
      height: 100%;
      .sub-title {
        font-size: 16px;
        color: #3c3c3c;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 16px;
          color: #3c3c3c;
          font-weight: 400;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }
        .quantity {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .str-box {
        flex: 1;
        height: 250px;
        overflow-y: scroll;
        border: 1px solid #eee;
        padding: 8px;
        margin-bottom: 2rem;
        font-size: 21px;
        color: #333;
      }
      .list-box {
        flex: 1;
        height: 250px;
        overflow-y: scroll;
        border: 1px solid #eee;
        padding: 8px;
        margin-bottom: 2rem;
        li {
          color: #333;
          font-size: 20px;
          line-height: 1.8;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .removeBtn {
            color: #bbb;
            border: 2px solid #bbb;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 0;
            &:hover {
              color: #a71b05;
              border: 2px solid #a71b05;
            }
          }
        }
      }
      .work-box{
        display: flex;
        justify-content: center;
        /deep/.DATAGRID-BOX .table-container .scroll-box{
          height: 400px;
        }
      }
      .productSnInput{
        display: block;
        flex: 1;
        margin-right: 2rem;
        font-size: 16px;
        color: #9d9d9d;
        padding: 1.5px 12px;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        outline: 1px solid transparent;
      }
      .btn-box {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1;
        height: 50px;
        button {
          margin-right: 15px;
          font-size: 14px;

          svg {
            color: #9ca29c;
          }
        }
      }
    }
  }
  .input-box{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .fromInput, .toInput{
      display: block;
      font-size: 16px;
      color: #9d9d9d;
      padding: 1.5px 12px;
      border: 1px solid #eee;
      outline: 1px solid transparent;
      margin-right: 1rem;
      max-width: 177px;
    }
    .productIndex{
      display: block;
      font-size: 16px;
      color: #9d9d9d;
      padding: 1.5px 12px;
      border: 1px solid #eee;
      outline: 1px solid transparent;
      margin-right: 1rem;
      max-width: 100px;
    }
    p{
      font-size: 16px;
      color: #333;
    }
  }
}
.lastBoxDetailModal {
  .modal-body {
    display: flex;
    width: 100%;
    padding: 12px 30px;
    .icon-box {
      width: 141px;
      height: 128px;
      img {
        width: auto;
        height: 115px;
        object-fit: cover
      }
    }
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        flex: 1;
        height: 95px;
        color: #000;
        font-size: 16px;
      }
      .btn-box {
        display: flex;
        flex: 1;
        height: 32px;
        button {
          margin-right: 15px;
          font-size: 14px;
          svg {
            color: #9ca29c;
          }
        }
      }
    }
  }
}
</style>
