<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <h2 class="title">
      <span>裝箱資料修改</span>
      <div class="btn-box r">
        <input type="text" placeholder="出庫單號" class="getNoInput" v-model="outboundNo" ref="outboundNo" v-on:keyup.enter="query"/>
      </div>
      <div class="btn-box l">
        <Button class="white-btn" type="default" shape="circle" @click="save(50)" :loading="comfirmBoxIsLoading">
          裝箱確認&nbsp;
          <font-awesome-icon icon="check" color="#56504f" />
        </Button>
      </div>
    </h2>
    <div class="detail">
      <div class="item">
        <div class="label">訂單編號</div>
        <div class="value">{{outbound_no}}</div>
      </div>
      <div class="item">
        <div class="label">收件人名稱</div>
        <div class="value">{{consignee_name}}</div>
      </div>
      <div class="item">
        <div class="label">貨運行別</div>
        <div class="value">{{shipping_company_name}}</div>
      </div>
    </div>
    <Row class="body-box">
      <Col span="24">
        <Card class="ml-2">
          <Row>
            <Col span="15">
              <div class="mr-3 h-100">
                <h2 class="title">
                  <span>裝箱列表</span>
                  <div class="btn-box r">
                    <Button class="icon-btn-md mr-3" @click="addBox">
                      <font-awesome-icon icon="plus" />
                    </Button>
                    <Button class="icon-btn-md" @click="removeBox">
                      <font-awesome-icon icon="minus" />
                    </Button>
                  </div>
                </h2>
                <div class="table-container no-btn">
                  <div class="d-flex thead">
                    <div class="SELECTED">
                      <Checkbox v-model="boxingTrigger"></Checkbox>
                    </div>
                    <div class="box_no">
                      <span>箱號</span>
                    </div>
                    <div class="box_data">
                      <span>長</span>
                    </div>
                    <div class="box_data">
                      <span>寬</span>
                    </div>
                    <div class="box_data">
                      <span>高</span>
                    </div>
                    <div class="box_data">
                      <span>重量</span>
                    </div>
                  </div>
                  <div class="tbody">
                    <div class="trow" :class="{'isShowDetails': showDetailsIndex === index}" v-for="(item, index) in boxingList" :key="`${item.box_no}_${index}`" @dblclick="queryBoxingDetailList(item.box_no, index)">
                    <!-- <div class="trow" :class="{'check': item.SELECTED}" v-for="(item, index) in boxingList" :key="`${item.box_no}_${index}`"> -->
                      <div class="SELECTED">
                        <Checkbox v-model="item.SELECTED" @on-change="setBoxingListSelected(item.SELECTED, index)"></Checkbox>
                      </div>
                      <div class="box_no">
                        <span>{{item.box_no}}</span>
                      </div>
                      <div class="box_data">
                        <span v-show="!item.lengthInput" @click="setBoxingListInput(index, 'lengthInput', true)">{{item.box_length}}</span>
                        <!-- <input type="text" v-model="item.box_length" v-show="item.lengthInput" @keydown.enter="setBoxingListInput(index, 'lengthInput', false)"> -->
                        <span v-show="item.lengthInput">
                          <FloatLabelBox
                            :config="{hasContent: (item.box_length && item.box_length!==''), label: ``, hasClearButton: true, type: `InputText`, settings: {width: 94, height: 25}}"
                            :code="`box_length`"
                            :defaultValue="item.box_length"
                            @changeModelEvent="boxingListInputTxtChangeEvent"
                          ></FloatLabelBox>
                        </span>
                      </div>
                      <div class="box_data">
                        <span v-show="!item.widthInput" @click="setBoxingListInput(index, 'widthInput', true)">{{item.box_width}}</span>
                        <!-- <input type="text" v-model="item.box_width" v-show="item.widthInput" @keydown.enter="setBoxingListInput(index, 'widthInput', false)"> -->
                        <span v-show="item.widthInput">
                          <FloatLabelBox
                            :config="{hasContent: (item.box_width && item.box_width!==''), label: ``, hasClearButton: true, type: `InputText`, settings: {width: 94, height: 25}}"
                            :code="`box_width`"
                            :defaultValue="item.box_width"
                            @changeModelEvent="boxingListInputTxtChangeEvent"
                          ></FloatLabelBox>
                        </span>
                      </div>
                      <div class="box_data">
                        <span v-show="!item.heightInput" @click="setBoxingListInput(index, 'heightInput', true)">{{item.box_height}}</span>
                        <!-- <input type="text" v-model="item.box_height" v-show="item.heightInput" @keydown.enter="setBoxingListInput(index, 'heightInput', false)"> -->
                        <span v-show="item.heightInput">
                          <FloatLabelBox
                            :config="{hasContent: (item.box_height && item.box_height!==''), label: ``, hasClearButton: true, type: `InputText`, settings: {width: 94, height: 25}}"
                            :code="`box_height`"
                            :defaultValue="item.box_height"
                            @changeModelEvent="boxingListInputTxtChangeEvent"
                          ></FloatLabelBox>
                        </span>
                      </div>
                      <div class="box_data">
                        <span v-show="!item.weightInput" @click="setBoxingListInput(index, 'weightInput', true)">{{item.box_weight}}</span>
                        <!-- <input type="text" v-model="item.box_weight" v-show="item.weightInput" @keydown.enter="setBoxingListInput(index, 'weightInput', false)"> -->
                        <span v-show="item.weightInput">
                          <FloatLabelBox
                            :config="{hasContent: (item.box_weight && item.box_weight!==''), label: ``, hasClearButton: true, type: `InputText`, settings: {width: 94, height: 25}}"
                            :code="`box_weight`"
                            :defaultValue="item.box_weight"
                            @changeModelEvent="boxingListInputTxtChangeEvent"
                          ></FloatLabelBox>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <Button class="dark-blue-btn mr-3" @click="getShippingPic" :loading="getShippingPicLoading">
                  取託運單
                </Button>
              </div>
            </Col>
            <Col span="9">
              <h2 class="title">
                <span>裝箱明細</span>
                <div class="btn-box r">
                  <Button class="icon-btn-md mr-3" @click="addBoxDetail">
                    <font-awesome-icon icon="plus" />
                  </Button>
                  <Button class="icon-btn-md" @click="removeBoxDetail">
                    <font-awesome-icon icon="minus" />
                  </Button>
                </div>
              </h2>
              <div class="table-container no-btn">
                <div class="d-flex thead">
                  <div class="SELECTED">
                    <Checkbox v-model="productTrigger"></Checkbox>
                  </div>
                  <div class="product_code">
                    <span>商品料號 *</span>
                  </div>
                  <div class="p-2">
                    <span>數量 *</span>
                  </div>
                </div>
                <div class="tbody">
                  <div
                    class="trow"
                    :class="{'check': item.SELECTED}"
                    v-for="(item, index) in boxingDetailList"
                    :key="`${item.box_no}_${index}`"
                  >
                    <div class="SELECTED">
                      <Checkbox v-model="item.SELECTED" @on-change="setBoxingDetailListSelected(item.SELECTED, index)"></Checkbox>
                    </div>
                    <div class="product_code">
                      <span v-show="!item.productInput" @click="setBoxingDetailListInput(index, 'productInput', true)">{{item.product_code}}</span>
                      <span v-show="item.productInput">
                        <!-- 商品料號 product_id -->
                        <FloatLabelBox
                          :config="{hasContent: true, label: ``, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 184, height: 25}, hiddenSearchBtn: true}"
                          :code="`product_code`"
                          :autoCompleteData="productList"
                          :defaultValue="item.product_code"
                          :modalTitle="`商品料號`"
                          :toCloseModal="toCloseProductAutocompleteModal"
                          keyCode="outboundDetailQuery"
                          storeKey="outboundDetailQuery"
                          returnCode="product_code"
                          :showCols="autoCompleteShowProductCols"
                          @handleEnterSubmit="autocompleteHandleProductEnterSubmitEvent"
                          @changeModelEvent="productAutocompleteChangeEvent"
                          @autoCompleteSearchEvent="productAutoCompleteSearchEvent"
                          @setToCloseModalEvent="setToCloseProductAutocompleteModal">
                            <div>
                              <!-- 商品料號-->
                              <AutocompleteModal
                              keyCode="outboundDetailQuery"
                              storeKey="outboundDetailQuery"
                              returnCode="product_code"
                              respondCode= "outboundDetailList"
                              :apiUrlCondition="setAutocompleteProductApiUrl"
                              :condition="productCondition"
                              @setAutocompleteValueEvent="setAutocompleteProductValue"></AutocompleteModal>
                            </div>
                          </FloatLabelBox>
                      </span>
                    </div>
                    <div class="boxing_num">
                      <span v-show="!item.boxedNumInput" @click="setBoxingDetailListInput(index, 'boxedNumInput', true)">{{item.boxed_num}}</span>
                      <span v-show="item.boxedNumInput">
                        <FloatLabelBox
                          :config="{hasContent: true, label: ``, hasClearButton: true, type: `InputText`, settings: {width: 57, height: 25}}"
                          :code="`boxed_num`"
                          :defaultValue="item.boxed_num"
                          @changeModelEvent="boxingDetailListInputTxtChangeEvent"
                        ></FloatLabelBox>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </Col>
          </Row>
        </Card>
      </Col>
    </Row>
    <!-- 刪除最後一筆裝箱明細 -->
    <Modal v-model="lastBoxDetailModal" width="500" :footer-hide="true" :closable="false" class="lastBoxDetailModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="icon-box"><img src="@/assets/images/icon/warning.png"></div>
        <div class="container-box">
          <div class="desc-box">
            如刪除商品，將一併刪除箱號，您確定要刪除嗎？
          </div>
          <div class="btn-box">
            <Button shape="circle" @click="closeLastBoxDetailModal">取消 <font-awesome-icon icon="pen"/></Button>
            <Button shape="circle" @click="removeBoxDetail('ok')">確定<font-awesome-icon icon="check"/></Button>
          </div>
        </div>
      </div>
    </Modal>
    <!-- 儲存裝箱明細 -->
    <Modal v-model="saveBoxDetailModal" width="500" :footer-hide="true" :closable="false" class="lastBoxDetailModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="icon-box"><img src="@/assets/images/icon/warning.png"></div>
        <div class="container-box">
          <div class="desc-box">
            是否儲存明細，如果您不儲存，您所做的變更將會遺失。
          </div>
          <div class="btn-box">
            <Button shape="circle" @click="comfirmBoxDetailCancel">不儲存 <font-awesome-icon icon="pen"/></Button>
            <Button shape="circle" @click="comfirmBoxDetailSave">儲存<font-awesome-icon icon="check"/></Button>
          </div>
        </div>
      </div>
    </Modal>
    <!-- save btn -->
    <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
export default {
  name: 'BoxingDetailsSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    FloatLabelBox,
    AutocompleteModal,
    ComfirmSaveModal
  },
  data () {
    // console.log(this.keyCode)
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    return {
      modalType: 'create',
      comfirmSaveModal: false,
      //
      companyId: companyId,
      whId: whId,
      outboundNo: null, // 出庫單號
      outbound_id: null,
      outbound_no: null,
      consignee_name: null,
      shipping_company: null,
      shipping_company_name: null,
      ownerId: null,
      outboundDataObj: null, // 出庫主檔資料
      /* 刪除最後一筆裝箱明細 */
      lastBoxDetailModal: false,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      boxingTrigger: false,
      productTrigger: false,
      // 裝箱列表
      boxingList: [],
      focusBoxingIndex: null,
      showDetailsIndex: null,
      oldShowDetailsIndex: null,
      // 裝箱明細
      boxingDetailList: [],
      focusBoxingDetailIndex: null,
      detailSaveStatus: false,
      detailSaveError: false,
      saveBoxDetailModal: false, // 儲存裝箱明細
      /* 商品料號 : product_id */
      productList: [],
      autoCompleteShowProductCols: [
        'product_name'
      ],
      toCloseProductAutocompleteModal: false,
      productCondition: [],
      setAutocompleteProductApiUrl: null,
      productAutocompleteDisabled: true,
      //
      comfirmBoxIsLoading: false,
      // 託運單
      getShippingPicLoading: false,
      isGetShippingPic: false
    }
  },
  computed: {
    //
  },
  watch: {
    boxingTrigger: function (bol) {
      //
      this.boxingList.forEach((item) => {
        item.SELECTED = bol
      })
    },
    productTrigger: function (bol) {
      //
      this.boxingDetailList.forEach((item) => {
        item.SELECTED = bol
      })
    },
    boxingList: {
      handler: function (newVal) {
        // console.log(newVal)
      },
      deep: true
    },
    boxingDetailList: {
      handler: function (newVal) {
        // console.log(newVal)
      },
      deep: true
    },
    outbound_id: {
      handler: function (val) {
        if (val) {
          this.setAutocompleteProductApiUrl = { outboundId: val }
        }
      },
      deep: true
    }
  },
  methods: {
    init () {
      this.outbound_id = null
      this.outbound_no = null
      this.consignee_name = null
      this.shipping_company = null
      this.shipping_company_name = null
      this.outboundDataObj = null
      //
      this.focusBoxingIndex = null
      this.showDetailsIndex = null
      this.oldShowDetailsIndex = null
      this.focusBoxingDetailIndex = null
    },
    /* query */
    async query () {
      this.init()
      //
      this.LoadingViewIsShow = true
      // console.log('query', this.outboundNo)
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'outbound_no',
            queryValue: this.outboundNo
          }
        ],
        sort: []
      }
      //
      var r = await this.$store.dispatch('boxingSetup/getOutboundNoIdByCompanyWh', { postData: postData, companyId: this.companyId, whId: this.whId })
      // console.log(r)
      if (r.httpStatus === 200 || r.httpStatus === 201) {
        let outboundList = r.respondCode.additionals.outboundList
        if (outboundList.length > 0) {
          let item = outboundList[0]
          // 如果沒有揀貨單要擋
          if (!item.pickinglist_no) {
            this.$Notice.error({
              title: `請先列印揀貨單`,
              duration: 30
            })
            this.LoadingViewIsShow = false
            return
          }
          //
          let outboundId = item.outbound_id // 訂單id
          this.outbound_no = item.outbound_no // 訂單編號
          this.consignee_name = item.consignee_name // 收件人名稱
          this.shipping_company = item.shipping_company // 貨運行別ID
          this.shipping_company_name = item.shipping_company_name // 貨運行別
          this.outbound_id = outboundId
          this.ownerId = item.owner_id // 貨主
          this.outboundDataObj = item
          //
          await this.queryBoxingList()
          this.boxingDetailList = []
          this.LoadingViewIsShow = false
        } else {
          this.$Notice.error({
            title: `查無資料`,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      }
    },
    queryBoxingList () {
      //
      let _pd = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'outbound_id',
            queryValue: this.outbound_id
          }
        ],
        sort: []
      }
      this.$store.dispatch('boxingSetup/queryBoxing', _pd).then((r) => {
        // console.log(r.respondCode.additionals.recBoxingList)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          this.boxingList = r.respondCode.additionals.recBoxingList
          this.boxingList.forEach((item) => {
            item.SELECTED = false
            item.lengthInput = false
            item.widthInput = false
            item.heightInput = false
            item.weightInput = false
          })
        }
      })
    },
    setBoxingListSelected (bol, index) {
      this.boxingList[index]['SELECTED'] = bol
      this.boxingList = JSON.parse(JSON.stringify(this.boxingList))
    },
    // 搜尋裝箱明細
    queryBoxingDetailList (boxNo, index) {
      // console.log(index)
      this.oldShowDetailsIndex = this.showDetailsIndex
      this.showDetailsIndex = index
      // 切換明細，提醒存檔
      if (this.boxingDetailList.length > 0 && !this.detailSaveStatus) {
        this.saveBoxDetailModal = true
        return
      }
      //
      let _pd = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'box_no',
            queryValue: boxNo
          }
        ],
        sort: []
      }
      this.LoadingViewIsShow = true
      this.$store.dispatch('boxingSetup/queryBoxingDetail', _pd).then((r) => {
        // console.log(r.respondCode.additionals.boxDetailList)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          //
          // console.log(r)
          this.boxingDetailList = r.respondCode.additionals.boxDetailList
          this.boxingDetailList.forEach((item) => {
            item.SELECTED = false
            item.productInput = false
            item.boxedNumInput = false
          })
          this.detailSaveStatus = false // 明細改為為儲存狀態
          this.LoadingViewIsShow = false
        } else {
          this.detailSaveStatus = false // 明細改為為儲存狀態
          this.LoadingViewIsShow = false
        }
      })
    },
    // 確認裝箱
    async save (outboundStatus) {
      if (!this.outbound_id) {
        this.$Notice.warning({
          title: '請先搜尋出庫單號',
          duration: 30
        })
        return
      }
      var isError = false
      // 檢查明細
      var boxingDetailListLength = this.boxingDetailList.length
      // console.log(boxingDetailListLength)
      for (let i = 0; i < boxingDetailListLength; i++) {
        if (!this.boxingDetailList[i].product_id) {
          isError = true
          this.$Notice.error({
            title: `第${i + 1}筆明細`,
            desc: '"商品料號"未填',
            duration: 30
          })
        }
        if (!this.boxingDetailList[i].boxed_num) {
          isError = true
          this.$Notice.error({
            title: `第${i + 1}筆明細`,
            desc: '"數量"未填',
            duration: 30
          })
        }
      }
      // 檢查主檔
      var boxingListLength = this.boxingList.length
      // console.log(boxingListLength)
      for (let i = 0; i < boxingListLength; i++) {
        if (!this.boxingList[i].box_length) {
          isError = true
          this.$Notice.error({
            title: `第${i + 1}筆裝箱主檔`,
            desc: '"長"未填',
            duration: 30
          })
        }
        if (!this.boxingList[i].box_width) {
          isError = true
          this.$Notice.error({
            title: `第${i + 1}筆明細`,
            desc: '"寬"未填',
            duration: 30
          })
        }
        if (!this.boxingList[i].box_height) {
          isError = true
          this.$Notice.error({
            title: `第${i + 1}筆明細`,
            desc: '"高"未填',
            duration: 30
          })
        }
        if (!this.boxingList[i].box_weight) {
          isError = true
          this.$Notice.error({
            title: `第${i + 1}筆明細`,
            desc: '"重量"未填',
            duration: 30
          })
        }
      }
      //
      if (isError) {
        return
      }
      //
      try {
        for (let i = 0; i < boxingListLength; i++) {
          let boxingPostData = {
            box_length_unit: 2,
            box_weight_unit: 41,
            box_length: this.boxingList[i].box_length,
            box_width: this.boxingList[i].box_width,
            box_height: this.boxingList[i].box_height,
            box_weight: this.boxingList[i].box_weight
          }
          if (this.boxingList[i].box_id) {
            // console.log(this.boxingList[i].box_id)
            let updateBoxingRes = await this.$store.dispatch('boxingSetup/updateBoxing', { postData: boxingPostData, detailId: this.boxingList[i].box_id })
            // console.log(updateBoxingRes)
            if (updateBoxingRes.httpStatus !== 200 && updateBoxingRes.httpStatus !== 201) {
              this.$Notice.error({
                title: `箱號${this.boxingList[i].box_no}`,
                desc: '更新失敗',
                duration: 30
              })
              if (this.showDetailsIndex === i && boxingDetailListLength > 0) {
                isError = true
                this.$Notice.error({
                  title: `裝箱明細`,
                  desc: '更新失敗',
                  duration: 30
                })
              }
            }
          } else {
            boxingPostData.outbound_id = this.outbound_id
            boxingPostData.box_type = 0
            boxingPostData.box_cod_type = 0
            boxingPostData.box_cod_amount = 0
            let addBoxingRes = await this.$store.dispatch('boxingSetup/addBoxing', boxingPostData)
            // console.log(addBoxingRes)
            if (addBoxingRes.httpStatus === 200 || addBoxingRes.httpStatus === 201) {
              this.boxingList[i].box_id = addBoxingRes.respondCode.additionals.recBoxing.box_id
              this.boxingList[i].box_no = addBoxingRes.respondCode.additionals.recBoxing.box_no
            } else {
              this.$Notice.error({
                title: `第${i + 1}筆裝箱主檔`,
                desc: '儲存失敗',
                duration: 30
              })
              if (this.showDetailsIndex === i && boxingDetailListLength > 0) {
                isError = true
                this.$Notice.error({
                  title: `裝箱明細`,
                  desc: '儲存失敗',
                  duration: 30
                })
              }
            }
          }
        }
        // 主檔沒存成功不存明細
        if (isError) {
          return
        }
        // 存明細
        for (let i = 0; i < boxingDetailListLength; i++) {
          await this.saveBoxDetail(this.boxingDetailList[i], i)
        }
        // 明細存失敗不更新出庫主檔狀態
        if (this.detailSaveError) {
          this.detailSaveError = false
          return
        } else {
          this.detailSaveStatus = true
          // 如果outboundStatus = 50, 更新出庫主檔
          if (outboundStatus === 50) {
            let postData = {
              outbound_status: 50
            }
            let Res = await this.$store.dispatch('boxingSetup/comfirmBoxing', { data: postData, id: this.outbound_id })
            if (Res.httpStatus === 200 || Res.httpStatus === 201) {
              this.$Notice.success({
                title: '確認裝箱成功'
              })
              this.$nextTick(() => this.$refs.outboundNo.focus())
            } else {
              this.$Notice.error({
                title: '確認裝箱失敗',
                duration: 30
              })
            }
          } else {
            this.$Notice.success({
              title: '儲存成功'
            })
            this.$nextTick(() => this.$refs.outboundNo.focus())
          }
        }
      } catch (error) {
        // console.log(error)
        this.$Notice.error({
          title: '儲存失敗',
          duration: 30
        })
      }
    },
    async getShippingPic () {
      this.getShippingPicLoading = true
      if (this.shipping_company === 103) {
        let boxingListLength = this.boxingList.length
        var waybillList = []
        if (boxingListLength === 0) {
          this.$Notice.warning({
            title: '沒有箱號',
            duration: 30
          })
          this.getShippingPicLoading = false
          return
        }
        for (let i = 0; i < boxingListLength; i++) {
          waybillList.push(this.boxingList[i].box_id)
        }
        try {
          // 先取得託運單，在開新分頁查詢託運單圖片
          let hctWaybillPostData = {
            box_ids: waybillList
          }
          var hctWaybillRes = await this.$store.dispatch('hctWaybill/create', hctWaybillPostData)
          // console.log(hctWaybillRes)
          if (hctWaybillRes.httpStatus === 200 || hctWaybillRes.httpStatus === 201) {
            let ids = [this.outbound_id]
            let idsStr = btoa(JSON.stringify(ids))
            window.open(`/PrintShippingPic/${idsStr}`)
            this.getShippingPicLoading = false
          } else {
            this.$Notice.error({
              title: `取託運單失敗`,
              desc: `${hctWaybillRes.data.respondCode.debugInfo}`,
              duration: 30
            })
            this.getShippingPicLoading = false
          }
        } catch (error) {
          this.$Notice.warning({
            title: `系統忙線中`,
            desc: `請稍後再試`,
            duration: 30
          })
          this.getShippingPicLoading = false
          // console.log(error)
        }
      } else {
        this.$Notice.warning({
          title: '無法取託運單',
          desc: '該單非新竹貨運',
          duration: 30
        })
        this.getShippingPicLoading = false
      }
    },
    /* 新增裝箱 */
    addBox () {
      this.boxingList.push({
        SELECTED: false,
        box_no: '',
        box_length: 10,
        box_width: 10,
        box_height: 10,
        box_weight: 10,
        lengthInput: false,
        widthInput: false,
        heightInput: false,
        weightInput: false
      })
    },
    /* 刪除箱子 */
    removeBox () {
      // 輸入框先關閉
      this.focusBoxingIndex = null
      // this.boxingList.forEach((item) => {
      //   item.lengthInput = false
      //   item.widthInput = false
      //   item.heightInput = false
      //   item.weightInput = false
      // })
      // this.boxingList = JSON.parse(JSON.stringify(this.boxingList))
      //
      var data = this.boxingList.filter((item, index) => {
        if (item.box_id && item.SELECTED) {
          this.removeBoxEvent(item.box_id)
          return !item.SELECTED
        } else {
          return !item.SELECTED
        }
      })
      // console.log(data)
      this.boxingList = JSON.parse(JSON.stringify(data))
      this.boxingDetailList = []
      // this.query()
      // this.queryBoxingList()
    },
    removeBoxEvent (id) {
      this.$store.dispatch('boxingSetup/deleteBoxing', id).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200) {
          // 警告提示
          this.$Notice.success({
            title: '箱子刪除成功'
          })
        } else {
          this.$Notice.error({
            title: '箱子刪除失敗'
          })
        }
      })
    },
    setBoxingListInput (index, val, bol) {
      // console.log(index)
      // console.log(val)
      // console.log(this.boxingList[index])
      // console.log(this.boxingList[index][val])
      this.focusBoxingIndex = index
      this.boxingList.forEach((item) => {
        item.lengthInput = false
        item.widthInput = false
        item.heightInput = false
        item.weightInput = false
      })
      this.boxingList[index][val] = bol
      // console.log(this.boxingList[index][val])
      this.boxingList = JSON.parse(JSON.stringify(this.boxingList))
      // console.log(this.boxingList)
    },
    boxingListInputTxtChangeEvent (data) {
      if (this.focusBoxingIndex || this.focusBoxingIndex === 0) {
        this.boxingList[this.focusBoxingIndex][data.code] = data.val
        this.boxingList = JSON.parse(JSON.stringify(this.boxingList))
      }
    },
    // 明細輸入框設定
    setBoxingDetailListInput (index, val, bol) {
      this.focusBoxingDetailIndex = index
      this.boxingDetailList.forEach((item) => {
        item.productInput = false
        item.boxedNumInput = false
      })
      this.boxingDetailList[index][val] = bol
      this.boxingDetailList = JSON.parse(JSON.stringify(this.boxingDetailList))
      this.saveBoxDetailModal = false // 改為未儲存
    },
    boxingDetailListInputTxtChangeEvent (data) {
      if (this.focusBoxingDetailIndex || this.focusBoxingDetailIndex === 0) {
        this.boxingDetailList[this.focusBoxingDetailIndex][data.code] = data.val
        this.boxingList = JSON.parse(JSON.stringify(this.boxingList))
        this.saveBoxDetailModal = false // 改為未儲存
      }
    },
    // 明細選取設定
    setBoxingDetailListSelected (bol, index) {
      this.boxingDetailList[index]['SELECTED'] = bol
      this.boxingDetailList = JSON.parse(JSON.stringify(this.boxingDetailList))
    },
    /* 新增裝箱明細 */
    addBoxDetail () {
      if (!this.showDetailsIndex && this.showDetailsIndex !== 0) {
        this.$Notice.warning({
          title: '請先選取裝箱主檔',
          duration: 30
        })
        return
      }
      //
      this.boxingDetailList.push({
        SELECTED: false,
        product_id: null,
        product_code: null,
        product_name: null,
        boxed_num: null,
        productInput: false,
        boxedNumInput: false
      })
      this.saveBoxDetailModal = false // 改為未儲存
    },
    // 儲存裝箱明細
    async saveBoxDetail (data, index) {
      let isError = false
      // 檢查
      if (!data.product_id) {
        isError = true
        this.$Notice.error({
          title: `第${index + 1}筆明細`,
          desc: '"商品料號"未填',
          duration: 30
        })
      }
      if (!data.boxed_num) {
        isError = true
        this.$Notice.error({
          title: `第${index + 1}筆明細`,
          desc: '"數量"未填',
          duration: 30
        })
      }
      if (isError) {
        this.detailSaveError = isError
        return
      }
      //
      try {
        if (data.bd_id) {
          // update
          let pd = {
            product_id: data.product_id,
            boxed_num: data.boxed_num
          }
          let updateBoxingDetailRes = await this.$store.dispatch('boxingSetup/updateBoxingDetail', { postData: pd, detailId: this.boxingDetailList[index].bd_id })
          // console.log(updateBoxingDetailRes)
          if (updateBoxingDetailRes.httpStatus !== 200 && updateBoxingDetailRes.httpStatus !== 201) {
            this.detailSaveError = true
            this.$Notice.error({
              title: `第${index + 1}筆裝箱明細`,
              desc: '更新失敗',
              duration: 30
            })
          }
        } else {
          // save
          let pd = {
            box_id: this.boxingList[this.showDetailsIndex].box_id,
            product_id: data.product_id,
            boxed_num: data.boxed_num
          }
          let addBoxingDetailRes = await this.$store.dispatch('boxingSetup/addBoxingDetail', pd)
          // console.log(addBoxingDetailRes)
          if (addBoxingDetailRes.httpStatus === 200 || addBoxingDetailRes.httpStatus === 201) {
            this.boxingDetailList[index].bd_id = addBoxingDetailRes.respondCode.additionals.boxDetail.bd_id
          } else {
            this.detailSaveError = true
            this.$Notice.error({
              title: `第${index + 1}筆裝箱明細`,
              desc: '儲存失敗',
              duration: 30
            })
          }
        }
      } catch (error) {
        // console.log(error)
      }
    },
    //
    async comfirmBoxDetailSave () {
      // let boxingDetailListLength = this.boxingDetailList.length
      // console.log(boxingDetailListLength)
      // for (let i = 0; i < boxingDetailListLength; i++) {
      //   console.log(i)
      //   console.log(this.boxingDetailList[i])
      //   await this.saveBoxDetail(this.boxingDetailList[i], i)
      // }
      this.save()
      this.saveBoxDetailModal = false
      //
      if (this.detailSaveError) {
        this.detailSaveError = false
        this.$Notice.error({
          title: `裝箱明細`,
          desc: '儲存失敗',
          duration: 30
        })
        this.showDetailsIndex = this.oldShowDetailsIndex
        return
      }
      //
      this.detailSaveStatus = true
      this.queryBoxingDetailList(this.boxingList[this.showDetailsIndex].box_no, this.showDetailsIndex)
    },
    comfirmBoxDetailCancel () {
      this.saveBoxDetailModal = false
      this.detailSaveStatus = true
      this.queryBoxingDetailList(this.boxingList[this.showDetailsIndex].box_no, this.showDetailsIndex)
    },
    // 刪除裝箱明細
    async removeBoxDetail (type) {
      this.focusBoxingDetailIndex = null
      let boxNo = null
      let boxingDetailListLength = this.boxingDetailList.length
      // 如果要刪除最後一筆裝箱明細，直接刪除箱子
      if (boxingDetailListLength === 1 && this.boxingDetailList[0].SELECTED) {
        if (type === 'ok') {
          // console.log(this.boxingDetailList[0])
          await this.$store.dispatch('boxingSetup/deleteBoxing', this.boxingDetailList[0].box_id)
          // let res = await this.$store.dispatch('boxingSetup/deleteBoxing', this.boxingDetailList[0].box_id)
          this.lastBoxDetailModal = false
          // 移除列表上的箱子
          var data = this.boxingList.filter((item, index) => {
            if (item.box_id && item.box_id === this.boxingDetailList[0].box_id) {
              return false
            } else {
              return true
            }
          })
          this.boxingList = JSON.parse(JSON.stringify(data))
          this.boxingDetailList = []
          // this.query()
        } else {
          this.lastBoxDetailModal = true
        }
        return
      }
      // 如果全選，直接刪除箱子
      // console.log(this.productTrigger)
      if (this.productTrigger) {
        if (type === 'ok') {
          this.$store.dispatch('boxingSetup/deleteBoxing', this.boxingDetailList[0].box_id)
          // let res = await this.$store.dispatch('boxingSetup/deleteBoxing', this.boxingDetailList[0].box_id)
          this.lastBoxDetailModal = false
          // this.query()
          this.productTrigger = false
          // 移除列表上的箱子
          var dataBox = this.boxingList.filter((item, index) => {
            if (item.box_id && item.box_id === this.boxingDetailList[0].box_id) {
              return false
            } else {
              return true
            }
          })
          this.boxingList = JSON.parse(JSON.stringify(dataBox))
          this.boxingDetailList = []
        } else {
          this.lastBoxDetailModal = true
        }
      } else {
        // 如果不是全選
        for (let i = 0; i < boxingDetailListLength; i++) {
          if (!boxNo) {
            boxNo = this.boxingDetailList[i].box_no
          }
          if (this.boxingDetailList[i].SELECTED) {
            if (this.boxingDetailList[i].bd_id || this.boxingDetailList[i].bd_id === 0) {
              await this.$store.dispatch('boxingSetup/deleteBoxingDetail', this.boxingDetailList[i].bd_id)
              // let res = await this.$store.dispatch('boxingSetup/deleteBoxingDetail', this.boxingDetailList[i].bd_id)
            }
          }
        }
        // 移除明細
        var dataDetail = this.boxingDetailList.filter((item, index) => {
          return !item.SELECTED
        })
        this.boxingDetailList = JSON.parse(JSON.stringify(dataDetail))
      }
    },
    closeLastBoxDetailModal () {
      this.lastBoxDetailModal = false
    },
    /* 商品料號  product_id */
    autocompleteHandleProductEnterSubmitEvent: function (data) {
      // console.log(data)
      if (!this.showDetailsIndex && this.showDetailsIndex !== 0) {
        return
      }
      this.boxingDetailList[this.focusBoxingDetailIndex][data.code] = ''
      // 設定其他資料處
      this.boxingDetailList[this.focusBoxingDetailIndex].product_id = null
      this.saveBoxDetailModal = false // 改為未儲存
      // 設定其他資料處 end
      this.productList = []
    },
    productAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (!this.showDetailsIndex && this.showDetailsIndex !== 0) {
        return
      }
      if (this.boxingDetailList[this.focusBoxingDetailIndex][data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.boxingDetailList[this.focusBoxingDetailIndex][data.code] = data.val ? data.val[data.returnCode] : null
        this.boxingDetailList[this.focusBoxingDetailIndex].product_id = data.val ? data.val.product_id : null
        this.boxingDetailList[this.focusBoxingDetailIndex].product_name = data.val ? data.val.product_name : null
        // 設定其他資料處
        this.saveBoxDetailModal = false // 改為未儲存
      }
      // console.log([data.val])
      if (data.val) {
        this.productList = [data.val]
      } else {
        this.productList = []
      }
    },
    productAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      if (!this.outbound_id) {
        return
      }
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, outboundId: this.outbound_id }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`outboundDetail`]
          //
          this.productList = list
        }
      })
    },
    setAutocompleteProductValue: function (data) {
      // console.log(data)
      if (!this.showDetailsIndex && this.showDetailsIndex !== 0) {
        return
      }
      this.boxingDetailList[this.focusBoxingDetailIndex].product_code = data.data[data.returnCode]
      this.boxingDetailList[this.focusBoxingDetailIndex].product_id = data.data.product_id
      this.boxingDetailList[this.focusBoxingDetailIndex].product_name = data.data.product_name
      //
      this.saveBoxDetailModal = false // 改為未儲存
      this.toCloseProductAutocompleteModal = true
    },
    setToCloseProductAutocompleteModal: function (bol) {
      this.toCloseProductAutocompleteModal = bol
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.save('clone')
    }
  },
  created () {
    // focus在出庫單輸入框
    this.$nextTick(() => this.$refs.outboundNo.focus())
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  padding: 25px 30px;
  overflow: auto;

  .row {
    display: flex;
    width: 100%;
    height: 100%;

    .col {
      flex: 1;
      height: 100%;
    }

    .col-3 {
      flex: 0 0 25%;
      width: 25%;
      height: 100%;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }

    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
      align-items: center;
      .getNoInput {
        display: block;
        width: 250px;
        font-size: 16px;
        color: #9d9d9d;
        padding: 1.5px 12px;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        outline: 1px solid transparent;

        &.pro {
          width: 100%;
        }
      }
    }

    .btn-box.l {
      width: auto;
    }

    /deep/.ivu-btn.icon-btn-md {
      border: 2px solid;
      background-color: transparent;
      padding: 1px 0 0 0;
      border-radius: 50%;
      margin-bottom: 0;
      width: 26px;
      height: 26px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      // &.solid {
      //   color: #ffffff;
      //   background-color: #354361;
      //   border: 2px solid #354361;
      // }
      > span {
        font-size: 12.5px;
      }
    }
  }
  .detail {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    .item {
      display: flex;
      font-size: 16px;
      font-weight: 300;
      color: #000000;
      position: relative;

      .label {
        padding-right: 24px;
        // min-width: ;
      }

      .value {
        padding-right: 40px;
        min-width: 120px;

        /deep/.ivu-select-single .ivu-select-selection {
          border-radius: 0;
          border-top: 0px;
          border-left: 0px;
          border-right: 0px;
        }

        /deep/.ivu-select-single .ivu-select-selection .ivu-select-placeholder {
          font-size: 16px;
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 24px;
        background: #979797;
        right: 20px;
        top: 0;
      }

      &:last-of-type {
        &:before {
          display: none;
        }
      }
    }
  }

  .body-box {
    width: 100%;
    height: calc(100% - 122px);

    /deep/.ivu-col {
      height: 100%;
    }

    /deep/.ivu-card {
      height: 100%;
    }

    /deep/.ivu-card-body {
      height: 100%;
    }

    /deep/.ivu-row {
      height: calc(100% - 66px);
    }
  }
}

.table-container {
  width: 100%;

  &.no-btn {
    height: calc(100% - 64px);
  }

  &.have-btn {
    height: calc(100% - 66px - 64px);
  }

  &.inDrawer {
    overflow-x: scroll;
    height: calc(100% - 22px - 4px);
  }

  .thead {
    width: 100%;
    background-color: rgba(53, 67, 97, 0.1);
    border-bottom: 2px solid #fff;
    border-radius: 6px;

    span {
      color: #333;
      font-size: 15px;
    }

    /deep/.ivu-checkbox-inner {
      border-color: #dcdee2;
      background-color: transparent;
    }

    /deep/.ivu-checkbox-inner:after {
      border: 2px solid #333;
      border-top: 0;
      border-left: 0;
    }
  }

  .tbody {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 40px);

    .trow {
      border-bottom: 2px solid #fff;

      &:nth-of-type(2n + 1) {
        background-color: #fbfaf9;
      }

      &:nth-of-type(2n + 2) {
        background-color: #f4f2f1;
      }

      /deep/.ivu-checkbox-inner {
        border-color: #dcdee2;
        background-color: transparent;
      }

      /deep/.ivu-checkbox-inner:after {
        border: 2px solid #333;
        border-top: 0;
        border-left: 0;
      }

      span {
        color: #333;
        font-size: 15px;
      }

      &.more {
        background-color: #dca558;
      }

      &.check {
        background-color: #d1c2af;
      }

      &.isShowDetails {
        background-color: #d1c2af;
      }

      &.isDisable {
        background-color: #fff;
        border: 1px solid #dcdee2;
        margin-bottom: 2px;
      }
    }
  }

  .SELECTED {
    display: inline-block;
    padding: 8px;
    width: 35px;
  }

  .product_code {
    display: inline-block;
    padding: 8px;
    width: 200px;
    >span:first-of-type {
      display: inline-block;
      min-width: 200px;
      height: 25px;
    }
  }

  .box_no {
    display: inline-block;
    padding: 8px;
    width: 190px;
  }

  .box_data {
    display: inline-block;
    padding: 8px;
    width: 100px;
    >span:first-of-type {
      display: inline-block;
      width: 100px;
      height: 25px;
    }
  }

  .order_num {
    display: inline-block;
    padding: 8px;
    min-width: 100px;
  }

  .boxing_num {
    display: inline-block;
    padding: 8px;
    width: 73px;
    >span:first-of-type {
      display: inline-block;
      min-width: 73px;
      min-height: 21px;
    }
  }
  /deep/.floatLabelBox-container{
    .Input.hasContent {
      padding-top: 0;
    }
    input {
      margin-top: 0;
    }
    .ivu-input-icon {
      top: -1px;
    }
  }
}

/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  > span {
    font-size: 12.5px;
  }
}

.search-btn {
  width: 80px;
  height: 32px;
  border-radius: 20px;
  background-color: #354361;
  margin-left: 76px;
  margin-top: 40px;
  margin-bottom: 65px;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.light-blue-btn {
  width: 80px;
  height: 32px;
  border-radius: 20px;
  background-color: #8e96a6;
  margin: 0 24px 48px;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    border: 2px solid #8e96a6;
    color: #8e96a6;
    background-color: #ffffff;

    svg {
      color: #8e96a6;
    }
  }
}

/deep/.dark-blue-btn {
  width: 116px;
  height: 32px;
  border-radius: 20px;
  background-color: #354361;
  margin: 16px auto;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/deep/.white-btn {
  font-size: 16px;
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .returnBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #7c894f;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .printBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8e96a6;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .print-select-box {
    position: absolute;
    padding: 0 16px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: #ffffff;
    min-width: 57px;
    max-width: 380px;
    height: 55px;
    right: 40px;
    bottom: 40px;
    border-radius: 45px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    span {
      display: inline-block;
      font-size: 18px;
      padding-right: 32px;
      color: #333;
      cursor: pointer;

      &:first-child {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          right: 16px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #333;
        }
      }

      &:hover {
        color: #8e96a6;
      }
    }
  }
}

.switch {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 0 7px;

  .label-box {
    font-size: 16px;
    color: #333;
  }
}

.drawer-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
}

.green-btn {
  width: auto;
  border-radius: 20px;
  background-color: #7c894f;
  // margin-left: auto;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
  margin-top: 24px;
  &[disabled] {
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
  }
}

.dark-blue-btn {
  width: auto;
  border-radius: 20px;
  background-color: #354361;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 24px 0 0 auto;
  &[disabled] {
    color: #c5c8ce;
    background-color: #f7f7f7;
    border-color: #dcdee2;
  }
}
.lastBoxDetailModal {
  .modal-body {
    display: flex;
    width: 100%;
    padding: 12px 30px;
    .icon-box {
      width: 141px;
      height: 128px;
      img {
        width: auto;
        height: 115px;
        object-fit: cover
      }
    }
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        flex: 1;
        height: 95px;
        color: #000;
        font-size: 16px;
      }
      .btn-box {
        display: flex;
        flex: 1;
        height: 32px;
        button {
          margin-right: 15px;
          font-size: 14px;
          svg {
            color: #9ca29c;
          }
        }
      }
    }
  }
}
.saveBtn {
  position: absolute;
  right: 45px;
  bottom: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  background-color: #354361;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
</style>
