<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 出貨確認 -->
    <div class="row" ref="body-box">
      <div class="col-3">
        <h2 class="title mt-2">
          <span>出貨確認</span>
        </h2>
        <div class="body-box">
          <h3 class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">篩選項目</h3>
          <!-- 貨主代碼 owner_id -->
          <div class="mb-3">
            <FloatLabelBox
              :config="{hasContent: (searchPostData.owner_name && searchPostData.owner_name!==''), label: `貨主名稱`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250,height: 52}, hiddenSearchBtn: true}"
              :code="`owner_name`"
              :autoCompleteData="ownerList"
              :defaultValue="searchPostData.owner_name"
              :modalTitle="`貨主代碼`"
              :toCloseModal="toCloseOwnerAutocompleteModal"
              keyCode="customerSetup"
              storeKey="customerByCmpCat"
              returnCode="customer_name"
              :showCols="autoCompleteShowOwnerCols"
              @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
              @changeModelEvent="ownerAutocompleteChangeEvent"
              @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
                <div>
                  <!-- 貨主代碼-->
                  <AutocompleteModal
                  keyCode="customerSetup"
                  storeKey="customerByCmpCat"
                  returnCode="customer_name"
                  respondCode= "customer"
                  :apiUrlCondition="setAutocompleteOwnerApiUrl"
                  :condition="ownerCondition"
                  @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
          </div>
          <!-- 訂單類別 -->
          <!-- <div class="mb-3">
            <FloatLabelBox
              :config="{hasContent: (searchPostData.order_type && searchPostData.order_type!==''), label: `訂單類別`, hasClearButton: true, type: `Select`, settings: {width: 250, height: 52}}"
              :selectList="orderTypeList"
              :code="`order_type`"
              :defaultValue="searchPostData.order_type"
              @changeModelEvent="orderTypeListChangeEvent"
            ></FloatLabelBox>
          </div> -->
          <div class="mb-3">
            <!-- 訂單狀態 outbound_status -->
            <FloatLabelBox
              :config="{hasContent: (searchPostData.outbound_status && searchPostData.outbound_status!==''), label: '訂單狀態', hasClearButton: true, type: `Select`, settings: {width: 250, height: 52}}"
              :selectList="outboundStatusList"
              :code="`outbound_status`"
              :defaultValue="searchPostData.outbound_status"
              @changeModelEvent="outboundStatusListChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="mb-3">
            <!-- 運送溫層類別 temperature_type -->
            <FloatLabelBox
              :config="{hasContent: (searchPostData.temperature_type && searchPostData.temperature_type!==''), label: '運送溫層類別', hasClearButton: true, type: `Select`, settings: {width: 250, height: 52}}"
              :selectList="temperatureTypeList"
              :code="`temperature_type`"
              :defaultValue="searchPostData.temperature_type"
              @changeModelEvent="temperatureTypeListChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="mb-3">
            <!-- 出庫備註 outbound_note -->
            <FloatLabelBox
              :config="{hasContent: (searchPostData.outbound_note && searchPostData.outbound_note!==''), label: `出庫備註`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
              :code="`outbound_note`"
              :defaultValue="searchPostData.outbound_note"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="search-btn" @click="search">
            搜尋&nbsp;
            <font-awesome-icon icon="search" color="#fff" />
          </div>
        </div>
      </div>
      <div class="col">
        <TransferX2
          list1Title="未處理訂單"
          list2Title="待處理訂單"
          mainId="outbound_id"
          :list1Cols="transferX2Cols1"
          :list2Cols="transferX2Cols2"
          :list1="transferX2List1"
          :list2="transferX2List2"
          showSelect="0"
          submitBtnTxt="出貨確認"
          @list1ChangeEvent="transferX2List1ChangeEvent"
          @list2ChangeEvent="transferX2List2ChangeEvent"
          @list1ReloadEvent="transferX2List1ReloadEvent"
          @list2ReloadEvent="transferX2List2ReloadEvent"
          @addEvent="transferX2AddEvent"
          @removeEvent="transferX2RemoveEvent"
          @submitEvent="transferX2SubmitEvent"
        ></TransferX2>
      </div>
    </div>
    <!-- drawer -->
    <div class="drawer-mask" v-show="!drawerOpen"></div>
    <Drawer
      prefix="DeliveryConfirm"
      :width="1000"
      :drawerOpen="drawerOpen"
      @rightChangeEvent="drawerRightChangeEvent"
    >
      <div class="win-content">
        <h2 class="title mt-2">
          <span>出貨結果</span>
        </h2>
        <div class="body-box">
          <div class="operation-box">
            <Card class="done">
              <h3 class="sub-title mb-2">
                <span>處理完訂單</span>
                <span class="quantity">
                  <font-awesome-icon icon="file" class="text-orange mr-1" />
                  {{successResult.length}}
                </span>
              </h3>
              <div class="table-container inDrawer">
                <div class="d-flex thead" style="width:892px">
                  <div class="success_result_index">
                    <span>編號</span>
                  </div>
                  <div class="success_result_checkbox">
                    <Checkbox v-model="successResultTrigger"></Checkbox>
                  </div>
                  <div class="order_no">
                    <span>訂單編號</span>
                  </div>
                  <div class="owner_bill_no">
                    <span>入庫訂單編號</span>
                  </div>
                </div>
                <!-- <table>
                  <thead>
                    <tr>
                      <td>
                        <span>編號</span>
                      </td>
                      <td>
                        <Checkbox v-model="successResultTrigger"></Checkbox>
                      </td>
                      <td>
                        <span>訂單編號</span>
                      </td>
                      <td>
                        <span>入庫訂單編號</span>
                      </td>
                    </tr>
                  </thead>
                </table>-->
                <div class="tbody" style="width:892px">
                  <div
                    class="trow"
                    style="width:892px"
                    v-for="(item, index) in successResult"
                    :key="`${item.order_no}_${index}`"
                  >
                    <div class="success_result_index">
                      <span>{{item.INDEX}}</span>
                    </div>
                    <div class="success_result_checkbox">
                      <Checkbox v-model="item.SELECTED"></Checkbox>
                    </div>
                    <div class="order_no">
                      <span>{{item.order_no}}</span>
                    </div>
                    <div class="owner_bill_no">
                      <span>{{item.owner_bill_no}}</span>
                    </div>
                  </div>
                  <!-- <table>
                    <tbody>
                      <tr v-for="(item, index) in successResult" :key="index">
                        <td>
                          <span>{{item.INDEX}}</span>
                        </td>
                        <td>
                          <Checkbox v-model="item.SELECTED"></Checkbox>
                        </td>
                        <td>
                          <span>{{item.order_no}}</span>
                        </td>
                        <td>
                          <span>{{item.owner_bill_no}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>-->
                </div>
              </div>
            </Card>
          </div>
        </div>
        <div class="footer">
          <!-- return btn -->
          <div class="returnBtn" @click="recovery">
            <font-awesome-icon icon="sign-in-alt" size="2x" />
          </div>
          <!-- print btn -->
          <div class="printBtn" @click="setPrintTrigger">
            <font-awesome-icon icon="print" size="2x" />
          </div>
          <div class="print-select-box">
            <span v-if="printTrigger" @click="print(0)">宅配出貨總表列印</span>
            <span v-if="printTrigger" @click="print(1)">出貨單列印</span>
          </div>
        </div>
      </div>
    </Drawer>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import Drawer from '@/components/Drawer/Drawer'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import TransferX2 from '@/components/Transfer/TransferX2'
export default {
  name: 'DeliveryConfirm',
  props: ['keyCode'],
  components: {
    LoadingView,
    Drawer,
    FloatLabelBox,
    AutocompleteModal,
    TransferX2
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let companyId = this.$store.state.auth.userInfo.companyKey // 由用戶取得
    let whId = this.$store.state.auth.userInfo.warehouseKey // 由用戶取得
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    var userId = this.$store.state.auth.userInfo.userId
    //
    return {
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      companyId: companyId, // 由用戶取得
      whId: whId, // 由用戶取得
      ownerId: ownerId,
      ownerName: ownerName,
      userId: userId,
      //
      printTrigger: false,
      //
      drawerOpen: true,
      /* Transfer */
      transferX2Cols1: [
        {
          label: '編號',
          key: 'INDEX'
        },
        // {
        //   label: '',
        //   key: 'SELECTED'
        // },
        {
          label: '訂單編號',
          key: 'order_no'
        },
        {
          label: '收貨人',
          key: 'consignee_name',
          key2: 'store_name'
        }
      ],
      transferX2Cols2: [
        {
          label: '編號',
          key: 'INDEX'
        },
        // {
        //   label: '',
        //   key: 'SELECTED'
        // },
        {
          label: '訂單編號',
          key: 'order_no'
        },
        {
          label: '收貨人',
          key: 'consignee_name',
          key2: 'store_name'
        }
      ],
      transferX2List1: [],
      transferX2List2: [],
      // 出庫作業建檔
      detailId: null,
      saveSuccess: false,
      /* 貨主代碼 : owner_id */
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      setAutocompleteOwnerApiUrl: { companyId: companyId, whId: whId, customerCat: 1 },
      /* 訂單類別 */
      orderTypeList: [],
      /* 訂單狀態 */
      outboundStatusList: [],
      /* 運送溫層類別 */
      temperatureTypeList: [],
      //
      searchPostData: {
        owner_name: ownerName, // 貨主
        owner_id: ownerId, // 貨主ID
        // order_type: null, // 訂單類別
        outbound_status: 30, // 訂單狀態
        temperature_type: null, // 運送溫層類別
        outbound_note: null // 出庫備註
      },
      //
      successResultTrigger: false,
      failResultTrigger: false,
      successResult: [], // 處理完訂單
      failResult: [] // 異常訂單
    }
  },
  computed: {
    //
  },
  watch: {
    successResultTrigger: function (bol) {
      this.successResult.forEach((ele, idx) => {
        ele.SELECTED = bol
      })
    },
    failResultTrigger: function (bol) {
      this.failResult.forEach((ele, idx) => {
        ele.SELECTED = bol
      })
    },
    // successResult: {
    //   hanlder: function (val) {
    //   //
    //   },
    //   deep: true
    // },
    //
    searchPostData: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    transferX2List1: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    transferX2List2: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    drawerOpen: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    /* Transfer */
    transferX2List1ChangeEvent: function (data) {
      // list 1 改變
      // console.log(data)
      this.transferX2List1 = data
    },
    transferX2List2ChangeEvent: function (data) {
      // list 2 改變
      // console.log(data)
      this.transferX2List2 = data
    },
    transferX2List1ReloadEvent: function () {
      // 重新取得 list1
    },
    transferX2List2ReloadEvent: function () {
      // 重新取得 list2
    },
    transferX2AddEvent: function (data) {
      // 新增
      // console.log(data)
      let list = data.filter((item, index) => {
        return !item.SELECTED
      })
      let moveItems = data.filter((item, index) => {
        return item.SELECTED
      })
      list.forEach((ele, idx) => {
        ele.SELECTED = false
      })
      moveItems.forEach((ele, idx) => {
        ele.SELECTED = false
      })
      // console.log(moveItems)
      this.transferX2List1 = list
      this.transferX2List2 = [
        ...this.transferX2List2,
        ...moveItems
      ]
    },
    transferX2RemoveEvent: function (data) {
      // 移除
      // console.log(data)
      let list = data.filter((item, index) => {
        return !item.SELECTED
      })
      let moveItems = data.filter((item, index) => {
        return item.SELECTED
      })
      this.transferX2List2 = list
      this.transferX2List1 = [
        ...this.transferX2List1,
        ...moveItems
      ]
    },
    transferX2SubmitEvent: async function (data) {
      //
      this.successResult = []
      // 送出
      // console.log(data)
      var successResult = []
      var postData = {
        user_id: this.userId,
        outbound_status: 80,
        outbound_ids: []
      }
      data.data.forEach((ele, idx) => {
        postData.outbound_ids.push(ele.outbound_id)
      })
      // console.log(postData)
      this.LoadingViewIsShow = true
      //
      // var idsLength = postData.outbound_ids.length
      try {
        let Res = await this.$store.dispatch('outboundOperation/largeStatusUpdate', postData)
        if (Res.httpStatus === 200) {
          successResult = data.data
          successResult.forEach((ele, idx) => {
            ele.INDEX = idx + 1
            ele.SELECTED = false
            ele.order_no = ele.order_no || ele.outbound_no
          })
          this.successResult = successResult
          this.transferX2List2 = []
          this.LoadingViewIsShow = false
          this.drawerOpen = false
        } else if (Res.httpStatus !== 401) {
          this.LoadingViewIsShow = false
          let debugInfo = Res.respondCode.debugInfo
          if (debugInfo.indexOf('Deadlock') !== -1) {
            this.$Notice.error({
              title: '出貨失敗'
            })
          } else {
            this.$Notice.warning({
              title: '系統忙碌中',
              desc: '請5-10分鐘後再試',
              duration: 30
            })
          }
        }
      } catch (err) {
        console.log(err)
        this.LoadingViewIsShow = false
        let debugInfo = err.respondCode.debugInfo
        if (debugInfo.indexOf('Deadlock') !== -1) {
          this.$Notice.error({
            title: '出貨失敗'
          })
        } else {
          this.$Notice.warning({
            title: '系統忙碌中',
            desc: '請5-10分鐘後再試',
            duration: 30
          })
        }
      }
    },
    // Transfer end
    drawerRightChangeEvent: function (pr) {
      // console.log(pr)
      if (pr === 0) {
        this.drawerOpen = true
      } else {
        this.drawerOpen = false
      }
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.searchPostData[data.code] = data.val
    },
    //
    recovery: async function () {
      var ids = []
      var idxList = []
      var successResult = this.successResult
      // 檢查是否有勾選
      let noSelected = false
      if (this.successResult.length === 0) {
        this.$Notice.warning({
          title: '沒有可回復的資料'
        })
        return
      }
      this.successResult.forEach((ele, idx) => {
        if (ele.SELECTED) {
          noSelected = true
        }
        if (!ids.includes(ele.outbound_id) && ele.SELECTED) {
          ids.push(ele.outbound_id)
          idxList.push(ele)
        }
      })
      if (!noSelected) {
        this.$Notice.warning({
          title: '請勾選要回復的資料'
        })
        return
      }
      //
      try {
        let postData = {
          outbound_status: this.searchPostData.outbound_status,
          outbound_ids: ids
        }
        let Res = await this.$store.dispatch('outboundOperation/largeStatusUpdate', postData)
        // console.log(Res)
        if (Res.httpStatus === 200) {
          this.$Notice.success({
            title: '回復出貨確認成功'
          })
          idxList.forEach((ele, idx) => {
            // console.log(ele)
            successResult.forEach((item, index) => {
              if (item.outbound_id === ele.outbound_id) {
                // console.log(index)
                successResult.splice(index, 1)
              }
            })
          })
          // console.log(successResult)
        } else if (Res.httpStatus !== 401) {
          this.$Notice.warning({
            title: '回復出貨確認失敗'
          })
        }
      } catch (error) {
        // console.log(error)
        this.$Notice.warning({
          title: '回復出貨確認失敗'
        })
      }
      successResult.forEach((ele, idx) => {
        ele.INDEX = idx + 1
        ele.SELECTED = false
      })
      // console.log(successResult)
      this.successResultTrigger = false
      this.successResult = successResult
    },
    setPrintTrigger: function () {
      let noSelected = false
      if (this.successResult.length === 0) {
        this.$Notice.warning({
          title: '沒有可列印的資料'
        })
        return
      }
      this.successResult.forEach((ele, idx) => {
        if (ele.SELECTED) {
          noSelected = true
        }
      })
      if (!noSelected) {
        this.$Notice.warning({
          title: '請勾選要列印的資料'
        })
        return
      }
      this.printTrigger = !this.printTrigger
    },
    print: function (type) {
      // console.log(type)
      // console.log(this.successResult)
      switch (type) {
        case 0:
          if (this.successResult.length === 0) {
            return
          }
          this.LoadingViewIsShow = true
          //  列印彙總揀貨單
          // console.log('列印彙總揀貨單')
          let postData1 = {
            timezone_offset: '+8',
            output_format: 'pdf',
            output_lang: 'zh-tw',
            report_type: 'type2_headerrepeated',
            outbound_ids: []
          }
          // console.log(this.successResult)
          this.successResult.forEach((ele, idx) => {
            postData1.outbound_ids.push(ele.outbound_id)
          })
          //
          this.$store.dispatch('shippinglist/summary', { postData: postData1, userId: this.userId }).then((r) => {
            // console.log(r)
            // 取下載link, 另開視窗
            // let generateResult = r.respondCode.additionals[`shipping_list`] || []
            let summaryResult = r.respondCode.additionals[`shipping_list_summary`] || []
            let downloadLinkList = { pdf_files_to_be_merge: [] }
            //
            summaryResult.forEach((ele, idx) => {
              downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
            })
            // console.log(downloadLinkList)
            this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList).then((r) => {
              // console.log(r)
              window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.download_link}`)
            })
            this.LoadingViewIsShow = false
          })
          break
        case 1:
          if (this.successResult.length === 0) {
            return
          }
          this.LoadingViewIsShow = true
          // 列印訂單出貨單
          // console.log('列印訂單出貨單')
          let postData2 = {
            timezone_offset: '+8',
            output_format: 'pdf',
            output_lang: 'zh-tw',
            report_type: 'type2_headerrepeated_singtai',
            outbound_ids: [],
            calculateTotalVolume: false,
            printActualNum: true
          }
          // console.log(this.successResult)
          this.successResult.forEach((ele, idx) => {
            postData2.outbound_ids.push(ele.outbound_id)
          })
          this.$store.dispatch('shippinglist/generate', { postData: postData2, userId: this.userId }).then((r) => {
            // console.log(r)
            // 取下載link, 另開視窗
            if (r.httpStatus === 200 || r.httpStatus === 201) {
              let generateResult = r.respondCode.additionals[`shipping_list`] || []
              let downloadLinkList = { pdf_files_to_be_merge: [] }
              //
              generateResult.forEach((ele, idx) => {
                // console.log(ele)
                downloadLinkList.pdf_files_to_be_merge.push({ file_path: ele.download_link })
              })
              this.$store.dispatch('pdfmerge/pdfmerge', downloadLinkList).then((r) => {
                // console.log(r)
                window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.download_link}`)
              })
              this.LoadingViewIsShow = false
            } else if (r.httpStatus !== 401) {
              this.LoadingViewIsShow = false
              this.$Notice.warning({
                title: `列印失敗`,
                desc: `${r.respondCode.debugInfo}`,
                duration: 30
              })
            }
          })
          break
      }
    },
    //
    search: function () {
      //
      // console.log(this.searchPostData)
      this.transferX2List1 = []
      this.transferX2List2 = []
      // let isError = false
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'company_id',
            queryValue: this.companyId
          },
          {
            queryCondition: '=',
            queryField: 'wh_id',
            queryValue: this.whId
          }
        ],
        sort: []
      }
      Object.keys(this.searchPostData).forEach((key, idx) => {
        if (this.searchPostData[key] && this.searchPostData[key] !== '') {
          if (key === 'owner_name') {
            if (!this.searchPostData.owner_id || this.searchPostData.owner_id === '') {
              postData.query.push({
                queryCondition: 'LIKE',
                queryField: key,
                queryValue: this.searchPostData[key]
              })
            }
          } else if (key === 'owner_id') {
            postData.query.push({
              queryCondition: '=',
              queryField: key,
              queryValue: this.searchPostData[key]
            })
          } else if (key === 'temperature_type') {
            if (this.searchPostData[key] !== 'null') {
              postData.query.push({
                queryCondition: '=',
                queryField: key,
                queryValue: this.searchPostData[key]
              })
            }
          } else {
            postData.query.push({
              queryCondition: 'LIKE',
              queryField: key,
              queryValue: this.searchPostData[key]
            })
          }
        }
      })
      //
      this.LoadingViewIsShow = true
      //
      this.$store.dispatch('outboundOperation/search', postData).then((r) => {
        // console.log(r)
        this.LoadingViewIsShow = false
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          //
          let outboundList = r.respondCode.additionals.outboundList
          if (outboundList.length < 1) {
            this.$Notice.warning({
              title: '查無符合條件的資料，請重新搜尋'
            })
            return
          }
          this.transferX2List1 = outboundList
          this.transferX2List1.forEach((ele, idx) => {
            ele.INDEX = idx + 1
            ele.SELECTED = false
            ele.order_no = ele.order_no || ele.outbound_no
          })
        } else {
          //
          this.LoadingViewIsShow = false
          //
          this.$Notice.warning({
            title: '查無符合條件的資料，請重新搜尋'
          })
        }
      })
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.searchPostData[data.code] = ''
      // 設定其他資料處
      this.searchPostData.owner_id = null
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.searchPostData[data.code])
      if (this.searchPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.searchPostData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.searchPostData.owner_id = data.val ? data.val.customer_id : ''
        // console.log(this.searchPostData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 1 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.searchPostData.owner_name = data.data[data.returnCode]
      this.searchPostData.owner_id = data.data.customer_id
      // console.log(this.searchPostData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 運送溫層類別 */
    outboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this.searchPostData[data.code] = data.val
    },
    getoutboundStatusList: function () {
      this.outboundStatusList = [
        {
          value: 30,
          label: '待裝箱'
        },
        {
          value: 20,
          label: '待揀貨'
        },
        {
          value: 50,
          label: '待出貨'
        }
      ]
    },
    /* 運送溫層類別 */
    temperatureTypeListChangeEvent: function (data) {
      // console.log(data)
      this.searchPostData[data.code] = data.val
    },
    getTemperatureTypeList: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: Config.maxPageSize,
        query: [{
          queryCondition: '=',
          queryField: 'code_type',
          queryValue: '9'
        }],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingCode
          let temperatureTypeList = []
          if (list) {
            list.forEach((ele, idx) => {
              temperatureTypeList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          temperatureTypeList.unshift({
            value: 'null',
            label: '不設定'
          })
          this.temperatureTypeList = temperatureTypeList
        }
      })
    }
    /* 訂單類別 */
    // orderTypeListChangeEvent: function (data) {
    //   // console.log(data)
    //   this.searchPostData[data.code] = data.val
    //   // console.log(this.searchPostData.order_type)
    // },
    // getOrderTypeList: function () {
    //   let postData = {
    //     combinedCondition: null,
    //     page: 1,
    //     pageSize: Config.maxPageSize,
    //     query: [],
    //     sort: []
    //   }
    //   //
    //   this.$store.dispatch(`settingCodeByCompanyCodeType/search`, { postData: postData, companyId: this.companyId, codeType: 17 }).then((r) => {
    //     // console.log(r)
    //     if (r) {
    //       let list = r.respondCode.additionals.settingCode
    //       let orderTypeList = []
    //       if (list) {
    //         list.forEach((ele, idx) => {
    //           orderTypeList.push({
    //             value: ele.code_id,
    //             label: ele.code_name
    //           })
    //         })
    //       }
    //       this.orderTypeList = orderTypeList
    //     }
    //   })
    // }
  },
  created () {
    //
  },
  mounted () {
    //
    // this.getOrderTypeList()
    this.getoutboundStatusList()
    this.getTemperatureTypeList()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  padding: 25px 30px;
  overflow: auto;
  .row {
    display: flex;
    width: 100%;
    height: 100%;
    .col {
      flex: 1;
      height: 100%;
    }
    .col-3 {
      flex: 0 0 25%;
      width: 25%;
      height: 100%;
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
    .quantity {
      font-size: 16px;
      color: #555;
      font-weight: 400;
    }
  }
  .sub-title {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .quantity {
      font-size: 16px;
      color: #555;
      font-weight: 400;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 42px - 30px);
  }
}
.operation-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  /deep/.ivu-card {
    min-width: 300px;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 1rem;
    .ivu-card-body {
      padding: 8px;
      height: 100%;
    }
    &.done {
      flex: 1;
      // width: 40%;
      // flex: 0 0 40%;
      // margin-right: 2rem;
    }
    // &.error {
    //   flex: 1;
    // }
  }
  .table-container {
    width: 100%;
    &.no-btn {
      height: calc(100% - 36px - 16px);
    }
    &.have-btn {
      height: calc(100% - 36px - 32px - 16px);
    }
    &.inDrawer {
      overflow-x: scroll;
      height: calc(100% - 22px - 4px);
    }
    .thead {
      width: 100%;
      background-color: rgba(53, 67, 97, 0.1);
      border-bottom: 2px solid #fff;
      border-radius: 6px;
      span {
        color: #333;
        font-size: 15px;
      }
      /deep/.ivu-checkbox-inner {
        border-color: #dcdee2;
        background-color: transparent;
      }
      /deep/.ivu-checkbox-inner:after {
        border: 2px solid #333;
        border-top: 0;
        border-left: 0;
      }
    }
    .tbody {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100% - 40px);
      .trow {
        &:nth-of-type(2n + 1) {
          background-color: #fbfaf9;
        }
        &:nth-of-type(2n + 2) {
          background-color: #f4f2f1;
        }
        /deep/.ivu-checkbox-inner {
          border-color: #dcdee2;
          background-color: transparent;
        }
        /deep/.ivu-checkbox-inner:after {
          border: 2px solid #333;
          border-top: 0;
          border-left: 0;
        }
        span {
          color: #333;
          font-size: 15px;
        }
      }
    }
    .success_result_index {
      display: inline-block;
      padding: 8px;
      width: 52px;
    }
    .success_result_checkbox {
      display: inline-block;
      padding: 8px;
      width: 63px;
    }
    .order_no {
      display: inline-block;
      padding: 8px;
      width: 388.5px;
    }
    .owner_bill_no {
      display: inline-block;
      padding: 8px;
      width: 388.5px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      /deep/.ivu-checkbox-inner {
        border-color: #dcdee2;
        background-color: transparent;
      }
      /deep/.ivu-checkbox-inner:after {
        border: 2px solid #333;
        border-top: 0;
        border-left: 0;
      }
      thead {
        tr {
          background-color: rgba(53, 67, 97, 0.1);
          // border-radius: 8px;
          td {
            padding: 8px;
            border-bottom: 2px solid #fff;
            &:first-child {
              width: 52px;
              border-radius: 6px 0 0 6px;
            }
            &:last-child {
              border-radius: 0 6px 6px 0;
            }
            span {
              color: #333;
              font-size: 15px;
            }
          }
        }
      }
      tbody {
        tr {
          &.isChecked {
            background-color: #d1c2af !important;
            /deep/.ivu-checkbox-inner {
              border-color: rgba(0, 0, 0, 0.1);
            }
          }
          &:nth-of-type(2n + 1) {
            background-color: #fbfaf9;
          }
          &:nth-of-type(2n + 2) {
            background-color: #f4f2f1;
          }
          td {
            padding: 8px;
            border-bottom: 2px solid #fff;
            &:first-child {
              border-radius: 8px 0 0 8px;
              width: 52px;
            }
            &:last-child {
              border-radius: 0 8px 8px 0;
            }
            span {
              color: #333;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .btn-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  > span {
    font-size: 12.5px;
  }
}
.search-btn {
  width: 80px;
  height: 32px;
  border-radius: 20px;
  background-color: #354361;
  margin-left: 76px;
  margin-top: 40px;
  margin-bottom: 65px;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.light-blue-btn {
  width: 80px;
  height: 32px;
  border-radius: 20px;
  background-color: #8e96a6;
  margin: 0 24px 48px;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    border: 2px solid #8e96a6;
    color: #8e96a6;
    background-color: #ffffff;
    svg {
      color: #8e96a6;
    }
  }
}
/deep/.dark-blue-btn {
  width: 116px;
  height: 32px;
  border-radius: 20px;
  background-color: #354361;
  margin: 16px auto;
  font-family: PingFangTC;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .returnBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #7c894f;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .printBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8e96a6;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .print-select-box {
    position: absolute;
    padding: 0 16px;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: #ffffff;
    min-width: 57px;
    max-width: 380px;
    height: 55px;
    right: 40px;
    bottom: 40px;
    border-radius: 45px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    span {
      display: inline-block;
      font-size: 18px;
      padding-right: 32px;
      color: #333;
      cursor: pointer;
      &:first-child {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          right: 16px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #333;
        }
      }
      &:hover {
        color: #8e96a6;
      }
    }
  }
}
.switch {
  display: flex;
  width: 250px;
  justify-content: space-between;
  padding: 0 7px;
  .label-box {
    font-size: 16px;
    color: #333;
  }
}
.drawer-mask{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55,55,55,.6);
  height: 100%;
}
</style>
