<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 出庫作業總覽 -->
    <span v-show="step===0">
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <div>
          <span class="title-text">出庫作業總覽</span>
          <div class="operating-box">
            <Poptip trigger="hover" title="新增">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              @click="toOutboundOperationAdd">
                <font-awesome-icon icon="file" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="刪除">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              @click="comfirmRemove">
                <font-awesome-icon icon="file-excel" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="匯入檔案">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
              }"
              @click="showImportModal">
                <font-awesome-icon icon="cloud-upload-alt" />
              </Button>
            </Poptip>
            <Poptip trigger="hover" title="重新整理">
              <Button
              class="icon-btn-md mr-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
              }"
              @click="reloadDataGrid">
                <font-awesome-icon icon="redo-alt" />
              </Button>
            </Poptip>
          </div>
        </div>
        <div class="btn-box r">
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'bookingOperation' ? 'isFocus' : '',
              status_10>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('bookingOperation')"
          >待截單
          <span class="totalCount">{{status_10}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'pickingOperation' ? 'isFocus' : '',
              status_20>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('pickingOperation')"
          >待揀貨
          <span class="totalCount">{{status_20}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'boxing' ? 'isFocus' : '',
              status_30>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('boxing')"
          >待裝箱
          <span class="totalCount">{{status_30}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'deliveryConfirm' ? 'isFocus' : '',
              status_50>0 ? 'hasTotalCount' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('deliveryConfirm')"
          >待出貨
          <span class="totalCount">{{status_50}}</span>
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'deliveryConfirmClose' ? 'isFocus' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('deliveryConfirmClose')"
          >已結案
          </Button>
          <Button
            class="dataGridTab mr-3"
            :class="[
              userInfo.themeColor,
              changeDataList === 'outboundOperation' ? 'isFocus' : ''
            ]"
            type="default"
            shape="circle"
            @click="changeDataListEvent('outboundOperation')"
          >ALL</Button>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="dataexport"
          >匯出</Button>
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="getIds('print')"
          >列印報表</Button>
          <Dropdown
          trigger="click"
          class="solid-text-bropdown mr-3"
          :class="userInfo.themeColor"
          @on-click="changeOutboundStasusEvent">
              批量作業
              <Icon type="ios-arrow-down"></Icon>
              <DropdownMenu slot="list">
                <DropdownItem name="booking" v-show="changeDataList === 'bookingOperation' || changeDataList === 'outboundOperation'">截單作業</DropdownItem>
                <DropdownItem name="pickingOperation" v-show="changeDataList === 'pickingOperation' || changeDataList === 'outboundOperation'">揀貨確認</DropdownItem>
                <DropdownItem name="boxing" v-show="changeDataList === 'boxing' || changeDataList === 'outboundOperation'">裝箱確認</DropdownItem>
                <DropdownItem name="deliveryConfirm" v-show="changeDataList === 'deliveryConfirm' || changeDataList === 'outboundOperation'">出貨確認</DropdownItem>
                <DropdownItem name="backToOutbound" v-show="changeDataList === 'pickingOperation' || changeDataList === 'outboundOperation'">回復截單</DropdownItem>
                <DropdownItem name="backToBooking" v-show="changeDataList === 'boxing' || changeDataList === 'outboundOperation'">回復揀貨</DropdownItem>
                <DropdownItem name="backToIntercept" v-show="changeDataList === 'deliveryConfirm' || changeDataList === 'outboundOperation'">回復裝箱</DropdownItem>
                <DropdownItem name="outboundToInbound" v-show="changeDataList === 'deliveryConfirmClose' || changeDataList === 'outboundOperation'">轉退貨</DropdownItem>
              </DropdownMenu>
          </Dropdown>
          <Button
            class="solid-text-btn"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
        </div>
      </div>
      <div class="body-box have-tab-bar">
        <DataGrid
          idKeyName="outbound_id"
          :bgType="userInfo.themeColor"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
      </div>
    </span>
    <!-- 出庫作業建檔 -->
    <span v-if="step===1 || step===2 || step===3 || step===4 || step===5">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">出庫作業建檔</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="刪除">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
              }"
              v-if="step===2"
              @click="comfirmRemove">
              <font-awesome-icon icon="file-excel" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <OutboundStep
          v-if="step>1"
          :step="step"
          :data="detailData"
          @setOutboundStasus="setOutboundStasus"
          ></OutboundStep>
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="saveEvent"
          >儲存</Button>
        </div>
      </h2>
      <div class="body-box">
        <OutboundOperationAdd
          ref="setOutboundEvent"
          :step="step"
          :detailId="detailId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:outboundDetailChangeEvent="outboundDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></OutboundOperationAdd>
      </div>
    </span>
    <!-- 出庫作業建檔 -->
    <span v-if="step===6 || step===7">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span class="title-text">出庫作業建檔</span>
        <div class="btn-box">
          <Poptip trigger="hover" title="回上一頁">
            <Button class="icon-btn-md ml-2"
            @click="back"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.upload.background,
            }">
              <Icon type="ios-undo" size="18"/>
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="新增">
            <Button
              class="icon-btn-md ml-2"
              :style="{
                'color': Config.themeColor[`${userInfo.themeColor}`].btn.add.color,
                'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.add.background,
              }"
              v-if="step===2"
              @click="add">
              <font-awesome-icon icon="file" />
            </Button>
          </Poptip>
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md ml-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            @click="reload">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
        <div class="btn-box r">
          <OutboundStep
          :step="step"
          :data="detailData"
          @setOutboundStasus="setOutboundStasus"
          ></OutboundStep>
        </div>
        <div class="btn-box l">
        </div>
      </h2>
      <div class="body-box">
        <OutboundOperationCloseAdd
          ref="setOutboundEvent"
          :step="step"
          :detailId="detailId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :cloneData="cloneData"
          v-on:toStepEvent="toStepEvent"
          v-on:outboundDetailChangeEvent="outboundDetailChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></OutboundOperationCloseAdd>
      </div>
    </span>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- 欄位設定 columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- 總覽匯出 dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
    <!-- 匯入資料 import modal -->
    <ImportModal
      :importModal="importModalToggle"
      :importModalTitle="importModalTitle"
      :importExampleFile="importExampleFile"
      :importUploadURL="importUploadURL"
      :importLoadingViewIsShow="importLoadingViewIsShow"
      v-on:importErrorEvent="errorRequest"
      v-on:beforeUploadEvent="beforeUploadEvent"
      v-on:importSuccessEvent="importSuccessEvent"
      v-on:setImportModalEvent="setImportModalEvent"
    ></ImportModal>
    <!-- productsn import modal -->
    <ImportModal
      :importModal="productsnImportModalToggle"
      :importModalTitle="productsnImportModalTitle"
      :importExampleFile="productsnImportExampleFile"
      :importUploadURL="productsnImportUploadURL"
      :importLoadingViewIsShow="productsnImportLoadingViewIsShow"
      v-on:importEvent="productsnImportEvent"
      v-on:importErrorEvent="productsnErrorRequest"
      v-on:beforeUploadEvent="productsnBeforeUploadEvent"
      v-on:setImportModalEvent="productsnSetImportModalEvent"
    ></ImportModal>
    <!-- 列印報表 CommonPickinglist modal -->
    <CommonPickinglistModal
      :pickinglistModal="pickinglistModalToggle"
      :pickinglistLoadingViewIsShow="pickinglistLoadingViewIsShow"
      :reportType="reportType"
      v-on:printEvent="printEvent"
      v-on:setPickinglistModalEvent="setPickinglistModalEvent"
    ></CommonPickinglistModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import OutboundOperationAdd from './components/OutboundOperationAdd'
import OutboundOperationCloseAdd from './components/OutboundOperationCloseAdd'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
import ImportModal from '@/components/ImportModal/ImportModal'
import CommonPickinglistModal from '@/components/CommonPickinglistModal/CommonPickinglistModal'
import OutboundStep from '@/components/OutboundStep/OutboundStep'
//
export default {
  name: 'OutboundOperation',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    OutboundOperationAdd,
    OutboundOperationCloseAdd,
    ComfirmRemoveModal,
    ColumnControlModal,
    DataexportModal,
    ImportModal,
    CommonPickinglistModal,
    OutboundStep
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          iilterType: null, // Input, Select, Daterange, Checkbox
          isOpt: true,
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'outbound_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'order_type') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'order_date') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_outbound') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_close_order') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_shipped') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_picked') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_closed') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'update_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    settingData = defaultSettingData
    console.log(settingData)
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '出庫單總覽',
      // importModal
      importModalToggle: false,
      importModalTitle: '出庫單',
      importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.outboundOperation.import}`,
      importExampleFile: 'OUTBOUND_IMPORT',
      importLoadingViewIsShow: false,
      // productsnImportModal
      productsnImportModalToggle: false,
      productsnImportModalTitle: '商品序號',
      productsnImportUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.outboundOperation.upload}`,
      productsnImportExampleFile: 'outbound_product_sn.xlsx',
      productsnImportLoadingViewIsShow: false,
      /* pickinglist modal */
      pickinglistModalToggle: false,
      pickinglistLoadingViewIsShow: false,
      // 報表種類
      reportType: 'outbound',
      //
      timeZoneTimestamp: null,
      timeZone: null,
      //
      step: 0, // 0: 出庫作業總覽 / 1:出庫作業建檔 / 2:出庫作業 detail / 3:clone
      // 出庫作業總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      cloneData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [{ sortField: 'created_at', sortValue: 'desc' }],
      toRestFilter: false,
      saveLayoutColumns: [],
      outboundStatusFilterData: [],
      orderTypeFilterData: [],
      status: null,
      // 出庫作業建檔
      detailId: null,
      detailData: null,
      // 切換總覽
      changeDataList: 'bookingOperation',
      // 切換內頁tab
      showInpageTab: 'main',
      status_10: 0,
      status_20: 0,
      status_30: 0,
      status_50: 0
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    outboundOperationList: function () {
      return this.$store.state[`outboundOperation`][`outboundOperationList`] || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    saveLayoutColumns: {
      handler: function (val) {
        // console.log(val)
        if (val.length > 0) {
          this.settingData.columns = val
        }
      },
      deep: true
    },
    outboundOperationList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (oldVal === 0) {
        this.showInpageTab = 'main'
      } else {
        this.showInpageTab = 'details'
      }
      if (newVal === 0) {
        //
        this.cloneData = null
        this.reloadDataGrid()
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if ((newVal === 2 && oldVal !== 1) || (newVal === 4 && oldVal !== 1) || (newVal === 5 && oldVal !== 1) || (newVal === 6 && oldVal !== 1) || (newVal === 7 && oldVal !== 1)) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    outboundStatusFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'outbound_status') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    orderTypeFilterData: {
      handler: function (val) {
        //
        // console.log(val)
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'order_type') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    changeDataList: {
      handler: function (val) {
        if (val) {
          this.resetFilter()
        }
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (item === 'outbound_status' && data[item].value.length > 0) {
              return
            }
            if (item === 'order_type' && data[item].value.length > 0) {
              if (typeof (data[item].value) === 'string') {
                filterAry.push([item, data[item].logicalOperator, `${data[item].value}`])
              }
              return
            }
            if (data[item].logicalOperator === 'like') {
              filterAry.push([item, data[item].logicalOperator, `%${data[item].value}%`])
            } else {
              filterAry.push([item, data[item].logicalOperator, data[item].value])
            }
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
      this.getOutboundCountStatus(this.settingData.page.pageSize, 1)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
        case 'booking':
          this.setOutboundStasus('booking')
          break
        case 'pickingOperation':
          this.setOutboundStasus('pickingOperation')
          break
        case 'boxing':
          this.setOutboundStasus('boxing')
          break
        case 'deliveryConfirm':
          this.setOutboundStasus('deliveryConfirm')
          break
        case 'backToOutbound':
          this.setOutboundStasus('backToOutbound')
          break
        case 'backToBooking':
          this.setOutboundStasus('backToBooking')
          break
        case 'backToIntercept':
          this.setOutboundStasus('backToIntercept')
          break
        case 'print':
          this.setPrintTrigger()
          break
        case 'outboundToInbound':
          this.outboundToInbound()
          break
        case 'outboundCancel':
          this.outboundCancel()
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 出庫作業 detail
      this.LoadingViewIsShow = true
      this.detailId = data.outbound_id
      this.detailData = data
      this.status = data.outbound_status
      if (data.outbound_status === 10) {
        this.step = 2
      } else if (data.outbound_status === 20) {
        this.step = 4
      } else if (data.outbound_status === 30) {
        this.step = 5
      } else if (data.outbound_status === 50) {
        this.step = 6
      } else if (data.outbound_status === 80) {
        this.step = 7
      }
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    // 前往出庫作業總覽
    toOutboundOperation: function () {
      this.step = 0
    },
    back: function () {
      //
      this.detailId = null
      this.status = null
      this.toOutboundOperation()
    },
    // 前往出庫作業建檔
    toOutboundOperationAdd: function () {
      this.step = 1
      this.detailId = null
    },
    toStepEvent: function (data, step) {
      this.detailId = data.outbound_id
      this.status = data.outbound_status
      if (step) {
        this.step = step
      }
    },
    add: function () {
      //
      this.detailId = null
      this.status = null
      this.toOutboundOperationAdd()
    },
    // 前往出庫作業建檔 : clone
    toOutboundOperationClone: function () {
      this.getIds()
      this.optType = 'clone'
    },
    //
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    setStep: function (step) {
      this.step = step
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      this.getOutboundCountStatus(this.settingData.page.pageSize, 1)
    },
    reload: function () {
      this.LoadingViewIsShow = true
      this.$refs.setOutboundEvent.setOutboundEvent('reload')
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      //
      let filter = []
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          // console.log(item)
          filter.push(item)
        })
      }
      //
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: filter,
        orCondition: [],
        sort: sort
      }
      switch (this.changeDataList) {
        case 'outboundOperation':
          postData.baseCondition = [...filter]
          break
        case 'bookingOperation':
          postData.baseCondition = [
            ...filter,
            ['outbound_status', '=', 10]
          ]
          break
        case 'pickingOperation':
          postData.baseCondition = [
            ...filter,
            ['outbound_status', '=', 20]
          ]
          break
        case 'boxing':
          postData.baseCondition = [
            ...filter,
            ['outbound_status', '=', 30]
          ]
          break
        case 'deliveryConfirm':
          postData.baseCondition = [
            ...filter,
            ['outbound_status', '=', 50]
          ]
          break
        case 'deliveryConfirmClose':
          postData.baseCondition = [
            ...filter,
            ['outbound_status', '=', 80]
          ]
          break
      }
      //
      this.$store.dispatch(`outboundOperation/query`, postData).then((r) => {
        console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.isQuery = false
          this.LoadingViewIsShow = false
        } else {
          this.isQuery = false
          this.LoadingViewIsShow = false
        }
      })
    },
    changeDataListEvent: function (val) {
      console.log(val)
      this.changeDataList = val
    },
    changeOutboundStasusEvent (name) {
      // console.log(name)
      this.getIds(name)
    },
    saveEvent: function () {
      this.$refs.setOutboundEvent.setOutboundEvent()
    },
    outboundDetailChangeEvent: function (data) {
      this.detailData = data
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    // remove
    remove: function () {
      // console.log('remove', this.idsData)
      // console.log('remove', this.detailId)
      let postData = {
        outboundIds: []
      }
      if (this.detailId) {
        postData.outboundIds.push(this.detailId)
        this.LoadingViewIsShow = true
        this.$store.dispatch('outboundOperation/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            setTimeout(() => {
              this.step = 0
            }, 500)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
            this.LoadingViewIsShow = false
          }
        })
      } else {
        let idsLength = this.idsData.list.length
        let isError = false
        for (let i = 0; i < idsLength; i++) {
          if (this.idsData.list[i].outbound_status > 10) {
            isError = true
            this.$Notice.warning({
              title: `第${this.idsData.list[i].INDEX}筆資料`,
              desc: '不可刪除，請取消選取',
              duration: 30
            })
          }
        }
        if (this.idsData.selectIds.length === 0) {
          isError = true
        }
        if (isError) {
          return
        }
        postData.outboundIds = this.idsData.selectIds
        this.LoadingViewIsShow = true
        this.$store.dispatch('outboundOperation/delete', postData).then((r) => {
          // console.log(r)
          if (r.success) {
            // 警告提示
            this.$Notice.success({
              title: '刪除成功'
            })
            this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber)
          } else {
            this.$Notice.error({
              title: '刪除失敗',
              desc: r.message,
              duration: 30
            })
            this.LoadingViewIsShow = false
          }
        })
      }
      this.idsData = null
    },
    // 出庫單狀態 outbound_status
    getOutboundStatusFilterData: function () {
      this.outboundStatusFilterData = [
        {
          value: 10,
          label: '待截單'
        },
        {
          value: 20,
          label: '待揀貨'
        },
        {
          value: 30,
          label: '待裝箱'
        },
        {
          value: 50,
          label: '待出貨'
        },
        {
          value: 80,
          label: '已結案'
        }
      ]
    },
    // 出庫類別 order_type
    getOrderTypeFilterData: function () {
      this.orderTypeFilterData = [
        {
          value: 'outbound_normal',
          label: '一般出庫'
        },
        {
          value: 'outbound_transfer',
          label: '調撥出'
        },
        {
          value: 'outbound_stocktake',
          label: '盤點出'
        },
        {
          value: 'outbound_adj',
          label: '調整出'
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZone = timeZone
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    // ImportModal Start
    showImportModal: function () {
      this.importModalToggle = true
    },
    setImportModalEvent: function (bol) {
      // console.log(bol)
      this.importModalToggle = bol
    },
    beforeUploadEvent: function () {
      this.importLoadingViewIsShow = true
    },
    importSuccessEvent: function () {
      this.importModalToggle = false
      this.importLoadingViewIsShow = false
      this.$Notice.success({
        title: '檔案上成功'
      })
      this.reloadDataGrid()
    },
    errorRequest: function (txt) {
      // console.log(txt)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗',
        desc: txt,
        duration: 30
      })
      this.importLoadingViewIsShow = false
    },
    // ImportModal END
    // productsn ImportModal Start
    showProductsnImportModal: function () {
      this.productsnImportModalToggle = true
    },
    productsnSetImportModalEvent: function (bol) {
      // console.log(bol)
      this.productsnImportModalToggle = bol
    },
    productsnBeforeUploadEvent: function () {
      this.productsnImportLoadingViewIsShow = true
    },
    productsnErrorRequest: function (txt) {
      // console.log(txt)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗',
        desc: txt,
        duration: 30
      })
      this.productsnImportLoadingViewIsShow = false
    },
    productsnImportEvent: function (data) {
      // console.log(data)
      let csvSeperator = ''
      // console.log(this.postData.csvSeperator)
      switch (data.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      let postData = {
        csvSeperator: csvSeperator,
        fileContentType: data.fileContentType,
        fileName: data.fileName,
        fileStoragePath: data.fileStoragePath,
        fileType: data.fileType
      }
      this.$store.dispatch('outboundOperation/productsnImport', postData).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          let failResult = r.respondCode.additionals.dataImportResponse.fail_result || []
          if (failResult.length > 0) {
            failResult.forEach((item) => {
              this.$Notice.error({
                title: '檔案上傳失敗',
                desc: `${item.reason}`,
                duration: 30
              })
            })
            this.productsnImportLoadingViewIsShow = false
            return
          }
          this.$Notice.success({
            title: '檔案上傳成功'
          })
          this.productsnImportLoadingViewIsShow = false
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
        } else {
          this.$Notice.error({
            title: '檔案上傳失敗',
            desc: `${r.data.respondCode.debugInfo}`,
            duration: 30
          })
          this.productsnImportLoadingViewIsShow = false
        }
      })
    },
    // productsn ImportModal END
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: async function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        pageNum: 1,
        pageSize: 9999999,
        baseCondition: [],
        orCondition: [],
        sort: [],
        excelHeaders: [],
        dbCols: []
      }
      let exportFields = []
      let displayNames = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          displayNames.push(element.property)
          exportFields.push(element.displayName)
        }
      })
      // 匯出範圍
      switch (data.postData.exportReach) {
        case 1:
          postData.baseCondition = [
            ...this.filterAry
          ]
          postData.orCondition = []
          break
        case 2:
          await this.getIds()
          // console.log(this.idsData)
          if (!this.idsData) {
            this.$Notice.warning({
              title: '請勾選要匯出的資料'
            })
            this.LoadingViewIsShow = false
            return
          }
          let listLength = this.idsData.list.length
          // console.log(listLength)
          let ids = []
          for (let i = 0; i < listLength; i++) {
            ids.push(this.idsData.list[i].outbound_id)
          }
          //
          postData.baseCondition = [['outbound_id', 'in', ids]]
          postData.orCondition = []
          break
      }
      //
      postData.sort = this.sortAry
      postData.excelHeaders = exportFields
      postData.dbCols = displayNames
      postData.fileName = data.postData.exportFileName
      //
      switch (this.changeDataList) {
        case 'bookingOperation':
          postData.baseCondition.push(
            ['outbound_status', '=', 10]
          )
          break
        case 'pickingOperation':
          postData.baseCondition.push(
            ['outbound_status', '=', 20]
          )
          break
        case 'boxing':
          postData.baseCondition.push(
            ['outbound_status', '=', 30]
          )
          break
        case 'deliveryConfirm':
          postData.baseCondition.push(
            ['outbound_status', '=', 50]
          )
          break
        case 'deliveryConfirmClose':
          postData.baseCondition.push(
            ['outbound_status', '=', 80]
          )
          break
      }
      //
      let dataexportRes = await this.$store.dispatch(`outboundOperation/dataexport`, postData)
      // console.log(dataexportRes)
      if (dataexportRes.success) {
        // console.log('下載檔案')
        window.open(`${dataexportRes.donwloadLink}`)
      } else {
        this.$Notice.error({
          title: '匯出失敗',
          desc: dataexportRes.message,
          duration: 30
        })
      }
      this.LoadingViewIsShow = false
    },
    // 取消出庫
    outboundCancel: async function () {
      // console.log('outboundCancel', this.idsData)
      var ids = []
      var isError = false
      if (this.idsData.list.length === 0) {
        this.$Notice.warning({
          title: '請勾選要取消的資料'
        })
        return
      }
      this.idsData.list.forEach((item) => {
        if (item.outbound_status !== 10) {
          this.$Notice.warning({
            title: `第${item.INDEX}筆資料`,
            desc: '不可取消，請取消選取',
            duration: 30
          })
          isError = true
        } else {
          // console.log(item.outbound_id)
          ids.push(item)
        }
      })
      if (isError) {
        return
      }
      // console.log(ids)
      var idsLength = ids.length
      try {
        this.isQuery = true
        var date = new Date()
        var UtcDate = this.changeToUTCTime(date)
        for (let i = 0; i < idsLength; i++) {
          let postData = {
            outbound_status: 15,
            order_canceled: UtcDate
          }
          let Res = await this.$store.dispatch('outboundOperation/update', { data: postData, id: ids[i].outbound_id })
          // console.log(Res)
          let rex = /^[2]/g
          if (!rex.test(Res.httpStatus)) {
            // 提示
            this.$Notice.warning({
              title: `第${ids[i].INDEX}筆，取消失敗`
            })
          }
        }
        this.$Notice.success({
          title: '取消成功'
        })
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      } catch (error) {
        // console.log(error)
        this.$Notice.warning({
          title: '取消失敗'
        })
      }
    },
    setOutboundStasus: function (data) {
      this.LoadingViewIsShow = true
      let isError = false
      let postData = {
        outboundIds: []
      }
      //
      switch (data) {
        case 'booking':
          this.$router.push(`/Main/outboundMgmt?w=bookingOperation`)
          break
        case 'pickingOperation':
          // 揀貨確認
          if (this.detailId) {
            if (this.detailData.outbound_status !== 20) {
              isError = true
              this.$Notice.warning({
                title: `不可揀貨`,
                desc: '尚未截單，不可揀貨',
                duration: 30
              })
            } else {
              this.$refs.setOutboundEvent.setOutboundEvent('setOutboundStasus')
              postData.outboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].outbound_status !== 20) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可揀貨，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.outboundIds = this.idsData.selectIds
          }
          if (isError) {
            this.LoadingViewIsShow = false
            return
          }
          //
          postData.outboundStatus = 30
          //
          setTimeout(() => {
            this.$store.dispatch('outboundOperation/batchUpdateStatus', postData).then((r) => {
              console.log(r)
              if (r.success) {
                // 提示
                this.$Notice.success({
                  title: '揀貨成功'
                })
                if (this.detailId) {
                  this.step = 5
                  this.$refs.setOutboundEvent.setOutboundEvent('reload')
                } else {
                  this.reloadDataGrid()
                }
              } else {
                // 提示
                this.$Notice.warning({
                  title: '揀貨失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
          }, 500)
          break
        case 'boxing':
          // 裝箱確認
          if (this.detailId) {
            if (this.detailData.outbound_status !== 30) {
              isError = true
              this.$Notice.warning({
                title: `不可裝箱`,
                desc: '尚未揀貨，不可裝箱',
                duration: 30
              })
            } else {
              this.$refs.setOutboundEvent.setOutboundEvent('setOutboundStasus')
              postData.outboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].outbound_status !== 30) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可裝箱，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.outboundIds = this.idsData.selectIds
          }
          if (isError) {
            this.LoadingViewIsShow = false
            return
          }
          //
          postData.outboundStatus = 50
          //
          setTimeout(() => {
            this.$store.dispatch('outboundOperation/batchUpdateStatus', postData).then((r) => {
              console.log(r)
              if (r.success) {
                // 提示
                this.$Notice.success({
                  title: '裝箱成功'
                })
                if (this.detailId) {
                  this.step = 6
                  // this.$refs.setOutboundEvent.setOutboundEvent('reload')
                } else {
                  this.reloadDataGrid()
                }
              } else {
                // 提示
                this.$Notice.warning({
                  title: '裝箱失敗',
                  desc: r.message,
                  duration: 30
                })
                this.LoadingViewIsShow = false
              }
            })
          }, 500)
          break
        case 'deliveryConfirm':
          // 出貨確認
          if (this.detailId) {
            if (this.detailData.outbound_status === 10) {
              isError = true
              this.$Notice.warning({
                title: `不可出貨`,
                duration: 30
              })
            } else {
              postData.outboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].outbound_status === 10) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可出貨，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.outboundIds = this.idsData.selectIds
          }
          if (isError) {
            this.LoadingViewIsShow = false
            return
          }
          //
          this.$store.dispatch('outboundOperation/confirm', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              // 提示
              this.$Notice.success({
                title: '出貨成功'
              })
              if (this.detailId) {
                this.step = 7
                this.$refs.setOutboundEvent.setOutboundEvent('reload')
              } else {
                this.reloadDataGrid()
              }
            } else {
              // 提示
              this.$Notice.warning({
                title: '出貨失敗',
                desc: r.message,
                duration: 30
              })
              this.LoadingViewIsShow = false
            }
          })
          break
        case 'backToOutbound':
          // 回復截單
          if (this.detailId) {
            if (this.detailData.outbound_status !== 20) {
              isError = true
              this.$Notice.warning({
                title: `不可回復`,
                duration: 30
              })
            } else {
              this.$refs.setOutboundEvent.setOutboundEvent('setOutboundStasus')
              postData.outboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].outbound_status !== 20) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可裝箱，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.outboundIds = this.idsData.selectIds
          }
          if (isError) {
            this.LoadingViewIsShow = false
            return
          }
          postData.outboundStatus = 10
          this.$store.dispatch('outboundOperation/recovery', postData).then((r) => {
            // console.log(r)
            if (r.success) {
              // 提示
              this.$Notice.success({
                title: '回復成功'
              })
              if (this.detailId) {
                this.step = 2
              } else {
                this.reloadDataGrid()
              }
            } else {
              // 提示
              this.$Notice.warning({
                title: '回復失敗',
                desc: r.message,
                duration: 30
              })
              this.LoadingViewIsShow = false
            }
          })
          break
        case 'backToBooking':
          // 回復揀貨
          if (this.detailId) {
            if (this.detailData.outbound_status !== 30) {
              isError = true
              this.$Notice.warning({
                title: `不可回復`,
                duration: 30
              })
            } else {
              this.$refs.setOutboundEvent.setOutboundEvent('setOutboundStasus')
              postData.outboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].outbound_status !== 30) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可回復，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.outboundIds = this.idsData.selectIds
          }
          if (isError) {
            this.LoadingViewIsShow = false
            return
          }
          //
          postData.outboundStatus = 20
          //
          this.$store.dispatch('outboundOperation/recovery', postData).then((r) => {
            console.log(r)
            if (r.success) {
              // 提示
              this.$Notice.success({
                title: '回復成功'
              })
              if (this.detailId) {
                this.step = 4
              } else {
                this.reloadDataGrid()
              }
            } else {
              // 提示
              this.$Notice.warning({
                title: '回復失敗',
                desc: r.message,
                duration: 30
              })
              this.LoadingViewIsShow = false
            }
          })
          break
        case 'backToIntercept':
          // 回復裝箱
          if (this.detailId) {
            if (this.detailData.outbound_status !== 50) {
              isError = true
              this.$Notice.warning({
                title: `不可回復`,
                duration: 30
              })
            } else {
              postData.outboundIds = [this.detailId]
            }
          } else {
            let idsLength = this.idsData.list.length
            for (let i = 0; i < idsLength; i++) {
              if (this.idsData.list[i].outbound_status !== 50) {
                isError = true
                this.$Notice.warning({
                  title: `第${this.idsData.list[i].INDEX}筆資料`,
                  desc: '不可回復，請取消選取',
                  duration: 30
                })
              }
            }
            if (idsLength === 0) {
              isError = true
            }
            postData.outboundIds = this.idsData.selectIds
          }
          if (isError) {
            this.LoadingViewIsShow = false
            return
          }
          //
          postData.outboundStatus = 30
          //
          this.$store.dispatch('outboundOperation/recovery', postData).then((r) => {
            console.log(r)
            if (r.success) {
              // 提示
              this.$Notice.success({
                title: '回復成功'
              })
              if (this.detailId) {
                this.step = 5
              } else {
                this.reloadDataGrid()
              }
            } else {
              // 提示
              this.$Notice.warning({
                title: '回復失敗',
                desc: r.message,
                duration: 30
              })
              this.LoadingViewIsShow = false
            }
          })
          break
      }
    },
    setPrintTrigger: function () {
      // console.log(this.idsData)
      if (this.idsData.list.length < 1) {
        this.$Notice.warning({
          title: `請勾選要列印的項目`
        })
        return
      }
      this.pickinglistModalToggle = true
    },
    printEvent: function (data) {
      // console.log(data)
      this.print(data.type, data.postData, data.printHavePickinglistNo)
    },
    outboundToInbound: function (data) {
      this.LoadingViewIsShow = true
      let postData = {
        outboundIds: this.idsData.selectIds
      }

      this.$store.dispatch('outboundOperation/outboundToInbound', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // 提示
          this.$Notice.success({
            title: r.message
          })
        } else {
          // 提示
          this.$Notice.warning({
            title: '',
            desc: r.message,
            duration: 30
          })
        }
        this.LoadingViewIsShow = false
      })
    },
    setPickinglistModalEvent: function (bol) {
      // console.log(bol)
      this.pickinglistModalToggle = bol
      if (!bol) {
        this.reloadDataGrid()
      }
    },
    print: function (type, data, printHavePickinglistNo) {
      // console.log(this.idsData)
      let ids = []
      let isError = false
      let postData = {
        ids: [],
        reportCode: null,
        orderBy: null,
        reGenerator: data.reGenerator,
        printByProduct: false,
        printByOrder: false
      }
      switch (type) {
        case 'pickingListByProduct':
          postData.reGenerator = true
          postData.printByProduct = true
          postData.printByOrder = data.picking_order
          postData.separate = data.separate
          postData.pickinglist_rule = data.pickinglist_rule
          this.idsData.list.forEach((item) => {
            if (item.outbound_status === 10) {
              // console.log(item.INDEX)
              this.$Notice.warning({
                title: `第${item.INDEX}筆`,
                desc: '無法列印，請取消選取',
                duration: 30
              })
              this.pickinglistModalToggle = false
              isError = true
            } else {
              ids.push(item.outbound_id)
            }
          })
          break
        case 'pickingListByOrder':
          postData.printByOrder = true
          postData.separate = data.separate
          this.idsData.list.forEach((item) => {
            if (item.outbound_status === 10) {
              // console.log(item.INDEX)
              this.$Notice.warning({
                title: `第${item.INDEX}筆`,
                desc: '無法列印，請取消選取',
                duration: 30
              })
              this.pickinglistModalToggle = false
              isError = true
            } else {
              ids.push(item.outbound_id)
            }
          })
          break
        default:
          ids = this.idsData.selectIds
          postData.printByOrder = null
          postData.printByProduct = null
          break
      }
      if (isError) {
        return
      }
      postData.ids = ids
      postData.reportCode = type
      postData.orderBy = data.order_by || null
      // console.log(postData)
      this.pickinglistLoadingViewIsShow = true
      this.$store.dispatch('report/print', postData).then((r) => {
        console.log(r)
        if (r.success) {
          window.open(`${r.donwloadLink}`)
          this.pickinglistLoadingViewIsShow = false
          this.$Notice.success({
            title: '列印成功'
          })
        } else {
          this.pickinglistLoadingViewIsShow = false
          this.$Notice.error({
            title: '列印失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 查詢個狀態總量
    getOutboundCountStatus: function (pageSize, pageNumber) {
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: [],
        orCondition: [],
        sort: []
      }
      if (this.filterAry) {
        this.filterAry.forEach((item) => {
          if (item[0] === 'order_type') {
            postData.baseCondition = [item]
          }
        })
      }
      this.$store.dispatch(`outboundOperation/outboundCountStatus`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          Object.keys(list).forEach((item, index) => {
            // console.log(item)
            this[item] = list[item]
          })
        }
      })
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            let isHave = false
            let addObj = [
              {
                autoCompleteData: null,
                displayName: '訂單時間',
                editable: false,
                filterData: null,
                filterFormat: null,
                filterType: 'Daterange',
                isNotRemove: true,
                isOpt: false,
                minWidth: 'initial',
                property: 'order_date',
                resizeToggle: true,
                sortToggle: true,
                sortValue: null,
                valueFormat: null,
                valueType: 'Date'
              },
              {
                autoCompleteData: null,
                displayName: '庫別',
                editable: false,
                filterData: null,
                filterFormat: null,
                filterType: 'Input',
                isNotRemove: true,
                isOpt: false,
                minWidth: 'initial',
                property: 'inventory_type',
                resizeToggle: true,
                sortToggle: true,
                sortValue: null,
                valueFormat: null,
                valueType: 'Input'
              },
              {
                autoCompleteData: null,
                displayName: '取貨門市',
                editable: false,
                filterData: null,
                filterFormat: null,
                filterType: 'Input',
                isNotRemove: true,
                isOpt: false,
                minWidth: 'initial',
                property: 'pickup_store',
                resizeToggle: true,
                sortToggle: true,
                sortValue: null,
                valueFormat: null,
                valueType: 'Input'
              },
              {
                autoCompleteData: null,
                displayName: '取貨標籤',
                editable: false,
                filterData: null,
                filterFormat: null,
                filterType: 'Input',
                isNotRemove: true,
                isOpt: false,
                minWidth: 'initial',
                property: 'pickup_tag',
                resizeToggle: true,
                sortToggle: true,
                sortValue: null,
                valueFormat: null,
                valueType: 'Input'
              },
              {
                autoCompleteData: null,
                displayName: '門市進貨日',
                editable: false,
                filterData: null,
                filterFormat: null,
                filterType: 'Input',
                isNotRemove: true,
                isOpt: false,
                minWidth: 'initial',
                property: 'store_atd',
                resizeToggle: true,
                sortToggle: true,
                sortValue: null,
                valueFormat: null,
                valueType: 'Input'
              },
              {
                autoCompleteData: null,
                displayName: '門市退貨日',
                editable: false,
                filterData: null,
                filterFormat: null,
                filterType: 'Input',
                isNotRemove: true,
                isOpt: false,
                minWidth: 'initial',
                property: 'store_rtd',
                resizeToggle: true,
                sortToggle: true,
                sortValue: null,
                valueFormat: null,
                valueType: 'Input'
              },
              {
                autoCompleteData: null,
                displayName: '電商平台',
                editable: false,
                filterData: null,
                filterFormat: null,
                filterType: 'Input',
                isNotRemove: true,
                isOpt: false,
                minWidth: 'initial',
                property: 'ecstore_code',
                resizeToggle: true,
                sortToggle: true,
                sortValue: null,
                valueFormat: null,
                valueType: 'Input'
              }
            ]
            settingDataArr.forEach((item, index) => {
              if (item.property === 'inventory_type') {
                isHave = true
              }
            })
            if (!isHave) {
              let addObjLength = addObj.length
              for (let i = 0; i < addObjLength; i++) {
                settingDataArr.push(addObj[i])
              }
            }
            this.saveLayoutColumns = settingDataArr || []
            setTimeout(() => {
              this.saveLayoutSettings()
            }, 1000)
          }
        }
      })
    }
  },
  created () {
    this.getGridLayout()
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getOutboundCountStatus(this.settingData.page.pageSize, 1)
    this.getOutboundStatusFilterData()
    this.getOrderTypeFilterData()
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`outboundOperation/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 41px - 16px);
    &.have-tab-bar {
      height: calc(100% - 71px - 16px);
    }
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .printBtn {
      position: absolute;
      right: 45px;
      bottom: 106px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      background-color: #8e96a6;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
.dataGridTab{
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
  padding: 8px;
  height: auto;
  .totalCount {
    display: none;
    font-size: 28px;
    font-weight: bold;
  }
  &.hasTotalCount{
    font-size: 16px;
    padding: 4px 16px 0px;
    .totalCount {
      display: block;
    }
  }
  &.dark {
    color: #fff;
    border: 1px solid #fff;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
  &.light {
    color: #ACACAC;
    border: 1px solid #ACACAC;
    &.isFocus{
      color: #118cf8;
      background-color: #fff;
      border: 1px solid #118cf8;
    }
  }
}
</style>
