<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 出庫品保 -->
    <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
      <span class="title-text mr-3">出庫品保</span>
      <input type="text" placeholder="請輸入彙總揀貨單號" class="white-bg-input mr-3" :class="userInfo.themeColor" v-model="pickingListNoByProduct" ref="pickingListNoByProduct" :disabled="pickingListNoByProductDisabled" v-on:keyup.enter="searchOutboundQcEvent">
      <Button
        v-show="gridData.length > 0"
        class="solid-text-btn mr-3"
        :class="userInfo.themeColor"
        type="default"
        shape="circle"
        @click="print"
      >列印揀貨單</Button>
      <Button
        v-show="gridData.length > 0"
        class="solid-text-btn mr-3"
        :class="userInfo.themeColor"
        type="default"
        shape="circle"
        @click="toDeliverEvent"
      >品保確認</Button>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">彙總明細</div>
        <input type="text" placeholder="請輸入商品料號" class="white-bg-input mb-4" :class="userInfo.themeColor" v-model="product" ref="product" :disabled="productDisabled" v-on:keyup.enter="searchProductListEvent">
        <div class="pro-list h-100">
          <div class="pro-list-title d-flex justify-content-between" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
            <span class="content">料號</span>
            <span class="num">數量</span>
          </div>
          <div class="body-box have-input">
            <Button class="best-v2 w-100 h-auto mb-2 p-2" :class="[userInfo.themeColor, item.already_qc_nums === item.expect_picking_nums ? 'isDisabled' : '']" size="large" v-for="(item, index) in productDetail" :key="`${item.product_code}_${item.plbc_id}`" :disabled="item.already_qc_nums === item.expect_picking_nums" @click="showQualityModal(item)">
              <div class="d-flex justify-content-between mb-1">
                <div class="lable">
                  <span class="seq">{{`${index + 1}`}}. </span>
                  <span>{{item.product_code}}</span>
                </div>
                <div class="num">{{item.expect_picking_nums}}</div>
              </div>
              <div class="text-left white-space-break">名稱: {{item.product_name}}</div>
              <div class="text-left white-space-break" v-show="item.product_spec">規格: {{item.product_spec}}</div>
              <div class="text-left white-space-break" v-show="item.product_batch_no">批號: {{item.product_batch_no}}</div>
              <div class="text-left white-space-break" v-show="item.product_expired_date">效期: {{item.product_expired_date}}</div>
            </Button>
          </div>
        </div>
      </div>
      <div class="col h-100">
        <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
          <span>已品保列表</span>
          <Poptip trigger="hover" title="刪除">
            <Button
            class="icon-btn-md ml-3 mr-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.remove.background,
            }"
            @click="comfirmRemove"
            >
              <font-awesome-icon icon="file-excel" />
            </Button>
          </Poptip>
        </div>
        <div class="body-box">
          <DataGrid
          idKeyName="od_id"
          :bgType="userInfo.themeColor"
          :hideFilter="true"
          :hidePage="true"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :setVisibleColumns="setVisibleColumns"
          @gridDataChengeEvent="gridDataChengeEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
        </div>
        <!-- <div class="pro-list">
          <div class="pro-list-title d-flex justify-content-between">
            <span class="num"></span>
            <span class="content">料號</span>
            <span class="content">名稱</span>
            <span class="content">規格</span>
            <span class="content">批號</span>
            <span class="content">效期</span>
            <span class="num">數量</span>
          </div>
          <ul class="list-unstyled">
            <li>
              <Button class="best-v2 w-100 h-auto mb-2 p-2" :class="[userInfo.themeColor]" size="large" v-for="(item, index) in alreadyQc" :key="`${item.product_code}_${item.plbc_id}`" @click="showQualityModal(item)">
                <ul class="pro-list-item list-unstyled d-flex justify-content-between">
                  <li class="content">{{`${index + 1}`}}. {{item.product_code}}</li>
                  <li class="content">{{item.product_name}}</li>
                  <li class="content">{{item.product_spec}}</li>
                  <li class="content">{{item.product_batch_no}}</li>
                  <li class="content">{{item.product_expired_date}}</li>
                  <li class="num">{{item.outbound_nums}}</li>
                </ul>
              </Button>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
    <!-- 品保 Modal -->
    <Modal v-model="qualityModal" width="800" :footer-hide="true" closable class="qualityModal">
      <!-- LoadingView -->
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="d-flex w-100">
          <ul class="list-unstyled mr-3">
            <li>
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>料</span><span>號</span></span><span>:</span>
              </div>
              <div class="value">
                {{alreadyQcData.product_code}}
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="w-100 mr-2">商品名稱</span><span>:</span>
              </div>
              <div class="value">
                {{alreadyQcData.product_name}}
              </div>
            </li>
            <li v-show="alreadyQcData.product_spec">
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>規</span><span>格</span></span><span>:</span>
              </div>
              <div class="value">
                {{alreadyQcData.product_spec}}
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>批</span><span>號</span></span><span>:</span>
              </div>
              <div class="value">
                <input type="text" placeholder="批號" class="white-bg-input" v-model="alreadyQcData.product_batch_no" ref="productBatchNo" v-on:keyup.enter="tabTo('productExpiredDate')">
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>效</span><span>期</span></span><span>:</span>
              </div>
              <div class="value">
                <input type="text" placeholder="效期" class="white-bg-input" v-model="alreadyQcData.product_expired_date" ref="productExpiredDate" v-on:keyup.enter="tabTo('toDoInput')">
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="w-100 mr-2">已品保量</span><span>:</span>
              </div>
              <div class="value">
                {{alreadyQcData.already_qc_nums}}
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="w-100 mr-2">不良品量</span><span>:</span>
              </div>
              <div class="value">
                <input type="number" placeholder="數量" class="white-bg-input" v-model="alreadyQcData.qcNums" min="1" ref="qcNums" v-on:keyup.enter="outboundQualityCheckEvent">
              </div>
            </li>
          </ul>
        </div>
        <input type="text" placeholder="輸入指令動作" class="white-bg-input w-100 mb-4" v-model="toDo" ref="toDoInput" v-on:keyup.enter="toDoInputEvent">
        <div class="d-flex">
          <Button class="best-outlined-gray-dark lg-btn w-100 mr-3" shape="circle" size="large" @click="closeQualityModal">
            取消
          </Button>
          <Button class="best-blue lg-btn w-100" shape="circle" size="large" @click="outboundQualityCheckEvent">
            品保
          </Button>
        </div>
      </div>
    </Modal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
import LoadingView from '@/components/LoadingView/LoadingView'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
export default {
  name: 'PickingByConsigneeSetup',
  props: ['keyCode'],
  components: {
    DataGrid,
    LoadingView,
    ComfirmRemoveModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    let userInfo = this.$store.state.auth.userInfo
    let settingData = {
      page: {
        pageSize: 999, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_code',
          displayName: '商品料號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_spec',
          displayName: '規格',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '效期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'outbound_nums',
          displayName: '數量',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      comfirmRemoveModal: false,
      //
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      idsData: null,
      setVisibleColumns: false,
      // 彙總單號
      pickingListNoByProduct: null,
      pickingListNoByProductDisabled: false,
      // 商品
      product: null,
      productDisabled: false,
      productDetail: [],
      // 品保 modal
      qualityModal: false,
      alreadyQcData: {
        product_code: null,
        product_name: null,
        product_spec: null,
        product_batch_no: null,
        product_expired_date: null,
        expect_picking_nums: null,
        already_qc_nums: null,
        qcNums: 1
      },
      toDo: null
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    //
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      switch (this.optType) {
        case 'remove':
          this.remove()
          break
      }
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    searchOutboundQcEvent: async function () {
      this.pickingListNoByProductDisabled = true
      if (!this.pickingListNoByProduct) {
        this.pickingListNoByProductDisabled = false
        return
      }
      let postData = {
        pickinglistNoByproduct: this.pickingListNoByProduct
      }
      //
      this.LoadingViewIsShow = true
      //
      let res = await this.$store.dispatch('outboundOperation/outboundQc', postData)
      console.log(res)
      // console.log(res)
      if (res.success) {
        this.productDetail = res.productDetail || []
        let alreadyQc = res.alreadyQc || []
        alreadyQc.forEach((item, index) => {
          item.INDEX = index + 1
          item.SELECT = false
        })
        this.gridData = alreadyQc
        //
        this.$nextTick(() => this.$refs.product.focus())
        this.pickingListNoByProductDisabled = false
        this.LoadingViewIsShow = false
      } else {
        this.$Notice.warning({
          title: '查詢完畢',
          desc: res.message,
          duration: 30
        })
        this.$nextTick(() => this.$refs.pickingListNoByProduct.select())
        this.pickingListNoByProductDisabled = false
        this.LoadingViewIsShow = false
      }
    },
    searchProductListEvent: function () {
      this.productDisabled = true
      this.LoadingViewIsShow = true
      if (!this.product && this.productDetail.length === 0) {
        this.productDisabled = false
        this.LoadingViewIsShow = false
        return
      }
      if (this.product === 'print') {
        this.product = null
        this.productDisabled = false
        this.print()
        return
      }
      if (this.product === 'toDeliverEvent') {
        this.product = null
        this.productDisabled = false
        this.toDeliverEvent()
        return
      }
      let alreadyQcData = {}
      // console.log(this.product)
      this.productDetail.forEach((item) => {
        // console.log(item.product_code)
        if (item.product_code === this.product || item.product_barcode === this.product || item.product_barcode2 === this.product) {
          alreadyQcData = item
        }
      })
      this.alreadyQcData = alreadyQcData
      this.alreadyQcData.qcNums = 1
      this.showQualityModal(this.alreadyQcData)
      this.productDisabled = false
      this.LoadingViewIsShow = false
    },
    initAlreadyQcData: function () {
      this.alreadyQcData = {
        product_code: null,
        product_name: null,
        product_spec: null,
        product_batch_no: null,
        product_expired_date: null,
        expect_picking_nums: null,
        already_qc_nums: null,
        qcNums: 1
      }
    },
    showQualityModal: function (data) {
      if (data.already_qc_nums === data.expect_picking_nums) {
        this.$Notice.warning({
          title: this.product,
          desc: '已品保完成',
          duration: 30
        })
        this.product = null
        return
      }
      this.alreadyQcData = data
      this.alreadyQcData.qcNums = 1
      this.qualityModal = true
      this.$nextTick(() => this.$refs.toDoInput.focus())
    },
    closeQualityModal: function () {
      this.initAlreadyQcData()
      this.qualityModal = false
      this.$nextTick(() => this.$refs.product.select())
    },
    outboundQualityCheckEvent: async function () {
      this.LoadingViewIsShow = true
      if (!this.alreadyQcData.qcNums || this.alreadyQcData.qcNums < 0) {
        this.$Notice.error({
          title: '數量不可小於一',
          duration: 30
        })
        this.LoadingViewIsShow = false
        return
      }
      let postData = {
        pickinglistNoByproduct: this.pickingListNoByProduct,
        productId: this.alreadyQcData.product_id,
        productExpiredDate: this.alreadyQcData.product_expired_date || null,
        productBatchNo: this.alreadyQcData.product_batch_no || null,
        qcNums: this.alreadyQcData.qcNums
      }
      // if (this.alreadyQcData.product_expired_date) {
      //   let productExpiredDate = this.alreadyQcData.product_expired_date.split('-')
      //   let day = productExpiredDate[2].substring(0, 2)
      //   postData.productExpiredDate = `${productExpiredDate[0]}${productExpiredDate[1]}${day}`
      // }
      let res = await this.$store.dispatch('outboundOperation/outboundQualityCheck', postData)
      console.log(res)
      if (res.success) {
        await this.searchOutboundQcEvent()
        this.qualityModal = false
        this.initAlreadyQcData()
        this.$nextTick(() => this.$refs.product.select())
      } else {
        this.$nextTick(() => this.$refs.toDoInput.focus())
        this.LoadingViewIsShow = false
        this.$Notice.error({
          title: '作業完畢',
          desc: res.message,
          duration: 30
        })
      }
    },
    tabTo (val) {
      this.$nextTick(() => this.$refs[val].select())
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    // remove
    remove: function () {
      this.LoadingViewIsShow = true
      let postData = {
        orderNo: this.pickingListNoByProduct,
        productIds: []
      }
      let ids = []
      console.log(this.idsData)
      let listLength = this.idsData.list.length
      for (let i = 0; i < listLength; i++) {
        ids.push(this.idsData.list[i].product_id)
      }
      // 移除重複
      let noRepetArry = ids.filter((item, index, arr) => {
        return arr.indexOf(item) === index
      })
      //
      postData.productIds = noRepetArry
      this.$store.dispatch('outboundOperation/orderDetailBatchDeleteByProduct', postData).then((r) => {
        console.log(r)
        if (r.success) {
          this.productDetail = r.productDetail || []
          let alreadyQc = r.alreadyQc || []
          alreadyQc.forEach((item, index) => {
            item.INDEX = index + 1
            item.SELECT = false
          })
          this.gridData = alreadyQc
          // 警告提示
          this.$Notice.success({
            title: '刪除成功'
          })
          this.product = null
          this.LoadingViewIsShow = false
          this.$nextTick(() => this.$refs.product.focus())
        } else {
          this.$Notice.error({
            title: '刪除失敗',
            desc: r.message
          })
          this.LoadingViewIsShow = false
        }
      })
      this.idsData = null
    },
    print () {
      if (this.gridData.length === 0) {
        this.LoadingViewIsShow = false
        return
      }
      //
      let postData = {
        outboundIds: [this.gridData[0].outbound_id]
      }
      this.$store.dispatch('outboundOperation/printQualityCheck', postData).then((r) => {
        console.log(r)
        if (r.success) {
          window.open(`${r.donwloadLink}`)
          this.LoadingViewIsShow = false
          this.$nextTick(() => this.$refs.product.select())
        } else {
          // 提示
          this.$Notice.warning({
            title: '列印完畢',
            desc: r.message,
            duration: 30
          })
          this.LoadingViewIsShow = false
          this.$nextTick(() => this.$refs.product.select())
        }
      })
    },
    toDeliverEvent () {
      this.LoadingViewIsShow = true
      if (this.gridData.length === 0) {
        this.LoadingViewIsShow = false
        return
      }
      //
      let postData = {
        outboundIds: [this.gridData[0].outbound_id],
        outboundStatus: 50
      }
      this.$store.dispatch('outboundOperation/batchUpdateStatus', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // 提示
          this.$Notice.success({
            title: '確認品保成功'
          })
          this.product = null
          this.productDetail = []
          this.gridData = []
          this.$nextTick(() => this.$refs.pickingListNoByProduct.select())
          this.LoadingViewIsShow = false
        } else {
          // 提示
          this.$Notice.error({
            title: '確認品保失敗',
            desc: r.message,
            duration: 30
          })
          this.$nextTick(() => this.$refs.product.select())
          this.LoadingViewIsShow = false
        }
      })
    },
    toDoInputEvent () {
      console.log(this.toDo)
      if (this.toDo === this.alreadyQcData.product_code || (this.alreadyQcData.product_barcode && this.toDo === this.alreadyQcData.product_barcode) || (this.alreadyQcData.product_barcode2 && this.toDo === this.alreadyQcData.product_barcode2)) {
        this.toDo = null
        this.$nextTick(() => this.$refs.toDoInput.focus())
        this.alreadyQcData.qcNums += 1
      } else if (!this.toDo || this.toDo === '' || this.toDo === 'outboundQualityCheckEvent') {
        this.toDo = null
        this.outboundQualityCheckEvent()
      } else if (this.toDo === 'closeQualityModal') {
        this.toDo = null
        this.closeQualityModal()
      } else if (this.toDo === 'productExpiredDate' || this.toDo === 'toDoInput') {
        this.tabTo(this.toDo)
        this.toDo = null
      }
    }
  },
  created () {
    //
    this.$nextTick(() => this.$refs.pickingListNoByProduct.focus())
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .row {
    display: flex;
    width: 100%;
    height: 100%;
    .col {
      flex: 1;
      height: 100%;
      margin-left: 15px;
      position: relative;
      &:first-of-type {
        margin-right: 15px;
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          height: 100%;
          background: #D8D8D8;
          right: -15px;
          top: 0;
        }
      }
    }
    .col-3 {
      flex: 0 0 25%;
      width: 25%;
      height: 100%;
      margin-right: 15px;
      margin-left: 15px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        background: #D8D8D8;
        right: -15px;
        top: 0;
      }
    }
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
    }
    .btn {
      min-width: 96px;
      font-size: 16px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .quantity {
      font-size: 16px;
      color: #555;
      font-weight: 400;
    }
  }
  .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .white-bg-input {
    display: block;
    width: 100%;
    font-size: 24px;
    color: #3c3c3c;
    padding: 6.5px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: 1px solid transparent;
    &.dark {
      background: #fff;
    }
    &.light {
      background: #eceff2;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 122px);
    overflow-y: auto;
    &.have-input {
      height: calc(100% - 228px);
    }
    .item {
      margin-bottom: 24px;
    }
  }
}
.pro-list {
  .content {
    flex: 1;
  }
  .num {
    width: auto;
  }
}
.pro-list-title {
  font-size: 16px;
  padding: 0 8px 8px;
}
.pro-list-item {
  li {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
}
.qualityModal {
  .modal-body {
    width: 100%;
    padding: 0 48px 24px;
    position: relative;
    .conten-box {
      flex: 1;
    }
    ul {
      .lable {
        color: #3c3c3c;
        width: 111px;
        text-align: right;
        display: flex;
        margin-right: 8px;
        white-space: nowrap;
      }
      .value {
        color: #118cf8;
      }
      li {
        display: flex;
        font-family: PingFangTC;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 16px;
        min-height: 36px;
      }
    }
    .white-bg-input {
      display: block;
      width: 100%;
      font-size: 24px;
      color: #3c3c3c;
      padding: 6.5px 16px;
      border: 1px solid #ACACAC;
      border-radius: 8px;
      outline: 1px solid transparent;
    }
    .receiver-index-box {
      position: absolute;
      bottom: 91px;
      right: 48px;
      border: 1px solid #E80C0C;
      border-radius: 8px;
      padding: 10px 40px 0px;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100px;
        height: 50px;
        background: #E80C0C;
        top: -14px;
        left: -54px;
        transform: rotate(-45deg);
      }
      &::after {
        content: '';
        // font-family: ;
        position: absolute;
        display: block;
        width: 50px;
        height: 20px;
        background: #E80C0C;
        bottom: -3px;
        right: -20px;
        transform: rotate(-45deg)
      }
      .star {
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 1;
      }
      .lable {
        font-size: 16px;
        font-weight: bold;
      }
      .value {
        font-size: 82px;
        color: #E80C0C;
        font-style: italic;
        font-weight: bold;
      }
    }
  }
}
.boxModal {
  .modal-body {
    width: 100%;
    padding: 0 45px 24px;
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        .modal-title {
          color: #331e1e;
          font-size: 24px;
          display: flex;
          align-items: center;
          >span {
            white-space: nowrap;
          }
        }
        .modal-input {
            color: #331e1e;
            font-size: 16px;
            border-radius: 8px;
            padding: 4px 8px;
            border: 1px solid #D8D8D8;
            &.lg {
              font-size: 24px;
            }
        }
        .form-box {
          margin-top: 20px;
          .item {
            margin-bottom: 24px;
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: center;
      }
    }
  }
}
.white-space-break {
    white-space: break-spaces!important;
}
</style>
