<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 出貨歷史資料總覽 -->
    <span v-show="step===0">
      <h2 class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
        <span>出貨歷史資料總覽</span>
        <div class="btn-box r">
          <Button class="icon-btn-md solid mr-3" @click="reloadDataGrid">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <div class="btn-box l">
          <!-- <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <DataGrid
          idKeyName="outbound_id"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- dataexport btn -->
        <div class="dataexportBtn" @click="dataexport">
          <font-awesome-icon icon="file-download" size="2x" />
        </div>
      </div>
    </span>
    <!-- 出貨歷史資料 -->
    <span v-if="step===1 || step===2 || step===3">
      <h2 class="title">
        <span>出貨歷史資料</span>
        <div class="btn-box r">
          <Button class="icon-btn-md yellow mr-3" @click="back">
            <Icon type="ios-undo" size="18" />
          </Button>
          <Button class="icon-btn-md solid mr-3" @click="reload(detailId)">
            <font-awesome-icon icon="sync" />
          </Button>
          <div class="reloadBtn" @click="reload(detailId)" v-if="editLayoutToggle">
            <font-awesome-icon icon="sync" />
          </div>
        </div>
        <div class="btn-box l">
          <!-- ordering -->
            <!-- <Button v-if="orderingToggle" class="accordionBtn isShow" shape="circle">
              <a href="#Ordering">訂貨資料<Icon type="ios-arrow-round-down" size="16"/></a>
            </Button>
            <Button v-if="!orderingToggle" class="accordionBtn isClose" shape="circle" @click="orderingToggleToOpen">
              訂貨資料<Icon type="ios-arrow-round-down" size="16"/>
            </Button> -->
            <!-- pickUp -->
            <!-- <Button v-if="pickUpToggle" class="accordionBtn isShow" shape="circle">
              <a href="#PickUp">收件資料<Icon type="ios-arrow-round-down" size="16"/></a>
            </Button>
            <Button v-if="!pickUpToggle" class="accordionBtn isClose" shape="circle" @click="pickUpToggleToOpen">
              收件資料<Icon type="ios-arrow-round-down" size="16"/>
            </Button> -->
          <!-- save layout -->
          <!-- <Button
            v-if="!editLayoutToggle"
            class="editLayoutBtn"
            type="default"
            shape="circle"
            @click="editLayout"
          >Edit</Button>
          <Button
            v-if="editLayoutToggle"
            class="saveLayoutBtn"
            shape="circle"
            @click="saveLayout"
          >Save</Button> -->
        </div>
      </h2>
      <div class="body-box">
        <OutboundSnapshotAdd
          :companyId="companyId"
          :whId="whId"
          :uiId="uiId"
          :step="step"
          :detailId="detailId"
          :timeZoneTimestamp="timeZoneTimestamp"
          :cloneData="cloneData"
          :editLayoutToggle="editLayoutToggle"
          :orderingToggle="orderingToggle"
          :pickUpToggle="pickUpToggle"
          :layoutMainOutbound="layoutMainOutbound"
          :layout_1="layout_1"
          :layout_2="layout_2"
          :layout_3="layout_3"
          v-on:toStep2Event="toStep2Event"
          v-on:orderingToggleChangeEvent="orderingToggleChangeEvent"
          v-on:pickUpToggleChangeEvent="pickUpToggleChangeEvent"
          v-on:layout1ChangeEvent="layout1ChangeEvent"
          v-on:layout2ChangeEvent="layout2ChangeEvent"
          v-on:layout3ChangeEvent="layout3ChangeEvent"
          v-on:changeLoadingViewIsShowEvent="changeLoadingViewIsShowEvent"
        ></OutboundSnapshotAdd>
      </div>
    </span>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import OutboundSnapshotAdd from './components/OutboundSnapshotAdd'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
//
export default {
  name: 'OutboundSnapshot',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    OutboundSnapshotAdd,
    ColumnControlModal,
    DataexportModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
        // {
        //   property: 'SELECT', // 全選 (保留字)
        //   displayName: '',
        //   iilterType: null, // Input, Select, Daterange, Checkbox
        //   isOpt: true,
        //   filterData: null,
        //   filterFormat: null,
        //   valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        //   autoCompleteData: null,
        //   valueFormat: null,
        //   sortToggle: false, // 是否可排序
        //   sortValue: null, // null, asc, desc
        //   isNotRemove: true,
        //   resizeToggle: false, // 是否可resize
        //   minWidth: 'initial',
        //   editable: false // 資料在本欄位下是否可以被編輯
        // }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    //
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'outbound_status') {
        filterType = 'Select'
        valueType = 'Select'
      }
      if (element.property === 'delivery_date_specify') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_outbound') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_close_order') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_shipped') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_picked') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'date_closed') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      if (element.property === 'created_at') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    settingData = defaultSettingData
    // console.log(settingData)
    //
    // let layoutMainOutboundStr = this.$store.state.auth.userInfo.layoutMainOutbound
    // let layoutMainOutbound = layoutMainOutboundStr ? JSON.parse(layoutMainOutboundStr) : [null, null, null]
    let layoutMainOutbound = [null, null, null, null, null]
    // console.log(layoutMainOutbound)
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '出庫單總覽',
      //
      companyId: this.$store.state.auth.userInfo.companyKey, // 由用戶取得
      whId: this.$store.state.auth.userInfo.warehouseKey, // 由用戶取得
      uiId: this.$store.state.auth.userInfo.uiId,
      //
      timeZoneTimestamp: null,
      timeZone: null,
      //
      step: 0, // 0: 出庫作業總覽 / 1:出庫作業建檔 / 2:出庫作業 detail / 3:clone
      // 出庫作業總覽
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      cloneData: null,
      isQuery: false,
      outboundStatusFilterData: [],
      filterAry: [],
      sortAry: [],
      // 出庫作業建檔
      detailId: null,
      editLayoutToggle: false,
      orderingToggle: true,
      pickUpToggle: true,
      layout_1: null,
      layout_2: null,
      layout_3: null,
      layoutMainOutbound: layoutMainOutbound,
      saveSuccess: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    outboundSnapshotList: function () {
      let list = this.$store.state[`outboundSnapshot`][`outboundSnapshotList`]
      // console.log(list)
      return list || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    outboundSnapshotList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            if (item.delivery_date_specify) {
              item.delivery_date_specify = this.changeToLocalTime(item.delivery_date_specify)
            }
            if (item.date_outbound) {
              item.date_outbound = this.changeToLocalTime(item.date_outbound)
            }
            if (item.date_close_order) {
              item.date_close_order = this.changeToLocalTime(item.date_close_order)
            }
            if (item.date_shipped) {
              item.date_shipped = this.changeToLocalTime(item.date_shipped)
            }
            if (item.date_picked) {
              item.date_picked = this.changeToLocalTime(item.date_picked)
            }
            if (item.date_closed) {
              item.date_closed = this.changeToLocalTime(item.date_closed)
            }
            if (item.created_at) {
              item.created_at = this.changeToLocalTime(item.created_at)
            }
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 0) {
        //
        this.cloneData = null
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
      if (newVal === 1 && oldVal === 0) {
        //
        this.LoadingViewIsShow = false
      }
      if (newVal === 2 && !this.saveSuccess) {
        //
        this.LoadingViewIsShow = true
        this.cloneData = null
      }
    },
    outboundStatusFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'outbound_status') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            if (item === 'outbound_status' && data[item].value.length >= 0) {
              return
            }
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      // if (this.detailId) {
      //   this.remove()
      // }
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      this.toGetIds = false
      //
      // switch (this.optType) {
      //   case 'remove':
      //     this.remove()
      //     break
      // }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      // 出庫作業 detail
      this.LoadingViewIsShow = true
      this.detailId = data.outbound_id
      this.step = 2
      this.saveSuccess = false
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 前往出庫作業總覽
    toOutboundSnapshot: function () {
      this.step = 0
    },
    back: function () {
      //
      this.detailId = null
      this.toOutboundSnapshot()
    },
    // 前往出庫作業建檔
    // toOutboundSnapshotAdd: function () {
    //   this.step = 1
    // },
    toStep2Event: function (id) {
      this.detailId = id
      this.saveSuccess = true
      this.step = 2
    },
    // add: function () {
    //   //
    //   this.detailId = null
    //   this.toOutboundSnapshotAdd()
    //   this.$refs.addNewContent.addNewContent()
    // },
    // 前往出庫作業建檔 : clone
    toOutboundSnapshotClone: function () {
      this.getIds()
      this.optType = 'clone'
    },
    // 編輯 layout
    editLayout: function () {
      this.editLayoutToggle = true
    },
    // 儲存 layout
    saveLayout: function () {
      //
    },
    //
    layout1ChangeEvent: function (layout) {
      // console.log(layout)
      this.layout_1 = layout
    },
    layout2ChangeEvent: function (layout) {
      // console.log(layout)
      this.layout_2 = layout
    },
    layout3ChangeEvent: function (layout) {
      // console.log(layout)
      this.layout_3 = layout
    },
    //
    orderingToggleChangeEvent: function (bol) {
      this.orderingToggle = bol
    },
    orderingToggleToOpen: function () {
      this.orderingToggle = true
    },
    //
    pickUpToggleChangeEvent: function (bol) {
      this.pickUpToggle = bol
    },
    pickUpToggleToOpen: function () {
      this.pickUpToggle = true
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    setStep: function (step) {
      this.step = step
    },
    //
    toScroll: function (anchor) {
      // console.log(anchor)
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    reload: function (outboundId) {
      this.LoadingViewIsShow = true
      this.getDetail(outboundId)
      // this.getDetailDetails(outboundId)
    },
    getDetail: function (outboundId) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'outbound_id',
            queryValue: outboundId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`outboundSnapshot/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.LoadingViewIsShow = false
      })
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      //
      let filter = [
        {
          queryCondition: '=',
          queryValue: this.companyId,
          queryField: 'company_id'
        },
        {
          queryCondition: '=',
          queryValue: this.whId,
          queryField: 'wh_id'
        },
        {
          queryCondition: '=',
          queryField: 'order_type',
          queryValue: 'null'
        }
      ]
      let sort = sortAry || []
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      //
      let postData = {
        page: pageNumber,
        pageSize: pageSize,
        combinedCondition: 'AND',
        query: filter,
        sort: sort
      }
      // console.log(postData)
      this.$store.dispatch(`outboundSnapshot/query`, postData).then((r) => {
        // console.log(r)
        if (r) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.dataList = r.respondCode.additionals['outboundList']
        }
        this.isQuery = false
      })
    },
    updateDataGridEvent: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    getOutboundStatusFilterData: function () {
      this.outboundStatusFilterData = [
        {
          value: 10,
          label: '待截單'
        },
        {
          value: 15,
          label: '訂單取消'
        },
        {
          value: 20,
          label: '待揀貨'
        },
        // {
        //   value: 30,
        //   label: '已揀貨'
        // },
        {
          value: 30,
          label: '待裝箱'
        },
        {
          value: 50,
          label: '待出貨'
        },
        // {
        //   value: 60,
        //   label: '已送達'
        // },
        // {
        //   value: 70,
        //   label: '已取貨'
        // },
        {
          value: 80,
          label: '已結案'
        }
      ]
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZone = timeZone
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: async function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        queryExpression: {},
        exportFields: [],
        exportSettings: {}
        // timezone_offset: null
      }
      let exportFields = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          if (element.property === 'outboundStatus') {
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      //
      // 匯出範圍
      switch (data.postData.exportReach) {
        case 1:
          postData.queryExpression.page = data.postData.page
          postData.queryExpression.pageSize = this.settingData.page.totalCount
          postData.queryExpression.combinedCondition = 'AND'
          postData.queryExpression.query = [
            {
              queryCondition: '=',
              queryValue: this.companyId,
              queryField: 'company_id'
            },
            {
              queryCondition: '=',
              queryValue: this.whId,
              queryField: 'wh_id'
            },
            {
              queryCondition: '=',
              queryField: 'order_type',
              queryValue: 'null'
            },
            {
              queryCondition: '=',
              queryField: 'outbound_status',
              queryValue: '80'
            },
            ...this.filterAry
          ]
          break
        case 2:
          await this.getIds()
          // console.log(this.idsData)
          if (!this.idsData) {
            this.$Notice.warning({
              title: '請勾選要匯出的資料'
            })
            this.LoadingViewIsShow = false
            return
          }
          let listLength = this.idsData.list.length
          // console.log(listLength)
          let ids = []
          for (let i = 0; i < listLength; i++) {
            ids.push(this.idsData.list[i].outbound_id)
          }
          //
          postData.queryExpression.page = 1
          postData.queryExpression.pageSize = listLength
          postData.queryExpression.combinedCondition = 'AND'
          postData.queryExpression.query = [
            {
              queryCondition: 'IN',
              queryField: 'outbound_id',
              queryValue: `${ids}`
            }
          ]
          break
      }
      //
      postData.queryExpression.sort = this.sortAry
      postData.exportFields = exportFields
      postData.exportSettings.exportFileName = data.postData.exportFileName
      postData.exportSettings.exportFormat = data.postData.exportFormat
      //
      let csvSeperator = ''
      switch (data.postData.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      postData.exportSettings.csvSeperator = csvSeperator
      //
      if (this.timeZone < 0) {
        postData.timezone_offset = `${this.timeZone}`
      } else {
        postData.timezone_offset = `+${this.timeZone}`
      }
      // console.log(postData)
      //
      let dataexportRes = await this.$store.dispatch(`outboundOperation/dataexportSnapshot`, postData)
      // console.log(dataexportRes)
      if (dataexportRes.httpStatus === 200 || dataexportRes.httpStatus === 201) {
        // console.log('下載檔案')
        window.open(`${Config.API.downloadAPIBaseURL}${dataexportRes.respondCode.additionals.dataExport.download_link}`)
      }
      this.LoadingViewIsShow = false
    }
  },
  created () {
    //
    this.getOutboundStatusFilterData()
    this.getDataList(this.settingData.page.pageSize, 1)
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`outboundSnapshot/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  // position: relative;
  width: 100%;
  height: 100%;
  > span {
    display: block;
    height: calc(100% - 4px);
    padding: 25px 30px 0 30px;
    overflow: auto;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
    }
    .btn-box.l {
      width: auto;
      .editLayoutBtn {
        font-size: 16px;
        padding: 1px 16px;
        line-height: 1.5;
      }
      .saveLayoutBtn {
        width: 96px;
        border-radius: 20px;
        background-color: #56504f;
        color: #ffffff;
        font-size: 16px;
        padding: 1px 16px;
        line-height: 1.5;
      }
      .accordionBtn {
        // width: 150px;
        border-radius: 20px;
        background-color: #354361;
        color: #ffffff;
        margin-right: 13px;
        font-size: 16px;
        padding: 1px 16px;
        line-height: 1.5;
        &.isShow {
          background-color: #e0e0e0;
          color: #333333;
          a{
            color: #333333;
          }
        }
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 42px - 31px);
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > span {
    font-size: 12.5px;
  }
  &.solid{
    background-color: #515a6e;
    >span{
      color: #ffffff;
    }
  }
  &.yellow{
    background-color: #dca558;
    border: 2px solid #dca558;
    >span{
      color: #ffffff;
    }
  }
}
.layoutBtn{
  min-width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  &.save{
    background-color: #56504f;
    color: #ffffff;
  }
}
</style>
