<template>
  <div class="content-box">
    <h2 class="title">
      <span>揀貨作業單筆確認</span>
      <div class="btn-box r">
        <input type="text" placeholder="系統單號" class="getOutboundNo" v-model="outboundNo" ref="outboundNo" @keyup.enter="searchOutboundData(outboundNo)">
      </div>
      <div class="btn-box l" v-show="searchSuccess">
        <!-- save layout -->
        <Button class="pickingConfirmBtn mr-3" type="default" shape="circle" @click="update">
          揀貨確認
          <font-awesome-icon icon="check" color="#fff" />
        </Button>
        <Button class="separateBtn" shape="circle" @click="addNewShipping">
          拆件
          <font-awesome-icon icon="chevron-right" color="#fff" />
        </Button>
      </div>
    </h2>
    <div class="top-box">
      <div class="row">
        <div class="col">
          <FloatLabelBox
            :config="{hasContent: (postData.outbound_no && postData.outbound_no!==''), label: `出庫單號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`outbound_no`"
            :defaultValue="postData.outbound_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <FloatLabelBox
            :config="{hasContent: (postData.pickinglist_no && postData.pickinglist_no!==''), label: `揀貨編號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`pickinglist_no`"
            :defaultValue="postData.pickinglist_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <FloatLabelBox
            :config="{hasContent: (postData.owner_name && postData.owner_name!==''), label: `貨主`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`owner_name`"
            :defaultValue="postData.owner_name"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <FloatLabelBox
            :config="{hasContent: (postData.owner_bill_no && postData.owner_bill_no!==''), label: `入庫訂單編號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`owner_bill_no`"
            :defaultValue="postData.owner_bill_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <FloatLabelBox
            :config="{hasContent: (postData.pickinglist_no_byproduct && postData.pickinglist_no_byproduct!==''), label: `彙總揀貨單號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`pickinglist_no_byproduct`"
            :defaultValue="postData.pickinglist_no_byproduct"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <FloatLabelBox
              :config="{hasContent: (postData.shipping_no && postData.shipping_no!==''), label: `托運單號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
              :code="`shipping_no`"
              :defaultValue="postData.shipping_no"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="col">
            <FloatLabelBox
              :config="{hasContent: (postData.shipping_pcs && postData.shipping_pcs!==''), label: `件數`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
              :code="`shipping_pcs`"
              :defaultValue="postData.shipping_pcs"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
        </div>
      <div class="newShipping" v-for="(item, index) in newShipping" :key="index">
        <div class="row">
          <div class="col">
            <FloatLabelBox
              :config="{hasContent: (postData[`shipping_no${index + 2}`] && postData[`shipping_no${index + 2}`]!==''), label: `托運單號_${index + 2}`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
              :code="`shipping_no${index + 2}`"
              :defaultValue="postData[`shipping_no${index + 2}`]"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="col">
            <FloatLabelBox
              :config="{hasContent: (postData[`shipping_pcs${index + 2}`] && postData[`shipping_pcs${index + 2}`]!==''), label: `件數_${index + 2}`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
              :code="`shipping_pcs${index + 2}`"
              :defaultValue="postData[`shipping_pcs${index + 2}`]"
              :disabled="false"
              @changeModelEvent="inputTxtChangeEvent"
            ></FloatLabelBox>
          </div>
        </div>
      </div>
    </div>
    <!-- 出貨明細 -->
    <h2 class="title">
      <span>出貨明細</span>
    </h2>
    <PickingConfirmDetails
      :data="{}"
      :detailId="detailId"
      @gridDataChangeEvent="pickingConfirmDetailsListChangeEvent"
    ></PickingConfirmDetails>
    <div class="footer">
      <!-- return btn -->
      <div class="returnBtn" @click="recovery" v-show="searchSuccess">
        <font-awesome-icon icon="sign-in-alt" size="2x" />
      </div>
    </div>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import PickingConfirmDetails from './components/PickingConfirmDetails'
//
export default {
  name: 'PickingConfirm',
  props: ['step'],
  components: {
    FloatLabelBox,
    PickingConfirmDetails
  },
  data () {
    return {
      outboundNo: '',
      newShipping: [],
      searchSuccess: false,
      detailId: null,
      // 上架作業明細
      pickingConfirmDetailsList: null,
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      //
      postData: {
        outbound_status: 30,
        outbound_id: null, // 出貨紀錄ID
        outbound_no: null, // 出貨單編號
        order_no: null, // 訂單編號
        owner_name: null, // 貨主
        owner_bill_no: null, // 入庫訂單編號
        shipping_no: null, // 託運單號
        shipping_pcs: null, // 託運件數
        shipping_no2: null, // 託運單號2
        shipping_pcs2: null, // 託運件數2
        shipping_no3: null, // 託運單號3
        shipping_pcs3: null, // 託運件數3
        shipping_no4: null, // 託運單號4
        shipping_pcs4: null, // 託運件數4
        shipping_no5: null, // 託運單號5
        shipping_pcs5: null, // 託運件數5
        shipping_no6: null, // 託運單號6
        shipping_pcs6: null, // 託運件數6
        shipping_no7: null, // 託運單號7
        shipping_pcs7: null, // 託運件數7
        shipping_no8: null, // 託運單號8
        shipping_pcs8: null, // 託運件數8
        shipping_no9: null, // 託運單號9
        shipping_pcs9: null // 託運件數9
      }
    }
  },
  computed: {
    pickingConfirm: function () {
      // console.log(this.$store.state)
      return this.$store.state[`pickingOperationOutbound`][`pickingOperationOutbound`] || {}
    }
  },
  watch: {
    pickingConfirmDetailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    pickingConfirm: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          outbound_status: 30,
          outbound_id: val.outbound_id || null, // 入庫紀錄ID
          outbound_no: val.outbound_no || null, // 出庫單號
          order_no: val.order_no || null, // 訂單編號
          pickinglist_no: val.pickinglist_no || null, // 揀貨單號
          owner_name: val.owner_name || null, // 貨主
          owner_bill_no: val.owner_bill_no || null, // 入庫訂單編號
          pickinglist_no_byproduct: val.pickinglist_no_byproduct || null, // 彙總揀貨單號
          shipping_no: val.shipping_no || null, // 託運單號
          shipping_pcs: val.shipping_pcs || null, // 託運件數
          shipping_no2: val.shipping_no2 || null, // 託運單號2
          shipping_pcs2: val.shipping_pcs2 || null, // 託運件數2
          shipping_no3: val.shipping_no3 || null, // 託運單號3
          shipping_pcs3: val.shipping_pcs3 || null, // 託運件數3
          shipping_no4: val.shipping_no4 || null, // 託運單號4
          shipping_pcs4: val.shipping_pcs4 || null, // 託運件數4
          shipping_no5: val.shipping_no5 || null, // 託運單號5
          shipping_pcs5: val.shipping_pcs5 || null, // 託運件數5
          shipping_no6: val.shipping_no6 || null, // 託運單號6
          shipping_pcs6: val.shipping_pcs6 || null, // 託運件數6
          shipping_no7: val.shipping_no7 || null, // 託運單號7
          shipping_pcs7: val.shipping_pcs7 || null, // 託運件數7
          shipping_no8: val.shipping_no8 || null, // 託運單號8
          shipping_pcs8: val.shipping_pcs8 || null, // 託運件數8
          shipping_no9: val.shipping_no9 || null, // 託運單號9
          shipping_pcs9: val.shipping_pcs9 || null // 託運件數9
        }
        // console.log(this.postData.owner_name)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
      },
      deep: true
    }
  },
  methods: {
    pickingConfirmDetailsListChangeEvent: function (data) {
      this.pickingConfirmDetailsList = data
    },
    searchOutboundData: function (outboundNo) {
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryField: 'outbound_no',
            queryValue: outboundNo
          },
          {
            queryCondition: '=',
            queryField: 'company_id',
            queryValue: this.companyId
          },
          {
            queryCondition: '=',
            queryField: 'wh_id',
            queryValue: this.whId
          }
        ],
        sort: []
      }
      this.$store.dispatch('pickingOperationOutbound/queryDetail', postData).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus) && r.respondCode.additionals.outboundList.length > 0) {
          this.searchSuccess = true
          this.detailId = r.respondCode.additionals.outboundList[0].outbound_id
          // console.log(this.detailId)
          // console.log(this.$store.state)
          // console.log('查詢成功')
        } else {
          this.$Notice.warning({
            title: '查無此單，請重新輸入單號'
          })
          this.detailId = null
          this.searchSuccess = false
        }
      })
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    init: function () {
      this.outboundNo = null
      this.newShipping = []
      this.detailId = null
      this.searchSuccess = false
      this.postData = {
        outbound_status: 40,
        outbound_id: null, // 出貨紀錄ID
        outbound_no: null, // 出貨單編號
        order_no: null, // 訂單編號
        pickinglist_no: null, // 揀貨編號
        owner_name: null, // 貨主
        owner_bill_no: null, // 入庫訂單編號
        pickinglist_no_byproduct: null, // 彙總揀貨單號
        shipping_no: null, // 託運單號
        shipping_pcs: null, // 託運件數
        shipping_no2: null, // 託運單號2
        shipping_pcs2: null, // 託運件數2
        shipping_no3: null, // 託運單號3
        shipping_pcs3: null, // 託運件數3
        shipping_no4: null, // 託運單號4
        shipping_pcs4: null, // 託運件數4
        shipping_no5: null, // 託運單號5
        shipping_pcs5: null, // 託運件數5
        shipping_no6: null, // 託運單號6
        shipping_pcs6: null, // 託運件數6
        shipping_no7: null, // 託運單號7
        shipping_pcs7: null, // 託運件數7
        shipping_no8: null, // 託運單號8
        shipping_pcs8: null, // 託運件數8
        shipping_no9: null, // 託運單號9
        shipping_pcs9: null // 託運件數9
      }
    },
    recovery: function () {
      let postData = {
        outbound_status: 20
      }
      this.$store.dispatch('pickingConfirmOutbound/update', { postData: postData, id: this.detailId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          this.$Notice.success({
            title: '回復揀貨成功'
          })
          this.init()
        } else {
          // 提示
          this.$Notice.warning({
            title: '回復揀貨失敗'
          })
        }
      })
    },
    addNewShipping: function () {
      // console.log(this.newShipping.length)
      let shippingTotal = this.newShipping.length
      if (shippingTotal > 7) {
        this.$Notice.warning({
          title: '最多拆九筆'
        })
        return
      }
      this.newShipping.push(shippingTotal)
      // console.log(this.newShipping)
    },
    update: function () {
      let pd = {}
      Object.keys(this.postData).forEach((key, idx) => {
        if (this.postData[key] !== null && this.postData[key] !== '') {
          // console.log(key)
          if (key === 'outbound_id') {
            return
          }
          if (key === 'outbound_no') {
            return
          }
          if (key === 'order_no') {
            return
          }
          if (key === 'pickinglist_no') {
            return
          }
          if (key === 'owner_name') {
            return
          }
          //
          let rex = /pcs/
          if (rex.test(key)) {
            // console.log(key)
            let value = parseInt(this.postData[key])
            pd[key] = value
          } else {
            let value = this.postData[key]
            pd[key] = value
          }
        }
      })
      // console.log(pd)
      this.$store.dispatch('pickingConfirmOutbound/update', { postData: pd, id: this.detailId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // 提示
          this.$Notice.success({
            title: '揀貨成功'
          })
          this.init()
          // focus在出庫單輸入框
          this.$nextTick(() => this.$refs.outboundNo.focus())
        } else {
          // 提示
          this.$Notice.warning({
            title: '揀貨失敗'
          })
        }
      })
    }
  },
  created () {
    //
    // focus在出庫單輸入框
    this.$nextTick(() => this.$refs.outboundNo.focus())
  },
  mounted () {
    //
    // console.log(this.detailId)
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    // this.$store.dispatch(`pickingConfirm/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 25px 30px 0 30px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
      .getOutboundNo {
        display: block;
        width: 250px;
        font-size: 16px;
        color: #9d9d9d;
        padding: 1.5px 12px;
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
        outline: 1px solid transparent;
      }
    }
    .btn-box.l {
      width: auto;
      .pickingConfirmBtn {
        font-size: 16px;
        color: #fff;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #354361;
        border: 1px solid transparent;
      }
      .separateBtn {
        font-size: 16px;
        color: #fff;
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: #354361;
        border: 1px solid transparent;
      }
    }
  }
  .top-box {
    width: 100%;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
  // .title {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 30px;
  //   span {
  //     width: fit-content;
  //     font-family: PingFangTC;
  //     font-size: 25px;
  //     font-weight: 300;
  //     font-style: normal;
  //     font-stretch: normal;
  //     line-height: normal;
  //     letter-spacing: normal;
  //     color: #354361;
  //   }
  // }
  // .item-box {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  //   .label-box {
  //     flex: 1;
  //     font-size: 18px;
  //     color: #000000;
  //   }
  //   .body-box {
  //     flex: 1;
  //     display: flex;
  //     justify-content: flex-end;
  //     padding: 0 50px 0 0;
  //   }
  // }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
}
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  .returnBtn {
    position: absolute;
    right: 45px;
    bottom: 106px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #7c894f;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
