<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 分貨作業 -->
    <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
      <span class="title-text mr-3">分貨作業</span>
      <input type="text" placeholder="請輸入彙總揀貨單號" class="white-bg-input mr-3" :class="userInfo.themeColor" v-model="pickingListNoByProduct" ref="pickingListNoByProduct" :disabled="pickingListNoByProductDisabled" v-on:keyup.enter="searchPickingListNoByProductEvent">
    </div>
    <div class="row">
      <div class="col-3">
        <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">收件人數: {{consigneeList.length}}</div>
        <div class="body-box pr-3">
          <Collapse :class="userInfo.themeColor" simple v-model="consigneeCollapse">
            <Panel v-for="(item) in consigneeList" :key="item.consignee_name" :name="item.consignee_name">
              <span>{{item.consignee_name}}</span>
              <div slot="content">
                <div class="collapse-sub-title d-flex justify-content-between" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
                  <span>商品列表</span>
                  <span>數量</span>
                </div>
                <Button
                  class="best-v2 w-100 mb-2 h-auto"
                  :class="[
                    userInfo.themeColor,
                    itm.sorted_nums >= itm.order_nums ? 'isDisabled' : ''
                  ]"
                  :disabled="itm.sorted_nums >= itm.order_nums"
                  size="large"
                  v-for="(itm, idx) in item.productList"
                  :key="itm.plbc_id"
                  @click="showPickingModal(itm)">
                  <div class="d-flex justify-content-between mb-1">
                    <div class="lable">
                      <span class="seq">{{`${idx + 1}`}}. </span>
                      <span>{{itm.product_code}}</span>
                    </div>
                    <div class="num">{{itm.order_nums}}</div>
                  </div>
                  <div class="text-left white-space-break">{{itm.product_name}}</div>
                </Button>
              </div>
            </Panel>
          </Collapse>
        </div>
      </div>
      <div class="col">
        <div class="sub-title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">商品列表</div>
        <input type="text" placeholder="請輸入商品料號" class="white-bg-input mb-4" :class="userInfo.themeColor" v-model="product" ref="product" :disabled="productDisabled" v-on:keyup.enter="searchProductListEvent">
        <div class="pro-list">
          <div class="pro-list-title d-flex justify-content-between" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
            <span class="content">收件人</span>
            <span class="content">批號</span>
            <span class="num">數量</span>
          </div>
          <ul class="list-unstyled">
            <li>
              <Button class="best-v2 w-100 h-auto mb-2 p-2" :class="[userInfo.themeColor]" size="large" v-for="(item, index) in productList" :key="`${item.product_code}_${item.plbc_id}`" @click="showPickingModal(item)">
                <ul class="pro-list-item list-unstyled d-flex justify-content-between">
                  <li class="content">{{`${index + 1}`}}. {{item.consignee_name}}</li>
                  <li class="content">{{item.product_batch_no}}</li>
                  <li class="num">{{item.order_nums - item.sorted_nums}}</li>
                </ul>
              </Button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 分貨 Modal -->
    <Modal v-model="pickingModal" width="800" :footer-hide="true" closable class="pickingModal">
      <!-- LoadingView -->
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="d-flex w-100">
          <ul class="list-unstyled mr-3">
            <li>
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>料</span><span>號</span></span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.product_code}}
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="w-100 mr-2">商品名稱</span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.product_name}}
              </div>
            </li>
            <li v-show="pickingData.product_spec">
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>規</span><span>格</span></span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.product_spec}}
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>收</span><span>件</span><span>人</span></span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.consignee_name}}
              </div>
            </li>
            <li v-show="pickingData.product_batch_no">
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>批</span><span>號</span></span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.product_batch_no}}
              </div>
            </li>
            <!-- <li>
              <div class="lable">
                <span class="w-100 mr-2">同步裝箱</span><span>:</span>
              </div>
              <div class="value">
                <i-Switch v-model="pickingData.isBox" size="large">
                    <span slot="open">是</span>
                    <span slot="close">否</span>
                </i-Switch>
              </div>
            </li> -->
            <li>
              <div class="lable">
                <span class="w-100 mr-2">設定裝箱</span><span>:</span>
              </div>
              <div class="value">
                <i-Switch v-model="pickingData.setBox" size="large">
                    <span slot="open">是</span>
                    <span slot="close">否</span>
                </i-Switch>
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="w-100 mr-2">未分數量</span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.sorted_nums ? (pickingData.order_nums - pickingData.sorted_nums) : pickingData.order_nums}}
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="w-100 mr-2">分貨數量</span><span>:</span>
              </div>
              <div class="value">
                <input type="number" placeholder="數量" class="white-bg-input" v-model="pickingData.sortedNums" min="1" ref="sortedNums" v-on:keyup.enter="numUpdateEvent">
              </div>
            </li>
          </ul>
          <!-- <ul class="list-unstyled text-left conten-box">
            <li>{{pickingData.product_code}}</li>
            <li>{{pickingData.product_name}}</li>
            <li>{{pickingData.consignee_name}}</li>
            <li>{{pickingData.product_batch_no}}</li>
            <li>
              <i-Switch v-model="pickingData.isBox" size="large">
                    <span slot="open">是</span>
                    <span slot="close">否</span>
                </i-Switch>
            </li>
            <li><input type="number" placeholder="數量" class="white-bg-input" v-model="pickingData.sortedNums" min="1" ref="sortedNums" v-on:keyup.enter="numUpdateEvent"></li>
          </ul> -->
        </div>
        <div class="d-flex">
          <Button class="best-outlined-gray-dark lg-btn w-100 mr-3" shape="circle" size="large" @click="showAddBox">
            換箱 &nbsp;<font-awesome-icon icon="box-open" color="#3c3c3c"/>
          </Button>
          <Button class="best-blue lg-btn w-100" shape="circle" size="large" @click="numUpdateEvent">
            分貨
          </Button>
        </div>
        <div class="receiver-index-box">
          <div class="star">
            <font-awesome-icon icon="star" color="#fff"/>
          </div>
          <div class="lable">收件人編號</div>
          <div class="value">{{pickingData.receiver_index}}</div>
        </div>
      </div>
    </Modal>
    <!-- 新增裝箱 -->
    <Modal v-model="addBoxModal" width="359" :footer-hide="true" :closable="false" :mask-closable="false" class="boxModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <div class="desc-box">
            <div class="modal-title">
              <span class="mr-2">
                設定裝箱
              </span>
              <input type="text" placeholder="輸入指令動作" class="modal-input w-100" v-model="toDo" ref="toDoInput" v-on:keyup.enter="setAddBoxModalEvent">
            </div>
            <div class="form-box">
                <div class="item">
                  <!-- 長度單位 box_length_unit -->
                  <FloatLabelBox
                    :config="{
                      hasContent: (boxPostData.box_length_unit && boxPostData.box_length_unit!==''),
                      label: `長度單位`,
                      hasClearButton: true,
                      background: 'white',
                      type: `Select`,
                      settings: {height: 41}}"
                    :selectList="boxLengthUnitList"
                    :code="`box_length_unit`"
                    :defaultValue="boxPostData.box_length_unit"
                    :errorMsg="boxLengthUnitErrorMsg"
                    errorMsgColor="#F00"
                    :isError="boxError.box_length_unit"
                    :isRequired="true"
                    @changeModelEvent="boxLengthUnitListChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 長度* -->
                  <FloatLabelBox
                    :config="{
                      hasContent: Number.isInteger(boxPostData.box_length),
                      label: `長度*`,
                      hasClearButton: true,
                      background: 'white',
                      type: `InputNumber`,
                      settings: {height: 41}}"
                    :errorMsg="boxLengthErrorMsg"
                    errorMsgColor="#F00"
                    :code="`box_length`"
                    :defaultValue="boxPostData.box_length"
                    :isError="boxError.box_length"
                    :isRequired="true"
                    @changeModelEvent="boxLengthChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 寬度 * -->
                  <FloatLabelBox
                    :config="{
                      hasContent: Number.isInteger(boxPostData.box_width), label: `寬度*`,
                      hasClearButton: true,
                      background: 'white',
                      type: `InputNumber`,
                      settings: {height: 41}}"
                    :errorMsg="boxWidthErrorMsg"
                    errorMsgColor="#F00"
                    :code="`box_width`"
                    :defaultValue="boxPostData.box_width"
                    :isError="boxError.box_width"
                    :isRequired="true"
                    @changeModelEvent="boxWidthChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 高度 * -->
                  <FloatLabelBox
                    :config="{
                      hasContent: Number.isInteger(boxPostData.box_height),
                      label: `高度 *`,
                      hasClearButton: true,
                      background: 'white',
                      type: `InputNumber`,
                      settings: {height: 41}}"
                    :errorMsg="boxHeightErrorMsg"
                    errorMsgColor="#F00"
                    :code="`box_height`"
                    :defaultValue="boxPostData.box_height"
                    :isError="boxError.box_height"
                    :isRequired="true"
                    @changeModelEvent="boxHeightChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 重量單位 box_weight_unit -->
                  <FloatLabelBox
                    :config="{
                      hasContent: (boxPostData.box_weight_unit_name && boxPostData.box_weight_unit_name!==''),
                      label: `重量單位 *`,
                      hasClearButton: true,
                      background: 'white',
                      type: `NewAutoComplete`,
                      settings: {height: 41}}"
                    :code="`box_weight_unit_name`"
                    :autoCompleteData="weightUnitList"
                    :defaultValue="boxPostData.box_weight_unit_name"
                    :modalTitle="`重量單位`"
                    :toCloseModal="toCloseWeightUnitAutocompleteModal"
                    keyCode="settingUnitSetup"
                    storeKey="weightUnit"
                    returnCode="unit_name"
                    :isError="boxError.box_weight_unit"
                    :isRequired="true"
                    :showCols="autoCompleteShowWeightUnitCols"
                    @handleEnterSubmit="autocompleteHandleWeightUnitEnterSubmitEvent"
                    @changeModelEvent="weightUnitAutocompleteChangeEvent"
                    @autoCompleteSearchEvent="weightUnitAutoCompleteSearchEvent"
                    @setToCloseModalEvent="setToCloseWeightUnitAutocompleteModal"
                  >
                    <div>
                      <!-- 重量-單位-->
                      <AutocompleteModal
                        keyCode="settingUnitSetup"
                        storeKey="weightUnit"
                        returnCode="unit_name"
                        :condition="weightUnitCondition"
                        :baseCondition="weightUnitBaseCondition"
                        @setAutocompleteValueEvent="setAutocompleteWeightUnitValue"
                      ></AutocompleteModal>
                    </div>
                  </FloatLabelBox>
                </div>
                <div class="item">
                  <!-- 重量 * -->
                  <FloatLabelBox
                    :config="{
                      hasContent: Number.isInteger(boxPostData.box_weight),
                      label: `重量 *`,
                      hasClearButton: true,
                      background: 'white',
                      type: `InputNumber`,
                      settings: {height: 41}}"
                    :errorMsg="boxWeightErrorMsg"
                    errorMsgColor="#F00"
                    :code="`box_weight`"
                    :defaultValue="boxPostData.box_weight"
                    :isError="boxError.box_weight"
                    :isRequired="true"
                    @changeModelEvent="boxWeightChangeEvent"
                  ></FloatLabelBox>
                </div>
                <div class="btn-box">
                  <Button class="best-outlined-gray mr-3" shape="circle" size="large" v-show="!boxPostData.box_id" @click="addBoxcancel">
                    取消
                  </Button>
                  <Button class="best-outlined-pink w-100" shape="circle" size="large" v-show="pickingData.isChangeBox && !boxPostData.box_id" @click="numUpdateEvent" :loading="addBoxIsLoading">
                    確定
                  </Button>
                  <Button class="best-outlined-pink w-100" shape="circle" size="large" v-show="boxPostData.box_id" @click="updateBox" :loading="addBoxIsLoading">
                    確定
                  </Button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
export default {
  name: 'PickingByConsigneeSetup',
  props: ['keyCode'],
  components: {
    LoadingView,
    FloatLabelBox,
    AutocompleteModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let companyId = this.$store.state.auth.userInfo.companyKey // 由用戶取得
    let whId = this.$store.state.auth.userInfo.warehouseKey // 由用戶取得
    let userId = this.$store.state.auth.userInfo.userId // 由用戶取得
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      companyId: companyId, // 由用戶取得
      whId: whId, // 由用戶取得
      userId: userId, // 由用戶取得
      ownerId: ownerId,
      ownerName: ownerName,
      //
      pickingListNoByProduct: null,
      pickingListNoByProductDisabled: false,
      // 彙總揀貨單資料
      pickingByConsigneeData: [],
      // 收件人風琴
      consigneeCollapse: '',
      consigneeList: [],
      // 商品
      product: null,
      productDisabled: false,
      productList: [],
      // 分貨 modal
      pickingModal: false,
      pickingData: {
        product_code: null,
        product_name: null,
        consignee_name: null,
        product_batch_no: null,
        sortedNums: 1,
        isBox: true,
        setBox: false,
        isChangeBox: false,
        receiver_index: 0
      },
      /* 新增裝箱 */
      addBoxModal: false,
      addBoxIsLoading: false,
      toDo: null,
      boxPostData: {
        box_id: null,
        box_length_unit: 2,
        box_weight_unit_name: '公斤',
        box_weight_unit: 41,
        box_length: 10,
        box_width: 10,
        box_height: 10,
        box_weight: 10
      },
      boxError: {
        box_length_unit: false,
        box_weight_unit_name: false,
        box_weight_unit: false,
        box_length: false,
        box_width: false,
        box_height: false,
        box_weight: false
      },
      boxLengthErrorMsg: null,
      boxWidthErrorMsg: null,
      boxHeightErrorMsg: null,
      boxWeightErrorMsg: null,
      boxLengthUnitErrorMsg: null,
      boxWeightUnitErrorMsg: null,
      //
      /* 長度單位 length_unit */
      boxLengthUnitList: [],
      /* 重量-單位 : weight_unit */
      weightUnitList: [],
      autoCompleteShowWeightUnitCols: [
        'unit_code'
      ],
      toCloseWeightUnitAutocompleteModal: false,
      weightUnitCondition: [],
      weightUnitBaseCondition: []
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    boxPostData: {
      handler: function (val) {
        console.log(val)
        if (val.box_length_unit) {
          this.boxError.box_length_unit = false
        }
        if (val.box_length) {
          this.boxError.box_length = false
        }
        if (val.box_width) {
          this.boxError.box_width = false
        }
        if (val.box_height) {
          this.boxError.box_height = false
        }
        if (val.box_weight_unit) {
          this.boxError.box_weight_unit = false
        }
        if (val.box_weight) {
          this.boxError.box_weight = false
        }
      },
      deep: true
    }
  },
  methods: {
    searchPickingListNoByProductEvent: async function () {
      this.pickingListNoByProductDisabled = true
      if (!this.pickingListNoByProduct) {
        this.pickingListNoByProductDisabled = false
        return
      }
      //
      // let isError = false
      let postData = {
        pickingListNoByProduct: this.pickingListNoByProduct
      }
      // 出庫類別
      //
      this.LoadingViewIsShow = true
      //
      let res = await this.$store.dispatch('pickingByConsignee/search', postData)
      let allListRes = await this.$store.dispatch('pickingByConsignee/queryAllList', postData)
      console.log(res)
      if (res.success) {
        let list = res.data
        if (list.length > 0) {
          // let consigneeMoreList = []
          // list.forEach((item) => {
          //   consigneeMoreList.push(item.consignee_name)
          // })
          // let arryLengthMinusOne = consigneeMoreList.length - 1
          // let consigneeListName = consigneeMoreList.filter((item, index, arr) => {
          //   if (arryLengthMinusOne !== index && !item) {
          //     return false
          //   }
          //   return arr.indexOf(item) === index
          // })
          // let consigneeList = []
          // consigneeListName.forEach((item) => {
          //   consigneeList.push({
          //     consignee_name: item,
          //     productList: []
          //   })
          // })
          // list.forEach((item) => {
          //   consigneeList.forEach((itm) => {
          //     if (item.consignee_name === itm.consignee_name) {
          //       itm.productList.push(item)
          //     }
          //   })
          // })
          // console.log(consigneeList)
          this.consigneeList = list
          this.consigneeCollapse = list[0].consignee_name
          this.pickingByConsigneeData = allListRes.data
          this.LoadingViewIsShow = false
          this.pickingListNoByProductDisabled = false
          this.$nextTick(() => this.$refs.product.focus())
        } else {
          this.$Notice.warning({
            title: '查無符合條件的資料，請重新搜尋'
          })
          this.consigneeList = []
          this.consigneeCollapse = null
          this.pickingByConsigneeData = []
          this.product = null
          this.productList = []
          this.LoadingViewIsShow = false
          this.pickingListNoByProductDisabled = false
          this.$nextTick(() => this.$refs.pickingListNoByProduct.select())
        }
      } else {
        this.consigneeList = []
        this.consigneeCollapse = null
        this.pickingByConsigneeData = []
        this.product = null
        this.productList = []
        this.LoadingViewIsShow = false
        this.pickingListNoByProductDisabled = false
        //
        this.$Notice.warning({
          title: '查詢完畢',
          desc: res.message,
          duration: 30
        })
        this.$nextTick(() => this.$refs.pickingListNoByProduct.select())
      }
    },
    searchProductListEvent: function () {
      this.productDisabled = true
      this.LoadingViewIsShow = true
      if (!this.product && this.pickingByConsigneeData.length === 0) {
        this.productDisabled = false
        this.LoadingViewIsShow = false
        return
      }
      let productList = []
      // console.log(this.product)
      this.pickingByConsigneeData.forEach((item) => {
        // console.log(item.product_code)
        if (item.product_code === this.product || item.product_barcode === this.product || item.product_barcode2 === this.product) {
          productList.push(item)
        }
      })
      this.productList = productList
      if (this.productList.length > 0) {
        this.showPickingModal(productList[0])
      }
      this.productDisabled = false
      this.LoadingViewIsShow = false
    },
    initPickingData: function () {
      this.pickingData = {
        product_code: null,
        product_name: null,
        consignee_name: null,
        product_batch_no: null,
        sortedNums: 1,
        isBox: true,
        isChangeBox: false,
        receiver_index: 0
      }
    },
    initBoxPostData: function () {
      this.boxPostData = {
        box_id: null,
        box_length_unit: 2,
        box_weight_unit_name: '公斤',
        box_weight_unit: 41,
        box_length: 10,
        box_width: 10,
        box_height: 10,
        box_weight: 10
      }
    },
    showPickingModal: function (data) {
      this.pickingData = data
      this.pickingData.sortedNums = 1
      this.pickingData.isBox = true
      this.pickingData.isChangeBox = false
      this.pickingModal = true
      this.$nextTick(() => this.$refs.sortedNums.focus())
    },
    numUpdateEvent: async function () {
      this.LoadingViewIsShow = true
      if (!this.pickingData.sortedNums || this.pickingData.sortedNums < 0) {
        this.$Notice.error({
          title: '數量不可小於一',
          duration: 30
        })
        this.LoadingViewIsShow = false
        return
      }
      let postData = {
        sortedNums: this.pickingData.sortedNums,
        plbcId: this.pickingData.plbc_id,
        pickingListSplitNo: this.pickingData.pickinglist_no_byconsignee,
        isBox: true,
        isChangeBox: this.pickingData.isChangeBox,
        boxData: null
      }
      if (this.pickingData.isChangeBox) {
        postData.boxData = {
          box_length_unit: this.boxPostData.box_length_unit,
          box_length: this.boxPostData.box_length,
          box_width: this.boxPostData.box_width,
          box_height: this.boxPostData.box_height,
          box_weight_unit: this.boxPostData.box_weight_unit,
          box_weight: this.boxPostData.box_weight
        }
      }
      let res = await this.$store.dispatch('pickingByConsignee/update', postData)
      console.log(res)
      if (res.success) {
        if (res.data.checkCurrentOutboundIdSortedForBox && this.pickingData.isBox) {
          this.boxPostData.box_id = res.data.box_id
          if (this.pickingData.setBox) {
            this.$Notice.success({
              title: `收件人${this.pickingData.consignee_name}已分貨完成`,
              desc: '請設定裝箱資料',
              duration: 30
            })
            this.addBoxModal = true
            setTimeout(() => {
              this.$nextTick(() => this.$refs.toDoInput.focus())
            }, 100)
            return
          } else {
            let boxPostData = {
              box_length_unit: 2,
              box_weight_unit: 41,
              box_length: 10,
              box_width: 10,
              box_height: 10,
              box_weight: 10
            }
            let boxRes = await this.$store.dispatch('boxingSetup/updateBoxing', { postData: boxPostData, detailId: this.boxPostData.box_id })
            if (boxRes.success) {
              this.$Notice.success({
                title: `收件人${this.pickingData.consignee_name}`,
                desc: '已分貨完成',
                duration: 30
              })
            } else {
              this.LoadingViewIsShow = false
              this.$Notice.error({
                title: '設定失敗',
                desc: boxRes.message,
                duration: 30
              })
              return
            }
          }
        }
        await this.searchPickingListNoByProductEvent()
        await this.searchProductListEvent()
        this.pickingModal = false
        this.addBoxcancel()
        this.initPickingData()
        this.$nextTick(() => this.$refs.product.select())
      } else {
        this.$nextTick(() => this.$refs.sortedNums.focus())
        this.LoadingViewIsShow = false
        this.$Notice.error({
          title: '作業完畢',
          desc: res.message,
          duration: 30
        })
      }
    },
    /* 長度單位 box_length_unit */
    boxLengthUnitListChangeEvent: function (data) {
      // console.log(data)
      this.boxPostData[data.code] = data.val
    },
    getLengthUnitList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`lengthUnit/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let lengthUnitList = []
          list.forEach((ele, idx) => {
            lengthUnitList.push({
              value: ele.unit_id,
              label: ele.unit_name
            })
          })
          this.boxLengthUnitList = lengthUnitList
        }
      })
    },
    /* 重量單位 : box_weight_unit */
    autocompleteHandleWeightUnitEnterSubmitEvent: function (data) {
      // console.log(data)
      this.boxPostData[data.code] = ''
      this.boxPostData.box_weight_unit = null
      // 設定其他資料處
      // 設定其他資料處 end
      this.weightUnitList = []
    },
    weightUnitAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.boxPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.boxPostData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.boxPostData.box_weight_unit = data.val ? data.val.unit_id : ''
        // console.log(this.box_weight_unit)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.weightUnitList = [data.val]
      } else {
        this.weightUnitList = []
      }
    },
    weightUnitAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.weightUnitBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.weightUnitList = list
        }
      })
    },
    setAutocompleteWeightUnitValue: function (data) {
      // console.log(data)
      //
      this.boxPostData.box_weight_unit_name = data.data[data.returnCode]
      this.boxPostData.box_weight_unit = data.data.unit_id
      // console.log(this.box_weight_unit)
      //
      this.toCloseWeightUnitAutocompleteModal = true
    },
    setToCloseWeightUnitAutocompleteModal: function (bol) {
      this.toCloseWeightUnitAutocompleteModal = bol
    },
    boxLengthChangeEvent (v) {
      //
      // console.log(v)
      this.boxPostData[v.code] = v.val
    },
    /* 重量 */
    boxWeightChangeEvent (v) {
      //
      // console.log(v)
      this.boxPostData[v.code] = v.val
    },
    boxWidthChangeEvent (v) {
      //
      // console.log(v)
      this.boxPostData[v.code] = v.val
    },
    boxHeightChangeEvent (v) {
      //
      // console.log(v)
      this.boxPostData[v.code] = v.val
    },
    setAddBoxModalEvent () {
      if (this.toDo === 'addBoxcancel12345678') {
        this.addBoxcancel()
      }
      if (this.toDo === 'addBox12345678') {
        if (this.boxPostData.box_id) {
          this.updateBox()
        } else {
          this.numUpdateEvent()
        }
      }
    },
    showAddBox () {
      this.addBoxModal = true
      this.pickingData.isChangeBox = true
      setTimeout(() => {
        this.$nextTick(() => this.$refs.toDoInput.focus())
      }, 100)
    },
    addBoxcancel () {
      this.addBoxModal = false
      this.initBoxPostData()
    },
    async updateBox () {
      this.addBoxIsLoading = true
      let isError = false
      if (!this.boxPostData.box_length_unit) {
        isError = true
        this.boxError.box_length_unit = true
        this.boxLengthUnitErrorMsg = `請輸入長度單位`
      }
      if (this.boxPostData.box_length <= 0) {
        isError = true
        this.boxPostData.box_length = true
        this.boxLengthErrorMsg = `請輸入長度`
      }
      if (this.boxPostData.box_width <= 0) {
        isError = true
        this.boxError.box_width = true
        this.boxWidthErrorMsg = `請輸入寬度`
      }
      if (this.boxPostData.box_height <= 0) {
        isError = true
        this.boxError.box_height = true
        this.boxHeightErrorMsg = `請輸入高度`
      }
      if (!this.boxPostData.box_weight_unit) {
        isError = true
        this.boxError.box_weight_unit = true
        this.boxWeightUnitErrorMsg = `請輸入重量單位`
      }
      if (this.boxPostData.box_weight <= 0) {
        isError = true
        this.boxError.box_weight = true
        this.boxWeightErrorMsg = `請輸入重量`
      }
      //
      if (isError) {
        this.addBoxIsLoading = false
        return
      }
      //
      let postData = {
        box_length_unit: this.boxPostData.box_length_unit,
        box_weight_unit: this.boxPostData.box_weight_unit,
        box_length: this.boxPostData.box_length,
        box_width: this.boxPostData.box_width,
        box_height: this.boxPostData.box_height,
        box_weight: this.boxPostData.box_weight
      }
      // console.log(postData)
      let res = await this.$store.dispatch('boxingSetup/updateBoxing', { postData: postData, detailId: this.boxPostData.box_id })
      if (res.success) {
        await this.searchPickingListNoByProductEvent()
        await this.searchProductListEvent()
        this.pickingModal = false
        this.addBoxcancel()
        this.initPickingData()
        this.$nextTick(() => this.$refs.product.select())
        this.addBoxIsLoading = false
      } else {
        this.addBoxIsLoading = false
        this.$Notice.error({
          title: '設定失敗',
          desc: res.message,
          duration: 30
        })
      }
    }
  },
  created () {
    //
    this.$nextTick(() => this.$refs.pickingListNoByProduct.focus())
    this.getLengthUnitList()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .row {
    display: flex;
    width: 100%;
    height: 100%;
    .col {
      flex: 1;
      height: 100%;
      margin-left: 15px;
    }
    .col-3 {
      flex: 0 0 25%;
      width: 25%;
      height: 100%;
      margin-right: 15px;
      margin-left: 15px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        background: #D8D8D8;
        right: -15px;
        top: 0;
      }
    }
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
    }
    .btn {
      min-width: 96px;
      font-size: 16px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    .quantity {
      font-size: 16px;
      color: #555;
      font-weight: 400;
    }
  }
  .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .white-bg-input {
    display: block;
    width: 100%;
    font-size: 24px;
    color: #3c3c3c;
    padding: 6.5px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: 1px solid transparent;
    &.dark {
      background: #fff;
    }
    &.light {
      background: #eceff2;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 105px - 16px);
    overflow-y: auto;
    .item {
      margin-bottom: 24px;
    }
  }
}
/* 收件人風琴 */
/deep/
.ivu-collapse {
  background: transparent;
  border: 0 solid transparent;
  .collapse-sub-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .ivu-collapse-item {
    margin-bottom: 8px;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
  }
  &.dark {
    >.ivu-collapse-item {
      &.ivu-collapse-item-active {
        >.ivu-collapse-header {
          color: #fff;
        }
      }
      >.ivu-collapse-header {
        color: #fff;
        font-size: 20px;
      }
      &.isDisabled {
      border: 1px solid #ACACAC;
        &.ivu-collapse-item-active {
          >.ivu-collapse-header {
            color: #ACACAC;
          }
        }
        >.ivu-collapse-header {
          color: #ACACAC;
        }
      }
    }
  }
  &.light {
     >.ivu-collapse-item {
      &.ivu-collapse-item-active {
        >.ivu-collapse-header {
          color: #3c3c3c;
        }
      }
      >.ivu-collapse-header {
        color: #3c3c3c;
        font-size: 20px;
      }
      &.isDisabled {
      border: 1px solid #ACACAC;
        &.ivu-collapse-item-active {
          >.ivu-collapse-header {
            color: #ACACAC;
          }
        }
        >.ivu-collapse-header {
          color: #ACACAC;
        }
      }
    }
  }
}
/deep/.ivu-collapse-content {
  background: transparent;
  color: #fff;
  padding: 8px 16px 0;
}
/* 收件人風琴 END */
.pro-list {
  .content {
    flex: 1;
  }
  .num {
    width: 100;
  }
}
.pro-list-title {
  font-size: 16px;
  padding: 0 8px 8px;
}
.pro-list-item {
  li {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
  }
}
.pickingModal {
  .modal-body {
    width: 100%;
    padding: 0 48px 24px;
    position: relative;
    .conten-box {
      flex: 1;
    }
    ul {
      .lable {
        color: #3c3c3c;
        width: 111px;
        text-align: right;
        display: flex;
        margin-right: 8px;
        white-space: nowrap;
      }
      .value {
        color: #118cf8;
      }
      li {
        display: flex;
        font-family: PingFangTC;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 16px;
        min-height: 36px;
      }
    }
    .white-bg-input {
      display: block;
      width: 100%;
      font-size: 24px;
      color: #3c3c3c;
      padding: 6.5px 16px;
      border: 1px solid #ACACAC;
      border-radius: 8px;
      outline: 1px solid transparent;
    }
    .receiver-index-box {
      position: absolute;
      bottom: 91px;
      right: 48px;
      border: 1px solid #E80C0C;
      border-radius: 8px;
      padding: 10px 40px 0px;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100px;
        height: 50px;
        background: #E80C0C;
        top: -14px;
        left: -54px;
        transform: rotate(-45deg);
      }
      &::after {
        content: '';
        // font-family: ;
        position: absolute;
        display: block;
        width: 50px;
        height: 20px;
        background: #E80C0C;
        bottom: -3px;
        right: -20px;
        transform: rotate(-45deg)
      }
      .star {
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 1;
      }
      .lable {
        font-size: 16px;
        font-weight: bold;
      }
      .value {
        font-size: 82px;
        color: #E80C0C;
        font-style: italic;
        font-weight: bold;
      }
    }
  }
}
.boxModal {
  .modal-body {
    width: 100%;
    padding: 0 45px 24px;
    .container-box {
      flex: 1;
      height: 100%;
      .desc-box {
        .modal-title {
          color: #331e1e;
          font-size: 24px;
          display: flex;
          align-items: center;
          >span {
            white-space: nowrap;
          }
        }
        .modal-input {
            color: #331e1e;
            font-size: 16px;
            border-radius: 8px;
            padding: 4px 8px;
            border: 1px solid #D8D8D8;
            &.lg {
              font-size: 24px;
            }
        }
        .form-box {
          margin-top: 20px;
          .item {
            margin-bottom: 24px;
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: center;
      }
    }
  }
}
.white-space-break {
    white-space: break-spaces!important;
}
</style>
