<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 揀貨作業 -->
    <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
      <span class="title-text mr-3">揀貨作業</span>
    </div>
    <input type="text" placeholder="請輸入出庫單號" class="white-bg-input mb-4" :class="userInfo.themeColor" v-model="outboundNo" ref="outboundNo" :disabled="outboundNoDisabled" v-on:keyup.enter="searchOutboundDetailEvent">
    <input type="text" placeholder="請輸入商品料號" class="white-bg-input mb-4" :class="userInfo.themeColor" v-model="product" ref="product" :disabled="productDisabled" v-on:keyup.enter="pickingEvent">
    <div>
      <div class="sub-title mr-3" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">出庫明細</div>
      <div class="body-box">
        <DataGrid
          idKeyName="obd_id"
          :bgType="userInfo.themeColor"
          :hideFilter="true"
          :hidePage="true"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :setVisibleColumns="setVisibleColumns"
          @gridDataChengeEvent="gridDataChengeEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
    </div>
    <!-- 揀貨 Modal -->
    <Modal v-model="pickingModal" width="500" :footer-hide="true" closable class="pickingModal">
      <!-- LoadingView -->
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="d-flex w-100">
          <ul class="list-unstyled mr-3">
            <li>
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>料</span><span>號</span></span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.product_code}}
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="w-100 mr-2">商品名稱</span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.product_name}}
              </div>
            </li>
            <li v-show="pickingData.product_spec">
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>規</span><span>格</span></span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.product_spec}}
              </div>
            </li>
            <li>
              <div class="lable">
                <span class="d-flex justify-content-between w-100 mr-2"><span>數</span><span>量</span></span><span>:</span>
              </div>
              <div class="value">
                {{pickingData.outbound_nums}}
              </div>
            </li>
          </ul>
        </div>
        <input type="text" placeholder="enter確認" class="white-bg-input mb-4" :class="userInfo.themeColor" v-model="toDo" ref="toDo" v-on:keyup.enter="setPickingModalEvent">
        <div class="d-flex">
          <Button class="best-outlined-gray-dark lg-btn w-100 mr-3" shape="circle" size="large" @click="closePickingModalEvent">
            取消
          </Button>
          <Button class="best-blue lg-btn w-100" shape="circle" size="large" @click="comfirmPickingEvent">
            確認
          </Button>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
import LoadingView from '@/components/LoadingView/LoadingView'
export default {
  name: 'PickingSetup',
  props: ['keyCode'],
  components: {
    DataGrid,
    LoadingView
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    // 定義用
    let userInfo = this.$store.state.auth.userInfo
    let settingData = {
      page: {
        pageSize: 999, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_code',
          displayName: '商品料號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_spec',
          displayName: '規格',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_quality',
          displayName: '良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'outbound_nums',
          displayName: '數量',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      idsData: null,
      setVisibleColumns: false,
      //
      productQualityFilterData: [], // 良品/不良品
      //
      outboundNo: null,
      outboundNoDisabled: false,
      // 商品
      product: null,
      productDisabled: false,
      productList: [],
      // 揀貨 modal
      pickingModal: false,
      pickingData: {
        product_code: null,
        product_name: null,
        product_spec: null,
        product_quality: null,
        outbound_nums: null
      },
      toDo: null
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    productQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'product_quality') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      this.idsData = data
      switch (this.optType) {
        // case 'remove':
        //   // 刪除 : INDEX
        //   this.gridData = this.gridData.filter((item, index) => {
        //     let _item = data.list.find((itm, idx) => {
        //       if (item.INDEX === itm.INDEX) {
        //         return true
        //       }
        //     })
        //     return !_item
        //   })
        //   break
      }
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    // 良品/不良品 product_quality
    getProductQualityFilterData: function () {
      this.productQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    },
    searchOutboundDetailEvent: async function () {
      this.outboundNoDisabled = true
      if (!this.outboundNo) {
        this.outboundNoDisabled = false
        return
      }
      //
      // let isError = false
      let postData = {
        pageNum: 1,
        pageSize: 1000,
        baseCondition: [
          ['outbound_status', '=', 20],
          ['order_type', '=', 'outbound_normal'],
          ['outbound_no', '=', this.outboundNo]
        ],
        orCondition: [],
        sort: [{ sortField: 'obd_id', sortValue: 'desc' }]
      }
      //
      this.LoadingViewIsShow = true
      //
      let res = await this.$store.dispatch('outboundDetailQuery/search', postData)
      // let allListRes = await this.$store.dispatch('pickingByConsignee/queryAllList', postData)
      console.log(res)
      if (res.success) {
        let list = res.data
        if (list.length > 0) {
          // let consigneeMoreList = []
          list.forEach((item, index) => {
            item.INDEX = index + 1
            item.SELECT = false
          })
          this.gridData = list
          this.LoadingViewIsShow = false
          this.outboundNoDisabled = false
          this.$nextTick(() => this.$refs.product.focus())
        } else {
          this.$Notice.warning({
            title: '查無符合條件的資料，請重新搜尋'
          })
          this.product = null
          this.LoadingViewIsShow = false
          this.outboundNoDisabled = false
          this.$nextTick(() => this.$refs.outboundNo.select())
        }
      } else {
        this.product = null
        this.LoadingViewIsShow = false
        this.outboundNoDisabled = false
        //
        this.$Notice.warning({
          title: '查詢完畢',
          desc: res.message,
          duration: 30
        })
        this.$nextTick(() => this.$refs.outboundNo.select())
      }
    },
    initPickingData: function () {
      this.pickingData = {
        product_code: null,
        product_name: null,
        product_spec: null,
        product_quality: null,
        outbound_nums: null
      }
    },
    pickingEvent () {
      this.productDisabled = true
      let listLength = this.gridData.length
      for (let i = 0; i < listLength; i++) {
        if (this.gridData[i].product_code === this.product || this.gridData[i].product_barcode === this.product || this.gridData[i].product_barcode2 === this.product) {
          this.pickingData = this.gridData[i]
          this.pickingModal = true
          this.$nextTick(() => this.$refs.toDo.focus())
          this.productDisabled = false
        }
      }
      if (!this.pickingModal) {
        this.$Notice.warning({
          title: '查無符合商品',
          desc: '請重新輸入',
          duration: 30
        })
        this.productDisabled = false
        this.$nextTick(() => this.$refs.product.select())
      }
    },
    setPickingModalEvent () {
      if (this.toDo === 'closePickingModalEvent') {
        this.closePickingModalEvent()
      } else if (this.toDo === 'comfirmPickingEvent' || !this.toDo || this.toDo === '') {
        this.comfirmPickingEvent()
      }
    },
    closePickingModalEvent () {
      this.pickingModal = false
      this.$nextTick(() => this.$refs.product.select())
      this.toDo = null
      this.initPickingData()
    },
    comfirmPickingEvent () {
      this.gridData[this.pickingData.INDEX - 1].SELECT = true
      //
      let isError = false
      let listLength = this.gridData.length
      for (let i = 0; i < listLength; i++) {
        if (!this.gridData[i].SELECT) {
          isError = true
        }
      }
      if (!isError) {
        this.toDeliverEvent()
      }
      //
      this.closePickingModalEvent()
    },
    toDeliverEvent () {
      this.LoadingViewIsShow = true
      //
      // let isError = false
      let postData = {
        outboundIds: [
          this.gridData[0].outbound_id
        ]
      }
      // let listLength = this.gridData.length
      // for (let i = 0; i < listLength; i++) {
      //   if (!this.gridData[i].SELECT) {
      //     isError = true
      //   }
      // }
      // //
      // if (isError) {
      //   this.$Notice.warning({
      //     title: '揀貨確認失敗',
      //     desc: '尚有商品未揀貨',
      //     duration: 30
      //   })
      //   this.LoadingViewIsShow = false
      //   return
      // }
      //
      this.$store.dispatch(`outboundOperation/sendtoprint`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.$Notice.success({
            title: '揀貨確認成功'
          })
          this.product = null
          this.gridData = []
          this.$nextTick(() => this.$refs.outboundNo.select())
          this.LoadingViewIsShow = false
        } else {
          this.$Notice.error({
            title: '揀貨確認失敗',
            desc: r.message,
            duration: 30
          })
          this.$nextTick(() => this.$refs.product.select())
          this.LoadingViewIsShow = false
        }
      })
    }
  },
  created () {
    //
    this.$nextTick(() => this.$refs.outboundNo.focus())
    this.getProductQualityFilterData()
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: hidden;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    white-space: nowrap;
  }
  .white-bg-input {
    display: block;
    width: 100%;
    font-size: 24px;
    color: #3c3c3c;
    padding: 6.5px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: 1px solid transparent;
    &.dark {
      background: #fff;
    }
    &.light {
      background: #eceff2;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 305px);
  }
}
.pickingModal {
  .modal-body {
    width: 100%;
    padding: 0 48px 24px;
    position: relative;
    .conten-box {
      flex: 1;
    }
    ul {
      .lable {
        color: #3c3c3c;
        width: 111px;
        text-align: right;
        display: flex;
        margin-right: 8px;
        white-space: nowrap;
      }
      .value {
        color: #118cf8;
      }
      li {
        display: flex;
        font-family: PingFangTC;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 16px;
        min-height: 36px;
      }
    }
    .white-bg-input {
      display: block;
      width: 100%;
      font-size: 24px;
      color: #3c3c3c;
      padding: 6.5px 16px;
      border: 1px solid #ACACAC;
      border-radius: 8px;
      outline: 1px solid transparent;
    }
  }
}
</style>
