<template>
  <div class="page-content">
    <h1>Demo item 2 - 2</h1>
  </div>
</template>

<script>
export default {
  name: 'DemoItem2to2',
  props: [],
  components: {},
  data () {
    //
    return {}
  },
  watch: {},
  methods: {},
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.page-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
</style>
