<template>
  <div class="page-content">
    <h1>Demo item 2 - 1</h1>
    <div class="hello" ref="chartdiv1"></div>
  </div>
</template>

<script>
import * as am4core from '@amcharts/amcharts4/core'
import * as am4maps from '@amcharts/amcharts4/maps'
import am4geodataWorldLow from '@amcharts/amcharts4-geodata/worldLow'
import am4themes from '@amcharts/amcharts4/themes/animated'

am4core.useTheme(am4themes)
export default {
  name: 'DemoItem2to1',
  props: [],
  components: {},
  data () {
    //
    return {
      value4: ''
    }
  },
  watch: {},
  methods: {},
  created () {
    //
  },
  mounted () {
    // Define marker path
    let targetSVG = 'M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z'
    // Create map instance
    let chart = am4core.create(this.$refs.chartdiv1, am4maps.MapChart)
    let interfaceColors = new am4core.InterfaceColorSet()

    // Set map definition
    chart.geodata = am4geodataWorldLow

    // Set projection
    chart.projection = new am4maps.projections.Mercator()

    // Add zoom control
    chart.zoomControl = new am4maps.ZoomControl()

    // Set initial zoom
    chart.homeZoomLevel = 2.5
    chart.homeGeoPoint = {
      latitude: 51,
      longitude: -23
    }

    // Create map polygon series
    let polygonSeries = chart.series.push(new am4maps.MapPolygonSeries())
    polygonSeries.exclude = ['AQ']
    polygonSeries.useGeodata = true
    polygonSeries.mapPolygons.template.nonScalingStroke = true

    // Add images
    let imageSeries = chart.series.push(new am4maps.MapImageSeries())
    let imageTemplate = imageSeries.mapImages.template
    imageTemplate.tooltipText = '{title}'
    imageTemplate.nonScaling = true

    let marker = imageTemplate.createChild(am4core.Sprite)
    marker.path = targetSVG
    marker.horizontalCenter = 'middle'
    marker.verticalCenter = 'middle'
    marker.scale = 0.7
    marker.fill = interfaceColors.getFor('alternativeBackground')

    imageTemplate.propertyFields.latitude = 'latitude'
    imageTemplate.propertyFields.longitude = 'longitude'
    imageSeries.data = [
      {
        id: 'london',
        svgPath: targetSVG,
        title: 'London',
        latitude: 51.5002,
        longitude: -0.1262,
        scale: 1
      },
      {
        svgPath: targetSVG,
        title: 'Brussels',
        latitude: 50.8371,
        longitude: 4.3676,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Prague',
        latitude: 50.0878,
        longitude: 14.4205,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Athens',
        latitude: 37.9792,
        longitude: 23.7166,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Reykjavik',
        latitude: 64.1353,
        longitude: -21.8952,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Dublin',
        latitude: 53.3441,
        longitude: -6.2675,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Oslo',
        latitude: 59.9138,
        longitude: 10.7387,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Lisbon',
        latitude: 38.7072,
        longitude: -9.1355,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Moscow',
        latitude: 55.7558,
        longitude: 37.6176,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Belgrade',
        latitude: 44.8048,
        longitude: 20.4781,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Bratislava',
        latitude: 48.2116,
        longitude: 17.1547,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Ljubljana',
        latitude: 46.0514,
        longitude: 14.506,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Madrid',
        latitude: 40.4167,
        longitude: -3.7033,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Stockholm',
        latitude: 59.3328,
        longitude: 18.0645,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Bern',
        latitude: 46.948,
        longitude: 7.4481,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Kiev',
        latitude: 50.4422,
        longitude: 30.5367,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'Paris',
        latitude: 48.8567,
        longitude: 2.351,
        scale: 0.5
      },
      {
        svgPath: targetSVG,
        title: 'New York',
        latitude: 40.43,
        longitude: -74,
        scale: 0.5
      }
    ]

    // Add lines
    let lineSeries = chart.series.push(new am4maps.MapLineSeries())
    lineSeries.dataFields.multiGeoLine = 'multiGeoLine'

    let lineTemplate = lineSeries.mapLines.template
    lineTemplate.nonScalingStroke = true
    lineTemplate.arrow.nonScaling = true
    lineTemplate.arrow.width = 4
    lineTemplate.arrow.height = 6
    lineTemplate.stroke = interfaceColors.getFor('alternativeBackground')
    lineTemplate.fill = interfaceColors.getFor('alternativeBackground')
    lineTemplate.line.strokeOpacity = 0.4

    lineSeries.data = [
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 50.4422, longitude: 30.5367 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 40.43, longitude: -74.0 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 64.1353, longitude: -21.8952 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 37.9792, longitude: 23.7166 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 38.7072, longitude: -9.1355 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 55.7558, longitude: 37.6176 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 44.8048, longitude: 20.4781 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 48.2116, longitude: 17.1547 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 46.0514, longitude: 14.506 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 40.4167, longitude: -3.7033 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 59.3328, longitude: 18.0645 }
          ]
        ]
      },
      {
        multiGeoLine: [
          [
            { latitude: 51.5002, longitude: -0.1262 },
            { latitude: 46.948, longitude: 7.4481 }
          ]
        ]
      }
    ]

    // let chart = am4core.create(this.$refs.chartdiv1, am4charts.XYChart)
    // chart.scrollbarX = new am4core.Scrollbar()
    // // Add data
    // chart.data = [
    //   {
    //     country: 'USA',
    //     visits: 3025
    //   },
    //   {
    //     country: 'China',
    //     visits: 1882
    //   },
    //   {
    //     country: 'Japan',
    //     visits: 1809
    //   },
    //   {
    //     country: 'Germany',
    //     visits: 1322
    //   },
    //   {
    //     country: 'UK',
    //     visits: 1122
    //   },
    //   {
    //     country: 'France',
    //     visits: 1114
    //   },
    //   {
    //     country: 'India',
    //     visits: 984
    //   },
    //   {
    //     country: 'Spain',
    //     visits: 711
    //   },
    //   {
    //     country: 'Netherlands',
    //     visits: 665
    //   },
    //   {
    //     country: 'Russia',
    //     visits: 580
    //   }
    // ]

    // // Create axes
    // let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis())
    // categoryAxis.dataFields.category = 'country'
    // categoryAxis.renderer.grid.template.location = 0
    // categoryAxis.renderer.minGridDistance = 30
    // categoryAxis.renderer.labels.template.horizontalCenter = 'right'
    // categoryAxis.renderer.labels.template.verticalCenter = 'middle'
    // categoryAxis.renderer.labels.template.rotation = 270
    // categoryAxis.tooltip.disabled = true
    // categoryAxis.renderer.minHeight = 110
    // chart.colors.list = [
    //   am4core.color('#000'),
    //   am4core.color('red'),
    //   am4core.color('#FF6F91'),
    //   am4core.color('#FF9671'),
    //   am4core.color('#FFC75F'),
    //   am4core.color('#F9F871')
    // ]

    // let valueAxis = chart.yAxes.push(new am4charts.ValueAxis())
    // valueAxis.renderer.minWidth = 50

    // // Create series
    // let series = chart.series.push(new am4charts.ColumnSeries())
    // series.sequencedInterpolation = true
    // series.dataFields.valueY = 'visits'
    // series.dataFields.categoryX = 'country'
    // series.tooltipText = '[{categoryX}: bold]{valueY}[/]'
    // series.columns.template.strokeWidth = 0

    // series.tooltip.pointerOrientation = 'vertical'

    // series.columns.template.column.cornerRadiusTopLeft = 10
    // series.columns.template.column.cornerRadiusTopRight = 10
    // series.columns.template.column.fillOpacity = 0.8

    // // on hover, make corner radiuses bigger
    // let hoverState = series.columns.template.column.states.create('hover')
    // hoverState.properties.cornerRadiusTopLeft = 0
    // hoverState.properties.cornerRadiusTopRight = 0
    // hoverState.properties.fillOpacity = 1

    // series.columns.template.adapter.add('fill', function(fill, target) {
    //   return chart.colors.getIndex(target.dataItem.index)
    // })

    // // Cursor
    // chart.cursor = new am4charts.XYCursor()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.page-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  .hello {
    height: 400px;
  }
}
h1 {
  padding: 1rem;
}
</style>
