<template>
  <div class="LoginBgView-box">
    <!-- <button type="button" @click="doorToggleEvent">車門開關</button> -->
    <!-- 只有圖 -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 959.99 542.91" width="1500">
      <g data-name="layout_1">
        <g id="wh_after">
          <polyline id="wh_bottom" class="cls-2" points="955.26 303.45 685.64 459.31 418.57 308.04 539.04 237.09"/>
          <polygon id="wh_after-2" data-name="wh_after" class="cls-2" points="689.4 2.8 418.57 158.41 418.57 308.04 689.4 152.44 689.4 2.8"/>
          <g id="Pallet__group2_3" data-name="Pallet_ group2_3">
            <polygon class="cls-3" points="585.46 272.39 581.11 274.9 581.11 274.33 581.11 274.33 581.11 269.88 585.46 272.39"/>
            <polygon class="cls-3" points="559.55 256.46 559.55 256.48 559.55 256.48 559.55 262.46 565.35 265.8 565.35 260.78 575.31 266.53 575.31 270.99 575.32 270.99 575.32 271.56 581.11 274.9 581.11 274.33 581.11 269.88 591.12 275.66 591.11 279.71 591.11 279.7 591.11 280.68 596.89 284.02 596.89 283.46 596.89 283.04 596.89 279 596.89 279 596.89 278.02 559.55 256.46"/>
            <polygon class="cls-3" points="628.48 259.8 628.48 264.82 618.49 270.59 618.48 265.57 612.7 268.91 612.7 273.93 602.7 279.69 602.7 274.68 596.89 278.02 596.89 283.04 596.89 284 596.89 284.02 634.27 262.46 634.27 262.43 634.27 261.48 634.27 256.46 628.48 259.8"/>
            <polygon class="cls-3" points="596.89 277.53 591.12 274.19 591.13 273.23 595.64 270.62 594.37 269.89 589.02 272.98 589.02 272.98 583.23 269.64 583.24 268.67 583.23 268.66 587.74 266.06 586.49 265.34 581.13 268.43 581.13 268.43 575.34 265.08 575.34 264.11 575.35 264.11 579.86 261.51 578.59 260.78 573.24 263.87 573.24 263.87 573.24 263.87 573.24 263.87 573.24 263.87 567.45 260.53 567.45 259.56 567.45 259.56 567.45 259.56 567.45 259.55 567.46 259.56 571.96 256.95 570.69 256.22 565.35 259.31 565.35 259.31 565.34 259.31 565.33 259.31 565.33 259.31 559.98 256.22 559.55 256.47 596.89 278.03 602.69 274.69 602.25 274.44 596.89 277.53"/>
            <polygon class="cls-3" points="595.66 252.39 594.39 251.66 588.6 255 589.87 255.73 595.66 252.39"/>
            <polygon class="cls-3" points="586.49 247.1 580.7 250.44 581.97 251.17 587.76 247.83 586.49 247.1"/>
            <polygon class="cls-3" points="612.27 268.66 612.7 268.91 618.49 265.57 618.06 265.33 612.27 268.66"/>
            <polygon class="cls-3" points="603.54 256.94 602.29 256.22 596.5 259.56 597.75 260.28 603.54 256.94"/>
            <polygon class="cls-3" points="610.16 260.77 604.38 264.11 605.65 264.84 611.43 261.5 610.16 260.77"/>
            <polygon class="cls-3" points="589.87 255.73 588.6 255 587.76 255.49 589.02 256.22 589.87 255.73"/>
            <polygon class="cls-3" points="597.75 260.28 596.5 259.56 595.65 260.05 596.9 260.77 597.75 260.28"/>
            <polygon class="cls-3" points="580.7 250.44 579.86 250.93 581.13 251.66 581.97 251.18 580.7 250.44"/>
            <polygon class="cls-3" points="604.38 264.11 603.53 264.6 604.81 265.33 605.65 264.84 604.38 264.11"/>
            <polygon class="cls-3" points="596.89 276.56 634.27 255 628.48 251.66 591.13 273.23 596.89 276.56"/>
            <polygon class="cls-3" points="596.89 276.56 596.89 277.53 591.12 274.19 591.13 273.23 596.89 276.56"/>
            <polygon class="cls-3" points="596.89 276.56 596.89 277.53 634.27 255.97 634.27 255 596.89 276.56"/>
            <polygon class="cls-3" points="589.02 272.01 589.02 272.98 583.23 269.64 583.24 268.67 589.02 272.01"/>
            <polygon class="cls-3" points="589.02 272 626.38 250.44 620.59 247.1 583.23 268.66 589.02 272"/>
            <polygon class="cls-3" points="589.02 272 589.02 272.98 626.38 251.41 626.38 250.44 589.02 272"/>
            <polygon class="cls-3" points="581.13 267.45 581.13 268.43 575.34 265.08 575.34 264.11 581.13 267.45"/>
            <polygon class="cls-3" points="581.13 267.45 618.49 245.89 612.7 242.56 575.34 264.12 581.13 267.45"/>
            <polygon class="cls-3" points="581.13 267.45 581.13 268.43 618.49 246.86 618.49 245.89 581.13 267.45"/>
            <polygon class="cls-3" points="573.24 262.9 573.24 263.87 567.45 260.53 567.45 259.55 573.24 262.9"/>
            <polygon class="cls-3" points="573.24 262.9 610.59 241.33 604.8 237.99 567.45 259.56 573.24 262.9"/>
            <polygon class="cls-3" points="573.24 262.9 573.24 263.87 610.6 242.31 610.6 241.33 573.24 262.9"/>
            <polygon class="cls-3" points="565.35 258.34 565.35 259.31 559.55 255.97 559.55 255 565.35 258.34"/>
            <polygon class="cls-3" points="565.34 258.34 602.69 236.78 596.91 233.44 559.55 255 565.34 258.34"/>
            <polygon class="cls-3" points="565.33 258.34 565.33 259.31 602.69 237.75 602.69 236.77 565.33 258.34"/>
            <polygon class="cls-3" points="602.28 237.99 596.49 241.33 597.76 242.06 603.55 238.72 602.28 237.99"/>
            <polygon class="cls-3" points="619.33 247.83 618.07 247.1 612.29 250.44 613.54 251.16 619.33 247.83"/>
            <polygon class="cls-3" points="611.45 243.28 610.18 242.55 604.39 245.88 605.66 246.62 611.45 243.28"/>
            <polygon class="cls-3" points="628.07 259.55 628.49 259.79 634.27 256.45 633.86 256.21 628.07 259.55"/>
            <polygon class="cls-3" points="625.96 251.65 620.17 254.99 621.44 255.72 627.22 252.38 625.96 251.65"/>
            <polygon class="cls-3" points="607.8 271.22 612.7 273.93 612.7 268.91 612.27 268.66 607.8 271.22"/>
            <polygon class="cls-3" points="628.48 264.82 623.65 262.1 628.07 259.55 628.49 259.79 628.48 264.82"/>
            <polygon class="cls-3" points="605.65 246.63 604.38 245.89 603.54 246.38 604.81 247.11 605.65 246.63"/>
            <polygon class="cls-3" points="613.53 251.17 612.28 250.45 611.43 250.94 612.69 251.66 613.53 251.17"/>
            <polygon class="cls-3" points="597.75 242.06 596.48 241.33 595.64 241.82 596.91 242.55 597.75 242.06"/>
            <polygon class="cls-3" points="621.43 255.73 620.16 255 619.32 255.49 620.59 256.22 621.43 255.73"/>
            <polygon class="cls-3" points="565.35 260.78 569.7 263.29 565.35 265.8 565.35 260.78"/>
            <polygon class="cls-3" points="602.7 274.68 602.7 279.69 612.7 273.93 607.82 271.23 602.25 274.44 602.68 274.69 602.7 274.68"/>
            <polygon class="cls-3" points="618.48 265.58 618.49 270.59 628.48 264.82 623.65 262.1 618.06 265.33 618.49 265.57 618.48 265.58"/>
            <polygon class="cls-4" points="596.97 238.58 596.97 255.03 578.57 244.4 578.57 227.95 596.97 238.58"/>
            <polygon class="cls-5" points="596.97 238.58 596.97 255.03 615.4 244.4 615.4 227.94 596.97 238.58"/>
            <polygon class="cls-6" points="615.4 227.97 596.97 238.58 578.57 227.95 596.93 217.3 615.4 227.97"/>
            <polygon class="cls-4" points="615.83 249.64 615.83 266.1 597.42 255.46 597.42 239.01 615.83 249.64"/>
            <polygon class="cls-5" points="615.83 249.64 615.83 266.1 634.25 255.46 634.25 239.01 615.83 249.64"/>
            <polygon class="cls-6" points="634.25 239.01 615.83 249.64 597.42 239.01 615.78 228.36 634.25 239.01"/>
            <polygon class="cls-5" points="577.92 249.64 577.92 266.1 596.35 255.46 596.35 239.01 577.92 249.64"/>
            <polygon class="cls-4" points="577.92 249.64 577.92 266.1 559.52 255.46 559.52 239.01 577.92 249.64"/>
            <polygon class="cls-6" points="596.35 239.01 577.92 249.64 559.52 239.01 577.91 228.36 596.35 239.01"/>
            <polygon class="cls-4" points="596.88 260.58 596.88 277.04 578.57 266.4 578.57 249.95 596.88 260.58"/>
            <polygon class="cls-5" points="596.88 260.58 596.88 277.04 615.4 266.4 615.4 249.94 596.88 260.58"/>
            <polygon class="cls-6" points="615.4 249.97 596.88 260.58 578.57 249.95 596.96 239.3 615.4 249.97"/>
            <polygon class="cls-4" points="596.97 221.58 596.97 238.03 578.57 227.4 578.57 210.95 596.97 221.58"/>
            <polygon class="cls-5" points="596.97 221.58 596.97 238.03 615.4 227.4 615.4 210.94 596.97 221.58"/>
            <polygon class="cls-6" points="615.4 210.97 596.97 221.58 578.57 210.95 596.93 200.3 615.4 210.97"/>
            <polygon class="cls-4" points="615.83 232.64 615.83 249.1 597.42 238.46 597.42 222.01 615.83 232.64"/>
            <polygon class="cls-5" points="615.83 232.64 615.83 249.1 634.25 238.46 634.25 222.01 615.83 232.64"/>
            <polygon class="cls-6" points="634.25 222.01 615.83 232.64 597.42 222.01 615.78 211.36 634.25 222.01"/>
            <polygon class="cls-5" points="577.92 232.64 577.92 249.1 596.35 238.46 596.35 222.01 577.92 232.64"/>
            <polygon class="cls-4" points="577.92 232.64 577.92 249.1 559.52 238.46 559.52 222.01 577.92 232.64"/>
            <polygon class="cls-6" points="596.35 222.01 577.92 232.64 559.52 222.01 577.91 211.36 596.35 222.01"/>
            <polygon class="cls-4" points="596.88 243.58 596.88 260.04 578.57 249.4 578.57 232.95 596.88 243.58"/>
            <polygon class="cls-5" points="596.88 243.58 596.88 260.04 615.4 249.4 615.4 232.94 596.88 243.58"/>
            <polygon class="cls-6" points="615.4 232.97 596.88 243.58 578.57 232.95 596.96 222.3 615.4 232.97"/>
          </g>
          <g id="group2_2">
            <polygon class="cls-3" points="535.46 300.39 531.11 302.9 531.11 302.33 531.11 302.33 531.11 297.88 535.46 300.39"/>
            <polygon class="cls-3" points="509.55 284.46 509.55 284.48 509.55 284.48 509.55 290.46 515.35 293.8 515.35 288.78 525.31 294.53 525.31 298.99 525.32 298.99 525.32 299.56 531.11 302.9 531.11 302.33 531.11 297.88 541.12 303.66 541.11 307.71 541.11 307.7 541.11 308.68 546.89 312.02 546.89 311.46 546.89 311.04 546.89 307 546.89 307 546.89 306.02 509.55 284.46"/>
            <polygon class="cls-3" points="578.48 287.8 578.48 292.82 568.49 298.59 568.48 293.57 562.7 296.91 562.7 301.93 552.7 307.69 552.7 302.68 546.89 306.02 546.89 311.04 546.89 312 546.89 312.02 584.27 290.46 584.27 290.43 584.27 289.48 584.27 284.46 578.48 287.8"/>
            <polygon class="cls-3" points="546.89 305.53 541.12 302.19 541.13 301.23 545.64 298.62 544.37 297.89 539.02 300.98 539.02 300.98 533.23 297.64 533.24 296.67 533.23 296.66 537.74 294.06 536.49 293.34 531.13 296.43 531.13 296.43 525.34 293.08 525.34 292.11 525.35 292.11 529.86 289.51 528.59 288.78 523.24 291.87 523.24 291.87 523.24 291.87 523.24 291.87 523.24 291.87 517.45 288.53 517.45 287.56 517.45 287.56 517.45 287.56 517.45 287.55 517.46 287.56 521.96 284.95 520.69 284.22 515.35 287.31 515.35 287.31 515.34 287.31 515.33 287.31 515.33 287.31 509.98 284.22 509.55 284.47 546.89 306.03 552.69 302.69 552.25 302.44 546.89 305.53"/>
            <polygon class="cls-3" points="545.66 280.39 544.39 279.66 538.6 283 539.87 283.73 545.66 280.39"/>
            <polygon class="cls-3" points="536.49 275.1 530.7 278.44 531.97 279.17 537.76 275.83 536.49 275.1"/>
            <polygon class="cls-3" points="562.27 296.66 562.7 296.91 568.49 293.57 568.06 293.33 562.27 296.66"/>
            <polygon class="cls-3" points="553.54 284.94 552.29 284.22 546.5 287.56 547.75 288.28 553.54 284.94"/>
            <polygon class="cls-3" points="560.16 288.77 554.38 292.11 555.65 292.84 561.43 289.5 560.16 288.77"/>
            <polygon class="cls-3" points="539.87 283.73 538.6 283 537.76 283.49 539.02 284.22 539.87 283.73"/>
            <polygon class="cls-3" points="547.75 288.28 546.5 287.56 545.65 288.05 546.9 288.77 547.75 288.28"/>
            <polygon class="cls-3" points="530.7 278.44 529.86 278.93 531.13 279.66 531.97 279.18 530.7 278.44"/>
            <polygon class="cls-3" points="554.38 292.11 553.53 292.6 554.81 293.33 555.65 292.84 554.38 292.11"/>
            <polygon class="cls-3" points="546.89 304.56 584.27 283 578.48 279.66 541.13 301.23 546.89 304.56"/>
            <polygon class="cls-3" points="546.89 304.56 546.89 305.53 541.12 302.19 541.13 301.23 546.89 304.56"/>
            <polygon class="cls-3" points="546.89 304.56 546.89 305.53 584.27 283.98 584.27 283 546.89 304.56"/>
            <polygon class="cls-3" points="539.02 300.01 539.02 300.98 533.23 297.64 533.24 296.67 539.02 300.01"/>
            <polygon class="cls-3" points="539.02 300 576.38 278.44 570.59 275.1 533.23 296.66 539.02 300"/>
            <polygon class="cls-3" points="539.02 300 539.02 300.98 576.38 279.41 576.38 278.44 539.02 300"/>
            <polygon class="cls-3" points="531.13 295.45 531.13 296.43 525.34 293.08 525.34 292.11 531.13 295.45"/>
            <polygon class="cls-3" points="531.13 295.45 568.49 273.89 562.7 270.56 525.34 292.12 531.13 295.45"/>
            <polygon class="cls-3" points="531.13 295.45 531.13 296.43 568.49 274.86 568.49 273.89 531.13 295.45"/>
            <polygon class="cls-3" points="523.24 290.9 523.24 291.87 517.45 288.53 517.45 287.55 523.24 290.9"/>
            <polygon class="cls-3" points="523.24 290.9 560.59 269.33 554.8 265.99 517.45 287.56 523.24 290.9"/>
            <polygon class="cls-3" points="523.24 290.9 523.24 291.87 560.6 270.31 560.6 269.33 523.24 290.9"/>
            <polygon class="cls-3" points="515.35 286.34 515.35 287.31 509.55 283.98 509.55 283 515.35 286.34"/>
            <polygon class="cls-3" points="515.34 286.34 552.69 264.78 546.91 261.44 509.55 283 515.34 286.34"/>
            <polygon class="cls-3" points="515.33 286.34 515.33 287.31 552.69 265.75 552.69 264.77 515.33 286.34"/>
            <polygon class="cls-3" points="552.28 265.99 546.49 269.33 547.76 270.06 553.55 266.72 552.28 265.99"/>
            <polygon class="cls-3" points="569.33 275.83 568.07 275.1 562.29 278.44 563.54 279.17 569.33 275.83"/>
            <polygon class="cls-3" points="561.45 271.28 560.18 270.55 554.39 273.88 555.66 274.62 561.45 271.28"/>
            <polygon class="cls-3" points="578.07 287.55 578.49 287.79 584.27 284.45 583.86 284.21 578.07 287.55"/>
            <polygon class="cls-3" points="575.96 279.65 570.17 282.99 571.44 283.72 577.22 280.38 575.96 279.65"/>
            <polygon class="cls-3" points="557.8 299.22 562.7 301.93 562.7 296.91 562.27 296.66 557.8 299.22"/>
            <polygon class="cls-3" points="578.48 292.82 573.65 290.1 578.07 287.55 578.49 287.79 578.48 292.82"/>
            <polygon class="cls-3" points="555.65 274.63 554.38 273.89 553.54 274.38 554.81 275.11 555.65 274.63"/>
            <polygon class="cls-3" points="563.53 279.17 562.28 278.45 561.43 278.94 562.69 279.66 563.53 279.17"/>
            <polygon class="cls-3" points="547.75 270.06 546.48 269.33 545.64 269.82 546.91 270.55 547.75 270.06"/>
            <polygon class="cls-3" points="571.43 283.73 570.16 283 569.32 283.49 570.59 284.22 571.43 283.73"/>
            <polygon class="cls-3" points="515.35 288.78 519.7 291.29 515.35 293.8 515.35 288.78"/>
            <polygon class="cls-3" points="552.7 302.68 552.7 307.69 562.7 301.93 557.82 299.23 552.25 302.44 552.68 302.69 552.7 302.68"/>
            <polygon class="cls-3" points="568.48 293.58 568.49 298.59 578.48 292.82 573.65 290.1 568.06 293.33 568.49 293.57 568.48 293.58"/>
            <polygon class="cls-4" points="546.97 266.58 546.97 283.03 528.57 272.4 528.57 255.95 546.97 266.58"/>
            <polygon class="cls-5" points="546.97 266.58 546.97 283.03 565.4 272.4 565.4 255.94 546.97 266.58"/>
            <polygon class="cls-6" points="565.4 255.97 546.97 266.58 528.57 255.95 546.93 245.3 565.4 255.97"/>
            <polygon class="cls-4" points="565.83 277.64 565.83 294.1 547.42 283.46 547.42 267.01 565.83 277.64"/>
            <polygon class="cls-5" points="565.83 277.64 565.83 294.1 584.25 283.46 584.25 267.01 565.83 277.64"/>
            <polygon class="cls-6" points="584.25 267.01 565.83 277.64 547.42 267.01 565.78 256.36 584.25 267.01"/>
            <polygon class="cls-5" points="527.92 277.64 527.92 294.1 546.35 283.46 546.35 267.01 527.92 277.64"/>
            <polygon class="cls-4" points="527.92 277.64 527.92 294.1 509.52 283.46 509.52 267.01 527.92 277.64"/>
            <polygon class="cls-6" points="546.35 267.01 527.92 277.64 509.52 267.01 527.91 256.36 546.35 267.01"/>
            <polygon class="cls-4" points="546.88 288.58 546.88 305.04 528.57 294.4 528.57 277.95 546.88 288.58"/>
            <polygon class="cls-5" points="546.88 288.58 546.88 305.04 565.4 294.4 565.4 277.94 546.88 288.58"/>
            <polygon class="cls-6" points="565.4 277.97 546.88 288.58 528.57 277.95 546.96 267.3 565.4 277.97"/>
            <polygon class="cls-4" points="546.97 249.58 546.97 266.03 528.57 255.4 528.57 238.95 546.97 249.58"/>
            <polygon class="cls-5" points="546.97 249.58 546.97 266.03 565.4 255.4 565.4 238.94 546.97 249.58"/>
            <polygon class="cls-6" points="565.4 238.97 546.97 249.58 528.57 238.95 546.93 228.3 565.4 238.97"/>
            <polygon class="cls-4" points="565.83 260.64 565.83 277.1 547.42 266.46 547.42 250.01 565.83 260.64"/>
            <polygon class="cls-5" points="565.83 260.64 565.83 277.1 584.25 266.46 584.25 250.01 565.83 260.64"/>
            <polygon class="cls-6" points="584.25 250.01 565.83 260.64 547.42 250.01 565.78 239.36 584.25 250.01"/>
            <polygon class="cls-5" points="527.92 260.64 527.92 277.1 546.35 266.46 546.35 250.01 527.92 260.64"/>
            <polygon class="cls-4" points="527.92 260.64 527.92 277.1 509.52 266.46 509.52 250.01 527.92 260.64"/>
            <polygon class="cls-6" points="546.35 250.01 527.92 260.64 509.52 250.01 527.91 239.36 546.35 250.01"/>
            <polygon class="cls-4" points="546.88 271.58 546.88 288.04 528.57 277.4 528.57 260.95 546.88 271.58"/>
            <polygon class="cls-5" points="546.88 271.58 546.88 288.04 565.4 277.4 565.4 260.94 546.88 271.58"/>
            <polygon class="cls-6" points="565.4 260.97 546.88 271.58 528.57 260.95 546.96 250.3 565.4 260.97"/>
          </g>
          <g id="group2_1">
            <polygon class="cls-3" points="486.46 328.39 482.11 330.9 482.11 330.33 482.11 330.33 482.11 325.88 486.46 328.39"/>
            <polygon class="cls-3" points="460.55 312.46 460.55 312.48 460.55 312.48 460.55 318.46 466.35 321.8 466.35 316.78 476.31 322.53 476.31 326.99 476.31 326.99 476.31 327.56 482.11 330.9 482.11 330.33 482.11 325.88 492.12 331.66 492.11 335.71 492.11 335.7 492.11 336.68 497.89 340.02 497.89 339.46 497.89 339.04 497.89 335 497.89 335 497.89 334.02 460.55 312.46"/>
            <polygon class="cls-3" points="529.48 315.8 529.48 320.82 519.49 326.59 519.48 321.57 513.7 324.91 513.7 329.93 503.7 335.69 503.7 330.68 497.89 334.02 497.89 339.04 497.89 340 497.89 340.02 535.27 318.46 535.27 318.43 535.27 317.48 535.27 312.46 529.48 315.8"/>
            <polygon class="cls-3" points="497.89 333.53 492.12 330.19 492.13 329.23 496.64 326.62 495.37 325.89 490.02 328.98 490.02 328.98 484.23 325.64 484.24 324.67 484.23 324.66 488.74 322.06 487.49 321.34 482.13 324.43 482.13 324.43 476.34 321.08 476.34 320.11 476.35 320.11 480.86 317.51 479.59 316.78 474.24 319.87 474.24 319.87 474.24 319.87 474.24 319.87 474.24 319.87 468.45 316.53 468.45 315.56 468.45 315.56 468.45 315.56 468.45 315.55 468.45 315.56 472.96 312.95 471.69 312.22 466.35 315.31 466.35 315.31 466.34 315.31 466.33 315.31 466.33 315.31 460.98 312.22 460.55 312.47 497.89 334.03 503.69 330.69 503.25 330.44 497.89 333.53"/>
            <polygon class="cls-3" points="496.66 308.39 495.39 307.66 489.6 311 490.87 311.73 496.66 308.39"/>
            <polygon class="cls-3" points="487.49 303.1 481.7 306.44 482.97 307.17 488.76 303.83 487.49 303.1"/>
            <polygon class="cls-3" points="513.27 324.66 513.7 324.91 519.49 321.57 519.06 321.33 513.27 324.66"/>
            <polygon class="cls-3" points="504.54 312.94 503.29 312.22 497.5 315.56 498.75 316.28 504.54 312.94"/>
            <polygon class="cls-3" points="511.17 316.77 505.38 320.11 506.65 320.84 512.43 317.5 511.17 316.77"/>
            <polygon class="cls-3" points="490.87 311.73 489.6 311 488.76 311.49 490.02 312.22 490.87 311.73"/>
            <polygon class="cls-3" points="498.75 316.28 497.5 315.56 496.65 316.05 497.9 316.77 498.75 316.28"/>
            <polygon class="cls-3" points="481.7 306.44 480.86 306.93 482.13 307.66 482.97 307.18 481.7 306.44"/>
            <polygon class="cls-3" points="505.38 320.11 504.53 320.6 505.81 321.33 506.65 320.84 505.38 320.11"/>
            <polygon class="cls-3" points="497.89 332.56 535.27 311 529.48 307.66 492.13 329.23 497.89 332.56"/>
            <polygon class="cls-3" points="497.89 332.56 497.89 333.53 492.12 330.19 492.13 329.23 497.89 332.56"/>
            <polygon class="cls-3" points="497.89 332.56 497.89 333.53 535.27 311.98 535.27 311 497.89 332.56"/>
            <polygon class="cls-3" points="490.02 328.01 490.02 328.98 484.23 325.64 484.24 324.67 490.02 328.01"/>
            <polygon class="cls-3" points="490.02 328 527.38 306.44 521.59 303.1 484.23 324.66 490.02 328"/>
            <polygon class="cls-3" points="490.02 328 490.02 328.98 527.38 307.41 527.38 306.44 490.02 328"/>
            <polygon class="cls-3" points="482.13 323.45 482.13 324.43 476.34 321.08 476.34 320.11 482.13 323.45"/>
            <polygon class="cls-3" points="482.13 323.45 519.49 301.89 513.7 298.56 476.34 320.12 482.13 323.45"/>
            <polygon class="cls-3" points="482.13 323.45 482.13 324.43 519.49 302.86 519.49 301.89 482.13 323.45"/>
            <polygon class="cls-3" points="474.24 318.9 474.24 319.87 468.45 316.53 468.45 315.55 474.24 318.9"/>
            <polygon class="cls-3" points="474.24 318.9 511.59 297.33 505.81 293.99 468.45 315.56 474.24 318.9"/>
            <polygon class="cls-3" points="474.24 318.9 474.24 319.87 511.6 298.31 511.6 297.33 474.24 318.9"/>
            <polygon class="cls-3" points="466.35 314.34 466.35 315.31 460.55 311.98 460.55 311 466.35 314.34"/>
            <polygon class="cls-3" points="466.34 314.34 503.69 292.78 497.91 289.44 460.55 311 466.34 314.34"/>
            <polygon class="cls-3" points="466.33 314.34 466.33 315.31 503.69 293.75 503.69 292.77 466.33 314.34"/>
            <polygon class="cls-3" points="503.28 293.99 497.49 297.33 498.76 298.06 504.55 294.72 503.28 293.99"/>
            <polygon class="cls-3" points="520.33 303.83 519.07 303.1 513.29 306.44 514.54 307.17 520.33 303.83"/>
            <polygon class="cls-3" points="512.45 299.28 511.18 298.55 505.39 301.88 506.66 302.62 512.45 299.28"/>
            <polygon class="cls-3" points="529.07 315.55 529.49 315.79 535.27 312.45 534.86 312.21 529.07 315.55"/>
            <polygon class="cls-3" points="526.96 307.65 521.17 310.99 522.44 311.72 528.22 308.38 526.96 307.65"/>
            <polygon class="cls-3" points="508.8 327.22 513.7 329.93 513.7 324.91 513.27 324.66 508.8 327.22"/>
            <polygon class="cls-3" points="529.48 320.82 524.65 318.1 529.07 315.55 529.49 315.79 529.48 320.82"/>
            <polygon class="cls-3" points="506.65 302.63 505.38 301.89 504.54 302.38 505.81 303.11 506.65 302.63"/>
            <polygon class="cls-3" points="514.53 307.17 513.28 306.45 512.43 306.94 513.69 307.66 514.53 307.17"/>
            <polygon class="cls-3" points="498.75 298.06 497.48 297.33 496.64 297.82 497.91 298.55 498.75 298.06"/>
            <polygon class="cls-3" points="522.43 311.73 521.16 311 520.32 311.49 521.59 312.22 522.43 311.73"/>
            <polygon class="cls-3" points="466.35 316.78 470.69 319.29 466.35 321.8 466.35 316.78"/>
            <polygon class="cls-3" points="503.7 330.68 503.7 335.69 513.7 329.93 508.82 327.23 503.25 330.44 503.68 330.69 503.7 330.68"/>
            <polygon class="cls-3" points="519.48 321.58 519.49 326.59 529.48 320.82 524.65 318.1 519.06 321.33 519.49 321.57 519.48 321.58"/>
            <polygon class="cls-4" points="497.97 294.58 497.97 311.03 479.56 300.4 479.56 283.95 497.97 294.58"/>
            <polygon class="cls-5" points="497.97 294.58 497.97 311.03 516.4 300.4 516.4 283.94 497.97 294.58"/>
            <polygon class="cls-6" points="516.4 283.96 497.97 294.58 479.56 283.95 497.93 273.3 516.4 283.96"/>
            <polygon class="cls-4" points="516.83 305.64 516.83 322.1 498.42 311.46 498.42 295.01 516.83 305.64"/>
            <polygon class="cls-5" points="516.83 305.64 516.83 322.1 535.25 311.46 535.25 295.01 516.83 305.64"/>
            <polygon class="cls-6" points="535.25 295.01 516.83 305.64 498.42 295.01 516.78 284.36 535.25 295.01"/>
            <polygon class="cls-5" points="478.92 305.64 478.92 322.1 497.35 311.46 497.35 295.01 478.92 305.64"/>
            <polygon class="cls-4" points="478.92 305.64 478.92 322.1 460.52 311.46 460.52 295.01 478.92 305.64"/>
            <polygon class="cls-6" points="497.35 295.01 478.92 305.64 460.52 295.01 478.91 284.36 497.35 295.01"/>
            <polygon class="cls-4" points="497.88 316.58 497.88 333.04 479.56 322.4 479.56 305.95 497.88 316.58"/>
            <polygon class="cls-5" points="497.88 316.58 497.88 333.04 516.4 322.4 516.4 305.94 497.88 316.58"/>
            <polygon class="cls-6" points="516.4 305.97 497.88 316.58 479.56 305.95 497.95 295.3 516.4 305.97"/>
            <polygon class="cls-4" points="497.97 277.58 497.97 294.03 479.56 283.4 479.56 266.95 497.97 277.58"/>
            <polygon class="cls-5" points="497.97 277.58 497.97 294.03 516.4 283.4 516.4 266.94 497.97 277.58"/>
            <polygon class="cls-6" points="516.4 266.96 497.97 277.58 479.56 266.95 497.93 256.3 516.4 266.96"/>
            <polygon class="cls-4" points="516.83 288.64 516.83 305.1 498.42 294.46 498.42 278.01 516.83 288.64"/>
            <polygon class="cls-5" points="516.83 288.64 516.83 305.1 535.25 294.46 535.25 278.01 516.83 288.64"/>
            <polygon class="cls-6" points="535.25 278.01 516.83 288.64 498.42 278.01 516.78 267.36 535.25 278.01"/>
            <polygon class="cls-5" points="478.92 288.64 478.92 305.1 497.35 294.46 497.35 278.01 478.92 288.64"/>
            <polygon class="cls-4" points="478.92 288.64 478.92 305.1 460.52 294.46 460.52 278.01 478.92 288.64"/>
            <polygon class="cls-6" points="497.35 278.01 478.92 288.64 460.52 278.01 478.91 267.36 497.35 278.01"/>
            <polygon class="cls-4" points="497.88 299.58 497.88 316.04 479.56 305.4 479.56 288.95 497.88 299.58"/>
            <polygon class="cls-5" points="497.88 299.58 497.88 316.04 516.4 305.4 516.4 288.94 497.88 299.58"/>
            <polygon class="cls-6" points="516.4 288.97 497.88 299.58 479.56 288.95 497.95 278.3 516.4 288.97"/>
          </g>
        </g>
        <g id="Stacker">
          <g id="Stacker_shado">
            <polygon class="cls-9" points="499.94 452.55 525.2 438.41 485.27 414.46 454.44 433.25 441.95 439.68 438.52 437.62 378.76 472.19 418.45 494.57 418.79 494.38 424.26 497.42 499.94 452.55"/>
            <path class="cls-9" d="M549,415.41l-22.32-14.69a9,9,0,0,0-9.11.09L477.88,421.3l39.35,18.21,32-21.18A1.8,1.8,0,0,0,549,415.41Z"/>
          </g>
          <g id="stick">
            <polygon class="cls-3" points="482.04 445.81 482.04 446.45 480.26 447.31 480.26 447.31 479.84 447.07 473.46 450.75 475.05 451.74 518.99 426.42 519 424.5 482.04 445.81"/>
            <polygon class="cls-3" points="482.04 440.5 482.04 445.81 519 424.5 513.91 421.67 481.63 440.27 482.04 440.5"/>
            <path class="cls-3" d="M476.28,445v1.21l-1.77,1-1-.6-3.81,2.27a4.08,4.08,0,0,1,1.49.48v0l.19.12.11.07,2,1.22,6.38-3.68L476.22,445Z"/>
            <polygon class="cls-3" points="469.59 435.14 471.22 436.11 503.67 417.41 503.68 415.5 469.59 435.14"/>
            <polygon class="cls-3" points="467.06 433.63 469.59 435.14 503.68 415.5 498.58 412.66 467.06 430.82 467.06 433.63"/>
          </g>
          <g id="Stacker_box">
            <g id="Pallet">
              <polygon class="cls-3" points="445.97 426.53 445.97 434.21 449.79 436.4 449.79 428.97 445.97 426.53"/>
              <polygon class="cls-3" points="462.8 436.2 462.8 443.88 466.62 446.07 466.62 438.64 462.8 436.2"/>
              <path class="cls-3" d="M483.45,448.31v7.43l37.71-21.68v-7.43Zm15.95-3.38L486,452.63v-4.26l13.38-7.73Zm18.86-10.8-13.41,7.69v-4.29l13.41-7.7Z"/>
              <polygon class="cls-3" points="479.63 445.87 479.63 453.55 483.45 455.74 483.45 448.31 479.63 445.87"/>
              <polygon class="cls-3" points="514.79 431.91 518.26 434.13 518.26 429.83 514.79 431.91"/>
              <polygon class="cls-3" points="495.93 442.71 499.4 444.93 499.4 440.64 495.93 442.71"/>
              <polygon class="cls-3" points="487.27 444 483.45 446.44 445.97 424.66 449.79 422.21 487.27 444"/>
              <polygon class="cls-3" points="483.45 446.44 483.45 448.31 445.97 426.53 445.97 424.66 483.45 446.44"/>
              <polygon class="cls-3" points="487.27 444 487.27 446.12 483.45 448.31 483.45 446.44 487.27 444"/>
              <polygon class="cls-3" points="495.74 439.12 491.92 441.57 454.44 419.78 458.26 417.34 495.74 439.12"/>
              <polygon class="cls-3" points="491.92 441.57 491.92 443.44 454.44 421.65 454.44 419.78 491.92 441.57"/>
              <polygon class="cls-3" points="495.74 439.12 495.74 441.25 491.92 443.44 491.92 441.57 495.74 439.12"/>
              <polygon class="cls-3" points="504.21 434.25 500.39 436.7 462.91 414.91 466.73 412.46 504.21 434.25"/>
              <polygon class="cls-3" points="500.39 436.7 500.39 438.57 462.91 416.78 462.91 414.91 500.39 436.7"/>
              <polygon class="cls-3" points="504.21 434.25 504.21 436.38 500.39 438.57 500.39 436.7 504.21 434.25"/>
              <polygon class="cls-3" points="512.69 429.38 508.87 431.82 471.38 410.04 475.2 407.59 512.69 429.38"/>
              <polygon class="cls-3" points="508.87 431.82 508.87 433.69 471.38 411.91 471.38 410.04 508.87 431.82"/>
              <polygon class="cls-3" points="512.69 429.38 512.69 431.5 508.87 433.69 508.87 431.82 512.69 429.38"/>
              <polygon class="cls-3" points="521.16 424.5 517.34 426.95 479.85 405.16 483.68 402.72 521.16 424.5"/>
              <polygon class="cls-3" points="517.34 426.95 517.34 428.82 479.85 407.03 479.85 405.16 517.34 426.95"/>
              <polygon class="cls-3" points="521.16 424.5 521.16 426.63 517.34 428.82 517.34 426.95 521.16 424.5"/>
              <polygon class="cls-3" points="487.27 444 487.27 446.12 491.92 443.44 487.91 441.11 485.09 442.73 487.27 444"/>
              <polygon class="cls-3" points="500.39 438.57 496.38 436.23 493.56 437.86 495.74 439.12 495.74 441.24 500.39 438.57"/>
              <polygon class="cls-3" points="517.34 428.82 513.33 426.49 510.51 428.11 512.69 429.38 512.69 431.5 517.34 428.82"/>
              <polygon class="cls-3" points="508.87 433.69 504.85 431.36 502.03 432.98 504.21 434.25 504.21 436.37 508.87 433.69"/>
              <polygon class="cls-3" points="479.65 426.51 476.83 428.13 480.84 430.46 483.66 428.84 479.65 426.51"/>
              <polygon class="cls-3" points="471.17 431.38 468.35 433 472.37 435.33 475.19 433.71 471.17 431.38"/>
              <polygon class="cls-3" points="496.59 416.76 493.77 418.38 497.79 420.72 500.61 419.1 496.59 416.76"/>
              <polygon class="cls-3" points="488.12 421.64 485.3 423.26 489.32 425.59 492.13 423.97 488.12 421.64"/>
              <polygon class="cls-3" points="476.5 434.48 475.19 433.71 472.37 435.33 473.69 436.1 476.5 434.48"/>
              <polygon class="cls-3" points="493.46 424.74 492.13 423.97 489.32 425.59 490.64 426.36 493.46 424.74"/>
              <polygon class="cls-3" points="497.79 420.72 499.12 421.49 501.43 420.16 501.43 422.83 504.21 424.45 504.33 424.39 504.33 421.26 500.61 419.1 497.79 420.72"/>
              <polygon class="cls-3" points="494.35 428.52 495.74 429.32 498.56 427.7 497.17 426.9 494.35 428.52"/>
              <polygon class="cls-3" points="488.02 432.15 488.02 431.38 483.66 428.84 480.84 430.46 482.14 431.22 482.57 430.97 482.57 431.46 487.27 434.2 490.09 432.58 488.69 431.77 488.02 432.15"/>
              <polygon class="cls-3" points="477.38 438.25 478.79 439.07 481.61 437.45 480.2 436.63 477.38 438.25"/>
              <polygon class="cls-3" points="469.19 442.96 469.19 440.03 466.72 438.59 466.62 438.64 466.62 446.07 473.14 442.32 471.73 441.5 469.19 442.96"/>
              <polygon class="cls-3" points="454.44 421.65 451.62 423.27 455.64 425.61 458.45 423.99 454.44 421.65"/>
              <polygon class="cls-3" points="462.91 416.78 460.09 418.4 464.11 420.74 466.93 419.12 462.91 416.78"/>
              <polygon class="cls-3" points="471.38 411.91 468.57 413.53 472.58 415.87 475.4 414.24 471.38 411.91"/>
              <polygon class="cls-3" points="479.86 407.04 477.04 408.66 481.06 410.99 483.88 409.37 479.86 407.04"/>
              <polygon class="cls-3" points="460.65 428.52 462.06 429.34 464.88 427.72 463.46 426.9 460.65 428.52"/>
              <polygon class="cls-3" points="477.62 418.79 479.01 419.6 481.83 417.98 480.44 417.17 477.62 418.79"/>
              <polygon class="cls-3" points="471.19 422.48 471.19 421.59 466.93 419.12 464.11 420.74 465.41 421.49 465.74 421.3 465.74 421.68 470.53 424.47 473.35 422.85 471.96 422.04 471.19 422.48"/>
              <polygon class="cls-3" points="476.73 415.01 475.4 414.24 472.58 415.87 473.9 416.63 476.73 415.01"/>
              <polygon class="cls-3" points="459.76 424.75 458.45 423.99 455.64 425.61 456.95 426.37 459.76 424.75"/>
              <polygon class="cls-3" points="481.06 410.99 482.38 411.76 484.6 410.49 484.6 413.05 487.48 414.73 487.5 414.72 487.5 411.48 483.88 409.37 481.06 410.99"/>
              <polygon class="cls-3" points="452.36 433.29 452.36 430.24 449.98 428.86 449.79 428.97 449.79 436.4 456.41 432.59 454.99 431.77 452.36 433.29"/>
            </g>
            <polygon class="cls-4" points="483.03 406.59 483.03 423.05 464.62 412.41 464.62 395.96 483.03 406.59"/>
            <polygon class="cls-5" points="483.03 406.59 483.03 423.05 501.46 412.41 501.46 395.95 483.03 406.59"/>
            <polygon class="cls-6" points="501.46 395.98 483.03 406.59 464.62 395.96 482.99 385.31 501.46 395.98"/>
            <polygon class="cls-4" points="501.88 417.66 501.88 434.11 483.48 423.47 483.48 407.02 501.88 417.66"/>
            <polygon class="cls-5" points="501.88 417.66 501.88 434.11 520.31 423.47 520.31 407.02 501.88 417.66"/>
            <polygon class="cls-6" points="520.31 407.02 501.88 417.66 483.48 407.02 501.84 396.38 520.31 407.02"/>
            <polygon class="cls-5" points="463.98 417.66 463.98 434.11 482.41 423.47 482.41 407.02 463.98 417.66"/>
            <polygon class="cls-4" points="463.98 417.66 463.98 434.11 445.58 423.47 445.58 407.02 463.98 417.66"/>
            <polygon class="cls-6" points="482.41 407.02 463.98 417.66 445.58 407.02 463.97 396.38 482.41 407.02"/>
            <polygon class="cls-4" points="482.94 428.59 482.94 445.05 464.62 434.41 464.62 417.96 482.94 428.59"/>
            <polygon class="cls-5" points="482.94 428.59 482.94 445.05 501.46 434.41 501.46 417.95 482.94 428.59"/>
            <polygon class="cls-6" points="501.46 417.98 482.94 428.59 464.62 417.96 483.01 407.32 501.46 417.98"/>
            <polygon class="cls-4" points="483.03 389.59 483.03 406.05 464.62 395.41 464.62 378.96 483.03 389.59"/>
            <polygon class="cls-5" points="483.03 389.59 483.03 406.05 501.46 395.41 501.46 378.95 483.03 389.59"/>
            <polygon class="cls-6" points="501.46 378.98 483.03 389.59 464.62 378.96 482.99 368.31 501.46 378.98"/>
            <polygon class="cls-4" points="501.88 400.66 501.88 417.11 483.48 406.47 483.48 390.02 501.88 400.66"/>
            <polygon class="cls-5" points="501.88 400.66 501.88 417.11 520.31 406.47 520.31 390.02 501.88 400.66"/>
            <polygon class="cls-6" points="520.31 390.02 501.88 400.66 483.48 390.02 501.84 379.38 520.31 390.02"/>
            <polygon class="cls-5" points="463.98 400.66 463.98 417.11 482.41 406.47 482.41 390.02 463.98 400.66"/>
            <polygon class="cls-4" points="463.98 400.66 463.98 417.11 445.58 406.47 445.58 390.02 463.98 400.66"/>
            <polygon class="cls-6" points="482.41 390.02 463.98 400.66 445.58 390.02 463.97 379.38 482.41 390.02"/>
            <polygon class="cls-4" points="482.94 411.59 482.94 428.05 464.62 417.41 464.62 400.96 482.94 411.59"/>
            <polygon class="cls-5" points="482.94 411.59 482.94 428.05 501.46 417.41 501.46 400.95 482.94 411.59"/>
            <polygon class="cls-6" points="501.46 400.98 482.94 411.59 464.62 400.96 483.01 390.32 501.46 400.98"/>
          </g>
          <g id="Stacker_main">
            <g id="main_car">
              <polygon class="cls-3" points="467.76 374.62 465.33 376.17 446.75 365.07 449.18 363.52 467.76 374.62"/>
              <polygon class="cls-3" points="465.33 376.17 465.33 381.06 446.75 369.96 446.75 365.07 465.33 376.17"/>
              <polygon class="cls-3" points="467.76 374.62 467.76 379.51 465.33 381.06 465.33 376.17 467.76 374.62"/>
              <path class="cls-10" d="M465.39,465.69c.27,4.26,3.8,5.93,7.87,3.71s7.17-7.49,6.9-11.75-3.8-5.92-7.87-3.7S465.13,461.44,465.39,465.69Z"/>
              <path class="cls-10" d="M467.46,464.57c.19,3.07,2.73,4.27,5.66,2.67s5.17-5.4,5-8.46-2.74-4.27-5.67-2.67S467.27,461.5,467.46,464.57Z"/>
              <path class="cls-10" d="M468.85,463.46c.14,2.12,1.89,3,3.95,1.86a7,7,0,0,0,3.46-5.9c-.12-2.07-1.83-2.93-3.81-1.91a.24.24,0,0,0-.13.05,6.94,6.94,0,0,0-3.43,5.2A3.25,3.25,0,0,0,468.85,463.46Z"/>
              <path class="cls-10" d="M435.83,477.25h0l-6.14-3.8-11.44,5.6a11.84,11.84,0,0,0-1.61,6.25,5,5,0,0,0,1.95,4h0l.13.08,6.59,4.09h0c1.47,1,3.59,1,5.88-.28,4.07-2.21,7.17-7.49,6.9-11.75A4.79,4.79,0,0,0,435.83,477.25Z"/>
              <path class="cls-10" d="M425.43,488.33c.19,3.07,2.74,4.27,5.67,2.67s5.16-5.4,5-8.46-2.74-4.27-5.67-2.67S425.24,485.26,425.43,488.33Z"/>
              <path class="cls-10" d="M423.37,489.45c.26,4.26,3.8,5.93,7.86,3.71s7.17-7.49,6.9-11.75-3.79-5.92-7.86-3.7S423.1,485.2,423.37,489.45Z"/>
              <path class="cls-10" d="M426.83,487.22c.13,2.12,1.93,3,3.94,1.86s3.67-3.7,3.47-5.9-1.83-2.93-3.81-1.91a.27.27,0,0,0-.14.05,6.9,6.9,0,0,0-3.42,5.2A2.72,2.72,0,0,0,426.83,487.22Z"/>
              <polygon class="cls-3" points="381.9 446.43 379.2 455.8 417.57 479.4 417.57 479.4 418.6 469.68 381.9 446.43"/>
              <path class="cls-3" d="M458,451.63v-1l3.33-5.56,6.92-4.12L418.6,469.68l-1,9.72,17-8.32c.53.54,8.21,2.56,8.21,2.56l.78,9.87,8.68-5,5.16-3,2.16-1.25,3.85-19.53h0Z"/>
              <polygon class="cls-3" points="475.39 436.68 461.37 445.03 458.04 450.59 464.68 454.42 468 448.84 468 448.84 468 448.85 468.32 448.66 482.04 440.5 475.39 436.68"/>
              <polygon class="cls-3" points="479.26 443.19 476.22 445 480.26 447.31 479.26 443.19"/>
              <polygon class="cls-3" points="468 448.84 464.68 454.42 458.04 450.59 458.04 451.63 464.68 455.46 468 449.88 468 449.89 479.26 443.19 480.26 447.31 482.04 446.45 482.04 440.5 468 448.84"/>
              <polygon class="cls-3" points="386.45 460.25 386.45 471.67 415 488.51 415 477.82 386.45 460.25"/>
              <path class="cls-3" d="M416.67,485.3a11.84,11.84,0,0,1,1.61-6.25l-.71.35L415,477.82v10.69l2-1.62A6.42,6.42,0,0,1,416.67,485.3Z"/>
              <path class="cls-10" d="M435.86,477.25h0a3.76,3.76,0,0,1,.47.3h0a3.62,3.62,0,0,1,.42.36l0,0a4.71,4.71,0,0,1,.35.41l0,.06a3.07,3.07,0,0,1,.28.42.83.83,0,0,1,.07.13c.07.14.14.27.2.42a1.55,1.55,0,0,1,.08.23,3.54,3.54,0,0,1,.14.39c0,.12.05.24.08.37s0,.2.07.31a.2.2,0,0,0,0,.07l5.49,2.77-.78-9.87s-7.68-2-8.21-2.56l-4.84,2.37Z"/>
              <polygon class="cls-10" points="461.21 465.85 460.74 468.21 462.67 466.76 461.21 465.85"/>
              <path class="cls-3" d="M469.74,440.07l-3.69-2.2L422.34,463l-28.75-19.67c0-1.23,0-2.44,0-3.62l-11.68,6.74,36.7,23.25Z"/>
              <path class="cls-10" d="M386.45,460.25l-5-3.05a12.08,12.08,0,0,0-1.86,6.7,5,5,0,0,0,1.95,4h0l.13.08,4.74,2.94Z"/>
              <polygon class="cls-3" points="451.6 395.12 452.92 394.4 453.1 394.51 453.1 386.24 451.6 385.35 451.6 395.12"/>
              <path class="cls-3" d="M451.6,397.6a6.81,6.81,0,0,1,.66,2.92l.66,6,.18.11v-8.27l-1.5-.9Z"/>
              <polygon class="cls-3" points="451.6 372.86 451.6 372.86 451.6 382.99 452.92 382.27 453.1 382.38 453.1 373.76 451.6 372.86"/>
              <polygon class="cls-3" points="461 399.23 452.92 394.4 451.6 395.12 451.6 395.14 461 400.76 461 399.23"/>
              <polygon class="cls-3" points="451.6 383.02 461 388.63 461 387.1 452.92 382.27 451.6 382.99 451.6 383.02"/>
              <polygon class="cls-3" points="455.26 427.2 455.21 427.23 455.39 428.81 459.81 431.45 461 432.16 461 430.63 455.26 427.2"/>
              <polygon class="cls-3" points="454.36 419.52 454.54 421.16 461 425.02 461 423.49 454.36 419.52"/>
              <polygon class="cls-3" points="452.92 406.53 453.1 408.17 461 412.89 461 411.36 452.92 406.53"/>
              <path class="cls-3" d="M451.6,397.6v-.13l9.4,5.62v9.8l-7.9-4.72.28,2.5,7.62,4.55V425l-6.46-3.86.28,2.5,6.18,3.69v4.81l-5.61-3.35.28,2.49,5.33,3.19v6.27l4.56-2.61V380.92l-.23.14L461,378.48v10.16L451.6,383V372.86L447,370.14v23.77A6.87,6.87,0,0,1,451.6,397.6Zm0-12.25L461,391v9.8l-9.4-5.62Z"/>
              <polygon class="cls-3" points="466.05 437.87 467.06 438.47 467.06 379.95 465.56 380.92 465.56 438.15 466.05 437.87"/>
              <path class="cls-3" d="M430.52,450.24l21.6-12.63-4.22-39.39a1.23,1.23,0,0,0-.39-.91,1.37,1.37,0,0,0-.87-.35,1.09,1.09,0,0,0-.39.08l-.21.1-.87.49,4.23,38.6-18.88,11Z"/>
              <polygon class="cls-3" points="455.67 431.3 456.22 436.29 461 439.14 461 434.49 455.67 431.3"/>
              <polygon class="cls-3" points="473.51 446.61 474.51 447.21 474.51 446.02 473.51 446.61"/>
              <polygon class="cls-3" points="467.06 435.65 467.06 438.47 469.72 440.05 472.09 438.65 467.06 435.65"/>
              <polygon class="cls-3" points="476.22 445 476.28 444.97 476.28 444.97 474.51 446.02 474.51 447.21 476.28 446.24 476.28 445.03 476.22 445"/>
              <polygon class="cls-3" points="447.47 423.94 448.1 424.32 448.02 423.64 447.47 423.94"/>
              <polygon class="cls-3" points="467.06 433.63 467.06 435.65 472.09 438.65 473.78 437.64 467.06 433.63"/>
              <polygon class="cls-3" points="455.13 426.5 455.21 427.23 455.26 427.2 461 430.63 461 430 455.13 426.5"/>
              <path class="cls-3" d="M448.51,428.13l-.42-3.81-.62-.38v3.87Z"/>
              <path class="cls-3" d="M422.34,463l12.82-7.37,21.78-12.79-4.68-42.3a6.79,6.79,0,0,0-10.21-5.88L428,402.74l-3.08,1.78,0,0c0,.05-.08.11-.14.22a4.35,4.35,0,0,0-.44.66c-2.59,4.09-3.34,33-2.86,56.94Zm7.33-56.45L446,397.14a1.23,1.23,0,0,1,.61-.2,1.28,1.28,0,0,1,1.25,1.28l4.22,39.4-21.6,12.62C430.52,414.89,427.61,409.94,429.67,406.53Z"/><path class="cls-3" d="M393.58,442.93v.38L422.34,463l.82-.47c.59-40.38,1.74-58,1.74-58l-29.76-17.31s-1.56,12.14-1.56,52.52Zm2.16-8.38c2.5-25.23,1.31-41.69,2.62-41.49a2.65,2.65,0,0,1,1,.36c3.83,2.23,10.72,6.24,15.44,9l2.22,1.3c1.59.92,1.55,2.73,1.55,4.56,0,9.89,0,19.83-1.18,36.28-.16,2.23-5.59,2.93-12.6-.43C396.39,440,395.62,435.8,395.74,434.55Z"/><path class="cls-3" d="M404.82,444.1c.41.2.82.38,1.22.55l.58.23.58.23.74.26.37.12.83.24.22.07.87.21.12,0c.31.06.6.12.89.16h.05l.88.12h0a11.77,11.77,0,0,0,2.36,0,4.53,4.53,0,0,0,2.24-.75l.05,0a2.72,2.72,0,0,0,.24-.24l.1-.14a.21.21,0,0,0,0-.06c-2.26.45-6.09-.07-10.46-2.17-8.44-4.06-8.72-8.19-8.69-9.44.42-21.61.55-32.6,1.59-39.52a1,1,0,0,1,.15-.36l-.41-.23a2.65,2.65,0,0,0-1-.36c-1.31-.2-.12,16.26-2.62,41.49C395.66,435.8,396.39,440,404.82,444.1Z"/><path class="cls-3" d="M398.25,423.41c-.06,3.09-.12,6.45-.19,10.12,0,1.25.25,5.38,8.69,9.44,4.37,2.1,8.2,2.62,10.46,2.17a1.35,1.35,0,0,0,.21-.61c.26-3.54.45-6.76.61-9.76Z"/><path class="cls-3" d="M398.3,420.86c0,.83,0,1.68-.05,2.55L418,434.77c0-.85.08-1.68.12-2.5Z"/><path class="cls-3" d="M399.8,393.65a1,1,0,0,0-.15.36c-.82,5.41-1.07,13.33-1.35,26.85l4.58,2.63L402.13,395l-2.74-1.59Z"/><path class="cls-3" d="M407.3,417.2a1.55,1.55,0,0,0-2.33,1.34l1.72,7.14,11.46,6.59c0,.82.2-4,.32-9.15Z"/><path class="cls-3" d="M408.85,415.84c-1-.61-3.82,1.07-3.82,2.27a1.55,1.55,0,0,1,2.27-.91l11.17,5.92c0-.73,0-1.45,0-2.16Z"/><path class="cls-3" d="M441.69,435.78l-11.58-6.68c.16,3.68.29,8,.36,13.14Z"/><path class="cls-3" d="M441.68,435.78l-11.21,6.46c0,.59,0,1.17,0,1.77l11.2-6.46v-1.77Z"/><path class="cls-3" d="M430.52,447.27l18.88-11-.89-8.1c-4-1.19-9.43-2.93-11.66-4.24a55.06,55.06,0,0,1-7.43-6.29c.24,3.23.71,12,.69,11.5l11.58,6.68h0v1.77L430.49,444C430.51,446,430.52,448.24,430.52,447.27Z"/><path class="cls-3" d="M436.85,423.89c.33.19.74.4,1.2.61v-3a4.7,4.7,0,0,0-1.17-3.11c-1.39-1.54-2.87-2.06-4.9-.89l-1.65.95A48.57,48.57,0,0,0,436.85,423.89Z"/><path class="cls-3" d="M430.33,418.46l1.65-.95a3.48,3.48,0,0,1,3.08-.44V403.43l-5.39,3.1c-1.1,1.82-.78,4.09-.25,11.15C429.42,417.65,430.33,418.46,430.33,418.46Z"/><path class="cls-3" d="M428,402.74l12.48-7.19,1.59-.93h0a6.75,6.75,0,0,1,6.75,0l-28.91-16.75-.28-.17a.06.06,0,0,0,0-.05,6.82,6.82,0,0,0-7.32-.34l-17.15,9.9,29.76,17.31Zm-12.57-23.62,7.06,4.1L439,392.81h0l-3.58,2.07L412,381.11ZM411,381.66l23.41,13.78-5.16,3-23.44-13.81Zm-9.65,5.52h0l3.5-2L428.31,399l-3.38,2L401.35,387.2Z"/>
              <polygon class="cls-3" points="415.42 379.12 413.21 380.39 422.48 385.76 436.76 394.08 438.93 392.82 438.95 392.81 422.48 383.22 415.42 379.12"/>
              <polygon class="cls-3" points="411.29 381.82 411.29 382.73 433.46 395.99 434.41 395.44 411.29 381.82"/>
              <polygon class="cls-3" points="428.31 398.99 405.2 385.38 405.2 386.28 427.36 399.54 428.31 398.99"/>
              <path class="cls-3" d="M416.72,403.5l1.83,15.23c0-2.92.05-5.68.05-8.39l-.71-5.89a2.7,2.7,0,0,0-.84-.76Z"/>
              <polygon class="cls-3" points="414.46 384.62 415.12 390.11 416.26 390.79 415.6 385.31 414.46 384.62"/>
              <path class="cls-3" d="M414.06,381.26l.14,1.17,1.13.67-.06-.57A1.28,1.28,0,0,0,414.06,381.26Z"/>
              <polygon class="cls-3" points="415.39 392.38 415.78 395.62 416.92 396.28 416.53 393.06 415.39 392.38"/>
              <polygon class="cls-3" points="416.92 396.28 424.41 400.66 424.07 397.57 416.53 393.06 416.92 396.28"/>
              <polygon class="cls-3" points="411 381.65 405.81 384.63 406.83 385.23 411.29 382.65 411.29 381.82 411 381.65"/>
              <path class="cls-3" d="M412,381.11l1,.58.43-.24a1.13,1.13,0,0,1,.61-.2,1.29,1.29,0,0,1,1.28,1.28l.06.57,7.63,4.49-.18-1.65-9.57-5.55Z"/>
              <polygon class="cls-3" points="404.86 385.18 401.36 387.18 401.36 387.18 401.35 387.2 402.38 387.8 405.2 386.17 405.2 385.38 404.86 385.18"/>
              <path class="cls-3" d="M417.89,404.45l.71,5.89v-2.09C418.6,406.84,418.61,405.44,417.89,404.45Z"/>
              <polygon class="cls-3" points="415.6 385.31 416.26 390.79 423.81 395.24 423.22 389.86 415.6 385.31"/>
              <polygon class="cls-3" points="468 449.89 468 449.88 467.76 450.29 467.76 455.95 469.41 454.98 469.41 449.05 468 449.89"/>
              <polygon class="cls-3" points="465.27 454.46 467.76 455.95 467.76 450.29 465.27 454.46"/>
              <path class="cls-10" d="M471.38,449.46l-.19-.12v0a4.08,4.08,0,0,0-1.49-.48l-.29.17V455l-1.65,1-2.48-1.49-.6,1-1.28-.74h0l-2.19,11.13,6.17,3.83h0a5,5,0,0,1-2-4c-.26-4.25,2.84-9.53,6.9-11.74,2.14-1.17,4.12-1.25,5.57-.46h0l-6.39-4Z"/>
              <polygon class="cls-8" points="453.33 369.1 450.84 372.47 448.15 370.92 450.63 367.54 453.33 369.1"/>
              <polygon class="cls-8" points="458.63 372.16 456.14 375.54 453.45 373.98 455.94 370.6 458.63 372.16"/>
              <polygon class="cls-8" points="463.93 375.22 461.45 378.6 458.75 377.04 461.24 373.67 463.93 375.22"/>
              <path class="cls-11" d="M468.89,462.76c.39.84,1.38,1.06,2.49.44a4.75,4.75,0,0,0,2.43-4.09c-.06-1-.6-1.56-1.36-1.6a.24.24,0,0,0-.13.05A6.94,6.94,0,0,0,468.89,462.76Z"/>
              <path class="cls-11" d="M426.87,486.52c.39.84,1.38,1.06,2.49.44a4.79,4.79,0,0,0,2.43-4.09c-.07-1-.6-1.56-1.36-1.6a.27.27,0,0,0-.14.05A6.9,6.9,0,0,0,426.87,486.52Z"/>
              <polygon class="cls-8" points="422.81 469.68 423.62 469.17 427.14 471.95 426.32 472.46 422.81 469.68"/>
              <polygon class="cls-8" points="424.51 468.6 425.33 468.09 428.84 470.87 428.03 471.38 424.51 468.6"/>
              <polygon class="cls-8" points="426.21 467.52 427.03 467.01 430.55 469.79 429.73 470.3 426.21 467.52"/>
              <polygon class="cls-8" points="427.92 466.44 428.74 465.93 432.25 468.71 431.44 469.22 427.92 466.44"/>
              <polygon class="cls-8" points="424.8 429.87 428.84 425.02 428.84 418.94 424.8 423.79 424.8 429.87"/>
              <polygon class="cls-8" points="424.8 441.85 428.84 437 428.84 430.92 424.8 435.77 424.8 441.85"/>
              <polygon class="cls-8" points="424.8 453.83 428.84 448.98 428.84 442.9 424.8 447.75 424.8 453.83"/>
            </g>
          </g>
        </g>
        <g id="truck">
          <animateMotion dur="10s" path="M707.5 382.5 L-299.5 -199.5" repeatCount="indefinite" rotate="149"/>
          <g id="truck_box_bottom">
            <polygon class="cls-2" points="200.88 424.32 200.24 424.69 200.46 499.64 265.69 461.98 200.88 424.32"/>
            <polygon class="cls-2" points="265.69 461.98 265.47 387.03 200.88 424.32 265.69 461.98"/>
          </g>
          <g id="truck_box_group">
            <polygon class="cls-3" points="194.1 467.65 189.76 470.16 189.76 469.6 189.75 469.6 189.76 465.15 194.1 467.65"/>
            <polygon class="cls-3" points="168.2 451.72 168.2 451.75 168.2 451.75 168.2 457.72 173.99 461.06 173.99 456.04 183.96 461.8 183.96 466.25 183.96 466.26 183.96 466.82 189.75 470.16 189.75 469.6 189.76 465.14 199.76 470.92 199.76 474.97 199.76 474.97 199.75 475.94 205.54 479.28 205.54 478.72 205.54 478.31 205.54 474.26 205.54 474.26 205.54 473.29 168.2 451.72"/>
            <polygon class="cls-3" points="237.13 455.07 237.13 460.09 227.13 465.85 227.13 460.84 221.34 464.17 221.35 469.19 211.35 474.96 211.35 469.95 205.54 473.29 205.54 478.31 205.54 479.26 205.54 479.28 242.92 457.72 242.92 457.69 242.92 456.75 242.92 451.72 237.13 455.07"/>
            <polygon class="cls-3" points="205.54 472.8 199.77 469.46 199.78 468.49 204.28 465.89 203.01 465.15 197.66 468.24 197.66 468.24 191.88 464.9 191.88 463.93 191.88 463.93 196.38 461.33 195.13 460.6 189.78 463.69 189.78 463.69 183.99 460.35 183.99 459.38 184 459.38 188.5 456.78 187.24 456.05 181.88 459.13 181.88 459.14 181.88 459.14 181.88 459.14 181.88 459.13 176.1 455.79 176.1 454.82 176.1 454.82 176.1 454.82 176.1 454.82 176.1 454.82 180.61 452.22 179.34 451.49 173.99 454.57 173.99 454.58 173.99 454.57 173.98 454.58 173.98 454.57 168.62 451.49 168.2 451.73 205.54 473.29 211.34 469.96 210.9 469.71 205.54 472.8"/>
            <polygon class="cls-3" points="204.31 447.66 203.04 446.92 197.25 450.26 198.52 451 204.31 447.66"/>
            <polygon class="cls-3" points="195.14 442.36 189.35 445.7 190.62 446.44 196.41 443.1 195.14 442.36"/>
            <polygon class="cls-3" points="220.92 463.93 221.35 464.17 227.13 460.84 226.71 460.59 220.92 463.93"/>
            <polygon class="cls-3" points="212.19 452.2 210.93 451.48 205.15 454.82 206.4 455.55 212.19 452.2"/>
            <polygon class="cls-3" points="218.81 456.03 213.03 459.37 214.3 460.11 220.08 456.77 218.81 456.03"/>
            <polygon class="cls-3" points="198.52 451 197.25 450.27 196.4 450.75 197.67 451.49 198.52 451"/>
            <polygon class="cls-3" points="206.4 455.55 205.15 454.82 204.3 455.31 205.55 456.03 206.4 455.55"/>
            <polygon class="cls-3" points="189.35 445.71 188.5 446.19 189.77 446.93 190.62 446.44 189.35 445.71"/>
            <polygon class="cls-3" points="213.03 459.37 212.18 459.86 213.45 460.59 214.3 460.11 213.03 459.37"/>
            <polygon class="cls-3" points="205.54 471.83 242.92 450.26 237.13 446.92 199.78 468.49 205.54 471.83"/>
            <polygon class="cls-3" points="205.54 471.83 205.54 472.8 199.77 469.46 199.78 468.49 205.54 471.83"/>
            <polygon class="cls-3" points="205.54 471.83 205.54 472.8 242.92 451.24 242.92 450.26 205.54 471.83"/>
            <polygon class="cls-3" points="197.67 467.27 197.66 468.24 191.88 464.9 191.88 463.93 197.67 467.27"/>
            <polygon class="cls-3" points="197.66 467.26 235.02 445.7 229.24 442.36 191.88 463.93 197.66 467.26"/>
            <polygon class="cls-3" points="197.66 467.26 197.66 468.24 235.03 446.67 235.03 445.7 197.66 467.26"/>
            <polygon class="cls-3" points="189.78 462.72 189.78 463.69 183.99 460.35 183.99 459.38 189.78 462.72"/>
            <polygon class="cls-3" points="189.78 462.72 227.13 441.16 221.35 437.82 183.99 459.38 189.78 462.72"/>
            <polygon class="cls-3" points="189.78 462.72 189.78 463.69 227.14 442.13 227.14 441.16 189.78 462.72"/>
            <polygon class="cls-3" points="181.89 458.16 181.88 459.14 176.1 455.79 176.1 454.82 181.89 458.16"/>
            <polygon class="cls-3" points="181.88 458.16 219.24 436.6 213.45 433.26 176.1 454.82 181.88 458.16"/>
            <polygon class="cls-3" points="181.88 458.16 181.88 459.14 219.24 437.57 219.24 436.6 181.88 458.16"/>
            <polygon class="cls-3" points="174 453.61 173.99 454.58 168.2 451.24 168.2 450.26 174 453.61"/>
            <polygon class="cls-3" points="173.98 453.61 211.34 432.04 205.55 428.7 168.2 450.26 173.98 453.61"/>
            <polygon class="cls-3" points="173.98 453.61 173.98 454.58 211.34 433.01 211.34 432.04 173.98 453.61"/>
            <polygon class="cls-3" points="210.93 433.25 205.14 436.59 206.41 437.32 212.19 433.98 210.93 433.25"/>
            <polygon class="cls-3" points="227.97 443.09 226.72 442.37 220.94 445.71 222.19 446.43 227.97 443.09"/>
            <polygon class="cls-3" points="220.1 438.54 218.83 437.81 213.04 441.15 214.31 441.88 220.1 438.54"/>
            <polygon class="cls-3" points="236.72 454.81 237.13 455.05 242.92 451.72 242.5 451.48 236.72 454.81"/>
            <polygon class="cls-3" points="234.6 446.92 228.82 450.26 230.09 450.99 235.87 447.65 234.6 446.92"/>
            <polygon class="cls-3" points="216.45 466.49 221.35 469.19 221.34 464.17 220.92 463.93 216.45 466.49"/>
            <polygon class="cls-3" points="237.13 460.09 232.3 457.37 236.72 454.81 237.13 455.05 237.13 460.09"/>
            <polygon class="cls-3" points="214.3 441.89 213.03 441.16 212.19 441.64 213.46 442.38 214.3 441.89"/>
            <polygon class="cls-3" points="222.18 446.44 220.92 445.71 220.08 446.2 221.34 446.92 222.18 446.44"/>
            <polygon class="cls-3" points="206.4 437.33 205.13 436.6 204.28 437.08 205.55 437.82 206.4 437.33"/>
            <polygon class="cls-3" points="230.07 451 228.81 450.26 227.96 450.75 229.23 451.48 230.07 451"/>
            <polygon class="cls-3" points="173.99 456.04 178.34 458.55 173.99 461.06 173.99 456.04"/>
            <polygon class="cls-3" points="211.35 469.95 211.35 474.96 221.35 469.19 216.47 466.5 210.9 469.71 211.33 469.95 211.35 469.95"/>
            <polygon class="cls-3" points="227.13 460.84 227.13 465.85 237.13 460.09 232.3 457.37 226.71 460.59 227.13 460.84 227.13 460.84"/>
            <polygon class="cls-4" points="205.62 433.84 205.62 450.3 187.21 439.66 187.21 423.21 205.62 433.84"/>
            <polygon class="cls-5" points="205.62 433.84 205.62 450.3 224.05 439.66 224.05 423.2 205.62 433.84"/>
            <polygon class="cls-6" points="224.05 423.23 205.62 433.84 187.21 423.21 205.57 412.57 224.05 423.23"/>
            <polygon class="cls-4" points="224.47 444.91 224.47 461.36 206.07 450.72 206.07 434.27 224.47 444.91"/>
            <polygon class="cls-5" points="224.47 444.91 224.47 461.36 242.9 450.72 242.9 434.27 224.47 444.91"/>
            <polygon class="cls-6" points="242.9 434.27 224.47 444.91 206.07 434.27 224.43 423.63 242.9 434.27"/>
            <polygon class="cls-5" points="186.57 444.91 186.57 461.36 205 450.72 205 434.27 186.57 444.91"/>
            <polygon class="cls-4" points="186.57 444.91 186.57 461.36 168.16 450.72 168.16 434.27 186.57 444.91"/>
            <polygon class="cls-6" points="205 434.27 186.57 444.91 168.16 434.27 186.56 423.63 205 434.27"/>
            <polygon class="cls-4" points="205.52 455.84 205.52 472.3 187.21 461.66 187.21 445.21 205.52 455.84"/>
            <polygon class="cls-5" points="205.52 455.84 205.52 472.3 224.05 461.66 224.05 445.21 205.52 455.84"/>
            <polygon class="cls-6" points="224.05 445.23 205.52 455.84 187.21 445.21 205.6 434.57 224.05 445.23"/>
            <polygon class="cls-4" points="205.62 416.84 205.62 433.3 187.21 422.66 187.21 406.21 205.62 416.84"/>
            <polygon class="cls-5" points="205.62 416.84 205.62 433.3 224.05 422.66 224.05 406.2 205.62 416.84"/>
            <polygon class="cls-6" points="224.05 406.23 205.62 416.84 187.21 406.21 205.57 395.57 224.05 406.23"/>
            <polygon class="cls-4" points="224.47 427.91 224.47 444.36 206.07 433.72 206.07 417.27 224.47 427.91"/>
            <polygon class="cls-5" points="224.47 427.91 224.47 444.36 242.9 433.72 242.9 417.27 224.47 427.91"/>
            <polygon class="cls-6" points="242.9 417.27 224.47 427.91 206.07 417.27 224.43 406.63 242.9 417.27"/>
            <polygon class="cls-5" points="186.57 427.91 186.57 444.36 205 433.72 205 417.27 186.57 427.91"/>
            <polygon class="cls-4" points="186.57 427.91 186.57 444.36 168.16 433.72 168.16 417.27 186.57 427.91"/>
            <polygon class="cls-6" points="205 417.27 186.57 427.91 168.16 417.27 186.56 406.63 205 417.27"/>
            <polygon class="cls-4" points="205.52 438.84 205.52 455.3 187.21 444.66 187.21 428.21 205.52 438.84"/>
            <polygon class="cls-5" points="205.52 438.84 205.52 455.3 224.05 444.66 224.05 428.21 205.52 438.84"/>
            <polygon class="cls-6" points="224.05 428.23 205.52 438.84 187.21 428.21 205.6 417.57 224.05 428.23"/>
          </g>
          <g id="truck_main">
            <path class="cls-2" d="M29.19,428.86c9.7,5.6,17.54,19.17,17.5,30.32s-7.92,15.64-17.61,10S11.54,450,11.57,438.9,19.49,423.26,29.19,428.86Zm-.08,27.79c3.66,2.1,6.63.41,6.64-3.78a14.51,14.51,0,0,0-6.6-11.43c-3.65-2.11-6.62-.42-6.63,3.78a14.53,14.53,0,0,0,6.59,11.43Z"/>
            <polygon class="cls-2" points="0.57 410.77 11.53 417.15 11.57 428.49 0.57 422.09 0.57 410.77"/>
            <polygon class="cls-2" points="161.7 502.87 167.15 520.87 165.29 520.76 160.37 504.46 130.05 486.96 124.85 502.54 124.28 502.2 128.51 483.7 161.7 502.87"/>
            <path class="cls-2" d="M231.43,488.76c0,.1,0,.2,0,.3,0,5.53-2,9.42-5.11,11.26l13.52-7.87c3.16-1.83,5.1-5.72,5.13-11.26,0-.08,0-.16,0-.24Z"/>
            <path class="cls-2" d="M213.69,499a.67.67,0,0,0,.14.09c9.7,5.6,17.59,1.11,17.61-10,0-.1,0-.2,0-.3Z"/>
            <g id="truck_box" class="cls-7">
              <polygon class="cls-2" points="194.14 421.21 73.13 350.89 73.38 439.82 194.39 510.14 194.14 421.21"/>
              <polygon class="cls-2" points="271.53 376.53 150.52 306.2 73.13 350.89 194.14 421.21 271.53 376.53"/>
              <path class="cls-2" d="M271.79,465.46l-77.4,44.68-.25-88.93,77.39-44.68Zm-71.33,34.18L265.69,462l-.22-75-65.23,37.66.22,74.95Z"/>
            </g>
            <polygon class="cls-2" points="73.38 439.82 73.35 430.13 63.8 435.65 63.84 445.78 180.91 513.1 190.19 507.7 73.38 439.82"/>
            <polygon class="cls-2" points="129.14 483.33 128.51 483.7 161.7 502.87 167.15 520.87 180.69 513.01 180.67 512.96 129.14 483.33"/>
            <path class="cls-2" d="M146.07,497.29c9.71,5.6,17.55,19.18,17.52,30.32s-7.92,15.63-17.62,10-17.53-19.17-17.5-30.31S136.39,491.69,146.07,497.29ZM146,525.08c3.66,2.11,6.63.4,6.64-3.79a14.53,14.53,0,0,0-6.59-11.43c-3.66-2.11-6.63-.41-6.64,3.79A14.57,14.57,0,0,0,146,525.08Z"/>
            <path class="cls-2" d="M167.15,520.87l-1.86-.11-4.92-16.3-20.68-11.94-6.09,3.54c3.18-1.85,7.6-1.58,12.47,1.23,9.71,5.6,17.55,19.18,17.52,30.32,0,5.52-2,9.42-5.12,11.26L172,531c3.14-1.83,5.1-5.72,5.11-11.26a26.17,26.17,0,0,0-.37-4.44Z"/>
            <path class="cls-2" d="M133.61,496.06h0l0,0L139,493l.24-.71L130.05,487l-5.2,15.57,5.56-3.23A8.91,8.91,0,0,1,133.61,496.06Z"/>
            <polygon class="cls-2" points="13.42 416.1 11.53 417.15 11.57 428.49 13.45 427.44 13.42 416.1"/>
            <polygon class="cls-2" points="3.83 410.53 3.83 408.8 0.5 410.73 11.53 417.15 13.42 416.1 3.83 410.53"/>
            <path class="cls-2" d="M63.81,376.14,16.69,348.5,3.83,381.57v29l9.59,5.57,0,9.86c3.72-4.71,10.32-5.48,17.84-1.14,7.79,4.49,14.59,13.36,18.19,22.72l14.28,8.26,0-11.34.09-33.28Z"/>
            <polygon class="cls-2" points="63.84 445.78 63.84 444.44 63.8 444.46 63.76 455.8 72.46 450.74 63.84 445.78"/>
            <polygon class="cls-2" points="73.35 430.13 73.19 370.7 63.81 376.14 63.8 435.65 73.35 430.13"/>
            <polygon class="cls-2" points="73.13 350.89 123.97 321.53 93.79 304.19 16.69 348.5 63.8 376.12 73.19 370.7 73.13 350.89"/>
            <path class="cls-2" d="M49.48,447.54c-3.6-9.36-10.4-18.23-18.19-22.72a22.25,22.25,0,0,0-5.66-2.37l-8.94,5.19c3.21-1.86,7.62-1.6,12.5,1.22,9.7,5.6,17.54,19.17,17.5,30.32,0,5.53-2,9.42-5.12,11.26l13.53-7.86c2.68-1.56,4.48-4.63,5-8.91Z"/>
            <path class="cls-8" d="M35.75,452.87a14.51,14.51,0,0,0-6.6-11.43c-3.16-1.83-5.81-.8-6.47,2.24a.29.29,0,0,0,0,.09,4.54,4.54,0,0,0-.08.55l0,.15q0,.36,0,.75a14.53,14.53,0,0,0,6.59,11.43C32.77,458.75,35.74,457.06,35.75,452.87Z"/>
            <path class="cls-8" d="M152.64,521.29a14.53,14.53,0,0,0-6.59-11.43c-1.82-1.05-3.47-1.15-4.67-.48l0,0a3,3,0,0,0-.43.29l-.07.07a2.76,2.76,0,0,0-.3.29,2,2,0,0,0-.17.23l-.16.2c-.08.13-.15.27-.23.41l0,.09a3.83,3.83,0,0,0-.22.56h0a6.73,6.73,0,0,0-.26,1.28v0a6.23,6.23,0,0,0,0,.76A14.57,14.57,0,0,0,146,525.08c1.83,1,3.51,1.16,4.71.45l0,0C151.91,524.81,152.63,523.35,152.64,521.29Z"/>
            <polygon class="cls-8" points="41.07 397.85 9.45 379.28 18.93 354.92 41.07 367.92 41.07 397.85"/>
            <polygon class="cls-8" points="46.69 371.23 59.37 378.67 59.48 408.66 46.69 401.16 46.69 371.23"/>
            <polygon class="cls-8" points="40.14 404.62 36.14 402.27 36.14 406.94 40.16 409.3 40.14 404.62"/>
          </g>
          <g id="door_close" v-show="!doorToggle">
            <g id="door_left_close">
              <polygon class="cls-2" points="194.14 421.21 198.14 423.21 198.39 512.14 194.39 510.14 194.14 421.21"/>
              <polygon class="cls-2" points="233.33 398.58 237.4 400.54 198.14 423.21 194.14 421.21 233.33 398.58"/>
              <polygon class="cls-2" points="237.4 489.62 237.4 400.54 198.14 423.21 198.39 512.14 237.4 489.62"/>
            </g>
            <g id="door_right_close">
              <polygon class="cls-2" points="271.53 376.53 275.53 378.53 237.4 400.54 233.33 398.58 271.53 376.53"/>
              <polygon class="cls-2" points="237.4 489.62 275.79 467.46 275.53 378.53 237.4 400.54 237.4 489.62"/>
            </g>
          </g>
          <g id="door_open" v-show="doorToggle">
            <g id="door_left_open">
              <polygon class="cls-2" points="198.62 421.45 194.55 421.45 188.35 453.01 188.35 542.41 192.68 542.41 192.42 453.01 198.62 421.45"/>
              <polygon class="cls-2" points="198.62 421.45 192.42 453.01 192.68 542.41 198.88 510.14 198.62 421.45"/>
            </g>
            <g id="door_right_open">
              <polygon class="cls-2" points="316.38 375.02 269.2 380.76 269.46 469.69 316.63 463.95 316.38 375.02"/>
              <polygon class="cls-2" points="316.38 375.02 314.85 372.73 267.68 378.47 267.93 467.4 269.46 469.69 269.2 380.76 316.38 375.02"/>
            </g>
          </g>
        </g>
        <g id="wh_before">
          <g id="Pallet__group3_1" data-name="Pallet_ group3_1">
            <g id="Pallet-2" data-name="Pallet">
              <polygon class="cls-3" points="617.27 395.53 612.92 398.04 612.92 397.47 612.92 397.48 612.92 393.02 617.27 395.53"/>
              <polygon class="cls-3" points="591.36 379.6 591.36 379.62 591.36 379.62 591.36 385.6 597.16 388.94 597.16 383.92 607.12 389.67 607.12 394.13 607.13 394.13 607.13 394.7 612.92 398.04 612.92 397.48 612.92 393.02 622.93 398.8 622.92 402.85 622.92 402.85 622.92 403.82 628.71 407.16 628.71 406.6 628.71 406.19 628.71 402.14 628.71 402.14 628.71 401.17 591.36 379.6"/>
              <polygon class="cls-3" points="660.29 382.94 660.29 387.96 650.3 393.73 650.29 388.71 644.51 392.05 644.51 397.07 634.51 402.83 634.51 397.82 628.71 401.17 628.71 406.19 628.71 407.14 628.71 407.16 666.08 385.6 666.08 385.57 666.08 384.62 666.08 379.6 660.29 382.94"/>
              <polygon class="cls-3" points="628.71 400.67 622.94 397.33 622.94 396.37 627.45 393.76 626.18 393.03 620.83 396.12 620.83 396.12 615.04 392.78 615.05 391.81 615.04 391.8 619.55 389.2 618.3 388.48 612.94 391.57 612.94 391.57 607.15 388.22 607.15 387.25 607.16 387.25 611.67 384.65 610.4 383.92 605.05 387.01 605.05 387.01 605.05 387.01 605.05 387.01 605.05 387.01 599.26 383.67 599.26 382.7 599.26 382.7 599.26 382.7 599.26 382.69 599.27 382.7 603.77 380.09 602.5 379.36 597.16 382.45 597.16 382.45 597.15 382.45 597.14 382.45 597.14 382.45 591.79 379.36 591.36 379.61 628.71 401.17 634.5 397.83 634.06 397.58 628.71 400.67"/>
              <polygon class="cls-3" points="627.47 375.53 626.2 374.8 620.41 378.14 621.68 378.87 627.47 375.53"/>
              <polygon class="cls-3" points="618.3 370.24 612.51 373.58 613.78 374.31 619.57 370.97 618.3 370.24"/>
              <polygon class="cls-3" points="644.09 391.8 644.51 392.05 650.3 388.71 649.87 388.47 644.09 391.8"/>
              <polygon class="cls-3" points="635.35 380.08 634.1 379.36 628.31 382.7 629.56 383.42 635.35 380.08"/>
              <polygon class="cls-3" points="641.98 383.91 636.19 387.25 637.46 387.98 643.25 384.64 641.98 383.91"/>
              <polygon class="cls-3" points="621.68 378.87 620.41 378.14 619.57 378.63 620.84 379.36 621.68 378.87"/>
              <polygon class="cls-3" points="629.56 383.42 628.31 382.7 627.47 383.19 628.72 383.91 629.56 383.42"/>
              <polygon class="cls-3" points="612.51 373.58 611.67 374.07 612.94 374.8 613.78 374.32 612.51 373.58"/>
              <polygon class="cls-3" points="636.19 387.25 635.35 387.74 636.62 388.47 637.46 387.98 636.19 387.25"/>
              <polygon class="cls-3" points="628.71 399.7 666.08 378.14 660.29 374.8 622.94 396.37 628.71 399.7"/>
              <polygon class="cls-3" points="628.71 399.7 628.71 400.67 622.94 397.33 622.94 396.37 628.71 399.7"/>
              <polygon class="cls-3" points="628.71 399.7 628.71 400.67 666.08 379.12 666.08 378.14 628.71 399.7"/>
              <polygon class="cls-3" points="620.83 395.15 620.83 396.12 615.04 392.78 615.05 391.81 620.83 395.15"/>
              <polygon class="cls-3" points="620.83 395.14 658.19 373.58 652.4 370.24 615.04 391.8 620.83 395.14"/>
              <polygon class="cls-3" points="620.83 395.14 620.83 396.12 658.19 374.55 658.19 373.58 620.83 395.14"/>
              <polygon class="cls-3" points="612.94 390.59 612.94 391.57 607.15 388.22 607.15 387.25 612.94 390.59"/>
              <polygon class="cls-3" points="612.94 390.6 650.3 369.03 644.51 365.7 607.15 387.26 612.94 390.6"/>
              <polygon class="cls-3" points="612.94 390.6 612.94 391.57 650.3 370 650.3 369.03 612.94 390.6"/>
              <polygon class="cls-3" points="605.05 386.04 605.05 387.01 599.26 383.67 599.26 382.69 605.05 386.04"/>
              <polygon class="cls-3" points="605.05 386.04 642.4 364.47 636.62 361.13 599.26 382.7 605.05 386.04"/>
              <polygon class="cls-3" points="605.05 386.04 605.05 387.01 642.41 365.45 642.41 364.47 605.05 386.04"/>
              <polygon class="cls-3" points="597.16 381.49 597.16 382.45 591.36 379.12 591.36 378.14 597.16 381.49"/>
              <polygon class="cls-3" points="597.15 381.49 634.51 359.92 628.72 356.58 591.36 378.14 597.15 381.49"/>
              <polygon class="cls-3" points="597.14 381.49 597.14 382.45 634.5 360.89 634.5 359.91 597.14 381.49"/>
              <polygon class="cls-3" points="634.09 361.13 628.3 364.47 629.57 365.2 635.36 361.86 634.09 361.13"/>
              <polygon class="cls-3" points="651.14 370.97 649.89 370.24 644.1 373.58 645.35 374.31 651.14 370.97"/>
              <polygon class="cls-3" points="643.26 366.42 641.99 365.69 636.21 369.03 637.48 369.76 643.26 366.42"/>
              <polygon class="cls-3" points="659.88 382.69 660.3 382.93 666.08 379.6 665.67 379.36 659.88 382.69"/>
              <polygon class="cls-3" points="657.77 374.79 651.98 378.13 653.25 378.86 659.03 375.52 657.77 374.79"/>
              <polygon class="cls-3" points="639.62 394.36 644.51 397.07 644.51 392.05 644.09 391.8 639.62 394.36"/>
              <polygon class="cls-3" points="660.29 387.96 655.46 385.24 659.88 382.69 660.3 382.93 660.29 387.96"/>
              <polygon class="cls-3" points="637.46 369.77 636.19 369.03 635.35 369.52 636.62 370.25 637.46 369.77"/>
              <polygon class="cls-3" points="645.34 374.31 644.09 373.59 643.25 374.08 644.5 374.8 645.34 374.31"/>
              <polygon class="cls-3" points="629.56 365.2 628.29 364.47 627.45 364.96 628.72 365.69 629.56 365.2"/>
              <polygon class="cls-3" points="653.24 378.87 651.97 378.14 651.13 378.63 652.4 379.36 653.24 378.87"/>
              <polygon class="cls-3" points="597.16 383.92 601.51 386.43 597.16 388.94 597.16 383.92"/>
              <polygon class="cls-3" points="634.51 397.82 634.51 402.83 644.51 397.07 639.63 394.37 634.06 397.58 634.5 397.83 634.51 397.82"/>
              <polygon class="cls-3" points="649.87 388.47 650.3 388.71 650.29 388.72 650.3 393.73 660.29 387.96 655.46 385.24 649.87 388.47"/>
            </g>
            <polygon class="cls-4" points="628.78 361.72 628.78 378.18 610.38 367.54 610.38 351.09 628.78 361.72"/>
            <polygon class="cls-5" points="628.78 361.72 628.78 378.18 647.21 367.54 647.21 351.08 628.78 361.72"/>
            <polygon class="cls-6" points="647.21 351.11 628.78 361.72 610.38 351.09 628.74 340.44 647.21 351.11"/>
            <polygon class="cls-4" points="647.64 372.78 647.64 389.24 629.23 378.6 629.23 362.15 647.64 372.78"/>
            <polygon class="cls-5" points="647.64 372.78 647.64 389.24 666.06 378.6 666.06 362.15 647.64 372.78"/>
            <polygon class="cls-6" points="666.06 362.15 647.64 372.78 629.23 362.15 647.59 351.5 666.06 362.15"/>
            <polygon class="cls-5" points="609.74 372.78 609.74 389.24 628.16 378.6 628.16 362.15 609.74 372.78"/>
            <polygon class="cls-4" points="609.74 372.78 609.74 389.24 591.33 378.6 591.33 362.15 609.74 372.78"/>
            <polygon class="cls-6" points="628.16 362.15 609.74 372.78 591.33 362.15 609.72 351.5 628.16 362.15"/>
            <polygon class="cls-4" points="628.69 383.72 628.69 400.18 610.38 389.54 610.38 373.09 628.69 383.72"/>
            <polygon class="cls-5" points="628.69 383.72 628.69 400.18 647.21 389.54 647.21 373.08 628.69 383.72"/>
            <polygon class="cls-6" points="647.21 373.11 628.69 383.72 610.38 373.09 628.77 362.44 647.21 373.11"/>
            <polygon class="cls-4" points="628.78 344.72 628.78 361.18 610.38 350.54 610.38 334.09 628.78 344.72"/>
            <polygon class="cls-5" points="628.78 344.72 628.78 361.18 647.21 350.54 647.21 334.08 628.78 344.72"/>
            <polygon class="cls-6" points="647.21 334.11 628.78 344.72 610.38 334.09 628.74 323.44 647.21 334.11"/>
            <polygon class="cls-4" points="647.64 355.78 647.64 372.24 629.23 361.6 629.23 345.15 647.64 355.78"/>
            <polygon class="cls-5" points="647.64 355.78 647.64 372.24 666.06 361.6 666.06 345.15 647.64 355.78"/>
            <polygon class="cls-6" points="666.06 345.15 647.64 355.78 629.23 345.15 647.59 334.5 666.06 345.15"/>
            <polygon class="cls-5" points="609.74 355.78 609.74 372.24 628.16 361.6 628.16 345.15 609.74 355.78"/>
            <polygon class="cls-4" points="609.74 355.78 609.74 372.24 591.33 361.6 591.33 345.15 609.74 355.78"/>
            <polygon class="cls-6" points="628.16 345.15 609.74 355.78 591.33 345.15 609.72 334.5 628.16 345.15"/>
            <polygon class="cls-4" points="628.69 366.72 628.69 383.18 610.38 372.54 610.38 356.09 628.69 366.72"/>
            <polygon class="cls-5" points="628.69 366.72 628.69 383.18 647.21 372.54 647.21 356.08 628.69 366.72"/>
            <polygon class="cls-6" points="647.21 356.11 628.69 366.72 610.38 356.09 628.77 345.44 647.21 356.11"/>
            <polygon class="cls-4" points="628.78 327.72 628.78 344.18 610.38 333.54 610.38 317.09 628.78 327.72"/>
            <polygon class="cls-5" points="628.78 327.72 628.78 344.18 647.21 333.54 647.21 317.08 628.78 327.72"/>
            <polygon class="cls-6" points="647.21 317.11 628.78 327.72 610.38 317.09 628.74 306.44 647.21 317.11"/>
            <polygon class="cls-4" points="647.64 338.78 647.64 355.24 629.23 344.6 629.23 328.15 647.64 338.78"/>
            <polygon class="cls-5" points="647.64 338.78 647.64 355.24 666.06 344.6 666.06 328.15 647.64 338.78"/>
            <polygon class="cls-6" points="666.06 328.15 647.64 338.78 629.23 328.15 647.59 317.5 666.06 328.15"/>
            <polygon class="cls-5" points="609.74 338.78 609.74 355.24 628.16 344.6 628.16 328.15 609.74 338.78"/>
            <polygon class="cls-4" points="609.74 338.78 609.74 355.24 591.33 344.6 591.33 328.15 609.74 338.78"/>
            <polygon class="cls-6" points="628.16 328.15 609.74 338.78 591.33 328.15 609.72 317.5 628.16 328.15"/>
            <polygon class="cls-4" points="628.69 349.72 628.69 366.18 610.38 355.54 610.38 339.09 628.69 349.72"/>
            <polygon class="cls-5" points="628.69 349.72 628.69 366.18 647.21 355.54 647.21 339.08 628.69 349.72"/>
            <polygon class="cls-6" points="647.21 339.11 628.69 349.72 610.38 339.09 628.77 328.44 647.21 339.11"/>
          </g>
          <g id="Pallet__group3_2" data-name="Pallet_ group3_2">
            <polygon class="cls-3" points="666.93 424.84 662.59 427.35 662.59 426.78 662.58 426.78 662.59 422.33 666.93 424.84"/>
            <polygon class="cls-3" points="641.03 408.91 641.03 408.93 641.03 408.93 641.03 414.91 646.82 418.25 646.82 413.23 656.79 418.98 656.79 423.44 656.79 423.44 656.79 424 662.58 427.35 662.58 426.78 662.59 422.33 672.59 428.11 672.59 432.15 672.59 432.15 672.58 433.13 678.37 436.47 678.37 435.91 678.37 435.49 678.37 431.44 678.37 431.44 678.37 430.47 641.03 408.91"/>
            <polygon class="cls-3" points="709.95 412.25 709.96 417.27 699.96 423.04 699.96 418.02 694.17 421.36 694.18 426.38 684.18 432.14 684.18 427.13 678.37 430.47 678.37 435.49 678.37 436.44 678.37 436.47 715.75 414.91 715.75 414.88 715.75 413.93 715.75 408.91 709.95 412.25"/>
            <polygon class="cls-3" points="678.37 429.98 672.6 426.64 672.6 425.68 677.12 423.07 675.84 422.34 670.49 425.43 670.49 425.43 664.71 422.09 664.71 421.12 664.71 421.11 669.21 418.51 667.96 417.79 662.61 420.88 662.61 420.88 656.82 417.53 656.82 416.56 656.82 416.56 661.33 413.96 660.07 413.23 654.71 416.32 654.71 416.32 654.71 416.32 654.71 416.32 654.71 416.32 648.93 412.98 648.93 412.01 648.93 412.01 648.93 412.01 648.93 412 648.93 412 653.44 409.4 652.17 408.67 646.82 411.75 646.82 411.76 646.82 411.76 646.81 411.76 646.81 411.75 641.45 408.67 641.02 408.92 678.37 430.48 684.17 427.14 683.73 426.89 678.37 429.98"/>
            <polygon class="cls-3" points="677.14 404.84 675.87 404.11 670.08 407.45 671.35 408.18 677.14 404.84"/>
            <polygon class="cls-3" points="667.97 399.55 662.18 402.89 663.45 403.62 669.24 400.28 667.97 399.55"/>
            <polygon class="cls-3" points="693.75 421.11 694.18 421.36 699.96 418.02 699.53 417.78 693.75 421.11"/>
            <polygon class="cls-3" points="685.01 409.39 683.76 408.67 677.98 412.01 679.23 412.73 685.01 409.39"/>
            <polygon class="cls-3" points="691.64 413.22 685.86 416.56 687.13 417.29 692.91 413.95 691.64 413.22"/>
            <polygon class="cls-3" points="671.35 408.18 670.08 407.45 669.23 407.94 670.5 408.67 671.35 408.18"/>
            <polygon class="cls-3" points="679.23 412.73 677.98 412.01 677.13 412.5 678.38 413.22 679.23 412.73"/>
            <polygon class="cls-3" points="662.18 402.89 661.33 403.38 662.6 404.11 663.45 403.62 662.18 402.89"/>
            <polygon class="cls-3" points="685.86 416.56 685.01 417.04 686.28 417.78 687.13 417.29 685.86 416.56"/>
            <polygon class="cls-3" points="678.37 429.01 715.75 407.45 709.96 404.11 672.6 425.68 678.37 429.01"/>
            <polygon class="cls-3" points="678.37 429.01 678.37 429.98 672.6 426.64 672.6 425.68 678.37 429.01"/>
            <polygon class="cls-3" points="678.37 429.01 678.37 429.98 715.75 408.43 715.75 407.45 678.37 429.01"/>
            <polygon class="cls-3" points="670.5 424.46 670.49 425.43 664.71 422.09 664.71 421.12 670.5 424.46"/>
            <polygon class="cls-3" points="670.49 424.45 707.85 402.89 702.06 399.55 664.71 421.11 670.49 424.45"/>
            <polygon class="cls-3" points="670.49 424.45 670.49 425.43 707.86 403.86 707.86 402.89 670.49 424.45"/>
            <polygon class="cls-3" points="662.61 419.9 662.61 420.88 656.82 417.53 656.82 416.56 662.61 419.9"/>
            <polygon class="cls-3" points="662.61 419.9 699.96 398.34 694.18 395.01 656.82 416.56 662.61 419.9"/>
            <polygon class="cls-3" points="662.61 419.9 662.61 420.88 699.97 399.31 699.97 398.34 662.61 419.9"/>
            <polygon class="cls-3" points="654.72 415.35 654.71 416.32 648.93 412.98 648.93 412 654.72 415.35"/>
            <polygon class="cls-3" points="654.71 415.35 692.07 393.78 686.28 390.44 648.93 412.01 654.71 415.35"/>
            <polygon class="cls-3" points="654.71 415.35 654.71 416.32 692.07 394.75 692.07 393.78 654.71 415.35"/>
            <polygon class="cls-3" points="646.83 410.79 646.82 411.76 641.03 408.43 641.03 407.45 646.83 410.79"/>
            <polygon class="cls-3" points="646.81 410.79 684.17 389.23 678.38 385.89 641.03 407.45 646.81 410.79"/>
            <polygon class="cls-3" points="646.81 410.79 646.81 411.76 684.17 390.2 684.17 389.22 646.81 410.79"/>
            <polygon class="cls-3" points="683.76 390.44 677.97 393.77 679.24 394.51 685.02 391.17 683.76 390.44"/>
            <polygon class="cls-3" points="700.8 400.28 699.55 399.55 693.77 402.89 695.02 403.62 700.8 400.28"/>
            <polygon class="cls-3" points="692.93 395.73 691.65 395 685.87 398.33 687.14 399.07 692.93 395.73"/>
            <polygon class="cls-3" points="709.55 412 709.96 412.24 715.75 408.9 715.33 408.66 709.55 412"/>
            <polygon class="cls-3" points="707.43 404.1 701.65 407.44 702.92 408.17 708.7 404.83 707.43 404.1"/>
            <polygon class="cls-3" points="689.28 423.67 694.18 426.38 694.17 421.36 693.75 421.11 689.28 423.67"/>
            <polygon class="cls-3" points="709.96 417.27 705.13 414.55 709.55 412 709.96 412.24 709.96 417.27"/>
            <polygon class="cls-3" points="687.13 399.07 685.86 398.34 685.01 398.83 686.28 399.56 687.13 399.07"/>
            <polygon class="cls-3" points="695.01 403.62 693.75 402.9 692.91 403.39 694.16 404.11 695.01 403.62"/>
            <polygon class="cls-3" points="679.23 394.51 677.96 393.78 677.12 394.27 678.38 395 679.23 394.51"/>
            <polygon class="cls-3" points="702.9 408.18 701.63 407.45 700.79 407.93 702.06 408.67 702.9 408.18"/>
            <polygon class="cls-3" points="646.82 413.23 651.17 415.74 646.82 418.25 646.82 413.23"/>
            <polygon class="cls-3" points="683.73 426.89 684.16 427.14 684.18 432.14 694.18 426.38 689.3 423.68 683.73 426.89"/>
            <polygon class="cls-3" points="699.53 417.78 705.13 414.55 709.96 417.27 699.96 423.04 699.96 418.03 699.53 417.78"/>
            <polygon class="cls-4" points="678.45 391.03 678.45 407.48 660.04 396.85 660.04 380.4 678.45 391.03"/>
            <polygon class="cls-5" points="678.45 391.03 678.45 407.48 696.88 396.85 696.88 380.39 678.45 391.03"/>
            <polygon class="cls-6" points="696.88 380.41 678.45 391.03 660.04 380.4 678.4 369.75 696.88 380.41"/>
            <polygon class="cls-4" points="697.3 402.09 697.3 418.55 678.9 407.91 678.9 391.46 697.3 402.09"/>
            <polygon class="cls-5" points="697.3 402.09 697.3 418.55 715.73 407.91 715.73 391.46 697.3 402.09"/>
            <polygon class="cls-6" points="715.73 391.46 697.3 402.09 678.9 391.46 697.26 380.81 715.73 391.46"/>
            <polygon class="cls-5" points="659.4 402.09 659.4 418.55 677.83 407.91 677.83 391.46 659.4 402.09"/>
            <polygon class="cls-4" points="659.4 402.09 659.4 418.55 640.99 407.91 640.99 391.46 659.4 402.09"/>
            <polygon class="cls-6" points="677.83 391.46 659.4 402.09 640.99 391.46 659.38 380.81 677.83 391.46"/>
            <polygon class="cls-4" points="678.35 413.03 678.35 429.49 660.04 418.85 660.04 402.4 678.35 413.03"/>
            <polygon class="cls-5" points="678.35 413.03 678.35 429.49 696.88 418.85 696.88 402.39 678.35 413.03"/>
            <polygon class="cls-6" points="696.88 402.42 678.35 413.03 660.04 402.4 678.43 391.75 696.88 402.42"/>
            <polygon class="cls-4" points="678.45 374.03 678.45 390.48 660.04 379.85 660.04 363.4 678.45 374.03"/>
            <polygon class="cls-5" points="678.45 374.03 678.45 390.48 696.88 379.85 696.88 363.39 678.45 374.03"/>
            <polygon class="cls-6" points="696.88 363.41 678.45 374.03 660.04 363.4 678.4 352.75 696.88 363.41"/>
            <polygon class="cls-4" points="697.3 385.09 697.3 401.55 678.9 390.91 678.9 374.46 697.3 385.09"/>
            <polygon class="cls-5" points="697.3 385.09 697.3 401.55 715.73 390.91 715.73 374.46 697.3 385.09"/>
            <polygon class="cls-6" points="715.73 374.46 697.3 385.09 678.9 374.46 697.26 363.81 715.73 374.46"/>
            <polygon class="cls-5" points="659.4 385.09 659.4 401.55 677.83 390.91 677.83 374.46 659.4 385.09"/>
            <polygon class="cls-4" points="659.4 385.09 659.4 401.55 640.99 390.91 640.99 374.46 659.4 385.09"/>
            <polygon class="cls-6" points="677.83 374.46 659.4 385.09 640.99 374.46 659.38 363.81 677.83 374.46"/>
            <polygon class="cls-4" points="678.35 396.03 678.35 412.49 660.04 401.85 660.04 385.4 678.35 396.03"/>
            <polygon class="cls-5" points="678.35 396.03 678.35 412.49 696.88 401.85 696.88 385.39 678.35 396.03"/>
            <polygon class="cls-6" points="696.88 385.42 678.35 396.03 660.04 385.4 678.43 374.75 696.88 385.42"/>
            <polygon class="cls-4" points="678.45 357.03 678.45 373.48 660.04 362.85 660.04 346.4 678.45 357.03"/>
            <polygon class="cls-5" points="678.45 357.03 678.45 373.48 696.88 362.85 696.88 346.39 678.45 357.03"/>
            <polygon class="cls-6" points="696.88 346.41 678.45 357.03 660.04 346.4 678.4 335.75 696.88 346.41"/>
            <polygon class="cls-4" points="697.3 368.09 697.3 384.55 678.9 373.91 678.9 357.46 697.3 368.09"/>
            <polygon class="cls-5" points="697.3 368.09 697.3 384.55 715.73 373.91 715.73 357.46 697.3 368.09"/>
            <polygon class="cls-6" points="715.73 357.46 697.3 368.09 678.9 357.46 697.26 346.81 715.73 357.46"/>
            <polygon class="cls-5" points="659.4 368.09 659.4 384.55 677.83 373.91 677.83 357.46 659.4 368.09"/>
            <polygon class="cls-4" points="659.4 368.09 659.4 384.55 640.99 373.91 640.99 357.46 659.4 368.09"/>
            <polygon class="cls-6" points="677.83 357.46 659.4 368.09 640.99 357.46 659.38 346.81 677.83 357.46"/>
            <polygon class="cls-4" points="678.35 379.03 678.35 395.49 660.04 384.85 660.04 368.4 678.35 379.03"/>
            <polygon class="cls-5" points="678.35 379.03 678.35 395.49 696.88 384.85 696.88 368.39 678.35 379.03"/>
            <polygon class="cls-6" points="696.88 368.42 678.35 379.03 660.04 368.4 678.43 357.75 696.88 368.42"/>
          </g>
          <g id="wh_before-2" data-name="wh_before">
            <polygon class="cls-12" points="683.92 315.51 550.45 180 418.52 159.34 418.52 308.31 466.12 334.9 466.12 197.78 639.5 296.77 639.5 433.23 685.4 459.31 685.4 314.67 683.92 315.51"/>
            <polygon class="cls-12" points="685.4 314.67 685.4 459.31 956.23 303.71 956.23 159.06 685.4 314.67"/>
            <polygon class="cls-2" points="826.01 21.67 550.45 180 415.2 158.82 690.76 0.5 826.01 21.67"/>
            <polygon class="cls-2" points="826.01 21.67 550.45 180 683.92 315.51 959.49 157.19 826.01 21.67"/>
          </g>
        </g>
        <!-- <line id="Stacker_line" class="cls-13" x1="1007.5" y1="582.5" x2="1482.5" y2="307.5"/>
        <line class="cls-13" x1="1007.5" y1="582.5" x2="0.5" y2="0.5"/>
        <line id="truck_line" class="cls-13" x1="804.5" y1="464.5" x2="1007.5" y2="582.5"/> -->
      </g>
    </svg>
    <!-- line3D -->
    <svg class="line3D" viewBox="0 0 2368.71 2186.5" xmlns="http://www.w3.org/2000/svg" width="2480">
      <g fill="none" stroke="#1370C3" stroke-miterlimit="10"><g opacity=".5"><path d="m496.36 627.59v955"/><path d="m550.86 627.59v955"/><path d="m605.36 627.59v955"/><path d="m659.86 627.59v955"/><path d="m714.36 627.59v955"/><path d="m768.86 627.59v955"/><path d="m823.36 627.59v955"/><path d="m877.86 627.59v955"/><path d="m932.36 627.59v955"/><path d="m986.86 627.59v955"/><path d="m1041.36 627.59v955"/><path d="m1095.86 627.59v955"/><path d="m1150.36 627.59v955"/><path d="m1204.86 627.59v955"/><path d="m1259.36 627.59v955"/><path d="m1313.86 627.59v955"/><path d="m1368.36 627.59v955"/><path d="m1422.86 627.59v955"/><path d="m1477.36 627.59v955"/><path d="m1531.86 627.59v955"/><path d="m1586.36 627.59v955"/><path d="m1640.86 627.59v955"/><path d="m1695.36 627.59v955"/><path d="m1749.86 627.59v955"/><path d="m1804.36 627.59v955"/><path d="m1858.86 627.59v955"/><path d="m1913.36 627.59v955"/></g><g opacity=".3" stroke-width="1.42"><path d="m.35 1227.77 1659.5 958.11"/><path d="m27.6 1180.57 1659.5 958.11"/><path d="m54.85 1133.37 1659.5 958.12"/><path d="m82.1 1086.18 1659.5 958.11"/><path d="m109.35 1038.98 1659.5 958.11"/><path d="m136.6 991.78 1659.5 958.11"/><path d="m163.85 944.58 1659.5 958.11"/><path d="m191.1 897.38 1659.5 958.11"/><path d="m218.35 850.18 1659.5 958.12"/><path d="m245.6 802.99 1659.5 958.11"/><path d="m272.85 755.79 1659.5 958.11"/><path d="m300.1 708.59 1659.5 958.11"/><path d="m327.35 661.39 1659.5 958.11"/><path d="m354.6 614.19 1659.5 958.11"/><path d="m381.85 566.99 1659.5 958.12"/><path d="m409.1 519.8 1659.5 958.11"/><path d="m436.35 472.6 1659.5 958.11"/><path d="m463.6 425.4 1659.5 958.11"/><path d="m490.85 378.2 1659.5 958.11"/><path d="m518.1 331 1659.5 958.11"/><path d="m545.35 283.8 1659.5 958.12"/><path d="m572.6 236.61 1659.5 958.11"/><path d="m599.85 189.41 1659.5 958.11"/><path d="m627.1 142.21 1659.5 958.11"/><path d="m654.36 95.01 1659.49 958.11"/><path d="m681.61 47.81 1659.49 958.11"/><path d="m708.86.61 1659.49 958.11"/></g><g opacity=".3" stroke-width="1.36"><path d="m1639.29 36.16-1534.43 885.91"/><path d="m1666.54 83.36-1534.43 885.91"/><path d="m1693.79 130.56-1534.43 885.91"/><path d="m1721.04 177.76-1534.43 885.91"/><path d="m1748.29 224.96-1534.43 885.9"/><path d="m1775.54 272.16-1534.43 885.9"/><path d="m1802.79 319.36-1534.43 885.9"/><path d="m1830.04 366.55-1534.43 885.91"/><path d="m1857.29 413.75-1534.43 885.91"/><path d="m1884.54 460.95-1534.43 885.91"/><path d="m1911.79 508.15-1534.43 885.9"/><path d="m1939.04 555.35-1534.43 885.9"/><path d="m1966.29 602.55-1534.43 885.9"/><path d="m1993.54 649.74-1534.43 885.91"/><path d="m2020.79 696.94-1534.43 885.91"/><path d="m2048.04 744.14-1534.43 885.91"/><path d="m2075.29 791.34-1534.43 885.9"/><path d="m2102.54 838.54-1534.43 885.9"/><path d="m2129.79 885.74-1534.43 885.9"/><path d="m2157.04 932.93-1534.43 885.91"/><path d="m2184.29 980.13-1534.43 885.91"/><path d="m2211.54 1027.33-1534.43 885.91"/><path d="m2238.79 1074.53-1534.43 885.9"/><path d="m2266.04 1121.73-1534.43 885.9"/><path d="m2293.29 1168.93-1534.43 885.9"/><path d="m2320.54 1216.12-1534.43 885.91"/><path d="m2347.79 1263.32-1534.43 885.91"/></g></g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'LoginBgView',
  props: [],
  components: {},
  data () {
    //
    return {
      doorToggle: false
    }
  },
  computed: {},
  watch: {},
  methods: {
    doorToggleEvent: function () {
      this.doorToggle = !this.doorToggle
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.LoginBgView-box {
  position: fixed;
  bottom: -10px;
  left: 0;
  .line3D {
    position: absolute;
    top: -800px;
    left: -500px;
    z-index: -1;
  }
  .cls-1,.cls-13{fill:none;}
  .cls-1,.cls-10,.cls-12,.cls-13,.cls-2,.cls-3{stroke:rgb(145, 145, 145);}
  .cls-1,.cls-12{stroke-miterlimit:10;}
  .cls-10,.cls-12,.cls-2,.cls-3{fill:#3c3c3c;}
  .cls-10,.cls-13,.cls-2,.cls-3{stroke-linecap:round;stroke-linejoin:round;}
  .cls-10,.cls-3{stroke-width:0.25px;}
  .cls-4{fill:#a4e7ed;}
  .cls-5{fill:#5ad9e2;}
  .cls-6{fill:#e0f0ff;}
  .cls-7{isolation:isolate;}
  .cls-11,.cls-8{fill:rgb(145, 145, 145);}
  .cls-9{fill:#3c3c3c;}
  .cls-10,.cls-11{fill-rule:evenodd;}
}
</style>
