<template>
  <div>
    <Modal v-model="modal" width="300" :footer-hide="true" class="pickinglistModal">
      <!-- LoadingView -->
      <LoadingView :show="LoadingViewIsShow"></LoadingView>
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <h2 class="title">
            <span class="title-text">列印報表</span>
          </h2>
          <div class="desc-box">
            <div class="item">
              <!-- 報表種類 -->
              <FloatLabelBox
                :config="{
                  hasContent: (postData.report_type!==null),
                  label: `報表種類*`,
                  hasClearButton: true,
                  background: 'white',
                  type: `Select`,
                  settings: {height: 41}}"
                :selectList="reportTypeList"
                :code="`report_type`"
                :defaultValue="postData.report_type"
                @changeModelEvent="reportTypeListChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="item" v-show="orderByList.length > 0">
              <!-- 輸出明細排序方式 -->
              <FloatLabelBox
                :config="{
                  hasContent: (postData.order_by!==null),
                  label: `輸出明細排序方式*`,
                  hasClearButton: true,
                  background: 'white',
                  type: `Select`,
                  settings: {height: 41}}"
                :selectList="orderByList"
                :code="`order_by`"
                :defaultValue="postData.order_by"
                @changeModelEvent="orderByListChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="item" v-show="postData.pickinglist_rule > -1">
              <!-- 彙總訂單數 pickinglist_rule -->
              <FloatLabelBox
                :config="{hasContent: (postData.pickinglist_rule && postData.pickinglist_rule!==''),
                label: '彙總訂單數',
                hasClearButton: true,
                background: 'white',
                type: `InputNumber`,
                settings: {height: 41}}"
                :code="`pickinglist_rule`"
                :defaultValue="postData.pickinglist_rule"
                @changeModelEvent="inputNumChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="item" v-show="postData.report_type === 'pickingListByProduct'">
              <!-- 是否需要同時列印訂單揀貨單 -->
              <div class="label-box">是否需要同時列印訂單揀貨單</div>
              <div class="body-box">
                <i-Switch
                  v-model="postData.picking_order"
                  size="large"
                  :true-value="true"
                  :false-value="false"
                >
                  <span slot="open">是</span>
                  <span slot="close">否</span>
                </i-Switch>
              </div>
            </div>
            <div class="item" v-show="postData.report_type !== 'pickingListByProduct'">
              <!-- 已列印過的報表是否重印 -->
              <div class="label-box">已列印過的報表是否重印</div>
              <div class="body-box">
                <i-Switch
                  v-model="postData.reGenerator"
                  size="large"
                  :true-value="true"
                  :false-value="false"
                >
                  <span slot="open">是</span>
                  <span slot="close">否</span>
                </i-Switch>
              </div>
            </div>
            <div class="item" v-show="postData.report_type === 'pickingListByProduct'">
              <!-- 單件訂單是否彙總 -->
              <div class="label-box">單件訂單是否彙總</div>
              <div class="body-box">
                <i-Switch
                  v-model="postData.separate"
                  size="large"
                  :true-value="false"
                  :false-value="true"
                >
                  <span slot="open">是</span>
                  <span slot="close">否</span>
                </i-Switch>
              </div>
            </div>
            <!-- <div class="item" v-show="postData.report_type === 6">
              新竹託運單 列印方式
              <FloatLabelBox
                :config="{
                  hasContent: (postData.layout_type!==null),
                  label: `單據列印方式*`,
                  hasClearButton: true,
                  type: `Select`,
                  settings: {height: 41}}"
                :selectList="layoutTypeList"
                :code="`layout_type`"
                :defaultValue="postData.layout_type"
                @changeModelEvent="layoutTypeListChangeEvent"
              ></FloatLabelBox>
            </div> -->
            <div class="item" v-show="postData.report_type === 3">
              <!-- 是否計算材積 -->
              <div class="label-box">是否計算材積</div>
              <div class="body-box">
                <i-Switch
                  v-model="postData.calculateTotalVolume"
                  size="large"
                  :true-value="true"
                  :false-value="false"
                >
                  <span slot="open">是</span>
                  <span slot="close">否</span>
                </i-Switch>
              </div>
            </div>
          </div>
          <div class="btn-box">
            <Button class="best-blue lg-btn w-100" shape="circle" @click="printEvent(postData.report_type, postData)">列印</Button>
          </div>
        </div>
      </div>
    </Modal>
    <!-- <Modal v-model="comfirmModal" width="450" :footer-hide="true" class="pickinglistModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
      <div class="icon-box"><img src="@/assets/images/icon/warning.png"></div>
        <div class="container-box">
          <div class="desc-box">
            已列印過的揀貨單是否重印
          </div>
          <div class="btn-box">
            <Button shape="circle" @click="printEvent(postData.report_type, postData, 'yes')">重印</Button>
            <Button shape="circle" @click="printEvent(postData.report_type, postData, 'no')">不重印</Button>
          </div>
        </div>
      </div>
    </Modal> -->
  </div>
</template>

<script>
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
//
export default {
  name: 'CommonPickinglistModal',
  props: ['pickinglistModal', 'pickinglistLoadingViewIsShow', 'reportType'],
  components: {
    LoadingView,
    FloatLabelBox
  },
  data () {
    //
    return {
      LoadingViewIsShow: this.pickinglistLoadingViewIsShow,
      //
      modal: this.pickinglistModal,
      postData: {
        report_type: null,
        order_by: null,
        pickinglist_rule: null,
        picking_order: true,
        reGenerator: true,
        // layout_type: 1,
        calculateTotalVolume: false,
        separate: true
      },
      error: {
        order_by: false
      },
      reportList: {},
      /* 報表種類 */
      reportTypeList: [],
      /* 輸出明細排序方式 */
      orderByListData: {},
      orderByList: []
      /* 新竹託運單 列印方式 */
      // layoutTypeList: [
      //   {
      //     value: 1,
      //     label: '標籤機列印'
      //   },
      //   {
      //     value: 2,
      //     label: 'A4列印'
      //   }
      // ],
      // comfirmModal: false
    }
  },
  computed: {},
  watch: {
    pickinglistModal: function (bol) {
      // console.log(bol)
      // console.log(this.reportTypeList.length)
      // console.log(this.orderByList.length)
      if (bol && this.reportTypeList.length === 1 && this.orderByList.length === 0) {
        this.printEvent(this.postData.report_type, this.postData)
        return
      }
      this.modal = bol
    },
    modal: function (bol) {
      // console.log(this.pickinglistLoadingViewIsShow)
      if (!bol) {
        this.$emit('setPickinglistModalEvent', false)
      }
    },
    pickinglistLoadingViewIsShow: {
      handler: function (val) {
        // console.log(val)
        this.LoadingViewIsShow = val
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    /* 報表種類 */
    reportTypeListChangeEvent: function (data) {
      // console.log(data)
      // this[data.code] = data.val
      this.postData[data.code] = data.val
      //
      this.orderByList = this.orderByListData[data.val]
      if (this.orderByList.length > 0) {
        this.postData.order_by = this.orderByList[0].value
      }
      this.postData.separate = this.reportList[data.val].picklist_rule > -1
      this.postData.pickinglist_rule = this.reportList[data.val].picklist_rule
    },
    /* 輸出明細排序方式 */
    orderByListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
      this.postData.order_by = data.val
    },
    /* 新竹託運單 單雙排列 */
    // layoutTypeListChangeEvent: function (data) {
    //   // console.log(data)
    //   // this[data.code] = data.val
    //   this.postData[data.code] = data.val
    //   this.postData.layout_type = data.val
    // },
    printEvent: function (type, postData) {
      // this.comfirmModal = false
      this.$emit('printEvent', { type: type, postData: postData })
    },
    getReportTypeListEvent: function () {
      this.reportTypeList = []
      this.$store.dispatch('report/search', this.reportType).then((r) => {
        console.log(r)
        if (r.success) {
          let list = r.data
          list.forEach((item) => {
            this.reportTypeList.push(
              {
                value: item.report_code,
                label: item.report_name
              }
            )
            if (item.order_by) {
              let orderBy = JSON.parse(item.order_by)
              let orderByLength = orderBy.length
              let orderByList = []
              for (let i = 0; i < orderByLength; i++) {
                orderByList.push({
                  value: orderBy[i].code,
                  label: orderBy[i].name
                })
              }
              this.orderByListData[item.report_code] = orderByList
            } else {
              this.orderByListData[item.report_code] = []
            }
            this.reportList[item.report_code] = item
          })
          this.postData.report_type = this.reportTypeList[0].value
          this.postData.pickinglist_rule = this.reportList[this.postData.report_type].picklist_rule
          console.log(this.postData.pickinglist_rule)
        } else {
          this.$Notice.error({
            title: '報表功能請稍後再試',
            desc: r.message,
            duration: 30
          })
        }
      })
    }
  },
  created () {
    this.getReportTypeListEvent()
  },
  mounted () {
    //
    // console.log(this.pickinglistLoadingViewIsShow)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.pickinglistModal{
  /deep/.ivu-modal-content{
    overflow: hidden;
  }
  .modal-body {
    width: 100%;
    padding: 0 30px 24px;
    .icon-box {
      width: 141px;
      height: 128px;
      img {
        width: auto;
        height: 115px;
        object-fit: cover
      }
    }
    .container-box {
      height: 100%;
      .title {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        color: #3c3c3c;
        .title-text {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 24px;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          display: inline-block;
          margin-bottom: 8px;
          font-weight: 400;
        }
        .btn-box.r {
          flex: 1;
          padding: 0 16px;
          display: flex;
          .downloadExcelBtn {
            font-size: 16px;
            color: #fff;
            padding-top: 1px;
            padding-bottom: 1px;
            background-color: #354361;
            border: 1px solid transparent;
          }
        }
      }
      .desc-box {
        width: 100%;
        .item {
          margin-bottom: 24px;
        }
        .label-box {
          font-size: 16px;
          color: #333333;
          padding-bottom: 3px;
        }
        .body-box {
          padding: 0;
        }
      }
    }
  }
}
</style>
