<template>
  <!-- Step -->
  <div class="step-box" :style="`width:${w}px`">
    <span v-for="(node, index) in data" :key="index">
      <div class="node-box">
        <div class="node-space-left">
          <div class="label">{{node.label}}</div>
          <div class="date">{{node.date}}</div>
        </div>
        <div class="node" :class="{type0: node.status === 0, type1: node.status === 1}">
          <span v-if="node.status === 1">
            <Icon type="md-checkmark" color="#354361"/>
          </span>
        </div>
        <div class="node-space-right">
          <div class="time">{{node.time}}</div>
        </div>
      </div>
      <div class="line-box bottom-line-box" v-if="!node.isEndNode">
        <div class="space-left"></div>
        <div class="space-center">
          <div class="line" :class="{type0: node.status === 0, type1: node.status === 1}"></div>
        </div>
        <div class="space-right"></div>
      </div>
    </span>
  </div>
</template>

<script>
export default {
  name: 'Step1',
  props: [
    'width',
    'data'
  ],
  components: {},
  data () {
    //
    return {
      w: this.width || 'auto'
    }
  },
  computed: {},
  watch: {},
  methods: {},
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`product/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.step-box {
  min-width: 160px;
  width: fit-content;
  height: fit-content;
  padding: 30px 0;
  .node-box {
    position: relative;
    display: flex;
    .node {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.type0 {
        background-color: #e0e0e0;
      }
      &.type1 {
        border: solid 2px #354361;
        background-color: #ffffff;
      }
    }
    .node-space-left {
      position: relative;
      flex: 1;
    }
    .node-space-right {
      position: relative;
      width: 50px;
    }
    .label {
      position: absolute;
      top: -5px;
      right: 10px;
      width: max-content;
      font-family: PingFangTC;
      font-size: 16px;
      font-weight: 300;
      color: #000000;
    }
    .date {
      position: absolute;
      top: 18px;
      right: 10px;
      font-family: PingFangTC;
      font-size: 12px;
      font-weight: 300;
      color: #000000;
    }
    .time {
      position: absolute;
      top: 0;
      left: 10px;
      font-family: PingFangTC;
      font-size: 14px;
      font-weight: 300;
      color: #000000;
    }
  }
  .line-box  {
    display: flex;
    .space-left {
      flex: 1;
    }
    .space-center {
      width: 16px;
      .line {
        margin: 0 auto;
        width: 4px;
        height: 40px;
        &.type0 {
          background-color: #e0e0e0;
        }
        &.type1 {
          background-color:  #354361;
        }
      }
    }
    .space-right {
      width: 50px;
      font-size: 15px;
      font-weight: 300;
      text-align: right;
      color: #000000;
    }
  }
}
</style>
