<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 庫存查詢(儲位) -->
    <span>
      <h2 class="title">
        <span class="title-text">庫存查詢(儲位)</span>
      </h2>
      <div class="body-box">
        <DataGrid
          idKeyName="inbound_id"
          :bgType="'light'"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :setVisibleColumns="setVisibleColumns"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @getDetailEvent="getDetailEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- add btn -->
        <div class="top">
          <Tooltip content="新增明細" placement="top">
            <Button class="addBtn best-blue-gradual" shape="circle" icon="md-add" @click="getIds('add')"></Button>
          </Tooltip>
        </div>
      </div>
    </span>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
//
export default {
  name: 'InventoryQueryModal',
  props: ['keyCode', 'ownerId', 'useFixedOwnerId', 'inventoryQueryModal'],
  components: {
    LoadingView,
    DataGrid
  },
  data () {
    let logicalOperator = Config.logicalOperator
    //
    let settingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor['light'].dataGrid.headBgColor,
        headColor: Config.themeColor['light'].dataGrid.headColor,
        rowOddBgColor: Config.themeColor['light'].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor['light'].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor['light'].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor['light'].dataGrid.rowEvenColor,
        editCelColor: Config.themeColor['light'].dataGrid.editCelColor,
        waitEditCelColor: Config.themeColor['light'].dataGrid.waitEditCelColor,
        notEditCelColor: Config.themeColor['light'].dataGrid.notEditCelColor,
        selectedColor: Config.themeColor['light'].dataGrid.selectedColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storage_code',
          displayName: '儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_code',
          displayName: '商品料號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_quality',
          displayName: '良品/不良品',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'available_nums',
          displayName: '可用量',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // console.log(settingData)
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      dataList: [],
      optType: null,
      idsData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [],
      toRestFilter: false,
      setVisibleColumns: false,
      // 入庫單作業建檔
      detailId: null,
      productQualityFilterData: []
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    ownerId: {
      handler: function (val) {
        if (val) {
          this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
        }
      },
      deep: true
    },
    inventoryQueryModal: {
      handler: function (val) {
        if (val) {
          this.setVisibleColumns = !this.setVisibleColumns
        }
      },
      deep: true
    },
    dataList: {
      handler: function (val) {
        // console.log(val)
        // console.log(this.settingData.page)
        if (!val) {
          return
        }
        this.gridData = val
        this.gridData.forEach((item, index) => {
          item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
        })
      },
      deep: true
    },
    productQualityFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'product_quality') {
            return true
          }
        })
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      // console.log(data.inboundStatus)
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              filterAry.push([item, '>=', localFilterStartTime])
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              filterAry.push([item, '<=', localFilterEndTime])
            }
          } else {
            if (data[item].logicalOperator === 'like') {
              filterAry.push([item, data[item].logicalOperator, `%${data[item].value}%`])
            } else {
              filterAry.push([item, data[item].logicalOperator, data[item].value])
            }
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        case 'add':
          this.gridDataChangeEvent(data.list)
          break
      }
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
      this.gridDataChangeEvent([data])
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.LoadingViewIsShow = true
      this.idsData = null
      //
      var filter = []
      if (this.ownerId && !this.useFixedOwnerId) {
        filter = [['owner_id', '=', this.ownerId]]
      }
      let sort = sortAry || [{ sortField: 'created_at', sortValue: 'desc' }]
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          // console.log(item)
          filter.push(item)
        })
      }
      //
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: [...filter],
        orCondition: [],
        sort: sort
      }
      // console.log(postData)
      this.$store.dispatch(`stockByStorage/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.dataList = r.data
        } else {
          this.$Notice.warning({
            title: `查尋完畢`,
            desc: `${r.message}`,
            duration: 30
          })
        }
        this.isQuery = false
        this.LoadingViewIsShow = false
      })
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    gridDataChangeEvent: function (data) {
      // console.log(data)
      this.$emit('gridDataChangeEvent', data)
      let list = [...this.gridData]
      list.forEach((item, index) => {
        // console.log(index)
        item.SELECT = false
      })
      this.gridData = [...list]
    },
    // 良品/不良品 product_quality
    getProductQualityFilterData: function () {
      this.productQualityFilterData = [
        {
          value: 1,
          label: '良品'
        },
        {
          value: 0,
          label: '不良品'
        }
      ]
    }
  },
  created () {
    //
    this.getProductQualityFilterData()
    this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  position: relative;
  width: 100%;
  height: 500px;
  > span {
    display: block;
    height: calc(100% - 4px);
    padding: 0 16px 16px;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #3c3c3c;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
    }
    .btn-box.l {
      display: flex;
      width: auto;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 45px);
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .top{
      position: absolute;
      right: 16px;
      bottom: 16px;
      text-align: center;
    }
    .addBtn {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      font-size: 32px;
    }
  }
}
</style>
