<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'shipper' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'shipper'"
        type="default"
        shape="circle"
      >出貨資料</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'orderDetails' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'orderDetails'"
        type="default"
        shape="circle"
      >訂單明細</Button>
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'details' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'details'"
        type="default"
        shape="circle"
      >實際出庫明細</Button>
    </div>
    <!-- 基本資料 -->
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="row">
        <div class="col">
          <!-- 出庫單號 outbound_no -->
          <FloatLabelBox
            :config="{hasContent: (postData.outbound_no && postData.outbound_no!==''),
            label: '出庫單號',
            hasClearButton: true,
            background: 'light',
            type: `InputText`,
            settings: {height: 41}}"
            :code="`outbound_no`"
            :defaultValue="postData.outbound_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 出庫狀態 outbound_status -->
          <FloatLabelBox
            :config="{hasContent: (postData.outbound_status && postData.outbound_status!==''),
            label: '出庫狀態',
            hasClearButton: true,
            background: 'light',
            type: `Select`,
            settings: {height: 41}}"
            :selectList="outboundStatusList"
            :code="`outbound_status`"
            :defaultValue="postData.outbound_status"
            :isError="error.outbound_status"
            :isRequired="true"
            :disabled="true"
            @changeModelEvent="outboundStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col" v-show="!useFixedOwnerId">
          <!-- 貨主 owner_id -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.owner_name && postData.owner_name!==''),
              label: '貨主',
              hasClearButton: true,
              background: 'light',
              type: `NewAutoComplete`,
              settings: {height: 41}, hiddenSearchBtn: true}"
            :code="`owner_name`"
            :autoCompleteData="ownerList"
            :defaultValue="postData.owner_name"
            :modalTitle="`貨主`"
            :toCloseModal="toCloseOwnerAutocompleteModal"
            keyCode="customerSetup"
            storeKey="customerOwner"
            returnCode="customer_name"
            :showCols="autoCompleteShowOwnerCols"
            :isError="error.owner_id"
            :isRequired="!useFixedOwnerId"
            :disabled="step > 2"
            @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
            @changeModelEvent="ownerAutocompleteChangeEvent"
            @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
              <div>
                <!-- 貨主-->
                <AutocompleteModal
                keyCode="customerSetup"
                storeKey="customerOwner"
                returnCode="customer_name"
                :condition="ownerCondition"
                :baseCondition="ownerBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
              </div>
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 訂單編號 order_no -->
          <FloatLabelBox
            :config="{hasContent: (postData.order_no && postData.order_no!==''),
            label: '訂單編號 *',
            background: 'light',
            hasClearButton: true,
            type: `InputText`,
            settings: {height: 41}}"
            :code="`order_no`"
            :defaultValue="postData.order_no"
            :isError="error.order_no"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 缺貨處理方式 out_of_stock_dealing_method -->
          <FloatLabelBox
            :config="{
              hasContent: ((postData.out_of_stock_dealing_method || postData.out_of_stock_dealing_method === 0) && postData.out_of_stock_dealing_method!==''),
              label: '缺貨處理方式',
              background: 'light',
              hasClearButton: true,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="outOfStockDealingMethodList"
            :code="`out_of_stock_dealing_method`"
            :defaultValue="postData.out_of_stock_dealing_method"
            @changeModelEvent="outOfStockDealingMethodListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 訂單類型 operation_type -->
          <FloatLabelBox
            :config="{hasContent: (postData.operation_type && postData.operation_type!==''),
            label: '訂單類型',
            background: 'light',
            hasClearButton: true,
            type: `InputText`,
            settings: {height: 41}}"
            :code="`operation_type`"
            :defaultValue="postData.operation_type"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col colx2">
          <!-- 出庫單備註 outbound_note -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_note && postData.outbound_note!==''),
              label: '出庫單備註',
              background: 'light',
              hasClearButton: true,
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`outbound_note`"
            :defaultValue="postData.outbound_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 出庫單第二備註 outbound_note2 -->
          <FloatLabelBox
          :config="{
            hasContent: (postData.outbound_note2 && postData.outbound_note2!==''),
            label: '出庫單第二備註',
            background: 'light',
            hasClearButton: true,
            type: `Textarea`,
            settings: {minHeight: 41}}"
          :code="`outbound_note2`"
          :defaultValue="postData.outbound_note2"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent"
        ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 出庫單第三備註 outbound_note3 -->
          <FloatLabelBox
          :config="{
            hasContent: (postData.outbound_note3 && postData.outbound_note3!==''),
            label: '出庫單第三備註',
            background: 'light',
            hasClearButton: true,
            type: `Textarea`,
            settings: {minHeight: 41}}"
          :code="`outbound_note3`"
          :defaultValue="postData.outbound_note3"
          :disabled="false"
          @changeModelEvent="inputTxtChangeEvent"
        ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 經銷商名稱 dealer_name -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.dealer_name && postData.dealer_name!==''),
              label: '經銷商名稱',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`dealer_name`"
            :defaultValue="postData.dealer_name"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 取號備註 take_number_note -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.take_number_note && postData.take_number_note!==''),
              label: '取號備註',
              background: 'light',
              hasClearButton: true,
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`take_number_note`"
            :defaultValue="postData.take_number_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 出庫總重量 total_weight -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.total_weight && postData.total_weight!==''),
              label: '出庫總重量',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`total_weight`"
            :defaultValue="postData.total_weight"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 出庫總材積 total_volume -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.total_volume && postData.total_volume!==''),
              label: '出庫總材積',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`total_volume`"
            :defaultValue="postData.total_volume"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 板數 outbound_pallets -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_pallets && postData.outbound_pallets!==''),
              label: '板數',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`outbound_pallets`"
            :defaultValue="postData.outbound_pallets"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 箱數 outbound_boxes -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.outbound_boxes && postData.outbound_boxes!==''),
              label: '箱數',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`outbound_boxes`"
            :defaultValue="postData.outbound_boxes"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <!-- 出貨資料 -->
    <div class="top-box pt-4" v-show="changeContent === 'shipper'">
      <div class="row">
        <div class="col">
          <!-- 庫別 inventory_type -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.inventory_type && postData.inventory_type!==''),
              label: '庫別',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`inventory_type`"
            :defaultValue="postData.inventory_type"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 門市代碼 store_code -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.store_code && postData.store_code!==''),
              label: '門市代碼',
              background: 'light',
              hasClearButton: true,
              type: `NewAutoComplete`,
              settings: {height: 41}, hiddenSearchBtn: true}"
            :code="`store_code`"
            :autoCompleteData="storeCodeList"
            :defaultValue="postData.store_code"
            :modalTitle="`門市代碼`"
            :toCloseModal="toCloseStoreCodeAutocompleteModal"
            keyCode="customerSetup"
            storeKey="customerStore"
            returnCode="customer_no"
            :showCols="autoCompleteShowStoreCodeCols"
            @handleEnterSubmit="autocompleteHandleStoreCodeEnterSubmitEvent"
            @changeModelEvent="storeCodeAutocompleteChangeEvent"
            @autoCompleteSearchEvent="storeCodeAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseStoreCodeAutocompleteModal">
              <div>
                <!-- 門市代碼 -->
                <AutocompleteModal
                keyCode="customerSetup"
                storeKey="customerStore"
                returnCode="customer"
                :condition="storeCodeCondition"
                :baseCondition="storeCodeBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteStoreCodeValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 取貨門市 pickup_store -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.pickup_store && postData.pickup_store!==''),
              label: '取貨門市',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`pickup_store`"
            :defaultValue="postData.pickup_store"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 取貨標籤 pickup_tag -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.pickup_tag && postData.pickup_tag!==''),
              label: '取貨標籤',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`pickup_tag`"
            :defaultValue="postData.pickup_tag"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 門市進貨日 store_atd -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.store_atd && postData.store_atd!==''),
              label: '門市進貨日',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`store_atd`"
            :defaultValue="postData.store_atd"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 門市退貨日 store_rtd -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.store_rtd && postData.store_rtd!==''),
              label: '門市退貨日',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`store_rtd`"
            :defaultValue="postData.store_rtd"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 收件人姓名 consignee_name -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.consignee_name && postData.consignee_name!==''),
              label: '收件人姓名',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`consignee_name`"
            :defaultValue="postData.consignee_name"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 收件人電話 consignee_tel -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.consignee_tel && postData.consignee_tel!==''),
              label: '收件人電話',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`consignee_tel`"
            :defaultValue="postData.consignee_tel"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 收件人email consignee_email -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.consignee_email && postData.consignee_email!==''),
              label: '收件人email',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`consignee_email`"
            :defaultValue="postData.consignee_email"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 收件人統編 consignee_vatno -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.consignee_vatno && postData.consignee_vatno!==''),
              label: '收件人統編',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`consignee_vatno`"
            :defaultValue="postData.consignee_vatno"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col colx2">
          <!-- 收件人地址 consignee_address -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.consignee_address && postData.consignee_address!==''),
              label: '收件人地址',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`consignee_address`"
            :defaultValue="postData.consignee_address"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 收件人備註 consignee_note -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.consignee_note && postData.consignee_note!==''),
              label: '收件人備註',
              background: 'light',
              hasClearButton: true,
              type: `Textarea`,
              settings: {minHeight: 41}}"
            :code="`consignee_note`"
            :defaultValue="postData.consignee_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 電商平台 ecstore_code -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.ecstore_code && postData.ecstore_code!==''),
              label: '電商平台',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`ecstore_code`"
            :defaultValue="postData.ecstore_code"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 託運單號 shipping_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.shipping_no && postData.shipping_no!==''),
              label: '託運單號',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`shipping_no`"
            :defaultValue="postData.shipping_no"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨運行別 shipping_company -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.shipping_company_name && postData.shipping_company_name!==''),
              label: '貨運行別',
              background: 'light',
              hasClearButton: true,
              type: `NewAutoComplete`,
              settings: {height: 41}, hiddenSearchBtn: true}"
            :code="`shipping_company_name`"
            :autoCompleteData="shippingCompanyList"
            :defaultValue="postData.shipping_company_name"
            :modalTitle="`貨運行別`"
            :toCloseModal="toCloseShippingCompanyAutocompleteModal"
            keyCode="settingCodeSetup"
            storeKey="settingCode"
            returnCode="code_name"
            :showCols="autoCompleteShowShippingCompanyCols"
            @handleEnterSubmit="autocompleteHandleShippingCompanyEnterSubmitEvent"
            @changeModelEvent="shippingCompanyAutocompleteChangeEvent"
            @autoCompleteSearchEvent="shippingCompanyAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseShippingCompanyAutocompleteModal">
              <div>
                <!-- 貨運行別 -->
                <AutocompleteModal
                keyCode="settingCodeSetup"
                storeKey="settingCode"
                returnCode="code_name"
                :condition="shippingCompanyCondition"
                :baseCondition="shippingCompanyBaseCondition"
                @setAutocompleteValueEvent="setAutocompleteShippingCompanyValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 運送溫層類別 temperature_type -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.temperature_type && postData.temperature_type!==''),
              label: '運送溫層類別',
              background: 'light',
              hasClearButton: true,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="temperatureTypeList"
            :code="`temperature_type`"
            :defaultValue="postData.temperature_type"
            @changeModelEvent="temperatureTypeListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨到付款金額 cod_amount -->
          <FloatLabelBox
            :config="{
              hasContent: Number.isInteger(postData.cod_amount),
              label: '貨到付款金額',
              background: 'light',
              hasClearButton: true,
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`cod_amount`"
            :defaultValue="postData.cod_amount"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 指定配送日期 delivery_date_specify -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.delivery_date_specify && postData.delivery_date_specify!==''),
              label: '指定配送日期',
              background: 'light',
              hasClearButton: true,
              type: `DatePicker`,
              settings: {height: 41}}"
            :code="`delivery_date_specify`"
            :defaultValue="postData.delivery_date_specify"
            :disabled="false"
            @changeModelEvent="deliveryDateSpecifyDatePickerChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 指定配送時間 delivery_time_specify -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.delivery_time_specify && postData.delivery_time_specify!==''),
              label: '指定配送時間',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`delivery_time_specify`"
            :defaultValue="postData.delivery_time_specify"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 指定配送時段 delivery_time_period -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.delivery_time_period && postData.delivery_time_period!==''),
              label: '指定配送時段',
              background: 'light',
              hasClearButton: true,
              type: `Select`,
              settings: {height: 41}}"
            :selectList="deliveryTimePeriodList"
            :code="`delivery_time_period`"
            :defaultValue="postData.delivery_time_period"
            @changeModelEvent="deliveryTimePeriodListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 配送狀態 delivery_status -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.delivery_status && postData.delivery_status!==''),
              label: '配送狀態',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`delivery_status`"
            :defaultValue="postData.delivery_status"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 配送次數 delivery_times -->
          <FloatLabelBox
            :config="{
              hasContent: Number.isInteger(postData.delivery_times),
              label: '配送次數',
              background: 'light',
              hasClearButton: true,
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`delivery_times`"
            :defaultValue="postData.delivery_times"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 配送件數 shipping_pcs -->
          <FloatLabelBox
            :config="{
              hasContent: Number.isInteger(postData.shipping_pcs),
              label: '配送件數',
              background: 'light',
              hasClearButton: true,
              type: `InputNumber`,
              settings: {height: 41}}"
            :code="`shipping_pcs`"
            :defaultValue="postData.shipping_pcs"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 配送編號 delivery_no -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.delivery_no && postData.delivery_no!==''),
              label: '配送編號',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`delivery_no`"
            :defaultValue="postData.delivery_no"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 訂貨人姓名 purchaser_name -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.purchaser_name && postData.purchaser_name!==''),
              label: '訂貨人姓名',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`purchaser_name`"
            :defaultValue="postData.purchaser_name"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 訂貨人統編 purchaser_vatno -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.purchaser_vatno && postData.purchaser_vatno!==''),
              label: '訂貨人統編',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`purchaser_vatno`"
            :defaultValue="postData.purchaser_vatno"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 訂貨人電話 purchaser_tel -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.purchaser_tel && postData.purchaser_tel!==''),
              label: '訂貨人電話',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`purchaser_tel`"
            :defaultValue="postData.purchaser_tel"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 訂貨人email purchaser_email -->
          <FloatLabelBox
            :config="{
              hasContent: (postData.purchaser_email && postData.purchaser_email!==''),
              label: '訂貨人email',
              background: 'light',
              hasClearButton: true,
              type: `InputText`,
              settings: {height: 41}}"
            :code="`purchaser_email`"
            :defaultValue="postData.purchaser_email"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div class="pt-3 position-relative" v-show="changeContent === 'orderDetails'">
      <!-- order detail -->
      <div v-show="postData.outbound_status <= 10 || !postData.outbound_status">
      <!-- <div> -->
        <OrderDetails
          ref="setOrderDetailsList"
          :changeContent="changeContent"
          :detailId="detailId"
          :ownerId="postData.owner_id"
          :useFixedOwnerId="useFixedOwnerId"
          :outboundStatus="postData.outbound_status"
          @gridDataChangeEvent="orderDetailsListChangeEvent"
        ></OrderDetails>
      </div>
      <!-- disabled order detail -->
      <div v-show="postData.outbound_status > 10">
        <OrderCloseDetails
          ref="setOrderCloseDetailsList"
          :changeContent="changeContent"
          :detailId="detailId"
          :ownerId="postData.owner_id"
          :outboundStatus="postData.outbound_status"
          @gridDataChangeEvent="orderCloseDetailsListChangeEvent"
        ></OrderCloseDetails>
      </div>
    </div>
    <div class="pt-3 position-relative" v-show="changeContent === 'details'">
      <!-- 明細 -->
      <div>
        <OutboundOperationCloseDetails
          ref="setOutboundDetailsList"
          :changeContent="changeContent"
          :detailId="detailId"
          :ownerId="postData.owner_id"
          :outboundStatus="postData.outbound_status"
          @gridDataChangeEvent="outboundDetailsListChangeEvent"
        ></OutboundOperationCloseDetails>
      </div>
    </div>
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x" />
    </div> -->
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
  </div>
</template>

<script>
/**
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 */
import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import OrderDetails from './OrderDetails'
import OrderCloseDetails from './OrderCloseDetails'
import OutboundOperationCloseDetails from './OutboundOperationCloseDetails'
//
export default {
  name: 'OutboundOperationAdd',
  props: ['step', 'detailId', 'cloneData', 'timeZoneTimestamp'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    AutocompleteModal,
    OrderDetails,
    OrderCloseDetails,
    OutboundOperationCloseDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      modalType = 'clone'
    }
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    var useFixedOwnerId = this.$store.state.auth.userInfo.useFixedOwnerId
    //
    let postData = {
      outbound_id: this.cloneData ? this.cloneData.outbound_id : null, // 出庫紀錄ID
      outbound_no: null, // 出庫編號/系統編號/出庫單號
      outbound_status: null, // 出庫狀態
      owner_name: this.cloneData ? this.cloneData.owner_name : ownerName, // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : ownerId, // 貨主ID
      order_no: this.cloneData ? this.cloneData.order_no : null, // 訂單編號
      operation_type: this.cloneData ? this.cloneData.operation_type : null, // 訂單類型
      shipping_company_name: this.cloneData ? this.cloneData.shipping_company_name : null, // 貨運行別
      shipping_company: this.cloneData ? this.cloneData.shipping_company : null, // 貨運行別ID
      temperature_type: this.cloneData ? this.cloneData.temperature_type : null, // 運送溫層類別
      shipping_no: this.cloneData ? this.cloneData.shipping_no : null, // 託運單號
      inventory_type: this.cloneData ? this.cloneData.inventory_type : null, // 庫別
      store_code: this.cloneData ? this.cloneData.store_code : null, // 門市代碼
      pickup_store: this.cloneData ? this.cloneData.pickup_store : null, // 取貨門市
      store_atd: this.cloneData ? this.cloneData.store_atd : null, // 門市進貨日
      store_rtd: this.cloneData ? this.cloneData.store_rtd : null, // 門市退貨日
      pickup_tag: this.cloneData ? this.cloneData.pickup_tag : null, // 取貨標籤
      cod_amount: this.cloneData ? this.cloneData.cod_amount : null, // 貨到付款金額
      delivery_no: this.cloneData ? this.cloneData.delivery_no : null, // 配送編號
      delivery_times: this.cloneData ? this.cloneData.delivery_times : null, // 配送次數
      shipping_pcs: this.cloneData ? this.cloneData.shipping_pcs : null, // 配送件數
      out_of_stock_dealing_method: this.cloneData ? this.cloneData.out_of_stock_dealing_method : 125, // 缺貨處理方式
      outbound_note: this.cloneData ? this.cloneData.outbound_note : null, // 出庫單備註
      outbound_note2: this.cloneData ? this.cloneData.outbound_note2 : null, // 出庫單第二備註
      outbound_note3: this.cloneData ? this.cloneData.outbound_note3 : null, // 出庫單第三備註
      total_weight: this.cloneData ? this.cloneData.total_weight : null, // 出庫總重量
      total_volume: this.cloneData ? this.cloneData.total_volume : null, // 出庫總材積
      outbound_pallets: this.cloneData ? this.cloneData.outbound_pallets : null, // 板數
      outbound_boxes: this.cloneData ? this.cloneData.outbound_boxes : null, // 箱數
      delivery_status: this.cloneData ? this.cloneData.delivery_status : null, // 配送狀態
      take_number_note: this.cloneData ? this.cloneData.take_number_note : null, // 取號備註
      purchaser_name: this.cloneData ? this.cloneData.purchaser_name : null, // 訂貨人姓名
      purchaser_vatno: this.cloneData ? this.cloneData.purchaser_vatno : null, // 訂貨人統編
      purchaser_tel: this.cloneData ? this.cloneData.purchaser_tel : null, // 訂貨人電話
      purchaser_email: this.cloneData ? this.cloneData.purchaser_email : null, // 訂貨人email
      consignee_name: this.cloneData ? this.cloneData.consignee_name : null, // 收件人姓名
      consignee_vatno: this.cloneData ? this.cloneData.consignee_vatno : null, // 收件人統編
      consignee_address: this.cloneData ? this.cloneData.consignee_address : null, // 收件人地址
      consignee_tel: this.cloneData ? this.cloneData.consignee_tel : null, // 收件人電話
      consignee_email: this.cloneData ? this.cloneData.consignee_email : null, // 收件人email
      consignee_note: this.cloneData ? this.cloneData.consignee_note : null, // 收件人備註
      ecstore_code: this.cloneData ? this.cloneData.ecstore_code : null, // 電商平台
      dealer_name: this.cloneData ? this.cloneData.dealer_name : null, // 經銷商名稱
      delivery_date_specify: this.cloneData ? this.cloneData.delivery_date_specify : null, // 指定配送日期
      delivery_time_specify: this.cloneData ? this.cloneData.delivery_time_specify : null, // 指定配送時間
      delivery_time_period: this.cloneData ? this.cloneData.delivery_time_period : null, // 指定配送時段
      created_at: null, // 建立時間
      update_at: null // 更新時間
    }
    //
    return {
      modalType: modalType,
      comfirmSaveModal: false,
      /* tab */
      changeContent: 'main',
      /* 出庫狀態 */
      outboundStatusList: [
        {
          label: '待截單',
          value: 10
        },
        {
          label: '訂單取消',
          value: 15
        },
        {
          label: '待揀貨',
          value: 20
        },
        {
          label: '待裝箱',
          value: 30
        },
        {
          label: '待出貨',
          value: 50
        },
        {
          label: '已送達',
          value: 60
        },
        {
          label: '已取貨',
          value: 70
        },
        {
          label: '已結案',
          value: 80
        }
      ],
      /* 貨主代碼 : owner_id */
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      ownerBaseCondition: [],
      /* 貨運行別 : shipping_company */
      shippingCompanyList: [],
      autoCompleteShowShippingCompanyCols: [
        'code_code'
      ],
      toCloseShippingCompanyAutocompleteModal: false,
      shippingCompanyCondition: [],
      shippingCompanyBaseCondition: [['code_type', '=', 12]],
      /* 門市代碼 */
      storeCodeList: [],
      autoCompleteShowStoreCodeCols: [
        'customer_name',
        'telephone',
        'address'
      ],
      toCloseStoreCodeAutocompleteModal: false,
      storeCodeCondition: [],
      storeCodeBaseCondition: [],
      /* 缺貨處理方式 */
      outOfStockDealingMethodList: [],
      /* 運送溫層類別 */
      temperatureTypeList: [],
      /* 指定配送時段 */
      deliveryTimePeriodList: [],
      //
      postData: postData,
      error: {
        outbound_id: false, // 出庫紀錄ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        outbound_no: false, // 出庫編號/系統編號/出庫單號
        outbound_status: false, // 出庫狀態
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        order_no: false, // 訂單編號
        operation_type: false, // 訂單類型
        shipping_company: false, // 貨運行別
        temperature_type: false, // 運送溫層類別
        shipping_no: false, // 託運單號
        inventory_type: false, // 庫別
        store_code: false, // 門市代碼
        pickup_store: false, // 取貨門市
        pickup_tag: false, // 取貨標籤
        store_atd: false, // 門市進貨日
        store_rtd: false, // 門市退貨日
        cod_amount: false, // 貨到付款金額
        delivery_no: false, // 配送編號
        delivery_times: false, // 配送次數
        shipping_pcs: false, // 配送件數
        out_of_stock_dealing_method: false, // 缺貨處理方式
        outbound_note: false, // 出庫單備註
        outbound_note2: false, // 出庫單第二備註
        outbound_note3: false, // 出庫單第三備註
        total_weight: false, // 出庫總重量
        total_volume: false, // 出庫總材積
        outbound_pallets: false, // 板數
        outbound_boxes: false, // 箱數
        delivery_status: false, // 配送狀態
        take_number_note: false, // 取號備註
        purchaser_name: false, // 訂貨人姓名
        purchaser_vatno: false, // 訂貨人統編
        purchaser_tel: false, // 訂貨人電話
        purchaser_email: false, // 訂貨人email
        consignee_name: false, // 收件人姓名
        consignee_vatno: false, // 收件人統編
        consignee_address: false, // 收件人地址
        consignee_tel: false, // 收件人電話
        consignee_email: false, // 收件人email
        consignee_note: false, // 收件人備註
        ecstore_code: false, // 電商平台
        dealer_name: false, // 經銷商名稱
        delivery_date_specify: false, // 指定配送日期
        delivery_time_specify: false, // 指定配送時間
        delivery_time_period: false, // 指定配送時段
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      // 實際出庫明細列表
      outboundDetailsList: null,
      // 訂單明細列表 order detail
      orderDetailsList: null,
      detailsListIsError: false,
      isChangeOutboundStatus: false, // 是否修改狀態
      //
      useFixedOwnerId: useFixedOwnerId
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    outboundOperation: function () {
      return this.$store.state[`outboundOperation`][`outboundOperation`] || {}
    }
  },
  watch: {
    changeContent: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
      if (newVal === 2 && oldVal === 4) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
      if (newVal === 5 && oldVal === 4) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
      if (newVal === 4 && oldVal === 5) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    cloneData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    outboundOperation: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          outbound_id: val.outbound_id || null, // 出庫紀錄ID
          outbound_no: val.outbound_no || null, // 出庫編號/系統編號/出庫單號
          outbound_status: val.outbound_status || null, // 出庫狀態
          owner_name: val.owner_name || this.ownerName, // 貨主
          owner_id: val.owner_id || this.ownerId, // 貨主ID
          order_no: val.order_no || null, // 訂單編號
          operation_type: val.operation_type || null, // 訂單類型
          shipping_company: val.shipping_company || null, // 貨運行別ID
          shipping_company_name: val.shipping_company_name || null, // 貨運行別
          temperature_type: val.temperature_type || null, // 運送溫層類別
          shipping_no: val.shipping_no || null, // 託運單號
          inventory_type: val.inventory_type || null, // 庫別
          store_code: val.store_code || null, // 門市代碼
          pickup_store: val.pickup_store || null, // 取貨門市
          pickup_tag: val.pickup_tag || null, // 取貨標籤
          store_atd: val.store_atd || null, // 門市進貨日
          store_rtd: val.store_rtd || null, // 門市退貨日
          cod_amount: val.cod_amount || null, // 貨到付款金額
          delivery_no: val.delivery_no || null, // 配送編號
          delivery_times: val.delivery_times || null, // 配送次數
          shipping_pcs: val.shipping_pcs || null, // 配送件數
          out_of_stock_dealing_method: val.outbound_id ? val.out_of_stock_dealing_method : 125, // 缺貨處理方式
          outbound_note: val.outbound_note || null, // 出庫單備註
          outbound_note2: val.outbound_note2 || null, // 出庫單第二備註
          outbound_note3: val.outbound_note3 || null, // 出庫單第三備註
          total_weight: val.total_weight || null, // 出庫總重量
          total_volume: val.total_volume || null, // 出庫總材積
          outbound_pallets: val.outbound_pallets || null, // 板數
          outbound_boxes: val.outbound_boxes || null, // 箱數
          delivery_status: val.delivery_status || null, // 配送狀態
          take_number_note: val.take_number_note || null, // 取號備註
          purchaser_name: val.purchaser_name || null, // 訂貨人姓名
          purchaser_vatno: val.purchaser_vatno || null, // 訂貨人統編
          purchaser_tel: val.purchaser_tel || null, // 訂貨人電話
          purchaser_email: val.purchaser_email || null, // 訂貨人email
          consignee_name: val.consignee_name || null, // 收件人姓名
          consignee_vatno: val.consignee_vatno || null, // 收件人統編
          consignee_address: val.consignee_address || null, // 收件人地址
          consignee_tel: val.consignee_tel || null, // 收件人電話
          consignee_email: val.consignee_email || null, // 收件人email
          consignee_note: val.consignee_note || null, // 收件人備註
          ecstore_code: val.ecstore_code || null, // 電商平台
          dealer_name: val.dealer_name || null, // 經銷商名稱
          delivery_date_specify: val.delivery_date_specify || null, // 指定配送日期
          delivery_time_specify: val.delivery_time_specify || null, // 指定配送時間
          delivery_time_period: val.delivery_time_period || null, // 指定配送時段
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        // console.log(val)
        if (val.owner_id) {
          this.error.owner_id = false
        }
        if (val.order_no) {
          this.error.order_no = false
        }
        this.$emit('outboundDetailChangeEvent', val)
      },
      deep: true
    }
  },
  methods: {
    outboundDetailsListChangeEvent: function (data) {
      this.outboundDetailsList = data
      // console.log(this.outboundDetailsList)
    },
    orderDetailsListChangeEvent: function (data) {
      if (this.postData.outbound_status <= 10) {
        this.orderDetailsList = data
      }
      // console.log(this.orderDetailsList)
    },
    orderCloseDetailsListChangeEvent: function (data) {
      if (this.postData.outbound_status > 10) {
        this.orderDetailsList = data
      }
      // console.log(this.orderDetailsList)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.outbound_id = null
      this.postData.outbound_no = null // 單據編號/單號
      this.postData.outbound_status = null // 入庫單狀態
      this.save('clone')
    },
    setOutboundEvent: function (data) {
      console.log(data)
      if (data === 'setOutboundStasus') {
        this.isChangeOutboundStatus = true
        this.save()
      } else if (data === 'reload') {
        this.getDetail(this.detailId)
      } else {
        this.comfirmSave()
      }
    },
    save: async function (action = null) {
      //
      let isError = false
      // 檢查
      if (!this.useFixedOwnerId) {
        if (!this.postData.owner_id || this.postData.owner_id === '') {
          isError = true
          this.error.owner_id = true
          // 警告提示
          this.$Notice.error({
            title: '貨主未填',
            duration: 30
          })
        }
      }
      if (!this.postData.order_no || this.postData.order_no === '') {
        isError = true
        this.error.order_no = true
        // 警告提示
        this.$Notice.error({
          title: '訂單編號未填',
          duration: 30
        })
      }
      // 檢查明細
      // console.log(this.orderDetailsList)
      let detailsLength = this.orderDetailsList.length
      if (this.postData.outbound_status <= 10) {
        for (let i = 0; i < detailsLength; i++) {
          let data = this.orderDetailsList[i]
          if (!data.product.product_id || data.product.product_id === '') {
            isError = true
            this.$Notice.error({
              title: `第${data.INDEX}筆明細`,
              desc: '"商品料號"未填',
              duration: 30
            })
          }
          if (!Number(data.outbound_nums)) {
            isError = true
            this.$Notice.error({
              title: `第${data.INDEX}筆明細`,
              desc: '"數量"未填',
              duration: 30
            })
          }
        }
      }
      //
      if (isError) {
        return
      }
      //
      let postData = {
        recOutbound: {
          order_type: 'outbound_normal'
        },
        orderDetails: []
      }
      //
      Object.keys(this.postData).forEach((key, idx) => {
        if (key === 'outbound_id') {
          return
        }
        if (key === 'outbound_no') {
          return
        }
        if (key === 'outbound_status') {
          return
        }
        if (key === 'delivery_status') {
          return
        }
        if (key === 'created_at') {
          return
        }
        if (key === 'update_at') {
          return
        }
        if (key === 'create_by_user_id') {
          return
        }
        if (key === 'update_by_user_id') {
          return
        }
        if (this.postData[key] !== null && this.postData[key] !== '') {
          let value = this.postData[key]
          postData.recOutbound[key] = value
        }
      })
      if (this.postData.outbound_status <= 10 || !this.postData.outbound_status) {
        // 明細
        for (let i = 0; i < detailsLength; i++) {
          let data = this.orderDetailsList[i]
          console.log(data)
          let detailsPostdata = {
            product_id: data.product ? parseInt(data.product.product_id) : data.product_id, // 商品ID
            product_code: data.product ? data.product.product_code : data.product_code, // 商品料號
            product_name: data.product ? data.product.product_name : data.product_name, // 商品名稱
            product_quality: data.product_quality, // 良品/不良品
            outbound_nums: parseInt(data.outbound_nums) || null, // 數量
            storage_assign: data.storageAssign ? data.storageAssign.storage_id : data.storage_assign, // 指定出貨儲位ID
            storage_assign_code: data.storageAssign ? data.storageAssign.storage_code : data.storage_assign_code, // 指定出貨儲位
            storage_type: data.storage_type || null, // 指定出貨儲位存放屬性
            product_batch_no: data.product_batch_no || null, // 批號
            product_expiration_sale: data.product_expiration_sale || null, // 允售效期
            product_expired_date: data.product_expired_date || null, // 有效日期
            product_manufactured: data.product_manufactured || null, // 製造日期
            obd_note_close: data.obd_note_close || null // 截單備註
          }
          // console.log(detailsPostdata)
          postData.orderDetails.push(detailsPostdata)
        }
      }
      //
      switch (this.step) {
        case 1:
          // create
          console.log('create')
          this.$emit('changeLoadingViewIsShowEvent', true)
          let createRes = await this.$store.dispatch('outboundOperation/create', postData)
          console.log(createRes)
          if (createRes.success) {
            this.postData.outbound_id = createRes.recOutbound.outbound_id
            this.postData.outbound_no = createRes.recOutbound.outbound_no
            this.postData.outbound_status = createRes.recOutbound.outbound_status
            this.postData.date_outbound = createRes.recOutbound.date_outbound
            this.postData.created_at = createRes.recOutbound.created_at
            // 明細
            if (createRes.orderDetails.length > 0) {
              let detailsListLength = createRes.orderDetails.length
              for (let i = 0; i < detailsListLength; i++) {
                this.orderDetailsList[i].od_id = createRes.orderDetails[i].od_id
              }
            }
            // 實際出庫明細
            if (createRes.outboundDetails.length > 0) {
              this.outboundDetailsList = createRes.outboundDetails
            }
            this.$refs.setOrderDetailsList.setOrderDetailsList('set', this.orderDetailsList)
            this.$refs.setOutboundDetailsList.setOutboundDetailsList('set', this.outboundDetailsList)
            //
            this.$Notice.success({
              title: '新增成功'
            })
            this.$emit('toStepEvent', this.postData, 2)
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '儲存失敗',
              desc: createRes.message,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
          break
        case 2:
        case 4:
        case 5:
          // update
          // console.log(postData)
          if (action === 'clone') {
            // update : clone
            // console.log('update : clone')
            this.$emit('changeLoadingViewIsShowEvent', true)
            delete postData.recOutbound['outbound_id']
            postData.recOutbound.order_no = `${this.postData.order_no}_clone`
            let createRes = await this.$store.dispatch('outboundOperation/create', postData)
            if (createRes.success) {
              this.postData.outbound_id = createRes.recOutbound.outbound_id
              this.postData.outbound_no = createRes.recOutbound.outbound_no
              this.postData.outbound_status = createRes.recOutbound.outbound_status
              this.postData.date_outbound = createRes.recOutbound.date_outbound
              this.postData.created_at = createRes.recOutbound.created_at
              // 明細
              if (createRes.orderDetails.length > 0) {
                let detailsListLength = createRes.orderDetails.length
                for (let i = 0; i < detailsListLength; i++) {
                  this.orderDetailsList[i].od_id = createRes.orderDetails[i].od_id
                }
              }
              // 實際出庫明細
              if (createRes.outboundDetails.length > 0) {
                this.outboundDetailsList = createRes.outboundDetails
              }
              this.$refs.setOrderDetailsList.setOrderDetailsList('set', this.orderDetailsList)
              this.$refs.setOutboundDetailsList.setOutboundDetailsList('set', this.outboundDetailsList)
              //
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', this.postData, 2)
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              this.$Notice.error({
                title: '儲存失敗',
                desc: createRes.message,
                duration: 30
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
          } else {
            // update
            // console.log('update')
            postData.recOutbound.outbound_id = this.postData.outbound_id
            Object.keys(this.postData).forEach((key, idx) => {
              if (key !== 'outbound_status' && key !== 'delivery_status' && key !== 'shipping_company_name' && key !== 'created_at' && key !== 'update_at' && key !== 'created_by' && key !== 'update_by') {
                if (this.postData[key] === '' || this.postData[key] === null || this.postData[key] === undefined) {
                  postData.recOutbound[key] = null
                }
              }
            })
            // 明細
            if (this.step > 2) {
              delete postData.recOutbound['owner_id']
              delete postData.recOutbound['owner_name']
              delete postData.recOutbound['owner_no']
            } else {
              for (let i = 0; i < detailsLength; i++) {
                let data = this.orderDetailsList[i]
                postData.orderDetails[i].od_id = data.od_id || null
                // 允售效期
                if (data.product_expiration_sale) {
                  if (data.product_expiration_sale instanceof Date) {
                    let newProductExpiredDate = new Date(data.product_expiration_sale)
                    let yyyy = newProductExpiredDate.getFullYear()
                    let mm = newProductExpiredDate.getMonth() + 1
                    let dd = newProductExpiredDate.getDate()
                    let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
                    // console.log(localFilterStartTime)
                    postData.orderDetails[i].product_expiration_sale = localFilterStartTime
                  } else {
                    postData.orderDetails[i].product_expiration_sale = data.product_expiration_sale // 允售效期
                  }
                } else {
                  postData.orderDetails[i].product_expiration_sale = null
                }
                // 有效日期
                if (data.product_expired_date) {
                  if (data.product_expired_date instanceof Date) {
                    let newProductExpiredDate = new Date(data.product_expired_date)
                    let yyyy = newProductExpiredDate.getFullYear()
                    let mm = newProductExpiredDate.getMonth() + 1
                    let dd = newProductExpiredDate.getDate()
                    let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
                    // console.log(localFilterStartTime)
                    postData.orderDetails[i].product_expired_date = localFilterStartTime
                  } else {
                    postData.orderDetails[i].product_expired_date = data.product_expired_date // 有效日期
                  }
                } else {
                  postData.orderDetails[i].product_expired_date = null
                }
                // 製造日期
                if (data.product_manufactured) {
                  if (data.product_manufactured instanceof Date) {
                    let newProductExpiredDate = new Date(data.product_manufactured)
                    let yyyy = newProductExpiredDate.getFullYear()
                    let mm = newProductExpiredDate.getMonth() + 1
                    let dd = newProductExpiredDate.getDate()
                    let localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
                    // console.log(localFilterStartTime)
                    postData.orderDetails[i].product_manufactured = localFilterStartTime
                  } else {
                    postData.orderDetails[i].product_manufactured = data.product_manufactured // 製造日期
                  }
                } else {
                  postData.orderDetails[i].product_manufactured = null
                }
              }
            }
            // console.log(postData)
            let updateRes = await this.$store.dispatch('outboundOperation/update', { postData: postData, detailId: this.detailId })
            console.log(updateRes)
            if (updateRes.success) {
              // 成功修改提示
              this.$Notice.success({
                title: '成功修改'
              })
              // 訂單明細
              if (updateRes.orderDetails.length > 0) {
                this.orderDetailsList = updateRes.orderDetails
              }
              this.$refs.setOrderDetailsList.setOrderDetailsList('set', this.orderDetailsList)
              // 實際出庫明細
              if (updateRes.outboundDetails.length > 0) {
                this.outboundDetailsList = updateRes.outboundDetails
              }
              this.$refs.setOutboundDetailsList.setOutboundDetailsList('set', this.outboundDetailsList)
              this.$emit('toStepEvent', this.postData)
              if (this.isChangeOutboundStatus) {
                this.isChangeOutboundStatus = false
                return
              }
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              this.$Notice.error({
                title: '更新失敗',
                desc: updateRes.message,
                duration: 30
              })
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
          }
          break
        case 3:
          // create : clone
          console.log('create : clone')
          this.$emit('changeLoadingViewIsShowEvent', true)
          delete postData.recOutbound['outbound_id']
          postData.recOutbound.order_no = `${this.postData.order_no}_clone`
          let createCloneRes = await this.$store.dispatch('outboundOperation/create', postData)
          if (createCloneRes.success) {
            this.postData.outbound_id = createCloneRes.recOutbound.outbound_id
            this.postData.outbound_no = createCloneRes.recOutbound.outbound_no
            this.postData.outbound_status = createCloneRes.recOutbound.outbound_status
            this.postData.date_outbound = createCloneRes.recOutbound.date_outbound
            this.postData.created_at = createCloneRes.recOutbound.created_at
            // 明細
            if (createCloneRes.orderDetails.length > 0) {
              let detailsListLength = createCloneRes.orderDetails.length
              for (let i = 0; i < detailsListLength; i++) {
                this.orderDetailsList[i].od_id = createCloneRes.orderDetails[i].od_id
              }
            }
            // 實際出庫明細
            if (createCloneRes.outboundDetails.length > 0) {
              this.outboundDetailsList = createCloneRes.outboundDetails
            }
            this.$refs.setOrderDetailsList.setOrderDetailsList('set', this.orderDetailsList)
            this.$refs.setOutboundDetailsList.setOutboundDetailsList('set', this.outboundDetailsList)
            //
            this.$Notice.success({
              title: '新增成功'
            })
            this.$emit('toStepEvent', this.postData, 2)
            this.$emit('changeLoadingViewIsShowEvent', false)
          } else {
            this.$Notice.error({
              title: '儲存失敗',
              desc: createRes.message,
              duration: 30
            })
            this.$emit('changeLoadingViewIsShowEvent', false)
          }
          break
      }
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initOutboundDetailsList()
      this.initOrderDetailsList()
      this.initOrderCloseDetailsList()
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        outbound_id: null, // 出庫紀錄ID
        outbound_no: null, // 出庫編號/系統編號/出庫單號
        outbound_status: null, // 出庫狀態
        owner_name: this.ownerName || '', // 貨主
        owner_id: this.ownerId, // 貨主ID
        order_no: null, // 訂單編號
        operation_type: null, // 訂單類型
        shipping_company: null, // 貨運行別ID
        shipping_company_name: '', // 貨運行別
        temperature_type: null, // 運送溫層類別
        shipping_no: null, // 託運單號
        inventory_type: null, // 庫別
        store_code: null, // 門市代碼
        pickup_store: null, // 取貨門市
        pickup_tag: null, // 取貨標籤
        store_atd: null, // 門市進貨日
        store_rtd: null, // 門市退貨日
        cod_amount: null, // 貨到付款金額
        delivery_no: null, // 配送編號
        delivery_times: null, // 配送次數
        shipping_pcs: null, // 配送件數
        out_of_stock_dealing_method: 125, // 缺貨處理方式
        outbound_note: null, // 出庫單備註
        outbound_note2: null, // 出庫單第二備註
        outbound_note3: null, // 出庫單第三備註
        total_weight: null, // 出庫總重量
        total_volume: null, // 出庫總材積
        outbound_pallets: null, // 板數
        outbound_boxes: null, // 箱數
        delivery_status: null, // 配送狀態
        take_number_note: null, // 取號備註
        purchaser_name: null, // 訂貨人姓名
        purchaser_vatno: null, // 訂貨人統編
        purchaser_tel: null, // 訂貨人電話
        purchaser_email: null, // 訂貨人email
        consignee_name: null, // 收件人姓名
        consignee_vatno: null, // 收件人統編
        consignee_address: null, // 收件人地址
        consignee_tel: null, // 收件人電話
        consignee_email: null, // 收件人email
        consignee_note: null, // 收件人備註
        ecstore_code: null, // 電商平台
        dealer_name: null, // 經銷商名稱
        delivery_date_specify: null, // 指定配送日期
        delivery_time_specify: null, // 指定配送時間
        delivery_time_period: null, // 指定配送時段
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        outbound_id: false, // 出庫紀錄ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        outbound_no: false, // 出庫編號/系統編號/出庫單號
        outbound_status: false, // 出庫狀態
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        order_no: false, // 訂單編號
        operation_type: false, // 訂單類型
        shipping_company: false, // 貨運行別
        temperature_type: false, // 運送溫層類別
        shipping_no: false, // 託運單號
        inventory_type: false, // 庫別
        store_code: false, // 門市代碼
        pickup_store: false, // 取貨門市
        pickup_tag: false, // 取貨標籤
        store_atd: false, // 門市進貨日
        store_rtd: false, // 門市退貨日
        cod_amount: false, // 貨到付款金額
        delivery_no: false, // 配送編號
        delivery_times: false, // 配送次數
        shipping_pcs: false, // 配送件數
        out_of_stock_dealing_method: false, // 缺貨處理方式
        outbound_note: false, // 出庫單備註
        outbound_note2: false, // 出庫單第二備註
        outbound_note3: false, // 出庫單第三備註
        total_weight: false, // 出庫總重量
        total_volume: false, // 出庫總材積
        outbound_pallets: false, // 板數
        outbound_boxes: false, // 箱數
        delivery_status: false, // 配送狀態
        take_number_note: false, // 取號備註
        purchaser_name: false, // 訂貨人姓名
        purchaser_vatno: false, // 訂貨人統編
        purchaser_tel: false, // 訂貨人電話
        purchaser_email: false, // 訂貨人email
        consignee_name: false, // 收件人姓名
        consignee_vatno: false, // 收件人統編
        consignee_address: false, // 收件人地址
        consignee_tel: false, // 收件人電話
        consignee_email: false, // 收件人email
        consignee_note: false, // 收件人備註
        ecstore_code: false, // 電商平台
        dealer_name: false, // 經銷商名稱
        delivery_date_specify: false, // 指定配送日期
        delivery_time_specify: false, // 指定配送時間
        delivery_time_period: false, // 指定配送時段
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initOutboundDetailsList: function () {
      // this.outboundDetailsList = []
      this.$refs.setOutboundDetailsList.setOutboundDetailsList('init')
    },
    initOrderDetailsList: function () {
      // this.orderDetailsList = []
      this.$refs.setOrderDetailsList.setOrderDetailsList('init')
    },
    initOrderCloseDetailsList: function () {
      // this.orderDetailsList = []
      this.$refs.setOrderCloseDetailsList.setOrderCloseDetailsList('init')
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (detailId) {
      let postData = {
        outboundId: detailId
      }
      //
      this.$store.dispatch(`outboundOperation/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('toStepEvent', this.postData)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 出庫狀態 */
    outboundStatusListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.owner_id = null
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        // console.log(this.postData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.ownerBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_id = data.data.customer_id
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 貨運行別 : shipping_company */
    autocompleteHandleShippingCompanyEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.shipping_company = null
      // 設定其他資料處 end
      this.shippingCompanyList = []
    },
    shippingCompanyAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.shipping_company = data.val ? data.val.code_id : ''
        // console.log(this.postData.shipping_company)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.shippingCompanyList = [data.val]
      } else {
        this.shippingCompanyList = []
      }
    },
    shippingCompanyAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.shippingCompanyBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.shippingCompanyList = list
        }
      })
    },
    setAutocompleteShippingCompanyValue: function (data) {
      // console.log(data)
      //
      this.postData.shipping_company_name = data.data[data.returnCode]
      this.postData.shipping_company = data.data.code_id
      // console.log(this.postData.shipping_company)
      //
      this.toCloseShippingCompanyAutocompleteModal = true
    },
    setToCloseShippingCompanyAutocompleteModal: function (bol) {
      this.toCloseShippingCompanyAutocompleteModal = bol
    },
    /* 門市代碼 store_code */
    autocompleteHandleStoreCodeEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.consignee_name = null
      this.postData.consignee_address = null
      this.postData.consignee_tel = null
      // 設定其他資料處 end
      this.storeCodeList = []
    },
    storeCodeAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        // console.log(this.postData.store_code)
        // 設定其他資料處
        this.postData.consignee_name = data.val ? data.val.customer_name : null
        this.postData.consignee_address = data.val ? data.val.address : null
        this.postData.consignee_tel = data.val ? data.val.telephone : null
      }
      // console.log([data.val])
      if (data.val) {
        this.storeCodeList = [data.val]
      } else {
        this.storeCodeList = []
      }
    },
    storeCodeAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push([field, 'like', `%${data.val}%`])
      })
      if (data.val) {
        query.push([data.returnCode, 'like', `%${data.val}%`])
      }
      //
      let postData = {
        pageNum: 1,
        pageSize: 5,
        baseCondition: this.storeCodeBaseCondition,
        orCondition: [
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          //
          this.storeCodeList = list
        }
      })
    },
    setAutocompleteStoreCodeValue: function (data) {
      // console.log(data)
      //
      this.postData.store_code = data.data[data.returnCode]
      // console.log(this.postData.store_code)
      this.postData.consignee_name = data.data.customer_name || null
      this.postData.consignee_address = data.data.address || null
      this.postData.consignee_tel = data.data.telephone || null
      //
      this.toCloseStoreCodeAutocompleteModal = true
    },
    setToCloseStoreCodeAutocompleteModal: function (bol) {
      this.toCloseStoreCodeAutocompleteModal = bol
    },
    /* 缺貨處理方式 */
    outOfStockDealingMethodListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getOutOfStockDealingMethodList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 16]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let outOfStockDealingMethodList = [
            {
              value: 0,
              label: '不設定'
            }
          ]
          if (list) {
            list.forEach((ele, idx) => {
              outOfStockDealingMethodList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.outOfStockDealingMethodList = outOfStockDealingMethodList
        }
      })
    },
    /* 運送溫層類別 */
    temperatureTypeListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getTemperatureTypeList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 9]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let temperatureTypeList = []
          if (list) {
            list.forEach((ele, idx) => {
              temperatureTypeList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.temperatureTypeList = temperatureTypeList
        }
      })
    },
    /* 指定配送時段 */
    deliveryTimePeriodListChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getDeliveryTimePeriodList: function () {
      let postData = {
        pageNum: 1,
        pageSize: Config.maxPageSize,
        baseCondition: [
          ['code_type', '=', 21]
        ],
        orCondition: [],
        sort: []
      }
      //
      this.$store.dispatch(`settingCode/search`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          let list = r.data
          let deliveryTimePeriodList = []
          if (list) {
            list.forEach((ele, idx) => {
              deliveryTimePeriodList.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.deliveryTimePeriodList = deliveryTimePeriodList
        }
      })
    },
    /* 指定配送日期 delivery_date_specify */
    deliveryDateSpecifyDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData.delivery_date_specify = data.val
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
    //
    this.getOutOfStockDealingMethodList()
    this.getTemperatureTypeList()
    this.getDeliveryTimePeriodList()
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`outboundOperation/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  position: unset;
  width: 100%;
  height: 100%;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    background: #eceff2;
    width: calc(100% + 32px);
    height: 100%;
    top: 40px;
    left: -16px;
  }
  .top-box {
    width: 100%;
    overflow: auto;
    height: calc(100% - 27px);
    position: relative;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 34px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #fff;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .backBtn {
    position: absolute;
    right: 45px;
    bottom: 200px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .step1 {
    position: absolute;
    top: 130px;
    right: 45px;
    background: #ffffffe6;
    width: 210px;
    z-index: -1;
    .step-box {
      margin-left: auto;
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
