<template>
  <div class="OutboundOperationDetails">
    <!-- 按鈕區 -->
    <Poptip trigger="hover" title="新增">
      <Button class="detail-add mr-1 mb-2" @click="add">
        <font-awesome-icon icon="plus" />
      </Button>
    </Poptip>
    <Poptip trigger="hover" title="搜尋庫存">
      <Button class="detail-remove mb-2" @click="inventoryQuery">
        <font-awesome-icon icon="search" />
      </Button>
    </Poptip>
    <Poptip trigger="hover" title="刪除">
      <Button class="detail-remove mb-2" @click="comfirmRemove">
        <font-awesome-icon icon="minus" />
      </Button>
    </Poptip>
    <!-- 分隔線 -->
    <DataGrid
    idKeyName="od_id"
    :logicalOperator="logicalOperator"
    :hideFilter="true"
    :hidePage="true"
    :settingData="settingData"
    :gridData="gridData"
    :toGetIds="toGetIds"
    :isQuery="isQuery"
    @moveColEvent="moveColEvent"
    @removeColEvent="removeColEvent"
    @sortEvent="sortEvent"
    @filterEvent="filterEvent"
    @getIdsEvent="getIdsEvent"
    @getDetailEvent="getDetailEvent"
    @pageChangeEvent="pageChangeEvent"
    @pageSizeChangeEvent="pageSizeChangeEvent"
    @buttonEven="addProductSnEven"
    @scrollEvent="scrollEvent"
    ></DataGrid>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
    <!-- columnControl modal -->
    <ColumnControlModal
    :settingData="settingData"
    :columnControlModal="columnControlModal"
    v-on:columnControlModalCloseEvent="columnControlModalClose"
    v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- inventoryQuery modal -->
    <Modal v-model="inventoryQueryModal" width="1000" :footer-hide="true" :closable="true" class="inventory-query-modal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="container-box">
          <!-- <h2>庫存查詢(儲位+入庫日)</h2> -->
          <div class="desc-box">
            <InventoryQueryModal
            :ownerId="ownerId"
            v-on:gridDataChangeEvent="inventoryQueryDetailsListChangeEvent"
            >
            </InventoryQueryModal>
          </div>
        </div>
      </div>
    </Modal>
    <!-- 序號 productSnModal -->
    <!-- <ProductSnModal
      :companyId="companyId"
      :whId="whId"
      :productSnModal="productSnModal"
      :productData="productData"
      v-on:comfirmProductSnEvent="comfirmProductSn"
      v-on:setProductSnModalEvent="setProductSnModal"
    ></ProductSnModal> -->
  </div>
</template>

<script>
// import Config from '@/Config'
import DataGrid from '@/components/dataGrid/DataGrid'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import InventoryQueryModal from './InventoryQueryModal'
// import ProductSnModal from '@/components/ProductSnModal/ProductSnModal'
export default {
  name: 'OutboundOperationDetails',
  props: ['data', 'detailId', 'companyId', 'whId', 'ownerId', 'isGetGridData', 'outboundStatus'],
  components: {
    DataGrid,
    ComfirmRemoveModal,
    ColumnControlModal,
    InventoryQueryModal
    // ProductSnModal
  },
  data () {
    // 定義用
    var settingData = []
    var defaultSettingData = {
      isOverview: false, // 總纜
      page: {
        pageSize: 50, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#1565C0',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#E3F2FD',
        rowEvenColor: '#777777',
        editCelColor: 'rgb(255, 225, 225)',
        waitEditCelColor: '#FFFFFF',
        notEditCelColor: '#EFEFEF'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'SELECT', // 全選 (保留字)
          displayName: '',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product',
          displayName: '商品料號*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'goodsSetup',
            storeKey: 'productQueryByOwner',
            returnCode: 'product_code',
            respondCode: 'product',
            showCols: [
              'product_name'
            ],
            dispatchPath: 'productQueryByOwner/search',
            condition: [],
            modalTitle: '商品料號'
          },
          apiUrlCondition: { companyId: this.companyId, ownerId: this.ownerId },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '300px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storageAssign',
          displayName: '指定出貨儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'storageSetup',
            storeKey: 'storageQueryByWhId',
            returnCode: 'storage_code',
            respondCode: 'storage',
            showCols: [],
            dispatchPath: 'storageQueryByWhId/search',
            condition: [],
            sort: [{ sortField: 'storage_code', sortValue: 'asc' }],
            modalTitle: '指定出貨儲位'
          },
          apiUrlCondition: { whId: this.whId }, // NewAutoComplete : 例 : { companyId: `${this.companyId}`, codeType: 3 }
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '200px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'outbound_nums',
          displayName: '良品數量*',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'outbound_nums_bad',
          displayName: '不良品數量',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'outboundUnit',
          displayName: '數量單位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          hiddenSearchBtn: true,
          valueType: 'NewAutoComplete', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete, NewAutoComplete
          autoCompleteSearch: {
            optionValue: 'id',
            keyCode: 'settingCodeSetup',
            storeKey: 'settingCodeByCompanyCodeType',
            returnCode: 'code_name',
            respondCode: 'settingCode',
            showCols: [
              'code_code'
            ],
            dispatchPath: 'settingCodeByCompanyCodeType/query',
            condition: [],
            modalTitle: '數量單位'
          },
          apiUrlCondition: { companyId: `${this.companyId}`, codeType: 3 },
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '300px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storage_type',
          displayName: '指定出貨儲位存放屬性',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'bonded_type',
          displayName: '保稅屬性',
          isOpt: false,
          filterType: 'Select', // Input, Select, Daterange, Checkbox
          filterData: [],
          filterSet: {},
          filterFormat: null,
          valueType: 'Select', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expiration_sale',
          displayName: '允售效期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'days_allowed',
          displayName: '允售天數',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_manufactured',
          displayName: '製造日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: true // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'obd_note_close',
          displayName: '截單備註',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    settingData = defaultSettingData
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      delIds: [],
      toGetIds: false,
      optType: null,
      isQuery: false,
      //
      comfirmRemoveModal: false,
      //
      columnControlModal: false,
      //
      // productSnModal: true,
      // productData: [],
      //
      storageTypeFilterData: [], // 指定出貨儲位存放屬性
      bondedTypeFilterData: [], // 保稅屬性
      isScrollToBottom: false,
      // 搜尋庫存
      inventoryQueryModal: false,
      inventoryQueryDetailsList: []
    }
  },
  watch: {
    isGetGridData: {
      handler: function (val) {
        //
        if (val && this.outboundStatus <= 10) {
          this.getGridData()
        }
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        //
        // console.log(val)
        this.$emit('gridDataChangeEvent', val)
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    ownerId: {
      handler: function (val) {
        //
        // console.log(val)
        this.settingData.columns.forEach((item, index) => {
          // console.log(item)
          if (item.property === 'product') {
            this.settingData.columns[index].apiUrlCondition = { companyId: this.companyId, ownerId: val }
          }
        })
      },
      deep: true
    },
    storageTypeFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'storage_type') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    },
    bondedTypeFilterData: {
      handler: function (val) {
        //
        let _item = this.settingData.columns.find((item, index) => {
          if (item.property === 'bonded_type') {
            return true
          }
        })
        //
        let _filterSet = {}
        val.forEach((ele, idx) => {
          _filterSet[ele.value] = ele.label
        })
        //
        _item.filterData = val
        _item.filterSet = _filterSet
      },
      deep: true
    }
  },
  methods: {
    // 新增
    add: function () {
      if (!this.ownerId) {
        this.$Notice.error({
          title: `請先選擇貨主`,
          duration: 30
        })
        return
      }
      let INDEX = this.gridData.length + 1
      let tmp = {
        INDEX: INDEX, // 流水號
        SELECT: false,
        obd_id: null,
        product: {},
        storageAssign: {},
        outbound_nums: '',
        outbound_nums_bad: '',
        outboundUnit: {},
        storage_type: null,
        bonded_type: null,
        product_batch_no: null,
        product_expiration_sale: '',
        days_allowed: null,
        product_expired_date: '',
        product_manufactured: '',
        obd_note_close: null
      }
      //
      this.gridData.push(tmp)
      // 新增的時候scroll到最下面
      this.isScrollToBottom = true
    },
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      switch (this.optType) {
        case 'remove':
          // 刪除 : INDEX
          this.gridData = this.gridData.filter((item, index) => {
            let _item = data.list.find((itm, idx) => {
              if (item.INDEX === itm.INDEX) {
                return true
              }
            })
            if (_item) {
              // console.log(item.INDEX)
              if (item.od_id && item.od_id !== '') {
                this.remove(item.od_id)
              }
              return false
            } else {
              return true
            }
          })
          // console.log(this.gridData)
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
    },
    // remove modal
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.getIds('remove')
    },
    remove: function (id) {
      this.$store.dispatch('orderDetail/delete', id).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200) {
          // 警告提示
          this.$Notice.success({
            title: '刪除成功'
          })
        } else {
          this.$Notice.error({
            title: '刪除失敗'
          })
        }
      })
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    // 指定出貨儲位存放屬性 storage_type1
    getStorageTypeFilterData: function () {
      let postData = {
        combinedCondition: null,
        page: 1,
        pageSize: 999,
        query: [{
          queryCondition: '=',
          queryField: 'code_type',
          queryValue: '15'
        }],
        sort: []
      }
      this.$store.dispatch(`code/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals.settingCode
          let storageTypeFilterData = []
          if (list) {
            list.forEach((ele, idx) => {
              storageTypeFilterData.push({
                value: ele.code_id,
                label: ele.code_name
              })
            })
          }
          this.storageTypeFilterData = storageTypeFilterData
        }
      })
    },
    // 保稅屬性 bonded_type
    getBondedTypeFilterData: function () {
      this.bondedTypeFilterData = [
        {
          value: 0,
          label: '非保稅 Non-bonded'
        },
        {
          value: 1,
          label: '保稅 Bonded'
        }
      ]
    },
    initOutboundOperationDetailsList: function () {
      this.gridData = []
    },
    //
    getGridData: function () {
      this.isQuery = true
      //
      let postData = {
        page: 1,
        pageSize: 999,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'outbound_id',
            queryValue: this.detailId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch('orderDetail/search', postData).then((r) => {
        if (r) {
          // console.log(r)
          // console.log(r.respondCode.additionals.orderDetailResponseList)
          this.gridData = r.respondCode.additionals.orderDetailResponseList
          this.gridData.forEach((ele, idx) => {
            ele.INDEX = (idx + 1)
            ele.SELECT = false
            ele.product = {
              product_id: ele.product_id || null,
              product_name: ele.product_name || '',
              product_code: ele.product_code || ''
            }
            ele.storageAssign = {
              storage_id: ele.storage_assign || null,
              storage_code: ele.storage_assign_code || ''
            }
            ele.outboundUnit = {
              code_id: ele.outbound_unit || null,
              code_name: ele.outbound_unit_name || '',
              code_code: ele.outbound_unit_code || ''
            }
          })
          // this.gridData = gridData
          console.log(this.gridData)
          this.isQuery = false
        } else {
          this.isQuery = false
        }
      })
    },
    addProductSnEven: function (idx) {
      console.log(idx)
      console.log(this.gridData[idx])
      // this.productCode = this.gridData[idx].product_code
      this.productData = this.gridData[idx]
    },
    scrollEvent: function (el) {
      // console.log(el)
      if (this.isScrollToBottom) {
        this.$nextTick(() => (el.scrollTop = el.scrollHeight - el.clientHeight))
        this.isScrollToBottom = false
      }
    },
    inventoryQuery: function () {
      if (!this.ownerId) {
        this.$Notice.error({
          title: `請先選擇貨主`,
          duration: 30
        })
        return
      }
      this.inventoryQueryModal = true
    },
    inventoryQueryDetailsListChangeEvent: function (data) {
      this.inventoryQueryDetailsList = data
      if (this.inventoryQueryDetailsList.length > 0) {
        this.inventoryQueryDetailsList.forEach((item) => {
          let INDEX = this.gridData.length + 1
          this.gridData.push(
            {
              INDEX: INDEX, // 流水號
              SELECT: false,
              obd_id: null,
              product: {
                product_id: item.product_id || null,
                product_name: item.product_name || '',
                product_code: item.product_code || ''
              },
              product_name: item.product_name || '',
              storageAssign: {
                storage_id: item.storage_id || null,
                storage_code: item.storage_assign_code || ''
              },
              outbound_nums: item.actual_nums,
              outbound_nums_bad: item.actual_nums_bad,
              outboundUnit: {},
              storage_type: null,
              bonded_type: null,
              product_batch_no: null,
              product_expiration_sale: null,
              product_expired_date: null,
              product_manufactured: null,
              obd_note_close: null
            }
          )
        })
      }
      this.inventoryQueryModal = false
    }
    // 序號 productSnModal
    // setProductSnModal: function (bol) {
    //   this.productSnModal = bol
    // },
    // comfirmProductSn: function (bol) {
    //   this.productSnModal = bol
    // },
  },
  created () {
    //
    this.getStorageTypeFilterData()
    this.getBondedTypeFilterData()
    //
    if (this.detailId && this.detailId !== '' && this.outboundStatus <= 10) {
      // 取得清單
      this.getGridData()
    }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.OutboundOperationDetails {
  width: 100%;
  height: fit-content;
  .DATAGRID-BOX{
    padding-bottom: 0;
  }
  /deep/ .table-container {
    overflow-x: hidden;
    padding-bottom: 0;
  }
  /deep/ .DATAGRID-BOX .table-container .scroll-box{
    height: calc(100vh - 253px);
  }
  /deep/ .DATAGRID-BOX .table-container table{
    height: 100%;
  }
}
.inventory-query-modal {
 /deep/.ivu-modal-body {
   padding: 0;
  }
}
</style>
