<template>
  <div class="Dashboard">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <div class="mx-3">
      <Card class="w-100 mb-3" style="border-radius: .5rem;">
        <Row>
          <Col
            :md="{ span: 24 }"
            :lg="{ span: 8 }"
            class="pr-lg-5 px-5 pb-lg-0 pb-3 border-lg-right border-bottom"
          >
            <div class="d-flex justify-content-between pb-3">
              <h4 class="sm-title regular-text text-base">總利潤</h4>
              <p class="sm-title light-text">
                Prev
                <span class="pl-3">
                  <font-awesome-icon icon="dollar-sign" class="text-brown mr-1" />-
                  <span>8,613</span>
                </span>
              </p>
            </div>
            <div class="d-flex justify-content-between align-items-end">
              <div>
                <Button class="btn-border-none">
                  <svg
                    version="1.1"
                    id="chart-btn"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 183 159.1"
                    style="enable-background:new 0 0 183 159.1; width:40px;"
                    xml:space="preserve"
                  >
                    <g id="line-05" transform="translate(0.000000, 84.000000)">
                      <path
                        id="line-05-lt"
                        class="st0"
                        d="M179,0h-5.1c-2.2,0-4,1.8-4,4v67.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C183,1.8,181.2,0,179,0z"
                      />
                      <path
                        id="line-05-dk"
                        class="st1"
                        d="M179,20.8h-5.1c-2.2,0-4,1.8-4,4v46.3c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V24.8C183,22.6,181.2,20.8,179,20.8z"
                      />
                    </g>
                    <g id="line-04" transform="translate(42.461538, 56.000000)">
                      <path
                        id="line-04-lt"
                        class="st0"
                        d="M94.1,0h-5.1c-2.2,0-4,1.8-4,4v95.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C98.1,1.8,96.3,0,94.1,0z"
                      />
                      <path
                        id="line-04-dk"
                        class="st1"
                        d="M94.1,28.7h-5.1c-2.2,0-4,1.8-4,4v66.4c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V32.7C98.1,30.5,96.3,28.7,94.1,28.7z"
                      />
                    </g>
                    <g id="line-03" transform="translate(84.923077, 104.000000)">
                      <path
                        id="line-03-lt"
                        class="st0"
                        d="M4,0h5.1c2.2,0,4,1.8,4,4v46.2c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V4C0,1.8,1.8,0,4,0z"
                      />
                      <path
                        id="line-03-dk"
                        class="st1"
                        d="M4,23.5h5.1c2.2,0,4,1.8,4,4v23.6c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V27.5C0,25.3,1.8,23.5,4,23.5z"
                      />
                    </g>
                    <g id="line-02" transform="translate(127.384615, 32.000000)">
                      <path
                        id="line-02-lt"
                        class="st0"
                        d="M-80.9,0h5.1c2.2,0,4,1.8,4,4v118.2c0,2.2-1.8,4-4,4h-5.1c-2.2,0-4-1.8-4-4V4C-84.9,1.8-83.1,0-80.9,0z"
                      />
                      <path
                        id="line-02-dk"
                        class="st1"
                        d="M-80.9,12.6h5.1c2.2,0,4,1.8,4,4v106.5c0,2.2-1.8,4-4,4h-5.1c-2.2,0-4-1.8-4-4V16.6C-84.9,14.4-83.1,12.6-80.9,12.6z"
                      />
                    </g>
                    <g id="line-01" transform="translate(169.846154, 0.000000)">
                      <path
                        id="line-01-lt"
                        class="st0"
                        d="M-160.7,0h-5.1c-2.2,0-4,1.8-4,4v151.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C-156.7,1.8-158.5,0-160.7,0z"
                      />
                      <path
                        id="line-01-dk"
                        class="st1"
                        d="M-160.7,138.2h-5.1c-2.2,0-4,1.8-4,4v12.9c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4v-12.9C-156.7,140-158.5,138.2-160.7,138.2z"
                      />
                    </g>
                  </svg>
                </Button>
              </div>
              <span class="lg-title text-base bold-text text-center">
                <font-awesome-icon icon="dollar-sign" class="text-orange mr-1" />
                <animated-number :value="profit" :formatValue="formatToPrice" :duration="profitShowTime" />
              </span>
              <div class="tab up bg-green-lt py-1 px-3">
                <font-awesome-icon icon="caret-up" class="text-green mr-1" />
                <span>80</span>%
              </div>
            </div>
          </Col>
          <Col
            :md="{ span: 24 }"
            :lg="{ span: 8 }"
            class="px-5 py-lg-0 py-3 border-lg-right border-bottom"
          >
            <div class="d-flex justify-content-between pb-3">
              <h4 class="sm-title regular-text text-base">今日訂單量</h4>
              <p class="sm-title light-text">
                Prev
                <span class="pl-3">
                  <font-awesome-icon icon="file" class="text-brown mr-1" />
                  <span>{{orderPrev}}</span>
                </span>
              </p>
            </div>
            <div class="d-flex justify-content-between align-items-end">
              <div>
                <Button class="btn-border-none">
                  <svg
                    version="1.1"
                    id="chart-btn"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 183 159.1"
                    style="enable-background:new 0 0 183 159.1; width:40px;"
                    xml:space="preserve"
                  >
                    <g id="line-05" transform="translate(0.000000, 84.000000)">
                      <path
                        id="line-05-lt"
                        class="st0"
                        d="M179,0h-5.1c-2.2,0-4,1.8-4,4v67.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C183,1.8,181.2,0,179,0z"
                      />
                      <path
                        id="line-05-dk"
                        class="st1"
                        d="M179,20.8h-5.1c-2.2,0-4,1.8-4,4v46.3c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V24.8C183,22.6,181.2,20.8,179,20.8z"
                      />
                    </g>
                    <g id="line-04" transform="translate(42.461538, 56.000000)">
                      <path
                        id="line-04-lt"
                        class="st0"
                        d="M94.1,0h-5.1c-2.2,0-4,1.8-4,4v95.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C98.1,1.8,96.3,0,94.1,0z"
                      />
                      <path
                        id="line-04-dk"
                        class="st1"
                        d="M94.1,28.7h-5.1c-2.2,0-4,1.8-4,4v66.4c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V32.7C98.1,30.5,96.3,28.7,94.1,28.7z"
                      />
                    </g>
                    <g id="line-03" transform="translate(84.923077, 104.000000)">
                      <path
                        id="line-03-lt"
                        class="st0"
                        d="M4,0h5.1c2.2,0,4,1.8,4,4v46.2c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V4C0,1.8,1.8,0,4,0z"
                      />
                      <path
                        id="line-03-dk"
                        class="st1"
                        d="M4,23.5h5.1c2.2,0,4,1.8,4,4v23.6c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V27.5C0,25.3,1.8,23.5,4,23.5z"
                      />
                    </g>
                    <g id="line-02" transform="translate(127.384615, 32.000000)">
                      <path
                        id="line-02-lt"
                        class="st0"
                        d="M-80.9,0h5.1c2.2,0,4,1.8,4,4v118.2c0,2.2-1.8,4-4,4h-5.1c-2.2,0-4-1.8-4-4V4C-84.9,1.8-83.1,0-80.9,0z"
                      />
                      <path
                        id="line-02-dk"
                        class="st1"
                        d="M-80.9,12.6h5.1c2.2,0,4,1.8,4,4v106.5c0,2.2-1.8,4-4,4h-5.1c-2.2,0-4-1.8-4-4V16.6C-84.9,14.4-83.1,12.6-80.9,12.6z"
                      />
                    </g>
                    <g id="line-01" transform="translate(169.846154, 0.000000)">
                      <path
                        id="line-01-lt"
                        class="st0"
                        d="M-160.7,0h-5.1c-2.2,0-4,1.8-4,4v151.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C-156.7,1.8-158.5,0-160.7,0z"
                      />
                      <path
                        id="line-01-dk"
                        class="st1"
                        d="M-160.7,138.2h-5.1c-2.2,0-4,1.8-4,4v12.9c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4v-12.9C-156.7,140-158.5,138.2-160.7,138.2z"
                      />
                    </g>
                  </svg>
                </Button>
              </div>
              <span class="lg-title text-base bold-text text-center">
                <font-awesome-icon icon="file" class="text-orange mr-1" />
                <animated-number :value="order" :formatValue="formatToPrice" :duration="orderShowTime" />
              </span>
              <div class="tab up text-green bg-green-lt py-1 px-3" v-if="orderPercentage > 0 || orderPercentage === '--'">
                <font-awesome-icon icon="caret-up" class="text-green mr-1" />&nbsp;
                <span>{{orderPercentage}}</span>&nbsp;%
              </div>
              <div class="tab down text-red bg-red-lt py-1 px-3" v-if="orderPercentage < 0">
                <font-awesome-icon icon="caret-down" class="text-red mr-1" />&nbsp;
                <span>{{orderPercentage}}</span>&nbsp;%
              </div>
            </div>
          </Col>
          <Col :md="{ span: 24 }" :lg="{ span: 8 }" class="pl-lg-5 px-5 pt-lg-0 pt-3">
            <div class="d-flex justify-content-between pb-3">
              <h4 class="sm-title regular-text text-base">預計完成時間</h4>
            </div>
            <div class="d-flex justify-content-around align-items-end">
              <div class="finish-icon">
                <Icon type="ios-clock-outline" />
              </div>
              <span class="lg-title text-base bold-text text-center finish-title">
                <animated-number :value="finishHr" :formatValue="formatToPrice" :duration="1000" />
                :
                <animated-number :value="finishSec" :formatValue="formatToPrice" :duration="1000" />
                <span class="meridiem">p.m</span>
              </span>
            </div>
          </Col>
          <!-- <Col :md="{ span: 24 }" :lg="{ span: 8 }" class="pl-lg-5 px-5 pt-lg-0 pt-3">
            <div class="d-flex justify-content-between pb-3">
              <h4 class="sm-title regular-text text-base">有效客戶數</h4>
              <p class="sm-title light-text">
                Prev
                <span class="pl-3">
                  <font-awesome-icon icon="user" class="text-brown mr-1" />
                  <span>123</span>
                </span>
              </p>
            </div>
            <div class="d-flex justify-content-between align-items-end">
              <div>
                <Button class="btn-border-none">
                  <svg
                    version="1.1"
                    id="chart-btn"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 183 159.1"
                    style="enable-background:new 0 0 183 159.1; width:40px;"
                    xml:space="preserve"
                  >
                    <g id="line-05" transform="translate(0.000000, 84.000000)">
                      <path
                        id="line-05-lt"
                        class="st0"
                        d="M179,0h-5.1c-2.2,0-4,1.8-4,4v67.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C183,1.8,181.2,0,179,0z"
                      />
                      <path
                        id="line-05-dk"
                        class="st1"
                        d="M179,20.8h-5.1c-2.2,0-4,1.8-4,4v46.3c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V24.8C183,22.6,181.2,20.8,179,20.8z"
                      />
                    </g>
                    <g id="line-04" transform="translate(42.461538, 56.000000)">
                      <path
                        id="line-04-lt"
                        class="st0"
                        d="M94.1,0h-5.1c-2.2,0-4,1.8-4,4v95.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C98.1,1.8,96.3,0,94.1,0z"
                      />
                      <path
                        id="line-04-dk"
                        class="st1"
                        d="M94.1,28.7h-5.1c-2.2,0-4,1.8-4,4v66.4c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V32.7C98.1,30.5,96.3,28.7,94.1,28.7z"
                      />
                    </g>
                    <g id="line-03" transform="translate(84.923077, 104.000000)">
                      <path
                        id="line-03-lt"
                        class="st0"
                        d="M4,0h5.1c2.2,0,4,1.8,4,4v46.2c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V4C0,1.8,1.8,0,4,0z"
                      />
                      <path
                        id="line-03-dk"
                        class="st1"
                        d="M4,23.5h5.1c2.2,0,4,1.8,4,4v23.6c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V27.5C0,25.3,1.8,23.5,4,23.5z"
                      />
                    </g>
                    <g id="line-02" transform="translate(127.384615, 32.000000)">
                      <path
                        id="line-02-lt"
                        class="st0"
                        d="M-80.9,0h5.1c2.2,0,4,1.8,4,4v118.2c0,2.2-1.8,4-4,4h-5.1c-2.2,0-4-1.8-4-4V4C-84.9,1.8-83.1,0-80.9,0z"
                      />
                      <path
                        id="line-02-dk"
                        class="st1"
                        d="M-80.9,12.6h5.1c2.2,0,4,1.8,4,4v106.5c0,2.2-1.8,4-4,4h-5.1c-2.2,0-4-1.8-4-4V16.6C-84.9,14.4-83.1,12.6-80.9,12.6z"
                      />
                    </g>
                    <g id="line-01" transform="translate(169.846154, 0.000000)">
                      <path
                        id="line-01-lt"
                        class="st0"
                        d="M-160.7,0h-5.1c-2.2,0-4,1.8-4,4v151.1c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4V4C-156.7,1.8-158.5,0-160.7,0z"
                      />
                      <path
                        id="line-01-dk"
                        class="st1"
                        d="M-160.7,138.2h-5.1c-2.2,0-4,1.8-4,4v12.9c0,2.2,1.8,4,4,4h5.1c2.2,0,4-1.8,4-4v-12.9C-156.7,140-158.5,138.2-160.7,138.2z"
                      />
                    </g>
                  </svg>
                </Button>
              </div>
              <span class="lg-title text-base bold-text text-center">
                <font-awesome-icon icon="user" class="text-orange mr-1" />
                <animated-number :value="258" :formatValue="formatToPrice" :duration="4000" />
              </span>
              <div class="tab up text-red bg-red-lt py-1 px-3">
                <font-awesome-icon icon="caret-down" class="text-red mr-1" />
                <span>21</span>%
              </div>
            </div>
          </Col> -->
        </Row>
      </Card>
    </div>

    <Card class="w-100">
      <Radio-group v-model="time" class="radio mb-3" size="large">
        <Radio label="Last Year" class="pr-3"></Radio>
        <Radio label="This Year" class="pr-3"></Radio>
        <Radio label="Last Month" class="pr-3"></Radio>
        <Radio label="This Month" class="pr-3"></Radio>
      </Radio-group>
      <Card class="w-100 mb-3">
        <Row type="flex">
          <Col
            :xs="{ span: 24, order: 2 }"
            :sm="{ span: 24, order: 2 }"
            :lg="{ span: 16, order: 1 }"
            class="border-lg-right pr-lg-5 px-3"
          >
            <h4 class="sm-title regular-text text-base pb-4 pt-lg-0 pt-4">倉庫位置</h4>
            <div ref="map1" class="map1"></div>
          </Col>
          <Col
            :xs="{ span: 24, order: 1 }"
            :sm="{ span: 24, order: 1 }"
            :lg="{ span: 8, order: 2 }"
            class="border-md-bottom border-bottom pl-lg-5 px-3 pb-lg-0 pb-4"
          >
            <Col
              :md="{ span: 12 }"
              :lg="{ span:24 }"
              class="border-lg-bottom border-md-right border-bottom pb-lg-3 pb-md-0 pb-3 pr-lg-0 pr-md-5 pr-3 h-md-100"
            >
              <h4 class="sm-title regular-text text-base pb-4 d-flex justify-content-between">
                倉庫位置
                <!-- <Button shape="circle" class="sm-title light-text text-base px-4" @click="setWarehouse" v-if="whList.length > 1">
                  設為預設
                </Button> -->
              </h4>
              <Radio-group v-model="whId" @on-change="getWarehouse(whId, 'change')" vertical class="radio" size="large" style="width:100%;">
                <Row>
                  <!-- <Col span="12">
                    <Radio label="all" class="mb-1">
                      <Icon type="social-all"></Icon>
                      <span>選取全部</span>
                    </Radio>
                  </Col> -->
                  <Col span="12" v-for="(item, index) in whList" :key="`${item.wh_id}_${index}`">
                    <Radio :label="item.wh_id" class="mb-1">
                      <Icon type="social-all"></Icon>
                      <span>
                        {{item.wh_name}}
                      </span>
                    </Radio>
                  </Col>
                </Row>
              </Radio-group>
            </Col>
            <Col
              :md="{ span: 12 }"
              :lg="{ span:24 }"
              class="pt-lg-3 pt-md-0 pt-3 pl-lg-0 pl-md-5 pl-3"
            >
              <h4 class="sm-title regular-text text-base pb-4">倉庫資訊</h4>
              <div class="mb-3">
                  <p class="base-text regular-text text-base pb-3">
                    <span class="whse-title">倉庫代碼</span>
                    <span class="text-blue pl-3">{{warehouseDetail.wh_no}}</span>
                  </p>
                  <p class="base-text regular-text text-base pb-3">
                    <span class="whse-title">倉庫名稱</span>
                    <span class="text-blue pl-3">{{warehouseDetail.wh_name}}</span>
                  </p>
                  <p class="base-text regular-text text-base pb-3">
                    <span class="whse-title">聯絡人</span>
                    <span class="text-blue pl-3">{{warehouseDetail.contact_lastname}}{{warehouseDetail.contact_firstname}}</span>
                  </p>
                  <p class="base-text regular-text text-base pb-3">
                    <span class="whse-title">電話</span>
                    <span class="text-blue pl-3">{{warehouseDetail.telephone}}</span>
                  </p>
                  <p class="base-text regular-text text-base pb-3">
                    <span class="whse-title">倉庫地址</span>
                    <span class="text-blue pl-3">{{warehouseDetail.address}}</span>
                  </p>
              </div>
              <div class="text-center">
                <Button shape="circle" class="sm-title light-text text-base px-4">
                  More
                  <font-awesome-icon icon="chevron-right" class="ml-2" />
                </Button>
              </div>
            </Col>
          </Col>
        </Row>
      </Card>
      <Card class="w-100 mb-3">
        <Row type="flex">
          <Col class="w-100">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
              <h4 class="sm-title regular-text text-base pb-3">卡車動態查詢</h4>
              <div class="inquire-truck row pb-3 pl-lg-0 pl-3">
                <div class="col pr-3">
                  <!-- 關鍵字類別 -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.car_keyword_type && postData.car_keyword_type!==''), label: `關鍵字類別`, hasClearButton: true, type: `Select`, settings: {width: 150, height: 52}}"
                    :code="`car_keyword_type`"
                    :defaultValue="postData.car_keyword_type"
                    :disabled="false"
                    @changeModelEvent="changeModelEvent"
                  ></FloatLabelBox>
                </div>
                <div class="col pr-3">
                  <!-- 關鍵字 -->
                  <FloatLabelBox
                    :config="{hasContent: (postData.car_keyword && postData.car_keyword!==''), label: `關鍵字`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                    :code="`car_keyword`"
                    :defaultValue="postData.car_keyword"
                    :disabled="false"
                    @changeModelEvent="changeModelEvent"
                  ></FloatLabelBox>
                </div>
                <div class="col d-flex align-items-center pr-3">
                  <Button class="icon-btn-gray sub-title">
                    <font-awesome-icon icon="search" />
                  </Button>
                </div>
              </div>
            </div>
            <div id="myMap"></div>
          </Col>
        </Row>
      </Card>
      <Row type="flex">
        <Col
          :xs="{ span: 24, order: 2 }"
          :sm="{ span: 24, order: 2 }"
          :lg="{ span:16, order: 1 }"
          class="pr-lg-2 pb-3"
        >
          <Card class="w-100 mb-3">
            <div class="position-relative">
              <Button class="icon-btn-gray sm-title p-0 position-absolute" style="right:0;">
                <font-awesome-icon icon="ellipsis-h" />
              </Button>
            </div>
            <Row>
              <Col
                :sm="{ span: 24 }"
                :md="{ span: 12}"
                class="border-lg-right border-md-right border-bottom pr-lg-5 pr-md-5 pb-lg-0 pb-md-0 pb-3"
              >
                <h4 class="sm-title regular-text text-base pb-4">前五大利潤最高的客戶</h4>
                <Row>
                  <Col span="24">
                    <div class="hello" ref="chartTop5Inbound" style="height: 200px;"></div>
                  </Col>
                  <Col span="24">
                    <ul class="list-unstyled">
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-blue mr-1"></span>
                        {{ top5InboundList[0].owner_name }}
                      </li>
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-brown mr-1"></span>
                        {{ top5InboundList[1].owner_name }}
                      </li>
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-orange mr-1"></span>
                        {{ top5InboundList[2].owner_name }}
                      </li>
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-gray-lt mr-1"></span>
                        {{ top5InboundList[3].owner_name }}
                      </li>
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-brown-dk mr-1"></span>
                        {{ top5InboundList[4].owner_name }}
                      </li>
                    </ul>
                  </Col>
                </Row>
              </Col>
              <Col
                :sm="{ span: 24 }"
                :md="{ span: 12}"
                class="pl-lg-5 pl-md-5 pt-lg-0 pt-md-0 pt-3"
              >
                <h4 class="sm-title regular-text text-base pb-4">前五貨量最高的客戶</h4>
                <Row>
                  <Col span="24">
                    <div class="hello" ref="chartTop5Outbound" style="height: 200px;"></div>
                  </Col>
                  <Col span="24">
                    <ul class="list-unstyled">
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-blue mr-1"></span>
                        {{ top5OutboundList[0].owner_name }}
                      </li>
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-brown mr-1"></span>
                        {{ top5OutboundList[1].owner_name }}
                      </li>
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-orange mr-1"></span>
                        {{ top5OutboundList[2].owner_name }}
                      </li>
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-gray-lt mr-1"></span>
                        {{ top5OutboundList[3].owner_name }}
                      </li>
                      <li class="bold-text text-base pb-3">
                        <span class="chart-color bg-brown-dk mr-1"></span>
                        {{ top5OutboundList[4].owner_name }}
                      </li>
                    </ul>
                  </Col>
                </Row>
              </Col>
            </Row>
          </Card>
          <Card class="w-100 mb-3">
            <div class="position-relative">
              <Button class="icon-btn-gray sm-title p-0 position-absolute" style="right:0;">
                <font-awesome-icon icon="ellipsis-h" />
              </Button>
            </div>
            <Row>
              <Col
                :sm="{ span: 24 }"
                :md="{ span: 12}"
                class="border-lg-right border-md-right border-bottom pr-lg-5 pr-md-5 pb-lg-0 pb-md-0 pb-3"
              >
                <h4 class="sm-title regular-text text-base pb-4">上半年每月訂單統計量</h4>
                <div class="hello" ref="histogramFirstHalf" style="height: 210px;"></div>
              </Col>
              <Col
                :sm="{ span: 24 }"
                :md="{ span: 12}"
                class="pl-lg-5 pl-md-5 pt-lg-0 pt-md-0 pt-3"
              >
                <h4 class="sm-title regular-text text-base pb-4">下半年每月訂單統計量</h4>
                <div class="hello" ref="histogramSecondHalf" style="height: 210px;"></div>
              </Col>
            </Row>
          </Card>
          <Card class="w-100">
            <div class="position-relative">
              <Button class="icon-btn-gray sm-title p-0 position-absolute" style="right:0;">
                <font-awesome-icon icon="ellipsis-h" />
              </Button>
            </div>
            <Row>
              <Col
                span="24"
                class="pr-lg-5 pr-md-5 pb-lg-0 pb-md-0 pb-3"
              >
                <h4 class="sm-title regular-text text-base pb-4">年度利潤</h4>
                <div class="hello" ref="chartdiv_line1" style="height: 245px;"></div>
              </Col>
            </Row>
          </Card>
        </Col>
        <Col
          :xs="{ span: 24, order: 1 }"
          :sm="{ span: 24, order: 1 }"
          :lg="{ span:8, order: 2 }"
          class="pl-lg-2"
        >
          <Card class="w-100 mb-3">
            <div class="position-relative">
              <Button class="icon-btn-gray sm-title p-0 position-absolute" style="right:0;">
                <font-awesome-icon icon="bars" />
              </Button>
            </div>
            <Row>
              <Col
                :sm="{ span: 24 }"
                :md="{ span: 12 }"
                :lg="{ span:24 }"
                class="border-lg-bottom border-md-bottom border-bottom border-md-right pb-3"
              >
                <Row class="d-flex align-items-stretch">
                  <Col span="8" class="d-flex flex-column justify-content-between">
                    <h4 class="sm-title regular-text text-base pb-4">入庫完成數</h4>
                    <h1 class="lg-title text-base w-100">
                      <span>{{putInOperationData.rate_percentage}}</span>
                      <span class="d-inline-block pl-4">%</span>
                    </h1>
                  </Col>
                  <Col span="16">
                    <div class="hello" ref="chartPutInOperation" style="height: 200px;"></div>
                  </Col>
                </Row>
              </Col>
              <Col
                :sm="{ span: 24 }"
                :md="{ span: 12 }"
                :lg="{ span:24 }"
                class="border-lg-bottom border-md-bottom border-bottom py-lg-3 pb-3 pl-lg-0 pl-3"
              >
                <Row class="d-flex align-items-stretch">
                  <Col span="8" class="d-flex flex-column justify-content-between">
                    <h4 class="sm-title regular-text text-base pb-4">上架完成率</h4>
                    <h1 class="lg-title text-base w-100">
                      <span>{{putInShelvesData.rate_percentage}}</span>
                      <span class="d-inline-block pl-4">%</span>
                    </h1>
                  </Col>
                  <Col span="16">
                    <div class="hello" ref="chartPutInShelves" style="height: 200px;"></div>
                  </Col>
                </Row>
              </Col>
              <Col
                :sm="{ span: 24 }"
                :md="{ span: 12 }"
                :lg="{ span:24 }"
                class="border-lg-bottom border-bottom border-md-right py-3"
              >
                <Row class="d-flex align-items-stretch">
                  <Col span="8" class="d-flex flex-column justify-content-between">
                    <h4 class="sm-title regular-text text-base pb-4">異常發生比</h4>
                    <h1 class="lg-title text-base w-100">
                      <span>{{outboundFailData.rate_percentage}}</span>
                      <span class="d-inline-block pl-4">%</span>
                    </h1>
                  </Col>
                  <Col span="16">
                    <div class="hello" ref="chartOutboundFail" style="height: 200px;"></div>
                  </Col>
                </Row>
              </Col>
              <Col
                :sm="{ span: 24 }"
                :md="{ span: 12 }"
                :lg="{ span:24 }"
                class="pt-3 pl-lg-0 pl-3"
              >
                <Row class="d-flex align-items-stretch">
                  <Col span="8" class="d-flex flex-column justify-content-between">
                    <h4 class="sm-title regular-text text-base pb-4">訂單完成率</h4>
                    <h1 class="lg-title text-base w-100">
                      <span>{{outboundSuccessData.rate_percentage}}</span>
                      <span class="d-inline-block pl-4">%</span>
                    </h1>
                  </Col>
                  <Col span="16">
                    <div class="hello" ref="chartOutboundSuccess" style="height: 200px;"></div>
                  </Col>
                </Row>
              </Col>
            </Row>
          </Card>
        </Col>
      </Row>
    </Card>
  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByBTJrbgxusPjK52JtehJNUYmbxe56mG4&callback"
  async defer></script>
<script>
import Config from '@/Config'
import * as am4core from '@amcharts/amcharts4/core'
import * as am4charts from '@amcharts/amcharts4/charts'
import * as am4maps from '@amcharts/amcharts4/maps'
import am4themes from '@amcharts/amcharts4/themes/animated'
import am4geodataWorldLow from '@amcharts/amcharts4-geodata/worldLow'
import AnimatedNumber from 'animated-number-vue'
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'

am4core.useTheme(am4themes)

export default {
  name: 'Dashboard',
  props: [],
  components: {
    AnimatedNumber,
    LoadingView,
    FloatLabelBox
  },
  data () {
    let routeQuery = this.$route.query
    // let userInfo = this.$store.state.auth.userInfo
    // console.log(userInfo)
    return {
      Config: Config,
      routeQuery: routeQuery,
      /* LoadingView */
      LoadingViewIsShow: false,
      // 倉庫位置
      userId: this.$store.state.auth.userInfo.userId,
      companyId: this.$store.state.auth.userInfo.companyKey,
      oldWhId: this.$store.state.auth.userInfo.warehouseKey,
      whList: this.$store.state.auth.userInfo.warehouseList,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      warehouseDetail: {
        wh_no: null,
        wh_name: null,
        contact_firstname: null,
        contact_lastname: null,
        telephone: null,
        address: null
      },
      //
      time: 'Last Year',
      profit: 78801,
      order: 0,
      orderPrev: 0,
      orderPercentage: '--',
      finishHr: 18,
      finishSec: 25,
      profitShowTime: 5000,
      orderShowTime: 4000,
      // chart3Data: 15,
      // chart4Data: 15,
      // chart5Data: 15,
      // chart6Data: 15,
      value: 1000,
      duration: 1000,
      num2: 0,
      num3: 0,
      top5InboundList: [
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        },
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        },
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        },
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        },
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        }
      ],
      top5OutboundList: [
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        },
        {
          owner_name: null,
          total_counts: null,
          total_percentage: null
        },
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        },
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        },
        {
          owner_id: null,
          owner_name: null,
          total_counts: null,
          total_percentage: null
        }
      ],
      putInOperationData: {
        rate_counts: 0,
        rate_percentage: 0
      },
      putInShelvesData: {
        rate_counts: 0,
        rate_percentage: 0
      },
      outboundFailData: {
        rate_counts: 0,
        rate_percentage: 0
      },
      outboundSuccessData: {
        rate_counts: 0,
        rate_percentage: 0
      },
      monthlyOutboundList: [
        {
          mo_counts: 0,
          mo_month: 1,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 2,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 3,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 4,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 5,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 6,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 7,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 8,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 9,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 10,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 11,
          mo_year: 2020,
        },
        {
          mo_counts: 0,
          mo_month: 12,
          mo_year: 2020,
        }
      ],
      // 卡車動態查詢
      postData: {
        car_keyword_type: '', // 卡車搜尋關鍵字類別
        car_keyword: null // 卡車搜尋關鍵字
      },
      error: {
        car_keyword_type: '', // 卡車搜尋關鍵字類別
        car_keyword: null // 卡車搜尋關鍵字
      }
    }
  },
  computed: {
    dashboardList: function () {
      // console.log(this.$store.state[`dashboard`][`dashboardList`])
      return this.$store.state[`dashboard`][`dashboardList`] || []
    }
  },
  watch: {
    whId: {
      handler: function (val) {
        //
        this.profitShowTime = 1000
        this.orderShowTime = 1000
        switch (val) {
          case 'all':
            this.order = 3957
            this.profit = 93247
            break
          case 'tw01':
            this.warehouseDetail.wh_code = 'TPE01'
            this.warehouseDetail.wh_name = '臺北01倉'
            this.warehouseDetail.wh_address = '106臺北市大安區羅斯福路三段77號'
            this.order = 778
            this.profit = 78801
            this.finishSec = 54
            break
          case 'ch02':
            this.warehouseDetail.wh_code = 'CHN02'
            this.warehouseDetail.wh_name = '上海02倉'
            this.warehouseDetail.wh_address = '上海前鎮區盛興里6鄰中山二路268號'
            this.order = 376
            this.profit = 39787
            this.finishSec = 25
            break
          case 'ch03':
            this.warehouseDetail.wh_code = 'CHN03'
            this.warehouseDetail.wh_name = '深圳03倉'
            this.warehouseDetail.wh_address = '深圳龜山區復興一路8號'
            this.order = 202
            this.profit = 16157
            this.finishSec = 11
            break
          case 'usa04':
            this.warehouseDetail.wh_code = 'USA04'
            this.warehouseDetail.wh_name = '洛杉磯04倉'
            this.warehouseDetail.wh_address = '洛杉磯中和區中和路388號'
            this.order = 161
            this.profit = 77007
            this.finishSec = 32
            break
          case 'fx05':
            this.warehouseDetail.wh_code = 'FRA04'
            this.warehouseDetail.wh_name = '聖馬羅05倉'
            this.warehouseDetail.wh_address = '聖馬羅大同區民權西路72號'
            this.order = 739
            this.profit = 69425
            this.finishSec = 39
            break
        }
      },
      deep: true
    },
    time: {
      handler: function (val) {
        // console.log(val)
        this.profitShowTime = 1000
        switch (val) {
          case 'Last Year':
            this.profit = 78801
            break
          case 'This Year':
            this.profit = 89342
            break
          case 'Last Month':
            this.profit = 88940
            break
          case 'This Month':
            this.profit = 89875
            break
        }
      },
      deep: true
    },
    finishSec: {
      handler: function (val) {
      },
      deep: true
    },
    dashboardList: {
      handler: function (val) {
        // console.log(val)
        if (val) {
          // 今日訂單量
          // let orderList = val.inboundOutboundRateSummaryList
          // let order = 0
          // orderList.forEach((item) => {
          //   if (item.rate_name === 'total_inbound_count_today') {
          //     order += item.rate_counts
          //   }
          //   if (item.rate_name === 'total_outbound_count_today') {
          //     order += item.rate_counts
          //   }
          // })
          this.order = val.inboundOutboundRateSummaryList[5].rate_counts
          this.orderPrev = val.historyInboundOutboundRateSummaryList[5].rate_counts
          if (this.orderPrev === 0) {
            this.orderPercentage = '--'
          }
          // 前五大利潤最高的客戶
          this.top5InboundList = [...val.top5InboundList]
          this.setTop5Chart(this.top5InboundList, 'inbound')
          // 前五貨量最高的客戶
          this.top5OutboundList = [...val.top5OutboundList]
          this.setTop5Chart(this.top5OutboundList, 'outbound')
          // 入庫完成數
          this.putInOperationData = val.inboundOutboundRateSummaryList[0]
          this.setInventoryTransactionChart(this.putInOperationData, 'putInOperation')
          // 上架完成率
          this.putInShelvesData = val.inboundOutboundRateSummaryList[1]
          this.setInventoryTransactionChart(this.putInShelvesData, 'putInShelves')
          // 異常發生比
          this.outboundFailData = val.inboundOutboundRateSummaryList[2]
          this.setInventoryTransactionChart(this.outboundFailData, 'outboundFail')
          // 訂單完成率
          this.outboundSuccessData = val.inboundOutboundRateSummaryList[3]
          this.setInventoryTransactionChart(this.outboundSuccessData, 'outboundSuccess')
          // 上下半年每月訂單統計量
          val.monthlyOutboundList.forEach((item) => {
            this.monthlyOutboundList[item.mo_month - 1] = item
          })
          let firstList = []
          let secondList = []
          for (let i = 0; i < 6; i++) {
            firstList.push(this.monthlyOutboundList[i])
          }
          for (let i = 6; i < 12; i++) {
            secondList.push(this.monthlyOutboundList[i])
          }
          this.setInventoryTransactionHistogram(firstList, 'firstHalf')
          this.setInventoryTransactionHistogram(secondList, 'secondHalf')
          // console.log(this.monthlyOutboundList)
          // console.log(firstList)
          // console.log(secondList)
        }
      },
      deep: true
    }
  },
  methods: {
    tableANN (row, index) {
      if (index === 1) {
        return 'demo-table-info-row'
      } else if (index === 3) {
        return 'demo-table-error-row'
      }
      return ''
    },
    formatToPrice (value) {
      return `${value
        .toFixed(0)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
    },
    increase () {
      this.value = Number(this.value) + 500
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    getWarehouse: function (val, type) {
      // this.LoadingViewIsShow = true
      // console.log(val)
      // console.log(type)
      // if (val === 'all') {
      //   this.warehouseDetail = {
      //     wh_no: null,
      //     wh_name: null,
      //     contact_firstname: null,
      //     contact_lastname: null,
      //     telephone: null,
      //     address: null
      //   }
      //   return
      // }
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: 'null',
        query: [
          {
            queryCondition: '=',
            queryField: 'wh_id',
            queryValue: val
          }
        ],
        sort: []
      }
      this.$store.dispatch(`warehouse/searchNoCompanyId`, postData).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200) {
          if (r.respondCode.additionals.warehouse.length > 0) {
            this.warehouseDetail = r.respondCode.additionals.warehouse[0]
            if (type === 'change') {
              // 更新userInfo
              let updateWarehousePostData = {
                wh_id: this.warehouseDetail.wh_id,
                wh_name: this.warehouseDetail.wh_name,
                wh_name_eng: this.warehouseDetail.wh_name_eng
              }
              this.$store.dispatch(`auth/updateWarehouse`, updateWarehousePostData)
              // 刷新頁面
              window.location.reload()
            }
          } else {
            this.warehouseDetail = {
              wh_no: null,
              wh_name: null,
              contact_firstname: null,
              contact_lastname: null,
              telephone: null,
              address: null
            }
          }
          if (type === 'change') {
            // 更新userInfo
            let updateWarehousePostData = {
              wh_id: this.warehouseDetail.wh_id,
              wh_name: this.warehouseDetail.wh_name,
              wh_name_eng: this.warehouseDetail.wh_name_eng
            }
            this.$store.dispatch(`auth/updateWarehouse`, updateWarehousePostData)
            // 刷新頁面
            window.location.reload()
          }
        }
        // this.LoadingViewIsShow = false
      })
      // console.log(this.warehouseDetail)
    },
    setWarehouse: async function () {
      // console.log(this.whId)
      if (this.oldWhId === this.whId) {
        this.$Notice.success({
          title: '更新成功'
        })
        return
      }
      var oldPd = {
        user_id: this.userId, // 使用者ID
        wh_id: this.oldWhId // 倉庫ID
      }
      var newPd = {
        user_id: this.userId, // 使用者ID
        wh_id: this.whId // 倉庫ID
      }
      try {
        let deleteRes = await this.$store.dispatch(`warehouseUser/delete`, oldPd)
        // console.log(deleteRes)
        if (deleteRes.httpStatus === 200 || deleteRes.httpStatus === 201) {
          let createRes = await this.$store.dispatch('warehouseUser/create', newPd)
          // console.log(createRes)
          if (createRes.httpStatus === 200 || createRes.httpStatus === 201) {
            this.$Notice.success({
              title: '更新成功'
            })
          } else {
            this.$Notice.error({
              title: '更新失敗'
            })
          }
        } else {
          this.$Notice.error({
            title: '更新失敗'
          })
        }
      } catch (error) {
        // console.log(error)
        this.$Notice.error({
          title: '更新失敗'
        })
      }
    },
    updatedSec: function () {
      let my = this
      this.updatedSec = setInterval(() => {
        if (my.finishSec < 2) {
          my.finishSec = 25
        } else {
          my.finishSec = my.finishSec - 2
        }
      }, 10000)
    },
    getDashboardData: function () {
      let postData = {
        company_id: this.companyId,
        wh_id: this.whId
      }
      this.$store.dispatch(`dashboard/query`, postData).then((r) => {
        // console.log(r)
      })
    },
    setGoogleMap: function () {
      // google maps
      this.map = new google.maps.Map(document.getElementById('myMap'), {
      center: { lat: 25.034345, lng: 121.532995 },
      scrollwheel: false,
      zoom: 15,
      styles: [
        {
          'elementType': 'geometry',
          'stylers': [{
            'color': '#f5f5f5'
          }]
        },
        {
          'elementType': 'labels.icon',
          'stylers': [{
            'visibility': 'off'
          }]
        },
        {
          'elementType': 'labels.text.fill',
          'stylers': [{
            'color': '#616161'
          }]
        },
        {
          'elementType': 'labels.text.stroke',
          'stylers': [{
            'color': '#f5f5f5'
          }]
        },
        {
          'featureType': 'administrative.land_parcel',
          'elementType': 'labels.text.fill',
          'stylers': [{
            'color': '#bdbdbd'
          }]
        },
        {
          'featureType': 'poi',
          'elementType': 'geometry',
          'stylers': [{
            'color': '#eeeeee'
          }]
        },
        {
          'featureType': 'poi',
          'elementType': 'labels.text.fill',
          'stylers': [{
            'color': '#757575'
          }]
        },
        {
          'featureType': 'poi.park',
          'elementType': 'geometry',
          'stylers': [{
            'color': '#e5e5e5'
          }]
        },
        {
          'featureType': 'poi.park',
          'elementType': 'labels.text.fill',
          'stylers': [{
            'color': '#9e9e9e'
          }]
        },
        {
          'featureType': 'road',
          'elementType': 'geometry',
          'stylers': [{
            'color': '#ffffff'
          }]
        },
        {
          'featureType': 'road.arterial',
          'elementType': 'labels',
          'stylers': [{
            'visibility': 'off'
          }]
        },
        {
          'featureType': 'road.arterial',
          'elementType': 'labels.text.fill',
          'stylers': [{
            'color': '#757575'
          }]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'geometry',
          'stylers': [{
            'color': '#dadada'
          }]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'labels',
          'stylers': [{
            'visibility': 'off'
          }]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'labels.text.fill',
          'stylers': [{
            'color': '#616161'
          }]
        },
        {
          'featureType': 'road.local',
          'stylers': [{
            'visibility': 'off'
          }]
        },
        {
          'featureType': 'road.local',
          'elementType': 'labels.text.fill',
          'stylers': [{
            'color': '#9e9e9e'
          }]
        },
        {
          'featureType': 'transit.line',
          'elementType': 'geometry',
          'stylers': [{
            'color': '#e5e5e5'
          }]
        },
        {
          'featureType': 'transit.station',
          'elementType': 'geometry',
          'stylers': [{
            'color': '#eeeeee'
          }]
        },
        {
          'featureType': 'water',
          'elementType': 'geometry',
          'stylers': [{
            'color': '#c9c9c9'
          }]
        },
        {
          'featureType': 'water',
          'elementType': 'labels.text.fill',
          'stylers': [{
            'color': '#9e9e9e'
          }]
        }]
      })
      this.ptstart = {
        lat: 25.034345,
        lng: 121.532995
      }
      var marker = new google.maps.Marker({
        position: this.ptstart,
        map: this.map,
        title: '達奇資訊股份有限公司',
        icon: 'https://wms.target-ai.com/userprofile/avator/thumbnail-m.png'
      })
      marker.setMap(this.map)
    },
    setTop5Chart: function (data, type) {
      var chart
      switch (type) {
        case 'inbound':
          chart = am4core.create(this.$refs.chartTop5Inbound, am4charts.PieChart)
          break
        case 'outbound':
          chart = am4core.create(this.$refs.chartTop5Outbound, am4charts.PieChart)
          break
      }
      chart.data = [
        { sector: data[0].owner_name, size: data[0].total_counts },
        { sector: data[1].owner_name, size: data[1].total_counts },
        { sector: data[2].owner_name, size: data[2].total_counts },
        { sector: data[3].owner_name, size: data[3].total_counts },
        { sector: data[4].owner_name, size: data[4].total_counts }
      ]
      // Add label
      chart.innerRadius = 44
      let label = chart.seriesContainer.createChild(am4core.Label)
      // label.text = '15%'
      label.horizontalCenter = 'middle'
      label.verticalCenter = 'middle'
      label.fontSize = 30
      //
      // Add and configure Series
      let pieSeries = chart.series.push(new am4charts.PieSeries())
      pieSeries.dataFields.value = 'size'
      pieSeries.dataFields.category = 'sector'
      pieSeries.ticks.template.disabled = true
      pieSeries.alignLabels = false
      pieSeries.labels.template.bent = true
      pieSeries.labels.template.radius = 3
      pieSeries.labels.template.padding(0, 0, 0, 0)
      pieSeries.labels.template.text = '{value.percent.formatNumber("#.0")}%'
      pieSeries.colors.list = [
        am4core.color('#354361'),
        am4core.color('#d1c2af'),
        am4core.color('#dca558'),
        am4core.color('#9ca29c'),
        am4core.color('#B6B092')
      ]
    },
    setInventoryTransactionChart: function (data, type) {
      var chart
      var finish
      var unfinished
      switch (type) {
        case 'putInOperation':
          chart = am4core.create(this.$refs.chartPutInOperation, am4charts.PieChart)
          //
          unfinished = this.dashboardList.inboundOutboundRateSummaryList[4].rate_counts - data.rate_counts
          chart.data = [
            { sector: 'finish', size: data.rate_counts },
            { sector: 'unfinished', size: unfinished }
          ]
          break
        case 'putInShelves':
          chart = am4core.create(this.$refs.chartPutInShelves, am4charts.PieChart)
          //
          unfinished = this.dashboardList.inboundOutboundRateSummaryList[4].rate_counts - data.rate_counts
          chart.data = [
            { sector: 'finish', size: data.rate_counts },
            { sector: 'unfinished', size: unfinished }
          ]
          break
        case 'outboundFail':
          chart = am4core.create(this.$refs.chartOutboundFail, am4charts.PieChart)
          //
          finish = this.dashboardList.inboundOutboundRateSummaryList[5].rate_counts - data.rate_counts
          chart.data = [
            { sector: 'finish', size: finish },
            { sector: 'unfinished', size: data.rate_counts }
          ]
          break
        case 'outboundSuccess':
          chart = am4core.create(this.$refs.chartOutboundSuccess, am4charts.PieChart)
          //
          unfinished = this.dashboardList.inboundOutboundRateSummaryList[5].rate_counts - data.rate_counts
          chart.data = [
            { sector: 'finish', size: data.rate_counts },
            { sector: 'unfinished', size: unfinished }
          ]
          break
      }
      // Add label
      chart.innerRadius = 44
      let label = chart.seriesContainer.createChild(am4core.Label)
      // label.text = '15%'
      label.horizontalCenter = 'middle'
      label.verticalCenter = 'middle'
      label.fontSize = 30

      // Add and configure Series
      let pieSeries = chart.series.push(new am4charts.PieSeries())
      pieSeries.dataFields.value = 'size'
      pieSeries.dataFields.category = 'sector'
      pieSeries.ticks.template.disabled = true
      pieSeries.alignLabels = false
      pieSeries.labels.template.bent = true
      pieSeries.labels.template.radius = 3
      pieSeries.labels.template.padding(0, 0, 0, 0)
      pieSeries.labels.template.text = '{value.percent.formatNumber("#.0")}%'
      pieSeries.colors.list = [
        am4core.color('#354361'),
        am4core.color('#d7dbca')
      ]
    },
    setInventoryTransactionHistogram: function (data, type) {
      var histogram
      switch (type) {
        case 'firstHalf':
          histogram = am4core.create(this.$refs.histogramFirstHalf, am4charts.XYChart)
          histogram.hiddenState.properties.opacity = 0 // this creates initial fade-in
          histogram.data = [
            {
              month: 'JAN',
              counts: data[0].mo_counts,
              color: '#354361'
            },
            {
              month: 'FEB',
              counts: data[1].mo_counts,
              color: '#B8C0C2'
            },
            {
              month: 'MAR',
              counts: data[2].mo_counts,
              color: '#617B7C'
            },
            {
              month: 'APR',
              counts: data[3].mo_counts,
              color: '#CBC8BB'
            },
            {
              month: 'MAY',
              counts: data[4].mo_counts,
              color: '#DCA558'
            },
            {
              month: 'JUN',
              counts: data[5].mo_counts,
              color: '#B05671'
            }
          ]
          // console.log(1, histogram.data)
          break
        case 'secondHalf':
          histogram = am4core.create(this.$refs.histogramSecondHalf, am4charts.XYChart)
          histogram.hiddenState.properties.opacity = 0 // this creates initial fade-in
          histogram.data = [
            {
              month: 'JUL',
              counts: data[0].mo_counts,
              color: '#354361'
            },
            {
              month: 'AUG',
              counts: data[1].mo_counts,
              color: '#B8C0C2'
            },
            {
              month: 'SEP',
              counts: data[2].mo_counts,
              color: '#617B7C'
            },
            {
              month: 'OCT',
              counts: data[3].mo_counts,
              color: '#CBC8BB'
            },
            {
              month: 'NOV',
              counts: data[4].mo_counts,
              color: '#DCA558'
            },
            {
              month: 'DEC',
              counts: data[5].mo_counts,
              color: '#B05671'
            }
          ]
          // console.log(2, histogram.data)
          break
      }
      //
      let categoryAxisHistogram = histogram.xAxes.push(new am4charts.CategoryAxis())
      categoryAxisHistogram.renderer.grid.template.location = 0
      categoryAxisHistogram.dataFields.category = 'month'
      categoryAxisHistogram.renderer.minGridDistance = 40
      categoryAxisHistogram.fontSize = 11
      //
      let valueAxisHistogram = histogram.yAxes.push(new am4charts.ValueAxis())
      valueAxisHistogram.min = 0
      valueAxisHistogram.max = 5000
      valueAxisHistogram.strictMinMax = true
      valueAxisHistogram.renderer.minGridDistance = 30
      // // axis break(斷裂區間)
      // let axisBreakHistogram = valueAxisHistogram.axisBreaks.create()
      // axisBreakHistogram.startValue = 1000
      // axisBreakHistogram.endValue = 2000
      // axisBreakHistogram.breakSize = 0.005
      // // make break expand on hover
      // let hoverStateHistogram = axisBreakHistogram.states.create('hover')
      // hoverStateHistogram.properties.breakSize = 1
      // hoverStateHistogram.properties.opacity = 0.1
      // hoverStateHistogram.transitionDuration = 1500
      // //
      // axisBreakHistogram.defaultState.transitionDuration = 1000
      //
      let seriesHistogram = histogram.series.push(new am4charts.ColumnSeries())
      seriesHistogram.dataFields.categoryX = 'month'
      seriesHistogram.dataFields.valueY = 'counts'
      seriesHistogram.columns.template.tooltipText = '{valueY.value}'
      seriesHistogram.columns.template.tooltipY = 0
      seriesHistogram.columns.template.strokeOpacity = 0
      seriesHistogram.columns.template.width = am4core.percent(30) // 寬度
      // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
      // seriesHistogram.columns.template.adapter.add('fill', function(fill, target) {
      //   return histogram.colors.getIndex(target.dataItem.index)
      // })
      seriesHistogram.columns.template.propertyFields.fill = 'color'
    }
  },
  created () {
    //
    setTimeout(() => {
      this.LoadingViewIsShow = false
    }, 1000)
  },
  mounted () {
    this.getWarehouse(this.whId)
    //
    this.getDashboardData()
    setInterval(() => {
      this.getDashboardData()
    }, 900000)
    //
    this.setGoogleMap()
    //

    let targetSVG =
      'M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z'

    // Create map instance
    let map1 = am4core.create(this.$refs.map1, am4maps.MapChart)

    // Set map definition
    map1.geodata = am4geodataWorldLow

    // Set projection
    map1.projection = new am4maps.projections.Miller()

    // Create map polygon series
    let polygonSeries = map1.series.push(new am4maps.MapPolygonSeries())

    // Exclude Antartica
    polygonSeries.exclude = ['AQ']

    // Make map load polygon (like country names) data from GeoJSON
    polygonSeries.useGeodata = true

    // Configure series
    let polygonTemplate = polygonSeries.mapPolygons.template
    polygonTemplate.strokeOpacity = 0.5
    polygonTemplate.nonScalingStroke = true

    // create capital markers
    let imageSeries = map1.series.push(new am4maps.MapImageSeries())

    // define template
    let imageSeriesTemplate = imageSeries.mapImages.template
    let circle = imageSeriesTemplate.createChild(am4core.Sprite)
    circle.scale = 0.4
    circle.fill = new am4core.InterfaceColorSet().getFor(
      'alternativeBackground'
    )
    circle.path = targetSVG
    circle.radius = 4
    circle.fill = am4core.color('#dca558')
    circle.nonScaling = true
    circle.tooltipText = '{title}'
    var cs = circle.states.create('hover')
    cs.properties.fill = am4core.color('red')
    // what about scale...

    // set propertyfields
    imageSeriesTemplate.propertyFields.latitude = 'latitude'
    imageSeriesTemplate.propertyFields.longitude = 'longitude'

    imageSeriesTemplate.horizontalCenter = 'middle'
    imageSeriesTemplate.verticalCenter = 'middle'
    imageSeriesTemplate.align = 'center'
    imageSeriesTemplate.valign = 'middle'
    imageSeriesTemplate.width = 8
    imageSeriesTemplate.height = 8
    imageSeriesTemplate.nonScaling = true
    imageSeriesTemplate.tooltipText = '{title}'
    imageSeriesTemplate.fill = am4core.color('#000')
    imageSeriesTemplate.background.fillOpacity = 0
    imageSeriesTemplate.background.fill = am4core.color('#ffffff')
    imageSeriesTemplate.setStateOnChildren = true
    imageSeriesTemplate.states.create('hover')

    imageSeries.data = [
      {
        title: 'Berlin',
        latitude: 52.5235,
        longitude: 13.4115,
        color: '#CC0000',
        rollOverColor: '#CC0000',
        selectedColor: '#000000'
      },
      {
        title: '廣州市',
        latitude: 23.127876,
        longitude: 113.252529
      },
      {
        title: '上海市',
        latitude: 31.229006,
        longitude: 121.487587
      },
      {
        title: '北京市',
        latitude: 39.901684,
        longitude: 116.415282
      },
      {
        title: 'San Francisco',
        latitude: 37.775373,
        longitude: -122.414352
      },
      {
        title: 'New York',
        latitude: 40.715158,
        longitude: -74.005208
      },
      {
        title: 'Vancouver',
        latitude: 49.286163,
        longitude: -123.123906
      },
      {
        title: '曼谷',
        latitude: 13.751529,
        longitude: 100.492671
      },
      {
        title: 'Singapore',
        latitude: 1.357930,
        longitude: 103.873080
      },
      {
        title: 'Maynila',
        latitude: 14.599652,
        longitude: 120.983164
      },
      {
        title: 'Kuala Lumpur',
        latitude: 3.137132,
        longitude: 101.687331
      },
      {
        title: 'Jakarta',
        latitude: -6.208240,
        longitude: 106.844279
      },
      {
        title: 'Berlin',
        latitude: 52.515119,
        longitude: 13.405500
      },
      {
        title: 'London',
        latitude: 51.505662,
        longitude: -0.113985
      },
      {
        title: 'Amsterdam',
        latitude: 52.366596,
        longitude: 4.898466
      },
      {
        title: 'Santo Domingo',
        latitude: 18.485737,
        longitude: -69.935551
      },
      {
        title: 'Brasília',
        latitude: -15.785656,
        longitude: -47.906987
      },
      {
        title: 'Bogotá',
        latitude: 4.705770,
        longitude: -74.063184
      },
      {
        title: 'Guatemala',
        latitude: 15.873274,
        longitude: -89.966257
      },
      {
        title: '桃園',
        latitude: 25.076972,
        longitude: 121.295348
      },
      {
        title: '香港',
        latitude: 22.319637,
        longitude: 114.170263
      }
    ]
    // 年度利潤 Start
    let chartdivLine1 = am4core.create(this.$refs.chartdiv_line1, am4charts.XYChart)
    // Add data
    chartdivLine1.data = [{
      'month': 'JAN',
      '2017': 1000,
      '2018': 4000,
      '2019': 14000
    }, {
      'month': 'FEB',
      '2017': 2000,
      '2018': 5000,
      '2019': 11000
    }, {
      'month': 'MAR',
      '2017': 2000,
      '2018': 6000,
      '2019': 12000
    }, {
      'month': 'APR',
      '2017': 3300,
      '2018': 6000,
      '2019': 13000
    }, {
      'month': 'MAY',
      '2017': 3500,
      '2018': 4000,
      '2019': 13000
    }, {
      'month': 'JUN',
      '2017': 3600,
      '2018': 7000,
      '2019': 14000
    }, {
      'month': 'JUL',
      '2017': 3600,
      '2018': 8000,
      '2019': 15000
    }, {
      'month': 'AUG',
      '2017': 3300,
      '2018': 9000,
      '2019': 16000
    }, {
      'month': 'SEP',
      '2017': 3700,
      '2018': 12000,
      '2019': 19000
    }, {
      'month': 'OCT',
      '2017': 3700,
      '2018': 15000,
      '2019': 21000
    }, {
      'month': 'NOV',
      '2017': 3800,
      '2018': 15000,
      '2019': 21000
    }, {
      'month': 'DEC',
      '2017': 4000,
      '2018': 14000,
      '2019': 23000
    }]
    // Create category axis
    let categoryAxis = chartdivLine1.xAxes.push(new am4charts.CategoryAxis())
    categoryAxis.dataFields.category = 'month'
    categoryAxis.renderer.opposite = false
    // Create value axis
    let valueAxis = chartdivLine1.yAxes.push(new am4charts.ValueAxis())
    valueAxis.renderer.inversed = false
    valueAxis.title.text = 'Profit'
    valueAxis.renderer.minLabelPosition = 0.01
    // Create series
    let series1 = chartdivLine1.series.push(new am4charts.LineSeries())
    series1.dataFields.valueY = '2017'
    series1.dataFields.categoryX = 'month'
    series1.name = '2017'
    series1.strokeWidth = 2
    series1.stroke = am4core.color('#354361')
    series1.fill = am4core.color('#354361')
    // series1.bullets.push(new am4charts.CircleBullet())
    series1.tooltipText = 'Profit by {name} in {categoryX}: {valueY}'
    series1.legendSettings.valueText = '{valueY}'
    series1.visible = false
    let bullet1 = series1.bullets.push(new am4charts.CircleBullet())
    bullet1.circle.radius = 3
    bullet1.circle.strokeOpacity = 0
    //
    let series2 = chartdivLine1.series.push(new am4charts.LineSeries())
    series2.dataFields.valueY = '2018'
    series2.dataFields.categoryX = 'month'
    series2.name = '2018'
    series2.strokeWidth = 2
    series2.stroke = am4core.color('#617B7C')
    series2.fill = am4core.color('#617B7C')
    // series2.bullets.push(new am4charts.CircleBullet())
    series2.tooltipText = 'Profit by {name} in {categoryX}: {valueY}'
    series2.legendSettings.valueText = '{valueY}'
    let bullet2 = series2.bullets.push(new am4charts.CircleBullet())
    bullet2.circle.radius = 3
    //
    let series3 = chartdivLine1.series.push(new am4charts.LineSeries())
    series3.dataFields.valueY = '2019'
    series3.dataFields.categoryX = 'month'
    series3.name = '2019'
    series3.strokeWidth = 2
    series3.stroke = am4core.color('#B05671')
    series3.fill = am4core.color('#B05671')
    // series3.bullets.push(new am4charts.CircleBullet())
    series3.tooltipText = 'Profit by {name} in {categoryX}: {valueY}'
    series3.legendSettings.valueText = '{valueY}'
    let bullet3 = series3.bullets.push(new am4charts.CircleBullet())
    bullet3.circle.radius = 3
    // Add chart cursor
    chartdivLine1.cursor = new am4charts.XYCursor()
    chartdivLine1.cursor.behavior = 'zoomY'
    // Add legend
    chartdivLine1.legend = new am4charts.Legend()
    // 年度利潤 END
    // 時間更新
    this.updatedSec()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
@import "../assets/scss/common.scss";
#myMap {
  height: 300px;
  width: 100%;
}
.map1 {
  height: 87%;
  overflow: hidden;
}
.st0 {
  fill: #dadce2;
}
.st1 {
  fill: #354361;
}

.map-marker {
  /* adjusting for the marker dimensions
    so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
}
.map-marker.map-clickable {
  cursor: pointer;
}
.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
}
.map-marker .dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 0;
  }
}
.ivu-layout {
  .content-layout[data-v-5ea12a04] {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
}

.Dashboard {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  overflow-y: scroll;
}

.radio {
  color: $base-gray-lt2;

  &.ivu-radio-large {
    .ivu-radio-inner {
      width: 12px;
      height: 12px;

      &::after {
        width: 6px;
        height: 6px;
      }
    }
  }

  .ivu-radio-wrapper-checked {
    color: #000;
  }

  .ivu-radio-checked {
    &:hover {
      border-color: $base-gray;
    }

    .ivu-radio-inner {
      border-color: $base-gray;

      &::after {
        background-color: $base-gray;
      }
    }
  }
}
.btn-border-none {
  &.ivu-btn {
    border: 1px solid transparent;
    background-color: #fff;
    z-index: 100;
    #line-01-dk,
    #line-02-dk,
    #line-04-lt,
    #line-04-dk {
      @include TS(all 0.5s);
    }
    #line-01-dk {
      @include TF(scale(1, 2) translate(0, -46%));
    }
    #line-02-dk,
    #line-04-lt,
    #line-04-dk {
      @include TF(scale(1, 1) translate(0, 0));
    }

    &:hover {
      border: 1px solid transparent;
      #line-01-dk,
      #line-02-dk {
        @include TS(all 0.5s);
      }
      #line-01-dk {
        @include TF(scale(1, 7) translate(0, -85%));
      }
      #line-02-dk {
        @include TF(scale(1, 0.6) translate(0, 50%));
      }
      #line-04-lt {
        @include TF(scale(1, 1.3) translate(0, -15%));
      }
      #line-04-dk {
        @include TF(scale(1, 1.3) translate(0, -15%));
      }
    }
  }
}

.border-dashed-green-lt {
  border: 3px dashed $base-green-lt2 !important;
}

.tab {
  border-radius: 3rem;
  min-width: 72px;
}

.whse-title {
  display: inline-block;
  min-width: 42px;
}

.chart-color {
  display: inline-block;
  width: 6px;
  height: 6px;
  @include border-radius(50%);
  margin-bottom: 2px;
}

.icon-btn-gray {
  &.ivu-btn {
    border: 1px solid transparent;
    color: $base-gray-lt;
    z-index: 100;

    &:hover {
      color: $base-blue;
      border: 1px solid transparent;
    }
  }
}
.icon-btn-lg {
  width: 66px;
  height: 66px;
  &.ivu-btn {
    border: 4px solid;
    background-color: transparent;
    padding: 11px 15px;
    @include border-radius(50%);
    z-index: 100;
    &.gray {
      color: $base-blue-lt;
      border-color: $base-blue-lt;
      &:hover {
        color: $base-blue;
        border-color: $base-blue;
      }
    }
    &.green {
      color: $base-green-lt2;
      border-color: $base-green-lt2;
      &:hover {
        color: $base-green;
        border-color: $base-green;
      }
    }
  }
}
// table
.ANNTable {
  .ivu-table-wrapper {
    border: 1px solid transparent;
  }
  .ivu-table-overflowX {
    overflow: hidden;
  }
  .ivu-table {
    &::before {
      height: 0;
    }
    &::after {
      width: 0;
    }
    th {
      background-color: #fff;
    }

    td {
      height: auto;
      min-height: 2rem;
      padding: 0.5rem 0;
    }

    .ivu-table-header thead {
      background-color: #fff;

      th {
        border-right: 1px solid transparent;
        text-align: center;
      }
    }

    .ivu-table-tbody {
      // .ivu-table-row td:first-child{
      //   width: 40px;
      // }
      td {
        border-bottom: 1px solid transparent;
      }
    }
  }
}
/deep/.ivu-card.like-block{
  height: 100%;
  .ivu-card-body{
    position: relative;
  }
  .like-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .add-like-btn{
    position: absolute;
    background-color: transparent;
    border: 1px solid transparent;
    top: 2px;
    right: 8px;
    color: #b8bdc8;
  }
}
.finish-icon{
  font-size: 32px;
}
.finish-title {
  font-size: 35px;
}
.meridiem{
  display: inline-block;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 992px) {
  .border-lg-right {
    border-right: 1px solid #e8eaec;
  }
  .border-lg-bottom {
    border-bottom: 1px solid #e8eaec;
  }
  .w-lg-100 {
    width: 100%;
  }
  .h-lg-100 {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .border-md-right {
    border-right: 1px solid #e8eaec;
  }
  .border-md-bottom {
    border-bottom: 1px solid #e8eaec;
  }
  .w-md-100 {
    width: 100%;
  }
  .h-md-100 {
    height: 100%;
  }
  .map1 {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .border-md-right {
    border-right: 0px solid #e8eaec;
  }
  .border-md-bottom {
    border-bottom: 0px solid #e8eaec;
  }
  .border-bottom {
    border-bottom: 1px solid #e8eaec;
  }
  .border-right {
    border-right: 1px solid #e8eaec;
  }
  .w-md-100 {
    width: auto;
  }
  .h-md-100 {
    height: auto;
  }
}
</style>
