<template>
  <div class="Home">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <div class="mx-3">
      <h3 class="sub-title regular-text text-base mb-3" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowSubFontColor}">WMS 倉儲管理系統</h3>
    </div>
    <Row type="flex" class="align-items-stretch px-3">
      <Col :sm="{ span: 24 }" :md="{ span: 16 }" class="pr-lg-2 pr-0 pb-3">
        <Card class="w-100">
          <h4 class="sm-title regular-text text-base pb-4">系統公告</h4>
          <div class="scoll-table-box">
            <Table :columns="announceColumns" :data="announceData" :loading="announceLoading" :width="announceWidth" height="350">
              <!-- <template slot-scope="{ row }" slot="action">
                <Tooltip  v-for="(item, idx) in row.fileList" :key="idx" :content="item">
                  <Button type="text" size="large" @click="downloadAnnounceFile(item)">
                    <font-awesome-icon icon="cloud-download-alt" />
                  </Button>
                </Tooltip>
              </template> -->
            </Table>
          </div>
          <div style="margin: 10px;overflow: hidden">
              <div style="float: right;">
                  <Page
                  :total="announceDataTotalCount"
                  :current="announceDataPageNumber"
                  :page-size="10"
                  @on-change="announcePageChange"></Page>
              </div>
          </div>
        </Card>
      </Col>
      <Col :sm="{ span: 24 }" :md="{ span: 8 }" class="d-flex flex-column pl-lg-2">
        <Card class="w-100 h-100 mb-3">
          <div class="border-lg-bottom border-md-right border-bottom pb-lg-3 pb-md-0 pb-3 pr-lg-0 pr-md-5 pr-3 h-md-100">
            <h4 class="sm-title regular-text text-base pb-4 d-flex justify-content-between">
              倉庫位置
            </h4>
            <Radio-group v-model="whId" @on-change="setWarehouse(whId, 'change')" vertical class="radio" size="large" style="width:100%;">
              <Row>
                <!-- <Col span="12">
                  <Radio label="all" class="mb-1">
                    <Icon type="social-all"></Icon>
                    <span>選取全部</span>
                  </Radio>
                </Col> -->
                <Col span="12" v-for="(item, index) in whList" :key="`${item.wh_id}_${index}`">
                  <Radio :label="item.wh_id" class="mb-1">
                    <Icon type="social-all"></Icon>
                    <span>
                      {{item.wh_name}}
                    </span>
                  </Radio>
                </Col>
              </Row>
            </Radio-group>
          </div>
          <div class="pt-lg-3 pt-md-0 pt-3 pl-lg-0 pl-md-5 pl-3">
            <h4 class="sm-title regular-text text-base pb-4">倉庫資訊</h4>
            <div class="mb-3">
                <p class="base-text regular-text text-base pb-3">
                  <span class="whse-title">倉庫代碼</span>
                  <span class="text-blue pl-3">{{warehouseDetail.wh_no}}</span>
                </p>
                <p class="base-text regular-text text-base pb-3">
                  <span class="whse-title">倉庫名稱</span>
                  <span class="text-blue pl-3">{{warehouseDetail.wh_name}}</span>
                </p>
                <p class="base-text regular-text text-base pb-3">
                  <span class="whse-title">電話</span>
                  <span class="text-blue pl-3">{{warehouseDetail.telephone}}</span>
                </p>
                <p class="base-text regular-text text-base pb-3">
                  <span class="whse-title">倉庫地址</span>
                  <span class="text-blue pl-3">{{warehouseDetail.address}}</span>
                </p>
            </div>
            <!-- <div class="text-center">
              <Button shape="circle" class="sm-title light-text text-base px-4">
                More
                <font-awesome-icon icon="chevron-right" class="ml-2" />
              </Button>
            </div> -->
          </div>
        </Card>
      </Col>
    </Row>
    <Card class="w-100">
      <Row type="flex" class="align-items-stretch memoList">
        <Col
          :xs="{ span: 24 }"
          :sm="{ span: 24 }"
          :md="{ span: 6 }"
          class="px-lg-2 px-md-2 px-0 pb-3"
          v-for="(item, index) in memoList"
          :key="`${item.memo_id}${index}`"
        >
          <Card :bordered="false" class="w-100 bg-green-lt memos">
            <h4 class="sm-title regular-text text-base pb-4">
              <span>備忘事項 | {{item.memo_date}}</span>
              <div>
                <Button type="text" class="sm-title p-0 mr-3" @click="getMemoDetail(item)">
                  <font-awesome-icon icon="pen" />
                </Button>
                <Button type="text" class="sm-title p-0" @click="comfirmRemove(item.memo_id)">
                  <font-awesome-icon icon="times" />
                </Button>
              </div>
            </h4>
            <ul class="sm-title pl-3">
              <li class="pb-3" v-if="item.memo_message1">{{item.memo_message1}}</li>
              <li class="pb-3" v-if="item.memo_message2">{{item.memo_message2}}</li>
              <li class="pb-3" v-if="item.memo_message3">{{item.memo_message3}}</li>
            </ul>
            <!-- <div v-if="item.fileList.length > 0">
              下載附件：
              <Button
              type="text"
              class="sm-title"
              v-for="(itm, idx) in item.fileList"
              :key="`${item.memo_id}${idx}`"
              @click="downloadMemoFile(itm)">
                <font-awesome-icon icon="cloud-download-alt" />
              </Button>
            </div> -->
          </Card>
        </Col>
        <Col :xs="{ span: 24 }" :sm="{ span: 24 }" :md="{ span: 6 }" class="px-lg-2 pb-3">
          <Card
            class="w-100 h-100 d-flex justify-content-center align-items-center border-dashed-green-lt memos"
          >
            <div class="text-center pb-3">
              <Button class="icon-btn-lg green lg-title" @click="setMemoAddModalEvent(true)">
                <font-awesome-icon icon="plus" />
              </Button>
            </div>
            <h4 class="sm-title regular-text text-gray-lt pb-4">新增便籤</h4>
          </Card>
        </Col>
      </Row>
    </Card>
    <!-- memo add Modal -->
    <Modal v-model="memoAddModal" width="500" :footer-hide="true" @on-cancel="setMemoAddModalEvent(false)" class="addModal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <!-- LoadingView -->
        <LoadingView :show="memoLoadingViewIsShow"></LoadingView>
        <div>
          <h2 class="title mb-1">
            <span>備忘事項</span>
          </h2>
          <div class="mb-3">
            <div class="pr-3 mb-3">
              <!-- 備忘錄日期 -->
              <FloatLabelBox
                :config="{hasContent: (memoPostData.memo_date && memoPostData.memo_date!==''), label: `備忘錄日期 *`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
                :code="`memo_date`"
                :defaultValue="memoPostData.memo_date"
                :isError="memoError.memo_date"
                :isRequired="true"
                @changeModelEvent="memoDatePickerChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="pr-3 mb-3">
              <!-- 備忘錄訊息1 -->
              <FloatLabelBox
                :config="{hasContent: (memoPostData.memo_message1 && memoPostData.memo_message1!==''), label: `備忘錄訊息1 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                :code="`memo_message1`"
                :defaultValue="memoPostData.memo_message1"
                :disabled="false"
                :isError="memoError.memo_message1"
                :isRequired="true"
                @changeModelEvent="memoInputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="pr-3 mb-3">
              <!-- 備忘錄訊息2 -->
              <FloatLabelBox
                :config="{hasContent: (memoPostData.memo_message2 && memoPostData.memo_message2!==''), label: `備忘錄訊息2`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                :code="`memo_message2`"
                :defaultValue="memoPostData.memo_message2"
                :disabled="false"
                @changeModelEvent="memoInputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="pr-3 mb-3">
              <!-- 備忘錄訊息3 -->
              <FloatLabelBox
                :config="{hasContent: (memoPostData.memo_message3 && memoPostData.memo_message3!==''), label: `備忘錄訊息3`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
                :code="`memo_message3`"
                :defaultValue="memoPostData.memo_message3"
                :disabled="false"
                @changeModelEvent="memoInputTxtChangeEvent"
              ></FloatLabelBox>
            </div>
            <!-- <div class="pr-3 mb-3">
              <Button
                  class="bestBtn mr-3"
                  type="default"
                  shape="circle"
                  @click="showImportModal"
                >上傳附件</Button>
            </div>
            <div class="fileContent pr-3 mb-3" v-for="(item, index) in fileList" :key="index">
              <span class="bestText">附件{{index + 1}}: {{item}}</span>
              <Button
                class="ml-3"
                shape="circle"
                @click="removeFileList(index)"
                icon="md-close"
                size="small"
              />
            </div> -->
          </div>
        </div>
      </div>
      <div class="button-box mt-3">
        <Button class="modal-btn" type="default" shape="circle" @click="setMemoAddModalEvent(false)">關閉</Button>
        <Button class="modal-btn dark ml-3" type="default" shape="circle" @click="saveMemo" :disabled="saveMemoDisabled">儲存</Button>
      </div>
    </Modal>
    <!-- import modal -->
    <ImportModal
      :importModal="importModalToggle"
      :importModalTitle="importModalTitle"
      :importUploadURL="importUploadURL"
      :importLoadingViewIsShow="importLoadingViewIsShow"
      v-on:importEvent="importEvent"
      v-on:beforeUploadEvent="beforeUploadEvent"
      v-on:setImportModalEvent="setImportModalEvent"
    ></ImportModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByBTJrbgxusPjK52JtehJNUYmbxe56mG4&callback"
  async defer></script>
<script>
import Config from '@/Config'
import * as am4core from '@amcharts/amcharts4/core'
import * as am4charts from '@amcharts/amcharts4/charts'
import * as am4maps from '@amcharts/amcharts4/maps'
import am4themes from '@amcharts/amcharts4/themes/animated'
import am4geodataWorldLow from '@amcharts/amcharts4-geodata/worldLow'
import AnimatedNumber from 'animated-number-vue'
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ImportModal from '@/components/ImportModal/ImportModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'

am4core.useTheme(am4themes)

export default {
  name: 'Home',
  props: [],
  components: {
    AnimatedNumber,
    LoadingView,
    FloatLabelBox,
    ImportModal,
    ComfirmRemoveModal
  },
  data () {
    let routeQuery = this.$route.query
    // let userInfo = this.$store.state.auth.userInfo
    // console.log(userInfo)
    let whList = this.$store.state.auth.userInfo.warehouseList
    return {
      Config: Config,
      routeQuery: routeQuery,
      /* LoadingView */
      LoadingViewIsShow: false,
      // 倉庫位置
      companyName: this.$store.state.auth.userInfo.companyLocalName,
      whList: whList,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      warehouseDetail: {
        wh_no: whList[0].wh_no,
        wh_name: whList[0].wh_name,
        telephone: whList[0].telephone,
        address: whList[0].address
      },
      // 系統公告
      announceWidth: 'auto',
      announceLoading: false,
      announceColumns: [
        {
          title: '開始日期',
          key: 'announce_start_date',
          width: 110
        },
        // {
        //   title: '結束日期',
        //   key: 'announce_end_date',
        //   width: 110
        // },
        {
          title: '主旨',
          key: 'announce_subject'
        },
        {
          title: '內容',
          key: 'announce_detail',
          tooltip: true
        }
        // {
        //   title: '副件',
        //   slot: 'action',
        //   width: 200,
        //   align: 'left'
        // }
      ],
      announceData: [
        {
          announce_start_date: null,
          announce_end_date: null,
          announce_subject: null,
          announce_detail: null
        }
      ],
      announceDataTotalCount: 0,
      announceDataPageNumber: 1,
      // 備忘事項
      memoLoadingViewIsShow: false,
      memoAddModal: false,
      memoList: [],
      memoPostData: {
        memo_id: null,
        memo_date: null,
        memo_message1: null,
        memo_message2: null,
        memo_message3: null
        // upload_file_name1: null,
        // upload_file_name2: null,
        // upload_file_name3: null
      },
      memoError: {
        memo_date: false,
        memo_message1: false,
        memo_message2: false,
        memo_message3: false
        // upload_file_name1: false,
        // upload_file_name2: false,
        // upload_file_name3: false
      },
      saveMemoDisabled: false,
      /* 上傳檔案名稱 */
      fileList: [],
      // importModal
      importModalToggle: false,
      importModalTitle: '上傳附件',
      importUploadURL: `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}${Config.API.memo.upload}`,
      importLoadingViewIsShow: false,
      //
      isRemoveMemoId: null,
      comfirmRemoveModal: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    memoPostData: {
      handler: function (val) {
        if (val.memo_date) {
          this.memoError.memo_date = false
        }
        if (val.memo_message1) {
          this.memoError.memo_message1 = false
        }
      },
      deep: true
    }
  },
  methods: {
    tableANN (row, index) {
      if (index === 1) {
        return 'demo-table-info-row'
      } else if (index === 3) {
        return 'demo-table-error-row'
      }
      return ''
    },
    formatToPrice (value) {
      return `${value
        .toFixed(0)
        .toString()
        .replace(/\B(?=(\d{3})+(?!\d))/g, ',')}`
    },
    increase () {
      this.value = Number(this.value) + 500
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    setWarehouse: function (val, type) {
      console.log(val)
      let data = this.whList.find((item) => {
        return item.wh_id === val
      })
      this.warehouseDetail = {
        wh_no: data.wh_no,
        wh_name: data.wh_name,
        telephone: data.telephone,
        address: data.address
      }
      if (type === 'change') {
        // 更新userInfo
        let postData = {
          wh_id: data.wh_id,
          wh_name: data.wh_name,
          wh_name_eng: data.wh_name_eng
        }
        this.$store.dispatch(`auth/updateWarehouse`, postData)
        // 刷新頁面
        window.location.reload()
      }
    },
    //
    getAnnounceData: function (pageNumber) {
      let date = new Date()
      var yyyy = date.getFullYear()
      var mm = date.getMonth() + 1
      var dd = date.getDate()
      let today = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 23:59:59'
      // console.log(today)
      let postData = {
        page: pageNumber,
        pageSize: 10,
        combinedCondition: 'AND',
        query: [
          {
            queryCondition: '=',
            queryValue: 1,
            queryField: 'is_enabled'
          },
          {
            queryCondition: '<=',
            queryValue: today,
            queryField: 'announce_start_date'
          }
        ],
        sort: [{ sortField: 'announce_id', sortValue: 'desc' }]
      }
      this.announceLoading = true
      this.$store.dispatch(`announce/search`, postData).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          let list = r.respondCode.additionals.announce || []
          list.forEach((item, index) => {
            item.announce_start_date = this.setDateToYYYYMMDD(item.announce_start_date)
            item.announce_end_date = this.setDateToYYYYMMDD(item.announce_end_date)
            // item.fileList = []
            // if (item.upload_file_name1) {
            //   item.fileList.push(item.upload_file_name1)
            // }
            // if (item.upload_file_name2) {
            //   item.fileList.push(item.upload_file_name2)
            // }
            // if (item.upload_file_name3) {
            //   item.fileList.push(item.upload_file_name3)
            // }
          })
          this.announceData = JSON.parse(JSON.stringify(list))
          this.announceDataTotalCount = r.respondCode.additionals.totalCount
          this.announceLoading = false
        }
      })
    },
    announcePageChange: function (num) {
      // console.log(num)
      this.getAnnounceData(num)
    },
    downloadAnnounceFile: function (val) {
      // console.log(val)
      window.open(`${Config.API.downloadAPIBaseURL}/upload/announce/${val}`)
    },
    //
    setDateToYYYYMMDD: function (val) {
      // console.log(val)
      let date = null
      if (val) {
        date = val.substr(0, 10)
      }
      return date
    },
    //
    memoInputTxtChangeEvent: function (data) {
      // console.log(data)
      this.memoPostData[data.code] = data.val
    },
    memoDatePickerChangeEvent: function (data) {
      // console.log(data)
      this.memoPostData[data.code] = data.val
    },
    getMemoList: function () {
      let postData = {
        page: 1,
        pageSize: 250,
        combinedCondition: 'AND',
        query: [],
        sort: []
      }
      this.$store.dispatch(`memo/search`, postData).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          let list = r.respondCode.additionals.memo || []
          list.forEach((item, index) => {
            item.memo_date = this.setDateToYYYYMMDD(item.memo_date)
            // item.fileList = []
            // if (item.upload_file_name1) {
            //   item.fileList.push(item.upload_file_name1)
            // }
            // if (item.upload_file_name2) {
            //   item.fileList.push(item.upload_file_name2)
            // }
            // if (item.upload_file_name3) {
            //   item.fileList.push(item.upload_file_name3)
            // }
          })
          this.memoList = JSON.parse(JSON.stringify(list))
        }
      })
    },
    setMemoAddModalEvent: function (bol) {
      this.memoAddModal = bol
    },
    getMemoDetail: function (data) {
      this.initMemo()
      this.memoPostData = {
        memo_id: data.memo_id || null,
        memo_date: data.memo_date || null,
        memo_message1: data.memo_message1 || null,
        memo_message2: data.memo_message2 || null,
        memo_message3: data.memo_message3 || null
        // upload_file_name1: data.upload_file_name1 || null,
        // upload_file_name2: data.upload_file_name2 || null,
        // upload_file_name3: data.upload_file_name3 || null
      }
      this.fileList = data.fileList
      this.setMemoAddModalEvent(true)
    },
    saveMemo: function () {
      // 檢查
      let isError = false
      if (!this.memoPostData.memo_date || this.memoPostData.memo_date === '') {
        isError = true
        this.memoError.memo_date = true
      }
      if (!this.memoPostData.memo_message1 || this.memoPostData.memo_message1 === '') {
        isError = true
        this.memoError.memo_message1 = true
      }
      if (isError) {
        return
      }
      let postData = {
        memo_date: this.memoPostData.memo_date,
        memo_message1: this.memoPostData.memo_message1
      }
      if (this.memoPostData.memo_message2) {
        postData.memo_message2 = this.memoPostData.memo_message2
      }
      if (this.memoPostData.memo_message3) {
        postData.memo_message3 = this.memoPostData.memo_message3
      }
      let fileListLength = this.fileList.length
      for (let i = 0; i < fileListLength; i++) {
        if (this.fileList[i]) {
          postData[`upload_file_name${i + 1}`] = this.fileList[i]
        }
      }
      this.memoLoadingViewIsShow = true
      if (this.memoPostData.memo_id) {
        // update
        postData.memo_message2 = this.memoPostData.memo_message2 || 'null'
        postData.memo_message3 = this.memoPostData.memo_message3 || 'null'
        // postData.upload_file_name1 = this.fileList[0] || 'null'
        // postData.upload_file_name2 = this.fileList[1] || 'null'
        // postData.upload_file_name3 = this.fileList[2] || 'null'
        this.$store.dispatch('memo/update', { postData: postData, id: this.memoPostData.memo_id}).then((r) => {
          // console.log(r)
          if (r.httpStatus === 200 || r.httpStatus === 201) {
            this.$Notice.success({
              title: '更新成功'
            })
            this.initMemo()
            this.getMemoList()
            this.setMemoAddModalEvent(false)
            this.memoLoadingViewIsShow = false
          } else if (r.httpStatus !== 401) {
            this.$Notice.error({
              title: '更新失敗'
            })
            this.memoLoadingViewIsShow = false
          }
        })
      } else {
        // create
        this.$store.dispatch('memo/create', postData).then((r) => {
          // console.log(r)
          if (r.httpStatus === 200 || r.httpStatus === 201) {
            this.$Notice.success({
              title: '新增成功'
            })
            this.initMemo()
            this.getMemoList()
            this.setMemoAddModalEvent(false)
            this.memoLoadingViewIsShow = false
          } else if (r.httpStatus !== 401) {
            this.$Notice.error({
              title: '新增失敗',
              duration: 30
            })
            this.memoLoadingViewIsShow = false
          }
        })
      }
    },
    // remove modal
    comfirmRemove: function (id) {
      this.isRemoveMemoId = id
      this.comfirmRemoveModal = true
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.isRemoveMemoId = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.isRemoveMemoId = null
      }
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeMemo(this.isRemoveMemoId)
    },
    removeMemo: function (id) {
      // console.log(id)
      this.LoadingViewIsShow = true
      this.$store.dispatch('memo/delete', id).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.$Notice.success({
            title: '刪除成功'
          })
          this.isRemoveMemoId = null
          this.getMemoList()
          this.LoadingViewIsShow = false
        } else if (r.httpStatus !== 401) {
          this.$Notice.error({
            title: '刪除失敗',
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    initMemo: function () {
      this.memoPostData = {
        memo_date: null,
        memo_message1: null,
        memo_message2: null,
        memo_message3: null
        // upload_file_name1: null,
        // upload_file_name2: null,
        // upload_file_name3: null
      }
      this.memoError = {
        memo_date: false,
        memo_message1: false,
        memo_message2: false,
        memo_message3: false
        // upload_file_name1: false,
        // upload_file_name2: false,
        // upload_file_name3: false
      }
      this.fileList = []
    },
    downloadMemoFile: function (val) {
      // console.log(val)
      window.open(`${Config.API.downloadAPIBaseURL}/upload/memo/${val}`)
    },
    removeFileList: function (index) {
      this.fileList.splice(index, 1)
    },
    // ImportModal Start
    showImportModal: function () {
      if (this.fileList.length >= 3) {
        this.$Notice.warning({
          title: '附件最多3個',
          desc: '請先刪除不需要的檔案',
          duration: 30
        })
        return
      }
      this.importModalToggle = true
    },
    setImportModalEvent: function (bol) {
      // console.log(bol)
      this.importModalToggle = bol
    },
    beforeUploadEvent: function () {
      if (this.fileList.length >= 3) {
        this.$Notice.warning({
          title: '附件最多3個',
          desc: '請先刪除不需要的檔案',
          duration: 30
        })
        return
      }
      this.importLoadingViewIsShow = true
    },
    errorRequest: function (res, file) {
      // console.log(res)
      // console.log(file)
      //
      this.$Notice.error({
        title: '檔案上傳失敗'
      })
      this.importLoadingViewIsShow = false
    },
    importEvent: function (data) {
      // console.log(data)
      if (this.fileList.length >= 3) {
        return
      }
      if (data) {
        this.$Notice.success({
          title: '檔案上傳成功'
        })
        this.fileList.push(data.fileName)
        this.setImportModalEvent(false)
      }
      this.importLoadingViewIsShow = false
    }
    // ImportModal END
  },
  created () {
    //
    if (window.innerWidth >= 1440) {
      this.announceWidth = 'auto'
    } else {
      this.announceWidth = 723
    }
  },
  mounted () {
    // this.getAnnounceData(1)
    // this.getMemoList()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
@import "../assets/scss/common.scss";
#myMap {
  height: 300px;
  width: 100%;
}
.map1 {
  height: 87%;
  overflow: hidden;
}
.st0 {
  fill: #dadce2;
}
.st1 {
  fill: #354361;
}

.map-marker {
  /* adjusting for the marker dimensions
    so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
}
.map-marker.map-clickable {
  cursor: pointer;
}
.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
}
.map-marker .dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 0;
  }
}
.ivu-layout {
  .content-layout[data-v-5ea12a04] {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
}

.Home {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  overflow-y: scroll;
}

.radio {
  color: $base-gray-lt2;

  &.ivu-radio-large {
    .ivu-radio-inner {
      width: 12px;
      height: 12px;

      &::after {
        width: 6px;
        height: 6px;
      }
    }
  }

  .ivu-radio-wrapper-checked {
    color: #000;
  }

  .ivu-radio-checked {
    &:hover {
      border-color: $base-gray;
    }

    .ivu-radio-inner {
      border-color: $base-gray;

      &::after {
        background-color: $base-gray;
      }
    }
  }
}

.border-dashed-green-lt {
  border: 3px dashed $base-green-lt2 !important;
}

.tab {
  border-radius: 3rem;
  min-width: 72px;
}

.whse-title {
  display: inline-block;
  min-width: 42px;
}

.chart-color {
  display: inline-block;
  width: 6px;
  height: 6px;
  @include border-radius(50%);
  margin-bottom: 2px;
}

.icon-btn-gray {
  &.ivu-btn {
    border: 1px solid transparent;
    color: $base-gray-lt;
    z-index: 100;

    &:hover {
      color: $base-blue;
      border: 1px solid transparent;
    }
  }
}
.icon-btn-lg {
  width: 66px;
  height: 66px;
  &.ivu-btn {
    border: 4px solid;
    background-color: transparent;
    padding: 11px 15px;
    @include border-radius(50%);
    z-index: 100;
    &.gray {
      color: $base-blue-lt;
      border-color: $base-blue-lt;
      &:hover {
        color: $base-blue;
        border-color: $base-blue;
      }
    }
    &.green {
      color: $base-green-lt2;
      border-color: $base-green-lt2;
      &:hover {
        color: $base-green;
        border-color: $base-green;
      }
    }
  }
}
// table
.scoll-table-box {
 width: 100%;
 overflow-x: scroll;
}
/deep/.ivu-card.memos{
  // min-height: 240px;
  min-height: 210px;
  .ivu-card-body{
    position: relative;
  }
  h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: transparent;
      border: 1px solid transparent;
      color: #b8bdc8;
    }
  }
}
.memoList{
  // margin: 0 -8px;
}
/deep/.ivu-card.like-block{
  height: 100%;
  .ivu-card-body{
    position: relative;
  }
  .like-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .add-like-btn{
    position: absolute;
    background-color: transparent;
    border: 1px solid transparent;
    top: 2px;
    right: 8px;
    color: #b8bdc8;
  }
}
.finish-icon{
  font-size: 32px;
}
.finish-title {
  font-size: 35px;
}
.meridiem{
  display: inline-block;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 16px;
}
.addModal {
  /deep/.ivu-modal-wrap {
    .title {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      span {
        width: fit-content;
        font-family: PingFangTC;
        font-size: 25px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }
    p {
      font-size: 16px;
      color: #555;
      margin-bottom: 16px;
    }
    .button-box {
      display: flex;
      justify-content: center;
      .modal-btn {
        min-width: 96px;
        font-size: 16px;
        padding-top: 1px;
        padding-bottom: 1px;
        &.dark {
          background-color: #354361;
          color: #ffffff;
        }
      }
    }
  }
  .row {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    .col {
      flex: 0 0 25%;
      height: auto;
      margin-bottom: 1.3rem;
      padding-right: 3rem;
      display: flex;
      align-items: center;
      &.colx2 {
        flex: 0 0 50%;
      }
      &.iswitch {
        display: block;
        .label-box {
          font-size: 12px;
          color: #333333;
          padding-bottom: 10px;
        }
        .body-box {
          display: block;
        }
      }
    }
  }
  .modal-body {
    height: 350px;
    overflow-y: auto;
  }
}
@media (min-width: 992px) {
  .border-lg-right {
    border-right: 1px solid #e8eaec;
  }
  .border-lg-bottom {
    border-bottom: 1px solid #e8eaec;
  }
  .w-lg-100 {
    width: 100%;
  }
  .h-lg-100 {
    height: 100%;
  }
}
@media (max-width: 992px) {
  .border-md-right {
    border-right: 1px solid #e8eaec;
  }
  .border-md-bottom {
    border-bottom: 1px solid #e8eaec;
  }
  .w-md-100 {
    width: 100%;
  }
  .h-md-100 {
    height: 100%;
  }
  .map1 {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .border-md-right {
    border-right: 0px solid #e8eaec;
  }
  .border-md-bottom {
    border-bottom: 0px solid #e8eaec;
  }
  .border-bottom {
    border-bottom: 1px solid #e8eaec;
  }
  .border-right {
    border-right: 1px solid #e8eaec;
  }
  .w-md-100 {
    width: auto;
  }
  .h-md-100 {
    height: auto;
  }
}
</style>
