<template>
  <div class="InventoryQuery">
    <div class="login" :class="{'isLogin': isLogin}">
      <div class="login-box">
        <div class="other-box">
          <div class="logo">
            <img src="@/assets/images/tracking/2.png" alt="logo" class="img-fluid" />
          </div>
          <Button class="md-btn" type="default" shape="circle" @click="setLoginTab(orderTab)">{{ orderTab }}</Button>
        </div>
        <div class="input-box" :class="{'isFocuse': loginFocuseTab === 'SIGN UP'}">
          <h3>{{ loginFocuseTab }}</h3>
          <form class="text-center">
            <div class="input" v-show="loginFocuseTab === 'SIGN UP'">
              <label><font-awesome-icon icon="user"/></label>
              <input type="text" placeholder="姓名" v-model="usertName" ref="usertName" @on-enter="onEnter('account')"/>
            </div>
            <div class="input">
              <label><font-awesome-icon icon="envelope"/></label>
              <input type="text" placeholder="帳號" v-model="account" ref="account" @on-enter="onEnter('password')"/>
            </div>
            <div class="input">
              <label><font-awesome-icon icon="lock"/></label>
              <!-- <input type="text" placeholder="密碼"/> -->
              <Input type="password" password placeholder="密碼" v-model="password" ref="password" @on-enter="onEnter('login')"/>
            </div>
            <Checkbox v-model="record" v-show="loginFocuseTab === 'LOG IN'">自動記錄帳號、密碼</Checkbox>
            <Button class="md-btn green" type="default" shape="circle" @click="login">{{ loginFocuseTab }}</Button>
          </form>
          <Button class="forget" type="text" v-show="loginFocuseTab === 'LOG IN'">忘記帳號、密碼?</Button>
        </div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="header">
          <!-- <div class="logo">
            <img src="@/assets/images/tracking/AiWMS.png" alt="logo" class="img-fluid" />
          </div> -->
          <!-- <Button type="user-box">Text</Button> -->
          <div class="row">
            <div class="col">
              <Button
              type="text"
              :class="{ 'isFocuse': content === 'externalInventoryQueryByProd' }"
              @click="setContent('externalInventoryQueryByProd')">
              商品庫存查詢
              </Button>
            </div>
            <div class="col">
              <Button
              type="text"
              :class="{ 'isFocuse': content === 'externalInventoryQueryByStorage' }"
              @click="setContent('externalInventoryQueryByStorage')">
              儲位庫存查詢
              </Button>
            </div>
            <div class="col">
              <Button
              type="text"
              :class="{ 'isFocuse': content === 'externalInventoryQueryByinboundDate' }"
              @click="setContent('externalInventoryQueryByinboundDate')">
              庫存查詢(儲位+入庫日)
              </Button>
            </div>
            <div class="col">
              <Button
              type="text"
              :class="{ 'isFocuse': content === 'externalInventoryAndOutboundDetailQuery'}"
              @click="setContent('externalInventoryAndOutboundDetailQuery')">
              交易明細查詢
              </Button>
            </div>
          </div>
          <Dropdown>
            <div class="dropdown">
              <p class="text-white user">
                <span>
                  宇業國際行銷
                </span>
                <span class="user-img">
                  <!-- 預設 -->
                  <Avatar icon="ios-person"/>
                  <!-- 大頭照 -->
                  <!-- <Avatar v-if="userInfo.avatar && userInfo.avatar!==''" :src="userInfo.avatar" size="small"/> -->
                </span>
              </p>
            </div>
            <Dropdown-menu slot="list">
              <Dropdown-item><a @click="isLogin = false">登出</a></Dropdown-item>
            </Dropdown-menu>
          </Dropdown>
          <div class="login-box" v-show="false">
            <Button class="sm-btn bluey-grey mr-3" type="default" shape="circle">Sign Up</Button>
            <Button class="sm-btn bluey-grey mr-3" type="default" shape="circle">Log In</Button>
          </div>
        </div>
      </div>
    </header>
    <!-- 置入所有頁面內容 -->
    <ExternalInventoryQueryByProd v-show="content === 'externalInventoryQueryByProd'"></ExternalInventoryQueryByProd>
    <ExternalInventoryQueryByStorage v-show="content === 'externalInventoryQueryByStorage'"></ExternalInventoryQueryByStorage>
    <ExternalInventoryQueryByinboundDate v-show="content === 'externalInventoryQueryByinboundDate'"></ExternalInventoryQueryByinboundDate>
    <ExternalInventoryAndOutboundDetailQuery v-show="content === 'externalInventoryAndOutboundDetailQuery'"></ExternalInventoryAndOutboundDetailQuery>
  </div>
</template>

<script>
import Config from '../Config'
//
import ExternalInventoryQueryByProd from './components/ExternalInventoryQueryByProd'
import ExternalInventoryQueryByStorage from './components/ExternalInventoryQueryByStorage'
import ExternalInventoryQueryByinboundDate from './components/ExternalInventoryQueryByinboundDate'
import ExternalInventoryAndOutboundDetailQuery from './components/ExternalInventoryAndOutboundDetailQuery'
// import LoadingView from '@/components/LoadingView/LoadingView'
//
export default {
  name: 'InventoryQuery',
  props: [],
  components: {
    ExternalInventoryQueryByProd,
    ExternalInventoryQueryByStorage,
    ExternalInventoryQueryByinboundDate,
    ExternalInventoryAndOutboundDetailQuery
  },
  data () {
    let routeQuery = this.$route.query
    //
    return {
      companyId: 3,
      whId: 5,
      routeQuery: routeQuery,
      langList: Config.langList,
      version: Config.version,
      LoadingViewIsShow: false,
      //
      timeZoneTimestamp: '',
      // 登入
      record: false,
      loginFocuseTab: 'LOG IN',
      orderTab: 'SIGN UP',
      isLogin: false,
      usertName: null,
      account: null,
      password: null,
      // 頁面內容
      content: 'externalInventoryQueryByProd'
    }
  },
  computed: {
    //
  },
  watch: {
    lang: function (val) {
      this.setLang(val)
    },
    '$store.state.auth.auth': function (val) {
      if (!val.success) {
        this.msg = val.message
      } else {
        //
        this.$router.replace({ path: Config.firstPath })
      }
    }
  },
  methods: {
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    setLoginTab: function (tab) {
      // console.log(tab)
      // this.orderTab = this.orderTab === 'SIGN UP' ? 'LOG IN' : 'SIGN UP'
      // this.loginFocuseTab = this.orderTab === 'SIGN UP' ? 'LOG IN' : 'SIGN UP'
      switch (this.orderTab) {
        case 'SIGN UP':
          this.orderTab = 'LOG IN'
          this.loginFocuseTab = 'SIGN UP'
          this.$nextTick(() => this.$refs.usertName.focus())
          break
        case 'LOG IN':
          this.orderTab = 'SIGN UP'
          this.loginFocuseTab = 'LOG IN'
          this.$nextTick(() => this.$refs.account.focus())
          break
      }
    },
    onEnter: function (str) {
      console.log(str)
      switch (str) {
        case 'password':
        case 'account':
          this.blurAllFormComponents()
          this.$nextTick(() => this.$refs[str].focus())
          break
        case 'login':
          this.blurAllFormComponents()
          this.login()
          break
      }
    },
    blurAllFormComponents: function () {
      this.$nextTick(() => this.$refs['userName'].blur())
      this.$nextTick(() => this.$refs['password'].blur())
      this.$nextTick(() => this.$refs['account'].blur())
    },
    login: async function () {
      switch (this.loginFocuseTab) {
        case 'SIGN UP':
          // console.log('SIGN UP')
          break
        case 'LOG IN':
          // console.log('LOG IN')
          // let pdAccountNonce = {
          //   account_name: this.account
          // }
          // let nonceRes = await this.$store.dispatch('account/nonce', pdAccountNonce)
          // if (nonceRes.httpStatus === 201) {
          //   let nonce = nonceRes.respondCode.additionals.nonce
          //   // console.log(nonce)
          //   let str = btoa(`${sha512(this.password)}*${nonce}`)
          //   var key = CryptoJS.enc.Hex.parse('5A6B524A4D565636566C4E61656D6835556D6C526431417A536D7059647A3039')
          //   var iv = CryptoJS.enc.Hex.parse('5456526F65464644576E6C55526D6339')
          //   var encrypted = CryptoJS.AES.encrypt(str, key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 })
          //   //
          //   let loginData = {
          //     account_name: this.account,
          //     account_pwd: encrypted.toString(),
          //     language: this.lang
          //   }
          //   //
          //   this.$store.dispatch('auth/login', loginData).then((r) => {
          //     if (r) {
          //       if (r.httpStatus === 200) {
          //         this.isLogin = true
          //         this.LoadingViewIsShow = false
          //       }
          //       if (r.httpStatus === 403) {
          //         this.$Message.warning({
          //           content: this.$t(`無法登入，請聯絡系統管理員`),
          //           duration: 3
          //         })
          //         this.LoadingViewIsShow = false
          //       }
          //     }
          //     // console.log(r)
          //   })
          // } else if (nonceRes.status === 400) {
          //   this.LoadingViewIsShow = false
          //   this.$Message.warning({
          //     content: this.$t(`帳號不存在，請聯絡系統管理員`),
          //     duration: 3
          //   })
          // }
          this.isLogin = true
          break
      }
    },
    setContent: function (val) {
      this.content = val
    }
  },
  created () {
    this.getTimeZoneTimestamp()
  },
  mounted () {
    //
    this.$nextTick(() => this.$refs.account.focus())
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.InventoryQuery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #FCFBFA;
  header{
    background-color: #787a58;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
    // &.unLogin{
    //   background-color: #fff;
    // }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    .logo {
      max-width: 172px;
      margin-left: 16px;
    }
    .user{
      font-size: 16px;
      display: flex;
      align-items: center;
      padding: 0 33px;
    }
    .user-img{
      margin-left: 20px;
    }
    /deep/.ivu-avatar{
      width: 35px;
      height: 35px;
      line-height: 35px;
      border-radius: 18px;
    }
    /deep/.ivu-btn {
      font-size: 16px;
      color: #fff;
      height: 56px;
      border-radius: 0;
      &:hover {
        background-color:rgba(0, 0, 0, 0.5);
      }
      &.isFocuse {
        background-color:rgba(0, 0, 0, 0.5);
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 174.8px);
    padding: 21px 0 0 0;
  }
  .sm-btn {
    font-size: 16px;
    color: #fff;
    // padding: 6px 16px;
    background-color: #8e96a6;
    border: 1px solid transparent;
    svg{
      margin-right: 16px;
      font-size: 20px;
    }
    &.bluey-grey {
      background-color: #8e96a6;
    }
    &.green {
      background-color: #787a58;
    }
    &.white{
      color: #787a58;
      background-color: #fff;
    }
  }
  .md-btn{
    font-size: 21px;
    min-width: 200px;
    // padding: 6px 16px;
    margin-top: 4rem;
    color: #6d7278;
    background-color: #f4f2f1;
    border: 1px solid #979797;
    &.yellow {
      color: #fff;
      background-color: #dca558;
      border: 1px solid #dca558;
    }
    &.green {
      color: #fff;
      background-color: #787a58;
      border: 1px solid #787a58;
    }
    // &:hover{
    //    background-color: #fff;
    // }
  }
  .top-box {
    padding: 0 1rem;
  }
  .bottom-box{
    height: calc(100% - 230px);
  }
  .login{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #787a58;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform:translateY(0px);
    transition: all .5s;
    &.isLogin{
      opacity: 0;
      z-index: -1;
      transform:translateY(500px);
      transition: all .5s;
    }
    .login-box{
      width: 1000px;
      height: 500px;
      background: #fff;
      display: flex;
      .other-box{
        width: 500px;
        height: 100%;
        padding: 0 0 5rem;
        background: #f4f2f1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        order: 2;
        &.isFocuse {
          order: 1;
        }
        .logo{
          width: 120px;
          margin-bottom: 2rem;
        }
      }
      .input-box {
        padding: 0 0 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 500px;
        position: relative;
        order: 2;
        h3{
          margin-bottom: 6rem;
          font-size: 16px;
          color: #6d7278;
          font-weight: 500;
          letter-spacing: 4px;
        }
        .input {
          font-size: 16px;
          margin-bottom: 1.5rem;
          display: flex;
          align-items: center;
          label {
            margin-right: 1rem;
            color: #e0e0e0;
          }
          /deep/.ivu-input {
            border: 0px solid;
            border-bottom: 1px solid #e0e0e0;
            border-radius: 0;
            padding: 4px;
            height: 33px;
            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 1000px white inset;
              -webkit-text-fill-color: #333;
            }
            &[type=text]:focus, &[type=password]:focus {
              -webkit-box-shadow: 0 0 0 1000px white inset;
            }
          }
          input {
            border: 0px solid;
            border-bottom: 1px solid #e0e0e0;
            color: #9d9d9d;
            width: 280px;
            padding: 4px;
            &:focus {
              outline: none;
              border-bottom: 1px solid #787a58;
            }
            // &:valid {
            //   background-color: red;
            // }
            // &:invalid {
            //   background-color: blue;
            // }
            // &:empty {
            //   background-color: yellow;
            // }
          }
          input:-webkit-autofill,
          textarea:-webkit-autofill,
          select:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset;
            -webkit-text-fill-color: #333;
          }
          input[type=text]:focus, input[type=password]:focus, textarea:focus {
            -webkit-box-shadow: 0 0 0 1000px white inset;
          }
        }
        /deep/.ivu-checkbox-wrapper{
          display: block;
          font-size: 14px;
        }
        .forget{
          color: #df6666;
          font-size: 14px;
          border-radius: 0;
          padding: 0;
          position: absolute;
          bottom: 42px;
          &:hover{
            border-bottom: 1px solid #df6666;
          }
        }
        &.isFocuse {
          order: 1;
          h3{
            margin-bottom: 3.8rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:768px) {
  .InventoryQuery{
    background-size: cover;
    header{
      height: 43px;
      .logo{
        max-width: 138px;
      }
    }
    .body-box{
      width: 100%;
      height: calc(100% - 43px);
      align-items: start;
    }
    .conten-box{
      width: 100%;
      height: calc(100% - 83px);
      background: #fff;
      padding: 22px 16px;
      overflow-y: scroll;
      &.hasNav{
        padding-bottom: 50px;
      }
    }
  }
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .InventoryQuery[data-v-2cbdd8f4] .DATAGRID-BOX /deep/.page-box{
    right: calc(50% - (540px / 2));
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .InventoryQuery[data-v-2cbdd8f4] .DATAGRID-BOX /deep/.page-box{
    right: calc(50% - (720px / 2));
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .InventoryQuery[data-v-2cbdd8f4] .DATAGRID-BOX /deep/.page-box{
    right: calc(50% - (960px / 2));
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .InventoryQuery[data-v-2cbdd8f4] .DATAGRID-BOX /deep/.page-box{
    right: calc(50% - (1140px / 2));
  }
}
</style>
