<template>
  <div class="LoginView-container" :class="userInfo.themeColor">
  <!-- <div class="LoginView-container" @click="someMethod"> -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <LoginBgView></LoginBgView>
    <div class="login-box">
      <div class="top-box">
        <div class="logo-box">
          <img src="@/assets/images/login_logo.png" height="90"/>
        </div>
        <div class="tabs-box">
          <div class="tab-box" :class="{active: tabIndex === 0}" @click="tabsToggle(0)">使丹達資訊<br />陸海TMS</div>
          <!-- <div class="tab-box" :class="{active: tabIndex === 1}" @click="tabsToggle(1)">{{ $t('loginView.tabs.register') }}</div> -->
          <p class="version text-center">Version:{{version}}</p>
        </div>
        <!-- 登入 -->
        <div class="form-box" v-if="tabIndex === 0">
          <Input :placeholder="$t('loginView.type-account')" v-model="userName" size="large" ref="userName" @on-enter="onEnter('password')">
            <font-awesome-icon icon="user-circle" slot="prefix"/>
          </Input>
          <Input type="password" password :placeholder="$t('loginView.type-password')" v-model="password" size="large" ref="password" :disabled="loginDisabled" @on-enter="checkToken">
            <font-awesome-icon icon="key" slot="prefix"/>
          </Input>
          <!-- <Input prefix="md-globe" :placeholder="$t('loginView.type-company')" v-model="companyKey" size="large" ref="companyKey" @on-enter="onEnter('login')"/> -->
          <Select v-model="lang" ref="lang" size="large">
            <Option v-for="item in langList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
          <p class="msg">{{msg}}</p>
          <Button class="best-blue-gradual w-100" shape="circle" size="large" :loading="isLoading" @click="checkToken" :disabled="loginDisabled">
            <span v-if="!isLoading">
              <!-- Login to account -->
              {{ $t('loginView.signIn.msg.msg1') }}
            </span>
            <span v-else>
              <!-- Login ... -->
              {{ $t('loginView.signIn.msg.msg2') }}
            </span>
          </Button>
          <!-- <div class="forgotPwd-box" @click="tabsToggle(2)">
            Forgot your password?
            {{ $t('loginView.signIn.btn.btn1') }}
          </div> -->
        </div>
        <!-- 註冊 -->
        <div class="form-box" v-if="tabIndex === 1">
          <p class="title">{{ $t('loginView.signUp.title') }}</p>
          <Input prefix="ios-contact" :placeholder="$t('loginView.placeholder.firstName')" v-model="firstName" size="large" ref="firstName" @on-enter="onEnter('lastName')"/>
          <Input prefix="ios-contact" :placeholder="$t('loginView.placeholder.lastName')" v-model="lastName" size="large" ref="lastName" @on-enter="onEnter('companyFullName')"/>
          <Input prefix="md-globe" :placeholder="$t('loginView.placeholder.companyFullName')" v-model="companyFullName" size="large" ref="companyFullName" @on-enter="onEnter('companyShortName')"/>
          <Input prefix="md-globe" :placeholder="$t('loginView.placeholder.companyShortName')" v-model="companyShortName" size="large" ref="companyShortName" @on-enter="onEnter('phoneNumber')"/>
          <Input prefix="ios-call" :placeholder="$t('loginView.placeholder.phoneNumber')" v-model="phoneNumber" size="large" ref="phoneNumber" @on-enter="onEnter('email')"/>
          <Input prefix="ios-mail" :placeholder="$t('loginView.placeholder.email')" v-model="email" size="large" ref="email" @on-enter="onEnter('serialNo')"/>
          <Input prefix="ios-barcode" :placeholder="$t('loginView.placeholder.serinalNo')" v-model="serialNo" size="large" ref="serialNo" @on-enter="onEnter('pwd')"/>
          <Input prefix="ios-lock" :placeholder="$t('loginView.placeholder.password')" v-model="pwd" size="large" ref="pwd" @on-enter="onEnter('register')"/>
          <Button type="primary" :loading="isRegister" @click="register">
            <!-- Register -->
            {{ $t('loginView.signUp.btn.register') }}
          </Button>
        </div>
        <!-- 忘記密碼 -->
        <div class="form-box fpwd-box" v-if="tabIndex === 2">
          <p class="title">{{ $t('loginView.fpwd.title') }}</p>
          <Input prefix="ios-mail" :placeholder="$t('loginView.placeholder.email')" v-model="fpwdEmial" size="large" ref="fpwdEmial" @on-enter="onEnter('sendFpwd')"/>
          <Button type="primary" :loading="isSendFpwd" @click="sendFpwd()">
            <!-- Send -->
            {{ $t('loginView.fpwd.btn.send') }}
          </Button>
        </div>

        <div class="modal-box">
          <ul class="d-flex">
            <li><a href="#" @click="openPrivacyPolicy">{{ $t('loginView.privacy-policy.title') }}</a></li>
            <li> | </li>
            <li><a href="#" @click="openTermsOfService">{{ $t('loginView.terms-of-service.title') }}</a></li>
            <li> | </li>
            <li><a href="https://target-ai.com/#contact" target="_blank">聯絡我們</a></li>
          </ul>
          <ul>
            <li><a href="tel:+886-2-2708-0123"><font-awesome-icon icon="phone-alt"/> +886-2 2708 0123</a></li>
            <li><a href="tel:+886-2-2755-7000"><font-awesome-icon icon="phone-alt"/> +886-2 2755 7000</a></li>
          </ul>
        </div>
      </div>
      <div class="bottom-box">
        <p>Copyright © 2021 Standard Information Co., LTD. All Rights Reserved.</p>
      </div>
    </div>
    <!-- 註冊信驗證 -->
    <Modal v-model="verifyEmailModal" :title="$t('loginView.verifyEmail.title')" @on-cancel="verifyEmailModalCancel" footer-hide>
      <p v-if="verifyEmailModalMsgType===0">
        <!-- 驗證中 ... -->
        {{ $t('loginView.verifyEmail.msg.msg1') }}
      </p>
      <p v-if="verifyEmailModalMsgType===1">
        <!-- 驗證成功，{{verifyEmailSec}} 秒後前往登入頁 -->
        {{ $t('loginView.verifyEmail.msg.msg2', {verifyEmailSec: verifyEmailSec}) }}
      </p>
      <p v-if="verifyEmailModalMsgType===2">
        <!-- 驗證失敗，{{verifyEmailSec}} 秒後前往登入頁 -->
        {{ $t('loginView.verifyEmail.msg.msg3', {verifyEmailSec: verifyEmailSec}) }}
      </p>
    </Modal>
    <!-- 認証信件已送出，倘若你尚未收到認証信，有可能被歸類垃圾信件，請至「垃圾信件匣」檢查 : 重發註冊信驗證 -->
    <Modal v-model="reSendVerifyEmailModal" :title="$t('loginView.reSendVerifyEmailModal.title')" @on-cancel="verifyEmailModalCancel" footer-hide>
      <p>{{ $t('loginView.reSendVerifyEmailModal.desc') }}</p>
      <p class="reSendVerifyEmailBtn-box">
        <Button @click="reSendVerifyEmail" :loading="isReSendVerifyEmail">
          <!-- 重發註冊信驗證 -->
          {{ $t('loginView.reSendVerifyEmailModal.btn.reSendVerifyEmail') }}
        </Button>
        &nbsp;
        <Button type="primary" @click="reSendVerifyEmail_Ok">
          <!-- OK -->
          {{$t('modal.ok')}}
        </Button>
      </p>
    </Modal>
    <!-- 服務條款 -->
    <Modal
        v-model="termsOfServiceModal"
        :title="$t('loginView.terms-of-service.title')">
        <div>{{$t('loginView.terms-of-service.content')}}</div>
        <div slot="footer">
            <Button type="primary" @click="closeTermsOfService">{{$t('modal.close')}}</Button>
        </div>
    </Modal>
    <!-- 隱私權政策 -->
    <Modal
        v-model="privacyPolicyModal"
        :title="$t('loginView.privacy-policy.title')">
        <div>{{$t('loginView.privacy-policy.content')}}</div>
        <div slot="footer">
            <Button type="primary" @click="closePrivacyPolicy">{{$t('modal.close')}}</Button>
        </div>
    </Modal>
    <!-- 是否踢掉原登入者 -->
    <Modal v-model="comfirmLoginModal" width="300" :footer-hide="true" :closable="false" class="best-modal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="icon-box"><img src="@/assets/images/icon/warning.png" class="img-fluid"></div>
        <div class="container-box">
          <div class="desc-box">
          帳號重複登入，要把其他人登出嗎？
          </div>
          <div class="btn-box">
            <Button class="best-blue w-100" shape="circle" size="large" @click="comfirmLogin(true)" v-on:keyup.enter="comfirmLogin(true)" :disabled="loginDisabled">Yes</Button>
            <Button class="best-outlined-gray w-100 mb-3 mr-3" shape="circle" size="large" @click="comfirmLogin(false)">NO</Button>
          </div>
        </div>
      </div>
    </Modal>
    <!-- 選擇要踢掉哪個在線用戶 -->
    <Modal v-model="onlineuserLogoutModal" width="520" :footer-hide="true" :closable="false" class="best-modal onlineuser-logout-modal">
      <div slot="header" class="modal-header"></div>
      <div class="modal-body">
        <div class="icon-box"><img src="@/assets/images/icon/warning.png" class="img-fluid"></div>
        <div class="container-box">
          <div class="desc-box">
            線上用戶已滿，請選擇要登出的用戶
            <br />
            如該用戶正在執行匯入、匯出、截單等需長時間執行之作業，將會被中斷
            <div class="mt-3">
              <!-- 登出用戶 userId -->
              <FloatLabelBox
                :config="{
                  hasContent: (onlineuserLogoutPostData.userId && onlineuserLogoutPostData.userId!==''),
                  label: `登出用戶`,
                  hasClearButton: true,
                  background: 'light',
                  type: `Select`,
                  settings: {width: 200, height: 41}}"
                :selectList="onlinUserList"
                :code="`userId`"
                :defaultValue="onlineuserLogoutPostData.userId"
                :disabled="false"
                @changeModelEvent="onlinUserListChangeEvent"
              ></FloatLabelBox>
            </div>
          </div>
          <div class="btn-box">
            <Button class="best-outlined-gray w-100 mb-3 mr-3" shape="circle" size="large" @click="onlineuserLogout(false)">取消</Button>
            <Button class="best-blue w-100" shape="circle" size="large" @click="onlineuserLogout(true)" :disabled="loginDisabled">登出用戶</Button>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import { app } from '../main'
import Config from '../Config'
// import { sha512 } from 'js-sha512'
// import CryptoJS from 'crypto-js'
import LoadingView from '@/components/LoadingView/LoadingView'
import LoginBgView from '@/components/LoginBgView/LoginBgView'
// import { validateEmail } from '../filter/validateEmail'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
//
export default {
  name: 'LoginView',
  props: [],
  components: {
    LoadingView,
    LoginBgView,
    FloatLabelBox
  },
  data () {
    let routeQuery = this.$route.query
    return {
      routeQuery: routeQuery,
      langList: Config.langList,
      version: Config.version,
      LoadingViewIsShow: false,
      //
      tabIndex: 0,
      msg: null,
      //
      isLoading: false,
      isSendFpwd: false,
      isRegister: false,
      isReSendVerifyEmail: false,
      // 登入
      userName: null,
      password: null,
      companyKey: null,
      lang: app.$i18n.locale,
      // 註冊
      firstName: '', // Register - firstName
      lastName: '', // Register - lastName
      companyFullName: '', // Register - companyFullName
      companyShortName: '', // Register - companyShortName
      phoneNumber: '', // Register - phoneNumber
      email: '', // Register - email
      serialNo: '', // Register - serialNo
      pwd: '', // Register - pwd
      // 忘記密碼
      fpwdEmial: '', // Forgot your password?
      // 註冊信驗證
      verifyEmailSec: 5,
      verifyEmailModal: false,
      verifyEmailModalMsgType: 0,
      timer: null,
      registerUserId: null, // 重發註冊信驗證使用
      reSendVerifyEmailModal: false,
      // 隱私權政策及服務條款
      termsOfServiceModal: false, // 服務條款
      privacyPolicyModal: false, // 隱私權政策
      // 是否踢掉原登入者 Modal
      comfirmLoginModal: false,
      // 選擇要踢掉哪個在線用戶 Modal
      maxLoginUser: null,
      superUser: null,
      onlineuserLogoutModal: false,
      onlinUserList: [],
      onlineuserLogoutPostData: {
        userId: null
      },
      loginDisabled: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    lang: function (val) {
      this.setLang(val)
    },
    '$store.state.auth.auth': function (val) {
      if (!val.success) {
        this.msg = val.message
      } else {
        //
        this.$router.replace({ path: Config.firstPath })
      }
    }
  },
  methods: {
    onEnter: function (str) {
      // console.log(str)
      switch (str) {
        case 'userName':
        case 'password':
        case 'companyKey':
          this.blurAllFormComponents()
          this.$refs[str].focus()
          break
        case 'lang':
          this.blurAllFormComponents()
          this.$refs[str].visible = true
          break
        case 'login':
          this.login()
          break
        case 'onlineuserQuery':
          this.blurAllFormComponents()
          this.onlineuserQuery()
          break
        case 'sendFpwd':
          this.sendFpwd()
          break
        case 'firstName':
        case 'lastName':
        case 'companyFullName':
        case 'companyShortName':
        case 'phoneNumber':
        case 'email':
        case 'serialNo':
        case 'pwd':
          this.blurAllFormComponentsForRegister()
          this.$refs[str].focus()
          break
        case 'register':
          this.blurAllFormComponentsForRegister()
          this.sendFpwd()
          break
      }
    },
    openTermsOfService: function () {
      this.termsOfServiceModal = true
    },
    openPrivacyPolicy: function () {
      this.privacyPolicyModal = true
    },
    closeTermsOfService: function () {
      this.termsOfServiceModal = false
    },
    closePrivacyPolicy: function () {
      this.privacyPolicyModal = false
    },
    tabsToggle: function (val) {
      this.tabIndex = val
    },
    setLang: function (lang) {
      this.$store.dispatch('i18n/setLang', lang)
    },
    blurAllFormComponents: function () {
      this.$refs['userName'].blur()
      this.$refs['password'].blur()
      // this.$refs['companyKey'].blur()
      this.$refs['lang'].visible = false
    },
    blurAllFormComponentsForRegister: function () {
      this.$refs['firstName'].blur()
      this.$refs['lastName'].blur()
      this.$refs['companyFullName'].blur()
      this.$refs['companyShortName'].blur()
      this.$refs['phoneNumber'].blur()
      this.$refs['email'].blur()
      this.$refs['serialNo'].blur()
      this.$refs['pwd'].blur()
    },
    checkToken: function () {
      let accessToken = app.$localStorage.get('accessToken')
      if (accessToken) {
        this.LoadingViewIsShow = true
        app.axios.defaults.headers.common['Authorization'] = `${accessToken}`
        let apiBaseUrl = `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}`
        let api = `${apiBaseUrl}${Config.API.Auth.verifyToken}`
        app.axios.get(api).then((response) => {
          console.log(response)
          let res = response.data
          if (res.success) {
            this.login()
          } else if (res.httpStatus === 401) {
            let clearApi = `${apiBaseUrl}${Config.API.Auth.clear}`
            app.axios.post(clearApi).then((response) => {
              //
            })
            this.onlineuserQuery()
          }
        })
      } else {
        this.onlineuserQuery()
      }
    },
    //
    onlineuserQuery: async function () {
      if (!this.userName) {
        return
      }
      //
      this.LoadingViewIsShow = true
      this.loginDisabled = true
      // 查在線用戶數
      let postData = {
        client: 'web_client'
      }
      let onlineuserQueryRes = await this.$store.dispatch('auth/onlineuserQuery', postData)
      console.log(onlineuserQueryRes)
      if (onlineuserQueryRes) {
        this.maxLoginUser = onlineuserQueryRes.onlineLimitUser // 最大用戶數
        // let onlineUserCount = onlineuserQueryRes.onlineUserCount // 目前線上用戶數
        let onlineUserCount = onlineuserQueryRes.user.length // 目前線上用戶數
        let re = /[^\w\d]/g
        let userName = this.userName.replace(re, '')
        // 判斷是否重複登入
        let doubleLogin = onlineuserQueryRes.user.findIndex((item) => {
          if (item.name === userName) {
            this.onlineuserLogoutPostData.userId = item.id
          }
          return item.name === userName
        })
        console.log(doubleLogin)
        if (doubleLogin !== -1) {
          this.LoadingViewIsShow = false
          this.loginDisabled = false
          this.comfirmLoginModal = true
          return
        }
        // 超級使用者直接登入
        this.superUser = onlineuserQueryRes.superUser
        let superUser = this.superUser.find((item) => {
          return item === userName
        })
        if (superUser === userName) {
          app.$localStorage.set('nickname', userName)
          app.axios.defaults.headers.common['Authorization'] = `Basic dGVzdC1jbGllbnQ6VlhLRERKYnNSRGdSczc1TmZwZlM3M05ERkpyWkVMU3M=`
          // console.log(app.$localStorage.get('nickname'))
          this.login()
          return
        }
        // 不是超級使用者
        if (onlineUserCount >= this.maxLoginUser) {
          // 線上人數過多，顯示登出其他使用者視窗
          let onlinUserList = []
          for (let i = 0; i < onlineUserCount; i++) {
            onlinUserList.push({
              label: onlineuserQueryRes.user[i].email,
              value: onlineuserQueryRes.user[i].id
            })
          }
          this.onlinUserList = [...onlinUserList]
          this.onlineuserLogoutPostData.userId = this.onlinUserList[0].value
          this.LoadingViewIsShow = false
          this.loginDisabled = false
          this.onlineuserLogoutModal = true
        } else {
          this.login()
        }
      } else {
        this.LoadingViewIsShow = false
        this.loginDisabled = false
        this.$Message.warning({
          content: this.$t(`無法登入，請聯絡系統管理員`),
          duration: 3
        })
      }
    },
    onlineuserLogout: async function (bol) {
      if (bol) {
        this.LoadingViewIsShow = true
        this.loginDisabled = true
        // 登出用戶
        let onlineuserLogoutPostData = {
          client: 'web_client',
          userId: this.onlineuserLogoutPostData.userId
        }
        let onlineuserLogoutRes = await this.$store.dispatch('auth/onlineuserLogout', onlineuserLogoutPostData)
        console.log(onlineuserLogoutRes)
        if (onlineuserLogoutRes.message === 'Successfully logged out') {
          // 查詢線上用戶數有沒有超過
          let postData = {
            client: 'web_client'
          }
          let onlineuserQueryRes = await this.$store.dispatch('auth/onlineuserQuery', postData)
          console.log(onlineuserQueryRes)
          if (onlineuserQueryRes) {
            this.maxLoginUser = onlineuserQueryRes.onlineLimitUser // 最大用戶數
            // let onlineUserCount = onlineuserQueryRes.onlineUserCount // 目前線上用戶數
            let onlineUserCount = onlineuserQueryRes.user.length // 目前線上用戶數
            if (onlineUserCount >= this.maxLoginUser) {
              // 線上人數過多，顯示登出其他使用者視窗
              let onlinUserList = []
              for (let i = 0; i < onlineUserCount; i++) {
                onlinUserList.push({
                  label: onlineuserQueryRes.user[i].email,
                  value: onlineuserQueryRes.user[i].id
                })
              }
              this.onlinUserList = [...onlinUserList]
              this.onlineuserLogoutPostData.userId = this.onlinUserList[0].value
              //
              this.LoadingViewIsShow = false
              this.loginDisabled = false
              this.$Notice.warning({
                title: '線上用戶已滿',
                desc: '請再登出其他用戶',
                duration: 30
              })
            } else {
              this.onlineuserLogoutModal = false
              this.login()
            }
          }
        }
      } else {
        this.LoadingViewIsShow = false
        this.loginDisabled = false
        this.onlineuserLogoutModal = false
      }
    },
    //
    comfirmLogin: function (bol) {
      this.comfirmLoginModal = false
      if (bol) {
        // 登出用戶
        this.login()
      }
    },
    //
    login: async function () {
      this.LoadingViewIsShow = true
      let re = /[\s\n]/g
      let userName = this.userName.replace(re, '')
      let password = this.password.replace(re, '')
      let postData = {
        client: 'web_client',
        username: userName,
        password: password
      }
      this.$store.dispatch('auth/login', postData).then((r) => {
        console.log(r)
        if (r.success) {
          this.LoadingViewIsShow = true
          //
        } else {
          this.$Message.warning({
            content: this.$t(`無法登入，${r.message}`),
            duration: 3
          })
          this.LoadingViewIsShow = false
          this.loginDisabled = false
        }
      })
    },
    initRegisterVal: function () {
      this.companyFullName = ''
      this.companyShortName = ''
      this.email = ''
      this.firstName = ''
      this.lastName = ''
      this.pwd = ''
      this.phoneNumber = ''
      this.serialNo = ''
    },
    register: function () {
      //
      if (this.firstName === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg5`),
          duration: 3
        })
        this.$refs['firstName'].focus()
        return
      }
      if (this.lastName === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg6`),
          duration: 3
        })
        this.$refs['lastName'].focus()
        return
      }
      if (this.companyFullName === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg7`),
          duration: 3
        })
        this.$refs['companyFullName'].focus()
        return
      }
      if (this.companyShortName === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg8`),
          duration: 3
        })
        this.$refs['companyShortName'].focus()
        return
      }
      if (this.phoneNumber === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg9`),
          duration: 3
        })
        this.$refs['phoneNumber'].focus()
        return
      }
      if (this.email === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg1`),
          duration: 3
        })
        this.$refs['email'].focus()
        return
      }
      if (this.serialNo === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg11`),
          duration: 3
        })
        this.$refs['serialNo'].focus()
        return
      }
      if (this.pwd === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg12`),
          duration: 3
        })
        this.$refs['pwd'].focus()
        return
      }
      //
      // if (this.email !== '' && !validateEmail(this.email)) {
      //   this.$Message.warning({
      //     content: this.$t(`loginView.msg.msg13`),
      //     duration: 3
      //   })
      //   this.$refs['email'].focus()
      //   return
      // }
      //
      this.isRegister = true
      //
      let language = navigator.language || navigator.userLanguage
      let postData = {
        companyFullName: this.companyFullName,
        companyShortName: this.companyShortName,
        email: this.email,
        firstName: this.firstName,
        lastName: this.lastName,
        password: this.pwd,
        phoneNumber: this.phoneNumber,
        serialNo: this.serialNo,
        language: language.replace('-', '_')
      }
      //
      this.$store.dispatch('auth/register', postData).then((r) => {
        // console.log(r)
        if (r.success) {
          //
          this.registerUserId = r.data.id
          // show msg
          this.reSendVerifyEmailModal = true
          //
          this.tabIndex = 0
          //
          this.initRegisterVal()
        } else {
          //
          this.$Message.warning({
            content: this.$t(`loginView.msg.msg14`, { message: r.message }),
            duration: 5
          })
        }
        //
        this.isRegister = false
      })
    },
    // close 註冊信驗證 Modal
    verifyEmailModalCancel: function () {
      this.verifyEmailModalMsgType = 0
      this.verifyEmailSec = 3
      this.verifyEmailModal = false
      //
      this.$router.replace({ path: Config.firstPath })
    },
    // close 重發驗證信 Modal
    reSendVerifyEmail_Ok: function () {
      //
      this.reSendVerifyEmailModal = false
      //
      this.registerUserId = ''
    },
    // 重發驗證信
    reSendVerifyEmail: function () {
      //
      this.isReSendVerifyEmail = true
      // 重發驗證信
      let language = navigator.language || navigator.userLanguage
      let postData = {
        userId: this.registerUserId,
        language: language.replace('-', '_')
      }
      //
      this.$store.dispatch('auth/resendVerifyEmail', postData).then((r) => {
        if (r.success) {
          this.$Message.info({
            content: this.$t(`loginView.msg.msg15`),
            duration: 3
          })
        } else {
          this.$Message.warning({
            content: this.$t(`loginView.msg.msg16`),
            duration: 3
          })
        }
        //
        this.isReSendVerifyEmail = false
      })
    },
    // 重新設定密碼
    sendFpwd: function () {
      //
      if (this.fpwdEmial === '') {
        this.$Message.warning({
          content: this.$t(`loginView.msg.msg1`), // 請填寫 email !
          duration: 3
        })
        this.$refs['fpwdEmial'].focus()
        return
      }
      // if (this.fpwdEmial !== '' && !validateEmail(this.fpwdEmial)) {
      //   this.$Message.warning({
      //     content: this.$t(`loginView.msg.msg2`),
      //     duration: 3
      //   })
      //   this.$refs['fpwdEmial'].focus()
      //   return
      // }
      //
      this.isSendFpwd = true
      //
      let language = navigator.language || navigator.userLanguage
      let postData = {
        email: this.fpwdEmial,
        language: language.replace('-', '_')
      }
      //
      this.$store.dispatch('auth/sendRestPWD', postData).then((r) => {
        //
        this.isSendFpwd = false
        //
        if (r.success) {
          // show msg
          this.$Message.info({
            content: this.$t(`loginView.msg.msg3`),
            duration: 5
          })
          //
          this.tabIndex = 0
          //
          this.fpwdEmial = ''
        } else {
          //
          this.$Message.warning({
            content: this.$t(`loginView.msg.msg4`, { message: r.message }),
            duration: 5
          })
        }
      })
    },
    /* 登出用戶 */
    onlinUserListChangeEvent: function (data) {
      // console.log(data)
      this.onlineuserLogoutPostData[data.code] = data.val
    },
    someMethod (event) {
      // clientX/Y gives the coordinates relative to the viewport in CSS pixels.
      console.log('clientX')
      console.log(event.clientX)
      console.log('clientY')
      console.log(event.clientY)

      // pageX/Y gives the coordinates relative to the <html> element in CSS pixels.
      console.log('pageX')
      console.log(event.pageX)
      console.log('pageY')
      console.log(event.pageY)

      // screenX/Y gives the coordinates relative to the screen in device pixels.
      console.log('screenX')
      console.log(event.screenX)
      console.log('screenY')
      console.log(event.screenY)
    }
  },
  created () {
    // this.$router.replace({ path: Config.firstPath })

    // accessToken未過期，則導至內頁
    if (app.$localStorage.get('accessToken')) {
      this.LoadingViewIsShow = true
      let accessToken = app.$localStorage.get('accessToken')
      app.axios.defaults.headers.common['Authorization'] = `${accessToken}`
      let apiBaseUrl = `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}`
      let api = `${apiBaseUrl}${Config.API.Auth.verifyToken}`
      app.axios.get(api).then((response) => {
        console.log(response)
        let res = response.data
        if (res.success) {
          // this.login()
          this.$router.replace({ path: Config.firstPath })
        } else if (res.httpStatus === 401) {
          let clearApi = `${apiBaseUrl}${Config.API.Auth.clear}`
          app.axios.post(clearApi).then((response) => {
            //
          })
          this.LoadingViewIsShow = false
        }
      }, () => {
        this.LoadingViewIsShow = false
      })
    } else {
      //
      // console.log(this.routeQuery)
      if (this.routeQuery.registerCode) {
        // show modal : 註冊驗証中
        this.verifyEmailModal = true
        this.verifyEmailModalMsgType = 0
        // api
        let registerCode = this.routeQuery.registerCode
        this.$store.dispatch('auth/verifyEmail', registerCode).then((r) => {
          // console.log(r)
          if (r.success) {
            // show modal : 註冊驗証成功 (3秒後導頁)
            this.verifyEmailModalMsgType = 1
          } else {
            // show modal : 註冊驗証失敗 (3秒後導頁)
            this.verifyEmailModalMsgType = 2
          }
          // 3秒後導頁
          this.timedCount()
        })
      }
    }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
  .LoginView-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #3c3c3c;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

  .login-box{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 520px;
    padding: 36px 100px 16px 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
    .logo-box {
      text-align: center;

      .name {
        font-size: 16px;
        font-weight: bold;
        color: #777;

        .blue {
          color: #50a7d0;
        }
      }
    }
    .version {
      color: #fff;
      font-size: 12px;
    }
  }

  .top-box {
    flex:1;
    width: 100%;
  }

  .form-box {
    text-align: center;
    height: 284px;
    overflow: hidden;
    overflow-y: auto;

    .title {
      font-size: 14px;
      margin: 0 0 10px 0;
      text-align: left;
    }

    .ivu-input-wrapper {
      margin: 0 0 8px 0;
    }

    /deep/.ivu-input {
      border-radius: 30px;
    }
    /deep/.ivu-input-with-prefix {
      padding-left: 40px;
    }
    /deep/.ivu-input-prefix {
      left: 8px;
      >svg {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .ivu-select {
      margin: 0 0 30px 0;
      text-align: left;
    }
    /deep/.ivu-select-selection {
      border-radius: 30px;
    }
    /deep/.ivu-select-selected-value {
      padding-left: 40px;
    }
    button {
      margin: 0 0 16px 0;
    }

    button:hover {
      box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
      outline: 0;
    }

    .msg {
      color: red;
      width: 100%;
      line-height: 3em;
    }

    .forgotPwd-box {
      width: fit-content;
      margin: 0 auto;
      line-height: 30px;
      text-decoration: underline;
      cursor: pointer;
      color:#fff;
      font-size: 16px;
      &:hover {
        color:#4eedc5;
      }
    }
  }

  .modal-box {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    text-align: center;

    p {
      width: 100%;
      font-size: 12px;
      color: #fff;
    }

    ul {
      list-style: none;
      li {
        padding: 5px 10px;
        color: #fff;
      }
    }

    a {
      color: #fff;
      font-size: 16px;
      &:hover, &:focus, &:active {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .bottom-box {
    width: 100%;
    font-size: 12px;

    p {
      color: #d8d8d8;
      white-space: nowrap;
      position: relative;
      left: 43%;
      transform: translateX(-50%);
    }
  }
  &.dark {
    .login-box{
      background: #3c3c3ced;
    }
  }
  &.light {
    .login-box{
      background: rgba(255, 255, 255, 0.8);
    }
  }
}
.best-modal {
  .modal-body {
    // display: flex;
    width: 100%;
    padding: 0 48px 24px;
    .icon-box {
      width: 100px;
      margin: 0 auto 24px;
      img {
        object-fit: cover
      }
    }
  }
  .container-box {
    height: 100%;
    .desc-box {
      color: #3c3c3c;
      font-size: 20px;
      line-height: 1.8;
      margin-bottom: 16px;
    }
    .btn-box {
      display: flex;
    }
  }
  &.onlineuser-logout-modal {
    .container-box .desc-box {
      height: 160px;
    }
  }
}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .login-box{
      min-width: initial;
      max-width: initial;
      flex: 1;
      height: 100%;
      max-height: initial;
      border-radius: 0px;
    }
  }

  .tabs-box {
    margin-bottom: 32px;
    .tab-box {
      flex: 1;
      text-align: center;
      font-size: 20px;
      cursor: pointer;
      color: #fff;
      &.active {
        //
      }
    }
  }
  .normalBtn {
    background: initial !important;
    border-color: initial !important;
    margin: initial !important;
  }
  .reSendVerifyEmailBtn-box {
    text-align: right;
  }
</style>
