<template>
  <div class="Main">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'Main',
  components: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.Main {
  height: 100%;
}
</style>
