<template>
  <div class="MainContainer">
    <Layout style="height: 100%;">
      <HeaderComponent :pinToggle="pinToggle" v-on:pinToggleEvent="pinToggleEvent"></HeaderComponent>
      <Layout class="layout-container" :class="{'ivu-layout-has-sider': userInfo && userInfo.layoutMode === 'V'}">
        <Layout
          class="content-layout"
          v-bind:style="{background: userInfo && Config.themeColor[`${userInfo.themeColor}`].mainContainer}"
        >
          <!-- 右欄位 -->
          <div class="mainContainer-content-box" @mouseenter="collapsedSider(true)">
              <TestView v-if="routeName==='testView'"></TestView>
              <Home v-if="routeName==='home'"></Home>
              <Dashboard v-if="routeName==='dashboard'"></Dashboard>
              <!-- 基本建檔 -->
              <WarehouseSetup v-if="query.w==='warehouseSetup'" keyCode="warehouseSetup"></WarehouseSetup>
              <BasicParameterSetup v-if="query.w==='basicParameterSetup'" keyCode="basicParameterSetup"></BasicParameterSetup>
              <CustomerSetup v-if="query.w==='customerSetup'" keyCode="customerSetup"></CustomerSetup>
              <UserSetup v-if="query.w==='userSetup'" keyCode="userSetup"></UserSetup>
              <CustuserSetup v-if="query.w==='custuserSetup'" keyCode="custuserSetup"></CustuserSetup>
              <CarSetup v-if="query.w==='carSetup'" keyCode="carSetup"></CarSetup>
              <RoleSetup v-if="query.w==='roleSetup'" keyCode="roleSetup"></RoleSetup>
              <!-- 資料整合 -->
              <OrderSetup v-if="query.w==='orderSetup'" keyCode="orderSetup"></OrderSetup>
              <!-- 派車任務 -->
              <DlvplanSetup v-if="query.w==='dlvplanSetup'" keyCode="dlvplanSetup"></DlvplanSetup>
              <DlvmissionSetup v-if="query.w==='dlvmissionSetup'" keyCode="dlvmissionSetup"></DlvmissionSetup>
              <!-- 商品管理 -->
              <GoodsSetup v-if="query.w==='goodsSetup'" keyCode="goodsSetup"></GoodsSetup>
              <!-- 庫存管理 -->
              <InventoryQueryByProd v-if="query.w==='inventoryQueryByProd'" keyCode="inventoryQueryByProd"></InventoryQueryByProd>
              <InventoryQueryByStorage v-if="query.w==='inventoryQueryByStorage'" keyCode="inventoryQueryByStorage"></InventoryQueryByStorage>
              <InventoryQueryByinboundDate  v-if="query.w==='inventoryQueryByinboundDate'" keyCode="inventoryQueryByinboundDate"></InventoryQueryByinboundDate>
              <InventoryQueryBySummary  v-if="query.w==='inventoryQueryBySummary'" keyCode="inventoryQueryBySummary"></InventoryQueryBySummary>
              <!-- 入庫管理 -->
              <PutInOperationSimple v-if="query.w==='putInOperationSimple'" keyCode="putInOperationSimple"></PutInOperationSimple>
              <InventoryQuery v-if="query.w==='inventoryQuery'" keyCode="inventoryQuery"></InventoryQuery>
              <InboundDetailPutaway v-if="query.w==='inboundDetailPutaway'" keyCode="inboundDetailPutaway"></InboundDetailPutaway>
              <ReturnOperationSimple v-if="query.w==='returnOperationSimple'" keyCode="returnOperationSimple"></ReturnOperationSimple>
              <!-- 出庫管理 -->
              <OutboundOperation v-if="query.w==='outboundOperation'" keyCode="outboundOperation"></OutboundOperation>
              <BookingOperation v-if="query.w==='bookingOperation'" keyCode="bookingOperation"></BookingOperation>
              <PickingSetup v-if="query.w==='pickingSetup'" keyCode="pickingSetup"></PickingSetup>
              <PickingByConsigneeSetup v-if="query.w==='pickingByConsigneeSetup'" keyCode="pickingByConsigneeSetup"></PickingByConsigneeSetup>
              <BoxingSetup v-if="query.w==='boxingSetup'" keyCode="boxingSetup"></BoxingSetup>
              <OutbondQualitySetup v-if="query.w==='outbondQualitySetup'" keyCode="outbondQualitySetup"></OutbondQualitySetup>
              <OutboundDetailQuery v-if="query.w==='outboundDetailQuery'" keyCode="outboundDetailQuery"></OutboundDetailQuery>
              <!-- 倉庫管理 -->
              <StorageSetup v-if="query.w==='storageSetup'" keyCode="storageSetup"></StorageSetup>
              <StorageChangeSetup v-if="query.w==='storageChangeSetup'" keyCode="storageChangeSetup"></StorageChangeSetup>
              <TransferSetup v-if="query.w==='transferSetup'" keyCode="transferSetup"></TransferSetup>
              <AdjustmentInboundSetup v-if="query.w==='adjustmentInboundSetup'" keyCode="adjustmentInboundSetup"></AdjustmentInboundSetup>
              <AdjustmentOutboundSetup v-if="query.w==='adjustmentOutboundSetup'" keyCode="adjustmentOutboundSetup"></AdjustmentOutboundSetup>
              <InventoryAndOutboundDetailQuery v-if="query.w==='inventoryAndOutboundDetailQuery'" keyCode="inventoryAndOutboundDetailQuery"></InventoryAndOutboundDetailQuery>
              <!-- 盤點作業 -->
              <StocktakeSetup v-if="query.w==='stocktakeSetup'" keyCode="stocktakeSetup"></StocktakeSetup>
              <!-- <Content
              class="content"
              v-if="routeName!=='testView' && routeName!=='dashboard' && routeName!=='home'">
                <MainMgmt viewId="MainMgmt" :query="query" :menuState="menuState"></MainMgmt>
              </Content> -->
            </div>
        </Layout>
      </Layout>
      <FooterComponent></FooterComponent>
    </Layout>
  </div>
</template>

<script>
// @ is an alias to /src
import Config from '@/Config'
//
import HeaderComponent from '@/components/main/HeaderComponent'
import FooterComponent from '@/components/main/FooterComponent'
// 引入功能頁
import TestView from '@/views/TestView'
import Home from '@/views/Home'
import Dashboard from '@/views/Dashboard'
// import MainMgmt from '@/views/pages/MainMgmt/MainMgmt'
// 基本建檔
import WarehouseSetup from '@/views/pages/BasicMgmt/win/WarehouseSetup'
import OrderSetup from '@/views/pages/BasicMgmt/win/OrderSetup'
import DlvplanSetup from '@/views/pages/DlvplanMgmt/win/DlvplanSetup'
import DlvmissionSetup from '@/views/pages/DlvplanMgmt/win/DlvmissionSetup'
import BasicParameterSetup from '@/views/pages/BasicMgmt/win/BasicParameterSetup'
import CustomerSetup from '@/views/pages/BasicMgmt/win/CustomerSetup'
import UserSetup from '@/views/pages/BasicMgmt/win/UserSetup'
import CustuserSetup from '@/views/pages/BasicMgmt/win/CustuserSetup'
import CarSetup from '@/views/pages/BasicMgmt/win/CarSetup'
import RoleSetup from '@/views/pages/BasicMgmt/win/RoleSetup'
// 商品管理
import GoodsSetup from '@/views/pages/GoodsMgmt/win/GoodsSetup'
// 庫存管理
import InventoryQueryByProd from '@/views/pages/InventoryMgmt/win/InventoryQueryByProd'
import InventoryQueryByStorage from '@/views/pages/InventoryMgmt/win/InventoryQueryByStorage'
import InventoryQueryByinboundDate from '@/views/pages/InventoryMgmt/win/InventoryQueryByinboundDate'
import InventoryQueryBySummary from '@/views/pages/InventoryMgmt/win/InventoryQueryBySummary'
// 入庫管理
import PutInOperationSimple from '@/views/pages/PutInMgmt/win/PutInOperationSimple'
import InventoryQuery from '@/views/pages/PutInMgmt/win/InventoryQuery'
import InboundDetailPutaway from '@/views/pages/PutInMgmt/win/InboundDetailPutaway'
import ReturnOperationSimple from '@/views/pages/PutInMgmt/win/ReturnOperationSimple'
// 出庫管理
import OutboundOperation from '@/views/pages/OutboundMgmt/win/OutboundOperation'
import BookingOperation from '@/views/pages/OutboundMgmt/win/BookingOperation'
import PickingSetup from '@/views/pages/OutboundMgmt/win/PickingSetup'
import PickingByConsigneeSetup from '@/views/pages/OutboundMgmt/win/PickingByConsigneeSetup'
import BoxingSetup from '@/views/pages/OutboundMgmt/win/BoxingSetup'
import OutbondQualitySetup from '@/views/pages/OutboundMgmt/win/OutbondQualitySetup'
import OutboundDetailQuery from '@/views/pages/OutboundMgmt/win/OutboundDetailQuery'
// 倉庫管理
import StorageSetup from '@/views/pages/WarehouseMgmt/win/StorageSetup'
import StorageChangeSetup from '@/views/pages/WarehouseMgmt/win/StorageChangeSetup'
import TransferSetup from '@/views/pages/WarehouseMgmt/win/TransferSetup'
import AdjustmentInboundSetup from '@/views/pages/WarehouseMgmt/win/AdjustmentInboundSetup'
import AdjustmentOutboundSetup from '@/views/pages/WarehouseMgmt/win/AdjustmentOutboundSetup'
import InventoryAndOutboundDetailQuery from '@/views/pages/WarehouseMgmt/win/InventoryAndOutboundDetailQuery'
// 盤點作業
import StocktakeSetup from '@/views/pages/StocktakeMgmt/win/StocktakeSetup'
//
export default {
  name: 'MainContainer',
  props: [],
  components: {
    HeaderComponent,
    FooterComponent,
    TestView,
    Home,
    Dashboard,
    // 基本建檔
    WarehouseSetup,
    BasicParameterSetup,
    CustomerSetup,
    UserSetup,
    CustuserSetup,
    CarSetup,
    RoleSetup,
    // 資料整合
    OrderSetup,
    DlvplanSetup,
    DlvmissionSetup,
    // 商品管理
    GoodsSetup,
    // 庫存管理
    InventoryQueryByProd,
    InventoryQueryByStorage,
    InventoryQueryByinboundDate,
    InventoryQueryBySummary,
    // 入庫管理
    PutInOperationSimple,
    InventoryQuery,
    InboundDetailPutaway,
    ReturnOperationSimple,
    // 出庫管理
    OutboundOperation,
    BookingOperation,
    PickingSetup,
    PickingByConsigneeSetup,
    BoxingSetup,
    OutbondQualitySetup,
    OutboundDetailQuery,
    // 倉庫管理
    StorageSetup,
    StorageChangeSetup,
    TransferSetup,
    AdjustmentInboundSetup,
    AdjustmentOutboundSetup,
    InventoryAndOutboundDetailQuery,
    // 盤點作業
    StocktakeSetup
    // MainMgmt
  },
  data () {
    let routeQuery = this.$route.query
    //
    return {
      routeQuery: routeQuery,
      fullPath: this.$router.currentRoute.fullPath,
      query: this.$router.currentRoute.query,
      routeName: this.$router.currentRoute.name,
      Config: Config,
      pinToggle: this.$localStorage.get('pinToggle') || true,
      isCollapsed: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    menuState: function () {
      return this.$store.state.auth.menuState
    }
  },
  watch: {
    '$route': {
      handler: function (val) {
        this.routeQuery = this.$route.query
        this.fullPath = this.$router.currentRoute.fullPath
        this.query = this.$router.currentRoute.query
        this.routeName = this.$router.currentRoute.name
        console.log(this.routeName)
        console.log(this.$router)
      },
      deep: true
    },
    pinToggle: function (bol) {
      if (bol) {
        this.isCollapsed = false
      }
    }
  },
  methods: {
    //
    pinToggleEvent: function (bol) {
      this.pinToggle = bol
      this.$localStorage.set('pinToggle', bol)
    },
    collapsedSider (bol) {
      if (this.pinToggle) { return }
      //
      this.isCollapsed = bol
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.MainContainer {
  height: 100%;
  overflow: hidden;
}
.mainContainer-content-box {
  width: 100%;
  height: 100%;
}
.layout-container {
  height: calc(100% - 64px);
}
.content-layout {
  // padding: 10px;
  overflow: hidden !important;
  height: calc(100% - 55px) !important;
  .content {
    padding: 0px;
    background: #fff;
    height: 100%;
    width: 100%;
  }
}
.menu-box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    border: 1px solid transparent;
  }
  &:hover {
    &::-webkit-scrollbar {
      background: rgba(255, 255, 255, 0.2);
    }
    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.2);
    }
    &::-webkit-scrollbar-thumb {
      background: #c2c8cc;
      border: 1px solid #b6bbbf;
    }
  }
}
</style>
