<template>
  <div class="p404">
    <div  class="desc-box">
        <div class="logo-box">
          <p class="name">{{ $t('projectName') }}</p>
        </div>
        <div  class="desc">
            {{ $t('P404.error') }} <br>
            {{ $t('P404.notFound') }}
        </div>

        <Button type="primary" shape="circle" size="large" @click="goLoingViwe">{{ $t('P404.backLoginPage') }}</Button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'P404',
  data () {
    return {}
  },
  methods: {
    goLoingViwe: function () {
      this.axios.defaults.headers.common['Authorization'] = `Bearer `
      this.$localStorage.clear()
      this.$router.replace({ path: '/login' })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.p404 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/images/bg_404.jpg');
    background-size: cover;
    .desc-box {
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
        background-color: rgba(255,255,255,0.15);
        font-weight: bold;

        .logo-box {
            text-align: center;
            margin-bottom: 30px;

            .name {
                font-size: 16px;
                font-weight: bold;
                color: #fff;
            }
        }

        .desc {
            color: #fff;
            font-size: 1.6em;
            text-shadow: 0 0 10px rgba(0,0,0,.8);
            margin-bottom: 20px;
        }

        button {
            margin: 0 0 40px 0;
        }
    }
}
</style>
