<template>
  <div class="PrintShippingPic">
  </div>
</template>

<script>
import Config from '../Config'
//
export default {
  name: 'PrintShippingPic',
  props: [],
  components: {},
  data () {
    let routeQuery = this.$route.query
    return {
      routeQuery: routeQuery,
      langList: Config.langList,
      version: Config.version
    }
  },
  watch: {
    //
  },
  methods: {
    //
    async print () {
      var headstr = '<html><head><title></title></head><body style="text-align: center;">'
      var footstr = ''
      // console.log(this.$route.params.outboundId)
      let ids = JSON.parse(atob(this.$route.params.outboundId))
      let type = JSON.parse(this.$route.params.type)
      // console.log(type)
      // console.log(ids)
      // console.log(typeof(ids))
      switch (type) {
        case 1:
          footstr = `</body>
            <style>
            img {
              width: 91%;
              display: block;
              }
            img:nth-of-type(3n + 1){
              padding-top: 0;
            }
            img:nth-of-type(3n + 2), img:nth-of-type(3n + 3){
              padding-top: 0;
            }
            </style>`
          break
        case 2:
          footstr = `</body>
            <style>
            img {
              width: 40%;
              display: inline-block;
              }
            img:nth-of-type(2n + 1){
              margin-right: 60px;
              margin-left: 50px;
            }
            img:nth-of-type(6n + 1), img:nth-of-type(6n + 2){
              padding-top: 60px;
            }
            img:nth-of-type(6n + 3), img:nth-of-type(6n + 4){
              padding-top: 40px;
            }
            img:nth-of-type(6n + 5), img:nth-of-type(6n + 6){
              padding-top: 40px;
            }
            </style>`
          break
      }
      let idsLength = ids.length
      var waybillPicList = ''
      for (let i = 0; i < idsLength; i++) {
        let pd = {
          combinedCondition: null,
          page: 1,
          pageSize: 250,
          query: [],
          sort: []
        }
        let shippingListRes = await this.$store.dispatch('hctWaybill/query', { postData: pd, outboundId: ids[i] })
        if (shippingListRes.httpStatus === 200) {
          let shippingList = shippingListRes.respondCode.additionals.recShippingResponse
          // console.log(shippingList)
          let shippingListLength = shippingList.length
          for (let index = 0; index < shippingListLength; index++) {
            waybillPicList += `<img src="data:image/png;base64,${shippingList[index].waybill_pic}">`
          }
          // console.log(waybillPicList)
        }
      }
      // console.log(waybillPicList)
      document.body.innerHTML = headstr + waybillPicList + footstr
      this.$nextTick(() => window.print())
      //
      //
      // let pd = {
      //   combinedCondition: null,
      //   page: 1,
      //   pageSize: 250,
      //   query: [],
      //   sort: []
      // }
      // this.$store.dispatch('hctWaybill/query', { postData: pd, outboundId: this.$route.params.outboundId}).then((r) => {
      //   // console.log(r)
      //   if (r.httpStatus === 200) {
      //     let shippingList = r.respondCode.additionals.recShippingResponse
      //     let shippingListLength = shippingList.length
      //     var waybillPicList = ''
      //     for (let i = 0; i < shippingListLength; i++) {
      //       waybillPicList += `<img src="data:image/png;base64,${shippingList[i].waybill_pic}">`
      //     }
      //     document.body.innerHTML = headstr + waybillPicList + footstr
      //     // this.$nextTick(() => window.print())
      //   }
      // })
      // console.log(this.$route.params.outboundId)
    }
  },
  created () {
    //
  },
  mounted () {
    //
    this.print()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.PrintShippingPic {
  width: 100%;
  height: 100%;
  .win-content {
    display: none;
  }
}
body{
  width: 100%;
}
img {
  width: 47%;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 21px;
}
</style>
