<template>
  <div class="printTag">
   <table
      v-for="(itm, idx) in printTagContent"
      :key="idx">
      <tr
      v-for="(item, index) in itm"
      :key="`${item.INDEX}_${index}`">
        <td class="lable">
          {{ item.field_name }}
        </td>
        <td class="value" v-show="item.is_barcode === 0">
          {{ item.content }}
        </td>
        <td class="value p-0" v-show="item.is_barcode === 1">
          <barcode :value="item.content" width="1" height="15" marginTop="1" marginBottom="1" font-size="12" textMargin="-2">
            {{item.content}}
          </barcode>
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import Config from '../Config'
import VueBarcode from 'vue-barcode'
//
export default {
  name: 'PrintTag',
  props: [],
  components: {
    'barcode': VueBarcode
  },
  data () {
    // let routeQuery = this.$route.query
    let tadsetting = this.$route.params
    return {
      printNum: tadsetting.tagPrintNum,
      tadDetailList: tadsetting.tadDetailList,
      langList: Config.langList,
      version: Config.version,
      printTagContent: []
    }
  },
  watch: {
    //
  },
  methods: {
    //
    async print () {
      // var headstr = '<html><head><title></title></head><body style="text-align: center;"><div class="printTag">'
      // var footstr = ''
      // // console.log(this.$route.params)
      // footstr = `</div></body>
      //   <style>
      //   .printTag {
      //     height: 100%;
      //     padding: 16px 0;
      //   }
      //   .printTagItem {
      //     margin-bottom: 32px;
      //   }
      //   .printTag table {
      //     margin: 0 auto;
      //     border-collapse:collapse;
      //   }
      //   .printTag table td {
      //     border: 1px solid #000;
      //     padding: 7px;
      //     font-size: 7px;
      //     text-align: center;
      //     height: 33px;
      //   }
      //   .printTag table td.lable {
      //     width: 104px;
      //     background: #fff;
      //   }
      //   .printTag table td.value {
      //     width: 260px;
      //     background: #fff;
      //   }
      //   .printTag table td.value img {
      //     display: inline-block;
      //     height: 28px;
      //     margin-bottom: -6px;
      //   }
      //   .printTag table td.noBorder {
      //     color: #fff;
      //     border: 1px solid transparent;
      //   }
      //   .printTag table td.border-right {
      //     border-right: 1px solid #000;
      //   }
      //   </style>
      //   `
      // let prinData = ''
      // let tadDetailListLength = this.tadDetailList.length
      // let prinDataHeader = '<div class="printTagItem"><table><tbody>'
      // let prinDataFooter = '</tbody></table></div>'
      // var prinList = ''
      // for (let i = 0; i < tadDetailListLength; i++) {

      //   let data = `
      //   <tr>
      //     <td class="lable">
      //     ${this.tadDetailList[i].field_name}</td>
      //     ${this.tadDetailList[i].is_barcode === 0 ? '<td class="value">' + this.tadDetailList[i].content + '</td>' : '<td class="value p-0"><barcode :value="' + this.tadDetailList[i].content + '" width="1" height="18" marginTop="1" marginBottom="1" font-size="12" textMargin="-2">' + this.tadDetailList[i].content + '</barcode></td>'}
      //   </tr>
      //   `
      //   prinData += data
      // }
      // for (let i = 0; i < this.printNum; i++) {
      //   prinList += (prinDataHeader + prinData + prinDataFooter)
      // }
      // this.printTagContent = prinList
      //
      let printTagContent = []
      for (let i = 0; i < this.printNum; i++) {
        printTagContent.push(this.tadDetailList)
      }
      // console.log(prinList)
      //  this.$nextTick(() => {document.querySelector('.printTag').innerHTML = prinList})
      this.printTagContent = printTagContent
      // this.$nextTick(() => console.log(document.querySelector('.PrintTag')))
      // document.body.innerHTML = headstr + prinList + footstr
      this.$nextTick(() => window.print())
    }
  },
  created () {
    //
    // this.print()
  },
  mounted () {
    //
    this.print()
    // console.log(this.$route)
    // console.log(this.$route.params)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
// .PrintTag {
//   width: 100%;
//   height: 100%;
//   .win-content {
//     display: none;
//   }
// }
body{
  width: 100%;
}
.printTag {
  height: 100%;
  padding: 16px 0;
}
.printTagItem {
  margin-bottom: 32px;
}
.printTag table {
  margin: 0 auto 32px auto;
  border-collapse:collapse;
}
.printTag table td {
  border: 1px solid #000;
  padding: 7px;
  font-size: 7px;
  text-align: center;
  height: 33px;
}
.printTag table td.lable {
  width: 104px;
  background: #fff;
}
.printTag table td.value {
  width: 260px;
  background: #fff;
}
.printTag table td.value img {
  display: inline-block;
  height: 28px;
  margin-bottom: -6px;
}
.printTag table td.noBorder {
  color: #fff;
  border: 1px solid transparent;
}
.printTag table td.border-right {
  border-right: 1px solid #000;
}
</style>
