<template>
  <div class="printNutritionFacts">
   <!-- 營養成分 -->
    <div class="nutritionFactsTag">
      <table>
        <tbody>
          <tr>
            <!-- 品名 -->
            <td class="lable">
              <div class="lable-box">
                <div>品</div>
                <div>名</div>
              </div>
            </td>
            <td class="disabled" colspan="2">
              {{postData.product_name}}
            </td>
          </tr>
          <tr>
            <!-- 商品條碼 -->
            <td class="lable">
              商品條碼
            </td>
            <td class="disabled" colspan="2">
              <barcode :value="postData.product_code || '條碼放置處'" width="1" height="18" marginTop="1" marginBottom="1" font-size="12" textMargin="-2">
                條碼放置處
              </barcode>
            </td>
          </tr>
          <tr>
            <!-- 成分 -->
            <td class="lable">
              <div class="lable-box">
                <div>成</div>
                <div>分</div>
              </div>
            </td>
            <td colspan="2" class="word-wrap">
              {{postData.ingredient}}
            </td>
          </tr>
          <tr>
            <!-- 豬肉原料產地 -->
            <td class="lable">
              {{postData.meat}}
              原料產地
            </td>
            <td>
              {{postData.origin}}
            </td>
            <td class="nutrition-facts-table" rowspan="9">
              <table>
                <tbody>
                  <tr>
                    <td class="text-center" colspan="4">營養標示</td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <div>
                        每一份量
                        {{postData.set_weight}}
                        公克
                      </div>
                      <div>
                        本包裝含
                        {{postData.part}}
                        份
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right no-border-right">每份</td>
                    <td class="text-right no-border-left">每100公克</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="lable no-border-right">
                      <ul class="list-unstyled">
                        <li class="d-flex">
                          <span>熱量</span>
                          <span class="flex-1">
                            {{postData.calories}}
                          </span>
                          <span>大卡</span>
                        </li>
                        <li class="d-flex">
                          <span>蛋白質</span>
                          <span class="flex-1">
                            {{postData.protein}}
                          </span>
                          <span>公克</span>
                        <li class="d-flex">
                          <span>脂肪</span>
                          <span class="flex-1">
                            {{postData.fat}}
                          </span>
                          <span>公克</span>
                        </li>
                        <li>
                          <ul class="list-unstyled">
                            <li class="d-flex">
                              <span>飽和脂肪</span>
                              <span class="flex-1">
                                {{postData.saturated_fat}}
                              </span>
                              <span>公克</span>
                            </li>
                            <li class="d-flex">
                              <span>反式脂肪</span>
                              <span class="flex-1">
                                {{postData.trans_fat}}
                              </span>
                              <span>公克</span>
                            </li>
                          </ul>
                        </li>
                        <li class="d-flex">
                          <span>碳水化合物</span>
                          <span class="flex-1">
                            {{postData.carbohydrates}}
                          </span>
                          <span>公克</span>
                        </li>
                        <li>
                          <ul class="list-unstyled">
                            <li class="d-flex">
                              <span>糖</span>
                              <span class="flex-1">
                                {{postData.sugar}}
                              </span>
                              <span>公克</span>
                            </li>
                          </ul>
                        </li>
                        <li class="d-flex">
                          <span>鈉</span>
                          <span class="flex-1">
                            {{postData.sodium}}
                          </span>
                          <span>毫克</span>
                        </li>
                      </ul>
                    </td>
                    <td class="lable no-border-left">
                      <ul class="list-unstyled">
                        <li>
                          {{postData.calories_100}}
                          大卡
                        </li>
                        <li>
                          {{postData.protein_100}}
                          公克
                        </li>
                        <li>
                          {{postData.fat_100}}
                          公克
                        </li>
                        <li>
                          {{postData.saturated_fat_100}}
                          公克
                        </li>
                        <li>
                          {{postData.trans_fat_100}}
                          公克
                        </li>
                        <li>
                          {{postData.carbohydrates_100}}
                          公克
                        </li>
                        <li>
                          {{postData.sugar_100}}
                          公克
                        </li>
                        <li>
                          {{postData.sodium_100}}
                          毫克
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td class="lable">
              <div class="lable-box">
              <div>淨</div>
              <div>重</div>
            </div>
            </td>
            <td>
              {{postData.net_weight}}
            </td>
          </tr>
          <tr>
            <!-- 保存條件 -->
            <td class="lable">
              保存條件
            </td>
            <td>
              {{postData.storage_conditions}}
            </td>
          </tr>
          <tr>
            <!-- 保存期限 -->
            <td class="lable">
              保存期限
            </td>
            <td>
              {{postData.product_expiration_days}}
            </td>
          </tr>
          <tr>
            <!-- 製造日期 -->
            <td class="lable">
              製造日期
            </td>
            <td>
              {{postData.product_manufactured}}
            </td>
          </tr>
          <tr>
            <!-- 有效日期 -->
            <td class="lable">
              有效日期
            </td>
            <td>
              {{postData.product_expired_date}}
            </td>
          </tr>
          <tr>
            <!-- 製造商 -->
            <td class="lable">
              <div class="lable-box">
                <div>製</div>
                <div>造</div>
                <div>商</div>
              </div>
            </td>
            <td>
              {{postData.vendor_name}}
            </td>
          </tr>
          <tr>
            <!-- 廠商地址 -->
            <td class="lable">
              廠商地址
            </td>
            <td>
              {{postData.vendor_address}}
            </td>
          </tr>
          <tr>
            <!-- 廠商電話 -->
            <td class="lable">
              廠商電話
            </td>
            <td>
              {{postData.vendor_telephone}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
// import Config from '../Config'
import VueBarcode from 'vue-barcode'
//
export default {
  name: 'PrintNutritionFacts',
  props: [],
  components: {
    'barcode': VueBarcode
  },
  data () {
    // let routeQuery = this.$route.query
    let postData = this.$route.params
    return {
      postData: postData.postData,
      printNum: postData.num
    }
  },
  watch: {
    //
  },
  methods: {
    //
    async print () {
      //
      // let printNutritionFactsContent = []
      // for (let i = 0; i < this.printNum; i++) {
      //   printNutritionFactsContent.push(this.tadDetailList)
      // }
      // // console.log(prinList)
      // //  this.$nextTick(() => {document.querySelector('.printNutritionFacts').innerHTML = prinList})
      // this.printNutritionFactsContent = printNutritionFactsContent
      // // this.$nextTick(() => console.log(document.querySelector('.PrintNutritionFacts')))
      // // document.body.innerHTML = headstr + prinList + footstr
      this.$nextTick(() => window.print())
    }
  },
  created () {
    //
    // this.print()
  },
  mounted () {
    //
    // this.print()
    console.log(this.$route)
    console.log(this.$route.params)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
body{
  width: 100%;
}
.printNutritionFacts {
  height: 100%;
  padding: 16px 0;
  background-color: #ccc;
}
.nutritionFactsTag {
  // width: 438px;
  // height: 256px;
  // width: 540px;
  // height: 315px;
  width: 728px;
  height: 407px;
  padding-bottom: 3rem;
  margin: 0 auto;
  table {
    width: 100%;
    margin: 0 auto;
    border-collapse:collapse;
  }
  td {
    border: 1px solid #000;
    padding: 1px;
    font-size: 12px;
    color: #000;
    white-space:nowrap;
    background: #fff;
    &.lable {
      width: 80px;
      background: #fff;
      .lable-box {
        display: flex;
        justify-content: space-between;
      }
      /deep/.ivu-select {
        width: 65px;
      }
    }
    &.w-459 {
      width: 459px;
    }
    &.lg {
      width: 121px;
    }
    &.no-border-bottom {
      border-bottom: 0px solid transparent;
    }
    &.no-border-right {
      border-right: 0px solid transparent;
    }
    &.no-border-left {
      border-left: 0px solid transparent;
    }
    &.border-right {
      border-right: 1px solid #000;
    }
    &.word-wrap {
      white-space: unset;
    }
    // &.disabled {
    //   background: #eee;
    // }
  }
  .barCode-box {
    width: 50%;
  }
  .nutrition-facts-table {
      flex:1;
      border: 1px solid #000;
      border-left: 0px solid transparent;
      padding: 1px;
      .list-unstyled {
        padding-left: 14px;
        list-style: none;
        li {
          margin-bottom: 0px;
          .flex-1 {
            flex: 1;
            text-align: right;
          }
        }
      }
  }
}
</style>
