<template>
  <div class="TestView-box">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- vuejs-auto-complete -->
    <h2>vuejs-auto-complete</h2>
    <autocomplete
    ref="autocomplete"
    input-class="autocomplete-control"
    :initialValue="1"
    :initialDisplay="'abc'"
    resultsDisplay="name"
    resultsValue="id"
    :source="[{id:1,name:'abc'},{id:2,name:'def'}]"
    @selected="autocompleteSelect">
    </autocomplete>
    <!-- Transfer : TransferX2 -->
    <h2>Transfer : TransferX2</h2>
    <TransferX2
    list1Title="未處理訂單"
    list2Title="待處理訂單"
    mainId="id"
    :list1Cols="transferX2Cols1"
    :list2Cols="transferX2Cols2"
    :list1="transferX2List1"
    :list2="transferX2List2"
    submitBtnTxt="截單"
    @list1ChangeEvent="transferX2List1ChangeEvent"
    @list2ChangeEvent="transferX2List2ChangeEvent"
    @list1ReloadEvent="transferX2List1ReloadEvent"
    @list2ReloadEvent="transferX2List2ReloadEvent"
    @addEvent="transferX2AddEvent"
    @removeEvent="transferX2RemoveEvent"
    @submitEvent="transferX2SubmitEvent"></TransferX2>
    <!-- Step1 -->
    <h2>Step type 1</h2>
    <Step1 :width="165" :data='step1Data'></Step1>
    <!-- SELECT -->
    <h2>Floating label : Secelt</h2>
    <FloatLabelBox
    :config="{hasContent: (selectValue && selectValue!==''), label: `label`, hasClearButton: true, type: `Select`, settings: {width: 250, height: 52}}"
    :selectList="selectList"
    :code="`selectValue`"
    :defaultValue="selectValue"
    :isError="false"
    :isRequired="true"
    @changeModelEvent="selectChangeEvent">
    </FloatLabelBox>
    <br/>
    <!-- INPUT -->
    <h2>Floating label : Input / text</h2>
    <FloatLabelBox
    :config="{hasContent: (inputTxtValue && inputTxtValue!==''), label: `label`, hasClearButton: true, type: `InputText`, settings: {width: 250, height: 52}}"
    :code="`inputTxtValue`"
    :defaultValue="inputTxtValue"
    :isError="false"
    :isRequired="false"
    @changeModelEvent="inputTxtChangeEvent">
    </FloatLabelBox>
    <h2>Floating label : Input / text - 自定錯誤訊息 <Button @click="errorMsgFun">自定錯誤訊息</Button></h2>
    <FloatLabelBox
    :config="{
      hasContent: (inputTxtValue && inputTxtValue!==''),
      label: `label`,
      hasClearButton: true,
      type: `InputText`,
      settings: {width: 250, height: 52}
    }"
    :errorMsg='errorMsg'
    errorMsgColor="#00F"
    :code="`inputTxtValue`"
    :defaultValue="inputTxtValue"
    :isError="true"
    :isRequired="true"
    @changeModelEvent="inputTxtChangeEvent">
    </FloatLabelBox>
    <br/>
    <h2>Floating label : Input / password</h2>
    <FloatLabelBox
    :config="{hasContent: (inputPwdValue && inputPwdValue!==''), label: `label`, hasClearButton: true, type: `InputPassword`, settings: {width: 250, height: 52}}"
    :code="`inputPwdValue`"
    :defaultValue="inputPwdValue"
    :isError="true"
    :isRequired="true"
    @changeModelEvent="inputPwdChangeEvent">
    </FloatLabelBox>
    <br/>
    <!-- Textarea -->
    <h2>Floating label : Textarea</h2>
    <FloatLabelBox
    :config="{hasContent: (textareaValue && textareaValue!==''), label: `label`, type: `Textarea`, settings: {width: 500}}"
    :code="`textareaValue`"
    :defaultValue="textareaValue"
    :isError="true"
    :isRequired="true"
    @changeModelEvent="textareaValueChangeEvent">
    </FloatLabelBox>
    <br/>
    <!-- INPUT Number -->
    <h2>Floating label : Input Number</h2>
    <FloatLabelBox
    :config="{hasContent: Number.isInteger(inputNumValue), label: `label`, hasClearButton: true, type: `InputNumber`, settings: {width: 250, height: 52}}"
    :code="`inputNumValue`"
    :defaultValue="inputNumValue"
    :isError="true"
    :isRequired="true"
    @changeModelEvent="inputNumChangeEvent">
    </FloatLabelBox>
    <br/>
    <!-- DatePicker -->
    <h2>Floating label : DatePicker</h2>
    <FloatLabelBox
    :config="{hasContent: (datePickerValue && datePickerValue!==''), label: `label`, hasClearButton: true, type: `DatePicker`, settings: {width: 250, height: 52}}"
    :code="`datePickerValue`"
    :defaultValue="datePickerValue"
    :isError="true"
    :isRequired="true"
    @changeModelEvent="datePickerChangeEvent">
    </FloatLabelBox>
    <br/>
    <!-- DatePicker / Daterange -->
    <h2>Floating label : DatePicker / Daterange</h2>
    <FloatLabelBox
    :config="{hasContent: (daterangePickerValue && daterangePickerValue!==''), label: `label`, hasClearButton: true, type: `DaterangePicker`, settings: {width: 250, height: 52}}"
    :code="`daterangePickerValue`"
    :defaultValue="daterangePickerValue"
    :isError="true"
    :isRequired="true"
    @changeModelEvent="daterangePickerChangeEvent">
    </FloatLabelBox>
    <br/>
    <!-- TimePicker -->
    <h2>Floating label : TimePicker</h2>
    <FloatLabelBox
    :config="{hasContent: (timePickerValue && timePickerValue!==''), label: `label`, hasClearButton: true, type: `TimePicker`, settings: {width: 250, height: 52}}"
    :code="`timePickerValue`"
    :defaultValue="timePickerValue"
    :isError="true"
    :isRequired="true"
    @changeModelEvent="timePickerChangeEvent">
    </FloatLabelBox>
    <br/>
    <!-- Autocomplete + 放大鏡 : 通用-->
    <h2>Autocomplete + 放大鏡 : 通用 以 國家 為例</h2>
    <FloatLabelBox
    :config="{hasContent: (autoCompleteValue && autoCompleteValue!==''), label: `label`, hasClearButton: true, type: `AutoComplete`, settings: {width: 200, height: 55}}"
    :code="`autoCompleteValue`"
    :autoCompleteData="autoCompleteData"
    :defaultValue="autoCompleteValue"
    :modalTitle="`Autocomplete + 放大鏡`"
    :toCloseModal="toCloseAutocompleteModal"
    keyCode="countrySetup"
    storeKey="country"
    returnCode="country_code"
    :showCols="autoCompleteShowCols"
    @setToCloseModalEvent="setToCloseAutocompleteModal"
    @changeModelEvent="autocompleteChangeEvent"
    @autoCompleteSearchEvent="autoCompleteSearchEvent">
      <div>
        <!-- 通用 / 例:國家-->
        <AutocompleteModal
        keyCode="countrySetup"
        storeKey="country"
        returnCode="country_code"
        :condition="countryCondition"
        @setAutocompleteValueEvent="setAutocompleteValue"></AutocompleteModal>
      </div>
    </FloatLabelBox>
    <!-- Autocomplete + 放大鏡 : 通用-->
    <h2>Autocomplete + 放大鏡 : 通用 以 公司 為例</h2>
    <FloatLabelBox
    :config="{hasContent: (autoCompleteValue2 && autoCompleteValue2!==''), label: `label`, hasClearButton: true, type: `AutoComplete`, settings: {width: 200, height: 55}}"
    :code="`autoCompleteValue2`"
    :autoCompleteData="autoCompleteData2"
    :defaultValue="autoCompleteValue2"
    :modalTitle="`Autocomplete + 放大鏡`"
    :toCloseModal="toCloseAutocompleteModal2"
    keyCode="companySetup"
    storeKey="company"
    returnCode="company_name"
    :showCols="autoCompleteShowCols2"
    @setToCloseModalEvent="setToCloseAutocompleteModal2"
    @changeModelEvent="autocompleteChangeEvent2"
    @autoCompleteSearchEvent="autoCompleteSearchEvent2">
      <div>
        <!-- 通用 / 例:公司-->
        <AutocompleteModal
        keyCode="companySetup"
        storeKey="company"
        returnCode="company_name"
        :condition="companyCondition"
        @setAutocompleteValueEvent="setAutocompleteValue2"></AutocompleteModal>
      </div>
    </FloatLabelBox>
    <!-- New autocomplete + 放大鏡 : 通用-->
    <h2>New autocomplete + 放大鏡 : 通用 以 國家 為例</h2>
    <FloatLabelBox
    :config="{hasContent: (autoCompleteValue3 && autoCompleteValue3!==''), label: `label`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 200, height: 55}}"
    :code="`autoCompleteValue3`"
    :autoCompleteData="autoCompleteData3"
    :defaultValue="autoCompleteValue3"
    :modalTitle="`Autocomplete + 放大鏡`"
    :toCloseModal="toCloseAutocompleteModal3"
    keyCode="countrySetup"
    storeKey="country"
    returnCode="country_name"
    :showCols="autoCompleteShowCols3"
    @handleEnterSubmit="autocompleteHandleEnterSubmitEvent3"
    @changeModelEvent="autocompleteChangeEvent3"
    @autoCompleteSearchEvent="autoCompleteSearchEvent3"
    @setToCloseModalEvent="setToCloseAutocompleteModal3">
      <div>
        <!-- 通用 / 例:國家-->
        <AutocompleteModal
        keyCode="countrySetup"
        storeKey="country"
        returnCode="country_name"
        :condition="countryCondition3"
        @setAutocompleteValueEvent="setAutocompleteValue3"></AutocompleteModal>
      </div>
    </FloatLabelBox>
  </div>
</template>

<script>
// @ is an alias to /src
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import Step1 from '@/components/Step/Step1'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import TransferX2 from '@/components/Transfer/TransferX2'
import Autocomplete from 'vuejs-auto-complete'
import { setTimeout } from 'timers'
//
export default {
  name: 'TestView',
  props: [],
  components: {
    LoadingView,
    Step1,
    FloatLabelBox,
    AutocompleteModal,
    TransferX2,
    Autocomplete
  },
  data () {
    let step1Data = [
      {
        label: '出庫通知',
        date: '2019/01/01',
        time: '13:00',
        status: 1, // 是否完成 0:未完成 / 1:完成
        isStartNode: true, // 是否始點
        isEndNode: false // 是否為終點
      },
      {
        label: '揀貨通知',
        date: '2019/01/01',
        time: '13:00',
        status: 1,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '品檢作業',
        date: '2019/01/01',
        time: '13:00',
        status: 1,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '待出貨',
        date: null,
        time: null,
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '出貨作業',
        date: null,
        time: null,
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '到達店舖',
        date: null,
        time: null,
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '取貨',
        date: null,
        time: null,
        status: 0,
        isStartNode: false,
        isEndNode: false
      },
      {
        label: '結案',
        date: null,
        time: null,
        status: 0,
        isStartNode: false,
        isEndNode: true
      }
    ]
    //
    return {
      /* Transfer */
      transferX2Cols1: [
        {
          label: '編號',
          key: 'INDEX'
        },
        {
          label: '',
          key: 'SELECTED'
        },
        {
          label: '訂單編號',
          key: 'orderNo'
        },
        {
          label: '客單編號',
          key: 'customerOrderNo'
        }
      ],
      transferX2Cols2: [
        {
          label: '編號',
          key: 'INDEX'
        },
        {
          label: '',
          key: 'SELECTED'
        },
        {
          label: '訂單編號',
          key: 'orderNo'
        },
        {
          label: '客單編號',
          key: 'customerOrderNo'
        }
      ],
      transferX2List1: [],
      transferX2List2: [],
      /* LoadingView */
      LoadingViewIsShow: true,
      /* Step type 1 */
      step1Data: step1Data,
      /* floating label */
      selectValue: null,
      selectList: [
        {
          value: 'New York',
          label: 'New York'
        },
        {
          value: 'London',
          label: 'London'
        }
      ],
      inputTxtValue: null,
      inputPwdValue: null,
      textareaValue: null,
      inputNumValue: null,
      datePickerValue: null,
      daterangePickerValue: null,
      timePickerValue: null,
      errorMsg: '* 自定錯誤訊息',
      /* 國家 */
      autoCompleteValue: '',
      autoCompleteData: [],
      autoCompleteShowCols: [
        'country_code_alpha3',
        'country_name',
        'country_id'
      ],
      toCloseAutocompleteModal: false,
      countryCondition: [], // 需額外限定的條件
      /* 公司 */
      autoCompleteValue2: '',
      autoCompleteData2: [],
      autoCompleteShowCols2: [
        'vatno',
        'company_id'
      ],
      toCloseAutocompleteModal2: false,
      companyCondition: [], // 需額外限定的條件
      /* 國家 */
      autoCompleteValue3: '',
      autoCompleteData3: [],
      autoCompleteShowCols3: [
        'country_code_alpha3',
        'country_name'
      ],
      toCloseAutocompleteModal3: false,
      countryCondition3: [] // 需額外限定的條件
    }
  },
  computed: {},
  watch: {
    autoCompleteData: {
      handler: function () {
        //
      },
      deep: true
    }
  },
  methods: {
    /* Autocomplete */
    autocompleteSelect: function (data) {
      // console.log(data)
    },
    /* Transfer */
    transferX2List1ChangeEvent: function (data) {
      // list 1 改變
      // console.log(data)
    },
    transferX2List2ChangeEvent: function (data) {
      // list 2 改變
      // console.log(data)
    },
    transferX2List1ReloadEvent: function () {
      // 重新取得 list1
    },
    transferX2List2ReloadEvent: function () {
      // 重新取得 list2
    },
    transferX2AddEvent: function (data) {
      // 新增
      // console.log(data)
      let list = data.filter((item, index) => {
        return !item.SELECTED
      })
      let moveItems = data.filter((item, index) => {
        return item.SELECTED
      })
      // console.log(moveItems)
      this.transferX2List1 = list
      this.transferX2List2 = [
        ...this.transferX2List2,
        ...moveItems
      ]
    },
    transferX2RemoveEvent: function (data) {
      // 移除
      // console.log(data)
      let list = data.filter((item, index) => {
        return !item.SELECTED
      })
      let moveItems = data.filter((item, index) => {
        return item.SELECTED
      })
      this.transferX2List2 = list
      this.transferX2List1 = [
        ...this.transferX2List1,
        ...moveItems
      ]
    },
    transferX2SubmitEvent: function (data) {
      // 送出
      // console.log(data)
    },
    // Transfer end
    //
    errorMsgFun: function () {
      this.errorMsg = 'test'
    },
    // Floating label : Secelt
    selectChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    // Floating label : Input
    inputTxtChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    inputPwdChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    textareaValueChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    daterangePickerChangeEvent: function (data) {
      // console.log(data)
      if (data.val[0] === '' && data.val[1] === '') {
        this[data.code] = null
      } else {
        this[data.code] = data.val
      }
    },
    timePickerChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    /* Autocomplete + 放大鏡 : 通用 以 國家 為例 */
    autocompleteChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.autoCompleteData = []
    },
    setAutocompleteValue: function (data) {
      // console.log(data)
      //
      this.autoCompleteValue = data.data[data.returnCode]
      //
      this.toCloseAutocompleteModal = true
    },
    setToCloseAutocompleteModal: function (bol) {
      this.toCloseAutocompleteModal = bol
    },
    autoCompleteSearchEvent: function (data) {
      // console.log(data)
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          let autoCompleteData = []
          list.forEach(element => {
            let str = `${element[data.returnCode]}::`
            data.showCols.forEach((key, idx) => {
              if (idx === data.showCols.length - 1) {
                str += `${element[key] || ''}`
              } else {
                str += `${element[key] || ''}::`
              }
            })
            autoCompleteData.push(str)
          })
          //
          this.autoCompleteData = autoCompleteData
        }
      })
    },
    /* Autocomplete + 放大鏡 : 通用 以 公司 為例 */
    autocompleteChangeEvent2: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.autoCompleteData2 = []
    },
    setAutocompleteValue2: function (data) {
      // console.log(data)
      //
      this.autoCompleteValue2 = data.data[data.returnCode]
      //
      this.toCloseAutocompleteModal2 = true
    },
    setToCloseAutocompleteModal2: function (bol) {
      this.toCloseAutocompleteModal2 = bol
    },
    autoCompleteSearchEvent2: function (data) {
      // console.log(data)
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          let autoCompleteData2 = []
          list.forEach(element => {
            let str = `${element[data.returnCode]}::`
            data.showCols.forEach((key, idx) => {
              if (idx === data.showCols.length - 1) {
                str += `${element[key] || ''}`
              } else {
                str += `${element[key] || ''}::`
              }
            })
            autoCompleteData2.push(str)
          })
          //
          this.autoCompleteData2 = autoCompleteData2
        }
      })
    },
    /* Autocomplete + 放大鏡 : 通用 以 國家 為例 */
    autocompleteHandleEnterSubmitEvent3: function (data) {
      // console.log(data)
      this[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.autoCompleteData3 = []
    },
    autocompleteChangeEvent3: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this[data.code])
      if (this[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this[data.code] = data.val ? data.val[data.returnCode] : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.autoCompleteData3 = [data.val]
      } else {
        this.autoCompleteData3 = []
      }
    },
    autoCompleteSearchEvent3: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: Config.maxPageSize,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.autoCompleteData3 = list
        }
      })
    },
    setAutocompleteValue3: function (data) {
      // console.log(data)
      //
      this.autoCompleteValue3 = data.data[data.returnCode]
      //
      this.toCloseAutocompleteModal3 = true
    },
    setToCloseAutocompleteModal3: function (bol) {
      this.toCloseAutocompleteModal3 = bol
    }
  },
  created () {
    //
  },
  mounted () {
    // loading view
    setTimeout(() => {
      this.LoadingViewIsShow = false
    }, 1000)
    // Transfer : 模擬 api拉資料
    setTimeout(() => {
      this.transferX2List1 = [
        {
          INDEX: 1,
          SELECTED: false,
          id: 1,
          orderNo: '000001',
          customerOrderNo: 'RM000001'
        },
        {
          INDEX: 2,
          SELECTED: false,
          id: 2,
          orderNo: '000002',
          customerOrderNo: 'RM000002'
        },
        {
          INDEX: 3,
          SELECTED: false,
          id: 3,
          orderNo: '000003',
          customerOrderNo: 'RM000003'
        },
        {
          INDEX: 4,
          SELECTED: false,
          id: 4,
          orderNo: '000004',
          customerOrderNo: 'RM000004'
        },
        {
          INDEX: 5,
          SELECTED: false,
          id: 5,
          orderNo: '000005',
          customerOrderNo: 'RM000005'
        }
      ]
      this.transferX2List2 = [
        {
          INDEX: 6,
          SELECTED: false,
          id: 6,
          orderNo: '000006',
          customerOrderNo: 'RM000006'
        },
        {
          INDEX: 7,
          SELECTED: false,
          id: 7,
          orderNo: '000007',
          customerOrderNo: 'RM000007'
        },
        {
          INDEX: 8,
          SELECTED: false,
          id: 8,
          orderNo: '000008',
          customerOrderNo: 'RM000008'
        },
        {
          INDEX: 9,
          SELECTED: false,
          id: 9,
          orderNo: '000009',
          customerOrderNo: 'RM000009'
        },
        {
          INDEX: 10,
          SELECTED: false,
          id: 10,
          orderNo: '0000010',
          customerOrderNo: 'RM0000010'
        }
      ]
    }, 1000)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.TestView-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 30px;
    overflow: auto;
}
/deep/
.autocomplete-control {
  height: 35px;
}
</style>
