<template>
  <div class="Tracking">
    <header>
      <div class="logo" @click="goHome">
        <img src="@/assets/images/tracking/AiWMS.png" alt="logo" class="img-fluid" />
      </div>
      <div class="login-box" v-show="false">
        <Button class="sm-btn bluey-grey mr-3" type="default" shape="circle">Sign Up</Button>
        <Button class="sm-btn bluey-grey mr-3" type="default" shape="circle">Log In</Button>
      </div>
    </header>
    <div class="container">
      <h1 class="lg-title" :style="searchStyle.title">搜尋單號</h1>
      <div class="lg-title-line" :style="searchStyle.line"></div>
      <div class="search-input" :style="searchStyle.input">
        <Button shape="circle" icon="ios-search" size="large" @click="search"></Button>
        <input type="text" placeholder="訂單編號" v-model="searchContent" @keyup.enter="search" />
      </div>
      <Button
        class="lg-btn yellow"
        type="default"
        shape="circle"
        @click="search"
        v-if="!searchSuccess"
      >SEARCH</Button>
      <Card shadow class="conten-box" :class="{isShow : searchSuccess}" v-if="!media">
        <div class="top-box">
          <h2 class="sub-title text-center">貨況追蹤</h2>
          <!-- Step Line -->
          <div class="step-box row-line">
            <span v-for="(node, index) in data" :key="index">
              <div class="node-box">
                <div class="node-space-left">
                  <div class="label">{{node.label}}</div>
                  <div class="date">{{node.date}}</div>
                </div>
                <div class="node" :class="{type0: node.status === 0, type1: node.status === 1}">
                  <span v-if="node.status === 1">
                    <Icon type="md-checkmark" color="#fff" />
                  </span>
                </div>
                <div class="node-space-right">
                  <div class="time">{{node.time}}</div>
                </div>
              </div>
              <div class="line-box bottom-line-box" v-if="!node.isEndNode">
                <div class="space-left"></div>
                <div class="space-center">
                  <div class="line" :class="{type0: node.status === 0, type1: node.status === 1}"></div>
                </div>
                <div class="space-right"></div>
              </div>
            </span>
          </div>
        </div>
        <Row class="bottom-box d-flex">
          <Col span="9" class="order-box">
            <h2 class="sub-title">訂單資訊</h2>
            <div class="order-list">
              <div class="order" v-for="item in orderDataList" :key="item.order_no" :class="{'isFocus':visibility === item.order_no}" @click="visibility = item.order_no">
                <div class="order-item">
                  <span class="label">{{item.label01}}</span>
                  <span class="value">{{item.order_no}}</span>
                </div>
                <div class="order-item">
                  <span class="label">{{item.label02}}</span>
                  <span class="value">{{item.delivery_no}}</span>
                </div>
                <div class="order-item">
                  <span class="label">{{item.label03}}</span>
                  <span class="value">{{item.order_date}}</span>
                </div>
              </div>
            </div>
          </Col>
          <Col span="15" class="pro-box position-relative">
            <h2 class="sub-title">商品資訊</h2>
            <div class="pro-list" :class="{isShow : getProDataList}">
              <div class="pro-data">
                <div class="top">
                  <div class="pro-item">
                    <span class="label">商品料號</span>
                    <span class="value">1-ET-SID-WA-MOR</span>
                  </div>
                  <div class="pro-item">
                    <span class="label">商品數量</span>
                    <span class="value">20</span>
                  </div>
                </div>
                <div class="pro-item">
                  <span class="label">商品名稱</span>
                  <span class="value">檸檬花蜜</span>
                </div>
                <div class="pro-item">
                  <span class="label">商品備註</span>
                  <span class="value">因商品效期長短不一，自消費者收受日計算起商品確保最少10日以上有效日期。</span>
                </div>
              </div>
              <div class="pro-data">
                <div class="top">
                  <div class="pro-item">
                    <span class="label">商品料號</span>
                    <span class="value">1-ET-SID-WA-MOR</span>
                  </div>
                  <div class="pro-item">
                    <span class="label">商品數量</span>
                    <span class="value">20</span>
                  </div>
                </div>
                <div class="pro-item">
                  <span class="label">商品名稱</span>
                  <span class="value">檸檬花蜜</span>
                </div>
                <div class="pro-item">
                  <span class="label">商品備註</span>
                  <span class="value">因商品效期長短不一，自消費者收受日計算起商品確保最少10日以上有效日期。</span>
                </div>
              </div>
              <div class="pro-data">
                <div class="top">
                  <div class="pro-item">
                    <span class="label">商品料號</span>
                    <span class="value">1-ET-SID-WA-MOR</span>
                  </div>
                  <div class="pro-item">
                    <span class="label">商品數量</span>
                    <span class="value">20</span>
                  </div>
                </div>
                <div class="pro-item">
                  <span class="label">商品名稱</span>
                  <span class="value">檸檬花蜜</span>
                </div>
                <div class="pro-item">
                  <span class="label">商品備註</span>
                  <span class="value">因商品效期長短不一，自消費者收受日計算起商品確保最少10日以上有效日期。</span>
                </div>
              </div>
            </div>
          </Col>
        </Row>
      </Card>
      <div class="conten-box" v-if="media && searchSuccess" :class="{hasNav : step === 1 || step === 2}">
        <div class="result-list" v-show="step === 0">
          <h2 class="sub-title">訂單資訊</h2>
          <div>
            <div class="order" v-for="item in orderDataList" :key="item.order_no" @click="goToStepLine(item.order_no)">
              <div class="order-item">
                <span class="label">{{item.label01}}</span>
                <span class="value">{{item.order_no}}</span>
              </div>
              <div class="order-item">
                <span class="label">{{item.label02}}</span>
                <span class="value">{{item.delivery_no}}</span>
              </div>
              <div class="order-item">
                <span class="label">{{item.label03}}</span>
                <span class="value">{{item.order_date}}</span>
              </div>
              <div class="more-btn">more <font-awesome-icon icon="angle-right" color="#787d83" /></div>
            </div>
          </div>
        </div>
        <!-- Step Line -->
        <div v-if="step === 1">
          <h2 class="sub-title">貨況追蹤</h2>
          <div class="order">
            <div class="order-item">
              <span class="label">{{orderDataList[0].label01}}</span>
              <span class="value">{{orderDataList[0].order_no}}</span>
            </div>
          </div>
          <div class="step-box column-line">
            <span v-for="(node, index) in data" :key="index">
              <div class="node-box">
                <div class="node-space-left">
                  <div class="label">{{node.label}}</div>
                  <div class="date">{{node.date}}</div>
                </div>
                <div class="node" :class="{type0: node.status === 0, type1: node.status === 1}">
                  <span v-if="node.status === 1">
                    <Icon type="md-checkmark" color="#fff" />
                  </span>
                </div>
                <div class="node-space-right">
                  <div class="time">{{node.time}}</div>
                </div>
              </div>
              <div class="line-box bottom-line-box" v-if="!node.isEndNode">
                <div class="space-left"></div>
                <div class="space-center">
                  <div class="line" :class="{type0: node.status === 0, type1: node.status === 1}"></div>
                </div>
                <div class="space-right"></div>
              </div>
            </span>
          </div>
        </div>
        <!-- 商品資訊 -->
        <div v-if="step === 2">
          <h2 class="sub-title">貨況追蹤</h2>
          <div class="pro">
            <div class="order">
              <div class="order-item">
                <span class="label">{{orderDataList[0].label01}}</span>
                <span class="value">{{orderDataList[0].order_no}}</span>
              </div>
              <div class="order-item">
                <span class="label">{{orderDataList[0].label02}}</span>
                <span class="value">{{orderDataList[0].delivery_no}}</span>
              </div>
              <div class="order-item">
                <span class="label">{{orderDataList[0].label03}}</span>
                <span class="value">{{orderDataList[0].order_date}}</span>
              </div>
            </div>
            <div class="pro-list" :class="{isShow : getProDataList}">
              <div class="pro-data">
                <div class="top">
                  <div class="pro-item">
                    <span class="label">商品料號</span>
                    <span class="value">1-ET-SID-WA-MOR</span>
                  </div>
                  <div class="pro-item">
                    <span class="label">商品數量</span>
                    <span class="value">20</span>
                  </div>
                </div>
                <div class="pro-item">
                  <span class="label">商品名稱</span>
                  <span class="value">檸檬花蜜</span>
                </div>
                <div class="pro-item">
                  <span class="label">商品備註</span>
                  <span class="value">因商品效期長短不一，自消費者收受日計算起商品確保最少10日以上有效日期。</span>
                </div>
              </div>
              <div class="pro-data">
                <div class="top">
                  <div class="pro-item">
                    <span class="label">商品料號</span>
                    <span class="value">1-ET-SID-WA-MOR</span>
                  </div>
                  <div class="pro-item">
                    <span class="label">商品數量</span>
                    <span class="value">20</span>
                  </div>
                </div>
                <div class="pro-item">
                  <span class="label">商品名稱</span>
                  <span class="value">檸檬花蜜</span>
                </div>
                <div class="pro-item">
                  <span class="label">商品備註</span>
                  <span class="value">因商品效期長短不一，自消費者收受日計算起商品確保最少10日以上有效日期。</span>
                </div>
              </div>
              <div class="pro-data">
                <div class="top">
                  <div class="pro-item">
                    <span class="label">商品料號</span>
                    <span class="value">1-ET-SID-WA-MOR</span>
                  </div>
                  <div class="pro-item">
                    <span class="label">商品數量</span>
                    <span class="value">20</span>
                  </div>
                </div>
                <div class="pro-item">
                  <span class="label">商品名稱</span>
                  <span class="value">檸檬花蜜</span>
                </div>
                <div class="pro-item">
                  <span class="label">商品備註</span>
                  <span class="value">因商品效期長短不一，自消費者收受日計算起商品確保最少10日以上有效日期。</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- bottom nav -->
      <div class="nav" v-if="step === 1 || step === 2">
        <Button class="nav-btn" type="text" :class="{'isFocus' : step === 0}" @click="changeStep(0)">
          <font-awesome-icon icon="list-ul" />
          <span class="title">訂單資訊</span>
        </Button>
        <Button class="nav-btn" type="text" :class="{'isFocus' : step === 1}" @click="changeStep(1)">
          <font-awesome-icon icon="truck" />
          <span class="title">貨況追蹤</span>
        </Button>
        <Button class="nav-btn" type="text" :class="{'isFocus' :  step === 2}" @click="changeStep(2)">
          <font-awesome-icon icon="box-open" />
          <span class="title">商品資訊</span>
        </Button>
      </div>
    </div>
  </div>
</template>

<script>
import { app } from '../main'
import Config from '../Config'
// import { validateEmail } from '../filter/validateEmail'
// import { sha512 } from 'js-sha512'
// import CryptoJS from 'crypto-js'
// import LoadingView from '@/components/LoadingView/LoadingView'
//
export default {
  name: 'Tracking',
  props: [],
  components: {},
  data () {
    let routeQuery = this.$route.query
    let orderDataList = [
      {
        label01: '訂單編號',
        order_no: '234-3234', // 訂單編號
        label02: '配送編號',
        delivery_no: 'PKL19092300163', // 配送編號
        label03: '訂單日期',
        order_date: '2019/09/26' // 訂單日期
      },
      {
        label01: '訂單編號',
        order_no: '222-2222', // 訂單編號
        label02: '配送編號',
        delivery_no: 'PKL222222222222', // 配送編號
        label03: '訂單日期',
        order_date: '2019/02/22' // 訂單日期
      },
      {
        label01: '訂單編號',
        order_no: '333-3333', // 訂單編號
        label02: '配送編號',
        delivery_no: 'PKL333333333333', // 配送編號
        label03: '訂單日期',
        order_date: '2019/03/03' // 訂單日期
      },
      {
        label01: '訂單編號',
        order_no: '444-4444', // 訂單編號
        label02: '配送編號',
        delivery_no: 'PKL444444444444', // 配送編號
        label03: '訂單日期',
        order_date: '2019/04/04' // 訂單日期
      },
      {
        label01: '訂單編號',
        order_no: '555-5555', // 訂單編號
        label02: '配送編號',
        delivery_no: 'PKL555555555555', // 配送編號
        label03: '訂單日期',
        order_date: '2019/05/05' // 訂單日期
      }
    ]
    return {
      routeQuery: routeQuery,
      langList: Config.langList,
      version: Config.version,
      LoadingViewIsShow: false,
      //
      media: false,
      searchContent: '',
      searchSuccess: false,
      searchStyle: {
        title: '',
        line: '',
        input: ''
      },
      //
      step: null,
      detail: null,
      // 時間軸
      data: [
        {
          label: '訂單成立',
          date: '2019/06/05',
          time: '13:30:00',
          status: 1, // 是否完成 0:未完成 / 1:完成
          isStartNode: true, // 是否始點
          isEndNode: false // 是否為終點
        },
        {
          label: '揀貨中',
          date: '2019/06/05',
          time: '13:30:00',
          status: 1,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '理貨中',
          date: '2019/06/05',
          time: '13:30:00',
          status: 1,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '待出貨',
          date: '2019/06/05',
          time: '13:30:00',
          status: 1,
          isStartNode: false,
          isEndNode: false
        },
        {
          label: '已送達',
          date: '',
          time: '',
          status: 0,
          isStartNode: false,
          isEndNode: true
        }
      ],
      //
      orderDataList: orderDataList,
      visibility: orderDataList.length > 0 ? orderDataList[0].order_no : null,
      navFocus: 'stepLine',
      getProDataList: true
    }
  },
  watch: {
    lang: function (val) {
      this.setLang(val)
    },
    '$store.state.auth.auth': function (val) {
      if (!val.success) {
        this.msg = val.message
      } else {
        //
        this.$router.replace({ path: Config.firstPath })
      }
    },
    searchSuccess: {
      handler: function (val) {
        //
        if (val) {
          if (this.media) {
            this.searchStyle = {
              title: 'display: none;',
              line: 'display: none;',
              input: 'margin: 24px 0px;'
            }
          } else {
            this.searchStyle = {
              title: 'font-size: 18px; padding-bottom: 24px; letter-spacing: 2px;',
              line: 'height: 0px; margin-top: 0px;',
              input: 'margin-top: 0px; margin-bottom: 24px;'
            }
          }
        } else {
          if (this.media) {
            this.searchStyle = {
              title: 'display: block;',
              line: 'display: block;',
              input: 'margin: 26px 0px;'
            }
          } else {
            this.searchStyle = {
              title: 'font-size: 22px; padding-bottom: 32px; letter-spacing: 12px;',
              line: 'height: 1px; margin-top: 32px',
              input: 'margin-top: 64px; margin-bottom: 180px;'
            }
          }
        }
      },
      deep: true
    },
    visibility: {
      handler: function (val) {
        //
        this.getProDataList = false
        setTimeout(() => {
          this.getProDataList = true
        }, 300)
      },
      deep: true
    },
    step: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    }
    // searchStyle: {
    //   handler: function (val) {
    //     //
    //   },
    //   deep: true
    // }
  },
  methods: {
    search: function () {
      // console.log('有查詢')
      this.searchSuccess = true
      if (this.searchSuccess) {
        this.step = 0
        if (this.media) {
          this.searchStyle = {
            title: 'display: none;',
            line: 'display: none;',
            input: 'margin: 24px 0px;'
          }
        } else {
          this.searchStyle = {
            title: 'font-size: 18px; padding-bottom: 24px; letter-spacing: 2px;',
            line: 'height: 0px; margin-top: 0px;',
            input: 'margin-top: 0px; margin-bottom: 24px;'
          }
        }
        // setTimeout(() => {
        //   this.searchStyle.contenBox = 'opacity: 1; transition: all ease 1s; transform: translateY(0);'
        // }, 500)
      }
    },
    goHome: function () {
      this.searchSuccess = false
      this.step = null
      this.detail = null
    },
    goToStepLine: function (data) {
      this.step = 1
      this.detail = data
    },
    changeStep: function (step) {
      this.step = step
      if (step === 0) {
        this.detail = null
      }
    }
  },
  created () {
    // console.log(window.innerWidth)
    if (window.innerWidth < 768) {
      this.media = true
    }
    // token未過期，則導至內頁
    if (app.$localStorage.get('token')) {
      app.axios.defaults.headers.common['Authorization'] = `${app.$localStorage.get('token')}`
      let apiBaseUrl = `${Config.API.baseURL}:${Config.API.port}${Config.API.rootPath}`
      let api = `${apiBaseUrl}${Config.API.Auth.verifyToken}`
      app.axios.get(api).then((response) => {
        this.$router.replace({ path: Config.firstPath })
      })
    } else {
      //
      // console.log(this.routeQuery)
      if (this.routeQuery.registerCode) {
        // show modal : 註冊驗証中
        this.verifyEmailModal = true
        this.verifyEmailModalMsgType = 0
        // api
        let registerCode = this.routeQuery.registerCode
        this.$store.dispatch('auth/verifyEmail', registerCode).then((r) => {
          // console.log(r)
          if (r.success) {
            // show modal : 註冊驗証成功 (3秒後導頁)
            this.verifyEmailModalMsgType = 1
          } else {
            // show modal : 註冊驗証失敗 (3秒後導頁)
            this.verifyEmailModalMsgType = 2
          }
          // 3秒後導頁
          this.timedCount()
        })
      }
    }
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.Tracking {
  width: 100%;
  height: 100%;
  background: #354361 url("../assets/images/tracking/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    .logo {
      max-width: 172px;
      margin-left: 16px;
    }
  }
  .container {
    width: 80%;
    height: calc(100% - 54px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sm-btn {
    width: 140px;
    font-size: 16px;
    color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #8e96a6;
    border: 1px solid transparent;
    &.bluey-grey {
      background-color: #8e96a6;
    }
  }
  .lg-btn {
    width: 300px;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    border: 1px solid transparent;
    &.yellow {
      background-color: #dca558;
      &:hover {
        background-color: darken(#dca558, 5%);
      }
    }
  }
  .lg-title {
    font-size: 22px;
    color: #fff;
    letter-spacing: 12px;
    font-weight: 400;
    padding-bottom: 32px;
    position: relative;
    transition: all ease 0.3s;
  }
  .sub-title {
    color: #6d7278;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    padding: 16px 1rem;
  }
  .lg-title-line {
    width: 40px;
    height: 1px;
    background-color: #fff;
    margin-top: 32px;
    transition: all ease 0.3s;
  }
  .search-input {
    position: relative;
    margin-top: 64px;
    margin-bottom: 180px;
    /deep/.ivu-btn {
      position: absolute;
      border: solid 1px transparent;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      outline: 1px solid transparent;
      &.ivu-btn-large{
        font-size: 22px;
      }
      &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
    }
    input {
      display: block;
      width: 500px;
      font-size: 18px;
      color: #9d9d9d;
      padding: 4px 16px;
      border: 1px solid transparent;
      border-radius: 20px;
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
      outline: 1px solid transparent;
    }
  }
  /deep/.ivu-card.conten-box {
    padding: 16px 10%;
    width: 100%;
    height: calc(100vh - 236px);
    overflow-y: scroll;
    opacity: 0;
    transition: all ease .3s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -500px;
      &.isShow{
      opacity: 1;
      bottom: 0px;
      transition: all ease .3s;
      position: relative;
      .ivu-card-body{
        height: 100%;
        padding: 0;
      }
    }
  }
  .step-box.column-line {
    width: 100%;
    min-width: 160px;
    width: fit-content;
    height: fit-content;
    padding: 30px 0;
    >span{
      position: relative;
      display: block;
      &:last-of-type {
        .node-box{
          min-height: auto;
        }
      }
    }
    .node-box {
      position: relative;
      display: flex;
      .node {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.type0 {
          background-color: #e0e0e0;
        }
        &.type1 {
          border: solid 2px #354361;
          background-color: #354361;
        }
        /deep/.ivu-icon {
          font-size: 12px;
        }
      }
      .node-space-left {
        position: relative;
        flex: 1;
      }
      .node-space-right {
        position: relative;
        width: 50px;
      }
      .label {
        position: absolute;
        top: -5px;
        right: 10px;
        width: max-content;
        font-family: PingFangTC;
        font-size: 16px;
        font-weight: 400;
        color: #333;
      }
      .date {
        position: absolute;
        top: 18px;
        right: 10px;
        font-family: PingFangTC;
        font-size: 12px;
        font-weight: 400;
        color: #333;
      }
      .time {
        position: absolute;
        top: 0;
        left: 10px;
        font-family: PingFangTC;
        font-size: 14px;
        font-weight: 400;
        color: #333;
      }
    }
    .line-box {
      display: flex;
      .space-left {
        flex: 1;
      }
      .space-center {
        width: 16px;
        .line {
          margin: 0 auto;
          width: 4px;
          height: 70px;
          &.type0 {
            background-color: #e0e0e0;
          }
          &.type1 {
            background-color: #354361;
          }
        }
      }
      .space-right {
        width: 50px;
        font-size: 15px;
        font-weight: 400;
        text-align: right;
        color: #333;
      }
    }
  }
  .step-box.row-line {
    min-width: 510px;
    max-width: 1050px;
    display: flex;
    width: fit-content;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    justify-content: space-between;
    > span {
      display: flex;
      position: relative;
      width: 100%;
      &:last-child {
        width: 66px;
      }
    }
    .node-box {
      position: relative;
      display: flex;
      flex-direction: column;
      .node {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
        position: relative;
        z-index: 1;
        &.type0 {
          background-color: #e0e0e0;
        }
        &.type1 {
          border: solid 2px #354361;
          background-color: #354361;
        }
        /deep/.ivu-icon {
          font-size: 16px;
        }
      }
      .node-space-left {
        position: relative;
        flex: 1;
        order: 2;
        padding-top: 1rem;
      }
      .node-space-right {
        position: relative;
        width: 50px;
        order: 3;
      }
      .label {
        // position: absolute;
        top: -5px;
        right: 10px;
        width: max-content;
        font-family: PingFangTC;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        padding-bottom: 8px;
      }
      .date {
        // position: absolute;
        top: 18px;
        right: 10px;
        font-family: PingFangTC;
        font-size: 12px;
        font-weight: 400;
        color: #333;
      }
      .time {
        // position: absolute;
        top: 0;
        left: 10px;
        font-family: PingFangTC;
        font-size: 12px;
        font-weight: 400;
        color: #333;
      }
    }
    .line-box {
      display: flex;
      position: absolute;
      top: 8px;
      left: 16px;
      width: 100%;
      .space-left {
        width: 0;
      }
      .space-center {
        width: 16px;
        flex: 1;
        .line {
          margin: 0 auto;
          width: 40px;
          height: 4px;
          width: 100%;
          &.type0 {
            background-color: #e0e0e0;
          }
          &.type1 {
            background-color: #354361;
          }
        }
      }
      .space-right {
        width: 0;
        font-size: 15px;
        font-weight: 400;
        text-align: right;
        color: #333;
      }
    }
  }
  .top-box {
    padding: 0 1rem;
  }
  .bottom-box{
    height: calc(100% - 230px);
  }
  .order-box {
    position: relative;
    // height: 100%;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 1px;
      height: 100%;
      background-color: #e8eaec;
      top: 0;
      right: 0;
    }
    .order-list{
      height: calc(100% - 60px);
      overflow-y: scroll;
      padding: 8px 1rem;
    }
    .order {
      margin-bottom: 1rem;
      box-shadow: 0 0 4px 1px #e0e0e0;
      padding: 8px 16px 0;
      &:last-of-type {
        margin-bottom: 0;
      }
      &.isFocus {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 4px;
          height: 100%;
          left: 0;
          top: 0;
          background-color: #354361;
        }
      }
    }
    .order-item {
      display: flex;
      // flex-wrap: wrap;
      .label {
        display: inline-block;
        min-width: 70px;
        padding: 0 8px 8px 0;
      }
      .value {
        padding-bottom: 8px;
      }
      // &:nth-of-type(3n-1) {
      //   padding-bottom: 16px;
      // }
    }
  }
  .pro-box {
    height: 100%;
  }
  .pro-list {
    height: calc(100% - 60px);
    padding: 8px 1rem;
    overflow-y: scroll;
    // position: absolute;
    opacity: 0;
    transition: all ease .3s;
    &.isShow{
      // position: relative;
      opacity: 1;
      transition: all ease .3s;
    }
  }
  .pro-data {
    padding: 1rem 0;
    border-top: 1px solid #e8eaec;
    .top {
      display: flex;
      .pro-item {
        &:first-of-type {
          flex: 1;
        }
        &:last-of-type {
          width: 130px;
        }
      }
    }
    .pro-item {
      display: flex;
      .label {
        display: inline-block;
        min-width: 90px;
        padding: 0 8px 8px 0;
      }
      .value {
        padding-bottom: 8px;
      }
    }
  }
}
  //
@media only screen and (max-width:1200px) {
  .Tracking{
    .container{
      width: 90%;
    }
  }
}
@media only screen and (max-width:992px) {
  .Tracking{
    background-size: cover;
    .container{
      width: 90%;
    }
    /deep/.ivu-card.conten-box{
      padding: 16px;
      max-height: calc(100vh - 218px);
    }
  }
}
@media only screen and (max-width:768px) {
  .Tracking{
    background-size: cover;
    header{
      height: 43px;
      .logo{
        max-width: 138px;
      }
    }
    .container{
      width: 100%;
      height: calc(100% - 43px);
      align-items: start;
    }
    // /deep/.ivu-card.conten-box{
    //   padding: 16px;
    //   max-height: calc(100vh - 218px);
    // }
    .lg-title{
      font-size: 18px;
      padding: 16px 0 16px 34px;
    }
    .lg-title-line{
      width: 18px;
      height: 3px;
      border-radius: 3px;
      margin-top: 0;
      margin-left: 34px;
    }
    .search-input{
      margin: 26px 0;
      padding: 0 34px;
      width: 100%;
      /deep/.ivu-btn{
        width: 34px;
        height: 34px;
        right: 34px;
      }
      input{
        font-size: 16px;
        width: 100%;
      }
    }
    .lg-btn{
      width: 130px;
      font-size: 16px;
      margin: 0 auto;
      letter-spacing: 1.79px;
      font-weight: 500;
    }
    .conten-box{
      width: 100%;
      height: calc(100% - 83px);
      background: #fff;
      padding: 22px 16px;
      overflow-y: scroll;
      &.hasNav{
        padding-bottom: 50px;
      }
    }
    .sub-title{
      font-size: 18px;
      padding: 0 0 8px 8px;
      color: #354361;
      font-weight: 500;
    }
    .result-list{
      .order{
        margin-bottom: 1rem;
        border-bottom: 1px solid #e0e0e0;
        .more-btn {
          position: absolute;
          bottom: 8px;
          right: 8px;
          font-size: 14px;
          color: #787d83;
          cursor: pointer;
          // border: 1px solid #dca558;
          // border-radius: 20px;
          // padding: 0 8px;
          svg{
            position: relative;
            top: 2px;
          }
        }
      }
    }
    .order{
      margin-bottom: .5rem;
      padding: 0 8px;
      position: relative;
    }
    .order-item {
      display: flex;
      font-size: 16px;
      padding-bottom: 8px;
      color: #333;
      .label {
        display: inline-block;
        min-width: 100px;
        padding-right: 8px;
      }
    }
    .nav{
      width: 100%;
      height: 50px;
      background-color: #F8F8F8;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
      position: fixed;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      padding: 0 39px;
      z-index: 100;
      .nav-btn{
        color: #bcbcbc;
        padding: 0;
        .title{
          display: block;
          font-size: 12px;
          font-weight: bold;
        }
        svg{
          color: #bcbcbc;
          font-size: 22px;
        }
        &.isFocus{
          color: #354361;
          svg{
            color: #354361;
          }
        }
      }
      /deep/.ivu-btn-text:hover{
        background-color: transparent;
      }
      /deep/.ivu-btn-text:focus{
        box-shadow: none;
      }
    }
    .pro-list{
      height: auto;
      padding: 0;
      overflow: auto;
    }
    .pro-data{
      font-size: 14px;
      padding: 1rem 8px;
      .top{
        display: block;
        .pro-item{
          &:last-of-type{
            padding-bottom: 8px;
          }
        }
      }
      .pro-item{
        padding-bottom: 8px;
        .label{
          min-width: 100px;
        }
        .label, .value{
          padding-bottom: 0;
        }
        &:last-of-type{
          padding-bottom: 0;
        }
      }
    }
  }
}
@media only screen and (max-width:576px) {
  .Tracking{
    .step-box.column-line {
      width: 100%;
      max-width: 340px;
      height: fit-content;
      padding: 8px;
      display: block;
      .node-box {
        min-height: 70px;
        position: relative;
        z-index: 1;
        .node {
          order: 1;
          /deep/.ivu-icon {
            font-size: 12px;
          }
        }
        .node-space-left {
          order: 2;
          padding-left: 16px;
        }
        .node-space-right {
          order: 3;
          padding-top: 24px;
          width: auto;
        }
        .label {
          position: relative;
          top: 0;
          right: 0;
        }
        .date {
          position: relative;
          top: 0;
          right: 0;
          font-size: 14px;
        }
        .time {
          position: relative;
          left: 0;
          font-size: 14px;
        }
      }
      .line-box {
        position: absolute;
        top: 0;
        z-index: 0;
        .space-center {
          .line {
            height: 70px;
          }
        }
      }
    }
  }
}
</style>
