<template>
  <!-- PutInStep -->
  <div class="timeline">
    <!-- 建立盤點 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===2 ? 'active' : '',
      step===4 ? 'canGo' : '',
      step>4 ? 'finish' : ''
    ]"
    :disabled="step!==4">
      <div class="icon"><font-awesome-icon icon="bell" /></div>
      <div class="content">
        <div class="timeline-title">建立盤點</div>
        <div class="timeline-time">{{data ? data.date_inbound ? data.date_inbound.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 啟動盤點 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===4 ? 'active' : '',
      step===2 || step===5 ? 'canGo' : '',
      step>5 ? 'finish' : ''
    ]"
    :disabled="step!==2 && step!==5"
    @click="setStocktakeStasus('startStocktake')">
      <div class="icon"><font-awesome-icon icon="clipboard-list" /></div>
      <div class="content">
        <div class="timeline-title">啟動盤點</div>
        <div class="timeline-time">{{data ? data.date_quantity_check ? data.date_quantity_check.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 指派盤點員 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===5 ? 'active' : '',
      step===4 ? 'canGo' : '',
      step>6 ? 'finish' : ''
    ]"
    :disabled="step!==4 && step!==7"
    @click="setStocktakeStasus('assigned')">
      <div class="icon"><font-awesome-icon icon="user" /></div>
      <div class="content">
        <div class="timeline-title">指派盤點員</div>
        <div class="timeline-time">{{data ? data.date_quality_check ? data.date_quality_check.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 盤點 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===6 ? 'active' : '',
      step===5 ? 'canGo' : '',
      step>7 ? 'finish' : ''
    ]"
    :disabled="step!==5"
    @click="setStocktakeStasus('complete')">
      <div class="icon"><font-awesome-icon icon="clipboard-check" /></div>
      <div class="content">
        <div class="timeline-title">盤點</div>
        <div class="timeline-time">{{data ? data.date_put_away ? data.date_put_away.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 調整庫存 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===7 ? 'active' : '',
      step===6 ? 'canGo' : '',
      step>=7 ? 'finish' : ''
    ]"
    :disabled="step!==6"
    @click="setStocktakeStasus('confirm')">
      <div class="icon"><font-awesome-icon icon="boxes" /></div>
      <div class="content">
        <div class="timeline-title">確認盤點調整庫存</div>
        <div class="timeline-time">{{data ? data.date_put_away ? data.date_put_away.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
  </div>
</template>

<script>
export default {
  name: 'StocktakeStep',
  props: [
    'data',
    'step'
  ],
  components: {},
  data () {
    //
    return {
      //
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    data: {
      handler: function (val) {
        console.log(val)
      },
      deep: true
    }
  },
  methods: {
    setStocktakeStasus (data) {
      // console.log(data)
      this.$emit('setStocktakeStasus', data)
    }
  },
  created () {
    //
  },
  mounted () {
    //
    console.log(this.step)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.timeline {
  /deep/
  .ivu-btn {
    height: 54px;
    font-size: 16px;
    border: 1px solid #ACACAC;
    color: #ACACAC;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    cursor: not-allowed;
    padding: 0 34px;
    &::before {
      content: "";
      display: none;
      position: absolute;
      width: 54px;
      height: 54px;
      opacity: 1;
      z-index: 0;
      transform: rotate(45deg) scale(.7);
      left: -28px;
      border-left: 1px solid #ACACAC;
      border-bottom: 1px solid #ACACAC;
      border-radius: 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 54px;
      height: 54px;
      opacity: 1;
      transform: rotate(45deg) scale(.7);
      right: -28px;
      top: -1px;
      border-right: 1px solid #ACACAC;
      border-top: 1px solid #ACACAC;
      border-radius: 0;
      z-index: 2;
    }
    >span {
      display: flex;
      align-items: center;
      position: relative;
    }
    .icon {
      margin-right: 8px;
    }
    .timeline-time {
      font-size: 12px;
    }
    &:first-of-type {
      border-radius: 54px 0 0 54px;
      &.active {
        &::before {
          display: none;
        }
      }
    }
    &:last-of-type {
      border-radius: 0 54px 54px 0;
      &::after {
        display: none;
      }
      &.active {
        &::before, &::after {
          display: none;
        }
      }
    }
    &.finish {
      &::before, &::after {
        display: none;
      }
    }
    &.dark {
      border-left: 1px solid #3c3c3c;
      &::before, &::after {
        background: #3c3c3c;
      }
      &:first-of-type {
        border-left: 1px solid #ACACAC;
      }
    }
    &.light {
      border-left: 1px solid #fff;
      &::before, &::after {
        background: #fff;
      }
      &:first-of-type {
        border-left: 1px solid #ACACAC;
      }
    }
    &.active {
      border: 1px solid #e0f0ff!important;
      color: #118cf8;
      background-color: #e0f0ff;
      z-index: 2;
      &::before {
        display: block;
        background: #e0f0ff;
        border: 1px solid #e0f0ff;
      }
      &::after {
        display: block;
        background: #e0f0ff;
        border: 1px solid #e0f0ff;
      }
    }
    &.canGo {
      border: 1px solid #118cf8!important;
      color: #fff;
      background-color: #118cf8;
      cursor: pointer;
      &::before {
        background: #118cf8;
        border: 1px solid #118cf8;
      }
      &::after {
        background: #118cf8;
        border: 1px solid #118cf8;
      }
    }
  }
}
</style>
