<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab ml-3"
        :class="[
          userInfo.themeColor,
          changeContent === 'details' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'details'"
        type="default"
        shape="circle"
      >帳單明細</Button>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="row">
        <div class="col">
          <!-- 單據編號/單號 bill_no -->
          <FloatLabelBox
            :config="{hasContent: (postData.bill_no && postData.bill_no!==''), label: `帳單單號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`bill_no`"
            :defaultValue="postData.bill_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 帳單狀態 bill_status -->
          <FloatLabelBox
            :config="{hasContent: (postData.bill_status && postData.bill_status!==''), label: `帳單狀態`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
            :selectList="billStatusList"
            :code="`bill_status`"
            :defaultValue="postData.bill_status"
            :disabled="true"
            @changeModelEvent="billStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 帳單自編單號 bill_customize_no -->
          <FloatLabelBox
            :config="{hasContent: (postData.bill_customize_no && postData.bill_customize_no!==''), label: `帳單自編單號 *`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`bill_customize_no`"
            :defaultValue="postData.bill_customize_no"
            :isError="error.bill_customize_no"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨主代碼 owner_id -->
          <FloatLabelBox
          :config="{hasContent: (postData.owner_name && postData.owner_name!==''), label: `貨主代碼 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true}"
          :code="`owner_name`"
          :autoCompleteData="ownerList"
          :defaultValue="postData.owner_name"
          :modalTitle="`貨主代碼`"
          :toCloseModal="toCloseOwnerAutocompleteModal"
          keyCode="customerSetup"
          storeKey="customerByCmpCat"
          returnCode="customer_name"
          :showCols="autoCompleteShowOwnerCols"
          :isError="error.owner_id"
          :isRequired="true"
          @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
          @changeModelEvent="ownerAutocompleteChangeEvent"
          @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
          @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
            <div>
              <!-- 貨主代碼-->
              <AutocompleteModal
              keyCode="customerSetup"
              storeKey="customerByCmpCat"
              returnCode="customer_name"
              respondCode= "customer"
              :apiUrlCondition="setAutocompleteOwnerApiUrl"
              :condition="ownerCondition"
              @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
            </div>
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 請款總金額(未稅) bill_price_untax -->
          <FloatLabelBox
            :config="{hasContent: postData.bill_price_untax || postData.bill_price_untax === 0, label: `請款總金額(未稅)`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
            :code="`bill_price_untax`"
            :defaultValue="postData.bill_price_untax"
            :disabled="true"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 稅率 tax_rate -->
          <FloatLabelBox
            :config="{hasContent: postData.tax_rate || postData.tax_rate === 0, label: `稅率 *`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
            :code="`tax_rate`"
            :defaultValue="postData.tax_rate"
            :isError="error.tax_rate"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 請款總金額(含稅) bill_price_taxed -->
          <FloatLabelBox
            :config="{hasContent: postData.bill_price_taxed || postData.bill_price_taxed === 0, label: `請款總金額(含稅)`, hasClearButton: true, type: `InputNumber`, settings: {height: 52}}"
            :code="`bill_price_taxed`"
            :defaultValue="postData.bill_price_taxed"
            :disabled="true"
            @changeModelEvent="inputNumChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨幣代碼 currency_id -->
          <FloatLabelBox
            :config="{hasContent: (postData.currency_code && postData.currency_code!==''), label: `貨幣代碼`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true}"
            :code="`currency_code`"
            :autoCompleteData="currencyList"
            :defaultValue="postData.currency_code"
            :modalTitle="`貨幣代碼`"
            :toCloseModal="toCloseCurrencyAutocompleteModal"
            keyCode="currencyCode"
            storeKey="currencyCode"
            returnCode="currency_code"
            :showCols="autoCompleteShowCurrencyCols"
            @handleEnterSubmit="autocompleteHandleCurrencyEnterSubmitEvent"
            @changeModelEvent="currencyAutocompleteChangeEvent"
            @autoCompleteSearchEvent="currencyAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseCurrencyAutocompleteModal">
              <div>
                <!-- 貨幣代碼-->
                <AutocompleteModal
                keyCode="currencyCode"
                storeKey="currencyCode"
                returnCode="currency_code"
                :apiUrlCondition="setAutocompleteCurrencyApiUrl"
                :condition="currencyCondition"
                @setAutocompleteValueEvent="setAutocompleteCurrencyValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <!-- <div class="col">
          發票號碼 invoice_no
          <FloatLabelBox
            :config="{hasContent: (postData.invoice_no && postData.invoice_no!==''), label: `發票號碼`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`invoice_no`"
            :defaultValue="postData.invoice_no"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          發票期別 invoice_period
          <FloatLabelBox
            :config="{hasContent: (postData.invoice_period && postData.invoice_period!==''), label: `發票期別`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`invoice_period`"
            :defaultValue="postData.invoice_period"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div> -->
        <div class="col">
          <!-- 聯絡人ID -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_firstname && postData.contact_firstname!==''), label: `聯絡人`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}}"
            :code="`contact_firstname`"
            :autoCompleteData="contactList"
            :defaultValue="postData.contact_firstname"
            :modalTitle="`聯絡人`"
            :toCloseModal="toCloseContactAutocompleteModal"
            keyCode="contactSetup"
            storeKey="contact"
            returnCode="contact_firstname"
            :showCols="autoCompleteShowContactCols"
            @handleEnterSubmit="autocompleteHandleContactEnterSubmitEvent"
            @changeModelEvent="contactAutocompleteChangeEvent"
            @autoCompleteSearchEvent="contactAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseContactAutocompleteModal">
              <div>
                <!-- 聯絡人-->
                <AutocompleteModal
                keyCode="contactSetup"
                storeKey="contact"
                returnCode="contact_firstname"
                :apiUrlCondition="setAutocompleteContactApiUrl"
                :condition="contactCondition"
                @setAutocompleteValueEvent="setAutocompleteContactValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 聯絡人電話 contact_phone -->
          <FloatLabelBox
            :config="{hasContent: (postData.contact_phone && postData.contact_phone!==''), label: `聯絡人電話`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`contact_phone`"
            :defaultValue="postData.contact_phone"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 帳單出帳時間 date_billed -->
          <FloatLabelBox
            :config="{hasContent: (postData.date_billed && postData.date_billed!==''), label: `帳單出帳時間 *`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
            :code="`date_billed`"
            :defaultValue="postData.date_billed"
            :isError="error.date_billed"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="datePickerChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 帳單計費起日 date_start -->
          <FloatLabelBox
            :config="{hasContent: (postData.date_start && postData.date_start!==''), label: `帳單計費起日 *`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
            :code="`date_start`"
            :defaultValue="postData.date_start"
            :isError="error.date_start"
            :isRequired="true"
            :errorMsg="errorMsgDateStart"
            :disabled="false"
            @changeModelEvent="datePickerChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 帳單計費迄日 date_end -->
          <FloatLabelBox
            :config="{hasContent: (postData.date_end && postData.date_end!==''), label: `帳單計費迄日 *`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
            :code="`date_end`"
            :defaultValue="postData.date_end"
            :isError="error.date_end"
            :isRequired="true"
            :errorMsg="errorMsgDateEnd"
            :disabled="false"
            @changeModelEvent="datePickerChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 帳單備註 bill_note -->
          <FloatLabelBox
            :config="{hasContent: (postData.bill_note && postData.bill_note!==''), label: `帳單備註`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`bill_note`"
            :defaultValue="postData.bill_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 帳單第二備註 bill_note2 -->
          <FloatLabelBox
            :config="{hasContent: (postData.bill_note2 && postData.bill_note2!==''), label: `帳單第二備註`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`bill_note2`"
            :defaultValue="postData.bill_note2"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div class="pt-4" v-show="changeContent === 'details'">
      <!-- 帳單明細 -->
      <BillSetupDetails
        ref="setBillSetupDetailsList"
        :changeContent="changeContent"
        :detailId="detailId"
        :companyId="companyId"
        :whId="whId"
        :uiId="uiId"
        :ownerId="postData.owner_id"
        :mainCurrencyId="{ currency_id: postData.currency_id, currency_name: postData.currency_name, currency_code: postData.currency_code }"
        @gridDataChangeEvent="billSetupDetailsListChangeEvent"
        @quotationChangeBillEvent="quotationChangeBillEvent"
      ></BillSetupDetails>
    </div>
    <!-- save btn -->
    <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
/**
 * 1.
 * owner_id 需要去拉 查詢 customer_cat = 1 (貨主)
 * 2.
 * vendor_id 需要去拉 查詢 customer_cat = 2 (供應商)
 * 3.
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
// import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import BillSetupDetails from './BillSetupDetails'
//
export default {
  name: 'BillSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'companyId', 'whId', 'uiId', 'timeZoneTimestamp', 'showInpageTab'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    AutocompleteModal,
    BillSetupDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      // modalType = 'clone'
    }
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    //
    let postData = {
      bill_id: this.cloneData ? this.cloneData.bill_id : null, // 帳單ID
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      company_name: this.cloneData ? this.cloneData.company_name : null, // 公司
      wh_id: this.cloneData ? this.cloneData.wh_id : this.whId, // 倉庫ID
      wh_name: this.cloneData ? this.cloneData.wh_name : null, // 倉庫
      bill_no: this.cloneData ? this.cloneData.bill_no : null, // 帳單單號
      bill_status: this.cloneData ? this.cloneData.bill_status : null, // 帳單狀態
      bill_customize_no: this.cloneData ? this.cloneData.bill_customize_no : null, // 帳單自編單號
      owner_name: this.cloneData ? this.cloneData.owner_name : ownerName, // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : ownerId, // 貨主ID
      owner_no: this.cloneData ? this.cloneData.owner_no : null, // 貨主代碼
      bill_price_untax: this.cloneData ? this.cloneData.bill_price_untax : null, // 請款總金額(未稅)
      tax_rate: this.cloneData ? this.cloneData.tax_rate : 0.05, // 稅率
      bill_price_taxed: this.cloneData ? this.cloneData.bill_price_taxed : null, // 請款總金額(含稅)
      currency_id: this.cloneData ? this.cloneData.currency_id : 333, // 貨幣ID
      currency_code: this.cloneData ? this.cloneData.currency_code : 'TWD', // 貨幣代碼
      currency_name: this.cloneData ? this.cloneData.currency_name : 'New Taiwan Dollar', // 貨幣
      // invoice_id: this.cloneData ? this.cloneData.invoice_id : null, // 發票紀錄ID
      // invoice_no: this.cloneData ? this.cloneData.invoice_no : null, // 發票號碼
      // invoice_period: this.cloneData ? this.cloneData.invoice_period : null, // 發票期別
      contact_id: this.cloneData ? this.cloneData.contact_id : null, // 聯絡人ID
      contact_firstname: this.cloneData ? this.cloneData.contact_firstname : null, // 聯絡人
      contact_phone: this.cloneData ? this.cloneData.contact_phone : null, // 聯絡人電話
      date_billed: this.cloneData ? this.cloneData.date_billed : this.getdateEvent(0), // 帳單出帳時間
      date_start: this.cloneData ? this.cloneData.date_start : this.getdateEvent(2), // 帳單計費起日
      date_end: this.cloneData ? this.cloneData.date_end : this.getdateEvent(1), // 帳單計費迄日
      bill_note: this.cloneData ? this.cloneData.bill_note : null, // 帳單備註
      bill_note2: this.cloneData ? this.cloneData.bill_note2 : null, // 帳單第二備註
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      modalType: modalType,
      //
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      /* 貨主代碼 : owner_id */
      ownerId: ownerId,
      ownerName: ownerName,
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      setAutocompleteOwnerApiUrl: { companyId: this.companyId, whId: this.whId, customerCat: 1 },
      /* 貨幣代碼 : currency_code */
      currencyList: [],
      autoCompleteShowCurrencyCols: [
        'currency_name',
        'country_name'
      ],
      toCloseCurrencyAutocompleteModal: false,
      currencyCondition: [],
      setAutocompleteCurrencyApiUrl: {},
      /* 聯絡人 */
      contactList: [],
      autoCompleteShowContactCols: [
        'contact_lastname',
        'contact_code',
        'contact_email'
      ],
      toCloseContactAutocompleteModal: false,
      contactCondition: [],
      setAutocompleteContactApiUrl: { companyId: this.companyId, whId: this.whId },
      /* tab */
      changeContent: this.showInpageTab,
      /* 帳單狀態 */
      billStatusList: [
        {
          label: '待確認',
          value: 10
        },
        {
          label: '帳單作廢',
          value: 15
        },
        {
          label: '待請款',
          value: 20
        },
        {
          label: '帳單作廢',
          value: 25
        },
        {
          label: '待付款',
          value: 30
        },
        {
          label: '待結清',
          value: 35
        },
        {
          label: '已結清',
          value: 40
        }
      ],
      // 帳單明細
      billSetupDetailsList: [],
      //
      postData: postData,
      error: {
        bill_id: false, // 帳單ID
        company_id: false, // 公司ID
        company_name: false, // 公司
        wh_id: false, // 倉庫ID
        wh_name: false, // 倉庫
        bill_no: false, // 帳單單號
        bill_status: false, // 帳單狀態
        bill_customize_no: false, // 帳單自編單號
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        bill_price_untax: false, // 請款總金額(未稅)
        tax_rate: false, // 稅率
        bill_price_taxed: false, // 請款總金額(含稅)
        currency_id: false, // 貨幣ID
        currency_code: false, // 貨幣代碼
        currency_name: false, // 貨幣
        // invoice_id: false, // 發票紀錄ID
        // invoice_no: false, // 發票號碼
        // invoice_period: false, // 發票期別
        contact_id: false, // 聯絡人ID
        contact_firstname: false, // 聯絡人
        contact_phone: false, // 聯絡人電話
        date_billed: false, // 帳單出帳時間
        date_start: false, // 帳單計費起日
        date_end: false, // 帳單計費迄日
        bill_note: false, // 帳單備註
        bill_note2: false, // 帳單第二備註
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false,
      errorMsgDateStart: '*此欄為必填欄位',
      errorMsgDateEnd: '*此欄為必填欄位'
    }
  },
  computed: {
    bill: function () {
      return this.$store.state[`bill`][`bill`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    billSetupDetailsList: {
      handler: function (val) {
        //
        var listLength = val.length
        if (listLength > 0) {
          var billPriceUntax = 0
          for (let i = 0; i < listLength; i++) {
            if (Number(val[i].fee_price_total)) {
              billPriceUntax += Number(val[i].fee_price_total)
            }
          }
          this.postData.bill_price_untax = billPriceUntax
          this.postData.bill_price_taxed = this.postData.bill_price_untax * (this.postData.tax_rate + 1)
        }
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    bill: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          bill_id: val.bill_id || null, // 帳單ID
          company_id: val.company_id || this.companyId, // 公司ID
          company_name: val.company_name || null, // 公司
          wh_id: val.wh_id || this.whId, // 倉庫ID
          wh_name: val.wh_name || null, // 倉庫
          bill_no: val.bill_no || null, // 帳單單號
          bill_status: val.bill_status || null, // 帳單狀態
          bill_customize_no: val.bill_customize_no || null, // 帳單自編單號
          owner_name: val.owner_name || this.ownerName, // 貨主
          owner_id: val.owner_id || this.ownerId, // 貨主ID
          owner_no: val.owner_no || null, // 貨主代碼
          bill_price_untax: val.bill_price_untax || null, // 請款總金額(未稅)
          tax_rate: val.tax_rate || 0.05, // 稅率
          bill_price_taxed: val.bill_price_taxed || null, // 請款總金額(含稅)
          currency_id: val.currency_id || 333, // 貨幣ID
          currency_code: val.currency_code || 'TWD', // 貨幣代碼
          currency_name: val.currency_name || 'New Taiwan Dollar', // 貨幣
          // invoice_id: val.invoice_id || null, // 發票紀錄ID
          // invoice_no: val.invoice_no || null, // 發票號碼
          // invoice_period: val.invoice_period || null, // 發票期別
          contact_id: val.contact_id || null, // 聯絡人ID
          contact_firstname: val.contact_firstname || null, // 聯絡人
          contact_phone: val.contact_phone || null, // 聯絡人電話
          date_billed: val.date_billed || this.getdateEvent(0), // 帳單出帳時間
          date_start: val.date_start || this.getdateEvent(2), // 帳單計費起日
          date_end: val.date_end || this.getdateEvent(1), // 帳單計費迄日
          bill_note: val.bill_note || null, // 帳單備註
          bill_note2: val.bill_note2 || null, // 帳單第二備註
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.bill_customize_no) {
          this.error.bill_customize_no = false
        }
        if (val.owner_id) {
          this.error.owner_id = false
        }
        if (val.tax_rate) {
          this.error.tax_rate = false
        }
        if (val.date_billed) {
          this.error.date_billed = false
        }
        if (val.date_start) {
          this.error.date_start = false
        }
        if (val.date_end) {
          this.error.date_end = false
        }
      },
      deep: true
    }
  },
  methods: {
    billSetupDetailsListChangeEvent: function (data) {
      // console.log(data)
      this.billSetupDetailsList = data
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.bill_id = null
      this.postData.bill_no = null // 單據編號/單號
      this.postData.bill_status = 10 // 帳單狀態
      this.save('clone')
    },
    changeBillStatus: function (newBillStatus) {
      this.postData.bill_status = newBillStatus
      this.save()
    },
    save: async function (action = null) {
      //
      this.$emit('changeLoadingViewIsShowEvent', true)
      // 檢查
      var isError = false
      if (!this.postData.bill_customize_no || this.postData.bill_customize_no === '') {
        this.error.bill_customize_no = true
        this.$Notice.warning({
          title: '帳單自編單號未填'
        })
        isError = true
      }
      if (!this.postData.owner_id || this.postData.owner_id === '') {
        this.error.owner_id = true
        this.$Notice.warning({
          title: '貨主未填'
        })
        isError = true
      }
      if (!this.postData.tax_rate || this.postData.tax_rate === '') {
        this.error.tax_rate = true
        this.$Notice.warning({
          title: '稅率未填'
        })
        isError = true
      }
      if (!this.postData.date_billed || this.postData.date_billed === '') {
        this.error.date_billed = true
        this.$Notice.warning({
          title: '帳單出帳時間未填'
        })
        isError = true
      }
      if (!this.postData.date_start || this.postData.date_start === '') {
        this.errorMsgDateStart = '*此欄為必填欄位'
        this.error.date_start = true
        this.$Notice.warning({
          title: '帳單計費起日未填'
        })
        isError = true
      }
      if (!this.postData.date_end || this.postData.date_end === '') {
        this.errorMsgDateEnd = '*此欄為必填欄位'
        this.error.date_end = true
        this.$Notice.warning({
          title: '帳單計費迄日未填'
        })
        isError = true
      }
      if (isError) {
        this.$emit('changeLoadingViewIsShowEvent', false)
        return
      }
      //
      var postData = {
        company_id: this.companyId, // 用戶資訊取得
        wh_id: this.whId, // 用戶資訊取得
        bill_customize_no: this.postData.bill_customize_no, // 帳單自編單號
        owner_id: this.postData.owner_id, // 貨主
        tax_rate: this.postData.tax_rate, // 稅率
        date_billed: this.postData.date_billed, // 帳單出帳時間
        date_start: this.postData.date_start, // 帳單計費起日
        date_end: this.postData.date_end // 帳單計費迄日
      }
      if (this.postData.contact_id) {
        postData.contact_id = this.postData.contact_id // 聯絡人
      }
      if (this.postData.bill_price_untax) {
        postData.bill_price_untax = this.postData.bill_price_untax // 請款總金額(未稅)
      }
      if (this.postData.bill_price_taxed) {
        postData.bill_price_taxed = this.postData.bill_price_taxed // 請款總金額(含稅)
      }
      if (this.postData.currency_id) {
        postData.currency_id = this.postData.currency_id // 貨幣ID
      }
      if (this.postData.bill_note) {
        postData.bill_note = this.postData.bill_note // 帳單備註
      }
      if (this.postData.bill_note2) {
        postData.bill_note2 = this.postData.bill_note2 // 帳單第二備註
      }
      // console.log(postData)
      //
      try {
        switch (this.step) {
          case 1:
            // create
            // console.log('create')
            // 存主檔
            postData.bill_status = 10
            let createRes = await this.$store.dispatch('bill/create', postData)
            // console.log(createRes)
            if (createRes.httpStatus === 200 || createRes.httpStatus === 201) {
              this.postData.bill_id = createRes.respondCode.additionals.bill.bill_id
              this.postData.bill_no = createRes.respondCode.additionals.bill.bill_no
              this.postData.bill_status = createRes.respondCode.additionals.bill.bill_status
              // 存明細
              let detailsListLength = this.billSetupDetailsList.length
              if (detailsListLength > 0) {
                for (let i = 0; i < detailsListLength; i++) {
                  await this.saveBillSetupDetailsList(this.billSetupDetailsList[i], i)
                }
              }
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', 2, this.postData.bill_id, this.postData.bill_status)
              this.detailsListIsError = false
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              // 警告提示
              this.$Notice.error({
                title: '儲存失敗',
                desc: `${createRes.data.respondCode.debugInfo}`,
                duration: 30
              })
              this.detailsListIsError = false
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
          case 2:
            // update
            // console.log(postData)
            this.$emit('changeLoadingViewIsShowEvent', true)
            if (action === 'clone') {
              // update : clone
              // console.log('update : clone')
              let date = new Date()
              let timestamp = date.getTime()
              //
              postData.bill_status = 10
              postData.bill_customize_no = `${this.postData.bill_customize_no}_Clone${timestamp}`
              // console.log(1, this.billSetupDetailsList)
              let createRes2 = await this.$store.dispatch('bill/create', postData)
              // console.log(createRes2)
              if (createRes2.httpStatus === 200 || createRes2.httpStatus === 201) {
                this.postData.bill_id = createRes2.respondCode.additionals.bill.bill_id
                this.postData.bill_no = createRes2.respondCode.additionals.bill.bill_no
                this.postData.bill_status = createRes2.respondCode.additionals.bill.bill_status
                this.postData.bill_customize_no = createRes2.respondCode.additionals.bill.bill_customize_no
                // 存明細
                let detailsListLength = this.billSetupDetailsList.length
                // console.log(2, this.billSetupDetailsList)
                if (detailsListLength > 0) {
                  for (let i = 0; i < detailsListLength; i++) {
                    await this.saveBillSetupDetailsList(this.billSetupDetailsList[i], i)
                  }
                }
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', 2, this.postData.bill_id, this.postData.bill_status)
                this.detailsListIsError = false
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else {
                // 警告提示
                this.$Notice.error({
                  title: '儲存失敗',
                  desc: `${createRes2.data.respondCode.debugInfo}`,
                  duration: 30
                })
                this.detailsListIsError = false
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            } else {
              // update
              // console.log('update')
              // 存明細
              let detailsListLength = this.billSetupDetailsList.length
              // console.log(detailsListLength)
              if (detailsListLength > 0) {
                for (let i = 0; i < detailsListLength; i++) {
                  if (!this.billSetupDetailsList[i].billd_id) {
                    await this.saveBillSetupDetailsList(this.billSetupDetailsList[i], i)
                  } else {
                    await this.updateBillSetupDetailsList(this.billSetupDetailsList[i], i)
                  }
                }
              }
              // 如果明細存失敗，不改狀態
              // console.log(this.detailsListIsError)
              if (this.detailsListIsError) {
                this.postData.bill_status = 10
                delete postData.bill_status
              }
              // 存主檔
              if (this.postData.bill_status === 20) {
              // console.log(detailsListLength)
                postData.bill_status = this.postData.bill_status
                if (detailsListLength === 0) {
                  this.$Notice.error({
                    title: '沒有帳單明細無法確認帳單',
                    duration: 30
                  })
                  isError = true
                }
              }
              if (!this.postData.bill_price_untax || this.postData.bill_price_untax === '') {
                postData.bill_price_untax = -1 // 請款總金額(未稅)
              }
              if (!this.postData.bill_price_taxed || this.postData.bill_price_taxed === '') {
                postData.bill_price_taxed = -1 // 請款總金額(含稅)
              }
              if (!this.postData.currency_id || this.postData.currency_id === '') {
                postData.currency_id = -1 // 貨幣ID
              }
              if (!this.postData.bill_note || this.postData.bill_note === '') {
                postData.bill_note = 'null' // 帳單備註
              }
              if (!this.postData.bill_note2 || this.postData.bill_note2 === '') {
                postData.bill_note2 = 'null' // 帳單第二備註
              }
              if (isError) {
                this.detailsListIsError = false
                this.postData.bill_status = 10
                delete postData.bill_status
                this.$emit('changeLoadingViewIsShowEvent', false)
                return
              }
              //
              // console.log(postData)
              let updateRes = await this.$store.dispatch('bill/update', { postData: postData, detailId: this.postData.bill_id })
              // console.log(updateRes)
              if (updateRes.httpStatus === 200 || updateRes.httpStatus === 201) {
                // 成功修改提示
                this.$Notice.success({
                  title: '成功修改'
                })
                this.detailsListIsError = false
                this.$emit('changeLoadingViewIsShowEvent', false)
                if (this.postData.bill_status === 20) {
                  this.$emit('toStepEvent', 4, this.postData.bill_id, this.postData.bill_status)
                }
              } else {
                this.detailsListIsError = false
                this.postData.bill_status = 10
                this.$emit('changeLoadingViewIsShowEvent', false)
                this.$Notice.error({
                  title: '更新失敗'
                })
              }
            }
            break
          case 3:
            // create : clone
            // console.log('create : clone')
            postData.bill_status = 10
            let createRes3 = await this.$store.dispatch('bill/create', postData)
            // console.log(createRes3)
            if (createRes3.httpStatus === 200 || createRes3.httpStatus === 201) {
              this.postData.bill_id = createRes3.respondCode.additionals.bill.bill_id
              this.postData.bill_no = createRes3.respondCode.additionals.bill.bill_no
              this.postData.bill_status = createRes3.respondCode.additionals.bill.bill_status
              // 存明細
              let detailsListLength = this.billSetupDetailsList.length
              // console.log(this.billSetupDetailsList)
              if (detailsListLength > 0) {
                for (let i = 0; i < detailsListLength; i++) {
                  await this.saveBillSetupDetailsList(this.billSetupDetailsList[i], i)
                }
              }
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', 2, this.postData.bill_id, this.postData.bill_status)
              this.detailsListIsError = false
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              // 警告提示
              this.$Notice.error({
                title: '儲存失敗',
                desc: `${createRes3.data.respondCode.debugInfo}`,
                duration: 30
              })
              this.detailsListIsError = false
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
        }
      } catch (err) {
        // console.log(err)
        this.detailsListIsError = false
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    // 新增明細
    saveBillSetupDetailsList: async function (data, index) {
      // console.log('新增明細')
      // 檢查
      let isError = false
      if (!data.feeId.fee_id || data.feeId.fee_id === '') {
        this.$Notice.error({
          title: '費用項目未填',
          duration: 30
        })
        isError = true
      }
      if (!data.actual_use_nums || data.actual_use_nums === '') {
        this.$Notice.error({
          title: '實際使用數量未填',
          duration: 30
        })
        isError = true
      }
      if (!data.feeCalUnit.code_id || data.feeCalUnit.code_id === '') {
        this.$Notice.error({
          title: '計價數量單位未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_date_unit_name || data.fee_cal_date_unit_name === '') {
        this.$Notice.error({
          title: '計價日期單位未填',
          duration: 30
        })
        isError = true
      }
      if (Number(data.fee_price_per_unit) < 0 || data.fee_price_per_unit === '' || data.fee_price_per_unit === null) {
        this.$Notice.error({
          title: '每個計價單位費用金額未填',
          duration: 30
        })
        isError = true
      }
      if (Number(data.fee_price_total) < 0 || data.fee_price_total === '' || data.fee_price_total === null) {
        this.$Notice.error({
          title: '此項目/明細總價未填',
          duration: 30
        })
        isError = true
      }
      if (!data.currencyId.currency_id || data.currencyId.currency_id === '') {
        this.$Notice.error({
          title: '貨幣代碼未填',
          duration: 30
        })
        isError = true
      }
      //
      if (isError) {
        this.detailsListIsError = isError
        return
      }
      //
      var detailsList = {
        bill_id: this.postData.bill_id,
        billd_seq: parseInt(data.billd_seq),
        fee_id: data.feeId.fee_id,
        actual_use_nums: parseInt(data.actual_use_nums),
        fee_cal_unit: data.feeCalUnit.code_id,
        fee_cal_date_unit: data.fee_cal_date_unit_name,
        fee_price_per_unit: Number(data.fee_price_per_unit) || 0,
        fee_price_total: Number(data.fee_price_total) || 0,
        currency_id: data.currencyId.currency_id
      }
      if (data.fee_item_desc && data.fee_item_desc !== '') {
        detailsList.fee_item_desc = data.fee_item_desc
      }
      if (data.billd_note && data.billd_note !== '') {
        detailsList.billd_note = data.billd_note
      }
      // console.log(detailsList)
      try {
        var detailCreateRes = await this.$store.dispatch(`billDetail/create`, detailsList)
        // console.log(detailCreateRes)
        if (detailCreateRes.httpStatus === 200 || detailCreateRes.httpStatus === 201) {
          data.billd_id = detailCreateRes.respondCode.additionals.billDetail.billd_id
        } else {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細新增失敗`,
            desc: `${detailCreateRes.data.respondCode.debugInfo}`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.detailsListIsError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細新增失敗`,
          duration: 30
        })
      }
    },
    // 修改明細
    updateBillSetupDetailsList: async function (data, index) {
      // 檢查
      let isError = false
      if (!data.feeId.fee_id || data.feeId.fee_id === '') {
        this.$Notice.error({
          title: '費用項目未填',
          duration: 30
        })
        isError = true
      }
      if (!data.actual_use_nums || data.actual_use_nums === '') {
        this.$Notice.error({
          title: '實際使用數量未填',
          duration: 30
        })
        isError = true
      }
      if (!data.feeCalUnit.code_id || data.feeCalUnit.code_id === '') {
        this.$Notice.error({
          title: '計價數量單位未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_date_unit_name || data.fee_cal_date_unit_name === '') {
        this.$Notice.error({
          title: '計價日期單位未填',
          duration: 30
        })
        isError = true
      }
      if (Number(data.fee_price_per_unit) < 0 || data.fee_price_per_unit === '' || data.fee_price_per_unit === null) {
        this.$Notice.error({
          title: '每個計價單位費用金額未填',
          duration: 30
        })
        isError = true
      }
      if (Number(data.fee_price_total) < 0 || data.fee_price_total === '' || data.fee_price_total === null) {
        this.$Notice.error({
          title: '此項目/明細總價未填',
          duration: 30
        })
        isError = true
      }
      if (!data.currencyId.currency_id || data.currencyId.currency_id === '') {
        this.$Notice.error({
          title: '貨幣代碼未填',
          duration: 30
        })
        isError = true
      }
      //
      if (isError) {
        this.detailsListIsError = isError
        return
      }
      //
      let detailsList = {
        bill_id: this.postData.bill_id,
        billd_seq: parseInt(data.billd_seq),
        fee_id: data.feeId.fee_id,
        actual_use_nums: parseInt(data.actual_use_nums),
        fee_cal_unit: data.feeCalUnit.code_id,
        fee_cal_date_unit: data.fee_cal_date_unit_name,
        fee_price_per_unit: Number(data.fee_price_per_unit) || 0,
        fee_price_total: Number(data.fee_price_total) || 0,
        currency_id: data.currencyId.currency_id,
        fee_item_desc: data.fee_item_desc || 'null',
        billd_note: data.billd_note || 'null'
      }
      //
      try {
        // console.log(detailsList)
        let detailUpdateRes = await this.$store.dispatch(`billDetail/update`, { postData: detailsList, detailId: data.billd_id })
        // console.log(detailUpdateRes)
        if (detailUpdateRes.httpStatus !== 200 && detailUpdateRes.httpStatus !== 201) {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細更新失敗`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.detailsListIsError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細更新失敗`,
          duration: 30
        })
      }
    },
    quotationChangeBillEvent: async function (data) {
      // console.log(data)
      this.$emit('changeLoadingViewIsShowEvent', true)
      // 檢查
      var isError = false
      if (!this.postData.bill_customize_no || this.postData.bill_customize_no === '') {
        this.error.bill_customize_no = true
        this.$Notice.warning({
          title: '帳單自編單號未填'
        })
        isError = true
      }
      if (!this.postData.owner_id || this.postData.owner_id === '') {
        this.error.owner_id = true
        this.$Notice.warning({
          title: '貨主未填'
        })
        isError = true
      }
      if (!this.postData.tax_rate || this.postData.tax_rate === '') {
        this.error.tax_rate = true
        this.$Notice.warning({
          title: '稅率未填'
        })
        isError = true
      }
      if (!this.postData.date_billed || this.postData.date_billed === '') {
        this.error.date_billed = true
        this.$Notice.warning({
          title: '帳單出帳時間未填'
        })
        isError = true
      }
      if (!this.postData.date_start || this.postData.date_start === '') {
        this.errorMsgDateStart = '*此欄為必填欄位'
        this.error.date_start = true
        this.$Notice.warning({
          title: '帳單計費起日未填'
        })
        isError = true
      }
      if (!this.postData.date_end || this.postData.date_end === '') {
        this.errorMsgDateEnd = '*此欄為必填欄位'
        this.error.date_end = true
        this.$Notice.warning({
          title: '帳單計費迄日未填'
        })
        isError = true
      }
      // else if (this.postData.date_end > yesterday) {
      //   this.errorMsgDateEnd = '帳單計費迄日最早為昨天'
      //   this.error.date_end = true
      //   this.$Notice.warning({
      //     title: '帳單計費迄日最早為昨天'
      //   })
      //   isError = true
      // }
      if (isError) {
        this.$emit('changeLoadingViewIsShowEvent', false)
        return
      }
      //
      let postData = {
        bill_status: 10,
        bill_customize_no: this.postData.bill_customize_no, // 帳單自編單號
        owner_id: this.postData.owner_id, // 貨主
        tax_rate: this.postData.tax_rate, // 稅率
        date_billed: this.postData.date_billed, // 帳單出帳時間
        date_start: this.postData.date_start, // 帳單計費起日
        date_end: this.postData.date_end, // 帳單計費迄日
        is_enabled: 1,
        quotation_ids: []
      }
      if (this.postData.contact_id) {
        postData.contact_id = this.postData.contact_id // 聯絡人
      }
      if (this.postData.bill_price_untax) {
        postData.bill_price_untax = this.postData.bill_price_untax // 請款總金額(未稅)
      }
      if (this.postData.bill_price_taxed) {
        postData.bill_price_taxed = this.postData.bill_price_taxed // 請款總金額(含稅)
      }
      if (this.postData.currency_id) {
        postData.currency_id = this.postData.currency_id // 貨幣ID
      }
      if (this.postData.bill_note) {
        postData.bill_note = this.postData.bill_note // 帳單備註
      }
      if (this.postData.bill_note2) {
        postData.bill_note2 = this.postData.bill_note2 // 帳單第二備註
      }
      //
      let dataLength = data.length
      for (let i = 0; i < dataLength; i++) {
        postData.quotation_ids.push(data[i].quotation_id)
      }
      //
      let creatRes = await this.$store.dispatch('bill/autoDetail', postData)
      console.log(creatRes)
      if (creatRes.httpStatus === 200 || creatRes.httpStatus === 201) {
        if (creatRes.respondCode.additionals.bill.length === 0) {
          this.$Notice.warning({
            title: '轉換完畢',
            desc: '報價單處理中，無法轉為帳單，請明日再試',
            duration: 30
          })
          this.$emit('changeLoadingViewIsShowEvent', false)
          return
        }
        this.postData.bill_id = creatRes.respondCode.additionals.bill[0].bill_id
        this.postData.bill_status = creatRes.respondCode.additionals.bill[0].bill_status
        // 存明細
        let detailsListLength = this.billSetupDetailsList.length
        if (detailsListLength > 0) {
          for (let i = 0; i < detailsListLength; i++) {
            await this.saveBillSetupDetailsList(this.billSetupDetailsList[i], i)
          }
        }
        this.$emit('toStepEvent', 2, this.postData.bill_id, this.postData.bill_status)
        setTimeout(() => {
          // console.log(this.detailId)
          this.$refs.setBillSetupDetailsList.setBillSetupDetailsList('getGridData')
        }, 1000)
      } else if (creatRes.httpStatus !== 401) {
        this.$Notice.error({
          title: '轉換失敗',
          desc: `${creatRes.respondCode.debugInfo}`,
          duration: 30
        })
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        bill_id: null, // 帳單ID
        company_id: this.companyId, // 公司ID
        company_name: null, // 公司
        wh_id: this.whId, // 倉庫ID
        wh_name: null, // 倉庫
        bill_no: null, // 帳單單號
        bill_status: null, // 帳單狀態
        bill_customize_no: null, // 帳單自編單號
        owner_name: this.ownerName || '', // 貨主
        owner_id: this.ownerId, // 貨主ID
        owner_no: null, // 貨主代碼
        bill_price_untax: null, // 請款總金額(未稅)
        tax_rate: null, // 稅率
        bill_price_taxed: null, // 請款總金額(含稅)
        currency_id: 333, // 貨幣ID
        currency_code: 'TWD', // 貨幣代碼
        currency_name: 'New Taiwan Dollar', // 貨幣
        // invoice_id: null, // 發票紀錄ID
        // invoice_no: null, // 發票號碼
        // invoice_period: null, // 發票期別
        contact_id: null, // 聯絡人ID
        contact_firstname: '', // 聯絡人
        contact_phone: null, // 聯絡人電話
        date_billed: this.getdateEvent(0), // 帳單出帳時間
        date_start: this.getdateEvent(2), // 帳單計費起日
        date_end: this.getdateEvent(1), // 帳單計費迄日
        bill_note: null, // 帳單備註
        bill_note2: null, // 帳單第二備註
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        bill_id: false, // 帳單ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        bill_no: false, // 帳單單號
        bill_status: false, // 帳單狀態
        bill_customize_no: false, // 帳單自編單號
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        bill_price_untax: false, // 請款總金額(未稅)
        tax_rate: false, // 稅率
        bill_price_taxed: false, // 請款總金額(含稅)
        currency_id: false, // 貨幣ID
        currency_code: false, // 貨幣代碼
        currency_name: false, // 貨幣
        contact_id: false, // 聯絡人ID
        contact_firstname: false, // 聯絡人
        contact_phone: false, // 聯絡人電話
        date_billed: false, // 帳單出帳時間
        date_start: false, // 帳單計費起日
        date_end: false, // 帳單計費迄日
        bill_note: false, // 帳單備註
        bill_note2: false, // 帳單第二備註
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initBillSetupDetailsList: function () {
      this.billSetupDetailsList = []
      this.$refs.setBillSetupDetailsList.setBillSetupDetailsList('init')
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initBillSetupDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (billId) {
      // console.log(billId)
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'bill_id',
            queryValue: billId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`bill/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        this.postData.owner_no = data.val ? data.val.customer_no : ''
        // console.log(this.postData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 1 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_id = data.data.customer_id
      this.postData.owner_no = data.data.customer_no
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 貨幣代碼  currency_code */
    autocompleteHandleCurrencyEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.currencyList = []
    },
    currencyAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : null
        this.postData.currency_name = data.val ? data.val.currency_name : null
        this.postData.currency_id = data.val ? data.val.currency_id : null
      }
      // console.log([data.val])
      if (data.val) {
        this.currencyList = [data.val]
      } else {
        this.currencyList = []
      }
    },
    currencyAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`${data.storeKey}`]
          //
          this.currencyList = list
        }
      })
    },
    setAutocompleteCurrencyValue: function (data) {
      // console.log(data)
      this.postData.currency_code = data.data[data.returnCode]
      this.postData.currency_name = data.data.currency_name
      this.postData.currency_id = data.data.currency_id
      //
      this.toCloseCurrencyAutocompleteModal = true
    },
    setToCloseCurrencyAutocompleteModal: function (bol) {
      this.toCloseCurrencyAutocompleteModal = bol
    },
    /* 聯絡人 : contact_id */
    autocompleteHandleContactEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.contactList = []
    },
    contactAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.contact_id = data.val ? data.val.contact_id : ''
        this.postData.contact_phone = data.val ? data.val.contact_phone : ''
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.contactList = [data.val]
      } else {
        this.contactList = []
      }
    },
    contactAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[data.storeKey]
          //
          this.contactList = list
        }
      })
    },
    setAutocompleteContactValue: function (data) {
      // console.log(data)
      this.postData.contact_firstname = data.data[data.returnCode]
      this.postData.contact_id = data.data.contact_id
      this.postData.contact_phone = data.data.contact_phone
      //
      this.toCloseContactAutocompleteModal = true
    },
    setToCloseContactAutocompleteModal: function (bol) {
      this.toCloseContactAutocompleteModal = bol
    },
    /* 帳單狀態 */
    billStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.bill_status = data.val
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    getdateEvent (num) {
      let today = new Date()
      let date = new Date(today)
      date.setDate(date.getDate() - num)
      let yyyy = date.getFullYear()
      let mm = date.getMonth() + 1
      let dd = date.getDate()
      let needDay = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd
      return needDay
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`bill/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        .label-box {
          flex: 2;
          font-size: 20px;
          font-weight: 400;
          color: #515a6e;
        }
        .body-box {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding: 0;
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .backBtn {
    position: absolute;
    right: 45px;
    bottom: 200px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .item-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .label-box {
      flex: 1;
      font-size: 18px;
      color: #000000;
    }
    .body-box {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 0 50px 0 0;
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
