<template>
  <div class="content-box">
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 單據編號/單號 quotation_no -->
          <FloatLabelBox
            :config="{hasContent: (postData.quotation_no && postData.quotation_no!==''), label: `報價單號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`quotation_no`"
            :defaultValue="postData.quotation_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 報價單狀態 quotation_status -->
          <FloatLabelBox
            :config="{hasContent: (postData.quotation_status && postData.quotation_status!==''), label: `報價單狀態`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
            :selectList="quotationStatusList"
            :code="`quotation_status`"
            :defaultValue="postData.quotation_status"
            :disabled="true"
            @changeModelEvent="quotationStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 指派報價員 user_id -->
          <FloatLabelBox
            :config="{hasContent: (user_name && user_name!==''), label: `指派報價員`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true }"
            :code="`user_name`"
            :autoCompleteData="userList"
            :defaultValue="user_name"
            :modalTitle="`指派報價員`"
            :toCloseModal="toCloseUserAutocompleteModal"
            keyCode="userSetup"
            storeKey="userQueryByCompanyIdWhId"
            returnCode="user_name"
            :showCols="autoCompleteShowUserCols"
            :isError="error.user_id"
            :isRequired="true"
            :disabled="true"
            @handleEnterSubmit="autocompleteHandleUserEnterSubmitEvent"
            @changeModelEvent="userAutocompleteChangeEvent"
            @autoCompleteSearchEvent="userAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseUserAutocompleteModal">
              <div>
                <!-- 貨主代碼-->
                <AutocompleteModal
                keyCode="userSetup"
                storeKey="userQueryByCompanyIdWhId"
                returnCode="user_name"
                respondCode= "user"
                :condition="userCondition"
                :apiUrlCondition="setAutocompleteUserApiUrl"
                @setAutocompleteValueEvent="setAutocompleteUserValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
      </div>
    </div>
    <div class="pt-4">
      <!-- 報價單明細 -->
      <QuotationCloseSetupDetails
        ref="initQuotationCloseSetupDetailsList"
        :detailId="detailId"
        :companyId="companyId"
        :whId="whId"
        :uiId="uiId"
        @gridDataChangeEvent="quotationCloseSetupDetailsListChangeEvent"
        @changeAssignedUserEvent="changeAssignedUserEvent"
      ></QuotationCloseSetupDetails>
    </div>
    <!-- save btn -->
    <!-- <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div> -->
    <!-- save modal -->
    <!-- <ComfirmSaveModal
      :modalType="modalType"
      :canNotClone="true"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal> -->
    <!-- remove modal -->
    <!-- <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal> -->
  </div>
</template>

<script>
/**
 * 1.
 * owner_id 需要去拉 查詢 customer_cat = 1 (貨主)
 * 2.
 * vendor_id 需要去拉 查詢 customer_cat = 2 (供應商)
 * 3.
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
// import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
// import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
// import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import QuotationCloseSetupDetails from './QuotationCloseSetupDetails'
//
export default {
  name: 'QuotationCloseSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'companyId', 'whId', 'uiId', 'timeZoneTimestamp', 'showInpageTab'],
  components: {
    FloatLabelBox,
    // ComfirmSaveModal,
    // ComfirmRemoveModal,
    AutocompleteModal,
    QuotationCloseSetupDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      // modalType = 'clone'
    }
    //
    let postData = {
      quotation_id: this.cloneData ? this.cloneData.quotation_id : '', // 報價單ID
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      company_name: this.cloneData ? this.cloneData.company_name : '', // 公司
      wh_id: this.cloneData ? this.cloneData.wh_id : this.whId, // 倉庫ID
      wh_name: this.cloneData ? this.cloneData.wh_name : '', // 倉庫
      quotation_no: '', // 報價單號
      quotation_status: '', // 報價單狀態
      change_start_date: '', // 異動起日
      change_end_date: '', // 異動迄日
      owner_name: this.cloneData ? this.cloneData.owner_name : '', // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : '', // 貨主ID
      owner_no: this.cloneData ? this.cloneData.owner_no : '', // 貨主代碼
      storage_loc_code: this.cloneData ? this.cloneData.storage_loc_code : '', // 分區編號
      product_code: this.cloneData ? this.cloneData.product_code : '', // 商品代碼
      pc_code: this.cloneData ? this.cloneData.pc_code : '', // 商品類別代碼
      pc_name: this.cloneData ? this.cloneData.pc_name : '', // 商品類別
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      modalType: modalType,
      //
      // comfirmRemoveModal: false,
      // comfirmSaveModal: false,
      /* 指派報價員 : user_id */
      userList: [],
      autoCompleteShowUserCols: [
        'user_no'
      ],
      toCloseUserAutocompleteModal: false,
      userCondition: [],
      setAutocompleteUserApiUrl: { companyId: this.companyId, whId: this.whId },
      /* tab */
      // changeContent: this.showInpageTab,
      /* 報價單狀態 */
      quotationStatusList: [
        {
          label: '待啟動',
          value: 10
        },
        {
          label: '報價取消',
          value: 15
        },
        {
          label: '待指派',
          value: 20
        },
        {
          label: '待報價',
          value: 30
        },
        {
          label: '已結束',
          value: 50
        }
      ],
      // 報價單明細
      quotationCloseSetupDetailsList: [],
      //
      user_id: null, // 指派報價員代碼
      user_name: null, // 指派報價員名稱
      postData: postData,
      error: {
        quotation_id: false, // 報價單ID
        company_id: false, // 公司ID
        company_name: false, // 公司
        wh_id: false, // 倉庫ID
        wh_name: false, // 倉庫
        quotation_no: false, // 報價單號
        quotation_status: false, // 報價單狀態
        change_start_date: false, // 異動起日
        change_end_date: false, // 異動迄日
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        storage_loc_code: false, // 分區編號
        product_code: false, // 商品代碼
        pc_code: false, // 商品類別代碼
        pc_name: false, // 商品類別
        user_id: false, // 指派報價員代碼
        user_name: false, // 指派報價員名稱
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false
    }
  },
  computed: {
    stocktake: function () {
      return this.$store.state[`stocktake`][`stocktake`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
    },
    quotationCloseSetupDetailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    stocktake: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          quotation_id: val.quotation_id || null, // 報價單ID
          company_id: val.company_id || this.companyId, // 公司ID
          wh_id: val.wh_id || this.whId, // 倉庫ID
          quotation_no: val.quotation_no || null, // 報價單號
          quotation_status: val.quotation_status || null, // 報價單狀態
          change_start_date: val.change_start_date ? this.changeToLocalTime(val.change_start_date) : null, // 異動起日
          change_end_date: val.change_end_date ? this.changeToLocalTime(val.change_end_date) : null, // 異動迄日
          owner_name: val.owner_name || null, // 貨主
          owner_id: val.owner_id || null, // 貨主ID
          owner_no: val.owner_no || null, // 貨主代碼
          storage_loc_code: val.storage_loc_code || null, // 分區編號
          product_code: val.product_code || null, // 商品代碼
          pc_code: val.pc_code || null, // 商品類別代碼
          pc_name: val.pc_name || null, // 商品類別
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    user_id: {
      handler: function (val) {
        //
        if (val) {
          this.error.user_id = false
        }
      },
      deep: true
    }
  },
  methods: {
    quotationCloseSetupDetailsListChangeEvent: function (data) {
      // console.log(data)
      this.quotationCloseSetupDetailsList = data
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        quotation_id: null, // 報價單ID
        company_id: this.companyId, // 公司ID
        company_name: null, // 公司
        wh_id: this.whId, // 倉庫ID
        wh_name: null, // 倉庫
        quotation_no: null, // 報價單號
        quotation_status: null, // 報價單狀態
        change_start_date: null, // 異動起日
        change_end_date: null, // 異動迄日
        owner_name: null, // 貨主
        owner_id: null, // 貨主ID
        owner_no: null, // 貨主代碼
        storage_loc_code: null, // 分區編號
        product_code: null, // 商品代碼
        pc_code: null, // 商品類別代碼
        pc_name: null, // 商品類別
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        quotation_id: false, // 報價單ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        quotation_no: false, // 報價單號
        quotation_status: false, // 報價單狀態
        change_start_date: false, // 異動起日
        change_end_date: false, // 異動迄日
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        storage_loc_code: false, // 分區編號
        product_code: false, // 商品代碼
        pc_code: false, // 商品類別代碼
        pc_name: false, // 商品類別
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initQuotationCloseSetupDetailsList: function () {
      this.quotationCloseSetupDetailsList = []
      this.$refs.initQuotationCloseSetupDetailsList.initQuotationCloseSetupDetailsList()
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initQuotationCloseSetupDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (stocktakeId) {
      // console.log(stocktakeId)
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'quotation_id',
            queryValue: stocktakeId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`quotation/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 報價單狀態 */
    quotationStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.quotation_status = data.val
    },
    /* 指派報價員 : user_id */
    autocompleteHandleUserEnterSubmitEvent: function (data) {
      // console.log(data)
      this[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.userList = []
    },
    userAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this[data.code] = data.val ? data.val[data.returnCode] : ''
        this.user_id = data.val ? data.val.user_id : ''
        // console.log(this.user_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.userList = [data.val]
      } else {
        this.userList = []
      }
    },
    userAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`user`]
          //
          this.userList = list
        }
      })
    },
    setAutocompleteUserValue: function (data) {
      // console.log(data)
      //
      this.user_name = data.data[data.returnCode]
      this.user_id = data.data.user_id
      // console.log(this.user_id)
      //
      this.toCloseUserAutocompleteModal = true
    },
    setToCloseUserAutocompleteModal: function (bol) {
      this.toCloseUserAutocompleteModal = bol
    },
    changeAssignedUserEvent: function (id, name) {
      // console.log(id)
      this.user_id = id
      this.user_name = name
    },
    //
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`quotation/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .backBtn {
    position: absolute;
    right: 45px;
    bottom: 200px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .item-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .label-box {
      flex: 1;
      font-size: 18px;
      color: #000000;
    }
    .body-box {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 0 50px 0 0;
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
