<template>
  <div class="content-box">
    <div class="tab-box">
      <Button
        class="tab"
        :class="[
          userInfo.themeColor,
          changeContent === 'main' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'main'"
        type="default"
        shape="circle"
      >基本資料</Button>
      <Button
        class="tab ml-3"
        :class="[
          userInfo.themeColor,
          changeContent === 'details' ? 'isFocus' : ''
        ]"
        @click="changeContent = 'details'"
        type="default"
        shape="circle"
      >報價單明細</Button>
    </div>
    <div class="top-box pt-4" v-show="changeContent === 'main'">
      <div class="row">
        <div class="col">
          <!-- 單據編號/單號 quotation_no -->
          <FloatLabelBox
            :config="{hasContent: (postData.quotation_no && postData.quotation_no!==''), label: `報價單號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`quotation_no`"
            :defaultValue="postData.quotation_no"
            :disabled="true"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 報價單狀態 quotation_status -->
          <FloatLabelBox
            :config="{hasContent: (postData.quotation_status && postData.quotation_status!==''), label: `報價單狀態`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
            :selectList="quotationStatusList"
            :code="`quotation_status`"
            :defaultValue="postData.quotation_status"
            :disabled="true"
            @changeModelEvent="quotationStatusListChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 報價單自編單號 quotation_customize_no -->
          <FloatLabelBox
            :config="{hasContent: (postData.quotation_customize_no && postData.quotation_customize_no!==''), label: `報價單自編單號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`quotation_customize_no`"
            :defaultValue="postData.quotation_customize_no"
            :isError="error.quotation_customize_no"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨主代碼 owner_id -->
          <FloatLabelBox
          :config="{hasContent: (postData.owner_name && postData.owner_name!==''), label: `貨主代碼`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true}"
          :code="`owner_name`"
          :autoCompleteData="ownerList"
          :defaultValue="postData.owner_name"
          :modalTitle="`貨主代碼`"
          :toCloseModal="toCloseOwnerAutocompleteModal"
          keyCode="customerSetup"
          storeKey="customerByCmpCat"
          returnCode="customer_name"
          :showCols="autoCompleteShowOwnerCols"
          :isError="error.owner_id"
          :isRequired="true"
          @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
          @changeModelEvent="ownerAutocompleteChangeEvent"
          @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
          @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
            <div>
              <!-- 貨主代碼-->
              <AutocompleteModal
              keyCode="customerSetup"
              storeKey="customerByCmpCat"
              returnCode="customer_name"
              respondCode= "customer"
              :apiUrlCondition="setAutocompleteOwnerApiUrl"
              :condition="ownerCondition"
              @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
            </div>
          </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 貨幣代碼 currency_id -->
          <FloatLabelBox
            :config="{hasContent: (postData.currency_code && postData.currency_code!==''), label: `貨幣代碼`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true}"
            :code="`currency_code`"
            :autoCompleteData="currencyList"
            :defaultValue="postData.currency_code"
            :modalTitle="`貨幣代碼`"
            :toCloseModal="toCloseCurrencyAutocompleteModal"
            keyCode="currencyCode"
            storeKey="currencyCode"
            returnCode="currency_code"
            :showCols="autoCompleteShowCurrencyCols"
            @handleEnterSubmit="autocompleteHandleCurrencyEnterSubmitEvent"
            @changeModelEvent="currencyAutocompleteChangeEvent"
            @autoCompleteSearchEvent="currencyAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseCurrencyAutocompleteModal">
              <div>
                <!-- 貨幣代碼-->
                <AutocompleteModal
                keyCode="currencyCode"
                storeKey="currencyCode"
                returnCode="currency_code"
                :apiUrlCondition="setAutocompleteCurrencyApiUrl"
                :condition="currencyCondition"
                @setAutocompleteValueEvent="setAutocompleteCurrencyValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <!-- 報價單生效時間 date_start -->
          <FloatLabelBox
            :config="{hasContent: (postData.date_start && postData.date_start!==''), label: `報價單生效時間 *`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
            :code="`date_start`"
            :defaultValue="postData.date_start"
            :isError="error.date_start"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="datePickerChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 報價單到期時間 date_end -->
          <FloatLabelBox
            :config="{hasContent: (postData.date_end && postData.date_end!==''), label: `報價單到期時間 *`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
            :code="`date_end`"
            :defaultValue="postData.date_end"
            :isError="error.date_end"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="datePickerChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 是否可延用報價 -->
          <div class="label-box">是否可延用報價</div>
            <div class="body-box">
              <i-Switch v-model="postData.can_extend" size="large" :true-value="1" :false-value="0">
                <span slot="open">是</span>
                <span slot="close">否</span>
              </i-Switch>
            </div>
        </div>
        <div class="col">
          <!-- 報價單備註 quotation_note -->
          <FloatLabelBox
            :config="{hasContent: (postData.quotation_note && postData.quotation_note!==''), label: `報價單備註`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`quotation_note`"
            :defaultValue="postData.quotation_note"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
        <div class="col">
          <!-- 報價單第二備註 quotation_note2 -->
          <FloatLabelBox
            :config="{hasContent: (postData.quotation_note2 && postData.quotation_note2!==''), label: `報價單第二備註`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
            :code="`quotation_note2`"
            :defaultValue="postData.quotation_note2"
            :disabled="false"
            @changeModelEvent="inputTxtChangeEvent"
          ></FloatLabelBox>
        </div>
      </div>
    </div>
    <div class="pt-4" v-show="changeContent === 'details'">
      <!-- 報價單明細 -->
      <QuotationSetupDetails
        ref="initQuotationSetupDetailsList"
        :changeContent="changeContent"
        :detailId="detailId"
        :companyId="companyId"
        :whId="whId"
        :uiId="uiId"
        :mainCurrencyId="{ currency_id: postData.currency_id, currency_name: postData.currency_name, currency_code: postData.currency_code }"
        @gridDataChangeEvent="quotationSetupDetailsListChangeEvent"
      ></QuotationSetupDetails>
    </div>
    <!-- save btn -->
    <div class="saveBtn" @click="comfirmSave">
      <font-awesome-icon icon="save" size="2x"/>
    </div>
    <!-- save modal -->
    <ComfirmSaveModal
      :modalType="modalType"
      :comfirmSaveModal="comfirmSaveModal"
      v-on:comfirmSaveModalCancelEvent="comfirmSaveModalCancel"
      v-on:comfirmSaveModalSaveEvent="comfirmSaveModalSave"
      v-on:comfirmSaveModalCloneEvent="comfirmSaveModalClone"
      v-on:setComfirmSaveModalEvent="setComfirmSaveModal"
    ></ComfirmSaveModal>
    <!-- remove modal -->
    <ComfirmRemoveModal
      :comfirmRemoveModal="comfirmRemoveModal"
      v-on:comfirmRemoveModalCancelEvent="comfirmRemoveModalCancel"
      v-on:comfirmRemoveModalOkEvent="comfirmRemoveModalOk"
      v-on:setComfirmRemoveModalEvent="setComfirmRemoveModal"
    ></ComfirmRemoveModal>
  </div>
</template>

<script>
/**
 * 1.
 * owner_id 需要去拉 查詢 customer_cat = 1 (貨主)
 * 2.
 * vendor_id 需要去拉 查詢 customer_cat = 2 (供應商)
 * 3.
 * pallet_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * stock_unit: 需要去拉 setting_code 資料表， 查詢 code_type = 3 (包裝單位) [呼叫 Code API]
 * shipment_policy: 需要去拉 setting_code 資料表， 查詢 code_type = 2 (出貨原則) [呼叫 Code API]
 * code_type = 1 客戶類別
 * code_type = 2 出貨原則
 * code_type = 3 商品包裝方式
 * code_type = 4 入庫類別
 * code_type = 5 入庫取消類別
 * code_type = 6 調整庫存類別
 * code_type = 7 付款方式
 * code_type = 8 付款條件
 * code_type = 9 可存放溫度類別
 * code_type = 10 可存放濕度類別
 * length_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 1 (長度尺寸單位) [呼叫 Unit API]
 * volume_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 3 (容積單位) [呼叫 Unit API]
 * weight_unit: 需要去拉 setting_unit 資料表， 查詢 unit_type = 5 (重量單位) [呼叫 Unit API]
 */
// import Config from '@/Config'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import ComfirmSaveModal from '@/components/ComfirmSaveModal/ComfirmSaveModal'
import ComfirmRemoveModal from '@/components/ComfirmRemoveModal/ComfirmRemoveModal'
import QuotationSetupDetails from './QuotationSetupDetails'
//
export default {
  name: 'QuotationSetupAdd',
  props: ['step', 'detailId', 'cloneData', 'companyId', 'whId', 'uiId', 'timeZoneTimestamp', 'showInpageTab'],
  components: {
    FloatLabelBox,
    ComfirmSaveModal,
    ComfirmRemoveModal,
    AutocompleteModal,
    QuotationSetupDetails
  },
  data () {
    let modalType = null
    if (this.step === 1) {
      modalType = 'create'
    }
    if (this.step === 2) {
      modalType = 'update'
    }
    if (this.step === 3) {
      // modalType = 'clone'
    }
    //
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    //
    let postData = {
      quotation_id: this.cloneData ? this.cloneData.quotation_id : '', // 報價單ID
      company_id: this.cloneData ? this.cloneData.company_id : this.companyId, // 公司ID
      company_name: this.cloneData ? this.cloneData.company_name : '', // 公司
      wh_id: this.cloneData ? this.cloneData.wh_id : this.whId, // 倉庫ID
      wh_name: this.cloneData ? this.cloneData.wh_name : '', // 倉庫
      quotation_no: this.cloneData ? this.cloneData.quotation_no : '', // 報價單號
      quotation_status: this.cloneData ? this.cloneData.quotation_status : '', // 報價單狀態
      quotation_customize_no: this.cloneData ? this.cloneData.quotation_customize_no : '', // 報價單自編單號
      owner_name: this.cloneData ? this.cloneData.owner_name : ownerName, // 貨主
      owner_id: this.cloneData ? this.cloneData.owner_id : ownerId, // 貨主ID
      owner_no: this.cloneData ? this.cloneData.owner_no : '', // 貨主代碼
      currency_id: this.cloneData ? this.cloneData.currency_id : 333, // 貨幣ID
      currency_code: this.cloneData ? this.cloneData.currency_code : 'TWD', // 貨幣代碼
      currency_name: this.cloneData ? this.cloneData.currency_name : 'New Taiwan Dollar', // 貨幣
      date_start: this.cloneData ? this.cloneData.date_start : '', // 報價單生效時間
      date_end: this.cloneData ? this.cloneData.date_end : '', // 報價單到期時間
      can_extend: this.cloneData ? this.cloneData.can_extend : 0, // 是否可延用報價
      quotation_note: this.cloneData ? this.cloneData.quotation_note : '', // 報價單備註
      quotation_note2: this.cloneData ? this.cloneData.quotation_note2 : '', // 報價單第二備註
      created_at: '', // 建立時間
      update_at: '' // 更新時間
    }
    //
    return {
      modalType: modalType,
      //
      comfirmRemoveModal: false,
      comfirmSaveModal: false,
      /* 貨主代碼 : owner_id */
      ownerId: ownerId,
      ownerName: ownerName,
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      setAutocompleteOwnerApiUrl: { companyId: this.companyId, whId: this.whId, customerCat: 1 },
      /* 貨幣代碼 : currency_code */
      currencyList: [],
      autoCompleteShowCurrencyCols: [
        'currency_name',
        'country_name'
      ],
      toCloseCurrencyAutocompleteModal: false,
      currencyCondition: [],
      setAutocompleteCurrencyApiUrl: {},
      /* tab */
      changeContent: this.showInpageTab,
      /* 報價單狀態 */
      quotationStatusList: [
        {
          label: '待確認',
          value: 10
        },
        {
          label: '報價作廢',
          value: 15
        },
        {
          label: '已確認',
          value: 20
        },
        {
          label: '報價作廢',
          value: 25
        }
      ],
      // 報價單明細
      quotationSetupDetailsList: [],
      //
      postData: postData,
      error: {
        quotation_id: false, // 報價單ID
        company_id: false, // 公司ID
        company_name: false, // 公司
        wh_id: false, // 倉庫ID
        wh_name: false, // 倉庫
        quotation_no: false, // 報價單號
        quotation_status: false, // 報價單狀態
        quotation_customize_no: false, // 報價單自編單號
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        currency_id: false, // 貨幣ID
        currency_code: false, // 貨幣代碼
        currency_name: false, // 貨幣
        date_start: false, // 報價單生效時間
        date_end: false, // 報價單到期時間
        can_extend: false, // 是否可延用報價
        quotation_note: false, // 報價單備註
        quotation_note2: false, // 報價單第二備註
        created_at: false, // 建立時間
        update_at: false // 更新時間
      },
      detailsListIsError: false
    }
  },
  computed: {
    quotation: function () {
      return this.$store.state[`quotation`][`quotation`] || {}
    }
  },
  watch: {
    step: function (newVal, oldVal) {
      // console.log(newVal)
      if (newVal === 1 && oldVal !== 0) {
        this.init()
      }
      if (newVal === 2 && oldVal === 1) {
        setTimeout(() => {
          this.$emit('changeLoadingViewIsShowEvent', false)
        }, 1000)
      }
    },
    quotationSetupDetailsList: {
      handler: function (val) {
        //
      },
      deep: true
    },
    detailId: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    cloneData: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    quotation: {
      handler: function (val) {
        // console.log(val)
        this.postData = {
          quotation_id: val.quotation_id || null, // 報價單ID
          company_id: val.company_id || this.companyId, // 公司ID
          wh_id: val.wh_id || this.whId, // 倉庫ID
          quotation_no: val.quotation_no || null, // 報價單號
          quotation_status: val.quotation_status || null, // 報價單狀態
          quotation_customize_no: val.quotation_customize_no || null, // 報價單自編單號
          owner_name: val.owner_name || this.ownerName, // 貨主
          owner_id: val.owner_id || this.ownerId, // 貨主ID
          owner_no: val.owner_no || null, // 貨主代碼
          currency_id: val.currency_id || 333, // 貨幣ID
          currency_code: val.currency_code || 'TWD', // 貨幣代碼
          currency_name: val.currency_name || 'New Taiwan Dollar', // 貨幣
          date_start: val.date_start ? this.changeToLocalTime(val.date_start) : null, // 報價單生效時間
          date_end: val.date_end ? this.changeToLocalTime(val.date_end) : null, // 報價單到期時間
          can_extend: val.can_extend || 0, // 是否可延用報價
          quotation_note: val.quotation_note || null, // 報價單備註
          quotation_note2: val.quotation_note2 || null, // 報價單第二備註
          created_at: val.created_at || null, // 建立時間
          update_at: val.update_at || null // 更新時間
        }
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        //
        if (val.quotation_customize_no) {
          this.error.quotation_customize_no = false
        }
        if (val.owner_id) {
          this.error.owner_id = false
        }
        if (val.date_start) {
          this.error.date_start = false
        }
        if (val.date_end) {
          this.error.date_end = false
        }
      },
      deep: true
    }
  },
  methods: {
    quotationSetupDetailsListChangeEvent: function (data) {
      // console.log(data)
      this.quotationSetupDetailsList = data
    },
    back: function () {
      //
      this.$emit('backEvent', 0)
    },
    comfirmRemove: function (type, item) {
      this.comfirmRemoveModal = true
      this.removeType = type
      this.removeItem = item
    },
    setComfirmRemoveModal: function (bol) {
      this.comfirmRemoveModal = bol
      if (!bol) {
        this.removeType = null
        this.removeItem = null
      }
    },
    comfirmRemoveModalCancel: function (bol) {
      this.comfirmRemoveModal = bol
      this.removeType = null
      this.removeItem = null
    },
    comfirmRemoveModalOk: function (bol) {
      this.comfirmRemoveModal = bol
      //
      let type = this.removeType
      let item = JSON.parse(JSON.stringify(this.removeItem))
      //
      this.removeType = null
      this.removeItem = null
      //
      this.remove(type, item)
    },
    comfirmSave: function () {
      this.comfirmSaveModal = true
    },
    setComfirmSaveModal: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalCancel: function (bol) {
      this.comfirmSaveModal = bol
    },
    comfirmSaveModalSave: function (bol) {
      this.comfirmSaveModal = bol
      this.save()
    },
    comfirmSaveModalClone: function (bol) {
      this.comfirmSaveModal = bol
      this.postData.quotation_id = null
      this.postData.quotation_no = null // 單據編號/單號
      this.postData.quotation_status = 10 // 報價單狀態
      // this.initQuotationSetupDetailsList()
      this.save('clone')
    },
    changeQuotationStatus: function (newQuotationStatus) {
      this.postData.quotation_status = newQuotationStatus
      this.save()
    },
    save: async function (action = null) {
      //
      this.$emit('changeLoadingViewIsShowEvent', true)
      // 檢查
      var isError = false
      // let detailsListLength = this.quotationSetupDetailsList.length
      if (!this.postData.quotation_customize_no || this.postData.quotation_customize_no === '') {
        this.error.quotation_customize_no = true
        this.$Notice.error({
          title: '報價單自編單號未填'
        })
        isError = true
      }
      if (!this.postData.owner_id || this.postData.owner_id === '') {
        this.error.owner_id = true
        this.$Notice.error({
          title: '貨主代碼未填'
        })
        isError = true
      }
      if (!this.postData.date_start || this.postData.date_start === '') {
        this.error.date_start = true
        this.$Notice.error({
          title: '報價單生效時間未填',
          duration: 30
        })
        isError = true
      }
      if (!this.postData.date_end || this.postData.date_end === '') {
        this.error.date_end = true
        this.$Notice.error({
          title: '報價單到期時間未填',
          duration: 30
        })
        isError = true
      }
      if (isError) {
        this.$emit('changeLoadingViewIsShowEvent', false)
        return
      }
      //
      var postData = {
        company_id: this.companyId, // 用戶資訊取得
        wh_id: this.whId, // 用戶資訊取得
        quotation_customize_no: this.postData.quotation_customize_no, // 報價單自編單號
        owner_id: this.postData.owner_id, // 貨主
        can_extend: this.postData.can_extend, // 是否可延用報價
        date_start: this.postData.date_start, // 報價單生效時間
        date_end: this.postData.date_end // 報價單到期時間
      }
      if (this.postData.currency_id) {
        postData.currency_id = this.postData.currency_id // 貨幣ID
      }
      if (this.postData.quotation_note) {
        postData.quotation_note = this.postData.quotation_note // 報價單備註
      }
      if (this.postData.quotation_note2) {
        postData.quotation_note2 = this.postData.quotation_note2 // 報價單第二備註
      }
      // console.log(postData)
      //
      try {
        switch (this.step) {
          case 1:
            // create
            // console.log('create')
            // 存主檔
            postData.quotation_status = 10
            let createRes1 = await this.$store.dispatch('quotation/create', postData)
            // console.log(createRes1)
            if (createRes1.httpStatus === 200 || createRes1.httpStatus === 201) {
              this.postData.quotation_id = createRes1.respondCode.additionals.quotation.quotation_id
              this.postData.quotation_no = createRes1.respondCode.additionals.quotation.quotation_no
              this.postData.quotation_status = createRes1.respondCode.additionals.quotation.quotation_status
              // 存明細
              let detailsListLength = this.quotationSetupDetailsList.length
              if (detailsListLength > 0) {
                for (let i = 0; i < detailsListLength; i++) {
                  await this.saveQuotationSetupDetailsList(this.quotationSetupDetailsList[i], i)
                }
              }
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', 2, this.postData.quotation_id, this.postData.quotation_status)
              this.detailsListIsError = false
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              // 警告提示
              this.$Notice.error({
                title: '儲存失敗',
                desc: `${createRes1.data.respondCode.debugInfo}`,
                duration: 30
              })
              this.detailsListIsError = false
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
          case 2:
            // update
            // console.log(postData)
            this.$emit('changeLoadingViewIsShowEvent', true)
            if (action === 'clone') {
              // update : clone
              // console.log('update : clone')
              let date = new Date()
              let timestamp = date.getTime()
              //
              postData.quotation_status = 10
              postData.quotation_customize_no = `${this.postData.quotation_customize_no}_Clone${timestamp}`
              // console.log(1, this.quotationSetupDetailsList)
              let createRes2 = await this.$store.dispatch('quotation/create', postData)
              // console.log(createRes2)
              if (createRes2.httpStatus === 200 || createRes2.httpStatus === 201) {
                this.postData.quotation_id = createRes2.respondCode.additionals.quotation.quotation_id
                this.postData.quotation_no = createRes2.respondCode.additionals.quotation.quotation_no
                this.postData.quotation_status = createRes2.respondCode.additionals.quotation.quotation_status
                this.postData.quotation_customize_no = createRes2.respondCode.additionals.quotation.quotation_customize_no
                // 存明細
                let detailsListLength = this.quotationSetupDetailsList.length
                // console.log(2, this.quotationSetupDetailsList)
                if (detailsListLength > 0) {
                  for (let i = 0; i < detailsListLength; i++) {
                    await this.saveQuotationSetupDetailsList(this.quotationSetupDetailsList[i], i)
                  }
                }
                // 警告提示
                this.$Notice.success({
                  title: '新增成功'
                })
                this.$emit('toStepEvent', 2, this.postData.quotation_id, this.postData.quotation_status)
                this.detailsListIsError = false
                this.$emit('changeLoadingViewIsShowEvent', false)
              } else {
                // 警告提示
                this.$Notice.error({
                  title: '儲存失敗',
                  desc: `${createRes2.data.respondCode.debugInfo}`,
                  duration: 30
                })
                this.detailsListIsError = false
                this.$emit('changeLoadingViewIsShowEvent', false)
              }
            } else {
              // update
              // console.log('update')
              // 存明細
              let detailsListLength = this.quotationSetupDetailsList.length
              // console.log(detailsListLength)
              if (detailsListLength > 0) {
                for (let i = 0; i < detailsListLength; i++) {
                  if (!this.quotationSetupDetailsList[i].qd_id) {
                    await this.saveQuotationSetupDetailsList(this.quotationSetupDetailsList[i], i)
                  } else {
                    await this.updateQuotationSetupDetailsList(this.quotationSetupDetailsList[i], i)
                  }
                }
              }
              // 如果明細存失敗，不改狀態
              // console.log(this.detailsListIsError)
              if (this.detailsListIsError) {
                this.postData.quotation_status = 10
              }
              // 存主檔
              postData.quotation_status = this.postData.quotation_status
              if (this.postData.quotation_status === 20) {
              // console.log(detailsListLength)
                if (detailsListLength === 0) {
                  this.$Notice.error({
                    title: '沒有報價單明細無法確認報價',
                    duration: 30
                  })
                  isError = true
                }
              }
              if (!this.postData.currency_id || this.postData.currency_id === '') {
                postData.currency_id = -1 // 貨幣ID
              }
              if (!this.postData.date_start || this.postData.date_start === '') {
                postData.date_start = 'null' // 報價單生效時間
              }
              if (!this.postData.date_end || this.postData.date_end === '') {
                postData.date_end = 'null' // 報價單到期時間
              }
              if (!this.postData.quotation_note || this.postData.quotation_note === '') {
                postData.quotation_note = 'null' // 報價單備註
              }
              if (!this.postData.quotation_note2 || this.postData.quotation_note2 === '') {
                postData.quotation_note2 = 'null' // 報價單第二備註
              }
              if (isError) {
                this.detailsListIsError = false
                this.postData.quotation_status = 10
                this.$emit('changeLoadingViewIsShowEvent', false)
                return
              }
              //
              // console.log(postData)
              let updateRes = await this.$store.dispatch('quotation/update', { postData: postData, detailId: this.postData.quotation_id })
              // console.log(updateRes)
              if (updateRes.httpStatus === 200 || updateRes.httpStatus === 201) {
                // 成功修改提示
                this.$Notice.success({
                  title: '成功修改'
                })
                this.detailsListIsError = false
                this.$emit('changeLoadingViewIsShowEvent', false)
                if (this.postData.quotation_status === 20) {
                  this.$emit('toStepEvent', 4, this.postData.quotation_id, this.postData.quotation_status)
                }
              } else {
                this.detailsListIsError = false
                this.postData.quotation_status = 10
                this.$emit('changeLoadingViewIsShowEvent', false)
                this.$Notice.error({
                  title: '更新失敗'
                })
              }
            }
            break
          case 3:
            // create : clone
            // console.log('create : clone')
            postData.quotation_status = 10
            let createRes3 = await this.$store.dispatch('quotation/create', postData)
            // console.log(createRes3)
            if (createRes3.httpStatus === 200 || createRes3.httpStatus === 201) {
              this.postData.quotation_id = createRes3.respondCode.additionals.quotation.quotation_id
              this.postData.quotation_no = createRes3.respondCode.additionals.quotation.quotation_no
              this.postData.quotation_status = createRes3.respondCode.additionals.quotation.quotation_status
              // 存明細
              let detailsListLength = this.quotationSetupDetailsList.length
              // console.log(this.quotationSetupDetailsList)
              if (detailsListLength > 0) {
                for (let i = 0; i < detailsListLength; i++) {
                  await this.saveQuotationSetupDetailsList(this.quotationSetupDetailsList[i], i)
                }
              }
              // 警告提示
              this.$Notice.success({
                title: '新增成功'
              })
              this.$emit('toStepEvent', 2, this.postData.quotation_id, this.postData.quotation_status)
              this.detailsListIsError = false
              this.$emit('changeLoadingViewIsShowEvent', false)
            } else {
              // 警告提示
              this.$Notice.error({
                title: '儲存失敗',
                desc: `${createRes3.data.respondCode.debugInfo}`,
                duration: 30
              })
              this.detailsListIsError = false
              this.$emit('changeLoadingViewIsShowEvent', false)
            }
            break
        }
      } catch (err) {
        // console.log(err)
        this.detailsListIsError = false
        this.$emit('changeLoadingViewIsShowEvent', false)
      }
    },
    // 新增明細
    saveQuotationSetupDetailsList: async function (data, index) {
      // console.log('新增明細')
      // 檢查
      let isError = false
      if (!data.fee_id || data.fee_id === '') {
        this.$Notice.error({
          title: '費用項目未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_base_start || data.fee_cal_base_start === '') {
        this.$Notice.error({
          title: '計價基準(起)未填',
          duration: 30
        })
        isError = true
      }
      if (!data.feeCalUnit.code_id || data.feeCalUnit.code_id === '') {
        this.$Notice.error({
          title: '計價數量單位未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_date_unit_name || data.fee_cal_date_unit_name === '') {
        this.$Notice.error({
          title: '計價日期單位未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_day || data.fee_cal_day === '') {
        this.$Notice.error({
          title: '費用計算結帳日(系統/程式結帳日)未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_day_tocustomer || data.fee_cal_day_tocustomer === '') {
        this.$Notice.error({
          title: '費用計算結帳日(跟客人結帳日)未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_method || data.fee_cal_method === '') {
        this.$Notice.error({
          title: '費用計算進位方式未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_method_digits || data.fee_cal_method_digits === '') {
        this.$Notice.error({
          title: '費用計算進位位數未填',
          duration: 30
        })
        isError = true
      }
      if (data.fee_price_per_unit < 0 || data.fee_price_per_unit === '' || data.fee_price_per_unit === null) {
        this.$Notice.error({
          title: '每個計價單位費用金額未填',
          duration: 30
        })
        isError = true
      }
      //
      if (isError) {
        this.detailsListIsError = isError
        return
      }
      //
      var detailsList = {
        quotation_id: this.postData.quotation_id,
        qd_seq: parseInt(data.qd_seq),
        fee_id: data.fee_id,
        fee_cal_base_start: parseInt(data.fee_cal_base_start),
        fee_cal_unit: data.feeCalUnit.code_id,
        fee_cal_date_unit: data.fee_cal_date_unit_name,
        fee_cal_day: parseInt(data.fee_cal_day),
        fee_cal_day_tocustomer: parseInt(data.fee_cal_day_tocustomer),
        fee_cal_method: data.fee_cal_method_digits,
        fee_cal_method_digits: data.fee_cal_method_digits,
        fee_price_per_unit: parseInt(data.fee_price_per_unit) || 0,
        currency_id: data.currencyId.currency_id
      }
      if (data.fee_item_desc && data.fee_item_desc !== '') {
        detailsList.fee_item_desc = data.fee_item_desc
      }
      if (data.fee_cal_base_end && data.fee_cal_base_end !== '') {
        detailsList.fee_cal_base_end = parseInt(data.fee_cal_base_end)
      }
      if (data.qd_note && data.qd_note !== '') {
        detailsList.qd_note = data.qd_note
      }
      // console.log(detailsList)
      try {
        var detailCreateRes = await this.$store.dispatch(`quotationDetail/create`, detailsList)
        // console.log(detailCreateRes)
        if (detailCreateRes.httpStatus === 200 || detailCreateRes.httpStatus === 201) {
          data.qd_id = detailCreateRes.respondCode.additionals.quotationDetail.qd_id
        } else {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細新增失敗`,
            desc: `${detailCreateRes.data.respondCode.debugInfo}`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.detailsListIsError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細新增失敗`,
          duration: 30
        })
      }
    },
    // 修改明細
    updateQuotationSetupDetailsList: async function (data, index) {
      // 檢查
      let isError = false
      if (!data.fee_id || data.fee_id === '') {
        this.$Notice.error({
          title: '費用項目未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_base_start || data.fee_cal_base_start === '') {
        this.$Notice.error({
          title: '計價基準(起)未填',
          duration: 30
        })
        isError = true
      }
      if (!data.feeCalUnit.code_id || data.feeCalUnit.code_id === '') {
        this.$Notice.error({
          title: '計價數量單位未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_date_unit_name || data.fee_cal_date_unit_name === '') {
        this.$Notice.error({
          title: '計價日期單位未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_day || data.fee_cal_day === '') {
        this.$Notice.error({
          title: '費用計算結帳日(系統/程式結帳日)未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_day_tocustomer || data.fee_cal_day_tocustomer === '') {
        this.$Notice.error({
          title: '費用計算結帳日(跟客人結帳日)未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_method || data.fee_cal_method === '') {
        this.$Notice.error({
          title: '費用計算進位方式未填',
          duration: 30
        })
        isError = true
      }
      if (!data.fee_cal_method_digits || data.fee_cal_method_digits === '') {
        this.$Notice.error({
          title: '費用計算進位位數未填',
          duration: 30
        })
        isError = true
      }
      if (data.fee_price_per_unit < 0 || data.fee_price_per_unit === '' || data.fee_price_per_unit === null) {
        this.$Notice.error({
          title: '每個計價單位費用金額未填',
          duration: 30
        })
        isError = true
      }
      //
      if (isError) {
        this.detailsListIsError = isError
        return
      }
      //
      let detailsList = {
        quotation_id: this.postData.quotation_id,
        qd_seq: parseInt(data.qd_seq),
        fee_id: data.fee_id,
        fee_cal_base_start: parseInt(data.fee_cal_base_start),
        fee_cal_unit: data.feeCalUnit.code_id,
        fee_cal_date_unit: data.fee_cal_date_unit_name,
        fee_cal_day: parseInt(data.fee_cal_day),
        fee_cal_day_tocustomer: parseInt(data.fee_cal_day_tocustomer),
        fee_cal_method: data.fee_cal_method_digits,
        fee_cal_method_digits: data.fee_cal_method_digits,
        fee_price_per_unit: parseInt(data.fee_price_per_unit) || 0,
        currency_id: data.currencyId.currency_id,
        fee_item_desc: data.fee_item_desc || 'null',
        fee_cal_base_end: data.fee_cal_base_end || -1,
        qd_note: data.qd_note || 'null'
      }
      //
      try {
        // console.log(detailsList)
        let detailUpdateRes = await this.$store.dispatch(`quotationDetail/update`, { postData: detailsList, detailId: data.qd_id })
        // console.log(detailUpdateRes)
        if (detailUpdateRes.httpStatus !== 200 && detailUpdateRes.httpStatus !== 201) {
          this.detailsListIsError = true
          this.$Notice.error({
            title: `第${data.INDEX}筆明細更新失敗`,
            duration: 30
          })
        }
      } catch (err) {
        // console.log(err)
        this.detailsListIsError = true
        this.$Notice.error({
          title: `第${data.INDEX}筆明細更新失敗`,
          duration: 30
        })
      }
    },
    // 清空資料 新增
    initPostData: function () {
      this.postData = {
        quotation_id: null, // 報價單ID
        company_id: this.companyId, // 公司ID
        company_name: null, // 公司
        wh_id: this.whId, // 倉庫ID
        wh_name: null, // 倉庫
        quotation_no: null, // 報價單號
        quotation_status: null, // 報價單狀態
        quotation_customize_no: null, // 報價單自編單號
        owner_name: this.ownerName, // 貨主
        owner_id: this.ownerId, // 貨主ID
        owner_no: null, // 貨主代碼
        currency_id: 333, // 貨幣ID
        currency_code: 'TWD', // 貨幣代碼
        currency_name: 'New Taiwan Dollar', // 貨幣
        date_start: null, // 報價單生效時間
        date_end: null, // 報價單到期時間
        can_extend: 0, // 是否可延用報價
        quotation_note: null, // 報價單備註
        quotation_note2: null, // 報價單第二備註
        created_at: null, // 建立時間
        update_at: null // 更新時間
      }
    },
    initError: function () {
      this.error = {
        quotation_id: false, // 報價單ID
        company_id: false, // 公司ID
        wh_id: false, // 倉庫ID
        quotation_no: false, // 報價單號
        quotation_status: false, // 報價單狀態
        quotation_customize_no: false, // 報價單自編單號
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        owner_no: false, // 貨主代碼
        currency_id: false, // 貨幣ID
        currency_code: false, // 貨幣代碼
        currency_name: false, // 貨幣
        date_start: false, // 報價單生效時間
        date_end: false, // 報價單到期時間
        can_extend: false, // 是否可延用報價
        quotation_note: false, // 報價單備註
        quotation_note2: false, // 報價單第二備註
        created_at: false, // 建立時間
        update_at: false // 更新時間
      }
    },
    initQuotationSetupDetailsList: function () {
      this.quotationSetupDetailsList = []
      this.$refs.initQuotationSetupDetailsList.initQuotationSetupDetailsList()
    },
    init: function () {
      this.initPostData()
      this.initError()
      this.initQuotationSetupDetailsList()
    },
    //
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    autocompleteChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    //
    getDetail: function (quotationId) {
      // console.log(quotationId)
      let postData = {
        page: 1,
        pageSize: 1,
        combinedCondition: null,
        query: [
          {
            queryCondition: '=',
            queryField: 'quotation_id',
            queryValue: quotationId
          }
        ],
        sort: []
      }
      //
      this.$store.dispatch(`quotation/queryDetail`, postData).then((r) => {
        // console.log(r)
        this.$emit('changeLoadingViewIsShowEvent', false)
      })
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.postData[data.code])
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.postData.owner_id = data.val ? data.val.customer_id : ''
        this.postData.owner_no = data.val ? data.val.customer_no : ''
        // console.log(this.postData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 1 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.postData.owner_name = data.data[data.returnCode]
      this.postData.owner_id = data.data.customer_id
      this.postData.owner_no = data.data.customer_no
      // console.log(this.postData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    /* 貨幣代碼  currency_code */
    autocompleteHandleCurrencyEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      this.postData.currency_id = null
      // 設定其他資料處 end
      this.currencyList = []
    },
    currencyAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : null
        this.postData.currency_name = data.val ? data.val.currency_name : null
        this.postData.currency_id = data.val ? data.val.currency_id : null
      }
      // console.log([data.val])
      if (data.val) {
        this.currencyList = [data.val]
      } else {
        this.currencyList = []
      }
    },
    currencyAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, postData).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`${data.storeKey}`]
          //
          this.currencyList = list
        }
      })
    },
    setAutocompleteCurrencyValue: function (data) {
      // console.log(data)
      this.postData.currency_code = data.data[data.returnCode]
      this.postData.currency_name = data.data.currency_name
      this.postData.currency_id = data.data.currency_id
      //
      this.toCloseCurrencyAutocompleteModal = true
    },
    setToCloseCurrencyAutocompleteModal: function (bol) {
      this.toCloseCurrencyAutocompleteModal = bol
    },
    /* 報價單狀態 */
    quotationStatusListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      this.postData.quotation_status = data.val
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    }
  },
  created () {
    //
  },
  mounted () {
    //
    if (this.detailId) {
      this.getDetail(this.detailId)
    } else {
      setTimeout(() => {
        this.$emit('changeLoadingViewIsShowEvent', false)
      }, 1000)
    }
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`quotation/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  .top-box {
    width: 100%;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        .label-box {
          flex: 2;
          font-size: 20px;
          font-weight: 400;
          color: #515a6e;
        }
        .body-box {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding: 0;
        }
      }
    }
  }
  .bottom-box {
    width: 100%;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #354361;
    }
  }
  .backBtn {
    position: absolute;
    right: 45px;
    bottom: 200px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #dca558;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .saveBtn {
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #354361;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .item-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .label-box {
      flex: 1;
      font-size: 18px;
      color: #000000;
    }
    .body-box {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding: 0 50px 0 0;
    }
  }
  .ivu-tabs-card {
    background: #fff;
    padding-top: 2rem;
  }
  .tab-box{
    position: relative;
    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background: #e8eaec;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    /deep/.ivu-btn.tab{
      font-size: 20px;
      border-radius: 0;
      background: transparent;
      border: 0px solid transparent;
      position: relative;
      height: 40px;
      border-radius: 8px 8px 0 0;
      &::before{
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 60%;
      top: 50%;
      right: 0;
      left: auto;
      transform: translateY(-50%);
      }
      &:hover, &:focus {
        box-shadow: 0 0 0 2px transparent;
      }
      &.dark {
        color: #e3e5e8;
        &:hover, &:focus {
          background: #605e58;
        }
        &::before{
          background: #fff;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
      &.light {
        color: #ACACAC;
        &:hover, &:focus {
          background: #f5f8fa;
        }
        &::before{
          background: #ACACAC;
        }
        &.isFocus{
          background: #eceff2;
          color: #3c3c3c;
        }
      }
    }
  }
}
</style>
