<template>
  <div class="content-box">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 轉出設定 -->
    <h2 class="title">
      <span>轉出設定</span>
    </h2>
    <div class="top-box">
      <div class="row">
        <div class="col">
          <!-- 轉出格式 fomat -->
          <FloatLabelBox
            :config="{hasContent: (postData.fomat && postData.fomat!==''), label: `Fomat *`, hasClearButton: true, type: `Select`, settings: {height: 52}}"
            :selectList="fomatList"
            :code="`fomat`"
            :defaultValue="postData.fomat"
            :isError="error.fomat"
            :isRequired="true"
            :disabled="false"
            @changeModelEvent="fomatListChangeEvent"
          ></FloatLabelBox>
        </div>
        <!-- 轉出設定 setting_name -->
        <div class="col">
          <FloatLabelBox
            :config="{hasContent: (postData.setting_name && postData.setting_name!==''), label: `Setting Name *`, hasClearButton: true, type: `NewAutoComplete`, settings: {height: 52}, hiddenSearchBtn: true}"
            code="setting_name"
            :autoCompleteData="settingNameList"
            :defaultValue="postData.setting_name"
            :modalTitle="`轉出設定`"
            :toCloseModal="toCloseSettingNameAutocompleteModal"
            keyCode="exportSetup"
            storeKey="exportSetup"
            :returnCode="settingNameReturnCode"
            :showCols="autoCompleteShowSettingNameCols"
            :isError="error.setting_id"
            :isRequired="true"
            @handleEnterSubmit="autocompleteHandleSettingNameEnterSubmitEvent"
            @changeModelEvent="settingNameAutocompleteChangeEvent"
            @autoCompleteSearchEvent="settingNameAutoCompleteSearchEvent"
            @setToCloseModalEvent="setToCloseSettingNameAutocompleteModal">
              <div>
                <!-- 轉出設定-->
                <AutocompleteModal
                keyCode="exportSetup"
                storeKey="exportSetup"
                :returnCode="settingNameReturnCode"
                :condition="settingNameCondition"
                @setAutocompleteValueEvent="setAutocompleteSettingNameValue"></AutocompleteModal>
              </div>
            </FloatLabelBox>
        </div>
        <div class="col">
          <Button class="bestBtn mr-3" type="default" shape="circle" @click="exportEvent">
            轉出
          </Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
//
export default {
  name: 'ExportSetup',
  props: [],
  components: {
    LoadingView,
    FloatLabelBox
  },
  data () {
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      companyId: this.$store.state.auth.userInfo.companyKey,
      whId: this.$store.state.auth.userInfo.warehouseKey,
      //
      postData: {
        fomat: 'EXCEL', // 轉出格式
        setting_id: null,
        setting_name: null
      },
      error: {
        fomat: false,
        setting_id: false,
        setting_name: false
      },
      /* 轉出格式 : fomat */
      fomatList: [
        {
          label: 'XML',
          value: 'XML'
        },
        {
          label: 'EXCEL',
          value: 'EXCEL'
        },
        {
          label: 'CSV',
          value: 'CSV'
        },
        {
          label: 'JSON',
          value: 'JSON'
        }
      ],
      /* 轉出設定 : setting_name */
      settingNameReturnCode: 'ees_name',
      settingNameList: [],
      autoCompleteShowSettingNameCols: ['ees_code'],
      toCloseSettingNameAutocompleteModal: false,
      settingNameCondition: [],
      // 確認轉出 Modal
      comfirmExportModal: false
    }
  },
  computed: {
    //
  },
  watch: {
    postData: {
      handler: function (val) {
        //
        if (val.fomat) {
          this.error.fomat = false
        }
        if (val.setting_id) {
          this.error.setting_id = false
        }
      },
      deep: true
    }
  },
  methods: {
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    init: function () {
      this.postData = {
        fomat: 'EXCEL', // 轉出格式
        setting_id: null,
        setting_name: ''
      }
      this.error = {
        fomat: false,
        setting_id: false,
        setting_name: false
      }
    },
    exportEvent: function () {
      let isError = false
      if (!this.postData.setting_id || this.postData.setting_id === '') {
        isError = true
        this.error.setting_id = true
      }
      if (isError) {
        return
      }
      let apiType
      let respond
      let postData = {}
      switch (this.postData.fomat) {
        case 'XML':
          apiType = 'xmlExport'
          respond = 'DataExportResponse'
          postData.xes_id = this.postData.setting_id
          break
        case 'EXCEL':
          apiType = 'excelExport'
          respond = 'excelDataExport'
          postData.ees_id = this.postData.setting_id
          break
        case 'CSV':
          apiType = 'csvExport'
          respond = 'dataExportResponse'
          postData.ces_id = this.postData.setting_id
          break
        case 'JSON':
          apiType = 'jsonExport'
          respond = 'dataExportResponse'
          postData.jes_id = this.postData.setting_id
          break
      }
      this.LoadingViewIsShow = true
      this.$store.dispatch(`exportSetup/${apiType}`, postData).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals[respond].download_link}`)
          this.LoadingViewIsShow = false
        } else if (r.httpStatus !== 401) {
          this.$Notice.error({
            title: '轉出失敗',
            desc: `${r.respondCode.debugInfo}`,
            duration: 30
          })
          this.LoadingViewIsShow = false
        }
      })
    },
    /* 轉出格式 Fomat */
    fomatListChangeEvent: function (data) {
      console.log(data)
      this.postData[data.code] = data.val
      //
      switch (data.val) {
        case 'XML':
          this.settingNameReturnCode = 'xes_name'
          this.autoCompleteShowSettingNameCols = ['xes_code']
          break
        case 'EXCEL':
          this.settingNameReturnCode = 'ees_name'
          this.autoCompleteShowSettingNameCols = ['ees_code']
          break
        case 'CSV':
          this.settingNameReturnCode = 'ces_name'
          this.autoCompleteShowSettingNameCols = ['ces_code']
          break
        case 'JSON':
          this.settingNameReturnCode = 'jes_name'
          this.autoCompleteShowSettingNameCols = ['jes_code']
          break
      }
    },
    /* 轉出設定 : setting_name */
    autocompleteHandleSettingNameEnterSubmitEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.settingNameList = []
    },
    settingNameAutocompleteChangeEvent: function (data) {
      // console.log(data)
      if (this.postData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.postData[data.code] = data.val ? data.val[data.returnCode] : ''
        switch (this.postData.fomat) {
          case 'XML':
            this.postData.setting_id = data.val ? data.val.xes_id : ''
            break
          case 'EXCEL':
            this.postData.setting_id = data.val ? data.val.ees_id : ''
            break
          case 'CSV':
            this.postData.setting_id = data.val ? data.val.ces_id : ''
            break
          case 'JSON':
            this.postData.setting_id = data.val ? data.val.jes_id : ''
            break
        }
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.settingNameList = [data.val]
      } else {
        this.settingNameList = []
      }
    },
    settingNameAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      let apiType
      let respond
      switch (this.postData.fomat) {
        case 'XML':
          apiType = 'xmlQuery'
          respond = 'xmlExportSetting'
          break
        case 'EXCEL':
          apiType = 'excelQuery'
          respond = 'ExcelExportSetting'
          break
        case 'CSV':
          apiType = 'csvQuery'
          respond = 'csvExportSetting'
          break
        case 'JSON':
          apiType = 'jsonQuery'
          respond = 'json-export-setting'
          break
      }
      //
      this.$store.dispatch(`${data.storeKey}/${apiType}`, postData).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          let list = r.respondCode.additionals[`${respond}`]
          //
          this.settingNameList = list
        }
      })
    },
    setAutocompleteSettingNameValue: function (data) {
      // console.log(data)
      //
      this.postData.setting_name = data.data[data.returnCode]
      switch (this.postData.fomat) {
        case 'XML':
          this.postData.setting_id = data.data.xes_id
          break
        case 'EXCEL':
          this.postData.setting_id = data.data.ees_id
          break
        case 'CSV':
          this.postData.setting_id = data.data.ces_id
          break
        case 'JSON':
          this.postData.setting_id = data.data.jes_id
          break
      }
      //
      this.toCloseSettingNameAutocompleteModal = true
    },
    setToCloseSettingNameAutocompleteModal: function (bol) {
      this.toCloseSettingNameAutocompleteModal = bol
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    // this.$store.dispatch(`pickingConfirm/clearDetail`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.content-box {
  scroll-behavior: smooth; // Animates scrolling - "smooth" scrolling
  position: unset;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 25px 30px 0 30px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  .top-box {
    width: 100%;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
      }
    }
  }
}
.bestBtn {
  font-size: 16px;
  color: #fff;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #354361;
  border: 1px solid transparent;
}
</style>
