<template>
  <div class="workspace" :id="`workspace_${routeName}`">
    <span v-for="(win , idx) in menuState[routeName]" :key="`idx-${win}`">
      <DraggableWindow
      v-if="winAry.includes(win)"
      :wid="win"
      :workspaceId="`workspace_${routeName}`"
      :root="routeName"
      :header="$t(`menu.${win}`)"
      :zindex="zindexObj[win]"
      :t="5 * idx"
      :l="5 * idx">
        <!-- 置入所有功能元件 -->
        <ImportPutIn v-if="win==='importPutIn'" keyCode="importPutIn"></ImportPutIn>
        <PutInOperationSimple v-if="win==='putInOperationSimple'" keyCode="putInOperationSimple"></PutInOperationSimple>
        <PutInOperation v-if="win==='putInOperation'" keyCode="putInOperation"></PutInOperation>
        <PutInAcceptance v-if="win==='putInAcceptance'" keyCode="putInAcceptance"></PutInAcceptance>
        <PutInQuality v-if="win==='putInQuality'" keyCode="putInQuality"></PutInQuality>
        <PutInShelves v-if="win==='putInShelves'" keyCode="putInShelves"></PutInShelves>
        <InventoryQuery v-if="win==='inventoryQuery'" keyCode="inventoryQuery"></InventoryQuery>
        <InboundDetailPutaway v-if="win==='inboundDetailPutaway'" keyCode="inboundDetailPutaway"></InboundDetailPutaway>
      </DraggableWindow>
    </span>
  </div>
</template>

<script>
// window 元件
import DraggableWindow from '@/components/window/DraggableWindow'
// window 內容
import ImportPutIn from './win/ImportPutIn'
import PutInOperationSimple from './win/PutInOperationSimple'
import PutInOperation from './win/PutInOperation'
import PutInAcceptance from './win/PutInAcceptance'
import PutInQuality from './win/PutInQuality'
import PutInShelves from './win/PutInShelves'
import InventoryQuery from './win/InventoryQuery'
import InboundDetailPutaway from './win/InboundDetailPutaway'
//
export default {
  name: 'PutInMgmt',
  props: ['viewId', 'menuState', 'query'],
  components: {
    DraggableWindow,
    ImportPutIn,
    PutInOperationSimple,
    PutInOperation,
    PutInAcceptance,
    PutInQuality,
    PutInShelves,
    InventoryQuery,
    InboundDetailPutaway
  },
  data () {
    let zindexObj = {}
    Object.keys(this.menuState).forEach(element => {
      if (element !== this.viewId) {
        return
      }
      this.menuState[element].forEach(ele => {
        zindexObj[ele] = 1
      })
    })
    //
    return {
      routeName: this.$router.currentRoute.name,
      routeQuery: this.$router.currentRoute.query,
      zindexObj: zindexObj,
      winAry: ['importPutIn', 'putInOperationSimple', 'putInOperation', 'putInAcceptance', 'putInQuality', 'putInShelves', 'inventoryQuery', 'inboundDetailPutaway']
    }
  },
  watch: {
    menuState: function (val) {
      let zindexObj = {}
      Object.keys(this.menuState).forEach(element => {
        if (element !== this.viewId) {
          return
        }
        this.menuState[element].forEach((ele, idx) => {
          zindexObj[ele] = idx
        })
      })
      this.zindexObj = zindexObj
    },
    '$route': {
      handler: function (val) {
        this.routeQuery = this.$router.currentRoute.query
      },
      deep: true
    },
    routeQuery: function (val) {
      if (this.routeName !== this.viewId) {
        return
      }
      let wId = val.w
      this.upZindex(wId)
    }
  },
  methods: {
    upZindex: function (wId) {
      // 重組
      Object.keys(this.zindexObj).forEach((ele, idx) => {
        if (wId === ele) {
          this.zindexObj[wId] = this.menuState[this.viewId].length
        } else {
          if (this.zindexObj[ele] - 1 < 1) {
            this.zindexObj[ele] = 1
          } else {
            this.zindexObj[ele] = this.zindexObj[ele] - 1
          }
        }
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    this.upZindex(this.routeQuery.w)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.workspace {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
</style>
