<template>
  <!-- drawer -->
  <div :id="`Drawer_${prefix}`" class="drawer-box" :style="{width: `${width}px`, right: `${(25 - this.width)}px`}">
    <div class="mask" v-if="isMoving"></div>
    <div class="drawer-left-box">
      <!-- <div class="search-icon"><font-awesome-icon icon="search" color="#fff"/></div> -->
      <div class="trigger" @click="trigger(isOpen)">
        <font-awesome-icon v-if="!isOpen" icon="chevron-left" color="#fff"/>
        <font-awesome-icon v-if="isOpen" icon="chevron-right" color="#fff"/>
      </div>
      <div class="drawer-drag-move-trigger" @mousedown="moveStart($event)">
        <Icon type="ios-more-outline" />
      </div>
    </div>
    <div class="drawer-right-box">
      <slot></slot>
    </div>
  </div>
</template>

<script>
// import { setTimeout } from 'timers'
export default {
  name: 'Drawer',
  props: ['prefix', 'width', 'drawerOpen'],
  components: {},
  data () {
    //
    return {
      drawerIsOpen: true,
      isMoving: false,
      isOpen: false
    }
  },
  computed: {},
  watch: {
    drawerOpen: {
      handler: function (val) {
        // console.log(val)
        this.isOpen = val
        this.trigger(val)
      },
      deep: true
    }
  },
  methods: {
    trigger: function (bol) {
      // console.log(bol)
      let tg = document.getElementById(`Drawer_${this.prefix}`)
      // let pw = tg.parentElement.parentElement.offsetWidth
      if (bol) {
        tg.style.right = (25 - this.width) + 'px'
        this.$emit('rightChangeEvent', 0)
      } else {
        tg.style.right = 0 + 'px'
        this.$emit('rightChangeEvent', this.width)
      }
      this.isOpen = !bol
    },
    move (e) {
      let tg = document.getElementById(`Drawer_${this.prefix}`)
      // console.log(e)
      // let pw = tg.parentElement.parentElement.offsetWidth
      let right = parseInt(tg.style.right)
      if (right - e.movementX <= 25 - this.width) {
        tg.style.right = (25 - this.width)
        this.$emit('rightChangeEvent', 0)
        this.isOpen = false
      } else if (right - e.movementX >= 0) {
        tg.style.right = `0px`
        this.$emit('rightChangeEvent', this.width)
        this.isOpen = true
      } else {
        tg.style.right = right - e.movementX + 'px'
        this.$emit('rightChangeEvent', this.width + (right - e.movementX))
        this.isOpen = true
      }
    },
    moveStart: function (e) {
      //
      this.isMoving = true
      //
      let tg = document.getElementById(`Drawer_${this.prefix}`)
      tg.addEventListener('mousemove', this.move)
      tg.addEventListener('mouseup', this.moveStop)
      tg.addEventListener('mouseleave', this.moveStop)
    },
    moveStop (e) {
      this.isMoving = false
      let tg = document.getElementById(`Drawer_${this.prefix}`)
      tg.removeEventListener('mousemove', this.move)
      tg.removeEventListener('mouseup', this.moveStop)
      tg.removeEventListener('mouseleave', this.moveStop)
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.drawerOpen)
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`product/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.drawer-box {
  position: absolute;
  top: 0px;
  z-index: 10;
  height: 100%;
  background: #ffffff;
  display: flex;
  border-radius: 12px 0 0 12px;
  .mask {
    position: absolute;
    top: 0px;
    left: -50px;
    width: 50px;
    height: 100%;
  }
  .drawer-left-box {
    position: relative;
    width: 25px;
    height: 100%;
    background-color: #8e96a6;
    border-radius: 12px 0 0 12px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    .search-icon {
      width: 100%;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .trigger {
      width: 100%;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .drawer-drag-move-trigger {
      position: absolute;
      top: calc(50% - 75px);
      left: -7.5px;
      width: 15px;
      height: 150px;
      border-radius: 15px;
      background-color: #354361;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      /deep/
      .ivu-icon {
        color: white;
        font-size: 50px;
        transform: rotate(90deg);
      }
    }
  }
  .drawer-right-box {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: inherit;
  }
}
</style>
