<template>
  <Modal v-model="modal" width="300" :footer-hide="true" :closable="false" class="comfirmRemoveModal">
    <div slot="header" class="modal-header"></div>
    <div class="modal-body">
      <div class="icon-box"><img src="@/assets/images/icon/warning.png" class="img-fluid"></div>
      <div class="container-box">
        <div class="desc-box">
        您確定要刪除嗎？
        </div>
        <div class="btn-box">
          <Button class="best-blue w-100 mb-3" shape="circle" size="large" @click="ok">確定</Button>
          <Button class="best-outlined-gray w-100" shape="circle" size="large" @click="cancel">取消</Button>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script>
//
export default {
  name: 'ComfirmRemoveModal',
  props: ['comfirmRemoveModal'],
  components: {},
  data () {
    //
    return {
      modal: this.comfirmRemoveModal
    }
  },
  computed: {},
  watch: {
    comfirmRemoveModal: function (bol) {
      this.modal = bol
    },
    modal: function (bol) {
      if (!bol) {
        this.$emit('setComfirmRemoveModalEvent', false)
      }
    }
  },
  methods: {
    cancel: function () {
      this.$emit('comfirmRemoveModalCancelEvent', false)
    },
    ok: function () {
      this.$emit('comfirmRemoveModalOkEvent', false)
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.comfirmRemoveModal{
  .modal-body {
    width: 100%;
    padding: 0 48px 24px;
    .icon-box {
      width: 100px;
      margin: 0 auto 24px;
      img {
        object-fit: cover
      }
    }
    .container-box {
      height: 100%;
      .desc-box {
        color: #3c3c3c;
        font-size: 20px;
        line-height: 1.8;
        margin-bottom: 16px;
      }
      .btn-box {
        //
      }
    }
  }
}
</style>
