<template>
  <div class="workspace" :id="`workspace_${routeName}`">
    <span v-for="(win) in menuState['MainMgmt']" :key="`idx-${win}`">
      <!-- <DraggableWindow
      v-if="winArray.includes(win)"
      :ref="win"
      :wid="win"
      :workspaceId="`workspace_${routeName}`"
      :root="routeName"
      :header="$t(`menu.${win}`)"
      :zindex="zindexObj[win]"
      :t="5 * idx"
      :l="5 * idx"> -->
        <!-- 置入所有功能元件 -->
        <!-- 基本建檔 -->
        <GroupCompanySetup v-if="win==='groupCompanySetup'"></GroupCompanySetup>
        <CountrySetup v-if="win==='countrySetup'" keyCode="countrySetup"></CountrySetup>
        <StateProvinceSetup v-if="win==='stateProvinceSetup'" keyCode="stateProvinceSetup"></StateProvinceSetup>
        <!-- <ImportCustomer v-if="win==='importCustomer'" keyCode="importCustomer"></ImportCustomer> -->
        <CustomerSetup v-if="win==='customerSetup'" keyCode="customerSetup"></CustomerSetup>
        <ContactSetup v-if="win==='contactSetup'" keyCode="contactSetup"></ContactSetup>
        <UserSetup v-if="win==='userSetup'" keyCode="userSetup"></UserSetup>
        <SettingMenuSetup v-if="win==='settingMenuSetup'" keyCode="settingMenuSetup"></SettingMenuSetup>
        <RoleSetup v-if="win==='roleSetup'" keyCode="roleSetup"></RoleSetup>
        <PermissionSetup v-if="win==='permissionSetup'" keyCode="permissionSetup"></PermissionSetup>
        <SettingfeeSetup v-if="win==='settingfeeSetup'" keyCode="settingfeeSetup"></SettingfeeSetup>
        <SettingCodeSetup v-if="win==='settingCodeSetup'" keyCode="settingCodeSetup"></SettingCodeSetup>
        <AnnounceSetup v-if="win==='announceSetup'" keyCode="announceSetup"></AnnounceSetup>
        <TagSetup v-if="win==='tagSetup'" keyCode="tagSetup"></TagSetup>
        <!-- 商品建檔 -->
        <GoodsSetup v-if="win==='goodsSetup'" keyCode="goodsSetup"></GoodsSetup>
        <GoodsCateSetup v-if="win==='goodsCateSetup'" keyCode="goodsCateSetup"></GoodsCateSetup>
        <!-- 庫存管理 -->
        <InventoryQueryByProd v-if="win==='inventoryQueryByProd'" keyCode="inventoryQueryByProd"></InventoryQueryByProd>
        <InventoryQueryByStorage v-if="win==='inventoryQueryByStorage'" keyCode="inventoryQueryByStorage"></InventoryQueryByStorage>
        <InventoryQueryByinboundDate v-if="win==='inventoryQueryByinboundDate'" keyCode="inventoryQueryByinboundDate"></InventoryQueryByinboundDate>
        <InventoryQueryBySummary v-if="win==='inventoryQueryBySummary'" keyCode="inventoryQueryBySummary"></InventoryQueryBySummary>
        <InventoryQueryAccurate v-if="win==='inventoryQueryAccurate'" keyCode="inventoryQueryAccurate"></InventoryQueryAccurate>
        <!-- 入庫管理 -->
        <!-- <ImportPutIn v-if="win==='importPutIn'" keyCode="importPutIn"></ImportPutIn> -->
        <PutInOperationSimple v-if="win==='putInOperationSimple'" keyCode="putInOperationSimple"></PutInOperationSimple>
        <PutInOperation v-if="win==='putInOperation'" keyCode="putInOperation"></PutInOperation>
        <PutInAcceptance v-if="win==='putInAcceptance'" keyCode="putInAcceptance"></PutInAcceptance>
        <PutInQuality v-if="win==='putInQuality'" keyCode="putInQuality"></PutInQuality>
        <PutInShelves v-if="win==='putInShelves'" keyCode="putInShelves"></PutInShelves>
        <InventoryQuery v-if="win==='inventoryQuery'" keyCode="inventoryQuery"></InventoryQuery>
        <InboundDetailPutaway v-if="win==='inboundDetailPutaway'" keyCode="inboundDetailPutaway"></InboundDetailPutaway>
        <InboundSnapshot v-if="win==='inboundSnapshot'" keyCode="inboundSnapshot"></InboundSnapshot>
        <!-- 儲位管理 -->
        <StorageSetup v-if="win==='storageSetup'" keyCode="storageSetup"></StorageSetup>
        <InventoryPutAwaySetup v-if="win==='inventoryPutAwaySetup'" keyCode="inventoryPutAwaySetup"></InventoryPutAwaySetup>
        <AdjustmentSetup v-if="win==='adjustmentSetup'" keyCode="adjustmentSetup"></AdjustmentSetup>
        <TransferSetup v-if="win==='transferSetup'" keyCode="transferSetup"></TransferSetup>
        <SimpleProcessingSetup v-if="win==='simpleProcessingSetup'" keyCode="simpleProcessingSetup"></SimpleProcessingSetup>
        <InventoryAndOutboundDetailQuery v-if="win==='inventoryAndOutboundDetailQuery'" keyCode="inventoryAndOutboundDetailQuery"></InventoryAndOutboundDetailQuery>
        <!-- 出庫管理 -->
        <!-- <ImportOutbound v-if="win==='importOutbound'" keyCode="importOutbound"></ImportOutbound> -->
        <OutboundOperation v-if="win==='outboundOperation'" keyCode="outboundOperation"></OutboundOperation>
        <BookingOperation v-if="win==='bookingOperation'" keyCode="bookingOperation"></BookingOperation>
        <PickingOperation v-if="win==='pickingOperation'" keyCode="pickingOperation"></PickingOperation>
        <BoxingSetup v-if="win==='boxingSetup'" keyCode="boxingSetup"></BoxingSetup>
        <FastBoxingSetup v-if="win==='fastBoxingSetup'" keyCode="fastBoxingSetup"></FastBoxingSetup>
        <BoxingDetailsSetup v-if="win==='boxingDetailsSetup'" keyCode="boxingDetailsSetup"></BoxingDetailsSetup>
        <BoxDetailsQuery v-if="win==='boxDetailsQuery'" keyCode="boxDetailsQuery"></BoxDetailsQuery>
        <DeliveryConfirm v-if="win==='deliveryConfirm'" keyCode="deliveryConfirm"></DeliveryConfirm>
        <PickingConfirm v-if="win==='pickingConfirm'" keyCode="pickingConfirm"></PickingConfirm>
        <OutboundDetailQuery v-if="win==='outboundDetailQuery'" keyCode="outboundDetailQuery"></OutboundDetailQuery>
        <OutboundSnapshot v-if="win==='outboundSnapshot'" keyCode="outboundSnapshot"></OutboundSnapshot>
        <PickingListQuery v-if="win==='pickingListQuery'" keyCode="pickingListQuery"></PickingListQuery>
        <ProductSnQuery v-if="win==='productSnQuery'" keyCode="productSnQuery"></ProductSnQuery>
        <!-- 退貨管理 -->
        <!-- <ImportReturn v-if="win==='importReturn'" keyCode="importReturn"></ImportReturn> -->
        <ReturnOperationSimple v-if="win==='returnOperationSimple'" keyCode="returnOperationSimple"></ReturnOperationSimple>
        <ReturnOperation v-if="win==='returnOperation'" keyCode="returnOperation"></ReturnOperation>
        <ReturnAcceptance v-if="win==='returnAcceptance'" keyCode="returnAcceptance"></ReturnAcceptance>
        <ReturnShelves v-if="win==='returnShelves'" keyCode="returnShelves"></ReturnShelves>
        <ReturnInventoryQuery v-if="win==='returnInventoryQuery'" keyCode="returnInventoryQuery"></ReturnInventoryQuery>
        <ReturnSnapshot v-if="win==='returnSnapshot'" keyCode="returnSnapshot"></ReturnSnapshot>
        <!-- 盤點作業 -->
        <StocktakeSetup v-if="win==='stocktakeSetup'" keyCode="stocktakeSetup"></StocktakeSetup>
        <!-- 帳務管理 -->
        <QuotationSetup v-if="win==='quotationSetup'" keyCode="quotationSetup"></QuotationSetup>
        <BillSetup v-if="win==='billSetup'" keyCode="billSetup"></BillSetup>
        <!-- Edihub -->
        <ExportSetup v-if="win==='exportSetup'" keyCode="exportSetup"></ExportSetup>
        <!-- Demo -->
        <DemoItem1 v-if="win==='demoItem1'"></DemoItem1>
        <DemoItem2 v-if="win==='demoItem2'"></DemoItem2>
        <DemoItem3 v-if="win==='demoItem3'"></DemoItem3>
        <DemoItem4 v-if="win==='demoItem4'"></DemoItem4>
        <DemoItem5of1 v-if="win==='demoItem5-1'"></DemoItem5of1>
      <!-- </DraggableWindow> -->
    </span>
  </div>
</template>

<script>
// window 元件
// import DraggableWindow from '@/components/window/DraggableWindow'
// window 內容 - 基本建檔
import GroupCompanySetup from '@/views/pages/BasicMgmt/win/GroupCompanySetup'
// import ImportCustomer from '@/views/pages/BasicMgmt/win/ImportCustomer'
import CustomerSetup from '@/views/pages/BasicMgmt/win/CustomerSetup'
import ContactSetup from '@/views/pages/BasicMgmt/win/ContactSetup'
import CountrySetup from '@/views/pages/BasicMgmt/win/CountrySetup'
import StateProvinceSetup from '@/views/pages/BasicMgmt/win/StateProvinceSetup'
import UserSetup from '@/views/pages/BasicMgmt/win/UserSetup'
import SettingMenuSetup from '@/views/pages/BasicMgmt/win/SettingMenuSetup'
import RoleSetup from '@/views/pages/BasicMgmt/win/RoleSetup'
import PermissionSetup from '@/views/pages/BasicMgmt/win/PermissionSetup'
import SettingfeeSetup from '@/views/pages/BasicMgmt/win/SettingfeeSetup'
import SettingCodeSetup from '@/views/pages/BasicMgmt/win/SettingCodeSetup'
import AnnounceSetup from '@/views/pages/BasicMgmt/win/AnnounceSetup'
import TagSetup from '@/views/pages/BasicMgmt/win/TagSetup'
// window 內容 - 商品管理
import GoodsSetup from '@/views/pages/GoodsMgmt/win/GoodsSetup'
import GoodsCateSetup from '@/views/pages/GoodsMgmt/win/GoodsCateSetup'
// window 內容 - 庫存管理
import InventoryQueryByProd from '@/views/pages/InventoryMgmt/win/InventoryQueryByProd'
import InventoryQueryByStorage from '@/views/pages/InventoryMgmt/win/InventoryQueryByStorage'
import InventoryQueryByinboundDate from '@/views/pages/InventoryMgmt/win/InventoryQueryByinboundDate'
import InventoryQueryBySummary from '@/views/pages/InventoryMgmt/win/InventoryQueryBySummary'
import InventoryQueryAccurate from '@/views/pages/InventoryMgmt/win/InventoryQueryAccurate'
// window 內容 - 入庫管理
// import ImportPutIn from '@/views/pages/PutInMgmt/win/ImportPutIn'
import PutInOperationSimple from '@/views/pages/PutInMgmt/win/PutInOperationSimple'
import PutInOperation from '@/views/pages/PutInMgmt/win/PutInOperation'
import PutInAcceptance from '@/views/pages/PutInMgmt/win/PutInAcceptance'
import PutInQuality from '@/views/pages/PutInMgmt/win/PutInQuality'
import PutInShelves from '@/views/pages/PutInMgmt/win/PutInShelves'
import InventoryQuery from '@/views/pages/PutInMgmt/win/InventoryQuery'
import InboundDetailPutaway from '@/views/pages/PutInMgmt/win/InboundDetailPutaway'
import InboundSnapshot from '@/views/pages/PutInMgmt/win/InboundSnapshot'
// window 內容 - 倉庫管理
import StorageSetup from '@/views/pages/WarehouseMgmt/win/StorageSetup'
import InventoryPutAwaySetup from '@/views/pages/WarehouseMgmt/win/InventoryPutAwaySetup'
import AdjustmentSetup from '@/views/pages/WarehouseMgmt/win/AdjustmentSetup'
import TransferSetup from '@/views/pages/WarehouseMgmt/win/TransferSetup'
import SimpleProcessingSetup from '@/views/pages/WarehouseMgmt/win/SimpleProcessingSetup'
import InventoryAndOutboundDetailQuery from '@/views/pages/WarehouseMgmt/win/InventoryAndOutboundDetailQuery'

// import ImportOutbound from '@/views/pages/OutboundMgmt/win/ImportOutbound'
import OutboundOperation from '@/views/pages/OutboundMgmt/win/OutboundOperation'
import BookingOperation from '@/views/pages/OutboundMgmt/win/BookingOperation'
import PickingOperation from '@/views/pages/OutboundMgmt/win/PickingOperation'
import BoxingSetup from '@/views/pages/OutboundMgmt/win/BoxingSetup'
import FastBoxingSetup from '@/views/pages/OutboundMgmt/win/FastBoxingSetup'
import BoxingDetailsSetup from '@/views/pages/OutboundMgmt/win/BoxingDetailsSetup'
import BoxDetailsQuery from '@/views/pages/OutboundMgmt/win/BoxDetailsQuery'
import DeliveryConfirm from '@/views/pages/OutboundMgmt/win/DeliveryConfirm'
import PickingConfirm from '@/views/pages/OutboundMgmt/win/PickingConfirm'
import OutboundDetailQuery from '@/views/pages/OutboundMgmt/win/OutboundDetailQuery'
import OutboundSnapshot from '@/views/pages/OutboundMgmt/win/OutboundSnapshot'
import PickingListQuery from '@/views/pages/OutboundMgmt/win/PickingListQuery'
import ProductSnQuery from '@/views/pages/OutboundMgmt/win/ProductSnQuery'
// window 內容 - 退貨管理
// import ImportReturn from '@/views/pages/ReturnMgmt/win/ImportReturn'
import ReturnOperationSimple from '@/views/pages/ReturnMgmt/win/ReturnOperationSimple'
import ReturnOperation from '@/views/pages/ReturnMgmt/win/ReturnOperation'
import ReturnAcceptance from '@/views/pages/ReturnMgmt/win/ReturnAcceptance'
import ReturnShelves from '@/views/pages/ReturnMgmt/win/ReturnShelves'
import ReturnInventoryQuery from '@/views/pages/ReturnMgmt/win/ReturnInventoryQuery'
import ReturnSnapshot from '@/views/pages/ReturnMgmt/win/ReturnSnapshot'
// window 內容 - 盤點作業
import StocktakeSetup from '@/views/pages/StocktakeMgmt/win/StocktakeSetup'
// window 內容 - 帳務管理
import QuotationSetup from '@/views/pages/QuotationMgmt/win/QuotationSetup'
import BillSetup from '@/views/pages/QuotationMgmt/win/BillSetup'
// window 內容 - Edihub
import ExportSetup from '@/views/pages/EdihubMgmt/win/ExportSetup'
// Demo
import DemoItem1 from '@/views/pages/Demo/win/DemoItem1'
import DemoItem2 from '@/views/pages/Demo/win/DemoItem2'
import DemoItem3 from '@/views/pages/Demo/win/DemoItem3'
import DemoItem4 from '@/views/pages/Demo/win/DemoItem4'
import DemoItem5of1 from '@/views/pages/Demo/win/DemoItem5-1'
//
export default {
  name: 'MainMgmt',
  props: ['viewId', 'menuState', 'query'],
  components: {
    // DraggableWindow,
    // window 內容 - 基本建檔
    GroupCompanySetup,
    // ImportCustomer,
    CustomerSetup,
    ContactSetup,
    CountrySetup,
    StateProvinceSetup,
    UserSetup,
    SettingMenuSetup,
    RoleSetup,
    PermissionSetup,
    SettingfeeSetup,
    SettingCodeSetup,
    AnnounceSetup,
    TagSetup,
    // window 內容 - 商品管理
    GoodsSetup,
    GoodsCateSetup,
    // window 內容 - 庫存管理
    InventoryQueryByProd,
    InventoryQueryByStorage,
    InventoryQueryByinboundDate,
    InventoryQueryBySummary,
    InventoryQueryAccurate,
    // window 內容 - 入庫管理
    // ImportPutIn,
    PutInOperationSimple,
    PutInOperation,
    PutInAcceptance,
    PutInQuality,
    PutInShelves,
    InventoryQuery,
    InboundDetailPutaway,
    InboundSnapshot,
    // window 內容 - 倉庫管理
    StorageSetup,
    InventoryPutAwaySetup,
    AdjustmentSetup,
    TransferSetup,
    SimpleProcessingSetup,
    InventoryAndOutboundDetailQuery,
    // ImportOutbound,
    OutboundOperation,
    BookingOperation,
    PickingOperation,
    BoxingSetup,
    FastBoxingSetup,
    BoxingDetailsSetup,
    BoxDetailsQuery,
    DeliveryConfirm,
    PickingConfirm,
    OutboundDetailQuery,
    OutboundSnapshot,
    PickingListQuery,
    ProductSnQuery,
    // window 內容 - 退貨管理
    // ImportReturn,
    ReturnOperationSimple,
    ReturnOperation,
    ReturnAcceptance,
    ReturnShelves,
    ReturnInventoryQuery,
    ReturnSnapshot,
    // window 內容 - 盤點作業
    StocktakeSetup,
    // window 內容 - 帳務管理
    QuotationSetup,
    BillSetup,
    // window 內容 - Edihub
    ExportSetup,
    // demo
    DemoItem1,
    DemoItem2,
    DemoItem3,
    DemoItem4,
    DemoItem5of1
  },
  data () {
    let zindexObj = {}
    Object.keys(this.menuState).forEach(element => {
      if (element !== this.viewId) {
        return
      }
      this.menuState[element].forEach(ele => {
        zindexObj[ele] = 1
      })
    })
    //
    return {
      routeName: this.$router.currentRoute.name,
      routeQuery: this.$router.currentRoute.query,
      zindexObj: zindexObj,
      winArray: [
        'groupCompanySetup',
        'countrySetup',
        'stateProvinceSetup',
        // 'importCustomer',
        'customerSetup',
        'contactSetup',
        'userSetup',
        'settingMenuSetup',
        'roleSetup',
        'permissionSetup',
        'settingfeeSetup',
        'settingCodeSetup',
        'announceSetup',
        'tagSetup',
        'goodsSetup',
        'goodsCateSetup',
        'inventoryQueryByProd',
        'inventoryQueryByStorage',
        'inventoryQueryByinboundDate',
        'inventoryQueryBySummary',
        'inventoryQueryAccurate',
        // 'importPutIn',
        'putInOperationSimple',
        'putInOperation',
        'putInAcceptance',
        'putInQuality',
        'putInShelves',
        'inventoryQuery',
        'inboundDetailPutaway',
        'inboundSnapshot',
        'storageSetup',
        'inventoryPutAwaySetup',
        'adjustmentSetup',
        'transferSetup',
        'simpleProcessingSetup',
        'inventoryAndOutboundDetailQuery',
        // 'importOutbound',
        'outboundOperation',
        'bookingOperation',
        'pickingOperation',
        'boxingSetup',
        'fastBoxingSetup',
        'boxingDetailsSetup',
        'boxDetailsQuery',
        'deliveryConfirm',
        'pickingConfirm',
        'outboundDetailQuery',
        'outboundSnapshot',
        'pickingListQuery',
        'productSnQuery',
        // 'importReturn',
        'returnOperationSimple',
        'returnOperation',
        'returnAcceptance',
        'returnShelves',
        'returnInventoryQuery',
        'returnSnapshot',
        'stocktakeSetup',
        'quotationSetup',
        'billSetup',
        'exportSetup',
        'demoItem1',
        'demoItem2',
        'demoItem3',
        'demoItem4',
        'demoItem5-1'
      ]
    }
  },
  computed: {
    stageType: function () {
      return this.$store.state.auth.stageType
    },
    winGridActive: function () {
      return this.$store.state.auth.winGridActive
    },
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    winGridActive: function (val) {
      this.setWinGridActive()
    },
    menuState: {
      handler (val) {
        let zindexObj = {}
        Object.keys(this.menuState).forEach(element => {
          if (element !== this.viewId) {
            return
          }
          this.menuState[element].forEach((ele, idx) => {
            zindexObj[ele] = idx
          })
        })
        this.zindexObj = zindexObj
      },
      deep: true
    },
    '$route': {
      handler: function (val) {
        this.routeQuery = this.$router.currentRoute.query
      },
      deep: true
    },
    routeQuery: function (val) {
      let wId = val.w
      this.upZindex(wId)
    }
  },
  methods: {
    setWinGridActive: function () {
      let stage = document.querySelector(`#workspace_${this.routeName}`)
      let stageW = stage.offsetWidth
      let stageH = stage.offsetHeight
      let num = this.menuState['MainMgmt'].length
      // console.log(this.menuState['MainMgmt'])
      if (num > 1) {
        let numL = Math.floor(num / 2)
        let numR = Math.ceil(num / 2)
        this.menuState['MainMgmt'].forEach((win, index) => {
          if (!this.$refs[`${win}`]) {
            return
          }
          let _win = this.$refs[`${win}`][0]
          if (index <= numL - 1) {
            _win.setSize(index * (stageH / numL), 0, stageW / 2, stageH / numL)
          } else {
            _win.setSize((index - numL) * (stageH / numR), stageW / 2, stageW / 2, stageH / numR)
          }
        })
      } else if (num === 1) {
        this.menuState['MainMgmt'].forEach((win, index) => {
          if (!this.$refs[`${win}`]) {
            return
          }
          let _win = this.$refs[`${win}`][0]
          _win.full()
        })
      }
    },
    upZindex: function (wId) {
      // 重組
      Object.keys(this.zindexObj).forEach((ele, idx) => {
        if (wId === ele) {
          this.zindexObj[wId] = this.menuState[this.viewId].length
        } else {
          if (this.zindexObj[ele] - 1 < 1) {
            this.zindexObj[ele] = 1
          } else {
            this.zindexObj[ele] = this.zindexObj[ele] - 1
          }
        }
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.workspace {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
</style>
