<template>
  <div
    :data-ref="dataRef"
    ref="window"
    class="DraggableWindow draggable"
    :class="{dragging, resizing}"
    :style="{top:top + 'px', left:left + 'px', zIndex:z}"
    @mousedown="updateZ()"
  >
    <div class="header"
    v-if="stageType==='W'"
    @mousedown="dragStart"
    v-bind:style="{
      background: userInfo && Config.themeColor[`${userInfo.themeColor}`].windowHeader,
      color: userInfo && Config.themeColor[`${userInfo.themeColor}`].windowHeaderFontColor,
    }">
      <!-- <div class="name">{{header}}</div> -->
      <div class="btns ml-auto">
        <!-- 縮小 -->
        <!-- <div>
          <Button
          type="default"
          size="small"
          :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowHeaderIconColor}"
          @click.stop="minify">
            <font-awesome-icon icon="minus" class="position-relative" />
          </Button>
        </div>&nbsp;&nbsp; -->
        <!-- 滿版 -->
        <div>
          <Button
            v-if="!isFull"
            type="default"
            size="small"
            :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowHeaderIconColor}"
            @click.stop="full"
          >
            <font-awesome-icon icon="expand" class="position-relative"/>
          </Button>
          <Button
            v-if="isFull"
            type="default"
            size="small"
            :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowHeaderIconColor}"
            @click.stop="normalSize">
            <font-awesome-icon icon="compress" class="position-relative"/>
          </Button>
        </div>&nbsp;&nbsp;
        <!-- 移除 -->
        <div>
          <Button
          type="default"
          size="small"
          :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowHeaderIconColor}"
          @click.stop="close">
            <font-awesome-icon icon="times" class="position-relative"/>
          </Button>
        </div>
      </div>
    </div>
    <div class="content" :class="{isPage: stageType==='P'}" v-if="!isMinify">
      <slot></slot>
      <div v-if="stageType==='W'" class="resize" @mousedown="resizeStart">
        <Icon type="ios-expand" size="14" />
      </div>
    </div>
  </div>
</template>

<script>
import Config from '@/Config'
//
export default {
  name: 'DraggableWindow',
  props: ['workspaceId', 'header', 'wid', 'zindex', 't', 'l', 'root'],
  components: {},
  data () {
    let routeQuery = this.$route.query
    //
    return {
      Config: Config,
      dataRef: null,
      routeQuery: routeQuery,
      top: this.t,
      left: this.l,
      z: this.zindex,
      dragging: false,
      resizing: false,
      isMinify: false,
      isFull: false
    }
  },
  computed: {
    stageType: function () {
      return this.$store.state.auth.stageType
    },
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    zindex: function (val) {
      this.z = val
    }
  },
  methods: {
    move (e) {
      let element = document.getElementById(this.workspaceId)
      // let w = this.$refs.window
      let clientHeight = element.clientHeight
      let clientWidth = element.clientWidth
      //
      if (
        this.top + e.movementY <= clientHeight - 50 &&
        this.top + e.movementY >= 0
      ) {
        this.top = this.top + e.movementY
      }
      //
      if (
        this.left + e.movementX <= clientWidth - 50 &&
        this.left + e.movementX >= 0
      ) {
        this.left = this.left + e.movementX
      }
      // 視窗放大時一移動就縮小
      if (this.isFull) {
        this.isFull = false
        //
        // let w = this.$refs.window
        // w.style.width = `400px`
        // w.style.height = this.isMinify ? `initial` : `250px`
        // w.style.borderRadius = '8px'
      }
    },
    dragStart (e) {
      let tg = document.getElementById(this.workspaceId)
      this.dragging = true
      tg.addEventListener('mousemove', this.move)
      tg.addEventListener('mouseup', this.dragStop)
      tg.addEventListener('mouseleave', this.dragStop)
    },
    dragStop (e) {
      let tg = document.getElementById(this.workspaceId)
      this.dragging = false
      tg.removeEventListener('mousemove', this.move)
      tg.removeEventListener('mouseup', this.dragStop)
      tg.removeEventListener('mouseleave', this.dragStop)
    },
    updateZ () {
      this.$router.push(`/Main/${this.root}?w=${this.wid}`)
    },
    resize (e) {
      let element = document.getElementById(this.workspaceId)
      let clientWidth = element.clientWidth
      let clientHeight = element.clientHeight
      //
      let w = this.$refs.window
      w.style.borderRadius = '8px'
      //
      if (
        w.offsetWidth + e.movementX <= clientWidth - this.left &&
        w.offsetWidth + e.movementX >= 400
      ) {
        w.style.width = `${w.offsetWidth + e.movementX}px`
      }
      if (
        w.offsetHeight + e.movementY <= clientHeight - this.top &&
        w.offsetHeight + e.movementY >= 250
      ) {
        w.style.height = `${w.offsetHeight + e.movementY}px`
      }
      //
      this.setDataRef(w)
    },
    resizeStart (e) {
      //
      this.isFull = false
      this.resizing = true
      //
      let tg = document.getElementById(this.workspaceId)
      tg.addEventListener('mousemove', this.resize)
      tg.addEventListener('mouseup', this.resizeStop)
      tg.addEventListener('mouseleave', this.resizeStop)
    },
    resizeStop (e) {
      this.resizing = false
      let tg = document.getElementById(this.workspaceId)
      tg.removeEventListener('mousemove', this.resize)
      tg.removeEventListener('mouseup', this.resizeStop)
      tg.removeEventListener('mouseleave', this.resizeStop)
    },
    minify (event) {
      // this.isMinify = !this.isMinify
      // //
      // let w = this.$refs.window
      // w.style.width = `400px`
      // w.style.height = this.isMinify ? `28px` : `250px`
      // w.style.borderRadius = '8px'
    },
    full (event) {
      this.isMinify = false
      this.isFull = true
      this.top = 0
      this.left = 0
      //
      // let element = document.getElementById(this.workspaceId)
      let w = this.$refs.window
      // let clientHeight = element.clientHeight
      // let clientWidth = element.clientWidth
      //
      w.style.width = `100%`
      w.style.height = `100%`
      w.style.borderRadius = '0'
      //
      this.isFull = true
      //
      this.setDataRef(w)
    },
    normalSize (event) {
      //
      this.isMinify = false
      this.isFull = false
      //
      let element = document.getElementById(this.workspaceId)
      let clientHeight = element.clientHeight
      let clientWidth = element.clientWidth
      //
      let w = this.$refs.window
      this.top = (clientHeight - 473) / 2
      this.left = (clientWidth - 974) / 2
      w.style.width = `974px`
      w.style.height = `473px`
      w.style.borderRadius = '8px'
      //
      this.setDataRef(w)
    },
    setSize (top, left, width, height) {
      let w = this.$refs.window
      this.top = top
      this.left = left
      w.style.width = `${width}px`
      w.style.height = `${height}px`
      w.style.borderRadius = '8px'
      this.isMinify = false
      this.isFull = false
      //
      this.setDataRef(w)
    },
    close (event) {
      // console.log(this.wid)
      // dispatch
      this.$store.dispatch('auth/updateMenuState', {
        rf: 'MainMgmt',
        w: this.wid,
        type: 'remove'
      })
    },
    setDataRef: function (w) {
      if (w.offsetWidth <= 576) {
        this.dataRef = 'win_max_576'
      } else if (w.offsetWidth >= 576 && w.offsetWidth < 768) {
        this.dataRef = 'win_576_768'
      } else if (w.offsetWidth >= 768 && w.offsetWidth < 992) {
        this.dataRef = 'win_768_992'
      } else if (w.offsetWidth >= 992) {
        this.dataRef = 'win_min_992'
      }
    }
  },
  created () {
    //
  },
  mounted () {
    //
    let w = this.$refs.window
    this.setDataRef(w)
    //
    this.full()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.draggable {
  // position: absolute;
  background: #ffffff;
  box-shadow: none;
  transition: box-shadow 0.2s;
  width: 400px;
  // height: 250px;
  min-width: 400px;
  max-width: 100%;
  max-height: calc(100% - 55px);
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  &.dragging {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    z-index: 200;
  }
  &.resizing {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    z-index: 200;
  }
  .header {
    display: flex;
    align-items: center;
    background: #354361;
    color: white;
    padding: 0 10px;
    cursor: move;
    user-select: none;
    height: 28px;
    // line-height: 50px;
    .name {
      flex: 1;
    }
    .btns {
      width: 48px;
      display: flex;
      > div {
        flex: 1;
      }
      // width: 105px;
      button {
        border-radius: 50%;
        width: 1.2rem;
        height: 1.2rem;
        padding: 0;
        position: relative;
        border: 1px solid transparent;
        // span{
        //   display: block;
        //   position: relative;
        // }
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          // top: -3px;
        }
      }
    }
  }
  .content {
    position: relative;
    // padding: 20px;
    min-height: 200px;
    height: calc(100% - 28px);
    overflow: hidden;
    &.isPage {
      min-height: 100%;
      height: 100%;
      border-top: 1px solid #ccc;
    }
    .resize {
      position: absolute;
      right: 0;
      bottom: 4px;
      width: 15px;
      height: 15px;
      background: rgba(68, 68, 68, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      z-index: 99;
    }
  }
}
</style>
