<template>
  <!-- OutboundStep -->
  <div class="timeline">
    <!-- 出庫通知 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===2 ? 'active' : '',
      step===4 ? 'canGo' : '',
      step>4 ? 'finish' : ''
    ]"
    :disabled="step!==4"
    @click="setOutboundStasus('backToOutbound')">
      <div class="icon"><font-awesome-icon icon="bell" /></div>
      <div class="content">
        <div class="timeline-title">出庫通知</div>
        <div class="timeline-time">{{data ? data.date_outbound ? data.date_outbound.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 截單 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===4 ? 'active' : '',
      step===2 || step===5 ? 'canGo' : '',
      step>5 ? 'finish' : ''
    ]"
    :disabled="step!==2 && step!==5"
    @click="setOutboundStasus(step===2 ? 'booking' : 'backToBooking')">
      <div class="icon"><font-awesome-icon icon="clipboard-check" /></div>
      <div class="content">
        <div class="timeline-title">截單</div>
        <div class="timeline-time">{{data ? data.date_close_order ? data.date_close_order.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 揀貨 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===5 ? 'active' : '',
      step===4 || step===6 ? 'canGo' : '',
      step>5 ? 'finish' : ''
    ]"
    :disabled="step!==4 && step!==6"
    @click="setOutboundStasus(step===4 ? 'pickingOperation' : 'backToIntercept')">
      <div class="icon" v-if="step === 5">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12.89" height="17.16"
          viewBox="0 0 12.9 17.2" style="enable-background:new 0 0 12.9 17.2;" xml:space="preserve">
        <g id="picking" transform="translate(0.731)">
          <path id="Path_213" fill="#118cf8" d="M-0.7,15.8c-0.1,0.6,0.2,1.2,0.8,1.3c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.3,1-0.8L2.2,13l-1.8-1.8
            L-0.7,15.8z"/>
          <path id="Path_214" fill="#118cf8" d="M10.6,16.6c0,0.3,0.2,0.5,0.5,0.5h0.5c0.3,0,0.5-0.2,0.5-0.5V0.6c0-0.3-0.2-0.5-0.5-0.5h0h-0.5
            c-0.3,0-0.5,0.2-0.5,0.5L10.6,16.6L10.6,16.6z"/>
          <circle id="Ellipse_33" fill="#118cf8" cx="4.6" cy="1.6" r="1.6"/>
          <path id="Path_215" fill="#118cf8" d="M9.1,5.6H7.1c-0.2,0-0.4-0.2-0.4-0.4c0,0,0,0,0,0V3.3c0-0.2,0.2-0.4,0.4-0.4l0,0h1.9
            c0.2,0,0.4,0.2,0.4,0.4c0,0,0,0,0,0v1.9C9.5,5.4,9.3,5.6,9.1,5.6L9.1,5.6z"/>
          <path id="Path_216" fill="#118cf8" d="M9.5,7.2C9.4,6.8,9.1,6.5,8.7,6.5c0,0-2,0-2,0L5.1,4.9c-0.8-0.8-2-0.8-2.8,0
            C2.1,5.1,1.9,5.4,1.8,5.8L0.9,9.4c-0.1,0.4,0,0.8,0.3,1l2.9,2.9v2.8c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1v-2.8
            c0-0.6-0.2-1.1-0.6-1.5L4,10.2c0,0,0,0,0,0l0.4-1.6l0.3-1.1l0.8,0.8C5.7,8.5,6,8.6,6.2,8.6h0.6l1.6,0c0.1,0,0.2,0,0.2,0
            c0.5-0.1,0.8-0.5,0.8-1C9.5,7.4,9.5,7.3,9.5,7.2z"/>
        </g>
        </svg>
      </div>
      <div class="icon" v-if="step === 4 || step === 6">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12.89" height="17.16"
          viewBox="0 0 12.9 17.2" style="enable-background:new 0 0 12.9 17.2;" xml:space="preserve">
        <g id="picking" transform="translate(0.731)">
          <path id="Path_213" fill="#fff" d="M-0.7,15.8c-0.1,0.6,0.2,1.2,0.8,1.3c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.3,1-0.8L2.2,13l-1.8-1.8
            L-0.7,15.8z"/>
          <path id="Path_214" fill="#fff" d="M10.6,16.6c0,0.3,0.2,0.5,0.5,0.5h0.5c0.3,0,0.5-0.2,0.5-0.5V0.6c0-0.3-0.2-0.5-0.5-0.5h0h-0.5
            c-0.3,0-0.5,0.2-0.5,0.5L10.6,16.6L10.6,16.6z"/>
          <circle id="Ellipse_33" fill="#fff" cx="4.6" cy="1.6" r="1.6"/>
          <path id="Path_215" fill="#fff" d="M9.1,5.6H7.1c-0.2,0-0.4-0.2-0.4-0.4c0,0,0,0,0,0V3.3c0-0.2,0.2-0.4,0.4-0.4l0,0h1.9
            c0.2,0,0.4,0.2,0.4,0.4c0,0,0,0,0,0v1.9C9.5,5.4,9.3,5.6,9.1,5.6L9.1,5.6z"/>
          <path id="Path_216" fill="#fff" d="M9.5,7.2C9.4,6.8,9.1,6.5,8.7,6.5c0,0-2,0-2,0L5.1,4.9c-0.8-0.8-2-0.8-2.8,0
            C2.1,5.1,1.9,5.4,1.8,5.8L0.9,9.4c-0.1,0.4,0,0.8,0.3,1l2.9,2.9v2.8c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1v-2.8
            c0-0.6-0.2-1.1-0.6-1.5L4,10.2c0,0,0,0,0,0l0.4-1.6l0.3-1.1l0.8,0.8C5.7,8.5,6,8.6,6.2,8.6h0.6l1.6,0c0.1,0,0.2,0,0.2,0
            c0.5-0.1,0.8-0.5,0.8-1C9.5,7.4,9.5,7.3,9.5,7.2z"/>
        </g>
        </svg>
      </div>
      <div class="icon" v-if="step === 2 || step > 7">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12.89" height="17.16"
          viewBox="0 0 12.9 17.2" style="enable-background:new 0 0 12.9 17.2;" xml:space="preserve">
        <g id="picking" transform="translate(0.731)">
          <path id="Path_213" fill="#ACACAC" d="M-0.7,15.8c-0.1,0.6,0.2,1.2,0.8,1.3c0.1,0,0.2,0,0.3,0c0.5,0,0.9-0.3,1-0.8L2.2,13l-1.8-1.8
            L-0.7,15.8z"/>
          <path id="Path_214" fill="#ACACAC" d="M10.6,16.6c0,0.3,0.2,0.5,0.5,0.5h0.5c0.3,0,0.5-0.2,0.5-0.5V0.6c0-0.3-0.2-0.5-0.5-0.5h0h-0.5
            c-0.3,0-0.5,0.2-0.5,0.5L10.6,16.6L10.6,16.6z"/>
          <circle id="Ellipse_33" fill="#ACACAC" cx="4.6" cy="1.6" r="1.6"/>
          <path id="Path_215" fill="#ACACAC" d="M9.1,5.6H7.1c-0.2,0-0.4-0.2-0.4-0.4c0,0,0,0,0,0V3.3c0-0.2,0.2-0.4,0.4-0.4l0,0h1.9
            c0.2,0,0.4,0.2,0.4,0.4c0,0,0,0,0,0v1.9C9.5,5.4,9.3,5.6,9.1,5.6L9.1,5.6z"/>
          <path id="Path_216" fill="#ACACAC" d="M9.5,7.2C9.4,6.8,9.1,6.5,8.7,6.5c0,0-2,0-2,0L5.1,4.9c-0.8-0.8-2-0.8-2.8,0
            C2.1,5.1,1.9,5.4,1.8,5.8L0.9,9.4c-0.1,0.4,0,0.8,0.3,1l2.9,2.9v2.8c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1v-2.8
            c0-0.6-0.2-1.1-0.6-1.5L4,10.2c0,0,0,0,0,0l0.4-1.6l0.3-1.1l0.8,0.8C5.7,8.5,6,8.6,6.2,8.6h0.6l1.6,0c0.1,0,0.2,0,0.2,0
            c0.5-0.1,0.8-0.5,0.8-1C9.5,7.4,9.5,7.3,9.5,7.2z"/>
        </g>
        </svg>
      </div>
      <div class="content">
        <div class="timeline-title">揀貨</div>
        <div class="timeline-time">{{data ? data.date_picked ? data.date_picked.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 裝箱 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===6 ? 'active' : '',
      step===5 ? 'canGo' : '',
      step>=6 ? 'finish' : ''
    ]"
    :disabled="step!==5"
    @click="setOutboundStasus('boxing')">
      <div class="icon"><font-awesome-icon icon="box-open" /></div>
      <div class="content">
        <div class="timeline-title">裝箱</div>
        <div class="timeline-time">{{data ? data.date_shipped ? data.date_shipped.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 出貨 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===7 ? 'active' : '',
      step===6 ? 'canGo' : '',
      step>=7 ? 'finish' : ''
    ]"
    :disabled="step!==6"
    @click="setOutboundStasus('deliveryConfirm')">
      <div class="icon"><font-awesome-icon icon="truck-loading" /></div>
      <div class="content">
        <div class="timeline-title">出貨</div>
        <div class="timeline-time">{{data ? data.date_closed ? data.date_closed.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
  </div>
</template>

<script>
export default {
  name: 'OutboundStep',
  props: [
    'data',
    'step'
  ],
  components: {},
  data () {
    //
    return {
      //
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    data: {
      handler: function (val) {
        console.log(val)
      },
      deep: true
    }
  },
  methods: {
    setOutboundStasus (data) {
      // console.log(data)
      this.$emit('setOutboundStasus', data)
    }
  },
  created () {
    //
  },
  mounted () {
    //
    console.log(this.step)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.timeline {
  /deep/
  .ivu-btn {
    height: 54px;
    font-size: 16px;
    border: 1px solid #ACACAC;
    color: #ACACAC;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    cursor: not-allowed;
    padding: 0 34px;
    &::before {
      content: "";
      display: none;
      position: absolute;
      width: 54px;
      height: 54px;
      opacity: 1;
      z-index: 0;
      transform: rotate(45deg) scale(.7);
      left: -28px;
      border-left: 1px solid #ACACAC;
      border-bottom: 1px solid #ACACAC;
      border-radius: 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 54px;
      height: 54px;
      opacity: 1;
      transform: rotate(45deg) scale(.7);
      right: -28px;
      top: -1px;
      border-right: 1px solid #ACACAC;
      border-top: 1px solid #ACACAC;
      border-radius: 0;
      z-index: 2;
    }
    >span {
      display: flex;
      align-items: center;
      position: relative;
    }
    .icon {
      margin-right: 8px;
    }
    .timeline-time {
      font-size: 12px;
    }
    &:first-of-type {
      border-radius: 54px 0 0 54px;
      &.active {
        &::before {
          display: none;
        }
      }
    }
    &:last-of-type {
      border-radius: 0 54px 54px 0;
      &::after {
        display: none;
      }
      &.active {
        &::before, &::after {
          display: none;
        }
      }
    }
    &.finish {
      &::before, &::after {
        display: none;
      }
    }
    &.dark {
      border-left: 1px solid #3c3c3c;
      &::before, &::after {
        background: #3c3c3c;
      }
      &:first-of-type {
        border-left: 1px solid #ACACAC;
      }
    }
    &.light {
      border-left: 1px solid #fff;
      &::before, &::after {
        background: #fff;
      }
      &:first-of-type {
        border-left: 1px solid #ACACAC;
      }
    }
    &.active {
      border: 1px solid #e0f0ff!important;
      color: #118cf8;
      background-color: #e0f0ff;
      z-index: 2;
      &::before {
        display: block;
        background: #e0f0ff;
        border: 1px solid #e0f0ff;
      }
      &::after {
        display: block;
        background: #e0f0ff;
        border: 1px solid #e0f0ff;
      }
    }
    &.canGo {
      border: 1px solid #118cf8!important;
      color: #fff;
      background-color: #118cf8;
      cursor: pointer;
      &::before {
        background: #118cf8;
        border: 1px solid #118cf8;
      }
      &::after {
        background: #118cf8;
        border: 1px solid #118cf8;
      }
    }
  }
}
</style>
