<template>
  <div class="workspace" :id="`workspace_${routeName}`">
    <span v-for="(win , idx) in menuState[routeName]" :key="`idx-${win}`">
      <DraggableWindow
      v-if="win==='demoItem1' || win==='demoItem2' || win==='demoItem3' || win==='demoItem4'"
      :wid="win"
      :workspaceId="`workspace_${routeName}`"
      :root="routeName"
      :header="$t(`menu.${win}`)"
      :zindex="zindexObj[win]"
      :t="5 * idx"
      :l="5 * idx">
        <!-- 置入所有功能元件 -->
        <DemoItem1 v-if="win==='demoItem1'"></DemoItem1>
        <DemoItem2 v-if="win==='demoItem2'"></DemoItem2>
        <DemoItem3 v-if="win==='demoItem3'"></DemoItem3>
        <DemoItem4 v-if="win==='demoItem4'"></DemoItem4>
      </DraggableWindow>
      <DemoItem5 v-if="win==='demoItem5'"></DemoItem5>
    </span>
  </div>
</template>

<script>
// window 元件
import DraggableWindow from '@/components/window/DraggableWindow'
// window 內容
import DemoItem1 from './win/DemoItem1'
import DemoItem2 from './win/DemoItem2'
import DemoItem3 from './win/DemoItem3'
import DemoItem4 from './win/DemoItem4'
//
export default {
  name: 'Demo',
  props: ['viewId', 'menuState', 'query'],
  components: {
    DraggableWindow,
    DemoItem1,
    DemoItem2,
    DemoItem3,
    DemoItem4
  },
  data () {
    let zindexObj = {}
    Object.keys(this.menuState).forEach(element => {
      if (element !== this.viewId) {
        return
      }
      this.menuState[element].forEach(ele => {
        zindexObj[ele] = 1
      })
    })
    //
    return {
      routeName: this.$router.currentRoute.name,
      routeQuery: this.$router.currentRoute.query,
      zindexObj: zindexObj
    }
  },
  watch: {
    menuState: function (val) {
      let zindexObj = {}
      Object.keys(this.menuState).forEach(element => {
        if (element !== this.viewId) {
          return
        }
        this.menuState[element].forEach((ele, idx) => {
          zindexObj[ele] = idx
        })
      })
      this.zindexObj = zindexObj
    },
    '$route': {
      handler: function (val) {
        this.routeQuery = this.$router.currentRoute.query
      },
      deep: true
    },
    routeQuery: function (val) {
      if (this.routeName !== this.viewId) {
        return
      }
      let wId = val.w
      this.upZindex(wId)
    }
  },
  methods: {
    upZindex: function (wId) {
      // 重組
      Object.keys(this.zindexObj).forEach((ele, idx) => {
        if (wId === ele) {
          this.zindexObj[wId] = this.menuState[this.viewId].length
        } else {
          if (this.zindexObj[ele] - 1 < 1) {
            this.zindexObj[ele] = 1
          } else {
            this.zindexObj[ele] = this.zindexObj[ele] - 1
          }
        }
      })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    this.upZindex(this.routeQuery.w)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.workspace {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}
</style>
