<template>
    <div class="TransferX2-box">
        <div class="operation-box">
          <div class="w-100 pr-3">
            <div class="title mb-2" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
                <span class="title-text">{{list1Title}}
                    <Button class="best-blue" shape="circle" @click="list1SelectAll = true">全選</Button>
                    <Button class="best-gray ml-3" shape="circle" @click="list1SelectAll = false">全不選</Button>
                </span>
                <span class="quantity" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
                    <font-awesome-icon icon="file" class="mr-1" /> &nbsp;{{list1.length}}
                </span>
            </div>

            <div class="outlined-card" :class="userInfo.themeColor">
              <div class="d-flex align-items-center mb-2" v-for="(row, index) in list1" :key="`${row[mainId]}_${index}`">
                <span>
                    <Checkbox v-model="row.SELECTED" @on-change="restList1"></Checkbox>
                </span>
                <div
                class="data d-flex"
                :class="{'isSelected': row.SELECTED}"
                @click.exact="setectEvent(row, index, 1)"
                @click.shift.exact="shiftSetectEvent(row, index, 1)"
                @click.ctrl.exact="ctrlSetectEvent(row, index, 1)"
                @click.meta.exact="ctrlSetectEvent(row, index, 1)">
                  <div class="lable">
                    <ul class="list-unstyled">
                      <li v-for="(col, index) in list1Cols" :key="index">{{col.label}}</li>
                    </ul>
                  </div>
                  <div class="content">
                    <ul class="list-unstyled">
                      <li :class="{'no': col.key === 'order_no'}" v-for="(col, idx) in list1Cols" :key="idx">{{row[col.key] || row[col.key2]}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <Button class="best-v2 lg-btn w-100" :class="[userInfo.themeColor]" shape="circle" size="large" @click="add">
              移至待處理 &nbsp;<font-awesome-icon icon="arrow-right"/>
            </Button>
          </div>
          <div class="w-100">
            <div class="title mb-2" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
                <span class="title-text">{{list2Title}}
                  <Button class="best-blue" shape="circle" @click="list2SelectAll = true">全選</Button>
                  <Button class="best-gray ml-3" shape="circle" @click="list2SelectAll = false">全不選</Button>
                </span>
                <span class="quantity" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
                <font-awesome-icon icon="file" class="mr-1" /> &nbsp;{{list2.length}}
                </span>
            </div>
            <div class="outlined-card have-btn" :class="userInfo.themeColor">
              <div class="d-flex align-items-center mb-2" v-for="(row, index) in list2" :key="`${row[mainId]}_${index}`">
                <span>
                    <Checkbox v-model="row.SELECTED" @on-change="restList2"></Checkbox>
                </span>
                <div
                class="data list2 d-flex"
                :class="{'isSelected': row.SELECTED}"
                @click.exact="setectEvent(row, index, 2)"
                @click.shift.exact="shiftSetectEvent(row, index, 2)"
                @click.ctrl.exact="ctrlSetectEvent(row, index, 2)"
                @click.meta.exact="ctrlSetectEvent(row, index, 2)">
                  <div class="lable">
                    <ul class="list-unstyled">
                      <li v-for="(col, idx) in list2Cols" :key="idx">{{col.label}}</li>
                    </ul>
                  </div>
                  <div class="content">
                    <ul class="list-unstyled">
                      <li :class="{'no': col.key === 'order_no'}" v-for="(col, idx) in list2Cols" :key="idx">{{row[col.key] || row[col.key2]}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <Button class="best-v3 lg-btn w-100 mb-2" :class="[userInfo.themeColor]" shape="circle" size="large" @click="remove">
              移至未處理 &nbsp;<font-awesome-icon icon="arrow-left" color="#D8D8D8"/>
            </Button>
            <div class="submit-block">
              <div class="select-block d-flex" v-if="isShowSelect">
                <FloatLabelBox
                  :config="{
                    hasContent: (condition && condition!==''),
                    label: `出貨原則`,
                    background: `${userInfo.themeColor === 'dark' ? userInfo.themeColor : 'white'}`,
                    hasClearButton: true,
                    type: `Select`,
                    settings: {width: 150, height: 41}}"
                  :selectList="conditionList"
                  :code="`condition`"
                  :defaultValue="condition"
                  @changeModelEvent="conditionListChangeEvent"
                ></FloatLabelBox>
              </div>
              <Button class="best-v1 lg-btn w-100 ml-3" :class="[userInfo.themeColor]" shape="circle" size="large" @click="submit">
                {{submitBtnTxt}}
              </Button>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
import Config from '@/Config'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
export default {
  name: 'TransferX2',
  props: ['mainId', 'list1Title', 'list2Title', 'list1Cols', 'list2Cols', 'list1', 'list2', 'submitBtnTxt', 'showSelect'],
  components: {
    FloatLabelBox
  },
  data () {
    //
    return {
      Config: Config,
      companyId: this.$store.state.auth.userInfo.companyKey,
      list1SelectAll: false,
      list2SelectAll: false,
      list1SelectFirst: null,
      list1SelectSecond: null,
      list2SelectFirst: null,
      list2SelectSecond: null,
      //
      isShowSelect: Number(this.showSelect) === 1 ? 1 : 0,
      /* 出貨原則 */
      conditionList: [
        {
          value: 'FIFO',
          label: '先進先出'
        },
        {
          value: 'LIFO',
          label: '後進先出'
        },
        {
          value: 'EXPDATE',
          label: '效期優先'
        },
        {
          value: 'ALSA',
          label: '允售為主'
        }
      ],
      condition: 'FIFO'
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    list1SelectAll: function (bol) {
      // console.log(bol)
      this.list1.forEach(element => {
        element['SELECTED'] = bol
      })
      this.restList1()
    },
    list2SelectAll: function (bol) {
      // console.log(bol)
      this.list2.forEach(element => {
        element['SELECTED'] = bol
      })
      this.restList2()
    },
    list1: {
      handler: function (newVal, oldVal) {
        //
        // console.log('list1: ', newVal)
        this.$emit('list1ChangeEvent', newVal)
      },
      deep: true
    },
    list2: {
      handler: function (newVal, oldVal) {
        //
        // console.log('list2: ', newVal)
        this.$emit('list2ChangeEvent', newVal)
      },
      deep: true
    },
    isShowSelect: {
      handler: function (bol) {
        //
        // console.log(bol)
      },
      deep: true
    }
  },
  methods: {
    list1Reload: function () {
      this.$emit('list1ReloadEvent')
    },
    list2Reload: function () {
      this.$emit('list2ReloadEvent')
    },
    add: function () {
      //
      this.$emit('addEvent', this.list1)
      this.list1SelectAll = false
    },
    remove: function () {
      //
      // console.log(this.list2)
      this.$emit('removeEvent', this.list2)
      this.list2SelectAll = false
    },
    submit: function () {
      // 清空所有勾勾
      this.list1.forEach((item) => {
        item.SELECTED = false
      })
      this.list2.forEach((item) => {
        item.SELECTED = false
      })
      //
      this.$emit('submitEvent', { data: this.list2, condition: this.condition })
      this.list1SelectAll = false
      this.list2SelectAll = false
    },
    /* 出貨原則 */
    conditionListChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
      // console.log(this.condition)
    },
    //
    restList1: function () {
      this.$emit('list1ChangeEvent', JSON.parse(JSON.stringify(this.list1)))
    },
    //
    restList2: function () {
      this.$emit('list2ChangeEvent', JSON.parse(JSON.stringify(this.list2)))
    },
    setectEvent (row, index, type) {
      // console.log('setect')
      // console.log(row)
      // console.log(index)
      let list = null
      let elseList = null
      switch (type) {
        case 1:
          list = 'list1'
          elseList = 'list2'
          break
        case 2:
          list = 'list2'
          elseList = 'list1'
          break
      }
      //
      let listLength = this[list].length
      for (let i = 0; i < listLength; i++) {
        this[list][i].SELECTED = false
      }
      this[list][index].SELECTED = !this[list][index].SELECTED
      this[`${list}SelectFirst`] = index
      this[`${list}SelectSecond`] = null
      this[`${elseList}SelectFirst`] = null
      this[`${elseList}SelectSecond`] = null
      switch (type) {
        case 1:
          this.restList1()
          break
        case 2:
          this.restList2()
          break
      }
    },
    shiftSetectEvent: function (row, index, type) {
      // console.log('shift')
      // console.log(row)
      // console.log(index)
      let selectFirst = null
      let selectSecond = null
      let list = null
      switch (type) {
        case 1:
          selectFirst = this.list1SelectFirst
          selectSecond = this.list1SelectSecond
          list = 'list1'
          this.list2SelectFirst = null
          this.list2SelectSecond = null
          break
        case 2:
          selectFirst = this.list2SelectFirst
          selectSecond = this.list2SelectSecond
          list = 'list2'
          this.list1SelectFirst = null
          this.list1SelectSecond = null
          break
      }
      // console.log(this[list])
      //
      if ((selectFirst && !selectSecond && selectSecond !== 0) || (selectFirst < selectSecond && selectSecond < index && selectFirst < index) || (selectFirst > selectSecond && selectSecond > index && selectFirst > index)) {
        let num = index - selectFirst
        console.log(num)
        if (num > 0) {
          for (let i = selectFirst; i <= index; i++) {
            this[list][i].SELECTED = true
          }
        } else {
          for (let i = index; i < selectFirst; i++) {
            this[list][i].SELECTED = true
          }
        }
      } else if (selectFirst < selectSecond && selectSecond > index && selectFirst < index) {
        for (let i = selectFirst; i < index; i++) {
          this[list][i].SELECTED = true
        }
        for (let i = index; i <= selectSecond; i++) {
          this[list][i].SELECTED = false
        }
      } else if (selectFirst > selectSecond && selectSecond < index && selectFirst > index) {
        for (let i = index; i < selectFirst; i++) {
          this[list][i].SELECTED = true
        }
        for (let i = selectSecond; i < index; i++) {
          this[list][i].SELECTED = false
        }
      } else if (selectFirst > selectSecond && selectSecond < index && selectFirst < index) {
        for (let i = selectFirst; i <= index; i++) {
          this[list][i].SELECTED = true
        }
        for (let i = selectSecond; i < selectFirst; i++) {
          this[list][i].SELECTED = false
        }
      } else if (selectFirst < selectSecond && selectSecond > index && selectFirst > index) {
        for (let i = index; i < selectFirst; i++) {
          this[list][i].SELECTED = true
        }
        for (let i = selectFirst; i <= selectSecond; i++) {
          this[list][i].SELECTED = false
        }
      } else if (!selectFirst && !selectSecond) {
        for (let i = 0; i < (index + 1); i++) {
          this[list][i].SELECTED = true
        }
      }
      //
      switch (type) {
        case 1:
          if (!selectFirst) {
            this.list1SelectFirst = 0
            this.list1SelectSecond = index
          } else {
            this.list1SelectSecond = index
          }
          this.restList1()
          break
        case 2:
          if (!selectFirst) {
            this.list2SelectFirst = 0
            this.list2SelectSecond = index
          } else {
            this.list2SelectSecond = index
          }
          this.restList2()
          break
      }
    },
    ctrlSetectEvent: function (row, index, type) {
      // console.log('ctrl')
      // console.log(row)
      // console.log(index)
      let list = null
      let elseList = null
      switch (type) {
        case 1:
          list = 'list1'
          elseList = 'list2'
          break
        case 2:
          list = 'list2'
          elseList = 'list1'
          break
      }
      this[list][index].SELECTED = !this[list][index].SELECTED
      this[`${list}SelectFirst`] = index
      this[`${list}SelectSecond`] = null
      this[`${elseList}SelectFirst`] = null
      this[`${elseList}SelectSecond`] = null
      switch (type) {
        case 1:
          this.restList1()
          break
        case 2:
          this.restList2()
          break
      }
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {}
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.TransferX2-box {
  height: 100%;
}
.operation-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  /deep/.ivu-card {
    min-width: 300px;
    flex: 1;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 1rem;
    .ivu-card-body {
      padding: 8px;
      height: 100%;
    }
    &.done {
      width: 40%;
      flex: 0 0 40%;
      margin-right: 2rem;
    }
    &.error {
      flex: 1;
    }
  }
  .outlined-card {
    width: 100%;
    border: 1px solid #ACACAC;
    border-radius: 8px;
    padding: 8px;
    overflow-y: scroll;
    height: calc(100% - 51px - 59px);
    margin-bottom: 8px;
    &.have-btn {
      height: calc(100% - 51px - 59px - 59px);
    }
    .data {
      background: #eceff2;
      border-radius: 8px;
      padding: 8px 16px;
      flex: 1;
      li {
        height: 30px;
        line-height: 30px;
      }
      &.isSelected {
        background: #E0F0FF;
        &.list2 {
          background: #D8D8D8;
        }
      }
    }
    .lable {
      font-size: 14px;
      padding-right: 8px;
      color: #3c3c3c;
    }
    .content {
      font-size: 16px;
      color: #3c3c3c;
      .no {
        font-size: 20px;
        font-weight: bold;
      }
    }
    /deep/.ivu-checkbox-inner {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    /deep/.ivu-checkbox-checked{
      .ivu-checkbox-inner{
        &::after {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 0px solid transparent;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &.dark {
      /deep/.ivu-checkbox-inner {
        border: 1px solid #fff;
        background: #3c3c3c;
      }
      /deep/.ivu-checkbox-checked{
        .ivu-checkbox-inner{
          &::after {
            background: #fff;
          }
        }
      }
    }
    &.light {
      /deep/.ivu-checkbox-inner {
        border: 1px solid #3c3c3c;
        background: #fff;
      }
      /deep/.ivu-checkbox-checked{
        .ivu-checkbox-inner{
          &::after {
            background: #3c3c3c;
          }
        }
      }
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      font-weight: 400;
    }
    .quantity {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
.submit-block{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-block{
  margin-right: auto;
}
</style>
