<template>
  <Modal v-model="modal" width="800" :footer-hide="true" class="pickinglistModal">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <div slot="header" class="modal-header"></div>
    <div class="modal-body">
      <div class="container-box">
        <h2 class="title">
          <span>列印報表</span>
        </h2>
        <div class="desc-box">
          <div class="row">
            <div class="col">
              <!-- 報表種類 -->
              <FloatLabelBox
                :config="{hasContent: (postData.report_type!==null), label: `報表種類*`, hasClearButton: true, type: `Select`, settings: {width: 200, height: 52}}"
                :selectList="reportTypeList"
                :code="`report_type`"
                :defaultValue="postData.report_type"
                @changeModelEvent="reportTypeListChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="col" v-show="postData.report_type === 0 || postData.report_type === 1 || postData.report_type === 2 || postData.report_type === 6">
              <!-- 輸出明細排序方式 -->
              <FloatLabelBox
                :config="{hasContent: (postData.order_by!==null), label: `輸出明細排序方式*`, hasClearButton: true, type: `Select`, settings: {width: 200, height: 52}}"
                :selectList="orderByList"
                :code="`order_by`"
                :defaultValue="postData.order_by"
                @changeModelEvent="orderByListChangeEvent"
              ></FloatLabelBox>
            </div>
            <div class="col" v-show="postData.report_type === 0">
                <!-- 是否需要同時列印訂單揀貨單 -->
                <div class="label-box">是否需要同時列印訂單揀貨單</div>
                <div class="body-box">
                  <i-Switch
                    v-model="postData.picking_order"
                    size="large"
                    :true-value="1"
                    :false-value="0"
                  >
                    <span slot="open">是</span>
                    <span slot="close">否</span>
                  </i-Switch>
                </div>
              </div>
          </div>
        </div>
        <div class="btn-box">
          <Button shape="circle" @click="printEvent()">列印</Button>
        </div>
      </div>
    </div>
  </Modal>
</template>

<script>
import LoadingView from '@/components/LoadingView/LoadingView'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
//
export default {
  name: 'PickinglistModal',
  props: ['pickinglistModal', 'pickinglistLoadingViewIsShow'],
  components: {
    LoadingView,
    FloatLabelBox
  },
  data () {
    //
    return {
      LoadingViewIsShow: this.pickinglistLoadingViewIsShow,
      //
      modal: this.pickinglistModal,
      postData: {
        order_by: 'storage_code',
        report_type: 0,
        picking_order: 1
      },
      error: {
        order_by: false
      },
      /* 報表種類 */
      reportTypeList: [
        {
          value: 0,
          label: '彙總揀貨單'
        },
        {
          value: 1,
          label: '訂單揀貨單'
        },
        {
          value: 2,
          label: '彙總分貨單'
        },
        {
          value: 3,
          label: '宅配出貨總表'
        },
        {
          value: 4,
          label: '出貨單'
        },
        {
          value: 5,
          label: '出貨明細表'
        },
        {
          value: 6,
          label: '揀貨標籤'
        }
      ],
      /* 輸出明細排序方式 */
      orderByList: [
        {
          value: 'storage_code',
          label: '儲位'
        },
        {
          value: 'default',
          label: '按出庫訂單明細順序'
        },
        {
          value: 'product_code',
          label: '商品料號'
        }
      ]
    }
  },
  computed: {},
  watch: {
    pickinglistModal: function (bol) {
      this.modal = bol
    },
    modal: function (bol) {
      // console.log(this.pickinglistLoadingViewIsShow)
      if (!bol) {
        this.$emit('setPickinglistModalEvent', false)
      }
    },
    pickinglistLoadingViewIsShow: {
      handler: function (val) {
        // console.log(val)
        this.LoadingViewIsShow = val
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        if (val.report_type === 0 || val.report_type === 1 || val.report_type === 2) {
          this.orderByList = [
            {
              value: 'storage_code',
              label: '儲位'
            },
            {
              value: 'default',
              label: '按出庫訂單明細順序'
            },
            {
              value: 'product_code',
              label: '商品料號'
            }
          ]
        } else if (val.report_type === 6) {
          this.orderByList = [
            {
              value: 'storage_code',
              label: '儲位'
            },
            {
              value: 'product_code',
              label: '商品料號'
            }
          ]
        }
      },
      deep: true
    }
  },
  methods: {
    inputTxtChangeEvent: function (data) {
      //
      this.postData[data.code] = data.val
    },
    /* 報表種類 */
    reportTypeListChangeEvent: function (data) {
      // console.log(data)
      // this[data.code] = data.val
      this.postData[data.code] = data.val
      this.postData.report_type = data.val
      if (data.val === 0 || data.val === 1) {
        this.postData.order_by = 'storage_code'
      } else if (data.val === 2) {
        this.postData.order_by = 'default'
      } else if (data.val === 6) {
        this.postData.order_by = 'storage_code'
      }
    },
    /* 輸出明細排序方式 */
    orderByListChangeEvent: function (data) {
      // console.log(data)
      // this[data.code] = data.val
      this.postData[data.code] = data.val
      this.postData.order_by = data.val
    },
    printEvent: function () {
      this.$emit('printEvent', { type: this.postData.report_type, postData: this.postData })
    }
  },
  created () {
    //
  },
  mounted () {
    //
    // console.log(this.pickinglistLoadingViewIsShow)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.pickinglistModal{
  /deep/.ivu-modal-content{
    overflow: hidden;
  }
  .modal-body {
    display: flex;
    width: 100%;
    padding: 12px 30px;
    .icon-box {
      width: 141px;
      height: 128px;
      img {
        width: auto;
        height: 115px;
        object-fit: cover
      }
    }
    .container-box {
      flex: 1;
      height: 100%;
      .title {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        span {
          width: fit-content;
          font-family: PingFangTC;
          font-size: 25px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }
        .btn-box.r {
          flex: 1;
          padding: 0 16px;
          display: flex;
          .downloadExcelBtn {
            font-size: 16px;
            color: #fff;
            padding-top: 1px;
            padding-bottom: 1px;
            background-color: #354361;
            border: 1px solid transparent;
          }
        }
      }
      .desc-box {
        flex: 1;
        padding-bottom: 2rem;
        // height: 95px;
        // color: #000;
        // font-size: 16px;
        // display: flex;
        .row{
          display: flex;
          width: 100%;
          color: #000;
          font-size: 16px;
          margin: 0;
          .col{
            padding-right: 2rem;
          }
        }
        .label-box {
          font-size: 16px;
          color: #333333;
          padding-bottom: 3px;
        }
        .body-box {
          padding: 0;
        }
      }
      .btn-box {
        display: flex;
        justify-content: center;
        flex: 1;
        height: 32px;
        button {
          margin-right: 15px;
          font-size: 14px;
          svg {
            color: #9ca29c;
          }
          &:last-of-type {
            color: #fff;
            background-color: #354361;
            border-color: #354361;
            svg {
              color: #fff;
            }
          }
        }
      }
    }
  }
  /deep/.ivu-upload{
    width: 100%;
    &.ivu-upload-drag{
      border: 1px dashed #9d9d9d;
    }
    .upload-block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      padding: 20px;
      font-size: 30px;
      color: #9d9d9d;
      p{
        padding-top: 2rem;
        font-size: 15px;
      }
    }
    &:hover{
      &.ivu-upload-drag{
        border: 1px dashed #354361;
      }
      .upload-block{
        color: #354361;
      }
    }
  }
  .importBtn{
    font-size: 16px;
    color: #fff;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #354361;
    border: 1px solid transparent;
  }
}
</style>
