<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  created () {
    //
  },
  mounted () {
    //
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
@import "./assets/scss/common";
@import "./assets/scss/grid";
@import "./assets/scss/iView";
@import "./assets/scss/grid-layout";
@import "./assets/scss/rwd";
@import "./assets/scss/winRwd";
@import "./assets/scss/form";
</style>
