<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 歷史庫存查詢 -->
    <span>
      <h2
        class="title"
        :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}"
      >
        <span>歷史庫存查詢</span>
        <div class="btn-box r">
          <Button class="icon-btn-md solid mr-3" :disabled="reloadDisabled" @click="reloadDataGrid">
            <font-awesome-icon icon="sync" />
          </Button>
        </div>
        <!-- <div class="btn-box l">
          <Button
            class="layoutBtn"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
        </div> -->
      </h2>
      <div class="top-box">
        <div class="row">
          <div class="col">
            <!-- 貨主代碼 owner_id -->
            <FloatLabelBox
              :config="{hasContent: (searchPostData.owner_name && searchPostData.owner_name!==''), label: `貨主名稱 *`, hasClearButton: true, type: `NewAutoComplete`, settings: {width: 250,height: 52}, hiddenSearchBtn: true}"
              :code="`owner_name`"
              :autoCompleteData="ownerList"
              :defaultValue="searchPostData.owner_name"
              :modalTitle="`貨主代碼`"
              :toCloseModal="toCloseOwnerAutocompleteModal"
              keyCode="customerSetup"
              storeKey="customerByCmpCat"
              returnCode="customer_name"
              :showCols="autoCompleteShowOwnerCols"
              :isError="error.owner_id"
              :isRequired="true"
              @handleEnterSubmit="autocompleteHandleOwnerEnterSubmitEvent"
              @changeModelEvent="ownerAutocompleteChangeEvent"
              @autoCompleteSearchEvent="ownerAutoCompleteSearchEvent"
              @setToCloseModalEvent="setToCloseOwnerAutocompleteModal">
                <div>
                  <!-- 貨主代碼-->
                  <AutocompleteModal
                  keyCode="customerSetup"
                  storeKey="customerByCmpCat"
                  returnCode="customer_name"
                  respondCode= "customer"
                  :apiUrlCondition="setAutocompleteOwnerApiUrl"
                  :condition="ownerCondition"
                  @setAutocompleteValueEvent="setAutocompleteOwnerValue"></AutocompleteModal>
                </div>
              </FloatLabelBox>
          </div>
          <div class="col">
            <FloatLabelBox
              :config="{hasContent: (searchPostData.specifiedDate && searchPostData.specifiedDate!==''), label: `指定日期`, hasClearButton: true, type: `DatePicker`, settings: {width: 250,height: 52}}"
              :code="`specifiedDate`"
              :defaultValue="searchPostData.specifiedDate"
              :isError="error.specifiedDate"
              :isRequired="true"
              @changeModelEvent="specifiedDateChangeEvent"
            ></FloatLabelBox>
          </div>
          <div class="col timePicker isRequired">
             <TimePicker type="time" size="large" placeholder="指定時間" :value="searchPostData.specifiedTime" @on-change="specifiedTimeChange"></TimePicker>
          </div>
          <div class="col">
            <div class="searchBtn" :disabled="reloadDisabled" @click="search">
              搜尋&nbsp;
              <font-awesome-icon icon="search" color="#fff" />
            </div>
          </div>
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="sad_id"
          :company_id="companyId"
          :wh_id="whId"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- dataexport btn -->
        <div class="dataexportBtn" @click="dataexport">
          <font-awesome-icon icon="file-download" size="2x" />
        </div>
      </div>
    </span>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
import AutocompleteModal from '@/components/AutocompleteModal/AutocompleteModal'
//
export default {
  name: 'InventoryQueryAccurate',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    ColumnControlModal,
    DataexportModal,
    FloatLabelBox,
    AutocompleteModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      isOverview: true,
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
        // {
        //   property: 'SELECT', // 全選 (保留字)
        //   displayName: '',
        //   iilterType: null, // Input, Select, Daterange, Checkbox
        //   isOpt: true,
        //   filterData: null,
        //   filterFormat: null,
        //   valueType: 'Checkbox', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        //   autoCompleteData: null,
        //   valueFormat: null,
        //   sortToggle: false, // 是否可排序
        //   sortValue: null, // null, asc, desc
        //   isNotRemove: true,
        //   resizeToggle: false, // 是否可resize
        //   minWidth: 'initial',
        //   editable: false // 資料在本欄位下是否可以被編輯
        // }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    //
    settingData = defaultSettingData
    // console.log(settingData)
    let companyId = this.$store.state.auth.userInfo.companyKey
    let whId = this.$store.state.auth.userInfo.warehouseKey
    let uiId = this.$store.state.auth.userInfo.uiId
    var ownerId = this.$store.state.auth.userInfo.ownerKey
    var ownerName = this.$store.state.auth.userInfo.ownerName
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '歷史庫存查詢',
      //
      companyId: companyId,
      whId: whId,
      uiId: uiId,
      ownerId: ownerId,
      ownerName: ownerName,
      //
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [],
      reloadDisabled: false,
      // 入庫單作業建檔
      detailId: null,
      // 查詢
      searchPostData: {
        owner_name: ownerName, // 貨主
        owner_id: ownerId, // 貨主ID
        specifiedDate: null, // 指定日期
        specifiedTime: '23:59:59' // 指定時間
      },
      error: {
        owner_name: false, // 貨主
        owner_id: false, // 貨主ID
        specifiedDate: false, // 指定日期
        specifiedTime: false // 指定時間
      },
      /* 貨主代碼 : owner_id */
      ownerList: [],
      autoCompleteShowOwnerCols: [
        'customer_no'
      ],
      toCloseOwnerAutocompleteModal: false,
      ownerCondition: [],
      setAutocompleteOwnerApiUrl: { companyId: companyId, whId: whId, customerCat: 1 },
      //
      timeZoneTimestamp: null,
      timeZone: null
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    inventoryQueryAccurateList: function () {
      // console.log(this.$store.state)
      let list = this.$store.state[`stockStorageByAccurate`][`stockStorageByAccurateList`]
      return list || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    inventoryQueryAccurateList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    },
    searchPostData: {
      handler: function (val) {
        // console.log(val)
        if (val.owner_id) {
          this.error.owner_id = false
        }
        if (val.specifiedDate) {
          this.error.specifiedDate = false
        }
        if (val.specifiedTime) {
          this.error.specifiedTime = false
        }
      },
      deep: true
    },
    LoadingViewIsShow: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      //
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '' && data[item].value !== undefined) {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        // case 'clone':
        //   this.step = 1
        //   this.cloneData = data.list[0]
        //   break
      }
      this.optType = null
    },
    // 取得該列資訊
    // getDetailEvent: function (data) {
    //   // console.log('取得該列資訊 : ', data)
    //   // 入庫單作業 detail
    //   this.detailId = data.sad_id
    //   this.step = 2
    //   this.saveSuccess = false
    // },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    search: function () {
      this.LoadingViewIsShow = true
      this.getDataList(this.settingData.page.pageSize, 1)
    },
    //
    reloadDataGrid: function () {
      this.LoadingViewIsShow = true
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      let isError = false
      if (!this.searchPostData.owner_id || this.searchPostData.owner_id === '') {
        isError = true
        this.error.owner_id = true
        this.$Notice.error({
          title: '搜尋條件請填入貨主'
        })
      }
      if (!this.searchPostData.specifiedDate || this.searchPostData.specifiedDate === '') {
        isError = true
        this.error.specifiedDate = true
        this.$Notice.error({
          title: '搜尋條件請填入指定日期'
        })
      }
      if (!this.searchPostData.specifiedTime || this.searchPostData.specifiedTime === '') {
        isError = true
        this.error.specifiedTime = true
        this.$Notice.error({
          title: '搜尋條件請填入指定時間'
        })
      }
      if (isError) {
        this.LoadingViewIsShow = false
        return
      }
      //
      this.isQuery = true
      this.idsData = null
      this.reloadDisabled = true
      //
      let filter = filterAry || []
      let sort = sortAry || []
      //
      let postData = {
        page: pageNumber,
        pageSize: pageSize,
        combinedCondition: 'AND',
        query: [...filter],
        sort: sort
      }
      let specifyDateTime = this.changeToUTCTime(`${this.searchPostData.specifiedDate} ${this.searchPostData.specifiedTime}`)
      // console.log(this.searchPostData.specifiedDate)
      // console.log(this.searchPostData.specifiedTime)
      // console.log(specifyDateTime)
      // console.log(postData)
      this.$store.dispatch(`stockStorageByAccurate/query`, { postData: postData, companyId: this.companyId, whId: this.whId, ownerId: this.searchPostData.owner_id, specifyDateTime: specifyDateTime }).then((r) => {
        // console.log(r)
        if (r.httpStatus === 200 || r.httpStatus === 201) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          this.dataList = r.respondCode.additionals['stockAccurate']
          this.LoadingViewIsShow = false
          this.isQuery = false
          this.reloadDisabled = false
        } else if (r.httpStatus !== 401) {
          this.$Notice.error({
            title: '系統忙碌中請稍候再試',
            duration: 30
          })
          this.LoadingViewIsShow = false
          this.isQuery = false
          this.reloadDisabled = false
        }
      })
      // this.LoadingViewIsShow = false
      // this.isQuery = false
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: async function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol
      // console.log(data.postData)
      let postData = {
        queryExpression: {},
        exportFields: [],
        exportSettings: {}
        // timezone_offset: null
      }
      let exportFields = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      // 匯出範圍
      switch (data.postData.exportReach) {
        case 1:
          postData.queryExpression.page = data.postData.page
          postData.queryExpression.pageSize = this.settingData.page.totalCount
          postData.queryExpression.combinedCondition = 'AND'
          postData.queryExpression.query = [
            ...this.filterAry
          ]
          break
        case 2:
          await this.getIds()
          // console.log(this.idsData)
          if (!this.idsData) {
            this.$Notice.warning({
              title: '請勾選要匯出的資料'
            })
            this.LoadingViewIsShow = false
            return
          }
          let listLength = this.idsData.list.length
          // console.log(listLength)
          let ids = []
          for (let i = 0; i < listLength; i++) {
            ids.push(this.idsData.list[i].sad_id)
          }
          //
          postData.queryExpression.page = 1
          postData.queryExpression.pageSize = listLength
          postData.queryExpression.combinedCondition = 'AND'
          postData.queryExpression.query = [
            {
              queryCondition: 'IN',
              queryField: 'sad_id',
              queryValue: `${ids}`
            }
          ]
          break
      }
      //
      postData.queryExpression.sort = this.sortAry
      postData.exportFields = exportFields
      postData.exportSettings.exportFileName = data.postData.exportFileName
      postData.exportSettings.exportFormat = data.postData.exportFormat
      //
      let csvSeperator = ''
      switch (data.postData.csvSeperator) {
        case 'colon':
          csvSeperator = ':'
          break
        case 'semicolon':
          csvSeperator = ';'
          break
        case 'comma':
          csvSeperator = ','
          break
        case 'space':
          csvSeperator = ' '
          break
        case 'verticalBar':
          csvSeperator = '|'
          break
      }
      postData.exportSettings.csvSeperator = csvSeperator
      //
      if (this.timeZone < 0) {
        postData.timezone_offset = `${this.timeZone}`
      } else {
        postData.timezone_offset = `+${this.timeZone}`
      }
      // console.log(postData)
      let specifyDateTime = this.changeToUTCTime(`${this.searchPostData.specifiedDate} ${this.searchPostData.specifiedTime}`)
      //
      let dataexportRes = await this.$store.dispatch(`stockStorageByAccurate/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId, ownerId: this.searchPostData.owner_id, specifyDateTime: specifyDateTime })
      // console.log(dataexportRes)
      if (dataexportRes.httpStatus === 200 || dataexportRes.httpStatus === 201) {
        // console.log('下載檔案')
        window.open(`${Config.API.downloadAPIBaseURL}${dataexportRes.respondCode.additionals.dataExport.download_link}`)
      }
      this.LoadingViewIsShow = false
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZone = timeZone
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    /* 貨主代碼 : owner_id */
    autocompleteHandleOwnerEnterSubmitEvent: function (data) {
      // console.log(data)
      this.searchPostData[data.code] = ''
      // 設定其他資料處
      // 設定其他資料處 end
      this.ownerList = []
    },
    ownerAutocompleteChangeEvent: function (data) {
      // console.log(data)
      // console.log(data.val[data.returnCode])
      // console.log(this.searchPostData[data.code])
      if (this.searchPostData[data.code] !== (data.val ? data.val[data.returnCode] : '')) {
        this.searchPostData[data.code] = data.val ? data.val[data.returnCode] : ''
        this.searchPostData.owner_id = data.val ? data.val.customer_id : ''
        // console.log(this.searchPostData.owner_id)
        // 設定其他資料處
      }
      // console.log([data.val])
      if (data.val) {
        this.ownerList = [data.val]
      } else {
        this.ownerList = []
      }
    },
    ownerAutoCompleteSearchEvent: function (data) {
      let query = []
      data.showCols.forEach((field, idx) => {
        query.push({
          queryCondition: 'LIKE',
          queryValue: data.val,
          queryField: field
        })
      })
      //
      let postData = {
        page: 1,
        pageSize: 5,
        combinedCondition: 'OR',
        query: [
          {
            queryCondition: 'LIKE',
            queryValue: data.val,
            queryField: data.returnCode
          },
          ...query
        ],
        sort: []
      }
      //
      this.$store.dispatch(`${data.storeKey}/search`, { postData: postData, companyId: this.companyId, whId: this.whId, customerCat: 1 }).then((r) => {
        // console.log(r)
        if (r) {
          let list = r.respondCode.additionals[`customer`]
          //
          this.ownerList = list
        }
      })
    },
    setAutocompleteOwnerValue: function (data) {
      // console.log(data)
      //
      this.searchPostData.owner_name = data.data[data.returnCode]
      this.searchPostData.owner_id = data.data.customer_id
      // console.log(this.searchPostData.owner_id)
      //
      this.toCloseOwnerAutocompleteModal = true
    },
    setToCloseOwnerAutocompleteModal: function (bol) {
      this.toCloseOwnerAutocompleteModal = bol
    },
    specifiedTimeChange: function (time) {
      console.log(time)
      this.searchPostData.specifiedTime = time
    },
    specifiedDateChangeEvent: function (data) {
      // console.log(data)
      this.searchPostData.specifiedDate = data.val
    }
  },
  created () {
    //
    this.getTimeZoneTimestamp()
    // this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`stockStorageBydate/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  position: relative;
  width: 100%;
  height: 100%;
  > span {
    display: block;
    height: calc(100% - 4px);
    padding: 25px 30px 0 30px;
    overflow: auto;
  }
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    span {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 25px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
    .btn-box.r {
      display: flex;
      flex: 1;
      padding: 0 16px;
    }
    .btn-box.l {
      display: flex;
      width: auto;
    }
  }
  .top-box {
    width: 100%;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &.colx2 {
          flex: 0 0 50%;
        }
        &.iswitch {
          display: block;
          .label-box {
            font-size: 12px;
            color: #333333;
            padding-bottom: 10px;
          }
          .body-box {
            display: block;
          }
        }
      }
    }
    .searchBtn {
      width: 80px;
      height: 32px;
      border-radius: 20px;
      background-color: #354361;
      font-family: PingFangTC;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 115px - 24px);
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
/deep/.ivu-btn.icon-btn-md {
  border: 2px solid;
  background-color: transparent;
  padding: 1px 0 0 0;
  border-radius: 50%;
  margin-bottom: 0;
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  > span {
    font-size: 12.5px;
  }
  &.solid{
    background-color: #515a6e;
    >span{
      color: #ffffff;
    }
  }
  &.yellow{
    background-color: #dca558;
    border: 2px solid #dca558;
    >span{
      color: #ffffff;
    }
  }
}
.layoutBtn{
  width: 96px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  &.save{
    background-color: #56504f;
    color: #ffffff;
  }
}
.timePicker {
  /deep/.ivu-input {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid  #979797;
    border-radius: 0;
  }
  /deep/.ivu-input-large{
    font-size: 16px;
    height: 52px;
  }
  /deep/.ivu-input-suffix{
    top: 13px;
  }
  &.isRequired{
    // /deep/.ivu-input {
    //   color: #1f7adb;
    // }
    ::placeholder {
      color: #1f7adb;
      opacity: 1;
    }
  }
}
</style>
