<template>
  <div class="win-content">
    <!-- LoadingView -->
    <LoadingView :show="LoadingViewIsShow"></LoadingView>
    <!-- 庫存日結 -->
    <span>
      <div class="title" :style="{color: Config.themeColor[`${userInfo.themeColor}`].windowFontColor}">
      <div class="d-flex">
        <span>庫存日結</span>
        <div class="operating-box ml-3">
          <Poptip trigger="hover" title="重新整理">
            <Button
            class="icon-btn-md mr-2"
            :style="{
              'color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.color,
              'background-color': Config.themeColor[`${userInfo.themeColor}`].btn.reload.background,
            }"
            :disabled="reloadDisabled"
            @click="reloadDataGrid">
              <font-awesome-icon icon="redo-alt" />
            </Button>
          </Poptip>
        </div>
      </div>
        <div class="btn-box r">
        </div>
        <div class="btn-box l">
          <Button
            class="solid-text-btn mr-3"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="dataexport"
          >匯出</Button>
          <Button
            class="solid-text-btn"
            :class="userInfo.themeColor"
            type="default"
            shape="circle"
            @click="columnControl"
          >欄位自訂</Button>
          <!-- <Button
            class="layoutBtn"
            type="default"
            shape="circle"
            @click="getStockSummaryEvent"
          >即時日結</Button>
          <Button
            class="layoutBtn ml-3"
            type="default"
            shape="circle"
            @click="deliveryConfirmAutoBoxing"
          >確認出貨自動裝箱</Button> -->
        </div>
      </div>
      <div class="body-box">
        <DataGrid
          idKeyName="inbound_id"
          :logicalOperator="logicalOperator"
          :settingData="settingData"
          :gridData="gridData"
          :toGetIds="toGetIds"
          :noTextBreak="true"
          :isQuery="isQuery"
          :toRestFilter="toRestFilter"
          @setFilterEvent="setFilterEvent"
          @moveColEvent="moveColEvent"
          @removeColEvent="removeColEvent"
          @sortEvent="sortEvent"
          @filterEvent="filterEvent"
          @getIdsEvent="getIdsEvent"
          @pageChangeEvent="pageChangeEvent"
          @pageSizeChangeEvent="pageSizeChangeEvent"
        ></DataGrid>
      </div>
      <div class="footer">
        <!-- dataexport btn -->
        <!-- <div class="dataexportBtn" @click="dataexport">
          <font-awesome-icon icon="file-download" size="2x" />
        </div> -->
      </div>
    </span>
    <!-- columnControl modal -->
    <ColumnControlModal
      :settingData="settingData"
      :columnControlModal="columnControlModal"
      v-on:columnControlModalCloseEvent="columnControlModalClose"
      v-on:setColumnControlModalEvent="setColumnControlModal"></ColumnControlModal>
    <!-- dataexport modal -->
    <DataexportModal
      :dataexportModal="dataexportModal"
      :dataexportTitle="dataexportTitle"
      v-on:dataexportModalCancelEvent="dataexportModalCancelEvent"
      v-on:dataexportModalOkEvent="dataexportModalOkEvent"
      v-on:setDataexportModalEvent="setDataexportModalEvent"
    ></DataexportModal>
  </div>
</template>

<script>
import Config from '@/Config'
import LoadingView from '@/components/LoadingView/LoadingView'
import DataGrid from '@/components/dataGrid/DataGrid'
import ColumnControlModal from '@/components/dataGrid/ColumnControlModal'
import DataexportModal from '@/components/DataexportModal/DataexportModal'
//
export default {
  name: 'InventoryQueryBySummary',
  props: ['keyCode'],
  components: {
    LoadingView,
    DataGrid,
    ColumnControlModal,
    DataexportModal
  },
  data () {
    // console.log(this.keyCode)
    // console.log(this.$store.state.auth.permissions[this.keyCode])
    // console.log(this.$store.state.auth.functionSchema[this.keyCode])
    //
    let logicalOperator = Config.logicalOperator
    //
    let userInfo = this.$store.state.auth.userInfo
    var settingData = []
    var defaultSettingData = {
      page: {
        pageSize: Config.dataGridPageSize, // 一頁幾筆
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headBgColor,
        headColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.headColor,
        searchBarBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.searchBarBgColor,
        rowOddBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddBgColor,
        rowOddColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowOddColor,
        rowEvenBgColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenBgColor,
        rowEvenColor: Config.themeColor[`${userInfo.themeColor}`].dataGrid.rowEvenColor
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: 'Seq.',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // 定義 datagrid
    let gridData = []
    // api 取得的資料
    let functionSchema = this.$store.state.auth.functionSchema[this.keyCode]
    functionSchema.schema.forEach((element, index) => {
      //
      let filterType = 'Input'
      let valueType = 'Input'
      //
      if (element.property === 'query_daytime') {
        filterType = 'Daterange'
        valueType = 'Date'
      }
      //
      let obj = {
        property: element.property, // 流水號 (保留字)
        displayName: element.displayName || element.property,
        isOpt: false,
        filterType: filterType, // Input, Select, Daterange, Checkbox
        filterData: null,
        filterFormat: null,
        valueType: valueType, // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
        autoCompleteData: null,
        valueFormat: null,
        sortToggle: true, // 是否可排序
        sortValue: null, // null, asc, desc
        isNotRemove: true,
        resizeToggle: true, // 是否可resize
        minWidth: 'initial',
        editable: false // 資料在本欄位下是否可以被編輯
      }
      //
      defaultSettingData.columns.push(obj)
    })
    //
    settingData = defaultSettingData
    // console.log(settingData)
    //
    return {
      Config: Config,
      /* LoadingView */
      LoadingViewIsShow: false,
      //
      columnControlModal: false,
      // 總覽匯出
      dataexportModal: false,
      dataexportTitle: '庫存日結',
      exportType: null,
      //
      logicalOperator: logicalOperator,
      settingData: settingData,
      gridData: gridData,
      toGetIds: false,
      optType: null,
      idsData: null,
      isQuery: false,
      filterAry: [],
      sortAry: [],
      toRestFilter: false,
      saveLayoutColumns: [],
      reloadDisabled: false
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    },
    inventoryQueryBySummaryList: function () {
      // console.log(this.$store.state)
      let list = this.$store.state[`stockStorageBySummary`][`stockStorageBySummaryList`]
      return list || []
    }
  },
  watch: {
    userInfo: {
      handler: function (newVal) {
        this.settingData.setting = {
          headBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headBgColor,
          headColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.headColor,
          searchBarBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.searchBarBgColor,
          rowOddBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddBgColor,
          rowOddColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowOddColor,
          rowEvenBgColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenBgColor,
          rowEvenColor: Config.themeColor[`${newVal.themeColor}`].dataGrid.rowEvenColor
        }
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    saveLayoutColumns: {
      handler: function (val) {
        // console.log(val)
        if (val.length > 0) {
          this.settingData.columns = val
        }
      },
      deep: true
    },
    inventoryQueryBySummaryList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
          })
          // console.log(this.gridData)
        }
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
      this.saveLayoutSettings()
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
      this.saveLayoutSettings()
    },
    saveLayoutSettings: function () {
      let settingData = this.settingData
      settingData.page.pageNumber = 1
      // console.log(settingData)
      let settingDataStr = JSON.stringify(settingData.columns)
      let postData = {
        layout_code: this.keyCode,
        layout_content: settingDataStr
      }
      this.$store.dispatch('gridLayout/create', postData).then((r) => {
        console.log(r)
        if (r.success) {
          // this.$Notice.success({
          //   title: '欄位更新完成'
          // })
        } else {
          this.$Notice.error({
            title: '欄位更新失敗',
            desc: r.message,
            duration: 30
          })
        }
      })
    },
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      // console.log(data.inboundStatus)
      Object.keys(data).forEach((item, index) => {
        if (data[item].value !== null && data[item].value !== '' && data[item].value !== undefined) {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              var localFilterStartTime = yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd + ' 00:00:00'
              var UTCFilterStartTime = this.changeToUTCTime(localFilterStartTime)
              filterAry.push({
                queryCondition: '>=',
                queryValue: UTCFilterStartTime,
                queryField: item
              })
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              var localFilterEndTime = yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1 + ' 23:59:59'
              var UTCFilterEndTime = this.changeToUTCTime(localFilterEndTime)
              filterAry.push({
                queryCondition: '<=',
                queryValue: UTCFilterEndTime,
                queryField: item
              })
            }
          } else {
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry, this.sortAry)
    },
    // 取得選取 id
    getIds: function (optType) {
      this.optType = optType
      this.toGetIds = true
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      // console.log(this.optType)
      this.idsData = data
      this.toGetIds = false
      //
      switch (this.optType) {
        // case 'clone':
        //   this.step = 1
        //   this.cloneData = data.list[0]
        //   break
      }
      this.optType = null
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 重置 filter
    resetFilter: function () {
      this.toRestFilter = true
    },
    setFilterEvent: function (bol) {
      this.toRestFilter = bol
    },
    // ColumnControlModal
    columnControl: function () {
      this.columnControlModal = true
    },
    setColumnControlModal: function (bol) {
      this.columnControlModal = bol
    },
    columnControlModalClose: function (bol) {
      this.saveLayoutSettings()
      this.columnControlModal = bol
    },
    //
    reloadDataGrid: function () {
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // get list
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      this.isQuery = true
      this.idsData = null
      this.reloadDisabled = true
      this.LoadingViewIsShow = true
      //
      let filter = []
      let sort = sortAry || []
      //
      if (filterAry) {
        filterAry.forEach((item) => {
          filter.push(item)
        })
      }
      let postData = {
        pageNum: pageNumber,
        pageSize: pageSize,
        baseCondition: [...filter],
        orCondition: [],
        sort: sort
      }
      // console.log(postData)
      this.$store.dispatch(`stockStorageBySummary/query`, postData).then((r) => {
        // console.log(r)
        if (r.success) {
          this.settingData.page.totalCount = r.totalCount
          this.isQuery = false
          this.reloadDisabled = false
          this.LoadingViewIsShow = false
        } else {
          this.$Notice.warning({
            title: `查詢結束`,
            desc: `${r.message}`,
            duration: 30
          })
          this.isQuery = false
          this.reloadDisabled = false
          this.LoadingViewIsShow = false
        }
      })
    },
    changeLoadingViewIsShowEvent: function (bol) {
      this.LoadingViewIsShow = bol
    },
    // dataexport modal
    dataexport: function () {
      // console.log('總覽匯出')
      if (this.gridData.length === 0) {
        this.$Notice.warning({
          title: '沒有可匯出的資料'
        })
        return
      }
      this.dataexportModal = true
    },
    setDataexportModalEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalCancelEvent: function (bol) {
      this.dataexportModal = bol
    },
    dataexportModalOkEvent: async function (data) {
      this.LoadingViewIsShow = true
      this.dataexportModal = data.bol

      let postData = {
        pageNum: 1,
        pageSize: 9999999,
        baseCondition: [],
        orCondition: [],
        sort: [],
        excelHeaders: [],
        dbCols: []
      }

      let exportFields = []
      let displayNames = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          if (element.property === 'SELECT') {
            return
          }
          displayNames.push(element.property)

          exportFields.push(element.displayName)
        }
      })
      // 匯出範圍
      switch (data.postData.exportReach) {
        case 1:
          postData.baseCondition = [
            ...this.filterAry
          ]
          postData.orCondition = []

          break
        case 2:
          await this.getIds()
          // console.log(this.idsData)
          if (!this.idsData) {
            this.$Notice.warning({
              title: '請勾選要匯出的資料'
            })
            this.LoadingViewIsShow = false
            return
          }
          // console.log(listLength)
          let ids = []
          ids = this.idsData.selectIds
          //
          postData.baseCondition = [['ss_id', 'in', ids]]
          postData.orCondition = []
          break
      }
      //
      postData.sort = this.sortAry
      postData.excelHeaders = exportFields
      postData.dbCols = displayNames
      postData.fileName = data.postData.exportFileName
      //
      let dataexportRes = await this.$store.dispatch(`stockStorageBySummary/dataexport`, postData)
      // console.log(dataexportRes)
      if (dataexportRes.success) {
        // console.log('下載檔案')
        window.open(`${dataexportRes.donwloadLink}`)
      } else {
        this.$Notice.error({
          title: '匯出失敗',
          desc: dataexportRes.message,
          duration: 30
        })
      }
      this.LoadingViewIsShow = false
    },
    getStockSummaryEvent: async function () {
      this.LoadingViewIsShow = true
      let stockSummaryRes = await this.$store.dispatch(`stockStorageBySummary/create`)
      // console.log(stockSummaryRes)
      if (stockSummaryRes.httpStatus === 200 || stockSummaryRes.httpStatus === 201) {
        this.$Notice.success({
          title: '處理成功'
        })
        this.LoadingViewIsShow = false
      } else if (stockSummaryRes.httpStatus !== 401) {
        this.$Notice.warning({
          title: `處理完畢`,
          desc: stockSummaryRes.respondCode.debugInfo,
          duration: 30
        })
        this.LoadingViewIsShow = false
      }
    },
    deliveryConfirmAutoBoxing: async function () {
      this.LoadingViewIsShow = true
      let res = await this.$store.dispatch(`deliveryConfirm/deliveryConfirmAutoBoxing`)
      // console.log(res)
      if (res.httpStatus === 200 || res.httpStatus === 201) {
        this.$Notice.success({
          title: '處理成功'
        })
        this.LoadingViewIsShow = false
      } else if (res.httpStatus !== 401) {
        this.$Notice.warning({
          title: `處理完畢`,
          desc: res.respondCode.debugInfo,
          duration: 30
        })
        this.LoadingViewIsShow = false
      }
    },
    getGridLayout: function () {
      console.log(this.keyCode)
      this.$store.dispatch(`gridLayout/query`, this.keyCode).then((r) => {
        console.log(r)
        if (r.success) {
          if (r.data) {
            let settingDataArr = JSON.parse(r.data.layout_content)
            this.saveLayoutColumns = settingDataArr || []
          }
        }
      })
    }
  },
  created () {
    this.getGridLayout()
    this.getDataList(this.settingData.page.pageSize, 1)
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
    this.$store.dispatch(`stockStorageBydate/clear`)
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  overflow: auto;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .title-text {
      width: fit-content;
      font-family: PingFangTC;
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 400;
    }
    .btn-box {
      display: flex;
      &.r {
        flex: 1;
        padding: 0 16px;
      }
      &.l {
        width: auto;
      }
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 46px - 16px);
  }
  .footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .dataexportBtn {
      position: absolute;
      right: 45px;
      bottom: 45px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #515a6e;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
  }
}
</style>
