<template>
  <!-- AdjustmentOutboundStep -->
  <div class="timeline">
    <!-- 待確認 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===2 ? 'active' : '',
      step>4 ? 'finish' : ''
    ]"
    :disabled="step!==4">
      <div class="icon"><font-awesome-icon icon="bell" /></div>
      <div class="content">
        <div class="timeline-title">待確認</div>
        <div class="timeline-time">{{data ? data.date_outbound ? data.date_outbound.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
    <!-- 已確認 -->
    <Button
    :class="[
      userInfo.themeColor,
      step===4 ? 'active' : '',
      step===2 ? 'canGo' : ''
    ]"
    :disabled="step!==2"
    @click="setAdjustmentOutboundStasus('confirm')">
      <div class="icon"><font-awesome-icon icon="check-circle" /></div>
      <div class="content">
        <div class="timeline-title">已完成</div>
        <div class="timeline-time">{{data ? data.date_closed ? data.date_closed.substr(0, 10) : '' : ''}}</div>
      </div>
    </Button>
  </div>
</template>

<script>
export default {
  name: 'AdjustmentOutboundStep',
  props: [
    'data',
    'step'
  ],
  components: {},
  data () {
    //
    return {
      //
    }
  },
  computed: {
    userInfo: function () {
      return this.$store.state.auth.userInfo || { 'themeColor': 'dark' }
    }
  },
  watch: {
    data: {
      handler: function (val) {
        console.log(val)
      },
      deep: true
    }
  },
  methods: {
    setAdjustmentOutboundStasus (data) {
      // console.log(data)
      this.$emit('setAdjustmentOutboundStasus', data)
    }
  },
  created () {
    //
  },
  mounted () {
    //
    console.log(this.step)
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.timeline {
  /deep/
  .ivu-btn {
    height: 54px;
    font-size: 16px;
    border: 1px solid #ACACAC;
    color: #ACACAC;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    cursor: not-allowed;
    padding: 0 34px;
    &::before {
      content: "";
      display: none;
      position: absolute;
      width: 54px;
      height: 54px;
      opacity: 1;
      z-index: 0;
      transform: rotate(45deg) scale(.7);
      left: -28px;
      border-left: 1px solid #ACACAC;
      border-bottom: 1px solid #ACACAC;
      border-radius: 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 54px;
      height: 54px;
      opacity: 1;
      transform: rotate(45deg) scale(.7);
      right: -28px;
      top: -1px;
      border-right: 1px solid #ACACAC;
      border-top: 1px solid #ACACAC;
      border-radius: 0;
      z-index: 2;
    }
    >span {
      display: flex;
      align-items: center;
      position: relative;
    }
    .icon {
      margin-right: 8px;
    }
    .timeline-time {
      font-size: 12px;
    }
    &:first-of-type {
      border-radius: 54px 0 0 54px;
      &.active {
        &::before {
          display: none;
        }
      }
    }
    &:last-of-type {
      border-radius: 0 54px 54px 0;
      &::after {
        display: none;
      }
      &.active {
        &::before, &::after {
          display: none;
        }
      }
    }
    &.finish {
      &::before, &::after {
        display: none;
      }
    }
    &.dark {
      border-left: 1px solid #3c3c3c;
      &::before, &::after {
        background: #3c3c3c;
      }
      &:first-of-type {
        border-left: 1px solid #ACACAC;
      }
    }
    &.light {
      border-left: 1px solid #fff;
      &::before, &::after {
        background: #fff;
      }
      &:first-of-type {
        border-left: 1px solid #ACACAC;
      }
    }
    &.active {
      border: 1px solid #e0f0ff!important;
      color: #118cf8;
      background-color: #e0f0ff;
      z-index: 2;
      &::before {
        display: block;
        background: #e0f0ff;
        border: 1px solid #e0f0ff;
      }
      &::after {
        display: block;
        background: #e0f0ff;
        border: 1px solid #e0f0ff;
      }
    }
    &.canGo {
      border: 1px solid #118cf8!important;
      color: #fff;
      background-color: #118cf8;
      cursor: pointer;
      &::before {
        background: #118cf8;
        border: 1px solid #118cf8;
      }
      &::after {
        background: #118cf8;
        border: 1px solid #118cf8;
      }
    }
  }
}
</style>
