<template>
  <div class="OutInventoryQueryByinboundDate">
    <div class="search-bar">
      <div class="container">
        <h2 class="sub-title white">
          <span>搜尋條件</span>
        </h2>
        <div class="row">
          <div class="col">
            <!-- 上架儲位 -->
            <FloatLabelBox
              :config="{hasContent: (postData.storage_code && postData.storage_code!==''), label: `上架儲位`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
              :code="`storage_code`"
              :defaultValue="postData.storage_code"
              :disabled="false"
              @changeModelEvent="changeModelEvent"
            ></FloatLabelBox>
          </div>
          <div class="col">
            <!-- 商品料號 -->
            <FloatLabelBox
              :config="{hasContent: (postData.product_code && postData.product_code!==''), label: `商品料號`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
              :code="`product_code`"
              :defaultValue="postData.product_code"
              :disabled="false"
              @changeModelEvent="changeModelEvent"
            ></FloatLabelBox>
          </div>
          <div class="col">
            <!-- 入庫通知時間 -->
            <!-- <FloatLabelBox
              :config="{hasContent: (postData.date_inbound && postData.date_inbound!==''), label: `入庫通知時間`, hasClearButton: true, type: `DatePicker`, settings: {height: 52}}"
              :code="`date_inbound`"
              :defaultValue="postData.date_inbound"
              :disabled="false"
              @changeModelEvent="datePickerChangeEvent"
            ></FloatLabelBox> -->
            <FloatLabelBox
              :config="{hasContent: (postData.date_inbound && postData.date_inbound!==''), label: `指定庫存日期區間`, hasClearButton: true, type: `DaterangePicker`, settings: {height: 52}}"
              :code="`date_inbound`"
              :defaultValue="postData.date_inbound"
              @changeModelEvent="dateInboundChangeEvent"
            ></FloatLabelBox>
          </div>
          <!-- <div class="col">
            商品名稱
            <FloatLabelBox
              :config="{hasContent: (postData.product_name && postData.product_name!==''), label: `商品名稱`, hasClearButton: true, type: `InputText`, settings: {height: 52}}"
              :code="`product_name`"
              :defaultValue="postData.product_name"
              :disabled="false"
              @changeModelEvent="changeModelEvent"
            ></FloatLabelBox>
          </div> -->
          <div class="col">
            <Button class="sm-btn white mr-3" type="default" shape="circle" @click="search">查詢</Button>
            <Button class="sm-btn green" type="default" shape="circle" @click="dataexport"><font-awesome-icon icon="file-import" color="#fff"/>匯出 Excel 檔</Button>
          </div>
        </div>
      </div>
    </div>
    <div class="container h-100">
      <div class="body-box">
        <h2 class="sub-title">商品資訊</h2>
        <DataGrid
        idKeyName="product_id"
        :hideFilter="true"
        :hidePage="false"
        :logicalOperator="logicalOperator"
        :settingData="settingData"
        :gridData="gridData"
        :toGetIds="toGetIds"
        :noTextBreak="true"
        :isQuery="isQuery"
        @gridDataChengeEvent="gridDataChengeEvent"
        @sortEvent="sortEvent"
        @filterEvent="filterEvent"
        @getIdsEvent="getIdsEvent"
        @getDetailEvent="getDetailEvent"
        @pageChangeEvent="pageChangeEvent"
        @pageSizeChangeEvent="pageSizeChangeEvent"
      ></DataGrid>
      </div>
    </div>
  </div>
</template>

<script>
import Config from '../../Config'
import DataGrid from '@/components/dataGrid/DataGrid'
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
// import LoadingView from '@/components/LoadingView/LoadingView'
//
export default {
  name: 'OutInventoryQueryByinboundDate',
  props: [],
  components: { FloatLabelBox, DataGrid },
  data () {
    var settingData = {
      page: {
        pageSize: 20, // 一頁幾筆 / 不分頁，一次取全部
        pageNumber: 1, // 當前頁碼 從 1 開始
        totalCount: 0 // 總筆數
      },
      setting: {
        headBgColor: '#b0b3a2',
        headColor: '#FFFFFF',
        rowOddBgColor: '#FFFFFF',
        rowOddColor: '#777777',
        rowEvenBgColor: '#FFFFFF',
        rowEvenColor: '#777777'
      },
      columns: [
        {
          property: 'INDEX', // 流水號 (保留字)
          displayName: '序號',
          isOpt: true,
          filterType: null, // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'InputNumber', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: false, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: false, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'storage_code',
          displayName: '上架儲位',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'date_inbound',
          displayName: '入庫通知時間',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_code',
          displayName: '商品料號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_name',
          displayName: '商品名稱',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'actual_nums',
          displayName: '總庫存(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'actual_nums_bad',
          displayName: '總庫存(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'booked_nums',
          displayName: '已分配量(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'booked_nums_bad',
          displayName: '已分配量(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'available_nums',
          displayName: '可用量(良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'available_nums_bad',
          displayName: '可用量(不良品)',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'vendor_name',
          displayName: '供應商',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_barcode',
          displayName: '商品條碼',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_batch_no',
          displayName: '批號',
          isOpt: false,
          filterType: 'Input', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: null,
          valueType: 'Input', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: null,
          sortToggle: true, // 是否可排序
          sortValue: null, // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: 'initial',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_manufactured',
          displayName: '製造日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expired_date',
          displayName: '有效日期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        },
        {
          property: 'product_expiration_sale',
          displayName: '允售效期',
          isOpt: false,
          filterType: 'Daterange', // Input, Select, Daterange, Checkbox
          filterData: null,
          filterFormat: 'yyyy-MM-dd',
          valueType: 'Date', // 資料型態對應元件 Input, InputNumber, Checkbox, Date, Select, AutoComplete
          autoCompleteData: null,
          valueFormat: 'yyyy-MM-dd',
          sortToggle: true, // 是否可排序
          sortValue: 'asc', // null, asc, desc
          isNotRemove: true,
          resizeToggle: true, // 是否可resize
          minWidth: '100px',
          editable: false // 資料在本欄位下是否可以被編輯
        }
      ]
    }
    // api 取得的資料
    let gridData = []
    //
    let logicalOperator = [
      {
        value: '=',
        label: 'equal'
      },
      {
        value: '!=',
        label: 'not equal'
      },
      {
        value: 'LIKE',
        label: 'like'
      }
    ]
    //
    return {
      companyId: 9,
      whId: 11,
      LoadingViewIsShow: false,
      //
      postData: {
        storage_code: null,
        product_code: null,
        product_name: null,
        date_inbound: null
      },
      settingData: settingData,
      gridData: gridData,
      logicalOperator: logicalOperator,
      toGetIds: false,
      optType: null,
      detailId: '',
      filterAry: [],
      sortAry: [],
      isQuery: false,
      //
      timeZoneTimestamp: ''
    }
  },
  computed: {
    //
    stockStorageBydateList: function () {
      return this.$store.state[`stockStorageBydate`][`stockStorageBydateList`]
    }
  },
  watch: {
    lang: function (val) {
      this.setLang(val)
    },
    '$store.state.auth.auth': function (val) {
      if (!val.success) {
        this.msg = val.message
      } else {
        //
        this.$router.replace({ path: Config.firstPath })
      }
    },
    step: {
      handler: function (val) {
        //
        // console.log(val)
      },
      deep: true
    },
    settingData: {
      handler: function (val) {
        //
      },
      deep: true
    },
    stockStorageBydateList: {
      handler: function (val) {
        // console.log(val)
        if (Array.isArray(val)) {
          this.gridData = JSON.parse(JSON.stringify(val))
          this.gridData.forEach((item, index) => {
            item.INDEX = (index + 1) + parseInt(this.settingData.page.pageSize) * parseInt(this.settingData.page.pageNumber - 1)
            item.SELECT = false
            if (item.date_inbound) {
              item.date_inbound = this.changeToLocalTime(item.date_inbound)
            }
          })
        }
        // console.log(this.gridData)
      },
      deep: true
    },
    gridData: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    },
    postData: {
      handler: function (val) {
        // console.log(val)
      },
      deep: true
    }
  },
  methods: {
    // 移除欄位接口
    removeColEvent: function (property) {
      // console.log('移除欄位 : ', property)
      /*
      * 打 api 或 client 端移除欄位
      * 此例為 client 端移除欄位
      */
      // 假移除
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === property) {
          ele.isNotRemove = false
        }
      })
    },
    // 排序欄位接口
    moveColEvent: function (data) {
      // console.log('排序欄位 : ', data)
      let fromProp = data.fromProp
      let toProp = data.toProp
      /*
      * 打 api 或 client 端排序
      * 此例為 client 端排序
      */
      let fromIndex = null
      let toIndex = null
      this.settingData.columns.forEach((ele, idx) => {
        if (ele.property === fromProp) {
          fromIndex = idx
        }
        if (ele.property === toProp) {
          toIndex = idx
        }
      })
      for (let k in this.settingData.columns) {
        let item = this.settingData.columns[k]
        if (parseInt(k) === parseInt(fromIndex)) {
          this.settingData.columns.splice(k, 1)
          this.settingData.columns.splice(toIndex, 0, item)
          break
        }
      }
    },
    // 排序接口
    // 排序接口
    sortEvent: function (data) {
      // console.log('排序 : ', data)
      //
      let col = data.col
      let colIdx = data.colIdx
      //
      switch (col.sortValue) {
        case null:
          this.settingData.columns[colIdx].sortValue = 'asc'
          break
        case 'asc':
          this.settingData.columns[colIdx].sortValue = 'desc'
          break
        case 'desc':
          this.settingData.columns[colIdx].sortValue = null
          break
      }
      // 打 api ...
      // let filterAry = []
      let sortAry = col.sortValue ? [{
        'sortField': col.property,
        'sortValue': col.sortValue
      }] : []
      // this.filterAry = filterAry
      this.sortAry = sortAry
      this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // 篩選
    filterEvent: function (data) {
      // console.log('篩選 : ', data)
      let filterAry = []
      // let sortAry = []
      // console.log(data.inboundStatus)
      Object.keys(data).forEach((item, index) => {
        if (data[item].value && data[item].value !== '') {
          if (data[item].logicalOperator === 'BETWEEN') {
            if (data[item].value[0] !== '' && data[item].value[1] !== '') {
              var yyyy = data[item].value[0].getFullYear()
              var mm = data[item].value[0].getMonth() + 1
              var dd = data[item].value[0].getDate()
              filterAry.push({
                queryCondition: '>=',
                queryValue: yyyy + '-' + (mm > 9 ? '' : 0) + mm + '-' + (dd > 9 ? '' : 0) + dd,
                queryField: item
              })
              //
              var yyyy1 = data[item].value[1].getFullYear()
              var mm1 = data[item].value[1].getMonth() + 1
              var dd1 = data[item].value[1].getDate()
              filterAry.push({
                queryCondition: '<=',
                queryValue: yyyy1 + '-' + (mm1 > 9 ? '' : 0) + mm1 + '-' + (dd1 > 9 ? '' : 0) + dd1,
                queryField: item
              })
            }
          } else {
            filterAry.push({
              queryCondition: data[item].logicalOperator,
              queryValue: data[item].value,
              queryField: item
            })
          }
        }
      })
      // console.log('篩選 filterAry : ', filterAry)
      this.filterAry = filterAry
      // this.sortAry = sortAry
      if (this.filterAry.length > 0 || this.sortAry.length > 0) {
        this.getDataList(this.settingData.page.pageSize, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
      }
    },
    // 取得選取 id
    getIds: function (optType) {
      this.toGetIds = true
      this.optType = optType
    },
    getIdsEvent: function (data) {
      // console.log('取得選取 id : ', data)
      //
      switch (this.optType) {
        case 'remove':
          // 刪除
          break
      }
      //
      this.toGetIds = false
      this.optType = null
    },
    // 取得該列資訊
    getDetailEvent: function (data) {
      // console.log('取得該列資訊 : ', data)
    },
    // 取得全部資料
    getData: function () {
      // console.log('取得全部資料 : ', this.gridData)
    },
    // 改變頁碼
    pageChangeEvent: function (n) {
      // console.log('改變頁碼 : ', n)
      this.settingData.page.pageNumber = n
      this.getDataList(this.settingData.page.pageSize, n, this.filterAry, this.sortAry)
    },
    // 改變每頁筆數
    pageSizeChangeEvent: function (n) {
      // console.log('改變每頁筆數 : ', n)
      this.settingData.page.pageSize = n
      this.getDataList(n, this.settingData.page.pageNumber, this.filterAry, this.sortAry)
    },
    // data grid 改變
    gridDataChengeEvent: function (data) {
      this.gridData = data
    },
    changeModelEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this.postData[data.code] = data.val
    },
    dateInboundChangeEvent: function (data) {
      console.log(data)
      if (data.val) {
        if (data.val[0] === '' && data.val[1] === '') {
          this.postData[data.code] = null
        } else {
          this.postData[data.code] = data.val
        }
      }
    },
    search: function () {
      // console.log('search')
      // console.log(this.postData)
      let filterAry = []
      Object.keys(this.postData).forEach((item, index) => {
        if (this.postData[item]) {
          if (item === 'date_inbound') {
            filterAry.push({
              queryCondition: '>=',
              queryValue: this.changeToUTCTime(`${this.postData.date_inbound[0]} 00:00:00`),
              queryField: 'date_inbound'
            },
            {
              queryCondition: '<=',
              queryValue: this.changeToUTCTime(`${this.postData.date_inbound[1]} 23:59:59`),
              queryField: 'date_inbound'
            })
          } else {
            filterAry.push({
              queryCondition: 'LIKE',
              queryValue: this.postData[item],
              queryField: item
            })
          }
        }
      })
      this.filterAry = filterAry
      this.getDataList(this.settingData.page.pageSize, 1, this.filterAry)
    },
    getDataList: function (pageSize, pageNumber, filterAry, sortAry) {
      // 此應用不需分頁 故 頁碼設1，每頁頁數設Config.maxPageSize
      this.isQuery = true
      let filter = filterAry || []
      let sort = sortAry || []
      let postData = {
        page: pageNumber,
        pageSize: pageSize,
        combinedCondition: 'AND',
        query: [
          ...filter],
        sort: sort
      }
      this.$store.dispatch(`stockStorageBydate/query`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        if (r) {
          this.settingData.page.totalCount = r.respondCode.additionals.totalCount
          // this.gridData = r.respondCode.additionals['stock_bystorage_n_date']
        }
        this.isQuery = false
      })
    },
    getTimeZoneTimestamp: function () {
      let timeZone = -(new Date().getTimezoneOffset() / 60)
      this.timeZoneTimestamp = timeZone * 60 * 60
      // console.log(this.timeZoneTimestamp)
    },
    changeToLocalTime (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為本地時間
      let localTimestamp = (timestamp / 1000) + this.timeZoneTimestamp
      let local = new Date(localTimestamp * 1000)
      time = `${local.getFullYear()}-${(local.getMonth() + 1) > 9 ? '' : 0}${local.getMonth() + 1}-${local.getDate() > 9 ? '' : 0}${local.getDate()} ${local.getHours() > 9 ? '' : 0}${local.getHours()}:${local.getMinutes() > 9 ? '' : 0}${local.getMinutes()}:${local.getSeconds() > 9 ? '' : 0}${local.getSeconds()}`
      // console.log(time)
      return time
    },
    changeToUTCTime: function (time) {
      // 轉timestamp
      let date = new Date(time)
      let timestamp = date.getTime()
      // 改為UTC時間
      let UTCTimestamp = (timestamp / 1000) - this.timeZoneTimestamp
      let UTC = new Date(UTCTimestamp * 1000)
      time = `${UTC.getFullYear()}-${(UTC.getMonth() + 1) > 9 ? '' : 0}${UTC.getMonth() + 1}-${UTC.getDate() > 9 ? '' : 0}${UTC.getDate()} ${UTC.getHours() > 9 ? '' : 0}${UTC.getHours()}:${UTC.getMinutes() > 9 ? '' : 0}${UTC.getMinutes()}:${UTC.getSeconds() > 9 ? '' : 0}${UTC.getSeconds()}`
      // console.log(time)
      return time
    },
    dataexport: function () {
      if (this.settingData.page.totalCount === 0) {
        this.$Notice.warning({
          title: '沒有可以匯出的內容'
        })
        return
      }
      this.LoadingViewIsShow = true
      //
      let postData = {
        queryExpression: {
          page: 1,
          pageSize: this.settingData.page.totalCount,
          combinedCondition: 'AND',
          query: this.filterAry,
          sort: this.sortAry
        },
        exportFields: [],
        exportSettings: {
          exportFileName: 'ExternalInventoryQueryByinboundDate',
          exportFormat: 'xlsx'
        }
      }
      let exportFields = []
      this.settingData.columns.forEach((element, index) => {
        // console.log(element)
        if (element.isNotRemove) {
          if (element.property === 'INDEX') {
            return
          }
          exportFields.push({
            fieldName: element.property,
            displayName: element.displayName
          })
        }
      })
      //
      postData.exportFields = exportFields
      // console.log(postData)
      //
      this.$store.dispatch(`stockStorageBydate/dataexport`, { postData: postData, companyId: this.companyId, whId: this.whId }).then((r) => {
        // console.log(r)
        let rex = /^[2]/g
        if (rex.test(r.httpStatus)) {
          // console.log('下載檔案')
          window.open(`${Config.API.downloadAPIBaseURL}${r.respondCode.additionals.dataExport.download_link}`)
        }
        this.LoadingViewIsShow = false
      })
    }
  },
  created () {
    this.getTimeZoneTimestamp()
    // console.log(window.innerWidth)
    // if (window.innerWidth < 768) {
    //   this.media = true
    // }
  },
  mounted () {
    //
    // this.getDataList()
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.OutInventoryQueryByinboundDate {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #FCFBFA;
  header{
    background-color: #787a58;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
    // &.unLogin{
    //   background-color: #fff;
    // }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    .logo {
      max-width: 172px;
      margin-left: 16px;
    }
    .user{
      font-size: 16px;
      display: flex;
      align-items: center;
      padding: 0 33px;
    }
    .user-img{
      margin-left: 20px;
    }
    /deep/.ivu-avatar{
      width: 35px;
      height: 35px;
      line-height: 35px;
      border-radius: 18px;
    }
    /deep/.ivu-btn {
      font-size: 16px;
      color: #fff;
      height: 56px;
      border-radius: 0;
      &:hover {
        background-color:rgba(0, 0, 0, 0.5);
      }
    }
  }
  .search-bar{
    background-color: #424450;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 21px 0;
    .row {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .col {
        flex: 0 0 25%;
        height: auto;
        margin-bottom: 1.3rem;
        padding-right: 5rem;
        display: flex;
        align-items: center;
        &:last-of-type{
          padding-right: 0;
          justify-content: space-between;
        }
      }
    }
    /deep/.floatLabelBox-container{
      border-bottom: 1px solid #fff;
      .label-box{
        color: #fff;
      }
      input{
        color: #fff;
      }
    }
    /deep/.ivu-input-suffix i{
      color: #fff;
      font-size: 20px;
    }
  }
  .body-box {
    width: 100%;
    height: calc(100% - 174.8px);
    padding: 21px 0 0 0;
  }
  .sm-btn {
    font-size: 16px;
    color: #fff;
    // padding: 6px 16px;
    background-color: #8e96a6;
    border: 1px solid transparent;
    svg{
      margin-right: 16px;
      font-size: 20px;
    }
    &.bluey-grey {
      background-color: #8e96a6;
    }
    &.green {
      background-color: #787a58;
    }
    &.white{
      color: #787a58;
      background-color: #fff;
    }
  }
  .md-btn{
    font-size: 21px;
    min-width: 200px;
    // padding: 6px 16px;
    margin-top: 4rem;
    color: #6d7278;
    background-color: #f4f2f1;
    border: 1px solid #979797;
    &.yellow {
      color: #fff;
      background-color: #dca558;
      border: 1px solid #dca558;
    }
    &.green {
      color: #fff;
      background-color: #787a58;
      border: 1px solid #787a58;
    }
    // &:hover{
    //    background-color: #fff;
    // }
  }
  .sub-title {
    color: #48465b;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    &.white{
      color: #fff;
    }
  }
  /deep/.DATAGRID-BOX{
    width: 100%;
    height: calc(100% - 60px);
    // margin: 0 auto;
    padding: 0;
    .table-container{
      position: relative;
      overflow-x: auto;
      width: 100%;
      height: 100%;
      .scroll-box{
        border-radius: 12px 12px 0 0;
        border: 1px solid transparent;
      }
      table{
        height: 100%;
        thead{
          border: 0;
          tr{
              border-radius: 12px 12px 0 0;
            td{
              border: 0;
              padding: 6px 0 6px 25px;
              span{
                font-size: 12px!important;
              }
            }
          }
        }
        tbody tr{
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;

          td{
            padding: 10px;
            border-left: 0;
            border-right: 0;
          }
        }
      }
    }
     /deep/.page-box{
      position: fixed;
      top: 236.8px;
      right: calc(50% - (1140px / 2));
      padding: 0;
    }
  }
  .top-box {
    padding: 0 1rem;
  }
  .bottom-box{
    height: calc(100% - 230px);
  }
  .login{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #787a58;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform:translateY(0px);
    transition: all .5s;
    &.isLogin{
      opacity: 0;
      z-index: -1;
      transform:translateY(500px);
      transition: all .5s;
    }
    .login-box{
      width: 1000px;
      height: 500px;
      background: #fff;
      display: flex;
      .other-box{
        width: 500px;
        height: 100%;
        padding: 0 0 5rem;
        background: #f4f2f1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        order: 2;
        &.isFocuse {
          order: 1;
        }
        .logo{
          width: 120px;
          margin-bottom: 2rem;
        }
      }
      .input-box {
        padding: 0 0 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 500px;
        position: relative;
        order: 2;
        h3{
          margin-bottom: 6rem;
          font-size: 16px;
          color: #6d7278;
          font-weight: 500;
          letter-spacing: 4px;
        }
        .input {
          font-size: 16px;
          margin-bottom: 1.5rem;
          display: flex;
          align-items: center;
          label {
            margin-right: 1rem;
            color: #e0e0e0;
          }
          /deep/.ivu-input {
            border: 0px solid;
            border-bottom: 1px solid #e0e0e0;
            border-radius: 0;
            padding: 4px;
            height: 33px;
            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 1000px white inset;
              -webkit-text-fill-color: #333;
            }
            &[type=text]:focus, &[type=password]:focus {
              -webkit-box-shadow: 0 0 0 1000px white inset;
            }
          }
          input {
            border: 0px solid;
            border-bottom: 1px solid #e0e0e0;
            color: #9d9d9d;
            width: 280px;
            padding: 4px;
            &:focus {
              outline: none;
              border-bottom: 1px solid #787a58;
            }
            // &:valid {
            //   background-color: red;
            // }
            // &:invalid {
            //   background-color: blue;
            // }
            // &:empty {
            //   background-color: yellow;
            // }
          }
          input:-webkit-autofill,
          textarea:-webkit-autofill,
          select:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset;
            -webkit-text-fill-color: #333;
          }
          input[type=text]:focus, input[type=password]:focus, textarea:focus {
            -webkit-box-shadow: 0 0 0 1000px white inset;
          }
        }
        /deep/.ivu-checkbox-wrapper{
          display: block;
          font-size: 14px;
        }
        .forget{
          color: #df6666;
          font-size: 14px;
          border-radius: 0;
          padding: 0;
          position: absolute;
          bottom: 42px;
          &:hover{
            border-bottom: 1px solid #df6666;
          }
        }
        &.isFocuse {
          order: 1;
          h3{
            margin-bottom: 3.8rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:768px) {
  .OutInventoryQueryByinboundDate{
    background-size: cover;
    header{
      height: 43px;
      .logo{
        max-width: 138px;
      }
    }
    .body-box{
      width: 100%;
      height: calc(100% - 43px);
      align-items: start;
    }
    .conten-box{
      width: 100%;
      height: calc(100% - 83px);
      background: #fff;
      padding: 22px 16px;
      overflow-y: scroll;
      &.hasNav{
        padding-bottom: 50px;
      }
    }
    .sub-title{
      font-size: 18px;
      padding: 0 0 8px 8px;
      color: #354361;
      font-weight: 500;
    }
  }
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .OutInventoryQueryByinboundDate[data-v-2cbdd8f4] .DATAGRID-BOX /deep/.page-box{
    right: calc(50% - (540px / 2));
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .OutInventoryQueryByinboundDate[data-v-2cbdd8f4] .DATAGRID-BOX /deep/.page-box{
    right: calc(50% - (720px / 2));
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .OutInventoryQueryByinboundDate[data-v-2cbdd8f4] .DATAGRID-BOX /deep/.page-box{
    right: calc(50% - (960px / 2));
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .OutInventoryQueryByinboundDate[data-v-2cbdd8f4] .DATAGRID-BOX /deep/.page-box{
    right: calc(50% - (1140px / 2));
  }
}
</style>
