<template>
  <div class="win-content">
    <grid-layout
    :layout.sync="layout"
    :col-num="12"
    :row-height="30"
    :is-draggable="true"
    :is-resizable="true"
    :is-mirrored="false"
    :vertical-compact="true"
    :margin="[10, 10]"
    :use-css-transforms="true">
      <grid-item
      v-for="(item, index) in layout"
      :key="index"
      :x="item.x"
      :y="item.y"
      :w="item.w"
      :h="item.h"
      :i="item.i">
        <div class="box">{{item.i}}</div>
      </grid-item>
    </grid-layout>
  </div>
</template>

<script>
import VueGridLayout from 'vue-grid-layout'
export default {
  name: 'DemoSubItem',
  props: [],
  components: {
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem
  },
  data () {
    var testLayout = [
      { 'x': 0, 'y': 0, 'w': 2, 'h': 2, 'i': '0 - 0' },
      { 'x': 2, 'y': 0, 'w': 2, 'h': 4, 'i': '0 - 1' },
      { 'x': 4, 'y': 0, 'w': 2, 'h': 5, 'i': '0 - 2' }
    ]
    //
    return {
      layout: testLayout
    }
  },
  watch: {},
  methods: {},
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  overflow: auto;
}
.box {
  width: 100%;
  height: 100%;
  background-color: #f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 21px;
  font-weight: bold;
}
</style>
