<template>
  <div class="win-content">
    <h2>Demo item 5 - 1</h2>
    <div class="d-flex">
      <div class="box-1">
        <table>
          <tbody>
            <tr
                v-for="(row, index) in list1"
                :key="`${row.name}_${index}`"
                class="ishover"
                :class="{'active': row.SELECT }"
                @click.exact="setectEvent(row, index, 1)"
                @click.shift.exact="shiftSetectEvent(row, index, 1)"
                @click.ctrl.exact="ctrlSetectEvent(row, index, 1)"
                @click.meta.exact="ctrlSetectEvent(row, index, 1)"
              >
              <td
              v-for="(col, idx) in list1Cols"
              :key="idx">
                <span>{{col}}: {{ row[col] }}</span>
              </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="box-1">
        <table>
          <tbody>
            <tr
                v-for="(row, index) in list2"
                :key="`${row.name}_${index}`"
                class="ishover"
                :class="{'active': row.SELECT }"
                @click.exact="setectEvent(row, index, 2)"
                @click.shift.exact="shiftSetectEvent(row, index, 2)"
                @click.ctrl.exact="ctrlSetectEvent(row, index, 2)"
                @click.meta.exact="ctrlSetectEvent(row, index, 2)"
              >
              <td
              v-for="(col, idx) in list2Cols"
              :key="idx">
                <span>{{col}}: {{ row[col] }}</span>
              </td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="box-2">
        <draggable
        class="list-group"
        :list="list3"
        group="people">
          <div
            class="list-group-item"
            v-for="(element, index) in list3"
            :key="`${element.name}-${index}`"
          >
            {{ element.name }} {{ element.id }}
          </div>
        </draggable>
      </div>
      <div class="box-3">
      <draggable
      class="list-group"
      :list="list4"
      group="people">
        <div
          class="list-group-item"
          v-for="(element, index) in list4"
          :key="`${element.name}-${index}`"
        >
          {{ element.name }} {{ element.id }}
        </div>
      </draggable>
    </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
//
export default {
  name: 'DemoItem5of1',
  props: [],
  components: {
    draggable
  },
  data () {
    //
    return {
      list1SelectFirst: null,
      list1SelectSecond: null,
      list2SelectFirst: null,
      list2SelectSecond: null,
      list1: [
        { name: "John", id: 1, SELECT: false },
        { name: "Joao", id: 2, SELECT: false },
        { name: "Jean", id: 3, SELECT: false },
        { name: "Gerard", id: 4, SELECT: false },
        { name: "Juan", id: 5, SELECT: false },
        { name: "Edgard", id: 6, SELECT: false },
        { name: "Johnson", id: 7, SELECT: false }
      ],
      list1Cols: ['name', 'id'],
      list2: [
        { name: "John", id: 1, SELECT: false },
        { name: "Joao", id: 2, SELECT: false },
        { name: "Jean", id: 3, SELECT: false },
        { name: "Gerard", id: 4, SELECT: false },
        { name: "Juan", id: 5, SELECT: false },
        { name: "Edgard", id: 6, SELECT: false },
        { name: "Johnson", id: 7, SELECT: false }
      ],
      list2Cols: ['name', 'id'],
      list3: [
        { name: "John", id: 1 },
        { name: "Joao", id: 2 },
        { name: "Jean", id: 3 },
        { name: "Gerard", id: 4 },
        { name: "Juan", id: 5 },
        { name: "Edgard", id: 6 },
        { name: "Johnson", id: 7 }
      ],
      list4: [],
      isSelectList: []
    }
  },
  watch: {
    isSelectList: {
      handler: function (data) {
        //
        // console.log(data)
      },
      deep: true
    },
    list3: {
      handler: function (data) {
        //
        // console.log(data)
      },
      deep: true
    },
    list4: {
      handler: function (data) {
        //
        // console.log(data)
      },
      deep: true
    }
  },
  methods: {
    getClasses (item, selectedItems) {
      console.log(item)
      console.log(selectedItems)
      let isSelectList = []
      selectedItems.forEach((item) => {
        isSelectList.push(item.dataset.item)
      })
      this.isSelectList = isSelectList
      const isActive = selectedItems.find(selectedItem => {
        // if (parseInt(selectedItem.dataset.item, 10) === item) {
        //   this.isSelectList.push(item)
        //   return parseInt(selectedItem.dataset.item, 10) === item
        // }
        return parseInt(selectedItem.dataset.item, 10) === item
      })

      return {
        // rowTem: true,
        active: isActive
      }
    },
    // add: function() {
    //   this.list.push({ name: 'Juan' })
    // },
    // replace: function() {
    //   this.list = [{ name: 'Edgard' }]
    // },
    // clone: function(el) {
    //   return {
    //     name: el.name + ' cloned'
    //   };
    // },
    log: function(evt) {
      window.console.log(evt)
    },
    setectEvent(row, index, type) {
      // console.log('setect')
      // console.log(row)
      // console.log(index)
      let list = null
      let elseList = null
      switch (type) {
        case 1:
          list = 'list1'
          elseList = 'list2'
          break
        case 2:
          list = 'list2'
          elseList = 'list1'
          break
      }
      //
      let listLength = this[list].length
      for (let i = 0; i <listLength; i++) {
        this[list][i].SELECT = false
      }
      this[list][index].SELECT = !this[list][index].SELECT
      this[`${list}SelectFirst`] = index
      this[`${list}SelectSecond`] = null
      this[`${elseList}SelectFirst`] = null
      this[`${elseList}SelectSecond`] = null
    },
    shiftSetectEvent: function(row, index, type) {
      // console.log('shift')
      // console.log(row)
      // console.log(index)
      let selectFirst = null
      let selectSecond = null
      let list = null
      let listLength = null
      switch (type) {
        case 1:
          selectFirst = this.list1SelectFirst
          selectSecond = this.list1SelectSecond
          list = 'list1'
          listLength = this.list1.length
          this.list2SelectFirst = null
          this.list2SelectSecond = null
          break
        case 2:
          selectFirst = this.list2SelectFirst
          selectSecond = this.list2SelectSecond
          list = 'list2'
          listLength = this.list2.length
          this.list1SelectFirst = null
          this.list1SelectSecond = null
          break
      }
      // console.log(this[list])
      //
      if ((selectFirst && !selectSecond && selectSecond !== 0) || (selectFirst < selectSecond && selectSecond < index && selectFirst < index) || (selectFirst > selectSecond && selectSecond > index && selectFirst > index)) {
        let num = index - selectFirst
        console.log(num)
        if (num > 0) {
          for (let i = selectFirst; i <=index; i++) {
            this[list][i].SELECT = true
          }
        } else {
          for (let i = index; i <selectFirst; i++) {
            this[list][i].SELECT = true
          }
        }
      } else if (selectFirst < selectSecond && selectSecond > index && selectFirst < index) {
        for (let i = selectFirst; i <index; i++) {
          this[list][i].SELECT = true
        }
        for (let i = index; i <=selectSecond; i++) {
          this[list][i].SELECT = false
        }
      } else if (selectFirst > selectSecond && selectSecond < index && selectFirst > index) {
        for (let i = index; i <selectFirst; i++) {
          this[list][i].SELECT = true
        }
        for (let i = selectSecond; i <index; i++) {
          this[list][i].SELECT = false
        }
      } else if (selectFirst > selectSecond && selectSecond < index && selectFirst < index) {
        for (let i = selectFirst; i <=index; i++) {
          this[list][i].SELECT = true
        }
        for (let i = selectSecond; i <selectFirst; i++) {
          this[list][i].SELECT = false
        }
      } else if (selectFirst < selectSecond && selectSecond > index && selectFirst > index) {
        for (let i = index; i <selectFirst; i++) {
          this[list][i].SELECT = true
        }
        for (let i = selectFirst; i <=selectSecond; i++) {
          this[list][i].SELECT = false
        }
      } else if (!selectFirst && !selectSecond) {
        for (let i = 0; i <(index + 1); i++) {
          this[list][i].SELECT = true
        }
      }
      //
      switch (type) {
        case 1:
          if (!selectFirst) {
            this.list1SelectFirst = 0
            this.list1SelectSecond = index
          } else {
            this.list1SelectSecond = index
          }
          break
        case 2:
          if (!selectFirst) {
            this.list2SelectFirst = 0
            this.list2SelectSecond = index
          } else {
            this.list2SelectSecond = index
          }
          break
      }
    },
    ctrlSetectEvent: function(row, index, type) {
      // console.log('ctrl')
      // console.log(row)
      // console.log(index)
      let list = null
      let elseList = null
      switch (type) {
        case 1:
          list = 'list1'
          elseList = 'list2'
          break
        case 2:
          list = 'list2'
          elseList = 'list1'
          break
      }
      this[list][index].SELECT = !this[list][index].SELECT
      this[`${list}SelectFirst`] = index
      this[`${list}SelectSecond`] = null
      this[`${elseList}SelectFirst`] = null
      this[`${elseList}SelectSecond`] = null
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  overflow: auto;
}
.item {
  padding: 16px;
}
.active {
  background-color: #c8ebfb;
}
.ishover {
  cursor: pointer;
}
.box-1, .box-2, .box-3 {
  border: 1px solid;
  min-height: 300px;
  width: 300px;
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
</style>
