<template>
  <div class="win-content">
    <h2>Demo item 4</h2>
    <!-- SELECT -->
    <h2>Floating label : Secelt</h2>
    <FloatLabelBox
    :config="{hasContent: (selectValue && selectValue!==''), label: `label`, hasClearButton: true, type: `Select`, settings: {width: 200, height: 42}}"
    :selectList="selectList"
    :code="`selectValue`"
    :defaultValue="selectValue"
    @changeModelEvent="selectChangeEvent">
    </FloatLabelBox>

    <!-- INPUT -->
    <h2>Floating label : Input / text</h2>
    <FloatLabelBox
    :config="{hasContent: (inputTxtValue && inputTxtValue!==''), label: `label`, hasClearButton: true, type: `InputText`, settings: {width: 200, height: 42}}"
    :code="`inputTxtValue`"
    :defaultValue="inputTxtValue"
    @changeModelEvent="inputTxtChangeEvent">
    </FloatLabelBox>

    <h2>Floating label : Input / password</h2>
    <FloatLabelBox
    :config="{hasContent: (inputPwdValue && inputPwdValue!==''), label: `label`, hasClearButton: true, type: `InputPassword`, settings: {width: 200, height: 42}}"
    :code="`inputPwdValue`"
    :defaultValue="inputPwdValue"
    @changeModelEvent="inputPwdChangeEvent">
    </FloatLabelBox>

    <h2>Floating label : Textarea</h2>
    <FloatLabelBox
    :config="{hasContent: (textareaValue && textareaValue!==''), label: `label`, type: `Textarea`, settings: {width: 500}}"
    :code="`textareaValue`"
    :defaultValue="textareaValue"
    @changeModelEvent="textareaValueChangeEvent">
    </FloatLabelBox>

    <!-- INPUT Number -->
    <h2>Floating label : Input Number</h2>
    <FloatLabelBox
    :config="{hasContent: Number.isInteger(inputNumValue), label: `label`, hasClearButton: true, type: `InputNumber`, settings: {width: 200, height: 42}}"
    :code="`inputNumValue`"
    :defaultValue="inputNumValue"
    @changeModelEvent="inputNumChangeEvent">
    </FloatLabelBox>

    <!-- DatePicker -->
    <h2>Floating label : DatePicker</h2>
    <FloatLabelBox
    :config="{hasContent: (datePickerValue && datePickerValue!==''), label: `label`, hasClearButton: true, type: `DatePicker`, settings: {width: 200, height: 42}}"
    :code="`datePickerValue`"
    :defaultValue="datePickerValue"
    @changeModelEvent="datePickerChangeEvent">
    </FloatLabelBox>

    <!-- DatePicker / Daterange -->
    <h2>Floating label : DatePicker / Daterange</h2>
    <FloatLabelBox
    :config="{hasContent: (daterangePickerValue && daterangePickerValue!==''), label: `label`, hasClearButton: true, type: `DaterangePicker`, settings: {width: 200, height: 42}}"
    :code="`daterangePickerValue`"
    :defaultValue="daterangePickerValue"
    @changeModelEvent="daterangePickerChangeEvent">
    </FloatLabelBox>

    <!-- TimePicker -->
    <h2>Floating label : TimePicker</h2>
    <FloatLabelBox
    :config="{hasContent: (timePickerValue && timePickerValue!==''), label: `label`, hasClearButton: true, type: `TimePicker`, settings: {width: 200, height: 42}}"
    :code="`timePickerValue`"
    :defaultValue="timePickerValue"
    @changeModelEvent="timePickerChangeEvent">
    </FloatLabelBox>
  </div>
</template>

<script>
import FloatLabelBox from '@/components/FloatLabelBox/FloatLabelBox'
//
export default {
  name: 'DemoItem4',
  props: [],
  components: {
    FloatLabelBox
  },
  data () {
    //
    return {
      selectValue: null,
      selectList: [
        {
          value: 'New York',
          label: 'New York'
        },
        {
          value: 'London',
          label: 'London'
        }
      ],
      inputTxtValue: null,
      inputPwdValue: null,
      textareaValue: null,
      inputNumValue: null,
      datePickerValue: null,
      daterangePickerValue: null,
      timePickerValue: null
    }
  },
  watch: {},
  methods: {
    // Floating label : Secelt
    selectChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    // Floating label : Input
    inputTxtChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    inputPwdChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    textareaValueChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    inputNumChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    datePickerChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    },
    daterangePickerChangeEvent: function (data) {
      // console.log(data)
      if (data.val[0] === '' && data.val[1] === '') {
        this[data.code] = null
      } else {
        this[data.code] = data.val
      }
    },
    timePickerChangeEvent: function (data) {
      // console.log(data)
      this[data.code] = data.val
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  overflow: auto;
}
</style>
