<template>
  <div>
    <h2>Autocomplete + 放大鏡</h2>
    <InputSearchAC
    :optItems="{blur: true}"
    :valStr="code"
    :dataList="codeData"
    :editToggle="editToggle"
    :readonly="false"
    :modalTitle="`Title`"
    :warning="false"
    v-on:blurEvent="blurEvent"
    v-on:changeEvent="changeEvent"><div>內容 …</div></InputSearchAC>
    <br/>
    <br/>
    <h2>Material Floating Label</h2>
    <FloatingLabel
    :config="{hasContent: (username && username !== ''), label: `用戶名稱 *`, height: '42', line: false, labelOffset: {top: 5, left: 0}, hasClearButton: false}"
    :key="`username`">
        <input type="text" v-model="username" @blur="usernameOnBlur">
    </FloatingLabel>
  </div>
</template>

<script>
import InputSearchAC from '@/components/autocomplete/InputSearchAC'
import FloatingLabel from '@/components/FloatingLabel/FloatingLabel'
//
export default {
  name: 'DemoItem2',
  props: [],
  components: {
    InputSearchAC,
    FloatingLabel
  },
  data () {
    //
    return {
      /* Autocomplete + 放大鏡 */
      code: '',
      codeData: ['aa', 'bb', 'cc'],
      /* Material Floating Label : username */
      username: '',
      /* 編輯開關 */
      editToggle: true
    }
  },
  watch: {},
  methods: {
    /* Autocomplete + 放大鏡 */
    changeEvent: function (data) {
      // console.log('change :', data)
      this.code = data.value
    },
    blurEvent: function (event) {
      //
      // console.log('blur :', this.code)
    },
    /* Material Floating Label : username */
    usernameOnBlur: function (event) {
      //
      // console.log('blur :', this.username)
    }
  },
  created () {
    //
  },
  mounted () {
    //
  },
  updated () {
    //
  },
  destroyed () {
    //
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss" scoped>
.win-content {
  width: 100%;
  height: calc(100% - 4px);
  overflow: auto;
}
</style>
